
/***************Color Codes***************/
.list-credaxis-legend-red {
    position: absolute;
    left: 100px;
    height: 15px;
    width: 15px;
    /*top: 81px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Danger.png);*/
    background: #d9534f;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-red1 {
    position: absolute;
    left: 95px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}


.list-credaxis-legend-white {
    position: absolute;
    left: -70px;
    height: 15px;
    width: 15px;
    /*top: 107px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Warning.png);*/
    background: #f0ad4e;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-white1 {
    position: absolute;
    left: -75px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}


.list-credaxis-legend-green {
    position: absolute;
    left: -240px;
    height: 15px;
    width: 15px;
    /*top: 29px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Success.png);*/
    background: #5cb85c;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-green1 {
    position: absolute;
    left: -245px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}

.code-red, .code-white, .code-green {
    margin-left: 24px;
    min-width: 140px;
    margin-top: -4px;
}

.switch {
    position: relative;
    height: 28px;
    width: 255px;
    margin: 5px auto;
    background: rgba(68, 105, 166, 0.22);
    /* border-radius: 2px; */
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.switch-label {
    font-weight: bold;
    position: relative;
    z-index: 2;
    float: left;
    width: 85px;
    line-height: 32px;
    font-size: 12px;
    color: #676a6c;
    text-align: center;
    cursor: pointer;
}

.switch-input {
    display: none;
}

    .switch-input:checked + .switch-label {
        color: #FFF;
        transition: 0.15s ease-out;
        transition-property: color, text-shadow;
    }

    .switch-input:checked + .switch-label-y ~ .switch-selector {
        transform: translateX(0%);
        background-color: rgba(32, 55, 100, 0.94);
    }

    .switch-input:checked + .switch-label-i ~ .switch-selector {
        transform: translateX(100%);
        background-color: rgba(32, 55, 100, 0.94);
    }

    .switch-input:checked + .switch-label-n ~ .switch-selector {
        transform: translateX(200%);
        background-color: rgba(32, 55, 100, 0.94);
    }

.switch-selector {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: block;
    width: 85px;
    height: 27px;
    border-radius: 6px;
    background-color: #1ab394;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.tabCSS {
    border-bottom: 1px solid rgb(68, 105, 166);
    width: 192% !important;
    position: relative;
}

.ParentSwitch {
    margin-left: -2%;
}

.pointing-caret-pv {
    display: none;
    position: absolute;
    left: 38%;
    top: 14px;
    border: solid rgba(255, 255, 255, 0);
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    transition: ease-in 0.3s;
}

.queueTabs .active .pointing-caret-pv {
    display: inline;
}

.ParentSearchResultSummary {
    width: 198%;
}

.searchResultSummary {
    margin-left: 65%;
}

.select-page {
    width: 50px;
    text-align: center;
}

.redtd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Content/Images/Strips/redStrip.png');
    background-repeat: no-repeat;
    /*background-size: contain;*/
    min-width: 15px;
    background-size: 15px 100%;
    /*background-position: left;*/
}

.whitetd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Content/Images/Strips/silverStrip.png');
    background-repeat: no-repeat;
    /*background-size: contain;*/
    min-width: 15px;
    background-size: 15px 100%;
    /*background-position: left;*/
}

.greentd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Content/Images/Strips/greenStrip.png');
    background-repeat: no-repeat;
    /*background-size: contain;*/
    min-width: 15px;
    background-size: 15px 100%;
    /*background-attachment: fixed;*/
    /*background-position: left;*/
}

.theadColor {
    color: white;
    background-color: rgba(66, 123, 225, 0.78);
}

.width_1 {
    width: 1%;
}
