
<div class="col-lg-12  form-style">
    <div>
        <fieldset>
            <legend>
                LOB Details
            </legend>
            <div class="col-lg-12 zero-padding-right-right-div">
                <fieldset>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small" for="LOBName">LOB Name:</label>
                        <div>
                            <i class="data-label  wrap-words">{{plob.LOB.LOBName || 'Not available' }}</i>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small" for="LOBName">LOB Re-Credentialing Duration:</label>
                        <div>
                            <i ng-show="plob.ReCredentialingDuration != null" class="data-label  wrap-words">{{plob.ReCredentialingDuration || 'Not available' }} Years</i>
                            <i ng-show="plob.ReCredentialingDuration == null" class="data-label  wrap-words">Not available</i>
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div>
        @Html.Partial("_ViewSubplan")
    </div>
    <div>
        @Html.Partial("_ViewLobContactDetail")
    </div>
    <div>
        @Html.Partial("_ViewLobAddressDetail")
    </div>
    <br />
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" class="btn btn-sm btn-warning" ng-click="CancelLOBView()">Cancel</button>
        </div>
    </div>

</div>
