

/*-----------------------------custom------------------------------*/

.active-status-div {
    box-shadow: 1px 2px 8px 0px;
    transform: scale(1.15);
    transition: all linear 0.2s;
    position: relative;
    /*border: 1px solid #20709f !important;*/
}

    .active-status-div .status-header {
        /*background-image: linear-gradient( to right, #467c9c, #20709f ) !important;*/
    }

    .active-status-div .status-body span {
        /*color: #20709f !important;*/
    }

    .active-status-div .status-body:after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    
    border-left: 10px solid transparent;
    }

    .active-status-div:before {
        position: absolute;
        content: "\f0a7";
        font-family: FontAwesome;
        top: -30px;
        left: 50%;
        font-size: 23px;
        color: #20709f;
        -webkit-animation: active-hand 0.5s forwards 15 linear; 
        animation: active-hand 0.5s forwards 15 linear;
    }


@-webkit-keyframes active-hand {
    from {
        top: -28px;
    }

    to {
        top: -32px;
    }
}

/* Standard syntax */
@keyframes active-hand {
    from {
        top: -28px;
    }

    to {
        top: -32px;
    }
}



.inactive-status-div {
    transform: scale(0.9);
    opacity: 0.8;
}





.status-div {
    position: relative;
    min-width: 130%;
    cursor: pointer;
    /*padding: 2px;*/
}

.status-body {
    padding: 6px 2px;
}


.status-div .status-header .status-count span {
    font-size: 10px;
}

.status-div .status-header .status-count {
    float: left;
    padding: 3px;
    width: 30%;
    font-size: 10px;
}

.status-div .status-header .status-text span {
    font-size: 10px;
    font-weight: bold;
}

.status-div .status-body .status-count {
    text-align: right;
    font-weight: bold;
    float: left;
    width: 50%;
}

.status-div .status-body .status-amt {
    text-align: left;
    font-weight: bold;
    /*font-size: 15px;*/
    float: left;
    width: 50%;
}

.status-div > .status-body:after {
    border-top: 10px solid #ffffff;
} 

/*-------------------danger------------------------*/




.danger-status-div {
    /*border-radius: 3px;*/
    border: 1px solid #ff5d5d;
    background: #ffffff;
    position: relative;
    text-transform: uppercase;
    /*background-image: linear-gradient( to right, #d8584d, #fb6659 );*/
}

    .danger-status-div .status-header {
        /*background-image: linear-gradient( to right, #fb6659, #d8584d );*/
        padding: 0px 2px;
        border-top: 1px solid #ff5d5d;
        background: #ff5d5d;
    }


/*.danger-status-div .status-header .status-text span:before {
            font-family: 'FontAwesome';
            color: #ffffff;
            top: -17px;
            content: "\f057";
            font-size: 11px;
            margin-right: 3px;
        }*/
/*.danger-status-div:after {
            position: absolute;
            font-family: 'FontAwesome';
            color: #b53025;
            top: 0;
            left: 70px;
            content: "\f005";
            font-size: 30px;
        }*/
.danger-status-div-upper:after {
    position: absolute;
    bottom: -5px;
    left: 31px;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff5d5d;
}


.danger-status-div-lower:after {
    position: absolute;
    content: '';
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff5d5d;
    transform: rotate(90deg);
}


.badge-danger {
    background: #cc493e;
}

.danger-text {
    color: #ff5d5d;
}

.danger-status-div .status-header .status-text span {
    color: #ffffff;
}
/*-----------------------success-------------------*/

/*.success-status-div > .status-body:after {
    border-top: 10px solid #12b595;
}*/ 

.success-status-div {
    /*border-radius: 4px;*/
    border: 1px solid #12b595;
    background: #ffffff;
    /*background-image: linear-gradient( to right, #57a357, #56bd56 );*/
    position: relative;
    text-transform: uppercase;
}

    /*.success-status-div:before {
            font-family: FontAwesome;
            position: absolute;
            content: "\f087";
        }*/

    /*.success-status-div .status-header .status-text span:before {
        font-family: 'FontAwesome';
        color: #ffffff;
        top: -17px;
        content: "\f058";
        font-size: 11px;
        margin-right: 3px;
    }*/


    .success-status-div .status-header {
        /*background-image: linear-gradient( to right, #56bd56, #57a357 );*/
        background: #12b595;
        padding: 0px 2px;
        border-top: 1px solid #12b595;
    }
    .success-status-div .status-header:before {
    content: "";
    width: 100%;
    height: 6px;
    top: 0px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }
    .danger-status-div .status-header:before {
    content: "";
    width: 100%;
    height: 6px;
    top: 0px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }
    .warning-status-div .status-header:before {
    content: "";
    width: 100%;
    height: 6px;
    top: 0px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

.success-status-div-upper:after {
    position: absolute;
    bottom: -5px;
    left: 31px;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #12b595;
}

.success-status-div-lower:after {
    position: absolute;
    content: '';
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #12b595;
    transform: rotate(90deg);
}

.badge-success {
    background: #57a357;
}

.success-text {
    color: #16a085;
}

.success-status-div .status-header .status-text span {
    color: #ffffff;
}
/*-----------------------warning-------------------*/

/*.warning-status-div > .status-body:after {
    border-top: 10px solid #e1971d;
}*/ 


.warning-status-div {
    /*border-radius: 4px;*/
    border: 1px solid #e1971d;
    background: #ffffff;
    /*background-image: linear-gradient( to right, #e1971d, #e7a73d );*/
    text-transform: uppercase;
}


    .warning-status-div .status-header {
        /*background-image: linear-gradient( to right, #e7a73d, #e1971d );*/
        padding: 0px 2px;
        border-top: solid #e2982d 1px;
        background: #efa131;
    }

/*.warning-status-div .status-header .status-text span:before {
            font-family: 'FontAwesome';
            color: #ffffff;
            top: -17px;
            content: "\f05a";
            font-size: 11px;
            margin-right: 3px;
        }*/

.warning-status-div-upper:after {
    position: absolute;
    bottom: -5px;
    left: 31px;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #e1971d;
}

.warning-status-div-lower:after {
    position: absolute;
    content: '';
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #e1971d;
    transform: rotate(90deg);
}

.badge-warning {
    background: #e1971d;
}

.warning-text {
    color: #e1971d;
}

.warning-status-div .status-header .status-text span {
    color: #ffffff;
}

.selected-status {
    color: #ffffff;
    background: #45a3da;
    padding: 5px;
    position: relative;
    pointer-events: none;
    font-weight: 700;
}


    .selected-status:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 31px solid #45a3da;
        left: -31px;
        top: 0px;
    }

    .selected-status:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 24px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 31px solid #45a3da;
        right: -31px;
        top: 0px;

    }

.straight-line {
    background: #45a3da;
    content: '';
    height: 2px;
    margin-top: -6px;
    margin-bottom: 4px;
    margin-left:8px;
}



.active-row {
    background: #448eb9 !important;
    color: #ffffff;
}




.primary-color {
    background-color: #20709f;
}

.danger-color {
    background-color: #e04d41;
}

.success-color {
    background-color: #5cb85c;
}

.default-color {
    background-color: #c7c7c7;
}

.warning-color {
    background-color: #e1971d;
}

.transparent-color {
    background-color: transparent;
}


.navigation-btn a {
    margin: 5px;
    color: #333;
    text-decoration: underline;
    font-weight: bold;
}

    .navigation-btn a:hover {
        color: #3c8dbc;
    }

.progress-bar-container {
    padding: 2px;
}

.status-point {
    float: left;
    width: 14%;
}

.left-line {
    content: '';
    float: left;
    height: 2px;
    width: 46%;
    margin-top: 7px;
}

.circular-point {
    content: '';
    float: left;
    width: 8%;
    height: 15px;
    border-radius: 50%;
}

.right-line {
    content: '';
    float: left;
    height: 2px;
    width: 46%;
    margin-top: 7px;
}

.text-down {
    border: 1px solid #b5b5b5;
    padding: 5px;
    margin: 5px 2px 2px 2px;
}

    .text-down span {
        position: relative;
        display: block;
    }

    .text-down:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #626262;
        position: absolute;
        margin-top: -10px;
        margin-left: 5.6%;
    }



.text-up {
    text-align: center;
    font-weight: 700;
}






.tracking-container {
    padding: 5px;
}

/*.circle {
        stroke-width: 8;
    }*/

.connecting-circle {
    fill: #FBBD19;
}


.primary-circle {
    fill: #20709f;
    stroke-width: 30;
}

.danger-circle {
    fill: #ff5d5d;
    stroke-width: 30;
}

.success-circle {
    fill: #12b595;
    stroke-width: 30;
}

.default-circle {
    fill: #c7c7c7;
    stroke-width: 30;
}

.warning-circle {
    fill: #efa131;
    stroke-width: 30;
}

/*--------------line-------------*/
.primary-line {
    stroke: #20709f;
    stroke-width: 2;
}

.danger-line {
    stroke: #ff5d5d;
    stroke-width: 2;
}

.success-line {
    stroke: #12b595;
    stroke-width: 2;
}

.default-line {
    stroke: #c7c7c7;
    stroke-width: 2;
}

.warning-line {
    stroke: #efa131;
    stroke-width: 2;
}


/*.complete-line {
        stroke: #FBE8AA;
        stroke-width: 2;
    }

    .incomplete-line {
        stroke: #F5A29B;
        stroke-width: 2;
    }*/

.status-text {
    fill: #083346;
    font-size: 11px;
    /*text-align: right;*/
    /*font-weight: 700;*/
}

.count-text {
    fill: #2F2B26;
    font-size: 11px;
    font-weight: 700;
}


.tracking-container .circle {
    r: 5;
}



/*.tracking-container .circle:hover {
        cursor: pointer;
        r: 8;
        transition: all linear 0.2s;
    }*/



/*.selected-container {
        stroke-width: 7px;
        r: 13;
        stroke: #5CB85C;
        fill: #1D501D;
    }*/

.connecting-line {
    stroke: #20709f;
    stroke-width: 2;
}

.border-line {
    stroke: #a5a5a5;
    stroke-width: 0.5;
}

.display-title {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    margin-top: -10px;
}

.circle {
    r: 7;
}


 .gateway-container {
        fill: rgba(25, 171, 207, 0.4);
    }

    .clearinghouse-container {
        fill: rgba(239, 161, 49, 0.38);
    }

    .payer-container {
        fill: rgba(22, 160, 133, 0.3);
    }

    .container-text {
        font-size: 17px;
        letter-spacing: 0.05em;
    }

   .tile {
        color: #ffffff;
    }

        .tile .tile-heading {
            letter-spacing: 0.1em;
            padding: 6px 10px;
            border-top-right-radius: 1px;
            border-top-left-radius: 1px;
            text-transform: uppercase;
            text-align: center;
            font-size: 11px;
        }

        .tile .tile-body {
            padding: 10px;
            font-weight: 500;
            font-size: 13px;
            border-bottom-right-radius: 1px;
            border-bottom-left-radius: 1px;
        }


            .tile .tile-body i {
                font-size: 27px;
            }

    .info-tile .tile-heading {
        background: #4fc7e5;
    }

    .info-tile .tile-heading:before {
    content: "";
    width: 260px;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
} 
    
    .warning-tile .tile-heading:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

    .success-tile .tile-heading:before {
    content: "";
    width: 260px;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

     .default-tile .tile-heading:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

     .danger-tile .tile-heading:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

    .info-tile .tile-body {
        background: #1fafd3;
    }

    .warning-tile .tile-heading {
        background: #f2b257;
    }

    .warning-tile .tile-body {
        background: #efa131;
    }

    .success-tile .tile-heading {
        background: #1bc4a3;
    }

    .success-tile .tile-body {
        background: #16a085;
    }

    .default-tile .tile-heading {
        background: #62666f;
    }

    .default-tile .tile-body {
        background: #4f5259;
    }
    .danger-tile .tile-heading {
        background: #ca3c2d;
    }

    .danger-tile .tile-body {
        background: #c0392b;
    }
    /*------------------*/
     .editrackingtable{
        display:none;
    }
    .editrackingtableActive{
        display:table;
    }
    #Glossy:after{
    content: "";
    width: 100%;
    height: 7px;
    top: -3px;
    display: block;x
    position: absolute;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
  
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }



    .tile_container .info-tile .tile-heading:before {
            content: "";
    width: 100%;
    height: 9px;
    top: 121px;
    display: block;
    position: absolute;
    left: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
} 


    /*-----Filter---------------*/
.search-dropdown-input {
    height: 24px;
    padding: 2px;
}

.dropdown-symbol {
    position: absolute;
    top: 29px;
    right: 19px;
}


.financial_year_dropdown {
    font-size: 14px;
}

/*---search heading--*/
.searchheading{
    margin-left: 20px;
    font-size: 13px;
}
