<br />
<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true" ng-controller="educationController">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="under_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#under" aria-expanded="true" aria-controls="under">
                Under Graduation Details
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>
        </div>
        <div id="under" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="form-style">
                <fieldset>
                    <legend>
                        School Details
                    </legend>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">School Name *</label>
                            <div>
                                <select id="schoolName" class="form-control input-sm">
                                    <option></option>
                                    <option value="School 1">Whiteney School</option>
                                    <option value="School 2">Arizona College Of Osteopathic Medicine</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">Degree awarded *</label>
                            <div>
                                <select class="col-md-12" style="padding:0" id="selectDegree" required>
                                    <option></option>
                                    <option>Master Degree</option>
                                    <option>Associate Degree</option>
                              
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <label for="Fax" class="control-label small">Email</label>
                            <input type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group col-md-4">

                            <label for="Fax" class="control-label small">Fax</label>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="Fax" class="form-control input-sm" id="Fax" placeholder="Fax Number" required>
                                </div>

                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Telephone Number  *</label>
                            <div>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Start Date *</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">End Date *</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select Under Graduation Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        Address
                    </legend>
                    <div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Number *</label>
                                <div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Building *</label>
                                <div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Street *</label>
                                <div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Country *</label>
                                <div>
                                    <select id="selectNameTitle" name="countryName" class="form-control input-sm" required>
                                        <option selected disabled hidden>Select Country</option>
                                        <option>USA</option>
                                        <option>India</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">State *</label>
                                <div>
                                    <select id="selectNameTitle" name="stateName" class="form-control input-sm" required>
                                        <option selected disabled hidden>Select State</option>
                                        <option>Florida</option>
                                        <option>New York</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">City *</label>
                                <div>
                                    <select class="form-control input-sm" required>
                                        <option></option>
                                        <option>Spring Hill</option>
                                        <option>Largo</option>
                                        <option>Lakeland</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label class="control-label small">Zip code *</label>
                                <div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label small">Did you complete your UG education at this school? *</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="ug" checked="checked"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ug"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    <div class="clearfix"></div>
                </fieldset>
                <div class="col-md-12 panel-footer">
                    <div class="col-md-12">
                        @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
                        <button class="btn btn-success pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grad_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#grad" aria-expanded="false" aria-controls="grad">
                Graduation Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="grad" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="form-style">
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table class="table table-bordered table-condensed customtbodyStyle">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="g in Graduations">
                            <tr>
                                <td>{{g.School.SchoolName}}</td>
                                <td>{{g.School.StartDate}}</td>
                                <td>{{g.School.EndDate}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" ng-click="editGraduation($index,g)"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="showingDetails && g==Graduation">
                                <td colspan="4" id="graduationEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="graduationForm" style="display:none;">
                    <div class=" col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-12 form-group">
                            <label class="control-label small">Graduate Type *</label>
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="GraduationType" value="USG" checked="checked" required> U.S. Graduate
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="GraduationType" value="NUSG" required> Non U.S. Graduate
                            </label>
                        </div>

                        <fieldset>
                            <legend>
                                School Details
                            </legend>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">School Code(if U.S) </label>
                                <input type="text" ng-model="Graduation.SchoolName" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">School Name *</label>
                                <input type="text" ng-model="Graduation.School.SchoolName" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Degree awarded *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Fax</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="Fax" class="form-control input-sm" id="Fax" placeholder="Fax Number" required>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="MobileNo" class="control-label small">Telephone Number  *</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Start Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">End Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">Graduation Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                Address
                            </legend>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Number *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Suite/Building *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Street *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Country *</label>
                                <select id="selectNameTitle" name="countryName" class="form-control input-sm" required>
                                    <option selected disabled hidden>Select Country</option>
                                    <option>USA</option>
                                    <option>India</option>
                                </select>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">State *</label>
                                <div>
                                    <select id="selectNameTitle" name="stateName" class="form-control input-sm" required>
                                        <option selected disabled hidden>Select State</option>
                                        <option>Florida</option>
                                        <option>New York</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">City *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Zip code *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>
                                ECFMG Details
                            </legend>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">ECFMG Number *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">ECFMG Issue Date *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">Select ECFMG Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-lg-12">
                            <label class="control-label small">Did you complete your graduation at this school? *</label>
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="graduate" value="Y" checked="checked" required> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="graduate" value="N" required> No
                            </label>
                        </div>

                        <div class="col-md-12 form-group">
                            <button ng-show="graduationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelGraduation('editCancel')">cancel</button>
                            <button ng-show="!graduationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelGraduation('saveCancel')">Cancel</button>
                            <button ng-show="!graduationFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveGraduation(Graduation)">Add</button>
                            <button ng-show="graduationFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveGraduation(Graduation)">Update</button>
                        </div>
                    </div>
                </div>

                <fieldset ng-show="newGraduationForm && !graduationFormStatus">
                    <legend>
                        Add Graduation
                    </legend>
                    <div id="newGraduationFormDiv">

                    </div>
                </fieldset>
            </div>
            <div ng-hide="graduationFormStatus || newGraduationForm" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="addGraduation()"><i class="fa fa-plus"></i> Add Graduation</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grad_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#residency" aria-expanded="false" aria-controls="residency">
                Residency/Internship Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="residency" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="form-style">
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table class="table table-bordered table-condensed customtbodyStyle">
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="p in Programs">
                            <tr>
                                <td>{{p.School.SchoolName}}</td>
                                <td>{{p.School.StartDate}}</td>
                                <td>{{p.School.EndDate}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" ng-click="editProgram($index,p)"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="showingDetails && p==Program">
                                <td colspan="4" id="programEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="programForm" style="display:none;">
                    <div class=" col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-12 form-group">
                            <label class="control-label small">Program Type *</label>
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="ProgramType" value="Internship" checked="checked" required> Internship
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ProgramType" value="Felloship" required> Fellowship
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="ProgramType" value="Residency" required> Residency
                            </label>
                        </div>

                        <fieldset>
                            <legend>
                                School Details
                            </legend>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">School Code(if U.S) </label>
                                <input type="text" ng-model="Program.School.SchoolName" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">School Name *</label>
                                <input type="text" ng-model="Program.School.SchoolName" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Degree awarded *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Fax</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="Fax" class="form-control input-sm" id="Fax" placeholder="Fax Number" required>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="MobileNo" class="control-label small">Telephone Number  *</label>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-sm"><span class="caret"></span></button>
                                    </div>
                                    <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title">Select Country Dial Code</h3>
                                        <div class="popover-content">
                                            <select id="ContactContryCode">
                                                <option>+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Start Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">End Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>
                                Address
                            </legend>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Number *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Suite/Building *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Street *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">Country *</label>
                                <select id="selectNameTitle" name="countryName" class="form-control input-sm" required>
                                    <option selected disabled hidden>Select Country</option>
                                    <option>USA</option>
                                    <option>India</option>
                                </select>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">State *</label>
                                <div>
                                    <select id="selectNameTitle" name="stateName" class="form-control input-sm" required>
                                        <option selected disabled hidden>Select State</option>
                                        <option>Florida</option>
                                        <option>New York</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label">City *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Zip code *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>
                                Others
                            </legend>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Department Speciality *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Director Name *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">Select Program Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-lg-6">
                            <label class="control-label small">Did you complete your training at this institution? *</label>
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="tainingInstitution" value="Y" checked="checked" required> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="tainingInstitution" value="N" required> No
                            </label>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="control-label small">If no, explain why? *</label>
                            <textarea class="form-control input-sm" required></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <button ng-show="programFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelProgram('editCancel')">cancel</button>
                            <button ng-show="!programFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelProgram('saveCancel')">Cancel</button>
                            <button ng-show="!programFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveProgram(Program)">Add</button>
                            <button ng-show="programFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateProgram(Program)">Update</button>
                        </div>
                    </div>
                </div>

                <fieldset ng-show="newProgramForm && !programFormStatus">
                    <legend>
                        Add Residency/Internship
                    </legend>
                    <div id="newProgramFormDiv">

                    </div>
                </fieldset>
            </div>
            <div ng-hide="programFormStatus || newProgramForm" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="addProgram()"><i class="fa fa-plus"></i> Add Residency/Internship</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Speciality_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#Speciality" aria-expanded="false" aria-controls="Speciality">
                Speciality Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="Speciality" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="form-style">
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table class="table table-bordered table-condensed customtbodyStyle">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Code</th>
                                <th>Board Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="s in Specialities">
                            <tr>
                                <td>{{s.Code}}</td>
                                <td>{{s.Type}}</td>
                                <td>{{s.Board.Name}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" ng-click="editSpeciality($index,s)"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="showingDetails && s==Speciality">
                                <td colspan="4" id="specialityEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="specialityForm" style="display:none;">
                    <div class=" col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-6 form-group">
                            <label class="control-label small">Speciality Type *</label>
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="speciality" value="Primary" checked="checked" required> Primary
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="speciality" value="Secondary" required> Secondary
                            </label>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label class="control-label small">Speciality Code*</label>
                            <input type="text" ng-model="Speciality.Code" class="form-control" />
                        </div>

                        <fieldset>
                            <legend>
                                Board Details
                            </legend>
                            <div class="col-lg-12 form-group">
                                <label class="control-label small">Board Certified? *</label>
                                &nbsp;&nbsp;
                                <label class="radio-inline">
                                    <input type="radio" name="isBoardCertified" value="Y" checked="checked" required> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isBoardCertified" value="N" required> No
                                </label>
                            </div>
                            @*<div ng-if="isBoardCertified=='Y'">
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">Board Code *</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">Board Name *</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">Initial Certification Date *</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">Last Re-cerification Date *</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">Expiration Date *</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                            </div>

                            <div ng-if="isBoardCertified=='N'">
                                <div class="col-lg-12 form-group">
                                    <label class="control-label small">If not board certified, select one *</label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" name="notBoardCertified" checked="checked"> I have taken exam, result pending
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="notBoardCertified"> I intend to sit for exam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="notBoardCertified"> I donot intend to take exam
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">% of time</label>
                                    <input type="number" min="0.0" max="100.00" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">Date of Exam *</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-4 form-group">
                                    <label class="control-label small">Reason for not taking exam</label>
                                    <textarea class="form-control input-sm" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">Select Speciality Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>*@
                            @* Angular implement removable field *@
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Board Code *</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Board Name *</label>
                                <input type="text" ng-model="Speciality.Board.Name" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Initial Certification Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Last Re-cerification Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Expiration Date *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="control-label small">If not board certified, select one *</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="notBoardCertified" checked="checked"> I have taken exam, result pending
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="notBoardCertified"> I intend to sit for exam
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="notBoardCertified"> I donot intend to take exam
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">% of time</label>
                                <input type="number" min="0.0" max="100.00" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Date of Exam *</label>
                                <input type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Reason for not taking exam</label>
                                <textarea class="form-control input-sm" required></textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">Select Speciality Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-md-12 form-group">
                            <button ng-show="specialityFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelSpeciality('editCancel')">cancel</button>
                            <button ng-show="!specialityFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelSpeciality('saveCancel')">Cancel</button>
                            <button ng-show="!specialityFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveSpeciality(Speciality)">Add</button>
                            <button ng-show="specialityFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateSpeciality(Speciality)">Update</button>
                        </div>
                    </div>
                </div>

                <fieldset ng-show="newSpecialityForm && !specialityFormStatus">
                    <legend>
                        Add Speciality
                    </legend>
                    <div id="newSpecialityFormDiv">

                    </div>
                </fieldset>
            </div>
            <div ng-hide="specialityFormStatus || newSpecialityForm" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="addSpeciality()"><i class="fa fa-plus"></i> Add Speciality</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="FifthPathWay_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#FifthPathWay" aria-expanded="false" aria-controls="FifthPathWay">
                Fifth Pathway Graduates Only
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="FifthPathWay" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <table class="table table-bordered table-condensed customtbodyStyle">
                <thead>
                    <tr>
                        <th>Hospital</th>
                        <th>Street</th>
                        <th>State</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="fp in FifthPaths">
                    <tr>
                        <td>{{fp.HospitalName}}</td>
                        <td>{{fp.Street}}</td>
                        <td>{{fp.State}}</td>
                        <td>{{fp.City}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary" ng-click="editFifthPath($index,fp)"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                    <tr ng-show="showingDetails && fp==FifthPath">
                        <td colspan="5" id="fifthPathEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                    </tr>
                </tbody>
            </table>

            <div id="fifthPathForm" style="display:none;">
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Institution/Hospital</label>
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Addresss</label>
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">City</label>
                        <select class="form-control input-sm">
                            <option selected disabled hidden>Select City</option>
                            <option value="City1">Brooksville</option>
                            <option value="City2">Largo</option>
                            <option value="City3">Lakeland</option>
                            <option value="City4">Spring Hill</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">State</label>
                        <select class="form-control input-sm">
                            <option value="State1">State 1</option>
                            <option value="State2">State 2</option>
                            <option value="State3">State 3</option>
                            <option value="State4">State 4</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Zip</label>
                        <input type="text" class="form-control input-sm" />
                    </div>

                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Telephone</label>
                        <input type="text" class="form-control input-sm" placeholder="mobile number">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Fax</label>
                        <input type="text" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">Did you complete your education at this school?</label>
                        &nbsp;&nbsp;
                        <label class="radio-inline">
                            <input type="radio" name="iscompleteEducation" value="Y" checked="checked" required="" autocomplete="off"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="iscompleteEducation" value="N" required="" autocomplete="off"> No
                        </label>
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Start Date</label>
                        <input class="form-control input-sm" type="date" />
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">End Date</label>
                        <input class="form-control input-sm" type="date" />
                    </div>
                    <div class="col-md-12 form-group">
                        <button ng-show="fifthPathFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelFifthPath('editCancel')">cancel</button>
                        <button ng-show="!fifthPathFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelFifthPath('saveCancel')">Cancel</button>
                        <button ng-show="!fifthPathFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveFifthPath(FifthPath)">Add</button>
                        <button ng-show="fifthPathFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateFifthPath(FifthPath)">Update</button>
                    </div>
                </div>
            </div>

            <div class="form-style">
                <fieldset ng-show="newFifthPathForm && !fifthPathFormStatus">
                    <legend>
                        Add Fifth Path
                    </legend>
                    <div id="newFifthPathFormDiv">

                    </div>
                </fieldset>
            </div>
            <div ng-hide="fifthPathFormStatus || newFifthPathForm" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="addFifthPath()"><i class="fa fa-plus"></i> Add Details</button>
            </div>
        </div>
    </div>
</div>
