<br />
<div class="panel-group" id="accordionaff" role="tablist" aria-multiselectable="true" ng-controller="professionalAppCtrl">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Affiliation">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionaff" href="#Affiliationqwe" aria-expanded="false" aria-controls="Affiliationqwe">
                Professional Affiliation
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </div>
        <div id="Affiliationqwe" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="Affiliation">
            <div class="form-style">
                <div id="commented">
                    @*<div class="col-lg-12" id="AffiliationContainer">
                        <div class="col-lg-12">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3"><strong>Organisation Name</strong></div>
                                <div class="col-lg-3"><strong>Start Date</strong></div>
                                <div class="col-lg-3"><strong>End Date</strong></div>
                                <div class="col-lg-3"><strong>Edit</strong></div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="AffiliationData">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3">American Association for Laboratory Accreditation (A2LA) </div>
                                <div class="col-lg-3">01-03-07</div>
                                <div class="col-lg-3">01-03-09</div>
                                <div class="col-lg-3">
                                    <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('AffiliationForm1', this)"><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-12" id="AffiliationForm1" style="display:none;">
                                <br />
                                <div class="form-group">

                                    <div class=" col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-12 form-group">
                                            <label class="control-label small">Organization Name</label>
                                            <input type="text" class="form-control input-sm" value="American Association for Laboratory Accreditation (A2LA)" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Start Date</label>
                                            <input type="date" class="form-control input-sm" value="2007-01-03" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">End Date</label>
                                            <input type="date" class="form-control input-sm" value="2009-01-03" />
                                        </div>
                                    </div>
                                    <div class=" col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Position Office Held</label>
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Member/Applicant</label>
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>


                                    <br />

                                    <div class="clearfix"></div>
                                    <div class="col-md-12 panel-footer">
                                        <div class="col-md-12">
                                            <button class="btn btn-success pull-right" onclick="closeChildDiv('AffiliationForm1')">Update</button>
                                            <button class="btn btn-warning" onclick="closeChildDiv('AffiliationForm1')">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3">St. Jude Medical</div>
                                <div class="col-lg-3">06-01-05</div>
                                <div class="col-lg-3">05-30-06</div>
                                <div class="col-lg-3">
                                    <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('AffiliationForm2', this)"><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-12" id="AffiliationForm2" style="display:none;">
                                <br />
                                <div class="form-group">

                                    <div class=" col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-12 form-group">
                                            <label class="control-label small">Organization Name</label>
                                            <input type="text" class="form-control input-sm" value="St. Jude Medical" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Start Date</label>
                                            <input type="date" class="form-control input-sm" value="2005-06-01" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">End Date</label>
                                            <input type="date" class="form-control input-sm" value="2006-05-30" />
                                        </div>
                                    </div>
                                    <div class=" col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Position Office Held</label>
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label class="control-label small">Member/Applicant</label>
                                            <input type="text" class="form-control input-sm" />
                                        </div>
                                    </div>

                                </div>
                                <br />

                                <div class="clearfix"></div>
                                <div class="col-md-12 panel-footer">
                                    <div class="col-md-12">
                                        <button class="btn btn-success pull-right" onclick="closeChildDiv('AffiliationForm2')">Update</button>
                                        <button class="btn btn-warning" onclick="closeChildDiv('AffiliationForm2')">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group" ng-repeat=" n in profflist">
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <i class="fa fa-times text-danger pull-right" ng-click="deleteproffess($index)"></i>
                            <div class=" col-lg-12 zero-padding-left-right-div">
                                <div class="col-lg-12 form-group">
                                    <label class="control-label small">Organization Name</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">Start Date</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">End Date</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>
                            </div>
                            <div class=" col-lg-12 zero-padding-left-right-div">
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">Position Office Held</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label small">Member/Applicant</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="col-lg-12 panel-footer">
                            <button class="btn btn-sm btn-warning pull-left">Save</button><button class="btn btn-sm btn-success pull-right">Initiate Verification</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 text-right">
                        <button class="btn btn-xs btn-primary" ng-click="professHistorys = professHistorys + 1"><i class="fa fa-plus"></i> Add Professional Affiliation Information</button>
                    </div>*@
                </div>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table class="table table-bordered table-condensed customtbodyStyle">
                        <thead>
                            <tr>
                                <th>Organization Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="pa in ProfessionalAffiliations">
                            <tr>
                                <td>{{pa.OrganizationName}}</td>
                                <td>{{pa.StartDate}}</td>
                                <td>{{pa.EndDate}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" ng-click="editProfessionalAffiliation($index,pa)"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="showingDetails && pa==professionalAffiliation">
                                <td colspan="4" id="professionalAffiliationEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <div id="professionalAffiliationForm" style="display:none;">
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class=" col-lg-12">
                            <div class="col-lg-12 form-group">
                                <label class="control-label small">Organization Name</label>
                                <input type="text" ng-model="professionalAffiliation.OrganizationName" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Start Date</label>
                                <input type="date" class="form-control input-sm" value="2007-01-03" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">End Date</label>
                                <input type="date" class="form-control input-sm" value="2009-01-03" />
                            </div>
                        </div>
                        <div class=" col-lg-12">
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Position Office Held</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="control-label small">Member/Applicant</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-12 form-group">
                            <button ng-show="professionalAffiliationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelProfessionalAffiliation('editCancel')">Cancel</button>
                            <button ng-show="!professionalAffiliationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelProfessionalAffiliation('saveCancel')">Cancel</button>
                            <button ng-show="!professionalAffiliationFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveProfessionalAffiliation(professionalAffiliation)">Add</button>
                            <button ng-show="professionalAffiliationFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateProfessionalAffiliation(professionalAffiliation)">Update</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <fieldset ng-show="newProfessionalAffiliationForm && !professionalAffiliationFormStatus">
                    <legend>
                        Add Professional Affiliation
                    </legend>
                    <div id="newProfessionalAffiliationFormDiv">

                    </div>
                </fieldset>
                <div ng-hide="professionalAffiliationFormStatus || newProfessionalAffiliationForm" class="col-md-12 text-right">
                    <button class="btn btn-xs btn-primary" ng-click="addProfessionalAffiliation()"><i class="fa fa-plus"></i> Add Professional Affiliation</button>
                </div>
            </div>
        </div>
            </div>
</div>


