<br />
<div class="panel-group" id="Timeline" role="tablist" aria-multiselectable="true">
  
    <div class="panel panel-default">        
        <div id="Timeline">
            <div class="panel-body pre-scrollable">
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/doctor.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">You</h5>
                        Submitted the Ultimate VIP SAVINGS COPD (HMO SNP) Plan Form.
                        <div class="text-muted">04-Dec-2014</div>
                    </div>                    
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/a0.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Jeanine</h5> 
                        Initiated the Ultimate VIP SAVINGS COPD (HMO SNP) Plan for You.
                        <div class="text-muted">03-Dec-2014 - Credentialing Coordinator</div>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/doctor.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">You</h5>
                        Submitted the FREEDOM VIP SAVINGS (HMO SNP) Plan Form.
                        <div class="text-muted">04-Dec-2014</div>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/a0.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Jeanine</h5>
                        Initiated the FREEDOM VIP SAVINGS (HMO SNP) Plan for You.
                        <div class="text-muted">03-Dec-2014 - Credentialing Coordinator</div>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/doctor.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">You</h5>
                        Submitted the FREEDOM SAVINGS PLAN RX (HMO) Plan Form.
                        <div class="text-muted">11-Nov-2014</div>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img data-src="holder.js/64x64" alt="64x64" src="~/Content/Images/a0.jpg" data-holder-rendered="true" style="height: 64px;">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Jeanine</h5>
                        Initiated the FREEDOM SAVINGS PLAN RX (HMO) Plan for You.
                        <div class="text-muted">09-Nov-2014 - Credentialing Coordinator</div>
                    </div>
                </div>
                
            </div>

        </div>
        <div class="text-right">
            <a href="#">View More <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>