@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IncompatibleBrowser</title>

    <link href="~/Content/AppCss/ErrorPage/IncompatibleBrowser.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td3"></td>
            </tr>
            <tr>
                <td></td>
                <td><img src="@Url.Content("~/Resources/Images/Error/browserincompatible.png")"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><h1>Your browser is not supported</h1></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><h3>To use Application, we recommend using the latest version of Mozilla Firefox, Google Chrome, Mac OS X Safari or Internet Explorer 9+.</h3></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
