<br />
<div style="margin-left:10px">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Subscriber Information<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field editSubscriberInfo"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Name:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">First Name:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Middle Initail:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Relationship to Patient:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address Line 1:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address Line 2:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">City:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Springer</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">State:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Arkansas</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">County:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Sanborn</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Country:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">US</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Zip-Code:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">45621785</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Phone:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">+355-1223234</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Subscriber ID:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">UL002</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Coverage Start Date:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">05/24/2015</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Coverage End Date:</span><span class="summary_data">
                    <span id="" class="bolding text-uppercase theme_label_data">05/24/2016</span>
                </span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">___.</span>PBP Details<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan Code:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">PBP Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Group Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Entity ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Entity Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Created By:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Created Date:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Modified By:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Last Modified Date:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">___.</span>Plan Details<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan Category:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Plan Type:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Eligibility Start:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Effective Date:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Termination Date:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Status:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Premium Amount:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Gaurantor Details<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">FIRST NAME:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">LAST NAME:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">MIDDLE INITIAL:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">RELATIONSHIP TO PATIENT:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ADDRESS LINE 1:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ADDRESS LINE 2:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CITY:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">STATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">COUNTY:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">COUNTRY:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ZIPCODE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">PHONE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">Self</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">FAX:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">EMAIL:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">___.</span>LOB Details<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">LOB NAME:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">LOB ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CREATE DATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CREATE ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ELIGIBILITY START:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">EFFECTIVE DATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">TERM DATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">TERM CODE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">TERM REASON:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">LAST UPDATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">MEMBER TYPE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">______.</span>Emergency Contact<span class="transparent-font-color">_____.</span></span>
        </legend>
        <div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CONTACT NAME:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">RELATIONSHIP TO PATIENT:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ADDRESS LINE 1:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ADDRESS LINE 2:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CITY:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">STATE:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>

            <div class="col-lg-3 text_adjust">
                <span class="theme_label">COUNTY:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">COUNTRY:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ZIPCODE:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>

            <div class="col-lg-3 text_adjust">
                <span class="theme_label">HOME PHONE:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">WORK PHONE:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CELL PHONE:</span>
                <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
            </div>
        </div>
    </fieldset>

</div>
<br /><br /><br /><br />