@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    @*<script src="~/Scripts/Lib/Angular/angular.js"></script>
    <script src="~/Scripts/Lib/Angular/angular-animate.js"></script>*@

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/SharedCss/bootstrap-duallistbox.css" rel="stylesheet" />
<link href="~/Areas/PlanPDF/Scripts/ArtificialIntelligence/abn_tree.css" rel="stylesheet" />


<script src="~/Scripts/Lib/Bootstrap/jquery.bootstrap-duallistbox.js"></script>
<script src="~/Scripts/Lib/Angular/ng-table.js"></script>

<script src="~/Areas/PlanPDF/Scripts/ArtificialIntelligence/abn_tree_directive.js"></script>
<script src="~/Areas/PlanPDF/Scripts/ArtificialIntelligence/test_page.js"></script>

<script src="~/Areas/PlanPDF/Scripts/ArtificialIntelligence/Artificial.js"></script>
<script src="~/Areas/PlanPDF/Scripts/ArtificialIntelligence/Intelligence.js"></script>
    }
<div id="page-wrapper" ng-app="AbnTest" ng-controller="AbnTestController" ng-cloak>
    <br />
    <div class="row container-fluid" style="height:400px;">
        <div class="col-lg-4">
            <fieldset>
                <legend>
                    Plan Form  
                    <a class="btn btn-xs btn-primary pull-right" ng-click="AddEditPlanForm()" data-toggle="tooltip" data-placement="top" title="Add Plan Form"><i class="fa fa-plus"></i>&nbsp;Add Plan Form</a>                 
                </legend>                
                
                <div class="panel-body" ng-show="!isPlanFormRender && !isAddEditPlanForm">
                    <ul ng-repeat="p in PlanFormList">
                        <li ng-click="DisplayPlanForm(p.PlanFormPath,p.FileName)" class="pointer">{{p.PlanFormName}}</li>
                    </ul>
                </div>
                <div class="panel-body" ng-show="isPlanFormRender">                    
                    <embed style="width:100%;height:300px;" ng-src={{planFormPath}}>                    
                    <button class="btn btn-warning pull-left" ng-click="isPlanFormRender=false" id="CancelDisplay">Cancel</button>
                </div>
                <div class="panel-body" ng-show="isAddEditPlanForm && !isPlanFormRender">
                     @Html.Partial("~/Areas/PlanPDF/Views/ArtificialIntelligence/_AddEditPlanForm.cshtml")                    
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <legend>
                    Fields Name
                </legend>
                <div ng-repeat="f in PlanFormFields.fields">
                    <a ng-click="AddFormVarToXmlFields(f)" class="pointer">{{f}}</a>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-4">
            <fieldset>
                <legend>
                    Selected Variable
                </legend>
                <div ng-if="XmlFields.fields.length>1">
                    <strong> Generic Variable  -  Plan Variable </strong>
                    <div ng-repeat="j in selectedVariables" style="color:maroon">
                        {{j.GenericVariable}}-{{j.PlanVariable}}
                        <i class="fa fa-minus-circle pointer" ng-click="RemoveMappingCombination(j)" data-toggle="tooltip" title="Remove"></i>
                    </div><br />
                    <button class="btn btn-warning pull-left" ng-click="CreateXmlDocument()" id="GenerateXML">Generate XML</button>
                </div>
            </fieldset>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <legend>
                    Profile Data
                </legend>
                <div style="width: 250px; margin-left: 0px; background: whitesmoke; border: 1px solid lightgray; border-radius: 5px; color: maroon">
                    <span ng-if="doing_async">...loading...</span>
                    <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Demographics"></abn-tree>
                </div>
                @*<div style="width:250px" class="alert alert-warning">{{ output }}</div>*@

            </fieldset>

        </div>
    </div>
    <div class="clearfix"></div><br />
    <div class="row" style="height:200px;" ng-show="isXml">
        <fieldset>
            <legend>
                    Generated XML File
                </legend>
            @*<div ng-if="XmlFields.fields.length>1">
                    <strong> Generic Variable  -  Plan Variable </strong>
                    <div ng-repeat="j in XmlFields.fields" ng-show="j.GenericVariable!='' && j.PlanVariable!=''" style="color:maroon">
                        {{j.GenericVariable}}-{{j.PlanVariable}}
                    </div>
                </div>*@
            <div>
                    @*{{XmlFields.rootStart}}<br />
                    &nbsp;&nbsp;{{XmlFields.templateStart}}<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;{{XmlFields.propertiesStart}}<br />
                <div ng-repeat="j in selectedVariables" ng-show="j.GenericVariable!='' && j.PlanVariable!=''">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{XmlFields.properties1}}{{j.GenericVariable}}{{XmlFields.properties2}}{{j.PlanVariable}}{{XmlFields.properties3}}
                </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{XmlFields.propertiesEnd}}<br />
                    &nbsp;&nbsp;{{XmlFields.templateEnd}}<br />
                    {{XmlFields.rootEnd}}<br />*@
                {{createdXml}}
            </div>
            <div class="clearfix"></div><br />
                <div class="form-group col-lg-12">
                    <button class="btn btn-warning pull-left" ng-click="Cancel()" id="CancelGenerateXML">Cancel</button>
                </div>
        </fieldset>
    </div>

    @*<div class="row" style="height:200px;" ng-show="isAddPlanForm">
        <fieldset>
            <legend>
                Add Plan Form
            </legend>
            <div>
                
            </div>
            <div class="clearfix"></div><br />
            <div class="form-group col-lg-12">
                <button class="btn btn-warning pull-left" ng-click="isAddPlanForm=false" id="CancelAddPlanForm">Cancel</button>
            </div>
        </fieldset>
    </div>*@
</div>