<div id="container" class="fr-widget fr-container fr_container">
    <div id="gallery_08" class="fr-widget fr-container fr_gallery_08">
        <div id="g08_4_column_grid" class="fr-widget fr-grid fr_g08_4_column_grid">
            <div id="g08_one" class="fr-widget fr-container fr_g08_one">
                <a href="/Dashboard">
                    <div id="g08_rounded_image_one" class="fr-widget fr-container fr_g08_rounded_image_one">

                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_one" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_one">
                    <div class="fr-text">
                        <p><a href="/Dashboard">DashBoard</a></p>
                    </div>
                </div>
            </div>
            <!--
            -->
           
            <!--
         
            -->
           
        </div>
        <!--
        -->
        <div id="g08_4_column_grid_2" class="fr-widget fr-grid fr_g08_4_column_grid_2">

            <div id="g08_one_2" class="fr-widget fr-container fr_g08_one_2">
                <a href="/Credentialing/ProfileUpdates/Index">
                    <div id="g08_rounded_image_one_2" class="fr-widget fr-container fr_g08_rounded_image_one_2">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_one_2" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_one_2">
                    <div class="fr-text">
                        <p><a href="/Credentialing/ProfileUpdates/Index">Profile Updates</a></p>
                    </div>
                </div>
            </div>
            <!--
            -->
           
            <!--

            -->
        </div>
    </div>
</div>
