

body {
}

.x_title h2 {
  margin:0px !important;
}
.x_title h2 {
    font-family: serif;
   color: rgb(18, 57, 140) !important;
    font-weight: 500 !important;
}
hr {
    margin-top: 9px !important;
   /*border-top:#9e9e9e !important;*/
}
.dropdown-menu:after {
    border-bottom: 0px !important; 
    border-left: 0px !important;
}
body {
color: black;
}
.panel_toolbox {
    float: right;
    min-width: 20px !important;
}
hr {
 border-color: rgb(146, 171, 224) !important;
}
.chevron {
    color: rgb(146, 171, 224) !important;
}

/*MASK DATA TO COME AT CENTER*/
.view p {
    
    padding-top: 20px !important;
    text-align: center !important;
}

.hidePreview {
   width:0;
   right:0;
}
.showPreview {
    width:100%;
}
/*resiable*/
#parent{
    position:absolute;
    height:100%;
    margin:0px;
    padding:0;
    width:100%;
}
#div1{
    position:relative;
    float:left;
    height:100%;
    width:50%;
    border-right:2px groove black;
   /*background-color:#A2A;*/
}
#div2{
    position:relative;
    float:left;
    height:100%;
    width:50%;
    min-height:500px;

    /*background-color:#BBB;*/
}

.filecss{
    width: 55px !important;
}