
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button data-dismiss="modal" class="btn btn-danger btn-xs pull-left close_modal_btn">No</button>

    <button data-dismiss="modal" class="btn btn-success btn-xs pull-right" onclick="ConfirmExpedited()">Yes</button>
</div>
