<p-script filepath="~/Areas/ETL/Scripts/EtlTracker.js"></p-script>
<p-link filepath="~/Areas/Portal/Styles/ProviderBridge/BridgeQueue/BridgeQueue.css"></p-link>
<br />
<div class="col-lg-12">

    <div class="col-lg-offset-1 col-lg-4 col-md-4 selected" style="height: 100px; border-radius: 5px; margin-right: 10px; padding: 0px;border:2px solid #E3E3E3">
        <div style="float: left; width: 30%; background: #FC6042; height: 100%; border-radius: 5px;">
            <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <center><i class="fa fa-file-text-o fa-4x" style="color:white;"></i></center>
            </div>
        </div>
        <div>
            <a href="#">
                <div class="tabfont" style="text-align: center; color: #FC6042; ">
                    <p style="font-size: 25px;"><b>File Summary</b></p>
                </div>
                <b>
                    <div class="text-center dt" style="font-family: sans-serif; font-size: medium; color: #333; font-size: 16px;"> Total Files: <b>@ViewData["FileCount"]</b></div>
                </b>
            </a>
        </div>
    </div>

    <div class="col-lg-2"></div>
    <div class="col-lg-4 col-md-4 selected" style="height: 100px; border-radius: 5px; padding: 0px; margin-left: 10px; border: 2px solid #E3E3E3;  background-repeat: repeat-x;">
        <div style="float: left; width: 30%; background: #5fcf80; height: 100%; border-radius: 5px;">
            <div style="position: relative; top: 50%; transform: translateY(-50%); ">
                <center><i class="fa fa-database fa-4x" style="color:white;"></i></center>
            </div>
        </div>
        <div class="OpenEdwDatabaseModal" style="float:left;width:70%">
            <a href="#">
                <div class="tabfont" style="text-align: center; color: #FC6042; ">
                    <p style="font-size: 25px;"><b>EDW Databases</b> </p>
                </div>
                <b>
                    <div class="text-center dt" style="font-family: sans-serif; font-size: medium; color: #333; font-size: 16px;"><b>@ViewData["TotalFileSize"]</b></div>
                </b>
            </a>

        </div>
    </div>

</div>


<div class="col-lg-12">
    <ul class="innerTabsArea queueTabs" style="width:100.7%;">
        <li class="ipaQueueMenu active tabs innerTabs">
            <a class="innerTabsLinks list-item" data-tab-path="/ETL/EdwLogger/DisplayLivePrestageLogger" data-tab-container="queueTable"><span class="text-uppercase">Live Prestage Logger</span></a>
        </li>
        <li class="ipaQueueMenu tabs innerTabs">
            <a class="innerTabsLinks list-item" data-tab-path="/ETL/EdwLogger/DisplayLiveFileTracker" data-tab-container="queueTable"><span class="text-uppercase">Live File Tracker</span></a>
        </li>
    </ul>
</div>
<div id="queueTable" class="tableBodyDivision col-lg-12">
    @{ Html.RenderAction("DisplayLivePrestageLogger", "EdwLogger"); }
</div>

