@model PortalTemplate.Areas.UM.Models.ViewModels.Member.MemberSearchResultViewModel
@*<link href="~/Areas/CredAxis/CSS/SearchProvider/SearchProviderResultGrid.css" rel="stylesheet" />*@
<p-link filepath="~/Areas/CredAxis/CSS/SearchProvider/SearchProviderResultGrid.css"></p-link>
<p-script filepath="~/Areas/UM/Scripts/SearchMember/NonMinified/SearchMemberResultGrid.js"></p-script>
<style>
    #resultTableHeader label {
        margin-top: -3px;
    }
</style>
<table class="theme1_table" id="resultTableHeader" @*border="1"*@>
    <thead class="theme_thead">
        <tr>
            <th class="withfilter sm-mbrid">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>NPI</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-lastname">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>L NAME</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-firstname">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>F NAME</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-rel">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>NP</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-mbrid">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>LEVEL</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-rel">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>REL</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-spec">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>SPECIALTY</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-group">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>GROUP/IPA</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-plan">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>PLAN</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-mbrid">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>STATUS</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-gender">
                @*<span class="styled-input">
                        <input class="filer-search" type="text" required />

                        <span></span>
                        <i class="fa fa-sort"></i>
                    </span>*@
                <label>ACTION</label>
            </th>
        </tr>
    </thead>
</table>
<div id="tableBodyWrapper">
    <table class="table table-striped" @*border="1"*@>
        <tbody id="searchResultGrid"></tbody>
    </table>
</div>

