@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.LicensesViewModel.MedicareInfo>

    <span class="theme_depend text-uppercase TableHeading">Medicare Information History</span>
    <span><button type="button" @*onclick="clearDiv(this)"*@ data-toggle="collapse" data-target="#MedicareInfo" class="btn btn-xs btn-danger closeBtnCSS pull-right"><i class="fa fa-times" aria-hidden="true"></i></button></span>
    <div class="x_content zero-padding-left">
        <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>MEDICARE #</label><span></span>
                            <i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>ISSUE DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>EXPIRY DATE</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                    <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody id="MedicareInfoHistoryTableBody">
                @foreach (var item in Model)
            {
                    <tr>
                        <td class="col-lg-3">@item.MedicareID</td>
                        <td class="col-lg-3">@item.IssueDate</td>
                        <td class="col-lg-3">@item.ExpirationDate</td>
                        <td class="col-lg-3">
                            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>MEDICARE #:-</b> MR45164, <br /><b>ISSUE DATE:-</b> 04-11-2012, <br /><b>EXPIRY DATE:-</b> 04-11-2014.">...</a>
                        </td>
                    </tr>
            }


            </tbody>
        </table>
    </div>
