
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Subscriber Information<span class="transparent-font-color">___.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field editSubscriberInfo"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Last Name:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">First Name:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Middle Initail:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Relationship to Patient:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Address Line 1:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Address Line 2:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">City:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Springer</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">State:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Arkansas</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">County:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Sanborn</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Country:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">US</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Zip-Code:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">45621785</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">+355-1223234</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Subscriber ID:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">UL002</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Coverage Start Date:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">05/24/2015</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Coverage End Date:</span><span class="summary_data">
                <span id="" class="bolding text-uppercase theme_label_data">05/24/2016</span>
            </span>
        </div>
    </div>
</fieldset>