@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.FederalDEAInformationViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

<div class="panel-default">
    @*<div class="panel-heading" role="tab" id="licenseOne">
            <a data-toggle="collapse" data-parent="#accordion5" href="#licenseprofessional" aria-expanded="true" aria-controls="licenseprofessional">
                State License
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>
        </div>*@
    <div class="form-style">
        <fieldset>
            <legend>
                CDS Information
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="*If you have additional CDS Information include here."><i class="fa fa-question"></i></button>
            </div>
          
            <div id="licenseprofessional" class="panel-body">
                <table ng-hide="CDSCInformations.length >0||newShowCDSCInformation" class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <thead>
                        <tr>
                            <td ng-hide="visibilityControl=='addCDSCInformation'">
                                No Data Available For CDS Information!
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                {
                                    <span>
                                        Please click on <button id="noDataAddNewCDS" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addCDSCInformation')" tooltip data-toggle="tooltip" data-placement="right" title="Add new"><i class="fa fa-plus"></i></button>
                                        to add new CDS Information
                                    </span>
                                }
                            </td>

                        </tr>
                    </thead>

                </table>
                 <table ng-hide="CDSCInformations.length <1" class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <thead>
                        <tr>
                            <th>CDS Number</th>
                            <th>State Of Registration</th>
                            <th>Issue Date</th>
                            <th>Expiration Date</th>
                            <th>Supporting Document</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="CDSCInformation in CDSCInformations track by $index">
                        <tr>
                            <td>{{CDSCInformation.CertNumber}}</td>
                            <td>{{CDSCInformation.State}}</td>
                            <td ng-show="CDSCInformation.IssueDate">{{CDSCInformation.IssueDate || 'Not Available'| date: "MM-dd-yyyy"}}</td>
                            <td ng-hide="CDSCInformation.IssueDate"><i class="data-label">Not Available</i></td>
                            <td ng-hide="CDSCInformation.ExpiryDate"><i class="data-label">Not Available</i></td>
                            <td ng-show="CDSCInformation.ExpiryDate">{{CDSCInformation.ExpiryDate || 'Not Available'| date: "MM-dd-yyyy"}}</td>
                            <td>
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Preview, ViewBag.Roles, false))
                                {
                                    <a ng-if="CDSCInformation.CDSCCerificatePath" href="/Document/View?path={{CDSCInformation.CDSCCerificatePath}}" class="pointer" target="_blank" title="{{CDSCInformation.CDSCCerificatePath}}"><i class="fa fa-file" title=""></i></a>
                                }
                                <i ng-if="!CDSCInformation.CDSCCerificatePath">Not Available</i>
                            </td>

                            <td>
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                                {
                                    <button class="btn btn-xs btn-default" ng-click="operateViewAndAddControl($index+'_viewCDSCInformation')" ng-hide="viewCDSC" tooltip data-toggle="tooltip" data-placement="left" title="View"><i class="fa fa-eye"></i></button>
                                }
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                                {
                                    <button class="btn btn-xs btn-primary" ng-click="operateEditControl($index+'_editCDSCInformation',CDSCInformation)" ng-hide="editShowCDSCInformation" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                }
                                <button class="btn btn-xs btn-default" ng-click="operateRenewControl($index+'_renewCDSCInformation',CDSCInformation); RenewDivCDS(CDSCInformation);" ng-hide="renewCDSCInformation" tooltip data-toggle="tooltip" data-placement="top" title="Renew"><i class="fa fa-repeat"></i></button>
                                
                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                {
                                    <button id="addNewCDS" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addCDSCInformation')" tooltip data-toggle="tooltip" data-placement="right" title="Add new" ng-hide="viewCDSC || editShowCDSCInformation || newShowCDSCInformation || $index+1!=CDSCInformations.length"><i class="fa fa-plus"></i></button>
                                }
                            </td>
                        </tr>
                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                        {
                            <tr ng-show="visibilityControl==($index+'_viewCDSCInformation')">
                                <td colspan="6" class="editTableDataStyle">
                                    @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_ViewCDSCInformation.cshtml")
                                </td>
                            </tr>
                        }
                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                        {
                            <tr ng-show="visibilityControl==($index+'_editCDSCInformation')">
                                <td colspan="6" id="cDSCInformationEditDiv{{$index}}" class="editTableDataStyle">
                                    <fieldset>
                                        <legend>
                                            Edit CDS Information
                                        </legend>
                                        <div>
                                            @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_AddEditCDSCInformation.cshtml")
                                        </div>
                                    </fieldset>
                                </td>
                            </tr>
                        }
                        <tr ng-show="visibilityControl==($index+'_renewCDSCInformation')">
                            <td colspan="7" id="CDSCInformationRenewDiv{{$index}}" class="editTableDataStyle">
                                <fieldset>
                                    <legend>
                                        Renew CDS Information
                                    </legend>

                                    <div>
                                        @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_RenewCDSInformation.cshtml")
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div ng-show="activeMessageDiv=='addedCDS'" class="alert alert-success" role="alert">
                    <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                    <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                </div>
                <div class="clearfix"></div>
                <div class="form-style">
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                    {
                        <fieldset ng-show="visibilityControl=='addCDSCInformation'">
                            <legend>
                                Add CDS Information
                            </legend>
                            <div class="legend2 pull-right">
                                <button class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="*Provide all current and previous licenses/certifications"><i class="fa fa-question"></i></button>
                            </div>
                            <div id="newShowCDSCInformationDiv">
                                @Html.Partial("~/Areas/Profile/Views/IdentificationAndLicense/_AddEditCDSCInformation.cshtml")
                            </div>
                        </fieldset>
                    }
                </div>

                
            </div>
        </fieldset>
    </div>
</div>