<!-- /.row -->
<!-- Add Provider content form div -->
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Associate Plan</h3>
            </div>
            <div class="panel-body table-bordered" ng-controller="planType">

                <div class="col-lg-12" id="PlanTypeContainer">

                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>Plan Name</strong></div>
                            <div class="col-lg-3"><strong>Plan Type</strong></div>
                            <div class="col-lg-3"><strong>Status</strong></div>
                            <div class="col-lg-3"><strong>Edit</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="PlanTypeData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>OPTIMUM GOLD REWARDS PLAN (HMO-POS)</strong></div>
                            <div class="col-lg-3"><strong>MEDICARE RISK</strong></div>
                            <div class="col-lg-3" style="color:green"><strong>Active</strong></div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('PlanTypeForm12',this)"><i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="PlanTypeForm12" style="display:none;">

                            <div class="panel panel-default">
                                <div class="panel-body">


                                    <div class="col-md-12">
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Plan Type *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Plan Type</option>
                                                <option>MEDICARE RISK</option>
                                                <option>MEDICARE LOB</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Plan Name *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Plan</option>
                                                <option>OPTIMUM GOLD REWARDS PLAN (HMO-POS</option>
                                                <option>OPTIMUM DIAMOND REWARDS (HMO-POS SNP)</option>
                                                <option>OPTIMUM PLATINUM PLAN (HMO-POS)</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Status *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Status</option>
                                                <option style="color:green">Active</option>
                                                <option style="color:red">De-Active</option>
                                                <option>Drafted</option>
                                            </select>
                                        </div>

                                    </div>


                                    <div class="clearfix"></div>
                                    <div class="col-md-12 panel-footer">
                                        <div class="col-md-12">
                                            <button class="btn btn-xs btn-success pull-right" onclick="closeChildDiv('PlanTypeForm12')">Update</button>
                                            <button class="btn btn-xs btn-warning" onclick="closeChildDiv('PlanTypeForm12')">Cancel</button>

                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>OPTIMUM DIAMOND REWARDS (HMO-POS SNP)</strong></div>
                            <div class="col-lg-3"><strong>MEDICARE LOB</strong></div>
                            <div class="col-lg-3" style="color:red"><strong>De-Active</strong></div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('PlanTypeForm22',this)"><i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="PlanTypeForm22" style="display:none;">

                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <div class="col-md-12">
                                        
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Plan Type *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Plan Type</option>
                                                <option>MEDICARE RISK</option>
                                                <option>MEDICARE LOB</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Plan Name *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Plan</option>
                                                <option>OPTIMUM GOLD REWARDS PLAN (HMO-POS</option>
                                                <option>OPTIMUM DIAMOND REWARDS (HMO-POS SNP)</option>
                                                <option>OPTIMUM PLATINUM PLAN (HMO-POS)</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label small">Status *</label>
                                            <select class="form-control input-sm">
                                                <option hidden disabled selected>Select Status</option>
                                                <option style="color:green">Active</option>
                                                <option style="color:red">De-Active</option>
                                                <option>Drafted</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 panel-footer">
                                        <div class="col-md-12">
                                            <button class="btn btn-xs btn-success pull-right" onclick="closeChildDiv('PlanTypeForm22')">Update</button>
                                            <button class="btn btn-xs btn-warning" onclick="closeChildDiv('PlanTypeForm22')">Cancel</button>

                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div ng-if="planType==1" class="form-group">
                    <i class="fa fa-times pull-right text-danger" ng-click="removePlanType()"></i>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Plan Type *</label>
                            <select class="form-control input-sm">
                                <option hidden disabled selected>Select Plan Type</option>
                                <option>MEDICARE RISK</option>
                                <option>MEDICARE LOB</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Plan Name *</label>
                            <select class="form-control input-sm">
                                <option hidden disabled selected>Select Plan</option>
                                <option>OPTIMUM GOLD REWARDS PLAN (HMO-POS</option>
                                <option>OPTIMUM DIAMOND REWARDS (HMO-POS SNP)</option>
                                <option>OPTIMUM PLATINUM PLAN (HMO-POS)</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label small">Status *</label>
                            <select class="form-control input-sm">
                                <option hidden disabled selected>Select Status</option>
                                <option style="color:green">Active</option>
                                <option style="color:red">De-Active</option>
                                <option>Drafted</option>
                            </select>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-xs btn-success pull-right" ng-click="AddPlanType()">Add</button>
                            <button class="btn btn-xs btn-warning" ng-click="removePlanType()">Cancel</button>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <br />
                <div class="col-md-12 text-right">
                    <button class="btn btn-xs btn-primary" ng-click="newPlanType()"><i class="fa fa-plus"></i> Add New Plan Type</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.row -->

