
<div class="panel-body">
    <div class="form-style">
        <div class="col-lg-12">
            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-3 zero-padding-left-right-div pull-right text-center">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail file_preview_upload" style="background-image: url('/Content/Images/Plans/logo.jpg'); background-size: 100% 97%;" data-trigger="fileinput">

                        </div>
                        <div>
                            <span class="btn btn-default btn-sm btn-file">
                                <span class="fileinput-new">Company Logo</span>
                                <span class="fileinput-exists">Change</span><input type="file" name="...">
                            </span>
                            <a href="#" class="btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 zero-padding-left-right-div">
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Name</label>
                        <input type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="name">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Webiste</label>
                        <input type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="website">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label class="control-label small">Email Id</label>
                        <input type="text" class="form-control input-sm" id="exampleInputEmail1" placeholder="email">
                    </div>
                    <div class="col-lg-6 form-group">
                        <label for="MobileNo" class="control-label small">Phone</label>
                        <div>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"><span class="caret"></span></button>
                                </div>
                                <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                    <div class="arrow"></div>
                                    <h3 class="popover-title">Select Country Dial Code</h3>
                                    <div class="popover-content">
                                        <select id="ContactContryCode">
                                            <option>+91</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="phone number" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_address")
        </div>
    </div>
