@{
    ViewBag.AuthPreviewContent = Model.Content;
    string AuthPreviewFooter = ViewBag.AuthPreviewContent.AuthPreviewFooter; 
}

<div class="modal fade authPreviewModal" tabindex="-1" role="dialog" id="authPreviewModal" >
    <div class="modal-dialog modal-lg ">
        <div class="modal-content" >
            <div class="modal-header zero_padding_bottom">
                @Html.Partial("~/Areas/UM/Views/Common/AuthPreview/Header/_AuthPreviewModalIPAHeader.cshtml")
            </div>
            <div class="modal-body modalbodyheight text-uppercase previewModalStyle preview-content-font">
                @Html.Partial("~/Areas/UM/Views/Common/AuthPreview/AuthPreviewSections/_AuthPreviewBody.cshtml")
            </div>
            <div class="modal-footer">
                @Html.Partial(AuthPreviewFooter)
            </div>

        </div>
    </div>
</div>