
@*<li class="outer_menu_item_top">
    <a id="dashboard" class="tab-navigation member-actions " data-tab-action="Account Management"
       data-tab-title="Account Management" data-tab-floatmenu="true"
       data-tab-path="~/Areas/AM/Views/AccountManagement/_Dashboard.cshtml"
       data-tab-container="fullBodyContainer"
       data-tab-float-menu-path="~/Areas/AM/Views/Shared/_AMFloatMenu.cshtml">
        <span class="text_beside_icon">Home</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">DashBoard</span>
</li>*@
<li class="outer_menu_item_top" >
    <a id="accounts" class="tab-navigation member-actions " @*data-tab-action="Accounts"
       data-tab-title="Accounts" data-tab-floatmenu="true"
       data-tab-path="~/Areas/AM/Views/AccountManagement/_Accounts.cshtml"
       data-tab-container="fullBodyContainer"
       data-tab-float-menu-path="~/Areas/AM/Views/Shared/_AMFloatMenu.cshtml"*@>
        <span class="text_beside_icon">Accounts</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Accounts</span>
</li>
<li class="outer_menu_item_top">
    <a id="businessProcesses" class="tab-navigation member-actions ">
        <span class="text_beside_icon">Business Processes</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Business Processes</span>
</li>
<li class="outer_menu_item_top">
    <a id="departments" class="tab-navigation member-actions " data-tab-title="Departments">
        <span class="text_beside_icon">Departments</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Departments</span>
</li>
<li class="outer_menu_item_top">
    <a id="teams" class="tab-navigation member-actions ">
        <span class="text_beside_icon">Teams</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Teams</span>
</li>
<li class="outer_menu_item_top">
    <a id="users" class="tab-navigation member-actions " data-tab-action="Users" data-tab-title="Users" data-tab-floatmenu="true" data-tab-float-menu-path="~/Areas/AM/Views/Shared/_AMFloatMenu.cshtml" data-tab-path="~/Areas/AM/Views/AccountManagement/_Accounts.cshtml" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">Users</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Users</span>
</li>
<li class="outer_menu_item_top">
    <a id="userroles" class="tab-navigation member-actions ">
        <span class="text_beside_icon">User Roles</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">User Roles</span>
</li>