/** Create New Auth CSS**/
.auth_form {
    /*padding-top: 20px;*/
}
/***POS Specific CSS 
****Handles the Display and width of fields according to fields   
****Author @meShakti Date 11-09-2016 16:18 
***/
.form_11 .opTypeDiv {
    display: none !important;
}
 .maxWidthtdXL {
        max-width: 5em;
    }
.mainBodyCollapse .facility11Div {
    position: relative;
    width: 28% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyExpand .facility11Div {
    position: relative;
    width: 24% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyCollapse .expDosDiv {
    position: relative;
    width: 18% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyExpand .expDosDiv {
    position: relative;
    width: 19% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .posDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .requestTypeDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .authTypeDiv {
    position: relative;
    width: 16.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .typeOfCareDiv {
    position: relative;
    width: 10% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .reciveDateDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.mainBodyExpand .form_11 .fromDateDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .form_11 .toDateDiv {
    position: relative;
    width: 15% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .posDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .requestTypeDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .authTypeDiv {
    position: relative;
    width: 16.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .typeOfCareDiv {
    position: relative;
    width: 10% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .reciveDateDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.mainBodyCollapse .form_11 .fromDateDiv {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .form_11 .toDateDiv {
    position: relative;
    width: 14.9% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}
/*End of POS Specific CSS*/
.mainBodyCollapse .createForm .field_width_short {
    position: relative;
    width: 10% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_short {
    position: relative;
    width: 10.7% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .createForm .field_width_medium {
    position: relative;
    width: 14.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_medium {
    position: relative;
    width: 13.3% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.mainBodyCollapse .createForm .field_width_med_long {
    position: relative;
    width: 14.5% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_med_long {
    position: relative;
    width: 15% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .createForm .field_width_long {
    position: relative;
    width: 15.5% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_long {
    position: relative;
    width: 15% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
}

.mainBodyCollapse .createForm .field_width_13 {
    position: relative;
    width: 13.1% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}

.mainBodyExpand .createForm .field_width_13 {
    position: relative;
    width: 13% !important;
    display: inline-table;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}

.mainBodyCollapse .createForm .field_width_16 {
    position: relative;
    width: 16.4% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}

.mainBodyExpand .createForm .field_width_16 {
    position: relative;
    width: 16.3% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
}

.mainBodyCollapse .createForm .field_width_20 {
    position: relative;
    width: 19.7% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_20 {
    position: relative;
    width: 20% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyCollapse .createForm .field_width_25 {
    position: relative;
    width: 24.5% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.mainBodyExpand .createForm .field_width_25 {
    position: relative;
    width: 24.8% !important;
    display: inline-table;
    padding-left: 0.2%;
    padding-right: 5px;
}

.odag_reset_btn {
    border: 3px solid #73879c;
    border-radius: 10px;
    padding: 0px 2px 0 2px;
    cursor: pointer;
    margin-left: 5px;
}

    .odag_reset_btn > .fa {
        color: rgb(212, 8, 8);
    }

.print_button_beside_table {
    position: absolute;
    right: -2px;
    z-index: 1;
}

.co_mag_provider {
    display: none;
}

.checked + input.co_mag_provider {
    position: absolute;
    top: 52%;
    right: -20%;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
}

.border_on_panel {
    border: 1px solid #d4c9c9;
    border-radius: 1px;
}

.odagClicker {
    background: none !important;
    cursor: pointer !important;
    color: white !important;
    margin-bottom: 10px;
    left: -16px;
    left: 1%;
}

    .odagClicker span {
        color: white !important;
        font-weight: bold;
    }

    .odagClicker:hover {
        text-decoration: none !important;
    }


.mainBodyCollapse .smartIntelligenceBtn {
    /*-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    color: white;
    background-color: rgb(199, 31, 31);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    text-shadow: #777 0 1px 0;
    font-size: 9px;
    position: absolute;
    margin-left: 25px;
    top: 15px;*/
    /* margin-top: 1%; */
    /* height: 32px; */
    /* width: 130px; */
}

.mainBodyExpand .smartIntelligenceBtn {
    /*-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow: rgba(0,0,0,0.2) 0 1px 0 0;
    color: white;
    background-color: rgb(199, 31, 31);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    text-shadow: #777 0 1px 0;
    font-size: 9px;
    position: absolute;
    margin-left: 25px;
    top: 15px;*/
    /*margin-top: 1%;
    height: 32px;
    width: 130px;*/
}

.margin_left_12px {
    margin-left: 12px !important;
}

.odag-style {
    color: #fff;
    background: #6e93cf;
    -moz-opacity: 0.8;
    -ms-opacity: 0.8;
    -webkit-opacity: 0.8;
    opacity: 0.8;
}

.cptcodedropdown {
    /*height:22px !important;
    width:157.34375px !important;*/
    border: 1px solid rgba(232, 46, 0, 0.72) !important;
    box-shadow: 0 0 2px rgba(232, 46, 0, 0.72) !important;
}

.plain-language-content {
    position: absolute;
    top: 10%;
    left: 5%;
    display: block;
}

.standard-plain-languages {
    overflow-y: scroll;
    height: 500px;
}

.list-of-plain-languages {
}

a {
    cursor: pointer;
}

#plainlanglist > li a {
    color: #337ab7;
}

#plainlanglist > li {
    text-transform: uppercase;
    padding: 5px 10px;
}

.selectedplainlanglist > li a {
    color: #337ab7;
}

.selectedplainlanglist > li {
    text-transform: uppercase;
    padding: 5px 10px;
}

.editplainlangselected > li a {
    color: #337ab7;
}

.editplainlangselected > li {
    text-transform: uppercase;
    padding: 5px 10px;
}

.plvisible {
    display: block;
}

.plnotvisible {
    display: none;
}

.plangtextarea {
    width: 85% !important;
    height: 60px !important;
}

.addCptRangeMainContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.closeAndPreviewBtns {
    padding: 10px;
    border-top: 2px solid #ddd;
}

.ContactsModal {
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
}

#NoteForm {
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
}

.slide_modal {
    overflow-y: auto;
}

.font-size-odag-100 {
    /*font-size:1.2em;*/
}

#document_section .text-center {
    padding: 0;
}

#document_section {
    margin-bottom: -7px;
}

/*-----CPT------------*/
.cptInc_pullleft {
    margin-left: -1.7% !important;
}

.cptrequnits_rightmargin {
    margin-right: 8px !important;
}

/*-----Documents-----*/
div#document_section > .x_content:first-child {
    border-bottom: 1px solid #3d5c9f;
    padding-bottom: 0px;
}

.custom-file-input[type='file'] {
    padding-right: 85%;
}

.noFile {
    margin-top: -19px;
    margin-left: 62px;
    color: #05205b;
    font-weight: 900;
}

#dynamicSection .custom-file-input {
    position: initial;
    top: -4px;
}

#dynamicSection .documentName {
    position: initial;
    top: -4px;
}

#dynamicSection .documentTypeName {
    position: initial;
    top: -4px;
}

#dynamicSection .includeFax {
    position: initial;
    top: -4px;
}

.custom-file-input {
    border: 1px solid #3859a1 !important;
    border-left: none !important;
}

    .custom-file-input[disabled] {
        background: linear-gradient(to right, rgb(227, 233, 247) 0%, rgb(184, 203, 233) 0%, rgb(204, 222, 254) 10%, rgba(254,254,254,1) 100%);
    }

.auth_form .view_contact_btn, .auth_form .view_note_btn {
    display: none !important;
}

.Add_Provider {
    font-weight: 800;
}

.AddProviderModal .row:not(:first-child) {
    margin-top: 10px !important;
}

.AddProviderModal {
    padding: 10px;
}

.Margin_top_15px {
    margin-top: 15px;
}

.HHCLabelText {
    font-weight: bold;
    color: black;
}

.TableHeaderColor {
    background-color: #3d5c9f;
    border: 1px solid #3d5c9f !important;
    color: white;
}

.Margin_top_negFee {
    margin-top: 20px;
}

.Margin_top_carveout_negFee {
    margin-top: 10px;
}

.negFeeBackColor {
    background-color: powderblue;
}

@-moz-document url-prefix() {
    .mozillamargintop {
        margin-top: 30px;
    }
}

.UMDropDownList {
    min-width: 279px;
    width: auto;
    border: 2px solid rgb(61, 92, 159);
    font-weight: bold;
    color: black;
    font-size: 16px;
    padding: 6px;
    box-shadow: 1px 6px 5px -2px rgba(0,0,0,.15);
    background-color: #eee;
    margin-top: -4px;
    z-index: 1000;
    display: block;
    position: absolute;
}

.UMDropDownICDList {
    min-width: 524px;
    border: 2px solid rgb(7, 35, 95);
    font-weight: bold;
    color: black;
    font-size: 14px;
    padding: 6px;
    box-shadow: 1px 6px 5px -2px rgba(0,0,0,.15);
    background-color: #fff;
    margin-top: -7px;
    z-index: 1000;
    display: block;
    position: absolute;
}

.UMDropDownCPTList{
    min-width: 860px;
      max-width: 860px;
      overflow-x:auto;
    border: 2px solid rgb(7, 35, 95);
    font-weight: bold;
    color: black;
    font-size: 14px;
    padding: 6px;
    box-shadow: 1px 6px 5px -2px rgba(0,0,0,.15);
    background-color: #fff;
    margin-top: -7px;
    z-index: 1000;
    display: block;
    position: absolute;
    max-height:117px;
}
#addCPTRange_Modal_ToField{
    margin-bottom:70px;
}
.DropDownListLi:hover {
    background-color: #2c4e95;
    color: white !important;
    /* padding: 3px; */
    cursor: pointer;
}
.DropDownListFacilityLi:hover
{
     background-color: #2c4e95;
    color: white !important;
    /* padding: 3px; */
    cursor: pointer;
}
.NPIcss {
    font-size: smaller;
    font-weight: 500;
    margin-left: 14px;
}

.PcpLabel {
    font-size: 11px !important;
    margin-left: 15px;
}

.dropdown-menu:after {
    content: initial !important;
}



.removeUpDownControl::-webkit-inner-spin-button,
.removeUpDownControl::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.DollarInput {
    font-size: 13px;
    position: absolute;
    top: 1px;
    left: 14px;
}
.DollarInputField {
    font-size: 13px;
    position: absolute;
    top: 25px;
    left: 14px;
}

.ValueToRight {
    padding-left: 12px;
}

.INProvider
{
     position: absolute;
    margin-left: 189px;
    margin-top: -25px;
    height: 19.5px;
    padding-top: 4px;

}
.OutProvider
{
    position: absolute;
    margin-left: 179px;
    margin-top: -25px;
    height: 19.5px;
    padding-top: 4px;
    border-radius: 0px;
}
.INFacility
{
    
    position: absolute;
    margin-left: 256px;
    margin-top: -25px;
    height: 19.5px;
    padding-top: 4px;
}

.dischargeDate_Div{
    padding-right:initial;
}
#DischrgeToDate{
    padding-right:0px;
}
.DropDownListSelected
{
     background-color: #2c4e95;
    color: white !important;
    /* padding: 3px; */
    cursor: pointer;
}

.icdButtonArea{
    top:-4px;
}
.cptInc_pullleft{
       top:-4px;
}
.cptButtonArea{
       top:-4px;
}
#AdmsnApprovedDays{
    top:1px !important;
}
.CustodialDate_div{
    top:-40px !important;right:-4px !important;left:10px !important;
}
.AdmissionPos_Div{
    min-height:50px !important;
    max-height:50px !important;
}
.CoMgnt_Div{
    top:-21px !important;
}
#coMagProvider{
    margin-top:-17px !important;
}
.AdmissionPosInner_Div{
    left:0px !important;
}

.PlusBtnPos12_IndexZero_Div{
    top:-4px;
}
#ExpDischrgeDate{
    padding-right:2px;
}
#DischrgeToDate{
    padding-right:6px;
}
#custodialDate{
    padding-right:2px;
}
input.form-control.custom-file-input.input-xs:focus {
    outline: none !important;
}