
<div class="col-lg-12  form-style">
    <div>
        @Html.Partial("_ViewSubplan")
    </div>
    <div>
        @Html.Partial("_ViewLobContactDetail")
    </div>
    <div>
        @Html.Partial("_ViewLobAddressDetail")
    </div>
    <br />
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" class="btn btn-sm btn-warning" ng-click="CancelLOBView()">Cancel</button>
        </div>
    </div>

</div>
