/*---------clearing house----------*/

.clearingHouse_container {
    padding: 5px;
    margin-bottom: 10px;
}

.add_clearinghouse_btn {
    width: 60px !important;
}


fieldset.fsStyle {
    font-weight: bold;
    border: 1px solid #d4c9c9;
    padding: 4px;
    margin-top: 5px;
    /*text-transform: uppercase;*/
}

.bolding {
    font-weight: bolder;
}

#selected_clearingHouse input{
    text-transform:uppercase;
}

.clearingHouse_container .legendStyle span {
    color: #203764 !important;
}