@model AHC.CD.WebUI.MVC.Areas.Profile.Models.BoardSpeciality.PracticeInterestViewModel

<div class="legend2 pull-right">
    <button class="btn btn-xs btn-primary" ng-click="showEditPartial()" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
</div>
<div>
    @*@Html.LabelFor(model => model.Description, new { @class = "control-label small" })*@
    <div>
        <div ng-if="practiceInterest.PracticeInterest == ''">No data available!! Click on Edit button to provide data.</div>
        <i class="data-label">{{practiceInterest.PracticeInterest}}</i>
    </div>
    <br />
</div>