<!-- Confirmation Mail Send panel -->
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    The Provider is Approved Successfully !!!!
</div>

<div class="panel panel-default" ng-show="!isEmailSent && isAdded">
    <div class="panel-heading">
        <div>Provider Information</div>
    </div>
    <div class="panel-body">
        <div class="col-lg-4"><label>First Name :</label> <span>Gaurav</span></div>
        <div class="col-lg-4"><label>Last Name :</label> <span>Upmanyu</span></div>
    </div>
    @*<div class="panel-footer clearfix">
            <a class="btn btn-primary btn-sm" href="/Provider/CreateProvider">Add New Provider</a>
        </div>*@
</div>
<!-- Confirmation Mail Send panel -->
<!-- email input field panel -->

<div class="panel panel-default" ng-app="textAngularTest" ng-controller="wysiwygeditor">
    <div class="panel-heading">
        <div>Email Confirmation</div>
    </div>
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">To</label>
            <div class="col-md-10">
                <input type="text" name="name" value="gaurav@gmail.com" class="form-control input-sm" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Subject</label>
            <div class="col-md-10">
                <input type="text" name="subject" value="Welcome to Access Healthcare !!!!" class="form-control" readonly />
            </div>
        </div>
        <textarea class="form-control" rows="20">
            Dear Gaurav


            Welcome to the Access Health Care Physicians family of participating physicians and providers. Our Medical Director and the Credentialing Committee has reviewed your credentialing application and supporting documents based upon established Access Health Care Physicians policies and procedures, State and Federal regulatory guidelines, and criteria from selected accreditation bodies.

            You may begin providing services to Access Health Care Physicians Members on the first day of 19-Dec, 2014. Your assigned Provider Relations Representative will be contacting you and your staff to deliver your counter-signed Agreement and to schedule a New Office Orientation.

            If you have any questions, please contact our Provider Relations Department staff by calling our toll free number 352-277-5288.

            Respectfully,

            Access Health Care Physicians Medical Director

        </textarea>
    </div>
    <div class="panel-footer clearfix">
        <input id="next1" type="button" value="Send Email" onclick="sendEmail()" class="btn btn-success btn-sm pull-right" />
    </div>
</div>
<!-- end email input field panel -->