<script>
    var changeStatus = function () {
        var value = $("#status").val();

        if (value == "approve") {
            $("#assignLabel").show();
            $("#remark").show();            
            $("#reason").hide();
        }
        else if (value == "reject") {
            $("#assignLabel").hide();
            $("#remark").hide();
            $("#levelDetail").hide();
            $("#reason").show();
        }
        else if (value == "reprocess") {
            $("#assignLabel").hide();
            $("#remark").hide();
            $("#levelDetail").hide();
            $("#reason").show();
        }
        else {
            $("#assignLabel").hide();
            $("#remark").hide();
            $("#levelDetail").hide();
            $("#reason").hide();
        }
    };

    var levelDetail = function () {
        $("#levelDetail").slideToggle();
    };
</script>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label small">Status</label>
                        <select class="form-control input-sm" id="status" onchange="changeStatus();">
                            <option value="">Select Status</option>
                            <option value="approve">Approve</option>
                            <option value="reject">Reject</option>
                            <option value="reprocess">Re-Process</option>
                        </select>
                    </div>
                    <div class="col-lg-12" id="assignLabel" style="display:none;">
                        <label class="control-label small">Assign Level</label>
                        <div class="input-group input-group-sm">
                            <select class="form-control">
                                <option value="value">Select Level</option>
                                <option value="level1">Level 1</option>
                                <option value="level2">Level 2</option>
                                <option value="level3">Level 3</option>
                            </select>
                            <span class="btn btn-sm btn-default input-group-addon" onclick="levelDetail()"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12" id="remark" style="display:none;">
                        <label class="control-label small">Remark</label>
                        <textarea class="form-control col-lg-12"></textarea>
                    </div>
                    <div class="col-lg-12" id="reason" style="display:none;">
                        <label class="control-label small">Reason</label>
                        <textarea class="form-control col-lg-12"></textarea>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-sm btn-success" onclick="submitForm();">Submit</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </fieldset>
        </div>
    </div>
    <div class="panel panel-default" id="levelDetail" style="display:none;">
        <div class="panel-body pre-scrollable">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <p>
                            <strong class="text-danger">Level 1:</strong>
                            Physicians/providers identified by the Medical Director as belonging to Level I, have no issues brought to the attention of Ultimate Health Plans.  These physicians/providers have a clean NPDB.  The in-house credentialing review is also free of issues.  All licenses, insurance coverage, and other documents are current as of the date of the application.  These physicians/providers can be approved by the Chairman of the Credentialing Committee.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            <strong class="text-danger">Level 2:</strong>
                            Physicians/providers identified by the Medical Director as belonging to Level II, have no issues brought to the attention of Ultimate Health Plans.  The in-house credentialing review is also free of issues.  All licenses, insurance coverage, and other documents are current as of the date of the application. These physicians/providers have a clean NPDB. These applicants, however, may have a gap of greater than six (6) months in practicing on either a full- or parttime basis or they may have problems related to privileges at a participating hospital. These physicians/providers require some review by the Credentialing Committee.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            <strong class="text-danger">Level 3:</strong>
                            Physicians/providers identified by the Medical Director as belonging to Level III, have malpractice issues that are less than five (5) years since their origin or have multiple highcost cases over a ten (10) year period.  These physicians/providers do not have a clean NPDB.  Physicians/providers classified as Level III have issues on the Questionnaire.  The physicians/providers will require full Credentialing Committee discussion and review.
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </fieldset>
        </div>
    </div>
</div>
