<div class="row">
    <div class="col-lg-12">
        <span id="recdLabel">  RECEIVED DATE:</span> <input id="receivedDate" name="ReceivedDate" contenteditable="false" disabled/>
    </div>
</div>

<style>
    #receivedDate {
        border: none;
        cursor: pointer;
        background-color: white;
    }
</style>
