<div class="col-lg-12">
    <div id="recdHeader" style="position: relative;height: 48px;">
        <div class="col-lg-10 text-uppercase" style="top: 7px;font-size: 16px;">
            <i class="fa fa-question-circle"></i> &nbsp; Please make sure you have entered correct Received Date &amp; Time !
        </div>
        <div class="col-lg-2" style="position: relative;top: 7px;">
            <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">X</button>
        </div>
    </div>
</div>
