<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
    <button data-dismiss="modal" class="btn btn-danger btn-xs close_modal_btn recd_Date_Close_Btn" type="button" id="recd_Date_Close_Btn">OK</button>
</div>
