@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.DEAScheduleInfoViewModel

@*<div class="col-md-12">
    <div class="form-group">
        <label for="Contact" class="col-md-3 control-label small">Schedules*</label>
        <div class="checkbox">
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Schedule I
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Narcotic
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Non-Narcotic
            </label>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="Contact" class="col-md-3 control-label small"></label>
        <div class="checkbox">
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Schedule II
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Narcotic
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Non-Narcotic
            </label>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="Contact" class="col-md-3 control-label small"></label>
        <div class="checkbox">
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Schedule III
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Narcotic
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Non-Narcotic
            </label>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="Contact" class="col-md-3 control-label small"></label>
        <div class="checkbox">
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Schedule IV
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Narcotic
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Non-Narcotic
            </label>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
        <label for="Contact" class="col-md-3 control-label small"></label>
        <div class="checkbox">
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Schedule V
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Narcotic
            </label>
            <label class="checkbox-inline control-label small">
                <input type="checkbox" name="Contact"> Non-Narcotic
            </label>
        </div>
    </div>
</div>*@

<table class=" col-md-12 table table-bordered table-condensed customtbodyStyle table-striped">

    <thead>
        <tr>
            <th>Schedule</th>
            <th> Narcotic</th>
            @*<th>Non-Narcotic</th>*@
        </tr>
    </thead>
    <tbody ng-repeat="sl in ScheduleInformations">
        <tr>
            <td>
            <input type="checkbox" name="ScheduleName" />
                {{sl.DEASchedule.Description}}
            </td>
            <td ng-repeat="s in sl.DEAScheduleTypes">
                <input type="checkbox" name="ScheduleType" ng-if="s.Status!='Disabled'"/>
                <label ng-if="s.Status=='Disabled'">-</label>
                <label ng-if="s.Status!='Disabled'">{{s.Description}}</label>
            </td>


        </tr>

    </tbody>
    @*<tr>
        <td>I</td>
        <td><label><input type="checkbox" name="Contact" /> Narcotic</label></td>
        <td><label><input type="checkbox" name="Contact" disabled /> Non-Narcotic</label></td>
     
    </tr>
    <tr>
        <td>II</td>
        <td><label><input type="checkbox" name="Contact" /> Narcotic</label></td>
        <td><label><input type="checkbox" name="Contact" /> Non-Narcotic</label></td>

    </tr>
    <tr>
        <td>III</td>
        <td><label><input type="checkbox" name="Contact" /> Narcotic</label></td>
        <td><label><input type="checkbox" name="Contact" /> Non-Narcotic</label></td>

    </tr>
    <tr>
        <td>IV</td>
        <td><label><input type="checkbox" name="Contact" disabled /> Narcotic</label></td>
           <td><label><input type="checkbox" name="Contact" /> Non-Narcotic</label></td>

    <tr>
        <td>V</td>
        <td><label><input type="checkbox" name="Contact" disabled/> Narcotic</label></td>
        <td><label><input type="checkbox" name="Contact" /> Non-Narcotic</label></td>


    </tr>*@
    
</table>