@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.NPIDetailViewModel
<div class="form-group col-md-12">
    <div class="form-group col-md-4 zero-padding-left-right-div">
        @Html.LabelFor(model => model.Number, new { @class = "  control-label small" })
        <div>
           
            <i class="data-label">{{OtherIdentificationNumbers.NPIDetails.Number}}</i>
        </div>
    </div>
    <div class="form-group col-md-4 zero-padding-left-right-div">
        @Html.LabelFor(model => model.UserName, new { @class = "  control-label small", type = "password" })
            <div>
                <i class="data-label" typeof="password">{{OtherIdentificationNumbers.NPIDetails.UserName}}</i>
            </div>
    </div>
    <div class="form-group col-md-4 zero-padding-left-right-div">
        @Html.LabelFor(model => model.Password, new { @class = "  control-label small", type = "password" })
            <div>
                <i class="data-label">{{OtherIdentificationNumbers.NPIDetails.UserName}}</i>
            </div>
    </div>
</div>
