@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.DEAScheduleViewModel

@*<table class=" col-md-12 table table-bordered table-condensed customtbodyStyle table-striped">

    <thead>
        <tr>
            <th>Schedule</th>
            <th> Narcotic</th>
            <th>Non-Narcotic</th>
        </tr>
    </thead>
        <tr>
            <td>I</td>
            <td><i class="fa fa-check"></i></td>
            <td>-</td>
        </tr>
    <tr>
        <td>II</td>
        <td><i class="fa fa-check"></i></td>
        <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td>III</td>
        <td><i class="fa fa-close"></i></td>
        <td><i class="fa fa-close"></i></td>
    </tr>
    <tr>
        <td>IV</td>
        <td>-</td>
        <td><i class="fa fa-close"></i></td>
    <tr>
        <td>V</td>
        <td>-</td>
        <td><i class="fa fa-check"></i></td>

    </tr>
    </tr>
</table>*@



<table  class="table table-bordered table-condensed customtbodyStyle table-striped">
    <thead>
        <tr>
            <th>Schedules</th>
            <th>Narcotics</th>
            @*<th>Non-Narcotic</th>*@
            
        </tr>
    </thead>
    <tbody ng-repeat="sl in ScheduleInformations">
        <tr>
            <td>
                <i ng-if="sl.DEASchedule.ScheduleStatus=='Active'" class="fa fa-check"></i>
                <i ng-if="sl.DEASchedule.ScheduleStatus=='Inactive'" class="fa fa-close"></i>
                {{sl.DEASchedule.Description}}
            </td>
            <td ng-repeat="s in sl.DEAScheduleTypes">
                <i ng-if="s.Status=='Active'" class="fa fa-check"></i>
                <i ng-if="s.Status=='Inactive'" class="fa fa-close"></i>
                <i ng-if="s.Status=='Disabled'">-</i>
                <label ng-if="s.Status!='Disabled'">{{s.Description}}</label>
            </td>
           
          
        </tr>
       
    </tbody>
</table>