<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand header-logo" href="~/Dashboard/Index"><img src="~/Content/Images/logo2.png" style="width: 98px;height: 49px;" /></a>
    </div>
    <script>
        var togglemenu = function () {
            $("#sidemenu").toggleClass("menu-in");
            $("#page-wrapper").toggleClass("menuup");
            $("#menu-toggle").toggleClass("btn-menuup");
        }
    </script>
    @*<div class="col-lg-3">*@
    <button id="menu-toggle" class="btn btn-xs navbar-toggle" onclick="togglemenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @*</div>*@
    <!-- /.navbar-header -->
    @*<ul class="nav navbar-top-links navbar-left hidden">
            <li class="dropdown">
                <a class="btn-sm btn-default" data-toggle="dropdown" href="#">
                    <i class="fa fa-list fa-fw"></i>  <i class="fa fa-caret-left-"></i>
                </a>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
        </ul>*@



    <ul class="nav navbar-top-links navbar-right">
        @*<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>*@
        <!-- /.dropdown -->
        @*<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li style="">
                    <a href="#"><div><i class="fa fa-times-circle-o text-danger"></i> FREEDOM VIP CARE (HMO SNP) Credentialing Rejected</div></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>*@
        <!-- /.dropdown-alerts -->
        @*</li>*@
        <!-- /.dropdown -->

        <li class="dropdown">

            @if (Session["LoggedInUserView"] == null)
            {
                Session["LoggedInUserView"] = @Html.Partial("_LoggedInUserView");
            }
            @Session["LoggedInUserView"]
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <div class="clearfix onlymedia"></div>
    <!-- /.navbar-top-links -->
    @* Sidebar menu implementation *@

    @if (Session["SideBarMenu"] == null)
    {
        Session["SideBarMenu"] = @Html.Partial("_Sidebar");
    }
    @Session["SideBarMenu"]
    @* End Sidebar menu implementation *@

</nav>