
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style type="text/css">


.bs-example{
                margin: 20px;
            }


.responstable {
  margin: 1em 0;
  width: 120%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}

  .responstable th:nth-child(2):after {
    display: none;
  }

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}


.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}


</style>


        </style>

<br />
<br />
<br />
<br />
<h2>Inbox</h2>
<div id="container" class="fr-widget fr-container fr_container">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @*<table class="responstable">
                        <thead>
                            <tr>
                               
                               
                                <th>Sender</th>
                                <th>Date</th>
                             
                            </tr>
                           
                        </thead>*@
                       
                            @*<tr>

                <td>ABC@gmail.com</td>
                <td>30 Aug</td>


            </tr>
            <tr>

                <td>1230145670</td>
                <td>21-03-2006</td>

            </tr>
            <tr>

                <td>4569871230</td>
                <td>12-09-2002</td>

            </tr>
            <tr>

                <td>4569871230</td>
                <td>17-07-1999</td>

            </tr>
            <tr>

                <td>4569871230</td>
                <td>19-12-2001</td>

            </tr>*@
                        @*<tbody ng-repeat="mail in sEmails = ($data | filter:tempObject.From) track by $index">
                            <tr>
                                <td colspan="2" class="wrap-words text-left" style="border-top:none;">{{mail.From}}</td>
                            </tr>
                            <tr>
                                <td class="wrap-words text-left col-lg-10" style="border-top:none;"><a href="" ng-click="viewDetails(mail)">{{mail.Subject}}</a></td>
                                <td class="wrap-words text-right col-lg-2" style="border-top:none;">{{mail.LastModifiedDate | date:'MMM dd'}}</td>
                            </tr>
                        </tbody>*@

                        <table class="table table-hover">
                            <thead>
                            <th></th>
                            <th></th>
                            <th></th>
                            </thead>

                            <tbody>
                                <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                                    <td>Abdc@gmail.com</td>
                                    <td>aug 30</td>
                                   
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="accordion" class="collapse">Here is the mail Data that u need to read</div>
                                    </td>
                                </tr>
                                <tr data-toggle="collapse" data-target="#accordion1" class="clickable">
                                    <td>Abdc@gmail.com</td>
                                    <td>aug 30</td>

                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="accordion1" class="collapse">Here is the mail Data that u need to read</div>
                                    </td>
                                </tr>
                                <tr data-toggle="collapse" data-target="#accordion2" class="clickable">
                                    <td>Abdc@gmail.com</td>
                                    <td>aug 30</td>

                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="accordion2" class="collapse">Here is the mail Data that u need to read</div>
                                    </td>
                                </tr>
                                <tr data-toggle="collapse" data-target="#accordion3" class="clickable">
                                    <td>Abdc@gmail.com</td>
                                    <td>aug 30</td>

                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="accordion3" class="collapse">Here is the mail Data that u need to read</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>

