@*<li class="outer_menu_item_top">
    <a>
        <span class="text_beside_icon">Home</span>
    </a>
    <span class="label_on_collapsed floating_menu_label">Home</span>
</li>*@
@model PortalTemplate.Areas.UM.Models.ViewModels.Other.MenuViewModel
@if (Model == null)
{
    ViewBag.SubsriberID = null;
}
else
{
    ViewBag.SubsriberID = Model.SubscriberID;
}
<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation member-actions" id="memberProfileBtn"
       data-tab-action="Member Profile"
       data-tab-title="Profile"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-path="/Portal/MemberManage/GetMemberDetails?SubscriberID=@ViewBag.SubsriberID"
       data-tab-defaultparenttab="Member"
       data-tab-userid=""
       data-tab-usertype="Member"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-float-menu-path="/UM/Menu/GetMenu?SubscriberID=@ViewBag.SubsriberID"
       data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById?SubscriberID=@ViewBag.SubsriberID"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr><span class="text_beside_icon">Profile</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Profile</span>
</li>
<li class="info-number work_menu_special_item">
    <a class="tab-navigation member-actions" id="createAuthBtn" data-tab-val="createauth" data-tab-realestate="INTAKE"
       data-tab-action="Create An Auth"
       data-tab-title="Create An Auth"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-path="/UM/Authorization/Index?SubscriberID=@ViewBag.SubsriberID"
       data-tab-defaultparenttab="Member"
       data-tab-userid=""
       data-tab-usertype="Member"
       data-tab-float-menu-path="/UM/Menu/GetMenu?SubscriberID=@ViewBag.SubsriberID"
       data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById?SubscriberID=@ViewBag.SubsriberID"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr> <span class="text_beside_icon">Create An Auth</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Create New Auth</span>
</li>
<li class="info-number work_menu_special_item">
    <a class="tab-navigation member-actions" id="PortalReqBtn" data-tab-val="portalauth" data-tab-realestate="Portal Auth"
       data-tab-action="Portal Request"
       data-tab-title="Portal Request"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-path="/Portal/PriorAuth/Index"
       data-tab-defaultparenttab="Member"
       data-tab-userid=""
       data-tab-usertype="Member"
       data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml"
       data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr> <span class="text_beside_icon">Portal Request</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Create New Auth</span>
</li>
@*<li class="info-number work_menu_special_item">
        <a class="tab-navigation member-actions" id="ViewPortalAuthBtn" data-tab-val="portalauthview" data-tab-realestate="Portal Auth View"
           data-tab-action="View Portal Auth"
           data-tab-title="View Portal Auth"
           data-tab-parentcontainer="partialBodyContainer"
           data-tab-floatmenu="true"
           data-tab-container="innerTabContainer"
           data-tab-autoflush="false"
           data-tab-issubtab="true"
           data-tab-parenttabtitle=".outertabs.active > a > b"
           data-tab-path="~/Areas/UM/Views/PortalAuth/_ViewPortalAuth.cshtml"
           data-tab-defaultparenttab="Member"
           data-tab-userid=""
           data-tab-usertype="Member"
           data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml"
           data-tab-parenttabpath="~/Areas/UM/Views/Member/_MemberHeader.cshtml"
           data-tab-parenttabrenderingarea="headerArea">
            <nobr> <span class="text_beside_icon">View Portal Auth</span></nobr>
        </a>
        <span class="label_on_collapsed floating_menu_label">Create New Auth 2</span>
    </li>*@
<li class="info-number outer_menu_item_top">
    <a class="tab-navigation member-actions" id="memberHistoryBtn" data-tab-val="authHistory"
       data-tab-action="Auth History"
       data-tab-title="Auth History"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-path="/UM/History/GetHistoryListData"
       data-tab-defaultparenttab="Member"
       data-tab-userid=""
       data-tab-usertype="Member"
       data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml"
       data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr><span class="text_beside_icon">Auth History </span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Auth History</span>
</li>
<li class="info-number outer_menu_item_top">
    <a class="">
        <nobr><span class="text_beside_icon">Case History </span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Case History</span>
</li>
<li class="info-number outer_menu_item_top">
    <a class="tab-navigation member-actions" id="memberHistoryBtn" data-tab-val="authHistory"
       data-tab-action="Claims"
       data-tab-title="Claims"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-path="~/Views/Home/_MemberClaimList.cshtml"
       data-tab-defaultparenttab="Member"
       data-tab-userid=""
       data-tab-usertype="Member"
       data-tab-float-menu-path="~/Areas/UM/Views/Shared/_UMFloatMenu.cshtml"
       data-tab-parenttabpath="/Portal/MemberManage/GetMemberHeaderById"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr><span class="text_beside_icon">Claims </span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Claims</span>
</li>
<li class="info-number outer_menu_item_top">
    <a class="">
        <nobr><span class="text_beside_icon">Notes </span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Notes</span>
</li>
<li class="info-number outer_menu_item_top">
    <a class="">
        <nobr><span class="text_beside_icon">Reports </span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Reports</span>
</li>

