@*<li class="info-number outer_menu_item_top cursor_pointer " style="height: 34px;top: 10px; " id="backToMemberMenu">
        <nobr>
            <span style="position: relative; left: 16px; top: 7px;">
                <span class="go-forward-btn">Open Float Menu </span>
                <img src="~/Resources/Images/Icons/newforward.png" style="width: 40px; top: -3px; position: relative; " />
            </span>
        </nobr>
    </li>*@
<li class="info-number outer_menu_item_top cursor_pointer " style="height: 34px;top: 10px; " id="backToMenu">
    <nobr>
        <span style="position: relative; left: 16px; top: 5px; font-size: 14px;">
            <img src="~/Resources/Images/Icons/newback.png" style="height: 14px;" />
            <span class="go-back-btn">Go to Main Menu </span>
        </span>
    </nobr>
</li>
<li class="collapsed_click outer_menu_item_top active">
    <ul class="nav child_menu" style="display: block; margin-top: 10px;">

        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="Dashboard" data-tab-title="Dashboard" data-tab-path="~/Views/DashBoards/_IntakeDashboard.cshtml" data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">Dashboard</span>
            </a>
        </li>
    </ul>
</li>
<li class="collapsed_click active">
    <a class="expand_click menu_click_expanded outer_menu_item_under expanded">
        &nbsp;<span class="text_beside_icon">Member House</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>

    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Search Member
                </span>
            </a>
        </li>
    </ul>
</li>
<li class="collapsed_click active">
    <a class="expand_click menu_click_expanded expanded outer_menu_item_under">
        &nbsp;<span class="text_beside_icon">Queue</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>
    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Intake Queue"
               data-tab-title="Intake Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=Intake&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    Intake Queue
                </span>
            </a>
        </li>

        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Nurse Queue"
               data-tab-title="Nurse Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=Nurse&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">Nurse Queue</span>
            </a>

        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Facility Nurse Queue"
               data-tab-title="Facility Nurse Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=FNurse&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">Facility Nurse Queue</span>
            </a>

        </li>
       
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="MD Queue"
               data-tab-title="MD Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=MD&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    MD Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Facility  Queue"
               data-tab-title="Facility  Queue"
               data-tab-path="/UM/Queue/GetFacilityQueue?QueueType=Facility&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">Facility  Queue</span>
            </a>

        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="PAC Queue"
               data-tab-title="PAC Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=PAC&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    PAC Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="CD Queue"
               data-tab-title="CD Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=CD&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    CD Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="CD Queue"
               data-tab-title="QC Approval Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=QCApproval&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    QC APPROVAL Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="CD Queue"
               data-tab-title="QC Denial Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=QCDenial&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    QC DENIAL Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Own Queue"
               data-tab-title="Barbara Joy Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=OWN&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    BJOY Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Own Queue"
               data-tab-title="Global Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=global&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    Global Queue
                </span>
            </a>
        </li>
        @*<li class=" outer_menu_item_top collapsed_click">
        <a class="expand_click tab-navigation"
           data-tab-action="PCP Queue"
           data-tab-title="PCP Queue"
           data-tab-path="/Portal/PriorAuthQueue/GetQueue?QueueType=PCP&QueueTab=work"
           data-tab-container="fullBodyContainer"
           data-tab-moveright="true">
            <span class="text_beside_icon">
                PCP Queue
            </span>
        </a>
    </li>*@
    @*<li class=" outer_menu_item_top">
        <a class="expand_click menu_click_expanded tab-navigation"
           data-tab-action="Bridge REQUESTS"
            data-tab-title="Bridge REQUESTS"
           data-tab-path="/BridgeQueue/Index"
           data-tab-container="fullBodyContainer">
            <span class="text_beside_icon">
                BRIDGE REQUESTS QUEUE
            </span>
        </a>
    </li>
    <li class=" outer_menu_item_top">
        <a class="expand_click menu_click_expanded tab-navigation"
           data-tab-action="Bridge REQUESTS"
           data-tab-title="Bridge REQUESTS"
           data-tab-path="/Portal/FacilityBridgeQueue/Index"
           data-tab-container="fullBodyContainer">
            <span class="text_beside_icon">
                Facility BRIDGE REQUESTS QUEUE
            </span>
        </a>
    </li>
    <li class=" outer_menu_item_top">
        <a class="expand_click menu_click_expanded tab-navigation"
           data-tab-action="Facility"
           data-tab-title="Facility"
           data-tab-path="/Portal/Facility/Index"
           data-tab-container="fullBodyContainer">
            <span class="text_beside_icon">
                Facility
            </span>
        </a>
    </li>
    <li class=" outer_menu_item_top">
        <a class="expand_click menu_click_expanded tab-navigation"
           data-tab-action="Contact Management"
           data-tab-title="Contact Management"
           data-tab-path="/UM/ContactManagement/Index"
           data-tab-container="fullBodyContainer">
            <span class="text_beside_icon">
                Contact MGMT
            </span>
       </a>
    </li>
    <li class=" outer_menu_item_top">
        <a class="expand_click menu_click_expanded tab-navigation"
           data-tab-action="Note Management"
           data-tab-title="Note Management"
           data-tab-path="/UM/NoteManagement/Index"
           data-tab-container="fullBodyContainer">
            <span class="text_beside_icon">
                Note Management
            </span>
        </a>
    </li>*@
    </ul>

</li>
<script>
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $li = $(this);
        slideMenu($li);
    });
    function slideMenu($li, $a) {
        if ($a.hasClass('expanded')) {
            $a.addClass('collapsed').removeClass("expanded");
            // $('ul:first', $li).slideUp();
        } else if ($a.hasClass('collapsed')) {
            $a.addClass("expanded").removeClass('collapsed');
            //$('ul:first', $li).slideDown();
        }
    };
    $('#sidebar-menu').on('click', '.menu_click_expanded', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
</script>

