.viewtype {
    font-weight: bold;
    text-transform: uppercase;
}

.accounts_switch {
    margin-top: 7px;
    margin-right: 5px;
}

.createAccountform {
    margin-top: 10px;
}

.availabiltycheckspan {
    margin-left: 15px;
}

    .availabiltycheckspan i {
        color: red;
    }

.accmap {
    margin-left: 10px;
    text-decoration: underline;
}

    .accmap a, .accmap i {
        color: #268ae2;
    }

.theadcoltextlabel {
    color: black !important;
    font-weight: normal !important;
}

.theadfilter {
    color: black !important;
    font-weight: normal !important;
}

.filtersdiv {
    margin-bottom: 5px;
    border-top: 2px solid #49739e;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    background-color: aliceblue;
}

.actionscol {
    color: black !important;
    font-weight: normal !important;
}
/*==================================*/
.group {
    position: relative;
    margin-bottom: 0;
    margin-left: 0;
}

.inputMaterial {
    padding: 15px 10px 5px 5px;
    display: block;
    width: 75%;
    border: none;
    border-bottom: 1px solid #03A9F4;
    background-color: aliceblue;
}

    .inputMaterial:focus {
        outline: none;
    }

/* LABEL ======================================= */

.mainfloatfilter > label {
    color: black;
    /* font-size: 14px; */
    text-transform: uppercase;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.mainfloatfilter > span {
    /*font-family: 'Roboto';*/
    /* font-size: 32px; */
    color: white;
    text-align: center;
    line-height: 41px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
    top: 0;
    /*font-size:14px;*/
    font-weight: 500;
    color: #03A9F4;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 75%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #03A9F4;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 32%;
    }

    .bar:after {
        right: 62%;
    }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
    width: 50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}



.mainfilter {
    width: 15% !important;
    color: #2196F3;
}

/*==========VIEW ACCOUNT===================*/
.accview_data {
    color: black;
}

.accview_row {
    margin-bottom: 10px;
    margin-top: 10px;
}
