@model PortalTemplate.Areas.Portal.Models.ProviderBridge.AddProvider.AddProviderViewModel
<script src="~/Areas/Portal/Scripts/BridgeProviderAccept/BridgeProviderAccept.js"></script>

@{

}
<div class="container">

</div>

<fieldset class="AddProviderModal" >
   <h3>DO YOU WANT TO ADD THIS PROFILE ?</h3>
</fieldset>
 