<div class="x_content">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
        <img class="col-lg-6 col-md-6 modal-header-logo" src="/Resources/Images/Common/ahc_logo.png">
    </div>

    <div class="col-md-9">
        <div class="col-md-offset-2 col-md-5">
            <h3>
                <b>AUTHORIZATION </b>
            </h3>
        </div>
        <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <div style="text-align: right;" class="col-md-12">
            <span class="text-uppercase" style="">UHP Auth Number : ________________________</span>
        </div>
        <div style="text-align: right;margin-right: 5%;text-transform: none;" class="col-md-12">
            <i>(For Plan use only) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
        </div>

    </div>
</div>
<div class="row col-lg-12"><center>SUBMITTED BY: <b class="ng-binding">BARBARA JOY</b></center></div>