.form-style fieldset {
        padding: 15px 20px 5px 20px;
    }

    .grow {
        transition: all .2s ease-in-out;
    }

        .grow:hover {
            transform: scale(1.5);
        }

    .select-page {
        width: 50px;
        text-align: center;
    }

    .loadingHistory {
        padding-left: 7px;
    }

    .pagination li a input {
        padding: 0;
        margin: -5px 0;
    }

    .my-animation.ng-enter {
        -webkit-animation: flipInY 1s;
        -moz-animation: flipInY 1s;
        animation: flipInY 1s;
    }

    .my-animation.ng-leave {
        -webkit-animation: flipOutY 1s;
        -moz-animation: flipOutY 1s;
        animation: flipOutY 1s;
    }