@model List<PortalTemplate.Areas.Billing.Models.Clearing_House.ClearingHouseViewModel>

<p-link filepath="~/Areas/Billing/Contents/CSS/Common/bootstrap-duallistbox.css" rel="stylesheet"></p-link>
<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/Clearing%20House/Unminified/ClearingHouse.css" rel="stylesheet"></p-link>
<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/Clearing%20House/Unminified/Settings1.css" rel="stylesheet"></p-link>

<div class="inner_menu_container">
    <ul class="tabs-menu clearfix">
        <li class="current">
            <a href="#List837s" class="list-item no_underline">
                Clearing House
            </a>
        </li>
    </ul>
</div>

<div class=" x_panel col-lg-12 clearingHouse_container">
    <div id="clearinghouse_list">
        @Html.Partial("~/Areas/Billing/Views/ClearingHouse/_ClearingHouseList.cshtml", Model)
    </div>
    <div id="selected_clearingHouse">

    </div>

</div>


<p-script filepath="~/Areas/Billing/Scripts/AppJs/ClearingHouse/Unminifed/ClearingHouse.js"></p-script>

