@model List<PortalTemplate.Areas.Billing.Models.Clearing_House.ClearingHouseViewModel>


@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ClearingHouseId
        </td>
        <td>
            @item.ClearingHouseName
        </td>
        <td>
            @item.PayersCount
        </td>
        <td data-container="@item.ClearingHouseId">
            <button class="btn btn-info btn-xs margin_left_12px view_clearinghouse_btn" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i></button>
            <button class="btn btn-info btn-xs margin_left_12px edit_clearinghouse_btn" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></button>
        </td>
    </tr>
}
