

<p-link filepath="~/Areas/Billing/Contents/CSS/Common/bootstrap-duallistbox.css" rel="stylesheet"></p-link>
<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/Clearing%20House/Unminified/ClearingHouse.css" rel="stylesheet"></p-link>

<div class="x_panel clearingHouse_container">
    <div id="clearinghouse_list">
 
    </div>
    <div id="selected_clearingHouse">

    </div>

</div>

<p-script filepath="~/Areas/Billing/Scripts/AppJs/ClearingHouse/Unminifed/ClearingHouse.js"></p-script>