
<script src="~/Scripts/Custom/DashBoard/ProviderDashboardController.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-check fa-fw"></i> Upcoming Renewals
    </div>
    <div class="panel-body">
        <div ng-controller="ProviderDashboardController" ng-cloak class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4 zero-padding-left-right-div" style="border-right: 1px solid #eeeeee;">
                <div class="col-lg-12">
                    <span class="h4">Total Count : {{GrandTotalLicenses}}</span>
                    <span class="pull-right">
                        <select ng-model="filterDays" ng-change="getDataAccordingDays(filterDays)" class="form-control input-sm">
                            <option value="" ng-selected="true">Days</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                            <option value="60">60</option>
                            <option value="70">70</option>
                            <option value="80">80</option>
                            <option value="90">90</option>
                            <option value="180">180</option>
                        </select>
                    </span>
                    <hr />
                </div>
                <div class="col-lg-12">
                    <div class="list-group">
                        <a ng-repeat="ld in LicenseData track by $index" ng-click="getLicensTypeData(ld)" class="list-group-item pointer" ng-class="{active:LicenseType == ld.LicenseType, 'license-validation-expired':ld.LicenseStatus.ExpiredLicense > 0, 'license-validation-warning':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense > 0), 'license-validation-success':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense == 0 && ld.LicenseStatus.ValidLicense > 0)}">
                            {{ld.LicenseType}}
                            <span ng-if="ld.LicenseStatus.ValidLicense > 0" class="badge license-validation-success" tooltip data-toggle="tooltip" data-placement="right" title="Upcoming Renewals">{{ld.LicenseStatus.ValidLicense}}</span>
                            <span ng-if="ld.LicenseStatus.PendingDaylicense > 0" class="badge license-validation-warning" tooltip data-toggle="tooltip" data-placement="top" title="Renewal Needed">{{ld.LicenseStatus.PendingDaylicense}}</span>
                            <span ng-if="ld.LicenseStatus.ExpiredLicense > 0" class="badge license-validation-expired" tooltip data-toggle="tooltip" data-placement="left" title="Expired">{{ld.LicenseStatus.ExpiredLicense}}</span>
                            <span ng-if="ld.Licenses.length == 0" class="badge" tooltip data-toggle="tooltip" data-placement="right" title="No Upcoming Renewals">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 form-style">
                <fieldset>
                    <legend>
                        {{LicenseType}}
                    </legend>
                    <div ng-if="CurrentPageLicenses.length > 0" providerlicensedetailstable></div>

                    @*<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                    <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>*@

                    <div ng-if="CurrentPageLicenses.length == 0">No upcoming {{LicenseType}} expiries</div>
                </fieldset>
            </div>
            @*<div class="col-lg-12">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    The following Profile Information doesn't have expiry dates mentioned, please go and update them.<br />
                    <a href="#">Federal DEA</a>, <a href="#">Hospital Privileges</a>
                </div>
            </div>*@
        </div>
    </div>
</div>