<div class="row viewelements" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 theme_label">
        @*    <fieldset class="fieldsetStyle" style="background:white;">*@
        @*<div class="col-lg-8"><label class="title_text">Accounts Details</label></div>*@

        @* <legend class="legendstyle">Account Holder Details</legend>*@
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Name
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholdername"></label></div>
                <input type="text" id="editaccountholdername" class="form-control EditAccountDetails input-xs " />

                @*<div class="Editable"><input type="text" id="editaccountholdername" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Address Apt#
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderaddress"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="AddressApt" id="editaccountholderaddress" />
                @*<div class="Editable"><input type="text" id="editaccountholderaddress" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Street
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderstreet"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder=" Street" id="editaccountholderstreet" />
                @* <div class="Editable"><input type="text" id="editaccountholderstreet" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                City
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholdercity"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="City" id="editaccountholdercity" />
                @* <div class="Editable"><input type="text" id="editaccountholdercity" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>

        </div>
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                County
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholdercounty"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="County" id="editaccountholdercounty" />
                @*  <div class="Editable"><input type="text" id="editaccountholdercounty" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                State
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderstate"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="State" id="editaccountholderstate" />
                @*  <div class="Editable"><input type="text" id="editaccountholderstate" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Pincode
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderpincode"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="Pincode" id="editaccountholderpincode" />
                @*  <div class="Editable"><input type="text" id="editaccountholderpincode" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Tax ID
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholdertaxid"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="TaxID" id="editaccountholdertaxid" />
                @*  <div class="Editable"><input type="text" id="editaccountholdertaxid" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
        </div>
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Fax No.
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderfaxno"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="FaxNo" id="editaccountholderfaxno" />
                @*  <div class="Editable"><input type="text" id="editaccountholderfaxno" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Email
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholderemail"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="Email" id="editaccountholderemail" />
                @*   <div class="Editable"><input type="text" id="editaccountholderemail" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Contact No.
                <div class="Label ViewAccountDetails"><label class="uppercase" id="accountholdercontactno"></label></div>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="ContactNo" id="editaccountholdercontactno" />
                @*     <div class="Editable"><input type="text" id="editaccountholdercontactno" class="form-control input-xs non_mandatory_field_halo"></div>*@
            </div>
        </div>
        @*<div class="col-lg-12  zero-padding-left" id="SaveCancBtn" hidden>
                <br /> <a class="btn btn-xs btn-warning pull-left" style="margin-left:5px;" id="CancelAccountHolderEditBtn">Cancel</a>
                <a class="btn btn-xs btn-success pull-right" style="margin-left:5px;" id="SaveAccountHolderBtn">Save</a>
            </div>*@
        @*  </fieldset>*@
    </div>
</div>
