<div class="row viewelements">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 theme_label">
        @* <fieldset class="fieldsetStyle" style="background: white">*@
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                AccountID
                <div>
                    <label class="uppercase ViewAccountDetails" id="accountid"></label>
                    <input type="text" class="EditAccountDetails form-control input-xs" placeholder="AccountID" id="editaccountid" readonly />
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            Account Name
            <div class="viewelements "><label class="uppercase ViewAccountDetails" id="accountname"></label>
                <input type="text" class="EditAccountDetails form-control input-xs" placeholder="AccountName" id="editaccountname" /></div>
           
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            Account Type
            <div class="viewelements "><label class="uppercase ViewAccountDetails" id="accounttype"></label>

                <select class="EditAccountDetails form-control input-xs"id="editaccounttype" >
                <option disabled>SELECT TYPE
                    </option>
                    <option>Organization</option>
                <option>Individual</option>
                </select></div>
            
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            Status
            <div class="viewelements "><label class="uppercase" id="accountstatus">Active</label></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 theme_label">
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Created By
                <div>
                    <label class="uppercase ViewAccountDetails" id="accountcreatedby"></label>
                    <input type="text" class="EditAccountDetails form-control input-xs" placeholder="CreatedBy" id="editaccountcreatedby" readonly />
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Created On
                <div class="viewelements ">
                    <label class="uppercase ViewAccountDetails" id="accountcreatedon"></label>
                    <input type="text" class="EditAccountDetails form-control input-xs" placeholder=" LastModifiedBy" id="editaccountcreatedon" readonly />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Last Modified By
                <div class="viewelements ">
                    <label class="uppercase ViewAccountDetails" id="accountlastmodifiedby"></label>
                    <input type="text" class="EditAccountDetails form-control input-xs" placeholder=" LastModifiedBy" id="editaccountlastmodifiedby" readonly />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Last Modified On
                <div class="viewelements "><label class="uppercase" id="accountlastmodifiedon"></label></div>
            </div>
        </div>
        @*</fieldset>*@
    </div>
</div>
