<div class="row viewelements">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:8px;">
            @* <legend class="legendstyle">Account Admins</legend>*@
            @*<label class="p_legendHeader">Rendering Provider Details</label>*@

        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped" style="    border-bottom: 1px solid;">
            <thead class="theme_thead">
                <tr>
                    <th class="withfilter sm-mbrid">
                        <span class="styled-input">
                            <input class="filer-search" type="text" required="">
                            <label>Admin Name</label>
                            <span></span>
                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                        </span>
                    </th>
                    <th class="withfilter sm-mbrid">
                        <span class="styled-input">
                            <input class="filer-search" type="text" required="">
                            <label>Email</label>
                            <span></span>
                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                        </span>
                    </th>
                    <th class="withfilter sm-mbrid">
                        <span class="styled-input">
                            <input class="filer-search" type="text" required="">
                            <label>Phone</label>
                            <span></span>
                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                        </span>
                      </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="accountAdmins" class="theme_label_data">
                <tr id="addNewAccountAdmin" hidden>
                    <td>
                        <input list="AllUsers" id="AdminInput" type="text" class="form-control input-xs" placeholder="Select User"/>
                        <datalist id="AllUsers"></datalist>
                    </td>
                    <td><input type="text" class="form-control input-xs" disabled id="AdminEmail" placeholder="Email" /></td>
                    <td><input type="text" class="form-control input-xs" disabled id="AdminPhone" placeholder="Phone" /></td>
                    <td>
                        <a class="btn btn-xs btn-success" style="" id="UserFound" onclick="AddAdminUser()"><i class="fa fa-plus"></i> Add &nbsp;</a>
                        <a class="btn btn-xs btn-success  tab-navigation member-actions" style="display:none;" id="UserNotFound" data-toggle="tooltip" data-placement="bottom" title="Add New User" data-tab-val="Add New User" data-tab-action="Add New User" data-tab-title="Add New User" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="~/Areas/AM/Views/AccountManagement/_AddNewUser.cshtml" data-tab-floatmenu="true" data-tab-float-menu-path="~/Areas/AM/Views/Shared/_AMFloatMenu.cshtml"><i class="fa fa-plus"></i> Add New User&nbsp;</a>
                        <a class="btn btn-xs btn-danger" style="" id="cancelAddNewAccountAdminBtn"><i class="fa fa-close"></i> Cancel &nbsp;</a>
                    </td>
                </tr>
                <tr>
                    <td>Barbara</td>
                    <td>bjoy@ahc.com</td>
                    <td>080-22548</td>
                    <td>
                        <a class="btn btn-xs btn-primary" style="" onclick="ViewUser('1')"><i class="fa fa-eye"></i> View</a>
                        <a class="btn btn-xs btn-primary" style="" onclick="EditUser('1')"><i class="fa fa-edit"></i> Edit</a>
                        @*<a class="btn btn-xs btn-danger" style="" id="removeAccountAdminBtn"><i class="fa fa-close"></i> Remove</a>*@

                    </td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>john@ahc.com</td>
                    <td>080-44518</td>
                    <td>
                        <a class="btn btn-xs btn-primary" style="" onclick="ViewUser('2')"><i class="fa fa-eye"></i> View</a>
                        <a class="btn btn-xs btn-primary" style="" onclick="EditUser('2')"><i class="fa fa-edit"></i> Edit</a>
                        @*<a class="btn btn-xs btn-danger" style="" id="removeAccountAdminBtn"><i class="fa fa-close"></i> Remove</a>*@

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
