<style>

</style>
<div class="modal fade" tabindex="-1" role="dialog" id="AddUserModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ModalDialog" id="ModalDialog">
        <form class="modal-content ModalContent" id="ModalContent" style=" background: #f7f7f7">
            <div class="modal-header shared-floating-modal-header ui-draggable-handle">
                <div class="col-md-12 col-lg-12">

                    <i class="fa fa-user-plus"></i>
                    <label>ADD NEW USER</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" onclick="CloseModal('AddUserModal')" data-dismiss="modal" style="margin-top:-3px"><i class="fa fa-close"></i></button>
                    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Maximize" class="btn btn-xs btn-success pull-right ExpandModalBtn" id="ExpandModalBtn" onclick="FullScreenModal('AddUserModal'); ShowHide('CompressModalBtn', 'ExpandModalBtn')" style="margin-top:-3px"><i class="fa fa-expand"></i></button>
                    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Restore Down" class="btn btn-xs btn-success pull-right CompressModalBtn" id="CompressModalBtn" onclick="CompressModal('AddUserModal'); ShowHide('ExpandModalBtn', 'CompressModalBtn')" style="margin-top:-3px;display:none"><i class="fa fa-compress"></i></button>
                </div>
            </div>
            <div class="modal-body" style="max-height:420px;overflow-y:auto">
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">GENERAL INFORMATION</span>
                    </legend>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">USER NAME</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" USER NAME" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">CONTACT</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" CONTACT NUMBER" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">EMAIL</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" USER EMAIL" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">FAX</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" FAX NUMBER" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">ADDRESS #</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" ADDRESS" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">STREET #</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" STREET NUMBER" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">CITY</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" CITY" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">STATE</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" STATE" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">COUNTY</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" COUNTY" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">COUNTRY</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" COUNTRY" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                <div class="col-lg-4 theme_label">ZIPCODE</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                <div class="col-lg-7">
                                    <input type="text" placeholder=" ZIPCODE" class="form-control input-xs AddUserTextBoxes">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="row col-lg-12" style="margin-left:-12px">
                    <div class="" style="margin-top: -4px;display:none"><input type="checkbox" class="normal-checkbox" name="UserMappingCheckbox" id="UserMappingCheckbox" /><label><span></span></label></div>
                    <div class="col-lg-4 nopadding">
                        <div style="border: 1px solid;height: 21px;padding: 1px 20px;box-shadow: 1px 1px 5px;">
                            <label for="UserMappingCheckbox" class="cursor_pointer text-primary pull-left">
                                <b>USER MAPPINGS&nbsp;&nbsp;@*;<i class="fa fa-chevron-down" id="mapAccountIcon"></i>*@</b>
                            </label>
                            <label for="UserMappingCheckbox" class="cursor_pointer pull-right">
                                <i class="fa fa-chevron-down" id="UserMappingCheckboxIcon"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <br />

                <div id="UserMapping" hidden>
                    <div class="row col-lg-12" style="">
                        <ul class="nav nav-tabs" style="font-weight: bold; margin-left: 7px">
                            <li class="active mainnav"><a data-toggle="tab" href="#UserAccountMapping" @*onclick="tabchange(event, 'schedule')"*@ style="text-decoration:none;">USER-ACCOUNT MAPPING</a></li>
                            <li class="mainnav subTab"><a data-toggle="tab" href="#UserUserMapping" style="text-decoration:none;">USER-USER MAPPING</a></li>
                            <li class="mainnav subTab"><a data-toggle="tab" href="#UserPrivlgesMapping" style="text-decoration:none;">USER-PRIVILEGES MAPPING</a></li>
                        </ul>

                        <div class="tab-content p_background zero-padding-left-right">
                            <div id="UserAccountMapping" class="tab-pane fade in active p_background">
                                <fieldset class="fieldsetStyle " style="background: white;">
                                    <legend class="legendStyle noBorder">
                                        <span class="theme_depend title_text text-uppercase ">USER - ACCOUNT MAPPING</span>
                                    </legend>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">ACCOUNT</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    <select class="select-plugin AddUserTextBoxes" multiple id="ListAllAccounts" data-placeholder="SELECT ACCOUNTS" style="width:100%;height:22px"></select>
                                                    @*<input type="text" list="ListAllAccounts" placeholder="SELECT ACCOUNT" class="form-control input-xs AddUserTextBoxes">
                                                    <datalist id="ListAllAccounts"></datalist>*@
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">TEAM</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    <select class="select-plugin AddUserTextBoxes" multiple id="ListAllTeams" data-placeholder="SELECT TEAMS" style="width:100%;height:22px"></select>
                                                    @*<input type="text" list="ListAllTeams" placeholder="SELECT TEAM" class="form-control input-xs AddUserTextBoxes">
                                                    <datalist id="ListAllTeams"></datalist>*@
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">ROLE</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    <select class="select-plugin AddUserTextBoxes" multiple id="ListAllRoles" data-placeholder="SELECT ROLES" style="width:100%;height:22px"></select>
                                                    @*<input type="text" list="ListAllRoles" placeholder="SELECT ROLE" class="form-control input-xs AddUserTextBoxes">
                                                    <datalist id="ListAllRoles"></datalist>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="UserUserMapping" class="tab-pane fade">
                                <fieldset class="fieldsetStyle " style="background: white;">
                                    <legend class="legendStyle noBorder">
                                        <span class="theme_depend title_text text-uppercase ">USER - USER MAPPING</span>
                                    </legend>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12">
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">USER NAME</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    @*<select class="select-plugin" id="ListAllUsers" data-placeholder="SELECT ROLES" style="width:100%;height:22px"></select>*@
                                                    <input list="ListAllUsers" type="text" id="MappedUserName" placeholder="SELECT USER" class="form-control input-xs AddUserTextBoxes" autocomplete="off">
                                                    <datalist id="ListAllUsers" class="ListAllUsers"></datalist>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">TEAM</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    <input type="text" id="UserTeam" placeholder="TEAM" class="form-control input-xs AddUserTextBoxes" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                <div class="col-lg-4 theme_label">ROLE</div>
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                                <div class="col-lg-7">
                                                    <input type="text" id="UserRole" placeholder="ROLE" class="form-control input-xs AddUserTextBoxes" readonly>
                                                </div>

                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-lg-offset-8 col-lg-4">
                                                    <a class="pull-right btn btn-xs btn-success" style="" onclick="MapUser()"><i class="fa fa-plus"></i> MAP USER &nbsp;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped" id="MappedUserTable" style="border-bottom: 1px solid;">
                                        <thead class="theme_thead">
                                            <tr>
                                                <th class="withfilter sm-mbrid">
                                                    <span class="styled-input">
                                                        <input class="filer-search" type="text" required="">
                                                        <label>User Name</label>
                                                        <span></span>
                                                        <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </th>
                                                <th class="withfilter sm-mbrid">
                                                    <span class="styled-input">
                                                        <input class="filer-search" type="text" required="">
                                                        <label>Team</label>
                                                        <span></span>
                                                        <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                </th>
                                                <th class="withfilter sm-mbrid">
                                                    <span class="styled-input">
                                                        <input class="filer-search" type="text" required="">
                                                        <label>Role</label>
                                                        <span></span>
                                                        <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                    </span>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="MappedUsers" class=" theme_label_data"></tbody>
                                    </table>
                                </fieldset>
                            </div>
                            <div id="UserPrivlgesMapping" class="tab-pane fade">
                                <fieldset class="fieldsetStyle " style="background: white;">
                                    <legend class="legendStyle noBorder">
                                        <span class="theme_depend title_text text-uppercase ">USER - PRIVILEGES MAPPING</span>
                                    </legend>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:-30px">
                                            <div class="col-lg-12">
                                                <br /><div class="col-lg-4 theme_label">BUSINESS PROCESSES</div>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control input-xs AddUserRoleTextBoxes" list="RoleBPs" id="AddUserBPInputField" placeholder="SELECT BUSINESS PROCESS " />
                                                    <datalist class="RoleBPs"></datalist>
                                                </div>
                                            </div><br />
                                            <div id="PrivilagesForAddUser" hidden>
                                                <div class="col-lg-12">

                                                    <fieldset class="fieldsetStyle" style="background:white;">
                                                        <legend class="legendStyle noBorder">
                                                            <span class="theme_depend title_text text-uppercase ">BUSINESS PROCESSE PRIVILEGES</span>
                                                        </legend>
                                                        <div style="margin-top: -33px;">
                                                            <div class="pull-right inner-addon right-addon">
                                                                <i class="fa fa-search"></i>
                                                                <input type="text" class="form-control input-xs" placeholder="SEARCH FEATURE" />
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="row viewelements" style="margin-top:-5px;">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <ul class="nav nav-tabs" style="font-weight: bold;">
                                                                    <li class="active mainnav"><a data-toggle="tab" href=".ClaimsCategoryTab1" style="text-decoration:none;"><span class="charge badge" style="background-color: #0288d1;">4</span>&nbsp;&nbsp;MANAGE AUTH</a></li>
                                                                    <li class="mainnav subTab"><a data-toggle="tab" href=".ClaimsCategoryTab2" style="text-decoration:none;"><span class="charge badge" style="background-color: #1b5e20; ">3</span>&nbsp;&nbsp;NOTE MANAGEMENT</a></li>
                                                                    <li class="mainnav subTab"><a data-toggle="tab" href=".ClaimsCategoryTab3" style="text-decoration:none;"><span class="charge badge" style="background-color: #66b553; ">2</span>&nbsp;&nbsp;DOCUMENT MANAGEMENT</a></li>
                                                                </ul>

                                                                <div class="tab-content p_background zero-padding-left-right">
                                                                    <div id="" class="tab-pane fade in active p_background ClaimsCategoryTab1">
                                                                        <br />
                                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                                            <thead class="theme_thead">
                                                                                <tr>
                                                                                    <th class="withfilter sm-mbrid" style="width:30%">
                                                                                        <span class="styled-input">
                                                                                            <input class="filer-search" type="text" required="">
                                                                                            <label>FEATURE NAME</label>
                                                                                            <span></span>
                                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                                        </span>
                                                                                    </th>
                                                                                    <th class="withfilter sm-mbrid" style="width:40%">
                                                                                        <label>DESCRIPTION</label>
                                                                                    </th>
                                                                                    @*<th class="withfilter sm-mbrid" style="width:15%">
                                                                                        <label>COST</label>
                                                                                    </th>*@
                                                                                    <th class="withfilter sm-mbrid" style="width:15%">
                                                                                        <div style="margin-left: -1px;"><input type="checkbox" class="normal-checkbox AddUserCategory_1Check AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" onclick="SelectAllClaimsFeatures('1', 'AddUser')" /><label><span style="border:1px solid white !important"></span></label></div>
                                                                                    </th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class=" theme_label_data">
                                                                                <tr class="">
                                                                                    <td>CREATE AUTH</td>
                                                                                    <td><span data-placement="bottom" data-container="body" data-toggle="popover" title="DESCRIPTION" data-trigger="hover" data-content="Authorization,  is a process of reviewing certain medical, surgical or behavioral health services to ensure medical necessity.">Authorization,  is a process of reviewing certain medical, surgical or ...</span></td>
                                                                                    @*  <td>$20</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td>VIEW AUTH</td>
                                                                                    <td><span data-placement="bottom" data-container="body" data-toggle="popover" title="DESCRIPTION" data-trigger="hover" data-content="User will be able to view the auths which are already created.">User will be able to view the auths which are already created. </span></td>
                                                                                    @*<td>$10</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td> AUTH PRIVIEW</td>
                                                                                    <td><span data-placement="bottom" data-container="body" data-toggle="popover" title="DESCRIPTION" data-trigger="hover" data-content="While referring or Approving or submitinh an auth then an auth preview will get generated for confirming and printing an particular auth.">While referring or Approving or submitinh an auth then an auth preview will ...</span></td>
                                                                                    @*<td>$220</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td>COPY AUTH</td>
                                                                                    <td><span data-placement="bottom" data-container="body" data-toggle="popover" title="DESCRIPTION" data-trigger="hover" data-content="If  user clicked on copy option for a particular auth then in new auth page, with all the existed information of auth1 copied">If  user clicked on copy option for a particular auth(lets say auth1) then ...</span></td>
                                                                                    @* <td>$420</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                    <div id="" class="tab-pane fade ClaimsCategoryTab2">
                                                                        <br />
                                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                                            <thead class="theme_thead">
                                                                                <tr>
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <span class="styled-input">
                                                                                            <input class="filer-search" type="text" required="">
                                                                                            <label>FEATURE NAME</label>
                                                                                            <span></span>
                                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                                        </span>
                                                                                    </th>
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <label>DESCRIPTION</label>
                                                                                    </th>
                                                                                    @*<th class="withfilter sm-mbrid">
                                                                                        <label>COST</label>
                                                                                    </th>*@
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <div style="margin-left:-1px"><input type="checkbox" class="normal-checkbox AddUserCategory_2Check AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" onclick="SelectAllClaimsFeatures('2', 'AddUser')" /><label><span style="border:1px solid white !important;"></span></label></div>
                                                                                    </th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class=" theme_label_data">
                                                                                <tr class="">
                                                                                    <td>ADD NOTE</td>
                                                                                    <td>Adding a note for particular auth</td>
                                                                                    @*<td>$20</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td>EDIT NOTE</td>
                                                                                    <td>Editing already existed note</td>
                                                                                    @*<td>$10</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td>DELETE NOTE</td>
                                                                                    <td>Deleting the note which is added</td>
                                                                                    @* <td>$420</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                    <div id="" class="tab-pane fade ClaimsCategoryTab3">
                                                                        <br />
                                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                                            <thead class="theme_thead">
                                                                                <tr>
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <span class="styled-input">
                                                                                            <input class="filer-search" type="text" required="">
                                                                                            <label>FEATURE NAME</label>
                                                                                            <span></span>
                                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                                        </span>
                                                                                    </th>
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <label>DESCRIPTION</label>
                                                                                    </th>
                                                                                    @*<th class="withfilter sm-mbrid">
                                                                                        <label>COST</label>
                                                                                    </th>*@
                                                                                    <th class="withfilter sm-mbrid">
                                                                                        <div style="margin-left:-1px"><input type="checkbox" class="normal-checkbox AddUserCategory_3Check AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" onclick="SelectAllClaimsFeatures('3', 'AddUser')" /><label><span style="border:1px solid white !important;"></span></label></div>
                                                                                    </th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class=" theme_label_data">
                                                                                <tr class="">
                                                                                    <td>ADD DOCUMENT</td>
                                                                                    <td>Adding a DOCUMENT for particular auth</td>
                                                                                    @* <td>$20</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                                <tr class="">
                                                                                    <td>EDIT DOCUMENT</td>
                                                                                    <td>Editing already existed DOCUMENT</td>
                                                                                    @* <td>$10</td>*@
                                                                                    @* <td>$10</td>*@
                                                                                    <td><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                                </tr>
                                                                            </tbody>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <br />
                                                <div class="col-lg-12">
                                                    <input type="button" class="btn btn-sm btn-success pull-right" onclick="PrivilegesMappingForAddUser()" value=" SUBSCRIBE" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset class="fieldsetStyle" style="background:white;">
                                                    <legend class="legendStyle noBorder">
                                                        <span class="theme_depend title_text text-uppercase ">PRIVILEGES SUMMARY</span>
                                                    </legend>
                                                    <div class="row viewelements" style="margin-top:-30px;">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <br />
                                                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                                <thead class="theme_thead">
                                                                    <tr>
                                                                        <th class="withfilter sm-mbrid" style="width:30%">
                                                                            <span class="styled-input">
                                                                                <input class="filer-search" type="text" required="">
                                                                                <label>BUSINESS PROCESS</label>
                                                                                <span></span>
                                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                            </span>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid" style="width:40%">
                                                                            <label>PRIVILEGES SELECTED</label>
                                                                        </th>
                                                                        <th style="width:15%">
                                                                            <label>ACTION</label>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="PrivilegesSummaryTableForAddUser" class=" theme_label_data"></tbody>

                                                            </table>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <!--<div class="row col-lg-12" style="margin-left:-12px">
                <div class="" style="margin-top: -4px;display:none"><input type="checkbox" class="normal-checkbox" name="UserPrivilegesMappingCheckbox" id="UserPrivilegesMappingCheckbox" /><label><span></span></label></div>
                <div class="col-lg-4 nopadding">
                    <div style="border: 1px solid;height: 21px;padding: 1px 20px;box-shadow: 1px 1px 5px;">
                        <label for="UserPrivilegesMappingCheckbox" class="cursor_pointer text-primary pull-left">
                            <b>MAP PRIVILEGES &nbsp;&nbsp@*;<i class="fa fa-chevron-down" id="mapAccountIcon"></i>*@</b>
                        </label>
                        <label for="UserPrivilegesMappingCheckbox" class="cursor_pointer pull-right">
                            <i class="fa fa-chevron-down" id="UserPrivilegesMappingCheckboxIcon"></i>
                        </label>
                    </div>
                </div>
            </div>-->
            </div>
            <br />
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-danger" onclick="CloseModal('AddUserModal')" data-dismiss="modal" value="CANCEL" />
                <input type="button" class="btn btn-sm btn-success pull-right" data-dismiss="modal" onclick="CreateNewUser()" value="CREATE" />
            </div>
        </form>
    </div>
</div>
