<div class="modal fade" tabindex="-1" role="dialog" id="AddDepartmentModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-md ">
        <form class="modal-content" style=" background: #f7f7f7">
            <div class="modal-header shared-floating-modal-header ui-draggable-handle">
                <div class="col-md-12 col-lg-12" id="addDepartmentTitle">
                    <i class="fa fa-plus"></i>
                    <label>ADD NEW DEPARTMENT</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal" style="margin-top:-3px" onclick="CancelAddNewDepartment()"><i class="fa fa-close"></i></button>
                </div>
                <div class="col-md-12 col-lg-12" id="editDepartmentTitle" hidden>
                    <i class="fa fa-edit"></i>
                    <label>EDIT DEPARTMENT</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal" style="margin-top:-3px" onclick="CancelAddNewDepartment()"><i class="fa fa-close"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-12" id="deptIDField" hidden>
                            <div class="col-lg-4 theme_label">DEPARTMENT ID</div>
                            <div class="col-lg-6">
                                <input type="text" id="deptID" readonly class="form-control input-xs">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <br /><div class="col-lg-4 theme_label">Account NAME</div>
                            <div class="col-lg-6">
                                @*<input type="text" id="ListAllAccount" placeholder="SELECT ACCOUNT" class="form-control input-xs AddUserTextBoxes">*@
                                <select class="form-control input-xs" id="ListAllAccount"></select>
                            </div>
                        </div><br />
                        <div class="col-lg-12">
                            <br /><div class="col-lg-4 theme_label">DEPARTMENT NAME</div>
                            <div class="col-lg-6">
                                <input type="text" id="deptName" placeholder="ENTER DEPARTMENT NAME" class="form-control input-xs">
                            </div>
                        </div><br />
                        @*<div class="col-lg-12">
                            <br /><div class="col-lg-4">TEAMS</div>
                            <div class="col-lg-6">
                                <select multiple id="deptTeams" data-placeholder="SELECT TEAMS" style="width: 100%; height: 22px"></select>
                            </div>
                        </div><br />*@
                        @*<div class="col-lg-12">
                            <br />
                            <div class="" style="margin-top: -4px;display:none"><input type="checkbox" class="normal-checkbox" name="mapDept" id="mapDept" /><label><span></span></label></div>
                            <div class="col-lg-offset-4 col-lg-6">
                                <label for="mapDept" class="cursor_pointer text-primary pull-left">
                                    <b>MAP BUSINESS PROCESSES &nbsp;&nbsp;</b>
                                </label>
                                <label for="mapDept" class="cursor_pointer pull-right">
                                    <i class="fa fa-chevron-down" id="mapDepartmentIcon"></i>
                                </label>
                            </div>
                        </div>*@

                        <div id="mapDepartment">
                            <div class="col-lg-12">
                                <br /><div class="col-lg-4 theme_label">BUSINESS PROCESSES</div>
                                <div class="col-lg-6">
                                    <select class="multiselect-plugin" multiple="multiple" id="deptBPs" style="width:100%;height:22px">
                                    </select>
                                </div>
                            </div><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-sm btn-danger" value="CANCEL" id="cancelAddNewDepartmentBtn" onclick="CancelAddNewDepartment()" />
                <input type="button" class="btn btn-sm btn-success pull-right" id="addDepartmentBtn" onclick="AddNewDepartment()" value=" CREATE" />
                <input type="button" class="btn btn-sm btn-success pull-right" id="editDepartmentBtn" onclick="UpdateDepartment()" value=" UPDATE" style="display:none" />
            </div>
        </form>
    </div>
</div>
