@using PortalTemplate.Helper
<div>
    <div class="col-lg-12">
        <div class="row viewelements">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <fieldset class="fieldsetStyle">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">Business Process : BILLING MANAGEMENT</span>
                    </legend>
                    <div class="topmargin-20px theme_label_data">
                        <div>
                            Billing Management is mainly to process claims accordingly. It has many more module and features.
                            Billing Management is mainly to process claims accordingly. It has many more module and features.
                            Billing Management is mainly to process claims accordingly. It has many more module and features.
                            Billing Management is mainly to process claims accordingly. It has many more module and features.
                            Billing Management is mainly to process claims accordingly. It has many more module and features. <a href="#" id="Morebillingmanagement" class="text-primary  pull-right" onclick="ShowMore('billingmanagement')" style="font-weight:bolder">View More</a>
                        </div>
                        <div id="Detailbillingmanagement" style="display:none;">
                            Claims Management is mainly to process claims accordingly. It has many more module and features.
                            Claims Management is mainly to process claims accordingly. It has many more module and features.Claims Management is mainly to process claims accordingly. It has many more module and features.
                            Claims Management is mainly to process claims accordingly. It has many more module and features.
                            <a id="Lessbillingmanagement" href="#" class="text-primary pull-right" hidden onclick="ShowLess('billingmanagement')" style="font-weight:bolder">View Less</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <fieldset class="fieldsetStyle" style="background:white;">
            <legend class="legendStyle noBorder">
                <span class="theme_depend title_text text-uppercase ">Business Process Privileges</span>
            </legend>
            <div style="margin-top: -33px;">
                <div class="pull-right inner-addon right-addon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control input-xs" placeholder="SEARCH FEATURE" />
                </div>
            </div>
            <div class="row viewelements" style="margin-top:-5px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="tabs" id="outerTabsArea">
                        <li class="outertabs active"><a href=".ClaimsCategoryTab1" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Manage Auth</b></a>@*<span class="charge badge" style="background-color: #0288d1;">4</span>*@&nbsp;&nbsp;&nbsp; </li>
                        <li class="outertabs"><a href=".ClaimsCategoryTab2" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Note Management</b></a>@*<span class="charge badge" style="background-color: #1b5e20; ">3</span>*@ &nbsp;&nbsp;&nbsp;</li>
                        <li class="outertabs"><a href=".ClaimsCategoryTab3" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Document Management</b></a>@*<span class="charge badge" style="background-color: #66b553; ">2</span>*@&nbsp;&nbsp;&nbsp;</li>
                    </ul>
                    <div class="tab-content p_background zero-padding-left-right">
                        <div id="" class="tab-pane fade in active p_background ClaimsCategoryTab1">
                            <br />
                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                <thead class="theme_thead">
                                    <tr>
                                        <th class="withfilter sm-mbrid" style="width:20%">
                                            <span class="styled-input">
                                                <input class="filer-search" type="text" required="">
                                                <label>Feature Name</label>
                                                <span></span>
                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                            </span>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                            <label>Full Access</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>Read Only</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>No Access</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class=" theme_label_data">
                                    <tr class="">
                                        <td>CREATE AUTH</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td>VIEW AUTH</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td> AUTH PRIVIEW</td>

                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td>COPY AUTH</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_1 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div id="" class="tab-pane fade ClaimsCategoryTab2">
                            <br />
                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                <thead class="theme_thead">
                                    <tr>
                                        <th class="withfilter sm-mbrid" style="width:20%">
                                            <span class="styled-input">
                                                <input class="filer-search" type="text" required="">
                                                <label>Feature Name</label>
                                                <span></span>
                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                            </span>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                            <label>Full Access</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>Read Only</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>No Access</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class=" theme_label_data">
                                    <tr class="">
                                        <td>ADD NOTE</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td>EDIT NOTE</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td>DELETE NOTE</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_2 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="" class="tab-pane fade ClaimsCategoryTab3">
                            <br />
                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                <thead class="theme_thead">
                                    <tr>
                                        <th class="withfilter sm-mbrid" style="width:20%">
                                            <span class="styled-input">
                                                <input class="filer-search" type="text" required="">
                                                <label>Feature Name</label>
                                                <span></span>
                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                            </span>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                            <label>Full Access</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>Read Only</label>
                                        </th>
                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                            <label>No Access</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class=" theme_label_data">
                                    <tr class="">
                                        <td>ADD DOCUMENT</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                    <tr class="">
                                        <td>EDIT DOCUMENT</td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                        <td class="text-center"><input type="checkbox" class="normal-checkbox BillingCategory_3 BillingFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    </div>
    <div class="col-lg-12">
        <fieldset class="fieldsetStyle">
            <legend class="legendStyle noBorder">
                <span class="theme_depend title_text text-uppercase ">Business Process Admins</span>
            </legend>
            <div style="margin-top:-70px">
                <div class="col-lg-12" style="margin-bottom:5px">
                    <div class="pull-right">@Html.ExportOptions("excel", "print", "PDF", "filter")</div>
                    <div class="pull-right" style="margin-top: 6px;">
                        <a class="btn btn-xs btn-success" id="addNewBMBPAdminBtn"><i class="fa fa-plus"></i> Add New Admin</a>
                    </div>
                </div>
                <div class="row viewelements" style="margin-top:3.4%;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                            <thead class="theme_thead">
                                <tr>
                                    <th class="withfilter sm-mbrid">
                                        <span class="styled-input">
                                            <input class="filer-search" type="text" required="">
                                            <label>Admin Name</label>
                                            <span></span>
                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                        </span>
                                    </th>
                                    <th class="withfilter sm-mbrid">
                                        <span class="styled-input">
                                            <input class="filer-search" type="text" required="">
                                            <label>Email</label>
                                            <span></span>
                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                        </span>
                                    </th>
                                    <th class="withfilter sm-mbrid">
                                        <span class="styled-input">
                                            <input class="filer-search" type="text" required="">
                                            <label>Phone</label>
                                            <span></span>
                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                        </span>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="BMBPAdmins" class="theme_label_data">
                                <tr id="addNewBMBPAdmin" hidden>
                                    <td>
                                        <input list="BMBPUsers" id="BMBPAdminInput" type="text" class="form-control input-xs" placeholder="SELECT USER" />
                                        <datalist id="BMBPUsers"></datalist>
                                    </td>
                                    <td><input type="text" class="form-control input-xs" disabled id="BMBPAdminEmail" placeholder="EMAIL" /></td>
                                    <td><input type="text" class="form-control input-xs" disabled id="BMBPAdminPhone" placeholder="PHONE NUMBER" /></td>
                                    <td>
                                        <a class="btn btn-xs btn-success" style="" id="BMBPUserFound" onclick="AddBMBPAdminUser()"><i class="fa fa-plus"></i> Add &nbsp;</a>
                                        <a class="btn btn-xs btn-success  tab-navigation member-actions" style="display: none" id="BMBPUserNotFound" data-toggle="tooltip" data-placement="bottom" title="" data-tab-val="Add New User" data-tab-action="Add New User" data-tab-title="Add New User" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="~/Areas/AM/Views/AccountManagement/_AddNewUser.cshtml" data-tab-floatmenu="true" data-tab-float-menu-path="~/Areas/AM/Views/Shared/_AMFloatMenu.cshtml" data-original-title="Add New User"><i class="fa fa-plus"></i> Add New User&nbsp;</a>
                                        @*<a class="btn btn-xs btn-success" style="display:none;padding-top: 5px;" id="BMBPUserNotFound" hidden onclick="AddNewAdminUser()">
                                        <i class="fa fa-plus"></i> Add New User &nbsp;</a>*@
                                        <a class="btn btn-xs btn-danger" style="" id="cancelAddNewBMBPAdminBtn"><i class="fa fa-close"></i> Cancel &nbsp;</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Barbara</td>
                                    <td>bjoy@ahc.com</td>
                                    <td>080-22548</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" style="" onclick="ViewUser('1')"><i class="fa fa-eye"></i> View</a>
                                        <a class="btn btn-xs btn-primary" style="" onclick="EditUser('1')"><i class="fa fa-edit"></i> Edit</a>
                                        @*<a class="btn btn-xs btn-danger" style="" id="removeAccountAdminBtn"><i class="fa fa-close"></i> Remove</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@ahc.com</td>
                                    <td>080-44518</td>
                                    <td>
                                        <a class="btn btn-xs btn-primary" style="" onclick="ViewUser('2')"><i class="fa fa-eye"></i> View</a>
                                        <a class="btn btn-xs btn-primary" style="" onclick="EditUser('2')"><i class="fa fa-edit"></i> Edit</a>
                                        @*<a class="btn btn-xs btn-danger" style="" id="removeAccountAdminBtn"><i class="fa fa-close"></i> Remove</a>*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-lg-12">
        <a class="btn btn btn-primary SubscribeBMFeatures" id="BMBPSubscribeBtn" style="margin-left:45%">@*<i class="fa fa-arrow-circle-right"></i>*@Subscribe</a>
        <a class="btn btn btn-success ProceedBtn  pull-right">@*<i class="fa fa-arrow-circle-right"></i>*@ <i class="fa fa-arrow-circle-right"></i> Proceed</a>
    </div>
</div>
