@*<p-script filepath="~/Areas/AM/Scripts/Accounts/NonMinified/AccountList.js"></p-script>*@
<div class="col-lg-12" style="margin-top: 22px; background-color: #f7f7f7; ">
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_AddEditDepartment.cshtml")
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_ViewDepartment.cshtml")
    @Html.Partial("~/Areas/AM/Views/AccountManagement/_ListAllDepartments.cshtml")
</div>
