
<div class="row viewelements">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 theme_label">
        @* <fieldset class="fieldsetStyle" style="background: white">*@
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                AccountID
                <div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Account Name
                <div class="viewelements">
                @*<label class="uppercase" id="accountname"></label>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Account Type
                <div class="viewelements">@*<label class="uppercase" id="accounttype"></label>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Status
                <div class="viewelements"><label class="uppercase" id="accountstatus">Active</label></div>
            </div>
        </div>
        <div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Created By
                <div>@*<label class="uppercase" id="accountcreatedby">*@
                    @*</label>*@</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Created On
                <div class="viewelements">@*<label class="uppercase" id="accountcreatedon"></label>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Last Modified By
                <div class="viewelements">@*<label class="uppercase" id="accountlastmodifiedby"></label>*@
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                Last Modified On
                <div class="viewelements">@*<label class="uppercase" id="accountlastmodifiedon"></label>*@ 
                    <input type="datetime" class="form-control input-xs" placeholder="LastModifiedOn" id="editaccountlastmodifiedon" />
                </div>
            </div>
        </div>
        @*</fieldset>*@
    </div>
</div>
