@using PortalTemplate.Helper
<style>
    .rightLegend {
        margin-top: -22px;
        margin-left: 94%;
        background: white;
        width: 42px;
        font-weight: 900;
        color: #4366a0;
        height: 40px;
        text-align: center;
        padding: 6px;
        cursor: pointer;
    }
</style>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
        <fieldset class="fieldsetStyle ">
            <legend class="legendStyle noBorder">
                <span class="theme_depend title_text text-uppercase ">Edit Account Details</span>
            </legend>
            @*<div class="col-lg-12">
                    <label class="title_text">Account Details</label>
                </div>*@
            <div class="topmargin-20px">@Html.Partial("~/Areas/AM/Views/AccountManagement/_EditAccountDetails.cshtml")</div>

        </fieldset>
        <fieldset class="fieldsetStyle" >
            <legend class="legendStyle noBorder">
                <span class="theme_depend title_text text-uppercase ">Edit Account Holder Details</span>
            </legend>
            <div class="topmargin-20px">@Html.Partial("~/Areas/AM/Views/AccountManagement/_EditAccountHolderDetails.cshtml")</div>

        </fieldset>
        <fieldset class="fieldsetStyle" >
            <legend class="legendStyle noBorder">
                <span class="theme_depend title_text text-uppercase ">Account Admin Details</span>

            </legend>
            <div class="" style="margin-top:-34px">
                <div class="col-lg-12">
                    <div class="pull-right">@Html.ExportOptions("excel", "print", "PDF", "filter")</div>
                    <div class="pull-right" style="margin-top: 6px;">
                        <a class="btn btn-xs btn-success" id="addNewAccountAdminBtn"><i class="fa fa-plus"></i> Add Account Admin</a>
                    </div>
                </div>

            </div>
            @*<div class="col-lg-12">
                    <label class="title_text">Account Admin Details</label>
                    <a class="btn btn-xs btn-success pull-right" id="addNewAccountAdminBtn"><i class="fa fa-plus"></i> Add Account Admin</a>
                </div>*@
            <div class="topmargin-20px">
                @Html.Partial("~/Areas/AM/Views/AccountManagement/_EditAccountAdmins.cshtml")
            </div>

        </fieldset>

        <a class="btn btn btn-success pull-right" onclick="UpdateAccount()">Update </a>
        <a class="btn btn btn-danger pull-right" onclick="BackToAccounts()"> Cancel</a>

    </div>
</div>


