
<div class="modal fade" tabindex="-1" role="dialog" id="UserUserMappingModal" style="overflow: auto; top: 8%">
    <div class="modal-dialog modal-lg ModalDialog">
        <form class="modal-content ModalContent" style=" background: #f7f7f7">
            <div class="modal-header shared-floating-modal-header ui-draggable-handle">
                <div class="col-md-12 col-lg-12">
                    <i class="fa fa-user-plus"></i>
                    <label>MAP USER</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" onclick="CloseModal('AddUserModal')" data-dismiss="modal" style="margin-top:-3px"><i class="fa fa-close"></i></button>
                </div>
            </div>
            <div class="modal-body" style="max-height:500px;overflow-y:auto">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <fieldset class="fieldsetStyle" style="background: white;">
                            <legend class="legendStyle noBorder">
                                <span class="theme_depend title_text text-uppercase ">USER - USER MAPPING</span>
                            </legend>
                           
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                        <div class="col-lg-4">USER NAME</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                        <div class="col-lg-7">
                                            <select id="MapUserName" class="form-control input-xs ListAllUsers" style="width:100%;height:22px"></select>
                                            @*<input list="ListAllUsers" type="text" id="MapUserName" placeholder="SELECT USER" class="form-control input-xs AddUserTextBoxes" autocomplete="off">
                                            <datalist class="ListAllUsers"></datalist>*@
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                        <div class="col-lg-4">TEAM</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                        <div class="col-lg-7">
                                            <input type="text" id="MapUserTeam" placeholder="TEAM" class="form-control input-xs AddUserTextBoxes" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                        <div class="col-lg-4">ROLE</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">:</div>
                                        <div class="col-lg-7">
                                            <input type="text" id="MapUserRole" placeholder="ROLE" class="form-control input-xs AddUserTextBoxes" readonly>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </fieldset>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-xs btn-success pull-right" style="" data-dismiss="modal" onclick="MapNewUser()">MAP USER</a>
                <a class="btn btn-xs btn-danger " style="" data-dismiss="modal" onclick="CancelMapNewUser()">CANCEL</a>
            </div>
        </form>
    </div>
</div>
