<div class="col-lg-12" style="position: fixed; z-index: 1; background: #f7f7f7; height: 63px; margin-top: 6px;margin-left:-6px">
    <br />
    <div class="col-lg-2 dropdown-toggle AccountsTopMenuL zero-padding-left-right" style="opacity: 0.3; margin-left: 5%; height: 37px; background: rgb(32, 55, 100); ">
        <span id="AllAccs" style="color: white">
            <span class="col-lg-10 title_text">
                ACCOUNTS
            </span>

            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </span>
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="color: white" hidden id="AllAccsDropdown">
            <span class="col-lg-10">
                <span class="title_text">ACCOUNTS</span>
                <br />
                <div><b id="topMenuAccText"> </b></div>
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown " id="AccountsAppendData" style="width: 100%; box-shadow: 0px 0px 25px black; height: 158px; overflow-y: auto;"></ul>
    </div>
    <div class="col-lg-2 AccountsTopMenuR zero-padding-left-right" style="opacity: 0.3; color: white; width: 0px; height: 0px; border-left: 16px solid rgb(32, 55, 100); border-top: 19px solid transparent; border-bottom: 18px solid transparent;">
    </div>
    <div id="" class="col-lg-2 BusinessProcessesTopMenuL dropdown-toggle zero-padding-left-right" style="opacity: 0.3; margin-left: 16px; height: 37px; background: rgb(32, 55, 100); ">
        <span id="AllBPs" style="color: white">
            <span class="col-lg-10 title_text">
                BUSINESS PROCESSES
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </span>
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="color: white" hidden id="AllBPsDropdown">
            <span class="col-lg-10">
                <span class="title_text">BUSINESS PROCESSES</span>
                <br />

                <div><b id="topMenuBPText">Claims Management </b></div>
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown " style="width: 100%; box-shadow: 0px 0px 25px black; height: 158px; overflow-y: auto;" id="BusinessProcessAppendData"></ul>
    </div>
    <div class="col-lg-2 BusinessProcessesTopMenuR zero-padding-left-right" style="opacity: 0.3; color: white; width: 0px; height: 0px; border-left: 16px solid rgb(32, 55, 100); border-top: 19px solid transparent; border-bottom: 18px solid transparent;">
    </div>
    <div class="col-lg-2 DepartmentsTopMenuL dropdown-toggle zero-padding-left-right" style="opacity: 0.3; margin-left: 16px; height: 37px; background: rgb(32, 55, 100); ">
        <span id="AllDepts" style="color: white">
            <span class="col-lg-10 title_text">
                DEPARTMENTS
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </span>
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="color: white" hidden id="AllDeptsDropdown">
            <span class="col-lg-10">
                <span class="title_text">DEPARTMENTS</span>
                <br />

                <div><b id="topMenuDeptText">Dept-1 </b></div>
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown " style="width: 100%; box-shadow: 0px 0px 25px black; height: 158px; overflow-y: auto;" id="DepartmentsAppendData"></ul>
    </div>
    <div class="col-lg-2 DepartmentsTopMenuR zero-padding-left-right" style="opacity: 0.3; color: white; width: 0px; height: 0px; border-left: 16px solid rgb(32, 55, 100); border-top: 19px solid transparent; border-bottom: 18px solid transparent; ">
    </div>

    <div class="col-lg-2 TeamsTopMenuL dropdown-toggle zero-padding-left-right" style="opacity: 0.3; margin-left: 16px; height: 37px; background: rgb(32, 55, 100); ">
        <span id="AllTeams" style="color: white">
            <span class="col-lg-10 title_text">
                TEAMS
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </span>
        <a href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="color: white" hidden id="AllTeamsDropdown">
            <span class="col-lg-10">
                <span class="title_text">TEAMS</span>
                <br />

                <div><b id="topMenuTeamsText"></b></div>
            </span>
            <span class="col-lg-2">
                <i class="fa fa-caret-down white-text text-white" style="margin-top: 8px; margin-left: 10px; font-size: 2em; color: white"></i>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu animated fadeInDown " style="width: 100%; box-shadow: 0px 0px 25px black; height: 158px; overflow-y: auto;" id="TeamsAppendData"></ul>
    </div>
    <div class="col-lg-2 TeamsTopMenuR zero-padding-left-right" style="opacity: 0.3; color: white; width: 0px; height: 0px; border-left: 16px solid rgb(32, 55, 100); border-top: 19px solid transparent; border-bottom: 18px solid transparent; ">
    </div>



</div>

<br />
<br />
