<style>
    .account-mapping-btn {
        height: 36px;
        margin-top: 3px;
        padding: 9px 10px;
    }
</style>
<fieldset class="fieldsetStyle " style="background: white;">
    <legend class="legendStyle noBorder">
        <span class="theme_depend title_text text-uppercase ">Clone User</span>
    </legend>
    <div class="row viewelements" style="margin-top:-18px">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="col-lg-12">
                    <input type="checkbox" id="cloneUserDetails" name="cloneUserDetails" class="normal-checkbox">
                    <label class="theme_label_data" for="cloneUserDetails"><span></span>Clone User Details</label>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-11">
                    <select class="form-control input-xs" id="UsersListForMapUser" disabled>
                        <option selected disabled>SELECT USER TO COPY MAPPING DETAILS</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
</fieldset>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  zero-padding-left-right" id="ExistingUserDetailsForAddUser">

    <ul class="tabs outerTabsArea" id="outerTabsArea">
        <li class="outertabs active"><a href="#Account1" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" id="Account1Tab" data-tabtype="true"><b>Account Mapping-1</b></a><span class="custombadge outertabclose outertabclose-red" data-parentid="AddNewUser" onclick="RemoveAccountTabInAddUser(this)"><i class="fa fa-times"></i></span><span class="hidden tabs-popover" data-parenttabid="AddNewUser"></span> </li>
        <a class="btn btn-success account-mapping-btn" onclick="MapNewAccountForNewUser()"><i class="fa fa-plus"></i></a>
    </ul>

    <div class="tab-content p_background zero-padding-left-right" id="AccountTabDataForAddUser">
        <div id="Account1" class="tab-pane fade in active p_background AccountTabDataForAddUser">
            <datalist id="ListAllAccounts"></datalist>
            <datalist id="ListAllTeams"></datalist>
            <div id="AccountDataForAddUser">
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">User - Account Mapping</span>
                    </legend>
                    <div class="row viewelements" style="margin-top:-18px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="theme_label">Account</div>
                                            <div class="viewelements">
                                                <input type="text" list="ListAllAccounts" placeholder="SELECT ACCOUNT" class="form-control input-xs AddUserTextBoxes">
                                            </div>
                                        </div>
                                        <div class="col-md-9 " id="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Team</div>

                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">
                                                            Type
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">
                                                            Role
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 AccountMappingDiv" id="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">User Privilege Mapping</span>
                    </legend>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:-30px">
                            <div class="col-lg-12 zero-padding-left-right">
                                <br /><div class="col-lg-4 theme_label">Select Role to Manage Privileges</div>
                                <div class="col-lg-8">
                                    <select class="form-control input-xs" id="RolesForAddNewUser" style="width:100%;height:22px">
                                        <option selected disabled>SELECT ROLE</option>
                                    </select>
                                </div>
                            </div><br />
                            <div id="PrivilagesForAddUser" hidden>
                                <div class="col-lg-12">

                                    <fieldset class="fieldsetStyle" style="background:white;">
                                        <legend class="legendStyle noBorder">
                                            <span class="theme_depend title_text text-uppercase ">Business Process Privileges</span>
                                        </legend>
                                        <div style="margin-top: -33px;">
                                            <div class="pull-right inner-addon right-addon">
                                                <i class="fa fa-search"></i>
                                                <input type="text" class="form-control input-xs" placeholder="SEARCH FEATURE" />
                                            </div>
                                        </div>

                                        <div class="row viewelements" style="margin-top:-5px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <ul class="tabs" id="outerTabsArea">
                                                    <li class="outertabs active"><a href=".ClaimsCategoryTab1" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Manage Auth</b></a>@*<span class="charge badge" style="background-color: #0288d1;">4</span>*@&nbsp;&nbsp;&nbsp; </li>
                                                    <li class="outertabs"><a href=".ClaimsCategoryTab2" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Note Management</b></a>@*<span class="charge badge" style="background-color: #1b5e20; ">3</span>*@ &nbsp;&nbsp;&nbsp;</li>
                                                    <li class="outertabs"><a href=".ClaimsCategoryTab3" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Document Management</b></a>@*<span class="charge badge" style="background-color: #66b553; ">2</span>*@&nbsp;&nbsp;&nbsp;</li>
                                                </ul>
                                                <div class="tab-content p_background zero-padding-left-right">
                                                    <div id="" class="tab-pane fade in active p_background ClaimsCategoryTab1">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>CREATE AUTH</td>
                                                                    <td class="text-center"><input checked type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>VIEW AUTH</td>
                                                                    <td class="text-center"><input checked type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td> AUTH PRIVIEW</td>

                                                                    <td class="text-center"><input checked type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>COPY AUTH</td>
                                                                    <td class="text-center"><input checked type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                    <div id="" class="tab-pane fade ClaimsCategoryTab2">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                    @*<th class="withfilter sm-mbrid text-center" style="width: 15%;">
                                                                            <label>Delete/Activate/Inactivate</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                            <label>Modify/Change</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                            <label>Add/New</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 14%;">
                                                                            <label>Remove</label>
                                                                        </th>*@

                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>ADD NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>EDIT NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>DELETE NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                    <div id="" class="tab-pane fade ClaimsCategoryTab3">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                    @*<th class="withfilter sm-mbrid text-center" style="width: 15%;">
                                                                            <label>Delete/Activate/Inactivate</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                            <label>Modify/Change</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                            <label>Add/New</label>
                                                                        </th>
                                                                        <th class="withfilter sm-mbrid text-center" style="width: 14%;">
                                                                            <label>Remove</label>
                                                                        </th>*@

                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>ADD DOCUMENT</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>EDIT DOCUMENT</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <br />
                                @*<div class="col-lg-12">
                                        <input type="button" class="btn btn-sm btn-success pull-right" onclick="PrivilegesMappingForAddUser()" value=" SUBSCRIBE" />
                                    </div>*@
                            </div>
                            @*<div class="col-lg-12">
                                    <fieldset class="fieldsetStyle" style="background:white;">
                                        <legend class="legendStyle noBorder">
                                            <span class="theme_depend title_text text-uppercase ">PRIVILEGES MAPPING SUMMARY</span>
                                        </legend>
                                        <div class="row viewelements" style="margin-top:-30px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <br />
                                                <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                    <thead class="theme_thead">
                                                        <tr>
                                                            <th class="withfilter sm-mbrid" style="width:20%">
                                                                <span class="styled-input">
                                                                    <input class="filer-search" type="text" required="">
                                                                    <label>Feature Name</label>
                                                                    <span></span>
                                                                    <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                </span>
                                                            </th>
                                                            <th class="withfilter sm-mbrid" style="width: 11%;">
                                                                <label>Full Access Right</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                <label>Read Only</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                <label>Print</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 15%;">
                                                                <label>Delete/Activate/Inactivate</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                <label>Modify/Change</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                <label>Add/New</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 14%;">
                                                                <label>Remove</label>
                                                            </th>
                                                            <th class="withfilter sm-mbrid text-center" style="width: 14%;">
                                                                <label>Action</label>
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="PrivilegesSummaryTableForAddUser" class=" theme_label_data"></tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>*@
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">USER - USER MAPPING</span>
                    </legend>
                    <div class="row" style="margin-top:-22px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="col-md-3">
                                            <div class="theme_label">User Full Name</div>
                                            <div class="viewelements">
                                                <select id="MappedUserName" class="form-control input-xs ListAllUsers AddUserTextBoxes" style="width:100%;height:22px"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-9" id="AccountMappingDiv">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Team</div>
                                                        <div class="viewelements">
                                                            <select id="UserTeamForAddUser" class="form-control input-xs AddUserTextBoxes"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Role</div>
                                                        <div class="viewelements">
                                                            <select id="UserRoleForAddUser" class="form-control input-xs AddUserTextBoxes"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px zero-padding-left-right">
                                                        <br /><a class="pull-right btn btn-xs btn-success" style="" onclick="MapUser()"><i class="fa fa-plus"></i> MAP USER &nbsp;</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12">

                            <div class="col-lg-12">
                                <fieldset class="fieldsetStyle" style="background:white;">
                                    <legend class="legendStyle noBorder">
                                        <span class="theme_depend title_text text-uppercase ">USER MAPPING SUMMARY</span>
                                    </legend>
                                    <div class="row viewelements" style="margin-top:-30px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <br />
                                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped" id="MappedUserTable" style="border-bottom: 1px solid;">
                                                <thead class="theme_thead">
                                                    <tr>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>User Name</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        </th>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>Team</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        </th>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>Role</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="MappedUsers" class=" theme_label_data"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
</div>
<div id="MapUserDetailsForAddUser" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  zero-padding-left-right" hidden>
    <ul class="tabs outerTabsArea" id="outerTabsArea">
        <li class="outertabs active"><a href="#CloneAccount1" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" id="CloneAccount1Tab" data-tabtype="true"><b>Account Mapping-1</b></a><span class="custombadge outertabclose outertabclose-red" data-parentid="AddNewUser" onclick="RemoveAccountTabInAddUser(this)"><i class="fa fa-times"></i></span><span class="hidden tabs-popover" data-parenttabid="AddNewUser"></span> </li>
        @*  <a class="btn btn-success account-mapping-btn" onclick="MapNewAccountForNewUser()"><i class="fa fa-plus"></i></a>*@
        @*<li class="outertabs"><a href="#Account2" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" id="Account2Tab" data-tabtype="true"><b>Account Mapping-2</b></a><span class="custombadge outertabclose outertabclose-red" data-parentid="AddNewUser"><i class="fa fa-times"></i></span><span class="hidden tabs-popover" data-parenttabid="AddNewUser"></span> </li>*@
    </ul>

    <div class="tab-content p_background zero-padding-left-right" id="CloneAccountTabDataForAddUser">
        <div id="CloneAccount1" class="tab-pane fade in active p_background CloneAccountTabDataForAddUser">
            <div id="CloneAccountDataForAddUser">
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">User - Account Mapping</span>
                    </legend>
                    <div class="row viewelements" style="margin-top:-18px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="theme_label">Account</div>
                                            <div class="viewelements">
                                                <input type="text" list="ListAllAccounts" placeholder="SELECT ACCOUNT" value="ACCESS HEALTHCARE PHYSICIANS" class="form-control input-xs AddUserTextBoxes">
                                            </div>
                                        </div>
                                        <div class="col-md-9 " id="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Team</div>

                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">
                                                            Type
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">
                                                            Role
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 CloneAccountMappingDiv" id="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">User Privilege Mapping</span>
                    </legend>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:-30px">
                            <div class="col-lg-12">
                                <br /><div class="col-lg-4 theme_label">Select Role to Manage Privileges</div>
                                <div class="col-lg-8">
                                    <select class="form-control input-xs" id="CloneRolesForAddNewUser" style="width:100%;height:22px">
                                        <option selected disabled>SELECT ROLE</option>
                                    </select>
                                </div>
                            </div><br />
                            <div id="ClonePrivilagesForAddUser" hidden>
                                <div class="col-lg-12">

                                    <fieldset class="fieldsetStyle" style="background:white;">
                                        <legend class="legendStyle noBorder">
                                            <span class="theme_depend title_text text-uppercase ">Business Process Privileges</span>
                                        </legend>
                                        <div style="margin-top: -33px;">
                                            <div class="pull-right inner-addon right-addon">
                                                <i class="fa fa-search"></i>
                                                <input type="text" class="form-control input-xs" placeholder="SEARCH FEATURE" />
                                            </div>
                                        </div>

                                        <div class="row viewelements" style="margin-top:-5px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <ul class="tabs" id="outerTabsArea">
                                                    <li class="outertabs active"><a href=".ClaimsCategoryTab11" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Manage Auth</b></a>@*<span class="charge badge" style="background-color: #0288d1;">4</span>*@&nbsp;&nbsp;&nbsp; </li>
                                                    <li class="outertabs"><a href=".ClaimsCategoryTab22" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Note Management</b></a>@*<span class="charge badge" style="background-color: #1b5e20; ">3</span>*@ &nbsp;&nbsp;&nbsp;</li>
                                                    <li class="outertabs"><a href=".ClaimsCategoryTab33" class="outerTabsLinks tab" role="tab" data-toggle="tab" aria-expanded="true" data-tabtype="true"><b>Document Management</b></a>@*<span class="charge badge" style="background-color: #66b553; ">2</span>*@&nbsp;&nbsp;&nbsp;</li>
                                                </ul>
                                                <div class="tab-content p_background zero-padding-left-right">
                                                    <div id="" class="tab-pane fade in active p_background ClaimsCategoryTab11">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>CREATE AUTH</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>VIEW AUTH</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td> AUTH PRIVIEW</td>

                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>COPY AUTH</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_1 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                    <div id="" class="tab-pane fade ClaimsCategoryTab22">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>ADD NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>EDIT NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>DELETE NOTE</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_2 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                    <div id="" class="tab-pane fade ClaimsCategoryTab33">
                                                        <br />
                                                        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
                                                            <thead class="theme_thead">
                                                                <tr>
                                                                    <th class="withfilter sm-mbrid" style="width:20%">
                                                                        <span class="styled-input">
                                                                            <input class="filer-search" type="text" required="">
                                                                            <label>Feature Name</label>
                                                                            <span></span>
                                                                            <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                                        </span>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 11%;">
                                                                        <label>Full Access</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>Read Only</label>
                                                                    </th>
                                                                    <th class="withfilter sm-mbrid text-center" style="width: 10%;">
                                                                        <label>No Access</label>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class=" theme_label_data">
                                                                <tr class="">
                                                                    <td>ADD DOCUMENT</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                                <tr class="">
                                                                    <td>EDIT DOCUMENT</td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                    <td class="text-center"><input type="checkbox" class="normal-checkbox AddUserCategory_3 AddUserFeaturesCheckbox" style="height: 23px;width: 30px;" /><label><span></span></label></td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="fieldsetStyle " style="background: white;">
                    <legend class="legendStyle noBorder">
                        <span class="theme_depend title_text text-uppercase ">USER - USER MAPPING</span>
                    </legend>
                    <div class="row" style="margin-top:-22px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="theme_label">User Full Name</div>
                                            <div class="viewelements">
                                                <select id="CloneMappedUserName" class="form-control input-xs ListAllUsers AddUserTextBoxes" style="width:100%;height:22px"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-9" id="CloneAccountMappingDiv">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Team</div>
                                                        <div class="viewelements">
                                                            <select multiple="" id="CloneUserTeam" class="form-control input-xs multiselect-plugin AddUserTextBoxes"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <div class="theme_label">Role</div>
                                                        <div class="viewelements">
                                                            <select multiple="" id="CloneUserRole" class="form-control input-xs multiselect-plugin AddUserTextBoxes"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-xs-12 margin-bottom-10px">
                                                        <br><a class="pull-right btn btn-xs btn-success" style="" onclick="CloneMapUser()"><i class="fa fa-plus"></i> MAP USER &nbsp;</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12">

                            <div class="col-lg-12">
                                <fieldset class="fieldsetStyle" style="background:white;">
                                    <legend class="legendStyle noBorder">
                                        <span class="theme_depend title_text text-uppercase ">USER MAPPING SUMMARY</span>
                                    </legend>
                                    <div class="row viewelements" style="margin-top:-30px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped" id="MappedUserTable" style="border-bottom: 1px solid;">
                                                <thead class="theme_thead">
                                                    <tr>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>User Name</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        </th>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>Team</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        </th>
                                                        <th class="withfilter sm-mbrid">
                                                            <span class="styled-input">
                                                                <input class="filer-search" type="text" required="">
                                                                <label>Role</label>
                                                                <span></span>
                                                                <i class="fa fa-sort" style="color: rgb(255, 255, 255);"></i>
                                                            </span>
                                                        </th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="CloneMappedUsers" class=" theme_label_data"><tr><td>Lex</td><td>Team-4</td><td>Intake Coordinator</td><td class="text-center"><a class="btn btn-xs btn-danger" style="" onclick="RemoveMappedUser(this)"><i class="fa fa-close"></i> REMOVE</a></td></tr><tr><td>Ted</td><td>Team-6</td><td>Intake Coordinator</td><td class="text-center"><a class="btn btn-xs btn-danger" style="" onclick="RemoveMappedUser(this)"><i class="fa fa-close"></i> REMOVE</a></td></tr><tr><td>Devid</td><td>Team-3</td><td>MD</td><td class="text-center"><a class="btn btn-xs btn-danger" style="" onclick="RemoveMappedUser(this)"><i class="fa fa-close"></i> REMOVE</a></td></tr></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                </fieldset>

            </div>
        </div>

    </div>
</div>


