@*<div class="col-lg-3"><select class="bootstrapmultiselect" multiple="multiple">
    <option value="cheese">    Cheese     </option>
    <option value="tomatoes">  Tomatoes   </option>
    <option value="mozarella"> Mozzarella </option>
    <option value="mushrooms"> Mushrooms  </option>
    <option value="pepperoni"> Pepperoni  </option>
    <option value="onions">    Onions     </option>
</select></div>*@
<fieldset class="fieldsetStyle" style="background: white;">
    <legend class="legendStyle noBorder">
        <span class="theme_depend title_text text-uppercase ">PERSONAL INFORMATION</span>
    </legend>
    <div class="row" style="margin-top:-22px">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">User Name</div>
               
                <div class="col-lg-10">
                    <input type="text" placeholder=" USER NAME" id="UniqueUserName" onblur="CheckUserNameAvailability()" class="form-control input-xs AddUserTextBoxes">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="AvailabilityInfoIconForAddUser"><i class="fa fa-info-circle " data-toggle="tooltip" data-placement="bottom" title="Check Availability" style=" font-size: 20px;"></i></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="AvailabilityCheckIconForAddUser" hidden><img src="~/Areas/AM/Resources/Images/loading.gif" height="21" /></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="NotAvailableIconForAddUser" hidden><i class="fa fa-times-circle" data-toggle="tooltip" style="color: red; font-size: 20px;" data-placement="bottom" title="Not Available"></i></div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="AvailableIconForAddUser" hidden><i class="fa fa-check-circle" data-toggle="tooltip" style="color: green; font-size: 20px;" data-placement="bottom" title="Available"></i></div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">First Name</div>
                
                <div class="col-lg-10">
                    <input type="text" placeholder="FIRST NAME" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">Last Name</div>
              
                <div class="col-lg-10">
                    <input type="text" placeholder="LAST NAME" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-md-12 theme_label">Middle Name</div>
                <div class="col-lg-10">
                    <input type="text" placeholder="MIDDLE NAME" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12" >
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-12 theme_label">SSN</div>
                <div class="col-lg-10">
                    <input type="text" placeholder="SSN" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-12 theme_label">DOB</div>
                <div class="col-lg-10">
                    <input type="text" placeholder="DOB" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-12 theme_label">Gender</div>
                <div class="col-lg-10 theme_label_data" style="display:inline-block">
                    <input type="radio" name="Gender" class="normal-radio" id="male">
                    <label for="male"><span></span>Male</label>
                    <input type="radio" name="Gender" class="normal-radio" id="female">
                    <label for="female"><span></span>Female</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-md-12 theme_label">Marital Status</div>
                
                <div class="col-lg-10">
                    <select class="form-control input-xs">
                        <option selected>MARITAL STATUS</option>
                        <option>SINGLE</option>
                        <option>MARRIED</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</fieldset>


<fieldset class="fieldsetStyle" style="background: white;" >
    <legend class="legendStyle noBorder">
        <span class="theme_depend title_text text-uppercase ">CONTACT INFORMATION</span>
    </legend>
    <div class="row" style="margin-top:-22px">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12" id="listOfHomeNumber" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">Home Number</div>
                <div class="col-lg-10" id="listofHomeNumber_1" style="display:inline-flex">
                        <input type="text" placeholder="HOME NUMBER" class="form-control input-xs AddUserTextBoxes">
                    <div class="col-lg-2 HomeButtons" style="display:inline-flex">
                        <button class="btn-success plusButton" style="margin-left:3px;"><span class="fa fa-plus"></span></button>
                    </div>
                </div>
             </div>
            <div class="col-lg-3 col-md-3 col-xs-12" id="listofOfficeNumber" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">Office Number</div>
                <div class="col-lg-10" id="listofOfficeNumber_1" style="display:inline-flex">
                    <input type="text" placeholder="OFFICE NUMBER" class="form-control input-xs AddUserTextBoxes">
                    <div class="col-lg-2 OfficeButtons" style="display:inline-flex">
                        <button class="btn-success OfficeplusButton" style="margin-left:3px;"><span class="fa fa-plus"></span></button>
                    </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" id="listOfEmail" style="margin-top: 5px;">
                <div class="col-lg-12 theme_label">Email Id</div>

                <div class="col-lg-10" id="listofEmail_1" style="display:inline-flex">
                    <input type="text" placeholder="EMAIL ID" class="form-control input-xs AddUserTextBoxes">
                    <div class="col-lg-2 MailButtons" style="display:inline-flex">
                        <button class="btn-success MailplusButton" style="margin-left:3px;"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-3 col-xs-12" id="listOfFax" style="margin-top: 5px;">
                    <div class="col-lg-12 theme_label">Fax Number</div>
                   
                    <div class="col-lg-10" id="listOfFax_1" style="display:inline-flex">
                        <input type="text" placeholder="FAX NUMBER" class="form-control input-xs AddUserTextBoxes">
                        <div class="col-lg-2 FaxButtons" style="display:inline-flex">
                            <button class="btn-success FaxplusButton " style="margin-left:3px;"><span class="fa fa-plus"></span></button>
                        </div>
                       </div>
                </div>
            </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-5 col-xs-12">
                <div class="col-lg-12 theme_label">Primary Contact</div>
                <div class="col-lg-8 zero-padding-left-right" style="margin-left: 5px;">
                    <select class="form-control input-xs">
                        <option selected="">PRIMARY CONTACT</option>
                        <option>5616515878-Home</option>
                        <option>6548542541-Office</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-3 col-lg-3 col-md-5 col-xs-12">
                <div class="col-lg-6 theme_label">Primary Email</div>
                <div class="col-lg-8 zero-padding-left-right" style="margin-left: 5px;">
                    <select class="form-control input-xs">
                        <option selected>PRIMARY EMAIL</option>
                        <option>john@ach.com</option>
                        <option>johnjs@pratian.com</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-xs-12">
                <div class="col-lg-6 theme_label">Primary Fax</div>
                <div class="col-lg-8 zero-padding-left-right" style="margin-left: 5px;">
                    <select class="form-control input-xs">
                        <option selected>PRIMARY FAX</option>
                        <option>5616515878</option>
                        <option>6548542541</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
</fieldset>

<fieldset class="fieldsetStyle" style="background: white;">
    <legend class="legendStyle noBorder">
        <span class="theme_depend title_text text-uppercase ">ADDRESS INFORMATION</span>
    </legend>
    <div class="row" style="margin-top:-22px">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-4 theme_label">Address 1</div>
               
                <div class="col-lg-10">
                    <input type="text" placeholder="ADDRESS 1" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-4 theme_label">Address 2</div>
                
                <div class="col-lg-10">
                    <input type="text" placeholder="ADDRESS 2" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-4 theme_label">Street</div>

                <div class="col-lg-10">
                    <input type="text" placeholder="STREET" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-4 theme_label">City</div>
                
                <div class="col-lg-10">
                    <input type="text" placeholder="CITY" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-4 theme_label">State</div>

                <div class="col-lg-10">
                    <input type="text" placeholder="STATE" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-4 theme_label">County</div>
               
                <div class="col-lg-10">
                    <input type="text" placeholder="COUNTY" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-4 theme_label">Country</div>
               
                <div class="col-lg-10">
                    <input type="text" placeholder="COUNTRY" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <div class="col-lg-4 theme_label">ZipCode</div>
               
                <div class="col-lg-10" style="display:inline-block">
                    <input type="text" placeholder="ZIPCODE" class="form-control input-xs AddUserTextBoxes">
                </div>
            </div>
        </div>
    </div>
</fieldset>