<link href="~/Content/AppCss/Search/searchnew.css" rel="stylesheet" />

@if (!System.Configuration.ConfigurationManager.AppSettings["ApplicationHosting"].Equals("CredAxis"))
{
    <div class="search_wrapper">
    <div class="smart_search_word"><span class="keyWord"></span></div>
    <div class="search_input"><input type="text" id="searchBox" placeholder="Member Name, Ref Id, DOB" tabindex="-1" /></div>
    <div class="search_btn">
        <div class="search_btn">
            <span class="btn" id="searchBtn" style="display: initial;"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>
    <script src="~/Areas/UM/Scripts/SearchMember/NonMinified/GlobalSearchMember.js"></script>
    @Html.Partial("~/Areas/UM/Views/SearchMember/_GlobalSearchMember.cshtml")
}
@if (System.Configuration.ConfigurationManager.AppSettings["ApplicationHosting"].Equals("CredAxis"))
{
    @*<div class="search_wrapper">
        <div class="smart_search_word"><span class="keyWord"></span></div>
        <div class="search_input"><input type="text" id="searchBox" placeholder="Search Provider,Plan,Group/IPA" /></div>
        <div class="search_btn">
            <div class="search_btn">
                <span class="btn" id="searchBtn" style="display: initial;"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
        @Html.Partial("~/Areas/CredAxis/Views/SearchProvider/_GlobalSearchGrid.cshtml")
        <script src="~/Areas/CredAxis/Scripts/Common/GlobalSearch/NonMinified/GlobalSearchProvider.js"></script>*@
}

