 .odag_reset_btn {
        /*border: 3px solid #73879c;*/
        border-radius: 10px;
        padding: 0px 2px 0 2px;
        cursor: pointer;
        margin-left: 5px;
    }
    .odag_reset_btn > .fa {
            color: rgb(212, 8, 8);
        }
    .position_relative{
            position:relative;
        }
    .OdagSaveBtn{
        border-radius:0px;
        padding:0px 5px;
    }
    .ODAGMainClass{
    font-size:11px;
}
.odagtext{
    width: 32%;
    padding-left: 3px;
    padding-right: 0px;
    display: initial;
    border-radius: 0px;
    height: 20px;
}
