/*===================================================*/
 .lettersdiv >table > thead>tr>th{
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .lettersdiv >table > tbody>tr>td{
        font-weight:bold;
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .lettersdiv >table{
            margin-top: 5px;
            border: 1px solid #488EA0 !important
    }
    .lettersdiv >table > tbody>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .lettersdiv >table > tbody>tr:nth-child(odd){
       background-color: #F0F8FF;
    }
