    .tile-container > div.tile{
        overflow:hidden;
        border:2px solid deepskyblue;
    }
.tile > .tile-body > .tile-icon {
        text-align: center;
    color: deepskyblue;
    border: 1px solid;
    padding: 5px;
    margin-top: -11px;
    margin-right: -12px;
    margin-left: -11px;
    }
    .tile > .tile-body > .tile-amount {
       text-align: center;
       color: currentColor;
       font-size: 10px;
    }
    .tile > .tile-body > .tile-filename {
       text-align: center;
    /*color: rgba(0, 0, 0, 0.73);*/
    font-size: 15px;
    border-bottom: 1px solid;
    }
    .attachmenttype {
        width: 141px;
        height: 22px;
        background-color: yellow;
        -ms-transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
        transform: rotate(-41deg);
        /* position: absolute; */
        margin-top: -20px;
        margin-left: -34px;
    }
    .attachmenttypetext {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        margin-left: 12px;
    }
    .isactive{
        /*display:block !important;*/
        position:relative;
    }
    .isInactive {
        display: none;
    }



    /*Claims Css Part*/
.tile-container {
    float: left;
    padding: 5px;
    width: 14%;
}

.tile > .tile-header > .tile-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    font-size: 10px;
}

.tile > .tile-header {
    padding: 5px;
}

.tile > .tile-body {
    padding: 10px;
        background: aliceblue;
}

.tile > .tile-header > .tile-count {
    color: #ffffff;
}

/*.tile > .tile-body > .tile-amount {
    color: #ffffff;
    font-size: 21px;
}*/

.tile > .tile-body > .tile-icon > i {
    font-size:2em;
}

/*.tile:hover > .tile-body > .tile-icon {
    color: #ffffff;
}*/

/*--------------default tile---------------*/

/*.default-tile > .tile-header {
    background: #435d78;
}

.default-tile > .tile-body {
    background: aliceblue;
}*/


/*div.icheckbox{
    position: relative !important;
    margin-top: -15px !important;
    margin-right: -10px !important;
    border-bottom-left-radius: 25px !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}*/
/*div.icheckbox_square-green:hover{
    background-position:-24px 0;
}*/

/*===================================================*/
 .attachmentstablediv >table > thead>tr>th{
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .attachmentstablediv >table > tbody>tr>td{
        font-weight:bold;
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .attachmentstablediv >table{
            margin-top: 5px;
            border: 1px solid #488EA0 !important
    }
    .attachmentstablediv >table > tbody>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .attachmentstablediv >table > tbody>tr:nth-child(odd){
       background-color: #F0F8FF;
    }