#panel, #flip {
        padding: 5px;
        text-align: left;
        border: 1px solid rgba(158, 158, 158, 0.16);
    }
    #panel {
            border: 2px solid #337ab7;
    padding: 1px;
    display: block;
    }
    th.withtheadfilter {
        padding: 3px 0px 3px 3px !important;
    }
    .theadstyled-input {
        width: auto;
        float: left;
        position: relative;
    }
    .filter-search {
        padding: 9px 0px 0 10px;
        border: 0;
        width: 84%;
        color: #73879C;
        
    }
    .filter-search {
        background: none;
    }
    .theadstyled-input label {
        font-weight: bold;
        color: #73879C;
        padding: 7px 0px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        pointer-events: none;
    }
    .filter-search ~ span {
        display: block;
        width: 0;
        height: 1px;
        background: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.125s ease;
        transition: all 0.125s ease;
    }
    .filter-search:focus ~ label, .filter-search:valid ~ label {
        top: -10px;
    }
    .filter-search:focus {
        outline: 0;
    }

        .filter-search:focus ~ span {
            width: 100%;
            -webkit-transition: all 0.075s ease;
            transition: all 0.075s ease;
        }
    .withtheadfilter i {
        position: relative;
        top: -1px;
    }
    .statusactivitytable{
         margin-top: 25px;
    }
    .statusactivitytable > thead > tr{
        border-bottom:1px solid;
    }
    .statusactivitytable > tbody > tr > td {
       padding: 8px 0px 8px 0px;
    font-weight: 500;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
    a.activityprint_button {
       padding: 2px;
    border: 1px solid #ddd;
    margin-top: -2px;
    }
        a.activityprint_button img {
            width: 20px;
            height: 20px;
        }

        #flip{
           background-image: linear-gradient(to bottom,#337ab7 0,#2e6da4 100%);
    background-repeat: repeat-x;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
        }

        /*===================================================*/

        .currentstatustext {
    width: 6%;
    padding-left: 3px;
    padding-right: 0px;
    display: initial;
    border-radius: 0px;
    height: 20px;
}
 .statustablediv >table > thead>tr>th{
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .statustablediv >table > tbody>tr>td{
        font-weight:bold;
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .statustablediv >table{
            margin-top: 5px;
            border: 1px solid #488EA0 !important
    }
    .statustablediv >table > tbody>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .statustablediv >table > tbody>tr:nth-child(odd){
       background-color: #F0F8FF;
    }