    

div.panel-body {
    top: 0px;
    position: relative;
    padding: 5px 0px 5px 0px;
    font-size: 11px;
    text-transform: uppercase;
}
.panel-heading {
    padding: 0px 0px;
}

.panel-heading > h6.headingtitle {
        margin-bottom: 0px;
        margin-top: 0px;
    }

/*----------------------*/
.low-height-heading {
        height: 12px;
        max-height: 12px;
        position: relative;
    }
    .panel-heading > h6 {
        font-weight: bold;
    }
    .push-to-top {
        top: -15px;
        position: relative;
    }
        .push-to-top > span.label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: top;
            /* margin-top: 2px; */
            border-radius: .25em;
        }
    .panel-heading {
        /*background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);*/
        /*background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);*/
        /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));*/
       background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
        /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
        background-repeat: repeat-x;
    }
    .panel-heading {
       color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    /* border-bottom: 1px solid transparent; */
    /* border-radius: 0px; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    }
    .summary_sectionsDiv > div.x-panel {
        margin-top: 5px;
        margin-bottom: 5px;
    }
/*----------------------*/

.divwidth_auto_main>span{
        font-weight:bold;
    }
    .divwidth_auto>span{
        font-weight:bold;
    }
     span.summary_data{
        color:black;
        font-weight:500 !important;
        margin-bottom:10px;
    }
     /*--------*/
    .divwidth_auto1>span{
        font-weight:bold;
    }
    .divwidth_auto2>span{
        font-weight:bold;
    }
    .dash-divider-module {
        border-top: 2px solid rgb(205, 205, 205);
        margin-top: 0 !important;
    }
    .divider-dashed {
        background-color: #fff;
        height: 1px;
        margin: 10px 0;
    }
    .divider-line {
        height: 2px;
        background: rgba(158, 158, 158, 0.53);
        margin-left: 165px;
        /* top: 6px; */
        margin-top: -13px;
        position: relative;
        /* z-index: 46; */
        width:auto;
    }
    .divwidth_auto{
        width:auto;
        margin-top:5px;
        margin-right: 10px;
        margin-bottom:5px;
    }
    .divwidth_auto_main{
        width:auto;
        padding-right: 10px;
        margin-bottom:10px;
    }
    .divwidth_auto1{
        width: auto;
    padding-right: 10px;
    margin-bottom: 9px;
    margin-top: 5px;
    }
    .divwidth_auto2{
   width: auto;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    }
    .divwidth_auto2 >button.btn{
      position: relative;
    vertical-align: top;
    width: 40px;
    height: 22px;
    padding: 1px 4px 1px 2px;
    font-size: 9px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 4px solid #065890;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
    border-radius: 0px;
    }
    .halfpanel2editbtn{
        padding: 0px 6px;
        margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    }
    .otherDxtable_nowrap > thead:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 99%;
        left: 0%;
        border-bottom: 1px solid #d4c9c9;
    }
    .otherDxtable_nowrap{
        margin-bottom:0px !important;
    }
    .otherDxtable_nowrap >tbody>tr>td{
            padding: 8px;
    font-weight: 500;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    }
    .otherDxtable_nowrap > thead > tr > th {
         border-bottom: 2px solid #488EA0 !important;
            width:auto;
            padding: 8px;
        }
    .otherDxtable_nowrap > tbody > tr > td > button.editotherdxbtn {
        margin-top:1px;
            padding: 0px 4px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-radius: 3px;
            font-size: 10px;
            line-height: 1.5;
        }
    .otherdx_section {
        background: #2A7B9C none repeat scroll 0% 0%;
        color: #fff;
        margin-bottom: 0%;
    }
    .otherproc_section {
        background: #2A7B9C none repeat scroll 0% 0%;
        color: #fff;
        margin-bottom: 0%;
    }

    /*---------------*/
    .otherproctable_nowrap > thead:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 99%;
        left: 0%;
        border-bottom: 1px solid #d4c9c9;
    }

    .otherproctable_nowrap {
        margin-bottom: 0px !important;
    }

        .otherproctable_nowrap > tbody > tr > td {
            padding: 8px;
            font-weight:500;
            line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
        }
        .otherproctable_nowrap > thead > tr > th {
            border-bottom: 2px solid #488EA0 !important;
            width:auto;
            padding: 8px;
        }

            .otherproctable_nowrap > tbody > tr > td > button.editotherdxbtn {
                margin-top:1px;
                padding: 0px 4px;
                margin-bottom: 0px;
                margin-right: 0px;
                border-radius: 3px;
                font-size: 10px;
                line-height: 1.5;
            }

    .halfpanel1 {
        height: 34px;
    border: 2px solid;
    border-color: rgb(51, 122, 185);
    background-color: #DEEEFF;
    /* border: 1px solid #d4c9c9; */
    background: rgba(160, 200, 246, 0.57) none repeat scroll 0% 0%;
    }
    .halfpanel2 {
        height: 34px;
    border: 2px solid;
    border-color: rgb(51, 122, 185);
    background-color: #DEEEFF;
    /* border: 1px solid #d4c9c9; */
    background: rgba(160, 200, 246, 0.57) none repeat scroll 0% 0%;
    }
    .actioncoltd{
        text-align:center;
    }
    .editThisAuth{
         position: relative;
    vertical-align: top;
    width: 75px;
    height: 22px;
    padding: 1px 4px 1px 2px;
    font-size: 9px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 4px solid #065890;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
    border-radius: 0px;
    }

    /*======================*/
     .docpanel {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .panel_docdefault {
        border-color: #ddd;
    }
        .panel_docdefault > .panel_docheading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
        }
    .panel_docheading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .panel_doctitle {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        color: inherit;
        text-transform:uppercase;
    }
    .panel_docbody {
        padding: 15px;
    }
    .wizard_horizontal ul.wizard_steps {
        z-index:2;
        display: table;
        list-style: none;
        position: relative;
        width: 100%;
        margin: 10px 0 10px;
    }
        .wizard_horizontal ul.wizard_steps li {
            display: table-cell;
            text-align: center;
        }
            .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
                text-decoration:none;
                display: block;
                position: relative;
                /*-moz-opacity: 1;
                filter: alpha(opacity=100);*/
                opacity: 1;
                color: #666;
            }
            .wizard_horizontal ul.wizard_steps li:first-child a:before {
                left: 50%;
            }
            .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
                background: #1ABB9C;
                color: #fff;
            }
            .wizard_horizontal ul.wizard_steps li a:before {
                content: "";
                position: absolute;
                height: 4px;
                background: #ccc;
                top: 20px;
                width: 100%;
                z-index: 4;
                left: 0;
            }
            .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
                background: #1ABB9C;
                color: #fff;
            }
            .wizard_horizontal ul.wizard_steps li a .step_no {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 100px;
                display: block;
                margin: 0 auto 5px;
                font-size: 16px;
                text-align: center;
                position: relative;
                z-index: 5;
            }
            .wizard_horizontal ul.wizard_steps li:last-child a:before {
    right: 50%;
     width: 100%!important;
    left: auto;
}
    .docs{
        padding:5px;
    }
    .timerClass {
        padding: 0px;
        font-size: 13px;
    }
  