    .contactstable > thead > tr > th {
        padding: 11px;
        border-bottom: 2px solid #49739e !important;
    }
    .contactstable > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
    }
    .contactstable > tbody > tr > td > a.btn {
            padding: 0px 4px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-radius: 0px;
            font-size: 10px;
            line-height: 1.5;
        }
     .w3-margin-right {
        margin-right: 16px !important;
    }
    .w3-circle {
        border-radius: 50% !important;
    }
    .w3-left {
        float: left !important;
    }
    .contacttileheader{
    }
    /*hr {
        margin-top: 42px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #d4c9c9;
    }*/
   
    span.contactdata{
        font-weight:bold;
        color:black;
        padding:3px 3px 3px 3px;text-transform:uppercase;
    }
    .contacttilefooter > div{
        margin-bottom:5px;
    }
    .divwidth_auto {
        /*width: auto;*/
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .divwidth_auto_main {
        /*width: auto;*/
        padding-right: 10px;
        margin-bottom: 10px;
    }
    ul.messages > li .message_wrapper > blockquote {
        padding: 0 10px;
        margin: 0;
        border-left: 5px solid #6087b4;
    }
    ul.messages > li .message_wrapper > blockquote.message {
       height:130px;
    }
    .message_date > h3 {
        margin-top: -4px;
        margin-bottom: 3px;
    }

    /*==========================================*/
    .contactstablediv >table > thead>tr>th{
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .contactstablediv >table > tbody>tr>td{
        font-weight:bold;
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .contactstablediv >table{
            margin-top: 5px;
            border: 1px solid #488EA0 !important
    }
    .contactstablediv >table > tbody>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .contactstablediv >table > tbody>tr:nth-child(odd){
       background-color: #F0F8FF;
    }
    