     input.inputcntrl_file {
        height: 0px;
        width: 0px;
        display:none;
    }
     label.labelcntrl_file {
        font-size: 12px;
        /* border: 1px solid #2196F3; */
        padding: 0px 7px;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 0px;
        background-color: rgba(158, 158, 158, 0.34);
        cursor: pointer;
        /* color: rgba(22, 75, 170, 0.82); */
        font-weight: normal;
    }
     .addNewnotebtn{
         padding:0px 5px;
         border-radius:0px;
     }
     .addNewContactbtn{
         padding:0px 5px;
         border-radius:0px;
     }
    /*Change Tooltip CSS Here*/
    .tooltip-inner {
        max-width: 260px;
        /*padding: 3px 8px;*/
        /*color: #fff;*/
         text-align: left; 
        /*background-color: #000;*/
        /* border-radius: 4px; */
        border: 1px solid #ddd !important;
        background: #fff !important;
        background-color: #fff !important;
        color: #333 !important;
        opacity: 1 !important;
        padding: 8px;
        margin-top: 7px;
        box-shadow: 0 1px 1px 1px #8a8989;
    }
    .tooltip fade top in {
        top: -128px;
        left: 35.1667px;
    }
    .tooltip.top .tooltip-arrow {
        bottom: 0;
        left: 14.7608%;
        margin-left: -5px;
        border-width: 5px 5px 0;
        border-top-color: #000;
    }
    .tooltip .tooltip-arrow {
        display: block;
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    .filenamelabel {
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
    }
    .filescount{
        color:black;
        font-weight:500;
    }
    .tooltip-inner > span.i{
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
   /*font-size: bold;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    }