    .print_button_beside_table {
        position: absolute;
        right: 6px;
        z-index: 1;
    }
    a.custom-print-button {
       padding: 2px;
    border: 1px solid #ddd;
    margin: 0px;
    }
    .notestable > thead > tr > th{
        padding:11px;
        border-bottom: 2px solid #49739e !important;
    }
    .notestable > tbody > tr > td {
            padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-weight: 500;
    }
    .notestable > tbody > tr > td > a.btn {
            padding: 0px 4px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-radius: 0px;
            font-size: 10px;
            line-height: 1.5;
        }
    .newnotetbn {
           padding: 2px 4px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-radius: 0px;
    font-size: 11px;
    line-height: 1.5;
    }
    a.custom-print-button img {
        width: 20px;
        height: 20px;
    }
        .notetile {
        width: auto;
        border: 1px solid #d4c9c9;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .tileicon {
        padding: 5px 5px 3px 5px;
    }
        .tileicon > span {
            padding: 3px;
        }
    .icontext {
        padding: 5px 5px 5px 5px;
    }
        .icontext > span.note {
            padding: 3px 0px 3px 0px;
        }
    span.note > span{
        text-transform:uppercase;
        font-weight:bold;
    }
    span.tiledata{
        text-transform:uppercase;
        font-weight:bold;
        color:black;
    }
    .icontext > span{
        font-weight:bold;
    }
    .Footer_section {
        margin-top: 36px;
        border-top: 1px solid #d4c9c9;
    }
        .Footer_section > div.footertext {
            padding: 3px 5px 3px 5px;
            text-align: center;
        }
    .footertext > span{
        font-weight:bold;
    } 
    .footerdata {
        padding: 3px 5px 3px 5px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }
    .notesswitchgroup > button.btn {
        padding: 2px 10px;
        font-size: 12px;
    }
    /*=========================================*/
    .tableview >table > thead>tr>th{
        border: 1px solid #488EA0 !important;
    }
    .tableview >table > tbody>tr>td{
        font-weight:bold;
        text-transform:uppercase;
        border: 1px solid #488EA0 !important;
    }
    .tableview >table{
            margin-top: 5px;
            border: 1px solid #488EA0 !important
    }
    .tableview >table > tbody>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
     .tableview >table > tbody>tr:nth-child(odd){
       background-color: #F0F8FF;
    }
   