  #inPageDocIframe {
            border: none;
        }
        .progress {
            height: 16px;
        }

        .colorCode {
            float: left;
            width: 10px;
            height: 10px;
            margin: 6px;
            background-color: #e9573f;
            margin-left: 0px;
        }

        .colorText {
            float: left;
            margin-top: 3px;
        }
        .timerClass {
            padding: 0px;
            font-size: 11px;
        }

        #pbar_innerdiv {
            z-index: 2;
            width: 0%;
        }

        #pbar_innertext {
            z-index: 3;
            position: absolute;
            margin-left: 5%;
            color: black;
            font-weight: bold;
        }

        .progress {
            margin-bottom: 0px;
        }
        div.auth_info > label{
            color:black;
            font-weight:bold;
        }
        div.auth_info > span{
            color:black;
            font-weight:500;
        }
        .trackercontainer{
            color:black;
        }
        .bottomfixed{
            z-index: 1029;
             bottom: 0px; 
             right: 0%; 
             position: fixed; 
             /*border: 1px solid;*/ 
             background: linear-gradient(to bottom, #D9D9D9 0, #FFFFFF 100%);
             width: 87%; 
        }