body .container.body .right_col .main_menu_side {
    /*background:radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#E5E5BE,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);*/
    /*background: radial-gradient(circle at 1.98% 20.98%,#4b6cb7,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#182848,transparent 100%),radial-gradient(circle at 50% 50%,rgba(137,173,230,1),rgba(137,173,230,1) 100%);*/
   /*background-image:linear-gradient(rgb(69, 107, 168),#6996c3);*/
   background: rgba(105,150,195,1);
   background: -moz-linear-gradient(-45deg, rgba(105,150,195,1) 0%, rgba(105,150,195,1) 20%, rgba(79,107,153,1) 53%, rgba(105,150,195,1) 84%, rgba(105,150,195,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(105,150,195,1)), color-stop(20%, rgba(105,150,195,1)), color-stop(53%, rgba(79,107,153,1)), color-stop(84%, rgba(105,150,195,1)), color-stop(100%, rgba(105,150,195,1)));
   background: -webkit-linear-gradient(-45deg, rgba(105,150,195,1) 0%, rgba(105,150,195,1) 20%, rgba(79,107,153,1) 53%, rgba(79,107,153,1) 53%,rgba(79,107,153,1) 53%);
   background: -o-linear-gradient(-45deg, rgba(105,150,195,1) 0%, rgba(105,150,195,1) 20%, rgba(79,107,153,1) 53%, rgba(105,150,195,1) 84%, rgba(105,150,195,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(105,150,195,1) 0%, rgba(105,150,195,1) 20%, rgba(79,107,153,1) 53%, rgba(105,150,195,1) 84%, rgba(105,150,195,1) 100%);
   background: linear-gradient(135deg, rgba(105,150,195,1) 0%, rgba(105,150,195,1) 20%, rgba(79,107,153,1) 53%, rgba(79,107,153,1) 84%,rgba(79,107,153,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6996c3', endColorstr='#6996c3', GradientType=1 );
   color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white !important;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }


.RealestateBreadCrum {
    color: white;
    background: radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#557b9e,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
}
