body .container.body .right_col .main_menu_side {
    /*background: radial-gradient(circle at 1.98% 74.02%,#E55D87,transparent 100%),radial-gradient(circle at 98.02% 35.97%,#5FC3E4,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/
    background:linear-gradient(135deg, rgb(130, 79, 168) 0%, rgb(148, 110, 180) 15%, rgb(134, 79, 171) 23%, rgb(143, 94, 181) 31%, rgb(140, 83, 183) 47%, rgb(135, 81, 172) 59%, rgb(143, 94, 181) 70%, rgb(131, 79, 168) 88%, rgb(153, 46, 238) 100%);
    color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }

.RealestateBreadCrum {
    color: white;
    /*background: radial-gradient(circle at 1.98% 74.02%,#E55D87,transparent 100%),radial-gradient(circle at 98.02% 35.97%,#5FC3E4,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/
    background:radial-gradient(circle at 1.98% 74.02%,#e55de2,transparent 100%),radial-gradient(circle at 98.02% 35.97%,#804ea6,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
}
