body .container.body .right_col .main_menu_side {
    /*background: radial-gradient(circle at 1.98% 85.01%,#134E5E,transparent 100%),radial-gradient(circle at 98.02% 18.98%,#71B280,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/

    background:radial-gradient(circle at 1.98% 85.01%,rgba(19, 78, 94, 0.69),transparent 100%),radial-gradient(circle at 98.02% 18.98%,rgb(58, 166, 151),transparent 100%),radial-gradient(circle at 50% 50%,#296f57,#0cc285 100%);
    color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }

.RealestateBreadCrum {
    color: white;
    background: radial-gradient(circle at 1.98% 85.01%,rgba(163, 113, 199, 0.02),#35a697 100%),radial-gradient(circle at 98.02% 18.98%,rgba(163, 113, 199, 0),#6cdac9 100%),radial-gradient(circle at 50% 50%,#5b9890,rgba(94, 241, 212, 0.95) 100%);
}
