body .container.body .right_col .main_menu_side {
    /*background: radial-gradient(circle at 1.98% 3%,#348F50,transparent 100%),radial-gradient(circle at 98.02% 98%,#56B4D3,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);*/
    
    background:radial-gradient(circle at 1.98% 3%,rgb(49, 161, 170),transparent 100%),radial-gradient(circle at 98.02% 98%,rgb(57, 110, 127),transparent 100%),radial-gradient(circle at 50% 50%,#30a1a9,#5eb6bc 100%);
    
    
    color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }
    .RealestateBreadCrum {
    color: white;
    background: radial-gradient(circle at 1.98% 3%,#348F50,transparent 100%),radial-gradient(circle at 98.02% 98%,#56B4D3,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
}