body .container.body .right_col .main_menu_side {
    background: radial-gradient(circle at 1.98% 2%,#B993D6,transparent 100%),radial-gradient(circle at 98.02% 92.01%,#8CA6DB,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }

.RealestateBreadCrum {
    color: white;
    background: radial-gradient(circle at 1.98% 2%,#B993D6,transparent 100%),radial-gradient(circle at 98.02% 92.01%,#8CA6DB,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
}
