@model IEnumerable<PortalTemplate.Areas.Portal.Models.PriorAuth.Queue.QueueViewModel>

<p-script filepath="~/Areas/Portal/Scripts/Queues/QueueGrid.js"></p-script>
<p-link filepath="~/Areas/Portal/Styles/PriorAuth/Queues/QueueGrid.css"></p-link>
<table id="QueueGrid" class="table table-bordered table-hover table-responsive">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody">
        @Html.Partial("~/Areas/Portal/Views/PriorAuth/Queue/_QueueGridHeader.cshtml")
    </thead>
    <tbody id="intakeQueueTable">
        @Html.Partial("~/Areas/Portal/Views/PriorAuth/Queue/_QueueGridBody.cshtml")
    </tbody>
</table>

