@*@model PortalTemplate.Models.ViewAuth.AuthStatusandActivityViewModel*@
@using PortalTemplate.Helper
<div class="x_panel panelheight">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 Auth_CurrentStatus">
        <span style="padding: 3px;">CURRENT STATUS:</span>&nbsp;&nbsp;<span style="padding: 3px;font-weight: bold">PEND-FNURSE</span>
    </div>
    <div class="x_panel border_on_panel">
        <div class="x_content zero-padding-left" style="padding:0px;margin-top:0px">
            <table class="table margin_bottom_zero table-white  zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 custom-thead-back custom-thead-font custom-tbody">
                <thead class="text-uppercase StatusTable theme_thead">
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Extension Number</th>
                        <th>User Name</th>
                    </tr>
                </thead>
                <tbody class="text-uppercase">

                    <tr>
                        <td class="theme_label_data">07/05/2016 00:00:00</td>
                        <td class="theme_label_data">CREATED</td>
                        <td class="theme_label_data">-</td>
                        <td class="theme_label_data">BARBARA JOY</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="x_panel border_on_panel">
        <div class="theme_thead theme1_table cursor_pointer"  id="flip"><span class="h4"><i class="fa fa-chevron-down"></i></span>&nbsp;<span class="h4">ACTIVITY</span></div>
        <div id="panel">
            <span class="pull-right activitybtns">
                @*@Html.ExportOptions("print", "pdf", "excel")*@
                @Html.ExportOptions("filter")
            </span>
            <table class="table margin_bottom_zero theme1_table table-white  zero-padding-left-right alignLeftTable noBorderTable boldBody zeroPaddingBottomTh  width_99 custom-thead-back custom-thead-font custom-tbody statusactivitytable">
                <thead class="text-uppercase StatusTable theme_thead">
                    <tr>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required="">
                                <label class="white-text">Date Time</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">User</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Module</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Category</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">REF#</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Screen</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Action</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Outcome</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withtheadfilter">
                            <span class="theadstyled-input">
                                <input class="filter-search white-text" type="text" required=""><label class="white-text">Activity Log</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody class="text-uppercase">
                    <tr>
                        <td class="theme_label_data">09/17/2016 18:57:02</td>
                        <td class="theme_label_data">BARBARA JOY</td>
                        <td class="theme_label_data">UM</td>
                        <td class="theme_label_data">AUTHORIZATION</td>
                        <td class="theme_label_data">1607250018</td>
                        <td class="theme_label_data">MD</td>
                        <td class="theme_label_data">SEND EMAIL</td>
                        <td class="theme_label_data">DRAFT</td>
                        <td class="theme_label_data">07/09/2016 14:41:47</td>
                    </tr>
                    <tr>
                        <td class="theme_label_data">09/17/2016 19:00:07</td>
                        <td class="theme_label_data">BARBARA JOY</td>
                        <td class="theme_label_data">UM</td>
                        <td class="theme_label_data">AUTHORIZATION</td>
                        <td class="theme_label_data">1607250018</td>
                        <td class="theme_label_data">FACILITY NURSE</td>
                        <td class="theme_label_data">REFER</td>
                        <td class="theme_label_data">EMAIL SENT</td>
                        <td class="theme_label_data">07/09/2016 14:41:47</td>
                    </tr>
                        <tr>
                            <td class="theme_label_data">09/17/2016 19:00:07</td>
                            <td class="theme_label_data">BARBARA JOY</td>
                            <td class="theme_label_data">UM</td>
                            <td class="theme_label_data">AUTHORIZATION</td>
                            <td class="theme_label_data">1607250018</td>
                            <td class="theme_label_data">NURSE</td>
                            <td class="theme_label_data">REFER</td>
                            <td class="theme_label_data">AUTHORIZATION UPDATED</td>
                            <td class="theme_label_data">07/09/2016 14:41:47</td>
                        </tr>
                    <tr>
                        <td class="theme_label_data">09/17/2016 18:56:23</td>
                        <td class="theme_label_data">BARBARA JOY</td>
                        <td class="theme_label_data">UM</td>
                        <td class="theme_label_data">AUTHORIZATION</td>
                        <td class="theme_label_data">1607250018</td>
                        <td class="theme_label_data">INTAKE</td>
                        <td class="theme_label_data">REFER</td>
                        <td class="theme_label_data">REFERRED TO BONNIE GAROFALO</td>
                        <td class="theme_label_data">07/09/2016 14:41:47</td>
                    </tr>
                    <tr>
                        <td class="theme_label_data">09/17/2016 18:58:48</td>
                        <td class="theme_label_data">BARBARA JOY</td>
                        <td class="theme_label_data">UM</td>
                        <td class="theme_label_data">AUTHORIZATION</td>
                        <td class="theme_label_data">1607250018</td>
                        <td class="theme_label_data">INTAKE</td>
                        <td class="theme_label_data">CREATE</td>
                        <td class="theme_label_data">AUTHORIZATION CREATED</td>
                        <td class="theme_label_data">07/09/2016 14:41:47</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p-script filepath="~/Scripts/AppScripts/ViewAuth/AuthStatus.js"></p-script>

