<tr>
    <td colspan="8" style="height:300px">
        <div class="fa fa-close close_x"></div>

        <table class="table table-bordered">
            <tr>
                <th>

                    <div class="row package">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tracker tracking_detail text-center">
                            <span style="text-align:center">
                                <span class="col-lg-3 track track-done">
                                    <label class="track-title"><b>Initiate</b></label>
                                    <span class="track-title-second">25/08/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>PSV</b></label>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>CCM</b></label>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>Package</b></label>
                                    <p class="track-title FooterTotalCount">Generation</p>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>Provider</b></label>
                                    <p class="track-title FooterTotalCount">Sign</p>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>Submit to</b></label>
                                    <p class="track-title FooterTotalCount">Plan</p>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-current">
                                    <label class="track-title" style="color:white"><b>Result</b></label>

                                </span>
                            </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <div class="row" style="padding-top: 10px; margin-top: 17px;">
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Panel Status</label></span>
                                <select class="form-control input-sm input-xs variable_width_select loser_field" style="width: 104.969px;">
                                    <option value="HUMANA">OPEN </option>
                                    <option value="ULTIMATE">CLOSE</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Initial Credentialing Date:</label></span>
                                <input type="date" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Effective Credentialing Date:</label></span>
                                <input type="date" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Welcome Letter Date:</label></span>
                                <input type="date" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Termination Date:</label></span>
                                <input type="date" class="form-control input-sm" />
                                 
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Re-Credentialing Date:</label></span>
                                <input type="date" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Group ID:</label></span>
                                <input type="text" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Provider ID:</label></span>
                                <input type="text" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="inline_block margin_right_1">
                                <span class="theme_label"><label for="PLAN">Participating Status:</label></span>
                                <input type="date" class="form-control input-sm" />

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label><b>Welcome Letter</b></label>
                                <div class="form-inline">
                                    <input type="file" class="form-control input-sm input-sm" />
                                    <input type="button" class="btn btn-sm " value="Upload" />
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-9"></div>
                        <div class="col-lg-3">
                            
                            <div data-partial="null" class=" btn btn-success close_Process" hidden>Close Process</div>


                        </div>

                    </div>
                </th>
            </tr>
        </table>
    </td>
</tr>
