<tr>
    <td colspan="8" style="height:300px">
        <div class="fa fa-close close_x"></div>
        <table class="table table-bordered">
            <tr>
                <th>

                    <div class="row package">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tracker tracking_detail text-center">
                            <span style="text-align:center">
                                <span class="col-lg-3 track track-done">
                                    <label class="track-title"><b>Initiate</b></label>
                                    <span class="track-title-second">25/08/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>PSV</b></label>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-current">
                                    <label class="track-title"><b>CCM</b></label>
                                                                  </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Package</b></label>
                                    <p class="track-title FooterTotalCount">Generation</p>
                                   
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Provider</b></label>
                                    <p class="track-title FooterTotalCount">Sign</p>
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Submit to</b></label>
                                    <p class="track-title FooterTotalCount">Plan</p>
                                  
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title" style="color:white"><b>Result</b></label>

                                </span>
                            </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <div class="row" style="padding-top: 10px; margin-top: 17px;">
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <label><b>Provider Level : </b>Level1</label>
                            </div>
                            <div class="col-lg-2">
                                <label><b>Date : </b> 30/09/2016</label>
                            </div>
                            <div class="col-lg-2">
                                <label><b>Status : </b>Approved</label>
                            </div>
                            <div class="col-lg-3">
                                <label><b>Remarks : </b> Please Proceed To Further Process</label>
                            </div>

                            <div class="col-lg-4">
                                <b>Signature : </b>
                                <img src="~/Areas/CredAxis/Resources/Queues/sgin.PNG" />
                            </div>
                            <div class="col-lg-5" style="">
                                <div data-partial="~/Areas/CredAxis/Views/Credentialing/CredentialingProcess/_PackageGeneration.cshtml" class="btn btn-success btn-sm next_step">Next Step</div>
                            </div>
                        </div>

                    </div>
                

                  
                </th>
            </tr>
        </table>

    </td>
</tr>

