
<tr>
    <td colspan="8" style="height:300px">
        <div class="fa fa-close close_x"></div>
        <table class="table table-bordered">
            <tr>
                <th>

                    <div class="row package">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tracker tracking_detail text-center">
                            <span style="text-align:center">
                                <span class="col-lg-3 track track-done">
                                    <label class="track-title"><b>Initiate</b></label>
                                    <span class="track-title-second">25/08/2016</span>
                                </span>
                                <span class="col-lg-2 track track-current">
                                    <label class="track-title"><b>PSV</b></label>

                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>CCM</b></label>

                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Package</b></label>
                                    <p class="track-title FooterTotalCount">Generation</p>
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Provider</b></label>
                                    <p class="track-title FooterTotalCount">Sign</p>
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title"><b>Submit to</b></label>
                                    <p class="track-title FooterTotalCount">Plan</p>
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title" style="color:white"><b>Result</b></label>

                                </span>
                            </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <div class="row" style="padding-top: 10px; margin-top: 17px;">
                        <div class="btn btn-info" style="text-align:center" id="perform">Perform PSV</div>
                        <table class="table table-striped" id="VerfiyResult" style="width: 80%; margin-left: 104px;">
                            <thead>
                                <tr>
                                    <th>Verification</th>
                                    <th>Source</th>
                                    <th>Verified On</th>
                                    <th>Verified Documents</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>State License</th>
                                    <th><a>https://www.azbn.gov</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>Board Certification</th>
                                    <th><a>http://www.abim.org/</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>DEA</th>
                                    <th><a>https://www.deadiver</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>Medicare Opt Out</th>
                                    <th><a>http://www.ecorpnet</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>Medicare Opt Out</th>
                                    <th><a>http://www.ecorpnet</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>OIG</th>
                                    <th><a>https://exclusions.oig</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                                <tr>
                                    <th>USPS</th>
                                    <th><a>https://tools.usps.com</a></th>
                                    <th>09/03/2016 03:25PM</th>
                                    <th><i class="fa fa-file" style="color:#337ab7"></i></th>
                                    <th><i style="color: #4CAF50">Success</i></th>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">
                            <div style="cursor:pointer;margin-top:12px"><button class="btn" style="border:0px;" data-toggle="modal" data-target="#CCMAppointment"> <i class="fa fa-clock-o fa_blue" aria-hidden="true"></i><b>Set CCM Appointment</b> </button></div>
                        </div>
                        <div class="col-lg-1">

                            <div data-partial="~/Areas/CredAxis/Views/Credentialing/CredentialingProcess/_CCM.cshtml" class="btn btn-success next_step">Next Step</div>

                        </div>
                        <!-- Modal -->
                        <div class="modal fade " tabindex="-1" role="dialog" id="CCMAppointment" style="overflow: auto; top: 8%;">
                            <div class="modal-dialog modal-md ">
                                <form class="modal-content">
                                    <div class="modal-header zero_padding_bottom">
                                        <div class="row" style="text-align: center;">
                                            <span class="modalTitle">CCM Appointment</span>
                                            <span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-danger"></i></span>
                                        </div>
                                    </div>

                                    <div class="modal-body modalbodyheight  ">
                                        <form class="form-horizontal">
                                            <div class="row ">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Name</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <div class="labelstyle">Edward Smith</div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Type of Practice</label>
                                                        </div>

                                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 colon">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" autocomplete="off" required> Solo Practice
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required> Group Practice
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="3" autocomplete="off" required> Network
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">County</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input type="text" name="Provider.County" class="form-control input-xs" />
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Specialty</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <label class="labelstyle">
                                                                CARDIOLOGY ,
                                                                GENERAL MEDICINE
                                                            </label>

                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Board Certification </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Hospital Privileges </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Covering Physician(s) </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input type="text" name="Provider.County" class="form-control input-xs" />
                                                        </div>

                                                    </div>
                                                    
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Welcome Letter Mailed Date </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input type="date" name="Provider.County" class="form-control input-xs" />
                                                        </div>

                                                    </div>
                                                    
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Gaps in Practice</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Clean license</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">NPDB Issues</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">Malpractice Issues</label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                             
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">       Years in Practice </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input type="number" name="Provider.years" class="form-control input-xs" />
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">     Site Visit Required. If yes, were there any issues  </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Yes
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>No
                                                        </div>

                                                    </div>
                                                   
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle">  Recommended Provider Level </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="1" checked autocomplete="off" required>Level1
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>Level2
                                                            <input name="Provider.Personal.TypeofPractice" type="radio" value="2" autocomplete="off" required>Level3
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                            <label class="labelstyle"> Attach Document </label>
                                                        </div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                            :
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                           <input type="file"  class="form-control input-xs" />
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    @*<div class="modal-footer">
                                            <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal" id="Confirm">Close</button>
                                        </div>*@
                                </form>
                            </div>
                        </div>
                    </div>

                </th>
            </tr>
        </table>


    </td>
</tr>

