<tr>
    <td colspan="8" style="height:300px">
        <div class="fa fa-close close_x"></div>
        <table class="table table-bordered">
            <tr>
                <th>

                    <div class="row package">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tracker tracking_detail text-center">
                            <span style="text-align:center">
                                <span class="col-lg-3 track track-done">
                                    <label class="track-title"><b>Initiate</b></label>
                                    <span class="track-title-second">25/08/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>PSV</b></label>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>CCM</b></label>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>Package</b></label>
                                    <p class="track-title FooterTotalCount">Generation</p>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-done">
                                    <label class="track-title"><b>Provider</b></label>
                                    <p class="track-title FooterTotalCount">Sign</p>
                                    <span class="track-title-second">29/09/2016</span>
                                </span>
                                <span class="col-lg-2 track track-current">
                                    <label class="track-title"><b>Submit to</b></label>
                                    <p class="track-title FooterTotalCount">Plan</p>
                                </span>
                                <span class="col-lg-2 track track-pending">
                                    <label class="track-title" style="color:white"><b>Result</b></label>

                                </span>
                            </span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>

                </th>
            </tr>
            <tr>
                <th>
                    <div class="row" style="padding-top: 10px; margin-top: 17px;">
                        <div class="col-lg-6">
                            <div class="col-lg-6">
                                <label><b>Plan : </b>Ultimate</label>
                            </div>
                            <div class="col-lg-6">
                                <label><b>LOB : </b>	MEDICARE ,COMMERCIAL</label>
                            </div>
                                       
                       
                            <div class="col-lg-2"><b>Plan Forms : </b></div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list-item">
                                        GHI Hospital Form
                                    </li>
                                    <li class="list-item">
                                        Ultimate Credentialing Application
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th><b>Documents</b></th>
                                        <th><b>Status</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>State License</td>
                                        <td>Available</td>
                                    </tr>
                                    <tr>
                                        <td>DEA License</td>
                                        <td>Available</td>
                                    </tr>
                                    <tr>
                                        <td>Medicare License</td>
                                        <td><a style="color:red">MISSING</a></td>
                                    </tr>
                                    <tr>
                                        <td>BOARD CERTIFICATION</td>
                                        <td>
                                            Available
                                            <br /> <a style="text-align:center" class="btn">Add More</a>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>

                  
                    <div class="col-lg-12" style="padding-top:10px">
                        
                        
                            <div class="col-lg-1 col-lg-offset-9">
                                <div class="btn"><i class="fa fa-envelope-o fa_blue"></i><b>&nbsp;&nbsp; Send to plan</b></div>
                            </div>
                           
                        <div class="col-lg-1 col-lg-offset-1">
                            <div data-partial="~/Areas/CredAxis/Views/Credentialing/CredentialingProcess/_Announcment.cshtml" class="btn btn-success btn-sm next_step">Next Step</div>
                        </div>
                            

                    </div>
                </th>
            </tr>
        </table>

    </td>
</tr>

