
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-user fa-fw"></i> Welcome
    </div>
    <div class="panel-body">
        <div ng-cloak class="col-lg-12">
            <h2>Welcome to Credentialing Application!!</h2>
        </div>
    </div>
</div>