<div role="tabpanel">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs small" role="tablist">
            @*<li role="presentation" class="active"><a href="#psv" aria-controls="psv" role="tab" data-toggle="tab">PSV</a></li>
            <li role="presentation"><a href="#credentialing_action" aria-controls="credentialing_action" role="tab" data-toggle="tab">Credentialing Action</a></li>*@
            <li role="presentation" class="active"><a href="#timeline" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a></li>            
        </ul>
    </div>

    <div class="col-lg-12">
        <!-- Tab panes -->
                @*<div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="psv">
                        <!---Demographics partial starts here-->
                        @Html.Partial("~/Views/Verification/_PSVView.cshtml")
                        <!---Demographics partial ends here-->
                    </div>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="credentialing_action">
                        <!---Demographics partial starts here-->
                        <!---Demographics partial ends here-->
                    </div>
                </div>*@
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="timeline">
                <!---Demographics partial starts here-->
                @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_Timelines.cshtml")
                <!---Demographics partial ends here-->
            </div>
        </div>        
    </div>
    <div class="clearfix"></div>
</div>