<div class="col-lg-12 small zero-padding-left-right-div">
    <div class="col-lg-2 thumbnail imageStyle">
        <img src="/Content/Images/NewPlans/FREEDOM HEALTH(IPA).jpg" class="datatableimg grow">
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Insurance Company:</label>
        <div><i class="data-label small ng-binding">Freedom</i></div>
    </div> 
    <div class="col-lg-3">
        <label class="control-label small">Plan Type:</label>
        <div>  <i class="data-label small ng-binding">HMO</i></div>
    </div>
    <div class="col-lg-3">
        <label class="control-label small">Plan:</label>
        <div>  <i class="data-label small ng-binding">Freedom HMO</i></div>
    </div>
    </div>
@*<div class="col-lg-12 small" id="plan_detail_div" style="display:none; margin-top:1px;">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <label class="control-label small">Location:</label>
        <div> <i class="data-label ng-binding">Florida</i></div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Group:</label>
        <div>  <i class="data-label ng-binding">Access 2</i></div>
    </div>
    <div class="col-lg-3">
        <label class="control-label small">Specialty:</label>
        <div>  <i class="data-label ng-binding">Internal Medicine</i></div>
    </div>
</div>*@