@model PortalTemplate.Areas.Billing.Models.CMS1500.New.BillingInfo


<div class="x_panel border_on_panel">
    <div class="x_content">

        @Html.Partial("~/Areas/Billing/Views/CreateClaim/_CMS1500Form.cshtml", Model)


        
    </div>
</div>

<p-script filepath="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/HippaFormValidations.js"></p-script>
<p-script filepath="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/CMS1500.js"></p-script>

