
<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="selected" isdone="1" rel="1">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Select Member/Provider
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="disabled" isdone="1" rel="2">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Claims Information
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="disabled" isdone="0" rel="3">
                <span class="step_no">3</span>
                <span class="step_descr">
                    CMS1500 Form
                </span>
            </a>
        </li>
    </ul>

    <div class="x_panel border_on_panel">
        <!--Form-->
        <div class="x_panel form_Create">
            <div class="x_content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 zero-padding-left-right">
                        <label for="fullname">CREATE CLAIMS BY</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                        <input id="provider" type="radio" name="CreateClaimsBy" class="normal-radio" value="Multiple claims for a Provider">
                        <label for="provider"><span></span>Multiple claims for a provider</label>                
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <input id="Member" type="radio" name="CreateClaimsBy" class="normal-radio" value="Multiple claims for a Member">
                        <label for="Member"><span></span>Multiple claims for a member</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <input id="claim" type="radio" name="CreateClaimsBy" class="normal-radio" value="A single Claim" checked="checked">
                        <label for="claim"><span></span>A single claim</label>
                    </div>
                </div>
            </div>
            <div class="x_content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <div>
                            <label for="fullname">CLAIM TYPE</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                            <input id="cap" type="radio" name="ClaimType" class="normal-radio" value="Encounter(CAP)" checked="checked">
                            <label for="cap"><span></span>Encounter(CAP)</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                            <input id="ffs" type="radio" name="ClaimType" class="normal-radio" value="1500(FFS)">
                            <label for="ffs"><span></span>1500(FFS)</label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="providerContainer">
                            <div class="col-lg-4 zero-padding-left-right">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                    <label for="fullname">PROVIDER</label><br />
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 zero-padding-left-right">
                                        <input class="form-control input-xs non_mandatory_field_halo" name="Provider" placeholder="Provider Name">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <button class="copy-button margin_left_12px" id="provider_search_btn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="memberContainer">
                            <div class="col-lg-3">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="fullname">DOS From</label>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input class="form-control input-xs non_mandatory_field_halo" name="DOSFrom" placeholder="From">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>DOS To</label>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input class="form-control input-xs non_mandatory_field_halo" name="DOSTo" placeholder="To">
                                </div>
                            </div>

                            <div class="col-lg-3 zero-padding-left-right">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label for="fullname">MEMBER</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input class="form-control input-xs non_mandatory_field_halo" name="Member" placeholder="Member Name">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <button class="copy-button margin_left_12px" id="member_search_btn">Search</button>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>

            </div>


        </div>
        <!--Form Preview-->
        <div class="x_panel form_Create_Preview">
            <div class="x_content">
                <span class="padding_5px">
                    <span>CREATE CLAIMS BY:</span>
                    <span class="bolder uppercase createClaimsBy"></span>
                </span>
                <span class="padding_5px">
                    <span>CLAIM TYPE:</span>
                    <span class="bolder uppercase claimType"></span>
                </span>
                <span class="providerContainer padding_5px">
                    <span>PROVIDER:</span>
                    <span class="bolder uppercase Provider"></span>
                    <button class="edit-button margin_left_12px edit_create_claim_Form input-sm"><i class="fa fa-pencil"></i> Edit</button>

                </span>
                <span class="memberContainer padding_5px">
                    <span class="padding_5px">
                        <span>DATE OF SERVICE:</span>
                        <span class="bolder uppercase DOSFrom"></span>-<span class="bolder uppercase DOSTo"></span>
                    </span>
                    <span class="padding_5px">
                        <span>MEMBER:</span>
                        <span class="bolder uppercase Member"></span>
                        <button class="edit-button margin_left_12px edit_create_claim_Form input-sm"><i class="fa fa-pencil"></i> Edit</button>
                    </span>
                </span>
            </div>
        </div>



        <div class="x_panel x_content search_result">
            <div id="search_result">

            </div>
        </div>
    </div>
    <div class="margin_top_20_px button-styles">
        <button class="view-button pull-right" id="GoToClaimInfoBtn">Next</button>
    </div>
</div>



