@model PortalTemplate.Areas.Billing.Models.CreateClaim.ProviderResultViewModel

<div id="selectedProviderDiv">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right runningdata runningdata-standard memberPictureFrame ClaimInformationInfo">
            <table class="table responsive-utilities table-condensed table-responsive">
                <thead class="SelectedMemberheader">
                    <tr class="headings">
                        <th class="column-title">NPI# </th>
                        <th class="column-title">NAME </th>
                        <th class="column-title">ADDRESS</th>
                        <th class="column-title">TAX ID</th>
                    </tr>
                </thead>
                <tbody class="boldbody">
                    <tr>
                        <td>
                            @Model.ProviderNPI
                        </td>
                        <td>
                            @Model.ProviderFullName
                        </td>
                        <td>
                            @Model.ProviderFirstAddress
                        </td>
                        <td>
                            @Model.Taxonomy
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>




    <div class="x_content padding_8px Member_Provider_search">
        <div class="col-lg-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="fullname">DOS From</label>
                <input class="form-control input-xs non_mandatory_field_halo" name="DOSFromProvider" placeholder="From">
            </div>
        </div>

        <div class="col-lg-2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="fullname">DOS To</label>
                <input class="form-control input-xs non_mandatory_field_halo" name="DOSToPrivuder" placeholder="To">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label for="fullname">MEMBER</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control input-xs non_mandatory_field_halo" name="Member_Provider" placeholder="Member Name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <button class="copy-button margin_left_12px" id="member_search_for_provider_btn">Search</button>
            </div>
        </div>

    </div>
    <div class="x_panel form_Create_Provider_Member">
        <div class="x_content padding_8px">
            <span class="memberContainer padding_5px">
                <span class="padding_5px">
                    <span>DATE OF SERVICE:</span>
                    <span class="bolder uppercase DOSFrom"></span>-<span class="bolder uppercase DOSTo"></span>
                </span>
                <span class="padding_5px">
                    <span>MEMBER:</span>
                    <span class="bolder uppercase Member"></span>
                    <button class="edit-button margin_left_12px edit_create_claim_Form_Provider input-sm"><i class="fa fa-pencil"></i> Edit</button>
                </span>
            </span>
        </div>
    </div>


    <div id="member_for_provider_result">

    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/SelectProvider.js"></script>