/***************** Tiles in CM Dashboard *********************/
    div.dim, div.dim:hover {
        display: inline-block;
        text-decoration: none;
        text-transform: none;
        text-align: center;
        padding-top: 6px;
        margin-right: 10px;
        position: relative;
       
        color: white;
        border-radius: 5px;
        font-weight: 600;
        margin-bottom: 20px !important;
        height: 25%;
        width: 100%;
    }

    /*Day on Hover*/
    div.tile-danger.dim:hover {
        background-color:  #6666ff;
        color: white;
        cursor: pointer;
    }

    /*Week on Hover*/
    div.tile-success.dim:hover {
        background-color: #1ABB2C;
        color: white;
        cursor: pointer;
    }
   
     /*Month on Hover*/
    div.tile-warning.dim:hover {
        background-color: #996600;
        color: white;
        cursor: pointer;
    }

     /*Annual on Hover*/
    div.tile-primary.dim:hover {
        background-color: #ff7733;
        color: white;
        cursor: pointer;
    }

    /*Day*/
    div.tile-danger.dim {
        background-color: #9999ff;
        box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 4px 5px #999;
    }

     /*Week*/
    div.tile-success.dim {
        background-color: #1ABB9C;
        box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 4px 5px #999;
    }

    /*Month*/
    div.tile-warning.dim {
        background-color: #ffaa00;
        box-shadow: inset 0 0 0 rgb(228, 88, 6), 0 5px 0 0 rgb(228, 88, 6), 0 4px 5px #999;
        /*box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 4px 5px #999;*/
    }

    /*Annual*/
    div.tile-primary.dim {
        background-color: #ff9966;
        box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 4px 5px #999;
    }


.memberTabs {
    background-color: rgb(90, 126, 171) /*lightseagreen*/ !important;
    color: white !important;
    text-decoration: none !important;
    padding-bottom: 5px !important;
}

.carePlanTables {
    /*font-size: 14px;*/
}

/*===================Field Set-Legend===========================*/
fieldset.fsStyle {
    /*font-family: Verdana, Arial, sans-serif;*/
    /*font-size: small;*/
    font-weight: normal;
    border: 1px solid #d4c9c9;
    padding: 4px;
    margin-top: 5px;
}

legend.legendStyle {
    font-size: 12px;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
}

.legendStyle > span {
    color: rgb(9, 65, 122);
    margin-left: 5px;
    margin-right: 5px;
}

legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    /* border-bottom: 1px solid #e5e5e5*/
}

.legend2 {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;
}

.legendStyle2 > span {
    color: rgb(9, 65, 122);
    margin-left: 5px;
    margin-right: 5px;
}

.clickable-row tr {
    cursor: pointer;
}

.CarePlanPanels {
    min-height: 120px;
}

#flip-head {
    color: #fff;
    background: #6e93cf;
    /*opacity: 0.8;*/
}

#flip-head, #flip-body {
    padding: 5px;
    text-align: left;
    border: 1px solid rgba(158, 158, 158, 0.16);
}

/*********  Buttons in Care Plan Panels ********/
.table-button:hover {
    border-color: #0090a9;
    color: #fff;
    background-color: #0090a9;
    background-image: linear-gradient(#00a9c7,#0090a9);
}

.table-button {
    margin-top: 3px;
    background: none transparent;
    border: 1px solid transparent;
    padding: 4px;
}
.plan-description{

}

.carePlanData {
        white-space: normal;
    }

/*********** css added to div in tr for highlighting selected item *************/
.selected-carePlan-element {
    background-color: lightcyan !important;
    box-shadow: 2px 2px 2px #382c44 !important;
    font-weight : bold;
    border-left: 5px solid groove !important;
}
.unselected-carePlan-element {
    background-color: white;
    font-weight : normal;
}


/********** Care plan table content***********/
.careplan-item {
    position: relative
}

.careplan-item,.careplan-item.webix_selected {
    background-color: #f5f5f5;
    padding: 4px 8px 5px;
    border: none
}


.careplan-content {
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 7px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    /*border-left: 3px solid #27ae60;*/
    box-shadow: 2px 2px 3px #ddd
}
#carePlanProblemTable .careplan-content{
    border-left: 5px solid #cc66ff/*#b366ff*//*#ff33ff*/;
}
#carePlanInterventionTable .careplan-content{
    border-left: 5px solid #cc3399;
}
#carePlanGoalTable .careplan-content{
    border-left: 5px solid #00bfff/*#cc66ff*/;
}
#carePlanOutcomeTable .careplan-content{
    border-left: 5px solid #ff5858;
}

.careplan-body {
    min-height: 25px;
    overflow: hidden;
    white-space: pre-wrap;
    padding: 5px 22px 5px 0
}

.careplan-item .careplan-footer {
    height: auto;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 2px 0
}

.careplan-item .careplan-footer .careplan_icon {
    background-color: rgba(0,0,0,.05);
    border-radius: 2px;
    color: #3498d8;
    color:#888;
    width: 18px;
    margin-left: 2px;
    text-align: center;
    padding: 2px 0;
    font-size: 13px;
    cursor:pointer;
}


/*********  Legend2 added for Search Template Result **************/
.viewCarePlan-legend2{
     position:absolute;
    top:0px;
    right:1em;
    background:#fff;
     /*padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;*/
}
.viewCarePlan-fieldset{
     position:relative;
}