
@{
    ViewBag.Title = "ReCredentialingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>

<script src="~/Scripts/Lib/Angular/ng-table.js"></script>

<style>
    .vertical-align {
        align-items: center;
    }

    .selectedProvider {
        background-color: rgb(150, 162, 225);
    }

    .imageStyle {
        padding: 0px;
        margin-bottom: 0px;
    }

    .alignTableStyle > thead > tr > th,
    .alignTableStyle > tbody > tr > th,
    .alignTableStyle > tfoot > tr > th,
    .alignTableStyle > thead > tr > td,
    .alignTableStyle > tbody > tr > td,
    .alignTableStyle > tfoot > tr > td {
        vertical-align: middle;
        text-align: center;
    }

    .marginTop {
        margin-top: 22px;
    }

    .marginBottom {
        margin-bottom: 22px;
    }

    .select2-container {
        display: block;
    }
</style>


<div id="page-wrapper" ng-app="InitReCredApp" ng-controller="listController" ng-cloak>
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list-ol"></i> Re-Credentialing List
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div role="tabpanel">

            <div ng-class="{'false':'col-lg-12','true':'col-lg-7'}" class="zero-padding-left-right-div">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="provider">
                        <!---Provider partial starts here-->

                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                Re-Credentialing List
                            </div>
                            <div class="panel-body">
                                <table class="text-capitalize table table-hover ng-table-resizable-columns ng-table-rowselected ng-scope ng-table">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Provider Type</th>
                                            <th>Specialty</th>
                                            <th>Plan</th>
                                            <th>Initiated Date</th>
                                            <th>Status</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><input type="text" placeholder="Filter Specialty" class="form-control input-sm" ng-model="search.Specialty" /></td>
                                            <td><input type="text" placeholder="Filter Plan" class="form-control input-sm" ng-model="search.Plan" /></td>
                                            <td><input type="text" placeholder="Filter Initiated Date" class="form-control input-sm" ng-model="search.InitiatedDate" /></td>
                                            <td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.Status" /></td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in allProviders | filter:{Specialty:search.Specialty,Plan:search.Plan,InitiatedDate:search.InitiatedDate,Status: search.Status}">
                                            <td>{{p.FirstName}}</td>
                                            <td>{{p.LastName}}</td>
                                            <td>{{p.ProviderType}}</td>
                                            <td>{{p.Specialty}}</td>
                                            <td>{{p.Plan}}</td>
                                            <td>{{p.InitiatedDate}}</td>
                                            <td>{{p.Status}}</td>
                                            <td>
                                                <a class="btn btn-xs btn-info" href="/Credentialing/ReCredentialing/SPA"><i class="fa fa-caret-right"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-if="ActionMessage" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    {{ActionMessage}}
                                </div>
                            </div>
                        </div>

                        <!---Provider partial ends here-->
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
<script>
    var initReCredApp = angular.module('InitReCredApp', ['ngTable']);

    initReCredApp.controller('listController', function ($scope) {

        $scope.allProviders = [
            { "FirstName": "Parikshit", "LastName": "Singh", "ProviderType": "MD", "Specialty": "Dentist", "Plan": "ULTIMATE HEALTH PLAN", "InitiatedDate": "15th Nov,2014", "Status": "Initiated" },
            { "FirstName": "Parikshit", "LastName": "Singh", "ProviderType": "MD", "Specialty": "Chiropractor", "Plan": "FREEDOM VIP CARE COPD (HMO SNP)", "InitiatedDate": "15th Nov,2014", "Status": "Re-Credentialled" },
            { "FirstName": "Parikshit", "LastName": "Singh", "ProviderType": "MD", "Specialty": "Allergy", "Plan": "OPTIMUM GOLD REWARDS PLAN (HMO-POS)", "InitiatedDate": "15th Dec,2014", "Status": "Submitted" },
            { "FirstName": "Parikshit", "LastName": "Singh", "ProviderType": "MD", "Specialty": "Allergy & Immunology", "Plan": "OPTIMUM DIAMOND REWARDS (HMO-POS SNP)", "InitiatedDate": "14th Jan,2015", "Status": "Re-Credentialled" },
            { "FirstName": "Parikshit", "LastName": "Singh", "ProviderType": "MD", "Specialty": "Dentist", "Plan": "OPTIMUM PLATINUM PLAN (HMO-POS)", "InitiatedDate": "15th March,2015", "Status": "Re-Credentialled" }
        ];

    });
</script>



