@model PortalTemplate.Areas.UM.Models.ViewModels.Queue.FacilityQueueModuleViewModel

<link href="~/Areas/UM/Styles/Queue/IntakeQueue.css" rel="stylesheet" />
@*@if (ViewBag.SubTabView.IsSubTabs)
    {
        @Html.Partial("~/Areas/UM/Views/Queue/Common/_QueueSubTabs.cshtml")
    }*@


<div id="queueFilters" class="col-lg-offset-6 padding-left-right-1px">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/QueueFilters/_QueueFilters.cshtml", Model.QueueInfo)
</div>
<div class="clearfix"></div>
<div id="queueBody">
   
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/FacilityQueue/FacilityQueueGrid/_FacilityQueueGrid.cshtml", Model.AuthorizationsList)
</div>


<p-script filepath="~/Areas/UM/Scripts/Queue/Queue.js"></p-script>
