<div class="col-lg-12 button-styles">
    <button type="submit" class="btn btn-success req_preAuth_btn pull-right" style="width: 8%">Request</button>&nbsp;
    <button class="btn btn-primary pend_preAuth_btn pull-right" style="width: 8%">Pend</button>&nbsp;
    <button class="btn btn-danger pull-right" style="width:8%">Cancel</button>
</div>
