@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
<div class="x_panel border_on_panel zero-padding-left-right">
    <div class="x_content zero-padding-left-right">
        <div class="col-lg-12">
            <span class="col-md-2 col-lg-2">
                <button type="button" class="btn btn-primary btn-xs bold_text pull-left AddCPTRangeBtn_PreAuth">Add CPT Range</button>
            </span>
            <div>
                <span class="theme_label pull-left" style="margin-top:3px">@Html.LabelFor(e => e.UMServiceGroup)</span>
                <div class="col-md-3 col-lg-3">
                    @Html.DropDownListFor(e => e.UMServiceGroup, new SelectList((System.Collections.IEnumerable)ViewData["MasterUMSvcGrps"], "Name", "Name"), "SELECT", new { @class = "form-control input-xs text-uppercase", @tabindex = "-1", @id = "UMServiceGroupID" })
                </div>
            </div>
        </div>
       <div id="CPTBodySection">
           @Html.Partial("~/Areas/Portal/Views/PriorAuth/PriorAuthForm/Create/CPTSubTypes/_CPTSectionType1.cshtml")
       </div>
    </div>
</div>
<p-script filepath="~/Areas/Portal/Scripts/PriorAuth/PriorAuthForm/Common/NonMinified/ICDCPTCommonSection.js"></p-script>
<p-script filepath="~/Areas/Portal/Scripts/PriorAuth/PriorAuthForm/Common/NonMinified/CPTSection.js"></p-script>