@model PortalTemplate.Areas.Portal.Models.PriorAuth.PriorAuthorization.PriorAuthorizationViewModel
@using PratianUI
<div class="x_panel border_on_panel zero-padding-left-right">
    <div class="x_content zero-padding-left-right">
        <div class="col-lg-12">
            <span class="theme_label col-lg-5 zero-padding-left-right">@Html.LabelFor(e => e.Note)</span>
            <b class="text-danger pull-right" id="wordCount">250 Words Remaining</b>
            <br />
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="td-ellipsis" data-toggle="popover" data-trigger="hover" data-placement="top" data-title="Text Limit Reached" data-content="Could not paste text as it is exceeding <br>  maximum word's limit of textarea.">
                    @Html.TextAreaFor(e => e.Note, new { @Class = "form-control input-xs text-uppercase", @id = "noteArea", @Rows = "3", @Cols = "170" })
                </div>
            </div>
        </div>
        <div class="clearfix">
            <br />
            <br />
        </div>
        <div class="col-lg-12">
            <span class="col-lg-12 PreAuth_NoteTextStyle">
                Authorizations will be given for medically necessary services only. This request cannot be processed without supporting documentation such as office visit notes, pertinent laboratory data, prior treatment note(s), etc. Payment is subject to verification of member eligibility, benefit coverage and appropriate coding guidelines.
            </span>
        </div>
    </div>
</div>

