/* Auditing List*/
.AuditingListContainter {
}

.AuditingTabContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

.AuditingTabContainer ul {
    display: inline-flex !important;
    margin-top: 12px !important;
    padding-left: 12px !important;
}

    .AuditingTabContainer ul li {
        padding: 0px 4px 0px 0px !important;
    }

.AuditingTabContainer .list-item:hover:before, .list-item:hover:after {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.AuditingTabContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.AuditingTabContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.AuditingTabContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.AuditingTabContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.AuditingTabContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .AuditingTabContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .AuditingTabContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .AuditingTabContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .AuditingTabContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .AuditingTabContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.AuditingTabContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}

.padding_left_right_12px {
    padding-left: 12px;
    padding-right: 12px;
}


label.title_text {
    font-weight: 900;
    font-size: 15px;
    background: #5b83d5;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -25px;
}

    label.title_text:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #3d5fa4 transparent transparent;
        left: 0px;
        bottom: -8px;
    }

.CoderBadge {
    background-color: #0288d1 !important;
}

.CommitteeBadge {
    background-color: #66b553 !important;
}

.ProviderBadge {
    background-color: #ff6000 !important;
}

.QCBadge {
    background-color: #314fa7 !important;
}

.InactiveBadge {
    background-color: #314fa7 !important;
}


.p_legendHeader {
    color: rgb(67, 102, 160);
    font-weight: 900;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.agree_btn {
    color: #37991d;
    font-size: 17px;
}

.zero-padding-left-right_0px {
    padding-left:0px;
    padding-right:0px;
}
.margin_0px{
    margin:0px!important;
}

.border_on_panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #ddd;
    border-radius: 1px;
}

.greybackground
{
    background: rgb(247, 247, 247);
}