
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Member Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="col-lg-12 zero-padding-left-right">
            <div class="col-lg-3">
                <span class="theme_label"><label for="FACILITY_NAME">Last Name</label></span><br>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Last Name" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="TAX_ID">First Name</label></span><br>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="First Name" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="NPI">Middle Initail</label></span><br>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="Middle Initail" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FACILITY_TYPE">Relationship To Patient</label></span><br>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="Relationship" type="text" value="">
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="CONTACT_NAME">Address Line 1</label></span><br>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="Address Line 1" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="CONTACT_NAME">Address Line 2</label></span><br>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="Address Line 2" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="PHONE_NUMBER">City</label></span><br>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="City" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">State</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="State" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">County</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="County" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">Country</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Country" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">ZipCode</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="ZipCode" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">Phone</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Phone" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">Subscriber ID</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Subscriber ID" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">Coverage Start Date</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Coverage Start Date" type="text" value="">
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FAX_NUMBER">Coverage End Date</label></span><br>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Coverage End Date" type="text" value="">
            </div>
            
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <button class="btn btn-primary pull-right saveEditSubscriberInfo">Update</button>
        <button class="btn btn-danger pull-left cancelEditSubscriberInfo">Cancel</button>
    </div>
</fieldset>