<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--<register type="Namespace.Interface, assembly" mapTo="Namespace.ImplClass, Assembly"></register>-->

    <!--Register all Business Layer Types here-->
    <register type="AHC.CachingService.ICachingService,AHC.CachingService" mapTo="AHC.CachingService.RedisCachingService,AHC.CachingService"></register>
    <!--<register type="AHC.CD.Business.IIndividualCredentialingManager,AHC.CD.Business" mapTo="AHC.CD.Business.IndividualCredentialingManager,AHC.CD.Business"></register>-->
    <register type="AHC.CD.Business.DocumentWriter.IDocumentsManager,AHC.CD.Business" mapTo="AHC.CD.Business.DocumentWriter.ProviderDocumentManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.DocumentWriter.IDocumentRootLocator,AHC.CD.Business" mapTo="AHC.CD.Business.DocumentWriter.InAppDocumentRootLocator,AHC.CD.Business"></register>
    <!--<register type="AHC.CD.Business.IProvidersManager,AHC.CD.Business" mapTo="AHC.CD.Business.ProvidersManager,AHC.CD.Business"></register>-->
    <register type="AHC.MailService.IEmailSender,AHC.MailService" mapTo="AHC.MailService.EmailSender,AHC.MailService"></register>
    <register type="AHC.CD.Business.IProfileManager,AHC.CD.Business" mapTo="AHC.CD.Business.ProfileManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IPracticeLocationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.PracticeLocationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Account.IOrganizationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Account.OrganizationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Account.IFacilityManager,AHC.CD.Business" mapTo="AHC.CD.Business.Account.FacilityManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.MasterData.IMasterDataManager,AHC.CD.Business" mapTo="AHC.CD.Business.MasterData.MasterDataManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.IRepositoryManager,AHC.CD.Business" mapTo="AHC.CD.Business.RepositoryManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.IRepositoryManager,AHC.CD.Business" mapTo="AHC.CD.Business.RepositoryManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Users.IUserManager,AHC.CD.Business" mapTo="AHC.CD.Business.Users.UserManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IProfileDataDuplicateManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileDataDuplicateManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IPDFProfileDataGeneratorManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.PDFProfileDataGeneratorManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Search.ISearchManager,AHC.CD.Business" mapTo="AHC.CD.Business.Search.SearchManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Search.ISearchProfileForTLManager,AHC.CD.Business" mapTo="AHC.CD.Business.Search.SearchProfileForTLManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Notification.IChangeNotificationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Notification.ChangeNotificationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Notification.IExpiryNotificationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Notification.ExpiryNotificationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.MasterData.IMasterDataAddEdit,AHC.CD.Business" mapTo="AHC.CD.Business.MasterData.MasterDataAddEdit,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IProfileDelegationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileDelegationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IProfileUpdateManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileUpdateManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IProfileHistoryManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileHistoryManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.IIndividualCredentialingManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.IndividualCredentialingManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.PlanManager.IPlanManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.PlanManager.PlanManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.CnD.IApplicationRepositoryManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.CnD.ApplicationRepositoryManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.CnD.IApplicationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.CnD.ApplicationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.PSVInfo.IPSVManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.PSVInfo.PSVManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Users.IPasswordHistory,AHC.CD.Business" mapTo="AHC.CD.Business.Users.PasswordHistory,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.AppointmentInfo.IAppointmentManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.AppointmentInfo.AppointmentManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.DelegationProfileReport.IDelegationProfileReportManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.DelegationProfileReport.DelegationProfileReportManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Credentialing.Loading.ICredentialingContractManager,AHC.CD.Business" mapTo="AHC.CD.Business.Credentialing.Loading.CredentialingContractManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IQuickUpdateManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.QuickUpdateManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.PdfGeneration.IPdfMappingManager,AHC.CD.Business" mapTo="AHC.CD.Business.PdfGeneration.PdfMappingManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.LocationTracker.ILocationTrackerManager,AHC.CD.Business" mapTo="AHC.CD.Business.LocationTracker.LocationTrackerManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.CustomFieldGeneration.ICustomFieldGenerationManager,AHC.CD.Business" mapTo="AHC.CD.Business.CustomFieldGeneration.CustomFieldGenerationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Email.IEmailServiceManager,AHC.CD.Business" mapTo="AHC.CD.Business.Email.EmailServiceManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.PackageGeneration.IPackageGeneratorManager,AHC.CD.Business" mapTo="AHC.CD.Business.PackageGeneration.PackageGeneratorManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.ICredentilingRequestManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.CredentialingRequestManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.TaskTracker.ITaskTrackerManager,AHC.CD.Business" mapTo="AHC.CD.Business.TaskTracker.TaskTrackerManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IContractManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ContractManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.EmailService.IEmailManager,AHC.CD.Business" mapTo="AHC.CD.Business.EmailService.EmailManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.PlanForms.IPlanFormManager,AHC.CD.Business" mapTo="AHC.CD.Business.PlanForms.PlanFormManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IRequestForApprovalManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.RequestForApprovalManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.Repository.ITaskTrackerExpiryRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.Notification.TaskTrackerExpiryRepository,AHC.CD.Data.EFRepository"></register>
    <register type="AHC.CD.Data.Repository.Notification.IRealTimeNotificationRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.ADO.Notification.RealTimeNotificationADORepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Business.Notification.IRealTimeNotificationManager,AHC.CD.Business" mapTo="AHC.CD.Business.Notification.RealTimeNotificationManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.Repository.TaskTracker.ITaskTrackerRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.TaskTracker.TaskTrackerEFRepository,AHC.CD.Data.EFRepository"></register>

    <register type="AHC.CD.Data.ADO.Credentialing.Loading.ICredentialingContractRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Credentialing.Loading.CredentialingContractRepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.ADO.EmailService.IEmailServiceRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.EmailService.EmailServiceRepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.ADO.Profile.IRequestForApprovalRepo,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Profile.RequestForApprovalRepo,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.ADO.Credentialing.CCMPortal.IAppointmentRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Credentialing.CCMPortal.AppointmentRepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.Repository.ContractGrid.IContractGridRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.ContractGrid.ContractGridRepository,AHC.CD.Data.EFRepository"></register>
    <register type="AHC.CD.Data.ADO.Plan.IPlanRepositoryADO,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Plan.PlanRepositoryADO,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.Repository.IPlansRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.PlansEFRepository,AHC.CD.Data.EFRepository"></register>
    <register type="AHC.CD.Data.ADO.AspnetUser.IUserDetails,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.AspnetUser.UserDetails,AHC.CD.Data.ADO"></register>

    <register type="AHC.CD.Business.Plans.IPlanManagerADO,AHC.CD.Business" mapTo="AHC.CD.Business.Plans.PlanManagerADO,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Plans.IPlanManagerEF,AHC.CD.Business" mapTo="AHC.CD.Business.Plans.PlanManagerEF,AHC.CD.Business"></register>


    <register type="AHC.CD.Business.Profiles.IProfileManagerServiceADO,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileManagerServiceADO,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.ADO.ProviderService.IProviderRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.ProviderService.ProviderRepository,AHC.CD.Data.ADO"></register>

    <register type="AHC.CD.Data.ADO.AuditLog.IAuditLogADO,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.AuditLog.AuditLogADO,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Business.AuditLogManager.IAuditManager,AHC.CD.Business" mapTo="AHC.CD.Business.AuditLogManager.AuditManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.AuditLogManager.IAuditManagerADO,AHC.CD.Business" mapTo="AHC.CD.Business.AuditLogManager.AuditManagerADO,AHC.CD.Business"></register>


    <register type="AHC.CD.Data.Repository.Profiles.IProfileUpdateRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.ADO.Profile.ProfileUpdateADORepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Data.ADO.Credentialing.CCMPortal.IAppointmentRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Credentialing.CCMPortal.AppointmentRepository,AHC.CD.Data.ADO"></register>
    <!--End of Business Layer Type Registration-->
    <register type="AHC.CD.WebUI.MVC.Controllers.AccountController,AHC.CD.WebUI.MVC">
      <constructor />
    </register>

    <register type="AHC.CD.WebUI.MVC.Controllers.ManageController,AHC.CD.WebUI.MVC">
      <constructor />
    </register>

    <register type="AHC.CD.WebUI.MVC.Controllers.RolesAdminController,AHC.CD.WebUI.MVC">
      <constructor />
    </register>

    <register type="AHC.CD.WebUI.MVC.Controllers.UsersAdminController,AHC.CD.WebUI.MVC">
      <constructor />
    </register>

    <register type="AHC.CD.ErrorLogging.IErrorLogger,AHC.CD.ErrorLogging" mapTo="AHC.CD.ErrorLogging.ElmahErrorLogger,AHC.CD.ErrorLogging"></register>
    <register type="AHC.CD.Data.Repository.IUnitOfWork,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.EFUnitOfWork,AHC.CD.Data.EFRepository"></register>

    <register type="AHC.CD.Business.IAssignToCCOorTLManager,AHC.CD.Business" mapTo="AHC.CD.Business.AssignToCCOorTLManager,AHC.CD.Business"></register>

    <register type="AHC.CD.Business.Tasks.ITaskManager,AHC.CD.Business" mapTo="AHC.CD.Business.Tasks.TaskManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.ADO.Tasks.ITaskTrackerRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.Tasks.TaskTrackerRepository,AHC.CD.Data.ADO"></register>

  </container>
</unity>