

<div class="panel panel-default content-panel" style="border:none">
    @*<div class="panel-heading">
            <span class="badge bg-info pull-right" ng-show="ifFilter()">{{getIndexFirst()}} - {{getIndexLast()}} of {{data.length}}</span>
            <h3 class="panel-title">List of ReCredentialing Initiations</h3>
        </div>*@
    <div class="clearfix"></div>
    <div class="panel-body" ng-cloak>
        <div ng-show="loadingAjax" class="progress col-lg-12" ng-cloak>
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Loading...Please wait...
            </div>
        </div>
        <div ng-show="data.length==0 && !loadingAjax">
            <h4>No Data Available...</h4>
        </div>
        <div ng-show="data.length!=0" class="col-lg-12" style="overflow-x:auto;">
            <table ng-table="tableParams2" show-filter="true" class="table table-hover ng-table-resizable-columns ng-table-rowselected">

                <!-- ngInclude: templates.header -->

                <tr ng-repeat="user in $data track by $index ">

                    <td data-title="'First Name'" sortable="'FirstName'" header-class="text-left" filter="{ 'FirstName': 'text' }">
                        {{user.FirstName}}
                    </td>
                    <td data-title="'Last Name'" sortable="'LastName'" header-class="text-left" filter="{ 'LastName': 'text' }">
                        {{user.LastName}}
                    </td>
                    <td data-title="'Plan'" sortable="'PlanName'" header-class="text-left" filter="{ 'Plan': 'text' }">
                        {{user.PlanName}}
                    </td>

                    <td data-title="'Initiated Date'" sortable="'InitiationDate'" header-class="text-left" filter="{ 'InitiationDate': 'text' }" data-title-text="Initiated Date" class="ng-binding">
                        {{user.InitiationDate | date:'MM-dd-yyyy'}}
                    </td>
                    <td data-title="'Status'" sortable="'CurrentStatus'" header-class="text-left" filter="{ 'CurrentStatus': 'text' }">
                        {{user.CurrentStatus}}
                    </td>
                    
                    <td data-title="'Action'">
                        <a class="btn btn-xs btn-info" href="~/Credentialing/CnD/Application/{{user.CredentialingInfoID}}" ng-click="setCredInfo(user.CredentialingInfoID);setCreListId(2);" @*target="_blank"*@><i class="fa fa-caret-right" data-toggle="tooltip" data-placement="top" title="Use Application"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>