.btn-xs, .btn-group-xs > .btn {
    padding: 0px 10px;
}

.custombtngroup {
    margin-top: 11px;
    margin-right: 18px;
}

.tile > .tile-header > .tile-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    font-size: 10px;
}

.tile > .tile-header {
    padding: 5px;
}

.tile > .tile-body {
    padding: 10px;
}

.tile > .tile-header > .tile-count {
    color: #ffffff;
}

.tile > .tile-body > .tile-amount {
    color: #ffffff;
    font-size: 21px;
}

.tile > .tile-body > .tile-icon {
    color: rgba(255, 255, 255, 1);
}
/*.tile-icon1 {
    color: rgba(255, 255, 255, 0.4)!important;
}
.tile-icon1:hover{
color: #ffffff !important;
}*/
.tile:hover > .tile-body > .tile-icon {
    color: #ffffff;
}

/*----------------success tile------------*/
.success-tile:hover{
    transform:scale(1.02);
    cursor:pointer;
}
.success-tile > .tile-header {
    background: #1bc4a3;
}
.success-tile > .tile-header:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.success-tile > .tile-body {
    /*background: rgba(45,103,47,1);
background: -moz-linear-gradient(45deg, rgba(45,103,47,1) 0%, rgba(45,103,47,1) 8%, rgba(70,155,72,0.99) 22%, rgba(45,103,47,0.99) 35%, rgba(70,155,72,0.99) 45%, rgba(45,103,47,0.98) 55%, rgba(70,155,72,0.98) 69%, rgba(45,103,47,0.98) 81%, rgba(70,155,72,0.97) 89%, rgba(45,103,47,0.97) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,103,47,1)), color-stop(8%, rgba(45,103,47,1)), color-stop(22%, rgba(70,155,72,0.99)), color-stop(35%, rgba(45,103,47,0.99)), color-stop(45%, rgba(70,155,72,0.99)), color-stop(55%, rgba(45,103,47,0.98)), color-stop(69%, rgba(70,155,72,0.98)), color-stop(81%, rgba(45,103,47,0.98)), color-stop(89%, rgba(70,155,72,0.97)), color-stop(100%, rgba(45,103,47,0.97)));
background: -webkit-linear-gradient(45deg, rgba(45,103,47,1) 0%, rgba(45,103,47,1) 8%, rgba(70,155,72,0.99) 22%, rgba(45,103,47,0.99) 35%, rgba(70,155,72,0.99) 45%, rgba(45,103,47,0.98) 55%, rgba(70,155,72,0.98) 69%, rgba(45,103,47,0.98) 81%, rgba(70,155,72,0.97) 89%, rgba(45,103,47,0.97) 100%);
background: -o-linear-gradient(45deg, rgba(45,103,47,1) 0%, rgba(45,103,47,1) 8%, rgba(70,155,72,0.99) 22%, rgba(45,103,47,0.99) 35%, rgba(70,155,72,0.99) 45%, rgba(45,103,47,0.98) 55%, rgba(70,155,72,0.98) 69%, rgba(45,103,47,0.98) 81%, rgba(70,155,72,0.97) 89%, rgba(45,103,47,0.97) 100%);
background: -ms-linear-gradient(45deg, rgba(45,103,47,1) 0%, rgba(45,103,47,1) 8%, rgba(70,155,72,0.99) 22%, rgba(45,103,47,0.99) 35%, rgba(70,155,72,0.99) 45%, rgba(45,103,47,0.98) 55%, rgba(70,155,72,0.98) 69%, rgba(45,103,47,0.98) 81%, rgba(70,155,72,0.97) 89%, rgba(45,103,47,0.97) 100%);
background: linear-gradient(45deg, rgba(45,103,47,1) 0%, rgba(45,103,47,1) 8%, rgba(70,155,72,0.99) 22%, rgba(45,103,47,0.99) 35%, rgba(70,155,72,0.99) 45%, rgba(45,103,47,0.98) 55%, rgba(70,155,72,0.98) 69%, rgba(45,103,47,0.98) 81%, rgba(70,155,72,0.97) 89%, rgba(45,103,47,0.97) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d672f', endColorstr='#2d672f', GradientType=1 );*/
    background: #138a72;
}
/*---------------Light green tile-------------*/
.Lightgreen-tile > .tile-header {
    background: #99d063;
}

.Lightgreen-tile > .tile-body {
    background: #85c744;
}


/*---------------purple tile-------------*/
.purple-tile > .tile-header {
    background: #7b1fa2;
}

.purple-tile > .tile-body {
    background: #6a1b9a;
}
/*---------------Dark Indigo tile-------------*/
.darkindigo-tile > .tile-header {
    background: #283593;
}

.darkindigo-tile > .tile-body {
    background: #1a237e;
}
/*--------------- Indigo tile-------------*/
.indigo-tile > .tile-header {
    background: #a573ba;
}

.indigo-tile > .tile-body {
    background: #9358ac;
}

/*---------------Orange tile-------------*/
.orange-tile > .tile-header {
    background: #d84315;
}

.orange-tile > .tile-body {
    background: #bf360c;
}


/*--------------default tile---------------*/
.default-tile:hover {
   transform:scale(1.02);
   cursor:pointer;
}
.default-tile > .tile-header {
    background: #435d78;
}
.default-tile > .tile-header:before {
    content: "";
    width: 134%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.default-tile > .tile-body {
    background: #34495e;
    font-size: 12px;
}

/*---------------warning tile-------------*/
.warning-tile:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
.warning-tile > .tile-header {
    background: #f2b257;
}
.warning-tile > .tile-header:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.warning-tile > .tile-body {
    /*background: rgba(224,157,0,1);
background: -moz-linear-gradient(45deg, rgba(224,157,0,1) 0%, rgba(224,157,0,1) 16%, rgba(224,127,0,1) 26%, rgba(224,157,0,1) 33%, rgba(224,127,0,1) 43%, rgba(224,157,0,1) 53%, rgba(224,127,0,1) 67%, rgba(224,157,0,1) 78%, rgba(224,127,0,1) 89%, rgba(224,157,0,1) 95%, rgba(224,157,0,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(224,157,0,1)), color-stop(16%, rgba(224,157,0,1)), color-stop(26%, rgba(224,127,0,1)), color-stop(33%, rgba(224,157,0,1)), color-stop(43%, rgba(224,127,0,1)), color-stop(53%, rgba(224,157,0,1)), color-stop(67%, rgba(224,127,0,1)), color-stop(78%, rgba(224,157,0,1)), color-stop(89%, rgba(224,127,0,1)), color-stop(95%, rgba(224,157,0,1)), color-stop(100%, rgba(224,157,0,1)));
background: -webkit-linear-gradient(45deg, rgba(224,157,0,1) 0%, rgba(224,157,0,1) 16%, rgba(224,127,0,1) 26%, rgba(224,157,0,1) 33%, rgba(224,127,0,1) 43%, rgba(224,157,0,1) 53%, rgba(224,127,0,1) 67%, rgba(224,157,0,1) 78%, rgba(224,127,0,1) 89%, rgba(224,157,0,1) 95%, rgba(224,157,0,1) 100%);
background: -o-linear-gradient(45deg, rgba(224,157,0,1) 0%, rgba(224,157,0,1) 16%, rgba(224,127,0,1) 26%, rgba(224,157,0,1) 33%, rgba(224,127,0,1) 43%, rgba(224,157,0,1) 53%, rgba(224,127,0,1) 67%, rgba(224,157,0,1) 78%, rgba(224,127,0,1) 89%, rgba(224,157,0,1) 95%, rgba(224,157,0,1) 100%);
background: -ms-linear-gradient(45deg, rgba(224,157,0,1) 0%, rgba(224,157,0,1) 16%, rgba(224,127,0,1) 26%, rgba(224,157,0,1) 33%, rgba(224,127,0,1) 43%, rgba(224,157,0,1) 53%, rgba(224,127,0,1) 67%, rgba(224,157,0,1) 78%, rgba(224,127,0,1) 89%, rgba(224,157,0,1) 95%, rgba(224,157,0,1) 100%);
background: linear-gradient(45deg, rgba(224,157,0,1) 0%, rgba(224,157,0,1) 16%, rgba(224,127,0,1) 26%, rgba(224,157,0,1) 33%, rgba(224,127,0,1) 43%, rgba(224,157,0,1) 53%, rgba(224,127,0,1) 67%, rgba(224,157,0,1) 78%, rgba(224,127,0,1) 89%, rgba(224,157,0,1) 95%, rgba(224,157,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09d00', endColorstr='#e09d00', GradientType=1 );*/
    background: #ed9619;
}

.warning-tile > .tile-footer {
    background: #c47a0f;
}
/*---------------Danger tile-------------------*/
.danger-tile:hover{
    transform:scale(1.02);
    cursor:pointer;
}

.danger-tile > .tile-header {
    background: #ca3c2d;
}
.danger-tile > .tile-header:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.danger-tile > .tile-body {
    /*background: rgba(248,80,50,1);
background: -moz-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 8%, rgba(240,47,23,1) 18%, rgba(248,80,50,1) 27%, rgba(240,47,23,1) 47%, rgba(248,80,50,1) 53%, rgba(246,41,12,1) 63%, rgba(248,80,50,1) 74%, rgba(231,56,39,1) 83%, rgba(248,80,50,1) 88%, rgba(248,80,50,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(8%, rgba(248,80,50,1)), color-stop(18%, rgba(240,47,23,1)), color-stop(27%, rgba(248,80,50,1)), color-stop(47%, rgba(240,47,23,1)), color-stop(53%, rgba(248,80,50,1)), color-stop(63%, rgba(246,41,12,1)), color-stop(74%, rgba(248,80,50,1)), color-stop(83%, rgba(231,56,39,1)), color-stop(88%, rgba(248,80,50,1)), color-stop(100%, rgba(248,80,50,1)));
background: -webkit-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 8%, rgba(240,47,23,1) 18%, rgba(248,80,50,1) 27%, rgba(240,47,23,1) 47%, rgba(248,80,50,1) 53%, rgba(246,41,12,1) 63%, rgba(248,80,50,1) 74%, rgba(231,56,39,1) 83%, rgba(248,80,50,1) 88%, rgba(248,80,50,1) 100%);
background: -o-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 8%, rgba(240,47,23,1) 18%, rgba(248,80,50,1) 27%, rgba(240,47,23,1) 47%, rgba(248,80,50,1) 53%, rgba(246,41,12,1) 63%, rgba(248,80,50,1) 74%, rgba(231,56,39,1) 83%, rgba(248,80,50,1) 88%, rgba(248,80,50,1) 100%);
background: -ms-linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 8%, rgba(240,47,23,1) 18%, rgba(248,80,50,1) 27%, rgba(240,47,23,1) 47%, rgba(248,80,50,1) 53%, rgba(246,41,12,1) 63%, rgba(248,80,50,1) 74%, rgba(231,56,39,1) 83%, rgba(248,80,50,1) 88%, rgba(248,80,50,1) 100%);
background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(248,80,50,1) 8%, rgba(240,47,23,1) 18%, rgba(248,80,50,1) 27%, rgba(240,47,23,1) 47%, rgba(248,80,50,1) 53%, rgba(246,41,12,1) 63%, rgba(248,80,50,1) 74%, rgba(231,56,39,1) 83%, rgba(248,80,50,1) 88%, rgba(248,80,50,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f85032', GradientType=1 );*/
    background: #c0392b;
}

.danger-tile > .tile-footer {
    background: #f8786c;
}

.dashtab tbody th {
    color: #3a3a3a !important;
    text-transform: uppercase;
}


/*---------------info tile-------------------*/
.info-tile:hover {
   transform:scale(1.02);
   cursor:pointer;
}

.info-tile > .tile-header {
    background: #71a4e3;
}
.info-tile > .tile-header:before {
    content: "";
    width: 100%;
    height: 7px;
    top: 2px;
    display: block;
    position: absolute;
    left: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 1px 5px 75px 75px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.info-tile > .tile-body {
    /*background: rgba(69,169,211,1);
background: -moz-linear-gradient(45deg, rgba(69,169,211,1) 0%, rgba(20,130,163,1) 14%, rgba(18,82,155,1) 31%, rgba(20,130,163,1) 48%, rgba(18,82,155,1) 67%, rgba(20,130,163,1) 81%, rgba(18,82,155,1) 96%, rgba(18,82,155,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,169,211,1)), color-stop(14%, rgba(20,130,163,1)), color-stop(31%, rgba(18,82,155,1)), color-stop(48%, rgba(20,130,163,1)), color-stop(67%, rgba(18,82,155,1)), color-stop(81%, rgba(20,130,163,1)), color-stop(96%, rgba(18,82,155,1)), color-stop(100%, rgba(18,82,155,1)));
background: -webkit-linear-gradient(45deg, rgba(69,169,211,1) 0%, rgba(20,130,163,1) 14%, rgba(18,82,155,1) 31%, rgba(20,130,163,1) 48%, rgba(18,82,155,1) 67%, rgba(20,130,163,1) 81%, rgba(18,82,155,1) 96%, rgba(18,82,155,1) 100%);
background: -o-linear-gradient(45deg, rgba(69,169,211,1) 0%, rgba(20,130,163,1) 14%, rgba(18,82,155,1) 31%, rgba(20,130,163,1) 48%, rgba(18,82,155,1) 67%, rgba(20,130,163,1) 81%, rgba(18,82,155,1) 96%, rgba(18,82,155,1) 100%);
background: -ms-linear-gradient(45deg, rgba(69,169,211,1) 0%, rgba(20,130,163,1) 14%, rgba(18,82,155,1) 31%, rgba(20,130,163,1) 48%, rgba(18,82,155,1) 67%, rgba(20,130,163,1) 81%, rgba(18,82,155,1) 96%, rgba(18,82,155,1) 100%);
background: linear-gradient(45deg, rgba(69,169,211,1) 0%, rgba(20,130,163,1) 14%, rgba(18,82,155,1) 31%, rgba(20,130,163,1) 48%, rgba(18,82,155,1) 67%, rgba(20,130,163,1) 81%, rgba(18,82,155,1) 96%, rgba(18,82,155,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a9d3', endColorstr='#12529b', GradientType=1 );*/
    background: #3a80d8;
}

.info-tile > .tile-footer {
    background: #4f8edc;
}
/*---------------primary tile-------------------*/

.primary-tile > .tile-header {
    background: #5a95de;
}

.primary-tile > .tile-body {
    background: #4f8edc;
}

.primary-tile > .tile-footer {
    background: #4f8edc;
}
/*---------------light bule dark shade tile-------------------*/

.darkblue-tile > .tile-header {
    background: rgba(46, 86, 165, 0.77);
}

.darkblue-tile > .tile-body {
    background: #2e56a5;
}
/*---------------indigo dark tile-------------------*/

.darkindigo-tile > .tile-header {
    background: rgba(67, 38, 107, 0.58);
}

.darkindigo-tile > .tile-body {
    background: rgb(67, 38, 107);
}
/*---------------optimum tile-------------------*/

.optimum-tile > .tile-header {
    background: rgba(11, 129, 195, 0.88);
}

.optimum-tile > .tile-body {
    background: rgb(11, 129, 195);
}
/*---------------humana tile-------------------*/

.humana-tile > .tile-header {
    background: rgba(93, 158, 25, 0.86);
}

.humana-tile > .tile-body {
    background: rgb(93, 158, 25);
}
/*---------------wellcare tile-------------------*/

.wellcare-tile > .tile-header {
    background: rgba(14, 53, 148, 0.82);
}

.wellcare-tile > .tile-body {
    background: rgb(14, 53, 148);
}
/*---------------coventry tile-------------------*/

.coventry-tile > .tile-header {
    background: rgba(209, 164, 15, 0.87);
}

.coventry-tile > .tile-body {
    background: rgb(209, 164, 15);
}
/*--------------- tile-------------------*/

.lightviolet-tile > .tile-header {
    background: #9575cd;
}

.lightviolet-tile > .tile-body {
    background: rgba(110,95,211,1);
    background: -moz-linear-gradient(45deg, rgba(110,95,211,1) 0%, rgba(89,54,150,1) 7%, rgba(119,80,190,1) 18%, rgba(89,54,150,1) 31%, rgba(119,80,190,1) 45%, rgba(89,54,150,1) 62%, rgba(119,80,190,1) 75%, rgba(89,54,150,1) 88%, rgba(76,70,195,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(110,95,211,1)), color-stop(7%, rgba(89,54,150,1)), color-stop(18%, rgba(119,80,190,1)), color-stop(31%, rgba(89,54,150,1)), color-stop(45%, rgba(119,80,190,1)), color-stop(62%, rgba(89,54,150,1)), color-stop(75%, rgba(119,80,190,1)), color-stop(88%, rgba(89,54,150,1)), color-stop(100%, rgba(76,70,195,1)));
    background: -webkit-linear-gradient(45deg, rgba(110,95,211,1) 0%, rgba(89,54,150,1) 7%, rgba(119,80,190,1) 18%, rgba(89,54,150,1) 31%, rgba(119,80,190,1) 45%, rgba(89,54,150,1) 62%, rgba(119,80,190,1) 75%, rgba(89,54,150,1) 88%, rgba(76,70,195,1) 100%);
    background: -o-linear-gradient(45deg, rgba(110,95,211,1) 0%, rgba(89,54,150,1) 7%, rgba(119,80,190,1) 18%, rgba(89,54,150,1) 31%, rgba(119,80,190,1) 45%, rgba(89,54,150,1) 62%, rgba(119,80,190,1) 75%, rgba(89,54,150,1) 88%, rgba(76,70,195,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(110,95,211,1) 0%, rgba(89,54,150,1) 7%, rgba(119,80,190,1) 18%, rgba(89,54,150,1) 31%, rgba(119,80,190,1) 45%, rgba(89,54,150,1) 62%, rgba(119,80,190,1) 75%, rgba(89,54,150,1) 88%, rgba(76,70,195,1) 100%);
    background: linear-gradient(45deg, rgba(110,95,211,1) 0%, rgba(89,54,150,1) 7%, rgba(119,80,190,1) 18%, rgba(89,54,150,1) 31%, rgba(119,80,190,1) 45%, rgba(89,54,150,1) 62%, rgba(119,80,190,1) 75%, rgba(89,54,150,1) 88%, rgba(76,70,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e5fd3', endColorstr='#4c46c3', GradientType=1 );
}
/*---------------atena tile-------------------*/

.atena-tile > .tile-header {
    background: rgba(245, 119, 34, 0.87);
}

.atena-tile > .tile-body {
    background: rgb(245, 119, 34);
}
/*---------------tricare tile-------------------*/

.tricare-tile > .tile-header {
    background: rgba(196, 18, 47, 0.89);
}

.tricare-tile > .tile-body {
    background: rgb(196, 18, 47);
}
/*---------------avmed tile-------------------*/

.avmed-tile > .tile-header {
    background: rgba(255, 228, 99, 0.92);
}

.avmed-tile > .tile-body {
    background: rgb(255, 228, 99);
}
/*---------------queue tile-------------------*/

.queue-tile > .tile-header {
    background: #a07f4b;
}

.queue-tile > .tile-body {
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(221,188,136,1)), color-stop(14%, rgba(160,127,75,1)), color-stop(33%, rgba(208,176,124,1)), color-stop(49%, rgba(160,127,75,1)), color-stop(73%, rgba(208,176,124,1)), color-stop(85%, rgba(142,113,67,1)), color-stop(96%, rgba(208,176,124,1)), color-stop(100%, rgba(208,176,124,1)));
    background: -webkit-linear-gradient(45deg, rgba(221,188,136,1) 0%, rgba(160,127,75,1) 14%, rgba(208,176,124,1) 33%, rgba(160,127,75,1) 49%, rgba(208,176,124,1) 73%, rgba(142,113,67,1) 85%, rgba(208,176,124,1) 96%, rgba(208,176,124,1) 100%);
    background: -o-linear-gradient(45deg, rgba(221,188,136,1) 0%, rgba(160,127,75,1) 14%, rgba(208,176,124,1) 33%, rgba(160,127,75,1) 49%, rgba(208,176,124,1) 73%, rgba(142,113,67,1) 85%, rgba(208,176,124,1) 96%, rgba(208,176,124,1) 100%);
}


/*------------------buttons--------------*/
.btn-zero-padding {
    padding: 0px 5px;
}

    .btn-zero-padding > i {
        margin-right: 5px;
    }

.tile-icon1 {
    color: white;
}

.tile-amount1 {
    color: white;
    font-weight: bold;
}

/*for graph*/
.padding-top {
    padding-top: 10px;
}



.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

.rightarrow {
    margin-top: 2.5%;
}

.subauth {
    padding-left: 0px;
}

.TRT1 {
    padding-bottom: 5px;
}
div.TRT{
        width: 104%;
}

.viewActive{
    display:table !important;
    transition:right 1s;
}
/*-------------------------------------------*/
#GraphSection .auth_chart {
    display: none;
    position: relative;
    right: -110%;
}
#GraphSection > .active {
    display: none;
    position: relative;
    right: 0% !important;
    transition: right 1s;
}
div#TableSection > table.active{
    display:none;
    position:relative;
    min-width:100% !important;
}
div#TableSection> table.auth_table{
    display: none;
    position:relative;
}
/*------------------------------------------------*/
/*------------------------------------------------*/
#ClaimsGraphSection .claims_chart {
    display: none;
    position: relative;
    right: -110%;
}
#ClaimsGraphSection > .active {
    display: none;
    position: relative;
    right: 0% !important;
    transition: right 1s;
}
div#ClaimsTableSection > table.active{
    display:none;
    position:relative;
    min-width:100% !important;
}
div#ClaimsTableSection> table.claims_table{
    display: none;
    position:relative;
}
/*------------------------------------------------*/
/*------------------------------------------------*/
#AdmissionsGraphSection .admissions_chart {
    display: none;
    position: relative;
    right: -110%;
}
#AdmissionsGraphSection > .active {
    display: none;
    position: relative;
    right: 0% !important;
    transition: right 1s;
}
div#AdmissionsTableSection > table.active{
    display:none;
    position:relative;
    min-width:100% !important;
}
div#AdmissionsTableSection> table.admissions_table{
    display: none;
    position:relative;
}
/*------------------------------------------------*/
/*#Claims_Weekly_chart text.c3-text {
    fill: #0b0b0b !important;
    font-size: 11px;
    font-weight: 600;
}*/

.c3-target-Standard text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}
.c3-target-Expedited text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}


.c3-target-CAP text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}
.c3-target-FFS text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}

.c3-target-Sniff text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}
.c3-target-Inpatient text{
    fill: #0b0b0b !important;
    font-size: 12px;
    font-weight: bold;
}