<button class="biscuit biscit_outerColor_blue">
    <div class="biscuit_heading auth">
        Auths Received
        <small class="small_minutes"><br /></small>
    </div>
    <div class="biscuit_body">
        <div class="col-sm-4 padding_5">Standard<br /> <span class="text-center center_count_small"><small>#</small>600</span></div>
        <div class="col-sm-4 padding_5">Expedite<br /> <span class="text-center center_count_small"><small>#</small>300</span></div>
        <div class="col-sm-4 padding_5">Total<br /> <span class="text-center center_count_small"><small>#</small>900</span></div>
    </div>
</button>