@using PortalTemplate.Helper
<link href="~/Areas/Portal/Styles/ProviderBridge/BridgeQueue/BridgeQueue.css" rel="stylesheet">
@*<p-script filepath="~/Areas/Portal/Scripts/FacilityBridge/BridgeQueue/BridgeQueue.js"></p-script>*@
<link href="~/Areas/Portal/Styles/Facility/Facility.css" rel="stylesheet" />
<script src="~/Areas/Portal/Scripts/Facility/Facility.js"></script>

<div class="col-lg-8">
    <ul class="innerTabsArea queueTabs" style="width:100.7%;">
        <li class="ipaQueueMenu active tabs innerTabs fac">
            <a class="innerTabsLinks list-item" data-tab-path="/Portal/Facility/GetFacilityList" data-tab-container="queueTable"><span class="text-uppercase">Facility</span></a> 
        </li>
        <li class="ipaQueueMenu tabs innerTabs facT">
            <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityType/Index" data-tab-container="queueTable"><span class="text-uppercase ">Facility Type</span></a>
        </li>  <li class="ipaQueueMenu tabs innerTabs faq">
            <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityAccessibilityQuestion/Index" data-tab-container="queueTable"><span class="text-uppercase">Accessibility Question</span></a> 
        </li>
        <li class="ipaQueueMenu tabs innerTabs fsq">
            <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityServiceQuestion/Index" data-tab-container="queueTable"><span class="text-uppercase">Facility Service Question</span></a> 
        </li>
       
        <li class="ipaQueueMenu tabs innerTabs fpt">
            <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityPracticeType/Index" data-tab-container="queueTable"><span class="text-uppercase">Facility Practice Type</span></a> 
        </li>

    </ul>
</div>
<div class="col-lg-4 addExportBtn">
     

        @Html.ExportOptions("excel", "print", "filter")
        <button type="button" class="btn btn-xs btn-success pull-right addFacility" title="ADD Facility"><i class="fa fa-plus-square"></i></button>
</div>
