@*<p-link filepath="~/Areas/CMS/Content/CSS/CMSTableCss.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CMS/Scripts/CMSData/CMSTableSupport.js"></p-script>
<p-script filepath="~/Areas/CMS/Scripts/Hospital/Common/NonMinified/Hospital.js"></p-script>*@ 
 
<link href="~/Areas/Portal/Styles/Facility/Facility.css" rel="stylesheet" />
<script src="~/Areas/Portal/Scripts/Facility/Facility.js"></script>
         <div> 

                <div class="col-lg-12">
                    @Html.Partial("~/Areas/Portal/Views/Facility/_FacilityFilters.cshtml")
                </div>
             
                <div id="queueTable" class="tableBodyDivision col-lg-12">
                    @Html.Partial("~/Areas/Portal/Views/Facility/_FacilityBody.cshtml")
                </div>
        </div>
 
 
