@using PortalTemplate.Helper
@model PortalTemplate.Areas.CMS.Models.DeductionTypeViewModel

<p-link filepath="~/Areas/CMS/Content/CSS/CMSTableCss.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CMS/Scripts/CMSData/CMSTableSupport.js"></p-script>
<p-script filepath="~/Areas/CMS/Scripts/DeductionType/Common/NonMinified/DeductionType.js"></p-script>

<div class="col-lg-12">
    <fieldset class="fsStyle createClaim" id="AddEditFieldset">
        @Html.Partial("~/Areas/CMS/Views/DeductionType/_AddEditDeductionTypeForm.cshtml")
    </fieldset>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
    <fieldset class="fsStyle createClaim">
        <legend class="legendStyle">
            <span class="theme_depend text-initial title_heading">@ViewBag.Title</span>
        </legend>
        <div class="legend2 exportbtn">@Html.ExportOptions("excel", "print", "filter")</div>
        @Html.Partial("~/Areas/CMS/Views/DeductionType/_ListDeductionType.cshtml")
    </fieldset>
</div>
<div class="clearfix"></div>