<style>
    .TableHeading {
        color: white;
        background-color: #4469a6;
        margin-left: 5px;
        padding: 2px 4px 0px 4px;
        box-shadow: 0px 2px 3px 0px #203764 !important;
    }

    .nopaddingDiv {
        padding-left: 0px;
        padding-right: 0px;
    }

    .my-fancy-container {
        /*border-radius: 6px;*/
        display: inline-block;
        margin: 0px;
        /*padding: 10px;*/
        text-align: center;
    }

    .my-text {
        display: block;
        /*font-family: "Courier-new";*/
    }

    .box-item {
        width: 100%;
        z-index: 1000;
    }
</style>

<div class="col-lg-12 nopaddingDiv">

    <div class="col-lg-12 nopaddingDiv">
        <div class="col-lg-7 nopaddingDiv">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase create-auth-legends">
                        <span class="text-uppercase TableHeading">Forms</span>
                    </span>
                </legend>

                <div class="x_content zero-padding-left mutiple-data">
                    <ul id="container1" style="list-style: none; min-height: 500px; padding-left: 0px;" class="connectedSortable">
                        <li class="col-lg-12 no-darg">
                            <div class="btn-group pull-right" id="toggle_event_editing">
                                <button type="button" class="btn btn-xs btn-info locked_active pull-right">REGIONS</button>
                                <button type="button" class="btn btn-xs btn-default unlocked_inactive pull-right">PAYERS</button>
                            </div>
                        </li>
                        <li class="col-lg-12 no-darg">
                            <span class="text-uppercase create-auth-legends">
                                <span class="text-uppercase TableHeading">FLORIDA</span>
                            </span>
                        </li>
                        <li class="col-lg-12 no-darg">
                            <br />
                        </li>
                        <li class="col-lg-2 ">
                            <div class="my-fancy-container box-item" itemid="itm-1">
                                <span class="theme_label_data"><i class="fa fa-3x fa-file-text-o"></i></span>
                                <span class="my-text theme_label">GHI HOSPITAL FORM</span>
                            </div>
                        </li>
                        <li class="col-lg-2 ">
                            <div class="my-fancy-container box-item" itemid="itm-2">
                                <span class="theme_label_data"><i class="fa fa-3x fa-file-text-o"></i></span>
                                <span class="my-text theme_label">LETTER OF INTENT</span>
                            </div>
                        </li>
                        <li class="col-lg-2 ">
                            <div class="my-fancy-container box-item" itemid="itm-3">
                                <span class="theme_label_data"><i class="fa fa-3x fa-file-text-o"></i></span>
                                <span class="my-text theme_label">CAQH PRO VIEW APPLICATION</span>
                            </div>
                        </li>
                        <li class="col-lg-2 ">
                            <div class="my-fancy-container box-item" itemid="itm-4">
                                <span class="theme_label_data"><i class="fa fa-3x fa-file-text-o"></i></span>
                                <span class="my-text theme_label">AETNA FORM</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </fieldset>
        </div>


        <div class="col-lg-5 nopaddingDiv">
            <div class="col-lg-12 nopaddingDiv">
                <fieldset class="fsStyle">
                    <legend class="legendStyle">
                        <span class="text-uppercase create-auth-legends">
                            <span class="text-uppercase TableHeading">Selected Forms</span>
                        </span>
                    </legend>

                    <div class="x_content zero-padding-left mutiple-data">
                        <ul id="container2" class="connectedSortable" style="min-height: 250px; overflow-y: scroll; list-style: none; padding-left: 0px;">
                            @*<li>drop</li>*@
                        </ul>
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12 nopaddingDiv">
                <fieldset class="fsStyle">
                    <legend class="legendStyle">
                        <span class="text-uppercase create-auth-legends">
                            <span class="text-uppercase TableHeading">Select Providers</span>
                        </span>
                    </legend>

                    <div class="x_content zero-padding-left mutiple-data">
                        <ul id="container3" class="connectedSortable" style="min-height: 250px; overflow-y: scroll; list-style: none; padding-left: 0px;">
                            @*<li>drop</li>*@
                        </ul>
                    </div>
                </fieldset>
            </div>
            
        </div>

    </div>


</div>




<script>
    $('#toggle_event_editing button').click(function () {

        $('#toggle_event_editing button').eq(0).toggleClass('locked_inactive locked_active btn-default btn-info');
        $('#toggle_event_editing button').eq(1).toggleClass('unlocked_inactive unlocked_active btn-info btn-default');
    });
</script>
