
/*------------------------search result----------------------------------*/

label.search_value {
    color: #49739e;
    font-weight: bolder;
    padding: 1px 5px;
    margin-right: 10px;
}

label.search_key {
    font-weight: 400;
}


.report_donut_chart {
    width: 80%;
    margin: auto;
    margin-top: -30px;
}

#chart_table thead tr th {
    border-bottom: 0px !important;
}

.margin_bottom_10_px {
    margin-bottom: 10px;
}


.c3-chart-arcs-title {
    font-size: 11px;
}

/*-------------------------INNER BREADCRUM------------------------*/
.inner_breadcrum {
    list-style-type: none;
    padding: 0px;
    margin: 5px;
    text-transform: uppercase;
    border: 1px solid #ddd;
    padding: 3px;
    width: 99%;
}

    .inner_breadcrum li {
    float:left;
    }

    .inner_breadcrum li a {
        padding: 0px 15px;
        font-weight: bold;
        color: #a4a4a4;
    }

    .inner_breadcrum li:after {
        content: '/';
    }

    .inner_breadcrum li:last-child:after {
        content: '';
    }

    .inner_breadcrum a.enable {
        color: #406c9a;
        cursor: pointer;
    }

    .inner_breadcrum a.active {
        color: #f87400;
        text-decoration: none;
    }

    .inner_breadcrum a.disabled {
        text-decoration: none;
        cursor: not-allowed;
        pointer-events: none;
    }

.select_box {
    padding: 7px;
}



.submitted_row td label.text {
    margin-left: 10px;
    position: relative;
}

    .submitted_row td label.text:before {
        content: " ";
        width: 9px;
        height: 9px;
        background-color: #4568a1;
        position: absolute;
        top: 3px;
        left: -11px;
    }

.accepted_row td label.text {
    margin-left: 10px;
    position: relative;
}

    .accepted_row td label.text:before {
        content: " ";
        width: 9px;
        height: 9px;
        background-color: #18a689;
        position: absolute;
        top: 3px;
        left: -11px;
    }


.pending_row td label.text {
    margin-left: 10px;
    position: relative;
}

    .pending_row td label.text:before {
        content: " ";
        width: 9px;
        height: 9px;
        background-color: #ff7f0e;
        position: absolute;
        top: 3px;
        left: -11px;
    }


.rejected_row td label.text {
    margin-left: 10px;
    position: relative;
}

    .rejected_row td label.text:before {
        content: " ";
        width: 9px;
        height: 9px;
        background-color: #d62728;
        position: absolute;
        top: 3px;
        left: -11px;
    }


.list_title {
    font-size: 18px;
}


.payer_drilldown_report_container #payer_report, .payer_drilldown_report_container #billingProvider_report, .payer_drilldown_report_container #renderingProvider_report, .payer_drilldown_report_container #member_report {
    position: relative;
    top: -20px;
}

.pull_right_selection {
    position: relative;
    top: -24px;
}

#search_result_div {
    min-height: 24px;
}
