<strong>General Information</strong>

<table class="table table-bordered small">
    <tbody>

        <tr>
            <td colspan="2"> <label for="textinput">Provider Name:</label></td>

            <td colspan="5"><input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.ProviderName"></td>

        </tr>
        <tr>
            <td colspan="1">
                <label for="npi">NPI</label>
            </td>
            <td colspan="2">
                <input id="npi" name="npi" type="text" class="form-control input-md" ng-model="delegationProfileObj.NPINumber">
            </td>





            <td colspan="1">
                <label for="tin">TIN</label>
            </td>

            <td colspan="3">
                <input id="tin" name="tin" type="text" class="form-control input-md" ng-model="delegationProfileObj.TIN">
            </td>


        </tr>

        <tr>
            <td>
                <label for="textinput">Cred. Date</label>
            </td>
            <td>
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.CredentialDate">

            </td>





            <td colspan="1">

                <label for="textinput">
                    Recred Date <br />
                    Cycle 1
                </label>
            </td>
            <td>
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.ReCredentialCycle1Date">

            </td>





            <td>
                <label for="textinput">Recred Date <br /> Cycle 2</label>

            </td>

            <td>
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.ReCredentialCycle2Date">

            </td>

        </tr>


        <tr>
            <td>
                <label for="textinput">Medical License</label>

            </td>

            <td colspan="2">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.MedicalLicense[0]">
            </td>




            <td>
                <label for="textinput">DEA</label>
            </td>

            <td colspan="2">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.DEA[0]">


            </td>
</table>