@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.ICDPreviewViewModel

<td >@Html.DisplayFor(m => m.ICDCode)</td>
<td >
    <label class="theme_label_data width-inherit"><div class="td-ellipsis" data-container="body" data-toggle="popover" data-trigger="hover" data-html="true" data-title="@Html.DisplayNameFor(m => m.ICDCodeDescription)" data-placement="top" data-content="@Html.DisplayFor(m => m.ICDCodeDescription)"><span> @Html.DisplayFor(m => m.ICDCodeDescription)</span></div></label>
</td>