* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0; }
/*body{background:#e9e9e9; text-align:center; margin:40px 0 0 0; font-family:"proxima-nova";}
.container{margin:0 auto; padding:0 0 0 170px; position:relative; width:310px;}
.container p{height:40px; line-height:40px; color:#777;}*/

.fill span {
    display: block;
    text-align: right;
    color: #fff;
    height: 30px;
    line-height: 18px;
    padding: 0 10px 0 0;
    font-weight: 600;
}
.fill1 span {
    display: block;
    text-align: right;
    color: #fff;
    height: 30px;
    line-height: 18px;
    padding: 0 10px 0 0;
    font-weight: 600;
}
.fill2 span {
    display: block;
    text-align: right;
    color: #fff;
    height: 30px;
    line-height: 18px;
    padding: 0 10px 0 0;
    font-weight: 600;
}

.fill {
    border-radius: 150px;
    width: 105px;
    height: 18px;
    background: #5cb85c;
    position: relative;
    top: 3px;
    left: 5px;
    border-bottom: 3px solid rgba(0,0,0,0.14);
    animation: slide 4s linear infinite;
    animation-delay: 2s;
    overflow: hidden;
}
.fill1 {
    border-radius: 150px;
    width: 69px;
    height: 18px;
    background: #d9534f;
    position: relative;
    top: 3px;
    left: 5px;
    border-bottom: 3px solid rgba(0,0,0,0.14);
    animation: slide 4s linear infinite;
    animation-delay: 2s;
    overflow: hidden;
}
.fill2 {
    border-radius: 150px;
    width: 95px;
    height: 18px;
    background: #5cb85c;
    position: relative;
    top: 3px;
    left: 5px;
    border-bottom: 3px solid rgba(0,0,0,0.14);
    animation: slide 4s linear infinite;
    animation-delay: 2s;
    overflow: hidden;
}
.bar {
    border-radius: 150px;
    width: 124px;
    height: 23px;
    background: #ddd;
    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: absolute;
    left: 0;
}
.fill:after{content:" "; display: block; background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); width:100%; height:100%; position:absolute; top:0; left:0;}
.fill:before{content:" "; display:block; width:100%; height:100%; background-size: 30px 30px; background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,0)), color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(255,255,255,0.15))); position:absolute;}

.profilecompletion
{
    font-weight: 700;
    font-size: 17px;
    color: #4fae51;
}
.profilecompletion1
{
    font-weight: 700;
    font-size: 17px;
    color: #d9534f;
}
.profilecompletion2
{
    font-weight: 700;
    font-size: 17px;
    color:#5cb85c;
}
.fill1:after{content:" "; display: block; background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); width:100%; height:100%; position:absolute; top:0; left:0;}
.fill1:before{content:" "; display:block; width:100%; height:100%; background-size: 30px 30px; background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,0)), color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(255,255,255,0.15))); position:absolute;}

.fill2:after{content:" "; display: block; background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); width:100%; height:100%; position:absolute; top:0; left:0;}
.fill2:before{content:" "; display:block; width:100%; height:100%; background-size: 30px 30px; background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(0,0,0,0)), color-stop(0.25, rgba(0,0,0,0)), color-stop(0.25, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(0,0,0,0)), color-stop(0.75, rgba(0,0,0,0)), color-stop(0.75, rgba(255,255,255,0.15))); position:absolute;}