.CredAxis_legend2 {
    border-radius:5px 5px 0px 0px;
    background: #FFFFFF;
    -moz-box-shadow: -0px -1px 2px #F1F1F1;
    display: block;
    width: auto;
    margin-top: -24px;
    padding-left: 4px;
    padding-right: 3px;
}
/*--------------------Tab Heading CSS-----------------*/

.TabHeading
{
       color: white;
    background-color: #203764;
    margin-left: -4px;
    padding: 5px 11px 4px 14px;
    box-shadow: 0px 2px 3px 0px #203764 !important;
}

.QuestionCss
{
    font-size: 13.5px;
    color: #205493;
}
.AnswerCss {
    font-size: 13.5px;
    color: #203764;
}
.TableHeading
{
    color: white;
    background-color: #4469a6 ;
    margin-left: 5px;
    /*padding: 5px 11px 4px 14px;*/
        padding: 2px 4px 0px 4px;
    box-shadow: 0px 2px 3px 0px #203764 !important;
}
.TabSubHeading
{
    color: white;
    background-color: #4469a6 ;
    margin-left: 5px;
    /*padding: 5px 11px 4px 14px;*/
        padding: 2px 4px 0px 4px;
    box-shadow: 0px 2px 3px 0px #203764 !important;
}

.custom_margin{
    margin-left: -4px;
    margin-right: 0px;
    margin-top: -4px;
}
/*--------------------End of Tab Heading CSS-----------------*/

/*---------------------Summary Table Caps--------------------*/
#IDSummary span, #IDSummary label {
    text-transform: uppercase;
}

#ProfileStats span:nth-child(even) {
    /* color: red; */
    font-weight: bold;
}
/*------------------End Summary Table Caps-------------------*/

.CredAxis_table_legend {
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFFFFF;
    -moz-box-shadow: -0px -1px 2px #F1F1F1;
    display: block;
    width: auto;
    margin-top: 2px;
    padding-left: 4px;
    padding-right: 3px;
}
.Top_Nav_strip {
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#0b2a67), color-stop(20%,#34569f),color-stop(100%,#4869b0));
    color: white;
    font-size: 18px;
    box-shadow: 0px 3px 4px #888888;
    text-transform: uppercase;
}


.data-label {
    width: 100%;
    text-transform: uppercase;
    color: #000000 !important;
}
#searchBox {
    font-style: italic;
}
#ProviderProfileTabView {
    margin-top: 18px;
}

.memberProfileTabsContainer {
    width: 100%;
    position: relative;
    /*overflow-x: auto;*/
    overflow-y: hidden;
    position: fixed;
    z-index:1;
    width: 82%;
    /*background-color:white;*/
}

    .memberProfileTabsContainer > ul {
        padding-top: 1px;
        width: 100%;
    }

    .memberProfileTabsContainer > .tabs-menu > li {
        width: 9%;
    }

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, yellow); /* Standard syntax */
}




/*.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D ;
    background-color: #e0ebff ;
}*/


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        /*background: #e0ebff;
        color: #0096da;*/
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        /*background: #e4e4e4;*/
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        /*background: #e4e4e4;*/
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    /*background: linear-gradient(#4b6cb7, #182848);*/
    /*background-color: #000000;*/
    border-bottom: 1px solid black;
    /*border-top-left-radius: 4px;
    border-top-right-radius: 4px;*/
}

/*.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: none;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.2em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: 500;
    color: #636363;
    background-color: #d6d6d6;
    background: url(../../Resources/Images/Buttons/Ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/


    .memberProfileTabsContainer .list-item:hover {
        font-weight: 500;
        /*background: #e0ebff;
        color: #0096da;*/
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        /*background: #e4e4e4;*/
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        /*background: #e4e4e4;*/
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

/*.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*.SubTabHeader > .headerText {
    width: 100%;
    height: 28px;
    border-bottom: 1px solid black;
    text-align: center;
}

.SubTabHeader > .headerText > .headerTextCSS {
    font-size: 40px;
    background-color: #F3F5F6;
    padding: 0 10px;
}*/

.profiletabheader {
    /*background: linear-gradient(#4b6cb7, #182848);*/
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.fontstyling {
    font-size: 1.8em;
    margin-top: 3px;
}

.fontstylingTableAction {
    font-size: 1.3em;
    margin-top: 3px;
}

.fontstylingSummary {
    font-size: 1.0em;
    margin-top: 3px;
}

.fontstylingEdit {
    color: #0c8ec1;
}

.fontstylingDelete {
    color: #FF0000;
}

.fontstylingAdd {
    color: #04ad2a;
}

.textCSS {
    font-size: 1.2em;
    color: #2e2a2a;
}

.fa-circle {
    color: black;
    font-size: .7em;
}

.fa-file-text-o {
    color: #03714a;
}

.fa-square {
    color: #03714a;
}

.fa-list-alt {
    color: #2311a7;
}

label span {
    /*text-transform: uppercase;*/
    color: black;
}

label a {
    /*text-transform: uppercase;*/
    /*color: black;*/
}

.zeroZIndex {
    z-index: 9999;
}

.headerCSS {
    border: 0px solid;
}

#mainTabsArea {
    border-bottom: 1px solid #8b8b8b !important;
}

.imgDim {
    height: 10%;
    width: 9%;
    margin-top: -4px;
}
.modalTitle {
    color: white;
    font-size: 18px;
    padding-top: 8px;
    font-weight: 500;
}

.imgDimModal {
        width: 4% !important;
}

.floatIcons{
    height: 21px;
}
.saturate {-webkit-filter: saturate(3); filter: saturate(3);}

.claimsProfileTabsContainer .current > a.list-item {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(110, 147, 207);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(51, 16, 16, 0.309804);
    border-image: initial;
}

.margin-right-5px{
    margin-right:5px ! important;
}

/*========================================= SUMMARY - PROFILE STATUS ===================================================*/
/*.profile-status{
    background-color: #203764;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
    font-size: 15px;
    margin-left: -6px;
}*/
.profile-status {
    background-color: rgba(220,153,30,1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding-top: 13px !important;
    padding-left: 9px !important;
    font-size: 13px;
    margin-left: -28px;
}
.profile-status > span{
    font-weight: 900;
    color: white;
}