.tableheader {
    /*color: #f5f5f5;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #337ab7;*/
    color: #ffffff;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #4a5899;
    padding: 3px 11px 4px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow: -0px -1px 2px #F1F1F1;
    -webkit-box-shadow: -0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 13px;
    display: block;
    width: auto;
    line-height: inherit;
    border-bottom: 0px;
}

.tableheadermenu {
    -moz-border-radius: 5px 5px 0px 0px;
    padding: 3px 8px 3px 8px;
    -moz-box-shadow: -0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 13px;
    display: block;
    width: auto;
    line-height: inherit;
    border-bottom: 0px;
}

.DocumentCheckList1 {
    /*transition: all .05s ease-in-out;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 26px;*/
}

    .DocumentCheckList1:hover {
        /*box-shadow: 2px 5px 5px #c5bfbf;*/
        /*transform: scale(1.01);
        -webkit-transform: scale(1.01);*/
    }

.DocumentCheckList > tbody > tr > td,
.DocumentCheckList > tbody > tr > th,
.DocumentCheckList > tfoot > tr > td,
.DocumentCheckList > tfoot > tr > th,
.DocumentCheckList > thead > tr > td,
.DocumentCheckList > thead > tr > th {
    padding: 2px;
    padding-left: 9px;
}

.DocumentCheckList > g > tr, .DocumentCheckList > thead > tr {
    background-color: #d6d6d6;
    color: white;
}

.DocumentCheckList > tbody > tr {
    border-bottom: 1px solid rgba(148, 147, 147, 0.23);
}

.DocumentCheckList > thead > tr > th {
    color: black;
}

th {
    font-weight: 400;
    color: white;
}

tr {
    font-weight: 500;
}

.verticalLine {
    border-left: 1px solid red;
}

.table-bordered > tbody > tr > td {
}

.btn .fa-times {
    border-radius: 2px;
    border-color: #757575;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

/*Style for wrapping the content*/
.contentWrapper {
    border: 1px solid rgba(228, 228, 228, 0.59);
    background-color: rgb(251, 251, 251);
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    margin-right: 15px;
}

.buttonsWrapper {
    border-top: 1px solid rgba(228, 228, 228, 0.59);
    border-left: 1px solid rgba(228, 228, 228, 0.59);
    background-color: rgb(251, 251, 251);
    border-right: 1px solid rgba(228, 228, 228, 0.59);
}

.contentWrapper > label {
    color: #000000;
    font-weight: 400;
}

    .contentWrapper > label > span {
        color: #151515;
        font-weight: 600;
    }

.editBGColor {
    background-color: rgba(8, 31, 59, 0.66);
}

.tableheader > span {
    font-weight: 500;
}

.scrollable-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 480px;
}

.navbar-menu .active-nav {
    border-left: #3799db solid 2px;
    padding: 0px 13px;
    color: #3799db;
    background: #00c0ef;
    color: white;
}



.NewWrapper {
    margin-top: 7px;
}

.SubTabHeader {
    text-align: center;
    font-size: 30px;
}

.SubTab {
    background-color: #f1f1f1;
}

.TabHover {
    transition: all .05s ease-in-out;
    background-color: white;
    border: 1px solid transparent;
}

    .TabHover:hover {
        box-shadow: 2px 5px 5px #c5bfbf;
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
    }

.providerimg {
    width: 170px;
    height: 118px;
}

.providerdemo {
    background-color: white;
}

.profilesidemenu {
    list-style-type: none;
    padding: 0px;
}

.tablespace {
    margin-top: 10px;
}

.providerheader > tr > th {
   color: white ;
}

.contentWrapper > label.summaryTab {
    font-weight: 500;
}


.contentWrapper > label > .actionicons:hover {
    border-bottom: 1px solid #4e4d4d;
    color: #4e4d4d;
}

.x_content > label > .actionicons:hover {
    border-bottom: 1px solid #4e4d4d;
    color: #4e4d4d;
}

.viewMoreBtnCSS {
    color: rgba(0, 0, 255, 0.96) !important;
    font-size: xx-small;
}

.homeAddressBody > tr > td {
    font-size: 0.9em;
}

.adjustFont {
    text-transform: uppercase;
    font-weight: bold;
}
