@model List<PortalTemplate.Areas.Billing.Models.CreateClaim.CreateClaimTemplate.ProviderResult>

<table id="RenderingProvidersResult" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom-table-striped">
    <thead class="theme_thead">
        <tr>
            <th>NPI</th>
            <th>Name</th>
            <th>Address</th>
            <th>Tax ID</th>
        </tr>

    </thead>
    <!-- ngIf: selectedMemberList.length>0 -->
    <tbody>
        @Html.Partial("~/Areas/Billing/Views/CreateClaim/ProviderResult/_TBodyRenderingProviderResult.cshtml")
    </tbody>

</table>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/ProviderResult/RenderingProvider.js"></script>