/*body {
        background: #f8f8f8;
        overflow-x: hidden;
}
.container{
    background: #f4f4f4;
}*/

.panel{
    border:0px;
}

.panel-body {
    border:0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

/*.side-navigation {
    position: fixed;
    height: 48px;
    top: calc(50% - 24px);
    z-index: 999
}
@media (max-width: 1290px) {
    .side-navigation {
        display: none
    }
}
.side-navigation:hover .side-navigation__text {
    width: 130px
}
.side-navigation:hover button,
.side-navigation:hover a {
    background-color: #000000;
    color: white
}
.side-navigation__text {
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 5px;
    color: black;
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
    margin: 20px 15px 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0px;
    text-transform: uppercase;
    -moz-animation: sideButtonText 5s ease-in-out;
    -webkit-animation: sideButtonText 5s ease-in-out;
    animation: sideButtonText 5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out
}
@media (min-width: 1600px) {
    .side-navigation__text {
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
        width: 115px
    }
}
@media (max-width: 1600px) {
    .side-navigation__text {
        display: none
    }
}
.side-navigation button,
.side-navigation a {
    box-shadow: 0 14px 16px 0 rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    font-size: 1.25rem;
    line-height: 48px;
    text-align: center;
    -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out
}
.side-navigation button:before,
.side-navigation a:before {
    -moz-transition: margin 0.3s ease-in-out;
    -o-transition: margin 0.3s ease-in-out;
    -webkit-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out
}
.side-navigation--left {
    left: 0px
}
.side-navigation--left button,
.side-navigation--left a {
    margin-left: 20px
}
@media (max-width: 1440px) {
    .side-navigation--left button,
    .side-navigation--left a {
        margin-left: 7px
    }
}
.side-navigation--right {
    right: 0px
}
.side-navigation--right .side-navigation__text {
    text-align: right
}
.side-navigation--right button,
.side-navigation--right a {
    margin-right: 20px
}
@media (max-width: 1440px) {
    .side-navigation--right button,
    .side-navigation--right a {
        margin-right: 7px
    }
}
button{
    webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    line-height: 1;
}*/