
@*@{
    ViewBag.Title = "CreateNewEpisode";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<h2>CreateNewEpisode</h2>*@

@Html.Partial("~/Views/CaseManagement/CreateEpisode/_CreateNewEpisode.cshtml")


