
@*@{
    ViewBag.Title = "DashBoard";
}*@

@*<h2>DashBoard</h2>*@
@*@section AddToHead{
    <title>CM DASHBOARD | AHC</title>
}*@

@*<link href="~/Content/c3.min.css" rel="stylesheet" />*@
@*<link href="~/Content/LibCss/FullCalendarCss/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/LibScripts/FullCalendarJs/moment.min.js"></script>*@

@*<script src="~/Scripts/LibScripts/FullCalendarJs/fullcalendar.js"></script>*@
@*<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>*@



<p-link filepath="~/Content/AppCss/CaseManagement/CMDashboard.css" ></p-link>
<p-script filepath="~/Scripts/AppScripts/CaseManagement/CMDashboard.js"></p-script>

@*<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mainBodyCollapse zero-padding-left-right" id="mainBody">*@
    @Html.Partial("~/Views/CaseManagement/Dashboard/_DashBoardNew.cshtml")
@*</div>*@
