@{
    ViewBag.Title = "CM Member Summary";
}
@section AddToHead{
    <title>CM MEMBER | AHC</title>
}
<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/LibCss/FullCalendarCss/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/LibScripts/FullCalendarJs/moment.min.js"></script>
<script src="~/Scripts/LibScripts/FullCalendarJs/jquery.min.js"></script>
<script src="~/Scripts/LibScripts/FullCalendarJs/fullcalendar.js"></script>
<link href="~/Content/AppCss/CaseManagement/CaseManagement.css" rel="stylesheet" />
<script src="~/Scripts/AppScripts/CaseManagement/MemberSummary.js"></script>
<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/CaseManagement/MemberSummary/_CaseSummary.cshtml")
    @Html.Partial("~/Views/CaseManagement/MemberSummary/_CarePlan.cshtml")
    <ul class="nav nav-tabs tab-small" role="tablist">
        <li role="presentation" class="active">
            <a class="tab-small memberTabs" role="tab" data-toggle="tab" aria-expanded="true">Interaction Calendar</a>
        </li>
    </ul>
    <div class="panel panel-body" style="border:1px solid black;">@Html.Partial("~/Views/CaseManagement/Dashboard/_InteractionCalendar.cshtml")</div>
    
</div>
