<form id="contact_form" onsubmit="return false;">
    @Html.Partial("~/Areas/UM/Views/Common/Contact/Common/_ContactForm.cshtml")
</form>

<p-script filepath="~/Areas/UM/Scripts/Common/Contacts/Functional/Add/NonMinified/AddContact.js"></p-script>
