@using AHC.CD.WebUI.MVC.Areas.Credentialing.Models.CredentialingRequestTracker;

<div class="col-lg-12">

    <header>
        <span class="pull-right pointer" ng-click="HideDetails()"><i class="fa fa-close"></i></span>
        <div>
            <h3>{{temp.Type}}</h3>
        </div>
    </header>
    <div class="form-style">
        <fieldset>
            <legend>
                Credentialing Request Detail
            </legend>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Provider Name</label>
                    <div>
                         <i class="small">{{RequestData.Salutation}} {{RequestData.FirstName}} {{RequestData.MiddleName}} {{RequestData.LastName}}</i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Plan Name</label>
                    <div>
                        <i class="small">{{RequestData.PlanName}}</i>
                    </div>
                </div>            
        </fieldset>
    </div>

    @if (AHC.CD.WebUI.MVC.Areas.Profile.Attributes.ProfileActionValidator.IsMask(ViewBag.Roles))
    {
        <div class="form-style" ng-hide="historyMode">
            <fieldset>
                <legend>
                    Action
                </legend>

                <div id="UpdateFailCredReq" style="display:none;">
                    <div class="clearfix"></div>
                    <br />
                    <label class="control-label small">Reason to send back</label>
                    <textarea ng-model="rejectionReason" class="form-control col-lg-8"></textarea>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <button class="pull-left btn btn-danger btn-xs" ng-click="closedivUpdateCredRequest();">Cancel</button>
                    <button ng-show="showReject" class="pull-right btn btn-success btn-xs" ng-click="SetCredRequestReject(RequestData, rejectionReason);">Send</button>
                    @*<button ng-show="showHold" class="pull-right btn btn-success btn-xs" ng-click="SetOnHold(temp, rejectionReason);">Send</button>*@
                </div>

                <div ng-hide="hideApprovalBtn">
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-lg-12">
                        <div class="form-group col-lg-4">
                            <button class="btn btn-success" ng-click="SetCredRequestApproved(RequestData);">Accept</button>
                        </div>
                        @*<div class="form-group col-lg-4">
                            <button ng-if="temp.ApprovalStatus != 'OnHold'" class="btn btn-warning" ng-click="OnHold(temp);">OnHold</button>
                        </div>*@
                        <div class="form-group col-lg-4">
                            <button class="btn btn-danger" ng-click="UpdateFailCredReq();">Reject</button>
                        </div>
                    </div>
                </div>
                <div ng-if="businessError">
                    <label class="control-label small text-danger">{{businessError}}.<br />Please reject the changes.</label>
                </div>
            </fieldset>
        </div>
    }
    else
    {

    }

</div>