<style>
    a.export-button {
        padding: 2px;
        border: 1px solid #ddd;
        margin: 1px;
    }

        a.export-button:hover {
            border: 1px solid rgba(60, 55, 58, 0.19);
            box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.71) inset, 0px -2px 20px rgba(130, 120, 120, 0.66), 0px 2px 5px rgba(0, 0, 0, 0.47), 0px 8px 10px rgba(0, 0, 0, 0.1);
            font-weight: bolder;
            text-shadow: 0px 1px 0px rgba(0,0,0,0.55);

        }
        a.export-button:active {
            transform:translateY(1px);
        }

    .export-button img {
        width: 20px;
        height: 20px;
    }   
</style>

<a href="javascript:void(0)" class="export-button pull-right" data-toggle="tooltip" data-placement="bottom" title="Print">

    <img src="/Resources/Images/Icons/print_icon.png">
</a>
<a href="javascript:void(0)" class="export-button pull-right" data-toggle="tooltip" data-placement="bottom" title="Email">

    <img src="~/Resources/Images/Icons/Mail1.ico" />
</a>

<a href="javascript:void(0)" class="export-button pull-right" data-toggle="tooltip" data-placement="bottom" title="Save as Pdf">
    <img src="~/Resources/Images/Icons/pdf1.png" />
</a>


<a href="javascript:void(0)" class="export-button pull-right" data-toggle="tooltip" data-placement="bottom" title="Save as Excel">
    <img src="~/Resources/Images/Icons/excel.PNG" />
</a>

<script>
    $(document).ready(function () {        
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>