
<script src="~/Scripts/AppScripts/ClientCheck.js"></script>
<div class="col-lg-12 text-center screencheckalert" style="display:none;">
    <h6 id="alertMsgScreen"></h6>
</div>
<div class="col-lg-12 text-center browsercheckalert" style="display:none;">
    <h6 id="alertMsgBrowser"></h6>
</div>