@using PratianUI
@model PortalTemplate.Areas.Portal.Models.Facility.FacilityLanguageViewModel
<div class="c_panel_body" id="AddEditDiv">
    @*@using (Ajax.BeginForm("AddEditFacilityLanguage", "FacilityLanguage", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "progress", OnBegin = "validateForm", OnSuccess = "onSuccessFacilityAccessibilityQuestion" }))
    {*@
        @*@Html.AntiForgeryToken()*@
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>@Html.LabelFor(p => p.NonEnglishLanguages)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DropDownList("Language", new SelectList(ViewBag.LanguageData.Languages, "code", "name "), "Select Language", new { @class = "form-control input-xs", @Id="selectFacilityLanguage"})
                    </td>
                </tr>
            </tbody>
        </table>
    @*}*@
</div>



