@model PortalTemplate.Areas.CredAxis.Models.ProfessionalLiabilityViewModel.ProfessionalLiabilityViewModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDProfessionalLiability">
    @*<div class="SubTabHeader">
            <div class="headerText">
                <span class="headerTextCSS">
                    Professional Liability
                </span>
                <span class="headerTextCSS pull-right">
                    <button id="AddGroup_GI" class="btn btn-xs btn-success" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-history"></i></button>
                    <button id="AddGroup_GI" class="btn btn-xs btn-default" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-print"></i></button>

                </span>
            </div>
        </div>*@
   @* @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalLiability/_ProfessionalLiabilityIndex.cshtml", Model)*@

    <div class="col-lg-12 padding_top_down_5px nopadding" id="ViewProfLiability">
        @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalLiability/_ViewProfessionalLiability.cshtml", Model)
    </div>

</div>
<div class="clearfix"></div>
