@model PortalTemplate.Areas.Encounters.Models.CreateEncounter.CodeDetailsViewModel

@*@using (Ajax.BeginForm("GetAuditingDetails", "CreateEncounter", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "progress" }))
{*@

<form id="Coding_details_form">

    @Html.Partial("~/Areas/Encounters/Views/CreateEncounter/_EncounterTemplateOfCoding.cshtml", Model.EncounterDetails)

    @Html.Partial("~/Areas/Coding/Views/CreateCoding/CodingDetails.cshtml", Model.CodingDetails)


    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-sm btn-warning pull-left tab-navigation member-actions encounterTemplateItem">Back</a>
            <a class="btn btn-sm btn-primary pull-right">Save</a>
            <a class="btn btn-sm btn-primary pull-right member-actions editelements encounterTemplateItem proceedToAuditing">Proceed To Auditing</a>
        </div>
    </div>

</form>
 
@*}*@

<script src="~/Areas/Encounters/Scripts/AppJs/CreateEncounter/Unminified/CodingDetails.js"></script>