

<div class="row" id="ICDModalvalues">
    <div class="col-lg-3">
        <input class="form-control normal-checkbox" id="valuesCheckboxB207" type="checkbox" value="B207"><label for="valuesCheckboxB207"><span></span>B207</label>
    </div>
    <div class="col-lg-3">
        <input class="form-control normal-checkbox" id="valuesCheckboxA207" type="checkbox" value="A207"><label for="valuesCheckboxA207"><span></span>A207</label>
    </div>
</div>
