@model List<PortalTemplate.Areas.Encounters.Models.CreateEncounter.MemberViewModel>
<fieldset class="fieldsetStyle">
    <legend class="legendstyle">
        Members

    </legend>

    @*<div class="row">
            <div class="col-lg-12 pull-left title_heading">
                SELECT MEMBER
            </div>
        </div>*@

    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right" id="memberSearchResultCC">

    </div>*@
    @Html.Partial("~/Areas/Encounters/Views/CreateEncounter/_MemberResult.cshtml",Model)

</fieldset>


@*<script src="~/Areas/Encounters/Scripts/AppJs/CreateEncounter/Unminified/MemberSearch.js"></script>*@


