<fieldset class="fieldsetStyle" style="background:white;">
    @*<div class="row">
        <div class="col-lg-12">
    <label class="p_legendHeader">Member</label>
            </div>
        </div>*@
    <legend class="legendstyle">Member</legend>
    <div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            Subscriber Id
            <div><label class="uppercase">K277057937</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            Member First Name
            <div><label class="uppercase">Smith</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            Member Last Name
            <div><label class="uppercase">Lucas</label></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            Gender
            <div><label class="uppercase">Male</label></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            DOB
            <div><label class="uppercase">02/07/1956</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            Address
            <div><label class="uppercase">10048 Amidon</label></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            Plan Name
            <div><label class="uppercase">Humana</label></div>
        </div>
    </div>
</fieldset>


