<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/CreateEncounter/Unminified/CreateEncounter.css" rel="stylesheet"></p-link>


<div class="create_encounter_container clearfix">
    <div class="x_panel border_on_panel">
        <div class="x_panel form_Create">
            <div class="x_content">
                <div class="col-lg-12">
                    <label class="title_text">Create Encounters By</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right">
                        <input id="provider" type="radio" name="CreateClaimsBy" class="normal-radio" value="Multiple claims for a Provider">
                        <label for="provider"><span></span>Multiple Encounters for a provider</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input id="Member" type="radio" name="CreateClaimsBy" class="normal-radio" value="Multiple claims for a Member">
                        <label for="Member"><span></span>Multiple Encounters for a member</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input id="claim" type="radio" name="CreateClaimsBy" class="normal-radio" value="A single Claim">
                        <label for="claim"><span></span>A single Encounter</label>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="form_wizard wizard_horizontal" id="wizard_step_id">

    </div>

    <div class="wizard_container">
        <div id="create_claim_by" class="wizard_div">
            Create Claim By
        </div>
        <div id="select_provider" class="wizard_div">
            Select Provider
        </div>
        <div id="select_member" class="wizard_div">
            Select Member
        </div>
        <div id="create_claim_template" class="wizard_div">
            Create claim template
        </div>
        <div id="claim_info" class="wizard_div">
            Claim info
        </div>
        <div id="preview" class="wizard_div">
            Preview
        </div>
    </div>

</div>

<p-script filepath="~/Areas/Encounters/Scripts/AppJs/CreateEncounter/Unminified/CreateEncounter.js"></p-script>
