
<div class="footer">
    <button class="btn btn-sm btn-success pull-right confirmPreauthReqBtn" data-dismiss="modal" onclick="ConfirmPreAuthRequest()">Confirm</button>
    <span><button class="btn btn-sm btn-danger pull-right" data-dismiss="modal" onclick="$('.modal_background').click();">Cancel</button></span>
</div>