
@*<style>
    .headerTitle {
        color:white;
        margin-left:-14%;
    }
</style>*@
<div class="headerzero_padding_bottom">
    <div class="col-md-12 text-center theme_label">
        <div class="col-lg-2">
            <img src="/Resources/Images/Common/ahc_logo.png" class="pull-left" style=" width: 140px; height: 68px;">
        </div>
        <div class="col-lg-8 ">
            <h3>
                <b class="headerTitle">PRIOR AUTHORIZATION</b>
            </h3>
        </div>
        <div class="col-lg-2 pull-right">
            <button class="btn btn-danger btn-xs" data-dismiss="modal" style="position: relative; top: 11px;">X</button>
        </div>
    </div>
    <div class="col-lg-12 theme_label"><center >SUBMITTED BY: <b>BARBARA JOY</b></center></div>
</div>
