<appSettings>
  <add key="webpages:Enabled" value="false" />
  <add key="Testing" value="Testing"/>
  <add key="AddNewMemebr" value="GetAllPlans:AllPlansMasterData,GetAllInsuranceCompanies:AllInsuranceCompaniesMasterData"/>
  <add key="ProviderService" value="GetAllProviderAccounts:ProviderAccountsServiceData,GetAllProviders:ProvidersServiceData"/>
</appSettings>
