


<style>
    .row 
    {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    input:hover {
        border-color: deeppink;
    }

    .inp:focus {
        border-color: deeppink;
    }

    select:hover {
        border-color: deeppink;
    }

    textarea:hover {
        border-color: deeppink;
    }
</style>

<div class="container">

</div>
@Html.Partial("~/Views/Home/Modal/Contact/Common/_ContactModalBody.cshtml")
<p-script filepath="~/Scripts/AppScripts/Modal/EditContactModal.js"></p-script>
<p-script filepath="~/Scripts/AppScripts/Modal/ContactModal.js"></p-script>
