<connectionStrings>
  

  <!--<add name="DefaultConnection" connectionString="Data Source=192.61.99.193\UAT;Initial Catalog=ACDAuthDBAHC_CDv3.0_R1_2_12_2016_UAT1;User ID=UAT-CredAxis;Password=UATCredAxis@123456" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.61.99.193\UAT;Initial Catalog=ACDProfileDBAHC_CDv3.0_R1_02_12_2016_UAT1;User ID=UAT-CredAxis;Password=UATCredAxis@123456" providerName="System.Data.SqlClient" />-->
  <!--======================================-->

  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB007.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB007.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB007.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>

  <!--<add name="DefaultConnection" connectionString="Data Source=192.61.99.61\TEST;Initial Catalog=ACDAuthDBAHC_CDv3.0_R1_3_3_2017_Demo;User ID=Test-CredAxis;Password=password@123456" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=192.61.99.61\TEST;Initial Catalog=CredAxisLOG;User ID=Test-CredAxis;Password=password@123456" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.61.99.61\TEST;Initial Catalog=ACDProfileDBAHC_CDv3.0_R1_3_3_2017_Demo;User ID=Test-CredAxis;Password=password@123456" providerName="System.Data.SqlClient" />-->
  

  <!--======================================-->
  
  <!--<add name="DefaultConnection" connectionString="Data Source=192.61.99.193\UAT;Initial Catalog=ACDAuthDBAHC_CDv3.0_R1_2_12_2016_Demo;User ID=UAT-CredAxis;Password=UATCredAxis@123456" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.61.99.193\UAT;Initial Catalog=ACDProfileDBAHC_CDv3.0_R1_02_12_2016_Demo;User ID=UAT-CredAxis;Password=UATCredAxis@123456" providerName="System.Data.SqlClient" />-->



  <!--<add name="DefaultConnection" connectionString="Data Source=192.61.99.61\TEST;Initial Catalog=ACDAuthDBAHC_CDv3.0_R1_2_12_2016_Demo;User ID=Test-CredAxis;Password=password@123456" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.61.99.61\TEST;Initial Catalog=ACDProfileDBAHC_CDv3.0_R1_02_12_2016_Demo;User ID=Test-CredAxis;Password=password@123456" providerName="System.Data.SqlClient" />-->
 

</connectionStrings>
