<br />
<legend>
Search Results : <i class="data-label"> Pariksith</i>
</legend>
<div class="list-group">
    <a href="#" class="list-group-item">
        <i class="data-label"> Details > Name > Pariksith </i>
    </a>
    <a href="#" class="list-group-item"><i class="data-label"> Application Form > Demographics > Personal Details > First Name >  Pariksith </i></a>
   
</div>

