<div class="row">
    <div class="col-lg-12">
        <span class="danger-text  pull-left">Review for Duplicate Services:</span>
    </div>
    <div class="col-lg-12">
        <table class="table table-white zero-padding-left-right  noBorderTable boldBody zeroPaddingBottomTh width_99 otherproctable_nowrap">
            <thead class="text-uppercase">
                <tr class="theme_label">
                    <td>REF NO</td>
                    <td>PROC</td>
                    <td>PROC DESC</td>
                    <td>UNITS</td>
                    <td>SVC PROVIDER</td>
                    <td>SPECIALTY</td>
                    <td>DOS</td>
                    <td>FACILITY</td>
                </tr>
            </thead>
            <tbody class="text-uppercase">
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42382</td>
                    <td>REMOVE FROM GROUP FOR NOW – MUST BE OLD CODE</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42383</td>
                    <td>EGD DIAGNOSTIC BRUSH WASH</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42378</td>
                    <td>UPPR GI SCOPE W/SUBMUC INJ</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42315</td>
                    <td>EGD BIOPSY SINGLE/MULTIPLE</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42326</td>
                    <td>EGD VARICES LIGATION</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
                <tr class="theme_label_data">
                    <td>1609220007</td>
                    <td>42355/td>
                    <td>EGD REMOVE FOREIGN BODY</td>
                    <td>1</td>
                    <td>SYED ALI</td>
                    <td>INTERNAL MEDICINE</td>
                    <td>09/22/2016</td>
                    <td>SUNCOAST ENDOSCOPY CENTER</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
