.margin_top_7px {
    margin-top: -7px;
}


.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}



/***********************
      CUSTON BTN VALUES
    ************************/



.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}




.ProviderDetailsFrame {
    width: 32.21%;
    height: 93px;
    border: 1px groove #9af1ff;
    background-color: rgba(243, 250, 253, 0.36);
    /* border-top: 3px solid #d2d6de; */
    /* box-shadow: 0 7px 15px rgba(0,0,0,.2); */
    float: left;
    margin-right: 5px;
    margin-left: 1px;
    margin-top: 7px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
/*top boarder*/
.box-success {
    background: #00a65a;
}

.box-danger {
    background: #dd4b39;
}

.box-warning {
    background: #f5e35d;
}

.taskprogressbar {
    height: 3px;
    /* width: 110%; */
}

span.ProviderPendingTasks {
    padding-right: 17px;
    margin: -17px;
    margin-left: 0px;
    display: block;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(107, 107, 107);
}

.pointing-caret-pv1 {
    /*display: none;*/
    position: absolute;
    left: 25%;
    top: 53px;
    border: solid rgb(0, 0, 0);
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    transition: ease-in 0.3s;
}

.pointing-caret-pv2 {
    /*display: none;*/
    position: absolute;
    left: 75%;
    top: 53px;
    border: solid rgb(0, 0, 0);
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    transition: ease-in 0.3s;
}

.ProviderName {
    color: #656567;
    font-size: medium;
    word-wrap: break-word;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.providerInfo {
    padding: 0px;
    padding-top: 6px;
}

.customCircle {
    top: -7px;
    border-left: 1px groove #9af1ff;
    height: 93px;
    /* border-left: 1px solid #423d3d; */
    padding-top: 6px;
    color: rgb(78, 78, 78);
    /* text-shadow: 0px 0px 20px rgb(255, 255, 255); */
    font-size: x-large;
    padding-left: 9px;
    /* box-shadow: 0 7px 7px rgba(0,0,0,.2); */
    text-align: center;
    padding-left: 14px;
    /* border: 1px solid; */
}

.insideText {
    margin-left: -10px;
    margin-top: 3px;
    font-weight: 700;
    font-size: x-small;
    text-align: center;
    color: #337ab7;
}

.font_size_12 {
    font-size: 12px;
}

.providerSelectText {
    color: red;
    font-size: small;
    font-weight: 600;
}
