<br />
@*<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" ng-controller="profileAppCtrl">*@
<div class="col-lg-12 form-style zero-padding-left-right-div">

    <fieldset>
        <legend>
            Primary information
        </legend>
        <fieldset>
            <legend>
                Personal Details
            </legend>
            <div class="col-lg-12 zero-padding-left-right-div">

                <div class=" col-lg-12 zero-padding-left-right-div">
                    <div class="col-lg-3 form-group">
                        <label class="control-label small">Title:</label>
                        <div> <i class="data-label">Dr.</i></div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label small">First Name:</label>
                        <div> <i class="data-label">Pariksith </i></div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label small">Middle Name:</label>
                        <div> <i class="data-label"></i></div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label small">Last Name:</label>
                        <div> <i class="data-label">Singh</i></div>
                    </div>
                </div>
                <div class="col-lg-12 zero-padding-left-right-div">

                    <div class="col-lg-3 form-group">
                        <label class="control-label small">Gender:</label>
                        <div> <i class="data-label">Male</i></div>
                    </div>
                    <div class="col-lg-3 form-group" ng-if="gender=='F'">
                        <label class="control-label small">Maiden Name</label>
                        <div> <i class="data-label"></i></div>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label small">Marital Status:</label>
                        <div>  <i class="data-label">Single</i></div>
                    </div>
                    <div class="col-lg-3 form-group" ng-if="marital_status=='married'">
                        <label class="control-label small">Spouse Name:</label>
                        <div> <i class="data-label"></i></div>
                    </div>

                </div>
                @*  </div> *@
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Provider Details
            </legend>
            <div class="col-lg-12">
                <div class="col-lg-12 form-group">
                    <label class="control-label small">Do you practice exclusively with in inpatient setting?</label>
                    <div>    <i class="data-label">Yes</i></div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Other Legal Names You Have Used ?(Leave Empty, If Not)
            </legend>
        </fieldset>

    </fieldset>

    <fieldset>
        <legend>
            Contact information
        </legend>
        <fieldset>
            <legend>
                Home Address
            </legend>

            <div class="col-lg-12" id="conInfoContainer">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3">Street Address</div>
                        <div class="col-lg-3">State</div>
                        <div class="col-lg-3">City</div>
                        <div class="col-lg-3">View</div>
                    </div>
                </div>
                <div class="col-lg-12" id="conInfoData">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3 small">Spring Hill Drive</div>
                        <div class="col-lg-3 small">Florida</div>
                        <div class="col-lg-3 small">Spring Hill</div>
                        <div class="col-lg-3 small">
                            <button class="btn btn-xs btn-primary" onclick="toggleDiv('conInfoForm1', this)"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12" id="conInfoForm1" style="display:none;">
                        <br />
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Apartment /Unit Number:</label>
                                <div>  <i class="data-label">#101</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Street Address:</label>
                                <div>  <i class="data-label">Concord Street</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Country:</label>

                                <div> <i class="data-label">United States</i></div>

                            </div>
                        </div>
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">State:</label>
                                <div><i class="data-label">Florida</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">City:</label>

                                <div> <i class="data-label">Spring Hill</i></div>

                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">County:</label>
                                <div> <i class="data-label">Clay County</i></div>
                            </div>
                        </div>
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Zip Code:</label>
                                <div> <i class="data-label">34606</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Living Here From:</label>
                                <div> <i class="data-label">4-3-2014</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Living Here To:</label>
                                <div> <i class="data-label">4-3-2014</i></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <br />
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3 small">Inverness</div>
                        <div class="col-lg-3 small">Florida</div>
                        <div class="col-lg-3 small">Putnam</div>
                        <div class="col-lg-3 small">
                            <button class="btn btn-xs btn-primary" onclick="toggleDiv('conInfoForm2', this)"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12" id="conInfoForm2" style="display:none;">
                        <br />
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Apartment/Unit Number:</label>
                                <div> <i class="data-label">#101</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Street Address:</label>
                                <div><i class="data-label">Inverness</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Country:</label>

                                <div>
                                    <i class="data-label">United States</i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">State:</label>

                                <div>
                                    <i class="data-label">Florida</i>
                                </div>

                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">City:</label>

                                <div>
                                    <i class="data-label">Putnam</i>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">County:</label>
                                <div><label class="control-label small">Clay County</label></div>
                            </div>
                        </div>
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Zip Code:</label>
                                <div> <i class="data-label">1211</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Living Here From:</label>
                                <div>  <i class="data-label">4-3-2014</i></div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="control-label small">Living Here To:</label>
                                <div> <i class="data-label">4-3-2014</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>
            <div class="clearfix"></div>

        </fieldset>
        <fieldset>
            <legend>
                Contact Details
            </legend>
            <div class="col-lg-12 zero-padding-left-right-div">

                <div class="form-group col-md-4">
                    <label for="MobileNo" class="control-label small">Home Phone:</label>
                    <div>
                        <i class="data-label">8901551809</i>

                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="MobileNo" class="control-label small">Home Fax:</label>
                    <div><i class="data-label">0011</i></div>
                </div>
                <div class="form-group col-md-4">
                    <label for="MobileNo" class="control-label small">Mobile Number:</label>
                    <div><i class="data-label">8901331465</i></div>
                </div>
            </div>
            <div class="col-lg-12 zero-padding-left-right-div">

                <div class="col-lg-4 form-group">
                    <label class="control-label small">Preffered method for written contact:</label>
                    <div><i class="data-label">Email</i></div>
                </div>

                <div class="col-lg-4 form-group">
                    <label class="control-label small">Email Id:</label>
                    <div><i class="data-label">ashok@gmail.com</i></div>
                </div>
            </div>
        </fieldset>
    </fieldset>

    <fieldset>
        <legend>
            Personal Identification
        </legend>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4 form-group">
                <label class="control-label small">Social Security Number:</label>
                <div><i class="data-label">721-07-4426</i></div>
            </div>

            <div class="col-lg-4 form-group">
                <label class="control-label small">Drivers License:</label>
                <div><i class="data-label">w426-545-30-761-0</i></div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View SSN Certificate <i class="fa fa-file"></i></button>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>
            Birth Information
        </legend>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Birth Date:</label>
                <div><i class="data-label">4-3-1980</i></div>
            </div>

            <div class="form-group col-md-4">
                <label class="control-label small">Birth Country:</label>
                <div><i class="data-label">India</i></div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Birth State:</label>
                <div><i class="data-label">Kerala</i></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Birth County:</label>
                <div><i class="data-label"></i></div>
            </div>

            <div class="form-group col-md-4">
                <label class="control-label small">Birth City:</label>
                <div><i class="data-label">Kollam</i></div>
            </div>
            <div class="col-md-4 form-group">
                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Birth Certificate <i class="fa fa-file"></i></button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            Citizenship
        </legend>
        <fieldset>
            <legend>
                Visa Details
            </legend>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="control-label small">Are you a citizen of US?</label>
                    <div><i class="data-label">No</i></div>
                </div>
                <div class="col-md-6">
                    <label class=" control-label small">Are you authorised to work in US?</label>
                    <div><i class="data-label">Yes</i></div>
                </div>
            </div>
            <div class="col-lg-12" id="citizenshipContainer">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3">Visa Number</div>
                        <div class="col-lg-3">Visa Type</div>
                        <div class="col-lg-3">Visa expiration</div>
                        <div class="col-lg-3">View</div>
                    </div>
                </div>
                <div class="col-lg-12" id="citizenshipData">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3 small">23451234</div>
                        <div class="col-lg-3 small">Business</div>
                        <div class="col-lg-3 small">4-3-2002</div>
                        <div class="col-lg-3 small">
                            <button class="btn btn-xs btn-primary" onclick="toggleDiv('citizenshipForm1', this)"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12" id="citizenshipForm1" style="display:none;">
                        <br />
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa number:</label>
                                <div><i class="data-label">23451234</i></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Type of Visa:</label>
                                <div><i class="data-label">Business</i></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa status:</label>
                                <div><i class="data-label">Active</i></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa Sponsor:</label>
                                <div><i class="data-label">Mr.Shah</i></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa Expiration:</label>
                                <div><i class="data-label">4-3-2016</i></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Visa Certificate <i class="fa fa-file"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3 small">87659087</div>
                        <div class="col-lg-3 small">Work</div>
                        <div class="col-lg-3 small">4-3-2014</div>
                        <div class="col-lg-3 small">
                            <button class="btn btn-xs btn-primary" onclick="toggleDiv('citizenshipForm2', this)"><i class="fa fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12" id="citizenshipForm2" style="display:none;">

                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa number:</label>
                                <div><i class="data-label">87659087</i></div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label small">Type of Visa:</label>
                                <div><i class="data-label">Work</i></div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa status:</label>
                                <div><i class="data-label">Active</i></div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa Sponsor:</label>
                                <div><i class="data-label">Mr.Shah</i></div>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="control-label small">Visa Expiration:</label>
                                <div><i class="data-label">4-3-2014</i></div>
                            </div>
                            <div class="col-md-4 form-group">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Visa Certificate <i class="fa fa-file"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                Other Details
            </legend>
            <div class="form-group col-md-12">
                <div class="form-group col-md-4">
                    <label class="control-label small">Green Card Number:</label>
                    <div><i class="data-label">12456789001</i></div>
                </div>


                <div class="form-group col-md-4">
                    <label class="control-label small">National Id. Number:</label>
                    <div><i class="data-label">12089710283</i></div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label small">Country of Issue:</label>
                    <div><i class="data-label">US</i></div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View GreenCard Certificate <i class="fa fa-file"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View National Id Certificate <i class="fa fa-file"></i></button>
            </div>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>
            Languages
        </legend>
        <div class="col-lg-12">
            <div class="form-group col-md-6">
                <label class="control-label small">Foreign Languages you are fluent in:</label>
                <div> <i class="data-label">English</i></div>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label small">Do you speak sign language:</label>
                <div><i class="data-label">No</i></div>
            </div>
        </div>
    </fieldset>
</div>
