button.biscuit {
    min-height: 96px;
    min-width: 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
    white-space: normal;
    cursor: pointer;
    outline: none;
    padding: 0px;
    transition: all 0.3s linear;
}

    button.biscuit:hover {
        color: #fff;
        transition: all 0.3s linear;
    }

    button.biscuit:active {
        transform: translateY(4px);
        transition: all 0.3s linear;
    }

.biscuit_heading {
    font-size: 8px;
    font-weight: 600;
}

.biscuit_body {
    font-size: 12px;
    font-weight: 300;
}

/* green biscuit */
.biscit_outerColor_green {
    color: #43a047;
    background-color: #fff;
    border: 1px solid #43a047;
    box-shadow: inset 0 0 0 #1b5e20, 0 5px 0 0 #1b5e20, 0 5px 5px #999;
}

    .biscit_outerColor_green:hover {
        background-color: #43a047;
    }

    .biscit_outerColor_green:active {
        background-color: #43a047;
        box-shadow: 0 5px #1b5e20;
        transform: translateY(4px);
    }

/* blue Biscuit*/
.biscit_outerColor_blue {
    color: #0288d1;
    background-color: #fff;
    border: 1px solid #0288d1;
    box-shadow: inset 0 0 0 #01579b, 0 5px 0 0 #01579b, 0 5px 5px #999;
}

    .biscit_outerColor_blue:hover {
        background-color: #0288d1;
    }

    .biscit_outerColor_blue:active {
        background-color: #0288d1;
        box-shadow: 0 5px #01579b;
        transform: translateY(4px);
    }

/* process time biscuit*/


.biscit_outerColor_time {
    color: #18758f;
    background-color: #fff;
    border: 1px solid #18758f;
    box-shadow: inset 0 0 0 #044557, 0 5px 0 0 #044557, 0 5px 5px #999;
}

    .biscit_outerColor_time:hover {
        background-color: #18758f;
    }

    .biscit_outerColor_time:active {
        background-color: #18758f;
        box-shadow: 0 5px #044557;
        transform: translateY(4px);
    }


.zeroPaddingOuter {
    padding: 0px;
}

.padding_5px {
    padding-left: 5px;
    padding-right: 5px;
}


/* for reports */


.pac_report_list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /* height: 708px; */
    display: block;
    overflow: hidden;
    position: relative;
}

    .pac_report_list li {
        float: left;
        width: 49%;
        height: 669px;
        padding: 2px;
        content: '';
        margin: 2px;
        border: 0px;
    }

        .pac_report_list li .c_panel {
            height: 100%;
            background: #ffffff;
        }

            .pac_report_list li .c_panel .c_panel_header {
                padding: 2px;
            }

                .pac_report_list li .c_panel .c_panel_header label {
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 12px;
                }

            .pac_report_list li .c_panel .c_panel_body {
                padding: 2px;
            }


.zeroPaddingTop {
    padding-top: 0px;
}

.table_hearder_DR {
    background: #708bb8;
    color: white;
}

.width_3 {
    position: relative;
    min-height: 607px;
}

.make_center {
    font-size: 30px;
    position: absolute;
    top: 40%;
    transition: all 500ms ease;
}

.font_weight {
    font-weight: 300;
}

.Info > span {
    padding-left: 3px;
    padding-right: 2px;
}


.margin_left_fix {
    margin-left: 1.5%;
}

.margin_left_10px {
    margin-left: 10px;
}

.margin_top_5 {
    margin-top: 5px !important;
}

.left_chev a, .right_chev a {
    color: #1a6f03 !important;
    transition: all 1s ease;
}

.left_chev, .right_chev {
    background-color: rgba(1, 196, 255, 0.10);
    font-weight: 900;
    font-size: 20px;
    transition: all 1s ease;
}

    .left_chev:hover, .right_chev:hover {
        cursor: pointer;
        background-color: rgba(1, 196, 255, 0.85);
        color: white !important;
    }

        .left_chev:hover a, .right_chev:hover a {
            cursor: pointer;
            color: white !important;
        }


.biscuit_heading.auth {
    position: relative;
    margin-top: -5px;
    font-weight: 300;
}

.center_count {
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
}

.center_count_small {
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
}

.biscuit_heading.pt {
    position: relative;
    margin-top: -5px;
    font-weight: 300;
}

.small_mins {
    font-size: 50%;
    font-weight: 300;
}

/*.padding_5 {
    padding-left: 5px;
    padding-right: 5px;
}*/

.DivHeading {
    font-size: 14px;
    font-weight: bold;
}

.myqueueDiv {
    border-left: 1px dashed blue;
    border-right: 1px dashed blue;
}


.centerDiv {
    top: 50px;
    z-index: 1;
    position: fixed;
    width: 30%;
    height: 50px;
    background: rgb(30,87,153);
    background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 13%, rgba(30,87,153,1) 13%, rgba(32,124,202,1) 40%, rgba(32,124,202,1) 40%, rgba(41,137,216,1) 60%, rgba(30,87,153,1) 89%, rgba(30,87,153,1) 89%, rgba(30,87,153,1) 98%, rgba(30,87,153,1) 98%, rgba(32,124,202,1) 99%, rgba(125,185,232,1) 100%, rgba(125,185,232,1) 100%, rgba(125,185,232,1) 101%);
    background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 13%,rgba(30,87,153,1) 13%,rgba(32,124,202,1) 40%,rgba(32,124,202,1) 40%,rgba(41,137,216,1) 60%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 98%,rgba(30,87,153,1) 98%,rgba(32,124,202,1) 99%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 101%);
    background: linear-gradient(45deg, rgba(30,87,153,1) 13%,rgba(30,87,153,1) 13%,rgba(32,124,202,1) 40%,rgba(32,124,202,1) 40%,rgba(41,137,216,1) 60%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 98%,rgba(30,87,153,1) 98%,rgba(32,124,202,1) 99%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;         
         /*display:none;
         transition: all 1s linear;*/
}

    .centerDiv:hover {
        cursor: pointer;
    }

    .centerDiv:active {
        transform: translateY(4px);
        transition: all 300ms ease;
    }

.clamp_left, .clamp_right {
  
    top: -20.5% !important;
}
.clamp_left{
    left:1.45%!important;
}
.left_hole_mod, .right_hole_mod {
    top: 16%;
}

.left_hole_mod {
    left: 1% !important;
}

.right_hole_mod {
    left: 97.4% !important;
}






.colorContent {
    color: white;
    padding-right: 30px;
}

.padding-top_10 {
    padding-top: 10px;
}

.labelname {
    font-size: 15px;
    white-space: nowrap;
}

.margin_right {
    margin-right: 10px;
}

.labelHeader {
    line-height: 15px;
}

.bigCount {
    font-size: 25px;
    line-height: 34px;
}

.myqueueHeader {
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: #fff;
    margin: 1% 1% 2% 1%;
    width: 98%;
}

.pacCoordinatorsHeader {
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: #fff;
    margin: 1% 1% 2% 1%;
    width: 98%;
}

.totalAuthsHeader {
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: #fff;
    margin: 1% 1% 2% 1%;
    width: 98%;
}



@media(max-width:767px) {
    .date_today {
        font-size: 14px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 10px;
    }

    .labelHeader {
        font-size: 10px;
    }
}

@media(min-width:768px) {

    .date_today {
        font-size: 16px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 15px;
    }

    .labelHeader {
        font-size: 12px;
    }
}

@media(min-width:992px) {
       .centerDiv {
        left: 42.5%;
    }
    .date_today {
        font-size: 20px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 20px;
    }

    .labelHeader {
        font-size: 12px;
    }

    .biscuit_heading.auth, .biscuit_heading.pt {
        font-size: 14px;
    }

    .padding_5 {
        padding-left: 0;
        padding-right: 0;
        font-size: 8px;
    }

    .small_minutes {
        display: block;
    }

    .minsSmall {
        display: none;
    }

    .leftDivFloat {
        position: relative;
        float: left;
    }

        .leftDivFloat > div {
            float: left;
        }

    .displayatMediam {
        display: block;
        line-height: 30px;
    }
}

@media(min-width:1550px) {
    .centerDiv {
        left: 41.5%;
    }
    .date_today {
        font-size: 25px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 20px;
    }

    .labelHeader {
        font-size: 16px;
    }

    .biscuit_heading.auth, .biscuit_heading.pt {
        font-size: 20px;
    }

    .padding_5 {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    .small_minutes {
        display: none;
    }

    .minsSmall {
        display: block;
    }

    .leftDivFloat {
        position: relative;
        float: left;
    }

        .leftDivFloat > div {
            float: left;
        }

    .displayatMediam {
        display: none;
    }
}

.smallview_icons {
    position: relative;
    display: none;
    transition: all 1s linear;
}

    .smallview_icons > a {
    }

.small_view:hover .smallview_icons {
    display: inline;
}

.info_border {
    border-top: 2px solid #2bbce0 !important;
}

.success_border {
    border-top: 2px solid #5f932c !important;
}

.drag_btn_drop:hover {
    cursor: move;
}

.checkboxDiv {
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 1;
    width: 30%;
}