.zero-padding-left-right {
    padding-left: 2px;
    padding-right: 2px;
}

.margin_top_6px {
    margin-top: 6px;
}

button.biscuit {
    min-height: 75px;
    min-width: 10px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: none;
    border-radius: 2px;
    font-weight: 600;
    margin-bottom: 20px !important;
    white-space: normal;
    cursor: pointer;
    outline: 0;
    padding: 0;
    transition: all .3s linear;
}

button.biscuit {
    position: relative;
    display: inline-block;
}

    button.biscuit:hover {
        color: #fff;
        transition: all .3s linear;
    }

.biscit_outerColor_blue {
    color: #0288d1;
    background-color: #fff;
    border: 1px solid #0288d1;
    box-shadow: inset 0 0 0 #01579b, 0 5px 0 0 #01579b, 0 5px 5px #999;
}

    .biscit_outerColor_blue:hover {
        background-color: #0288d1;
    }

    .biscit_outerColor_blue:active {
        background-color: #0288d1;
        box-shadow: 0 5px #01579b;
        transform: translateY(4px);
    }

.tiles_outerColor_blue {
    color: #fff;
    background-color: #0288d1;
    border: 1px solid #0288d1;
    box-shadow: 0 5px #01579b;
    transform: translateY(4px);
}



.biscit_outerColor_green {
    color: #43a047;
    background-color: #fff;
    border: 1px solid #43a047;
    box-shadow: inset 0 0 0 #1b5e20, 0 5px 0 0 #1b5e20, 0 5px 5px #999;
}

    .biscit_outerColor_green:hover {
        background-color: #43a047;
    }

    .biscit_outerColor_green:active {
        background-color: #43a047;
        box-shadow: 0 5px #1b5e20;
        transform: translateY(4px);
    }

.tiles_outerColor_green {
    color: #fff;
    background-color: #43a047;
    border: 1px solid #0288d1;
    box-shadow: 0 5px #1b5e20;
    transform: translateY(4px);
}

.biscit_outerColor_time {
    color: #18758f;
    background-color: #fff;
    border: 1px solid #18758f;
    box-shadow: inset 0 0 0 #044557, 0 5px 0 0 #044557, 0 5px 5px #999;
}

    .biscit_outerColor_time:hover {
        background-color: #18758f;
    }

    .biscit_outerColor_time:active {
        background-color: #18758f;
        box-shadow: 0 5px #044557;
        transform: translateY(4px);
    }

.tiles_outerColor_time {
    color: #fff;
    background-color: #18758f;
    border: 1px solid #18758f;
    box-shadow: 0 5px #044557;
    transform: translateY(4px);
}

.biscit_outerColor_Sea {
    color: #009973;
    background-color: #fff;
    border: 1px solid #009973;
    box-shadow: inset 0 0 0 #00664d, 0 5px 0 0 #00664d, 0 5px 5px #999;
}

    .biscit_outerColor_Sea:hover {
        background-color: #009973;
    }

    .biscit_outerColor_Sea:active {
        background-color: #009973;
        box-shadow: 0 5px #00664d;
        transform: translateY(4px);
    }

.biscuit_heading.auth, .biscuit_heading.pt {
    font-size: 20px;
}

.biscuit_heading.auth {
    position: relative;
    margin-top: 8px;
    font-weight: 300;
    margin-left: 38px;
}

.biscuit_heading {
    font-size: 8px;
    font-weight: 600;
}

.biscuit_body {
    font-size: 12px;
    font-weight: 300;
}

.iconspace {
    margin-top: -24px;
    margin-left: 8px;
}

.datasize {
    margin-left: 142px;
    margin-top: -28px;
    font-size: 24px;
}

.padding_5 {
    font-size: 12px;
}

.padding_5, .padding_5px {
    padding-left: 5px;
    padding-right: 5px;
}

.divborder {
    border: 3px solid rgba(13, 1, 25, 0.4);
    border-radius: 3px;
    background-color: #FFF;
}

.tripijodal {
    text-align: center;
    color: #f5f5f5;
    height: 0px;
    line-height: 3;
    font-weight: bold;
    border-bottom: 40px solid #464957;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.tableRowColorRed {
    background-color: red;
    color: white;
}

fieldset {
    border: 3px solid rgba(13, 1, 25, 0.4);
    border-radius: 3px;
    background-color: #FFF;
}

legend {
    text-align: left;
    color: #f5f5f5;
    width: inherit;
    margin-left: 12px;
    font-size: initial;
    background-color: #464957;
    padding: 0.6em;
}


.panelheading {
    color: #f5f5f5 !important;
    background-color: #3E3C53 !important;
    /*border: 5px solid rgba(13, 1, 25, 0.4) !important;
    border-radius: 3px !important;*/
}

.select-page {
    width: 50px;
    text-align: center;
}


.pagination li a input {
    padding: 0;
    margin: -5px 0;
}


.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}
