<p-script filepath="~/Areas/UM/Scripts/Contact%20Management/ContactManagement.js"></p-script>
<br />
<br />
<div class="col-lg-12 zero-padding-left-right">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">______</span>
                Note Management
                <span class="transparent-font-color">_____.</span>
            </span>
        </legend>

        <div class="x_panel">
            <div class="x_content zero-padding-left-right">
                <a class="NoteMgmt_labels" onclick="TabManager.openFloatingModal('~/Areas/UM/Views/NoteManagement/ModalBody/_NoteTypeBody.cshtml', '~/Areas/UM/Views/NoteManagement/ModalHeader/_NoteTypeHeader.cshtml', '~/Areas/UM/Views/NoteManagement/ModalFooter/_NoteSubjectFooter.cshtml', '', '');">Note Types</a><br />
                <a class="NoteMgmt_labels" onclick="TabManager.openFloatingModal('~/Areas/UM/Views/NoteManagement/ModalBody/_NoteSubjectBody.cshtml', '~/Areas/UM/Views/NoteManagement/ModalHeader/_NoteSubjectHeader.cshtml', '~/Areas/UM/Views/NoteManagement/ModalFooter/_NoteSubjectFooter.cshtml', '', '');">Note Subjects</a><br />
                <a class="NoteMgmt_labels" onclick="TabManager.openCenterModal('/Home/GetInsertTextList', 'INSERT TEXT', '', '');">Note Text</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </fieldset>
</div>

<style>
    .NoteMgmt_labels {
        color: #337ab7;
        font-weight: bold;
        cursor: pointer;
    }
</style>