
<fieldset class="fsStyle createClaim">
    <legend class="legendStyle">
        <span class="text-initial title_heading">Members</span>
        
    </legend>

        @*<div class="row">
                <div class="col-lg-12 pull-left title_heading">
                    SELECT MEMBER
                </div>
            </div>*@
        <div class="col-lg-12">
            @*<label class="title_heading" for="fullname">Select Member</label><span id="FilterBtn">*@  @*@Html.ExportOptions("filter")*@</span>
        </div>
        <div id="memberFilterCreateClaim" hidden>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <label for="dosFrom">DOS From</label>
                <input class="form-control input-xs mandatory_input_field" id="dosFrom" name="dosFrom" type="text" placeholder="MM/DD/YYYY">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <label for="dosTo">DOS To</label>
                <input class="form-control input-xs mandatory_input_field" id="dosTo" name="dosTo" type="text" placeholder="MM/DD/YYYY">
            </div>
        </div>
     
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right" id="memberSearchResultCC">

        </div>


</fieldset>


<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/new/memberSearch.js"></script>