<div class="x_panel border_on_panel">
    <div class="x_panel form_Create">
        <div class="x_content">
            <div class="col-lg-12">
                <label class="title_text">Select Provider</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right">
                    <label for="searchProvider" class="text-initial">Search Provider</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle btn_xs_setToInputSm resultProviderSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Provider Name <span class="caret"></span></button>
                            <ul class="dropdown-menu changeCarotPositionToLeft providerSearchOptions">
                                <li class="text-uppercase"><a href="javascript:void(0)">Provider Name</a></li>
                                <li class="text-uppercase"><a href="javascript:void(0)">NPI</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control input-xs provSearchField" name="Provider_name" placeholder="PROVIDER NAME" aria-label="...">
                    </div><!-- /input-group -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <button class="btn btn-primary input-xs margin_left_12px" id="provider_search_btn">Search</button>
                </div>
            </div>
            <div class="col-lg-12 zero-padding-left-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ProviderResult">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/CreateClaims/Unminified/SelectProviderRewamp.js"></script>