<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<ul class="nav nav-tabs small" role="tablist">
    <li role="presentation" id="summary2" ng-click="" class="active"><a href="#credentialing_action" aria-controls="CCM_ACTION" role="tab" data-toggle="tab" aria-expanded="true">CCM ACTION</a></li>
        <li role="presentation" id="psvtab" class=""><a href="#CCM_PSV" aria-controls="PSV" ng-click="GetPSVDetails()" role="tab" data-toggle="tab" aria-expanded="false">PSV</a></li>
        <li role="presentation" ng-click="" id="psvtab" class=""><a href="#CCM_DOCUMENTS" ng-click="GetDocumentsDetails()" aria-controls="DOCUMENTS" role="tab" data-toggle="tab" aria-expanded="false">DOCUMENTS</a></li>


    @*<li role="presentation" class="active"><a href="#credentialing_action" aria-controls="credentialing_action" role="tab" data-toggle="tab">CCM Action</a></li>
    <li role="presentation"><a href="#psv" aria-controls="psv" role="tab" data-toggle="tab">PSV</a></li>
    <li role="presentation"><a href="#document_checklist" aria-controls="document_checklist" role="tab" data-toggle="tab">Documents</a></li>*@
</ul>
<div ng-view ng-cloak>
    @*<div role="tabpanel" class="tab-pane active" id="credentialing_action">
        <!---CCM Action partial starts here-->
                @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_SPA_CCMAction.cshtml")        
        <!---CCM Action partial ends here-->
    </div>
    <div role="tabpanel" class="tab-pane active" id="psv">
        <!---PSV partial starts here-->
        @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_SPA_PSV.cshtml")
        <!---PSV Action partial ends here-->
    </div>
    <div role="tabpanel" class="tab-pane active" id="document_checklist">
        <!---PSV partial starts here-->
        @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_SPA_Document.cshtml")
        <!---PSV Action partial ends here-->
    </div>*@
</div>

