@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/Content/SharedCss/AngularStrapDatepicker.css" rel="stylesheet" />
    <link href="~/Content/calendar.min.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/SmartTable.css" rel="stylesheet" />
    <link href="~/Content/toaster.css" rel="stylesheet" />
    @*<link href="~/Content/nvd3/nv.d3.min.css" rel="stylesheet" />*@
    <link href="~/Content/SharedCss/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/CCMDashboard/CCMDashboard.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/Utility/lodash.min.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/tableExportnigraj.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/jquery.base64.js"></script>
    <script src="~/Scripts/Lib/pdfGeneration/html2canvas.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/sprintf.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/jspdf.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/base64.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ng-signature-pad.js"></script>
    <script src="~/Scripts/signature_pad.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/Lib/Angular/toaster.js"></script>
    <script src="~/Scripts/Lib/Angular/smart-table.js"></script>
    <script src="~/Scripts/calendar-tpls.min.js"></script>
    <script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @*<script src="~/Scripts/Lib/Angular/d3.min.js"></script>
        <script src="~/Scripts/Lib/Angular/nv.d3.min.js"></script>*@
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.min.js"></script>
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.tpl.min.js"></script>
    @*<script src="~/Scripts/Lib/angularjs-ncd-directive/angular-nvd3.min.js"></script>*@
    <script src="~/Scripts/Lib/Angular/loading-bar.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMApp.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMServices.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMFactories.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMFiltters.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMController.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMDirectives.js"></script>
}


<div id="page-wrapper" ng-app="CCMDashboard" ng-cloak>
    <toaster-container toaster-options="{'time-out': 2000,'position-class': 'toast-top-right','close-button':true}"></toaster-container>
    <div class="container-fluid" ng-controller="CCMDashboardController" ng-init="MasterData()" ng-cloak>
        <!-- Page Heading -->
        <div class="row" style="margin-left: -35px;margin-right: -35px;">
            <div class="">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-list-alt"></i> CCM Credentialing Action
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Heading -->
        <div class="row" style="margin-left: -35px;margin-right: -35px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="Biscuits" class="col-lg-12 zero-padding-left-right margin_top_6px">
                        <biscuit-tile action-type="Appointments" grid-data="GridData('Appointments')" ng-model="GridType" biscuit-id="Appointments" biscuit-title="Appointments" biscuit-value="BisuctCounts.All" biscuit-color="blue" biscuit-symbol="Total" ng-class="{'biscit_outerColor_blue_Select':GridType=='Appointments'}"></biscuit-tile>
                        <biscuit-tile action-type="Approved" grid-data="GridData('Approved')" ng-model="GridType" biscuit-id="Approved" biscuit-title="Approved" biscuit-value="BisuctCounts.Approved" biscuit-color="green" biscuit-symbol="Approved" ng-class="{'biscit_outerColor_green_Select':GridType=='Approved'}"></biscuit-tile>
                        <biscuit-tile action-type="Rejected" grid-data="GridData('Rejected')" ng-model="GridType" biscuit-id="Rejected" biscuit-title="Rejected" biscuit-value="BisuctCounts.Rejected" biscuit-color="time" biscuit-symbol="Rejected" ng-class="{'biscit_outerColor_time_Select':GridType=='Rejected'}"></biscuit-tile>
                        <biscuit-tile action-type="Pending" grid-data="GridData('Pending')" ng-model="GridType" biscuit-id="Pending" biscuit-title="Pending" biscuit-value="BisuctCounts.Pending" biscuit-color="sea" biscuit-symbol="Pending" ng-class="{'biscit_outerColor_Sea_Select':GridType=='Pending','biscit_outerColor_Sea_Select':GridType=='Onhold','biscit_outerColor_Sea_Select':GridType=='New'}"></biscuit-tile>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div ng-controller="AppointmentGridController as pc">
                        <div ng-if="TempObjectForStatus.CredentailingApprovalRequest">
                            @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_AppointmentsGrid_GraphView.cshtml")
                        </div>
                    </div>
                    <div ng-if="TempObjectForStatus.AppointmentDashboard">
                        @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_CalendarDashboard.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>