

<div id="TempProfile">
    <div class="col-lg-12 nopadding" style="margin-top: 21px;">
        <fieldset class="fsStyle" id="ViewPersonalDetail">
            <legend>
                PERSONAL INFORMATION
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalDetailsViewModel &amp;type=Edit" data-tab-container="PersonalDetailsDiv">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-2 form-group">
                    <label class="control-label small">NPI :</label><br />
                    <span>{{TempProfile.NPINumber || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">PROVIDER TYPE:</label><br />
                    <span >{{TempProfile.ProviderType || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">First Name:</label><br />
                    <span>{{TempProfile.FirstName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Middle Name :</label><br />
                    <span>{{TempProfile.MiddleName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Last Name :</label><br />
                    <span>{{TempProfile.LastName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Facility Name :</label><br />
                    <span>{{TempProfile.FacilitYName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Specialty :</label><br />
                    <span>{{TempProfile.Specialty || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Requested By:</label><br />
                    <span >{{TempProfile.RequestedBy || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Requested From :</label><br />
                    <span>{{TempProfile.RequestedFrom || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Network Participation :</label><br />
                    <span>{{TempProfile.NetworkPar || 'N/A'}}</span>
                </div>

            </div>
        </fieldset>
    </div>
    <div class="col-lg-12 nopadding">
        <fieldset class="fsStyle" id="ViewPersonalDetail">
            <legend>
                CONTACT INFORMATION
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalDetailsViewModel &amp;type=Edit" data-tab-container="PersonalDetailsDiv">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Contact Name :</label><br />
                    <span>{{TempProfile.ContactName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Phone Number:</label><br />
                    <span>{{TempProfile.PhoneNumber || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Fax Number:</label><br />
                    <span>{{TempProfile.FaxNumber || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Email :</label><br />
                    <span>{{TempProfile.Email || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Address1 :</label><br />
                    <span>{{TempProfile.Address1 || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Address2 :</label><br />
                    <span>{{TempProfile.Address2 || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">City :</label><br />
                    <span>{{TempProfile.City || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">State :</label><br />
                    <span>{{TempProfile.State || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">ZipCode :</label><br />
                    <span>{{TempProfile.ZipCode || 'N/A'}}</span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-lg-12 nopadding">
        <fieldset class="fsStyle" id="ViewPersonalDetail">
            <legend>
                WORK INFORMATION
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalDetailsViewModel &amp;type=Edit" data-tab-container="PersonalDetailsDiv">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-2 form-group">
                    <label class="control-label small">TAX ID :</label><br />
                    <span>{{TempProfile.TAXID || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Plan Name:</label><br />
                    <span>{{TempProfile.PlanName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Physician Group Name:</label><br />
                    <span>{{TempProfile.PhysicianGroupName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Group Contact Name :</label><br />
                    <span>{{TempProfile.GroupContactName || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Individual Tax Id :</label><br />
                    <span>{{TempProfile.IndividualTaxId || 'N/A'}}</span>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="control-label small">Group Tax Id :</label><br />
                    <span>{{TempProfile.GroupTaxId || 'N/A'}}</span>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-lg-12 nopadding">
        <fieldset class="fsStyle" id="ViewPersonalDetail">
            <legend>
                CONTRACT INFORMATION
            </legend>
            <div class="legend2 pull-right">
                <button class="btn btn-primary btn-xs add_note_btn list-item" data-tab-path="/CredAxis/Demographics/GetPersonalDetailsEditPartial?model=PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.PersonalDetailsViewModel &amp;type=Edit" data-tab-container="PersonalDetailsDiv">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div class="col-lg-12 zero-padding-left-right-div">
                <div class="col-lg-2 form-group">
                    <label class="control-label small">CONTRACT DOCUMENT :</label><br />
                    <span><i class="fa fa-file"></i></span>
                </div>
            </div>
        </fieldset>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right margin-top_10">
            <button class="btn btn-success MoveCredAxis" style="width:168px;margin-top:10px">MOVE TO CREDAXIS</button>
        </div>
    </div>
</div>

