<div class="panel-middle affix zero-padding-left-right-div tab tabprovider footerGhost bottomfixed" id="UMRunningFooter">
    @*<div id="framecontainer" class="frameStyle" style="height: 751px;">
            <div class="panel panel-default panelHeight">
                <div class="panel-heading">
                    <span class=" pull-right">
                        <input type="hidden" id="newurl" autocomplete="off">
                        <button class="btn btn-xs btn-info" onclick="openDoc();" tooltip="" data-toggle="tooltip" data-placement="bottom" data-original-title="" title=""><i class="fa fa-external-link"></i></button>
                        <button class="btn btn-xs btn-danger" id="goneWithTheClick" onclick="$('#overlaydiv').slideToggle(); $('#framecontainer').slideToggle();"> <i class="fa fa-times"></i></button>
                    </span> <span class="text-uppercase">Document Cabinet</span>
                </div>
                <div class="panel-body panelHeight">
                    <iframe id="inPageDocIframe" class="iFrameStyle"></iframe>
                </div>
            </div>
        </div>*@
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 panel-left">
        <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12 authinfo_detail">
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 auth_info text-center">
                <span class="authbottomdatalabel footerLabel">Authorization:</span><br /><span class="authbottomdata">PRE SERVICE</span>
            </div>
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 text-center auth_info">
                <span class="authbottomdatalabel footerLabel">Request Type:</span><br><span style="color:green" class="authbottomdata">STANDARD</span>
            </div>
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 text-center auth_info" style="border-right:0px">
                <span class="authbottomdatalabel footerLabel">DOS:</span><br><span class="authbottomdata">07/04/2016</span>
            </div>
        </div>
    </div>

    <div class="col-lg-1 col-sm-2 col-xs-2 col-md-2">
        <div class="text-center">
            <img src="~/Resources/Images/Icons/file-cabinet2.png" class="file-cabinet" />
        </div>
    </div>

    @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 panel-right">
            <div class=" col-lg-12 tracking_detail text-center">
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps anchor">
                        <li>
                            <a href="#step-1" class="done" isdone="1" rel="1">
                                <span class="step_no authtrackingstep footerCurrentData">INT</span>
                                <span class="step_descr">5 Days</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2" class="done" isdone="1" rel="2">
                                <span class="step_no authtrackingstep footerCurrentData">RN</span>
                                <span class="step_descr">1 Days</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3" class="selected" isdone="0" rel="3">
                                <span class="step_no authtrackingstep footerCurrentData">MD</span>
                                <span class="step_descr">04:05:00 Hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" class="disabled" isdone="0" rel="4">
                                <span class="step_no authtrackingstep footerData">PAC</span>
                                 <span class="step_descr">00:45:00 Hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" class="disabled" isdone="0" rel="5">
                                <span class="step_no authtrackingstep footerData">QCA</span>
                                   <span class="step_descr">0 Days</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" class="disabled" isdone="0" rel="4">
                                <span class="step_no authtrackingstep footerData">QCD</span>
                                 <span class="step_descr">0 Days</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4" class="disabled" isdone="0" rel="4">
                                <span class="step_no authtrackingstep footerData">QC</span>
                                  <span class="step_descr">0 Days</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="col-lg-7 col-md-5 col-sm-5 col-xs-5 panel-right tracker tracking_detail text-center">
        <div class="pull-right">
            <div class="col-lg-3 track track-done">
                <label class="track-title">INTAKE</label>
                <div class="track-title-second">02:00</div>
            </div>
            <div class="col-lg-2 track track-done">
                <label class="track-title">NURSE</label>
                <div class="track-title-second">02:23</div>
            </div>
            <div class="col-lg-2 track track-current">
                <label class="track-title">MD</label>
                <div class="track-title-second">00:35</div>
            </div>
            <div class="col-lg-2 track track-pending">
                <label class="track-title">PAC</label>
            </div>
            <div class="col-lg-2 track track-pending">
                <label class="track-title">CD</label>
            </div>
            <div class="col-lg-2 track track-total">
                <label class="track-title" style="color:white">TOTAL:</label>
                <p class="track-title FooterTotalCount">04:58</p>
            </div>
        </div>
    </div>
    @*<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <label class="col-lg-10 track-title totalTimeCount" align="center">TOTAL :</label><br />
            <b class="col-lg-10 totalTimeCountData" align="center">0D 04:58</b>
        </div>*@
</div>



