@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocation.PracticeAccessibilityViewModel

    <div class="form-style" ng-hide="AccessibilitiesEdit">
        <fieldset>
            <legend>
                Accessibilities
            </legend>
            <div ng-hide="AccessibilitiesEdit" class="legend2 pull-right">
                <button ng-click="AccessibilitiesEdit=true" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
            </div>
            <div id="practice8" class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6 ">
                            <label class="control-label small">Does this meet ADA accessibility requirements? *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.ADA}}</i>
                            </div>
                            <br />
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">Does this site offer Handicapped access for the following</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Building</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Building}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Parking</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Parking}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Restroom</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Restroom}}</i>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">Does this site offer other services for the disabled? *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.OtherServices}}</i>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Text telephony(TTY) *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.TTY}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">American sign language *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.SingLanguage}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Mental/Physical impairment services *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Impairment}}</i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label small">Accessible by public transportation? *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Transportation}}</i>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Bus *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Bus}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Subway *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Subway}}</i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Regional train *</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.Train}}</i>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Other Handicapped Access</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.OtherHandicapped}}</i>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Other Disability Services</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.OtherDisability}}</i>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Other Transportation Access</label>
                            <div>
                                <i class="data-label">{{primaryPracticeLocations.Accessibilities.OtherTransportation}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
