

<div>
    <fieldset class="fsStyle" id="PSVStateLicense">
        <legend class="legendStyle">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">Verification Result</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PSV/GetEditStateLicenseVerification" data-tab-container="PSVStateLicenseVerification">
                        <i class="fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning btn-xs historyBtnCSS list-item">

                        <i class="fa fa-history"></i>
                    </button>
                </span>
            </span>
        </legend>

        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Provider Status:</label>
                <span class="theme_label_data">FOUND</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Sound:</label>
                <span class="theme_label_data">F.L.</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Verified By :</label>
                <span class="theme_label_data">Elizabeth</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">License Status:</label>
                <span class="theme_label_data"> Clear </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Issue Date:</label>
                <span class="theme_label_data">11/04/2012</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Expiration Date:</label>
                <span class="theme_label_data">08/12/2016</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Remark:</label>
                <span class="theme_label_data">NONE</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Verification Document:</label>
                <span class="theme_label_data"><i class="fa fa-file-o" aria-hidden="true"></i></span>
            </div>
        </div>
    </fieldset>
</div>