<button class="btn btn-sm btn-success pull-right" data-dismiss="modal" id="queueBucketsBtn" data-currentuserrole="Intake" data-action="Approve">Confirm</button>
<span>
    @*Using ".cancel-createauth-btn" to enable the Create Auth Btns (disabled during on click for popup)*@
    &nbsp; <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Cancel</button>
</span>

