@model PortalTemplate.Areas.Portal.Models.ProviderProfile.ContractInformationViewModel
@using PratianUI
<fieldset class="fsStyle" id="AddEditPersonalDetail">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            @if (Model != null)
            {
                <span><span class="transparent-font-color">_</span>EDIT CONTRACT INFORMATION<span class="transparent-font-color">_</span></span>
            }
            else
            {
                <span>ADD CONTRACT INFORMATION</span>
            }
        </span>
    </legend>
    @using (Ajax.BeginForm("SaveContractInfo", "ProviderProfile", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ContractInformationArea" }, new { id = "saveContractInfo" }))
    {
        <div class="x_content zero-padding-left">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 boxstyle">
                    <div class="col-lg-3 nopadding">
                        <label class="theme_label">@Html.DisplayNameFor(e => e.DcoumentPath)</label>
                    </div>
                  
                    <div class="col-lg-5 nopadding">
                        <span class="col-lg-12 input-group  nopadding">
                            <input type="text" class="form-control input-xs" placeholder="Document">
                            <span class="input-group-addon File_uploadStyle"><i class="fa fa-upload"></i></span>
                        </span>&nbsp;
                       
                            @*<input class="form-control input-xs" id="item_SupportingDocumentPath" name="item.SupportingDocumentPath" type="file" value="">*@
                            @*<span class="theme_label_data">@Html.TextBoxFor(m => m.DcoumentPath, new { @class = "form-control input-xs", placeholder = "CONTACT NAME" })  </span>*@
                            @Html.ValidationMessageFor(e => e.DcoumentPath)
                        </div>
                    <div class="col-lg-3">
                        <span class="theme_label_data pull-left" style="margin-top:3px"> <i class="fa fa-file"></i></span>
                    </div>
                    @*<label class="theme_label">Salutation </label>
                        <span class="theme_label_data">Mr.</span>*@
                </div>
            
            </div>
        </div>
        <div class="row col-lg-12 zero-padding-left-right">
            <input class="btn btn-success btn-xs  buttonmargin pull-right margin-right-5px" type="submit" name="submit" value="SAVE">
            <a class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px" data-tab-path="/Portal/ProviderProfile/CancelContractInfoEdit?profileId=1" data-tab-container="ContractInformationArea">CANCEL</a>
        </div>
        @*</div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12 buttonmargin">*@
        @* <button class="btn btn-success btn-xs ripple closeBtnCSS" onclick="ShowHideAddView('ViewPersonalDetail', 'AddEditPersonalDetail')">Save</button>*@

        @*</div>*@
    }
</fieldset>
