@model PortalTemplate.Areas.Portal.Models.ProviderProfile.ContractInformationViewModel
<fieldset class="fsStyle" id="ViewContractDetail">

    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span class="tabheading">______</span>
            CONTRACT INFORMATION
            <span class="tabheading">_______</span>
        </span>
        &nbsp;&nbsp;
        <span class="text-uppercase ">
            <span class="fstyleBtnStyle">

                <button class="btn btn-primary btn-xs add_note_btn list-item tab-navigation" data-toggle="tooltip" title="EDIT" data-tab-path="/Portal/ProviderProfile/GetContractInfoEditPartial?ProfileId=1&type=Edit" data-tab-container="ContractInformationArea">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning btn-xs historyBtnCSS" data-toggle="tooltip" title="HISTORY" data-target="#PersonalDetails">
                    <i class="fa fa-history"></i>
                </button>


            </span>
        </span>
    </legend>


    <div class="x_content zero-padding-left">
        <span class="text_adjust boxstyle">
            <label class="theme_label">@Html.DisplayNameFor(e => e.DcoumentPath) :</label>
            <span class="theme_label_data"><i class="fa fa-file"></i></span>
        </span>

    </div>


</fieldset>
