<br />
<div class="col-lg-12 zero-padding-left-right-div form-style">
    <fieldset>
        <legend>
            Plan Form Data
        </legend>
        <div class="pull-right legend2">
            <button type="button" ng-hide="readwrite" ng-click="readwrite=true;" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="View History"><i class="fa fa-edit"></i></button>
            <button type="button" ng-show="readwrite" ng-click="readwrite=false;" class="btn btn-xs btn-primary" data-container="body" data-toggle="popover" data-placement="left" data-trigger="hover" data-content="View History"><i class="fa fa-save"></i></button>
        </div>
        <div class="col-lg-12">
            @*<div class="col-lg-12">
                @Html.Partial("~/Areas/Credentialing/Views/CnD/_FloatingAction.cshtml")
            </div>*@
            <div class="clearfix"></div>
            <br />

            <div class="col-lg-12 form-group">
                <div class="col-lg-6  "> <label class="control-label ">Questions</label></div>
                <div class="col-lg-6  text-center">
                    <label class="control-label  ">Answers</label>
                </div>
            </div>
            <div class="col-lg-12 form-group">
                <div class="col-lg-6"> <label class="control-label small">1. What is the color of your eyes ?</label></div>
                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-disabled="!readwrite">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 form-group">
                <div class="col-lg-6"> <label class="control-label small">2. What is the color of your Hair ?</label></div>
                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-disabled="!readwrite">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 form-group">
                <div class="col-lg-6"> <label class="control-label small">3. Any visible Identification Mark on your body:</label></div>
                <div class="col-lg-6">
                    <input type="text" class="form-control input-sm" ng-disabled="!readwrite">
                </div>
            </div>
        </div>

    </fieldset>
</div>
