<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder custom-thead-back custom-thead-font custom-tbody">
        <thead>
            <tr class="text-uppercase">
                <th>TYPE</th>
                <th>ADDRESS</th>
                <th>CITY</th>
                <th>STATE</th>
                <th>ZIP</th>
                <th>PHONE</th>
                <th>FAX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Primary</td>
                <td>7717 95th Ave, Evart, MI 49631, United States </td>
                <td>Tampa</td>
                <td>Florida</td>
                <td>23976</td>
                <td>(214) 669-5586</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>
