<div class="x-panel panelheight">
    <div>
        <input type="submit" value="ADD NEW ATTACHMENT" onclick="toggleAttachmentView()" class="copy-button pull-left button-styles-in-tabs" />
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">MH</span>
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes" checked="">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">UM</span>
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">CM</span>
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">DM</span>
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">A & G</span>
        <input type="checkbox" class="form-control input-xs flat checkbox-input-notes">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">Show All</span>

        @*<a href="javascript:void(0)" class="custom-print-button print_button_beside_member_table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Notes">
            <img src="/Resources/Images/Icons/print_icon.png">
        </a>
        <a href="javascript:void(0)" class="custom-button text-red pdf-button" data-role="tooltip" data-placement="top" title="" data-original-title="PDF">
            <img src="/Resources/Images/Icons/pdf1.png">
        </a>
        <a href="javascript:void(0)" class="custom-button text-success excel-button" data-role="tooltip" data-placement="top" title="" data-original-title="EXCEL">
            <img src="/Resources/Images/Icons/excel.PNG">
        </a>*@
        @Html.ExportOptions("print", "pdf", "excel")
    </div>
    <div class="attachments-tablediv">
        <table class="table margin_bottom_zero table-white table-bordered noBorderTable zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
            <thead>
                <tr>
                    <th>Uploaded date</th>
                    <th>Title</th>
                    <th>Attachment Type</th>
                    <th>Created By</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>04/30/2016 12:25:41</td>
                    <td>Surgical Records</td>
                    <td>Clinical</td>
                    <td>Dr. Manjusri Vennamaneni</td>
                    <td class="text-uppercase">@*<i class="fa fa-file"></i>*@
                    <a href="javascript:void(0)" class="custom-file-button" data-role="tooltip" data-placement="top" title="" data-original-title="VIEW ATTACHMENT">
                        <img src="/Resources/Images/Icons/fileIcon2.png">
                    </a>
                </td>
                </tr>
                <tr>
                    <td>06/30/2016 11:25:12</td>
                    <td>Hospital Records</td>
                    <td>Progress Notes</td>
                    <td>Dr. Julia</td>
                    <td class="text-uppercase">@*<i class="fa fa-file"></i>*@
                        <a href="javascript:void(0)" class="custom-file-button" data-role="tooltip" data-placement="top" title="" data-original-title="VIEW ATTACHMENT">
                            <img src="/Resources/Images/Icons/fileIcon2.png">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>06/30/2016 11:35:31</td>
                    <td>Surgical Records</td>
                    <td>Clinical</td>
                    <td>Dr. Manjusri Vennamaneni</td>
                    <td class="text-uppercase">@*<i class="fa fa-file"></i>*@
                    <a href="javascript:void(0)" class="custom-file-button" data-role="tooltip" data-placement="top" title="" data-original-title="VIEW ATTACHMENT">
                        <img src="/Resources/Images/Icons/fileIcon2.png">
                    </a>
                </td>
                </tr>
                <tr>
                    <td>06/30/2016 08:15:50</td>
                    <td>PCP Records</td>
                    <td>Clinical</td>
                    <td>Dr. Manjusri Vennamaneni</td>
                    <td class="text-uppercase">@*<i class="fa fa-file"></i>*@
                    <a href="javascript:void(0)" class="custom-file-button" data-role="tooltip" data-placement="top" title="" data-original-title="VIEW ATTACHMENT">
                        <img src="/Resources/Images/Icons/fileIcon2.png">
                    </a>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


