<table class="table table-bordered noBorderTable table-white zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
    <thead>
        <tr class="text-uppercase">
            <th>INSURANCE TYPE</th>
            <th>ORDER</th>
            <th>SUPPLEMENTAL DRUG TYPE</th>
            <th>CARRIER</th>
            <th>EFFECTIVE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="noDataAvb" colspan="5">NO DATA AVAILABLE</td>
        </tr>
    </tbody>
</table>

