<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font custom-tbody">
        <thead>
            <tr class="text-uppercase">
                <th>EFF DATE</th>
                <th>TERM DATE</th>
                <th>CATEGORY</th>
                <th>PLAN ID</th>
                <th>PLAN NAME</th>
                <th>REASON</th>
                <th>SUBSIDY</th>
                <th>EXPLANATION</th>
                <th>EVENT</th>
                <th>VOID EVENT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/01/2014</td>
                <td>12/31/2014</td>
                <td>-</td>
                <td>1</td>
                <td>Ultimate</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>


