<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">BASIC DETAILS</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Member Name:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">Benji Dunn</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Relationship:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Gender:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">M</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Conf. Comm:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Birth Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderPhoneNumber" class="bolding ng-binding">07/18/1940</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        SSN:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        EFF Date:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">01/01/2014</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Status:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">Inactive</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Marital Status:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Medicare No:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">K170371418</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Family Link ID:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        History Link ID:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Standard Unique Health ID:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">1123333VE</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Exclusionary Period Credit Days:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">HIPPA</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        HIPAA Start Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        HIPAA End Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">PRE-EX</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        PRE-EX Start Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        PRE-EX End Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        PRE-EX Credit Days:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Limits:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Applicant Type:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderPhoneNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Eligibility Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Qualifying Event Date:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        EOI Termination Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        New Signature Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Prior Billing Indicator:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Prior Billing EFF Date:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Record No:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Language:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">ADDRESS</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Home:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">7717 95th Ave, Evart, MI 49631, United States</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Mailing:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Work:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Cell Phone:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Memo:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</div>

