<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">PERSONAL INFORMATION</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Guarantor Type:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Member Id:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        First Name:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Last Name:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Relationship:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">CONTACT INFORMATION </span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Email:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Phone:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Cell:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">ADDRESS INFORMATION </span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Add 1:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Add 2:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        City:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        State:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Zip:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        County:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

</div>

