<table class="table table-bordered noBorderTable table-white zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
    <thead>
        <tr class="text-uppercase">
            <th>PFX</th>
            <th>CODE</th>
            <th>SFX</th>
            <th>LAST</th>
            <th>NEXT</th>
            <th>COMMENTS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="noDataAvb" colspan="6">NO DATA AVAILABLE</td>
        </tr>
    </tbody>
</table>



