<table class="table table-bordered noBorderTable table-white zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
    <thead>
        <tr class="text-uppercase">
            <th>EVENT</th>
            <th>EFFECTIVE</th>
            <th>HICN</th>
            <th>STATE</th>
            <th>COUNTY</th>
            <th>PBP ID</th>
            <th>FROM</th>
            <th>VERIFIED DATE</th>
            <th>SEGMENT ID</th>
            <th>INPUT</th>
            <th>RESULT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="noDataAvb" colspan="11">NO DATA AVAILABLE</td>
        </tr>
    </tbody>
</table>
