<div class="memberTab_sectionsDiv">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">CULTURAL/ETHNICITY CHARACTERISTICS</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Ethnicity:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Race:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Religion:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Marital Status:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Family Status:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderPhoneNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">CONTACT</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Home Phone:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">(214) 669-5586</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Email:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Alternate Phone:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Contact Pref:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">Primary</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Do Not Call:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderPhoneNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Residential Status:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Pref Call Days:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Contact Alert:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Parental Consent Thru:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderFaxNumber" class="bolding ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Parental Consent From:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Pref Call Time From:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Pref Call Time Thru:
                    </span>
                    <span class="summary_data">
                        <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">LANGUAGE</span>
        </legend>
        <div class="panel-body">
            <div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Spoken 1:
                    </span>
                    <span class="summary_data">
                        <span id="ReqFirstName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Spoken 2:
                    </span>
                    <span class="summary_data">
                        <span id="ReqLastName" class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Written 1:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase ng-binding">-</span>
                    </span>
                </div>
                <div class="col-lg-2 divwidth_auto">
                    <span>
                        Written 2:
                    </span>
                    <span class="summary_data">
                        <span class="bolding text-uppercase wrap-span-content ng-binding">-</span>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</div>
