<div class="x_panel border_on_panel">
    <table class="table margin_bottom_zero table-white alignLeftTable noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font custom-tbody">
        <thead>
            <tr class="text-uppercase">
                <th>PHYSICIAN NAME</th>
                <th>NPI</th>
                <th>ADDRESS</th>
                <th>Center No.</th>
                <th>PCP</th>
                <th>EFF FROM</th>
                <th>EFF TO</th>
                <th>PHONE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DR. WILLIAM BRANDT</td>
                <td>9848738554 </td>
                <td>-</td>
                <td>-</td>
                <td>YES</td>
                <td>01/01/2014</td>
                <td>12/31/2014</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>
