<table class="table table-bordered noBorderTable table-white zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
    <thead>
        <tr class="text-uppercase">
            <th>EFF DATE</th>
            <th>PLAN ID</th>
            <th>TYPE</th>
            <th>UNITS</th>
            <th>FACTORS</th>
            <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="noDataAvb" colspan="6">NO DATA AVAILABLE</td>
        </tr>
    </tbody>
</table>
