<style>
    .doctyperow {
        margin-bottom: 10px;
    }

    .scrollable-division > span {
        margin-right: 20px;
    }

    .btn-success {
        font-weight: bold !important;
    }
</style>

<div class="x-panel panelheight" id="tab-review">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ReviewHeader">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text_ellipsis">
                    <label class="los_labels">DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center text_ellipsis">
                    <label class="los_labels">DOCUMENTS ATTACHED</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                    <label class="los_labels">#</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                    <label class="los_labels">ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;"
                           href="https://www.cms.gov/medicare-coverage-database/">
                            <b class="reviewDataLabel">LCD/NCD</b>&nbsp;
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>*@
                    @*<span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="LCD_NCD_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="LCD_NCD" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="https://www.aetna.com/health-care-professionals/clinical-policy-bulletins/medical-clinical-policy-bulletins/medical-clinical-policy-bulletins-search-results.html?query=vests&amp;cat=CPBs#"*@
                           onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;"
                           href="https://www.aetna.com/health-care-professionals/clinical-policy-bulletins/medical-clinical-policy-bulletins/medical-clinical-policy-bulletins-search-results.html?query=vests&amp;cat=CPBs#"><b class="reviewDataLabel">CPG</b>&nbsp;</a>

                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>*@
                    @*<span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="CGP_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input class="fileUpload" type="file" id="CGP" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.fda.gov/Drugs/default.htm"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.fda.gov/Drugs/default.htm"><b class="reviewDataLabel">FDA</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="FDA_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input class="fileUpload" type="file" id="FDA" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.mckesson.com/payers/decision-management/decision-management-interqual/interqual-criteria/"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.mckesson.com/payers/decision-management/decision-management-interqual/interqual-criteria/"><b class="reviewDataLabel">INTERQUAL</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="Interqual_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input class="fileUpload" type="file" id="Interqual" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="https://www.cms.gov/Regulations-and-Guidance/Guidance/Manuals/Internet-Only-Manuals-IOMs-Items/CMS019326.html"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="https://www.cms.gov/Regulations-and-Guidance/Guidance/Manuals/Internet-Only-Manuals-IOMs-Items/CMS019326.html"><b class="reviewDataLabel">MEDICARE MANUAL</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="MedicareManual_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="MedicareManual" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ReviewHeader">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text_ellipsis">
                    <label class="los_labels">DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center text_ellipsis">
                    <label class="los_labels">DOCUMENTS ATTACHED</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                    <label class="los_labels">#</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                    <label class="los_labels">ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Directory"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Directory"><b class="reviewDataLabel">PROVIDER DIRECTORY</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="ProviderDirectory_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="ProviderDirectory" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Manual"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Manual"><b class="reviewDataLabel">PROVIDER MANUAL</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="ProviderManual_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="ProviderManual" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Members/plan-documents.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/plan-documents.aspx"><b class="ng-binding reviewDataLabel">SUMMARY OF BENEFITS</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="BenefitsSummary_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="BenefitsSummary" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Members/plan-documents.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/plan-documents.aspx"><b class="reviewDataLabel">ANOC</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="ANOC_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="ANOC" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Library/2016_UHP_EOC.pdf"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Library/2016_UHP_EOC.pdf"><b class="reviewDataLabel">EOC</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="EOC_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="EOC" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ReviewHeader">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text_ellipsis">
                    <label class="los_labels">DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-center text_ellipsis">
                    <label class="los_labels">DOCUMENTS ATTACHED</label>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                    <label class="los_labels">#</label>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
                    <label class="los_labels">ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Members/prescription-drugs.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/prescription-drugs.aspx"><b class="reviewDataLabel">FORMULARY</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="Formulary_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="Formulary" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.ahrq.gov/professionals/clinicians-providers/guidelines-recommendations/index.html"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.ahrq.gov/professionals/clinicians-providers/guidelines-recommendations/index.html"><b class="reviewDataLabel">AHRQ</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="AHRQ_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="AHRQ" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.nih.gov/health-information"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.nih.gov/health-information"><b class="reviewDataLabel">NIH</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="NIH_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="NIH" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Members/forms.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/forms.aspx"><b class="reviewDataLabel">PROVIDER FORMS</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="ProviderForms_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="Providerforms" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right wrap-words" style="margin-top:13px">
                    <div class="row Doctypename">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Guide"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Guide"><b class="reviewDataLabel">QUICK REFERENCE GUIDE</b>&nbsp;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right text-right Docs_Div">
                    @*<span class='arrow-left'><i class="fa fa-chevron-left fa-2x"></i></span>
                        <span class='arrow-right'><i class="fa fa-chevron-right fa-2x"></i></span>*@
                    <div class='row offer-pg-cont NoDocumentAttached' id="ReferenceGuide_Docs">
                        <span class="nodocsattached">NO DOCUMENTS ATTACHED</span>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 zero-padding-left-right text-center DocsCount_Div">
                    <span>0</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 zero-padding-left-right text-center ReviewUpload">
                    <input type="file" class="fileUpload" id="ReferenceGuide" multiple /><span id="" class="text-success fileUploadSpan"><img class="uploadIcon"  src="~/Resources/Images/Buttons/Upload.png" /></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12   divider-dashed dash-divider-module"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" value="ADD NEW NOTE" class="pull-left btn btn-xs btn-success" style="width: 117px; padding: 3px 5px 3px 5px; margin-right: 5px;" />
        <input type="submit" value="ADD NEW CONTACT" class="btn btn-xs btn-success" style="padding: 3px 5px 3px 5px;width: auto;" />
        @*<input type="submit" value="GENERATE LETTER" class="btn btn-xs btn-success" style="padding: 3px 5px 3px 5px;width: auto;" />*@
    </div>
    <div class="clearfix"></div><br />
    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right">
        <button class="btn btn-primary .theme_label_data">PEND</button>
        <button class="btn btn-danger">DENY</button>
        <button class="btn btn-warning">REFER</button>
        <button class="btn btn-success">APPROVE</button>
    </div>*@


    <p-script filepath="~/Scripts/AppScripts/ViewAuth/AuthReview.js"></p-script>
</div>


