.btn_right_legend {
    position: relative;
    top: -23px;
}

.margin_bottom_10_px {
    margin-bottom: 10px;
}

.padding_icd {
    padding-top: 10px;
    padding-bottom: 5px;
}

.modifier_width {
    float: left;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
/* field set */

.fieldsetborder {
    border: 1px solid rgba(116,198,220,1);
}

legend.legendstyle {
    font-size: 15px;
    color: rgb(67, 102, 160);
    background-color: white;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
     width:auto;
    border-bottom:0px;
    margin-bottom:0px;
}

fieldset.fieldsetStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    margin-top: 1% !important;
    padding: 4px;
    margin: 5px;
}

.editelements {
    display: none;
}

.viewelements {
    display: block;
}

.p_legendHeader {
    color: rgb(67, 102, 160);
    font-weight: 900;
    font-size: 15px;
}

#EditButton {
    display: none !important;
}

.greybackground
{
    background: rgb(247, 247, 247);
}

