.nav-tabs-left > li > a:hover, .nav-tabs-left > li > a:focus, .nav-tabs-left > li.active > a, .nav-tabs-left > li.active > a:hover, .nav-tabs-left > li.active > a:focus {
    border: 1px solid #ddd;
    border-right-color: transparent;
    background-color: #265a88;
    color: whitesmoke;
}
