
<div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Freedom : 5 months</label></div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Wellcare : 3 months</label></div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Humana : 1 month</label></div>
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm pull-right" type="submit" ng-click="CallView3();">View All</button>
    </div>
</div>