@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.PersonalIdentificationViewModel

<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-6 form-group">
        @Html.LabelFor(model => model.SSN, htmlAttributes: new { @class = "control-label small" })
        <div>
            <i class="data-label">{{Provider.PersonalIdentification.SSN}}</i>
        </div>
    </div>
    <div class="col-lg-6 form-group">
        <label class="control-label small">Supporting Document</label>
        <div>
            <i class="data-label">Not Available@*<a href="{{Provider.PersonalIdentification.SSNCertificatePath}}" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="SSN Certificate"><i class="fa fa-file"> SSN Certificate</i></a>*@</i>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-6 form-group">
        @Html.LabelFor(model => model.DL, htmlAttributes: new { @class = "control-label small" })
        <div>
            <i class="data-label">{{Provider.PersonalIdentification.DL}}</i>
        </div>
    </div>
    <div class="col-lg-6 form-group">
        <label class="control-label small">Supporting Document</label>
        <div>
            <i class="data-label"><a href="{{Provider.PersonalIdentification.DLCertificatePath}}" class="pointer" target="_blank" data-toggle="tooltip" data-placement="top" title="Driving License"><i class="fa fa-file"> Driving License</i></a></i>
        </div>
    </div>
</div>