@model PortalTemplate.Areas.CredAxis.Models.DocumentRepoViewModel.DoumentRepoMainViewModel
<p-script filepath="~/Areas/CredAxis/Scripts/DocumentRepo/DocumentRepo.js"></p-script>
<p-script filepath="~/Areas/CredAxis/Scripts/DocumentRepo/PackageGeneration.js"></p-script>
<p-link filepath="~/Areas/CredAxis/CSS/DocumentRepository/DocList.css"></p-link>

<div id="container">
    <div class="ui-layout-west col-lg-12" style="height: 750px;">

        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/PackageGeneration/View/_GeneratedForms.cshtml", Model.GeneratedForms)
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/PackageGeneration/View/_ProfileDocs.cshtml", Model.ProfileDoc)
        @Html.Partial("~/Areas/CredAxis/Views/DocumentRepository/PackageGeneration/View/_PSV.cshtml", Model.PSV)


    </div>
    <div class="col-lg-6">
        <div class="col-lg-12 nopaddingDiv">
            <fieldset class="fsStyle" style="min-height:300px">
                <legend class="legendStyle">
                    <span class="text-uppercase create-auth-legends">
                        <span class="text-uppercase TableHeading">Select Providers</span>
                    </span>
                </legend>
                <ul id="selectedContainer" style="min-height: 300px; width: 41%;" class="connectedSortable"></ul>
                <button class="btn btn-success pull-right" style="">GENERATE PACKAGE</button>
                </fieldset>
        </div>
    </div>
