<style>
    .LOS_count_header {
        margin: 10px 0px 10px 0px;
        text-align: center;
    }
</style>
<div class="col-lg-12">
    <div class="row LOS_count_header">
        <div class="col-lg-6"><span class="theme_label">TOTAL APP:&nbsp;</span><span class="losDataBold" id="total_app">3</span></div>
        <div class="col-lg-6"><span class="theme_label">TOTAL DENIED:&nbsp;</span><span class="losDataBold" id="total_denied">0</span></div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-4">
                <span class="theme_label">
                    REC DT:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" id="recDate" value="07/04/2016 10:30:35" placeholder="MM/DD/YYYY" />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    REQ LOS*:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" id="reqDate" value="3" placeholder="REQUESTED" />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    APP LOS:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp read_only_field" id="appLOS" value="3" placeholder="AUTHORIZED" disabled />
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <span class="theme_label">
                    DENIED:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp read_only_field" id="denied" value="0" placeholder="DENIED" disabled />
                    </span>
                </span>
            </div>
            <div class="col-lg-3">
                <span class="theme_label">
                    AUTH TYPE:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <select class="form-control inp" id="authtype">
                            <option value="Admission">ADMISSION</option>
                            <option value="Concurrent" selected="selected">CONCURRENT</option>
                            <option value="Discharge">DISCHARGE</option>
                            <option value="PreAdmission">PREADMISSION</option>
                        </select>
                    </span>
                </span>
            </div>
            <div class="col-lg-3">
                <span class="theme_label">
                    REVIEW:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <select class="form-control inp" id="review">
                            <option value="Admission" selected="selected">ADMISSION</option>
                            <option value="Concurrent" >CONCURRENT</option>
                            <option value="Discharge">DISCHARGE</option>
                            <option value="PreAdmission">PREADMISSION</option>
                        </select>
                    </span>
                </span>
            </div>
            <div class="col-lg-3">
                <span class="theme_label">
                    ROOM TYPE:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <select class="form-control inp" id="roomType">
                            <option value="MED" selected="selected">MED</option>
                        </select>
                    </span>
                </span>
            </div>
        </div>

        <div id="rowsForDenialDateAndReason"></div>

        <div class="row">
            <div class="col-lg-4">
                <span class="theme_label">
                    AUTH FROM:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" value="07/04/2016" id="authFrom" placeholder="MM/DD/YYYY" />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    AUTH TO:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" value="07/07/2016" id="AuthTo" placeholder="MM/DD/YYYY" />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    NEXT REVIEW:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" value="07/07/2016" id="nextReview" placeholder="MM/DD/YYYY" />
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <span class="theme_label">
                    EXP DC:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp" value="07/07/2016" id="expDC" placeholder="MM/DD/YYYY" />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    TOTAL APP:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp read_only_field" value="3" id="totalApp" placeholder="TOTAL AUTHORIZED" disabled />
                    </span>
                </span>
            </div>
            <div class="col-lg-4">
                <span class="theme_label">
                    TOTAL DENIED:
                </span>
                <span class="summary_data">
                    <span class="text-uppercase posexplanation theme_label_data">
                        <input type="text" class="form-control inp read_only_field" value="0" id="totalDenied" placeholder="TOTAL DENIED" disabled />
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
