<div class="col-lg-12">
    <div class="col-lg-8">
        <h3>Edit LOS</h3>
    </div>
    <div class="col-lg-4" style=" top: 14px;">
        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">X</button>
    </div>
</div>