    <ul class="nav nav-tabs small" role="tablist">
        <li role="presentation" id="summary2" ng-click="" class="active"><a href="#CCM_ACTION" aria-controls="CCM_ACTION" role="tab" data-toggle="tab" aria-expanded="true">CCM ACTION</a></li>
        <li role="presentation" ng-click="" id="psvtab" class=""><a href="#CCM_PSV" aria-controls="PSV" role="tab" data-toggle="tab" aria-expanded="false">PSV</a></li>
        <li role="presentation" ng-click="" id="psvtab" class=""><a href="#CCM_DOCUMENTS" aria-controls="DOCUMENTS" role="tab" data-toggle="tab" aria-expanded="false">DOCUMENTS</a></li>
     </ul>
    <div ng-view>
    </div>