<button class="biscuit biscit_outerColor_green">
    <div class="biscuit_heading auth">
        Auths Processed
    </div>
    <div class="biscuit_body">
        <div class="col-sm-4 padding_5">Standard<br /> <span class="text-center center_count_small"><small>#</small>10</span></div>
        <div class="col-sm-4 padding_5">Expedite<br /> <span class="text-center center_count_small"><small>#</small>3</span></div>
        <div class="col-sm-4 padding_5">Total<br /> <span class="text-center center_count_small"><small>#</small>13</span></div>

    </div>
</button>