<button class="biscuit biscit_outerColor_time">
    <div class="biscuit_heading pt">
        Processing Time<br />
        <small class="small_minutes">(in minutes)</small>
    </div>
    <div class="biscuit_body">
        <div class="col-sm-4 padding_5">High<br /> <span class="text-center center_count_small">25<small class="small_mins minsSmall">MINS</small></span></div>
        <div class="col-sm-4 padding_5">Low<br /> <span class="text-center center_count_small">20 <small class="small_mins minsSmall">MINS</small></span></div>
        <div class="col-sm-4 padding_5">Avg<br /> <span class="text-center center_count_small">15 <small class="small_mins minsSmall">MINS</small></span></div>
    </div>
</button>
