
<link href="~/Content/AppCss/ClaimsDashboard/SettingsForClaimsDashBoard.css" rel="stylesheet" />
@*<div class="Float_Settings" data-role="tooltip" data-placement="left" title="Open Settings">
        <i class="fa fa-cog fa-2x"></i>
    </div>*@

<div class="Settings_Area">
    <a class="btn" id="Close_Settings" data-role="tooltip" data-placement="left" title="Close Settings"><i class="fa fa-1x fa-close"></i></a>

    <span class="Area_Hearder">Configure Reports</span><br />
    <div class="col-lg-12 zero-padding-left-right">
        <div class="col-lg-6"><span class="content_p">Rearrange Reports</span></div>
        <div class="col-lg-6">
            <div class="switchNew">
                <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" onchange="toggleClass()" type="checkbox">
                <label for="cmn-toggle-7" data-on="Enable" data-off="Disable"></label>
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right">
        <div class="col-lg-6"><span class="content_p">Classic Tile View</span></div>
        <div class="col-lg-6">
            <div class="switchNew">
                <input id="cmn-toggle-8" class="cmn-toggle cmn-toggle-yes-no" onchange="toggleTileView()" type="checkbox">
                <label for="cmn-toggle-8" data-on="Enable" data-off="Disable"></label>
            </div>
        </div>
    </div>
   

    <div class="col-lg-12">
        <ul id="Newsortable">
            <li class="ui-state-default" data-id="1">
                <span class="fa ui-icon-arrowthick-2-n-s"></span>
                <label class="switch"><input type="checkbox" checked onchange="ToggleChart('chart1')"><div class="slider"></div></label><span class="margin_left_10">Overall Mean Process Time</span>
            </li>
            <li class="ui-state-default" data-id="2"><span class="fa ui-icon-arrowthick-2-n-s"></span><label class="switch">Show<input type="checkbox" onchange="ToggleChart('chart2')" checked><div class="slider"></div></label><span class="margin_left_10">High Cost Claims</span></li>
            <li class="ui-state-default" data-id="3"><span class="fa ui-icon-arrowthick-2-n-s"></span><label class="switch"><input type="checkbox" onchange="ToggleChart('chart3')" checked><div class="slider"></div></label><span class="margin_left_10">Procedures Claimed</span></li>
            <li class="ui-state-default" data-id="4"><span class="fa ui-icon-arrowthick-2-n-s"></span><label class="switch"><input type="checkbox" onchange="ToggleChart('chart4')" checked><div class="slider"></div></label><span class="margin_left_10">Most Common Disease</span></li>
            <li class="ui-state-default" data-id="5"><span class="fa ui-icon-arrowthick-2-n-s"></span><label class="switch"><input type="checkbox" onchange="ToggleChart('chart5')" checked><div class="slider"></div></label><span class="margin_left_10">Penalty/Adjustment</span></li>
            <li class="ui-state-default" data-id="6"><span class="fa ui-icon-arrowthick-2-n-s"></span><label class="switch"><input type="checkbox" onchange="ToggleChart('chart6')" checked><div class="slider"></div></label><span class="margin_left_10">Internal Mean Process Time</span></li>
        </ul>
    </div>
</div>
<script src="~/Scripts/AppScripts/ClaimsDashboard/ClaimsSettings.js"></script>