<div class="small_view">
    <div class="c_panel_header clearfix">
        <label>Internal Mean Process Time</label>
        @*<select name="InternalMeanProcessTimeSelect">
                <option value="top">Top 5</option>
                <option value="bottom">Bottom 5</option>
            </select>*@
        <a class="pull-right btn-xs drag_btn"><i class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></a>
        <a class="pull-right detail_btn btn-xs" id="Show_Detailed_Report_IMP"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
        <a class="pull-right btn-xs help_btn"><i class="fa fa-question-circle"></i></a>
        @*<a class="pull-right filter_btn btn-xs" data-chart-id="#SpanTimeReport"><i class="fa fa-filter" aria-hidden="true"></i></a>*@
    </div>
    <div class="c_panel_body">
        <div id="SpanTimeReport"></div>
    </div>
</div>
<script src="~/Scripts/AppScripts/ClaimsDashboard/OverviewGraphs/SpanTimeReport.js"></script>