
<div class="row small_view" id="tile_list_rewamp">
    <div class="col-lg-12">
        <div class="tile_container" id="initiated_tile">
            <div class="claims_tile info_tile">
                <div class="claims_title">
                    Initiated
                </div>
                <div class="claims_tile_body">
                  
                    <div class="claims_amount">
                        <span id="initiatedAmount"><small>$</small>234,594,895</span>
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" style="width:23%">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="initiatedCount">
                            #874,542
                        </div>
                        <div class="per_count pull-right">
                            23%
                        </div>
                    </div>
                </div>
                <div class="claims_tile_footer" id="Initiated_claim_list">
                        More info
                    </div>
            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile success_tile">
                <div class="claims_title">
                    Accepted by CH
                </div>
                <div class="claims_tile_body">
                 
                    <div class="claims_amount">
                        <span id="AcceptedCHAmount"><small>$</small>875,874</span>
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" style="width:45%">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="AcceptedCHCount">
                            #11,343
                        </div>
                        <div class="per_count pull-right">
                            45%
                        </div>
                    </div>
                </div>

                <div class="claims_tile_footer">
                        More info
                    </div>

            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile danger_tile">

                <div class="claims_title">
                    Rejected by CH
                </div>
                <div class="claims_tile_body">
                    
                    <div class="claims_amount" id="RejectedCHAmount">
                        <span><small>$</small>895,102</span>
                    </div>

                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" style="width:23%">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="RejectedCHCount">
                            #11,231
                        </div>
                        <div class="per_count pull-right">
                            23%
                        </div>
                    </div>
                </div>
                <div class="claims_tile_footer">
                        More info
                    </div>


            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile success_tile">
                <div class="claims_title">
                    Accepted by payer
                </div>
                <div class="claims_tile_body">
              
                    <div class="claims_amount" id="AcceptedPayerAmount">
                        <span><small>$</small>855,812,895</span>
                    </div>

                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" style="width:45%">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="AcceptedPayerCount">
                            #980,345
                        </div>
                        <div class="per_count pull-right">
                            45%
                        </div>
                    </div>
                </div>
                <div class="claims_tile_footer">
                        More info
                    </div>
            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile danger_tile">
                <div class="claims_title">
                    Rejected by payer
                </div>
                <div class="claims_tile_body">
                   
                    <div class="claims_amount" id="RejectedPayerAmount">
                        <span><small>$</small>324,122</span>
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" style="width:19%">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="RejectedPayerCount">
                            #21,100
                        </div>
                        <div class="per_count pull-right">
                            19%
                        </div>
                    </div>
                </div>
                <div class="claims_tile_footer">
                        More info
                    </div>
            </div>
        </div>
    </div>
</div>



<div class="row" id="tile_list_new">
    <div class="col-lg-12">
        <div class="tile_container" id="initiated_tile">
            <div class="claims_tile info_tile">
                <div class="claims_title">
                    Initiated
                </div>
                <div class="claims_tile_body">
                    @*<div class="claims_icon">
                            <i class="fa fa-3x fa-reply-all"></i>
                        </div>*@

                    <div class="claims_amount">
                        <span id="initiatedAmountNew"></span>
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" id="initiated_progress">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="initiatedCountNew">
                           
                        </div>
                        <div class="per_count pull-right" id="initiated_percent">
                          
                        </div>
                    </div>
                </div>
                @*<div class="claims_tile_footer" id="Initiated_claim_list">
                        More info
                    </div>*@
            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile success_tile">
                <div class="claims_title">
                    Accepted by CH
                </div>
                <div class="claims_tile_body">
                    @*<div class="claims_icon">
                            <i class="fa fa-3x fa-check"></i>
                        </div>*@
                    <div class="claims_amount">
                        <span id="AcceptedCHAmountNew"></span>
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" id="acceptedCH_progress">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="AcceptedCHCountNew">
                        
                        </div>
                        <div class="per_count pull-right" id="acceptedCH_percent">
                           
                        </div>
                    </div>
                </div>

                @*<div class="claims_tile_footer">
                        More info
                    </div>*@

            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile danger_tile">

                <div class="claims_title">
                    Rejected by CH
                </div>
                <div class="claims_tile_body">
                    @*<div class="claims_icon">
                            <i class="fa fa-3x fa-exclamation"></i>
                        </div>*@
                    <div class="claims_amount" id="RejectedCHAmountNew">
                        <span></span>
                    </div>

                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" id="rejectedCH_progress">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="RejectedCHCountNew">
                          
                        </div>
                        <div class="per_count pull-right" id="rejectedCH_percent">
                         
                        </div>
                    </div>
                </div>
                @*<div class="claims_tile_footer">
                        More info
                    </div>*@


            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile success_tile">
                <div class="claims_title">
                    Accepted by payer
                </div>
                <div class="claims_tile_body">
                    @*<div class="claims_icon">
                            <i class="fa fa-3x fa-check"></i>
                        </div>*@
                    <div class="claims_amount" id="AcceptedPayerAmountNew">
                        <span></span>
                    </div>

                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" id="acceptedPayer_progress">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="AcceptedPayerCountNew">
                          
                        </div>
                        <div class="per_count pull-right" id="acceptedPayer_percent">
                            
                        </div>
                    </div>
                </div>
                @*<div class="claims_tile_footer">
                        More info
                    </div>*@
            </div>
        </div>
        <div class="tile_container">
            <div class="claims_tile danger_tile">
                <div class="claims_title">
                    Rejected by payer
                </div>
                <div class="claims_tile_body">
                    @*<div class="claims_icon">
                            <i class="fa fa-3x fa-exclamation"></i>
                        </div>*@
                    <div class="claims_amount" id="RejectedPayerAmountNew">
                        
                    </div>
                    <div class="claim_progress_bar">
                        <div class="cl_progress">
                            <div class="cl_progress_completed" id="rejectedPayer_progress">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="claims_count pull-left" id="RejectedPayerCountNew">
                          
                        </div>
                        <div class="per_count pull-right" id="rejectedPayer_percent">
                         
                        </div>
                    </div>
                </div>
                @*<div class="claims_tile_footer">
                        More info
                    </div>*@
            </div>
        </div>
    </div>
</div>



@*<div class="row" id="tile_list">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right">
            <div class="lg_tile tile info_tile">
                <div class="lg_tile_header tile_header">
                    Initiated
                </div>
                <div class="lg_tile_body tile_body">
                    <div class="lg_tile_body_upper clearfix">
                        <div class="tile_chart">
                            <div id="initiated_chart_container">

                            </div>
                        </div>
                        <div class="tile_data">
                            <div>
                                $385,213,845
                            </div>
                            <div>
                                #895,751
                            </div>
                        </div>
                    </div>
                    <div class="lg_tile_body_lower clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                            <div class="inner_tile">
                                <div class="inner_tile_header">
                                    Created
                                </div>
                                <div class="inner_tile_body clearfix">
                                    <div class="inner_tile_chart pull-left">
                                        <div id="created_chart_container">

                                        </div>
                                    </div>
                                    <div class="inner_tile_data pull-right">
                                        <div>
                                            $894,233
                                        </div>
                                        <div>
                                            #21,123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                            <div class="inner_tile">
                                <div class="inner_tile_header">
                                    Received
                                </div>
                                <div class="inner_tile_body clearfix">
                                    <div class="inner_tile_chart pull-left">
                                        <div id="received_chart_container">

                                        </div>
                                    </div>
                                    <div class="inner_tile_data pull-right">
                                        <div>
                                            $35,233
                                        </div>
                                        <div>
                                            #21,123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <div class="md_tile tile success_tile">
                        <div class="md_tile_header tile_header">
                            Accepted by CH
                        </div>
                        <div class="md_tile_body tile_body">
                            <div class="md_tile_body_upper clearfix">
                                <div class="tile_chart">
                                    <div id="acceptedbyCH_chart_container">

                                    </div>
                                </div>
                                <div class="tile_data">
                                    <div>
                                        $621,213,845
                                    </div>
                                    <div>
                                        #13,895,751
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <div class="md_tile tile success_tile">
                        <div class="md_tile_header tile_header">
                            Accepted by Payer
                        </div>
                        <div class="md_tile_body tile_body">
                            <div class="md_tile_body_upper clearfix">
                                <div class="tile_chart pull-left">
                                    <div id="acceptedbyPayer_chart_container">

                                    </div>
                                </div>
                                <div class="tile_data pull-right">
                                    <div>
                                        $110,213,845
                                    </div>
                                    <div>
                                        #89,895,751
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <div class="md_tile tile danger_tile">
                        <div class="md_tile_header tile_header">
                            Rejected by CH
                        </div>
                        <div class="md_tile_body tile_body">
                            <div class="md_tile_body_upper clearfix">
                                <div class="tile_chart pull-left">
                                    <div id="rejectedbyCH_chart_container">

                                    </div>
                                </div>
                                <div class="tile_data pull-right">
                                    <div>
                                        $954,213,845
                                    </div>
                                    <div>
                                        #81,495,751
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                    <div class="md_tile tile danger_tile">
                        <div class="md_tile_header tile_header">
                            Rejected by Payer
                        </div>
                        <div class="md_tile_body tile_body">
                            <div class="md_tile_body_upper clearfix">
                                <div class="tile_chart pull-left">
                                    <div id="rejectedbyPayer_chart_container">

                                    </div>
                                </div>
                                <div class="tile_data pull-right">
                                    <div>
                                        $682,213,845
                                    </div>
                                    <div>
                                        #81,895,751
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
