  #inPageDocIframe {
            border: none;
        }
        .progress {
            height: 16px;
        }

        .colorCode {
            float: left;
            width: 10px;
            height: 10px;
            margin: 6px;
            background-color: #e9573f;
            margin-left: 0px;
        }

        .colorText {
            float: left;
            margin-top: 3px;
        }
        .timerClass {
            padding: 0px;
            font-size: 11px;
        }

        #pbar_innerdiv {
            z-index: 2;
            width: 0%;
        }

        #pbar_innertext {
            z-index: 3;
            position: absolute;
            margin-left: 5%;
            color: black;
            font-weight: bold;
        }

        .progress {
            margin-bottom: 0px;
        }
.authinfo_detail > .auth_info {
    border-right: 1px solid #a2bcc9;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
       .auth_info > label{
            color:black;
            font-weight:bold;
        }
      
        .trackercontainer{
            color:black;
        }
        .bottomfixed{
            z-index: 1029;
             bottom: 0px; 
             right: 0.2%; 
             position: fixed; 
             /*border: 3px solid #035070;*/ 
             border-top: 3px solid #a2bcc9;
             border-bottom: 3px solid #E6E9ED;
             background: white;
             width: 87%; 
             overflow:hidden;
             /*transition:width 0.5s;*/
        }
        .authinfo_detail{
            margin: 5px;
            margin-top: 15px;
        }
        .docs_detail{
            margin:5px;
            margin-top:15px;
            border-left:1px solid #b2c9d5;
            border-right:1px solid #b2c9d5;
        }
        .tracking_detail{
            margin:0px;
        }
.authbottomdata {
    font-weight: bold;
    /*font-size: 12px;*/
    color: black;
}
.authbottomdatalabel {
    color: #677d87;
    text-transform: uppercase;
    font-weight: 500;
 
}
/*.footerGhost{
     background: url("../../../Resources/Images/Buttons/Ghost.png");
        background-repeat: no-repeat;
        background-size: cover;
}*/