.x-dtablist {
    display: inline-flex;
}
/*li.current{
    font-weight: bold;
        background: #547cbd;
        color: #fffcfb;
        -webkit-transform: translate(0px, -6px);
        transform: translate(0px, -6px);
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
}*/
.viewAuthTabsContainer .current > a.list-item {
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: none;
    border-top: 5px solid rgb(255, 157, 0);
    /* font-size: 112%; */
    background-color: white;
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgb(67, 102, 160) 32%, rgb(71, 106, 164) 70%, rgba(125,160,217,1) 100%);
}



.viewAuthTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    /* background: rgba(158, 158, 158, 0.31); */
    color: #626465;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    width: 115px;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: 1px solid rgb(255, 157, 0);
    border-left: 1px solid rgb(255, 157, 0);
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    margin-right: 3px;
    cursor: pointer;
}

.viewAuthTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

    .viewAuthTabsContainer .list-item:hover {
        font-weight: bold;
        background: #f3f3f3;
        color: #0096da;
        /*-webkit-transform: translate(0px, -6px);
        transform: translate(0px, -6px);
        -webkit-transition: all .25s linear;
        transition: all .25s linear;*/
        /* box-shadow: -2em 2em 0 #e1e1e1; */
        /* margin-right: 16px; */
    }

        .viewAuthTabsContainer .list-item:hover:before, .list-item:hover:after {
             -webkit-transition: all .25s linear;
            -moz-transition: all .25s linear;
            -o-transition: all .25s linear;
            transition: all .25s linear;
        }

    /*.list-item:hover:before {
            background: #b65234;
            width: 5px;
            top: 2px;
            left: -5px;
        }*/

    /*.list-item:hover:after {
            background: #88d7ff;
            width: 5px;
            bottom: -45px;
            left: 40px;
            height: 85px;
        }*/

    .viewAuthTabsContainer .list-item:before, .viewAuthTabsContainer .list-item:after {
        content: '';
        position: absolute;
       -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .viewAuthTabsContainer .list-item:after {
        /* height: 85px; */
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .viewAuthTabsContainer .list-item:before {
        /* height: 3.5em; */
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.no_underline, .no_underline:hover, .no_underline:active {
    text-decoration: none;
}

.lengthofstaybadge {
    color: aliceblue;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

/*=========================================Auth Summary Tab CSS==================================================*/


/*------------*/
table.OtherDX > thead > tr > th {
    text-align: left;
}

table.OtherDX > tbody > tr > td {
    text-align: left;
}

span.label label-danger {
    margin-bottom: 2px;
}


.admission_section_review {
    background: #3658a0;
    color: #fff;
    margin-bottom: 2%;
    margin-left: -7px;
}





.customtab-content {
    display: none;
}

#tab-1 {
    display: block;
}

.selected-status {
    color: #ffffff;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 6px;
    position: relative;
    pointer-events: none;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .selected-status:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0;
        border-top: 27px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 32px solid #2cb5e8;
        right: -28px;
        top: 0px;
    }
/*.selected-status:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 23px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 32px solid #45a3da;
            left: -31px;
            top: 0px;
        }*/
.border_on_panel {
    border: 1px solid #d4c9c9;
    border-radius: 1px;
}

.table-nowrap {
        margin-top: 0px !important;
    table-layout: fixed;
}

    .table-nowrap td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-nowrap > thead > tr:after {
        content: "";
    }

    .table-nowrap > thead > tr > th {
        padding: 8px;
        border-bottom: 2px solid #49739e !important;
    }

    .table-nowrap > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
    }

        .table-nowrap > tbody > tr > td > button.editbtn {
            position: relative;
            vertical-align: top;
            width: 40px;
            height: 22px;
            padding: 1px 4px 1px 2px;
            font-size: 9px;
            font-weight: 600;
            color: white;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            background: #3498db;
            border: 0;
            border-bottom: 4px solid #065890;
            cursor: pointer;
            -webkit-box-shadow: inset 0 -2px #2a8bcc;
            box-shadow: inset 0 -2px #2a8bcc;
            border-radius: 0px;
        }
/*.editbtn :hover {
               background-color:white;
               color:blue;
            }*/
.TableTitle {
    text-align: left;
}

.x_title {
    border-bottom: none !important;
    padding: 1px 1px 0px;
    margin-bottom: 0% !important;
    color: white;
}

.panelheight {
    min-height: 650px;
}

/* #Belize Hole Sea Flat Button
==================================================*/
.belize-hole-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2980b9;
    border: 0;
    border-bottom: 2px solid #2475ab;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;
}

    .belize-hole-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }



.print-button {
    position: absolute;
    right: 6px;
}

a.custom-file-button {
    padding: 2px;
    margin: 1px;
}

    a.custom-file-button img {
        width: 22px;
        height: 25px;
    }

/*=================Document Section==============*/
.DocumentsBtn {
    cursor: pointer;
    position: fixed;
    z-index: 92;
    padding: 2px;
    /*color: whitesmoke;*/
    background-color: none;
    /*display: none;*/
    top: 379px;
    right: 0px;
}

.DocumentContainer {
    top: 350px;
    right: 0px;
    position: fixed;
    width: 0%;
    height: 78%;
    z-index: 89;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.ChangeWidthOfDocumentConainer {
    width: 84.3%;
}
/*===================Field Set-Legend===========================*/
fieldset.fsStyle {
    /*font-family: Verdana, Arial, sans-serif;*/
    /*font-size: small;*/
    font-weight: normal;
    border: 1px solid #d4c9c9;
    padding: 4px;
    margin-top: 5px;
}

legend.legendStyle {
    font-size: 12px;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
}

.legendStyle > span {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

.dangerColor {
    background-color: #a6071d;
}


legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    /* border-bottom: 1px solid #e5e5e5*/
}

.legend2 {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;
}

.legendStyle2 > span {
    color: rgb(9, 65, 122);
    margin-left: 5px;
    margin-right: 5px;
}


div.panel-body {
    top: 0px;
    position: relative;
    padding: 1px 0px 2px 0px;
    /*font-size: 72.5%;*/
    text-transform: uppercase;
}

.panel-heading {
    padding: 0px 0px;
}

    .panel-heading > h6.headingtitle {
        margin-bottom: 0px;
        margin-top: 0px;
    }

/*----------------------*/
.low-height-heading {
    height: 12px;
    max-height: 12px;
    position: relative;
}

.panel-heading > h6 {
    font-weight: bold;
}

.push-to-top {
    top: -15px;
    position: relative;
}

    .push-to-top > span.label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: top;
        /* margin-top: 2px; */
        border-radius: .25em;
    }

.panel-heading {
    /*background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);*/
    /*background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));*/
    background-image: linear-gradient(to bottom,#f5f5f5 0,#bbe9ee 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
    background-repeat: repeat-x;
}

.panel-heading {
    color: #333;
    background-color: #1e9dda;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 3px solid transparent;
    border-radius: 0px;
}

.summary_sectionsDiv > div.x-panel {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*----------------------*/

.divwidth_auto_main > span {
    font-weight: bold;
}

.divwidth_auto > span {
    font-weight: bold;
}

span.summary_data {
    color: black;
    font-weight: 500 !important;
    margin-bottom: 10px;
}
/*--------*/
.divwidth_auto1 > span {
    font-weight: bold;
}

.divwidth_auto2 > span {
    font-weight: bold;
}

.dash-divider-module {
    border-top: 2px solid rgb(55, 88, 161);
    margin-top: 0 !important;
}

.divider-dashed {
    background-color: #fff;
    height: 1px;
    margin: 10px 0;
}

.divider-line {
    height: 2px;
    background: rgba(158, 158, 158, 0.53);
    margin-left: 165px;
    /* top: 6px; */
    margin-top: -13px;
    position: relative;
    /* z-index: 46; */
    width: auto;
}

.divwidth_auto {
    width: auto;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.divwidth_auto_main {
    width: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.divwidth_auto1 {
    width: auto;
    padding-right: 10px;
    margin-bottom: 9px;
    margin-top: 5px;
}

.divwidth_auto2 {
    width: auto;
    padding-right: 10px;
    /*margin-bottom: 5px;*/
    margin-top: 5px;
}

    .divwidth_auto2 > button.btn {
        position: relative;
        vertical-align: top;
        width: 40px;
        height: 22px;
        padding: 1px 4px 1px 2px;
        font-size: 9px;
        font-weight: 600;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #3498db;
        border: 0;
        border-bottom: 4px solid #065890;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #2a8bcc;
        box-shadow: inset 0 -2px #2a8bcc;
        border-radius: 0px;
    }

.halfpanel2editbtn {
    padding: 0px 6px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

.otherDxtable_nowrap > thead:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 99%;
    left: 0%;
    border-bottom: 1px solid #3557a0;
}

.otherDxtable_nowrap {
    margin-bottom: 0px !important;
}

    .otherDxtable_nowrap > tbody > tr > td {
        padding: 8px;
        font-weight: 500;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .otherDxtable_nowrap > thead > tr > th {
        width: auto;
        padding: 8px;
    }

    .otherDxtable_nowrap > tbody > tr > td > button.editotherdxbtn {
        margin-top: 1px;
        padding: 0px 4px;
        margin-bottom: 0px;
        margin-right: 0px;
        border-radius: 3px;
        font-size: 10px;
        line-height: 1.5;
    }

.otherdx_section {
    background: #3658a0;
    color: #fff;
    margin-bottom: 0%;
}

.otherproc_section {
    background: #3658a0 none repeat scroll 0% 0%;
    color: #fff;
    margin-bottom: 0%;
}

/*---------------*/
.otherproctable_nowrap > thead:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 99%;
    left: 0%;
    border-bottom: 1px solid #d4c9c9;
}

.otherproctable_nowrap {
    margin-bottom: 0px !important;
}

    .otherproctable_nowrap > tbody > tr > td {
        padding: 8px;
        font-weight: 500;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .otherproctable_nowrap > thead > tr > th {
        width: auto;
        padding: 8px;
    }

    .otherproctable_nowrap > tbody > tr > td > button.editotherdxbtn {
        margin-top: 1px;
        padding: 0px 4px;
        margin-bottom: 0px;
        margin-right: 0px;
        border-radius: 3px;
        font-size: 10px;
        line-height: 1.5;
    }

.halfpanel1 {
    height: 34px;
    border: 1px solid #3d5c9f;
    background: rgba(160, 200, 246, 0.57) none repeat scroll 0% 0%;
}

.halfpanel2 {
    border: 1px solid #3d5c9f;
    background: rgba(160, 200, 246, 0.57) none repeat scroll 0% 0%;
}

.actioncoltd {
    text-align: center;
}

.footerLabel{
    color:#06348e !important;
}

.editThisAuth {
    position: relative;
    vertical-align: top;
    width: 75px;
    height: 22px;
    padding: 1px 4px 1px 2px;
    font-size: 9px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 4px solid #065890;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
    border-radius: 0px;
}

/*======================*/
.docpanel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel_docdefault {
    border-color: #ddd;
}

    .panel_docdefault > .panel_docheading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

.panel_docheading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel_doctitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: inherit;
    text-transform: uppercase;
}

.panel_docbody {
    padding: 15px;
}

.wizard_horizontal ul.wizard_steps {
    z-index: 2;
    display: table;
    list-style: none;
    position: relative;
    width: 100%;
    margin: 10px 0 5px;
}

    .wizard_horizontal ul.wizard_steps li {
        display: table-cell !important;
        text-align: center;
    }

        .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
            text-decoration: none;
            display: block;
            position: relative;
           -moz-opacity: 1;
            -ms-opacity: 1;
            -webkit-opacity: 1;
            opacity: 1;
            color: #666;
        }

        .wizard_horizontal ul.wizard_steps li:first-child a:before {
            left: 50%;
        }

        .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
            background: #1ABB9C;
            color: #fff;
        }

        .wizard_horizontal ul.wizard_steps li a:before {
            content: "";
            position: absolute;
            height: 4px;
            background: #c0d6ff;
            top: 15px;
            width: 100%;
            z-index: 4;
            left: 0;
        }
        .footerData {
            color: #203764 !important;
            background-color:#c0d6ff !important;
        }
        .footerCurrentData {
            color: #fff !important;
        }
        /*.wizard_horizontal ul.wizard_steps li a:after {
            content: "";
            position: absolute;
            height: 4px;
            background: #ccc;
            top: 15px;
            width: 100%;
            z-index: 4;
            left: 44px;
        }*/

        .wizard_horizontal ul.wizard_steps li a.done:before, .wizard_horizontal ul.wizard_steps li a.done .step_no {
            background: #1ABB9C;
            color: #fff;
        }

        .wizard_horizontal ul.wizard_steps li a .step_no {
            width: 33px;
            height: 33px;
            line-height: 33px;
            border-radius: 100px;
            display: block;
            margin: 0 auto 5px;
            /*font-size:initial ;*/
            text-align: center;
            position: relative;
            z-index: 5;
        }

        .wizard_horizontal ul.wizard_steps li a .step_descr {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
        }

        .wizard_horizontal ul.wizard_steps li:last-child a:before {
            right: 50%;
            width: 100% !important;
            left: auto;
        }

.docs {
    padding: 5px;
}

.timerClass {
    padding: 0px;
    font-size: 13px;
}









/*=========================================End of Auth Summary CSS Ends==================================================*/


/*==============================================Auth Review Tab CSS========================================================*/
input.inputcntrl_file {
    height: 0px;
    width: 0px;
    display: none;
}

label.labelcntrl_file {
    font-size: 12px;
    /* border: 1px solid #2196F3; */
    padding: 0px 7px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: rgba(158, 158, 158, 0.34);
    cursor: pointer;
    /* color: rgba(22, 75, 170, 0.82); */
    font-weight: normal;
}

.addNewnotebtn {
    padding: 0px 5px;
    border-radius: 0px;
}

.addNewContactbtn {
    padding: 0px 5px;
    border-radius: 0px;
}
/*Change Tooltip CSS Here*/

.filenamelabel {
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 12px;
    font-weight: 500;
}

.filescount {
    color: black;
    font-weight: 500;
}

.ReviewUpload {
    margin-top: 9px;
    /*border:2px solid;*/
    cursor: pointer;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer;
}

.ReviewUpload > input.fileUpload {
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    width: 60px;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    padding: 2px;
}

.fileUploadSpan {
    margin-left: -75px;
    display: inline-block;
    /*display: -moz-inline-stack;*/
    *display: inline;
    width: 75px;
    padding: 2px;
    font-weight: bold;
}

.ReviewUpload > a {
    /*cursor:pointer;*/
    position: relative;
    top: 0px;
    left: 0px;
    /*z-index: 2;*/
    text-decoration: none;
    font-weight: bold;
    margin-right: 2px;
}

.closedoc {
    font-size: 5px;
    margin-top: -10px;
    margin-left: -4px;
    color: aliceblue;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    min-width: 5px;
    padding: 1px 1px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

.filescountbadge {
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

.text_uploadedfiles {
    margin-left: 8px;
}

.Doctypename {
    text-transform: uppercase;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

    .Doctypename > a > b {
        /*color: #337ab7;*/
        color:hsl(228, 79%, 34%);

    }

.text_ellipsis {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
/*===================================*/
.offer-pg-cont {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 91%;
    overflow-x: hidden;
}

.offer-pg-cont {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.offer-pg-cont-current {
    margin-top: 12px !important;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    text-align: left;
    text-transform: uppercase;
    color: black;
    width: 91%;
    overflow-x: hidden;
}

.offer-pg-cont > .nodocsattached {
    font-size: 11.5px;
    margin-top: 10px !important;
    color : #314f91;
	font-weight:bolder !important;
}

span.arrow-left, span.arrow-right {
    display: block;
    position: absolute;
    background-color: white;
    top: 13px;
    color: #607D8B;
    z-index: 2;
    cursor: pointer;
}

span.arrow-left {
    left: 0px;
}

span.arrow-right {
    right: 0px;
}

span.arrow-left > .fa-chevron-left {
    font-size: 1.2em;
}

span.arrow-right > .fa-chevron-right {
    font-size: 1.2em;
}

span.arrow-left:hover, .offer-pg span.arrow-right:hover {
    /*background-color: #333;*/
}

.offer-pg {
    width: 1500px;
}

.item-wrapper.offer-con {
    background-color: #333 !important;
}

.offer-con .left-item h4 {
    color: #fff;
    font-weight: normal;
    margin: 0px;
}

.offer-con .right-item {
    float: right;
    padding: 10px;
}

    .offer-con .right-item h5 {
        color: #cb9944;
        margin: 0px;
        font-size: 14px;
    }

.offer-pg > .portfolio-item {
    margin-top: 11px;
    cursor: pointer;
    width: auto;
    /* background-color: blue; */
    /*margin-left: 10px;*/
    float: left;
}

    .offer-pg > .portfolio-item > span > i.fa {
        font-size: 1.8em;
    }
/*==========================*/
.DocsCount_Div {
    margin-top: 13px;
    color: #00194e;
}
/*==============================================End of Auth Review Tab CSS========================================================*/







/*==================================================================================================================================*/
/*==============================================Auth Notes Tab CSS========================================================*/
.notestable {
    table-layout: fixed;
}

    .notestable > thead > tr > th {
        padding: 11px;
        border-bottom: 2px solid #49739e !important;
    }

    .notestable > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }

        .notestable > tbody > tr > td > i.fa {
            color: #0677ae;
            font-size: 2.3em;
        }

        .notestable > tbody > tr > td > a.btn {
            padding: 0px 4px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-radius: 0px;
            font-size: 10px;
            line-height: 1.5;
        }
/*==============================================End of Auth Notes Tab CSS========================================================*/
/*===========================================================================================================================================*/



/*==================================================================================================================================*/
/*==============================================Auth Contacts Tab CSS=====================================================*/
.contactstable {
    table-layout: fixed;
}

    .contactstable > thead > tr > th {
        padding: 11px;
        border-bottom: 2px solid #49739e !important;
    }

    .contactstable > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }

        .contactstable > tbody > tr > td > a.btn {
            padding: 0px 4px;
            margin-bottom: 0px;
            margin-right: 0px;
            border-radius: 0px;
            font-size: 10px;
            line-height: 1.5;
        }
/*==============================================End of Auth Contacts Tab CSS=====================================================*/
/*=========================================================================================================================================*/



/*==================================================================================================================================*/
/*==============================================Auth Attachments Tab CSS==================================================*/
.attachmentstable {
    table-layout: fixed;
}

    .attachmentstable > thead > tr > th {
        padding: 11px;
        border-bottom: 2px solid #49739e !important;
    }

    .attachmentstable > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }
/*==============================================End of Auth Attachments Tab CSS===============================================*/
/*==================================================================================================================================*/


/*==================================================================================================================================*/
/*==============================================Auth Letters Tab CSS==================================================*/
.letterstable {
    table-layout: fixed;
}

    .letterstable > thead > tr > th {
        padding: 11px;
        border-bottom: 2px solid #49739e !important;
    }

    .letterstable > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }
/*==============================================End of Auth Letters Tab CSS===============================================*/
/*==================================================================================================================================*/



/*==================================================================================================================================*/
/*==============================================Auth ODAG Tab CSS========================================================*/
.odag_reset_btn {
    /*border: 3px solid #73879c;*/
    border-radius: 10px;
    padding: 0px 2px 0 2px;
    cursor: pointer;
    margin-left: 5px;
}

    .odag_reset_btn > .fa {
        color: rgb(212, 8, 8);
    }

.position_relative {
    position: relative;
}

.OdagSaveBtn {
    border-radius: 0px;
    padding: 0px 5px;
}

.ODAGMainClass {
    /* font-size:11px; */
}

.odagtext {
    width: 32%;
    padding-left: 3px;
    padding-right: 0px;
    display: initial;
    border-radius: 0px;
    height: 20px;
}
/*==============================================End of Auth ODAG Tab CSS========================================================*/
/*==================================================================================================================================*/







/*==================================================================================================================================*/
/*==============================================Auth Status Tab CSS========================================================*/
#panel, #flip {
    padding: 5px;
    text-align: left;
    border: 1px solid rgba(158, 158, 158, 0.16);
}

#panel {
    padding: 1px;
    display: none;
}

#flip {
    /* color: #fff; */
    /* background: #6e93cf; */
    /* opacity: 0.8; */
}

.Auth_CurrentStatus {
    border: 1px solid #2196F3;
    border-left: 6px solid #2196F3;
    background: #bbd8f0;
    width: auto;
    color: black;
    font-weight: 500;
}
/*Table Filter CSS*/
th.withtheadfilter {
    padding: 3px 0px 3px 3px !important;
}

.theadstyled-input {
    width: auto;
    float: left;
    position: relative;
}

.filter-search {
    padding: 9px 0px 0 10px;
    border: 0;
    width: 84%;
    color: #73879C;
}

.filter-search {
    background: none;
}

.theadstyled-input label {
    font-weight: bold;
    color: #73879C;
    padding: 7px 0px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.filter-search ~ span {
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
     -webkit-transition: all 0.125s ease;
    -moz-transition: all 0.125s ease;
    -o-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

.filter-search:focus ~ label, .filter-search:valid ~ label {
    top: -10px;
}

.filter-search:focus {
    outline: 0;
}

.filter-search:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    -moz-transition: all 0.075s ease;
    -o-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

.withtheadfilter i {
    position: relative;
    top: -1px;
}
/*Table Filter CSS-End*/

.statusactivitytable {
    margin-top: 25px;
    table-layout: fixed;
}

    .statusactivitytable > tbody > tr > td {
        padding: 8px 0px 8px 0px;
        font-weight: 500;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
    }

/*==============================================End of Auth Status Tab CSS========================================================*/
/*==================================================================================================================================*/



/*=============================================FIXED BOTTOM====================================*/
#inPageDocIframe {
    border: none;
}

.progress {
    height: 16px;
}

.colorCode {
    float: left;
    width: 10px;
    height: 10px;
    margin: 6px;
    background-color: #e9573f;
    margin-left: 0px;
}

.colorText {
    float: left;
    margin-top: 3px;
}

.timerClass {
    padding: 0px;
    font-size: 11px;
}

#pbar_innerdiv {
    z-index: 2;
    width: 0%;
}

#pbar_innertext {
    z-index: 3;
    position: absolute;
    margin-left: 5%;
    color: black;
    font-weight: bold;
}

.progress {
    margin-bottom: 0px;
}

.authinfo_detail > .auth_info {
    border-right: 1px solid #a2bcc9;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

.auth_info > label {
    color: black;
    font-weight: bold;
}

.trackercontainer {
    color: black;
}

.bottomfixed {
    z-index: 1029;
    bottom: 0px;
    right: 0.2%;
    position: fixed;
    /*border: 3px solid #035070;*/
    border-top: 3px solid #a2bcc9;
    border-bottom: 3px solid #E6E9ED;
    background: white;
    width: 87%;
    /*overflow: hidden;*/
    /*transition:width 0.5s;*/
}

.authinfo_detail {
    margin: 5px;
    margin-top: 15px;
}

.docs_detail {
    margin: 5px;
    margin-top: 15px;
    border-left: 1px solid #b2c9d5;
    border-right: 1px solid #b2c9d5;
}

.tracking_detail {
    margin: 0px;
}

.authbottomdata {
    font-weight: bold;
    /*font-size: 12px;*/
    color: black;
}

.authbottomdatalabel {
    color: #677d87;
    text-transform: uppercase;
    font-weight: 500;
}

.file-cabinet {
    width: 45px;
    left: 107%;
    position: relative;
    top: 4px;
    cursor: pointer;
    border: 1px solid #9f8143;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/*Tooltip css*/
.tooltip .tooltip-arrow {
    display: block;
}

.tooltip fade top in {
    left: 0px !important;
}

.pos_desc_title {
    font-weight: bold;
}

.pos_desc {
    background-color: aliceblue;
    display: block;
    word-break: break-all;
    white-space: pre-wrap;
}
/*=============================================FIXED BOTTOM====================================*/


/*-----------NEW TAB DESIGN CSS----------------*/
.main-navigation {
    overflow: hidden;
    position: relative;
    padding: 0 0 0 1rem;
}

    .main-navigation ul {
        list-style: none;
        padding: 0;
    }




.viewAuthTabsContainer.main-navigation a.list-item {
    color: #30487D;
    font-weight: bold;
    border-bottom: none;
    background-color: white;
    background: none;
    z-index: 3;
    top: 2px;
    border: none;
}

.viewAuthTabsContainer.main-navigation .current > a.list-item {
    color: white !important;
    font-weight: bold;
    border-bottom: none;
    background: none;
    z-index: 3;
    top: 2px;
    border: none;
}

.main-navigation svg {
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.main-navigation span {
    position: relative;
    top: -7px;
    padding: 0px 0px 0px 2.3rem;
    z-index: 2;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.main-navigation .tab-1 {
    z-index: 4;
}

/*Tracker*/

.tracker {
    display: block;
    padding-top: 2px;
    padding-right: 4%;
}

.tracker .track {
    height: 40px;
    width: 100px;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    margin-right: -13px;
    padding-left: 2px;
    text-align: center;
}

.tracker .track-title {
    line-height: 37px;
}

.track-title-second {
    font-weight: bold;
    position: absolute;
    bottom: -16px;
    color: black;
    left: 27px;
}

.track-done {
    color: white;
    background: url("../../../../Areas/UM/Resources/Images/Tracker/Done.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
}

.track-current {
    color: white;
    background: url("../../../../Areas/UM/Resources/Images/Tracker/Current.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
}

.track-pending {
    color: black;
    background: url("../../../../Areas/UM/Resources/Images/Tracker/Pending.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
}
.track-total {
    color: black;
    background: url("../../../../Areas/UM/Resources/Images/Tracker/Total.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0;
}
.white-text{
    color:white !important
}
.NoDocumentAttached{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    color : #314f91;
    font-weight:bold !important;
}

.ReviewHeader{
    margin-left: -5px;
    background: url("../../../../Areas/UM/Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.los_labels{
    color:white;
}

.StatusTable{
    color: white;
    background:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#0b2a67), color-stop(50%,#34569f),color-stop(100%,#4869b0));
    background: -moz-linear-gradient(left, #0b2a67 0%, #34569f 50% ,#4869b0 100%);
    background-image: -ms-linear-gradient(left, #0b2a67 0%, #34569f 50% ,#4869b0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0b2a67', endColorstr = '#4869b0', GradientType = 0);
}
.footerGhost{
    background: url("../../../Resources/Images/Buttons/Ghost.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#ViewAuthorizationTabView{
    left:-4px;
    width:100.7%;
}
.losDataBold{
    font-weight:900;
    color:black;
}
.totalTimeCount{
    margin-left:-65px;
    margin-top: 9px;
    color: black;
    margin-left: -65px;
}
.totalTimeCountData{
      margin-left:-65px;
        color: black;
        font-size: 120%;
        font-weight:600;
        margin-left: -65px;
}
/*#dataInBucket label{
    left:30px;
}*/

.FooterTotalCount{
   margin-top: -28px ! Important;
   color:white;
}
#ViewAuthorizations{
    min-height:900px !important;
}
#NoteArea{
   padding-left: 6px !important;
    padding-right: 7px !important;
}
#attachmentDiv{
    padding-left: 6px !important;
    padding-right: 7px !important;
}
#contactDiv{
    padding-left: 6px !important;
    padding-right: 7px !important;
}
#lettersTableBody{
    padding-left: 6px !important;
    padding-right: 7px !important;
}
#Attachments,#Summary,#Review,#Notes,#Contact,#Letters,#ODAG,#Status{
    width:103px !important; 
}
#ViewAuthorizations .addHide{
    display: none !important;
}
input#DocumentName {
    font-weight: bold;
    text-transform: uppercase;
}