@{
    Layout = null;
}

<div class="modal fade" id="preview">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <iframe src="~/Content/Document/DocPreview.pdf" class="col-lg-12" style="height:600px;"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
