
<div class="col-lg-12 target" id="Demographics">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-user" style="margin-right: 5px" aria-hidden="true"></i>Demographics Information</label>
                </div>
                @*<div class="col-lg-6 edit">
                    <i class="fa fa-pencil pull-right" ng-hide="IsEditGeneralInformation" ng-click="EditGeneralInformation()"></i>
                </div>*@

            </div>

        </div>
        <div class="panel-body">
            <div class="panel ak-panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6 title">
                            <label><i class="fa fa-fz fa-user" style="margin-right: 5px" aria-hidden="true"></i>Personal Details</label>
                        </div>
                        <div class="col-lg-6 edit">
                            <i class="fa fa-pencil pull-right" ng-hide="IsEditGeneralInformation" ng-click="EditGeneralInformation()"></i>
                        </div>

                    </div>

                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>Salutation *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Suffix||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Suffix" />
                            </div>
                            <div class="col-lg-3">
                                <span>First Name *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Gender||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Gender" />
                            </div>
                            <div class="col-lg-3">
                                <span>Middle Name</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.DOB||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.DOB" />
                            </div>

                            <div class="col-lg-3">
                                <span>Last Name *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.DOD||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.DOD" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>Suffix (JR,III)</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.PlaceOfBirth||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.PlaceOfBirth" />

                            </div>
                            <div class="col-lg-3">
                                <span>Gender *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Religion||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Religion" />

                            </div>
                            <div class="col-lg-3">
                                <span>Marital Status</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Ethnicity}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Ethnicity" />

                            </div>

                            <div class="col-lg-3">
                                <span>Provider Level *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Race}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Race" />

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <span>Title *</span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.SSN||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.SSN" />
                            </div>
                        </div>
                        <div class="row" ng-show="IsEditGeneralInformation">
                            <div class="col-lg-12">
                                <a class="btn btn-success btn-xs pull-right" ng-click="CancelGeneralInformation()">Update</a>
                                <a class="btn btn-warning btn-xs" ng-click="CancelGeneralInformation()">Cancel</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
            <div class="panel ak-panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6 title">
                            <label><i class="fa fa-fz fa-user" style="margin-right: 5px" aria-hidden="true"></i>Other Legal Names</label>
                        </div>
                        <div class="col-lg-6 edit">
                            <i class="fa fa-pencil pull-right" ng-hide="IsEditGeneralInformation" ng-click="EditGeneralInformation()"></i>
                        </div>

                    </div>

                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-3">
                                <span>Have You Ever Used Another Name ? * </span><br />
                                <label ng-hide="IsEditGeneralInformation">{{ProviderProfileObj.GeneralInformation.Suffix||'N/A'}}</label>
                                <input type="text" ng-show="IsEditGeneralInformation" class="form-control ak-input" ng-model="ProviderProfileObj.GeneralInformation.Suffix" />
                            </div>
                        </div>
                        <div class="row" ng-show="IsEditGeneralInformation">
                            <div class="col-lg-12">
                                <a class="btn btn-success btn-xs pull-right" ng-click="CancelGeneralInformation()">Update</a>
                                <a class="btn btn-warning btn-xs" ng-click="CancelGeneralInformation()">Cancel</a>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" id="IdentificationLicenses">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-user-md" style="margin-right: 5px" aria-hidden="true"></i>Identification & Licenses</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsIdentificationLiscense">
                    <i class="fa fa-pencil pull-right" ng-click="EditIdentificationLiscense()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Name</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.Name||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.Name" />

                    </div>
                    <div class="col-lg-3">
                        <span>Relationship to Patient</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.RelationshipToPatient||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.RelationshipToPatient" />

                    </div>
                    <div class="col-lg-3">
                        <span>Address Line 1</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.AddressLine1||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.AddressLine1" />

                    </div>

                    <div class="col-lg-3">
                        <span>Address Line 2</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.AddressLine2||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.AddressLine2" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <span>City</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.City||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.City" />

                    </div>
                    <div class="col-lg-3">
                        <span>State</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.State||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.State" />

                    </div>
                    <div class="col-lg-3">
                        <span>County</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.County||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.County" />

                    </div>

                    <div class="col-lg-3">
                        <span>Country</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.Country||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.Country" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Zip Code</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.ZipCode||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.ZipCode" />

                    </div>
                    <div class="col-lg-3">
                        <span>Phone</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.Phone||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.Phone" />

                    </div>
                    <div class="col-lg-3">
                        <span>SubscriberID</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.SubscriberID||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.SubscriberID" />

                    </div>

                    <div class="col-lg-3">
                        <span>Coverage Start Date</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.CoverageStartDate||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.CoverageStartDate" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Coverage End Date</span><br />
                        <label ng-hide="IsIdentificationLiscense">{{ProviderProfileObj.SubscriberInformation.CoverageEndDate||'N/A'}}</label>
                        <input type="text" ng-show="IsIdentificationLiscense" class="form-control ak-input" ng-model="ProviderProfileObj.SubscriberInformation.CoverageEndDate" />

                    </div>
                </div>
                <div class="row" ng-show="IsIdentificationLiscense">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelSubscriberInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelIdentificationLiscense()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12 target" id="EducationHistory">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fz fa-phone-square" style="margin-right: 5px" aria-hidden="true"></i>Education History</label>
                </div>
                <div class="col-lg-3 edit" ng-hide="IsEducationHistory">
                    <i class="fa fa-pencil pull-right" ng-click="EditEducationHistory()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <span>Home Phone</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.HomePhone||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.HomePhone" />

                </div>
                <div class="col-lg-3">
                    <span>Alternate Phone</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.AlternatePhone||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.AlternatePhone" />

                </div>
                <div class="col-lg-3">
                    <span>Work Phone</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.WorkPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.WorkPhone" />

                </div>
                <div class="col-lg-3">
                    <span>Cell Phone</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.CellPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.CellPhone" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>Fax</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.Fax||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.Fax" />

                </div>
                <div class="col-lg-3">
                    <span>Preferred Phone</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.PreferredPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.PreferredPhone" />

                </div>
                <div class="col-lg-3">
                    <span>Email</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.Email||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" ng-model="ProviderProfileObj.PhoneInformation.Email" />

                </div>
                <div class="col-lg-3">
                    <span>Reminder Email</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.ReminderEmail||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>Communication Preference</span><br />
                    <label ng-hide="IsEducationHistory">{{ProviderProfileObj.PhoneInformation.CommunicationPreference||'N/A'}}</label>
                    <input type="text" ng-show="IsEducationHistory" class="form-control ak-input" />

                </div>
            </div>
            <div class="row" ng-show="IsEducationHistory">
                <div class="col-lg-12">
                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelPhoneInformation()">Update</a>
                    <a class="btn btn-warning btn-xs" ng-click="CancelEducationHistory()">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" id="SpecialtyBoard">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fz fa-phone-square" style="margin-right: 5px" aria-hidden="true"></i>Specialty/Board</label>
                </div>
                <div class="col-lg-3 edit" ng-hide="IsSpecialtyBoard">
                    <i class="fa fa-pencil pull-right" ng-click="EditSpecialtyBoard()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <span>Contact Name</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.ContactName||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.ContactName" />

                </div>
                <div class="col-lg-3">
                    <span>Relationship to Patient</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.RelationshipToPatient||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.RelationshipToPatient" />

                </div>
                <div class="col-lg-3">
                    <span>Address 1</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.AddressLine1||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.AddressLine1" />

                </div>
                <div class="col-lg-3">
                    <span>Address 2</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.AddressLine2||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.AddressLine2" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>City</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.City||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.City" />

                </div>
                <div class="col-lg-3">
                    <span>State</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.State||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.State" />

                </div>
                <div class="col-lg-3">
                    <span>County</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.County||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.County" />

                </div>
                <div class="col-lg-3">
                    <span>Country</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.Country||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.Country" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>Zip Code</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.ZipCode||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.ZipCode" />

                </div>
                <div class="col-lg-3">
                    <span>Home Phone</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.HomePhone||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.HomePhone" />

                </div>
                <div class="col-lg-3">
                    <span>Work Phone</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.WorkPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.WorkPhone" />

                </div>
                <div class="col-lg-3">
                    <span>Cell Phone</span><br />
                    <label ng-hide="IsSpecialtyBoard">{{ProviderProfileObj.EmergencyContact.CellPhone ||'N/A'}}</label>
                    <input type="text" ng-show="IsSpecialtyBoard" class="form-control ak-input" ng-model="ProviderProfileObj.EmergencyContact.CellPhone" />

                </div>
            </div>
            <div class="row" ng-show="IsSpecialtyBoard">
                <div class="col-lg-12">
                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelEmergencyContactInformation()">Update</a>
                    <a class="btn btn-warning btn-xs" ng-click="CancelSpecialtyBoard()">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" id="PracticeLocation">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    @*<label><i class="fa fa-fz fa-phone-square" style="margin-right: 5px" aria-hidden="true"></i>Practice Location</label>*@
                    <label><i class="fa fa-fz fa-user" style="margin-right: 5px" aria-hidden="true"></i>Practice Location</label>
                </div>
                <div class="col-lg-3 edit" ng-hide="IsPracticeLocation">
                    <i class="fa fa-pencil pull-right" ng-click="EditPracticeLocation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <span>Contact Name</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.ContactName||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.ContactName" />

                </div>
                <div class="col-lg-3">
                    <span>Relationship to Patient</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.RelationshipToPatient||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.RelationshipToPatient" />

                </div>
                <div class="col-lg-3">
                    <span>Address 1</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.AddressLine1||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.AddressLine1" />

                </div>
                <div class="col-lg-3">
                    <span>Address 2</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.AddressLine2||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.AddressLine2" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>City</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.City||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.City" />

                </div>
                <div class="col-lg-3">
                    <span>State</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.State||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.State" />

                </div>
                <div class="col-lg-3">
                    <span>County</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.County||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.County" />

                </div>
                <div class="col-lg-3">
                    <span>Country</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.Country||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.Country" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>Zip Code</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.ZipCode||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.ZipCode" />

                </div>
                <div class="col-lg-3">
                    <span>Home Phone</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.HomePhone||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.HomePhone" />

                </div>
                <div class="col-lg-3">
                    <span>Work Phone</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.WorkPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.WorkPhone" />

                </div>
                <div class="col-lg-3">
                    <span>Cell Phone</span><br />
                    <label ng-hide="IsPracticeLocation">{{ProviderProfileObj.NextOfKinContact.CellPhone||'N/A'}}</label>
                    <input type="text" ng-show="IsPracticeLocation" class="form-control ak-input" ng-model="ProviderProfileObj.NextOfKinContact.CellPhone" />

                </div>
            </div>
            <div class="row" ng-show="IsPracticeLocation">
                <div class="col-lg-12">
                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelKinContactInformation()">Update</a>
                    <a class="btn btn-warning btn-xs" ng-click="CancelPracticeLocation()">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 target" id="HospitalPrivilege">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fw fa-envelope-o" style="margin-right: 5px"></i>Hospital Privilege</label>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">

                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <input type="search" placeholder="Search Insurance" class="form-control input-sm" />
                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Insurance CO.</th>
                                <th>Plan Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'active-row':row.IsSelected}" ng-repeat="row in ProviderProfileObj.Insurance track by $index">
                                <td>{{$index+1}}</td>
                                <td>{{row.InsuranceCompany}}</td>
                                <td>{{row.PlanName}}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" ng-click="ViewInsurance(row)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="EditInsurance(row)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <i ng-if="row.IsActive" style="color: #1d9d74; font-size: 20px; " class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <ul class="pagination pagination-sm">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>
                            Plan
                        </legend>
                        <div class="col-lg-12">
                            <form>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Plan Name:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.PlanName}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.PlanName" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Plan Code:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.PlanCode}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.PlanCode" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Insurance Company:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.InsuranceCompany}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.InsuranceCompany" class="form-control ak-input" />

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Last Name:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.LastName}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.LastName" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>First Name:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.FirstName}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.FirstName" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Middle Initial:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.MiddleInitial}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.MiddleInitial" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Subscriber ID:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.SubscriberID}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.SubscriberID" class="form-control ak-input" />

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Coverage Start Date:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.CoverageStartDate}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.CoverageStartDate" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>Coverage End Date:</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <label ng-hide="IsEditInsurance">{{SelectedInsurance.CoverageEndDate}}</label>
                                        <input type="text" ng-show="IsEditInsurance" ng-model="SelectedInsurance.CoverageEndDate" class="form-control ak-input" />

                                    </div>
                                </div>
                                <div class="row" ng-show="IsEditInsurance">
                                    <div class="col-lg-12">
                                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelInsurance()">Update</a>
                                        <a class="btn btn-warning btn-xs" ng-click="CancelInsurance()">Cancel</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 target" id="ProfessionalLiability">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fw fa-user-md" aria-hidden="true" style="margin-right: 5px"></i>Professional Liability</label>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">

                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <input type="search" placeholder="Search PCP" class="form-control input-sm" />
                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Provider Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'active-row':row.IsSelected}" ng-repeat="row in ProviderProfileObj.PCP track by $index">
                                <td>{{$index+1}}</td>
                                <td>{{row.Name}}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" ng-click="ViewPCP(row)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="EditPCP(row)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <i ng-if="row.IsActive" style="color: #1d9d74; font-size: 20px; " class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <ul class="pagination pagination-sm">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>
                            PCP
                        </legend>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Individual:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Individual}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Individual" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Organization:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Organization}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Organization" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Select By:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.SelectBy}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.SelectBy" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Physician Name:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Name}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Name" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Physician NPI:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.NPI}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.NPI" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>IPA:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.IPA}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.IPA" class="form-control ak-input" />

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Effective Date:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.EffectiveDate}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.EffectiveDate" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Termination Date:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.TerminationDate}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.TerminationDate" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Reason For Termination:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.ReasonTermination}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.ReasonTermination" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Address 1:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Address1}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Address1" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Address 2:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Address2}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Address2" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>City:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.City}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.City" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>State:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.State}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.State" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>County:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.County}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.County" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Zip Code:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditPCP">{{SelectedPCP.Zip}}</label>
                                    <input type="text" ng-show="IsEditPCP" ng-model="SelectedPCP.Zip" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row" ng-show="IsEditPCP">
                                <div class="col-lg-12">
                                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelPCP()">Update</a>
                                    <a class="btn btn-warning btn-xs" ng-click="CancelPCP()">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 target" id="WorkHistory">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fw fa-universal-access" aria-hidden="true" style="margin-right: 5px"></i>Work History</label>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">

                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <input type="search" placeholder="Search Employer" class="form-control input-sm" />
                    </div>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Sl No.</th>
                                <th>Employer Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'active-row':row.IsSelected}" ng-repeat="row in ProviderProfileObj.Employer track by $index">
                                <td>{{$index+1}}</td>
                                <td>{{row.Name}}</td>
                                <td>
                                    <a class="btn btn-success btn-xs" ng-click="ViewEmployer(row)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="EditEmployer(row)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                                <td>
                                    <i ng-if="row.IsActive" style="color: #1d9d74; font-size: 20px; " class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <ul class="pagination pagination-sm">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>
                            Employment
                        </legend>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Employer Name:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Name}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Name" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Address Line 1:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.AddressLine1}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.AddressLine1" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Address Line 2:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.AddressLine2}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.AddressLine2" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>City:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.City}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.City" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>State:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.State}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.State" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>County:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.County}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.County" class="form-control ak-input" />

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Country:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Country}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Country" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Zip Code:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Zip}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Zip" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Phone:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Phone}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Phone" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Fax:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Fax}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Fax" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Email:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.Email}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.Email" class="form-control ak-input" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <span>Employment Status:</span>
                                </div>
                                <div class="col-lg-6">
                                    <label ng-hide="IsEditEmployer">{{SelectedEmployer.IsActive}}</label>
                                    <input type="text" ng-show="IsEditEmployer" ng-model="SelectedEmployer.IsActive" class="form-control ak-input" />

                                </div>
                            </div>

                            <div class="row" ng-show="IsEditEmployer">
                                <div class="col-lg-12">
                                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelEmployer()">Update</a>
                                    <a class="btn btn-warning btn-xs" ng-click="CancelEmployer()">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12" id="Professional Reference">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9 title">
                    <label><i class="fa fa-fz fa-glide" style="margin-right: 5px" aria-hidden="true"></i>Professional Reference </label>
                </div>
                <div class="col-lg-3 edit" ng-hide="IsEditGuarantor">
                    <i class="fa fa-pencil pull-right" ng-click="EditGuarantor()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <span>Name</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.ContactName||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.ContactName" />

                </div>
                <div class="col-lg-3">
                    <span>Relationship to Patient</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.RelationshipToPatient||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.RelationshipToPatient" />

                </div>
                <div class="col-lg-3">
                    <span>Address 1</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.AddressLine1||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.AddressLine1" />

                </div>
                <div class="col-lg-3">
                    <span>Address 2</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.AddressLine2||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.AddressLine2" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>City</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.City||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.City" />

                </div>
                <div class="col-lg-3">
                    <span>State</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.State||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.State" />

                </div>
                <div class="col-lg-3">
                    <span>County</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.County||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.County" />

                </div>
                <div class="col-lg-3">
                    <span>Country</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.Country||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.Country" />

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <span>Zip Code</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.ZipCode||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.ZipCode" />

                </div>
                <div class="col-lg-3">
                    <span>Phone</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.Phone||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.Phone" />

                </div>
                <div class="col-lg-3">
                    <span>Fax</span><br />
                    <label ng-hide="IsEditGuarantor">{{ProviderProfileObj.Guarantor.Fax||'N/A'}}</label>
                    <input type="text" ng-show="IsEditGuarantor" class="form-control ak-input" ng-model="ProviderProfileObj.Guarantor.Fax" />

                </div>
            </div>
            <div class="row" ng-show="IsEditGuarantor">
                <div class="col-lg-12">
                    <a class="btn btn-success btn-xs pull-right" ng-click="CancelGuarantor()">Update</a>
                    <a class="btn btn-warning btn-xs" ng-click="CancelGuarantor()">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="col-lg-12" id="ProfessionalAffiliation">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-viadeo" style="margin-right: 5px" aria-hidden="true"></i>Professional Affiliation</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditLowIncomeSubsidyInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditLowIncomeSubsidyInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Low Income Period Start Date</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.StartDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.StartDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Low Income Period End Date</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.EndDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.EndDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>LIPS Percentage</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.LIPS||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.LIPS" />

                    </div>

                    <div class="col-lg-3">
                        <span>Premium LIS Amount</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.LIS||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.LIS" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Low Income Copay Level ID</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.LevelID||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.LevelID" />

                    </div>
                    <div class="col-lg-3">
                        <span>Beneficiary Source of Subsidy Codes</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.SubsidyCodes||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.SubsidyCodes" />

                    </div>
                    <div class="col-lg-3">
                        <span>LIS Activity Flag</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.LIS||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.LIS" />

                    </div>

                    <div class="col-lg-3">
                        <span>Net Part D Premium Amount</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.PremiumAmount||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.PremiumAmount" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Contract Year</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.ContractYear||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.ContractYear" />

                    </div>
                    <div class="col-lg-3">
                        <span>Institutional Status Indicator</span><br />
                        <label ng-hide="IsEditLowIncomeSubsidyInformation">{{ProviderProfileObj.LowIncomeSubsidyInformation.StatusIndicator||'N/A'}}</label>
                        <input type="text" ng-show="IsEditLowIncomeSubsidyInformation" class="form-control ak-input" ng-model="ProviderProfileObj.LowIncomeSubsidyInformation.StatusIndicator" />
                    </div>
                </div>
                <div class="row" ng-show="IsEditLowIncomeSubsidyInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelLowIncomeSubsidyInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelLowIncomeSubsidyInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>


<div class="col-lg-12" id="DisclosureQuestions">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-wheelchair-alt" style="margin-right: 5px" aria-hidden="true"></i>Disclosure Questions</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDisabilityInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDisabilityInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Are you Disabled ?</span><br />
                        <label ng-hide="IsEditDisabilityInformation">{{ProviderProfileObj.DisabilityInformation.Disabled||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDisabilityInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DisabilityInformation.Disabled" />

                    </div>
                    <div class="col-lg-3">
                        <span>Description</span><br />
                        <label ng-hide="IsEditDisabilityInformation">{{ProviderProfileObj.DisabilityInformation.Description||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDisabilityInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DisabilityInformation.Description" />

                    </div>
                    <div class="col-lg-3">
                        <span>Disability Start Date</span><br />
                        <label ng-hide="IsEditDisabilityInformation">{{ProviderProfileObj.DisabilityInformation.StartDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDisabilityInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DisabilityInformation.LIPS" />

                    </div>

                    <div class="col-lg-3">
                        <span>Disability End Date</span><br />
                        <label ng-hide="IsEditDisabilityInformation">{{ProviderProfileObj.DisabilityInformation.EndDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDisabilityInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DisabilityInformation.LIS" />

                    </div>
                </div>
                <div class="row" ng-show="IsEditDisabilityInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDisabilityInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDisabilityInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>


<div class="col-lg-12" id="EmploymentInformation">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Employment Information</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="DocumentRepository">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Document Repository</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="ProfileDashboard">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Profile Dashboard</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="AdditionalField">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Additional Field</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="DocumentCheckList">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>DocumentCheckList</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="ContractGrid">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Contract Grid</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-lg-12" id="Tasks">
    <div class="panel ak-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 title">
                    <label><i class="fa fa-fz fa-university" style="margin-right: 5px" aria-hidden="true"></i>Tasks</label>
                </div>
                <div class="col-lg-6 edit" ng-hide="IsEditDualEnrollmentInformation">
                    <i class="fa fa-pencil pull-right" ng-click="EditDualEnrollmentInformation()"></i>
                </div>

            </div>

        </div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-lg-3">
                        <span>Medicaid Number</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.MedicaidNumber" />

                    </div>
                    <div class="col-lg-3">
                        <span>Effective Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.EffectiveDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.EffectiveDate" />

                    </div>
                    <div class="col-lg-3">
                        <span>Termination Date</span><br />
                        <label ng-hide="IsEditDualEnrollmentInformation">{{ProviderProfileObj.DualEnrollmentInformation.TerminationDate||'N/A'}}</label>
                        <input type="text" ng-show="IsEditDualEnrollmentInformation" class="form-control ak-input" ng-model="ProviderProfileObj.DualEnrollmentInformation.TerminationDate" />

                    </div>

                </div>
                <div class="row" ng-show="IsEditDualEnrollmentInformation">
                    <div class="col-lg-12">
                        <a class="btn btn-success btn-xs pull-right" ng-click="CancelDualEnrollmentInformation()">Update</a>
                        <a class="btn btn-warning btn-xs" ng-click="CancelDualEnrollmentInformation()">Cancel</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>