
<style>
    a {
        color: #337ab7;
    }
</style>

<div class="row">
    <div class="col-lg-2 left-menu">
        <div class="row">
            <div class="col-lg-12" style=" padding: 0px;">
                <div class="panel">
                    <div class="panel-body" style="padding:0px">
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="/Resources/Images/images (2).jpg" />

                            </div>
                            <div class="name-container col-lg-8">
                                <label style="word-wrap:break-word">Barbara Joy</label><br />
                                <small>Married</small>
                            </div>
                        </div>

                        <div>
                            <ul class="navbar-menu">
                                <li>
                                    <a class="active-nav" href="#Demographics"><i class="fa fa-user" aria-hidden="true"></i>Demographics</a>
                                </li>
                                <li>
                                    <a href="#IdentificationLicenses"><i class="fa fa-phone-square" aria-hidden="true"></i> Identification & Licenses</a>
                                </li>
                                <li>
                                    <a href="#EducationHistory"><i class="fa fa-envelope-o" aria-hidden="true"></i> Education History</a>
                                </li>
                                <li>
                                    <a href="#SpecialtyBoard"><i class="fa fa-user-md" aria-hidden="true"></i> Specialty/Board</a>
                                </li>
                                <li>
                                    <a href="#PracticeLocation"><i class="fa fa-universal-access" aria-hidden="true"></i> Practice Location</a>
                                </li>
                                <li>
                                    <a href="#HospitalPrivilege"><i class="fa fa-glide" aria-hidden="true"></i> Hospital Privilege</a>
                                </li>
                                <li>
                                    <a href="#ProfessionalLiability"><i class="fa fa-audio-description" aria-hidden="true"></i> Professional Liability</a>
                                </li>
                                <li>
                                    <a href="#WorkHistory"><i class="fa fa-file-code-o" aria-hidden="true"></i> Work History</a>
                                </li>
                                <li>
                                    <a href="#ProfessionalReference"><i class="fa fa-book" aria-hidden="true"></i> Professional Reference</a>
                                </li>
                                <li>
                                    <a href="#ProfessionalAffiliation"><i class="fa fa-odnoklassniki" aria-hidden="true"></i> Professional Affiliation</a>
                                </li>
                                <li>
                                    <a href="#DisclosureQuestions"><i class="fa fa-delicious" aria-hidden="true"></i> Disclosure Questions</a>
                                </li>
                                <li>
                                    <a href="#EmploymentInformation"><i class="fa fa-delicious" aria-hidden="true"></i>Employment Information</a>
                                </li>
                                <li>
                                    <a href="#DocumentRepository"><i class="fa fa-delicious" aria-hidden="true"></i>Document Repository</a>
                                </li>
                                <li>
                                    <a href="#ProfileDashboard"><i class="fa fa-delicious" aria-hidden="true"></i>Profile Dashboard</a>
                                </li>
                                <li>
                                    <a href="#AdditionalField"><i class="fa fa-delicious" aria-hidden="true"></i>AdditionalField</a>
                                </li>
                                <li>
                                    <a href="#DocumentCheckList"><i class="fa fa-delicious" aria-hidden="true"></i>Document CheckList</a>
                                </li>
                                <li>
                                    <a href="#ContractGrid"><i class="fa fa-delicious" aria-hidden="true"></i>Contract Grid</a>
                                </li>
                                <li>
                                    <a href="#Tasks"><i class="fa fa-delicious" aria-hidden="true"></i>Tasks</a>
                                </li>
                            </ul>
                        </div>
                        @*<div style="text-align:center">
                                <a class="btn btn-info btn-xs" ng-click="GoToMemberList()"><i class="fa fa-list" style="margin-right:5px"></i>Go to Member List</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 middle-content">

        <div class="row" style="margin-top:10px">
            <div class="scrollable-container" style="height: 68.1em; color: black;">
                @Html.Partial("~/Views/ProviderProfile/_Demographics.cshtml")
            </div>
        </div>
    </div>

    <div class="col-lg-2 right-menu">
        <div class="row" style="margin-top:10px">
            <div class="col-lg-12" style="padding: 0px 5px 6px 0px; height: 68.1em; ">
                <div class="col-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel ak-panel">
                    <div class="panel-heading title">
                        <label><i class="fa fa-fw fa-leanpub"></i>Common Tools</label>
                    </div>
                    <div class="panel-body" style="height: 320px;">
                        <ul class="activity-list">
                            <li class="fa fa-envelope">
                                <a>Email</a>
                            </li><br />
                            <li class="fa fa-tasks">
                                <a>Task</a>
                            </li><br />
                            <li class="fa fa-upload">
                                <a>Document Upload</a>
                            </li><br />
                            <li class="fa fa-file-pdf-o">
                                <a>Generate Form</a>
                            </li><br />
                            <li class="fa fa-check-square-o">
                                <a>Perform PSV</a>
                            </li><br />
                            <li class="fa fa-thumbs-o-up">
                                <a>Initiate Credentialing</a>
                            </li><br />
                            <li class="fa fa-book">
                                <a>Add Contract</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-12" style="padding: 0px 5px 6px 0px;">
                <div class="panel ak-panel">
                    <div class="panel-heading title">
                        <label><i class="fa fa-fw fa-leanpub" aria-hidden="true"></i>Activities</label>
                    </div>
                    <div class="panel-body" style="height: 150px;">
                        <ul class="activity-list">
                            <li>
                                <span>Created On:</span>
                                <label>30-11-2015</label>
                            </li>
                            <li>
                                <span>Last Updated On:</span>
                                <label>01-01-2016</label>
                            </li>
                            <li>
                                <span>Approved On:</span>
                                <label>02-03-2016</label>
                            </li>
                            <li>
                                <span>Last seen:</span>
                                <label>02-03-2016</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

