
<div class="modal fade " tabindex="-1" role="dialog" id="TempHistoryID" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                @*<div class="row" style="text-align: center;">
                        <span class="modalTitle text-uppercase">REMOVE DETAIL</span>
                        <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>

                    </div>*@
                <div class="col-lg-12">
                    <div class="col-lg-8" style="PADDING-LEFT: 245px;">
                        <h4 style="color:white"> &nbsp;STATE LICENSE HISTORY DETAILS </h4>
                    </div>
                    <div class="col-lg-4" style=" top: 14px;">
                        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" id="closeModal">X</button>
                    </div>
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
                @* <span class="text-uppercase label" style="background-color: #C5CAE9; color: black;">Specialty Detail</span>*@
                <div class="x_content zero-padding-left text-uppercase">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">LICNESE # :</label>
                        <span class="theme_label_data">PA654587985</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">LICENSE TYPE :</label>
                        <span class="theme_label_data">MD</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">LICENSE STATUS :</label>
                        <span class="theme_label_data">ACTIVE</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">ISSUE STATE :</label>
                        <span class="theme_label_data">ALASKA</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">ISSUE DATE :</label>
                        <span class="theme_label_data">04 - 11 - 2012</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">CURRENT ISSUE DATE :</label>
                        <span class="theme_label_data">04 - 11 - 2012</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">EXPIRATION DATE :</label>
                        <span class="theme_label_data">04 - 11 - 2014</span>
                    </div>
                    @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">ARE YOU CURRENTLY PRACTICING IN THIS STATE ?  :</label>

                        <span class="theme_label_data">YES</span>

                    </div>*@
                    @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">LICENSE IN GOOD STANDING ? :</label>
                        <span class="theme_label_data">YES</span>
                    </div>*@
                    @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">STATUS :</label>
                        <span class="theme_label_data">MODIFIED</span>
                    </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle text_adjust">
                        <label class="theme_label uppercase">DOCUMENT :</label>
                        <span class="theme_label_data"><i class="fa fa-file"></i></span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">REMOVED BY :</label>
                        <span class="theme_label_data">ELIZABETH</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">REMOVED DATE:</label>
                        <span class="theme_label_data">12-12-2015</span>
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>