<div class="modal fade " tabindex="-1" role="dialog" id="TempHistoryID_2" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                
                <div class="col-lg-12">
                    <div class="col-lg-8" style="PADDING-LEFT: 245px;">
                        <h4 style="color:white"> &nbsp;STATE LICENSE HISTORY </h4>
                    </div>
                    <div class="col-lg-4" style=" top: 14px;">
                        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" id="closeModal">X</button>
                    </div>
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
               
                <table id="EdwDatabaseTable" class="table table-striped table-hover table-responsive custom-thead-back custom-thead-font custom-tbody custom table-striped">
                    <thead class="theme_thead">
                        <tr>
                            <th>
                                Field
                            </th>
                            <th>
                                Old Value
                            </th>
                            <th>
                                New Value
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Owner
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>License Type</td>
                            <td>John</td>
                            <td>Johnson</td>
                            <td>12-04-13</td>
                            <td>Elizabeth</td>
                        </tr>
                        <tr>
                            <td>Issue Date</td>
                            <td>04-11-13</td>
                            <td>04-10-13</td>
                            <td>12-04-13</td>
                            <td>Elizabeth</td>
                        </tr>
                        <tr>
                            <td>Current Issue Date</td>
                            <td>04-11-13</td>
                            <td>06-11-13</td>
                            <td>12-04-13</td>
                            <td>Elizabeth</td>
                        </tr>
                        <tr>
                            <td>Issue State</td>
                            <td>Alaska</td>
                            <td>Florida</td>
                            <td>12-04-13</td>
                            <td>Elizabeth</td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </form>
    </div>
</div>
