
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Provider Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="col-lg-12 zero-padding-left-right">
            <div class="col-lg-3">
                <span class="theme_label"><label for="FACILITY_NAME">Physician Type</label></span><br>
                <input id="MH" type="radio" name="ProviderType" class="checkbox-radio text-uppercase" value="MH">
                <label for="MH" class="theme_label_data"><span></span>Individual</label>
                <input id="MH" type="radio" name="ProviderType" class="checkbox-radio text-uppercase" value="MH">
                <label for="MH" class="theme_label_data"><span></span>Organization</label>
            </div>
            <div class="col-lg-3">
                <span class="theme_label"><label for="FACILITY_NAME">Select By</label></span><br>
                <input id="MH" type="radio" name="SelectType" class="checkbox-radio text-uppercase" value="MH">
                <label for="MH" class="theme_label_data"><span></span>Physician Name</label>
                <input id="MH" type="radio" name="SelectType" class="checkbox-radio text-uppercase" value="MH">
                <label for="MH" class="theme_label_data"><span></span>NPI</label>
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">Physician Name</label></span><br>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="Physician Name" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">Physician NPI</label></span><br>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="Physician NPI" type="text" value="">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</fieldset>

<br />
<div class="col-lg-12">
    <button class="btn btn-primary bold_text loser_field pull-right proceedToPremiumPaymentDetails">Proceed</button>
    <button class="btn btn-warning bold_text loser_field pull-right goBacktoInsuredDetails">Back</button>
</div>