
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Member Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="col-lg-12 zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">SALUTATION</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="SALUTATION" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">LAST NAME</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="LAST NAME" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">FIRST NAME</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="FIRST NAME" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">MIDDLE INITIAL</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="MIDDLE INITIAL" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">GENDER</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="GENDER" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">MARITAL STATUS</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="MARITAL STATUS" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">DOB</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="DOB" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">SSN</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="SSN" type="text" value="">
            </div>

        </div>
    </div>
    
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Permanent Address
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Address Line 1</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Address Line 1" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">Address Line 2</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="Address Line 2" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">City</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="City" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">State</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="State" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">County</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="County" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">Country</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="Country" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Zip Code</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Zip Code" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Mailing Address
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Address Line 1</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Address Line 1" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">Address Line 2</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="Address Line 2" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">City</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="City" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">State</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="State" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">County</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="County" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">Country</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="Country" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Zip Code</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Zip Code" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
           Contact Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Preferred Language/Format</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Preferred Language/Format" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">Contact Preference</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="Contact Preference" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">Phone</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="Phone" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">Alternate Phone</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="Alternate Phone" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">Email ID</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="Email ID" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">Alternate Email ID</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="Alternate Email ID" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Fax</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Fax" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Time To Contact</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Time To Contact" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Emergency Contact Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Last Name</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Last Name" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">First Name</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="First Name" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">Middle Initial</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="Middle Initial" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">Relation</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="Relation" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">Address Line 1</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="Address Line 1" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">Address Line 2</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="Address Line 2" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">City</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="City" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">State</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="State" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">County</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="County" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Country</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Country" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Country</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Country" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Zip Code</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Zip Code" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Home Phone</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Home Phone" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Cell Phone</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Cell Phone" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">Work Phone</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="Work Phone" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Medicare Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Medicare Number</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Medicare Number" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">Valid From</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="Address Line 2" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">Is Entitled To</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="City" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<br />
<div class="col-lg-12">
    <button class="btn btn-primary bold_text loser_field pull-right proceedToInsuredDetails">Proceed</button>
    <button class="btn btn-danger bold_text loser_field pull-right closeAddMember">Cancel</button>
</div>