
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Insurance Details
        </span>
    </legend>
    <div class="x_panel zero-padding-left-right" id="PreAuthFacility">
        <div class="col-lg-12 zero-padding-left-right">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_NAME">Plan Category</label></span>
                <input class="form-control input-xs" id="Facility_FullName" name="Facility.FullName" placeholder="Plan Category" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="TAX_ID">Patient Relation</label></span>
                <input class="form-control input-xs" id="Facility_TaxID" name="Facility.TaxID" placeholder="Patient Relation" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="NPI">Subscriber Last Name</label></span>
                <input class="form-control input-xs" id="Facility_FacilityNPI" name="Facility.FacilityNPI" placeholder="Subscriber Last Name" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FACILITY_TYPE">Subscriber First Name</label></span>
                <input class="form-control input-xs" id="Facility_FacilityType" name="Facility.FacilityType" placeholder="Subscriber First Name" type="text" value="">
            </div>
            
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="CONTACT_NAME">Middle Initial</label></span>
                <input class="form-control input-xs" id="Facility_ContactName" name="Facility.ContactName" placeholder="Middle Initial" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PHONE_NUMBER">DOB</label></span>
                <input class="form-control input-xs" id="Facility_PhoneNumber" name="Facility.PhoneNumber" placeholder="DOB" type="text" value="">
            </div>
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="FAX_NUMBER">SSN</label></span>
                <input class="form-control input-xs" id="Facility_FaxNumber" name="Facility.FaxNumber" placeholder="SSN" type="text" value="">
            </div>
        </div>
    </div>
    
</fieldset>

<br />
<div class="col-lg-12">
    <button class="btn btn-primary bold_text loser_field pull-right proceedToProviderDetails">Proceed</button>
    <button class="btn btn-warning bold_text loser_field pull-right goBacktoPatientDetails">Back</button>
</div>