

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">
            Preview
        </span>
    </legend>
    <div class="col-lg-12" style="padding-left:15px;">
        <p class="theme_label">Please contact Ultimate Health Plans if you need information in another language or format (Braille). </p><br>
        <div class="panel panel-header" style="background-color: #D0D0D0; height: 40px; padding-top: 10px; padding-left: 15px;text-align:center;">
            <b class="theme_label_data">To Enroll in Ultimate Premier (HMO), Ultimate Premier Plus (HMO), Ultimate Elite (HMO) or Ultimate Elite Plus (HMO) Please Provide the Following Information:</b>
        </div>
        <div>
            <label class="control-label theme_label_data small col-md-12 theme_label" style="padding-left:0px">Please check the plan you want to enroll in:</label>
            <div class="col-md-12" style="padding-left:0px">
                <div class="col-md-6" style="padding-left:0px">
                    <input type="radio" ng-checked="MemberObject.PlanCode=='PLA01416'" ng-disabled="true" disabled="disabled" checked="checked"> <span class="control-label theme_label small"> Ultimate Premier (HMO) $100 per month </span>
                </div>
                <div class="col-md-6">
                    <input type="radio" ng-checked="MemberObject.PlanCode=='PLA01417'" ng-disabled="true" disabled="disabled"><span class="control-label theme_label small"> Ultimate Premier Plus (HMO)  $120 per month</span>
                </div>
                <br>
            </div>
            <div class="col-md-12" style="padding-left:0px">
                <div class="col-md-6" style="padding-left:0px">
                    <input type="radio" ng-checked="MemberObject.PlanCode=='PLA01418'" ng-disabled="true" disabled="disabled"> <span class="control-label theme_label small">  Ultimate Elite (HMO) $200 per month  </span>
                </div>
                <div class="col-md-6">
                    <input type="radio" ng-checked="MemberObject.PlanCode=='PLA01419'" ng-disabled="true" disabled="disabled"><span class="control-label theme_label small"> Ultimate Elite Plus (HMO)  $250 per month </span>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-3 ng-binding" style="padding-left:0px">
                <label class="control-label theme_label_data small">Last Name:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">First Name:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">Middle Initial:</label>&nbsp; N/A
            </div>
            <div class="col-md-3">


                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==1" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Mr.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==2" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Mrs.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==3" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Ms.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==4" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Miss.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==5" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Mx.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==6" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Madam.</span></div>
                <div ng-show="MemberObject.PersonPersonalDetail.SalutationType==7" class="ng-hide"><label class="control-label theme_label_data small">Salutation:</label>&nbsp;<span class="control-label theme_label small">Dr.</span></div>
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-3 ng-binding" style="padding-left:0px">
                <label class="control-label theme_label_data small">Birth Date:</label>&nbsp;N/A
            </div>
            <div class="col-md-3">
                <label class="control-label theme_label_data small">Sex:</label>&nbsp;
                <input type="radio" name="planType" value="mr" ng-checked="MemberObject.PersonPersonalDetail.Gender=='Male'" ng-disabled="true" disabled="disabled"> <span class="control-label theme_label small">M</span>
                <input type="radio" name="planType" value="mrs" ng-checked="MemberObject.PersonPersonalDetail.Gender=='Female'" ng-disabled="true" disabled="disabled"> <span class="control-label theme_label small">F</span>
            </div>
            <div class="col-md-3">
                <label class="control-label theme_label_data small">Home Phone number:</label>&nbsp;
                <!-- ngIf: MemberObject.ContactDetails[0].Code && MemberObject.ContactDetails[0].Number -->
                <!-- ngIf: !MemberObject.ContactDetails[0].Code && MemberObject.ContactDetails[0].Number -->
                <!-- ngIf: (!MemberObject.ContactDetails[0].Code && !MemberObject.ContactDetails[0].Number) || (MemberObject.ContactDetails[0].Code && !MemberObject.ContactDetails[0].Number) --><span ng-if="(!MemberObject.ContactDetails[0].Code &amp;&amp; !MemberObject.ContactDetails[0].Number) || (MemberObject.ContactDetails[0].Code &amp;&amp; !MemberObject.ContactDetails[0].Number)" class="ng-scope">N/A</span><!-- end ngIf: (!MemberObject.ContactDetails[0].Code && !MemberObject.ContactDetails[0].Number) || (MemberObject.ContactDetails[0].Code && !MemberObject.ContactDetails[0].Number) -->
            </div>
            <div class="col-md-3">
                <label class="control-label theme_label_data small">Alternate phone number:</label>&nbsp;
                <!-- ngIf: MemberObject.ContactDetails[1].Code && MemberObject.ContactDetails[1].Number -->
                <!-- ngIf: !MemberObject.ContactDetails[1].Code && MemberObject.ContactDetails[1].Number -->
                <!-- ngIf: (!MemberObject.ContactDetails[1].Code && !MemberObject.ContactDetails[1].Number) || (MemberObject.ContactDetails[1].Code && !MemberObject.ContactDetails[1].Number) --><span ng-if="(!MemberObject.ContactDetails[1].Code &amp;&amp; !MemberObject.ContactDetails[1].Number) || (MemberObject.ContactDetails[1].Code &amp;&amp; !MemberObject.ContactDetails[1].Number)" class="ng-scope">N/A</span><!-- end ngIf: (!MemberObject.ContactDetails[1].Code && !MemberObject.ContactDetails[1].Number) || (MemberObject.ContactDetails[1].Code && !MemberObject.ContactDetails[1].Number) -->
            </div>
        </div>
        <div class="col-md-12 ng-binding" style="padding-left:0px">
            <p class="theme_label">Permanent Residence Street Address (P.O. Box is not allowed):</p> &nbsp;
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-3 ng-binding" style="padding-left:0px">
                <label class="control-label theme_label_data small">City:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">County:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">State:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">Zip Code:</label>&nbsp;N/A
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <p class="theme_label"><label class="control-label theme_label_data small">Mailing Address</label> (only if different from your Permanent Residence Address):  </p>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-3 ng-binding" style="padding-left:0px">
                <label class="control-label theme_label_data small">City:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">County:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">State:</label>&nbsp;N/A
            </div>
            <div class="col-md-3 ng-binding">
                <label class="control-label theme_label_data small">Zip Code:</label>&nbsp;N/A
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <p class="theme_label"><label class="control-label theme_label_data small">Emergency Contact:</label>&nbsp;&nbsp;</p>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-6" style="padding-left:0px">
                <p>
                    <label class="control-label theme_label_data small">Phone Number:</label>&nbsp;
                    <!-- ngIf: EmergencyContactPersonContactDetails[1].Code && EmergencyContactPersonContactDetails[1].Number -->
                    <!-- ngIf: !EmergencyContactPersonContactDetails[1].Code && EmergencyContactPersonContactDetails[1].Number -->
                    <!-- ngIf: (EmergencyContactPersonContactDetails[1].Code && !EmergencyContactPersonContactDetails[1].Number) || (!EmergencyContactPersonContactDetails[1].Code && !EmergencyContactPersonContactDetails[1].Number) --><span ng-if="(EmergencyContactPersonContactDetails[1].Code &amp;&amp; !EmergencyContactPersonContactDetails[1].Number) || (!EmergencyContactPersonContactDetails[1].Code &amp;&amp; !EmergencyContactPersonContactDetails[1].Number)" class="ng-scope">N/A</span><!-- end ngIf: (EmergencyContactPersonContactDetails[1].Code && !EmergencyContactPersonContactDetails[1].Number) || (!EmergencyContactPersonContactDetails[1].Code && !EmergencyContactPersonContactDetails[1].Number) -->
                </p>
            </div>
            <div class="col-md-6" style="padding-left:0px">
                <p>
                    <label class="control-label theme_label_data small">Relationship to You:</label>&nbsp;
                    <span ng-show="EmergencyContactPersonDetails.RelationshipCode &amp;&amp; EmergencyContactPersonDetails.LastName &amp;&amp; EmergencyContactPersonDetails.FirstName" class="ng-binding ng-hide"></span>
                    <span ng-show="(!EmergencyContactPersonDetails.LastName &amp;&amp; !EmergencyContactPersonDetails.FirstName &amp;&amp; !EmergencyContactPersonDetails.RelationshipCode) ||
                                           (EmergencyContactPersonDetails.LastName &amp;&amp; EmergencyContactPersonDetails.FirstName &amp;&amp; !EmergencyContactPersonDetails.RelationshipCode) ||
                                           (EmergencyContactPersonDetails.LastName &amp;&amp; !EmergencyContactPersonDetails.FirstName &amp;&amp; !EmergencyContactPersonDetails.RelationshipCode) ||
                                           (EmergencyContactPersonDetails.LastName &amp;&amp; !EmergencyContactPersonDetails.FirstName &amp;&amp; EmergencyContactPersonDetails.RelationshipCode) ||
                                           (!EmergencyContactPersonDetails.LastName &amp;&amp; EmergencyContactPersonDetails.FirstName &amp;&amp; !EmergencyContactPersonDetails.RelationshipCode) ||
                                           (!EmergencyContactPersonDetails.LastName &amp;&amp; !EmergencyContactPersonDetails.FirstName &amp;&amp; EmergencyContactPersonDetails.RelationshipCode) ||
                                           (!EmergencyContactPersonDetails.LastName &amp;&amp; EmergencyContactPersonDetails.FirstName &amp;&amp; EmergencyContactPersonDetails.RelationshipCode)">N/A</span>
                </p>
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="panel panel-header" style="background-color: #D0D0D0; height: 30px;padding-top:5px;padding-left:15px;text-align:center ">
                <b class="theme_label_data">Please Provide Your Medicare Insurance Information:</b>
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-6" style="padding-left:0px">
                <p class="theme_label">Please take out your Medicare card to complete this section.</p>
                <ul class="theme_label">
                    <li>Please fill in these blanks so they match your red, white and blue Medicare card </li>
                    <li>Attach a copy of your Medicare card or your letter from Social Security or the Railroad Retirement Board</li>
                </ul>
                <p class="theme_label">You must have Medicare Part A and Part B to join a Medicare Advantage plan. </p>
            </div>
            <div class="col-md-6" style="padding-left:0px">
                <div class="col-md-12 ng-binding">
                    <label class="control-label theme_label_data small">Name:</label>&nbsp;
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <div class="col-md-6 ng-binding">
                        <label class="control-label theme_label_data small">Medicare Claim Number:</label>&nbsp;N/A
                    </div>
                    <div class="col-md-6 ng-binding">
                        <label class="control-label theme_label_data small">Sex:</label>&nbsp;N/A
                    </div>
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <div class="col-md-6">
                        <div ng-show="MemberObject.IdentificationDetails[0].IdentificationServiceTypeEnum==1" class="ng-hide">
                            <label class="control-label theme_label_data small">Is Entitled to:</label>Part A
                        </div>
                        <div ng-show="MemberObject.IdentificationDetails[0].IdentificationServiceTypeEnum==2" class="ng-hide">
                            <label class="control-label theme_label_data small">Is Entitled to:</label>Part B
                        </div>
                        <div ng-show="MemberObject.IdentificationDetails[0].IdentificationServiceTypeEnum==3" class="ng-hide">
                            <label class="control-label theme_label_data small">Is Entitled to:</label>Part C
                        </div>
                    </div>
                    <div class="col-md-6 ng-binding">
                        <label class="control-label theme_label_data small">Effective Date:</label>&nbsp;N/A
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="panel panel-header" style="background-color: #D0D0D0; height: 30px;padding-top:5px;padding-left:15px;text-align:center ">
                <b class="theme_label_data">Paying Your Plan Premium:</b>
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div>
                <p>
                    <label class="control-label theme_label">
                        If we determine that you owe a late enrollment penalty (or if you currently have a late enrollment penalty), we need to know how you would prefer to pay it. You can pay by mail, each month. You can also choose to pay your premium by automatic deduction from your Social Security or Railroad Retirement Board (RRB) benefit check each month. If you are assessed a Part D-Income related Monthly Adjustment Amount, you will be notified by the Social Security Administration. You will be responsible for paying this extra amount in addition to your plan premium. You will either have the amount withheld from your Social Security benefit check or be billed directly by Medicare or the RRB. DO NOT pay Ultimate Health Plans the Part D-IRMAA.
                    </label>
                    <span class="theme_label">People with limited incomes may qualify for extra help to pay for their prescription drug costs.  If eligible, Medicare could pay for 75% or more of your drug costs including monthly prescription drug premiums, annual deductibles, and co-insurance.  Additionally, those who qualify will not be subject to the coverage gap or a late enrollment penalty. Many people are eligible for these savings and don’t even know it. For more information about this extra help, contact your local Social Security office, or call Social Security at 1-800-772-1213. TTY users should call 1-800-325-0778. You can also apply for extra help online at www.socialsecurity.gov/prescriptionhelp.</span>
                </p>
                <p class="theme_label">
                    If you qualify for extra help with your Medicare prescription drug coverage costs, Medicare will pay all or part of your plan premium.  If Medicare pays only a portion of this premium, we will bill you for the amount that Medicare doesn’t cover. If you don’t select a payment option, you will get a bill each month.
                </p>
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">Please select a premium payment option:</label>
            <input type="radio" name="paymentOption" value="Yes" ng-checked="PremiumPayment.GetMonthlyBill=='MonthlyBill'" ng-disabled="true" disabled="disabled"> <span class="control-label theme_label">Get a bill monthly</span><br>
            <input type="radio" name="paymentOption" value="No" ng-checked="PremiumPayment.GetMonthlyBill=='AutomaticDeduction'" ng-disabled="true" disabled="disabled">
            <span class="control-label theme_label">
                Automatic deduction from your monthly Social Security or Railroad Retirement Board (RRB) benefit check.
                (The Social Security/RRB deduction may take two or more months to begin after Social Security or RRB approves the deduction.
                In most cases, if Social Security or RRB accepts your request for automatic deduction, the first deduction from your
                Social Security or RRB benefit check will include all premiums due from your enrollment effective date up to the point withholding begins.
                If Social Security or RRB does not approve your request for automatic deduction, we will send you a paper bill for your monthly premiums.)
            </span>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <br>
            <div class="panel panel-header" style="background-color: #D0D0D0; height: 30px;padding-top:5px;padding-left:15px;text-align:center ">
                <b class="theme_label_data">Please read and answer these important questions:</b>
            </div>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="form-group col-md-12" style="padding-left:0px">
                <div class="col-md-11 pull-left" style="padding-left:0px">
                    <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">1. Do you have End-Stage Renal Disease (ESRD)?</label>
                </div>
                <div class="col-md-1 pull-right" style="padding-right:0px">
                    <input type="radio" ng-model="PremiumPayment.ESRD" value="Yes" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="39" disabled="disabled"><label class="control-label theme_label_data small">Yes</label>&nbsp;
                    <input type="radio" ng-model="PremiumPayment.ESRD" value="No" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="40" disabled="disabled"><label class="control-label theme_label_data small">No</label><br>
                </div>
                <p class="theme_label">If you had a successful kidney transplant and/or you don’t need regular dialysis anymore, <label class="theme_label_data">please attach a note</label> or records from your doctor showing you have had a successful kidney transplant or you don’t need dialysis, otherwise we may need to contact you to obtain additional information. </p>
                <br>
            </div><hr>
            <div class="form-group col-md-12" style="padding-left:0px">
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">2. Some individuals may have other drug coverage, including other private insurance, TRICARE, Federal employee health benefits coverage, VA benefits, or State pharmaceutical assistance programs. </p>
                </div>
                <div class="col-md-11 pull-left" style="padding-left: 0px">
                    <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">Will you have other prescription drug coverage in addition to Ultimate Health Plans?</label><br>
                </div>

                <div class="col-md-1 pull-right" style="padding-right: 0px">
                    <input type="radio" ng-model="OtherPrescription" value="Yes" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="41" disabled="disabled"><label class="control-label theme_label_data small">Yes</label>&nbsp;
                    <input type="radio" ng-model="OtherPrescription" value="No" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="42" disabled="disabled"><label class="control-label theme_label_data small">No</label><br>
                </div>
                <span class="control-label theme_label col-md-12" style="padding-left:0px">If “yes,” please list your other coverage and your identification (ID) number(s) for this coverage: </span><br>
                <div class="row" style="padding-left:0px">
                    <div class="col-xs-4" style="padding-left:0px">
                        <div class="col-xs-12 ng-binding">
                            <label class="control-label theme_label small" style="padding-left:0px">Name:</label>&nbsp;N/A
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12 ng-binding">
                            <label class="control-label theme_label_data small">ID:</label>&nbsp;N/A
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12 ng-binding">
                            <label class="control-label theme_label_data small">Group: </label>&nbsp;N/A
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
        <div class="form-group col-md-12" style="padding-left:0px">
            <div class="col-md-11 pull-left" style="padding-left:0px">
                <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">3.  Are you a resident in a long-term care facility, such as a nursing home?</label><br>
                <span class="control-label theme_label col-md-12" style="padding-left:0px">If “yes,” please provide the following information: </span><br>
                <div class="row" style="padding-left:0px">
                    <div class="col-xs-4">
                        <div class="col-xs-12 ng-binding" style="padding-left:0px">
                            <label class="control-label theme_label_data small">Name:</label>&nbsp;N/A
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label class="control-label theme_label_data small">Phone:</label>&nbsp;
                            <!-- ngIf: PaymentInformation.FacilityCountryCode && PremiumPayment.facilityPhone -->
                            <!-- ngIf: (!PaymentInformation.FacilityCountryCode && !PremiumPayment.facilityPhone) || (PaymentInformation.FacilityCountryCode && !PremiumPayment.facilityPhone) --><span ng-if="(!PaymentInformation.FacilityCountryCode &amp;&amp; !PremiumPayment.facilityPhone) || (PaymentInformation.FacilityCountryCode &amp;&amp; !PremiumPayment.facilityPhone)" class="ng-scope">N/A</span><!-- end ngIf: (!PaymentInformation.FacilityCountryCode && !PremiumPayment.facilityPhone) || (PaymentInformation.FacilityCountryCode && !PremiumPayment.facilityPhone) -->
                            <!-- ngIf: !PaymentInformation.FacilityCountryCode && PremiumPayment.facilityPhone -->
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-12 ng-binding">
                            <label class="control-label theme_label_data small">Address: </label>&nbsp;N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 pull-right" style="padding-right: 0px">
                <input type="radio" ng-model="LongTermCareFacility" value="Yes" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="43" disabled="disabled"> <label class="control-label theme_label_data small">Yes</label>&nbsp;
                <input type="radio" ng-model="LongTermCareFacility" value="No" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="44" disabled="disabled"><label class="control-label theme_label_data small">No</label><br>
            </div>
            <br>
        </div>
        <div class="form-group col-md-12" style="padding-left:0px">
            <div class="col-md-11 pull-left" style="padding-left:0px">
                <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">4.  Are you enrolled in your State Medicaid program?</label><br>
                <span class="control-label theme_label col-md-12" style="padding-left:0px">If yes, please provide your Medicaid number: </span><br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="col-xs-6 ng-binding" style="padding-left:0px">
                            <label class="control-label theme_label small" style="padding-left:0px">Medicaid number:</label>&nbsp;N/A
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 pull-right" style="padding-right: 0px">
                <input type="radio" value="Yes" ng-model="EnrolledInMedicaid" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="45" disabled="disabled"><label class="control-label theme_label_data small">Yes</label>&nbsp;
                <input type="radio" value="No" ng-model="EnrolledInMedicaid" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="46" disabled="disabled"><label class="control-label theme_label_data small">No</label><br>
            </div>
            <br>
        </div>
        <div class="form-group col-md-12" style="padding-left:0px">
            <div class="col-md-11 pull-left" style="padding-left:0px">
                <label class="control-label theme_label_data small col-md-12" style="padding-left:0px">5. Do you or your spouse work?</label>
            </div>
            <div class="col-md-1 pull-right" style="padding-right: 0px">
                <input type="radio" value="Yes" ng-model="IsSpouseEmployed" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="47" disabled="disabled"> <label class="control-label theme_label_data small">Yes</label>&nbsp;
                <input type="radio" value="No" ng-model="IsSpouseEmployed" ng-disabled="true" class="ng-pristine ng-untouched ng-valid" name="48" disabled="disabled"><label class="control-label theme_label_data small">No</label><br>
            </div>
            <br>
        </div>

        <div class="form-group col-md-12" style="padding-left:0px">
            <label class="control-label theme_label_data small">Please choose the name of a Primary Care Physician (PCP), clinic or health center: </label>&nbsp;<span ng-show="MemberObject.PCP.PCPName" class="ng-binding ng-hide"></span>
            <span ng-show="PremiumPayment.PrimaryProviderName" class="ng-binding ng-hide"></span><span ng-show="!PremiumPayment.PrimaryProviderName &amp;&amp; !MemberObject.PCP.PCPName">N/A</span>
        </div>
        <div class="form-group col-md-12 ng-binding" style="padding-left:0px">
            <label class="control-label theme_label_data small">Please check one of the boxes below if you would prefer us to send you information in a language other than English or in another format: </label>&nbsp;N/A
        </div>
        <div class="form-group col-md-12" style="padding-left:0px">
            <p class="theme_label_data">
                Please contact Ultimate Health Plans at 1-888-657-4170 if you need information in another format or language than what is listed above. Our office hours are 8am to 8pm EST, 7 days a week. TTY users should call 711.

            </p>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <br>
            <div class="panel panel-header" style="background-color: #D0D0D0; height: 30px;padding-top:5px;padding-left:15px;text-align:center ">
                <b class="theme_label_data">Please Read This Important Information </b>
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <p class="theme_label">
                <b>If you currently have health coverage from an employer or union, joining Ultimate Health Plans could affect your employer or union health benefits.   You could lose your employer or union health coverage if you join Ultimate Health Plans. </b>
                Read the communications your employer or union sends you.  If you have questions, visit their website, or contact the office listed in their communications. If there isn’t any information on whom to contact, your benefits administrator or the office that answers questions about your coverage can help.
            </p>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <br>
            <div class="panel panel-header" style="background-color: #D0D0D0; height: 30px;padding-top:5px;padding-left:15px;text-align:center ">
                <b class="theme_label_data">Please Read and Sign Below </b>
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <b class="theme_label">By completing this enrollment application, I agree to the following: </b>
            <p class="theme_label">
                Ultimate Health Plans is a Medicare Advantage plan and has a contract with the Federal government.  I will need to keep my Medicare Parts A and B.  I can be in only one Medicare Advantage plan at a time, and I understand that my enrollment in this plan will automatically end my enrollment in another Medicare health plan or prescription drug plan.  It is my responsibility to inform you of any prescription drug coverage that I have or may get in the future. Enrollment in this plan is generally for the entire year. Once I enroll, I may leave this plan or make changes only at certain times of the year when an enrollment period is available (Example: October 15 – December 7 of every year), or under certain special circumstances.
            </p>
            <p class="theme_label">
                Ultimate Health Plans serves a specific service area. If I move out of the area that Ultimate Health Plans serves, I need to notify the plan so I can disenroll and find a new plan in my new area. Once I am a member of Ultimate Health Plans, I have the right to appeal plan decisions about payment or services if I disagree. I will read the Evidence of Coverage document from Ultimate Health Plans when I get it to know which rules I must follow to get coverage with this Medicare Advantage plan. I understand that people with Medicare aren’t usually covered under Medicare while out of the country except for limited coverage near the U.S. border.
            </p>
            <p class="theme_label">
                I understand that beginning on the date Ultimate Health Plan coverage begins, I must get all of my health care from Ultimate Health Plans, except for emergency or urgently needed services or out-of-area dialysis services.
            </p>
            <p class="theme_label">
                Services authorized by Ultimate Health Plans and other services contained in my Ultimate Health Plans Evidence of Coverage document (also known as a member contract or subscriber agreement) will be covered. Without authorization, <b>NEITHER MEDICARE NOR ULTIMATE HEALTH PLANS WILL PAY FOR THE SERVICES. </b>
            </p>
            <p class="theme_label">
                I understand that if I am getting assistance from a sales agent, broker, or other individual employed by or contracted with Ultimate Health Plans, he/she may be paid based on my enrollment in Ultimate Health Plans.
            </p>
            <p class="theme_label">
                <b>Release of Information: </b>By joining this Medicare health plan, I acknowledge that Ultimate Health Plans will release my information to Medicare and other plans as is necessary for treatment, payment and health care operations. I also acknowledge that Ultimate Health Plans will release my information including my prescription drug event data to Medicare, who may release it for research and other purposes which follow all applicable Federal statutes and regulations. The information on this enrollment form is correct to the best of my knowledge. I understand that if I intentionally provide false information on this form, I will be disenrolled from the plan.
            </p>
            <p class="theme_label">
                I understand that my signature (or the signature of the person authorized to act on my behalf under the laws of the State where I live) on this application means that I have read and understand the contents of this application. If signed by an authorized individual (as described above), this signature certifies that 1) this person is authorized under State law to complete this enrollment and 2) documentation of this authority is available upon request from Medicare.
            </p>
        </div>

        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-6 ng-binding" style="padding-left:0px">
                <label class="theme_label_data">Signature:</label>&nbsp;N/A
            </div>
            <div class="col-md-6 ng-binding" style="padding-left:0px">
                <label class="theme_label_data">Today's Date:</label>&nbsp;10/14/2016
            </div>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <p class="theme_label">If  you are the authorized representative, you must sign above and provide the following information: </p>
        </div>
        <div class="col-md-12 ng-binding" style="padding-left:0px">
            <label class="theme_label_data">Name:</label>&nbsp;N/A
        </div>
        <div class="col-md-12 ng-binding" style="padding-left:0px">
            <label class="theme_label_data">Address:</label>&nbsp;N/A
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <label class="theme_label_data">Phone Number: </label>&nbsp;
            <!-- ngIf: PaymentInformation.RepresentativeCountryCode && PaymentInformation.RepresentativePhone -->
            <!-- ngIf: (!PaymentInformation.RepresentativeCountryCode && !PaymentInformation.RepresentativePhone) || (PaymentInformation.RepresentativeCountryCode && !PaymentInformation.RepresentativePhone) --><span ng-if="(!PaymentInformation.RepresentativeCountryCode &amp;&amp; !PaymentInformation.RepresentativePhone) || (PaymentInformation.RepresentativeCountryCode &amp;&amp; !PaymentInformation.RepresentativePhone)" class="ng-scope">N/A</span><!-- end ngIf: (!PaymentInformation.RepresentativeCountryCode && !PaymentInformation.RepresentativePhone) || (PaymentInformation.RepresentativeCountryCode && !PaymentInformation.RepresentativePhone) -->
            <!-- ngIf: !PaymentInformation.RepresentativeCountryCode && PaymentInformation.RepresentativePhone -->
        </div>
        <div class="col-md-12 ng-binding" style="padding-left:0px">
            <label class="theme_label_data">Relationship to Enrollee:</label>&nbsp;N/A
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <label class="theme_label_data">Office Use Only: </label>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <p class="theme_label">Name of staff member/agent/broker (if assisted in enrollment): N/A</p>
        </div>
        <div class="col-md-12" style="padding-left:0px">
            <div class="col-md-8" style="padding-left:0px">
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">Plan ID: N/A</p>
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">Effective Date of Coverage: N/A</p>
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <div class="col-md-3" style="padding-left:0px">
                        <p class="theme_label">ICEP/IEP: N/A</p>
                    </div>
                    <div class="col-md-3">
                        <p class="theme_label">AEP: N/A</p>
                    </div>
                    <div class="col-md-3">
                        <p class="theme_label">SEP(Type): N/A</p>
                    </div>
                    <div class="col-md-3">
                        <p class="theme_label"> Not Eligible: N/A</p>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">UCAIN: N/A</p>
                </div>
            </div>
            <div class="col-md-4">
                <label class="theme_label_data">Documented Scope: </label>
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">Paper(Please attach): N/A</p>
                </div>
                <div class="col-md-12" style="padding-left:0px">
                    <p class="theme_label">Recorded Conf. Number: N/A</p>
                </div>
            </div>
        </div>
        <br>

        <div class="col-lg-12 ng-hide" ng-show="success">
            <div ng-show="activeMessageDiv=='updateMemberInfo'" class="alert alert- ng-hide" role="alert" style="color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;">
                <button ng-click="closeAlertMessage('')" class="close"><span>×</span></button>
                <i class="fa fa-2x fa-arrow-up"></i>
            </div>

            <div class="btn btn-primary pull-left" onclick="window.location.reload(true);">Add More</div>
            <div class="btn btn-primary pull-right"><a href="/MH/SearchMember/MemberProfile?id=" style="color:white;cursor:pointer">Go To Profile</a></div>
            <div class="clearfix"></div>
            <br>
        </div>

        <br><br>
        @*<div class="row" ng-show="Cancel_ConfirmHide" style="padding-left:15px">
            <div class="col-lg-4">
                <div class="btn btn-warning pull-left goBacktoPremiumPaymentDetails" style="cursor:pointer">Back</div>
            </div>
            <div class="col-lg-4">
                <div class="btn btn-danger pull-left cancelPreview" style="cursor:pointer;margin-left:160px;margin-right:0px">Cancel</div>
            </div>
            <div class="col-lg-4">
                <div class="btn btn-success pull-right" style="cursor:pointer">Confirm</div>
            </div>
            <div class="clearfix"></div>
            <br>
        </div>*@

        <div class="row pull-right" style="padding-left:15px;">
            <button class="btn btn-warning pull-left goBacktoPremiumPaymentDetails" style="cursor:pointer">Back</button>
            <button class="btn btn-danger pull-left cancelPreview" style="cursor:pointer;margin-left: 0px;margin-right: 2px;">Cancel</button>
            <button class="btn btn-success pull-right" style="cursor:pointer">Confirm</button>
            <div class="clearfix"></div>
            <br>
        </div>
    </div>
</fieldset>