

<div class="target profilediv col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewPSVBoardCertificate">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">_______</span>
                Board Certificate
                <span class="transparent-font-color">________</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">

                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs pull-right">
                        <i class="fa fa-refresh"></i> Verify
                    </button>
                </span>
            </span>
        </legend>

        <div class="col-lg-12">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">Board Certificate-1 </span>
            </span> &nbsp;&nbsp;
            <span class="fstyleBtnStyle">
                <button class="btn btn-success btn-xs">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
        </div>


        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">SPECIALITY BOARD NAME:</label>
                <span class="theme_label_data">American Board of Internal Medicine</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CERTIFICATION STATUS :</label>
                <span class="theme_label_data">Active</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CERTIFICATION Date:</label>
                <span class="theme_label_data"> 04-11-2012 </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Expiration Date:</label>
                <span class="theme_label_data">04 - 11 - 2014</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DOCUMENT:</label>
                <span class="theme_label_data">N/A</span>
            </div>
        </div>


        <div id="PSVBoardCertificateVerification">
            @*@Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/BoardCertificate/BoardCertificateVerification/_ViewBoardCertificate.cshtml")*@

            @Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/BoardCertificate/BoardCertificateVerification/_EditBoardCertificate.cshtml")
        </div>

    </fieldset>
</div>
