<p-script filepath="~/Areas/ETL/Scripts/StagingTracker/StagingTracker.js"></p-script>

<br />
<div class="inline_block margin_right_1 col-lg-4">

    @Html.DropDownList("Project", new SelectList((List<string>)ViewData["LoggerProjects"]),
                                             new { @class = "form-control input-xs mandatory_field_halo variable_width_select loser_field text-uppercase", @tabindex = "1", @id = "SelectProjStagingTrackerDD", @onchange = "LoadTableStagingTracker(this.value)" })

</div>

<div>

    <div id="ProjectInfoTableStagingTracker" class="tableBodyDivision col-lg-12">
        @{ Html.RenderAction("LoadStagingTrackerTable", "StagingTracker"); }
    </div>

</div>
