@{
    ViewBag.Title = "ProfileDoesNotExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>

<div id="page-wrapper" ng-app="profileApp">
    <div class="container-fluid">

        <h2>Credential Profile Does Not Exist</h2>
        <h4>Click @Html.ActionLink("Here", "Create", "MasterProfile", new { area = "Profile" }, null) to create quick profile</h4>
        </div>
    </div>

