@{
    ViewBag.Title = "ProvidersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>  
<script src="~/Areas/Credentialing/Scripts/CredentialingList.js"></script>

<div id="page-wrapper" ng-app="credentialingList" ng-controller="credentialingListController">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list-alt"></i> Credentialing and Delegation 
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Heading -->
        <div class="row">
            <div class="panel panel-default content-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">List of Credentialing Initiations</h3>
                </div>
                <div class="panel-body">
                    <table ng-table="tableParams1" show-filter="true" class="text-capitalize table table-hover ng-table-resizable-columns ng-table-rowselected ng-scope ng-table">
                        <!-- ngInclude: templates.header -->
                        <thead>
                            @*<tr class="ng-scope">
                             
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">First Name</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Last Name</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Provider Type</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Specialty</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Plan</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Initiated Date</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Status</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header "> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope"> </div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns -->
                            </tr>
                            <tr ng-show="show_filter" class="ng-table-filters ng-scope">
                              
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns -->
                                <th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns -->
                            </tr>*@

                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Plan Type</th>
                                <th>Specialty</th>
                                <th>Plan</th>
                                <th>Initiated Date</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td><input type="text" placeholder="Filter First Name" class="form-control input-sm" ng-model="search.FName" /></td>
                                <td><input type="text" placeholder="Filter Last Name" class="form-control input-sm" ng-model="search.LName" /></td>
                                <td><input type="text" placeholder="Filter Plan Type" class="form-control input-sm" ng-model="search.PType" /></td>
                                <td><input type="text" placeholder="Filter Specialty" class="form-control input-sm" ng-model="search.Specialty" /></td>
                                <td><input type="text" placeholder="Filter Plan" class="form-control input-sm" ng-model="search.Plan" /></td>
                                <td><input type="text" placeholder="Filter Initiated Date" class="form-control input-sm" ng-model="search.InitiatedDate" /></td>
                                <td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.Status" /></td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ngRepeat: user in $data -->
                            <tr ng-repeat="user in data | filter:{FName:search.FName,LName:search.LName,PType:search.PType,Specialty: search.Specialty,Plan:search.Plan,InitiatedDate:search.InitiatedDate,Status:search.Status}">

                                <td data-title="'First Name'" header-class="text-left" sortable="'FName'" filter="{ 'FName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    {{user.FName}}
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LName'" filter="{ 'LName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    {{user.LName}}
                                </td>
                                <td data-title="'Plan Type'" header-class="text-left" sortable="'PType'" filter="{ 'PType': 'text' }" data-title-text="Plan Type" class="ng-binding">
                                    {{user.PType}}
                                </td>
                                <td data-title="'Specialty'" header-class="text-left" sortable="'Specialty'" filter="{ 'Specialty': 'text' }" data-title-text="Specialty" class="ng-binding">
                                    {{user.Specialty}}
                                </td>
                                <td data-title="'Plan'" header-class="text-left" sortable="'Plan'" filter="{ 'Plan': 'text' }" data-title-text="Plan" class="ng-binding">
                                    {{user.Plan}}
                                </td>

                                <td data-title="'Initiated Date'" header-class="text-left" sortable="'InitiatedDate'" filter="{ 'InitiatedDate': 'text' }" data-title-text="Initiated Date" class="ng-binding">
                                    {{user.InitiatedDate}}
                                </td>
                                <td data-title="'Status'" header-class="text-left" sortable="'Status'" filter="{ 'Status': 'text' }" data-title-text="Status" class="ng-binding">
                                    {{user.Status}}
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="/credentialing/cnd/index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr>
                           <!-- end ngRepeat: user in data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

