
<li class="info-number outer_menu_item_top cursor_pointer" style="height: 34px;top: 5px; " id="backToMenu">
    <nobr>
        <span style="position: relative; left: 16px; top: 5px; font-size: 14px;">
            <img src="~/Resources/Images/Icons/newback.png" style="height: 14px;" />
            <span class="go-back-btn">Go to Main Menu</span>
        </span>
    </nobr>
</li>

<li class="collapsed_click active" style="padding-top: 5px;">
    <a class="expand_click menu_click_expanded outer_menu_item_under expanded">
        &nbsp;<span class="text_beside_icon">Member House</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>

    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="MH Dashboard"
               data-tab-title="MH Dashboard"
               data-tab-path="~/Areas/MH/Views/Dashboard/MemberDashboard/_MemberDashboard.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Home
                </span>
            </a>
        </li>
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Add Member"
               data-tab-title="Add Member"
               data-tab-path="~/Areas/MH/Views/NewMember/Add/_AddNewMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Add Member
                </span>
            </a>
        </li>
        @*<li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Enrolled Members"
               data-tab-title="Enrolled Members"
               data-tab-path="~/Areas/MH/Views/SearchMember/_SearchEnrolledMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Enrolled Members
                </span>
            </a>
        </li>*@
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               @*data-tab-path="~/Areas/MH/Views/SearchMember/_SearchMember.cshtml"*@
               data-tab-path="/MH/SearchMember/Index"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Members
                </span>
            </a>
        </li>
        <li class="outer_menu_item_top">
            <a class=""
               @*data-tab-action="Member Reports"
               data-tab-title="Reports"
               data-tab-path="~/Areas/MH/Views/AddMember/_AddMember.cshtml"
               data-tab-container="fullBodyContainer"*@>
                <span class="text_beside_icon">Reports</span>
            </a>
        </li>
    </ul>
</li>

<script>
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $li = $(this);
        slideMenu($li);
    });
    function slideMenu($li, $a) {
        if ($a.hasClass('expanded')) {
            $a.addClass('collapsed').removeClass("expanded");
            // $('ul:first', $li).slideUp();
        } else if ($a.hasClass('collapsed')) {
            $a.addClass("expanded").removeClass('collapsed');
            //$('ul:first', $li).slideDown();
        }
    };
    $('#sidebar-menu').on('click', '.menu_click_expanded', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
</script>

