/*Search Result */
.searchResult {
    position: fixed;
    z-index: -1;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.94) 12%, rgba(0,0,0,0.88) 25%, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.81) 39%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.71) 60%, rgba(0,0,0,0.63) 76%, rgba(0,0,0,0.55) 91%, rgba(0,0,0,0.51) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(12%, rgba(0,0,0,0.94)), color-stop(25%, rgba(0,0,0,0.88)), color-stop(34%, rgba(0,0,0,0.83)), color-stop(39%, rgba(0,0,0,0.81)), color-stop(51%, rgba(0,0,0,0.75)), color-stop(60%, rgba(0,0,0,0.71)), color-stop(76%, rgba(0,0,0,0.63)), color-stop(91%, rgba(0,0,0,0.55)), color-stop(100%, rgba(0,0,0,0.51)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.94) 12%, rgba(0,0,0,0.88) 25%, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.81) 39%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.71) 60%, rgba(0,0,0,0.63) 76%, rgba(0,0,0,0.55) 91%, rgba(0,0,0,0.51) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.94) 12%, rgba(0,0,0,0.88) 25%, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.81) 39%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.71) 60%, rgba(0,0,0,0.63) 76%, rgba(0,0,0,0.55) 91%, rgba(0,0,0,0.51) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.94) 12%, rgba(0,0,0,0.88) 25%, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.81) 39%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.71) 60%, rgba(0,0,0,0.63) 76%, rgba(0,0,0,0.55) 91%, rgba(0,0,0,0.51) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.94) 12%, rgba(0,0,0,0.88) 25%, rgba(0,0,0,0.83) 34%, rgba(0,0,0,0.81) 39%, rgba(0,0,0,0.75) 51%, rgba(0,0,0,0.71) 60%, rgba(0,0,0,0.63) 76%, rgba(0,0,0,0.55) 91%, rgba(0,0,0,0.51) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 43px;
    box-shadow: rgb(67, 118, 169) -1px 0px 32px 3px;
    /*transition: 0.5s;*/
}

.search-content {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    height: 100%;
    /*overflow: hidden;*/
}
/*/Search Result */
/*Floating Label CSS*/
th.withfilter {
    padding: 8px 8px 2px 8px !important;
}

.filer-search {
    background: none;
}

    .filer-search:focus ~ label, .filer-search:valid ~ label {
        top: -10px;
    }

    /*Classes being added for triggering filter*/
     .searchfilterlabel{
        top:-10px !important;
      }
     .searchfilterspan{
        width: 100% !important;
        -webkit-transition: all 0.075s ease;
        transition: all 0.075s ease;
    }
   
  
.styled-input {
    width: 100%;
    float: left;
    position: relative;
}

    .styled-input label {
        font-weight: 500;
        color: white;
        padding: 2px 0px 0 0;
        position: absolute;
        margin-top: 5px;
        top: 0;
        left: 0;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        pointer-events: none;
    }

   
    .filer-search {
    padding: 9px 0px 0 0px;
    border: 0;
    width: 80%;
    color: white;
}

#bridgeQueueTable>.filer-search {
    padding: 9px 0px 0 0px;
    border: 0;
    width: 80%;
    color: white;
}
/*#resultTableHeader > .filer-search {
    margin-top:10px;
     padding: 9px 0px 0 0px;
    border: 0;
    width: 80%;
    color: white;
}*/
    .filer-search ~ span {
        display: block;
        width: 0;
        height: 1px;
        background: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transition: all 0.125s ease;
        transition: all 0.125s ease;
    }

    .filer-search:focus {
        outline: 0;
    }

        .filer-search:focus ~ span {
            width: 100%;
            -webkit-transition: all 0.075s ease;
            transition: all 0.075s ease;
        }


.overlay-content {
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
}

.font-size-18 {
    font-size: 13px;
}

.margin_left_15px {
    margin-left: 15px !important;
}

.withfilter i {
    position: relative;
    top: -7px;
}

.withfilter label{
    font-size: 13px;
    font-weight: 600;
}

/*End of Floating Label CSS*/
/* results info */
.more-result {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

    .more-result:hover {
        text-decoration: underline;
        cursor: pointer;
    }

a.custom-button {
    padding: 2px;
    border: 1px solid #ddd;
    margin: 1px;
}

    a.custom-button img {
        width: 20px;
        height: 20px;
    }

    a.custom-button:hover {
        border: 1px solid rgba(60, 55, 58, 0.19);
        box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.71) inset, 0px -2px 20px rgba(130, 120, 120, 0.66), 0px 2px 5px rgba(0, 0, 0, 0.47), 0px 8px 10px rgba(0, 0, 0, 0.1);
        font-weight: bolder;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.55);
    }
    .action_Class
    {
      vertical-align:inherit;

    }
    .printIcon_th
    {
        width: 5% !important;
        padding-top:0px !important;
    }
    .printIcon_image
    {
        height: 25px;
    }
/* /results info */
/* Close Button*/
#close {
    margin-top: -6px;
}

    #close > li > span {
        color: white;
        cursor: default;
    }

    #close li {
        border-left: none;
    }

.custom-cls {
    margin-top: 0px !important;
    color: white !important;
    border: none !important;
    font-size: 9px !important;
}

.custom-cls-btn {
    padding-left: 0;
}

/* Code has been commented */
#dropdownMenu1 {
    /* For removing the underline at right side of search */
    text-decoration: none;
}

/* Custom Panel */
.x_title-custom {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 0px 6px;
    margin-bottom: 10px;
}

    .x_title-custom p {
        margin: 5px 0 6px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bolder;
    }

    .x_title-custom span {
        color: #BDBDBD;
    }

.x_title-custom {
    height: 26px;
    border-bottom: none;
    color: white;
    /* background: #4469a6; */
}
/* /Custom Panel */

/* searched keyword */
.search-word {
    font-weight: bolder;
}

/*table*/

#search-results {
    display: none;
}

/* table styles */
#search-results {
    /*overflow-y: hidden;*/
    height: 100%;
    padding-left: 0px;
    padding-right: 1.8%;
}

#newSearch > tbody > tr > td {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-transform: uppercase;
}

#newSearch tr {
    cursor: pointer;
}

.response-table {
    height: auto;
    overflow: scroll;
}
/* /table styles */

/* BODY COLUMNS */
.colBody-1 {
    width: 7%;
}

.colBody-2 {
    width: 8%;
}

.colBody-3 {
    width: 8%;
}

.colBody-4 {
    width: 6.5%;
}

.colBody-5 {
    width: 6.5%;
}

.colBody-6 {
    width: 8%;
}

.colBody-7 {
    width: 9%;
}

.colBody-8 {
    width: 7%;
}

.colBody-9 {
    width: 16%;
}

.colBody-10 {
    width: 8.5%;
}

.colBody-11 {
    width: 6.5%;
}

.colBody-12 {
    width: 9%;
}


/* HEADER COLUMNS */
.colHead-1 {
    width: 7%;    
}

.colHead-2 {
    width: 8%;
}

.colHead-3 {
    width: 8%;
}

.colHead-4 {
    width: 6.5%;
}

.colHead-5 {
    width: 6.5%;
}

.colHead-6 {
    width: 8%;
}

.colHead-7 {
    width: 9%;
}

.colHead-8 {
    width: 7%;
}

.colHead-9 {
    width: 16%;
}

.colHead-10 {
    width: 8.5%;
}

.colHead-11 {
    width: 6.5%;
}

.colHead-12 {
    width: 9%;
}

#searchBodyDiv {
    height: 80%;
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#searchBodyDiv td {
    border: 1px solid #708bb8;
}

#searhcResultBody > tr{
    cursor:pointer;
    font-size:13px;
}