.search_wrapper {
    position: absolute;
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-bottom: 1px solid rgba(255,255,255,0.80);
}

.smart_search_word {
    position: relative;
    width: auto;
    float: left;
    display: none;
}

span.keyWord {
    background: rgba(179,220,237,1);
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 2px;
    color: #333;
    font-weight: bolder;
}

.smart_search_word ul {
    padding-left: 0px;
    list-style-type: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.99);
    top: 22px;
}

#dropDown li {
    cursor: pointer;
    float: left;
    width: 112px;
    color: grey;
    white-space: nowrap;
    padding: 6px 10px 6px 10px;
    border: 1px solid #D9DEE4;
}

#dropDown > li.active {
    color: white;
    font-weight: bolder;
    background: #466cab;
}


.search_input {
    position: relative;
    width: 100%;
    float: left;
}

    .search_input input {
        width: 100% !important;
        border: none;
    }

.search_btn {
    left: 6px;
    position: relative;
    width: auto;
    float: right;
    display: none;
}

#searchBox {
    background: none;
    font-size: 13px;
    color: white;
    padding-left: 10px;
}

    #searchBox::-webkit-input-placeholder {
        color: rgba(255,255,255,0.80);
    }






/*------------------------- Flat Search UI----------------------------*/

.search_wrapperF {
    position: absolute;
    width: 14%;
    margin-left: -20%;
    margin-top: 1.2%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-bottom: 1px solid #2A3F54;
}

.smart_search_wordF {
    position: relative;
    width: auto;
    float: left;
    display: none;
}

span.keyWordF {
    background: rgba(179,220,237,1);
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 2px;
    color: #333;
    font-weight: bolder;
}

.smart_search_wordF ul {
    padding-left: 0px;
    list-style-type: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.99);
    top: 22px;
}

#dropDownF li {
    cursor: pointer;
    float: left;
    width: 112px;
    color: grey;
    white-space: nowrap;
    padding: 6px 10px 6px 10px;
    border: 1px solid #D9DEE4;
}

#dropDownF > li.active {
    color: white;
    font-weight: bolder;
    background: #466cab;
}


.search_inputF {
    position: relative;
    width: 100%;
    float: left;
}

    .search_inputF input {
        width: 100% !important;
        border: none;
    }

.search_btnF {
    left: 6px;
    position: relative;
    width: auto;
    float: right;
    display: none;
}

#searchBoxF {
    background: none;
    font-size: 13px;
    color: #2A3F54;
    padding-left: 10px;
}

    #searchBoxF::-webkit-input-placeholder {
        color: #2A3F54;
    }
