




<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> CV Upload
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12" ng-app="ProviderApp" ng-controller="ProviderCtrl">
                <div class="alert alert-success alert-dismissible" role="alert" ng-cloak>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    @ViewBag.Message
                </div>
                <div class="panel panel-default content-panel">
                    <div class="panel-heading">
                        <span class="panel-title pull-right btn-link" onclick="SearchProviderPanelToggle();"><i class="btn btn-sm btn-default fa fa-th-list"></i></span>
                        <h3 class="panel-title">CV Upload</h3>
                    </div>
                    <div id="SearchProviderPanel" class="panel-body">
                        <div>
                            <div class="col-lg-12">
                                <div class="clearfix">
                                    <input id="next1" type="button" value="View Profile" class="btn btn-success btn-sm pull-right" disabled />
                                    <a href="/Provider/CreateProvider" class="btn btn-primary btn-sm pull-left">Add New Provider</a>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>