<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/Common/Unminified/DocumentViewer.css" rel="stylesheet"></p-link>
<div class="container" hidden id="DocumentViewer">
    <div class="row">
        <label>Document Viewer</label>
        <a href="javascript:void(0)" id="closeDocumentViewPanel" onclick="closeDocumentPanel()" class="pull-right">
            <i class="fa fa-close"></i>
        </a>
        <a class="pull-right" id="openDocumentInNewTabATag" target="_blank" href="~/Content/CustomTheme/PBAS%20Documents/SampleProgressNote.pdf" onclick="closeDocumentPanel()">
            <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
    </div>
    <object id="DocObjectStyle" data="~/Areas/Encounters/Documents/SampleMentalProgNote.pdf"></object>
</div>
<p-script filepath="~/Areas/SharedView/Scripts/DocumentManager/DocumentViewer.js"></p-script>
