<style>
    .faq {
        width: 95%;
        margin: 7px auto;
        box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.62);
    }

    .mainData {
        color: white;
        line-height: 30px;
        padding: 0 0 0 20px;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
        cursor:pointer;
        background-color: #ffffff;
        /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwNzBmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNkM2RmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
        background-size: 100%;
        /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7070ff), color-stop(100%, #3d3dff));
        background-image: -moz-linear-gradient(top, #7070ff, #3d3dff);
        background-image: -webkit-linear-gradient(top, #7070ff, #3d3dff);
        background-image: linear-gradient(to bottom, #7070ff, #3d3dff);*/
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .mainData:after {
        content: "";
        display: table;
        clear: both;
    }

    .faqControl {
        float: right;
        line-height: 30px;
        border: none;
        padding: 0 20px;
        color: white;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
        background: none;
        font-size: 0.8em;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

        .faqControl:hover, .faqControl:focus {
            outline: none;
            /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTlmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg1ODVmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
            background-size: 100%;
            /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9999ff), color-stop(100%, #8585ff));
            background-image: -moz-linear-gradient(top, #9999ff, #8585ff);
            background-image: -webkit-linear-gradient(top, #9999ff, #8585ff);
            background-image: linear-gradient(to bottom, #9999ff, #8585ff);*/
        }

    .detailData {
        margin: 0 auto;
        padding: 20px;
        /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjhmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
        background-size: 100%;
        min-height:70px;
        /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f8ff));
        background-image: -moz-linear-gradient(#ffffff, #f4f8ff);
        background-image: -webkit-linear-gradient(#ffffff, #f4f8ff);
        background-image: linear-gradient(#ffffff, #f4f8ff);*/
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 40px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0 0 4px 4px;
    }
</style>
<script>
    $("dd").hide();

    //$("<button></button>", {
    //    text: "Click to see answer",
    //    class: "faqControl"
    //}).appendTo("dt");

    $(".mainData")
      .click(function () {
          $(this).next("dd").slideToggle();
      });

    $(".faqControl")
        .focus(function () {
            $(this).parent().next("dd").slideDown();
        });

    $(".faqControl")
        .blur(function () {
            $(this).parent().next("dd").slideUp();
        });
</script>

<label class="PSVListHeader text-uppercase">Today - 11/25/2016</label>
<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">John Smith</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">ARNP</span>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div> 
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>       
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">1265213625</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">ARNP</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">John</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Smith</span>
        </div>
      
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">11/22/2015</span>
        </div>        
    </dd>
</dl>

<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">Lawrence Damore</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>   
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">17634763735</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">Lawrence</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Damore</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">10/18/2015</span>
        </div>
    </dd>
</dl>
<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">Lawrence Damore</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">17634763735</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">Lawrence</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Damore</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">10/18/2015</span>
        </div>
    </dd>
</dl>
<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">Lawrence Damore</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">17634763735</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">Lawrence</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Damore</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">10/18/2015</span>
        </div>
    </dd>
</dl>

<label class="PSVListHeader text-uppercase">Yesterday - 11/24/2016</label>
<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">John Smith</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">ARNP</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">1265213625</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">ARNP</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">John</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Smith</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">11/22/2015</span>
        </div>
    </dd>
</dl>

<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">Lawrence Damore</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">17634763735</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">Lawrence</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Damore</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">10/18/2015</span>
        </div>
    </dd>
</dl>
<dl class="faq">
    <dt class="mainData">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Name:</label>
            <span class="theme_label_data">Lawrence Damore</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
            <button data-tab-action="Provider Profile" data-tab-path="/Portal/ProviderProfile/Index?profileId=1" data-tab-container="fullBodyContainer"
                    class="btn btn-info btn-xs tab-navigation">
                <i class="fa fa-eye"> </i>
            </button>
        </div>
    </dt>
    <dd class="detailData">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">NPI:</label>
            <span class="theme_label_data">17634763735</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Provider Type:</label>
            <span class="theme_label_data">Doctor of Dental Medicine</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">First Name:</label>
            <span class="theme_label_data">Lawrence</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Last Name:</label>
            <span class="theme_label_data">Damore</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified By:</label>
            <span class="theme_label_data">Elizabeth</span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <label class="theme_label">Verified Date:</label>
            <span class="theme_label_data">10/18/2015</span>
        </div>
    </dd>
</dl>



