<script src="~/Scripts/Custom/DashBoard/CCODashboardController.js"></script>

<div ng-controller="CCODashboardController" ng-if="Role=='CCO'" class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-4 zero-padding-left-right-div">
        <div class="col-lg-12">
            <span class="h4">Total Count : 16</span>
            <span class="pull-right">
                <select class="form-control input-sm">
                    <option>--select days--</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                    <option>35</option>
                    <option>40</option>
                    <option>45</option>
                    <option>50</option>
                    <option>55</option>
                    <option>60</option>
                    <option>65</option>
                    <option>70</option>
                    <option>75</option>
                    <option>80</option>
                    <option>85</option>
                </select>
            </span>
            <hr />
        </div>
        <div class="col-lg-12">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    State License<span class="badge">2</span>
                </a>
                <a href="#" class="list-group-item">Federal DEA<span class="badge">3</span></a>
                <a href="#" class="list-group-item">CDS Information<span class="badge">5</span></a>
                <a href="#" class="list-group-item">Specialty/Board<span class="badge">1</span></a>
                <a href="#" class="list-group-item">Hospital Privileges<span class="badge">2</span></a>
                <a href="#" class="list-group-item">Professional Liability<span class="badge">1</span></a>
                <a href="#" class="list-group-item">Worker Compensation<span class="badge">1</span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 zero-padding-left-right-div form-style">
        <div class="col-lg-12">
            <span class="h4">State Licenses</span>
            <span class="pull-right" style="margin-left: 10px;">
                <select class="form-control input-sm">
                    <option>level</option>
                    <option value="1">Mid-Level</option>
                    <option value="2">Supervisor</option>
                </select>
            </span>
            <span class="pull-right" style="margin-left: 10px;">
                <select class="form-control input-sm">
                    <option>days</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                    <option>35</option>
                    <option>40</option>
                    <option>45</option>
                    <option>50</option>
                    <option>55</option>
                    <option>60</option>
                    <option>70</option>
                    <option>80</option>
                    <option>90</option>
                    <option>180</option>
                </select>
            </span>
            <span class="pull-right">
                <select ng-model="providerTypeId" class="form-control input-sm">
                    <option ng-selected="true">Provider Type</option>
                    <option ng-repeat="pt in ProviderTypes track by $index" value="{{pt.ProviderTypeID}}">{{pt.Title}}</option>
                </select>
            </span>
            <hr />
        </div>
        <fieldset>
            <legend>
                Details
            </legend>
            <table class="table table-striped small">
                <thead>
                    <tr>
                        <th>NPI Number</th>
                        <th>Provider Name</th>
                        <th>Expiry Date</th>
                        <th>Day Left</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7676545322</td>
                        <td>John Abhinave</td>
                        <td>10-03-2015</td>
                        <td>1</td>
                        <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                    </tr>
                    <tr>
                        <td>2345675655</td>
                        <td>Smith Shalabh</td>
                        <td>12-03-2015</td>
                        <td>3</td>
                        <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

    <div class="col-lg-12 form-style">
        <div class="panel panel-default panel-body">
            <div class="col-lg-12">
                <span>Information without expiry date</span>
                <span class="pull-right" style="margin-left: 10px;">
                    <select class="form-control input-sm">
                        <option>--select provider Level--</option>
                        <option value="1">Mid-Level</option>
                        <option value="2">Provider</option>
                    </select>
                </span>
                <span class="pull-right">
                    <select ng-model="providerTypeId1" class="form-control input-sm">
                        <option ng-selected="true">Provider Type</option>
                        <option ng-repeat="pt in ProviderTypes track by $index" value="{{pt.ProviderTypeID}}">{{pt.Title}}</option>
                    </select>
                </span>
                <hr />
            </div>
            <div class="col-lg-12">
                <fieldset>
                    <legend>
                        Details
                    </legend>
                    <table class="table table-striped small">
                        <thead>
                            <tr>
                                <th>NPI Number</th>
                                <th>Provider Name</th>
                                <th>License Type</th>
                                <th>Number of License</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>7676545322</td>
                                <td>John Abhinave</td>
                                <td>10-03-2015</td>
                                <td>1</td>
                                <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                            </tr>
                            <tr>
                                <td>2345675655</td>
                                <td>Smith Shalabh</td>
                                <td>12-03-2015</td>
                                <td>3</td>
                                <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>