<script src="~/Scripts/Custom/DashBoard/ProviderDashboardController.js"></script>

<style>
    /* Expired License Validation CSS */
    .list-group-item > .badge.license-validation-expired {
        text-shadow: 0 -1px 0 #F47878;
        background-image: -webkit-linear-gradient(top, #F4444A 0, #F53939 100%);
        background-image: -o-linear-gradient(top, #F4444A 0, #F53939 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F4444A), to(#F53939));
        background-image: linear-gradient(to bottom, #F4444A 0, #F53939 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4444A', endColorstr='#F53939', GradientType=0);
        border-color: #F53939;
    }

    .list-group-item.active > .badge.license-validation-expired {
        color: #E04D4D;
        background-image: none;
        text-shadow: none;
    }

    .list-group-item.active.license-validation-expired {
        text-shadow: 0 -1px 0 #F47878;
        background-image: -webkit-linear-gradient(top, #F4444A 0, #F53939 100%);
        background-image: -o-linear-gradient(top, #F4444A 0, #F53939 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F4444A), to(#F53939));
        background-image: linear-gradient(to bottom, #F4444A 0, #F53939 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4444A', endColorstr='#F53939', GradientType=0);
        border-color: #F53939;
        background-color: #F4444A;
    }

    /* Warning License Validation CSS */
    .list-group-item > .badge.license-validation-warning {
        text-shadow: 0 -1px 0 #D27B19;
        background-image: -webkit-linear-gradient(top, #D2670E 0, #D2670E 100%);
        background-image: -o-linear-gradient(top, #D2670E 0, #D2670E 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D2670E), to(#D2670E));
        background-image: linear-gradient(to bottom, #D2670E 0, #D2670E 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2670E', endColorstr='#D2670E', GradientType=0);
        border-color: #D2670E;
    }

    .list-group-item.active > .badge.license-validation-warning {
        color: #C07827;
        background-image: none;
        text-shadow: none;
    }

    .list-group-item.active.license-validation-warning {
        text-shadow: 0 -1px 0 #D27B19;
        background-image: -webkit-linear-gradient(top, #D2670E 0, #D2670E 100%);
        background-image: -o-linear-gradient(top, #D2670E 0, #D2670E 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D2670E), to(#D2670E));
        background-image: linear-gradient(to bottom, #D2670E 0, #D2670E 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D2670E', endColorstr='#D2670E', GradientType=0);
        border-color: #D2670E;
        background-color: #F4444A;
    }
    /* Success License Validation CSS */
    .list-group-item > .badge.license-validation-success {
        text-shadow: 0 -1px 0 #369028;
        background-image: -webkit-linear-gradient(top, #33B749 0, #2B9A35 100%);
        background-image: -o-linear-gradient(top, #33B749 0, #2B9A35 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33B749), to(#2B9A35));
        background-image: linear-gradient(to bottom, #33B749 0, #2B9A35 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33B749', endColorstr='#2B9A35', GradientType=0);
        border-color: #2B9A35;
    }

    .list-group-item.active > .badge.license-validation-success {
        color: #369028;
        background-image: none;
        text-shadow: none;
    }

    .list-group-item.active.license-validation-success {
        text-shadow: 0 -1px 0 #369028;
        background-image: -webkit-linear-gradient(top, #33B749 0, #2B9A35 100%);
        background-image: -o-linear-gradient(top, #33B749 0, #2B9A35 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33B749), to(#2B9A35));
        background-image: linear-gradient(to bottom, #33B749 0, #2B9A35 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33B749', endColorstr='#2B9A35', GradientType=0);
        border-color: #2B9A35;
        background-color: #2B9A35;
    }
</style>

<div ng-controller="ProviderDashboardController" ng-if="Role=='PRO'" ng-cloak class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-4 zero-padding-left-right-div">
        <div class="col-lg-12">
            <span class="h4">Total Count : 15</span>
            <span class="pull-right">
                <select class="form-control input-sm">
                    <option>--select days--</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                    <option>35</option>
                    <option>40</option>
                    <option>45</option>
                    <option>50</option>
                    <option>55</option>
                    <option>60</option>
                    <option>65</option>
                    <option>70</option>
                    <option>75</option>
                    <option>80</option>
                    <option>85</option>
                </select>
            </span>
            <hr />
        </div>
        <div class="col-lg-12">
            <div class="list-group">
                <a ng-repeat="ld in LicenseData track by $index" ng-click="getLicensTypeData(ld)" class="list-group-item pointer" ng-class="{active:LicenseType == ld.LicenseType, 'license-validation-expired':ld.LicenseStatus.ExpiredLicense > 0, 'license-validation-warning':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense > 0), 'license-validation-success':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense == 0 && ld.LicenseStatus.ValidLicense > 0)}">
                    {{ld.LicenseType}}<span class="badge" ng-class="{'license-validation-expired':ld.LicenseStatus.ExpiredLicense > 0, 'license-validation-warning':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense > 0), 'license-validation-success':(ld.LicenseStatus.ExpiredLicense == 0 && ld.LicenseStatus.PendingDaylicense == 0 && ld.LicenseStatus.ValidLicense > 0)}">{{ld.Licenses.length}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-8 zero-padding-left-right-div form-style">
        <div class="col-lg-12">
            <span class="h4">{{LicenseType}}</span>
            <hr />
        </div>
        <fieldset>
            <legend>
                Details
            </legend>
            <div licensedetailstable></div>

            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
            <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>


            @*<table class="table table-striped small">
                    <thead>
                        <tr>
                            <th>License Number</th>
                            <th>State</th>
                            <th>Expiry Date</th>
                            <th>Day Left</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="license in Licenses">
                            <td>{{license}}</td>
                        </tr>

                        <tr>
                            <td>1234567890</td>
                            <td>Florida</td>
                            <td>10-03-2015</td>
                            <td>1</td>
                            <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                        </tr>
                        <tr>
                            <td>1234509876</td>
                            <td>New York</td>
                            <td>12-03-2015</td>
                            <td>3</td>
                            <td><button class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="Renew"><i class="fa fa-repeat"></i></button></td>
                        </tr>
                    </tbody>
                </table>*@
        </fieldset>
    </div>
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            The following Profile Information doesn't have expiry dates mentioned, please go and update them.<br />
            <a href="#">Federal DEA</a>, <a href="#">Hospital Privileges</a>
        </div>
    </div>
</div>