@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/Custom/DashBoard/DashboardController.js"></script>

<div id="page-wrapper" ng-app="dashboardApp">
    <div class="row">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-check fa-fw"></i> Upcoming Renewals
                <span class="pull-right pointer" ng-click="ToggleRoles()">Change Role : {{Role}}</span>
            </div>
            <div class="panel-body">
               <!-- Render Dashboard according to role base -->
                <!-- Provider Dashboard-->
                @Html.Partial("~/Views/Dashboard/_ProviderDashboard.cshtml")
                <!-- End provider Dashboard-->

                <!-- CCO Dashboard-->
                @Html.Partial("~/Views/Dashboard/_CCODashboard.cshtml")
                <!-- End provider Dashboard-->
            </div>
        </div>
    </div>
</div>