<div id="MidLevelPractitioner">
    <fieldset>
        <legend>
            Mid-Level Practitioner
        </legend>
        <table ng-if="!(PracticeLocationDetailHistory.MidlevelPractioners.length > 0 || visibilityThirdControl == 'MidLevelPractitionerEdit')" class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No History Available for Mid-Level Practitioners for this Practice Location!
                    </td>
                </tr>
            </thead>
        </table>
        <table ng-if="PracticeLocationDetailHistory.MidlevelPractioners.length>0" class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle name</th>
                    <th>Last Name</th>
                    <th>NPI Number </th>
                </tr>
            </thead>
            <tbody ng-repeat="practitioner in PracticeLocationDetailHistory.MidlevelPractioners">
                <tr>
                    <td>{{practitioner.FirstName || 'Not Available'}}</td>
                    <td>{{practitioner.MiddleName || 'Not Available'}}</td>
                    <td>{{practitioner.LastName || 'Not Available'}}</td>
                    <td>{{practitioner.NPINumber || 'Not Available'}}</td>
                </tr>
            </tbody>
        </table>
        @*<div>
            <div ng-if="!PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders || PracticeLocationDetailHistory.Facility.FacilityDetail.FacilityPracticeProviders.length<1">
                <table class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <tbody>
                        <tr>
                            <td>No Mid-Level Practitioners Available For This Facility</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
    </fieldset>
</div>