<div class="row">
    <div class="col-lg-4 col-lg-offset-8 theDocRepoHeader">
        <span class="col-lg-6 col-lg-offset-2">
            <b>Available : <label class="label-success-color">26</label>&nbsp; Missing : <label style="color:red">8</label></b>
        </span>
        <span class="col-lg-4">
            <span>
                <i class="fa fa-print fa-2x" style="cursor:pointer" title="Header" data-toggle="popover" data-placement="top" data-content="Content"></i>
            </span>&nbsp;&nbsp;
            <span>
                <i class="fa fa-envelope fa-2x" style="cursor:pointer" title="Header" data-toggle="popover" data-placement="top" data-content="Content"></i>&nbsp;&nbsp;
            </span>
            <span>
                <i class="fa fa-gear fa-2x" style="cursor:pointer" title="Header" data-toggle="popover" data-placement="top" data-content="Content"></i>
            </span>
            @*<span style="margin-left: 6px;">
                <i class="fa fa-angle-double-right fa-2x thePreviewMailPanelClose hidden" style="cursor:pointer" title="Header" data-toggle="popover" data-placement="top" data-content="Content"></i>
                <i class="fa fa-angle-double-left fa-2x thePreviewMailPanel" style="cursor:pointer" title="Header" data-toggle="popover" data-placement="top" data-content="Content"></i>
            </span>*@
        </span>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-4">
            <div class="btn-group">
                <button type="button" id="View" onclick="View(this)" class="btn btn-primary active docRepoActionButton">View</button>
                <button type="button" id="Reports" onclick="Reports(this)" class="btn btn-primary docRepoActionButton">Reports</button>
                <button type="button" id="PackGen" onclick="PackageGeneration(this)" class="btn btn-primary docRepoActionButton">Package Generation</button>
            </div>
        </div>
        <div class="col-lg-5">

        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i> </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12" id="DocumentRepositoryMainViewPanel">
        @Html.Action("ListOfDocuments", "Documents")
    </div>
</div>
<div class="clearfix"></div>

<p-script filepath="~/Areas/CredAxis/Scripts/DocumentRepo/DocumentRepoIndex.js"></p-script>
