@model PortalTemplate.Areas.CredAxis.Models.DocumentRepoViewModel.DoumentRepoMainViewModel
<div id="container">
    @* Profile Report *@
    <div style="padding-left: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="#" style="color: black">Available: <span class="available">6</span>, Missing: <span class="missing">3</span></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up chevron"></i></a>
                    </li>
                </ul>
                <h2>Profile Documents &nbsp;&nbsp;</h2>

                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="ProfileDocsGraph">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h4>More Information..</h4>
                        <table class="table ReportSubTable">
                            <thead class="theme1_table">
                                <tr>
                                    <th>Category</th>
                                    <th>Available</th>
                                    <th>Missing</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>State License</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            <span class="icon check"><i class="fa fa-circle"></i></span>
                                            <span class="header">State License - Iowa</span>
                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                            <span class="header">State License - Florida</span>
                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                            <span class="header">State License - Alaska</span>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Driving License</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            <span class="icon check"><i class="fa fa-circle"></i></span>
                                            <span class="header">Driving License 1</span>

                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                            <span class="header">Driving License 2</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CV</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            <span class="icon check"><i class="fa fa-circle"></i></span>
                                            <span class="header">CV - 1</span>
                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon check"><i class="fa fa-circle"></i></span>
                                            <span class="header">CV - 2</span>
                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon check"><i class="fa fa-circle"></i></span>
                                            <span class="header">CV - 3</span>
                                        </div>
                                        <div class="availabiltyInfo">
                                            <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                            <span class="header">CV - 4</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Medicare</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Under Construction
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Medicaid</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Under Construction
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DEA</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Under Construction
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @* PSV Report *@
    <div style="padding-left: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="#" style="color: black">Passed: <span class="available">5</span>, Failed: <span class="missing">9</span></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up chevron"></i></a>
                    </li>
                </ul>
                <h2>PSV &nbsp;&nbsp;</h2>

                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="PSVChart"></div>
                    </div>
                    <div class="col-lg-12">
                        <h4>More Information..</h4>
                        <table class="table ReportSubTable">
                            <thead class="theme1_table">
                                <tr>
                                    <th>Verified On</th>
                                    <th>Passed</th>
                                    <th>Failed</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>21/11/2016</td>
                                    <td>10</td>
                                    <td>8</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="infoSection">
                                            <h4>Demographic Documentation</h4>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">Driver's License</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Florida Home Address</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Social Security Card</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">VISA or Passport</span>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="infoSection">
                                            <h4>Licensure And Certificates(Current clear copies needed)</h4>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">ACLS/BLS/CPR PALS(Must be current)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Board Certificate</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">CDS Certificate</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">DEA Certificate</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">State Medical License(Florida and any additional states)</span>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="infoSection">
                                            <h4>Education Documentation(Current clear copies needed)</h4>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">CME Certificates(Last 24 Months)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">ECFMG</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Fellowship(ALL)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Graduate Medical School</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">Internship(ALL)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">Residency(ALL)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">Undergraduates(BS,MS,AS,AA)</span>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="infoSection">
                                            <h4>Work History</h4>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">CV Must include current employer(Access Health Care Physicians LLC) all entries must include MM/YYYY-MM/YYYY Start/End</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Work Gap Explanation must include explanation of any gap in employment for a period of 3 months.Must contain MM/YYYY-MM/YYYY Start and End dates</span>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="infoSection">
                                            <h4>Hospital Privilege Documentation/Information</h4>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">Hospital Privilege Letters for all current facilities</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon uncheck"><i class="fa fa-circle"></i></span>
                                                <span class="header">Last Flu Shot(Last 12 months)</span>

                                            </div>
                                            <div class="availabiltyInfo">
                                                <span class="icon check"><i class="fa fa-circle"></i></span>
                                                <span class="header">PPD Results(Last 12 Months)</span>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td>25/11/2016</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Sample Only - Click On First Row For Data
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>27/11/2016</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Sample Only - Click On First Row For Data
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29/11/2016</td>
                                    <td>7</td>
                                    <td>3</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Sample Only - Click On First Row For Data
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1/12/2016</td>
                                    <td>5</td>
                                    <td>8</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Sample Only - Click On First Row For Data
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2/12/2016</td>
                                    <td>5</td>
                                    <td>9</td>
                                    <td><a href="#" class="expand"><i class="fa fa-angle-double-down"></i></a></td>
                                </tr>
                                <tr class="lowerInfoArea">
                                    <td colspan="4">
                                        <div class="availabiltyInfo">
                                            Sample Only - Click On First Row For Data
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Generated Forms *@
    <div style="padding-left: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up chevron"></i></a>
                    </li>
                </ul>
                <h2>Generated Forms &nbsp;&nbsp;</h2>

                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="GeneratedFormsChart"></div>

                    </div>
                    <div class="col-lg-6">
                        <h4>More Information..</h4>
                        <table class="table ReportSubTable">
                            <thead class="theme1_table">
                                <tr>
                                    <th>Forms</th>
                                    <th>Submitted</th>
                                    <th>Not Submitted</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        10
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Forms *@
    <div style="padding-left: 20px">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up chevron"></i></a>
                    </li>
                </ul>
                <h2>Forms &nbsp;&nbsp;</h2>

                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="FormsChart"></div>

                    </div>
                    <div class="col-lg-6">
                        <h4>More Information..</h4>
                        <table class="table ReportSubTable">
                            <tr>
                                <td>Provider Related Forms</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Ultimate Forms</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Freedom Forms</td>
                                <td>2</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>


<p-script filepath="~/Areas/CredAxis/Scripts/DocumentRepo/Reports.js"></p-script>
<p-link filepath="~/Areas/CredAxis/CSS/DocumentRepository/Reports.css"></p-link>