@model AHC.CD.WebUI.MVC.Areas.Credentialing.Models.Plan.PlanViewModel

<form id="PlanForm" class="form-style">
    <fieldset>
        <legend>
            General Details
        </legend>
        <span ng-if="tempViewObject.PlanID">
            @Html.HiddenFor(model => model.PlanID, new { @data_ng_value = "tempViewObject.PlanID" })
        </span>
        <div class="col-lg-10 zero-padding-left-right-div">
            <div class="col-lg-6 form-group">
                    <label class="control-label small" for="SalutationType">Plan Name:</label>
                <div>
                    <i class="data-label" ng-if="tempViewObject.PlanName">{{tempViewObject.PlanName}}</i>
                </div> 
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label small" for="SalutationType">Plan Code:</label>
                <div>
                    <i class="data-label" ng-if="tempViewObject.PlanCode">{{tempViewObject.PlanCode}}</i>
                </div>  
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label small" for="IsDelegated">Is Delegated:</label>
                <div>
                    <i class="data-label" ng-if="tempViewObject.IsDelegated==true">Yes</i>
                    <i class="data-label" ng-if="tempViewObject.IsDelegated==false">No</i>

                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label class="control-label small" for="PlanDescription">Is Plan Description:</label>
                <div>
                    <i class="data-label" ng-if="tempViewObject.PlanDescription">{{tempViewObject.PlanDescription}}</i>
                </div>
            </div>
        </div>
        @*<div class="col-lg-2 form-group zero-padding-right-right-div">
            <label class="control-label small">Plan Logo</label>
            <div class="fileinput fileinput-exists" data-provides="fileinput">
                <input type="hidden">
                <div class="fileinput-preview thumbnail file_preview_upload" style="line-height: 83px; background-image: url('/Content/Images/a0.jpg'); background-size: 100% 97%;" data-trigger="fileinput"></div>
            </div>
        </div>*@
    </fieldset>
    @Html.Partial("_ViewPlanAddressDetails")
    @Html.Partial("_ViewPlanContactDetails")
    
    <br />
    <div class="col-lg-12">
        <a class="btn btn-warning btn-sm pull-left" ng-click="BackToList()">Cancel</a>
        <a class="btn btn-primary btn-sm pull-right" ng-click="ProceedView()">Proceed</a>
    </div>
</form>

