<br />
<form>
    <div>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4 ">
                <label class="control-label">NPI Number</label>
                <input type="text" class="form-control input-sm" placeholder="NPI Number" />

            </div>
            <div class="col-lg-4 ">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control input-sm" placeholder="First Name" />
            </div>
            <div class="col-lg-4">
                <label class="control-label">Last name</label>
                <input type="text" class="form-control input-sm" placeholder="Last Name" />
            </div>

        </div>
        <div class="clearfix"></div>
        <hr />

        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4">
                <label class="control-label">Group</label>
                <input type="text" class="form-control input-sm" placeholder="Group" />                
            </div>
            <div class="col-lg-4">
                <label class="control-label">Plan</label>
                <input type="text" class="form-control input-sm" placeholder="Plan" />
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />

        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-4">
                <label class="control-label">Status</label>
                <input type="text" class="form-control input-sm" placeholder="Status" />
            </div>
            <div class="col-lg-4">
                <label class="control-label">From</label>
                <input type="date" class="form-control input-sm" placeholder="mm/dd/yyyy" />
            </div>
            <div class="col-lg-4">
                <label class="control-label">To</label>
                <input type="date" class="form-control input-sm" placeholder="mm/dd/yyyy" />
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-sm pull-right" ng-click="showProvidersInfo()"><i class="fa fa-search"></i> Search</button>
                <button type="reset" class="btn btn-warning btn-sm"><i class="fa fa-remove"></i> Clear</button>
            </div>
        </div>

    </div>
</form>