@{
    ViewBag.Title = "Credentialing Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Custom/CredentialingSearch/CreadentialingSearch.js"></script>

<div id="page-wrapper" ng-app="searchApp" ng-controller="credentialingSearchCtrl">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-search"></i> Credentialing Search
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel panel-default small">
            <div class="panel-heading">
                <button class="pull-right btn btn-xs" ng-click="showSearchPanelToggle('showSearchPanel')"><i class="fa fa-th-list"></i></button>
                <div>Search Credentialing Application</div>
            </div>
            <div role="tabpanel">
                <div id="showSearchPanel" class="panel-body closePanel">
                    @Html.Partial("_BasicSearch")
                    <!-- Tab panes -->
                    @*<div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="provider">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#grid1" aria-controls="grid1" role="tab" data-toggle="tab">Basic Search</a></li>
                        <li role="presentation"><a href="#grid2" aria-controls="grid2" role="tab" data-toggle="tab">Advanced Search</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Basic Search -->
                        <div role="tabpanel" class="tab-pane active" id="grid1">
                            @Html.Partial("_BasicSearch")
                        </div>

                        <!-- Advanced Search -->
                        <div role="tabpanel" class="tab-pane" id="grid2">

                        </div>
                    </div>
                </div>
            </div>*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-show="showSearchResults">
            @Html.Partial("_SearchResults")
        </div>
    </div>
</div>
