<fieldset>
    <legend>
        @*{{lisence.name}}*@
        <strong>Verification Result</strong>
    </legend>
    <div class="col-lg-12">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Source</th>
                    <th>Remarks</th>
                    <th>Verified Date</th>
                    <th>Verified Document</th>
                    <th>Action</th>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <i class="control-label small wrap-words">{{lisence.ProfileVerificationDetail.VerificationResult.VerificationResultStatus}}</i>
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="data-label wrap-words" style="cursor:pointer" ng-if="lisence.ProfileVerificationDetail.VerificationResult.Source" ng-click="checkForHttp(lisence.ProfileVerificationDetail.VerificationResult.Source)">{{lisence.ProfileVerificationDetail.VerificationResult.Source}}</a>
                            @*<i class="data-label wrap-words" ng-if="!lisence.ProfileVerificationDetail.VerificationResult.Source">Not Available</i>*@
                        </div>
                    </td>
                    <td>
                        <div>
                            <i class="control-label small wrap-words">{{lisence.ProfileVerificationDetail.VerificationResult.Remark}}</i>
                        </div>
                    </td>
                    <td>
                        <div>
                            <i class="control-label small wrap-words">{{lisence.ProfileVerificationDetail.VerificationDate | date:'MM/dd/yyyy'}}</i>
                            @*<label class="control-label small" ng-if="!lisence.ProfileVerificationDetail.VerificationDate">Not Available</label>*@
                        </div>
                    </td>
                    <td>
                        <div>
                            <a ng-if="lisence.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath" toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{lisence.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath}}" target="_blank"><i class="fa fa-file"></i></a>
                            @*<i ng-if="!lisence.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath">Not Available</i>*@
                        </div>
                    </td>
                    <td>
                        <div>
                            <a class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="top" title="Edit" ng-click="lisence.EditDiv=true;lisence.ViewDiv=false;editBoardCertificate($index)"><i class="fa fa-edit"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
