@model PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueInfoViewModel
@using PortalTemplate.Helper

<div class="fixed-toolbar marginTop5px">
    @*@if (ViewBag.QueueTab.ToLower() == "work" || ViewBag.QueueTab.ToLower() == "submitted")
    {
        if (ViewBag.QueueType.ToLower() != "facility" || ViewBag.QueueType.ToLower() != "qcapproval" || ViewBag.QueueType.ToLower() != "qcdenial")
        {*@
    <button id="moveWorkBtn" data-currentuserrole="Intake" data-action="Refer" class="btn btn-xs btn-primary moveWork leftPanelButtons QueueAggregateButtons">Move Work</button>
        @*}
        if (ViewBag.QueueType.ToLower() == "qcapproval" || ViewBag.QueueType.ToLower() == "qcdenial")
        {*@
            @*<button class="btn btn-xs btn-primary moveWork leftPanelButtons QueueAggregateButtons">View Batch</button>*@
        @*}
    }
    @if (ViewBag.QueueTab.ToLower() == "ctfu")
    {*@
        @*<button class="btn btn-xs btn-success completeCTFU leftPanelButtons QueueAggregateButtons">Complete</button>*@
    @*}
    @if (ViewBag.QueueTab.ToLower() == "completed")
    {*@
        @*<div class="col-lg-3 completedDiv leftPanelButtons" style="width:25.4%;">
            <span class="col-lg-2"><label class="text-primary">FROM:</label></span>
            <span class="col-lg-4">
                <input type="text" class="form form-control input-xs datePicker" id="CompletedFromDate" placeholder="FROM" value="09/29/2016">
            </span>
            <span class="col-lg-2"><label class="text-primary">TO:</label></span>
            <span class="col-lg-4">
                <input type="text" class="form form-control input-xs datePicker" id="CompletedToDate" placeholder="TO" value="09/29/2016">
            </span>
        </div>*@
    @*}*@
</div>
