<div class="col-lg-12 zero-padding-left-right-div" style="background-color: white; padding-top: 8px;">
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="SalutationType">Name</label>
        <div>
            <span>Kellie Duffy</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="FirstName">Type of practice</label>
        <div>
            <span>Solo Practice</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="MiddleName">County</label>
        <div>
            <span>Hernando</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="LastName">Specialty</label>
        <div>
            <span>Family Practitioner</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Board Certification</label>
        <div>
            <span>Yes</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="SalutationType">Hospital Privileges</label>
        <div>
            <span>St. Oak Hill Hospital</span>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div" style="background-color: white; padding-top: 8px;">
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="FirstName">Covering Physicians</label>
        <div>
            <span></span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="MiddleName">Gaps in Practice</label>
        <div>
            <span>No</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="LastName">Clean License</label>
        <div>
            <span></span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">NPDB Issues</label>
        <div>
            <span>No</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="SalutationType">Malpractice issues</label>
        <div>
            <span>No</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small" for="FirstName">Years In practice</label>
        <div>
            <span>10 Years</span>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div" style="background-color: white; padding-top: 8px;">
    <div class="col-lg-4 form-group">
        <label class="control-label small" for="LastName">Site Visit Required. If yes, were there any issues</label>
        <div>
            <span>Yes</span>
        </div>
    </div>
    <div class="col-lg-4 form-group">
        <label class="control-label small" for="MiddleName">Welcome Letter Mailed Date</label>
        <div>
            <span>02/03/2015</span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Welcome Letter</label>
        <div>
            <span><a data-toggle="tooltip" data-placement="right" title="" href="" target="_blank" data-original-title="Document"><i class="fa fa-2x fa-file"></i></a></span>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Attached document</label>
        <div>
            <span><a data-toggle="tooltip" data-placement="right" title="" href="" target="_blank" data-original-title="Document"><i class="fa fa-2x fa-file"></i></a></span>
        </div>
    </div>
</div>
<div ng-if="appointment.Status=='Pending'||appointment.Status=='New'">
    <div class="col-lg-12 zero-padding-left-right-div" style="background-color: white; padding-top: 8px;">
        <div class="col-lg-4 form-group">
            <label class="control-label small" for="ProviderLevel">Provider Level</label>
            <div>
                <span>
                    <label class="radio-inline control-label">
                        <input data-ng-model="ProviderLevel" id="" name="ProviderLevel" type="radio" value="1" class="ng-pristine ng-untouched ng-valid"> Level1
                    </label>
                    <label class="radio-inline control-label">
                        <input data-ng-model="ProviderLevel" id="" name="ProviderLevel" type="radio" value="2" class="ng-pristine ng-untouched ng-valid"> Level2
                    </label>
                    <label class="radio-inline control-label">
                        <input data-ng-model="ProviderLevel" id="" name="ProviderLevel" type="radio" value="3" class="ng-pristine ng-untouched ng-valid"> Level3
                    </label>
                </span>
            </div>
            <label class="control-label small" for="ProviderLevel" style="margin-top: 36px;">Date</label>
            <div>
                <span>
                    <input data-bs-datepicker="bs-datepicker" data-date-format="MM/dd/yyyy" data-ng-model="AppointmentDate" data-val="true" data-val-date="Please enter date in mm/dd/yyyy format." id="SignedDate" name="SignedDate" placeholder="mm/dd/yyyy" style="width:61%" type="text" value="" class="ng-pristine ng-valid valid ng-touched">
                </span>
            </div>
        </div>
        <div class="col-lg-4 form-group">
            <label class="control-label small">Remark </label>
            <div>
                <span>
                    <textarea cols="20" id="RemarkForApprovalStatus" name="RemarkForApprovalStatus" rows="5" style="width:100%"></textarea>
                </span>
            </div>
        </div>
        <div class="col-lg-4 form-group">
            <label class="control-label small" for="FirstName">
                Signature : <select class="input-xs" style="color:black">
                    <option value="Digital Signature">Digital Signature</option>
                    <option value="Digital Signature">Use Previous Signature</option>
                    <option value="Digital Signature">Upload Signature</option>
                </select>
            </label>
            <div>
                <span>
                    <canvas id="SignatureCanvas" height="98" width="248" style="border: solid;" ng-signature-pad="signature"></canvas>
                    <button id="clear" ng-click="cleardigitalsignature()" class="btn btn-primary btn-xs" style=" margin-bottom: 14px;">
                        Clear
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 zero-padding-left-right-div" style="background-color: white; padding-bottom: 8px;">
        <span class="col-lg-4"><button @*get-siblings*@ @*ng-model="VisibilityControl"*@ class="ApprovalSubmission btn btn-danger btn-xs pull-left " ng-click="SubmitApproval('Reject')" data-toggle="modal" data-target="#StatusAction">Reject</button></span>
        <span class="col-lg-4" ng-if="appointment.Status=='New'"><button @*get-siblings*@ @*ng-model="VisibilityControl"*@ class="ApprovalSubmission btn btn-warning btn-xs" ng-click="SubmitApproval('put approval On Hold')" style="margin-left: 160px;" data-toggle="modal" data-target="#StatusAction">On Hold</button></span>
        <span class="" ng-class="{'col-lg-4': appointment.Status =='New','col-lg-8':  appointment.Status =='Pending'}">
            <button @*get-siblings*@ @*ng-model="visibilitycontrol"*@ class="ApprovalSubmission btn btn-primary btn-xs pull-right" ng-click="SubmitApproval('Approve')" data-toggle="modal" data-target="#StatusAction">Approve</button>
        </span>
    </div>
</div>
<div ng-if="appointment.Status=='Approved'||appointment.Status=='Rejected'">
    <div class="col-lg-12 zero-padding-left-right-div" style="background-color: white;">
        <div class="col-lg-4 form-group">
            <label class="control-label small" for="LastName">Signature</label>
            <div>
                <span><img src="\ApplicationDocuments\CCMSignatureDocuments\5qvgJy1Q_CCMSignature.png" style="height:70px;width:80%"></span>
            </div>
        </div>
        <div class="col-lg-4 form-group">
            <label class="control-label small" for="LastName">Signed Date</label>
            <div>
                <span>3/31/2017</span>
            </div>
        </div>
        <div class="col-lg-2 form-group">
            <label class="control-label small" for="LastName">Status</label>
            <div>
                <span>Approved</span>
            </div>
        </div>
        <div class="col-lg-2 form-group">
            <label class="control-label small" for="LastName">Remark</label>
            <div>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div id="StatusAction" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="panel-heading ng-binding">
                Confirm Submission
                <button type="button" ng-disabled="saving" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="panel-body ng-binding">
                Do you want to {{Status}} ?
            </div>
            <div class="panel-footer">
                <div class="clearfix">
                    <button get-siblings  class="ApprovalSubmission btn btn-primary btn-sm pull-right" ng-click="ConfirmAppointmentApproval()">Yes</button>
                    <button type="button" class="btn btn-default btn-sm pull-right" style="margin-right: 6px;" ng-click="ConfirmAppointmentApproval()">No</button>
                    <div class="pull-right" style="margin: 3px;">
                        <saving></saving>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>