@model PortalTemplate.Areas.Auditing.Models.CreateAuditing.CreateAuditingViewModel
<div class="row zero-padding-left-right">
    @*@Html.Action("GetEncounterTemplate", "Encounter")*@
    @Html.Partial("~/Areas/Auditing/Views/ViewAuditing/SubDetails/_EncounterAudit.cshtml", Model.EncounterDetails)
    @Html.Partial("~/Areas/Auditing/Views/ViewAuditing/SubDetails/_CodingDetails.cshtml", Model.CodingDetails)
</div>

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <a class="btn btn-sm tab-navigation btn-primary pull-right" data-tab-val="Audit Encounter" data-tab-action="Audit Encounter" data-tab-title="Audit #@Model.EncounterDetails.EncounterDetails.EncounterId " data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Auditing/Auditing/EditAuditing" data-original-title="Audit">Edit</a>
    <a class="btn btn-sm btn-warning tab-navigation pull-left" data-tab-val="Auditing List" data-tab-action="Auditing List" data-tab-title="Auditing List" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Auditing/Auditing/GetAuditingList" onclick="TabManager.closeCurrentlyActiveTab()">Cancel</a>
</div>
<p-script filepath="~/Areas/Auditing/Scripts/AppJs/ViewAuditing/NonMinified/_ViewAuditing.js"></p-script>
<p-link filepath="~/Areas/Auditing/Contents/CSS/AppCss/ViewAuditing/NonMinified/_ViewAuditing.css" rel="stylesheet"></p-link>
