@model AHC.CD.WebUI.MVC.Areas.Initiation.Models.ProfileViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.SalutationType, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{SelectedSalutation}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.FirstName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{PersonalDetail.FirstName}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.MiddleName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{PersonalDetail.MiddleName}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.LastName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label wrap-words">{{PersonalDetail.LastName}}</i>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm pull-left" href="/Initiation/Provider">New Provider Initiation</a>
            <a class="btn btn-primary btn-sm pull-right" href="/Profile/MasterProfile/ProviderProfile/{{ProfileId}}">View Profile</a>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert" id="ProfileCreateSessage">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Profile Successfully Created <br/>
    <strong>Success!</strong> Account Activation link send to your Email. please check your mail.
</div>