@*<div class="panel-group" id="accordionAmbulatory" role="tablist" aria-multiselectable="true">*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="AmbulatoryHeading">
            <a data-toggle="collapse" data-parent="#accordionProviderInfo" href="#Ambu" aria-expanded="false" aria-controls="Ambu">
                Ambulatory Surgical Centres/Procedures
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="Ambu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AmbulatoryHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Are you affiliated with any Ambulatory Surgical Centers?</label>
                            <div>
                                <label class="control-label small">Yes</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Facility Name</label>
                            <div>
                                <label class="control-label small">Access2 Care</label>
                            </div>   
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone</label>
                            <div>
                                <label class="control-label small">+91 523698741</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Address</label>
                            <div>
                                <label class="control-label small">Concord Street</label>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>City</label>
                            <div>
                                <label class="control-label small">Spring Hill</label>
                            </div>  
                        </div>
                        <div class="col-md-4">
                            <label>State</label>
                            <div>
                                <label class="control-label small">Florida</label>
                            </div>                            
                        </div>
                        <div class="col-md-4">
                            <label>Zip</label>
                            <div>
                                <label class="control-label small">560032</label>
                            </div>   
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label>Do you perform surgical or any other types of procedures in your office?</label>
                            <div>
                                <label class="control-label small">Yes</label>
                            </div>   
                        </div>
                        <div class="col-md-12">
                            <label>List All</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>   
                            <div>
                                <label class="control-label small">-</label>
                            </div>   
                        </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />                       
                    </div>
            </div>
        </div>
    </div>
@*</div>*@

