
<div>
    @***************Credentialing Contact Edit*********************************@
    <fieldset class="fsStyle" id="AddEditCredentialingContact">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span>EDIT Credentialing Contact</span>
            </span>
        </legend>

        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">FIRST NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="BEN" placeholder="Enter First Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">MIDDLE NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="MARK" placeholder="Enter Middle Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">LAST NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="TENNISON" placeholder="Enter Last Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">TEL NUMBER</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="+1-3527990046" placeholder="Enter Telephone Number" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">FAX</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="+1-3527990042" placeholder="Enter Fax Number" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">EMAIL ID</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="CREDENTIALING@ACCESSHEALTHCARELLC.NET" placeholder="Enter Email ID" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">STREET</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="14690 SPRING HILL DRIVE" placeholder="Enter Street Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">SUITE/BUILDING</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="SUITE 101" placeholder="Enter Building Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">CITY</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="SPRING HILL" placeholder="Enter City" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">STATE</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="FLORIDA" placeholder="Enter State" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">ZIP CODE</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="34609-8102" placeholder="Enter Zip Code" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">COUNTRY</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="UNITED STATES" placeholder="Enter Country" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">COUNTY</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="HERNANDO" placeholder="Enter County" required />
                </span>
            </div>

        </div>

        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <button class="btn btn-success yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetViewCredentialingContact" data-tab-container="PLCredentialingContactDetails" value="">Save</button>
            <button class="btn btn-danger yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetViewCredentialingContact" data-tab-container="PLCredentialingContactDetails" value="">Cancel</button>
        </div>
    </fieldset>
</div>