@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/Content/calendar.min.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/SmartTable.css" rel="stylesheet" />
    <link href="~/Content/toaster.css" rel="stylesheet" />
    <link href="~/Content/nvd3/nv.d3.min.css" rel="stylesheet" />
    <link href="~/Content/CCMDashboard/CCMDashboard.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/tableExportnigraj.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/jquery.base64.js"></script>
    <script src="~/Scripts/Lib/pdfGeneration/html2canvas.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/sprintf.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/jspdf.js"></script>
    <script src="~/Scripts/Lib/ngiriraj/base64.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/Lib/Angular/toaster.js"></script>
    <script src="~/Scripts/Lib/Angular/smart-table.js"></script>
    <script src="~/Scripts/calendar-tpls.min.js"></script>
    <script src="~/Scripts/Lib/Angular/d3.min.js"></script>
    <script src="~/Scripts/Lib/Angular/nv.d3.min.js"></script>
    <script src="~/Scripts/Lib/angularjs-ncd-directive/angular-nvd3.min.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMApp.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMServices.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMFactories.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMDirectives.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMFiltters.js"></script>
    <script src="~/Areas/Credentialing/Scripts/CCMdashboard/CCMController.js"></script>
}


<div id="page-wrapper" ng-app="CCMDashboard">
    <toaster-container toaster-options="{'time-out': 2000,'position-class': 'toast-top-right','close-button':true}"></toaster-container>
    <div class="container-fluid" ng-controller="CCMDashboardController as pc" ng-init="MasterData()" ng-cloak>
        <!-- Page Heading -->
        <div class="row" ng-cloak>
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-list-alt"></i> CCM Credentialing Action
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="Biscuits" class="col-lg-12 zero-padding-left-right margin_top_6px">

                            <biscuit-tile action-type="Total" grid-data="GridData('Total')" biscuit-id="TotalAppointment" biscuit-title="Appointment" biscuit-value="100" biscuit-color="blue" biscuit-symbol="Total"></biscuit-tile>
                            <biscuit-tile action-type="Approved" grid-data="GridData('Approved')" biscuit-id="Approved" biscuit-title="Approved" biscuit-value="70" biscuit-color="green" biscuit-symbol="Approved"></biscuit-tile>
                            <biscuit-tile action-type="Rejected" grid-data="GridData('Rejected')" biscuit-id="Rejected" biscuit-title="Rejected" biscuit-value="20" biscuit-color="time" biscuit-symbol="Rejected"></biscuit-tile>
                            <biscuit-tile action-type="Pending" grid-data="GridData('Pending')" biscuit-id="Pending" biscuit-title="Pending" biscuit-value="10" biscuit-color="sea" biscuit-symbol="Pending"></biscuit-tile>

                        </div>
                        <div class="clearfix">

                        </div>
                        <div @*ng-if="TempObjectForStatus.CredebtailingApprovalReqest"*@>
                            <div class="col-lg-4 zero-padding-left-right">
                                <div class="col-lg-2 zero-padding-left-right">
                                    <button class="btn" style="background-color: #464957; border-color: #337AB7; color:white" data-toggle="tooltip" data-placement="top" ng-click="GridView=!GridView" title="Statistics"><span><i class="fa fa-bar-chart bigger-120"></i></span></button>
                                </div>
                                <div class="col-lg-10">
                                    <div class="input-group stylish-input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 tripijodal">
                                <i class="fa" ng-class="{'fa-users': tableCaption == 'Appointments','fa-check': tableCaption == 'Approved','fa-ban': tableCaption == 'Rejected','fa-exclamation-circle': tableCaption == 'Pending'}"></i> {{tableCaption}}
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group btn-group-md pull-right">
                                    <a class="btn btn-white" style="margin-left: 2px;color:orange" data-toggle="tooltip" data-placement="top" title="Export CSV" ng-click="TableExport('CSV','#CCMGrid')"><span><i class="fa fa-file-code-o bigger-120"></i></span></a>
                                    <a class="btn btn-white" style="margin-left: 2px; color: green; " data-toggle="tooltip" data-placement="top" title="Export Excel" ng-click="TableExport('Excel','#CCMGrid')"><span><i class="fa fa-file-excel-o bigger-120"></i></span></a>
                                    <a class="btn btn-white" style="margin-left: 2px; color: red; " data-toggle="tooltip" data-placement="top" title="Export to PDF" ng-click="TableExport('Pdf','#CCMGrid')"><span><i class="fa fa-file-pdf-o bigger-120"></i></span></a>
                                    <a class="btn btn-white" style="margin-left: 2px; color: grey; " data-toggle="tooltip" data-placement="top" title="Print"><span><i class="fa fa-print bigger-120"></i></span></a>
                                </div>
                            </div>
                            <div class="clearfix">

                            </div>
                            <div ng-show="GridView">
                                <table id="CCMGrid" class="table table-hover divborder" st-pipe="pc.callServer" st-table="pc.displayed" st-safe-src="CCMAppointments">
                                    <thead style="background-color: #464957; border-color: #337AB7; color:white">
                                        <tr style="cursor:pointer">
                                            <th st-sort="ProviderName" class="col-lg-2">Provider name</th>
                                            <th st-sort="Specialty" class="col-lg-2">Specialty</th>
                                            <th st-sort="PlanName" class="col-lg-2">Plan</th>
                                            <th st-sort="CredInitiationDate" class="col-lg-2">Initiation Date</th>
                                            <th st-sort="AppointmentDate" class="col-lg-1">Appointment</th>
                                            <th st-sort="RecommendedLevel" class="col-lg-1">Level</th>
                                            <th st-sort="Status" class="col-lg-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="!pc.isLoading">
                                        <tr ng-repeat="appointment in pc.displayed track by $index" id="firstrow" style="cursor:pointer" ng-click="CheckStatus(appointment)" ng-style="appointment.SelectStatus ? { 'background-color':'rgb(114, 58, 115)',color:'white','font-weight':'bold' } : {'background-color':'white',color:'black'}">
                                            <td class="col-lg-2 wrap-words">{{appointment.ProviderName || 'Not Available'}}</td>
                                            <td class="col-lg-2 wrap-words">{{appointment.Specialty || 'Not Available'}}</td>
                                            <td class="col-lg-2 wrap-words">{{appointment.PlanName || 'Not Available'}}</td>
                                            <td class="col-lg-2 wrap-words">{{appointment.CredInitiationDate | date:"MM/dd/yyyy" || 'Not Available'}}</td>
                                            <td class="col-lg-1 wrap-words">{{appointment.AppointmentDate | date:"MM/dd/yyyy" || 'Not Available'}}</td>
                                            <td class="col-lg-1 wrap-words">{{appointment.RecommendedLevel || 'Not Available'}}</td>
                                            <td class="col-lg-2 wrap-words">{{appointment.Status || 'Not Available'}}<span ng-show="appointment.SelectStatus"> <i class="fa fa-check"></i></span></td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-show="pc.isLoading">
                                        <tr>
                                            <td colspan="7" class="text-center">
                                                <div class="loading-indicator"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td id="PaginationCss" style="cursor:pointer" class="text-center" st-pagination="" st-items-by-page="10" colspan="7"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div ng-show="!GridView">
                            <div class="panel" style="border: 3px solid rgba(13, 1, 25, 0.4); border-radius: 3px; background-color: #FFF;">
                                <div class="panel-heading" style="background-color: #464957; border-color: #337AB7;color:white">
                                    <h3 class="panel-title">
                                        Statistics
                                        <span class="pull-right"><img src="~/Content/Images/svg-loaders/ball-triangle.svg" alt="" height="15"></span>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <nvd3 options="options" data="data"></nvd3>
                                </div>
                            </div>
                        </div>
                        <div ng-show="!GridView">
                            <div class="panel" style="border: 3px solid rgba(13, 1, 25, 0.4); border-radius: 3px; background-color: #FFF;">
                                <div class="panel-heading" style="background-color: #464957; border-color: #337AB7;color:white">
                                    <h3 class="panel-title">
                                        Statistics
                                        <span class="pull-right"><img src="~/Content/Images/svg-loaders/ball-triangle.svg" alt="" height="15"></span>
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <nvd3 options="options1" data="data1"></nvd3>
                                </div>
                            </div>
                        </div>
                        <div @*ng-if="TempObjectForStatus.AppointmentDashboard"*@>
                            @Html.Partial("~/Areas/Credentialing/Views/CCMPortal/_CalendarDashboard.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>