@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.CitizenshipInformationViewModel
  

<div class="col-lg-12 nopadding" id="CetizienInformationDiv">

    @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/Demographics/CetizienInformation/_ViewCitizenInformation.cshtml", Model)

</div>
