
    .labelheader {
        padding-left: 135px;
    }

    .p_panel {
        height: 100%;
        background: #ffffff;
        border: 0.1px solid #eee;
    }

       .p_panel_header {
            padding: 2px;
        }

       .p_panel_header label {
                font-size: 15px;
                font-weight: 700;
                margin-left: 12px;
            }

       .p_panel_body {
            padding: 2px;
        }
    .p_scheules {
    margin-top:-5px;
    }
    .pointer
    {
        cursor:pointer;
    }
    .viewcss {
        padding: 10px;
        text-decoration: none;
    }
    legend.legendstyle {
        font-size: 12px;
        color: rgb(67, 102, 160);
        background-color: white;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
         width:auto;
    border-bottom:0px;
    margin-bottom:0px;
    }

    fieldset.fieldsetStyle {
        font-weight: normal;
        border: 1px solid #d4c9c9;
        margin-top: 1% !important;
        padding: 4px;
        margin: 5px;
    }
    /*td {
        text-transform: capitalize;
    }*/
    button.biscuit {
        min-height: 65px;
        min-width: 10px;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        text-transform: none;
        position: relative;
        cursor: pointer;
        border-radius: 0px !important;
        font-weight: 600;
        margin-bottom: 20px !important;
        white-space: normal;
        cursor: pointer;
        outline: none;
        padding: 0px;
        transition: all 0.3s linear;
    }
    /*bottle Green Biscuit*/
        .p_biscit_outerColor_green {
            color: #43a047;
            background-color: #fff;
            border: 1px solid #43a047;
            box-shadow: inset 0 0 0 #1b5e20, 0 5px 0 0 #1b5e20, 0 5px 5px #999;
        }

        .p_biscit_outerColor_green:hover {
            background-color: #43a047;
        }

        .p_biscit_outerColor_green:active {
            background-color: #43a047;
            box-shadow: 0 5px #1b5e20;
            transform: translateY(4px);
        }

    /* blue Biscuit*/
    .p_biscit_outerColor_blue {
        color: #0288d1;
        background-color: #fff;
        border: 1px solid #0288d1;
        box-shadow: inset 0 0 0 #01579b, 0 5px 0 0 #01579b, 0 5px 5px #999;
    }

        .p_biscit_outerColor_blue:hover {
            background-color: #019ef3;
            box-shadow: inset 0 0 0 #0288d1, 0 5px 0 0 #0288d1, 0 5px 5px #999;
        }

        .p_biscit_outerColor_blue:active {
            background-color: #019ef3;
            box-shadow: 0 5px #0288d1;
            transform: translateY(4px);
        }

    /* blue Biscuit*/
    .p_biscit_outerColor_red {
        color: rgba(240,47,23,1);
        background-color: #fff;
        border: 1px solid rgba(240,47,23,1);
        box-shadow: inset 0 0 0 rgba(240,47,23,1), 0 5px 0 0 rgba(240,47,23,1), 0 5px 5px #999;
    }

        .p_biscit_outerColor_red:hover {
            background-color: rgb(245, 80, 59);
            box-shadow: inset 0 0 0 rgba(240,47,23,1), 0 5px 0 0 rgba(240,47,23,1), 0 5px 5px #999;
        }

        .p_biscit_outerColor_red:active {
            background-color: rgb(245, 80, 59);
            box-shadow: 0 5px rgba(240,47,23,1);
            transform: translateY(4px);
        }

    /* Yellow Biscuit*/
    .p_biscit_outerColor_yellow {
        color: #d6941c;
        background-color: #fff;
        border: 1px solid #d6941c;
        box-shadow: inset 0 0 0 #d6941c, 0 5px 0 0 #d6941c, 0 5px 5px #999;
    }

        .p_biscit_outerColor_yellow:hover {
            background-color: #fbb045;
            box-shadow: inset 0 0 0 #d6941c, 0 5px 0 0 #d6941c, 0 5px 5px #999;
        }

        .p_biscit_outerColor_yellow:active {
            background-color: #fbb045;
            box-shadow: 0 5px #d6941c;
            transform: translateY(4px);
        }

    /* Royal Blue Biscuit*/
    .p_biscit_outerColor_rblue {
        color: #314fa7;
        background-color: #fff;
        border: 1px solid #4169E1;
        box-shadow: inset 0 0 0 #314fa7, 0 5px 0 0 #314fa7, 0 5px 5px #999;
    }

        .p_biscit_outerColor_rblue:hover {
            background-color: #4169E1;
            box-shadow: inset 0 0 0 #314fa7, 0 5px 0 0 #314fa7, 0 5px 5px #999;
        }

        .p_biscit_outerColor_rblue:active {
            background-color: #4169E1;
            box-shadow: 0 5px #314fa7;
            transform: translateY(4px);
        }


    /* orange Biscuit*/
    .p_biscit_outerColor_orange {
        color: #ff6000;
        background-color: #fff;
        border: 1px solid #ff6000;
        box-shadow: inset 0 0 0 #ff6000, 0 5px 0 0 #ff6000, 0 5px 5px #999;
    }

        .p_biscit_outerColor_orange:hover {
            background-color: rgba(232, 124, 58, 0.88);
            box-shadow: inset 0 0 0 #ff6000, 0 5px 0 0 #ff6000, 0 5px 5px #999;
        }

        .p_biscit_outerColor_orange:active {
            background-color: rgba(232, 124, 58, 0.88);
            box-shadow: 0 5px #ff6000;
            transform: translateY(4px);
        }

    /* normal green Biscuit*/
    .p_biscit_outerColor_ngreen {
        color: #66b553;
        background-color: #fff;
        border: 1px solid #66b553;
        box-shadow: inset 0 0 0 #66b553, 0 5px 0 0 #66b553, 0 5px 5px #999;
    }

        .p_biscit_outerColor_ngreen:hover {
            background-color: #40c357;
            box-shadow: inset 0 0 0 #66b553, 0 5px 0 0 #66b553, 0 5px 5px #999;
        }

        .p_biscit_outerColor_ngreen:active {
            background-color: #40c357;
            box-shadow: 0 5px #66b553;
            transform: translateY(4px);
        }

        .Coding_dashboard_filter
        {
            display:none;
        }


        .P_zero-padding-left-right
        {
            padding-left:5PX;
            padding-right:5px;
        }
.btn
{
    border-radius:0px;
}


li.mainnav a {
    padding: 8px 20px;
    text-decoration:none;
}

    li.mainnav a:hover {
    text-decoration:none;
    }

        ul.nav.nav-tabs.navul {
    margin-top: 5px;
}