@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Index";
}
@section AddToHead{
    <link href="~/Content/SharedCss/app.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/AHC_Lib/UtilDirectivesLib.js"></script>
    <script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="~/Scripts/Custom/MasterDataNew/NotesTemplate.js"></script>
}
<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                        <i class="fa fa-list"></i> Notes Template
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="NotesTemplates" ng-controller="NotesTemplateController" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Notes Template Management
                        <span class="pull-right">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                if (roles.Contains("CRA"))
                                {
                                    <button ng-disabled="disableAdd" ng-click="addNotesTemplate()" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add</button>
                                }
                            }
                            
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="activeMessageDiv=='NotesTemplates'" class="alert alert-success" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                            {{messageDesc}}
                        </div>
                        <div class="clearfix"></div><br />
                        <div ng-show="activeMessageDiv=='NotesTemplatesError'" class="alert alert-danger" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                            {{messageDesc}}
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Template Code *</th>
                                    <th>Description*</th>
                                    <th>Last Modified Date</th>
                                    
                                    <th>Action</th>
                                </tr>
                                <tr ng-show="NotesTemplates.length>0">
                                    <td><input type="text" placeholder="Filter Code" class="form-control input-sm" ng-model="search.Code" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Description" class="form-control input-sm" ng-model="search.Description" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter LastModifiedDate" class="form-control input-sm" ng-model="search.LastModifiedDate" ng-change="filterData()" /></td>

                                    <td></td>
                                </tr>
                            </thead>
                            <tbody ng-show="NotesTemplates.length>0">
                                <tr ng-repeat="Notes in NotesTemplatesData=(NotesTemplates | filter:{Code:search.Code,Description:search.Description,LastModifiedDate:search.LastModifiedDate}) track by $index" ng-include="getTemplate(Notes)" ng-show="IsValidIndex($index)"></tr>
                            </tbody>
                            <tbody ng-show="NotesTemplatesData.length==0 || NotesTemplates.length==0 ">
                                <tr class="text-center">
                                    <td colspan="7"><b>No Data Available</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <script type="text/ng-template" id="displayNotesTemplates">
                            <td>{{Notes.Code}}</td>
                            <td>{{Notes.Description}}</td>
                            <td>{{Notes.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                           
                            <td>
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                    if (roles.Contains("CRA"))
                                    {
                                        <button ng-disabled="disableEdit" ng-click="editNotesTemplates(Notes)" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="right" title="Edit"><i class="fa fa-edit"></i></button>
                                        <button ng-disabled="disableDelete" ng-click="RemoveNotesTemplate(Notes.NotesTemplateID)" class="btn btn-xs btn-primary btn-danger" tooltip data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-remove"></i></button>
                                    }
                                }

                            </td>
                        </script>
                        <script type="text/ng-template" id="editNotesTemplates">
                            <td>
                                <input type="text" class="form-group form-control input-sm inputMarginBottoomZero" ng-model="tempNotesTemplates.Code" ng-disabled="disablecode" />
                                <span class="text-danger" name="title" ng-if="error && !tempNotesTemplates.Code">{{error1}}</span>
                                <span class="text-danger" name="title" ng-if="existErr && tempNotesTemplates.Code">{{existErr}}</span>
                            </td>
                            <td>
                                <input type="text" class="form-group form-control input-sm inputMarginBottoomZero" ng-model="tempNotesTemplates.Description" />
                                <span class="text-danger" name="title" ng-if="error && !tempNotesTemplates.Description">{{error}}</span>
                                @*<span class="text-danger" name="title" ng-if="existErr && tempNotesTemplates.Description">{{existErr}}</span>*@
                            </td>

                            <td>{{tempNotesTemplates.LastModifiedDate   | date : 'MM-dd-yyyy'}}</td>
                           
                            <td>
                                <button ng-if="!tempNotesTemplates.NotesTemplateID" ng-click="saveNotesTemplates($index)" class="btn btn-xs btn-primary">Save</button>
                                <button ng-if="tempNotesTemplates.NotesTemplateID" ng-click="updateNotesTemplate($index)" class="btn btn-xs btn-primary">Update</button>
                                <button ng-if="tempNotesTemplates.NotesTemplateID" ng-click="reset()" class="btn btn-xs btn-warning">Cancel</button>
                                <button ng-if="!tempNotesTemplates.NotesTemplateID" ng-click="cancelAdd()" class="btn btn-xs btn-warning">Cancel</button>
                            </td>
                        </script>
                        <div class="clearfix"></div>
                        <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                        <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>

