<div id="authChangeButtons" class="margin_top_20_px button-styles pull-right">
    @Html.TextBox("creatependbutton", "PEND", new { @class = "btn btn-primary create-auth-btn pend_auth-button bold_text loser_field", onclick = "pendCreateAuthorizations()", @type = "button" })
    @Html.TextBox("createreferbutton", "REFER", new { @class = "btn btn-warning create-auth-btn referapprove_auth_button bold_text loser_field", @type = "button" })
    @Html.TextBox("createapprovebutton", "APPROVE", new { @class = "btn btn-success create-auth-btn referapprove_auth_button bold_text loser_field", onclick = "showModal()", @type = "button" })
    @*<button type="submit" onclick="validateForm()">Submit</button>*@
</div>