@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel

<div class="col-lg-12 zero-padding-left-right">
    <fieldset class="fsStyle" id="ODAGArea">
        <legend class="legendStyle">
            <span class="theme_depend_Odag text-uppercase odagClicker cursor_pointer create-auth-legends" id="collapse-link-odag">
                <span class="transparent-font-color" style="color:transparent !important;">_</span>
            ODAG Questionnaire <i id="ODAGChevron" class="fa fa-chevron-down"></i>&nbsp;
            </span>
        </legend>
        <div class="x_content zero-padding-left" id="ODAGContainerDiv">
            @Html.Partial("~/Areas/UM/Views/Common/Odag/_ODAG.cshtml", ViewData["MasterODAG"])
        </div>
        <div class="clearfix"></div>
    </fieldset>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>