@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.CPTPreviewViewModel
@using PortalTemplate.Helper

<td>@Html.DisplayFor(m => m.CPTCodeModifier)</td>
<td>
   
    <label class="theme_label_data width-inherit" ><div class="td-ellipsis" data-container="body" data-toggle="popover" data-trigger="hover" data-html="true" data-title="@Html.ShortNameFor(m => m.CPTDesc)" data-placement="top" data-content="@Html.DisplayFor(m => m.CPTDesc)"><span> @Html.DisplayFor(m => m.CPTDesc)</span></div></label>


</td>



