@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.CPTPreviewViewModel

<td >@Html.DisplayFor(m => m.CPTCodeModifier)</td>
<td >@Html.DisplayFor(m => m.POSSpecificCPTDesc)</td>
<td >@Html.DisplayFor(m => m.TotalUnits)</td>
