.x-dtablist {
    display: block;
    width: 100%;
}

#no-data-available-row td{
    text-align:center !important;
}
/*Margin top and bottom for Member Information table in profile*/
.margin-top-bottom {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.memberInfoTable_Profile > thead > tr > th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.memberInfoTable_Profile > tbody > tr > td {
    padding-top: 1px !important;
    padding-bottom: 0px !important;
}

.memberProfileTabsContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.margin-top-9px{
    margin-top:9px !important;
}

    .memberProfileTabsContainer::-webkit-scrollbar {
        height: 0;
        width: 0;
    }



.no_underline, .no_underline:hover, .no_underline:active {
    text-decoration: none;
}


/*------------*/
table.OtherDX > thead > tr > th {
    text-align: left;
}

table.OtherDX > tbody > tr > td {
    text-align: left;
}

span.label label-danger {
    margin-bottom: 2px;
}


.admission_section_review {
    background: #3658a0;
    color: #fff;
    margin-bottom: 2%;
    margin-left: -7px;
}

.custommembertab-content {
    display: none;
    min-height: 300px;
}

#ProviderInformation-memberTab {
    display: block;
}

.selected-status {
    color: #ffffff;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 6px;
    position: relative;
    pointer-events: none;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .selected-status:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0;
        border-top: 27px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 32px solid #2cb5e8;
        right: -28px;
        top: 0px;
    }

.border_on_panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #ddd;
    border-radius: 1px;
}

.table-nowrap {
    table-layout: fixed;
}

    .table-nowrap td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-nowrap > thead > tr:after {
        content: "";
    }

    .table-nowrap > thead > tr > th {
        padding: 8px;
        border-bottom: 2px solid #49739e !important;
    }

    .table-nowrap > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
    }

        .table-nowrap > tbody > tr > td > button.editbtn {
            position: relative;
            vertical-align: top;
            width: 40px;
            height: 22px;
            padding: 1px 4px 1px 2px;
            font-size: 9px;
            font-weight: 600;
            color: white;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            background: #3498db;
            border: 0;
            border-bottom: 4px solid #065890;
            cursor: pointer;
            -webkit-box-shadow: inset 0 -2px #2a8bcc;
            box-shadow: inset 0 -2px #2a8bcc;
            border-radius: 0px;
        }

.TableTitle {
    text-align: left;
}

.x_title {
    border-bottom: none !important;
    padding: 1px 1px 0px;
    margin-bottom: 0% !important;
    color: white;
}

.panelheight {
    /*height: 800px;*/
}

/* #Belize Hole Sea Flat Button
==================================================*/
.belize-hole-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2980b9;
    border: 0;
    border-bottom: 2px solid #2475ab;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;
}

    .belize-hole-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.lengthofstaybadge {
    color: aliceblue;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #009688;
    border-radius: 10px;
}

.ReviewUpload > a {
    margin-right: 5px;
}

/*=================Document Section==============*/
.DocumentsBtn {
    cursor: pointer;
    position: fixed;
    z-index: 92;
    padding: 2px;
    background-color: none;
    top: 379px;
    right: 0px;
}

.DocumentContainer {
    top: 350px;
    right: 0px;
    position: fixed;
    width: 0%;
    height: 78%;
    z-index: 89;
    transition: all 500ms ease;
}

.ChangeWidthOfDocumentConainer {
    width: 84.3%;
}

fieldset.member-Style {
    font-weight: normal;
    border: 1px solid #3e60a8;
    /*margin-top: 1.7% !important;*/
    padding: 4px;
    margin: 5px;
}

.member-Style table {
    margin-bottom: 0 !important;
}

fieldset.fsStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    padding: 4px;
    margin-top: 5px;
}

legend.legendStyle {
    font-size: 12px;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
}

.legendStyle > span {
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

legend {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
}

.legend2 {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;
}

.legendStyle2 > span {
    color: rgb(9, 65, 122);
    margin-left: 5px;
    margin-right: 5px;
}

/**=============Existing UM=============**/
.memberinfotable > thead > tr > th {
    color: black;
    font-size: 11px;
    font-weight: 500;
    border-bottom: 2px solid #488EA0 !important;
    text-transform: uppercase;
}

.memberinfotable > tbody > tr > td {
    color: black;
    font-size: 11px;
    font-weight: 500;
    border-bottom: 2px solid #488EA0 !important;
    text-transform: uppercase;
}

.memberinfotable > tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customul > li.active > a {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    text-decoration: none;
    padding: 5px 15px 4px;
}

.contacts-tablediv {
    margin-top: 0.6%;
    text-transform: uppercase;
}

    .contacts-tablediv table {
        margin-left: 0%;
    }

.attachments-tablediv {
    margin-top: 0.6%;
    text-transform: uppercase;
}

    .attachments-tablediv table {
        margin-left: 0%;
    }

.tableview-notes {
    margin-top: 0.6%;
    text-transform: uppercase;
}

    .tableview-notes table {
        margin-left: 0%;
    }

/*=======================TABS======================*/
/*.memberTabsPadding{
    padding-bottom: 10%;
}*/
.checkbox-input-notes {
    position: absolute;
    opacity: 0;
}

.button-styles-in-tabs {
    width: auto;
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    font-weight: bold !important;
}

.noDataAvb {
    text-align: center;
    font-weight: 600;
}

.memberTab_sectionsDiv > fieldset.fsStyle {
    margin-bottom: 5px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.memberTab_sectionsDiv > div.x-panel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.print_button_beside_member_table {
    position: absolute;
    right: 7px;
    top: 41px;
    z-index: 1;
}
/*====================SCROLL BUTTON============================*/
.left-scroll-button-tab {
    position: absolute;
    background-color: rgba(208,208,208,1);
    height: 34px;
    top: 5px;
    left: -3px;
    z-index: 1;
    width: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

    .left-scroll-button-tab:hover {
        background-color: rgba(0,0,0,0.9);
    }

.right-scroll-button-tab {
    position: absolute;
    background-color: rgba(208,208,208,1);
    height: 34px;
    top: 5px;
    right: -3px;
    z-index: 1;
    width: 18px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

    .right-scroll-button-tab:hover {
        background-color: rgba(0,0,0,0.9);
    }

.scroll-icon-left-tab {
    position: relative;
    color: white;
    top: 7px;
    left: 3px;
}

.scroll-icon-right-tab {
    position: relative;
    color: white;
    top: 7px;
    left: 5px;
}

#MemberProfile .inc-fax, #MemberProfile .edit_note_btn, #MemberProfile .delete_note_btn,#MemberProfile .editauthcontact,#MemberProfile .delete_contact_btn,#MemberProfile .view_contact_btn,#MemberProfile .view_note_btn,#MemberProfile .add_note_btn,#MemberProfile .add_contact_btn{
    display: none !important;
}