<div  class="col-lg-12 ">
    <div class="box box-info">
        <div class=" contentCenter">
            <div class="headline1">Summary</div>
        </div>
        <div class="box-body">
            <!--Action Tab-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Action List</div>
                    <div class="box-body">
                        <div class="col-lg-6">
                            <ul>
                                <li>Create Task</li>
                                <li>Perform PSV</li>
                                <li>Export Summary</li>
                                <li>Export to Form</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>Initiate Credentialing</li>
                                <li>Add Document</li>
                                <li>Export Profile</li>
                                <li>Add Note</li>
                            </ul>
                        </div>
                    </div>                
                </div>
            </div>  
            <!--Profile Status Tab-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Profile Status</div>
                    <div class="box-body">
                        <div class="col-lg-6"><label>PSV : 06/08/2014</label></div>
                        <div class="col-lg-6"><label>Profile Status : Complete</label></div>
                        <div class="col-lg-6"><label>Active Contracts: 41</label></div>
                        <div class="col-lg-6"><label>Inactive Contracts: 41</label></div>
                        <div class="contentCenter subheadline1">Suggested Actions</div>
                        <ul>
                            <li><input type="checkbox" name="vehicle" value="Bike"> Update Contract Grid        </li>
                            <li><input type="checkbox" name="vehicle" value="Bike"> Upload ABMS Document        </li>
                            <li><input type="checkbox" name="vehicle" value="Bike"> Renew Florida State License </li>
                            <li><input type="checkbox" name="vehicle" value="Bike"> Perform New PSV             </li>
                        </ul>

                    </div>
                </div>
            </div>  
            <!--Missing Data/Document Status-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Data/Document Status</div>
                    <div class="box-body">
                         <ul>
                            <li> Renewed State License Document        </li>
                            <li>Federal DEA supporting Document  </li>
                            <li> Medicare Informatio Data </li>
                            <li> Practice Location Details  </li>
                        </ul>

                    </div>
                </div>
            </div> 
            <!--Recent Completed Tasks Status-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Recent Tasks</div>
                    <div class="box-body">
                        <ul>
                            <li>Updated DEA License Information</li>
                            <li>Updated Contract Grid</li>
                            <li>Initiated Re-Credentialing</li>
                            <li>Uploaded DEA Supporting Document </li>
                        </ul>

                    </div>
                </div>
            </div> 
            <!--Provider Identifications Status-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Provider Identifications</div>
                    <div class="box-body">
                       <div class="col-lg-6">
                           <div class="contentCenter"><label>NPI</label></div>
                       </div>
                        <div class="col-lg-6">
                            <div class="contentCenter"><label>CAQH</label></div>
                        </div>
                        <div class="col-lg-6">
                            <label>NUMBER : 45154651578</label>
                            <label>USERNAME : Smith_John</label>
                            <label>PASSWORD : Smith_John</label>
                        </div>
                        <div class="col-lg-6">
                            <label>NUMBER : 457745415</label>
                            <label>USERNAME : Smith_John</label>
                            <label>PASSWORD : Smith_John</label>
                        </div>

                    </div>
                </div>
            </div>   
            <!--Payor List Tab-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="contentCenter subheadline1">Payor List</div>
                    <div class="box-body">
                        <div class="col-lg-12">
                            <ul>
                                <li class="col-lg-6">Value Options</li>
                                <li class="col-lg-6">AETNA</li>
                                <li class="col-lg-6">Medicare Risk</li>
                                <li class="col-lg-6">Life Health</li>
                                <li class="col-lg-12">Optum( New United Health Care)</li>
                                <li class="col-lg-6">New Life Insurance</li>
                                <li class="col-lg-6">United Health Care</li>
                                <li class="col-lg-6">AETNA 2</li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>