<fieldset class="member-Style">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">Personal Details</span>
    </legend>
    <label class="col-lg-3">Salutation : Mr.</label>
    <label class="col-lg-3">First Name : John</label>
    <label class="col-lg-3">Middle Name : N/A</label>
    <label class="col-lg-3">Last Name : Smith</label>
    <label class="col-lg-3">Gender : Male</label>
    <label class="col-lg-3">Suffix : John</label>
    <label class="col-lg-3">Martial Status : Married</label>
    <label class="col-lg-3">Provider Level : Doctor</label>
    <label class="col-lg-3">Provider Type : ARNP</label>
    <label class="col-lg-3">Provider Title : N/A</label>
        @*<table class="table table-white zero-padding-left-right alignLeftTable noBorderTable zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
                    <thead class="text-uppercase">
                        <tr>
        
                            <th class="width_14">ADDRESS</th>
                            <th class="width_11">CITY</th>
                            <th class="width_5">STATE</th>
                            <th class="width_12">PHONE</th>
                            <th class="width_9">CELL</th>
                            <th class="width_9">EMAIL</th>
                            <th class="width_5">ZIP</th>
                            <th class="width_11">GRP/PLAN</th>
                            <th class="width_9">SUB-GRP</th>
                            <th class="width_9">EFF</th>
                            <th class="width_6">STATUS</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase">
                        <tr>
                            <td>OAK HILL 5446</td>
                            <td>TAMPA</td>
                            <td>FLORIDA</td>
                            <td>(957) 011-9586</td>
                            <td>-</td>
                            <td>-</td>
                            <td>23976</td>
                            <td>UNI/ULTIMATE</td>
                            <td>-</td>
                            <td>01/01/2014</td>
                            <td>ACTIVE</td>
                        </tr>
                    </tbody>
                </table>*@
</fieldset>
<fieldset class="member-Style">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">Other Legal Names</span>
    </legend>
    <label class="col-lg-4">Have You Used Other Legal Names ?</label>
    <label class="col-lg-3">
        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio">No</label>
    </label>
    <label>Other Legal Name : ASHWIN</label>

</fieldset>
<div class="col-lg-12">

    <div class="col-lg-6 ">
        <fieldset class="member-Style zero-padding-left-right">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase">Other Legal Names</span>
            </legend>
            <table class="table table-white zero-padding-left-right alignLeftTable noBorderTable zero-margin-top-bottom-hr wrap-words custom-thead-back custom-thead-font custom-tbody">
                <thead class="text-uppercase">
                    <tr>
                        <th class="width_14">Street/PO BOX</th>
                        <th class="width_11">Apartment/Unit Number</th>
                        <th class="width_5">City</th>
                        <th class="width_12">State</th>
                        <th class="width_9">Zip</th>
                        <th class="width_9">Action</th>

                    </tr>
                </thead>
                <tbody class="text-uppercase">
                    <tr>
                        <td>1902-PORT SAINT</td>
                        <td>45</td>
                        <td>TAMPA</td>
                        <td>FLORIDA</td>
                        <td>564586</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
<div class="col-lg-6">
    <fieldset class="member-Style zero-padding-left-right">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Other Legal Names</span>
        </legend>
        <label class="col-lg-6">Home Phone : +1 - 456578951</label>
        <label class="col-lg-6">Home Fax : +1 - 3123425125</label>
        <label class="col-lg-6">Mobile : +1 - 124563818</label>
        <label class="col-lg-6">Pager : 4515467</label>
        <label class="col-lg-6">Email Id : smithJohn@yahoo.com</label>
        <label class="col-lg-6">Preferred Method : Email</label>
    </fieldset>
</div>
</div>
<div class="col-lg-6">
    <fieldset class="member-Style">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Birth Information</span>
        </legend>
        <label class="col-lg-4">Date Of Birth : 2/22/1980</label>
        <label class="col-lg-4">City Of Birth : New Jersey</label>
        <label class="col-lg-4">County : Tampa</label>
        <label class="col-lg-4">State Of Birth : Florida</label>
        <label class="col-lg-4">Document : N/A</label>
    </fieldset>
</div>
<div class="col-lg-6">
    <fieldset class="member-Style">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">Languages Known</span>
        </legend>
        <div class="col-lg-12">
            <label class="col-lg-12">Are You Citizen Of US : 
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
                <label>Reason : </label>
             </label>
            @*<label class="col-lg-6">
               
            </label>*@
        </div>
        <div class="col-lg-12">
            <label class="col-lg-12">
                Are You Authorize to work in US?
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
                <label>Reason : </label>
            </label>
            @*<label class="col-lg-12">Are You Authorize to work in US?</label>
            <label class="col-lg-6">
                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                <label class="radio-inline"><input type="radio" name="optradio">No</label>
            </label>
            <label class="col-lg-5">Reason : </label>*@
        </div>
    </fieldset>

</div>
