


<div class="col-lg-12 ">
    <div class="box box-info">
        <div class=" contentCenter">
            <div class="headline1">Work History</div>
        </div>
        <div class="box-body">
          
            <!--Work Experience Tab-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Professional Work Experience</div>
                    <div id="WorkExperienceTable" class="box-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Employer Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Job Title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MEDICAL RESOURCES</td>
                                    <td>12/04/2005</td>
                                    <td>10/22/2008</td>
                                    <td>MEDICAL</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>MOONDRA MAHESH</td>
                                    <td>07/04/2012</td>
                                    <td>01/12/2013</td>
                                    <td>MD</td>
                                    <td>N/A</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Military Service Information Tab-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Military Service Information</div>
                    <div id="MilitaryServiceTable" class="box-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Military Branch</th>
                                    <th>Rank At Discharge</th>
                                    <th>Discharge Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AIR FORCE</td>
                                    <td>CHEIF MASTER</td>
                                    <td>BAD CONDUCT</td>
                                    <td>02/01/2008</td>
                                    <td>12/01/2010</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>NAVAL FORCES</td>
                                    <td>MAJOR</td>
                                    <td>RECOVERED</td>
                                    <td>12/07/2005</td>
                                    <td>12/08/2005</td>
                                    <td>N/A</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Public Health Service Tab-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Public Health Service </div>
                    <div id="PublicHealthTable" class="box-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Last Location</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SPRING HILL</td>
                                    <td>12/04/2005</td>
                                    <td>10/22/2008</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>TAMPA, FLORIDA</td>
                                    <td>07/04/2012</td>
                                    <td>01/12/2013</td>
                                    <td>N/A</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Work Gap Tab-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Work Gap </div>
                    <div id="WorkGapTable" class="box-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12/04/2005</td>
                                    <td>10/22/2008</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>07/04/2012</td>
                                    <td>01/12/2013</td>
                                    <td>N/A</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


