

<div class="col-lg-12 ">
    <div class="box box-info">
        <div class=" contentCenter">
            <div class="headline1">Hospital Privileges</div>
        </div>
        <div class="box-body">
            <!--Hospital Privileges Tab-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Hospital Privilege Information</div>
                    <div  class="box-body">
                        <div class="col-lg-12">
                            <label class="col-lg-4">Do You Have Hospital Privileges : </label>
                            <label class="col-lg-3">
                                <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                                <label class="radio-inline"><input type="radio" name="optradio">No</label>
                            </label>
                            <label class="col-lg-5">Reason : </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--Hospital Privileges Tab-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="subheadline1 contentCenter">Hospital Privilege Details</div>
                    <div id="HospitalPrivilegeTable" class="box-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Hospital Name</th>
                                    <th>Specialty</th>
                                    <th>Street/PO Box</th>
                                    <th>Contact</th>
                                    <th>Primary</th>
                                    <th>Document</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OAK HILL</td>
                                    <td>AUDIOLOGIST</td>
                                    <td>1903, PORT SAINT</td>
                                    <td>ADAM STEVEN</td>
                                    <td>NO</td>
                                    <td>img.jpeg</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>PAUL MARY</td>
                                    <td>AUDIOLOGIST</td>
                                    <td>1903, PORT SAINT</td>
                                    <td>ADAM STEVEN</td>
                                    <td>YES</td>
                                    <td>img.jpeg</td>
                                    <td>N/A</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


