<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--<register type="Namespace.Interface, assembly" mapTo="Namespace.ImplClass, Assembly"></register>-->

    <!--Register all Business Layer Types here-->
    <register type="AHC.CD.Business.Profiles.IProfileServiceManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileServiceManager,AHC.CD.Business"></register>

    <register type="AHC.CD.WebApi.Controllers.HomeController,AHC.CD.WebApi">
      <constructor />
    </register>

    <register type="AHC.CD.Data.Repository.IUnitOfWork,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.EFUnitOfWork,AHC.CD.Data.EFRepository"></register>
  </container>
</unity>