<div class="panel-group" id="accordionClaims" role="tablist" aria-multiselectable="true">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ClaimsHeading">
            <a data-toggle="collapse" data-parent="#accordionClaims" href="#MCI" aria-expanded="false" aria-controls="MCI">
                Malpractice
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="MCI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ClaimsHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <label class="control-label small">Case</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Allegation</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Relationship to Patient</label>
                            <input type="text" class="form-control input-sm" />
                        </div>


                        <div class="col-md-4">
                            <label class="control-label small">Date of Incident</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small"> Date Reported</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Location of Incident</label>
                            <input type="text" class="form-control input-sm" />
                        </div>



                        <div class="col-md-4">
                            <label class="control-label small">Insurance Carrier</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Additional Defendants</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label for="Contact" class="control-label small">Claim Status</label>
                            <div class="radio">
                                <label class="radio-inline">
                                    <input type="radio" name="claim"> Open
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="claim"> Closed
                                </label>
                            </div>
                        </div>
                      
                        
                        <div class="col-md-4">
                            <label class="control-label small">Date Closed</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label small"> Indicate Method of Closing</label>
                            <select class="form-control input-sm">
                                <option> Dismissed </option>
                                <option> Settled </option>
                                <option> Judgment </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Amount of Settlement/Judgment</label>
                            <input type="text" class="form-control input-sm" />
                        </div>


                        <div class="col-md-12">
                            <label class="control-label small">Describe your care and treatment of the patient.  Explain the condition and diagnosis at time of incident, dates and description of treatment rendered, and condition of patient subsequent to treatment.  If additional space is necessary, attach additional sheets.  Your narrative must provide adequate clinical details to allow proper evaluation by a committee of physicians.</label>
                            
                        </div>
                        <div class="col-md-12">
                            <label class="control-label small">Narrative</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        

                        <div class="col-md-4">
                            <label class="control-label small">Printed Name</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small"> Signature</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Cancel</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


