<style>
    .biscuits_3D > .panel > .panel-body {
        color: whitesmoke;
        position: relative;
        text-decoration: none;
        width: 105%;
        display: block;
        padding: 4px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        /*-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
        -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
        box-shadow: 0px 9px 0px rgb(195, 195, 195), 0px 9px 25px rgba(0,0,0,.7);*/
        text-align: center;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
    }

    /*a:active {
            -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
            -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
            box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
            position: relative;
            top: 6px;
        }*/
    .biscuits > .panel > .panel-body {
        width: 105%;
        text-align: center;
        color: white;
        background-color: grey;
        border-radius: 8px;
    }
</style>
<style>
    .violet {
        background-color: violet;
    }

    .lightviolet {
        background-color: #fce9fc !important;
    }

    .bluecolor {
        background-color: #e6e6ff !important;
    }

    .yellow {
        background-color: #B8860B !important;
    }

    .lightyellow {
        background-color: #cccc00 !important;
    }

    .purple {
        background-color: purple !important;
    }

    .orange {
        background-color: orange !important;
    }

    .lightorange {
        background-color: #ffe3b3 !important;
    }

    .blue {
        background-color: blue !important;
    }

    .lightpurple {
        background-color: #ffccff !important;
    }
</style>
<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }
</style>

<div class="row">
    <br />
    <div class="col-lg-12 biscuits_3D">
        <!--Total Request Received Biscuit-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
            <div class=" row panel-body" style="background-color: rgba(51, 122, 183, 0.85);">
                @*<div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-users fa-3x"></i> </div>*@
                <div style="text-align:center"><h4>Total Request</h4>( 10 )</div>
            </div>
        </div>
        <!--Total Accepted Biscuit-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
            <div class=" row panel-body" style="background-color: rgba(80, 179, 39, 0.83);">
                @*<div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-user fa-3x"></i> </div>*@
                <div style="text-align:center"><div></div><h4>Total Accepted</h4>( 4 ) </div>
            </div>
        </div>
        <!--Total Rejected Biscuit-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel">
            <div class=" row panel-body" style="background-color: #d43939">
                @*<div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-user-md fa-3x"></i> </div>*@
                <div style="text-align:center"><div></div><h4>Total Rejected</h4>( 3 ) </div>
            </div>
        </div>
        <!--Pending Request Biscuit-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
            <div class=" row panel-body" style="background-color: #e49d34; ">
                @*<div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-user-md fa-3x"></i> </div>*@
                <div style="text-align:center"><div></div><h4>Pending Request</h4> ( 3 )</div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default content-panel">
    <div class="panel-heading">
        Appointment Details
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <div class="col-lg-4" style="padding-right:0px;">
                <!-- In-line DatePicker-->
                <h4>Pick a Date</h4>
                <div style="display:inline-block; min-height:290px;">
                    <datepicker id="calendar" ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                </div>
                <!-- in line date picker -->
            </div>

            <div class="col-lg-8 zero-padding-left-right-div form-style" style="padding-left: 0px;">
                <h4 align="center">Date : 01-07-2016</h4>
                <table class='paginated table table-striped table-bordered customtbodyStyle medium wrap-words'>
                    <thead>
                        <tr class="theadColor">
                            <th>
                                Provider Details
                            </th>
                            <th>
                                Accepted/Rejected/ Pending
                            </th>
                            <th>
                                CCM
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in ProviderDetails">
                            @*<a class="btn btn-xs btn-info pull-right ng-scope" href="/Credentialing/CnD/Application/1" tooltip="" data-toggle="tooltip" data-placement="top" title="Redirect to credetialing page"</a>*@
                            <td>Name: {{data.Name}}<br />NPI: {{data.NPI}}<br />Specialty: {{data.Specialty}}<br />Plan:{{data.Plan}}</td>
                            <td>{{data.Status}}</td>
                            <td>{{data.CCM}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
