@model AHC.CD.WebUI.MVC.Areas.Profile.Models.IdentificationAndLicenses.StateLicenseViewModel
@*<link href="~/Content/SharedCss/SmartTable.css" rel="stylesheet" />*@
<style>
    .pagination li a input {
        padding: 0;
        margin: -5px 0;
    }

    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }
</style>
<div class="row" ng-init="RefreshData('CCO')">
    <div class="col-lg-12 ">
        <br />
        <div id="CCO_Summmary" class="row panel panel-default tab-pane fade in active" ng-cloak>


            <div class="panel-heading">
                @*<button class="pull-right btn btn-xs" ng-click="CCOSummaryPanelToggle('CCO_Summary_Panel');" ng-disabled="packageLoading" toggle data-toggle="tooltip" data-placement="top" title="Expand/Collapse"><i class="fa fa-th-list"></i></button>*@
                <div>CCO Summary</div>
            </div>
            <br />
            <div class="form-horizontal" style="padding-left: 14px;" id="CCO_Summary_Panel">
                <div class="form-group">

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-1 col-sm-2 hidden-xs"></div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <label class="small col-lg-2 col-sm-3 col-xs-2" style="float: left; padding-top: 5px; ">From:</label>
                            <div class="col-lg-10 col-sm-9 col-xs-10">
                                <input type="text" data-val-date="Please enter date in mm/dd/yyyy format." data-date-format="MM/dd/yyyy" data-bs-datepicker="bs-datepicker" class="form-control input-sm" data-ng-model="FromDate" ng-change="checkDates()" placeholder="mm/dd/yyyy">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                            <label class="small col-lg-1 col-sm-2 col-xs-2" style="float: left; padding-top: 5px">To:</label>
                            <div class="col-lg-10 col-sm-9 col-xs-10">
                                <input type="text" data-val-date="Please enter date in mm/dd/yyyy format." data-date-format="MM/dd/yyyy" data-bs-datepicker="bs-datepicker" class="form-control input-sm" data-ng-model="ToDate" ng-change="checkDates()" placeholder="mm/dd/yyyy">
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                            <div class="visible-xs col-xs-3 hidden-lg hidden-md hidden-sm"></div>
                            <button id="searchBtn" type="button" class="btn btn-sm btn-info col-lg-5 col-md-5 col-sm-5 col-xs-4" style="margin-left: 24px;" ng-click="searchCCO()" ng-disabled="!searchBtnCCO"><i class=" fa fa-search"></i> Search</button>
                            <button id="resetBtn" type="button" class="btn btn-sm btn-warning col-lg-5 col-md-5 col-sm-5 col-xs-4 pull-right" ng-click="clearSearchCCOSummary()"><i class=" fa fa-refresh"></i> Reset</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" style="border-top: 1px solid #eee; padding-top: 10px;">
                        <div>
                            <table class='paginated table table-striped table-bordered table-responsive customtbodyStyle medium wrap-words' st-pipe="pc.callServer" st-table="pc.displayed" st-safe-src="PrototypeData">
                                <colgroup>
                                    <col class="col-lg-3 col-sm-2 col-xs-3">
                                    <col class="col-lg-2 col-sm-2 col-xs-1">
                                    <col class="col-lg-2 col-sm-1 hidden-xs">
                                    <col class="col-lg-1 col-sm-1 col-xs-2">
                                    <col class="col-lg-1 col-sm-1 col-xs-2">
                                    <col class="col-lg-1 col-sm-1 hidden-xs">
                                    <col class="col-lg-2 col-sm-2 hidden-xs">
                                    @*<col class="col-lg-2 col-sm-2 col-xs-2" >*@
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th st-sort="CCOName" st-ratio="10">
                                            CCO Name
                                        </th>
                                        <th st-sort="NoOfProviders" st-ratio="8">
                                            Providers worked on
                                        </th>
                                        <th st-sort="NoOfTasks" st-ratio="11">
                                            Tasks performed
                                        </th>
                                        <th st-sort-default="false" st-sort="ApplnSubmitted" st-ratio="10">
                                            Applications submitted
                                        </th>
                                        <th st-sort="PackagePending" st-ratio="11">
                                            Pending Credentialing
                                        </th>
                                        <th st-sort="CredPackage" st-ratio="10">
                                            Completed Credentialing
                                        </th>
                                        <th st-sort="NoOfActivities" st-ratio="9">
                                            Activities performed
                                        </th>
                                        @*<th st-ratio="4">Action</th>*@
                                    </tr>
                                    <tr>
                                        <td st-ratio="10"><input st-search="CCOName" type="text" placeholder="CCO Name" class="form-control input-sm"></td>
                                        <td st-ratio="8"><input st-search="ProviderWorkedOn" type="text" placeholder="Providers worked on" class="form-control input-sm" /></td>
                                        <td st-ratio="11"><input st-search="TasksPerformed" type="text" placeholder="Tasks performed" class="form-control input-sm" /></td>
                                        <td st-ratio="10"><input st-search="ApplicationsSubmitted" type="text" placeholder="Applications submitted" class="form-control input-sm" /></td>
                                        <td st-ratio="11"><input st-search="PendingCredentialing" type="text" placeholder="Pending Credentialing" class="form-control input-sm" /></td>
                                        <td st-ratio="10"><input st-search="CompletedCredentialing" type="text" placeholder="Completed Credentialing" class="form-control input-sm" /></td>
                                        <td st-ratio="8"><input st-search="ActivitiesPErformed" type="text" placeholder="Activities performed" class="form-control input-sm" /></td>
                                        @*<td st-ratio="4"></td>*@
                                    </tr>
                                </thead>
                                <tbody ng-repeat="c in pc.displayed">
                                    @*<tr class="accordion-toggle" data-toggle="collapse" data-target="#CredentialingDetailsRow">*@
                                    <tr class="accordion-toggle">
                                        <td>{{c.CCOName  || 'Not Available'}}</td>
                                        <td ng-click="PanelToggle('ProviderList'+ $index, 'CredentialingDetailsRow'+ $index,'Provider' )" style="color:blue;cursor:pointer" id="providerList"><u>{{c.ProviderWorkedOn}}</u></td>
                                        @*<td>{{c.NoOfProviders}}</td>*@
                                        <td>{{c.TasksPerformed  || 'Not Available'}}</td>
                                        <td>{{c.ApplicationsSubmitted  || 'Not Available'}}</td>
                                        @*<td ng-click="PanelToggle('CCO_Summary_Panel');showCred('CCO')" style="color:red" id="pendingCredential"><u>{{c.PackagePending}}</u></td>*@
                                        <td ng-click="PanelToggle('ProviderList'+ $index, 'CredentialingDetailsRow'+ $index,'Credentialing' )" style="color:red;cursor:pointer" id="pendingCredential"><u>{{c.PendingCredentialing  || 'Not Available'}}</u></td>
                                        <td>{{c.CompletedCredentialing  || 'Not Available'}}</td>
                                        <td>{{c.ActivitiesPErformed||'Not Available'}}</td>
                                        @*<td>
                                            <a class="btn btn-xs btn-warning" href='@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/1' tooltip data-toggle="tooltip" data-placement="top" title="Redirect"><i class="glyphicon glyphicon-forward"></i></a>
                                        </td>*@
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="8" ng-attr-id="{{ 'CredentialingDetailsRow' + $index }}" id="CredentialingDetailsRow" hidden>
                                            <div>
                                                <table class='paginated table table-striped table-bordered table-condensed customtbodyStyle medium wrap-words'>
                                                    <colgroup>
                                                        <col class="col-lg-1">
                                                        <col class="col-lg-1 col-md-2 col-sm-2">
                                                        <col class="col-lg-2">
                                                        <col class="col-lg-2">
                                                        <col class="col-lg-3">
                                                        <col class="col-lg-1">
                                                        <col class="col-lg-1">
                                                    </colgroup>
                                                    <thead>
                                                        <tr class="theadColor">
                                                            <th>
                                                                Plan Name
                                                            </th>
                                                            <th>
                                                                Start Date
                                                            </th>
                                                            <th>
                                                                Initiated To
                                                            </th>
                                                            <th>
                                                                Phase Of Credentialing
                                                            </th>
                                                            <th>
                                                                Credentialing Status
                                                            </th>
                                                            <th>
                                                                No. of Days Pending From
                                                            </th>
                                                            <th>
                                                                Avg. Time To Complete(Hrs)
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cred in c.PendingCredentialingDetails">
                                                            <td>{{cred.Plan}}</td>
                                                            <td>{{cred.StartDate}}</td>
                                                            <td>{{cred.InitiatedTo}}</td>
                                                            <td>{{cred.PhaseOfCredentialing}}</td>
                                                            <td>{{cred.CredentialingStatus}}</td>
                                                            <td>{{cred.DaysPendingFrom}}</td>
                                                            <td>{{cred.AvgTimeToComplete}}</td>
                                                            @*<a href="/Credentialing/CnD/Application/1"</a>*@
                                                            <td>
                                                                <a class="btn btn-xs btn-info" href='@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Credentialing/CnD/Application/2' tooltip data-toggle="tooltip" data-placement="top" title="View Application"><i class="fa fa-caret-right"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="12" ng-attr-id="{{ 'ProviderList' + $index }}" hidden>
                                            <div>
                                                <table class='paginated table table-striped table-bordered table-condensed customtbodyStyle medium wrap-words'>
                                                    <colgroup>
                                                        <col class="col-lg-3">
                                                        <col class="col-lg-1">
                                                        <col class="col-lg-4">
                                                        <col class="col-lg-3">
                                                        <col class="col-lg-1">
                                                    </colgroup>
                                                    <thead>
                                                        <tr class="theadColor">

                                                            <th>
                                                                Provider Name
                                                            </th>
                                                            <th>
                                                                NPI Number
                                                            </th>
                                                            <th>
                                                                Location
                                                            </th>
                                                            <th>
                                                                Specialty
                                                            </th>
                                                            <th>
                                                                Action
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="provider in c.ProviderDetails">

                                                            <td><img style="height: 36px; margin-left: 5%;" ng-src="{{provider.ProfilePicURL}}" class="grow img-circle" />{{provider.ProviderName}}</td>
                                                            <td>{{provider.NPI}}</td>
                                                            <td>{{provider.PrimaryPracticeLocation}}</td>
                                                            <td>{{provider.Specialty}}</td>
                                                            <td>
                                                                <a class="btn btn-xs btn-warning" href='@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/1' tooltip data-toggle="tooltip" data-placement="top" title="View Profile"><i class="glyphicon glyphicon-forward"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                    
                                </tbody>
                                <tbody ng-if="pc.displayed.length==0">
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            <i>No Data Available</i>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td id="PaginationCss" style="cursor:pointer" class="text-center" st-pagination="" st-items-by-page="10" colspan="8"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>



                </div>

            </div>
        </div>
        <br />
    </div>



</div>


