@*<li class="info-number outer_menu_item_top cursor_pointer " style="height: 34px;top: 10px; " id="backToMemberMenu">
        <nobr>
            <span style="position: relative; left: 16px; top: 7px;">
                <span class="go-forward-btn">Open Float Menu </span>
                <img src="~/Resources/Images/Icons/newforward.png" style="width: 40px; top: -3px; position: relative; " />
            </span>
        </nobr>
    </li>*@
<li class="info-number outer_menu_item_top cursor_pointer " style="height: 34px;top: 10px; " id="backToMenu">
    <nobr>
        <span style="position: relative; left: 16px; top: 5px; font-size: 14px;">
            <img src="~/Resources/Images/Icons/newback.png" style="height: 14px;" />
            <span class="go-back-btn">Go to Main Menu </span>
        </span>
    </nobr>
</li>

<li class="collapsed_click active">
    <a class="expand_click menu_click_expanded outer_menu_item_under expanded">
        &nbsp;<span class="text_beside_icon">Member House</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>

    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Search Member
                </span>
            </a>
        </li>
    </ul>
</li>
<li class="collapsed_click active">
    <a class="expand_click menu_click_expanded expanded outer_menu_item_under">
        &nbsp;<span class="text_beside_icon">Queue</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>
    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Intake Queue"
               data-tab-title="Intake Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=Intake&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    Intake Queue
                </span>
            </a>
        </li>
        <li class=" outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="Global Queue"
               data-tab-title="Global Queue"
               data-tab-path="/UM/Queue/GetQueue?QueueType=Global&QueueTab=work"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    Global Queue
                </span>
            </a>
        </li>
        <li class="outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="User Queue"
               data-tab-title="User Queue"
               data-tab-path="/CM/Queue/GetQueue?queueType=UserQueueTabs"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    User Queue
                </span>
            </a>
        </li>
        <li class="outer_menu_item_top collapsed_click">
            <a class="expand_click tab-navigation"
               data-tab-action="System Identified Queue"
               data-tab-title="System Identified Queue"
               data-tab-path="/CM/Queue/GetQueue?queueType=SystemIdentifiedQueueTabs"
               data-tab-container="fullBodyContainer"
               data-tab-moveright="true">
                <span class="text_beside_icon">
                    System Identified Queue
                </span>
            </a>
        </li>
       

    </ul>

</li>
<script>
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $li = $(this);
        slideMenu($li);
    });
    function slideMenu($li, $a) {
        if ($a.hasClass('expanded')) {
            $a.addClass('collapsed').removeClass("expanded");
            // $('ul:first', $li).slideUp();
        } else if ($a.hasClass('collapsed')) {
            $a.addClass("expanded").removeClass('collapsed');
            //$('ul:first', $li).slideDown();
        }
    };
    $('#sidebar-menu').on('click', '.menu_click_expanded', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        // slideMenu($li, $a);
    });
</script>


