
<div class="panel-group" id="accordionWork" role="tablist" aria-multiselectable="true" ng-controller="workhistoryController">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="WorkGapHistory">
            <a data-toggle="collapse" data-parent="#accordionWork" href="#workGapHistory" aria-expanded="false" aria-controls="workGapHistory">
                Work Gap History
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="workGapHistory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="WorkGapHistory">
            <div class="panel-body table-bordered">
                <div class="form-group">

                    @*<div class="form-group">*@
                    <div class="clearfix"></div>
                    @*<div class="col-md-12"><i class="fa fa-times text-danger pull-right" ng-click="deleteWork($index)"></i></div>*@

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label small">Start Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">End Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Description</label>
                            <textarea class="form-control input-sm" ></textarea>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Cancel</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>
                    @*</div>*@
                </div>

                <div class="clearfix"></div>

                @*<div class="col-md-12 text-right">
                    <button class="btn btn-xs btn-primary" ><i class="fa fa-plus"></i> Add Work History Information</button>
                </div>*@

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/Plan/workhistory.js"></script>