table tbody tr.lowerInfoArea td{
    padding: 20px;
    border: 1px solid #d5d4d4;
}

table tbody tr.lowerInfoArea{
    
}

.availabiltyInfo .header{
    color: steelblue;
}

.availabiltyInfo{
    display: inline-block;
    float: left;
    margin-left: 30px;
}
.availabiltyInfo .icon{
    padding: 3px;
}
.availabiltyInfo .icon.check i{
    color: darkgreen !important;
}

.availabiltyInfo .icon.uncheck i{
    color: red !important;
}

table tbody tr.open td{
    font-weight: 700;
    background-color: #d5d4d4;
    border: 1px solid #d5d4d4;
}

.available{
    font-weight: 700;
    font-size: large;
    color: darkgreen !important;
}

.missing{
    font-size: large;
    font-weight: 700;
    color: red !important;
}

.infoSection{
    clear: both;
    padding-bottom: 35px;
}

table.ReportTable{
    width: 98%;
}

table.ReportSubTable{
    width: 97%;
}