/*---------------------------------------------------------/
/                AUTHOR: ARNAB SAHA                        /
/---------------------------------------------------------*/

.popover-content{
        word-break:break-all;
    }

.tHeadStyle {
        background-color: lightgray;
        width: 100%;
    }

    .tHeadStyle1 {
        background-color: #ECECE0C;
        width: 100%;
    }

    tBodyStyle {
        width: 100%;
    }

    .tableData1 {
        width: 20%;
    }

    .tableData2 {
        width: 12%;
    }

    .simpleLabel {
        color: black;
    }

    .historyList > tbody > tr:hover {
        background-color: lightblue;
    }

    #historyListExpand1 > td:hover {
        background-color: #efeeee;
    }

    #historyListExpand1 > td{
        background-color: #efeeee;
        border: 1px solid seagreen;
    }
    #historyListExpand1 > td > table{
        margin-left: 5px;
        background-color: #efeeee;
    }

    .popover{
        max-width:84%;
    }

    .standardR{
        color:green;
    }
    .expeditedR{
        color:red;
    }
    
    .subTableBody1 > span > i.fa{
        color:white;
        font-size: 15px;
        margin-left: -7px;
        padding-left: 6px;
    }

    .subTableBody1 > span.btn {
        padding: 2px 6px !important;
    }
   
    #authHistoryListData>tr>td {
        padding: 5px 7px;
        text-align: left !important;
    }

    .tablePadding{
        padding-bottom: 0px;
    }

    .subTableBody1 i{
        text-align: center;
        vertical-align: middle;
    }

    #authHistoryTable{
        font-weight: 600;
    }

    div#historyBody .withfilter label {
        font-weight: normal;
    }

/*-----------Auth History Table-----------------*/
.scrollable-division1 {
    position: relative;
    overflow-x: scroll;
}

.table-header1 {
    table-layout: fixed;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    white-space: nowrap;
}

.tableLayer > tbody > tr > td:first-child {
    cursor: pointer;
}

#authHistoryListData > tr {
    cursor: default;
}

tbody > tr, td {
    white-space: nowrap;
    text-transform: uppercase;
}

.danger {
    color: red;
}

.ok {
    color: green;
}

.historyTableBodyDivision {
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}


.inner-scrollable-div1 {
    width: 100%;
}

::-webkit-scrollbar {
    height: 7px;
}

.margin_left_zero {
    margin-left: 0;
}

.tableLayer{
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0.3%;
}
.tableLayer.tablestyles{
    margin-left: 2.5% !important;
}

.text-uppercase .tableLayer {
    width: 99%;
}

/* BODY COLUMNS */
.cols1 {
    width: 2.6%;
}

.cols2 {
    width: 4%;
}

.cols3 {
    width: 7%;
}

.cols4 {
    width: 6.5%;
}

.cols5 {
    width: 6.5%;
}

.cols6 {
    width: 11.5%;
}

.cols7 {
    width: 7%;
}

.cols8 {
    width: 8.9%;
}

.cols9 {
    width: 5.5%;
}

.cols10 {
    width: 7.5%;
}

.cols11 {
    width: 5%;
}

.cols12 {
    width: 6.5%;
}

.cols13 {
    width: 4%;
}

.cols14 {
    width: 4.5%;
}

.cols15 {
    width: 13%;
}


/* HEADER COLUMNS */
.cols-1 {
    width: 2.6%;    
}
/*.cols-1.td-blue{
    background-color: #406c9a;
}*/

.cols-2 {
    width: 4%;
}

.cols-3 {
    width: 7%;
}

.cols-4 {
    width: 6.5%;
}

.cols-5 {
    width: 6.5%;
}

.cols-6 {
    width: 11.5%;
}

.cols-7 {
    width: 7%;
}

.cols-8 {
    width: 8.9%;
}

.cols-9 {
    width: 5.5%;
}

.cols-10 {
    width: 7.5%;
}

.cols-11 {
    width: 5%;
}

.cols-12 {
    width: 6.5%;
}

.cols-13 {
    width: 4%;
}

.cols-14 {
    width: 4.5%;
}

.cols-15 {
    width: 13%;
}

/*-------History list data column---------*/
.cols1
/*--HEADER--*/
.cols-1-1 {
    width: 7.5%;    
}

.cols-2-1 {
    width: 8%;
}

.cols-3-1 {
    width: 7%;
}

.cols-4-1 {
    width: 10.5%;
}

.cols-5-1 {
    width: 9%;
}

.cols-6-1 {
    width: 13.5%;
}

.cols-7-1 {
    width: 6%;
}

.cols-8-1 {
    width: 8.5%;
}

.cols-9-1 {
    width: 12.5%;
}

.cols-10-1 {
    width: 8%;
}

.cols-11-1 {
    width: 8.5%;
}

/*--BODY--*/
.cols1-1 {
    width: 7.5%;    
}


.cols2-1 {
    width: 8%;
}

.cols3-1 {
    width: 7%;
}

.cols4-1 {
    width: 10.5%;
}

.cols5-1 {
    width: 9%;
}

.cols6-1 {
    width: 13.5%;
}

.cols7-1 {
    width: 6%;
}

.cols8-1 {
    width: 8.5%;
}

.cols9-1 {
    width: 12.5%;
}

.cols10-1 {
    width: 8%;
}

.cols11-1 {
    width: 8.5%;
}

.cols15 > .buttons, button, .btn {
    margin-bottom: 5px;
    margin-right: 2px;
}
.cols15 > .btn.btn-xs {
    padding: 2px 8px !important;
}

.scroll-icon-left1 {
    position: relative;
    color: white;
    top: 6px;
    left: 1px;
}

.scroll-icon-right1 {
    position: relative;
    color: white;
    top: 6px;
    left: 4px;
}

.member-name, .provider, .facility {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.subTableBody1 .btn-default {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 1px;
    text-shadow: none;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
    -webkit-appearance: button;
    padding-right: 5px;
}

.subTableBody1 .btn-default>i {
    color: black !important;
}

.tablestyles{
    margin-left: 0.4%;
}

.table-condensed>tbody#authHistoryListData0>tr>td{
    text-align: left !important;
}

/*-----------------------Recent History Style-------------------------------------*/
    #historyMainSection{
        margin-bottom: 0.4%;
    }
    #historyMainSection .x_title {
        border-bottom: none !important;
        padding: 1px 1px 0px;
        margin-bottom: 0% !important;
        color: #0e122b;
    }
    
    .labelHistory{
        font-size: 14px;
    }

    #historyMainSection input,
    #historyMainSection input::-webkit-input-placeholder {
        font-size: 12px;
    }

    #historyMainSection input,
    #historyMainSection input::-moz-placeholder {
        font-size: 12px;
    }

     #historyMainSection input,
    #historyMainSection input:-ms-input-placeholder {
        font-size: 12px;
    }

    fieldset.fieldStyle {
        font-weight: normal;
        border: 1px solid rgb(9, 65, 122);
        padding: 4px;
        margin: 5px;
    }
    legend.legendStyles {
        font-size: 12px;
        color: #888888;
        background-color: transparent;
        font-weight: bold;
    }
    .legendStyles > span {
        color: rgb(9, 65, 122);
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .legend2 {
        padding: 0.2em 0.5em;
        border: 1px solid green;
        color: green;
        font-size: 90%;
        text-align: right;
    }
    .legend2 > span {
        color: rgb(9, 65, 122);
        margin-left: 5px;
        margin-right: 5px;
    }

    .buttonStyle{
        width:100%;
        height:30px;
        padding:2px;
        margin-bottom:1.5%;
    }

    .zero-space{
        padding-left: 0px;
        padding-right:0px;
    }

    .label-success-color{
        color: #32CB32;
    }

    .label-warning-color{
        color: #DB0000;
    }

    .table-striped > tbody > tr.text-uppercase:hover {
        background-color: white !important;
    }
/*-----------------------Input Search Box Style-------------------------------------*/
.input-box{
    position: relative;
    z-index: 1;
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    margin: 1em;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
    margin-top: -0.6% !important;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.4em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; 
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

    .input-box-search {
	margin: 1.1em;
}

.input__field--box-search {
	width: 100%;
	background: transparent;
	color: #7A7593;
}

.input__label--box-search {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #7A7593;
	text-align: left;
	cursor: text;
}

.input__label-content--box-search {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.graphic--box-search {
	-webkit-transform: scale3d(1, -1, 1);
	transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset 0.3s;
    -moz-transition: stroke-dashoffset 0.3s;
    -o-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;
	pointer-events: none;
	stroke: #7A7593;
	stroke-width: 4px;
	stroke-dasharray: 962;
	stroke-dashoffset: 558;
}

.input__field--box-search:focus + .input__label--box-search,
.input--filled .input__label--box-search {
	cursor: default;
	pointer-events: none;
}

.input__field--box-search:focus + .input__label--box-search .graphic--box-search,
.input--filled .graphic--box-search {
	stroke-dashoffset: 0;
}

.input__field--box-search:focus + .input__label--box-search .input__label-content--box-search,
.input--filled .input__label-content--box-search {
	-webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
	transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}

/*-----------------------Input Box Style-------------------------------------*/

/*-----------------------Search Box-------------------------------------*/
.search_wrapper1 {
    position: absolute;
    width: 50%;
    margin-top: -3%;
     -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-bottom: 1px solid rgb(9, 65, 122);
}

.smart_search_word1 {
    position: relative;
    width: auto;
    float: left;
    display: none;
}

span.keyWord1 {
    background: rgba(179,220,237,1);
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 2px;
    color: #333;
    font-weight: bolder;
}

.smart_search_word1 ul {
    padding-left: 0px;
    list-style-type: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.99);
    top: 22px;
}

#dropDown1 li {
    cursor: pointer;
    float: left;
    width: 112px;
    color: grey;
    white-space: nowrap;
    padding: 6px 10px 6px 10px;
    border: 1px solid #D9DEE4;
}

#dropDown1 > li.active {
    color: white;
    font-weight: bolder;
background: #466cab;
}

.search_input1 {
    position: relative;
    width: 100%;
    float: left;
}

.search_input1 input {
    width: 100% !important;
    border: none;
}

.search_btn1 {
    left: 6px;
    position: relative;
    width: auto;
    float: right;
    display: none;
}

#searchBox1 {
    background: none;
    font-size: 13px;
    color: white;
    padding-left: 10px;
}

#searchBox1::-webkit-input-placeholder {
    color: rgb(9, 65, 122);
}
#searchBox1::-moz-placeholder {
    color: rgb(9, 65, 122);
}
#searchBox1:-ms-input-placeholder {
    color: rgb(9, 65, 122);
}
#searchBox1:focus {
    color: rgb(9, 65, 122);
}

    .search_wrapper_border1{
            border-bottom: 2px solid #01c101 !important;
    }
.addHide{
    display: none !important;
}

.td-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}