<br />
<h2>Files Availabilty</h2>
<div id="FilesAvailability">
    @{ Html.RenderAction("LoadFilesAvailabilityTable", "FileAvailability"); }
</div>
<br /><br />
<h2>Files Missing</h2>
<div id="FileMissing">
    @{ Html.RenderAction("LaodFileMissingTable", "FileAvailability"); }
</div>