/*THEME AREA*/
:root {
    --main-color: #7D9492;
}
.nav_menu .fa {
    color: #ffffff !important;
}

.nav_menu .nav.navbar-nav > li > a {
    color: #ffffff !important;
}

.user-profile {
    color: #ffffff !important;
}

#searchBox::-webkit-input-placeholder {
    color: #ffffff !important;
}

.search_wrapper {
    border-bottom: 1px solid #ffffff !important;
}

.main_menu_side, .work_menu, #sidebar-menu {
    background: var(--main-color);
}

.theme_label {
    font-weight: normal !important;
    color: black !important;
    text-transform: uppercase;
}

.theme_label_data {
    font-weight: bold !important;
    color: black !important;
}

.theme_thead {
    background: #92b3b0 !important;
    color: white;
}

.theme_a {
    color: #4469a6;
}

#outerTabsArea li {
    background: #d4e2e1;
}

    #outerTabsArea li > a {
        color: #566765 !important;
    }

    #outerTabsArea li.active {
        background: linear-gradient(#7d9492, #7f9694);
    }

        #outerTabsArea li.active > a {
            color: #fff !important;
        }

.innerTabsArea li {
    background: #d4e2e1;
}

    .innerTabsArea li > a {
        color: #566765 !important;
    }

    .innerTabsArea li.active {
        background: linear-gradient(#7d9492, #7e9593);
    }

        .innerTabsArea li.active > a {
            color: #fff !important;
        }
/* /THEME AREA*/

.memberPictureFrame {
    color: white !important;
    margin-bottom: 0px;
    margin-left: -4px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
    z-index: 1;
    height: 65px;
    margin-top: 4px;
}

.nav_menu {
    background: var(--main-color);
}

.runningdata thead {
    color: #fff;
    background: var(--main-color);
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 6px 24px;
    background: var(--main-color);
    border: var(--main-color);
}


.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    background-color: #e0ebff !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #566765 !important;
    background-color: #d4e2e1 !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#7d9492, #7d9492);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.FooterShadow {
    box-shadow: rgb(212, 226, 225) 0px 0px 38px inset;
}

#searchBox {
    color: #ffffff;
}

.search_wrapper_border {
    border-bottom: 2px solid #01c101 !important;
}

.sideBarExpand .memberinnermenu > li > a.active {
    color: #566765 !important;
    cursor: pointer;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
    padding-right: 20px;
}

   .theme_thead > tr > th {
        border-bottom: 2px solid #7d9492 !important;
    }

   /*.btn {
    border-radius: 1px;
}

    .btn.btn-xs {
        padding: 2px 10px;
    }

.btn-success {
    color: white;
    background: url("../../Resources/Images/Buttons/Success.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-danger {
    color: white;
    background: url("../../Resources/Images/Buttons/Danger.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-warning {
    color: white;
    background: url("../../Resources/Images/Buttons/Warning.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-ghost {
    color: white;
    background: url("../../Resources/Images/Buttons/Ghost.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-cancel {
    color: white;
    background: url("../../Resources/Images/Buttons/Cancel.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-info {
    color: white;
    background: url("../../Resources/Images/Buttons/Info.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-all {
    color: white;
    background: url("../../Resources/Images/Buttons/All.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}*/
.theadBorder thead::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0%;
    border-bottom: 1px solid #d4c9c9;
}