/*THEME AREA*/
:root {
    --main-color: #203764;
}

body {
    text-transform: uppercase;
}

.nav_menu .fa {
    color: #ffffff !important;
}

.nav_menu .nav.navbar-nav > li > a {
    color: #ffffff !important;
}

.user-profile {
    color: #ffffff !important;
}

#searchBox::-webkit-input-placeholder {
    color: #ffffff !important;
}

.search_wrapper {
    border-bottom: 1px solid #ffffff !important;
}

.main_menu_side, .work_menu, #sidebar-menu {
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.theme_label {
    font-weight: normal !important;
    color: black !important;
    text-transform: uppercase;
}

.theme_label_data {
    font-weight: 800 !important;
    color: black !important;
}

.theme_thead {
    /*background: url(../../Resources/Images/Buttons/Primary.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: white !important;*/
}

.theme_a {
    color: #4469a6;
}

#outerTabsArea li {
    /* background: #d7eef7; */
    background: url(../../Resources/Images/Buttons/Ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 274px;
    text-align: center;
    font-size: 14px;
}

    #outerTabsArea li > a {
        color: #30487D !important;
        text-transform: uppercase;
    }

    #outerTabsArea li.active {
        background: url("../../Resources/Images/Buttons/Primary.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

        #outerTabsArea li.active > a {
            color: #fff !important;
        }

.innerTabsArea li {
    background: url(../../Resources/Images/Buttons/Ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    font-weight: bold;
}

    .innerTabsArea li > a {
        color: #30487D !important;
    }

    .innerTabsArea li.active {
        background: url("../../Resources/Images/Buttons/Primary.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

#diseasesSubTab {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

#highClaimsSubTab {
    background: url("../../Resources/Images/Buttons/Danger.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#MRASubTab {
    background: url("../../Resources/Images/Buttons/Danger.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#HRASubTab {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#ERVisitSubTab {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

#hospitalSubTab {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

#Due_Today{
     background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#Due_Tomorrow{
     background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#Completed_Today{
     background: url(../../Resources/Images/Buttons/Success.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#Completed_Yesterday{
     background: url(../../Resources/Images/Buttons/Success.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#Completed{
     background: url(../../Resources/Images/Buttons/Success.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

    #diseasesSubTab > a, #highClaimsSubTab > a, #MRASubTab > a, #HRASubTab > a, #ERVisitSubTab > a, #hospitalSubTab > a,#Due_Today > a, #Due_Tomorrow > a, #Completed_Today > a, #Completed_Yesterday > a, #Completed > a {
        color: white !important;
        margin-top: 4px !important;
    }

.queueUppertab_label {
    /* border:2px solid White !important; */
    margin-left: 3px !important;
    background: #3c5ea6;
}

.topminus3 {
    top: -3px !important;
}

.innerTabsArea li.active > a {
    color: #fff !important;
}
/* /THEME AREA*/

.memberPictureFrame {
    color: white !important;
    margin-bottom: 0px;
    margin-left: -4px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
    z-index: 1;
    height: 65px;
    margin-top: 4px;
    padding: 0;
}

    .memberPictureFrame::before {
        content: "";
        background: #203764;
        right: 0;
        position: absolute;
        width: 3px;
        height: 47%;
    }

.nav_menu {
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #395aa3 !important;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px 2px rgb(68, 118, 222) !important;
}

.runningdata thead {
    color: #fff;
    background: none;
}

.btn-breadcrumb .btn:last-child {
    padding: 8px 18px 6px 24px;
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    background-color: #e0ebff !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 3px 4px 1px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.2em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    /* background-color: #d7eef7 !Important; */
    background: url(../../Resources/Images/Buttons/Ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: url(../../Resources/Images/Buttons/Ghost.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.FooterShadow {
    box-shadow: rgb(115, 164, 255) 0px 0px 38px inset;
}

#searchBox {
    color: #ffffff;
}

.search_wrapper_border {
    border-bottom: 2px solid #01c101 !important;
}

.sideBarExpand .memberinnermenu > li > a.active {
    /* color: #2961bd !important; */
    /* cursor: pointer; */
    /* text-decoration: underline; */
    /* background: #ffffff; */
    /* border: 1px solid rgba(255,255,255,.26); */
    /* padding-right: 20px; */
}

.theme_thead > tr > th {
    border-bottom: 2px solid #49739e !important;
}

.btn {
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

    .btn.btn-xs {
        padding: 2px 10px;
    }

.btn-success {
    color: white;
    background: url("../../Resources/Images/Buttons/Success.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-danger {
    color: white;
    background: url("../../Resources/Images/Buttons/Danger.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-warning {
    color: white;
    background: url("../../Resources/Images/Buttons/Warning.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-ghost {
    color: #304893;
    background: url("../../Resources/Images/Buttons/Ghost.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-cancel {
    color: white;
    background: url("../../Resources/Images/Buttons/Cancel.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-info {
    color: white;
    background: url("../../Resources/Images/Buttons/Info.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-all {
    color: white;
    background: url("../../Resources/Images/Buttons/All.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.theadBorder thead::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0%;
    border-bottom: 1px solid #3d5c9f;
}

fieldset.fsStyle {
    border: 1px solid #3d5c9f !important;
}

.legendStyle > span.theme_depend {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    background: url(../../Resources/Images/Buttons/Primary.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.legendStyle > span.theme_depend_Odag {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    background: url(../../Resources/Images/Buttons/Odag.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.read_only_field {
    /* background: #d7eef7 !important; */
    /* box-shadow: 0 0 2px rgba(49, 161, 208, 0.70); */
    /* border: 1px solid rgba(49, 161, 208, 0.70); */
    background: url(../../Resources/Images/Buttons/Ghost.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid #5e90fd !important;
    padding-top: 4px;
}

.innerTabs.active > a {
    text-transform: uppercase;
}

.text-lightgreen {
    color: #338931;
}

.label-success {
    background-color: #358a33;
    border-radius: 0 !important;
}

/*sets the color of the checkbox and radio button when it is checked*/
input.normal-checkbox:checked + label > span,
input.normal-radio:checked + label > span,
input.checkbox-radio:not(:disabled):checked + label > span {
    background: #011D5B !important;
}

.border_on_panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #3d5c9f !important;
    border-radius: 1px;
}

.outer_menu_item_top {
    background: url(../../Resources/Images/Buttons/Primary.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:pointer;
}

    .outer_menu_item_top > a {
        color: white !important;
    }

.outer_menu_item_under {
    background: url(../../Resources/Images/Buttons/Ghost.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #07235f !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.work_menu_special_item {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #fff !important;
    text-decoration: none !important;
    margin-right: 1px !important;
}

.work_menu a {
    font-weight: 900 !Important;
}

.work_menu a {
    text-align: center !important;
}

.inner_menu_item_danger {
    background: url(../../Resources/Images/Buttons/Danger.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #07235f !important;
    text-decoration: none !important;
    margin-right: 1px !important;
}

/*----Padding left for add new note/contact/attachment Buttons*/
.addNewBtns_profiletabs_paddingleft {
    padding-left: 7px !important;
}

.outer_menu_item_under a:hover {
    color: #07235f;
}

a.expand_click.menu_click_expanded.outer_menu_item_under.expanded, a.expand_click.menu_click_expanded.outer_menu_item_under.expanded :hover {
    color: #07235f !important;
}

.theme1_table {
    color: white !important;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#0b2a67), color-stop(50%,#34569f),color-stop(100%,#4869b0));
}

fieldset.member-Style {
    font-weight: normal;
    border: 1px solid #3d5c9f;
    padding: 4px;
    margin: 5px;
}

.nav.side-menu > li > a {
    margin-bottom: 0px;
}

.nav.side-menu > li.active > a {
    top: 0px;
}

.work_menu {
    min-width: 180px;
}

#inputFieldsTable > thead > tr > th {
    border-bottom: 1px solid #3e60a8;
}

#searchResultGrid > tr > td {
    border-top: 1px solid #aabee8 !important;
}

.queue_table > tbody > tr > td {
    border-top: 1px solid #aabee8 !important;
}

.queue_table > thead {
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#0b2454), color-stop(40%,#4263aa),color-stop(100%,#3c5a9d));
}

.square-small {
    display: block;
    width: 120px;
    height: 60px;
    position: absolute;
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.form-control, .form-control:active, .form-control:focus {
    border: 1px solid #3658a1;
}

.auth_form .form-control:active, .auth_form .form-control:focus {
    box-shadow: 0px 0px 10px #e2af0e;
    border: 1px solid #e2af0d;
}

.auth_form .btn.loser_field:active, .auth_form .btn.loser_field:focus {
    box-shadow: 0px 0px 9px #daa607;
}

.auth_form input.form-control.checkbox-radio:focus+label>span,.auth_form input.form-control.checkbox-radio:active+label>span {
    box-shadow: 0px 0px 9px #daa607 !important;
    border:1px solid #daa607 !important;
}

/*input[type="radio"],input[type="radio"]]:focus,input[type="radio"]]:active {
    border: 1px solid #3658a1;
}*/
.form-control::-webkit-input-placeholder {
    color: #4869b0;
}

.shared-floating-modal-header {
    background: url(../../Resources/Images/Buttons/Primary.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: white;
    font-weight: bolder;
}

input.normal-checkbox + label > span, input.normal-radio + label > span, input.checkbox-radio + label > span {
    border: 0.0625em solid rgb(61, 92, 159) !important;
}

#noResultFound {
    color: #0c43b9;
}

#SharedFloatingModalFooter {
    border-top: 1px solid rgb(61, 92, 159) !important;
}
/*#SharedFloatingModalBody{
    min-height:250px;
}*/

#SharedFloatingModalBody label {
    color: black;
}

.checkboxes label {
    color: black;
}

#menu_section {
    overflow-y: auto;
    overflow-x: hidden;
}

#SharedModalHeader {
    background: url(../../Resources/Images/Buttons/Primary.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pop-out-div {
    background: url("/Areas/UM/Resources/Images/Common/pop_out_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6px;
}

#fishArea > img {
    height: 100%;
}

#fishCPTArea > img {
    height: 100%;
}

#coMagLabel {
    position: relative;
    left: -6px;
}

.modal-backdrop.fade.in {
    opacity: 0.1 !important;
}

tbody.tabletdcontrol  {
    color: black;
    font-weight: bold;
}

/*Placeholder changes*/

::-webkit-input-placeholder {
    text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
}

::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
}

:-ms-input-placeholder {
    text-transform: uppercase;
}

/**/

.umLogOff:before {
    content: "\f011";
    position: relative !important;
    left: -5px !important;
    top: 2px !important;
}

.table-white tbody > tr:hover {
    background-color: white !important;
}

.popover {
    text-transform: uppercase !important;
}

.bootstrap-datetimepicker-widget{
    color:#07235F;
}

.bootstrap-datetimepicker-widget .day{
    color:#07235F;
    font-weight:800;
}

.bootstrap-datetimepicker-widget .day.old,.bootstrap-datetimepicker-widget .day.new{
    color:#07235F;
    font-weight:400;
}
.bootstrap-datetimepicker-widget .table-condensed tbody td{
        white-space: normal;
}
.filer-search {
    text-transform: uppercase;
}