/*THEME AREA*/
:root {
    --main-color: #203764;
}

.nav_menu .fa {
    color: #ffffff !important;
}

#fa {
    color: black;
}

.nav_menu .nav.navbar-nav > li > a {
    color: #ffffff !important;
}

.user-profile {
    color: #ffffff !important;
}

#searchBox::-webkit-input-placeholder {
    color: #ffffff !important;
}

#searchBox:-ms-input-placeholder {
    color: #ffffff !important;
}

#searchBox::-moz-placeholder {
    color: #ffffff !important;
}

.search_wrapper {
    border-bottom: 1px solid #ffffff !important;
}

.main_menu_side, .work_menu, #sidebar-menu {
    background: var(--main-color);
}

.theme_label {
    font-weight: normal !important;
    color: black !important;
    text-transform: uppercase;
}

.theme_label_data {
    font-weight: bold !important;
    color: black !important;
}

.theme_thead {
    background: #4469a6 !important;
    color: white;
}

.theme_a {
    color: #4469a6;
}

#outerTabsArea li {
    background: #d7eef7;
}

    #outerTabsArea li > a {
        color: #30487D !important;
    }

    #outerTabsArea li.active {
        background: #203764;
    }

        #outerTabsArea li.active > a {
            color: #fff !important;
        }

.innerTabsArea li {
    background: #d7eef7;
}

    .innerTabsArea li > a {
        color: #30487D !important;
    }

    .innerTabsArea li.active {
        background: linear-gradient(#4b6cb7, #182848);
    }

        .innerTabsArea li.active > a {
            color: #fff !important;
        }
/* /THEME AREA*/

.memberPictureFrame {
    color: white !important;
    margin-bottom: 0px;
    margin-left: -4px;
    border-top: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
    z-index: 1;
    height: 65px;
    margin-top: 4px;
}

.nav_menu {
    background: var(--main-color);
}

.runningdata thead {
    color: #fff;
    background: var(--main-color);
}

.btn-breadcrumb .btn:last-child {
    padding: 6px 18px 8px 24px;
    background: var(--main-color);
    border: var(--main-color);
}


.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    background-color: #e0ebff !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    background-color: #d7eef7 !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.FooterShadow {
    box-shadow: rgb(115, 164, 255) 0px 0px 38px inset;
}

#searchBox {
    color: #ffffff;
}

.search_wrapper_border {
    border-bottom: 2px solid #01c101 !important;
}

.sideBarExpand .memberinnermenu > li > a.active {
    color: #2961bd !important;
    cursor: pointer;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
    padding-right: 20px;
}

.theme_thead > tr > th {
    border-bottom: 2px solid #49739e !important;
}

/*.btn {
    border-radius: 1px;
}

    .btn.btn-xs {
        padding: 2px 10px;
    }

.btn-success {
    color: white;
    background: url("../../Resources/Images/Buttons/Success.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-danger {
    color: white;
    background: url("../../Resources/Images/Buttons/Danger.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-warning {
    color: white;
    background: url("../../Resources/Images/Buttons/Warning.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background: url("../../Resources/Images/Buttons/Primary.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-ghost {
    color: white;
    background: url("../../Resources/Images/Buttons/Ghost.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-cancel {
    color: white;
    background: url("../../Resources/Images/Buttons/Cancel.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-info {
    color: white;
    background: url("../../Resources/Images/Buttons/Info.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}

.btn-all {
    color: white;
    background: url("../../Resources/Images/Buttons/All.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
}*/
.theadBorder thead::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0%;
    border-bottom: 1px solid #d4c9c9;
}

body.nav-md ul.nav.child_menu li:before {
    background: rgb(121, 175, 220);
    bottom: auto;
    content: "";
    height: 8px;
    left: 15px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

body.nav-md ul.nav.child_menu li:after {
    border-left: none;
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
}

.sideBarExpand .nav.side-menu > li > a, .sideBarExpand .nav.child_menu > li > a {
    color: white;
    font-weight: 500;
    padding: 0px 9px 0px 6px;
    border-radius: 3px;
    font-size: 105%;
    border: 1px solid transparent;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.sideBarExpand .nav.side-menu .memberinnermenu > li > a, .sideBarExpand .nav.child_menu .memberinnermenu > li > a {
    color: none;
    font-weight: 500;
    padding: 0px 4px 0px 6px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid transparent;
    line-height: 36px;
    height: 41px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: 900;
}

.outer_menu_item_top:not(:last-of-type) {
    border-bottom: 1px dashed white;
}

.modal-header {
    background: #4469a6;
    color: white;
}

.sideBarCollapse .nav.side-menu > li > a, .sideBarCollapse.nav.child_menu > li > a {
    color: none;
    font-weight: 500;
    /*padding: 0px 14px 0px 10px;*/
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid transparent;
    line-height: 35px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -13px;
    width: 100%;
}

.sideBarCollapse .menuCarat {
    display: none !important;
}


.chrome-tab-title {
    text-transform: uppercase;
}

.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none;
}

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff;
}

.nav > li > a {
    padding: 5px 15px 0px;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: none;
    border-radius: 4px;
}

    .nav.side-menu > li.current-page, .nav.side-menu > li.active:before {
        /* content: ""; */
        width: 100%;
        height: 13px;
        top: 0px;
        display: block;
        position: absolute;
        left: -1px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 2px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }


li.current-page {
    text-decoration: underline;
}

.nav.side-menu > li.active > a {
    text-shadow: none;
    box-shadow: none;
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 35px;
    height: 36px;
    color: white;
    text-decoration: underline;
    background: transparent;
    top: 8px;
    font-weight: bold;
    text-decoration: none;
}

li.current-page a {
    color: white !important;
}

.inner_menu_item_danger {
    /* background: url(../../Resources/Images/Buttons/Danger.png) !important; */
    /* background-repeat: no-repeat; */
    /* background-size: cover !important; */
    background: #a6061c;
    color: #ffff !important;
    text-decoration: none !important;
    margin-right: 1px !important;
}

    .inner_menu_item_danger:hover {
        /* background: url(../../Resources/Images/Buttons/Danger.png) !important; */
        /* background-repeat: no-repeat; */
        /* background-size: cover !important; */
        background: #a6061c !important;
        color: #ffffff !important;
        text-decoration: none !important;
        margin-right: 1px !important;
    }

.nav.side-menu > li > a {
    margin-bottom: auto !important;
}

.work_menu li > a {
    margin-bottom: 6px !important;
}

.legendStyle > span {
    color: #203764 !important;
    margin-left: 5px;
    margin-right: 5px;
}
