@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueViewModel>

<p-script filepath="~/Areas/UM/Scripts/Queue/QueueGrid.js"></p-script>
<p-link filepath="~/Areas/UM/Styles/Queue/QueueGrid.css"></p-link>
<table id="QueueGrid" class="table table-bordered table-hover table-responsive queue-grid ">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody ">
        @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/Queue/QueueGrid/_QueueGridHeader.cshtml")
    </thead>
    <tbody id="intakeQueueTable">
        @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/Queue/QueueGrid/_QueueGridBody.cshtml")
    </tbody>
</table>
