<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SaveCPT button-styles text-right">
    <span><button data-dismiss="modal" class="btn btn-danger close_modal_btn">CANCEL</button></span>
    <button class="btn btn-success saveCPTRangeButton" onclick="SaveCPTRange()" disabled>SAVE</button>
</div>
