<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <mailSettings>
      <smtp>

        <!--<network host="smtp.net4india.com" port="25" userName="name" password="pass" defaultCredentials="true" />-->

        <network host="smtp.net4india.com" port="25" defaultCredentials="true" enableSsl="false" />
      </smtp>
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="ignored" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp" />
      </smtp>-->

    </mailSettings>
  </system.net>


  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AHC.CD.WebUI.MVC-20141020095121.mdf;Initial Catalog=aspnet-AHC.CD.WebUI.MVC-20141020095121;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.30.10;Initial Catalog=ACDAuthenticationDB;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />
    <add name="EFEntityContext" connectionString="Data Source=192.168.30.10;Initial Catalog=ACDProvidersDB;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />

    <!--<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=ACDAuthenticationDB;Integrated Security=True" providerName="System.Data.SqlClient" />
   <add name="EFEntityContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=ACDProvidersDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>