<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
<style>
    /* ---------- GENERAL ---------- */

    /*body {
        background: #ccc;
        font: 87.5%/1.5em 'Open Sans', sans-serif;
        margin: 0;
    }*/

    a {
        text-decoration: none;
    }

    button {
        -webkit-appearance: button;
        background: transparent;
        border: 0;
        cursor: pointer;
        font-family: inherit;
        font-size: 100%;
        line-height: inherit;
        margin: 0;
        padding: 0;
        text-transform: none;
    }

        button::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    input {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        line-height: inherit;
        margin: 0;
        padding: 0;
    }

        input:focus {
            outline: none;
        }

        input[type="search"] {
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-decoration {
                -webkit-appearance: none;
            }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* ---------- CLASSES ---------- */

    /*.clearfix {
        *zoom: 1;
    }

        .clearfix:before, .clearfix:after {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }*/

    .container {
        left: 50%;
        margin: -17px 0 0 -186px;
        position: absolute;
        top: 50%;
        width: 372px;
    }

    /* ---------- TOOLBAR ---------- */

    .toolbar {
        color: #fff;
    }

        .toolbar li {
            float: left;
        }

            .toolbar li:first-child button {
                border-radius: .5em 0 0 .5em;
            }

            .toolbar li:last-child button {
                border-radius: 0 .5em .5em 0;
            }

        .toolbar a,
        .toolbar input[type="search"],
        .toolbar button {
            background: #337ab7;
            color: white;
            display: block;
            padding: .5em 1em;
            position: relative;
        }

            .toolbar a:hover,
            .toolbar input[type="search"]:hover,
            .toolbar input[type="search"]:focus,
            .toolbar button:hover {
            }

        .toolbar input[type="search"] {
            height: 20px;
            width: 160px;
        }

            .toolbar input[type="search"]::-webkit-input-placeholder {
                color: #fff;
            }

            .toolbar input[type="search"]::-moz-placeholder {
                color: #fff;
                opacity: 1;
            }

            .toolbar input[type="search"]:-moz-placeholder {
                color: #fff;
                opacity: 1;
            }

            .toolbar input[type="search"]:-ms-input-placeholder {
                color: #fff;
            }

    label.Sharath {
        /*background-color: #f8a901;*/
        background-color: #337ab7;
        display: block;
        /*width: 50px;*/
        text-align: center;
        padding: 0.6em 2em;
        color: #fff;
        transition: all 0.4s ease;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

        label.Sharath:before {
            content: '✓';
            line-height: 30px;
            font-size: 15px;
            color: #fff;
            width: 20px;
            height: 100%;
            /*background-color: #9a5502;*/
            background-color: yellowgreen;
            position: absolute;
            top: 0;
            left: 100%;
            transition: all 0.4s ease;
            opacity: 0;
            border-right: 2px solid #fff;
        }

        label.Sharath:hover:before {
            left: 98%;
            opacity: .3;
        }

    input.Sharath {
        display: none;
    }

        /* :: CHECKED :: */
        input.Sharath:checked ~ label.Sharath {
            /*background-color: #f88701;*/
            background-color: #6adc12;
            animation: throw 0.5s linear;
        }

            input.Sharath:checked ~ label.Sharath:before {
                left: 0px;
                opacity: 1;
            }

    .btn-search {
        color: orange;
    }

    #btn-search:hover {
        color: white;
        background: rgb(200, 200, 200);
        box-shadow: 0 0 0 3px rgb(61, 71, 82);
    }

    .tulasi {
        background-color: lightslategray;
    }

    .header {
        background-color: white;
        background-image: none;
        background-size: auto;
        box-shadow: none;
    }
</style>
<div>
    <form id="GroupMailSearchProvider">
        <label class="control-label large">Search User</label>
        <ul class="toolbar clearfix">
            <li> <button class="searchFirstName" id="" ng-click="ClearValue('searchIPA','searchProviderLevel')"> First Name </button> </li>
            <li>
                <input id="searchFirstNameText" style="background-color: lightslategray; width: 130px" class="tulasi" type="search" placeholder="Enter First Name">
            </li>
            <li> <button class="searchIPA" id="" ng-click="ClearValue('searchFirstNameText','searchProviderLevel')"> IPA </button> </li>
            <li>
                <select class="tulasi" style="height:34px;width:100px" id="searchIPA">
                    <option value="" style="display:none;">Select IPA</option>
                    <option ng-repeat="Group in PracticingGroups">{{Group.Group.Name}}</option>
                </select>
            </li>

            <li> <button class="searchProviderLevel" id="" ng-click="ClearValue('searchFirstNameText','searchIPA')"> Provider Level </button> </li>
            <li>
                <select class="tulasi" style="height:34px;width:160px" id="searchProviderLevel">
                    <option value="" style="display:none;">Select Provider Level</option>
                    <option ng-repeat="Level in ProviderLevels">{{Level.Name}}</option>
                </select>
            </li>
            <li><button ng-click="new_search()" id="btn-search" data-toggle="tooltip" data-placement="Right" title="Search" data-toggle="collapse" data-target="#demo"><span class="fa fa-search"></span></button></li>
        </ul>
    </form>
    <div class="clearfix"></div><br /><br />
    <div ng-cloak ng-if="data.length!=0" style="width:88%;" class="panel panel-default content-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Search Results</h3>
            @*<button class="btn btn-info"></button>*@
            @*<input class="pull-right" type="checkbox" data-ng-model="selectedAll" ng-click="checkAll()" name="select-all" id="select-all" />*@
            <input type="checkbox" name="select-all" data-ng-model="selectedAll" ng-change="selectAll()" class="Sharath" id="select-all">
            <label id="select-all" class="Sharath pull-right" for="select-all" style="padding:0.8%;width:23%;margin-top:-5%;font-size:small" data-toggle="tooltip" data-placement="top" title="Add to group">Select All</label>
        </div>
        <div class="panel-body">
            <div class="clearfix"></div>
            <div class="col-lg-12" style="overflow-x:auto;">
                <table ng-table="tableParams1" show-filter="true" class="table table-hover ng-table-resizable-columns ng-table-rowselected">
                    <tr ng-repeat="user in $data track by $index">
                        <td ng-show="!allUsers" class="col-lg-2 wrap-words" data-title="'Full Name'" header-class="text-left" headers-style="background-color:none" sortable="'FullName'" filter="{ 'FullName': 'text' }">
                            {{user.FullName}}
                        </td>
                        <td class="col-lg-2 wrap-words" data-title="'Email ID'" header-class="text-left" sortable="'EmailIds'" filter="{ 'EmailIds': 'text' }">
                            {{user.EmailIds}}
                        </td>
                        <td class="col-lg-1" data-title="'Action'">
                            <input type="checkbox" class="Sharath" id="b_{{user.id}}" ng-model="user.isChecked" ng-click="pushEmail(user)">
                            <label id="addLabel{{user.id}}" class="Sharath" for="b_{{user.id}}" style="padding:3%;width:85%;font-size:small" data-toggle="tooltip" data-placement="top" title="Add to group">Add</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br /><br />
    </div>
    <div ng-if="data.length==0 && showLoading==false" style="margin-left: 27%; font-size: large; color: lightslategray">
        <label>No Result Found!!!</label>
    </div>
    <div ng-show="showLoading" class="row">
        <div style="margin-left:34%;margin-top:9%">
            <img src="~/Areas/Credentialing/img/loading.GIF" />&nbsp;
            <span>Loading...Please Wait</span>
        </div>
    </div>
</div>


