<div class="tab-pane fade in active panel-body">
    @*<div ng-show="loadingSentboxAjax" class="progress col-lg-9">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Loading Sent Mails...Please wait...
            </div>
        </div>*@
    <style>
        .comma:not(:first-child) {
            margin-left: -.3em;
        }

        /* next 2 rules are for spacing when the first .comma is empty too */
        .comma:first-child:empty ~ .comma:not(:empty) {
            margin-left: 0;
        }

            .comma:first-child:empty ~ .comma:not(:empty) ~ .comma:not(:empty) {
                margin-left: -.3em;
            }

        .comma:empty {
            display: none;
        }

        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:not(:first-child):before {
            content: ", ";
        }

        .comma:empty + .comma:not(:empty):before {
            content: "";
        }

        .comma:not(:empty) ~ .comma:empty + .comma:not(:empty):before {
            content: ", ";
        }
    </style>
    <div ng-show="messageTabName = 'Sent'">
        <div ng-class="{'false':'col-lg-5','true':'col-lg-12'}[list]" style="padding-left:10px; padding-right:0px;">
            <div class="panel-default form-style">
                <br />
                @*<fieldset ng-if="Emails.length > 0 && sEmails.length > 0">*@
                <fieldset>
                    @*{{emailItems.Sent|json}}*@
                    <table class='table table-condensed customtbodyStyle table-striped' st-pipe="mc.callServer" st-table="mc.displayed">
                        <thead>
                            <tr><td><input style="width:50%" st-search="" class="form-control" placeholder="Search ..." type="text" /></td></tr>
                        </thead>
                        <tbody ng-repeat="mail in mc.displayed">
                            <tr ng-repeat="email in mail.EmailRecipients">
                                <td colspan="2" ng-if="email.RecipientType=='To' && ($index==0) " class="wrap-words wraptext text-left" style="border-top:none;">
                                    {{email.Recipient}}
                                </td>
                            </tr>

                            @*<tr>
                <td colspan="2" class="wrap-words text-left" style="border-top:none;">{{mail.From}}</td>
            </tr>*@
                            <tr>
                                <td class="wrap-words text-left col-lg-10" style="border-top:none;"><a href="" ng-click="viewDetails(mail)">{{mail.Subject}}</a></td>
                                <td class="wrap-words text-right col-lg-2" style="border-top:none;">{{mail.SendingDate | date:'MMM dd'}}</td>
                            </tr>
                        </tbody>
                        @*<tbody>                            
                            <tr ng-repeat="mail in mc.displayed">                                
                                <td ng-repeat="recipient in mail.EmailRecipients">
                                    {{recipient.Recipient}}
                                    <br />                                    
                                    <span class="wrap-words"><a href="" ng-click="viewDetails(mail)">{{mail.Subject}}</a></span>
                                    <span class="wrap-words pull-right" style="border-top:none;">{{mail.SendingDate | date:'MMM dd'}}</span>
                                </td>
                               
                            </tr>
                        </tbody>*@
                        <tbody ng-show="gm.isLoading">
                            <tr>
                                <td colspan="8" class="text-center">
                                    <div class="loading-indicator"></div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-if="emailItems.length>10">
                                <td style="cursor:pointer" class="text-center" st-pagination="" st-items-by-page="10" colspan="9"></td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
                @*<div ng-if="sEmails.length==0" ng-filter="false">
                        No Messages Found....
                    </div>*@

            </div>
        </div>
        <div ng-show="!list">
            <div class="panel-default form-style">
                <br />
                <fieldset>
                    <div class="legend2 pull-right">
                        <button class="btn btn-xs btn-default" ng-click="closeList()"  data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-times"></i></button>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">From:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span>{{Details.From}}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">To:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span class="comma" ng-repeat=" recipient in Details.EmailRecipients track by $index" ng-if="recipient.RecipientType == 'To'">{{recipient.Recipient}} </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">Cc:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span class="comma" ng-repeat="recipient in Details.EmailRecipients" ng-if="recipient.RecipientType == 'CC'">{{recipient.Recipient || 'Not Available'}} </span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">Date:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span>{{Details.LastModifiedDate | date:'medium'}}</span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">Subject:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span>{{Details.Subject}}</span>
                        </div>
                    </div>
                    <div ng-if="Details.EmailAttachments.length > 0" class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">Attachment(s):</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <span ng-repeat="att in Details.EmailAttachments track by $index">&nbsp;<a target="_blank" href="/Document/View?path={{att.AttachmentRelativePath}}" title="{{att.AttachmentRelativePath}}"><i class="fa fa-file" title=""></i></a></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-3" style="padding:0px;">Body:</div>
                        <div class="col-sm-9" style="padding:0px;">
                            <p style="padding-left: 0px; overflow: auto;overflow-wrap:break-word;" class="col-lg-9 text-left bodyForMail" ng-bind-html="renderHtml(Details.Body)"></p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

