@*<div class="form-inline text-center">
    <button class="btn btn-xs btn-primary">Button 1</button>
    <button class="btn btn-xs btn-primary">Button 2</button>
    <button class="btn btn-xs btn-primary">Button 3</button>
    <button class="btn btn-xs btn-primary">Button 4</button>
</div>*@
<div class="small">
    <div>
        <strong>Initiated By: </strong><span>Jenine Martin</span>
    </div>
    <div>
        <strong>Date: </strong><span>02-Mar-2015</span>
    </div>
</div>