
/*============ REFER BUCKETS ============*/

@media screen and (min-width:1349px) and (max-width:1500px) {
    .theImage {
        position: absolute;
        width: 100%;
        margin-top: 2%;
        margin-left: -13%;
    }

        .theImage img {
            padding: 0% 0%;
            margin-top: -52%;
            width: 268px;
            height: 86px;
        }

    #dataInBucket {
        background: url(/Areas/UM/Resources/Images/ReferBucket/folder.png);
        background-size: 65% 155px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2003;
        border: 0px solid;
        width: 38%;
        padding-top: 2.5%;
    }

    #airPlane img {
        width: 34%;
    }

    .theText span {
        font-size: 82%;
        font-weight: 900;
        text-align: center;
        color: #1d366c;
    }

    .the_file_img {
        margin-top: 30px;
        margin-bottom: 43px;
    }

    #dataInBucket label {
        font-size: 15px;
        margin-left: -24px;
        text-transform: uppercase;
        color: white !important;
    }

        #dataInBucket label:first-child {
            font-size: 13px;
        }

    .standard-text {
        position: absolute;
        color: #496536;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 5%;
    }

    .c3 {
        position: absolute !important;
        padding-left: 33%;
        padding-top: 7%;
        margin-top: 3.5%;
    }

    .expedited-text {
        position: absolute;
        color: #b11717;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 46%;
    }
}

@media screen and (min-width:1501px) and (max-width:1700px) {
    .theImage {
        position: absolute;
        width: 100%;
        margin-top: 2%;
        margin-left: -13%;
    }

        .theImage img {
            padding: 0% 0%;
            margin-top: -56%;
            width: 134px;
            height: 86px;
        }

    #dataInBucket {
        background: url(/Areas/UM/Resources/Images/ReferBucket/folder.png);
        background-size: 58% 155px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2003;
        border: 0px solid;
        width: 38%;
        padding-top: 2.5%;
    }

    #airPlane img {
        width: 40%;
    }

    .theText span {
        font-size: 85%;
        font-weight: 900;
        text-align: center;
        color: #1d366c;
    }

    .the_file_img {
        margin-top: 30px;
        margin-bottom: 43px;
    }

    #dataInBucket label {
        font-size: 15px;
        margin-left: -24px;
        text-transform: uppercase;
        color: white !important;
    }

        #dataInBucket label:first-child {
            font-size: 13px;
        }

    .standard-text {
        position: absolute;
        color: #496536;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 5%;
    }

    .c3 {
        position: absolute !important;
        padding-left: 33%;
        padding-top: 7%;
        margin-top: 3.5%;
    }

    .expedited-text {
        position: absolute;
        color: #b11717;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 41.5%;
    }
}

@media screen and (min-width:1701px) and (max-width:1800px) {
    .theImage {
        position: absolute;
        width: 102%;
        margin-top: 2%;
        margin-left: -13%;
    }

        .theImage img {
            padding: 0% 0%;
            margin-top: -56%;
            width: 135px;
            height: 84px;
        }

    #dataInBucket {
        background: url(/Areas/UM/Resources/Images/ReferBucket/folder.png);
        background-size: 50% 155px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2003;
        border: 0px solid;
        width: 38%;
        padding-top: 2.5%;
    }

    #airPlane img {
        width: 50%;
    }

    .theText span {
        font-size: 98%;
        font-weight: 900;
        text-align: center;
        color: #1d366c;
    }

    .the_file_img {
        margin-top: 30px;
        margin-bottom: 43px;
    }

    #dataInBucket label {
        font-size: 15px;
        margin-left: -22px;
        text-transform: uppercase;
        color: white !important;
    }

        #dataInBucket label:first-child {
            font-size: 13px;
        }

    .standard-text {
        position: absolute;
        color: #496536;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 4%;
    }

    .c3 {
        position: absolute !important;
        padding-left: 33%;
        padding-top: 5.5%;
        margin-top: 2.5%;
    }

    .expedited-text {
        position: absolute;
        color: #b11717;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 36%;
    }
}

@media screen and (min-width:1801px) and (max-width:1900px) {
    .theImage {
        position: absolute;
        width: 102%;
        margin-top: 2%;
        margin-left: -13%;
    }

        .theImage img {
            padding: 0% 0%;
            margin-top: -56%;
            width: 135px;
            height: 84px;
        }

    #dataInBucket {
        background: url(/Areas/UM/Resources/Images/ReferBucket/folder.png);
        background-size: 50% 155px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2003;
        border: 0px solid;
        width: 38%;
        padding-top: 2.5%;
    }

    #airPlane img {
        width: 50%;
    }

    .theText span {
        font-size: 98%;
        font-weight: 900;
        text-align: center;
        color: #1d366c;
    }

    .the_file_img {
        margin-top: 30px;
        margin-bottom: 43px;
    }

    #dataInBucket label {
        font-size: 15px;
        margin-left: -22px;
        text-transform: uppercase;
        color: white !important;
    }

        #dataInBucket label:first-child {
            font-size: 13px;
        }

    .standard-text {
        position: absolute;
        color: #496536;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 4%;
    }

    .c3 {
        position: absolute !important;
        padding-left: 33%;
        padding-top: 5.5%;
        margin-top: 2%;
    }

    .expedited-text {
        position: absolute;
        color: #b11717;
        font-size: 13px;
        margin-left: 28%;
        margin-top: 33.5%;
    }
}

@media screen and (min-width:1901px) {
    .theImage {
        position: absolute;
        width: 102%;
        margin-top: 2%;
        margin-left: -13%;
    }

        .theImage img {
            padding: 0% 0%;
            margin-top: -56%;
            width: 135px;
            height: 84px;
        }

    #dataInBucket {
        background: url(/Areas/UM/Resources/Images/ReferBucket/folder.png);
        background-size: 50% 155px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2003;
        border: 0px solid;
        width: 38%;
        padding-top: 2.5%;
    }

    #airPlane img {
        width: 50%;
    }

    .theText span {
        font-size: 115%;
        font-weight: 900;
        text-align: center;
        color: #1d366c;
    }

    .the_file_img {
        margin-top: 28px;
        margin-bottom: 44px;
    }

    #dataInBucket label {
        font-size: 15px;
        margin-left: 1px;
        text-transform: uppercase;
        color: white !important;
    }

        #dataInBucket label:first-child {
            font-size: 13px;
        }

    .c3 {
        position: absolute !important;
        padding-left: 35%;
        padding-top: 4%;
        margin-top: 3.5%;
    }

    .standard-text {
        position: absolute;
        color: #496536;
        font-size: 13px;
        margin-left: 31%;
        margin-top: 4%;
    }

    .expedited-text {
        position: absolute;
        color: #b11717;
        font-size: 13px;
        margin-left: 31%;
        margin-top: 32%;
    }
}

/*===========================================================================================================================*/

.theCardContainer {
    display: none;
    margin-top: 1%;
    width: 100%;
    height: 100%;
}

.theCol {
    padding: 0% 0.3%;
}

.theBox {
    background: url(/Areas/UM/Resources/Images/ReferBucket/Laptop-Copy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 170px;
    position: relative;
    color: #142e67;
    margin-top: 5%;
    cursor: pointer;
    width: 102%;
    min-height: 185px;
    z-index: 5;
}

.theNameForPic {
    width: 100%;
    height: 14%;
    margin-bottom: 12%;
    margin-top: 10%;
    font-size: 300%;
    font-weight: 900;
    padding: 24% 24%;
}

.theText1 {
    margin-top: 101%;
    margin-bottom: 0%;
}

.theText {
    margin-top: 127px;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.bottomRowStyle {
    margin-bottom: 3%;
    padding-right: 2px;
    margin-left: -1%;
}

.marginTop-20 {
    margin-top: -13px;
}

.theUserRole {
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 10%;
    color: #469244;
    margin-top: -2%;
}

.secondLine {
    text-align: center;
    font-size: 160%;
    margin-top: 1%;
    padding: 3%;
    color: #10447b;
}

.theInnerCard {
    margin-top: 2%;
    margin-left: 2%;
    color: #10447b;
}

.theInnerCard1 {
    margin-top: 25%;
    margin-left: 6%;
}

.referToRole {
    text-align: center;
    font-size: 98%;
    padding: 3% 0%;
}

.this_box_chart {
    margin-left: -4%;
}

.theAnimationContainer {
    display: block;
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-top: 7%;
    padding-top: 1%;
}

.doneSuccess {
    display: none;
    background: url(../../../../Resources/Images/Buttons/Success.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 30%;
    margin-top: 20%;
    font-size: 115%;
    font-weight: 600;
    color: white;
    padding: 3% 2%;
    margin-left: 40%;
}

/*========================Ripple button=========================================*/

.queue-bucket-btn {
    padding: 1.5% 3%;
    margin: 5% 1%;
    position: relative;
    font-size: 140%;
    color: #07235F;
    width: 31%;
    min-height: 70px;
    display: inline-block;
    background: url(../../../../Resources/Images/Buttons/Ghost.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.queue-bucket-active-btn {
    padding: 1.5% 3%;
    margin: 5% 1%;
    position: relative;
    font-size: 140%;
    color: #FFF !important;
    width: 31%;
    min-height: 70px;
    display: inline-block;
    background: url(../../../../Resources/Images/Buttons/Primary.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ripple-obj {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: #21bda0;
}

    .ripple-obj use {
        opacity: 0;
    }

/*======================== /Ripple button=========================================*/


/*======================== Bucket Animation ======================================*/

.style4 {
    font-weight: 700;
}

.style4 {
    font-size: 30px;
    background: #000;
    background: #000;
    padding: 10px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 6px solid #fff;
    color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    text-align: center;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.style_buc {
    -webkit-animation-name: bucket_go; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: bucket_go;
    animation-duration: 4s;
}

/*======================= Chrome, Safari, Opera ======================================= */

@-webkit-keyframes bucket_go {
    from {
        background-color: #81D4FA;
    }

    to {
        background-color: #03A9F4;
    }
}

/* Standard syntax */
@keyframes bucket_go {
    from {
        background-color: #81D4FA;
    }

    to {
        background-color: #03A9F4;
    }
}

/*======================== /Bucket Animation ======================================*/

#content {
    margin-top: -20%;
    margin-left: -83px;
    width: 500px;
    height: 480px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

#airPlane {
    position: absolute;
    left: -17%;
    top: 8em;
    z-index: 0;
}

#the_Success_Member {
    z-index: 2;
    /*margin-top: 25%;*/
}

.the_file_image {
    width: 80%;
}
