@model AHC.CD.Entities.DTO.AduitDTO



<div class="col-lg-4 zero-padding-left-right">
    <button id="LOGS" class="biscuit biscit_outerColor_blue">
        <div class=" biscuit_heading auth">
            <b>Audit Trail</b>
        </div>
        <div class="biscuit_body">
            <div class="col-sm-5 padding_5">
                <div class="pull-left iconspace">
                    <i class="fa fa-4x fa-users"></i>
                </div>
            </div>
            <div class="col-sm-5 datasize">
                <label id="TotalLogCount">@Model.TotalLogCount</label>
            </div>
            <div class="col-sm-2 padding_5"></div>
        </div>
    </button>
</div>
<div class="col-lg-4 zero-padding-left-right">
    <button id="Information" class="biscuit biscit_outerColor_green">
        <div class="biscuit_heading auth">
            <b>Activity</b>
        </div>
        <div class="biscuit_body">
            <div class="col-sm-5 padding_5">
                <div class="pull-left iconspace">
                    <i class="fa fa-4x fa-check"></i>
                </div>
            </div>
            <div class="col-sm-5 datasize">
                <label id="InformationLogCount">@Model.InformationLogCount</label>
            </div>
            <div class="col-sm-2 padding_5"></div>
        </div>
    </button>
</div>
<div class="col-lg-4 zero-padding-left-right">
    <button id="Alert" class="biscuit biscit_outerColor_time">
        <div class=" biscuit_heading auth">
            <b>Alert</b>
        </div>
        <div class="biscuit_body">
            <div class="col-sm-5 padding_5">
                <div class="pull-left iconspace">
                    <i class="fa fa-4x fa-exclamation-circle"></i>
                </div>
            </div>
            <div class="col-sm-5 datasize">
                <label id="AlertLogCount">@Model.AlertLogCount</label>
            </div>
            <div class="col-sm-2 padding_5"></div>
        </div>
    </button>
</div>
