@model IEnumerable<AHC.CD.Entities.DTO.AuditMessageDTO>
<form id="AuditHiddenFieldForm">
    <input id="AuditCategory" name="AuditCategory" type="hidden" value="Total" />
</form>         
<table id="AuditTable" class="table table-striped pt-table table-hover table-responsive text-uppercase AuditLogTable" style="border: 2px solid #11316f;table-layout:fixed;">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody" id="resultTableHeaderGlobal">
        <tr>
            <th class="col-lg-2">
                <span class="tableheader">Controller Name</span>
            </th>
            <th class="col-lg-2">
                <span class="tableheader">Action Name</span>
            </th>
            <th class="col-lg-2">
                <span class="tableheader">Performed Date</span>
            </th>
            <th class="col-lg-2">
                <span class="tableheader">User Name</span>
            </th>
            <th class="col-lg-1">
                <span class="tableheader">URL</span>
            </th>
            <th class="col-lg-2">
                <span class="tableheader">Category</span>
            </th>
            <th class="col-lg-1">
                <span class="tableheader">IP</span>
            </th>
        </tr>
    </thead>
    <tbody id="tableWrapper" class="fullBodyContainer">
        @Html.Partial("~/Views/Audit/_AuditTableBody.cshtml", Model)
    </tbody>
</table>