@model AHC.CD.Entities.DTO.AduitDTO

@section AddToHead{
    <link href="~/Content/Audit/AuditTrail.css" rel="stylesheet" />
    <link href="~/Content/PratianComponentCSS/pt-table_v1.css" rel="stylesheet" />
    <link href="~/Content/PratianComponentCSS/ptGrid.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-2.2.0.js"></script>
    <script src="~/Scripts/Lib/PratianComponent/pt_grid_lib.js"></script>
    <script src="~/Scripts/Audit/AuditJQueryApp/JQueryServiceRepository.js"></script>
    <script src="~/Scripts/Audit/AuditJQueryApp/AuditJQueryApp.js"></script>
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-list-alt"></i> Audit User Activities
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div id="AuditMain" class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="Biscuits" class="col-lg-12 zero-padding-left-right">
                            @Html.Partial("~/Views/Audit/_AuditMain.cshtml", Model)
                        </div>

                        <div class="col-lg-12 zero-padding-left-right">
                            @Html.Partial("~/Views/Audit/_AuditTable.cshtml", Model.AuditMessages)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loadingSample" class="hidden" style="position: absolute; height: 76%; width: 99.2%; z-index: 1; background-color: rgba(245, 245, 245, .5);">
    <img src="~/Content/Images/Loading1.gif" style="position: relative; left: 45%; top: 30%; z-index: 1222;" width="100" />
</div>