
<li class="collapsed_click outer_menu_item_top active" style="display: block; margin-top: 10px;">

    <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="EDW Logger" data-tab-title="EDW Logger" data-tab-path="/ETL/EdwLogger/DisplayEdwLogger" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">EDW Logger</span>
    </a>
</li>

<li class="collapsed_click outer_menu_item_top active" style="display: block; margin-top: 10px;">

    <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="Staging Tracker" data-tab-title="Staging Tracker" data-tab-path="/ETL/StagingTracker/DisplayStagingTracker" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">Staging Tracker</span>
    </a>
</li>

<li class="collapsed_click outer_menu_item_top active" style="display: block; margin-top: 10px;">
   
    <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="Files Availability" data-tab-title="Files Availability" data-tab-path="~/Areas/ETL/Views/FilesAvailability/_FilesAvailabilty.cshtml" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">Files Availability</span>
    </a>
</li>

<li class="collapsed_click active">
    <a class="expand_click menu_click_expanded outer_menu_item_under expanded">
        &nbsp;<span class="text_beside_icon">Reports</span>
        <span class="menuCarat fa fa-chevron-down"></span>
    </a>

    <ul class="nav child_menu" style="display:block;">
        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    File Type Report
                </span>
            </a>
        </li>

        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Plan Type Report
                </span>
            </a>
        </li>

        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Rows Count Report
                </span>
            </a>
        </li>

        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                   Monthly Claims
                </span>
            </a>
        </li>

        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Rosters Plan Vs Schema
                </span>
            </a>
        </li>

        <li class="outer_menu_item_top">
            <a class="expand_click tab-navigation"
               data-tab-action="Search Member"
               data-tab-title="Search Member"
               data-tab-path="~/Areas/UM/Views/SearchMember/_SearchMember.cshtml"
               data-tab-container="fullBodyContainer">
                <span class="text_beside_icon">
                    Monthly Claims Plan Vs Schema
                </span>
            </a>
        </li>
    </ul>
</li>

<li class="collapsed_click outer_menu_item_top active" style="display: block; margin-top: 10px;">

    <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="File Tree" data-tab-title="File Tree" data-tab-path="~/Areas/ETL/Views/Home/_Test.cshtml" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">File Tree</span>
    </a>
</li>

<li class="collapsed_click outer_menu_item_top active" style="display: block; margin-top: 10px;">

    <a class="expand_click menu_click_expanded tab-navigation" data-tab-action="Data Jovian" data-tab-title="Data Jovian" data-tab-path="~/Areas/ETL/Views/Home/_Test.cshtml" data-tab-container="fullBodyContainer">
        <span class="text_beside_icon">Data Jovian</span>
    </a>
</li>





