
<div class="panel panel-default content-panel" style="border:none">
    @*<div class="panel-heading">
            <span class="badge bg-info pull-right" ng-show="ifFilter()">{{getIndexFirst()}} - {{getIndexLast()}} of {{data.length}}</span>
            <h3 class="panel-title">List of DeCredentialing Initiations</h3>
        </div>*@
    <div class="clearfix"></div>
    <div class="panel-body" ng-cloak>
        <div ng-show="loadingAjax" class="progress col-lg-12" ng-cloak>
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Loading...Please wait...
            </div>
        </div>
        <div ng-show="data.length==0 && !loadingAjax">
            <h4>No Data Available...</h4>
        </div>
        <div ng-show="data.length!=0" class="col-lg-12" style="overflow-x:auto;">

            <table ng-table="tableParams3" class="table table-hover ng-table-resizable-columns ng-table-rowselected">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Plan</th>
                        <th>Initiated Date</th>
                        @*<th>Status</th>*@
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Filter First Name" class="form-control input-sm" ng-model="search.FirstName" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter Last Name" class="form-control input-sm" ng-model="search.LastName" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter Plan" class="form-control input-sm" ng-model="search.PlanName" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter De-Credentialing Date" class="form-control input-sm" ng-model="search.LastModifiedDate" ng-change="filterData()" /></td>
                        @*<td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.CurrentStatus" ng-change="filterData()" /></td>*@
                        <td></td>
                    </tr>
                </thead>
                <!-- ngInclude: templates.header -->
                <tbody>
                    <tr ng-repeat="user in $data | filter:{FirstName:search.FirstName,LastName:search.LastName,PlanName:search.PlanName,InitiationDate:search.LastModifiedDate,CurrentStatus:search.CurrentStatus} track by $index" ng-show="IsValidIndex($index)">
                        <td class="wrap-words">
                            {{user.FirstName}}
                        </td>
                        <td class="wrap-words">
                            {{user.LastName}}
                        </td>
                        <td class="wrap-words">
                            {{user.PlanName}}
                        </td>

                        <td class="wrap-words">
                            {{user.LastModifiedDate}}
                        </td>
                        @*<td class="wrap-words">
                            {{user.CurrentStatus}}
                        </td>*@
                        <td>
                            <a class="btn btn-xs btn-info" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Credentialing/Initiation/DecredentialingSummary/{{user.CredentialingInfoID}}" tooltip data-toggle="tooltip" data-placement="top" title="Plan Contract"><i class="fa fa-caret-right"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
