.margin_top_-10px{
    margin-top:-10px;
}
.margin_bottom_-15px{
    margin-bottom: -15px;
}

#DocumentHistory{
    margin-bottom: 10px; display: none;
}

#DocumentHistory .custombadge{
    margin-top:-11px; margin-bottom: 6px;
}