@model PortalTemplate.Areas.UM.Models.ViewModels.Member.MemberSearchResultViewModel

<link href="~/Areas/UM/Styles/SearchMember/SearchMemberResultGrid.css" rel="stylesheet" />
<p-script filepath="~/Areas/UM/Scripts/SearchMember/NonMinified/SearchMemberResultGrid.js"></p-script>

<table class="theme1_table" id="resultTableHeader" @*border="1"*@>
    <thead class="theme_thead">
        <tr>
            <th class="withfilter sm-mbrid">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>MBR ID</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-lastname">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>LAST NAME</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-firstname">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>FIRST NAME</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-dob">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>DOB</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-gender">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>SEX</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-pcp">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>PCP</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-pcpphone">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>PCP PHONE</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-effdate">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>EFF DATE</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-address">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>ADDRESS</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-city">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>CITY</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-state">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>ST</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
            <th class="withfilter sm-zip">
                <span class="styled-input">
                    <input class="filer-search" type="text" required />
                    <label>ZIP</label>
                    <span></span>
                    <i class="fa fa-sort"></i>
                </span>
            </th>
        </tr>
    </thead>
</table>
<div id="tableBodyWrapper">
    <table class="table table-striped" @*border="1"*@>
        <tbody id="searchResultGrid">
            

        </tbody>
    </table>
</div>
