<p-link filepath="~/Areas/CredAxis/CSS/ProviderProfile/ProviderProfile.css"></p-link>
<p-link filepath="~/Areas/CredAxis/CSS/ProviderProfile/TableTemplate.css"></p-link>
<p-script filepath="~/Areas/CredAxis/Resources/ServiceData/AllCredAxisData.js"></p-script>
<p-script filepath="~/Areas/CredAxis/Scripts/ProviderProfile/NonMinified/PrimarySourceVerification.js"></p-script>

<link href="~/Content/AppCss/TabStyles.css" rel="stylesheet" />
<p-link filepath="~/Areas/CredAxis/CSS/font-awesome_V4.7.css"></p-link>
<div class="col-lg-12" style="padding-right: 0px !important; padding-left: 0px !important; margin-left: -6px !important;">
    <!-- SCROLL BUTTONS -->
    <div class="zero-padding-left-right post__article PSVtabs" id="PSV">

        <div>
            <div>
                <div class="runningdata">
                    <table class="table responsive-utilities table-condensed table-responsive ">
                        <thead class="providerheader">
                            <tr class="headings">
                                <th class="column-title">Provider Name </th>
                                <th class="column-title">Provider Type</th>
                                <th class="column-title">PSV Status</th>
                                <th class="column-title">Plan</th>
                                <th class="column-title">Last PSV Performed</th>
                                <th class="column-title">Action</th>
                            </tr>
                        </thead>
                        <tbody class="boldbody">
                            <tr>
                                <td class="theme_label_data"> <span>JOHN SMITH</span></td>
                                <td class="theme_label_data"> <span>MD</span></td>
                                <td class="theme_label_data"><span>Incomplete</span></td>
                                <td class="theme_label_data"><span>Humana</span> </td>
                                <td class="theme_label_data"> <span>11/28/2015</span></td>
                                <td class="theme_label_data">
                                    <span>
                                        <a class="print_button_for_stateLicense hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                                            <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                                        </a>
                                        <span class="fstyleBtnStyle">
                                            <button class="btn btn-primary btn-xs">
                                                View Profile
                                            </button>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="memberProfileTabsContainer" id="profileTabs">
            <ul class="list-unstyled x-dtablist nav-justified tabcontainer" style=" background-color: white; z-index: 99; margin-bottom: 0px;">
                <li id="StateLicenseScrolls" class="tab-item PSV_tab-item-sec-1 current" data-val="IDStateLicense">
                    <a id="StateLicenseScroll" class="list-item no_underline list-item-tab-1" data-tab-path="/CredAxis/PSV/GetPSVStateLicense" data-tab-container="StateLicenseTabView">
                        Summary
                    </a>
                </li>
                <li id="BoardCertificateScrolls" class="tab-item PSV_tab-item-sec-2" data-val="IDBoardCertificate">
                    <a class="list-item no_underline list-item-tab-2" data-tab-path="/CredAxis/BoardCertificate/Index" data-tab-container="BoardCertificateTabView">
                        State License
                    </a>
                </li>
                <li id="FederalDEAScroll" class="tab-item PSV_tab-item-sec-3" data-val="IDLicenses">
                    <a class="list-item no_underline list-item-tab-3" data-tab-path="/CredAxis/Licenses/Index" data-tab-container="FederalDEAsTabView">
                        Board Certificate
                    </a>
                </li>
                @*<li id="MedicareOptOutScroll" class="tab-item PSV_tab-item-sec-4" data-val="IDMedicareOptOut">
                        <a class="list-item no_underline list-item-tab-4" data-tab-path="/CredAxis/FaderalDEA/Index" data-tab-container="FaderalDEATabView">
                            Medicare Opt Out
                        </a>

                    </li>
                    <li id="OIGScroll" class="tab-item PSV_tab-item-sec-5" data-val="IDOIG">
                        <a class="list-item no_underline list-item-tab-5" data-tab-path="/CredAxis/OIG/Index" data-tab-container="OIGTabView">
                            OIG
                        </a>
                    </li>
                    <li id="USPSScroll" class="tab-item PSV_tab-item-sec-6" data-val="IDUSPS">
                        <a class="list-item no_underline list-item-tab-6" data-tab-path="/CredAxis/USPS/Index" data-tab-container="USPSView">
                            USPS
                        </a>
                    </li>*@
            </ul>
            <div class="clearfix"></div>
            @*@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/OtherTabs/_NavigationBar.cshtml")*@
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div id="PSVTabView" class="tab memberTabsPadding profile_tabscontent_Padding">
            <div id="StateLicenseTabView" class="tabScrollProviderCA">
                <div class="col-lg-12">
                    @*@Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/PSVSearch/_PSVResultData.cshtml")*@
                    @Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/PSV Summary/_PSVHistory.cshtml")

                    @Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/StateLicense/_PSVStateLicense.cshtml")

                </div>
            </div>
            <div id="BoardCertificateTabView" class="tabScrollProviderCA">
            </div>
            <div id="FederalDEAsTabView" class="tabScrollProviderCA">
            </div>
            @*<div id="FaderalDEATabView" class="tabScrollProviderCA">
                </div>
                <div id="OIGTabView" class="tabScrollProviderCA">
                </div>
                <div id="USPSView" class="tabScrollProviderCA">
                </div>*@

            <div class="clearfix"></div>
            <div class="theHideDiv" style="height:140px;"></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
