<style>
    #FloatMenu .anchorselected.info-number.outer_menu_item_top {
        padding-right: 15px;
        padding-left: 15px;
    }
</style>

@*<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation member-actions "
       data-tab-action="Summary"
       data-tab-title="Summary"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-path="~/Areas/CredAxis/Views/ProviderProfile/OtherTabs/_summary.cshtml"
       data-tab-defaultparenttab="Provider"
       data-tab-userid=""
       data-tab-usertype="Provider"
       data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
       data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr> <span class="text_beside_icon">SUMMARY</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">SUMMARY</span>
</li>*@
<li class=" anchorselected info-number outer_menu_item_top">
    <a class="tab-navigation member-actions active"
       data-tab-action="Provider Profile"
       data-tab-title="Profile"
       data-tab-parentcontainer="partialBodyContainer"
       data-tab-floatmenu="true"
       data-tab-container="innerTabContainer"
       data-tab-autoflush="false"
       data-tab-issubtab="true"
       data-tab-path="~/Areas/CredAxis/Views/ProviderProfile/_ProviderProfile.cshtml"
       data-tab-defaultparenttab="Provider"
       data-tab-userid=""
       data-tab-usertype="Provider"
       data-tab-parenttabtitle=".outertabs.active > a > b"
       data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
       data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
       data-tab-parenttabrenderingarea="headerArea">
        <nobr><span class="text_beside_icon">PROFILE</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">PROFILE</span>
</li>

    <li class="info-number outer_menu_item_top">
            <a class="tab-navigation member-actions"
               data-tab-action="Task"
               data-tab-title="Task"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path=""
               data-tab-defaultparenttab="Provider"
               data-tab-parenttabtitle=".outertabs.active > a > b"
               data-tab-userid=""
               data-tab-usertype="Provider"
               data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
               data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
               data-tab-parenttabrenderingarea="headerArea">
                <nobr><span class="text_beside_icon">TASK</span></nobr>
            </a>
            <span class="label_on_collapsed floating_menu_label">TASK</span>
        </li>
        <li class="info-number outer_menu_item_top">
            <a class="tab-navigation member-actions"
               data-tab-action="Credentialing"
               data-tab-title="Credentialing"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="~/Areas/CredAxis/Views/Credentialing/_ProviderCredentialing.cshtml"
               data-tab-defaultparenttab="Provider"
               data-tab-parenttabtitle=".outertabs.active > a > b"
               data-tab-userid=""
               data-tab-usertype="Provider"
               data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
               data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
               data-tab-parenttabrenderingarea="headerArea">
                <nobr><span class="text_beside_icon">CREDENTIALING</span></nobr>
            </a>
            <span class="label_on_collapsed floating_menu_label">CREDENTIALING</span>
        </li>
        <li class="info-number outer_menu_item_top">
            <a class="tab-navigation member-actions"
               data-tab-action="Contracts"
               data-tab-title="Contracts"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path=""
               data-tab-parenttabtitle=".outertabs.active > a > b"
               data-tab-defaultparenttab="Provider"
               data-tab-userid=""
               data-tab-usertype="Provider"
               data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
               data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
               data-tab-parenttabrenderingarea="headerArea">
                <nobr><span class="text_beside_icon">CONTRACTS</span></nobr>
            </a>
            <span class="label_on_collapsed floating_menu_label">CONTRACTS</span>
        </li>
        <li class="info-number outer_menu_item_top">
            <a class="tab-navigation member-actions"
               data-tab-action="Document Repository"
               data-tab-title="Document Repository"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="/CredAxis/Documents/DocumentsMainView"
               data-tab-parenttabtitle=".outertabs.active > a > b"
               data-tab-defaultparenttab="Provider"
               data-tab-userid=""
               data-tab-usertype="Provider"
               data-tab-float-menu-path="~/Areas/CredAxis/Views/Shared/_FloatMenu.cshtml"
               data-tab-parenttabpath="~/Areas/CredAxis/Views/ProviderProfile/_ProviderHeader.cshtml"
               data-tab-parenttabrenderingarea="headerArea">
                <nobr><span class="text_beside_icon">DOCUMENT REPOSITORY</span></nobr>
            </a>
            <span class="label_on_collapsed floating_menu_label">DOCUMENT REPOSITORY</span>
        </li>
