<li class="collapsed_click outer_menu_item_top active">
    <ul class="nav child_menu" style="display:block;">
        <li class="info-number outer_menu_item_top cursor_pointer " id="backToMenu">
            <nobr>
                <span>
                    <img src="~/Resources/Images/Icons/newback.png" style="height: 14px;" />
                    <span class="go-back-btn">Go to Main Menu </span>
                </span>
            </nobr>
        </li>
        @*<li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Dashboard"
               data-tab-title="Dashboard"
               data-tab-path="~/Areas/CredAxis/Views/Dashboard/_CredAxisDashboard.cshtml"
               data-tab-container="fullBodyContainer">
                <i  style="cursor: pointer;"></i><span class="text_beside_icon">DASHBOARD</span>
            </a>
        </li>*@
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="SEARCH PROVIDER"
               data-tab-title="SEARCH PROVIDER"
               data-tab-path="/SearchProvider/_SearchProvider.cshtml"
               data-tab-container="fullBodyContainer">
                <i style="cursor: pointer;"></i><span class="text_beside_icon">SEARCH PROVIDER</span>
            </a>
        </li>
        @*<li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Credentialing"
               data-tab-title="Credentialing"
               data-tab-path=""
               data-tab-container="fullBodyContainer">
                <i style="cursor: pointer;"></i><span class="text_beside_icon">CREDENTIALING</span>
            &nbsp;<span class="">
                      @*<i class="fa fa-plus" id="PlusColor"></i>
            </span>
            </a>
        </li>*@
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="AddProvider"
               data-tab-title="Add Provider"
               data-tab-path="~/Areas/CredAxis/Views/AddProvider/_AddProviderForm.cshtml"
                data-tab-container="fullBodyContainer">
                <i @*class="fa fa-user"*@ style="cursor: pointer;"></i><span class="text_beside_icon">ADD PROVIDER</span>
            </a>
        </li>
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="AddProvider1"
               data-tab-title="Add Provider1"
               data-tab-path="~/Areas/CredAxis/Views/AddProvider/AddProviderold/_AddProviderForm.cshtml"
               data-tab-container="fullBodyContainer">
                <i @*class="fa fa-user"*@ style="cursor: pointer;"></i><span class="text_beside_icon">ADD PROVIDER1</span>
            </a>
        </li>
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="PSV"
               data-tab-title="PSV"
               data-tab-path="~/Areas/CredAxis/Views/PrimarySourceVerification/_PSVIndex.cshtml"
               data-tab-container="fullBodyContainer">
                <i @*class="fa fa-user"*@ style="cursor: pointer;"></i><span class="text_beside_icon">PSV</span>
            </a>
        </li>

        @*<li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Contracting"
               data-tab-title="Contracting"
               data-tab-path=""
               data-tab-container="fullBodyContainer">
                <i*@ @*class="fa fa-user"*@ @*style="cursor: pointer;"></i><span class="text_beside_icon">CONTRACTING</span>
            </a>
        </li>
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="PSV"
               data-tab-title="PSV"
               data-tab-path=""
               data-tab-container="fullBodyContainer">
                <i*@ @*class="fa fa-user"*@ @*style="cursor: pointer;"></i><span class="text_beside_icon">PSV</span>
            </a>
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Task Tracker"
               data-tab-title="Task Tracker"
               data-tab-path=""
               data-tab-container="fullBodyContainer">
                <i*@ @*class="fa fa-user"*@ @*style="cursor: pointer;"></i><span class="text_beside_icon">TASK TRACKER</span>
            </a>
        </li>
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Reports"
               data-tab-title="Reports"
               data-tab-path=""
               data-tab-container="fullBodyContainer">
                <i*@ @*class="fa fa-user"*@ @*style="cursor: pointer;"></i><span class="text_beside_icon">REPORTS</span>
            </a>
        </li>*@
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Bridge REQUESTS"
               data-tab-title="Bridge REQUEST"
               @*data-tab-path="/BridgeQueue/Index"*@
               data-tab-path="/Portal/BridgeQueue/GetBridgeRequestListType"
               data-tab-container="fullBodyContainer">
                <i style="cursor: pointer;"></i><span class="text_beside_icon">BRIDGE REQUEST</span>
            </a>
        </li>

        @*<li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="PACKAGE GENERATOR"
               data-tab-title="PACKAGE GENERATOR"
               data-tab-path="/FormGenerator/Index"
               data-tab-container="fullBodyContainer">
                <i style="cursor: pointer;"></i><span class="text_beside_icon">PACKAGE GENERATOR</span>
            </a>
        </li>*@
        <li class=" outer_menu_item_top">
            <a class="expand_click menu_click_expanded tab-navigation"
               data-tab-action="Form Generation"
               data-tab-title="Form Generation"
               data-tab-path="/FormGenerator/Index"
               data-tab-container="fullBodyContainer">
                <i style="cursor: pointer;"></i><span class="text_beside_icon">FORM GENERATION</span>
            </a>
        </li>
    </ul>
</li>

<script>
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $li = $(this);
        slideMenu($li);
    });
    function slideMenu($li, $a) {
        if ($a.hasClass('expanded')) {
            $a.addClass('collapsed').removeClass("expanded");
            $('ul:first', $li).slideUp();
        } else if ($a.hasClass('collapsed')) {
            $a.addClass("expanded").removeClass('collapsed');
            $('ul:first', $li).slideDown();
        }
    };
    $('#sidebar-menu').on('click', '.menu_click_expanded', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        slideMenu($li, $a);
    });
    $('#sidebar-menu').on('click', '.menu_click_collapsed', function (ev) {
        var $a = $(this);
        var $li = $(this).parent();
        slideMenu($li, $a);
    });
</script>