<br />
<div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true" ng-controller="Education">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="under_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#under" aria-expanded="true" aria-controls="under">
                Under Graduation Details
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>
        </div>

        <div id="under" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>School Details</div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label class="control-label">School Name:</label>
                                    <label class="control-label small">St. Joseph</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Degree awarded:</label>
                                    <label class="control-label small">UG</label>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group col-md-6">

                                    <label for="Fax" class="control-label">Fax:</label>
                                    <label class="control-label small">1-212-9876543</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="MobileNo" class="control-label">Telephone Number:</label>
                                    <label class="control-label small">8901221809</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Start Date:</label>
                                    <label class="control-label small">4-3-2014</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">End Date:</label>
                                    <label class="control-label small">12-3-2014</label>
                                </div>

                            </div>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View UG Certificate <i class="fa fa-file"></i></button>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Address</div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">

                                <div class="form-group col-md-4">
                                    <label class="control-label">Number:</label>
                                    <label class="control-label small">2</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Suite/Building:</label>
                                    <label class="control-label small">suite</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">Street:</label>
                                    <label class="control-label small">Concord street</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Country:</label>
                                    <label class="control-label small">US</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">State:</label>
                                    <label class="control-label small">New York</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label">City:</label>
                                    <label class="control-label small">Beacon</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label class="control-label">Zip code:</label>
                                    <label class="control-label small">34606</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Did you complete your UG education at this school? </label>
                        <label class="control-label small">Yes</label>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grad_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#grad" aria-expanded="false" aria-controls="grad">
                Graduation Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="grad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="graduationDataContainer">

                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>School</strong></div>
                            <div class="col-lg-3"><strong>Start Date</strong></div>
                            <div class="col-lg-3"><strong>End Date</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="internshipGapData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Pine view</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">12-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('graduationForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="graduationForm1" style="display:none;">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class="control-label">Graduate Type:</label>
                                    <label class="control-label small">US</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>School Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Pine View</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">1-212-9876543</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8901331809</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">15-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>


                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Concord street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">Florida</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Orlando</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">32810</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>ECFMG Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-6">
                                                <label class="control-label">ECFMG Number</label>
                                                <label class="control-label small">04181309</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">ECFMG Issue Date:</label>
                                                <label class="control-label small">4-3-2009</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View ECFMG Certificate <i class="fa fa-file"></i></button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <label class="control-label">Did you complete your graduation at this school? </label>
                                    <label class="control-label small">Yes</label>
                                </div>



                            </div>

                        </div>
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">School2</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('graduationForm2', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="graduationForm2" style="display:none;">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class="control-label">Graduate Type:</label>
                                    <label class="control-label small">US</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>School Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Oxford Academy</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">32801</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8908908990</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">12-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>


                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small"> Pine street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">New York</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">new city</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">34606</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>ECFMG Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-6">
                                                <label class="control-label">ECFMG Number</label>
                                                <label class="control-label small">06170302</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">ECFMG Issue Date:</label>
                                                <label class="control-label small">4-3-2010</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View ECFMG Certificate <i class="fa fa-file"></i></button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <label class="control-label">Did you complete your graduation at this school? </label>
                                    <label class="control-label small">Yes</label>
                                </div>



                            </div>

                        </div>

                    </div>



                </div>

                <br />

            </div>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="grad_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#residency" aria-expanded="false" aria-controls="residency">
                Residency/Internship Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="residency" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="internshipDataContainer">

                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>School</strong></div>
                            <div class="col-lg-3"><strong>Start Date</strong></div>
                            <div class="col-lg-3"><strong>End Date</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="internshipData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Pacific C School</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('internshipForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="internshipForm1" style="display:none;">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class="control-label">Program Type</label>
                                    <label class="control-label small">Fellowship</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>School Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Pacific C school</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">1619998888</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8909990001</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">5-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>


                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small"> Pine street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">New York</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Geneva</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">34606</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Others</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Department Speciality</label>
                                                <label class="control-label small">Radiation Oncology</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Director Name  </label>
                                                <label class="control-label small">Shah</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View  Certificate <i class="fa fa-file"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Did you complete your training at this institution?  </label>
                                        <label class="control-label small">Yes</label>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Whiteney H S</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">14-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('internshipForm2', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="internshipForm2" style="display:none;">


                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class="control-label">Program Type  </label>
                                    <label class="control-label small">Fellowship</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>School Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Whiteney HS</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">34606</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8907654321</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">14-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>


                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Pine street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">New York</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Geneva</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">34081</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Others</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Department Speciality  </label>
                                                <label class="control-label small">Urology</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Director Name  </label>
                                                <label class="control-label small">Sharma</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View  Certificate <i class="fa fa-file"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Did you complete your training at this institution?  </label>
                                        <label class="control-label small">Yes</label>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>



                </div>


            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Speciality_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#Speciality" aria-expanded="false" aria-controls="Speciality">
                Speciality Details
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="Speciality" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body table-bordered">


                <div class="panel-body">


                    <div class="col-lg-12" id="specialityDataContainer">

                        <div class="col-lg-12">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3"><strong>Board Name</strong></div>
                                <div class="col-lg-3"><strong>Speciality</strong></div>
                                <div class="col-lg-3"><strong>Status</strong></div>
                                <div class="col-lg-3"><strong>View</strong></div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="specialityData">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3">American Board of Nutrition</div>
                                <div class="col-lg-3">Urology</div>
                                <div class="col-lg-3">Completed</div>
                                <div class="col-lg-3">
                                    <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('specialityForm1', this)"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="specialityForm1" style="display:none;">

                            <div class="form-group">


                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">Speciality Type:</label>
                                        <label class="control-label small">Primary</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Speciality Code:</label>
                                        <label class="control-label small">009</label>
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                                <br />
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Board Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="col-md-4">

                                                <label class="control-label">Board Certified?</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Board Code:</label>
                                                <label class="control-label small">1240</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Board Name:</label>
                                                <label class="control-label small">American Board of Nutrition</label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>


                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label ">Initial Certification Date:</label>
                                                <label class="control-label small">4-3-2010</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label ">Last Re-cerification Date:</label>
                                                <label class="control-label small">14-3-2011</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label ">Expiration Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Speciality Certificate <i class="fa fa-file"></i></button>
                                        </div>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>



                </div>


            </div>



        </div>


    </div>




    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="FifthPathWay_heading">
            <a data-toggle="collapse" data-parent="#accordion6" href="#FifthPathWay" aria-expanded="false" aria-controls="FifthPathWay">
                Fifth Pathway(for graduates only)
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>



        <div id="FifthPathWay" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body table-bordered">


                <div class="panel-body">


                    <div class="col-lg-12" id="specialityDataContainer">



                        <div class="col-lg-12 zero-padding-left-right-div">

                            <div class="col-lg-12">

                                <div class="col-lg-4">
                                    <label class="control-label">Institution/Hospital:</label>
                                    <label class="control-label small">Gulf Breese Hospital</label>
                                </div>

                                <div class="col-lg-4">
                                    <label class="control-label">Addresss:</label>
                                    <label class="control-label small">Gulf Breese Pathway</label>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                            <br>

                            <div class="col-lg-12">


                                <div class="col-lg-4">
                                    <label class="control-label">City:</label>
                                    <label class="control-label small">Gulf Breese</label>
                                </div>

                                <div class="col-lg-4">
                                    <label class="control-label">State:</label>
                                    <label class="control-label small">Florida</label>
                                </div>

                                <div class="col-lg-4">
                                    <label class="control-label">Zip:</label>
                                    <label class="control-label small">32561</label>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                            <br>

                            <div class="col-lg-12">
                                <div class=" col-lg-4">

                                    <label class="control-label">Telephone:</label>

                                    <label class="control-label small">8901112220</label>


                                </div>

                                <div class=" col-lg-4">

                                    <label class="control-label">Fax:</label>

                                    <label class="control-label small">32561</label>


                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <br>

                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label class="control-label">Did you complete your education at this school?</label>
                                    <label class="control-label small">Yes</label>
                                </div>
                                <div class="col-lg-3">
                                    <label class="control-label">Start Date:</label>
                                    <label class="control-label small">4-3-2014</label>
                                </div>

                                <div class="col-lg-3">
                                    <label class="control-label">End Date:</label>
                                    <label class="control-label small">14-3-2014</label>
                                </div>
                            </div>





                        </div>





                    </div>
                </div>
            </div>
        </div>


    </div>


</div>


