@model AHC.CD.WebUI.MVC.Areas.Profile.Models.BoardSpecialty.PracticeInterestViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

@*This is the Edit button which is rendered when there is some Practice Interest related to that Provider*@
@if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
{
    <div class="legend2 pull-right" ng-show="(visibilityControl!='editpracticeInterest') && (MasterProfile.Specialty.PracticeInterest != null)">
        <button class="btn btn-xs btn-primary" ng-click="operateEditControl('editpracticeInterest', MasterProfile.Specialty.PracticeInterest)" data-toggle="tooltip" data-placement="top" title="Edit" id="editPracticeInterest"><i class="fa fa-edit"></i></button>
    </div>
}
@*This is the Edit button which is rendered when there is some Practice Interest related to that Provider*@

@*Section to view the Practice Interest starts here*@
<div>
    <div class="col-lg-12 zero-padding-left-right-div">
        
        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
        {
            <div ng-show="(MasterProfile.Specialty.PracticeInterest != null) && (MasterProfile.Specialty.PracticeInterest.Interest == null)">No data available!! Click on Edit button to provide data.</div>
        }
        <p><i class="data-label col-lg-12 zero-padding-left-right-div wrap-words">{{MasterProfile.Specialty.PracticeInterest.Interest}}</i></p>
    </div>
</div>
@*Section to view the Practice Interest ends here*@