<style>
    #secondRow
    {
        padding-top:20px;
    }
</style>
<div class="col-lg-12">
    <fieldset class="fsStyle" id="AddEditFederalDEA">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase TabHeading">
                <span>Add New @ViewBag.Name</span>
            </span>
        </legend>
        <div class="x_content zero-padding-left mutiple-data">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <span class="theme_label col-lg-4 nopadding">
                        <label class="">DOCUMENT NAME</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-8 nopadding">
                        <input type="text" class="form-control" placeholder="DOCUMENT NAME" />
                    </span>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                    <span class="theme_label col-lg-4 nopadding">
                        <label class="">DOCUMENT TYPE</label>
                    </span><span class="col-lg-1"></span>
                    <span class="col-lg-8 nopadding">
                        <select class="form-control">
                            <option class="theme_label_data" selected>Select</option>
                            <option class="theme_label_data">JPG</option>
                            <option class="theme_label_data">PNG</option>
                            <option class="theme_label_data">PDF</option>
                            <option class="theme_label_data">TEXT</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row" id="secondRow">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <span class="theme_label col-lg-4 nopadding">
                            <label class="">UPLOAD DOCUMENT</label>
                        </span><span class="col-lg-1"></span>
                        <span class="col-lg-8 nopadding">
                            <input type="text" class="form-control" placeholder="UPLOAD DOCUMENT" />
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <span class="theme_label col-lg-4 nopadding">
                            <label class="">PERMISSION</label>
                        </span><span class="col-lg-1"></span>
                        <span class="col-lg-8 nopadding">
                            <select class="form-control">
                                <option class="theme_label_data" selected>Select</option>
                                <option class="theme_label_data">Only Me</option>
                                <option class="theme_label_data">EveryOne</option>
                                <option class="theme_label_data">Employers</option>
                            </select>
                        </span>
                    </div>
                </div>
        </div>
    </fieldset>
</div>
