<style>
    .ContactMgmt_labels {
        color: #337ab7;
        font-weight: bold;
        cursor:pointer;
    }
</style>
<p-script filepath="~/Areas/UM/Scripts/Contact%20Management/ContactManagement.js"></p-script>
<br />
<br />
<div class="col-lg-12 zero-padding-left-right">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">______</span>
                Contact Management
                <span class="transparent-font-color">_____.</span>
            </span>
        </legend>

        <div class="x_panel">
            <div class="x_content zero-padding-left-right">
                <label> <a class="ContactMgmt_labels" onclick="TabManager.openFloatingModal('~/Areas/UM/Views/ContactManagement/ModalForm/_ContactEntityBody.cshtml', '~/Areas/UM/Views/ContactManagement/ModalHeader/_ContactEntityHeader.cshtml', '~/Areas/UM/Views/ContactManagement/ModalFooter/_ContactEntityFooter.cshtml', '', '');">Contact Entities</a></label><br />
                <label >
                    <a class ="ContactMgmt_labels" onclick="TabManager.openFloatingModal('~/Areas/UM/Views/ContactManagement/ModalForm/_ContactOutcomeForm.cshtml', '~/Areas/UM/Views/ContactManagement/ModalHeader/_ContactOutcomeHeader.cshtml', '~/Areas/UM/Views/ContactManagement/ModalFooter/_ContactOutcomeFooter.cshtml', '', '');">Contact Outcome</a>
                </label>    
                <br />
            <label ><a class="ContactMgmt_labels"  onclick="TabManager.openFloatingModal('~/Areas/UM/Views/ContactManagement/ModalForm/_ContactReasonForm.cshtml', '~/Areas/UM/Views/ContactManagement/ModalHeader/_ContactReasonHeader.cshtml', '~/Areas/UM/Views/ContactManagement/ModalFooter/_ContactReasonFooter.cshtml', '', '');">Contact Reason</a>
            </label>
            </div>
            <div class="clearfix"></div>
        </div>
    </fieldset>
</div>
