<br />
<div class="panel-group" id="accordion7" role="tablist" aria-multiselectable="true" ng-controller="locationcltr">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceOne">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice1" aria-expanded="true" aria-controls="practice1">
                Primary Practice Location
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>

        </div>
        <div id="practice1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="practiceOne">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="practiceContainer">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3"><strong>Practice Name</strong></div>
                        <div class="col-lg-3"><strong>Corporate Name</strong></div>
                        <div class="col-lg-3"><strong>Start Date</strong></div>
                        <div class="col-lg-3"><strong>View</strong></div>
                    </div>

                    <div id="practiceData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Abhishek</div>
                            <div class="col-lg-3">AHC</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('practiceForm1',this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="practiceForm1" style="display:none;">
                            <br />
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Location Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Currently Practicing At This Address?</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">What Is Your Expected Start Date?</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Physician Group or Practice Name:</label>
                                                <label class="control-label small">Abhishek</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Group or Corporate Name:</label>
                                                <label class="control-label small">AHC</label>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone:</label>
                                                <label class="control-label small">8908991110</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Fax:</label>
                                                <label class="control-label small">9090</label>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Office e-mail address:</label>
                                                <label class="control-label small">ashok@gmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">#182</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Concord street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">Florida</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Inverness</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">34601</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Others</div>
                                    </div>
                                    <div class="panel-body">

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Individual Tax ID:</label>
                                                <label class="control-label small">71230</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Group Tax ID:</label>
                                                <label class="control-label small">72200</label>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Primary Tax ID(one only):</label>
                                                <label class="control-label small">71230</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Send general correspodance here?</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                

                            </div>
                        </div>

                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Aakash</div>
                            <div class="col-lg-3">Humana</div>
                            <div class="col-lg-3">4-3-2019</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('practiceForm2',this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="practiceForm2" style="display:none;">
                            <br />
                            <div class="form-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Location Details</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Currently Practicing At This Address?</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">What Is Your Expected Start Date?</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Physician Group or Practice Name:</label>
                                                <label class="control-label small">Aakash</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Group or Corporate Name:</label>
                                                <label class="control-label small">Humana</label>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone:</label>
                                                <label class="control-label small">8907654321</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Fax:</label>
                                                <label class="control-label small">3256632596</label>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Office e-mail address:</label>
                                                <label class="control-label small">aakash@gmail.com</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Address</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">#120</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Cortez</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">Florida</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Brooksville</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">35601</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div>Others</div>
                                    </div>
                                    <div class="panel-body">

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Individual Tax ID:</label>
                                                <label class="control-label small">71230</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Group Tax ID:</label>
                                                <label class="control-label small">72200</label>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Primary Tax ID(one only):</label>
                                                <label class="control-label small">71230</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Send general correspodance here?</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceTwo">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice2" aria-expanded="false" aria-controls="practice2">
                Office manager or Business Office Staff Contact
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceTwo">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-lg-4 form-group">
                            <label class="control-label">First Name:</label>
                            <label class="control-label small">Ashok</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Middle Name:</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Last Name:</label>
                            <label class="control-label small">Kumar</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Telephone:</label>
                            <label class="control-label small">8907654440</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Fax</label>
                            <label class="control-label small">3563266596</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">E-Mail Address</label>
                            <label class="control-label small">ashok@gmail.com</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                    
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceThree">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice3" aria-expanded="false" aria-controls="practice3">
                Billing Contact
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="practice3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceThree">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-lg-4 form-group">
                            <label class="control-label">First Name:</label>
                            <label class="control-label small">Ashok</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Middle Name:</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Last Name:</label>
                            <label class="control-label small">Kumar</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Number:</label>
                            <label class="control-label small">12</label>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Street:</label>
                            <label class="control-label small">concord street</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Suite/Building:</label>
                            <label class="control-label small">#109</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Telephone:</label>
                            <label class="control-label small">8907776660</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Fax: </label>
                            <label class="control-label small">356366965</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">E-Mail Address:</label>
                            <label class="control-label small">Ashok@gmail.com</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Electronic Billing Capabilities:</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Billing Department (If Hospital - Based)</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Check Payable To  </label>
                            <label class="control-label small">Ashok</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                   
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceFour">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice4" aria-expanded="false" aria-controls="practice4">
                Payment and Remittance
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="practice4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceFour">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-lg-4 form-group">
                            <label class="control-label">First Name:</label>
                            <label class="control-label small">Ashok</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Middle Name:</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label">Last Name:</label>
                            <label class="control-label small">Kumar</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Number:</label>
                            <label class="control-label small">98</label>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Street:</label>
                            <label class="control-label small">Concord street</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Suite/Building:</label>
                            <label class="control-label small">#210</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">State:</label>
                            <label class="control-label small">Florida</label>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">City:</label>
                            <label class="control-label small">Brooksville</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">ZIP Code:</label>
                            <label class="control-label small">32561</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Telephone:</label>
                            <label class="control-label small">9087654320</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label">Fax: </label>
                            <label class="control-label small">8502333935</label>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label small">E-Mail Address</label>
                            <label class="control-label small">Ashok@pratian.com</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                    
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceHours">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice13" aria-expanded="false" aria-controls="practice13">
                Office Hours
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="practice13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceHours">
            <div class="panel-body table-bordered">
                <div class="form-group">

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Day</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">Start Time</label>
                        </div>
                        <div class="col-md-2 form-group zero-padding-left-right-div">
                            <label class="control-label small">AM/PM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">End Time</label>
                        </div>
                        <div class="col-md-2 form-group zero-padding-left-right-div">
                            <label class="control-label small">AM/PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Monday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Tuesday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-lg-2 form-group">
                            <label class="control-label small">Wednessday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Thrusday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Friday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Saturday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-2 form-group">
                            <label class="control-label small">Sunday</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">AM</label>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label small">9</label>
                        </div>
                        <div class="col-md-2 zero-padding-left-right-div form-group">
                            <label class="control-label small">PM</label>
                        </div>
                    </div>


                   
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">24/7 Phone Coverage?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Answering Service</label>
                        </div>

                        <div class="col-md-4">
                            <label for="MobileNo" class="control-label">After Hours Back Office Telephone:</label>
                            <label class="control-label small">8907776660</label>
                        </div>

                    </div>
                    
                       
                   
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceFive">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice5" aria-expanded="false" aria-controls="practice5">
                Open Practice Status
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceFive">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept new patients into this practice?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept all new patients?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept existing patients with change of payor?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept new medicare patients?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept new patients with physician referral?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Accept new medicaid patients?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">If any of the above information varies by plan, Explain</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Are there any practice limitations?  </label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Gender Limitations</label>
                            <label class="control-label small">Male</label>
                            <br/>
                            <label class="control-label">List other limitations</label>
                            <label class="control-label small">None</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label col-md-2">Age limitations</label>
                            <div class="col-md-2">
                                <label class="control-label">Minimum Age</label>
                                <label class="control-label small">50</label>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Maximum Age</label>
                                <label class="control-label small">90</label>
                            </div>
                        </div>
                    </div>
                      
                    
                   
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceSix">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice6" aria-expanded="false" aria-controls="practice6">
                Mid-Level Practitioners
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="practice6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceSix">
            <div class="panel-body table-bordered">
                <div class="col-md-12">

                    <label class="col-md-8 form-group control-label">Do Mid-Level Practitioners(nurse practitioners, physician assistants,etc.)care for patients in your practice?</label>
                   <label class="control-label small">Yes</label>

                </div>

                <br />


                <div class="col-lg-12" id="midLevelContainer">

                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4"><strong>Name</strong></div>
                            <div class="col-lg-4"><strong>Practitioner License</strong></div>
                            <div class="col-lg-4"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="midLevelData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">Veeranji</div>
                            <div class="col-lg-4">ME24527</div>
                            <div class="col-lg-4">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('midLevelForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="midLevelForm1" style="display:none;">
                            <div class="form-group">


                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner First Name:</label>
                                        <label class="control-label small">Veeranji</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner Middle Name:</label>
                                        <label class="control-label small"></label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner Last Name:</label>
                                        <label class="control-label small">Kumar</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner License/ Certificate Number:</label>
                                        <label class="control-label small">ME24527</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner State:</label>
                                        <label class="control-label small">Florida</label>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">Practitioner Type: </label>
                                        <label class="control-label small">Clinical Psycologist</label>
                                    </div>
                                </div>
                               
                            </div>


                        </div>
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">Giri</div>
                            <div class="col-lg-4">ME12131</div>
                            <div class="col-lg-4">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('midLevelForm2',this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12" id="midLevelForm2" style="display:none;">

                            <div class="form-group">


                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner First Name:</label>
                                        <label class="control-label small">Giri</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner Middle Name:</label>
                                        <label class="control-label small"></label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner Last Name:</label>
                                        <label class="control-label small">B</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner License/ Certificate Number:</label>
                                        <label class="control-label small">ME12131</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Practitioner State:</label>
                                        <label class="control-label small">Florida</label>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">Practitioner Type: </label>
                                        <label class="control-label small">Medical Doctor</label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>


              
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceSeven">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice7" aria-expanded="false" aria-controls="practice7">
                Languages
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceSeven">
            <div class="panel-body table-bordered">
               
                <div class="col-md-12 ">
                    <label class="control-label">Non English languages spoken by office personnel:</label>
                    <label class="control-label small">none</label>
                
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Do you speak sign language:</label>
                    <label class="control-label small">No</label>
                </div>
                <br />
                <div class="clearfix"></div>
                <br />

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceEight">
            <a data-toggle="collapse" data-parent="#accordion7" href="#practice8" aria-expanded="false" aria-controls="practice8">
                Accessibilities
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="practice8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceEight">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12 ">
                            <label class="control-label">Does this meet ADA accessibility requirements?</label>
                            <label class="control-label small">Yes</label>
                            <br />
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Does this site offer handicapped access for the following</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Building</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Parking</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Restroom</label>
                            <label class="control-label small">Yes</label>
                            <br />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Does this site offer other services for the disabled?</label>
                            <label class="control-label small">Yes</label>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Text telephony(TTY):</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">American sing language:</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Mental/Physical impairment services:</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Accessible by public transportation?</label>
                            <label class="control-label small">Yes</label>
                            <br />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Bus:</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Subway:</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Regional train:</label>
                            <label class="control-label small">Yes</label>
                            <br />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">other handicapped access:</label>
                            <label class="control-label small"></label>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Other disability services:</label>
                            <label class="control-label small"></label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Other transportation access:</label>
                            <label class="control-label small"></label>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceNine">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice9" aria-expanded="false" aria-controls="practice9">
                Services
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceNine">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Laboratory Services</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Provide Accrediting/Certifying Program:</label>
                            <label class="control-label small">American Board of Medical Science</label>
                        </div>
                    </div>
                    <hr class="zero-margin-top-bottom-hr" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Radiology Services?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Provide X-Ray certificate type:</label>
                            <label class="control-label small">Digital</label>
                        </div>
                    </div>
                    <hr class="zero-margin-top-bottom-hr" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">EKGS?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Allergy Injection?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Allergy Skin Testing?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Routing Office Gynecology(Pelvi/Pap)?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Drawing Blood?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Age Appropriate immunization?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Flexible Sigmoidoscopy?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Tympanometry/Audiometry Screening?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Asthma Treatment?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>


                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Osteopathic Manipulation?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">IV Hydration/Treatment?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Cardiac Stress Test?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>


                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Pulmonary Function Testing?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Physical Therapy?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Care Of Minor Lacerations?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <hr class="zero-margin-top-bottom-hr" />
                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Is Anesthesia Administered In Your Office?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">What Class/Category Do You Use:</label>
                            <label class="control-label small">General</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label">Who Administers It?</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">First Name</label>
                            <label class="control-label small">Ashok</label>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Last Name</label>
                            <label class="control-label small">Kumar</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label class="control-label">Type Of Practice?</label>
                            <label class="control-label small">Solo</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label class="control-label">Additional Office Procedures Provided(Including Surgical Procedures):</label>
                            <label class="control-label small"></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceTen">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice10" aria-expanded="false" aria-controls="practice10">
                Partners/Associates/Covering Colleagues
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceTen">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="partnersContainer">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3"><strong>Employer Name</strong></div>
                        <div class="col-lg-3"><strong>Speciality Code</strong></div>
                        <div class="col-lg-3"><strong>Provider Type</strong></div>
                        <div class="col-lg-3"><strong>View</strong></div>
                    </div>
                    <br />
                    <div id="partnersData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Oak Hill</div>
                            <div class="col-lg-3">350</div>
                            <div class="col-lg-3">Surgen</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('partnersForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="partnersForm1" style="display:none;">
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">First Name: </label>
                                        <label class="control-label small">Ashok</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label ">Middle Name:</label>
                                        <label class="control-label small"></label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Last Name: </label>
                                        <label class="control-label small">Kumar</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">Speciality Code </label>
                                        <label class="control-label small">350</label>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="control-label">Provider Type</label>
                                        <label class="control-label small">Surgen</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                               
                               
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceEleven">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice11" aria-expanded="false" aria-controls="practice11">
                Professional Liability Insurance
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceEleven">
            <div class="panel-body table-bordered">
                <div class="form-group">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Insurance Information</div>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="col-lg-6 form-group">
                                    <label class="control-label">Carrier/Self-Insured Name:</label>
                                    <label class="control-label small">Benson</label>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label">Policy Number:</label>
                                    <label class="control-label small">PSL327166019</label>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label">Original Effective Date: </label>
                                    <label class="control-label small">4-3-2011</label>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="control-label">Expiration Date:</label>
                                    <label class="control-label small">4-3-2014</label>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Insurance Certificate <i class="fa fa-file"></i></button>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Address</div>
                        </div>
                        <div class="panel-body">


                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label class="control-label"><strong>State:</strong></label>
                                    <label class="control-label small">New York</label>
                                </div>

                                <div class="form-group col-md-4">
                                    <label class="control-label"><strong>City:</strong></label>
                                    <label class="control-label small">Beacon</label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label"><strong>County:</strong></label>
                                    <label class="control-label small">Clay County</label>
                                </div>
                            </div>


                            <div class="col-md-12">

                                <div class="form-group col-md-3">
                                    <label class="control-label"><strong>Number:</strong></label>
                                    <label class="control-label small">10</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label"><strong>Suite/Building:</strong></label>
                                    <label class="control-label small">#421</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label"><strong>Street:</strong></label>
                                    <label class="control-label small">Concord Street</label>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="control-label"><strong>Zip Code:</strong></label>
                                    <label class="control-label small">35601</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Others</div>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Have You Ever Been Denied Professional Liability Insurance?</label>
                                    <label class="control-label small">Yes</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Denial Date:</label>
                                    <label class="control-label small">4-3-2010</label>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label">Denial Reason:</label>
                                    <label class="control-label small">Malpractise</label>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="control-label">Do You Have Unlimited Coverage With this Insurance Carrier?</label>
                                    <label class="control-label small">Yes</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Amount Of Coverage Aggregate:</label>
                                    <label class="control-label small">10</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Amount Of Coverage Per Occurance:</label>
                                    <label class="control-label small">40</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                   
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="practiceTwelve">

            <a data-toggle="collapse" data-parent="#accordion7" href="#practice12" aria-expanded="false" aria-controls="practice12">
                Workers Compensation Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="practice12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="practiceTwelve">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label class="control-label">Workers Compensation Number:</label>
                                <label class="control-label small">8989</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Certification Status:</label>
                                <label class="control-label small">Active</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label ">Issue Date</label>
                                <label class="control-label small">4-3-2004</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Expiration Date</label>
                                <label class="control-label small">4-3-2018</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    
                </div>
            </div>
        </div>
    </div>
</div>

