body {
    background-color: #FFFFFF;
}
#page-wrapper{
    padding-top:40px;
    min-height: 568px;
    background-color: #fff;
}
#footer{
    background-color: #FCFCFC;
    border-color: #e7e7e7;
}

#wrapper {
    width: 100%;
}
.panel-heading{
    height:55px;
}
@media(min-width:1025px) {
    #page-wrapper {
        position: inherit;
        margin: 50px 0 0 200px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
.button-style{
     line-height: 12px;
      margin-left: 0px;
       font-size:x-small
}
.dropdown-list{
width:150px;
}
.text-style{
    font-size:12px;
     margin-left:12px;
}
.span-style{
     margin-left: 20px;
      margin-right:30px;
}
.innertext-style{
   font-size:xx-small;
}