 ::-webkit-scrollbar {
        width: 3px !important;
        height: 2px;
    }

    .modal {
        z-index: 99999 !important;
    }

    .selectize-dropdown-content {
        background-color: white !important;
    }


    .quickAction {
        display: none;
        position: fixed;
        right: 6px;
        top: 225px;
        border: 1px solid;
        padding: 10px;
        border-radius: 42px;
        background-color: #ED4D4D;
        font-weight: bold;
        color: white;
        z-index: 1;
        cursor: pointer;
    }

    .Quickmenu {
        /* float: left; */
        display: none;
        right: 0;
        background-color: white;
        position: fixed;
        padding: 12px;
        top: 199px;
        z-index: 1;
        border-radius: 16px;
        border: 2px solid;
    }

    form {
        line-height: 23px;
    }

    .req {
        display: none;
        color: red;
        position: absolute;
        font-size: 9px;
        top: -17px;
        right: 22px;
    }

    fieldset.fsStyle {
        background-color: #ffff !important;
    }

    /*.M_Req label {
        color: #ED4D4D !important;
    }*/
    .M_overlayFloatRight {
        background: rgba(240, 240, 243, 0.76);
        width: 300px;
        height: 50px;
        position: fixed;
        right: 0;
        top: 88px;
        z-index: 999999;
        display: none;
    }

    .M_overlay {
        background: rgba(2, 2, 2, 0.67);
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 0px;
        left: 0px;
        display: none;
    }

    .M_overlayFloatRight .right-header {
        font-family: sans-serif;
        font-size: x-large;
        text-align: center;
    }

    .M_notification {
        min-height: 200px;
        max-width: 241px;
        background: #fff;
        position: fixed;
        z-index: 999999;
        top: 25%;
        left: 40%;
        display: none;
    }

        .M_notification .header {
            text-align: center;
        }

    .vlaueStyling {
        padding-bottom: 10px;
        line-height: 2;
        font-weight: 500;
        text-transform: uppercase;
        color: black;
    }
    .green-color :hover {
        color: green;
    }
    .red-color :hover {
        color: red;
    }