
<div class="clearfix"></div>
<div class="target profilediv col-lg-12 nopadding" id="WorkersCompensationInformationID">
    <div class="fsStyle" id="ViewWorkersCompensationInformationDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">Workers Compensation Information</span>&nbsp;
        </div>
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Workers Compensation Information
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/EditworkerInformation" data-tab-container="PLWorkersCompensationDetails">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/EditworkerInformation" data-tab-container="PLWorkersCompensationDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@
        <span class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">WORKER COMPENSATION NUMBER :</label>

                <span class="theme_label_data">NOT AVAILABLE</span>


            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">CERTIFICATION STATUS :</label>

                <span class="theme_label_data">ACTIVE</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">ISSUE DATE :</label>

                <span class="theme_label_data">06/07/2015</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">EXPIRATION DATE :</label>

                <span class="theme_label_data">06/07/2016</span>

            </span>

        </span>



    </div>
</div>