<div class="container" hidden id="DocumentViewer" style="width: 50%; height: 98%; position: fixed; top: 50px; left: 0px;background-color: white; z-index:2000;border: 1px solid grey">
    <div class="row"><label style="margin-left: 20px; font-size:15px">Document Viewer</label><a href="javascript:void(0)" onclick="closeDocumentPanel()" class="pull-right" style="margin-right:20px"><i class="fa fa-close"></i></a> <a class="pull-right" target="_blank" href="~/Content/CustomTheme/PBAS%20Documents/SampleProgressNote.pdf" style="padding-right:10px;padding-top:2px;" onclick="closeDocumentPanel()"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
    <object style="width: 100%; height: 94%" data="~/Areas/Encounters/Documents/SampleMentalProgNote.pdf"></object>
</div>

<p-script filepath="~/Areas/SharedView/Scripts/DocumentManager/DocumentViewer.js"></p-script>