<appSettings>
  <add key="webpages:Enabled" value="false" />
  <add key="Testing" value="Testing"/>
  <add key="Portal" value="GetUMServiceGroup:MasterUMSvcGrps,GetDocumentType:MasterDocumentTypes,GetDocumentName:MasterDocumentNames,GetRange:MasterRangeTypes,GetDiscipline:MasterDisciplines"/>
</appSettings>
