<link href="~/Areas/CredAxis/CSS/Dashboard/Dashboard.css" rel="stylesheet" />
<p-script filepath="~/Areas/CredAxis/Scripts/DashBoard/CredAxis_DashBoard.js"></p-script>

<div class="row biscuits_3D zero-padding-left-right">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
        <div class=" row panel-body" style="background-color: rgba(51, 122, 183, 0.85);">
            <div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-users fa-3x"></i> </div>
            <div class="col-lg-9 col-md-9 col-sm-9" style="text-align:center"><h4 class=""> All Providers  56</h4> </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
        <div class=" row panel-body" style="background-color: rgba(51, 122, 183, 0.85);">
            <div class="col-lg-2 col-md-2 col-sm-2"><i class="fa fa-user fa-3x"></i> </div>
            <div class="col-lg-10 col-md-10 col-sm-10" style="text-align:center"><h4 class=""> New Providers Added 4</h4> </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
        <div class=" row panel-body" style="background-color: rgba(51, 122, 183, 0.85);">
            <div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-user-md fa-3x"></i> </div>
            <div class="col-lg-9 col-md-9 col-sm-9" style="text-align:center"><h4 class=""> All Providers  56</h4> </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 panel ">
        <div class=" row panel-body" style="background-color: rgba(51, 122, 183, 0.85);">
            <div class="col-lg-3 col-md-3 col-sm-3"><i class="fa fa-user-md fa-3x"></i> </div>
            <div class="col-lg-9 col-md-9 col-sm-9" style="text-align:center"><h4 class=""> All Providers  56</h4> </div>
        </div>
    </div>
</div>
<div class="row zero-padding-left-right">
    <div class="col-lg-7 zero-padding-left-right c3-chart-arcs-title">
        <div id="chart"></div>
    </div>
    <div class="col-lg-5 zero-padding-left-right c3-chart-arcs-title">
        <div id="Donut"></div>
    </div>
</div>

