<appSettings>
  <add key="webpages:Enabled" value="false" />
  <add key="Testing" value="Testing"/>
  <add key="CreateNewAuth" value="GetAuthorizationType:MasterAuthorizationTypes,GetMasterOdagDataFromService:MasterODAG,GetRequestType:MasterRequestTypes,GetMasterDataPlaceOfService:MasterPlaceOfServices,GetRequestType:MasterRequestTypes,GetUMServiceGroup:MasterUMSvcGrps,GetLevelOfCare:MasterLevelOfCares,GetTypeOfCare:MasterTypeOfCares,GetRoomType:MasterRoomTypes,GetReviewType:MasterReviewTypes,GetOPType:MasterOPTypes,GetRange:MasterRangeTypes,GetDiscipline:MasterDisciplineTypes,GetDocumentType:MasterDocumentTypes,GetDocumentNames:MasterDocumentNames"/>
  <add key="TestQueue" value="ABV:PosAbb:maxWidthtdSM,MBR Name:MemberName:maxWidthtdXL"/>
  <add key="ContactMasterData" value="GetContactTypes:MasterContactTypes,GetContactEntityType:MasterContactEntityTypes,GetContactReason:MasterContactReasons,GetOutcome:MasterContactOutcomes"/>
  <add key="NoteMasterData" value="GetNoteType:MasterNoteTypes,GetNoteSubject:MasterNoteSubjects"/>
</appSettings>
