<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/EOBReport/Unminified/report1.css" rel="stylesheet"></p-link>
<div class="repot1_container">
    @*<div class="width_13_percent claimsProfileTabsContainer claimTabContainer">
        <ul class="list-unstyled x-dtablist tabs-menu pull-left">
            <li class="current">
                <a href="#List837s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetEOBReport">
                    EOB
                </a>
            </li>
            <li class="">
                <a href="#List835s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetPayerToProviderReport">
                    Payer to Provider
                </a>
            </li>
            <li class="">
                <a href="#List277s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetProviderToPayerReport">
                    Provider to Payer
                </a>
            </li>
        </ul>
    </div>*@
    <div class="inner_menu_container">
        <ul class="tabs-menu clearfix">
            
            <li class="current">
                <a href="#List837s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetEobReport">
                    EOB
                </a>
            </li>
            <li class="">
                <a href="#List835s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetPayerToProviderReport">
                    Payer to Provider
                </a>
            </li>
            <li class="">
                <a href="#List277s" class="list-item no_underline" data-target-url="/Billing/EOBReport/GetProviderToPayerReport">
                    Provider to Payer
                </a>
            </li>
            <li class="">
                <a href="#BPRList" class="list-item no_underline" data-target-url="/Billing/BillerProductivityReport/GetBillerProductivityReport">
                    Biller Productivity
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding claims_tab_container">

        <div id="List837s" class="custommembertab-content">

        </div>
        <div id="List835s" class="custommembertab-content">

        </div>
        <div id="List277s" class="custommembertab-content">

        </div>
        <div id="BPRList" class="custommembertab-content">

        </div>
    </div>
</div>

<p-script filepath="~/Areas/Billing/Scripts/AppJs/EOBReport/Unminified/report1.js"></p-script>

