.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.ErrorTitle {
    color: red;
}

.ErrorDesc {
    font-size: 16px;
}

.ErrorIcon {
    width: 10%;
    position: absolute;
    left: 28%;
    bottom: 10%;
    -moz-transform: skewX(0deg) skewY(17deg);
    -webkit-transform: skewX(0deg) skewY(17deg);
    -o-transform: skewX(0deg) skewY(17deg);
    -ms-transform: skewX(0deg) skewY(17deg);
    transform: skewX(0deg) skewY(17deg);
}
