<div class="panel-group" id="accordionbirth" role="tablist" aria-multiselectable="true">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="birthHeading">
            <a data-toggle="collapse" data-parent="#accordionbirth" href="#birth" aria-expanded="false" aria-controls="birth">
                Birth Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="birth" class="panel-collapse collapse" role="tabpanel" aria-labelledby="birthHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-4 form-group">
                                <label class="control-label small">Birth Country</label>
                                <select class="form-control input-sm">
                                    <option>India</option>
                                    <option>US</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label small">Birth State</label>
                                <select class="form-control input-sm">
                                    <option>ktk</option>
                                    <option>Delhi</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label small">Birth City</label>
                                <select class="form-control input-sm">
                                    <option>Noida</option>
                                    <option>Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label small">Birth County</label>
                                <input type="text" class="form-control input-sm" />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label small">Birth Date</label>
                                <input type="date" class="form-control input-sm" />
                            </div>                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Cancel</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



