<link href="~/Content/AppCss/Search/searchnew.css" rel="stylesheet" />
<div class="search_wrapper">
    <div class="smart_search_word"><span class="keyWord"></span></div>
    <div class="search_input"><input type="text" id="searchBox" placeholder="Search Members/Providers" /></div>
    <div class="search_btn">
        <div class="search_btn">
            <span class="btn" id="searchBtn" style="display: initial;"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/_SearchResult.cshtml")
<script src="~/Scripts/AppScripts/Home/searchNew.js"></script>