<appSettings>
  <!---->
  <!--Base Application-->
  <add key="PageTitle" value="Access Healthcare"/>
  <!--<add key="PageTitle" value="PrimeCare, LLC"/>-->
  <add key="FooterStamp" value="Copyright CredAxis 2015"/>  
  <add key="FlashScreen" value="true"/>
  <!--End Base Application-->
  
  <!--###############################################################################################-->
  
  <!--Company based needs-->
  <add key="SupportsDelegatedPlans" value="true"/>
  <!--End Company based needs-->

  <!--###############################################################################################-->
  
  <!--Setup Application Features-->
  
    <!--Setup Features in Profile at Master-->
    <add key="PrintProfileAsPDF" value="true"/>
    <add key="TurnOffTab" value="true"/>

    <!--End Setup Features in Profile-->
  
      <!--Setup Features in Profile Section Wise-->
  
        <!--Demographics-->
        <add key="OtherLegalNameHistory" value="false"/>
        <add key="HomeAddressHistory" value="false"/>
        <!--End Demographics-->
        
        
  
      <!--End Setup Features in Profile Section Wise-->
  
    <!--End Setup Features in Profile-->

  <!--End Setup Application Features-->
</appSettings>
