<div class="form-group">

    <fieldset>
        <legend>
            General Information
        </legend>
        <div class="col-md-12">
            <label class=" col-md-12 control-label small">Type *</label>
            <div class=" col-md-12 radio">
                <label class="radio-inline">
                    <input type="radio" name="current"> Primary
                </label>
                <label class="radio-inline">
                    <input type="radio" name="current"> Secondary
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Currently Practicing At This Address? *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="current"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="current"> No
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">What Is Your Expected Start Date?</label>
                <div>
                    <input type="date" class="form-control input-sm" required />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Corporate or Practice Name</label>
                <input type="text" class="form-control input-sm" />
            </div>
        </div>
        <div class="col-md-12">

            <div class="form-group col-md-4">
                <label for="MobileNo" class="control-label small">Telephone *</label>
                <div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                        </div>
                        <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select id="ContactContryCode">
                                    <option>+91</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Phone Number" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="MobileNo" class="control-label small">Fax</label>
                <div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                        </div>
                        <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Select Country Dial Code</h3>
                            <div class="popover-content">
                                <select id="ContactContryCode">
                                    <option>+91</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Fax Number" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Office e-mail address</label>
                <div>
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
        </div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label small">Number *</label>
                <div>
                    <input type="text" class="form-control input-sm" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Street *</label>
                <div>
                    <input type="text" class="form-control input-sm" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Suite/Building</label>
                <div>
                    <input type="text" class="form-control input-sm" required />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">County </label>
                <div>
                    <span ng-bind="County"></span>
                    @*<select class="form-control input-sm">
                        <option>County1</option>
                    </select>*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label class="control-label small">City *</label>

                <!-- When the value of the text box is changed method  is called and Locations array is populated -->
                <!-- Here we are literating throught the Locations array(populated from server) and create the list of cities to be chosen from -->
                <!-- Text box is bound to model selectedLocation -->
                <div>
                    <input type="text" class="form-control input-sm" ng-model="selectedLocation" ng-options="location.City +' - '+ location.StateCode +' - '+ location.Zipcode for location in Locations" ng-change="addressAutocomplete(selectedLocation)" bs-typeahead />
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">Country *</label>
                <div>
                    <span ng-bind="Country"></span>
                    @*<select id="state" name="" class="form-control input-sm" required>
                        <option>US</option>
                        <option>India</option>
                    </select>*@
                </div>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label small">State *</label>
                <div>
                    <span ng-bind="State"></span>
                    @*<select id="state" name="" class="form-control input-sm" required>
                        <option>State1</option>
                    </select>*@
                </div>
            </div>
            
           
            <div class="form-group col-md-3">
                <label class="control-label small">ZIP Code *</label>
                <div>
                    <span ng-bind="ZipCode"></span>
                    @*<input type="text" class="form-control input-sm" required />*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-4">
                <label class="control-label small">Send general correspondence here? *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="current"> Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="current"> No
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Individual Tax ID</label>
                <div>
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label small">Group Tax ID</label>
                <div>
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group col-md-6">
                <label class="control-label small">Primary Tax ID(one only) *</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="tax"> Use individual tax ID
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tax"> Use group tax ID
                    </label>
                </div>
            </div>
        </div>
        <br /> 
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation('editCancel')">Cancel</button>
                <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelPrimaryLocationInformation('saveCancel')">Cancel</button>
                <button ng-show="!primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="savePrimaryPracticeLocation(primaryPracticeLocation)">Add</button>
                <button ng-show="primaryPracticeLocationFormStatus" type="button" class="btn btn-success btn-sm pull-right" ng-click="updatePrimaryPracticeLocation(primaryPracticeLocation)">Add</button>
            </div>
        </div>
    </fieldset>
</div>
