@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="~/Content/SharedCss/app.css" rel="stylesheet" />
    <link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/Angular/ng-table.js"></script>
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.min.js"></script>
    <script src="~/Scripts/Lib/CDN%20Service/angular-strap.tpl.min.js"></script>
    @*<script src="~/Scripts/Lib/Angular/ng-table-resizable-columns.js"></script>*@

    <script src="~/Scripts/Lib/Angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="~/Scripts/Custom/PrototypesJS.js"></script>
    <script src="~/Scripts/Lib/Angular/smart-table.js"></script>
}

<style>
    .select-page {
        width: 50px;
        text-align: center;
    }

    .theadColor {
        color: white;
        background-color: rgba(66, 123, 225, 0.78);
    }
</style>

<div id="page-wrapper" ng-app="prototypeApp">
    <div class="container-fluid" ng-controller="PrototypesCtrl as pc">
        @*@Html.Partial("~/Views/Prototypes/CCOSummary.cshtml")*@
        @*@Html.Partial("~/Views/Prototypes/_ProviderSummary.cshtml")*@
        @Html.Partial("~/Views/Prototypes/_CCOAssignment.cshtml")


        @*@Html.Partial("~/Views/Prototypes/_CCMDashboard.cshtml")*@
    </div>

</div>

