@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
<div class="form-style">
    <fieldset>
        <legend>
            ECFMG Detail
        </legend>
        <div id="ECFMG" class="panel-body">
            <div class="form-style">
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table ng-hide="ecfmgDetail != null || visibilityControl == 'editecfmgDetail'" class="table table-bordered table-condensed customtbodyStyle table-striped">
                        <thead>
                            <tr>
                                <td>
                                    No Data Available for ECFMG Detail! Please click on
                                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                    {
                                        <button id="noDataAddNewECFMGDetails" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('editecfmgDetail')" data-toggle="tooltip" data-placement="top" title="Add New"><i class="fa fa-plus"></i></button>
                                    }
                                    to add new ECFMG Information
                                </td>
                            </tr>
                        </thead>
                    </table>

                    <div id="ecfmgEditDiv" ng-show=" visibilityControl=='editecfmgDetail'">
                        @Html.Partial("~/Areas/Profile/Views/EducationHistory/_AddEditECFMGDetails.cshtml")
                    </div>



                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                    {
                        <div ng-show="ecfmgDetail != null && visibilityControl!='editecfmgDetail'">
                            <fieldset>
                                <legend>
                                    ECFMG Detail
                                </legend>
                                @Html.Partial("~/Areas/Profile/Views/EducationHistory/_ViewGraduationECFMGDetails.cshtml")
                            </fieldset>
                        </div>
                    }

                    <div ng-show="activeMessageDiv=='addedNewECFMGDetails'" class="alert alert-success" role="alert">
                        <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                        @*<i class="fa fa-2x fa-arrow-up"></i>*@ {{messageDesc}}
                    </div>

                    

                    @*<div class="clearfix"></div><br />
                    <div ng-show="visibilityControl=='addedNewECFMGDetails'" class="alert alert-success" role="alert">
                        <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                        <i class="fa fa-2x fa-arrow-up"></i>ECFMG Detail Saved Successfully !!!!
                    </div>
                    <div ng-show="visibilityControl=='updatedECFMGDetails'" class="alert alert-success" role="alert">
                        <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                        <i class="fa fa-2x fa-arrow-up"></i>ECFMG Detail Saved Successfully !!!!
                    </div>*@
                </div>
            </div>
        </div>
    </fieldset>
</div>

