<style>
    .carePlanTables{

        font-size:14px;
    }
</style>

<div class="panel-body">

    <div class="row">

            @*<button class="btn btn-xs btn-warning" data-toggle="tooltip" tooltip data-placement="top" title="All" ng-click="PushCategoryinMasterTemp(0);">All</button><br />*@
            <button class="btn btn-xs btn-warning" @*data-toggle="tooltip" tooltip data-placement="top" title="Comorbid"*@ ng-click="PushCategoryinMasterTemp(1);">Comorbid</button><br />
            <button class="btn btn-xs btn-warning" style="padding-right:10px" @*data-toggle="tooltip" tooltip data-placement="top" title="Disease"*@ ng-click="PushCategoryinMasterTemp(3);">Disease</button><br />
            <button class="btn btn-xs btn-warning" @*data-toggle="tooltip" tooltip data-placement="top" title="Social Work"*@ ng-click="PushCategoryinMasterTemp(2);">Soc Work</button>


        <div style="margin-top:-100px;margin-left:45px">
            <div class="col-lg-3" id="ProbPanel">
                <ul class="nav nav-tabs tab-small" role="tablist">
                    <li role="presentation" class="active">
                        <a class="tab-small memberTabs" role="tab" data-toggle="tab" aria-expanded="true">Problems</a>
                    </li>
                </ul>
                <button class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#AddNewPIGOModal" ng-click="setAddNewPIGO('Problem');" ng-if="Template.CreateNewTemplate && Template.TemplateId =='121'"><i class="fa fa-plus"></i> Add New </button>
                <div class="panel panel-body" style="border: 1px solid black; padding: 0px; min-height: 150px;" data-as-sortable data-ng-model="CarePlan.TemplateProblemsSelected">
                    <table class="table table-condensed carePlanTables" id="carePlanProblemsTable"></table>
                </div>
                <button class="btn btn-xs btn-primary pull-right" ng-if="PanelType.MasterCarePlan" ng-click="ShowAddNewModal('AddNewPIGOModal','Problem');" style="margin-top:-20px"><i class="fa fa-plus"></i> Add New </button>
            </div>
            
            <div class="col-lg-3">
                <div class="arrow_box" @*ng-if="valueofindex!=-1"*@>
                    <ul class="nav nav-tabs tab-small" role="tablist">
                        <li role="presentation" class="active">
                            <a class="tab-small memberTabs" role="tab" data-toggle="tab" aria-expanded="true">Interventions</a>

                        </li>
                    </ul>
                    <div class="panel panel-body" style="border: 1px solid black; padding: 0px; min-height: 150px;" data-as-sortable data-ng-model="CarePlan.TemplateProblemsSelected[valueofindex].AvailableInterventions">
                        <table class="table table-condensed carePlanTables" id="carePlanInterventionsTable"></table>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="arrow_box2" @*ng-if="indexvalueOfIntervn!=-1"*@>
                    <ul class="nav nav-tabs tab-small" role="tablist">
                        <li role="presentation" class="active">
                            <a class="tab-small memberTabs" role="tab" data-toggle="tab" aria-expanded="true">Goals</a>
                        </li>
                    </ul>
                    <div class="panel panel-body" style="border: 1px solid black; padding: 0px; min-height: 150px;" data-as-sortable data-ng-model="CarePlan.TemplateProblemsSelected[valueofindex].AvailableInterventions[indexvalueOfIntervn].AvailableGoals">
                        <table class="table table-condensed carePlanTables" id="carePlanGoalsTable"></table>
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-3">
                <div class="arrow_box3" @*ng-if="indexvalueOfGoal!=-1"*@>
                    <ul class="nav nav-tabs tab-small" role="tablist">
                        <li role="presentation" class="active">
                            <a class="tab-small memberTabs" role="tab" data-toggle="tab" aria-expanded="true">Outcomes</a>
                        </li>
                    </ul>
                    <div class="panel panel-body" style="border: 1px solid black; padding: 0px; min-height: 150px;" data-as-sortable data-ng-model="CarePlan.TemplateProblemsSelected[valueofindex].AvailableInterventions[indexvalueOfIntervn].AvailableGoals[indexvalueOfGoal].AvailableOutcomes">
                        <table class="table table-condensed carePlanTables" id="carePlanOutcomesTable"></table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
