<div class="col-lg-12">
    <br/>

    <br/>
    <div class="col-lg-10" @*style="padding-left:0px;padding-right:0px;"*@>
       <div class="row">
           <ul class="nav nav-tabs ">
               <li role="presentation" class="active"><a class="tab-small bg-app-primary memberTabs" href="#" aria-controls="MyQueue" role="tab" data-toggle="tab">Case Summary</a></li>
           </ul>

           <table class="table table-border table-striped" style="border: 1px solid black; font-size: 95%; font-weight: bold;" id="caseSummaryTable"></table>
       </div>
        <div class="row">
            <div class="col-lg-11" style="padding-left:0px;padding-right:0px;">
                <ul class="nav nav-tabs ">
                    <li role="presentation" class="active"><a class="tab-small bg-app-primary memberTabs" href="#" aria-controls="MyQueue" role="tab" data-toggle="tab">Case Summary</a></li>
                </ul>
                <table class="table table-border table-striped" style="border:1px solid black;font-size:95%;font-weight:bold " id="caseStatusTable"></table>
            </div>
            <div class="col-lg-1">
                <br/><br /><br />
                <span class="label label-success" style="    margin-left: 30%; padding-top: 25%;"><i class="fa fa-4x fa-check"></i></span>
                <br /><br />
                @*Close Case : <button class="btn btn-danger" style="margin-left: 30%; padding-top: 25%;"><i class="fa fa-4x fa-close"></i></button>*@
            </div>
        </div>
     

    </div>
    <div class="col-lg-2">
        <ul class="nav nav-tabs ">
            <li role="presentation" class="active"><a class="tab-small bg-app-primary memberTabs " style="background-color: rgb(90, 126, 171); color: white; text-decoration: none;" href="#MyQueue" aria-controls="MyQueue" role="tab" data-toggle="tab">Quick Links</a></li>
        </ul>
        <table class="table table-border  table-striped" style="  font-weight: bold; border: 1px solid black;">
            @* <thead><tr><th>QUICK LINKS</th></tr></thead>*@
            <tbody>
                <tr><td><button class="btn-xs btn-primary"><i class="fa fa-sticky-note faa-tada animated" aria-hidden="true"></i></button> Add Note</td></tr>
                <tr><td><button class="btn-xs btn-primary"><i class="fa fa-envelope faa-tada animated" aria-hidden="true"></i></button>Add Contact</td></tr>
                <tr><td><button class="btn-xs btn-primary"><i class="fa fa-paperclip" aria-hidden="true"></i></button>Add Attachment</td></tr>
                <tr><td><button class="btn-xs btn-primary"><i class="fa fa-history" aria-hidden="true"></i></button>View History</td></tr>
                <tr><td><button class="btn-xs btn-primary"><i class="fa fa-phone faa-tada animated" aria-hidden="true"></i></button>Schedule Follow-Up</td></tr>
                <tr><td><button class="btn-xs btn-danger"><i class="fa fa-close" aria-hidden="true"></i></button>Close Case</td></tr>
            </tbody>
        </table> 
    </div>

</div>

