<style>
  #propic{
        height:80px;
    }

    #propic:hover{
        height:150px;
        width:100px;
    }
</style>

<br />
<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" ng-controller="profileAppCtrl">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="primaryInfoHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#primaryInfo" aria-expanded="false" aria-controls="primaryInfo">
                Primary information
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </div>
        <div id="primaryInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="primaryInfoHeading">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>Personal Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 zero-padding-left-right-div">
                            <div class="col-lg-4 pull-right text-center">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                                        <img src="~/Content/Images/doctor.jpg" id="propic"/>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class=" col-lg-12 zero-padding-left-right-div">
                                    <div class="col-lg-3 form-group">
                                        <label class="control-label"><strong>Title:</strong></label>
                                        <label class="control-label small">Mr.</label>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="control-label"><strong>First Name:</strong></label>
                                        <label class="control-label small">Ashok</label>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="control-label"><strong>Middle Name:</strong></label>
                                        <label class="control-label small">K</label>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <label class="control-label"><strong>Last Name:</strong></label>
                                        <label class="control-label small">Kumar</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 zero-padding-left-right-div">
                               
                                        <div class="col-lg-3 form-group">
                                            <label class="control-label"><strong>Gender:</strong></label>
                                            <label class="control-label small">Male</label>
                                        </div>
                                        <div class="col-lg-3 form-group" ng-if="gender=='F'">
                                            <label class="control-label"><strong>Maiden Name</strong></label>
                                            <label class="control-label"></label>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label class="control-label"><strong>Marital Status:</strong></label>
                                            <label class="control-label small">Single</label>
                                        </div>
                                        <div class="col-lg-3 form-group" ng-if="marital_status=='married'">
                                            <label class="control-label"><strong>Spouse Name:</strong></label>
                                            <label class="control-label"></label>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                                         </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>Provider Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="col-lg-6 form-group">
                                <label class="control-label"><strong>Do you practice exclusively with in inpatient setting?</strong></label>
                               <label class="control-label small">Yes</label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div><label class="control-label small"><strong>Other Legal Names You Have Used ?(Leave Empty, If Not)</strong></label></div>
                    </div>
                    <div class="panel-body">
                       
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="conInfoHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#conInfo" aria-expanded="false" aria-controls="conInfo">
                Contact information
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
        <div id="conInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="conInfoHeading">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>Home Address</div>
                    </div>

                    <div class="panel-body table-bordered">
                        <div class="col-lg-12" id="conInfoContainer">
                            <div class="col-lg-12">
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-3"><strong>Street Address</strong></div>
                                    <div class="col-lg-3"><strong>State</strong></div>
                                    <div class="col-lg-3"><strong>City</strong></div>
                                    <div class="col-lg-3"><strong>View</strong></div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="conInfoData">
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-3">Spring Hill Drive</div>
                                    <div class="col-lg-3">Florida</div>
                                    <div class="col-lg-3">Spring Hill</div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('conInfoForm1', this)"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="conInfoForm1" style="display:none;">
                                    <br />
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Apartment /Unit Number:</strong></label>
                                           <label class="control-label small">#101</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Street Address:</strong></label>
                                            <label class="control-label small">Concord Street</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Country:</strong></label>
                                 
                                                <label class="control-label small">United States</label>
                                           
                                        </div>
                                    </div>
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>State:</strong></label>
                                           
                                                <label class="control-label small">Florida</label>
                                           
                                            
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>City:</strong></label>
                                          
                                                <label class="control-label small">Spring Hill</label>
                                          
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>County:</strong></label>
                                            <label class="control-label small">Clay County</label>
                                        </div>
                                        </div>
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Zip Code:</strong></label>
                                            <label class="control-label small">34606</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Living Here From:</strong></label>
                                            <label class="control-label small">4-3-2014</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Living Here To:</strong></label>
                                            <label class="control-label small">4-3-2014</label>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>
                                  

                                </div>
                                <br />
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-3">Inverness</div>
                                    <div class="col-lg-3">Florida</div>
                                    <div class="col-lg-3">Putnam</div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('conInfoForm2', this)"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="conInfoForm2" style="display:none;">
                                    <br />
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Apartment/Unit Number:</strong></label>
                                            <label class="control-label small">#101</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Street Address:</strong></label>
                                            <label class="control-label small">Inverness</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Country:</strong></label>

                                            <label class="control-label small">United States</label>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>State:</strong></label>

                                            <label class="control-label small">Florida</label>


                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>City:</strong></label>

                                            <label class="control-label small">Putnam</label>

                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>County:</strong></label>
                                            <label class="control-label small">Clay County</label>
                                        </div>
                                        </div>
                                    <div class="col-lg-12 zero-padding-left-right-div">
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Zip Code:</strong></label>
                                            <label class="control-label small">1211</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Living Here From:</strong></label>
                                            <label class="control-label small">4-3-2014</label>
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label class="control-label"><strong>Living Here To:</strong></label>
                                            <label class="control-label small">4-3-2014</label>
                                        </div>
                                    </div>


                                  
                                   

                                </div>

                                <div class="clearfix"></div>
                                <br />
                            </div>

                        </div>

                        

                        <div class="clearfix"></div>
                      
                    </div>
                </div>
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>Contact Details</div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 zero-padding-left-right-div">

                            <div class="form-group col-md-4">
                                <label for="MobileNo" class="control-label"><strong>Home Phone:</strong></label>
                                <label for="MobileNo" class="control-label small">8901551809</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="MobileNo" class="control-label"><strong>Home Fax:</strong></label>
                                <label for="MobileNo" class="control-label small">0011</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="MobileNo" class="control-label"><strong>Mobile Number:</strong></label>
                                <label for="MobileNo" class="control-label small">8901331465</label>
                            </div>
                        </div>
                        <div class="col-lg-12 zero-padding-left-right-div">

                            <div class="col-lg-6 form-group">
                                <label class="control-label"><strong>Preffered method for written contact:</strong></label>
                                <label class="control-label small">Email</label>
                            </div>

                            <div class="col-lg-6 form-group">
                                <label class="control-label"><strong>Email Id:</strong></label>
                                <label class="control-label small">ashok@gmail.com</label>
                            </div>
                            </div>
                           
                        </div>
                   
                    
                    </div>
                </div>
                <br />
               
            </div>
        </div>
 

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="perInfoHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#perInfo" aria-expanded="false" aria-controls="perInfo">
                Personal Identification
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
        <div id="perInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="perInfoHeading">
            <div class="panel-body">


                
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div class="col-lg-6 form-group">
                        <label class="control-label"><strong>Social Security Number:</strong></label>
                        <label class="control-label small">721-07-4426</label>
                    </div>

                    <div class="col-lg-6 form-group">
                        <label class="control-label"><strong>Drivers License:</strong></label>
                        <label class="control-label small">w426-545-30-761-0</label>
                    </div>
                </div>
                <br />
                <div class="col-md-12 text-right">
                    <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View SSN Certificate <i class="fa fa-file"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
