@model AHC.CD.WebUI.MVC.Areas.Profile.Models.WorkHistory.PublicHealthServiceViewModel

<div class="col-lg-12" style="word-wrap: break-word;">

    <fieldset>
        <legend>
            Public Health Service Information
        </legend>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.StartDate, new { @class = "control-label small" })
                    <div>
                        <div>
                            <i class="data-label">{{publicHealthService.StartDate | date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.EndDate, new { @class = "control-label small" })
                    <div>
                        <div>
                            <i class="data-label">{{publicHealthService.EndDate | date:'MM-dd-yyyy'}}</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.LastLocation, new { @class = "control-label small" })
                    <div>
                        <div>
                            <i class="data-label">{{publicHealthService.LastLocation || 'Not Available'}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-md-12">
            <div class="col-md-12 form-group">
                <button type="button" class="btn btn-warning btn-sm" ng-click="operateCancelControl('')">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="operateEditControl($index+'_editPublicHealthService',publicHealthService)">Edit</button>
            </div>
        </div>
        </fieldset>
</div>
