<br />
<div class="panel-group" id="accordion4" role="tablist" aria-multiselectable="true" ng-controller="ServiceInfo">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="MSIHeading">

            <a data-toggle="collapse" data-parent="#accordion4" href="#MSI" aria-expanded="true" aria-controls="MSI">
                Military Service Information
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>
        </div>
        <div id="MSI" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="MSIHeading">
            <div class="panel-body table-bordered">
                <div class="col-lg-12" id="militaryContainer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>Military Branch</strong></div>
                            <div class="col-lg-3"><strong>Start Date</strong></div>
                            <div class="col-lg-3"><strong>End Date</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="militaryData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Branch 1</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">5-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('militaryForm1',this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="col-lg-12" id="militaryForm1" style="display:none;">
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Military Branch:</label>
                                        <label class="control-label small">ARMY</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Start Date:</label>
                                        <label class="control-label small">4-3-2014</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Discharge Date:</label>
                                        <label class="control-label small">5-3-2014</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Rank At Discharge:</label>
                                        <label class="control-label small">Sergeant Major</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Type Of Discharge:</label>
                                        <label class="control-label small">Honorable </label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Other Than Honorable, Please Explain</label>

                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Present Duty Status/Assignment:</label>
                                        <label class="control-label small">Active</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Reserve Status:</label>
                                        <label class="control-label small">Active</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="Contact" class="control-label">You Have No Military Obligation?</label>
                                        <label class="control-label small">Yes</label>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="PHSHeading">

            <a data-toggle="collapse" data-parent="#accordion4" href="#PHS" aria-expanded="false" aria-controls="PHS">
                Public Health Service
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="PHS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="PHSHeading">
            <div class="panel-body table-bordered">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Contact" class="col-md-10 control-label">Have You Performed public health Service? </label>
                        <label class="control-label small">Yes</label>
                    </div>
                </div>

                <br />
                <div class="col-lg-12" id="publicContainer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>Location</strong></div>
                            <div class="col-lg-3"><strong>Start Date</strong></div>
                            <div class="col-lg-3"><strong>End Date</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="publicData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Spring Hill</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">5-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('publicForm1',this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="publicForm1" style="display:none;">
                            <br />

                            <div class="form-group">
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">Beginning Date</label>
                                            <label class="control-label small">4-3-2014</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Ending Date</label>
                                            <label class="control-label small">10-3-2014</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Last Location</label>
                                            <label class="control-label small">New York</label>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
</div>


