
<div class="master_filter_claims col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="clearfix">
        <label class="searchBy_label pull-left">Search by</label>
        <a class="pull-right" id="close_master_filter_btn"><i class="fa fa-close"></i></a>
    </div>

    <form class="form-style tracking-filter-form clearfix" role="form">
        <div class="form-group col-lg-1">
            <label for="Payer" class="search-text">Payer:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Access2</option>
                <option value="12">Access2 Tampa</option>
                <option value="13">All American Phy</option>
            </select>*@
            <input type="text" id="payerFilter" class="search-dropdown-input form-control" />
        </div>
        <div class="form-group col-lg-2">
            <label for="billing-Provider" class="search-text">Billing Provider:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Dina Amundsen</option>
                <option value="12">Sheila Trissel</option>
                <option value="13">Tony Martin</option>
                <option value="1">Marrisa Valenti</option>
                <option value="12">Carpi Ritch</option>
            </select>*@

            <input type="text" id="BillingProviderFilter" class="search-dropdown-input form-control" />
        </div>
        <div class="form-group col-lg-2">
            <label for="Rendering-provider" class="search-text">Rendering Provider:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Aasma Riaz</option>
                <option value="12">Rajyalakshmi Kolli</option>
                <option value="13">Gary Merlino</option>
                <option value="1">Bernard Kurecki III</option>
            </select>*@

            <input type="text" id="RenderingProviderFilter" class="search-dropdown-input form-control" />
        </div>
        <div class="form-group col-lg-1">
            <label for="Claim-Type" class="search-text">Claim Type:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Cap</option>
                <option value="12">FFS</option>
                <option value="13">UB04</option>
            </select>*@
            <input type="text" id="ClaimTypeFilter" class="search-dropdown-input form-control" />
        </div>
        <div class="form-group col-lg-2">
            <label for="dos-from" class="search-text">DOS:</label>
            <input type="text" class="form-control search-dropdown-input small_font_textbox" id="dos-from">
        </div>
        @*<div class="form-group col-lg-1">
            <label for="dos-to" class="search-text">DOS To:</label>
            <input type="text" class="form-control search-dropdown-input" id="dos-to">
        </div>*@
        <div class="form-group col-lg-2">
            <label for="Billing-Team" class="search-text">Billing Team:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Aasma Riaz</option>
                <option value="12">Rajyalakshmi Kolli</option>
                <option value="13">Gary Merlino</option>
                <option value="1">Bernard Kurecki III</option>
            </select>*@
            <input type="text" id="BillingTeamFilter" class="search-dropdown-input form-control" />
        </div>
        <div class="form-group col-lg-2">
            <label for="Biller" class="search-text">Biller:</label>
            @*<select class="search-dropdown-input form-control">
                <option value="1">Aasma Riaz</option>
                <option value="12">Rajyalakshmi Kolli</option>
                <option value="13">Gary Merlino</option>
                <option value="1">Bernard Kurecki III</option>
            </select>*@
            <input type="text" id="BillerFilter" class="search-dropdown-input form-control" />
        </div>
        @*<div>
                <a class="btn btn-xs btn-success pull-right">Apply</a>
                <a class="btn btn-xs btn-warning pull-right">
                    <i class="fa fa-history"></i>
                </a>
            </div>*@
       
    </form>

    <div id="search_by_titles">

    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-success" id="master_filter_apply" onclick="ApplyMasterFilter()">Apply</button>
        <button type="button" class="btn btn-xs btn-success" id="master_filter_new" onclick="NewMasterFilter()">New</button>
        <button type="button" class="btn btn-xs btn-danger" id="master_filter_reset" onclick="ApplyMasterFilter()">Reset</button>
        <button type="button" id="history_btn" class="btn btn-xs btn-success"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
        <ul class="filter_history_dropdown_menu"></ul>
    </div>
</div>
