@model List<PortalTemplate.Models.Claims_Dashboard.CPT>

<table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
    <thead class="theme_thead">
        <tr>
            @*
                <th>SL</th>*@
            <th>Code</th>
            <th>#</th>
            <th>Cost $</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Count</td>
                <td>@item.Cost</td>
                <td>@item.Description</td>
            </tr>
        }

    </tbody>
</table>
