@model PortalTemplate.Models.Claims_Dashboard.FilterHistory

<div>
    <label class="filterName_label"><i class="fa fa-heartbeat"></i> <span id="filterName_span">@Model.FilterName</span></label>
    <small class="edit_filterName" onclick="EditFavFilterName()"><a><i class="fa fa-pencil-square-o"></i>Edit</a></small>
    <small class="save_filterName" onclick="SaveFavFilterName()"><a><i class="fa fa-save"></i>Save</a></small>
</div>
<div id="@Model.DivId">
    @foreach (var ele in Model.Elements)
    {
        <span>@ele.By:</span>
        foreach (var e in ele.On)
        {
            <span class="filter_text_badge">
                @e
            </span>
           
        }
    }

</div>
