<div class="small_view">
    <div class="c_panel_header clearfix">
        <label>High Cost Claims <span class="Help_Chart">[?]</span></label>
        <a class="pull-right btn-xs drag_btn"><i class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></a>
        <a class="pull-right view_more btn_link" id="Show_Detailed_Report_HCC">View More</a>
        @*<a class="pull-right btn-xs help_btn"><i class="fa fa-question-circle"></i></a>*@
        @*<a class="pull-right filter_btn btn-xs" data-chart-id="#HighCostClaimsReport"><i class="fa fa-filter" aria-hidden="true"></i></a>*@
    </div>
    <div class="c_panel_body">
        <div id="HighCostClaimsReport"></div>
    </div>
</div>
<p-script filepath="~/Scripts/AppScripts/ClaimsDashboard/OverviewGraphs/HighCostClaimsReport.js"></p-script>