
<div class="small_view">
    <div class="c_panel_header clearfix">
        <label>Most Common Disease <span class="Help_Chart">[?]</span></label>
        <a class="pull-right btn-xs drag_btn"><i class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></a>
        <a class="pull-right view_more btn_link" id="Show_Detailed_Report_MCD">View More</a>
        @*<a class="pull-right btn-xs help_btn"><i class="fa fa-question-circle"></i></a>*@
        @*<a class="pull-right filter_btn btn-xs"><i class="fa fa-filter" aria-hidden="true"></i></a>*@
    </div>
    <div class="c_panel_body">
        <div id="ICDReport"></div>
    </div>
</div>
