
<div class="small_view">
    <div class="c_panel_header clearfix">
        <label>Rejection <span class="Help_Chart">[?]</span></label>
        @*<select name="selectPanelty">
                <option value="top">Top 10</option>
                <option value="bottom">Bottom 10</option>
            </select>*@
        <a class="pull-right btn-xs drag_btn"><i class="fa fa-2x fa-ellipsis-v" aria-hidden="true"></i></a>
        <a class="pull-right view_more btn_link" id="Show_Detailed_Report_PenAdj">View More</a>
        @*<a class="pull-right btn-xs help_btn"><i class="fa fa-question-circle"></i></a>*@
        @*<a class="pull-right filter_btn btn-xs" data-chart-id="#PenaltyAdjustmentReport"><i class="fa fa-filter" aria-hidden="true"></i></a>*@
    </div>
    <div class="c_panel_body">
        <div id="PenaltyAdjustmentReport"></div>
    </div>
</div>
<p-script filepath="~/Scripts/AppScripts/ClaimsDashboard/OverviewGraphs/AdjustmentCodeReport.js"></p-script>
