
@{
    ViewBag.Title = "_PlanData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clearfix"></div>
<br/>
@{Html.RenderAction("GetPlanForm", "PlanForm", new { form = "_UltimateForm" });}
