<style>
    .text-black > thead > tr > th {
        color: black !important;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }

    .text-black > tbody > tr > td {
        color: black !important;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }
    .CredentialingDetailTable>thead>tr>th {
        color:black;
        font-weight:bolder;
    }
</style>
<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 nopadding">
    <fieldset class="" style=" padding: 0px; margin-top: 15px; min-height: 377px;">
        <div class="text-center Top_Nav_strip" style="color: white; height: 25px; font-weight: 500; font-size: 16px; background-color: #203764; width: 100%; padding: -12px; box-shadow: 0px 3px 7px -2px #4a4a4a !important;">
            @*   <div class="text-center" style="color:#203764;height:40px; font-weight:500;font-size:16px;background-color: #00ACC1; width: 100%; padding: -12px; box-shadow: 0px 3px 7px -2px #4a4a4a !important;">*@
            CREDENTIALING  DETAILS
        </div>
        <div class="x_content zero-padding-left">
            <table class="table text-black">
                <thead style=" height: 10%; overflow: hidden; display: inline-block; width: 100%;">
                    <tr>
                        <th class="col-lg-3">PRACTICE LOCATION</th>
                        <th class="col-lg-3">PLAN</th>
                        @*<th class="col-lg-1">LOB</th>
                            <th class="col-lg-2">SPECIALTY</th>*@
                        <th class="col-lg-2">GROUP/IPA</th>
                        <th class="col-lg-2">OFFICE HOURS</th>
                        <th class="col-lg-2">AGE LIMIT</th>
                    </tr>
                </thead>
                <tbody style=" height: 280px; overflow: auto; display: inline-block; width: 100%;">
                    @*<tr>
                            <td class="col-lg-2">144, SPRINGHILL DRIVE,FL(34607) &nbsp;<span class="label label-success">Primary</span></td>
                            <td class="col-lg-1"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-1"></td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2">ZELIS - (FMRLY STRATOSE NETWORKS)</td>
                            <td class="col-lg-1"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2">BIOFEEDBACK TECHNICIAN,ARNP</td>
                            <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                            <td class="col-lg-1">12-30</td>
                        </tr>
                        <tr>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-1">FEE FOR SERVICE</td>
                            <td class="col-lg-2">ACCESS, ACCESS2</td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-2"></td>
                            <td class="col-lg-1"></td>
                        </tr>*@
                    <tr>
                        <td class="col-lg-2">144, SPRINGHILL DRIVE,FL(34607) &nbsp;<span class="label label-success">Primary</span></td>
                        <td class="col-lg-2">1. ZELIS - (FMRLY STRATOSE NETWORKS)<br />2. WELCARE &nbsp;<span class="label label-primary" data-toggle="modal" data-target="#CredentialingDetailModal">more</span></td>
                        @*<td class="col-lg-1">FEE FOR SERVICE</td>
                            <td class="col-lg-2">ACCESS, ACCESS2</td>*@
                        <td class="col-lg-2">ACCESS, ACCESS2</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">12-30</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">34th,LAKE VIEW ROAD,FL(34607)</td>
                        <td class="col-lg-2">1. AETNA<br />2. HCSC GROUP<br /> 3. CIGNA</td>
                        @*<td class="col-lg-1">MEDICARE</td>
                            <td class="col-lg-2">ACCESS HEALTH CARE PHYSICIAN LLC</td>*@
                        <td class="col-lg-2">ACCESS HEALTH CARE PHYSICIAN LLC</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">10-40</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">144, SPRINGHILL DRIVE,FL(34607) &nbsp;</td>
                        <td class="col-lg-2">1. ZELIS - (FMRLY STRATOSE NETWORKS)<br />2. HIP INSUARNCE <br />3. CENTENE CORP </td>
                        @*<td class="col-lg-1">FEE FOR SERVICE</td>
                            <td class="col-lg-2">ACCESS, ACCESS2</td>*@
                        <td class="col-lg-2">ACCESS, ACCESS2</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">12-30</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">144, SPRINGHILL DRIVE,FL(34607)</td>
                        <td class="col-lg-2">1. ZELIS - (FMRLY STRATOSE NETWORKS)<br />2. WELCARE &nbsp;<span class="label label-primary" data-toggle="modal" data-target="#CredentialingDetailModal">more</span></td>
                        <td class="col-lg-2">ACCESS, ACCESS2</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">12-30</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">34th,LAKE VIEW ROAD,FL(34607)</td>
                        <td class="col-lg-2">1. AETNA<br />2. HCSC GROUP<br /> 3. CIGNA</td>
                        <td class="col-lg-2">ACCESS, ACCESS2</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">10-40</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">144, SPRINGHILL DRIVE,FL(34607) &nbsp;</td>
                        <td class="col-lg-2">1. ZELIS - (FMRLY STRATOSE NETWORKS)<br />2. HIP INSUARNCE <br />3. CENTENE CORP </td>
                        <td class="col-lg-2">ACCESS, ACCESS2</td>
                        <td class="col-lg-2">8:00 AM- 5:00 PM </td>
                        <td class="col-lg-2">12-30</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*<div class="x_content zero-padding-left" style="padding-bottom: 0px; background-color: #eee;">

            </div>*@
    </fieldset>

</div>
<div class="modal fade " tabindex="-1" role="dialog" id="CredentialingDetailModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row" style="text-align: center;">
                    <span class="modalTitle text-uppercase">Credentialing Details</span>
                    <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                    @*<span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-danger"></i></span>*@
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
               @* <span class="text-uppercase label" style="background-color: #C5CAE9; color: black;">Specialty Detail</span>*@
                <div class="x_content zero-padding-left text-uppercase">
                    <table class="table CredentialingDetailTable table-hover">
                        <thead>
                            <tr>
                                <th>PLAN</th>
                                <th>LOB</th>
                                <th>SPECIALTY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AETNA</td>
                                <td>COMMERCIAL<br />MEDICAID<br />COMMERCIAL EXCHANGE</td>
                                <td>CARDIOLOGY<br />ARNP<br />AUDIOLOGIST<br />ANESTHESIOLOGY<br />CHIROPRACTOR</td>
                            </tr>
                            <tr>
                                <td>CIGNA</td>
                                <td>MEDICARE<br />MEDICAID</td>
                                <td>ADULT NURSE PRACTITIONER</td>
                            </tr>
                            <tr>
                                <td>HUMANA</td>
                                <td>COMMERCIAL EXCHANGE</td>
                                <td>ADVANCED NURSE PRACTITIONER, FAMILY MEDICINE</td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">Specialty Type :</label>
                        <span class="theme_label_data">Primary</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">Specialty :</label>
                        <span class="theme_label_data">Adult Neurology</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">Percentage Of Time :</label>
                        <span class="theme_label_data">100</span>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">Taxonomy Code :</label>
                        <span class="theme_label_data">1234567891</span>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">Do you wish to be listed in the directory under this specialty? </label>
                        <span class="theme_label_data"></span>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                        <label class="theme_label">HMO :</label>
                        <span class="theme_label_data">Yes</span>
                        <label class="theme_label"> &nbsp;POS</label>
                        <span class="theme_label_data">Yes</span>
                        <label class="theme_label"> &nbsp;PPO :</label>
                        <span class="theme_label_data">Yes</span>
                    </div>*@
                </div>
               
            </div>
        </form>
    </div>
</div>