@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.SummaryViewModel.CredentialingDetailsViewModel>
<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 nopadding">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            @*<span class="theme_depend text-uppercase">CREDENTIALING DETAILS</span>
                <span class="text-uppercase pull-right">

                </span>*@
            <span class="theme_depend text-uppercase ">
                <span class="transparent-font-color">.</span>
                CREDENTIALING DETAILS
            </span>
        </legend>
        <div class="x_content">
            <div class="row col-lg-12">
                <label style="margin-bottom: -3px;" class="nopadding col-lg-4 col-md-4 col-sm-4 col-xs-4 summaryTab">
                    <span class="theme_label"><i style="color: #002694; " class="fa fa-map-marker"></i>   PRIMARY LOCATION : </span>

                    <a href="#" data-toggle="modal" data-target="#summarymodalPracticeLocationDeatail" class="theme_label_data">144, Spring Hill Drive,FL(34607)</a><br />
                    <span class="theme_label"> ASSOCIATED PLANS :</span>
                    <span class="nopadding col-lg-12">
                        <span class="nopadding col-lg-6">
                            <ul>
                                <li><span class="theme_label_data">AETNA</span></li>
                                <li><span class="theme_label_data">BLUECROSS</span></li>
                            </ul>
                        </span>
                        <span class="nopadding col-lg-6">
                            <ul>
                                <li><span class="theme_label_data">HUMANA</span></li>
                                <li><span class="theme_label_data">MEDICARE</span></li>
                            </ul>
                        </span>
                    </span>
                </label>
                <span class="nopadding col-lg-8 col-md-8 col-sm-8 col-xs-8 nopadding">
                    <label class="theme_label">
                        SPECIALTY :
                    </label>
                    <span class="theme_label_data">
                        FAMILY MEDICINE
                    </span>
                    <label class="theme_label">
                        AGE LIMIT :
                    </label>
                    <span class="theme_label_data">
                        0-65 Years
                    </span>
                </span>
            </div>
            <div class="row col-lg-12">
                <label class="nopadding col-lg-6 col-md-6 col-sm-6 col-xs-6 summaryTab">
                    <span class="theme_label"><i style="color: #002694; " class="fa fa-map-marker"></i> Secondary Location : </span>
                    <span class="theme_label_data">144, Springhill Drive,FL(34607)</span><br />
                    <span class="theme_label">   Associated Plans:</span>
                    <span class="nopadding col-lg-12">
                        <span class="nopadding col-lg-6">
                            <ul>
                                <li><span class="theme_label_data">AETNA</span></li>
                                <li><span class="theme_label_data">BLUECROSS</span></li>
                            </ul>
                        </span>
                        <span class="nopadding col-lg-6">
                            <ul>
                                <li><span class="theme_label_data">HUMANA</span></li>
                                <li><span class="theme_label_data">MEDICARE</span></li>
                            </ul>
                        </span>
                    </span>
                </label>
                <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                    <label class="theme_label">
                        SPECIALTY :
                    </label>
                    <span class="theme_label_data">
                        FAMILY MEDICINE
                    </span>
                    <label class="theme_label">
                        AGE LIMIT :
                    </label>
                    <span class="theme_label_data">
                        0-65 Years
                    </span>
                    <br /><br /><br /><br />
                    <a data-toggle="modal" data-target="#summarymodalcredentialingdetail" class="viewMoreStyle" href="#">view more</a>
                </span>
            </div>
        </div>
    </fieldset>
</div>