@model PortalTemplate.Areas.CredAxis.Models.SummaryViewModel.ProfileStatusViewModel
<style>
    .classlabel {
        background: none repeat scroll 0 0 #0063ff;
        border-radius: 25px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 0px 0px;
    }

    .SummaryDataField {
        position: absolute;
        top: 3px;
        font-size: 14px;
    }

    .SummaryLabelField {
        font-size: 11px;
        position: absolute;
        bottom: -5px;
        font-weight: 500;
    }

    .SummaryInnerDataTab {
        margin-top: 6px;
        margin-left: 5px;
    }

    .width-30 {
        width: 30px;
    }

    .text-black {
        color: black !important;
    }
</style>
<fieldset class="" style=" padding: 0px; margin-top: 15px;">
    <div class="text-center Top_Nav_strip" style="color: white; height: 25px; font-weight: 500; font-size: 16px; background-color: #203764; width: 100%; padding: -12px; box-shadow: 0px 3px 7px -2px #4a4a4a !important;">
        PROFILE STATUS
    </div>
    <div class="x_content zero-padding-left" style="margin-top: 10px; margin-bottom: 19px;">
        <div class="row">
            <label class="col-lg-4 col-md-6 col-sm-6 col-xs-12  summaryTab SummaryInnerDataTab">
                <span class="label classlabel" style="background-color: #FF6D00;"><i class="width-30 fa fa-link"></i></span>
                <span class="theme_label_data SummaryDataField" style="color: #FF6D00;">&nbsp;&nbsp;@Html.DisplayFor(e => e.LastPsvDATE)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp; Last PSV Date</span>
            </label>
            <span class="col-lg-1"></span>
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding summaryTab SummaryInnerDataTab">
                <span class="label classlabel" style="background-color: #4CAF50; "><i style="color:white;" class="width-30 fa fa-list-alt"></i> </span>
                <span class="theme_label_data SummaryDataField " style="color: #4CAF50; ">&nbsp;&nbsp;@Html.DisplayFor(e => e.ProfileStatus)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp; Active Licenses</span>
            </label>
        </div>
        <div class="row">
            <label class="col-lg-5 col-md-6 col-sm-6 col-xs-12  summaryTab SummaryInnerDataTab">
                <span class="label classlabel" style="background-color: #00897B;"><img class="floatIcons width-30" src="/Areas/CredAxis/Content/Images/ic_content_paste_white_24dp_1x.png"></span>
                <span class="theme_label_data SummaryDataField" style="color: #00897B;">&nbsp;&nbsp;@Html.DisplayFor(e => e.ActiveContracts)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp; Active Contracts</span>
            </label>
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding summaryTab SummaryInnerDataTab">
                <span class="label classlabel" style="background-color: #EF5350;"><img class="floatIcons width-30" src="/Areas/CredAxis/Content/Images/ic_content_paste_white_24dp_1x.png"></span>
                <span class="theme_label_data SummaryDataField" style="color: #EF5350;">&nbsp;&nbsp;@Html.DisplayFor(e => e.InActiveContracts)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp; InActive Contracts</span>
            </label>
        </div>
        <div class="row">
            <label class="col-lg-5 col-md-6 col-sm-6 col-xs-12  summaryTab SummaryInnerDataTab">
                <span class="label classlabel" style="background-color: #1E88E5; "><i class="width-30 fa fa-group"></i></span>
                <span class="theme_label_data SummaryDataField" style="color: #1E88E5; ">&nbsp;&nbsp;@Html.DisplayFor(e => e.InActiveContracts)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp;  IPA/Group</span>
            </label>
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding summaryTab SummaryInnerDataTab">
                <span class="label classlabel"><i class="width-30 fa fa-hospital-o"></i></span>
                <span class="theme_label_data SummaryDataField">&nbsp;&nbsp;@Html.DisplayFor(e => e.InActiveContracts)</span>
                <span class="theme_label SummaryLabelField text-black">@*<i style="" class="fa fa-circle  "></i>*@  &nbsp; Associated Hospitals</span>
            </label>
        </div>
    </div>
</fieldset>
