<link href="~/Areas/CredAxis/CSS/ProviderProfile/DataSummary.css" rel="stylesheet" />
<div class="col-lg-12">
    <div class="col-lg-3">
        DEMOGRAPHICS :
    </div>
    <div class="col-lg-3">
        <div class="bar">
            <div class="fill1"><span>20/40</span></div>
        </div>
    </div>
    <div class="col-lg-3">
        <span class="profilecompletion1">50%</span>
    </div>
</div>