@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.SummaryViewModel.RecentTasksViewModel>
<style>
    .RecentTaskInnerTabs {
        margin-top: 3px;
        /*border: 1px solid #e0d6d6;*/
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: whitesmoke;
    }
</style>
<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12 nopadding">
    <fieldset class="" style=" padding: 0px; margin-top: 15px; min-height: 377px;">
        @*<legend class="smallheaderTab">
                <span class="theme_depend text-uppercase">
                    PROFILE STATUS
                </span>
            </legend>*@
        <div class="text-center Top_Nav_strip" style="color: white; height: 25px; font-weight: 500; font-size: 16px; background-color: #203764; width: 100%; padding: -12px; box-shadow: 0px 3px 7px -2px #4a4a4a !important;">
            @*   <div class="text-center" style="color:#203764;height:40px; font-weight:500;font-size:16px;background-color: #00ACC1; width: 100%; padding: -12px; box-shadow: 0px 3px 7px -2px #4a4a4a !important;">*@
            RECENT TASKS PERFORMED

        </div>
        <div class="x_content zero-padding-left" style=" margin-top: 13px; margin-bottom: 15px; height: 308px; overflow: auto; display: inline-block; width: 100%;">
            <div>
                @foreach (var item in Model)
                {

                    <label style="" class="col-lg-12 col-md-4 col-sm-6 col-xs-12 summaryTab nopadding RecentTaskInnerTabs">

                        <span class="label label-success" style="color:black">Elizabeth Duffin</span><br />
                        <span data-toggle="modal" data-target="#summarymodaldetailedtask" style="text-transform:uppercase;font-weight:500;color:black"><a style="color: #203764;">@item.Note </a> &nbsp;: @item.Description</span><br />
                        <span style="text-transform:initial;color:grey;" class="pull-right"><i class="fa fa-circle-thin"></i>&nbsp;@item.PerformedDate</span>
                    </label>
                }
            </div>

            <div>
                <br /><br />
            </div>
            @*<div>
                    <a data-toggle="modal" data-target="#SummaryModal" class="viewMoreStyle" style="">view more</a>
                </div>*@
        </div>
        @*<div class="x_content zero-padding-left" style="padding-bottom: 0px; background-color: #eee;">

            </div>*@
    </fieldset>

</div>
