/*--------------eob report---------*/

.bolder {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.EOBPanel label, .EOBPanel button, .from_previewContent_EOB span {
    text-transform: uppercase;
}

.text-initial {
    text-transform: initial !important;
}

.form_Create_EOB input {
    text-transform: uppercase;
}

#EOBSearch {
    margin-top: 6px;
}
