/*----------eob report-----------*/

.repot1_container {
    padding: 5px;
    margin-bottom: 10px;
}
/*for table header font upper case*/
.repot1_container table > thead > tr > th {
    text-transform: capitalize;
}

.repot1_container label {
    text-transform: uppercase;
}


/* tab css */

.claimsProfileTabsContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

    .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
    }

.claimsProfileTabsContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.claimsProfileTabsContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.claimsProfileTabsContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.claimsProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.claimsProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .claimsProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .claimsProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .claimsProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .claimsProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.claimsProfileTabsContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}

.claimsProfileTabsContainer ul li {
    padding: 0px 4px 0px 0px;
}
.x-dtablist {
    display: inline-flex !important;
}
