<div class="panel-group" id="accordionWork" role="tablist" aria-multiselectable="true" ng-controller="workhistoryController">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ProfessionalWork">
            <a data-toggle="collapse" data-parent="#accordionWork" href="#WH" aria-expanded="false" aria-controls="WH">
                Work History / Practice Experience
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="WH" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ProfessionalWork">
            <div class="panel-body table-bordered">
                <div class="form-group" ng-repeat="n in workDetailsList">

                    @*<div class="form-group">*@
                    <div class="clearfix"></div>
                    <div class="col-md-12"><i class="fa fa-times text-danger pull-right" ng-click="deleteWork($index)"></i></div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label small">Employer Name</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">From Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">To Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-12">
                            <label class="control-label small">Address</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label small">State</label>
                            <select class="form-control input-sm">
                                <option>Florida</option>
                                <option>Alaska</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label small">City</label>
                            <select class="form-control input-sm">
                                <option>Putnam</option>
                                <option>Raipur</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">Zip Code</label>
                            <input type="text" class="form-control input-sm" />
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Cancel</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>
                    @*</div>*@
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-xs btn-primary" ng-click="workDetails = workDetails + 1"><i class="fa fa-plus"></i> Add Work History</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/Plan/workhistory.js"></script>