/*----------claims tracking----------*/
#container {
    width: 100%;
    height: 220px;
    position: relative;
}


/*------------connecting line---------------*/

.connection-line {
    height: 3px;
    position: absolute;
    background: #ddd;
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;
}



.claims_tracking_container {
    padding: 10px;
}

.tracking_status_container {
    position: absolute;
    color: #f8f8f8;
    /* opacity: 0.95; */
    cursor: pointer;
    z-index: 1;
}

    .tracking_status_container .type_claims_gateway {
        width: 8px;
        height: 8px;
        background: #446CB3;
        margin: 2px;
    }

    .tracking_status_container .type_clearing_house {
        width: 8px;
        height: 8px;
        background: #F9690E;
        margin: 2px;
    }

    .tracking_status_container .type_payer {
        width: 8px;
        height: 8px;
        background: #6C7A89;
        margin: 2px;
    }

.active_tracking_status_container {
    box-shadow: 1px 2px 7px 4px rgb(105, 104, 103) !important;
}



    .active_tracking_status_container:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        bottom: 1px;
        left: 1px;
        border-style: solid;
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent #666363;
    }


    .active_tracking_status_container:after {
        position: absolute;
        content: '';
        top: 1px;
        right: 1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: transparent #ffffff transparent transparent;
    }

.tracking_status_container:hover {
    color: #ffffff;
    opacity: 1;
}

.tracking_status_container .status_body {
    background: #ffffff;
}

.success_container {
    /* border-bottom: 3px solid #0d8f76; */
    /* border-right: 3px solid #0d8f76; */
    /* box-shadow: 2px 2px 4px 1px rgba(38, 138, 119, 0.5); */
    border: 1px solid #16a085;
}

    .success_container .status_title {
        background: #16a085;
    }


.warning_container {
    /* border-bottom: 3px solid #d78d22; */
    /* border-right: 3px solid #d78d22; */
    /* box-shadow: 2px 2px 4px 1px rgb(245, 207, 154); */
    border: 1px solid #F89406;
}


    .warning_container .status_title {
        background: #F89406;
    }


.default_container {
    /* border-bottom: 3px solid #3876c2; */
    /* border-right: 3px solid #3876c2; */
    /* box-shadow: 2px 2px 4px 1px rgba(163, 201, 248, 0.87); */
    border: 1px solid #4f8edc;
}

    .default_container .status_title {
        background: #4f8edc;
    }

.danger_container {
    /* border-bottom: 3px solid #a22a1e; */
    /* border-right: 3px solid #a22a1e; */
    /* box-shadow: 2px 2px 4px 1px rgba(236, 88, 72, 0.48); */
    border: 1px solid #EF4836;
}


    .danger_container .status_title {
        background: #EF4836;
    }


.status_icon {
    margin-right: 2px;
}

.tracking_status_container .status_title {
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px;
    /* height: 32px; */
    border-bottom: 1px solid rgba(221, 221, 221, 0.26);
    /* background: #727272; */
}

.tracking_status_container .status_amount {
    font-weight: bold;
    word-spacing: 1px;
    padding: 1px 2px;
    letter-spacing: 0.5px;
    text-align: right;
    color: #6e6e6e;
    background: #ffffff;
}

.tracking_status_container .status_count {
    font-weight: bold;
    word-spacing: 1px;
    padding: 1px 2px;
    letter-spacing: 0.5px;
    text-align: right;
    color: #6e6e6e;
    background: #ffffff;
}


.connecting_line {
    stroke: #a8a8a8;
    stroke-width: 2px;
}


/*----------------------overall status tiles-------------------------------*/

.overall_status_tile {
    padding: 0px;
    margin: 5px;
    /* color: #ffffff; */
    letter-spacing: 0.5px;
}

    .overall_status_tile .status_tile_header {
        padding: 5px;
        margin: 0px;
        /* border-bottom: 1px solid rgba(221, 221, 221, 0.27); */
        text-align: center;
        /* font-weight: bold; */
    }

        .overall_status_tile .status_tile_header label {
            margin: 0px;
            font-weight: bold;
        }

    .overall_status_tile .status_tile_body {
        padding: 0px 5px;
        font-size: 18px;
    }


/*--------------------default-------------------*/

.default_overall_status_tile {
    /* background: #4f8edc; */
    /* box-shadow: 2px 2px 4px 1px #bfd5ef; */
    border: 1px solid #4f8edc;
    border-bottom: 4px solid #4f8edc;
    color: #4f8edc;
    transition: all linear 0.3s;
}

    .default_overall_status_tile:hover {
        background: #4f8edc;
        color: #ffffff;
    }

/*-------------------success--------------------*/

.success_overall_status_tile {
    /* background: #16a085; */
    /* box-shadow: 2px 2px 4px 1px #9ed0c7; */
    border: 1px solid #16a085;
    border-bottom: 4px solid #16a085;
    color: #16a085;
    transition: all linear 0.3s;
}

    .success_overall_status_tile:hover {
        background: #16a085;
        color: #ffffff;
    }

/*-------------------warning--------------------*/

.warning_overall_status_tile {
    /* background: #efa131; */
    /* box-shadow: 2px 2px 4px 1px #f5dbb4; */
    border: 1px solid #efa131;
    border-bottom: 3px solid #efa131;
    color: #efa131;
}


#tree_map {
    margin: 2px;
}

.title_heading {
    /* margin-left: -5px; */
    font-weight: 900;
    font-size: 15px;
    color: #1a3c87;
}



#filter_btn {
    margin-top: 3px;
    /* margin-bottom: 0px; */
}


/*=====================hcfa1500 form=============================*/

.cms_div {
    border: 1px solid #ddd;
    text-transform: uppercase;
    padding: 5px;
}

    .cms_div table {
        width: 100%;
    }

        .cms_div table tr td {
            padding: 2px 2px;
        }


/*==========================cms1500=========================*/

form#cms1500Form {
    padding: 10px;
}

    form#cms1500Form label {
        color: #73879c;
        margin-top: 5px;
        margin-bottom: 0px;
    }


.field-validation-error {
    color: red;
    text-transform: initial;
    overflow: hidden;
    word-wrap: break-word;
    white-space: wrap;
    text-overflow: ellipsis;
}

#SaveCMS1500Btn {
    width: 146px;
}


.serviceline_section {
    margin: 0px !important;
    padding: 0px !important;
}

.edit-button, .copy-button {
    text-transform: capitalize;
}


.non_mandatory_field_halo, .non_mandatory_field_halo:focus, .non_mandatory_field_halo:active {
    box-shadow: 0 0 2px #ddd;
    border: 1px solid #ddd;
}


.status_update_btn {
    background: #3A539B;
    padding: 9px 14px;
    font-size: 15px;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    position: relative;
    z-index: 10;
}

    .status_update_btn:hover {
        color: #ffffff;
    }

.status_list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
}

    .status_list li {
        display: block;
        float: left;
        margin: 0px 7px;
        text-align: center;
    }

        .status_list li a {
            background: #3A539B;
            padding: 9px 14px;
            font-size: 15px;
            border-radius: 50%;
            color: #ffffff;
            display: block;
            width: 43px;
            margin: auto;
        }

span.status_text {
    color: #4869b0;
    font-weight: bold;
    font-size: 11px;
}


#cms1500Buttons {
    height: 55px;
}


/*---------------------panel--------------------*/

.claimsProfileTabsContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}

.claimsProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}

.x-dtablist {
    display: inline-flex !important;
}


/*--------------------activity logger--------------------*/
.wizard_horizontal {
    margin-top: 4px;
    background: #fff;
    border: #ddd 1px solid;
    padding: 10px;
}


    .wizard_horizontal ul.wizard_steps {
        display: table;
        list-style: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

        .wizard_horizontal ul.wizard_steps li {
            display: table-cell;
            text-align: center;
        }

            .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
                display: block;
                position: relative;
                -moz-opacity: 1;
                filter: alpha(opacity=100);
                opacity: 1;
                color: #666;
                text-decoration: none;
            }

/*------------------------------custom------------------------------------*/

.progress_bar .bar {
    float: left;
    width: 10%;
}

    .progress_bar .bar .detail_data {
        text-transform: uppercase;
    }

    .progress_bar .bar .status_title {
        text-align: center;
        font-weight: 500;
        color: #203764;
    }

    .progress_bar .bar .progress_container .left_bar, .progress_bar .bar .progress_container .center_circle, .progress_bar .bar .progress_container .right_bar {
        float: left;
    }

    .progress_bar .bar .progress_container .left_bar {
        content: '';
        height: 5px;
        width: 40%;
    }

    .progress_bar .bar .progress_container .center_circle {
        content: '';
        width: 20%;
        position: relative;
        color: #ffffff;
        text-align: center;
        font-weight: 700;
    }

        .progress_bar .bar .progress_container .center_circle:after {
            position: absolute;
            content: '';
            bottom: -5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            left: 23%;
        }



    .progress_bar .bar .progress_container .right_bar {
        content: '';
        height: 5px;
        width: 40%;
    }

    .progress_bar .bar .status_details .detail_label {
        display: block;
    }

    .progress_bar .bar .status_details {
        border: 1px solid #ddd;
        margin: 10px 1px;
        padding: 5px;
    }

        .progress_bar .bar .status_details .claim_link {
            text-decoration: underline;
        }

/*--------------------------primary-----------------------------*/

.primary_bar .progress_container .left_bar, .primary_bar .progress_container .center_circle, .primary_bar .progress_container .right_bar {
    background: #4f8edc;
}

    .primary_bar .progress_container .center_circle:after {
        border-top: 5px solid #4f8edc;
    }


/*------------------------warning--------------------------------*/

.warning_bar .progress_container .left_bar, .warning_bar .progress_container .center_circle, .warning_bar .progress_container .right_bar {
    background: #F89406;
}

    .warning_bar .progress_container .center_circle:after {
        border-top: 5px solid #F89406;
    }


/*------------------------success--------------------------------*/

.success_bar .progress_container .left_bar, .success_bar .progress_container .center_circle, .success_bar .progress_container .right_bar {
    background: #1BA39C;
}

    .success_bar .progress_container .center_circle:after {
        border-top: 5px solid #1BA39C;
    }



/*------------------------danger--------------------------------*/

.danger_bar .progress_container .left_bar, .danger_bar .progress_container .center_circle, .danger_bar .progress_container .right_bar {
    background: #EF4836 !important;
}

    .danger_bar .progress_container .center_circle:after {
        border-top: 5px solid #EF4836 !important;
    }

.hide_line {
    background: #ffffff !important;
}


.active_bar .progress_container .center_circle {
    transform: scale(1.3);
}


.active_bar .status_details {
    box-shadow: #1ba39c 1px 1px 3px 1px;
    color: #ffffff;
    background: #1ba39c;
}

    .active_bar .status_details .claim_link {
        color: #ffffff;
        text-decoration: underline;
    }

/*-------------------status type---------------*/

.status_type_list {
    text-transform: uppercase;
    font-weight: 800;
    list-style-type: none;
    display: inline-flex;
    cursor: pointer;
}

    .status_type_list li {
        margin: 0px 33px 0px 0px;
        position: relative;
    }

        .status_type_list li:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 2px;
            left: -14px;
        }

    .status_type_list .claims_gatway_type:before {
        background: #446CB3;
    }

    .status_type_list .clearing_house_type:before {
        background: #F9690E;
    }

    .status_type_list .payer_type:before {
        background: #6C7A89;
    }


/*---------------------eob report----------------------*/

#GoBackFromEOBBtn {
    margin-top: 15px;
}


.claims_heading {
    margin: 0px;
}


#ActivityLoggerCMS1500Form {
    padding: 5px;
    border-top: 1px solid #ddd;
}


.active_activity_logger {
    color: #203764;
    font-weight: bold;
}


input.filter_input {
    width: 10%;
}


.filter_field {
    width: 20%;
    float: left;
}

div#filterContainer {
    position: relative;
    display: none;
}

    div#filterContainer:after {
        position: absolute;
        top: -3px;
        right: 20px;
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #337ab7;
    }

.financial_month_dropdown {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 14px !important;
}

.financial_year_dropdown {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 14px !important;
}


.financial_year {
    margin-left: 5px;
}




label.title_success {
    background: #16a085;
    font-weight: 900;
    font-size: 15px;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -15px;
}

    label.title_success:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #0d7560 transparent transparent;
        left: 0px;
        bottom: -8px;
    }

label.title_warning {
    background: #f89406;
    font-weight: 900;
    font-size: 15px;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -15px;
}

    label.title_warning:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #a86c17 transparent transparent;
        left: 0px;
        bottom: -8px;
    }

label.title_danger {
    background: #ef4836;
    font-weight: 900;
    font-size: 15px;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -15px;
}

    label.title_danger:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #a42b1e transparent transparent;
        left: 0px;
        bottom: -8px;
    }


#wizard_step_id, #cms_container_id {
    padding: 5px;
}


.lock_claim {
    margin: 6px 0px 0px 6px;
}
