/*-------------cms 1500 view------------------*/

/*#cms1500Form .non_mandatory_field_halo,#cms1500Form .non_mandatory_field_halo:focus,#cms1500Form .non_mandatory_field_halo:active {
    box-shadow: 0 0 0px #ddd;
    border: 0px;
    pointer-events:none;
}*/

#viewCmsForm{
    padding:10px;
}

#viewCmsForm .cms_label{
    font-weight:normal;
}

.viewCMSFormLabel{
    font-weight:bold;
}