.sm-mbrid {
    max-width: 0;
    width: 7%;
}

.sm-lastname {
    max-width: 0;
    width: 9.5%;
}

.sm-firstname {
    max-width: 0;
    width: 9.5%;
}

.sm-dob {
    max-width: 0;
    width: 7%;
}

.sm-gender {
    max-width: 0;
    width: 5%;
}

.sm-pcp {
    max-width: 0;
    width: 9%;
}

.sm-pcpphone {
    max-width: 0;
    width: 9.5%;
}

.sm-effdate {
    max-width: 0;
    width: 8%;
}

.sm-address {
    max-width: 0;
    width: 10%;
}

.sm-city {
    max-width: 0;
    width: 8%;
}

.sm-state {
    max-width: 0;
    width: 5.5%;
}

.sm-zip {
    max-width: 0;
    width: 6.5%;
}

#tableWrapper td, #tableWrapper th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tableWrapper td {
    font-weight: bold;
}

#tableBodyWrapper {
    overflow-y: scroll;
    height: 200px;
}

#resultTableHeader {
    width: 99.4%;
}

.fa-sort, .fa-sort-desc, .fa-sort-asc, #searchResultGrid tr {
    cursor: pointer;
}

#exportOptionsForAdvanceUMSearch {
    position: absolute;
    right: 10px;
    top: -6px;
}
