<p-link filepath="~/Areas/CredAxis/CSS/Lib/bootstrap%20Switch/bootstrap-switch.css"></p-link>
<p-script filepath="~/Areas/CredAxis/Scripts/Lib/BootstrapSwitch/bootstrap-switch.js"></p-script>
<div class="col-lg-12 Top_Nav_strip">
    <div id="scrollToTop" class="col-lg-1">
        <img  />
        <div id="ScrollToDown" class="pull-left"><img class="margin-right-5px cursor_pointer" src="~/Areas/CredAxis/Content/Images/ic_arrow_downward_white_24dp_1x.png" /></div>
       &nbsp; <div id="ScrollToTop" class="pull-left"><img class="margin-right-5px cursor_pointer" src="~/Areas/CredAxis/Content/Images/ic_arrow_upward_white_24dp_1x.png" /></div>
    </div>
  
    @*<div class="col-lg-1"></div>*@

    <div class="col-lg-1"></div>
    <div id="ProfileSelectedTabName" class="col-lg-4" style="text-align: right;">Summary</div>

    <div id="RightNavigation" class="col-lg-2 pull-right"> 
        <ul style="color: #2b2b2b; ">

            @*<li class="" style="background-color:#ef9a9a">&nbsp;<i data-toggle="tooltip" data-placement="bottom" title="Expiries" class="fa floatingIcons fa-calendar-times-o"></i> </li>
                <li class="" style="background-color:#F48FB1;">&nbsp;<i data-toggle="tooltip" data-placement="bottom" title="Remainder" class="fa floatingIcons fa-clock-o"></i></li>
                <li class="" style="background-color: #9FA8DA; ">&nbsp;<i data-toggle="tooltip" data-placement="bottom" title="Create Task" class="fa floatingIcons fa-calendar-plus-o"></i></li>
                <li class="" style="background-color: #80CBC4; ">&nbsp;<i data-toggle="tooltip" data-placement="bottom" title="Notes" class="fa floatingIcons fa-sticky-note"></i> </li>
                <li class="" style="background-color: #FFCC80; ">&nbsp;<i data-toggle="tooltip" data-placement="bottom" title="Documents" class="fa floatingIcons fa-folder-open"></i></li>
                <li class="dropdown" style="background-color: #9FA8DA; ">
                    &nbsp;
                    <i data-placement="bottom" title="Open" class="fa floatingIcons fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                    <ul style="z-index:9;background-color:#212121;margin-top:0px; margin-left:-119px;" class="dropdown-menu">
                        <li><a href="#">Summary</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Credentialing</a></li>
                        <li><a href="#">Contracting</a></li>
                    </ul>
                </li>*@
            <li class="" style=" height: 33px; width: 30px;">
                &nbsp;
                <img data-role="tooltip" data-placement="bottom" data-title="New Note" title="New Note" class="floatIcons" src="~/Areas/CredAxis/Content/Images/ic_content_paste_white_24dp_1x.png" />
            </li>
         
            <li class="" style="height: 33px; width: 30px; ">
                &nbsp;<img data-role="tooltip" data-placement="bottom" data-title="New Task" title="New Task" class="floatIcons saturate" src="~/Areas/CredAxis/Content/Images/ic_videogame_asset_white_24dp_1x.png" />
            </li>
           
            <li class="" style=" height: 33px; width: 30px; ">
                &nbsp;<img data-role="tooltip" data-placement="bottom" data-title="Credentialing" title="Credentialing" class="floatIcons" src="~/Areas/CredAxis/Content/Images/ic_chrome_reader_mode_white_24dp_1x.png" />
            </li>
            <li class="" style=" height: 33px; width: 30px; ">
                &nbsp;<img data-role="tooltip" data-placement="bottom" data-title="Remainder" title="Remainder" class="floatIcons" src="~/Areas/CredAxis/Content/Images/ic_alarm_add_white_24dp_1x.png" />
            </li>
           
            <li class="" style="height: 33px; width: 30px; ">
                &nbsp;<img data-role="tooltip" data-placement="bottom" data-title="Document Upload" title="Document Upload" class="floatIcons" src="~/Areas/CredAxis/Content/Images/ic_create_new_folder_white_24dp_1x.png" />
            </li>
           
            <li class="dropdown" style=" height: 33px; width: 30px; ">
                &nbsp;
             
                <img data-role="tooltip" data-placement="bottom" title="Credentialing" class="floatIcons" src="~/Areas/CredAxis/Content/Images/ic_chrome_reader_mode_white_24dp_1x.png" />
                <ul style="z-index:9;background-color:#212121;margin-top:0px; margin-left:-119px;" class="dropdown-menu">
                    <li><a href="#">Summary</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Credentialing</a></li>
                    <li><a href="#">Contracting</a></li>
                </ul>
            </li>
        </ul>
    </div>
    @*<div style="text-align: right;" class="pull-right col-lg-2">
            <span class="search" style="border-bottom: 1px solid white;min-width:25px;">
                <input type="checkbox" name="my-checkbox" checked>
            </span>
        </div>*@
    <div class="pull-right col-lg-2" style="">
        @*<div class="search_wrapper" style="width: 15%;">
            <div class="smart_search_word" style="display: none;"><span class="keyWord" style="display: none;"></span></div>
            <div class="search_input" style="width: 222.656px;"><input type="text" id="profileSearch" placeholder="Search Provider, Plan, IPA, Group"></div>
            <div class="search_btn" style="display: none;">
                <div class="search_btn" style="display: none;">
                    <span class="btn" id="profileSearch" style="display: initial;"><i class="fa fa-search" style="cursor: pointer;"></i></span>
                </div>
            </div>
        </div>*@
        <span class="search">
            <input  class="searchTerm form-control"  placeholder="Search" />
        </span>
    </div>
</div>


<!--Modal For Profile Search-->
<div class="modal fade " tabindex="-1" role="dialog" id="ProfileProviderSearch" style="overflow: auto; top:30%;">
    <div class="modal-dialog modal-md " style="width: 350px;">
        <div class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row" style="text-align: center;">
                    <span id="ProviderFullNameForSearchModal" class="modalTitle">ADAM SMITH</span>
                    <span data-dismiss="modal" class="pull-right"><i class="fa fa-times btn btn-danger"></i></span>
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
                <div class="row">
                    <label class="col-lg-12 col-md-4 col-sm-6 col-xs-12 summaryTab">
                   NPI NUMBER:&nbsp;&nbsp;<span style="text-transform:uppercase;font-weight:500;">245678951</span><br />
                      
                    </label>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal" id="Confirm">Close</button>
                </div>*@
        </div>
    </div>
</div>
