@{
    Layout = null;
}

<div data-role="charm" id="charmSearch" class="charm right-side" style="opacity: 1; display: none; right: -202px; left: auto; top: 0px; bottom: 0px;">
    <h1 class="text-light">Search</h1>
    <hr class="thin">
    <br>
    <div class="input-control text full-size">
        <label>
            <span class="dropdown-toggle drop-marker-light">Anywhere</span>
            <ul class="d-menu" data-role="dropdown">
                <li><a onclick="setSearchPlace(this)">Anywhere</a></li>
                <li><a onclick="setSearchPlace(this)">Options</a></li>
                <li><a onclick="setSearchPlace(this)">Files</a></li>
                <li><a onclick="setSearchPlace(this)">Internet</a></li>
            </ul>
        </label>
        <input type="text">
        <button class="button"><span class="mif-search"></span></button>
    </div>
    <span class="charm-closer"></span>
</div>

<div data-role="charm" id="charmSettings" data-position="top" class="charm top-side" style="opacity: 1; display: none; top: -146px; bottom: auto; left: 0px; right: 0px;">
    <h1 class="text-light">Settings</h1>
    <hr class="thin">
    <br>
    <div class="schemeButtons">
        <div class="button square-button tile-area-scheme-dark" data-scheme="dark"></div>
        <div class="button square-button tile-area-scheme-darkBrown" data-scheme="darkBrown"></div>
        <div class="button square-button tile-area-scheme-darkCrimson" data-scheme="darkCrimson"></div>
        <div class="button square-button tile-area-scheme-darkViolet" data-scheme="darkViolet"></div>
        <div class="button square-button tile-area-scheme-darkMagenta" data-scheme="darkMagenta"></div>
        <div class="button square-button tile-area-scheme-darkCyan" data-scheme="darkCyan"></div>
        <div class="button square-button tile-area-scheme-darkCobalt" data-scheme="darkCobalt"></div>
        <div class="button square-button tile-area-scheme-darkTeal" data-scheme="darkTeal"></div>
        <div class="button square-button tile-area-scheme-darkEmerald" data-scheme="darkEmerald"></div>
        <div class="button square-button tile-area-scheme-darkGreen" data-scheme="darkGreen"></div>
        <div class="button square-button tile-area-scheme-darkOrange" data-scheme="darkOrange"></div>
        <div class="button square-button tile-area-scheme-darkRed" data-scheme="darkRed"></div>
        <div class="button square-button tile-area-scheme-darkPink" data-scheme="darkPink"></div>
        <div class="button square-button tile-area-scheme-darkIndigo" data-scheme="darkIndigo"></div>
        <div class="button square-button tile-area-scheme-darkBlue" data-scheme="darkBlue"></div>
        <div class="button square-button tile-area-scheme-lightBlue" data-scheme="lightBlue"></div>
        <div class="button square-button tile-area-scheme-lightTeal" data-scheme="lightTeal"></div>
        <div class="button square-button tile-area-scheme-lightOlive" data-scheme="lightOlive"></div>
        <div class="button square-button tile-area-scheme-lightOrange" data-scheme="lightOrange"></div>
        <div class="button square-button tile-area-scheme-lightPink" data-scheme="lightPink"></div>
        <div class="button square-button tile-area-scheme-grayed" data-scheme="grayed"></div>
    </div>
    <span class="charm-closer"></span>
</div>
<header>
    <div class="col-lg-12">
        <div class="col-lg-4">
        <h1 class="tile-area-title">CredAxis</h1>
        </div>

        <div class="col-lg-offset-5 col-lg-3">
            <div class="tile-area-controls" style="color:black">
                <button class="square-button bg-transparent bg-hover-dark no-border" onclick="showCharms('charmSearch')"><span class="mif-search"></span></button>
                <button class="square-button bg-transparent bg-hover-dark no-border" onclick="showCharms('charmSettings')"><span class="mif-cog"></span></button>
                <a href="../tiles.html" class="square-button bg-transparent bg-hover-dark no-border"><span class="mif-switch"></span></a>
                <button class="image-button icon-right bg-transparent bg-hover-dark no-border"><span class="sub-header no-margin text-light">Lex Harris</span> <span class="icon mif-user"></span></button>

            </div>
        </div>
       
    </div>
</header>

<script>
 
    function showCharms(id) {
        //var charm = $(id).data("charm");
        //if (charm.element.data("opened") === true) {
        //    charm.close();
        //} else {
        //    charm.open();
        //}
        showMetroCharm(document.getElementById(id))
    }

    function setSearchPlace(el) {
        var a = $(el);
        var text = a.text();
        var toggle = a.parents('label').children('.dropdown-toggle');

        toggle.text(text);
    }




</script>