@*<style>


        #wrapper > .menu-tile {
            float: left;
            width: 235px;
            margin: 0 1%;
            margin-top: 2%;
            text-align: left;
        }
    </style>

    <div class="col-lg-12" id="wrapper">

        <div class="menu-tile" >

        </div>
        <div class="menu-tile">

        </div>
        <div class="menu-tile"></div>
        <div class="menu-tile"></div>
        <div class="menu-tile"></div>
        <div class="menu-tile">

        </div>
        <div class="menu-tile">

        </div>
        <div class="menu-tile"></div>
        <div class="menu-tile"></div>
        <div class="menu-tile"></div>
    </div>*@

<link href="~/Content/LayoutFive/MetroCSS/metro.css" rel="stylesheet" />
<link href="~/Content/LayoutFive/MetroCSS/metro-icons.css" rel="stylesheet" />
<link href="~/Content/LayoutFive/MetroCSS/metro-responsive.css" rel="stylesheet" />
<link href="~/Content/LayoutFive/MetroCSS/metro-schemes.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/LayoutFive/metro.js"></script>
<div class="tile-area no-padding" style=" width: 76%; min-width: 80% !important;">
    <div class="tile-container no-margin">
        <div class="tile tile-wide-y no-padding bg-grayLighter" style="width: 160px;">
            <div class="tile-content">
                <div class="tile-small bg-red" data-role="tile"></div>
                <div class="tile-small bg-orange" data-role="tile"></div>
                <div class="tile-small bg-red" data-role="tile"></div>
                <div class="tile-small bg-orange" data-role="tile"></div>
                <div class="tile-square bg-cyan fg-white">
                    <div class="tile-content iconic">
                        <span class="icon mif-envelop"></span>
                        <span class="tile-badge bg-darkRed">5</span>
                        <span class="tile-label">Mail</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-wide bg-orange fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
                <span class="tile-label">Cloud service</span>
            </div>
        </div>
        <div class="tile-wide bg-orange fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
                <span class="tile-label">Cloud service</span>
            </div>
        </div>
        <div class="tile-wide bg-orange fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
                <span class="tile-label">Cloud service</span>
            </div>
        </div>
        <div class="tile-wide bg-orange fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
                <span class="tile-label">Cloud service</span>
            </div>
        </div>
        <div class="tile-wide bg-orange fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
                <span class="tile-label">Cloud service</span>
            </div>
        </div>
    </div>
</div>