@model PortalTemplate.Areas.UM.Models.ViewModels.AuthPreview.DischargePreviewViewModel

<span class="whitespace-nowrap padding-previewfields">
    @Html.DisplayNameFor(e => e.ExpectedDischargeDate)
    <b>@Html.DisplayFor(e => e.ExpectedDischargeDate)</b>
</span>

<span class="whitespace-nowrap padding-previewfields">
    @Html.DisplayNameFor(e => e.DischargeToDate)
    <b>@Html.DisplayFor(e => e.DischargeToDate)</b>
</span>
