@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Areas/Credentialing/Scripts/PSVCheckList/PSVCheckListMappingController.js"></script>
<div id="page-wrapper" ng-app="psvCheckList" ng-controller="viewPSVController">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-check-square-o"></i> Business Entity
                    </li>
                </ol>
            </div>
        </div>

        <div class="row" ng-cloak>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-style zero-padding-left-right-div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Business Entity Mapping

                    </div>
                    <div class="panel-body">
                        <br />
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label class="control-label">Business Entity :</label>
                                <div>
                                    <select class="form-control input-sm">
                                        <option selected disabled>-Select-</option>
                                        <option>Business Entity 1</option>
                                        <option>Business Entity 2</option>
                                        <option>Business Entity 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <label class="control-label">Plan :</label>
                                <div>
                                    <select class="form-control input-sm">
                                        <option selected disabled>-Select-</option>
                                        <option>Wellcare</option>
                                        <option>Freedom</option>
                                        <option>Ultimate</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <br />
                                <button class="btn btn-primary pull-right" ng-click="AddBE();">Add</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-12">
                            <div class="col-lg-3 pull-right"><button class="btn btn-xs btn-default pull-right" ng-click="ViewBE();">View History</button></div>
                        </div>
                        <div class="col-lg-12" id="ShowDataPlan" style="display:none">
                            <table class="text-capitalize table table-hover ng-table-resizable-columns ng-table-rowselected ng-scope ng-table">
                                <!-- ngInclude: templates.header -->
                                <thead>
                                    <tr>
                                        <th class="col-lg-2 col-md-2">Business Entity</th>
                                        <th class="col-lg-2 col-md-2">Plan</th>
                                        <th class="col-lg-2 col-md-2">Added By</th>
                                        <th class="col-lg-2 col-md-2"> Date</th>
                                        <th class="col-lg-2 col-md-2">Status</th>
                                        <th class="col-lg-1 col-md-1">Action</th>
                                    </tr>
                                    <tr>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in LoadData">
                                        <td>{{c.BusinessEntity}}</td>
                                        <td>{{c.Plan}}</td>
                                        <td>{{c.By}}</td>
                                        <td>{{c.Date}}</td>

                                        <td>{{c.Status}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-danger pull-right"><i class="fa fa-minus-circle"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12" id="ShowDataHist" style="display:none">
                            <table class="text-capitalize table table-hover ng-table-resizable-columns ng-table-rowselected ng-scope ng-table">
                                <!-- ngInclude: templates.header -->
                                <thead>
                                    <tr>
                                        <th class="col-lg-2 col-md-2">Business Entity</th>
                                        <th class="col-lg-2 col-md-2">Plan</th>
                                        <th class="col-lg-2 col-md-2">Added By</th>
                                        <th class="col-lg-2 col-md-2"> Date</th>
                                        <th class="col-lg-2 col-md-2">Terminated By</th>
                                    </tr>
                                    <tr>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                        <th><input type="text" class="form-control input-sm"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in LoadData">
                                        <td>{{c.BusinessEntity}}</td>
                                        <td>{{c.Plan}}</td>
                                        <td>{{c.By}}</td>
                                        <td>{{c.Date}}</td>

                                        <td>{{c.BY1}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




