<style>
    .Bottomline
    {
        width:100%;
        border-top: 1px solid #ccc;
    }
</style>
<div class="target profilediv col-lg-12  nopadding" id="PaymentRemittanceID">
    <div class="fsStyle" id="ViewPaymentRemittanceDetails">
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Services
            </span>
       </legend>*@
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">Services</span>
        </div>
        <div class="col-lg-12 zero-padding-left-right  nopadding">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">Does this location provide any of the following services?</span>
            </div>
            <div class=" boxstyle text_adjust">
                <label class="theme_label">Laboratory Services?:</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
        </div>
    @*    <hr class="Bottomline" />*@
        <div class="col-lg-12 nopadding">
            <div class="  boxstyle text_adjust">
                <label class="theme_label">Radiology Services?:</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
        </div>
      @*  <hr class="Bottomline" />*@
        <div class="col-lg-12 nopadding">
            <span class="x_content zero-padding-left mutiple-data">
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">EKGS :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Allergy Injection?  :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Routing Office Gynecology(Pelvi/Pap)? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Allergy Skin Testing? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Drawing Blood? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Age Appropriate immunization? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
             
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Tympanometry/Audiometry Screening? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Flexible Sigmoidoscopy? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Asthma Treatment? :</label>
                    <span class="theme_label_data">NO</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Osteopathic Manipulation? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">IV Hydration/Treatment? :</label>
                    <span class="theme_label_data">NO</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Cardiac Stress Test? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Pulmonary Function Testing? :</label>
                    <span class="theme_label_data">NO</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Physical Therapy? :</label>
                    <span class="theme_label_data">NO</span>
                </span>
                
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Care Of Minor Lacerations? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">xyzzz :</label>
                    <span class="theme_label_data">NO</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Rakesh is there or not? update :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Is anybody there? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">EKGS ? :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">test Practice Service Question :</label>
                    <span class="theme_label_data">NOT AVAILABLE</span>
                </span>
            </span>
        </div>
        @*<hr class="Bottomline" />*@
        <div class="col-lg-12  nopadding">
            <div class="  boxstyle text_adjust">
                <label class="theme_label">Is Anesthesia Administered In Your Office?:</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
        </div>
        @*<hr class="Bottomline" />*@
        <div class="col-lg-12 nopadding">
            <div class="  boxstyle text_adjust">
                <label class="theme_label">Type Of Practice?:</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
            <div class="  boxstyle text_adjust">
                <label class="theme_label">Additional Office Procedures Provided (Including Surgical Procedures):</label>
                <span class="theme_label_data">NOT AVAILABLE</span>
            </div>
        </div>
   </div>
</div>
