<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="OfficeStaffContactID">
    <div class="fsStyle" id="ViewOfficeStaffContactDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">  Office manager/Business Office Staff Contact</span>&nbsp;
            @*<button onclick="groupmodalhistory()" class="btn btn-danger btn-xs RemoveButtonStyleModal ">
                <i class="fa fa-minus"></i>
            </button>*@

        </div>
        @*<legend class="legendStyle">
                <span class="theme_depend text-uppercase create-auth-legends">
                    Office manager/Business Office Staff Contact
                </span>
                &nbsp;&nbsp; <span class="text-uppercase ">
                    <span class="fstyleBtnStyle">
                        <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/AddOfficeStaff" data-tab-container="PLOfficeStaffContactDetails">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/EditOfficeStaff" data-tab-container="PLOfficeStaffContactDetails">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                            <i class="fa fa-history"></i>
                        </button>
                        <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                            <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                        </a>
                    </span>
                </span>
            </legend>*@
        <div class="x_content zero-padding-left mutiple-data">
            @*@Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/OfficeStaffContact/_AddEditOfficeStaffContact.cshtml")*@
            <div>

                <span class=" text_adjust boxstyle">
                    <label class="theme_label">First Name :</label>
                    <span class="theme_label_data">Cinthia</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Middle Name :</label>
                    <span class="theme_label_data">Not Available</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Last Name :</label>
                    <span class="theme_label_data">Serrano</span>
                </span>

                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Telephone :</label>
                    <span class="theme_label_data">+1 - (124) 563-818</span>
                </span>

                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Fax :</label>
                    <span class="theme_label_data">+1 - (312) 342-5122</span>
                </span>

                <span class="text_adjust boxstyle">
                    <label class="theme_label">E-Mail Address :</label>
                    <span class="theme_label_data">Serrano@accesshealthcarellc.net</span>
                </span>


            </div>
        </div>
    </div>

</div>
