<div class="form-style" id="SupervisingProviderViewDiv">
    <fieldset>
        <legend>
            Supervising Providers
        </legend>
        <div class="form-group">
            <div class="col-md-12 form-group">

                <div class="col-md-3">
                    <div>
                        <label class="control-label small">First Name</label>
                    </div>
                    <i>{{provider.Profile.PersonalDetail.FirstName || 'Not Availabe'}}</i>
                </div>

                <div class="col-md-3">
                    <div>
                        <label class="control-label small">Middle Name</label>
                    </div>
                    <i>{{provider.Profile.PersonalDetail.MiddleName || 'Not Availabe'}}</i>
                </div>

                <div class="col-md-3">
                    <div>
                        <label class="control-label small">Last Name</label>
                    </div>
                    <i>{{provider.Profile.PersonalDetail.LastName || 'Not Availabe'}}</i>
                </div>
                <div class="col-md-3">
                    <div>
                        <label class="control-label small">NPI Number</label>
                    </div>
                    <i>{{provider.Profile.OtherIdentificationNumber.NPINumber || 'Not Availabe'}}</i>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <button class="btn btn-warning btn-sm" ng-click="operateThirdCancelControl('SupervisingProviderViewDiv')">Close</button>
                    @*<button class="btn btn-primary btn-sm pull-right" ng-click="editMidLevel($index,midLevel)">Edit</button>*@
                </div>
            </div>
        </div>
    </fieldset>
</div>