@model PortalTemplate.Areas.CredAxis.Models.PofessionalReferenceViewModel.ProfessionalReferenceMainModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDProfessionalRefernces">
    @*<div class="SubTabHeader">
            <div class="headerText">
                <span class="headerTextCSS">
                    Professional References
                </span>
                <span class="headerTextCSS pull-right">
                    <button id="AddGroup_GI" class="btn btn-xs btn-success" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-history"></i></button>
                    <button id="AddGroup_GI" class="btn btn-xs btn-default" tooltip="" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add New"><i class="fa fa-print"></i></button>

                </span>
            </div>
        </div>*@
    <div class="col-lg-12 padding_top_down_5px nopadding" id="ViewProfRef">
        @if (Model.professionalReferenceDetail != null)
        {
            @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalReference/_ViewProfessionalReference.cshtml", Model.professionalReferenceDetail[0])

        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "PROFESSIONAL REFERENCE DETAILS", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalReference/_AddEditProfessionalReferance.cshtml", SectionId = "ViewProfRef" })
        }
  
          </div>
    <div class="col-lg-12 padding_top_down_5px nopadding hidden" id="AddEditProfRef">
        @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/ProfessionalReference/_AddEditProfessionalReferance.cshtml", Model.professionalReferenceDetail[0])
    </div>
</div>
<div class="clearfix"></div>


