
<div class="target profilediv col-lg-12 nopadding" id="PaymentRemittanceID">
    <fieldset class="fsStyle" id="ViewPaymentRemittanceDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Add Payment and Remittance
            </span>
        </legend>
        <div class="x_content zero-padding-left mutiple-data">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">PROFESSIONAL REFERENCES 1 </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-7 theme_label">ELECTRONIC BILLING CAPABILLITIES</span>
                <span class="col-lg-5 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Electronic Billing Capabilities" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label">BILLING DEPARTMENT</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Billing Department" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label">CHECK PAYABLE TO *</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Check Payable To*" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-6 theme_label">OFFICE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Office" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">FIRST NAME*</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="First Name" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">MIDDLE NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Middle Name" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6 theme_label">LAST NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Last name" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">STREET/P.O.BOX NO</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Street/P.O.Box No" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">SUITE/BUILDING</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Suite/Building" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6 theme_label">CITY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="City" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">STATE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="State" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">ZIP CODE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Zip Code" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6 theme_label">COUNTRY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Country" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">COUNTY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="County" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5 theme_label">TELEPHONE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Telephone" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6 theme_label">FAX</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Fax" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5 theme_label">E-MAIL ADDRESS</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="E-Mail Address" />
                </span>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-12 zero-padding-left-right" style="margin-top:5px;">
                <input class="btn btn-success btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceView" data-tab-container="PLPaymentRemittanceDetails" value="Save">
                <input class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceView" data-tab-container="PLPaymentRemittanceDetails" value="Cancel">
            </div>
        </div>
    </fieldset>
</div>
