
<div class="target profilediv col-lg-12 nopadding" id="PaymentRemittanceID">
    <fieldset class="fsStyle" id="ViewPaymentRemittanceDetails">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Add Payment and Remittance
            </span>
        </legend>
        <div class="x_content zero-padding-left mutiple-data">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">PAYMENT REMITTANCE 1 </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-7">ELECTRONIC BILLING CAPABILLITIES</span>
                <span class="col-lg-5 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Electronic Billing Capabilities" value="No" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">BILLING DEPARTMENT</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Billing Department" value="Access" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">CHECK PAYABLE TO*</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Check Payable To*" value="oneAccess Healthcare Physicians, LLC" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-6">OFFICE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Office" value="Office" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">FIRST NAME*</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="First Name" value="Ted" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">MIDDLE NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Middle Name" value="John" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">LAST NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Last name" value="Kenady" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">STREET/P.O.BOX NO</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Street/P.O.Box No" value="5487678" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">SUITE/BUILDING</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Suite/Building" value="BrooksRogersRecital62" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">CITY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="City" value="Tampa" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">STATE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="State" value="Florida" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">ZIP CODE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Zip Code" value="561561" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">COUNTRY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Country" value="United States" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">COUNTY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="County" value="ORLANDO" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">TELEPHONE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Telephone" value="+1-7278232188" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">FAX</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Fax" value="+1-7278280723" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">E-MAIL ADDRESS</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="E-Mail Address" value="generalinquiry@medenet.net" />
                </span>
            </div>
        </div>
        <div class="x_content zero-padding-left mutiple-data">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">PAYMENT REMITTANCE 2</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-7">ELECTRONIC BILLING CAPABILLITIES</span>
                <span class="col-lg-5 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Electronic Billing Capabilities" value="No" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">BILLING DEPARTMENT</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Billing Department" value="Access" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">CHECK PAYABLE TO*</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Check Payable To*" value="oneAccess Healthcare Physicians, LLC" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-6">OFFICE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Office" value="Office" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">FIRST NAME*</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="First Name" value="Ted" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">MIDDLE NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Middle Name" value="John" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">LAST NAME</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Last name" value="Kenady" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">STREET/P.O.BOX NO</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Street/P.O.Box No" value="5487678" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">SUITE/BUILDING</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Suite/Building" value="BrooksRogersRecital62" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">CITY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="City" value="Tampa" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">STATE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="State" value="Florida" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">ZIP CODE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Zip Code" value="561561" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">COUNTRY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Country" value="United States" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">COUNTY</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="County" value="ORLANDO" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-5">TELEPHONE</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Telephone" value="+1-7278232188" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">

                <span class="col-lg-6">FAX</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Fax" value="+1-7278280723" />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="col-lg-5">E-MAIL ADDRESS</span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="E-Mail Address" value="generalinquiry@medenet.net" />
                </span>
            </div>
        </div>
        <div class="row">
            <div class="row col-lg-12 zero-padding-left-right" style="margin-top:5px;">
                <button class="btn btn-success btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceView" data-tab-container="PLPaymentRemittanceDetails" value="">Update</button>
                <button class="btn btn-danger btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceView" data-tab-container="PLPaymentRemittanceDetails" value="">Cancel</button>
            </div>
        </div>
    </fieldset>
</div>

