<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="PaymentRemittanceID">
    <div class="fsStyle" id="ViewPaymentRemittanceDetails">
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Payment and Remittance
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceAddEditView?type=Add" data-tab-container="PLPaymentRemittanceDetails">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPaymentRemittanceAddEditView?type=Edit" data-tab-container="PLPaymentRemittanceDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@

        <div class="x_content zero-padding-left mutiple-data">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">Payment and Remittance</span>
                <button onclick="groupmodalhistory()" class="btn btn-danger btn-xs RemoveButtonStyleModal ">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Electronic Billing Capabilities :</label>
                    <span class="theme_label_data">No</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Billing Department( If Hospital - Based):</label>
                    <span class="theme_label_data">Access </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Check Payable To*:</label>
                    <span class="theme_label_data">oneAccess Healthcare Physicians, LLC </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Office:</label>
                    <span class="theme_label_data">Office</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">First Name*:</label>
                    <span class="theme_label_data">Ted</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Middle Name:</label>
                    <span class="theme_label_data">John</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Last Name*:</label>
                    <span class="theme_label_data">Kenady</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Street/P.O.Box No*:</label>
                    <span class="theme_label_data">5487678</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Suite/Building:</label>
                    <span class="theme_label_data">BrooksRogersRecital62 </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">City*:</label>
                    <span class="theme_label_data">Tampa </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">State*:</label>
                    <span class="theme_label_data">Florida </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Zip Code:</label>
                    <span class="theme_label_data">561561</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Country:</label>
                    <span class="theme_label_data">United States </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">County:</label>
                    <span class="theme_label_data">ORLANDO </span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Telephone:</label>
                    <span class="theme_label_data">+1-7278232188</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">Fax:</label>
                    <span class="theme_label_data">+1-7278280723</span>
                </span>
                <span class="  boxstyle text_adjust">
                    <label class="theme_label">E-Mail Address:</label>
                    <span class="theme_label_data">generalinquiry@medenet.net</span>
                </span>
            </div>
        
    </div>
</div>
