<div class="target profilediv col-lg-12" id="IDHospitalPrivilege_View">
    <fieldset class="fsStyle col-lg-12 padding_top_down_5px nopadding" id="ViewHospitalPrev">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span class="transparent-font-color">__</span>
                HOSPITAL PRIVILEGE
                <span class="transparent-font-color">__</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">

                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="/CredAxis/HospitalPrivilege/GetHospitalPrivilages?val=Add" data-tab-container="IDHospitalPrivilege_View">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/HospitalPrivilege/GetHospitalPrivilages?val=Edit" data-tab-container="IDHospitalPrivilege_View">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs historyBtnCSS list-item">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_HospitalPrivilege hover_effect pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>
        <div class="x_content zero-padding-left mutiple-data">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">PRIMARY HOSPITAL PRIVILEGE :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-1</span>
                <button class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL NAME :</label>
                <span class="theme_label_data">AVENTURA HOSPITAL MEDICAL CENTER</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL LOCATION :</label>
                <span class="theme_label_data">BISCAYNE BOULEVARD</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STREET/P.O. BOX :</label>
                <span class="theme_label_data">ORLANDO</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">SUITE/BUILDING :</label>
                <span class="theme_label_data">TAMPA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CITY :</label>
                <span class="theme_label_data">AVENTURA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STATE :</label>
                <span class="theme_label_data">FLORIDA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ZIP :</label>
                <span class="theme_label_data">33180</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTRY :</label>
                <span class="theme_label_data">US</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTY :</label>
                <span class="theme_label_data">DADE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 563-818</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FAX :</label>
                <span class="theme_label_data">+1 - (312) 342-5122</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">EMAIL ADDRESS :</label>
                <span class="theme_label_data">JOHNSMITH@GMAIL.COM</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON :</label>
                <span class="theme_label_data">LARA SMITH</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 473-812</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON FAX :</label>
                <span class="theme_label_data">+1 - (312) 232-5432</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT NAME :</label>
                <span class="theme_label_data">MEDICINE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT CHIEF :</label>
                <span class="theme_label_data">JOHN HENDEY</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION START DATE :</label>
                <span class="theme_label_data">11/22/2016</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION END DATE :</label>
                <span class="theme_label_data">11/22/2019</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ARE PRIVILEGES TEMPORARY? :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FULL UNRESTRICTED PRIVILEGES :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ADMITTING PRIVILEGE STATUS :</label>
                <span class="theme_label_data">OPEN</span>
            </div>

        </div>
        <div class="x_content zero-padding-left mutiple-data">


            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-2</span>
                <button class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL NAME :</label>
                <span class="theme_label_data">AVENTURA HOSPITAL MEDICAL CENTER</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL LOCATION :</label>
                <span class="theme_label_data">BISCAYNE BOULEVARD</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STREET/P.O. BOX :</label>
                <span class="theme_label_data">ORLANDO</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">SUITE/BUILDING :</label>
                <span class="theme_label_data">TAMPA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CITY :</label>
                <span class="theme_label_data">AVENTURA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STATE :</label>
                <span class="theme_label_data">FLORIDA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ZIP :</label>
                <span class="theme_label_data">33180</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTRY :</label>
                <span class="theme_label_data">US</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTY :</label>
                <span class="theme_label_data">DADE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 563-818</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FAX :</label>
                <span class="theme_label_data">+1 - (312) 342-5122</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">EMAIL ADDRESS :</label>
                <span class="theme_label_data">JOHNSMITH@GMAIL.COM</span>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON :</label>
                <span class="theme_label_data">LARA SMITH</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 473-812</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON FAX :</label>
                <span class="theme_label_data">+1 - (312) 232-5432</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT NAME :</label>
                <span class="theme_label_data">MEDICINE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT CHIEF :</label>
                <span class="theme_label_data">JOHN HENDEY</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION START DATE :</label>
                <span class="theme_label_data">11/22/2016</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION END DATE :</label>
                <span class="theme_label_data">11/22/2019</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ARE PRIVILEGES TEMPORARY? :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FULL UNRESTRICTED PRIVILEGES :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ADMITTING PRIVILEGE STATUS :</label>
                <span class="theme_label_data">OPEN</span>
            </div>
            @*</div>*@
        </div>
        <div class="x_content zero-padding-left mutiple-data  collapse ViewMoreHospitalPrivilege">

            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">HOSPITAL PRIVILEGE-3</span>
                <button class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">HOSPITAL DETAIL</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL NAME :</label>
                <span class="theme_label_data">AVENTURA HOSPITAL MEDICAL CENTER</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">HOSPITAL LOCATION :</label>
                <span class="theme_label_data">BISCAYNE BOULEVARD</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STREET/P.O. BOX :</label>
                <span class="theme_label_data">ORLANDO</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">SUITE/BUILDING :</label>
                <span class="theme_label_data">TAMPA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CITY :</label>
                <span class="theme_label_data">AVENTURA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STATE :</label>
                <span class="theme_label_data">FLORIDA</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ZIP :</label>
                <span class="theme_label_data">33180</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTRY :</label>
                <span class="theme_label_data">US</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">COUNTY :</label>
                <span class="theme_label_data">DADE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 563-818</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FAX :</label>
                <span class="theme_label_data">+1 - (312) 342-5122</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">EMAIL ADDRESS :</label>
                <span class="theme_label_data">JOHNSMITH@GMAIL.COM</span>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">CONTACT PERSON DETAIL</span>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON :</label>
                <span class="theme_label_data">LARA SMITH</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON PHONE # :</label>
                <span class="theme_label_data">+1 - (124) 473-812</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">CONTACT PERSON FAX :</label>
                <span class="theme_label_data">+1 - (312) 232-5432</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT NAME :</label>
                <span class="theme_label_data">MEDICINE</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DEPARTMENT CHIEF :</label>
                <span class="theme_label_data">JOHN HENDEY</span>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 SubHeaderSpacing2">
                <span class="text-uppercase label TabSubHeading">AFFILIATION DETAIL</span>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION START DATE :</label>
                <span class="theme_label_data">11/22/2016</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">AFFILIATION END DATE :</label>
                <span class="theme_label_data">11/22/2019</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ARE PRIVILEGES TEMPORARY? :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">FULL UNRESTRICTED PRIVILEGES :</label>
                <span class="theme_label_data">YES</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">ADMITTING PRIVILEGE STATUS :</label>
                <span class="theme_label_data">OPEN</span>
            </div>
            @*</div>*@
        </div>
        <span class="view-more hidden pull-right" id="HospitalPrivilegeLess" data-toggle="collapse" data-target=".ViewMoreHospitalPrivilege" onclick="ShowHideAddView('HospitalPrivilegeMore', 'HospitalPrivilegeLess')">View Less</span>
        <span class="view-more pull-right" id="HospitalPrivilegeMore" data-toggle="collapse" data-target=".ViewMoreHospitalPrivilege" onclick="ShowHideAddView('HospitalPrivilegeLess', 'HospitalPrivilegeMore')">View More</span>

    </fieldset>

</div>
