
<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }
</style>
<div class="x_panel panelheight">
    <div class="summary_sectionsDiv">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">``</span>BASIC INFORMATION<span style="color:transparent">``</span></span>
            </legend>
            <div class="panel-body  text-uppercase">
                <div class="divwidth_auto">
                    <div class="col-lg-3 divwidth_auto_main">
                        <span class="theme_label">
                            POS:
                        </span>
                        <span class="summary_data">
                            <span class="text-uppercase posexplanation theme_label_data">
                                22- OP HOSPITAL
                            </span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            Authorization:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">PRESERVICE</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            Type of Care:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">ELECTIVE</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            Received:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">07/21/2016 17:01:02</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            DOS:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">07/04/2016</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            PCP:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">Dr. PARIKSITH SINGH</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            Total Request LOS:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">3</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto_main">
                        <span class="theme_label">
                            Request:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">standard</span>
                        </span>
                    </div>
                    @*<div class="col-lg-2 divwidth_auto_main">
                            <span class="theme_label">
                                Provider:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">DR.  PARIKSITH SINGH</span>
                            </span>
                        </div>*@
                    @*<div class="col-lg-3 divwidth_auto_main">
                            <span class="theme_label">
                                Co-management obtained:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">No</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span class="theme_label">
                                Drug Code MDC:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">f561c1</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span class="theme_label">
                                Drg-desc:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">Acetaminophen</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span class="theme_label">
                                MDC Code:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">5626</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span class="theme_label">
                                Classification Desc :
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">-</span>
                            </span>
                        </div>*@
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase">REQUESTING PROVIDER</span><span class="label label-success ng-scope innerTextStyle labelaligned">IN</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            First Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">YOUNG </span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            Last Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">ROBERT</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Tax ID/NPI:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">- / 8592120474</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Type:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">Physician Assistant</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Phone Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">(352) 585-3690</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Fax Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">(352) 686-9477</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Specialty:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">Family Medicine</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Contact Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">JACQUELINE</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">.</span>ATTENDING PROVIDER<span style="color:transparent"></span></span><span class="label label-success ng-scope innerTextStyle labelaligned">IN</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            First Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">YOUNG</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            Last Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">ROBERT</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Tax ID/NPI:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">- / 9874685465</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Type:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">Physician Assistant</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Phone Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">(352) 585-3690</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Fax Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">(352) 686-9477</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Specialty:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">Internal Medicine</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Contact Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">JACQUELINE</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">.</span>ADMITTING PROVIDER</span><span class="label label-success ng-scope innerTextStyle labelaligned">IN</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            First Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">YOUNG</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            Last Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">ROBERT</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Tax ID/NPI:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">- / 9874685465</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Type:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">Physician Assistant</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Phone Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">(352) 585-3690</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Fax Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">(352) 686-9477</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Specialty:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">Internal Medicine</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Contact Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">JACQUELINE</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">-----.---</span>SURGEON<span style="color:transparent">-------</span></span><span class="label label-success ng-scope innerTextStyle labelaligned">IN</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            First Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqFirstName" class="bolding text-uppercase ng-binding theme_label_data">YOUNG</span>
                        </span>
                    </div>
                    <div class="col-lg-1 divwidth_auto">
                        <span class="theme_label">
                            Last Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqLastName" class="bolding text-uppercase ng-binding theme_label_data">ROBERT</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Tax ID/NPI:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">- / 9874685465</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Type:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">Physician Assistant</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Phone Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderPhoneNumber" class="bolding ng-binding theme_label_data">(352) 585-3690</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Fax Number:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderFaxNumber" class="bolding ng-binding theme_label_data">(352) 686-9477</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Specialty:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">Internal Medicine</span>
                        </span>
                    </div>
                    <div class="col-lg-2 divwidth_auto">
                        <span class="theme_label">
                            Contact Name:
                        </span>
                        <span class="summary_data">
                            <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding theme_label_data">JACQUELINE</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="theme_depend text-uppercase"><span style="color:transparent">--------</span>FACILITY<span style="color:transparent">-----.---</span></span><span class="label label-danger ng-scope labelaligned innerTextStyle dangerColor">OON</span>
            </legend>
            <div class="panel-body">
                <div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Facility Name:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">REGIONAL MEDICAL CENTER</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Phone Number:
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">(352) 585-3690</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Fax Number:
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">(352) 686-9477</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Contact Name:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase ng-binding theme_label_data">YOUNG ROBERT</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Tax ID/NPI:
                        </span>
                        <span class="summary_data">
                            <span class="bolding ng-binding theme_label_data">7657858785</span>
                        </span>
                    </div>
                    <div class="col-lg-3 divwidth_auto">
                        <span class="theme_label">
                            Type:
                        </span>
                        <span class="summary_data">
                            <span class="bolding text-uppercase wrap-span-content ng-binding theme_label_data">Office Visit</span>
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="x_panel border_on_panel" style="margin-top:8px;">
        <div class="x_content">
            <div class="col-lg-6  zero-padding-left-right">
                <div class="halfpanel1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-uppercase">
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                Received Date:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">07/05/2016</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                From Date:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">07/04/2016</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto1">
                            <span class="theme_label">
                                Approved Days:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">2</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  zero-padding-left-right">
                <div class="halfpanel2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-uppercase">
                        <div class="col-lg-3 divwidth_auto2">
                            <span class="theme_label">
                                Expected DC DT:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding theme_label_data">07/05/2016 00:00:00</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto2">
                            <span class="theme_label">
                                To DT:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding theme_label_data">07/05/2016</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto2 pull-left">
                            <input type="submit" value="EDIT TO DT" class="width_125_percent btn btn-xs btn-primary" />
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*divider----divider-dashed-right*@
    <div class="x_panel border_on_panel" style="margin-top:8px;">
        <div class="x_content">
            <div class="col-lg-6  zero-padding-left-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center StatusTable theme_thead">
                    <label for="fullname" class="los_labels">OTHER DX</label>
                </div>
                <table class="table table-white zero-padding-left-right  noBorderTable boldBody zeroPaddingBottomTh width_99 otherDxtable_nowrap">
                    <thead class="text-uppercase">
                        <tr>
                            <th class="theme_label">Dx code</th>
                            <th class="theme_label">Description</th>
                            <th class="theme_label">Date</th>
                            <th class="theme_label actioncoltd">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase">
                        <tr>
                            <td class="theme_label_data">M10.229</td>
                            <td class="theme_label_data">Drug Incuded Medicine</td>
                            <td class="theme_label_data">07/05/2016</td>
                            <td class="actioncoltd button-styles-xs theme_label_data"><button class="btn btn-xs btn-success"><i class="fa fa-plus"></i></button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-6  zero-padding-left-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center StatusTable theme_thead">
                    <label for="fullname" class="los_labels">OTHER PROCEDURES</label>
                </div>
                <table class="table table-white zero-padding-left-right  noBorderTable boldBody zeroPaddingBottomTh width_99 otherDxtable_nowrap">
                    <thead class="text-uppercase">
                        <tr>
                            <th class="theme_label">Proc code</th>
                            <th class="theme_label">Modifier</th>
                            <th class="theme_label">Description</th>
                            <th class="theme_label">Date</th>
                            <th class="theme_label actioncoltd">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase">
                        <tr>
                            <td class=" theme_label_data">0419T</td>
                            <td class=" theme_label_data">DRUG-INDUCED </td>
                            <td class=" theme_label_data">URETEROSTOMY </td>
                            <td class=" theme_label_data">07/05/2016</td>
                            <td class="actioncoltd button-styles-xs"><button class="btn btn-xs btn-success"><i class="fa fa-plus"></i></button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div>
        <input type="submit" value="CALYPSO AI" class="pull-left btn btn-xs btn-danger calypsoAIBtn" />
        <input type="submit" value="EDIT AUTH" class="pull-right btn btn-xs btn-primary" />
        @*<button class="btn btn-primary pull-right editThisAuth"><i class="fa fa-edit">EDIT AUTH</i></button>*@
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right">
        @*<button class="btn btn-warning">REFER</button>
        <button class="btn btn-success">APPROVE</button>
            <button class="btn btn-primary">PEND</button>*@
        @Html.Partial("~/Areas/UM/Views/ViewAuth/ButtonPanel/_IntakeButtonPanel.cshtml")
    </div>
</div>



