@using PratianUI
<style>
    .col-lg-3.col-md-3.col-sm-6.col-xs-6 {
        margin-bottom: 10px !important;
    }
</style>
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">LOCATION INFORMATION</span>
        <span class="text-uppercase pull-right">


        </span>
    </legend>
    <div class="x_content zero-padding-left">

        <div class="row col-lg-12 nopadding">
            <div class="col-lg-12">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <div class="col-lg-5">
                            <label class="theme_label text-uppercase M_Req">
                                location effective date
                            </label>
                        </div>

                        <div class="col-lg-6">
                            <input type="date" class="form-control input-xs" placeholder="" required />
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label class="theme_label text-uppercase M_Req">
                            @Html.PratianUiRadioButton("Permanent Location", new { color = "green" , name="location"})
                            @Html.PratianUiRadioButton("Temporary location", new { color = "red", name = "location" })
                        </label>



                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6"></div>
                <div class="row col-lg-12">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase M_Req">
                                    ADDRESS LINE 1 :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter Address1" name="Provider.Contact.Street" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    ADDRESS LINE 2 :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter Address2" name="Provider.Contact.Appartment" />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase ">
                                    City :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter City" name="Provider.Contact.City" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    State :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter State" name="Provider.Contact.State" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    Zip Code :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter  Zip Code" name="Provider.Contact.ZipCode" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    County :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter County" name="Provider.Contact.County" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">

                                    Country :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <input type="text" class="form-control input-xs" placeholder="Enter Country" name="Provider.Contact.Country" required />
                            </div>
                            <span class="req">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    FAX NUMBER :
                                </label>
                            </div>

                            <div class="col-lg-6">

                                <input type="text" class="form-control input-xs" placeholder="Enter FAX NUMBER" name="Provider.Contact.Email" required>
                            </div>
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                        <div class="form-group M_Req">
                            <div class="col-lg-6">
                                <label class="theme_label text-uppercase">
                                    Phone :
                                </label>
                            </div>

                            <div class="col-lg-6">
                                <div class="input-group">
                                 
                                    <input type="text" class="form-control input-xs" name="provider.contact.phone" placeholder="Enter Phone Number" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" required>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-8 col-xs-6">
                        <div class="form-group M_Req">
                            <div class="col-lg-4">
                                <label class="theme_label text-uppercase">
                                    special provider instructions :
                                </label>
                            </div>

                            <div class="col-lg-8">

                                <textarea class="form-control input-xs" placeholder="Enter special provider instructions " name="Provider.Contact.Email" required></textarea>
                            </div>
                        </div>
                        <span class="req">
                            Required
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

</fieldset>