<div class="modal fade " tabindex="-1" role="dialog" id="PracticeLocationServiceFacilityModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row" style="text-align: center;">
                        <span class="modalTitle text-uppercase">FACILITY INFORMATION</span>
                        <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                    </div>
                @*<div class="col-lg-12">
                    <div class="col-lg-8">
                        <h4 style="color:white"><i class="fa fa-question-circle"></i> &nbsp; REMOVE DETAILS </h4>
                    </div>
                    <div class="col-lg-4" style=" top: 14px;">
                        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" id="closeModal">X</button>
                    </div>
                </div>*@
            </div>

            <div class="modal-body modalbodyheight  ">
                @* <span class="text-uppercase label" style="background-color: #C5CAE9; color: black;">Specialty Detail</span>*@
                <div class="x_content zero-padding-left ">
                    @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Services/_ViewServices.cshtml")
                    @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Facility/_ViewAccessibilities.cshtml")
                    @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/PracticeLocation/Facility/_Language.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
