<div class="col-lg-12 nopadding">
    <fieldset class="fsStyle" id="ViewPersonalInfo">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">@ViewBag.SectionName</span>
            &nbsp;&nbsp;
           
            
        </legend>
     <div class="text-center">
         <h4>No Data Available..!! &nbsp;<button class="btn btn-success btn-xs add_note_btn list-item" data-tab-path="@ViewBag.RedirectUrl" data-tab-container="@ViewBag.SectionId">
    <i class="fa fa-plus"></i>
</button>
         Please click to add @ViewBag.SectionName
    </h4>
     </div>
    </fieldset>
</div>
