<div class="modal fade " tabindex="-1" role="dialog" id="GroupInformationModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                @*<div class="row" style="text-align: center;">
                        <span class="modalTitle text-uppercase">REMOVE DETAIL</span>
                        <span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button></span>
                    </div>*@
                <div class="col-lg-12">
                    <div class="col-lg-8">
                        <h4 style="color:white"><i class="fa fa-question-circle"></i> &nbsp; REMOVE DETAILS </h4>
                    </div>
                    <div class="col-lg-4" style=" top: 14px;">
                        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" id="closeModal">X</button>
                    </div>
                </div>
            </div>

            <div class="modal-body modalbodyheight  ">
                @* <span class="text-uppercase label" style="background-color: #C5CAE9; color: black;">Specialty Detail</span>*@
                <div class="x_content zero-padding-left text-uppercase">
                    <span class="AddProviderModal">
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;DO YOU WANT TO REMOVE THESE  DETAILS?</h3>
                    </span>

                </div>

            </div>
            <div class="modal-footer   ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles text-right">
                    <span><button data-dismiss="modal" class="btn btn-danger close_modal_btn">NO</button></span>
                    <span id="groupmodalfooter"></span>
                </div>
            </div>
        </form>
    </div>
</div>
