@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@{
    List<SelectListItem> ReasonSelectList = new List<SelectListItem>(){
        new SelectListItem { Text = "Pend for Medical Records", Value = "Pend for Medical Records" },
        new SelectListItem { Text = "Pend for return call from Member", Value = "Pend for return call from Member" },
        new SelectListItem { Text = "Pend for return call from Provider", Value = "Pend for return call from Provider" },
        new SelectListItem { Text = "Pend for PCP answer", Value = "Pend for PCP answer" },
         new SelectListItem { Text = "Incomplete", Value = "Incomplete" },
        new SelectListItem { Text = "Hold", Value = "Hold" }
        };
}
        <div class="modal fade authPreviewModal previewForm11" tabindex="-1" role="dialog" id="authPendModalCreate" style="overflow: auto; top: 8%;">
            <div class="modal-dialog modal-md ">
                <form class="modal-content">
                    <div class="modal-header bg-primary" style=" background: url(../../Resources/Images/Buttons/Primary.png); background-repeat: no-repeat; background-size: cover;">
                        <div class="col-md-12 col-lg-12 bolding boldFontPendModal">

                            <i class="fa fa-question-circle"></i> Reason for Pend

                            <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        </div>
                    </div>

                    <div class="modal-body  uppercase previewModalStyle text-uppercase minHeighPendModal">


                        <div class="col-md-12 col-lg-12 margin_top_20_px">
                            <div class="col-md-4 col-lg-4 boldTextReasonLabel">Please select reason :</div>
                            <div class="col-md-8 col-lg-8 boldTextReasonLabel">@Html.DropDownListFor(e => e.ReasonDescription, ReasonSelectList, new { @class = "form-control boldTextReasonLabel input-xs mandatory_field_halo text-uppercase", @id = "ReasontextID", @tabindex = "-1" })</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button class="btn btn-sm btn-success pull-right" data-dismiss="modal" onclick="$('.chrome-tab-current .chrome-tab-close').click(); $('#home-tab2').click();">Confirm</button> , $.trim($('li > a.user-profile').text())  *@
                        <button class="btn btn-sm btn-success pull-right" data-dismiss="modal" >Confirm</button>
                        <span><button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">Cancel</button></span>
                    </div>
                </form>
            </div>
        </div>
