<link href="~/Content/AppCss/DocumentCabin.css" rel="stylesheet" />
<div class="DocCab-Expand" data-role="tooltip" data-placement="left" title="Open Document Cabinet">
    <i class="fa fa-angle-double-left"></i><br />
    <i class="fa fa-briefcase"></i>
</div>
<div class="DocCab-Collapse" data-role="tooltip" data-placement="left" title="Close Document Cabinet">
    <i class="fa fa-angle-double-right"></i><br />
    <i class="fa fa-briefcase"></i>
</div>
<div class="DocumentCabin">
    <div class="col-lg-12 cabin-header">
        <div class="col-lg-11 col-sm-11 col-xs-11 col-sm-10" ><i class="fa fa-briefcase"></i> Document Cabinet</div>
        <span class="col-lg-1 col-sm-1 col-xs-1 col-sm-2">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fa fa-share-square-o" data-role="tooltip" data-placement="bottom" title="Open in New Window"></i>
            <i class="fa fa-close close-cabin" data-role="tooltip" data-placement="bottom" title="Close Document Cabinet"></i>
        </span>
    </div>
   <div class="col-lg-12">
       <div class="Documents-List">
           <div class="cabin-subHeader">Documents</div>
           <table class="table">
               <thead>
                   <tr>
                       <th>Name</th>
                       <th>Upload Date</th>
                       <th>Uploaded By</th>
                       <th>File Type</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td><i class="fa fa-file-image-o"></i> <a href="javascript:void(0)" id="officeFacesheet">Office Facesheet</a></td>
                       <td>Diana</td>
                       <td>Diana</td>
                       <td>Image</td>
                   </tr>
               </tbody>
           </table>
       </div>
       <div class="Document-Preview">

           <span class="btn btn-primary btn-xs document-list-back" ><i class="fa fa-arrow-left"> Back</i></span><div class="cabin-subHeader">Document Preview</div>
           <div class="doc-Preview">
               <img src="~/Resources/Images/Common/CompanyLogo.png" />              
           </div>
       </div>
   </div>
</div>
<script src="~/Scripts/AppScripts/Home/DocumentCabin.js"></script>