<style>
    .row
    {
        margin-top:30px;
        margin-left:5px;
        margin-right:5px;
    }
    #id{
        border:none;
    }
</style>
<div class="container">

</div>
<div class="row">
    <div class="col-lg-6">
        <label>Title</label>
        <input type="text" class="form-control" onclick="TitleMenu()" placeholder="title" list="listid" />
        <datalist id="listid" class="text-uppercase">

        </datalist>
    </div>
    <div class="col-lg-6">
        <label>Type</label>
        <select class="form-control text-uppercase" onclick="TypeMenu1()" id="Type"></select>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <label>Document File</label>
        <input type="file" id="file" class="btn btn-default"/>
    </div>
</div>
<script src="~/Scripts/AppScripts/Modal/AttachmentModal.js"></script>