<style>
    .row
    {
        margin-top:30px;
    }
    .disable
    {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
    input:hover
    {
         border-color:deeppink;
    }
    textarea:hover
    {
        border-color:deeppink;
    }
    select:hover
    {
         border-color:deeppink;
    }
    .inp:focus
    {
         border-color:deeppink;
    }

</style>
<div class="container">

</div>
<div class="row">
    <div class="col-lg-6">
        <label>Type</label>
        <input type="text" value="Auth Note" class="form-control inp disable" />
    </div>
    <div class="col-lg-6">
        <label>Subject</label>
        <select class="form-control text-uppercase inp" id="Subject" onclick="SubjectMenu()"></select>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label>Note</label>
        <textarea class="form-control input-xs inp" placeholder="NOTE HERE" rows="6" cols="140"></textarea>
    </div>
</div>