<style>
    #yes
    {
        margin-top:30px;
        margin-left:5px;
        margin-right:5px;
    }
    .row{
        margin-left:5px;
        margin-right:5px;
    }
    #textareas
    {
        display:none;
    }
    #MDReview
    {
        display:none;
    }
    #UM_Note{
        display:none;
    }
</style>
<p-script filepath="~/Scripts/AppScripts/Modal/CreateAuthNoteModal.js"></p-script>

<div class="container">

</div>
<div  id="NoteModal" style="overflow-y:auto">
    <div class="row inp" id="yes">
        <div class="col-lg-6">
            <label>Type</label>
            <select id="Type" class="form-control text-uppercase" onclick="TypeMenus()"></select>
        </div>
        <div class="col-lg-6">
            <label>Subject</label>
            <select class="form-control text-uppercase inp" id="Subject" ></select>
        </div>
    </div>
    <div class="container" id="MDReview">
        <div class="x_content zero_padding_bottom">
            <div class="col-lg-6 col-md-5">
                <div class="iradio_square-green" style="position: relative;">
                    <input type="radio" name="Direction" class="form-control input-xs flat" id="ApproveRadio" style="position: absolute; opacity: 0;">
                </div>
                <span for="ver10">Approve</span>
            </div>
            <div class="col-lg-5 col-md-5 pull-right">
                <div class="iradio_square-green " @*onchange="TypeChange()"*@ style="position: relative;">
                    <input type="radio" name="Direction" class="form-control input-xs flat" id="DenialRadio" style="position: absolute; opacity: 0;">
                </div>
                <span for="ver9">DENIAL</span>
            </div>
        </div>
        <div id="UM_Note">
            <div class="row">
                <div class="col-lg-12">
                    <label>Note</label>
                    <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="UMNote-Note" rows="3" cols="140"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label>Criteria Used</label>
                    <textarea class="form-control input-xs inp" placeholder="CRITERIA USED HERE" id="UMNote-Criteria" rows="3" cols="140"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="textareas">
    <div class="row">
       <div class="col-lg-12">
        <label>Note</label>
        <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="NurseMD-Note" rows="3" cols="140"></textarea>
       </div>
    </div>
    <div class="row">
        <div class=" col-lg-12">
            <label>RATIONALE</label>
            <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="NurseMD-RATIONALE" rows="3" cols="140"></textarea>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-12">
            <label>ALTERNATE PLAN</label>
            <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="NurseMD-ALTERNATE" rows="3" cols="140"></textarea>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-12">
            <label>CRITERIA USED</label>
            <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="NurseMD-CRITERIA" rows="3" cols="140"></textarea>
        </div>
    </div>
    <div class="row">
        <div class=" col-lg-12">
            <label>SERVICE SUBJECT TO NOTICE</label>
            <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="NurseMD-SERVICE" rows="3" cols="140"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label>LIST OF MEDICAL SERVICES</label>
            <input type="text" placeholder="Medical Services" id="NurseMD-MEDICAL" class="form-control" />
        </div>
    </div>
</div>
<div class="row" id="AddedNotes">
    <div class="col-lg-12">
        <label>Note</label>
        <textarea class="form-control input-xs inp" placeholder="NOTE HERE" id="Normal-Note" rows="4" cols="140"></textarea>
    </div>
</div>




