<p-link filepath="~/Content/AppCss/BillingManagement/MemberClaimList.css" rel="stylesheet"></p-link>

<span class="all_black">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right " id="claim_list_tile">
        <br />
        <div class="row P_zero-padding-left-right margin-top_10">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_ngreen p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total claims</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <b># 10242</b>
                                </div>
                                <div class="col-lg-6">
                                    <b>$ 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_orange p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total Visits</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_rblue p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total Procedure Claimed</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total Patient Responsibility</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>$ 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_orange p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total Billed Claims</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_green p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total High Cost Claims</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="row P_zero-padding-left-right margin-top_10">
            <div class="col-lg-12 col-md-12 col-xs-12 ">
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_ngreen p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Total Accepted Claims </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_orange p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>
                                        Total Rejected Claims
                                    </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b># 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_rblue p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Part A</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <b># 10242</b>
                                </div>
                                <div class="col-lg-6">
                                    <b>$ 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Part B</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <b># 10242</b>
                                </div>
                                <div class="col-lg-6">
                                    <b>$ 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <button class="biscuit p_biscit_outerColor_orange p_scheules">
                        <div class="biscuit_body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Part D</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <b># 10242</b>
                                </div>
                                <div class="col-lg-6">
                                    <b>$ 10242</b>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-2 db_padding_left_right_20px">
                    <div class="row padding_top_20px">
                        <div class="col-lg-6">
                            <a class="btn-info btn-xs claimSearchBlue padding-right"><i class="fa fa-search" aria-hidden="true"></i><span>Search</span></a>
                        </div>
                        <div class="col-lg-6">
                            <a class=" btn-info btn-xs  claimEditAmber"><i class="fa fa-pencil-square-o"></i><span>Edit</span></a>
                        </div>
                    </div>
                    @*<a class="btn-info btn-xs claimCreateGreen" ><i class="fa fa-plus-circle"></i></a>*@
                </div>
            </div>
        </div>
        <div class="x_content" id="">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
                <h4 class="pull-left col-lg-6 all_black">Monthly Claims for AANONSEN ROY</h4>

                <div class="col-lg-2 pull-right">
                    <a href="javascript:void(0)" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print">
                        <img src="/Helper/Resources/Images/print.png" />
                    </a>
                    <a href="javascript:void(0)" class="custom-button text-red pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email">
                        <img src="/Helper/Resources/Images/email.png" />
                    </a>
                    <a href="javascript:void(0)" class="custom-button text-red pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pdf">
                        <img src="/Helper/Resources/Images/pdf.png" />
                    </a>
                    <a href="javascript:void(0)" class="custom-button text-cyan pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excel">
                        <img src="/Helper/Resources/Images/excel.png" />
                    </a>
                    <a href="javascript:void(0)" id="tabular_view_btn" class="export-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Filter">
                        <img src="/Helper/Resources/Images/filter.png" />
                    </a>
                </div>
                <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                    <select id="Month_select1" name="selectMonth_Claims" class="form-control input-xs">
                        <option value="1" selected>JAN</option>
                        <option value="2">FEB</option>
                        <option value="3">MAR</option>
                        <option value="1">APRL</option>
                        <option value="2">MAY</option>
                        <option value="3">JUN</option>
                        <option value="1">JULY</option>
                        <option value="2">AUG</option>
                        <option value="3">SEP</option>
                        <option value="1">OCT</option>
                        <option value="2">NOV</option>
                        <option value="3">DEC</option>
                    </select>
                </div>
                <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                    <select id="year_select1" name="selectyear_Claims" class="form-control input-xs">
                        <option value="1" selected>2016</option>
                        <option value="2">2015</option>
                        <option value="3">2014</option>
                    </select>
                </div>


            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
            <table class="table table-striped table-responsive claimlist_table custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                <thead class="theme_thead">
                    <tr>
                        <th>
                            Insured ID
                        </th>
                        <th>
                            Plan Name
                        </th>
                        <th>
                            DOS
                        </th>
                        <th>
                            Billing provider
                        </th>
                        <th>
                            Rendering provider
                        </th>
                        <th>
                            Facility
                        </th>
                        <th>
                            Diagnoses Claimed
                        </th>
                        <th>
                            Procedure Claimed
                        </th>
                        <th>
                            Billed Amount ($)
                        </th>
                        <th>
                            Claim Type
                        </th>
                        <th>
                            Tracking Status
                        </th>
                        <th>
                            Patient Responsibility
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody id="scrolldummybody">

                    <tr>
                        <td>264608014</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>LOUISA AARON</td>
                        <td>ABDEL JIBAWI</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Accepted</td>
                        <td>345</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>

                    <tr>
                        <td>264608014</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>LOUISA AARON</td>
                        <td>ABDEL JIBAWI</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Rejected</td>
                        <td>345</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>547608014</td>
                        <td>Humana</td>
                        <td>09/04/2016</td>
                        <td>JANET ABBATE</td>
                        <td>RAHEEL AHMED</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Submitted</td>
                        <td>254</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>673608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>PATRICK ABULONE</td>
                        <td>MEHUL SHAH</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.02</td>
                        <td>FFS</td>
                        <td>Accepted by payer</td>
                        <td>321</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>598608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>JANET ABBATE</td>
                        <td>RAHEEL AHMED</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Rejected by CH</td>
                        <td>221</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>321608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>PATRICK ABULONE</td>
                        <td>MEHUL SHAH</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>FFS</td>
                        <td>EOB received</td>
                        <td>558</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>998608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>KIMMARIE ADAMS</td>
                        <td>DHAMMIKA EKANAYAKE</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>On hold</td>
                        <td>832</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>

                        <td>743608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>SHIRLEY AARON</td>
                        <td>NICHOLAS COPPOLA</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>FFS</td>
                        <td>Accepted</td>
                        <td>449</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>221608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>MARY AANONSEN</td>
                        <td>MERCELY DEVABAVUS</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>FFS</td>
                        <td>Rejected</td>
                        <td>884</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>881608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>KJELL AANONSEN</td>
                        <td>MERCELY DEVABAVUS</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Rejected by CH</td>
                        <td>321</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>441608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>PATRICK ABULONE</td>
                        <td>MEHUL SHAH</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>FFS</td>
                        <td>Rejected</td>
                        <td>765</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>654608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>JANET ABBATE</td>
                        <td>RAHEEL AHMED</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>FFS</td>
                        <td>Accepted</td>
                        <td>432</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>987608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>PATRICK ABULONE</td>
                        <td>MEHUL SHAH</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>Accepted</td>
                        <td>321</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>321608454</td>
                        <td>Humana</td>
                        <td>07/05/2016</td>
                        <td>KIMMARIE ADAMS</td>
                        <td>DHAMMIKA EKANAYAKE</td>
                        <td>Access Health Care</td>
                        <td>6</td>
                        <td>9</td>
                        <td>$0.01</td>
                        <td>CAP</td>
                        <td>EOB received</td>
                        <td>432</td>
                        <td>
                            <button class="btn btn-info btn-xs margin_left_12px editBtn"><i class="fa fa-eye"> </i></button>
                        </td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
</span>
