<link href="~/Content/AppCss/Notification.css" rel="stylesheet" />
@*<div class="Notify-Expand" data-role="tooltip" data-placement="left" title="Open Notifications">
    <i class="badge bg-orange bd-flow">6</i><br />
    <i class="fa fa-bell-o bell_new"></i>
</div>*@
<div class="Notify-Collapse" data-role="tooltip" data-placement="left" title="Close Notifications">
    <span class="custombadge NotificationClose"><i class="fa fa-times fa-2x"></i></span>
</div>
<div class="NotifyArea">
    <h2 class="text-center notify-header">Notifications</h2>
    <div class="notification-messages">
        <div class="notification-list">
            <span><b>UM</b></span> <span class="pull-right"><b>3 hours ago</b></span><br>
            Auth Referred for Eveline Hewett - 1117333VE by Barbara Joy
            @*<span class="pull-right"><b>3 hours ago</b></span>*@
        </div>
        <div class="notification-list">
            <span><b>Claims</b></span><span class="pull-right"><b>3 hours ago</b></span><br>
            File P.837.2.20160723.4 (EDI 837 P), Dispatched to Lex Harris from MIRRA HEALTHCARE LLC
            @*<span class="pull-right"><b>3 hours ago</b></span>*@
        </div>
        <div class="notification-list">
            <span><b>Claims</b></span><span class="pull-right"><b>4 hours ago</b></span><br>
            File P.837.MDOL83212.9.txt (EDI 837 P) is received from MIRRA HEALTHCARE LLC, Dispatched to ABILITY
            @*<span class="pull-right"><b>4 hours ago</b></span>*@
        </div>
        <div class="notification-list">
            <span><b>UM</b></span><span class="pull-right"><b>12 hours ago</b></span><br>
            Auth Processed for Jenn Stone- 1128333VD by Barbara Joy
            @*<span class="pull-right"><b>12 hours ago</b></span>*@
        </div>
        <div class="notification-list">
            <span><b>Claims</b></span><span class="pull-right"><b>1 day ago</b></span><br>
            File P.837.MDOL83212.20160722.9 (EDI 837 P), Dispatched to Ability from MIRRA HEALTHCARE LLC
            @*<span class="pull-right"><b>1 day ago</b></span>*@
        </div>
        <div class="notification-list">
            <span><b>UM</b></span><span class="pull-right"><b>1 day ago</b></span><br />
            Auth Submitted for John - 1233113VR by Dr.Singh
        </div>

        <div class="notification-list">
            <span><b>Claims</b></span><span class="pull-right"><b>2 days ago</b></span><br>
            File P.837.MDOL83212.20160722.8 (EDI 837 P), Dispatched to Ability from MIRRA HEALTHCARE LLC
            @*<span class="pull-right"><b>2 days ago</b></span>*@
        </div>
    </div>
</div>
<script src="~/Scripts/AppScripts/Home/Notification.js"></script>
