<link href="~/Content/AppCss/Search/SmartResults.css" rel="stylesheet" />
<div class="search-result-overview">
    <p class="result-heading">Result Count</p>

    <div class="result-overview-body col-lg-12">
        <span class="info-result">
            <a href="javascript:void(0)"><b>Member&nbsp;(<span class="um-searchResult"></span>)</b></a>
        </span>
        <span class="info-result">
            <a href="javascript:void(0)"><b>Provider&nbsp;(<span class="claims-searchResult"></span>)</b></a>
        </span>
    </div>
</div>
<script src="~/Scripts/AppScripts/Home/smartSearch.js"></script>