<link href="~/Content/AppCss/Search/SmartResultsNew.css" rel="stylesheet" />
@*<div class="smartResultShort" hidden>
   <span id="hashTag">
       <a>Member ID</a><br />
       <a>NPI number</a><br />
   </span>
    <span id="AtrTag">
       
        <a>Member Name</a><br />
        <a>Provider Name</a><br />
    </span>
</div>*@
<div class="smartResult" hidden>        
            <div class="SmartSearchResults">
                <div class="part1Of12">
                    <img src="/Resources/Images/Common/user.png" alt="">
                </div>
                <div class="part4Of12">
                    <b>MEMBER NAME</b><br />
                    <small>MEMBER ID</small> <small>Florida</small>
                </div>
                <div class="part7Of12 pull-right">
                    <div><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/11223-200.png" /></div>
                    <div><img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Messaging-Contact-Card-icon.png" alt="" /></div>

                </div>
            </div>
   
        @*<div class="memberId">
            <div class="SmartSearchResults">
                <div class="part1Of12">
                    <img src="/Resources/Images/Common/user.png" alt="">
                </div>
                <div class="part4Of12">
                    <b>MEMBER ID</b><br />
                    <small>MEMBER NAME</small> <small>Florida</small>
                </div>
                <div class="part7Of12 pull-right">
                    <div><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/11223-200.png" /></div>
                    <div><img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Messaging-Contact-Card-icon.png" alt="" /></div>

                </div>
            </div>
        </div>
        <div class="provider">
            <div class="SmartSearchResults">
                <div class="part1Of12">
                    <img src="/Resources/Images/Common/user.png" alt="">
                </div>
                <div class="part4Of12">
                    <b>Provider Name</b><br />
                    <small>NPI</small> <small>Florida</small>
                </div>
                <div class="part7Of12 pull-right">                 
                    <div><img src="http://icons.iconarchive.com/icons/icons8/ios7/256/Messaging-Contact-Card-icon.png" alt="" /></div>
                </div>
            </div>
        </div>*@
</div>
<script src="~/Scripts/AppScripts/Home/smartSearchNew.js"></script>
