<div class="left-container navigation-container">
    <i class="fa fa-2x fa-angle-double-left" aria-hidden="true"></i>
</div>
<div class="moddle-container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="claim-id-text">PP00090227D20160705-20160705C7</label>
    </div>
    <div class="clearfix"></div>
    <div class="divider-dashed dash-divider-module"></div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label>Insured Person:</label>
        <label class="data-label">Patrick Abulone</label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label>Payer:</label>
        <label class="data-label">FREEDOM HEALTH INS</label>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label>Rendering Provider:</label>
        <label class="data-label">Shirley Aaron</label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <label>Billing Provider:</label>
        <label class="data-label">Access 2 health care</label>
    </div>
    <table class="table table-striped service_line_table" cellspacing="0">
        <thead>
            <tr>
                <th class="withfilter text-center" rowspan="1" colspan="2">
                    <label>DOS</label>
                </th>
                <th class="withfilter" rowspan="2" colspan="1">
                    <label>Place of service</label>
                </th>
                <th class="withfilter" rowspan="2" colspan="1">
                    <label>Procedure Code (CPT)</label>
                </th>
                <th class="withfilter text-center" rowspan="1" colspan="4">
                    <label>Diagnosis (ICD)</label>
                </th>
                <th class="withfilter" rowspan="2" colspan="1">
                    <label>Charges</label>
                </th>

            </tr>
            <tr>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>From</label>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>To</label>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>A</label>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>B</label>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>C</label>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <label>D</label>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>07-05-2016 </td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>99203</td>
                <td>E785</td>
                <td>M1990</td>
                <td>I110</td>
                <td>K219</td>
                <td>$0.01</td>
            </tr>
            <tr>
                <td>07-05-2016</td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>36415</td>
                <td>D649</td>
                <td>F0390</td>
                <td>Z7901</td>
                <td>I4891</td>
                <td>$0.01</td>
            </tr>
            <tr>
                <td>07-05-2016</td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>G8420</td>
                <td>Z86718</td>
                <td>E1151</td>
                <td>E1140</td>
                <td>I7789</td>
                <td>$0.01</td>
            </tr>
            <tr>
                <td>07-05-2016</td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>1170F</td>

                <td>Z86718</td>
                <td>E1151</td>
                <td>F0390</td>
                <td>Z7901</td>
                <td>$0.02</td>
            </tr>
            <tr>
                <td>07-05-2016</td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>1003F</td>
                <td>E1151</td>
                <td>E1140</td>
                <td>K219</td>
                <td>I509</td>
                <td>$0.01</td>
            </tr>
            <tr>
                <td>07-05-2016</td>
                <td>07-05-2016</td>
                <td>11-Office</td>
                <td>3074F</td>

                <td>E1151</td>
                <td>E1140</td>
                <td>E1140</td>
                <td>I7789</td>
                <td>$0.01</td>
            </tr>

            <tr>
                <td colspan="8" class="total-row">Total:</td>
                <td class="total-amt">$0.07</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="right-container navigation-container">
    <i class="fa fa-2x fa-angle-double-right" aria-hidden="true"></i>
</div>

<div class="clearfix">

</div>