@model AHC.CD.WebUI.MVC.Models.EmailTemplate.EmailSigantureViewModel

<div class="form-style">
    <form id="AddEmailTemplate" ng-submit="AddingEmailSignature('EmailSignature','false')">
        <fieldset class="">
            <legend>
                Add Email Signature
            </legend>
            <div id="newOtherLegalFormDiv">
                <div class="col-lg-12 zero-padding-left-right-div ng-scope">
                    @Html.HiddenFor(model => model.EmailSigantureID, new { ng_value = "tempObject.EmailSigantureID" })
                    @Html.HiddenFor(model => model.StatusType, new { ng_value = "1" })
                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group">
                        <label class="control-label small">Signature</label>
                        <wysiwyg textarea-id="wysiwygBody" textarea-class="form-control wrap-words" textarea-height="400px" textarea-style="width:100%;resize: none;overflow-y: scroll;" textarea-name="wysiwygBody" textarea-required ng-model="tempObject.Signature" enable-bootstrap-title="true"></wysiwyg>
                        @Html.HiddenFor(model => model.Signature, new { ng_value = "tempObject.Signature" })
                        @Html.ValidationMessageFor(model => model.Signature, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="button" class="btn btn-warning btn-sm" ng-click="Cancle();">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm pull-right">Add</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>