
<div class="target profilediv col-lg-12 nopadding">
    <div class="outer" id="ViewPSVStateLicense">
        <div class="Top_Nav_strip" style="text-align: center; margin-bottom: 20px">
            <span class="theme_depend text-uppercase create-auth-legends">
                State License
            </span>
            @*&nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">

                </span>
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs pull-right">
                        <i class="fa fa-refresh"></i> Verify
                    </button>
                </span>
            </span>*@
        </div>

        <div class="col-lg-12">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">State License-1 </span>
            </span> &nbsp;&nbsp;
            @*<span class="fstyleBtnStyle">
                <button class="btn btn-success btn-xs">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>*@
        </div>


        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STATE:</label>
                <span class="theme_label_data">FLORIDA</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">LICENSE NUMBER :</label>
                <span class="theme_label_data">ME106816</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Issue Date:</label>
                <span class="theme_label_data"> 11/04/2012 </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Expiration Date:</label>
                <span class="theme_label_data">08/12/2016</span>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DOCUMENT:</label>
                <span class="theme_label_data">N/A</span>
            </div>*@
        </div>


        <div id="PSVStateLicenseVerification">
            @Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/StateLicense/StateLicenseVerification/_ViewStateLicensesVerification.cshtml")

            @*@Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/StateLicense/StateLicenseVerification/_EditStateLicenseVerification.cshtml")*@
        </div>

        <div class="col-lg-12">
            <br />
        </div>

        <div class="col-lg-12">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">State License - 2 </span>
            </span> &nbsp;&nbsp;
            @*<span class="fstyleBtnStyle">
                <button class="btn btn-success btn-xs">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>*@
        </div>


        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">STATE:</label>
                <span class="theme_label_data">FLORIDA</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">LICENSE NUMBER :</label>
                <span class="theme_label_data">ME106816</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Issue Date:</label>
                <span class="theme_label_data">11/04/2012 </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Expiration Date:</label>
                <span class="theme_label_data">08/12/2016</span>
            </div>
            @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">DOCUMENT:</label>
                <span class="theme_label_data">N/A</span>
            </div>*@
        </div>


        <div id="PSVStateLicenseVerification">
            @Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/StateLicense/StateLicenseVerification/_ViewStateLicensesVerification.cshtml")

            @*@Html.Partial("~/Areas/CredAxis/Views/PrimarySourceVerification/StateLicense/StateLicenseVerification/_EditStateLicenseVerification.cshtml")*@
        </div>

    </div>
</div>
