@{
    ViewBag.Title = "ProfessionalHistoricalDataQuestionnaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>


<h2>ProfessionalHistoricalDataQuestionnaire</h2>
<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="~/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Profile
                    </li>
                </ol>
            </div>
        </div>
        <div class="panel-group" id="accordionHistorical" role="tablist" aria-multiselectable="true">
            @*<div class="panel panel-default">
                    <div class="panel-heading text-right">
                        <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                        <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
                    </div>
                </div>*@
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="HistoricalHeading">
                    <a data-toggle="collapse" data-parent="#accordionHistorical" href="#PH" aria-expanded="false" aria-controls="PH">
                        Professtional Historical Data Questionnaire
                        @*<span class="collapsed pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </span>*@
                    </a>
                </div>
                <div id="PH" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="HistoricalHeading">
                    <div class="panel-body table-bordered">
                        <div class="form-group">
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">1. Have you ever been convicted of a felony or do you have any pending misdemeanor and/or felony charges? </label>
                                    
                                    
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="felony"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="felony"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">2. Has your license to practice medicine in any jurisdiction ever been voluntarily or involuntarily denied, restricted, suspended, challenged, revoked, conditioned, or otherwise limited? </label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">3. Have you ever been publicly reprimanded or disciplined by a professional licensing agency or Board?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec1"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec1"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">4. Has your DEA certification and/or state controlled drug permit ever been restricted, suspended, revoked, voluntarily relinquished or otherwise limited?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec2"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec2"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">5. Have any of your privileges or memberships at any hospital or institution ever been denied, suspended, reduced, revoked, not renewed or otherwise limited?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec3"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec3"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">6. Has your participation in Medicare, Medicaid or any other government program ever been limited, expelled, excluded or have you voluntarily excluded yourself from any of these programs?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec4"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec4"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">7. Have you ever been convicted or pled “nolo contendere” to a criminal offense related to Medicare, Medicaid or any other Federal program? </label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec5"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec5"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">8. Has your participation in an HMO and/or an Insurance Company network ever been limited, restricted, suspended or terminated?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec6"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec6"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">9. In the past five years, up to and including the present, have you had any ongoing physical or mental impairment or condition which would make you unable, with or without reasonable accommodation, to perform the essential functions of a practitioner in your area of practice, or unable to perform those essential functions without a direct threat to the health and safety of others?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec7"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec7"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">10. Considering the essential function of a practitioner in your area of practice, in the past five years, up to and including the present, have you suffered from any communicable health condition that could pose a significant health and safety risk to your patients?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec8"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec8"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">11. In the past five years and up to and including the present, have you had a history of chemical dependency or substance abuse that might affect your ability to competently and safely perform the essential functions of a practitioner in your area of practice?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec9"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec9"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">12. Are you currently participating or under supervision of a Physician or Recovery Network or applicable program?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec0"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec0"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">13. Has any malpractice carrier made an out-of-court settlement or paid a judgment of a medical malpractice claim on your behalf in the past 5 years or are any medical malpractice suits pending against you?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec10"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec10"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">14. Are you currently uninsured for professional liability (malpractice insurance) coverage?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec11"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec11"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-md-12">
                                    <label for="Contact" class="control-label">15. Has your malpractice/professional liability insurer placed conditions or restrictions on your coverage or ability to obtain coverage in the past 10 years?</label>
                                    <div class="radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sec12"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sec12"> No
                                        </label>
                                    </div>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-4">
                                    <label class="control-label small">Name</label>
                                    <div>
                                        <label>Sudhir Agarwal</label>
                                    </div>
                                    
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label small"> Signature</label>
                                    <input type="text" class="form-control input-sm" />
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label small">Date</label>
                                    <input type="date" class="form-control input-sm" />
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 panel-footer">
                                <div class="col-md-12">
                                    <input type="button" class="btn btn-success pull-right" value="Initiate Primary Source Verification" id="initPSVBtn"/>                               
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <br />
                                <div id="str" class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <strong>Success!</strong>Submitted Successfully.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#str').hide();

    $('#initPSVBtn').click(function () {


        $(this).val('Primary Source Verification Initiated');
        $(this).attr('disabled', 'disabled');
        $('#str').show();


    });
    

</script>