@*Auth Notes CSS*@
<link href="~/Content/AppCss/ViewAuth/AuthNotes.css" rel="stylesheet" />

<div class="x-panel panelheight">
    <div>
        <input type="submit" value="ADD NEW NOTE" class="copy-button pull-left " style="width: auto;padding: 3px 5px 3px 5px;margin-right: 5px;"/>
        <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0;">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">View All Notes</span>
        @*<div class="btn-group btn-xs pull-right notesswitchgroup" aria-label="..." role="group">
            <button type="button" id="btn_fortable" class="btn btn-default for_table"><i class="fa fa-table"></i></button>
            <button type="button" id="btn_forlist" class="btn btn-default for_list"><i class="fa fa-list"></i></button>
        </div>*@
            <a href="javascript:void(0)" class="custom-print-button print_button_beside_table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Auth Contacts">
                <img src="/Resources/Images/Icons/print_icon.png">
            </a>
    </div>
    <div class="tableview isactive">
        @*<a href="javascript:void(0)" class="custom-print-button print_button_beside_table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Auth Contacts">
            <img src="/Resources/Images/Icons/print_icon.png">
        </a>*@
        <table class="table table-striped table-bordered zero-margin-top-bottom-hr wrap-words">
                <thead>
                    <tr class="text-uppercase">
                        <th>Date Time</th>
                        <th>Note Type</th>
                        <th>User Name</th>
                        <th>Subject</th>
                        <th>Note</th>
                        <th>INC FAX</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>06/30/2016 13:25:51</td>
                        <td>Auth Note</td>
                        <td>Lavanya Jami</td>
                        <td>UM Note</td>
                        <td>This Decision was made after the explanation</td>
                        <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                        <td class="text-uppercase"><input type="button" value="VIEW" class="view-button" /></td>
                    </tr>
                    <tr>
                        <td>06/30/2016 13:25:51</td>
                        <td>Auth Note</td>
                        <td>Lavanya Jami</td>
                        <td>Claim Note</td>
                        <td>This Decision was made after the explanation</td>
                        <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                        <td class="text-uppercase"><input type="button" value="VIEW" class="view-button" /></td>
                    </tr>
                    <tr >
                        <td>06/30/2016 13:25:51</td>
                        <td>Auth Note</td>
                        <td>Shanu Gupta</td>
                        <td>UM Note</td>
                        <td>This Decision was made after the explanation</td>
                        <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                        <td class="text-uppercase"><input type="button" value="VIEW" class="view-button" /></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="listview isInactive" style="margin-top:5px">
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
        <div class="col-lg-2 notetile">
            <div class="tileicon pull-left">
                <span><i class="fa fa-file-text-o fa-4x"></i></span>
            </div>
            <div class="icontext  pull-right">
                <span class="note"><span>Note:</span><span class="tiledata">529158</span></span><br>
                <span>INC FAX</span>
                <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0">
            </div>
            <br>
            <div class="Footer_section">
                <div class="footertext">
                    <span>NOTE TYPE:</span><span class="footerdata">AUTH NOTE</span>
                </div>
                <div class="footertext">
                    <span>USER:</span><span class="footerdata">Lavanya</span>
                </div>
                <div class="footertext">
                    <span>SUBJECT:</span><span class="footerdata">UM NOTE</span>
                </div>
            </div>
        </div>
    </div>
</div>