@*Auth ODAG CSS*@
<link href="~/Content/AppCss/ViewAuth/AuthODAG.css" rel="stylesheet" />

<div class="x_panel panelheight">
    <div class="x_panel border_on_panel">
        <div class="x_content">
            <div id="ODAGmainDiv" class="ODAGMainClass">
                <div class="col-lg-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Has PCP Approved this Request?</b><br />
                        <input type="radio" name="PCP" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="PCP" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="PCP" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">I AM THE PCP</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Beneficiary Request Expedited?</b><br />
                        <input type="radio" name="Beneficiary" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="Beneficiary" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="Beneficiary" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Provider Request Expedited?</b><br />
                        <input type="radio" name="Provider" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="Provider" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="Provider" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Process Expedited?</b><br />
                        <input type="radio" name="Process" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="Process" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="Process" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-lg-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Did Plan Extend Time Frame?</b><br />
                        <input type="radio" name="Extend" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="Extend" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="Extend" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was time frame extension taken?</b><br />
                        <input type="radio" name="taken" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="taken" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="taken" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was member notified by Phone?</b><br />
                        <input type="radio" name="notified" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="notified" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="notified" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was member notified by letter?</b><br />
                        <input type="radio" name="letter" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="letter" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="letter" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-lg-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Case Disposition</b><br />
                        <input type="radio" name="Disposition" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">APPROVED</label>
                        <input type="radio" name="Disposition" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">DENIED</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Date and Time Disposition</b><br />
                        <input type="text" class="form-control input-xs odagtext" placeholder="MM/DD/YYYY HH:MM" />
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was request denied for LOMN?</b><br />
                        <input type="radio" name="LOMN" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">Y</label>
                        <input type="radio" name="LOMN" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">N</label>
                        <input type="radio" name="LOMN" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was Case received by Medical Doctor?</b><br />
                        <input type="radio" name="MD" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="MD" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="MD" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-lg-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Was reconsideration reviewed by Medical Director?</b><br />
                        <input type="radio" name="MDreviewed" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="MDreviewed" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="MDreviewed" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Date and Time Effectuation</b><br />
                        <input type="text" class="form-control input-xs odagtext" placeholder="MM/DD/YYYY HH:MM" />
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Member Notified Orally?</b><br />
                        <input type="radio" name="Orally" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="Orally" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="Orally" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Member Written Notification?</b><br />
                        <input type="radio" name="Notification" class="form-control input-xs flat" style="position: absolute; opacity: 0;" checked>
                        <label class="">Y</label>
                        <input type="radio" name="Notification" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N</label>
                        <input type="radio" name="Notification" class="form-control input-xs flat" style="position: absolute; opacity: 0;">
                        <label class="">N/A</label>
                        
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-lg-12">
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>AOR Receipt Date</b><br />
                        <input type="text" class="form-control input-xs odagtext" placeholder="MM/DD/YYYY HH:MM" />
                        
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <b>Name of Plan</b><br />
                        <input type="text" class="form-control input-xs bolding text-uppercase ng-scope odagtext" value="ULTIMATE" readonly="" disabled="" style="font-weight:bold;color:black;" autocomplete="off">
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-lg-12">
                    <input type="submit" value="SAVE" class="copy-button pull-right" style="width: auto;padding: 2px 10px 3px 10px;"/>
                    @*<button class="btn btn-xs btn-primary pull-right OdagSaveBtn">Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>



