@*<link href="~/Content/AppCss/claims/claims.css" rel="stylesheet" />*@
@* Auth Attachments *@
<link href="~/Content/AppCss/ViewAuth/AuthAttachments.css" rel="stylesheet" />

    
    @*<div class="btn-group btn-group-xs attachmentsgroup" role="group" style="margin-left:5px">
        <button type="button" id="Table" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tabular View"><i class="fa fa-table"></i></button>
        <button type="button" id="list" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="List View"><i class="fa fa-list"></i></button>
    </div>*@


<div class="x-panel panelheight">
    <div>
        <input type="checkbox" class="form-control input-xs flat" checked="" style="position: absolute; opacity: 0;">
        <span style="vertical-align: middle;padding: 3px 2px 3px 2px;">View All Attachments</span>
        <a href="javascript:void(0)" class="custom-print-button print_button_beside_table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print Auth Contacts">
            <img src="/Resources/Images/Icons/print_icon.png">
        </a>
    </div>
    <div class="attachmentstablediv">
                <table class="table table-striped table-bordered zero-margin-top-bottom-hr wrap-words">
                    <thead>
                        <tr>
                            <th>Uploaded date</th>
                            <th>Title</th>
                            <th>Attachment Type</th>
                            <th>Created By</th>
                            <th>Inc Fax</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>04/30/2016 13:25:51</td>
                            <td>Surgical Records</td>
                            <td>Clinical</td>
                            <td>Hemavathi</td>
                            <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                            <td class="text-uppercase"><i class="fa fa-file"></i></td>
                        </tr>
                        <tr>
                            <td>06/30/2016 13:25:51</td>
                            <td>Surgical Records</td>
                            <td>Clinical</td>
                            <td>Hemavathi</td>
                            <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                            <td class="text-uppercase"><i class="fa fa-file"></i></td>
                        </tr>
                        <tr>
                            <td>06/30/2016 13:25:51</td>
                            <td>Surgical Records</td>
                            <td>Clinical</td>
                            <td>Hemavathi</td>
                            <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                            <td class="text-uppercase"><i class="fa fa-file"></i></td>
                        </tr>
                        <tr>
                            <td>06/30/2016 13:25:51</td>
                            <td>Surgical Records</td>
                            <td>Clinical</td>
                            <td>Hemavathi</td>
                            <td><input type="checkbox" class="form-control input-xs flat" style="position: absolute; opacity: 0;"></td>
                            <td class="text-uppercase"><i class="fa fa-file"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>
