@*Auth Summary CSS*@
<link href="~/Content/AppCss/ViewAuth/AuthSummary.css" rel="stylesheet" />
<style>
   
</style>

<div class="x_panel panelheight">
        <div class="x_panel border_on_panel">
            <div class="x_content">
                <div class="panel-body  text-uppercase">
                    <div class="divwidth_auto">
                        <div class="col-lg-3 divwidth_auto_main">
                            <span>
                                POS:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">23-Emergency Room - Hospital</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Authorization:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Concurrent</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Type of Care:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Emergency</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Received:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">07/21/2016 17:01:02</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                DOS:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">07/04/2016</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                PCP:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Dr. RGDGDFGB ERTERT</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Total Request LOS:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">3</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Request:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">standard</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Provider:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">dcfgsds erffsdw</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto_main">
                            <span>
                                Co-management obtained:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">No</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Drug Code MDC:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">f561c1</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Drg-desc:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">asdzdsd sdsdf</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                MDC Code:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">5626</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto_main">
                            <span>
                                Classification Desc :
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">adssad wewqewr</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary_sectionsDiv">
            <div class="x-panel">
                <div class="panel-heading low-height-heading">
                    <h6 class="push-to-top">REQUESTING PROVIDER&nbsp;&nbsp;<!-- ngIf: AdmProvType==true --><span class="label label-success ng-scope">IN</span><!-- end ngIf: AdmProvType==true --><!-- ngIf: AdmProvType==false --></h6>
                </div>

                <div class="panel-body">
                    <div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                First Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqFirstName" class="bolding text-uppercase ng-binding">rqxsC</span>
                            </span>
                        </div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                Last Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqLastName" class="bolding text-uppercase ng-binding">rdscusbkZ</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Tax ID/NPI:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">- / 8592120474</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Type:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase wrap-span-content ng-binding">Physician Assistant</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Phone Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderPhoneNumber" class="bolding ng-binding">(352) 585-3690</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Fax Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderFaxNumber" class="bolding ng-binding">(352) 686-9477</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Specialty:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Family Medicine</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Contact Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">cvgdfgf dsfdtdt</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-panel">
                <div class="panel-heading low-height-heading">
                    <h6 class="push-to-top">ATTENDING PROVIDER&nbsp;&nbsp;<!-- ngIf: AdmProvType==true --><span class="label label-success ng-scope">IN</span><!-- end ngIf: AdmProvType==true --><!-- ngIf: AdmProvType==false --></h6>
                </div>
                @*<div class="divider-line"></div><br />*@
                <div class="panel-body">
                    <div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                First Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqFirstName" class="bolding text-uppercase ng-binding">asdsfsdff</span>
                            </span>
                        </div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                Last Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqLastName" class="bolding text-uppercase ng-binding">rdscusbkZ</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Tax ID/NPI:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">- / 9874685465</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Type:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase wrap-span-content ng-binding">Physician Assistant</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Phone Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderPhoneNumber" class="bolding ng-binding">(352) 585-3690</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Fax Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderFaxNumber" class="bolding ng-binding">(352) 686-9477</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Specialty:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Internal Medicine</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Contact Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">cvgdfgf dsfdtdt</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-panel">
                <div class="panel-heading low-height-heading">
                    <h6 class="push-to-top">ADMITTING PROVIDER&nbsp;&nbsp;<!-- ngIf: AdmProvType==true --><span class="label label-success ng-scope">IN</span><!-- end ngIf: AdmProvType==true --><!-- ngIf: AdmProvType==false --></h6>
                </div>
                @*<div class="divider-line"></div><br />*@
                <div class="panel-body">
                    <div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                First Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqFirstName" class="bolding text-uppercase ng-binding">ioujkhmyh</span>
                            </span>
                        </div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                Last Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqLastName" class="bolding text-uppercase ng-binding">usafsdf</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Tax ID/NPI:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">- / 7275345285</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Type:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase wrap-span-content ng-binding">Medical Doctor</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Phone Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderPhoneNumber" class="bolding ng-binding">(352) 585-3690</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Fax Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderFaxNumber" class="bolding ng-binding">(352) 686-9477</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Specialty:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Internal Medicine</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Contact Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">cvgdfgf dsfdtdt</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-panel">
                <div class="panel-heading low-height-heading">
                    <h6 class="push-to-top">SURGEON&nbsp;&nbsp;<!-- ngIf: AdmProvType==true --><span class="label label-success ng-scope">IN</span><!-- end ngIf: AdmProvType==true --><!-- ngIf: AdmProvType==false --></h6>
                </div>
                @*<div class="divider-line" style="    margin-left: 88px;"></div><br />*@
                <div class="panel-body">
                    <div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                First Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqFirstName" class="bolding text-uppercase ng-binding">cvbfghdrfg</span>
                            </span>
                        </div>
                        <div class="col-lg-1 divwidth_auto">
                            <span>
                                Last Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqLastName" class="bolding text-uppercase ng-binding">sdvfdfg</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Tax ID/NPI:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">- / 4532543756</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Type:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase wrap-span-content ng-binding">Medical Doctor</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Phone Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderPhoneNumber" class="bolding ng-binding">(352) 585-3690</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Fax Number:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderFaxNumber" class="bolding ng-binding">(352) 686-9477</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Specialty:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">Internal Medicine</span>
                            </span>
                        </div>
                        <div class="col-lg-2 divwidth_auto">
                            <span>
                                Contact Name:
                            </span>
                            <span class="summary_data">
                                <span id="ReqProviderContactName" class="bolding text-uppercase ng-binding">cvgdfgf dsfdtdt</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x-panel">
                <div class="panel-heading low-height-heading">
                    <h6 class="push-to-top">FACILITY&nbsp;&nbsp;<!-- ngIf: AdmProvType==true --><span class="label label-danger ng-scope">OON</span><!-- end ngIf: AdmProvType==true --><!-- ngIf: AdmProvType==false --></h6>
                </div>
                @*<div class="divider-line" style="    margin-left: 88px;"></div><br />*@
                <div class="panel-body">
                    <div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Facility Name:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">hjjryj sfsdfsdf</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Phone Number:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding">(352) 585-3690</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Fax Number:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding">(352) 686-9477</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Contact Name:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase ng-binding">dfdgry rytryhf</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Tax ID/NPI:
                            </span>
                            <span class="summary_data">
                                <span class="bolding ng-binding">7657858785</span>
                            </span>
                        </div>
                        <div class="col-lg-3 divwidth_auto">
                            <span>
                                Type:
                            </span>
                            <span class="summary_data">
                                <span class="bolding text-uppercase wrap-span-content ng-binding">Office Visit</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="x_panel border_on_panel" style="margin-top:8px;">
            <div class="x_content">
                <div class="col-lg-6  zero-padding-left-right">
                    <div class="halfpanel1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-uppercase">
                            <div class="col-lg-3 divwidth_auto1">
                                <span>
                                    Received Date:
                                </span>
                                <span class="summary_data">
                                    <span class="bolding text-uppercase ng-binding">07/05/2016</span>
                                </span>
                            </div>
                            <div class="col-lg-3 divwidth_auto1">
                                <span>
                                    From Date:
                                </span>
                                <span class="summary_data">
                                    <span class="bolding ng-binding">07/04/2016</span>
                                </span>
                            </div>
                            <div class="col-lg-3 divwidth_auto1">
                                <span>
                                    Approved Days:
                                </span>
                                <span class="summary_data">
                                    <span class="bolding ng-binding">2</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6  zero-padding-left-right">
                    <div class="halfpanel2 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="text-uppercase">
                            <div class="col-lg-3 divwidth_auto2">
                                <span>
                                    Expected DC DT:
                                </span>
                                <span class="summary_data">
                                    <span class="bolding text-uppercase ng-binding">07/05/2016 00:00:00</span>
                                </span>
                            </div>
                            <div class="col-lg-3 divwidth_auto2">
                                <span>
                                    To DT:
                                </span>
                                <span class="summary_data">
                                    <span class="bolding ng-binding">07/05/2016</span>
                                </span>
                            </div>
                            <div class="col-lg-3 divwidth_auto2 pull-right">
                                <input type="submit" value="EDIT" class="copy-button" />
                                @*<button class="btn btn-xs btn-primary pull-right"><i class="fa fa-edit"></i>EDIT</button>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="x_panel border_on_panel" style="margin-top:8px;">
            <div class="x_content">
                <div class="col-lg-6 divider-dashed-right zero-padding-left-right">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 panel-heading low-height-heading text-center">
                        <h6 class="push-to-top"><label>OTHER DX</label></h6>
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center otherdx_section">
                        <label for="fullname" class="los_labels">OTHER DX</label>
                    </div>*@
                    <table class="table zero-padding-left-right  width_99 otherDxtable_nowrap">
                        <thead class="text-uppercase">
                            <tr>
                                <th>Dx code</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th class="actioncoltd">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-uppercase">
                            <tr style="background-color: #F0F8FF;">
                                <td>M10.229</td>
                                <td>Drug Incuded Medicine</td>
                                <td>07/05/2016</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>M10.229</td>
                                <td>Drug Incuded Medicine</td>
                                <td>07/05/2016</td>
                                <td class="actioncoltd button-styles-xs"><button class="light-green-button"><i class="fa fa-plus"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6  zero-padding-left-right">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 panel-heading low-height-heading text-center">
                        <h6 class="push-to-top"><label>OTHER PROCEDURES</label></h6>
                    </div>
                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center otherproc_section">
                        <label for="fullname" class="los_labels">OTHER PROCEDURES</label>
                    </div>*@
                    <table class="table zero-padding-left-right     width_99 otherproctable_nowrap">
                        <thead class="text-uppercase">
                            <tr>
                                <th>Proc code</th>
                                <th>Modifier</th>
                                <th>Description</th>
                                <th>Date</th>
                                <th class="actioncoltd">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-uppercase">
                            <tr style="background-color: #F0F8FF;">
                                <td>0419T</td>
                                <td>awdasd sadesr</td>
                                <td>sdfsdfs dfwerwr</td>
                                <td>07/05/2016</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>0419T</td>
                                <td>awdasd sadesr</td>
                                <td>sdfsdfs dfwerwr</td>
                                <td>07/05/2016</td>
                                <td class="actioncoltd button-styles-xs"><button class="light-green-button"><i class="fa fa-plus"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="EDIT AUTH" class="copy-button pull-right" style="width:6%" />
            @*<button class="btn btn-primary pull-right editThisAuth"><i class="fa fa-edit">EDIT AUTH</i></button>*@
        </div>
        <div class="col-lg-12 button-styles">
            <div class="col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-1">
                <button class="edit-button">REFER</button>
            </div>
            <div class="col-lg-offset-3 col-md-2 col-sm-4 col-xs-2">
                <button class="view-button">APPROVE</button>
            </div>
            <div class=" col-lg-offset-3 col-lg-2 col-md-2 col-sm-4 col-xs-2">
                <button class="red-button">PEND</button>
            </div>
        </div>
        @*<div class="col-lg-3 one-third column">
                <p><input type="submit" value="Belize Hole" class="belize-hole-flat-button">
            </div>*@

    </div>