@*Auth Review CSS*@
<link href="~/Content/AppCss/ViewAuth/AuthReview.css" rel="stylesheet" />
<style>
    .doctyperow{
        margin-bottom:10px;
    }
</style>
<div class="x-panel panelheight" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admission_section_review">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-padding-remove">
                    <label>DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right" style="padding-left:1%">
                    <label>ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="https://www.cms.gov/medicare-coverage-database/"*@
                           onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;"
                           href="https://www.cms.gov/medicare-coverage-database/"><b>LCD/NCD</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    @*<input type="file" id="LCDfile_input" class="inputcntrl_file" multiple />
            <label id="LCDfile_label" class="labelcntrl_file" for="LCDfile_input">Choose File</label>*@
                    <span class="ReviewUpload">
                         
                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="LCD_NCD"></div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="https://www.aetna.com/health-care-professionals/clinical-policy-bulletins/medical-clinical-policy-bulletins/medical-clinical-policy-bulletins-search-results.html?query=vests&amp;cat=CPBs#"*@
                           onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;"
                           href="https://www.aetna.com/health-care-professionals/clinical-policy-bulletins/medical-clinical-policy-bulletins/medical-clinical-policy-bulletins-search-results.html?query=vests&amp;cat=CPBs#"><b>CPG</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="CGPfile_input" class="inputcntrl_file" multiple />
                <label id="CGPfile_label" class="labelcntrl_file" for="CGPfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="CGPFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.fda.gov/Drugs/default.htm"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.fda.gov/Drugs/default.htm"><b>FDA</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="FDAfile_input" class="inputcntrl_file" multiple />
                <label id="FDAfile_label" class="labelcntrl_file" for="FDAfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="FDAFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.mckesson.com/payers/decision-management/decision-management-interqual/interqual-criteria/"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.mckesson.com/payers/decision-management/decision-management-interqual/interqual-criteria/"><b>INTERQUAL</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="Interqualfile_input" class="inputcntrl_file" multiple />
                <label id="Interqualfile_label" class="labelcntrl_file" for="Interqualfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="InterqualFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="https://www.cms.gov/Regulations-and-Guidance/Guidance/Manuals/Internet-Only-Manuals-IOMs-Items/CMS019326.html"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="https://www.cms.gov/Regulations-and-Guidance/Guidance/Manuals/Internet-Only-Manuals-IOMs-Items/CMS019326.html"><b>MEDICARE MANUAL</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">
                         
                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="MedicareManualfile_input" class="inputcntrl_file" multiple />
                <label id="MedicareManualfile_label" class="labelcntrl_file" for="MedicareManualfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="MedicareFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admission_section_review">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-padding-remove">
                    <label>DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right" style="padding-left:1%">
                    <label>ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Directory"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Directory"><b>PROVIDER DIRECTORY</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="ProviderDirectoryfile_input" class="inputcntrl_file" multiple />
                <label id="ProviderDirectory_label" class="labelcntrl_file" for="ProviderDirectoryfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="ProviderDirectoryFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Manual"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Manual"><b>PROVIDER MANUAL</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="ProviderManualfile_input" class="inputcntrl_file" multiple />
                <label id="ProviderManual_label" class="labelcntrl_file" for="ProviderManualfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="ProviderManualFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Members/plan-documents.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/plan-documents.aspx"><b class="ng-binding">SUMMARY OF BENEFITS</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="BenefitsSummaryfile_input" class="inputcntrl_file" multiple />
                <label id="BenefitsSummary_label" class="labelcntrl_file" for="BenefitsSummaryfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="BenefitsSummaryFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Members/plan-documents.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/plan-documents.aspx"><b>ANOC</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="ANOCfile_input" class="inputcntrl_file" multiple />
                <label id="ANOC_label" class="labelcntrl_file" for="ANOCfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="ANOCFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">

                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Library/2016_UHP_EOC.pdf"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Library/2016_UHP_EOC.pdf"><b>EOC</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="EOCfile_input" class="inputcntrl_file" multiple />
                <label id="EOC_label" class="labelcntrl_file" for="EOCfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="EOCFile"></div>
            </div>*@
                </div>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right" style="padding-left: 6px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 admission_section_review">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-padding-remove">
                    <label>DOCUMENT TYPE</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right" style="padding-left:1%">
                    <label>ACTION</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Members/prescription-drugs.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/prescription-drugs.aspx"><b>FORMULARY</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="Formularyfile_input" class="inputcntrl_file" multiple />
                <label id="Formulary_label" class="labelcntrl_file" for="Formularyfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="FormularyFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.ahrq.gov/professionals/clinicians-providers/guidelines-recommendations/index.html"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.ahrq.gov/professionals/clinicians-providers/guidelines-recommendations/index.html"><b>AHRQ</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="AHRQfile_input" class="inputcntrl_file" multiple />
                <label id="AHRQ_label" class="labelcntrl_file" for="AHRQfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="AHRQFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.nih.gov/health-information"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.nih.gov/health-information"><b>NIH</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="NIHfile_input" class="inputcntrl_file" multiple />
                <label id="NIH_label" class="labelcntrl_file" for="NIHfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="NIHFile"></div>
            </div>
            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Members/forms.aspx"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Members/forms.aspx"><b>PROVIDER FORMS</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="ProviderFormsfile_input" class="inputcntrl_file" multiple />
                <label id="ProviderForms_label" class="labelcntrl_file" for="ProviderFormsfile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="ProviderFormsFile"></div>
            </div>

            <div>
            </div>*@
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right ng-scope doctyperow">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 zero-padding-left-right wrap-words">
                    <div class="row text-uppercase">
                        <a @*ng-href="http://www.chooseultimate.com/Providers/#Guide"*@ onclick="window.open(this.href, '', 'width=' + screen.width + ',height=' + screen.height + 'fullscreen=yes'); return false;" href="http://www.chooseultimate.com/Providers/#Guide"><b>QUICK REFERENCE GUIDE</b></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 zero-padding-left-right text-right">
                    <span class="ReviewUpload">

                        <a href="#" class="text-success"><i class="fa fa-upload"></i> Upload</a>
                        <a href="#" class="text-danger"><i class="fa fa-remove"></i> Remove</a>
                        <a href="#" class="text-warning"><i class="fa fa-eye"></i> View</a>
                        <label class="label label-info">2</label>
                    </span>
                    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                <input type="file" id="ReferenceGuidefile_input" class="inputcntrl_file" multiple />
                <label id="ReferenceGuidefile_label" class="labelcntrl_file" for="ReferenceGuidefile_input">Choose File</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="text-uppercase wrapWord filescount" id="ReferenceGuidefileFile"></div>
            </div>

            <div>
            </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12   divider-dashed dash-divider-module"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input type="submit" value="ADD NEW NOTE" class="copy-button pull-left "style="width: auto;padding: 3px 5px 3px 5px;margin-right: 5px;"/>
        <input type="submit" value="ADD NEW CONTACT" class="copy-button" style="padding: 3px 5px 3px 5px;width: auto;"/>
    </div>
    <div class="clearfix"></div><br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 button-styles">
        <div class="col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-1">
            <button class="edit-button">REFER</button>
        </div>
        <div class="col-lg-offset-3 col-md-2 col-sm-4 col-xs-2">
            <button class="view-button">APPROVE</button>
        </div>
        <div class=" col-lg-offset-3 col-lg-2 col-md-2 col-sm-4 col-xs-2">
            <button class="red-button">PEND</button>
        </div>
    </div>
</div>





