<div class="panel-middle affix zero-padding-left-right-div tab tabprovider bottomfixed">
    @*<div id="framecontainer" class="frameStyle" style="height: 751px;">
        <div class="panel panel-default panelHeight">
            <div class="panel-heading">
                <span class=" pull-right">
                    <input type="hidden" id="newurl" autocomplete="off">
                    <button class="btn btn-xs btn-info" onclick="openDoc();" tooltip="" data-toggle="tooltip" data-placement="bottom" data-original-title="" title=""><i class="fa fa-external-link"></i></button>
                    <button class="btn btn-xs btn-danger" id="goneWithTheClick" onclick="$('#overlaydiv').slideToggle(); $('#framecontainer').slideToggle();"> <i class="fa fa-times"></i></button>
                </span> <span class="text-uppercase">Document Cabinet</span>
            </div>
            <div class="panel-body panelHeight">
                <iframe id="inPageDocIframe" class="iFrameStyle"></iframe>
            </div>
        </div>
    </div>*@
    <div class="col-lg-5 col-lg-5 col-sm-5 col-xs-5 panel-left">
        <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12">
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 auth_info text-center">
                <label>PreService</label><br><span>Authorization:</span>
            </div>
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 text-center auth_info">
                <span ng-class="{'label label-danger': Authorization.RequestType == 'Expedited', 'label bg-info': Authorization.RequestType == 'Retrospective' ,'label label-warning': Authorization.RequestType == 'Concurrent' ,'label label-success': Authorization.RequestType == 'Standard'} " class="label label-success">Standard </span><br><span>RequestType:</span>
            </div>
            <div class=" col-lg-4 col-lg-4 col-sm-4 col-xs-4 text-center auth_info">
                <span><label>07/11/2016</label></span>
                <br>
                <span>DOS:</span>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="text-center">
            <button class="btn btn-primary btn-xs">
                <i class="fa fa-archive fa-3x"></i>
            </button>
        </div>
    </div>

    <div class="col-lg-5 panel-right">
        <div class=" col-lg-12 gps-detail text-center">
            <div class="trackercontainer text-center">
                <span class="pull-right label btn" ng-style="{'background-color': backgroundColor}">
                    <timer id="dur" countdown="Myseconds" interval="1000" class="ng-isolate-scope"><span class="timerClass ng-binding ng-scope">00Days 00:00:00H </span></timer>
                </span>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: #2D6CA2">

                    </div>
                    <div class="colorText">
                        <span>Intake&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: #f6bb42">

                    </div>
                    <div class="colorText">
                        <span>RN&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: hotpink">

                    </div>
                    <div class="colorText">
                        <span>MD&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: springgreen">

                    </div>
                    <div class="colorText">
                        <span>Processing&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: green">

                    </div>
                    <div class="colorText">
                        <span>QCA&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: red">

                    </div>
                    <div class="colorText">
                        <span>QCD&nbsp;</span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="colorCode" style="background-color: brown">

                    </div>
                    <div class="colorText">
                        <span>CD</span>
                    </div>
                </div>
                <br>
                <div class="clearfix"></div>
                <div class="progress" id="ParentProgressBar" style="border: 1px groove #E6F3F1; background-color: white; ">
                    <div class="progress-bar" role="progressbar" data-toggle="tooltip" title="0Days 00:00:20 Hrs" data-placement="top" style="cursor: pointer;width:2%;background-color:null;background-image:-webkit-linear-gradient(top,null,null 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(null),to(null));background-image:linear-gradient(to bottom,null 0,null 100%);"></div><div class="progress-bar" role="progressbar" data-toggle="tooltip" title="0Days 20:29:19 Hrs" data-placement="top" style="cursor: pointer;width:2%;background-color:hotpink;background-image:-webkit-linear-gradient(top,hotpink,hotpink 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(hotpink),to(hotpink));background-image:linear-gradient(to bottom,hotpink 0,hotpink 100%);"></div>
                </div>

            </div>
        </div>
    </div>
   
</div>

