@{
    ViewBag.Title = "View Auth";
}
@section AddToHead{
    <title>VIEW AUTH | AHC</title>
}


<link href="~/Content/AppCss/ViewAuth/ViewAuthFixedBottom.css" rel="stylesheet" />


<div class="col-lg-10 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/ViewAuth/_ViewAuth.cshtml")

    @Html.Partial("~/Views/ViewAuth/_ViewAuthFixedBottom.cshtml")
</div>
