@using PortalTemplate.Helper
@model PortalTemplate.Areas.CMS.Models.DocumentTypeViewModel

<p-link filepath="~/Areas/CMS/Content/CSS/CMSTableCss.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CMS/Scripts/CMSData/CMSTableSupport.js"></p-script>
<p-script filepath="~/Areas/CMS/Scripts/DocumentType/Common/NonMinified/DocumentType.js"></p-script>

<div class="col-lg-12">
    <fieldset class="fsStyle createClaim" id="AddEditFieldset">
        @Html.Partial("~/Areas/CMS/Views/DocumentType/_AddEditDocumentTypeForm.cshtml")
    </fieldset>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
    <fieldset class="fsStyle createClaim">
        <legend class="legendStyle">
            <span class="theme_depend text-initial title_heading">@ViewBag.Title</span>
        </legend>
        <div class="legend2 exportbtn">@Html.ExportOptions("excel", "print", "filter")</div>
        @Html.Partial("~/Areas/CMS/Views/DocumentType/_ListDocumentType.cshtml")
    </fieldset>
</div>
<div class="clearfix"></div>