<br />
<div class="list-group">
    <a href="#" class="list-group-item">
        <i class="data-label"> Birth Date is missing in Birth Information </i>
    </a>
    <a href="#" class="list-group-item"><i class="data-label"> SSN Number is missing in Personal Identification </i></a>
    <a href="#" class="list-group-item"><i class="data-label"> Employer Name is missing in Professional Work Experience </i></a>
</div>
