<div class="col-lg-12">    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Quick Actions</h4>
        </div>
        <div class="panel-body text-center">
            <div class="form-group">
                <div class="col-lg-3"><a href="~/InitCredentialing/Index" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="left" title="Save"><i class="fa fa-save"></i></a></div>
                <div class="col-lg-3"><button class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Import & Update" onclick="openChildControlDiv('importDiv')"><i class="fa fa-download"></i></button></div>
                <div class="col-lg-3"><button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Upload Docs" onclick="openChildControlDiv('uploadDiv')"><i class="fa fa-upload"></i></button></div>
                <div class="col-lg-3"><a href="~/InitCredentialing/Index" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="right" title="Submit"><i class="fa fa-send-o"></i></a></div>
            </div>
            <br />
            <div class="clearfix"></div>
            <br />
            <div>
                <div id="uploadDiv" class="form-group text-left contolDiv" style="display:none;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="pull-right text-danger" onclick="closeChildDiv('uploadDiv')"><i class="glyphicon glyphicon-remove"></i></a>
                            <h5 class="panel-title">Upload Documents</h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="form-group-sm">
                                    <label class="control-label small">Upload Document</label>
                                    <div class="form-control text-center">
                                        <input type="file">
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <label class="control-label small">Select Document Type</label>
                                    <div class="text-center">
                                        <select class="form-control">
                                            <option>- Select Doc Type -</option>
                                            <option value="cv">CV</option>
                                            <option value="dea">DEA</option>
                                            <option value="BC">Birth Certificate</option>
                                            <option value="visa">Visa</option>
                                            <option value="visa">State License</option>
                                            <option value="visa">Medicare License</option>
                                            <option value="visa">Medicaid License</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="form-group text-center">
                                    <button class="btn btn-xs btn-info"><i class="fa fa-upload"></i> Upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="importDiv" class="form-group text-left bg-gray contolDiv" style="display:none;">
                    <div class="panel panel-default">
                        <div class="panel-heading small">
                            <a class="pull-right text-danger" onclick="closeChildDiv('importDiv')"><i class="glyphicon glyphicon-remove"></i></a>
                            <h5 class="panel-title">Import & Update</h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-sm">
                                <label class="control-label small">CAQH Number</label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="btn input-group-addon"><i class="fa fa-download"></i></span>
                                </div>
                            </div>
                            <div class="form-group-sm">
                                <label class="control-label small">Upload Document</label>
                                <div class="input-group">
                                    <input type="file" class="form-control">
                                    <span class=" btn input-group-addon"><i class="fa fa-download"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Reminders / Alerts</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-warning"><i class="fa fa-exclamation-triangle"></i></span><a href="#"> Driving License expires in 60 days.</a>
                </li>
                <li class="list-group-item">
                    <span class="label label-danger"><i class="fa fa-times-circle"></i></span><a href="#"> DEA License expires in 30 days.</a>
                </li>
                <li class="list-group-item">
                    <span class="label label-info"><i class="fa fa-bell"></i></span><a href="#"> Re-credentialing is in 180 days.</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Remarks</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-danger"></span>
                    DEA Verification failed
                </li>
            </ul>
        </div>
    </div>
    @*<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Screen Stat</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group small">
                <li class="list-group-item">
                    <span class="label label-warning"><i class="fa fa-exclamation-triangle"></i></span><a href="#"> Driving License expires in 60 days.</a>
                </li>
                <li class="list-group-item">
                    <span class="label label-danger"><i class="fa fa-times-circle"></i></span><a href="#"> DEA License expires in 30 days.</a>
                </li>
                <li class="list-group-item">
                    <span class="label label-info"><i class="fa fa-bell"></i></span><a href="#"> Re-credentialing is in 180 days.</a>
                </li>
            </ul>
        </div>
    </div>*@
</div>
