<style>
    .subsection {
        display: none;
    }
</style>
<div class="form-style">
    <div ng-show="showUpdateError">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span>No updates available.</span>
            </div>
        </div>
    </div>
    <div ng-hide="showUpdateError" class="panel panel-default small" ng-repeat="tab in FormattedDataForSection track by $index">
        <div class="panel-heading">
            <label class="control-label">{{tab.SectionName}}</label><i class="pull-right"><a class="pointer" ng-click="GetAllProfileUpdates(tab.UpdateData);openDiv('subsection','subsection'+$index)">Updates:</a><i class="badge">{{tab.UpdateCnt}}</i></i><i class="pull-right"><a class="pointer" ng-click="GetAllProfileUpdates(tab.RenewalData);openDiv('subsection','subsection'+$index)">Renewals:</a><i class="badge">{{tab.RenewalCnt}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
        </div>
        <div class="subsection panel-body" id="subsection{{$index}}">
            <div ng-show="SectionDisplayData.length == '0'">
                <span>No Data Available.</span>
            </div>
            <table class="table table-responsive table-condensed table-bordered wrap-words" ng-show="SectionDisplayData.length > '0'">
                <thead>
                    <tr>
                        <th class="col-lg-1">Sub-Section Name</th>
                        <th class="col-lg-3">Field Name</th>
                        <th class="col-lg-3">Old Value</th>
                        <th class="col-lg-3">New Value</th>
                        <th class="col-lg-1">Status</th>
                    </tr>
                </thead>
                <tbody ng-repeat="row in SectionDisplayData track by $index">
                    <tr ng-show="row.fields.length == '0'">
                        <td ng-if="$index==0" colspan="5" class="danger">No Changes.</td>
                    </tr>
                    <tr ng-show="row.fields.length > '0'" ng-repeat="field in row.fields" @*ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'*@>
                        <td ng-if="$index==0" rowspan="{{row.fields.length}}">{{row.subsectionName}}</td>
                        <td ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>{{field.FieldName || 'Not Available'}}</td>
                        <td ng-if="!(field.FieldName.indexOf('Path')>-1)" ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>{{field.OldValue || 'Not Available'}}</td>
                        <td ng-if="!(field.FieldName.indexOf('Path')>-1)" ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>{{field.NewValue || 'Not Available'}}</td>
                        <td ng-if="field.FieldName.indexOf('Path')>-1" ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>
                            <i class="data-label" ng-if="field.OldValue"><a href="/Document/View?path={{field.OldValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Old Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!field.OldValue">Not Available</i>
                        </td>
                        <td ng-if="field.FieldName.indexOf('Path')>-1" ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>
                            <i class="data-label" ng-if="field.NewValue"><a href="/Document/View?path={{field.NewValue}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="New Document"><i class="fa fa-file"></i></a></i>
                            <i class="small wrap-words" ng-if="!field.NewValue">Not Available</i>
                        </td>
                        <td ng-class='{danger:field.ApprovalStatus =="Rejected", warning:field.ApprovalStatus =="Pending", success:field.ApprovalStatus == "Approved"}'>{{field.ApprovalStatus}}</td>
                    </tr>
                </tbody>
            </table>           
            <div class="pull-right"><button ng-click="closeDiv(subClassName,subIdName)">Cancel</button></div>
        </div>
    </div>
</div>