@model PortalTemplate.Areas.Coding.Models.CreateCoding.CreateCodingViewModel
<div id="SaveDetailsFormDiv">
    <form id="savedetailsForm">

        @Html.AntiForgeryToken()
        <div>
            @Html.Partial("~/Areas/Coding/Views/EditCoding/_EncounterDetails.cshtml", Model.EncounterDetails)

            @Html.Partial("~/Areas/Coding/Views/EditCoding/_CodingDetailsEdit.cshtml", Model.CodingDetails)

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-sm btn-primary pull-right tab-navigation">Update</button>
                    <a class="btn btn-sm btn-primary pull-right tab-navigation member-actions" data-tab-val="Audit Encounter" data-tab-action="Audit Encounter" data-tab-title="Audit # @Model.EncounterDetails.EncounterDetails.EncounterId" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Auditing/Auditing/EditAuditing" data-original-title="Audit">Proceed to Auditing</a>
                    <a class="btn btn-sm btn-primary pull-right tab-navigation" data-tab-action="Coding List" data-tab-title="Coding List" data-tab-path="/Coding/Coding/GetCodingList" data-tab-container="fullBodyContainer">Save as Draft</a>
                    <a class="btn btn-sm btn-warning pull-left tab-navigation" data-tab-action="Coding List" data-tab-title="Coding List" data-tab-path="/Coding/Coding/GetCodingList" data-tab-container="fullBodyContainer">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
<p-script filepath="~/Areas/Coding/Scripts/AppJs/EditCoding/NonMinified/EditCoding.js"></p-script>