@model PortalTemplate.Areas.Coding.Models.CreateCoding.EncounterViewModel
<div class="row" id="ViewEncounter">
    <div class="x_panel border_on_panel">
        <div class="x_content">
            <div class="col-lg-12 top_on_panel">
                <label class="title_text">Encounter Details</label>
                <a onclick="toggleCollapseEncounter()" class="btn btn-xs btn-info pull-right"><span class="fa fa-list"></span></a>
            </div>
            @Html.Partial("~/Areas/SharedView/Views/Encounter/_EncounterEdit.cshtml", Model.EncounterDetails)
            @Html.Partial("~/Areas/Coding/Views/EditCoding/_EncounterDecision.cshtml", Model.EncounterDecision)
        </div>
    </div>
</div>
<p-script filepath="~/Areas/Coding/Scripts/AppJs/EditCoding/NonMinified/EncounterDetails.js"></p-script>