<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!--<register type="Namespace.Interface, assembly" mapTo="Namespace.ImplClass, Assembly"></register>-->

    <!--Register all Business Layer Types here-->
    <register type="AHC.CD.Business.Profiles.IProfileServiceManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileServiceManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.Profiles.IProfileManagerServiceADO,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileManagerServiceADO,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.ADO.ProviderService.IProviderRepository,AHC.CD.Data.ADO" mapTo="AHC.CD.Data.ADO.ProviderService.ProviderRepository,AHC.CD.Data.ADO"></register>
    <register type="AHC.CD.Business.DocumentWriter.IDocumentRootLocator,AHC.CD.Business" mapTo="AHC.CD.Business.DocumentWriter.InAppDocumentRootLocator,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.IProfileManager,AHC.CD.Business" mapTo="AHC.CD.Business.ProfileManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.IRepositoryManager,AHC.CD.Business" mapTo="AHC.CD.Business.RepositoryManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Business.DocumentWriter.IDocumentsManager,AHC.CD.Business" mapTo="AHC.CD.Business.DocumentWriter.SFTPDocumentManager,AHC.CD.Business"></register>
    <register type="AHC.CD.Data.Repository.ContractGrid.IContractGridRepository,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.ContractGrid.ContractGridRepository,AHC.CD.Data.EFRepository"></register>
    <register type="AHC.CD.WebApi.Controllers.HomeController,AHC.CD.WebApi">
      <constructor />
    </register>
    <register type="AHC.CD.Business.Profiles.IProfileDataDuplicateManager,AHC.CD.Business" mapTo="AHC.CD.Business.Profiles.ProfileDataDuplicateManager,AHC.CD.Business"></register>

    <register type="AHC.CD.Data.Repository.IUnitOfWork,AHC.CD.Data.Repository" mapTo="AHC.CD.Data.EFRepository.EFUnitOfWork,AHC.CD.Data.EFRepository"></register>
  </container>
</unity>