@model IEnumerable<PortalTemplate.Areas.CM.Models.Queue.QueueViewModel>
@using PortalTemplate.Helper
@using PortalTemplate.Areas.CM.CustomHelpers
<p-link filepath="~/Areas/CM/Styles/Queue/SystemIdentifiedQueue.css" rel="stylesheet"></p-link>



@Html.Partial("~/Areas/CM/Views/Queue/Common/_QueueSubTabs.cshtml")

<div id="queueBody">
    <!-- TOP TOOLBAR -->

    <div class="fixed-toolbar marginTop5px">
        
       
        @*<div class="legend-container">
                <span class="legend-wrapper">
                    <span class="legend-title">
                        LEGEND
                    </span>
                </span>
                <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-green" title="AGREES WITH UM PROTOCOL"></a></span>
                <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-yellow" title="PEND FOR PCP ANSWER"></a></span>
                <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-red" title="COVERAGE DETERMINATION REQUESTED"></a></span>
                <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-grey" title="INELIGIBLE MEMBER"></a></span>
                <span class="legend-wrapper"><a href="javascript:void(0)" class="small-legend-white" title="PRESERVICE"></a></span>

            </div>*@
        <span class="filterButton">
            @Html.ExportOptions("filter")
        </span>
        <span class="excelButtonQueue">
            @Html.ExportOptions("excel")
        </span>
    </div>


    <div class="tableBodyDivision">
       @Html.Partial("~/Areas/CM/Views/Queue/_SystemIdentifiedQueueBody.cshtml")   
    </div>
</div>


<p-script filepath="~/Areas/CM/Scripts/Queue/SystemIdentifiedQueue.js"></p-script>


