@model IEnumerable<PortalTemplate.Areas.CM.Models.Queue.QueueViewModel>
@using PortalTemplate.Areas.CM.CustomHelpers;
<p-link filepath="~/Areas/CM/Styles/Queue/UserQueue.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CM/Scripts/Queue/NonMinified/UserQueue.js"></p-script>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
        <div class="Case_Findings userQueueTabs_pull_right"><b>Case Findings</b></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        @Html.Partial("~/Areas/CM/Views/Queue/Common/_UserQueueSubTabs.cshtml")
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="userQueueTabs_pull_right">
          @Html.Partial("~/Areas/CM/Views/Queue/Common/_QueueSubTabs.cshtml")
        </div>
    </div>
</div>

<div id="queueBody">
    <!-- TOP TOOLBAR --> 
    @Html.Partial("~/Areas/CM/Views/Queue/_UserQueueBody.cshtml")
</div>





