<br />
<div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true" ng-controller="IdentificationLicense">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseOne">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licenseprofessional" aria-expanded="true" aria-controls="licenseprofessional">
                State License
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>

        </div>
        <div id="licenseprofessional" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="licenseOne">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="StateContainer">
                    <div class="col-lg-12 text-center table-bordered">
                        <div class="col-lg-3"><strong>Licence Number</strong></div>
                        <div class="col-lg-3"><strong>License Type</strong></div>
                        <div class="col-lg-3"><strong>License Status</strong></div>
                        <div class="col-lg-3"><strong>View</strong></div>
                    </div>
                    <div id="StateData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">MM19237</div>
                            <div class="col-lg-3">ME</div>
                            <div class="col-lg-3">Active</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('StateForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="StateForm1" style="display:none;">
                            <br />
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Licence Number:</label>
                                        <label class="control-label small">MM19237</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">License Type:</label>
                                        <label class="control-label small">ME</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">License Status:</label>
                                        <label class="control-label small">Active</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">License Issuing State:</label>
                                        <label class="control-label small">Florida</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Current Practice State</label>
                                        <label class="control-label small">Florida</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Original Issue Date:</label>
                                        <label class="control-label small">4-3-2011</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Expiration Date:</label>
                                        <label class="control-label small">4-3-2016</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Current Issue Date:</label>
                                        <label class="control-label small">4-3-2011</label>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Contact" class="control-label">License in  Good Standing?</label>
                                            <label class="control-label small">Yes</label>
                                        </div>
                                    </div>
                                    @*<div class="col-md-8">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label for="Contact" class="control-label small">If License Relinquished</label>
                                                <div class="radio">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="Relinquished"> Yes
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="Relinquished" checked="checked"> No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label small">Date*</label>
                                                <div>
                                                    <input type="date" class="form-control input-sm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View State License Certificate <i class="fa fa-file"></i></button>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                

                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseTwo">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensedea" aria-expanded="false" aria-controls="licensedea">
                Federal DEA Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensedea" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseTwo">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">DEA Number:</label>
                            <label class="control-label small">BS4732891</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label">State of registration</label>
                            <label class="control-label small">Washington</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Issue Date:</label>
                            <label class="control-label small">4-3-2002</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="MobileNo" class="control-label">Expiration Date </label>
                            <label class="control-label small">4-3-2019</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label for="Contact" class=" control-label">Schedules:</label>
                            <label class="control-label small">Schedule 1</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Contact" class="control-label">License in  Good Standing?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                   
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <label for="Contact" class="control-label">Limited or Restricted?</label>
                                <label class="control-label small">Limited</label>
                            </div>
                            <div class="col-md-6">
                                <label for="MobileNo" class="control-label">Explain Restriction </label>
                               
                            </div>
                        </div>
                   
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Contact" class="control-label">Do you have a State Controlled Substance Registration certificate?</label>
                            <label class="control-label small">Yes</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View CDSC Certificate <i class="fa fa-file"></i></button>
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View DEA License Certificate <i class="fa fa-file"></i></button>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseThree">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensemedicare_medicaid" aria-expanded="false" aria-controls="licensemedicare_medicaid">
                Medicare & Medicaid
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensemedicare_medicaid" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseThree">
            <div class="panel-body table-bordered">
                <div class="form-group">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Medicare Information</div>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="control-label">Medicare Approved:</label>
                                    <label class="control-label small">Yes</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">Medicare Number:</label>
                                        <label class="control-label small">MA123000897</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">State</label>
                                        <label class="control-label small">Florida</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label">Issue Date </label>
                                        <label class="control-label small">4-3-2008</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Expiration Date </label>
                                        <label class="control-label small">4-3-2019</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="control-label">Any sanction imposed by Medicare? </label>
                                    <label class="control-label small">No</label>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Medicare License Certificate <i class="fa fa-file"></i></button>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>Medicaid Information</div>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="col-md-3 control-label">Medicaid Approved </label>
                                    <label class="control-label small">No</label>
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                    <br />
                   
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseTwo">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensecdsc" aria-expanded="false" aria-controls="licensecdsc">
                CDSC Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensecdsc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseFour">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Certificate Number:</label>
                            <label class="control-label small">19672625</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label">State of registration:</label>
                            <label class="control-label small">Florida</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label">Issue Date </label>
                            <label class="control-label small">4-3-2009</label>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="MobileNo" class="control-label">Expiration Date </label>
                            <label class="control-label small">4-3-2014</label>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View CDSC Certificate <i class="fa fa-file"></i></button>
                    </div>

                    <div class="clearfix"></div>

                   
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseFour">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licenseothers" aria-expanded="false" aria-controls="licenseothers">
                Other Identification Numbers
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licenseothers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseFive">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label">NPI Number </label>
                        <label class="control-label small">1245951379</label>
                       
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label">CAQH Number</label>
                        <label class="control-label small">A13409</label>
                      
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">UPIN Number</label>
                        <label class="control-label small">908076541</label>
                    </div>
                    <br />
                   
                </div>
            </div>
        </div>
    </div>
</div>
