.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fbfcfd;
    background-color: rgb(68, 103, 161);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: bold;
}

.nav-tabs > li > a:hover {
    background-color: #ddd;
}

.p_view_btn, .p_edit_btn, .p_delete_btn, .p_cancel_btn, .p_undo_btn {
    /*width:30%;*/
    padding-left: 2px;
    padding-right: 2px;
}
/*.p_edit_btn {
        
        padding-left: 5px;
        padding-right: 5px;
    }
    .p_delete_btn {
      
        padding-left: 5px;
        padding-right: 5px;
    }*/
.p_background {
    background: rgb(247, 247, 247);
}

.p_body_data_background {
    background: white;
}

legend.legendstyle {
    font-size: 15px;
    color: rgb(67, 102, 160);
    background-color: white;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: auto;
    border-bottom: 0px;
    margin-bottom: 0px;
}

fieldset.fieldsetStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    margin-top: 1% !important;
    padding: 4px;
    margin: 5px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

#cancel_reschedule_Date {
    display: none;
}

.cancelreschedule {
    display: none;
}

.btn {
    border-radius: 0px;
}

.p_list_btn {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
}

li.mainnav {
    margin-top: 6px;
}

    li.mainnav a {
        padding: 8px 20px;
    }



.encounter_container {
    padding: 5px;
}

.tableContainer {
    margin-left: -18px;
}



.EncounterListContainter {
}

.EncounterTabContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

.EncounterTabContainer ul {
    display: inline-flex !important;
    margin-top: 12px !important;
    padding-left: 12px !important;
}

    .EncounterTabContainer ul li {
        padding: 0px 4px 0px 0px !important;
    }

.EncounterTabContainer .list-item:hover:before, .list-item:hover:after {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.EncounterTabContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.EncounterTabContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.EncounterTabContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.EncounterTabContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.EncounterTabContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .EncounterTabContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .EncounterTabContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .EncounterTabContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .EncounterTabContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .EncounterTabContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.EncounterTabContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}

.padding_left_right_12px {
    padding-left: 12px;
    padding-right: 12px;
}




.border_on_panel {
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border: 1px solid #ddd;
    border-radius: 1px;
}


.badge-Schedules {
    background-color: #0288d1;
}

.badge-Active {
    background-color: #66b553;
}

.badge-Open {
    background-color: #ff6000;
}

.badge-RA {
    background-color: #314fa7;
}

.badge-Draft {
    background-color: #66b553;
}

.badge-Inactive {
    background-color: #314fa7;
}


/* Cancel Encounter Model*/

#cancelModal {
    overflow: auto;
    top: 8%;
}

#reasonTextAreaCancelEncMod{
    height:56px;
}

#cancelModelWidth{
    width:66%;
}

.margin-top_10{
    margin-top:10px;
}

#deleteModal{
    overflow: auto; top: 8%;
}

#noshowModal{
    overflow: auto; top: 8%;
}
#noshowModal textarea{
    height:70px;
}

#noshowModal .modal-dialog modal-md{
    width:66%;
}

#rescheduleModal{
        overflow: auto; top: 8%;
}
#rescheduleModal textarea{
    height:70px;
}

#reschedule_cancelModal{
     overflow: auto; top: 8%;
}

.cancelreschedule{
    margin-top:10px;
}

.ListResultTable{
    overflow-x: scroll;
}