body {
    overflow-x: hidden;
}

 .div-space {
    margin-top: -13px;
}

.dropdown-adjust {
    padding: 0px;
}

 .buttonFixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

 .formScroll {
    display: block;
    height: 48em;
    overflow-y: scroll;
    overflow-x: hidden;
}

 .notification-list {
    padding: 0px;
    list-style-type: none;
    font-size: 13px;
}

 .activity-list {
    padding: 0px;
    list-style-type: none;
    font-size: 13px;
}



     .activity-list li {
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }

     .activity-list li {
        color: #428bca;
    }

     .activity-list li {
        font-style: italic;
    }

 .notification-list li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


     .notification-list li a {
        color: #428bca;
        font-style: italic;
        text-decoration:none;
    }

 .notification-list .success-noti:before {
    content: "\f111";
    color: #5fba7d;
    font-family: FontAwesome;
    font-size: 10px;
}

 .notification-list .danger-noti:before {
    content: "\f111";
    color: #d43f3a;
    font-family: FontAwesome;
    font-size: 10px;
}



 .last-seen {
    color: #1d9d74;
    text-align: center;
}

.ak-input {
    height: 25px;
}

    .ak-input:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }

.ak-panel .edit i {
    cursor: pointer;
}

    .ak-panel .edit i:hover {
        color: #428bca;
    }

 .active-row {
    background-color: #ddd;
}




 fieldset {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

     fieldset .row {
        margin-bottom: 5px;
    }

 legend {
    color: #35a4e4;
    border: 1px solid #ddd;
    width: auto;
    border-radius: 6px;
    padding: 1px 12px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

 .scrollable-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 580px;
    margin-left: -15px;
}

.pk-panel .title {
    color: #3598db;
}

.pk-panel .panel-body {
    margin-top: -13px;
}

.pk-panel .row {
    margin-bottom: 2px;
}

 .left-menu {
    background: #f4f4f4;
    margin-top: 10px;
}

 .middle-content {
    background: #f4f4f4;
}

 .right-menu {
    background: #f4f4f4;
}

 .biscuit-container {
    padding: 15px 35px;
}

 .profile-biscuit {
    color: #fff;
    padding: 10px;
}

     .profile-biscuit .title {
        font-size: 15px;
        text-align: right;
    }

         .profile-biscuit .title label {
            font-size: 20px;
        }

 .profile-biscuit-one {
    background: #72c02c;
}

 .profile-biscuit-two {
    background: #3598db;
}

 .img-container {
    padding: 30px 10px 10px 10px;
    text-align: center;
}

 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
}

 .name-container {
    margin: 25px 0px;
    color: #428bca;
}

 .navbar-menu {
    list-style-type: none;
    padding: 0px;
}

     .navbar-menu li i {
        margin-right: 5px;
    }

     .navbar-menu li a {
        display: block;
        margin: 5px;
    }

     .navbar-menu li a {
        cursor: pointer;
        padding: 7px 15px;
    }

/*.navbar-menu li a:hover {
                border-left: #3799db solid 2px;
                padding: 8px 13px;
                color: #3799db;
            }*/


 .active-nav {
    border-left: #3799db solid 2px;
    padding: 8px 13px;
    color: #3799db;
    background: #f0f0f0;
}

 .navbar-menu li label i {
    margin-right: 10px;
}
