.tab-container {
    background: white;
    margin-top: 0px;
    padding: 0;
    max-height: 40px;
}

ul.tabs {
    margin: 11px 0px 0px 0px;
    /* list-style-type: ethiopic-halehame-ti-er; */
    line-height: 26px;
    max-height: 29px;
    overflow: hidden;
    display: inline-block;
    padding-right: 15px;
    padding: 0px;
    list-style: none;
}

    ul.tabs > li.active {
        z-index: 2;
        /*background: rgba(71,110,174,1) 32%;*/
        background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgb(67, 102, 160) 32%, rgb(219, 227, 240) 70%, rgba(125,160,217,1) 100%);
    }

        ul.tabs > li.active > a {
            color: white;
            font-weight: bold;
        }

        ul.tabs > li.active:before {
            border-color: transparent #efefef transparent transparent;
        }


        ul.tabs > li.active:after {
            border-color: transparent transparent transparent #efefef;
        }

    ul.tabs > li {
        float: left;
        margin: 3px 2px 0px 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 1px 0px 0px 10px;
        height: 170px;
        background: rgb(242, 242, 242);
        position: inherit;
        /* box-shadow: 0 10px 20px rgba(0,0,0,.5); */
        max-width: 200px;
        background: rgba(226,226,226,1);
        background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(10%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
        background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    }

        ul.tabs > li > a {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            color: #999;
        }

/*ul.tabs > li:before, ul.tabs > li:after {
                content: '';
                background: transparent;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                border-width: 10px;
                top: 0px;
                border-style: solid;
                position: absolute;
            }

            ul.tabs > li:before {
                border-color: transparent #ddd transparent transparent;
                -webkit-transform: rotate(48deg);
                left: -23px;
            }

            ul.tabs > li:after {
                border-color: transparent transparent transparent #ddd;
                -webkit-transform: rotate(-48deg);
                right: -17px;
            }*/

/* Clear Fix took for HTML 5 Boilerlate*/

/*.clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }*/

/*.clearfix:after {
        clear: both;
    }*/

/*.clearfix {
        zoom: 1;
    }*/

.outertabclose-red {
    /* margin-right: -16px; */
    background: rgba(244, 67, 54, 0.7) !important;
    /*border: 1px solid #E74C3C !important;*/
    color: #fff;
    border: 2px solid #fff;
}

.custombadge {
    margin-top: -4px;
    margin-left: 3px;
    /* margin-left: 0px; */
    display: inline-block;
    min-width: 8px;
    padding: 2px 3px 1px;
    font-size: 12px;
    font-weight: c bold;
    color: #fff;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 20px;
    cursor: pointer;
    /* transition: font-size 250ms; */
}
/*ul.tabs > li > span.custombadge:hover {
               font-size:12px;
            }*/

.tabstyle {
    width: auto;
    /*background-color: #779ad2;*/
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    height: 35px;
    border-radius: 0px 43px 0px 0px;
    padding-top: 2px;
    padding-right: 40px;
    border-left: 1px solid #3f68a8;
    border-top: 3px solid rgb(119, 154, 210);
    border-right: 3px solid rgb(63, 104, 168);
    border-bottom: 1px solid #779ad2;
    background: rgba(137,173,230,1);
    background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
}

/** The Bread Cum Css  **/
.btn-breadcrumb .btn:not(:last-child):after 
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before 
{
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn 
{
    padding:6px 12px 6px 24px;
}
    .btn-breadcrumb .btn:first-child 
    {
        padding:6px 6px 6px 10px;
    }
    .btn-breadcrumb .btn:last-child
    {
        padding:6px 18px 6px 24px;
        background:#1ABB9C;
        border:#1ABB9C;
    }

    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after 
    {
        border-left: 10px solid #fff;
    }
    .btn-breadcrumb .btn.btn-default:not(:last-child):before 
    {
        border-left: 10px solid #ccc;
    }
    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after 
    {
        border-left: 10px solid #ebebeb;
    }
    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before 
    {
        border-left: 10px solid #adadad;
    }

div.tabs{
    margin: 11px 0px 0px 0px;
}