/* only for select2 style full width*/

.select2-container {
    display: block;
}

/* end select2 */

.input-group[class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
}

#countryDailCodeContainer {
    display: inherit;
    top: 100%;
    left: 0%;
    width: inherit;
}

.popover {
    max-width: 100%;
}

.popover.bottom > .arrow {
    left: 30px;
}

#countryDailCodeContainer1 {
    margin-top: 45px;
}
