<!-- sidebar menu -->
<script src="~/Resources/Data/Menu%20_Data.js"></script>
<script src="~/Scripts/AppScripts/Home/Home.js"></script>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">
        <h3>Menu</h3>
        <ul class="nav side-menu">
            <li class="" ng-repeat="menu in menuItem | filter:Search">
                <a style="cursor:pointer;"><i ng-class="menu.IconClass"></i> {{menu.Heading}} <span ng-if="menu.childMenu.length>0" class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none;" ng-if="menu.childMenu.length>0">
                    <li ng-repeat="childMenuItem in menu.childMenu">
                        <a href="{{childMenuItem.href}}">{{childMenuItem.title}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small" style="display: block;">
    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>
<!-- /menu footer buttons -->
