


@* practice Information *@

<strong>Practice Information</strong>
<table class="table table-bordered small">
    <tbody ng-repeat="practice in delegationProfileObj.ProviderPracitceInfos track by $index">
        <tr>

            <td rowspan="2">
                <label for="textarea">
                    Location {{$index+1}}:<br />
                    Phone/Fax:
                </label>

            </td>

            <td colspan="6">

                <textarea class="form-control" id="textarea" name="textarea" ng-model="practice.Address"></textarea>
            </td>



        <tr>


            <td colspan="3">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.PhoneNumber">
            </td>
            <td colspan="3">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.FaxNumber">
            </td>

        </tr>

        <tr>
            <td colspan="1">

                <label for="textinput">Office Hours</label>
            </td>

            <td colspan="1">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.OfficeHourMondays">

            </td>
            <td colspan="1">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.OfficeHourTuesdays">

            </td>
            <td colspan="1">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.OfficeHourWednesdays">

            </td>
            <td colspan="1">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.OfficeHourThursdays">

            </td>
            <td colspan="1">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.OfficeHourFridays">

            </td>
        </tr>

        <tr>


            <td rowspan="2">
                <label for="textarea">
                    Billing:<br />
                    Information:
                </label>

            </td>

            <td colspan="6">

                <textarea class="form-control" id="textarea" name="textarea" ng-model="practice.BillingAddress"></textarea>
            </td>

        </tr>

        <tr>


            <td colspan="3">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.BillingPhoneNumber">
            </td>
            <td colspan="3">
                <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="practice.BillingFaxNumber">
            </td>

        </tr>



    </tbody>


</table>



