<span class="theme_depend text-uppercase TableHeading">PUBLIC HEALTH SERVICE HISTORY</span>
<span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-toggle="collapse" data-target="#PublicHealthService"><i class="fa fa-times" aria-hidden="true"></i></button></span>
<div class="x_content zero-padding-left">
    <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
        <thead class="theme_thead">
            <tr>
                <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>START DATE</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>END DATE</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>LAST LOCATION</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter col-lg-3" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>NOTES</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>ACTION</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody id="scrolldummybody">
            <tr>
                <td class="col-lg-2">10/22/2008</td>
                <td class="col-lg-2">10/22/2010</td>
                <td class="col-lg-3">SPRING HILL</td>
                <td class="col-lg-3" align="left">  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>First NAME:-</b> JEAN, <br /><b>Middle NAME:-</b> ROBERT, <br /><b>LAST NAME:-</b> KELLY.">...</a></td>
                <td class="col-lg-2" align="left">
                    <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <td class="col-lg-2">10/22/2008</td>
                <td class="col-lg-2">10/22/2009</td>
                <td class="col-lg-3">TAMPA</td>
                <td class="col-lg-3" align="left">  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>First NAME:-</b> JEAN, <br /><b>Middle NAME:-</b> ROBERT, <br /><b>LAST NAME:-</b> KELLY.">...</a></td>
                <td class="col-lg-2" align="left">
                    <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <td class="col-lg-2">10/22/2008</td>
                <td class="col-lg-2">10/22/20010</td>
                <td class="col-lg-3">SPRING HILL</td>
                <td class="col-lg-3" align="left">  <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(3),Changed <br /> <b>First NAME:-</b> JEAN, <br /><b>Middle NAME:-</b> ROBERT, <br /><b>LAST NAME:-</b> KELLY.">...</a></td>
                <td class="col-lg-2" align="left">
                    <button data-toggle="modal" data-target="#PersonalDetailsHistoryView" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
