<br />
<div class="col-lg-12 form-style zero-padding-left-right-div">
    <fieldset>
        <legend>
            Hospital Privilege Information
        </legend>
        <div class="col-lg-12" id="hospitalContainer">
            <div class="col-lg-12 text-center table-bordered">
                <div class="col-lg-3">Hospital Name</div>
                <div class="col-lg-3">Speciality</div>
                <div class="col-lg-3">Street Address</div>
                <div class="col-lg-3">View</div>
            </div>
            <div id="hospitalData">
                <div class="col-lg-12 text-center table-bordered">
                    <div class="col-lg-3 small">Florida Hospital De-Land</div>
                    <div class="col-lg-3 small">Internal Medicine</div>
                    <div class="col-lg-3 small">Street 1</div>
                    <div class="col-lg-3 small">
                        <button class="btn btn-xs btn-primary" onclick="toggleDiv('hospitalForm1',this)"><i class="fa fa-eye"></i></button>
                    </div>
                </div>
                <div class="col-lg-12" id="hospitalForm1" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label class="control-label small">Do You Have Hospital Privileges?</label>
                            <div><i class="data-label">Yes</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Hospital Name:</label>
                            <div><i class="data-label">Florida Hospital De-Land</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Hospital Type:</label>
                            <div><i class="data-label">Primary</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Street Address:</label>
                            <div><i class="data-label">Deland</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">State:</label>
                            <div><i class="data-label">Florida</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">City:</label>
                            <div><i class="data-label">West Plymound</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">ZIP Code:</label>
                            <div><i class="data-label">32720</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">County:</label>
                            <div><i class="data-label">Clay County</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Phone Number:</label>
                            <div><i class="data-label">8908908901</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Fax:</label>
                            <div><i class="data-label">3869434522</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Contact Person:</label>
                            <div><i class="data-label">Shah</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Phone Number:</label>
                            <div><i class="data-label">8907652341</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Fax:</label>
                            <div><i class="data-label">3869434522</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">E-Mail Address:</label>
                            <div><i class="data-label">ShahSingh@gmail.com</i></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">Speciality:</label>
                            <div><i class="data-label">Internal Medicine</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Full Unrestricted privileges</label>
                            <div><i class="data-label">No</i></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">Admitting Privilege Status</label>
                            <div><i class="data-label">-</i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center table-bordered">
                    <div class="col-lg-3 small">Oakhill Hospital</div>
                    <div class="col-lg-3 small">Urology</div>
                    <div class="col-lg-3 small">Street 2</div>
                    <div class="col-lg-3 small">
                        <button class="btn btn-xs btn-primary" onclick="toggleDiv('hospitalForm2', this)"><i class="fa fa-eye"></i></button>
                    </div>
                </div>
                <div class="col-lg-12" id="hospitalForm2" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label class="control-label small">Do You Have Hospital Privileges?</label>
                            <div><i class="data-label">Yes</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Hospital Name:</label>
                            <div><i class="data-label">Oak Hill</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Hospital Type:</label>
                            <div><i class="data-label">Primary</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">Street Address:</label>
                            <div><i class="data-label">Cortez Boulevard</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">State:</label>
                            <div><i class="data-label">Florida</i></div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label small">City:</label>
                            <div><i class="data-label">Brooksvill</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label small">ZIP Code:</label>
                            <div><i class="data-label">34613</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">County:</label>
                            <div><i class="data-label"></i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Phone Number:</label>
                            <div><i class="data-label">8889990001</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Fax:</label>
                            <div><i class="data-label">3525966632</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label small">Contact Person:</label>
                            <div><i class="data-label">Shah</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Phone Number:</label>
                            <div><i class="data-label">8099977731</i></div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="MobileNo" class="control-label small">Fax:</label>
                            <div><i class="data-label">3525966632</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">E-Mail Address:</label>
                            <div><i class="data-label">ShahSingh@gmail.com</i></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">Speciality:</label>
                            <div><i class="data-label">Urology</i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Full Unrestricted privileges</label>
                            <div><i class="data-label">No</i></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label small">Admitting Privilege Status</label>
                            <div><i class="data-label">-</i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>