@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@using PortalTemplate.Helper

<div class="addCptRangeMainContainer">
    @*CPT CODES RANGE SELECTION*@
    <div>
        <div class="col-lg-12">
            <label class="pull-left" style="margin-left:10px">From:</label>
        </div>
        <div class="col-lg-12" id="">
            <div class="col-lg-3">
                <div class="col-lg-8 col-md-2 col-sm-8 col-xs-4  theme_label_data zero-padding-left-right">
                    @Html.TextBoxFor(e => e.CPTCodes[0].CPTCode, new { @class = "form-control input-xs mandatory_field_halo cptRangeCode_dropdown loser_field",@id="cpt_Range_Code", @placeholder = "CPT Code" })
                </div>
            </div>
            <div class="col-lg-6">
                <input type="text" id="cpt_Range_CodeDesc" class="form-control input-xs read_only_field" placeholder="CPT Desc" value="" readonly>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="col-lg-12">
            <label class="pull-left" style="margin-left:10px">To:</label>
        </div>
        <div class="col-lg-12" id="addCPTRange_Modal_ToField">
            <div class="col-lg-3">
                <div class="col-lg-8 col-md-2 col-sm-8 col-xs-4  theme_label_data zero-padding-left-right">
                    @Html.TextBoxFor(e => e.CPTCodes[0].CPTCode, new { @class = "form-control input-xs mandatory_field_halo cptRangeCode_dropdown loser_field", @id = "cpt_Range_Code1", @placeholder = "CPT Code" })
                </div>
            </div>
            <div class="col-lg-6">
                <input type="text" id="cpt_Range_Code1Desc" name="cptrangetodesc" class="form-control input-xs read_only_field" placeholder="CPT Desc" value="" readonly>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-xs btn-primary pull-right searchCptRangeBtn" disabled>Search</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div><br />
    @*CPT CODES RANGE TABLE MAIN DIV*@
    <div class="x_panel border_on_panel cptRangeTableDisplayDiv plnotvisible" id="cptRangeTableDiv">
        <div class="x_content zero-padding-left" style="padding:0px;margin-top:0px">
            <div class="col-lg-12" style="margin-top:10px">
                <div class="col-lg-2">
                    <label>CPT CODES</label>
                </div>
                <div class="col-lg-5">
                    @*<input type="checkbox" value="CHECK ALL" style="width: 30%;" class="checkbox-radio form-control checkAllcptsBtn"> 
                    <input type="checkbox" value="UNCHECK ALL" style="width: 37%;" class="checkbox-radio pull-right form-control unCheckAllcptsBtn">*@
                    <button class="col-lg-5 btn btn-xs btn-success selectAllCPTRange">Check All</button>
                    <button class="col-lg-5 btn btn-xs btn-primary pull-right UnSelectAllCPTRange">Uncheck All</button>
                </div>
            </div>
            @*CPT CODES RANGE TABLE *@
                <div class="col-lg-12" style="overflow-x:hidden;overflow-y:scroll;max-height:260px">
                    <table class="table cptrangetable">
                        <tbody class="cptrangetablebody">
                           
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div><br />
                <div class="text-center" style="border-top: 2px solid #7fa2b3;">
                    <input type="submit" value="SELECT" style="width: 10%;margin:10px;" class="checkbox-radio form-control selectCheckCPTCodes">
                </div>
        </div>
    </div>
</div>

<p-script filepath="~/Areas/UM/Scripts/Authorization/ICDCPTCommom/NonMinified/CPTRange.js"></p-script>