
<div class="col-lg-12">
    <div class="col-lg-8">
        <button class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
    </div>
    <div class="col-lg-4">
        <button type="button" class="btn btn-success pull-right">Confirm</button>
    </div>
</div>