@*<div class="modal fade" tabindex="-1" role="dialog" id="PreAuthPendModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-md ">
        <form class="modal-content">
            <div class="modal-header bg-primary">
              
            </div>

            <div class="modal-body  uppercase previewModalStyle text-uppercase minHeighPendModal">


              
            </div>
            <div class="modal-footer">
          
            </div>
        </form>
    </div>
</div>

<a href="~/Areas/UM/Views/PortalAuth/PortalPendModal/_Body.cshtml">~/Areas/UM/Views/PortalAuth/PortalPendModal/_Body.cshtml</a>
<a href="~/Areas/UM/Views/PortalAuth/PortalPendModal/_Footer.cshtml">~/Areas/UM/Views/PortalAuth/PortalPendModal/_Footer.cshtml</a>
<a href="~/Areas/UM/Views/PortalAuth/PortalPendModal/_Header.cshtml">~/Areas/UM/Views/PortalAuth/PortalPendModal/_Header.cshtml</a>*@