<style>
    .facility, .icdDesc, .svDesc {
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        border-color: white;
        transition: all ease-in-out 0.1s;
    }

</style>


<div class="col-lg-12 zero-padding-left-right">
    <div class="width_13_percent innerTabsContainer">
        <ul class="list-unstyled x-dtablist innertabs-menu">
            <li class="tab-item current">
                <a href="#allpartA" class="list-item inner_no_underline">
                    All Part A
                </a>
            </li>
            <li>
                <a href="#hosp" class="list-item inner_no_underline">
                    HOSP
                </a>
            </li>
            <li>
                <a href="#snf" class="list-item inner_no_underline">
                    SNF
                </a>
            </li>
            <li>
                <a href="#hhc" class="list-item inner_no_underline">
                    HHC
                </a>
            </li>
            <li>
                <a href="#allpartB" class="list-item inner_no_underline">
                    All Part B
                </a>
            </li>
            <li>
                <a href="#dme" class="list-item inner_no_underline">
                    DME
                </a>
            </li>
            <li>
                <a href="#spec" class="list-item inner_no_underline">
                    SPEC
                </a>
            </li>
            <li>
                <a href="#diagnostics" class="list-item inner_no_underline">
                    Diagnostics
                </a>
            </li>
            <li>
                <a href="#partBdrugs" class="list-item inner_no_underline">
                    Part B Drugs
                </a>
            </li>
            <li>
                <a href="#partD" class="list-item inner_no_underline">
                    Part D
                </a>
            </li>
        </ul>
    </div>

    <div class="tab">
        <div id="allpartA" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="allpartATable"></tbody>
            </table>
        </div>
        <div id="hosp" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="hospTable"></tbody>
            </table>
        </div>
        <div id="snf" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="snfTable"></tbody>
            </table>
        </div>
        <div id="hhc" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="hhcTable"></tbody>
            </table>
        </div>
        <div id="allpartB" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="allpartBTable"></tbody>
            </table>
        </div>
        <div id="dme" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="dmeTable"></tbody>
            </table>
        </div>
        <div id="spec" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="specTable"></tbody>
            </table>
        </div>
        <div id="diagnostics" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="diagnosticsTable"></tbody>
            </table>
        </div>
        <div id="partBdrugs" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="partBdrugsTable"></tbody>
            </table>
        </div>
        <div id="partD" class="innercustomtab-content">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="theme_thead">
                    <tr>
                        
                        <th>MEMBER NAME</th>
                        <th>CLAIMS NO</th>
                        <th>BILL TYPE</th>
                        <th>FROM DOS</th>
                        <th>TO DOS</th>
                        <th>PROVIDER/FACILITY</th>
                        <th>POS</th>
                        <th>ICD DESC</th>
                        <th>SERVICE DESC</th>
                        <th>CHARGE</th>
                        <th>PAID DATE</th>
                        <th>NET PAID</th>
                    </tr>
                </thead>
                <tbody id="partDTable"></tbody>
            </table>
        </div>
    </div>
</div>