


<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }

    .customtab-content {
        display: none;
    }

    #tab_0 {
        display: block;
    }

    .my_small_tile {
        color: #18758f;
        border: 1px solid #18758f;
        border-bottom: 3px solid #18758f;
    }
</style>

<style>
        .x-dtablist {
            display: inline-flex;
        }
        /*li.current{
        font-weight: bold;
            background: #547cbd;
            color: #fffcfb;
            -webkit-transform: translate(0px, -6px);
            transform: translate(0px, -6px);
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
    }*/
        .viewAuthTabsContainer .current > a.list-item {
            color: rgb(255, 255, 255);
            font-weight: bold;
            border-bottom: none;
            border-top: 5px solid rgb(255, 157, 0);
            /* font-size: 112%; */
            background-color: white;
            background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgb(67, 102, 160) 32%, rgb(71, 106, 164) 70%, rgba(125,160,217,1) 100%);
        }



        .viewAuthTabsContainer .list-item {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            padding: 0px 4px;
            /* background: rgba(158, 158, 158, 0.31); */
            color: #626465;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            height: auto;
            width: 115px;
            vertical-align: middle;
            line-height: 2.8em;
            border-bottom: 1px solid rgb(255, 157, 0);
            border-left: 1px solid rgb(255, 157, 0);
            position: relative;
            display: block;
            text-decoration: none;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
            margin-right: 3px;
            cursor: pointer;
            /* font-size: 112%; */
        }

        .viewAuthTabsContainer .list-item {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
        }

            .viewAuthTabsContainer .list-item:hover {
                font-weight: bold;
                background: #f3f3f3;
                color: #0096da;
                /*-webkit-transform: translate(0px, -6px);
            transform: translate(0px, -6px);
            -webkit-transition: all .25s linear;
            transition: all .25s linear;*/
                /* box-shadow: -2em 2em 0 #e1e1e1; */
                /* margin-right: 16px; */
            }

                .viewAuthTabsContainer .list-item:hover:before, .list-item:hover:after {
                    -webkit-transition: all .25s linear;
                    transition: all .25s linear;
                }

            /*.list-item:hover:before {
                background: #b65234;
                width: 5px;
                top: 2px;
                left: -5px;
            }*/

            /*.list-item:hover:after {
                background: #88d7ff;
                width: 5px;
                bottom: -45px;
                left: 40px;
                height: 85px;
            }*/

            .viewAuthTabsContainer .list-item:before, .viewAuthTabsContainer .list-item:after {
                content: '';
                position: absolute;
                -webkit-transition: all .25s linear;
                transition: all .25s linear;
                width: 0.5em;
            }

            .viewAuthTabsContainer .list-item:after {
                /* height: 85px; */
                background: #e4e4e4;
                bottom: -46px;
                left: 37px;
                -webkit-transform: rotate(90deg) skew(0, 45deg);
                transform: rotate(90deg) skew(0deg, 0deg);
            }

            .viewAuthTabsContainer .list-item:before {
                /* height: 3.5em; */
                background: #e4e4e4;
                top: 0.25em;
                left: -.5em;
                -webkit-transform: skewY(-45deg);
                transform: skewY(-45deg);
            }

        .no_underline, .no_underline:hover, .no_underline:active {
            text-decoration: none;
        }

        /*=====================================================================================================*/
        .innerTabsContainer .current > a.list-item {
            color: rgb(255, 255, 255);
            font-weight: bold;
            border-bottom: none;
            border-top: 5px solid rgb(255, 157, 0);
            /* font-size: 112%; */
            background-color: white;
            background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgb(67, 102, 160) 32%, rgb(71, 106, 164) 70%, rgba(125,160,217,1) 100%);
        }



        .innerTabsContainer .list-item {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            padding: 0px 4px;
            /* background: rgba(158, 158, 158, 0.31); */
            color: #626465;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            height: auto;
            width: 115px;
            vertical-align: middle;
            line-height: 2.8em;
            border-bottom: 1px solid rgb(255, 157, 0);
            border-left: 1px solid rgb(255, 157, 0);
            position: relative;
            display: block;
            text-decoration: none;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
            margin-right: 3px;
            cursor: pointer;
            /* font-size: 112%; */
        }

        .innerTabsContainer .list-item {
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
            overflow: hidden !important;
        }

            .innerTabsContainer .list-item:hover {
                font-weight: bold;
                background: #f3f3f3;
                color: #0096da;
                /*-webkit-transform: translate(0px, -6px);
            transform: translate(0px, -6px);
            -webkit-transition: all .25s linear;
            transition: all .25s linear;*/
                /* box-shadow: -2em 2em 0 #e1e1e1; */
                /* margin-right: 16px; */
            }

                .innerTabsContainer .list-item:hover:before, .list-item:hover:after {
                    -webkit-transition: all .25s linear;
                    transition: all .25s linear;
                }

            /*.list-item:hover:before {
                background: #b65234;
                width: 5px;
                top: 2px;
                left: -5px;
            }*/

            /*.list-item:hover:after {
                background: #88d7ff;
                width: 5px;
                bottom: -45px;
                left: 40px;
                height: 85px;
            }*/

            .innerTabsContainer .list-item:before, .innerTabsContainer .list-item:after {
                content: '';
                position: absolute;
                -webkit-transition: all .25s linear;
                transition: all .25s linear;
                width: 0.5em;
            }

            .innerTabsContainer .list-item:after {
                /* height: 85px; */
                background: #e4e4e4;
                bottom: -46px;
                left: 37px;
                -webkit-transform: rotate(90deg) skew(0, 45deg);
                transform: rotate(90deg) skew(0deg, 0deg);
            }

            .innerTabsContainer .list-item:before {
                /* height: 3.5em; */
                background: #e4e4e4;
                top: 0.25em;
                left: -.5em;
                -webkit-transform: skewY(-45deg);
                transform: skewY(-45deg);
            }

        .inner_no_underline, .inner_no_underline, .inner_no_underline {
            text-decoration: none;
        }


        .innercustomtab-content {
            display: none;
        }

        #allpartA {
            display: block;
        }
</style>



<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    REFFERED BY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="done" isdone="1" rel="2">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SYSTEM IDENTIFIED PROBLEMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="done" isdone="1" rel="3">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    RX
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="done" isdone="1" rel="4">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    HRA HISTORY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-5" class="selected" isdone="0" rel="5">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CLAIMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-6" class="disabled" isdone="0" rel="6">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    UM
                </span>
            </a>
        </li>
        <li>
            <a href="#step-7" class="disabled" isdone="0" rel="7">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    NOTES
                </span>
            </a>
        </li>
        <li>
            <a href="#step-8" class="disabled" isdone="0" rel="8">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CONTACTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-9" class="disabled" isdone="0" rel="9">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DOCUMENTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-10" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    LETTERS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-11" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SUMMARY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-12" class="disabled" isdone="0" rel="11">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DECISION
                </span>
            </a>
        </li>

    </ul>

    @*<div class="margin_top_20_px button-styles">
            <button class="edit-button pull-left" id="GoBackToHRA">Back</button>
            <button class="view-button pull-right" id="GoToUMbtn">Done</button>
        </div>


        <div class="col-lg-12">
            <br />
        </div>*@



    <div class="summary_sectionsDiv">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="text-uppercase">Member Summary &nbsp;</span>
            </legend>
            <div class="panel-body">

                <select class="dropdown_selector input-xs non_mandatory_field_halo pull-right">
                    <option selected="selected" value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                </select>

                <label class="pull-right">Year - &nbsp;&nbsp;&nbsp;</label>

                <div class="col-lg-12 zero-padding-left-right">

                    <div class="col-lg-3 zero-padding-left-right">
                        <div class="small_tile info_small_tile">
                            <div class="small_tile_header">

                            </div>
                            <div class="small_tile_body">
                                <span>Total</span>
                                <br />
                                <b>$146,614</b>
                            </div>
                        </div>

                        <div style="margin-left:-15px">
                            <div id="HighCostClaimsReport">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <div class="small_tile success_small_tile">
                            <div class="small_tile_header">
                            </div>
                            <div class="small_tile_body">
                                <span>Part A</span>
                                <br />
                                <b>$61,584</b>
                            </div>
                        </div>

                        <div style="margin-left:-15px">
                            <div id="HighCostClaimsReport1">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <div class="small_tile my_small_tile">
                            <div class="small_tile_header">

                            </div>
                            <div class="small_tile_body">
                                <span>Part B</span>
                                <br />
                                <b>$50,567</b>
                            </div>
                        </div>

                        <div style="margin-left:-15px">
                            <div id="HighCostClaimsReport2">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 zero-padding-left-right">
                        <div class="small_tile info_small_tile">
                            <div class="small_tile_header">

                            </div>
                            <div class="small_tile_body">
                                <span>Part D</span>
                                <br />
                                <b>$34,463</b>
                            </div>
                        </div>

                        <div style="margin-left:-15px">
                            <div id="HighCostClaimsReport3">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 zero-padding-left-right">
                    <br />
                </div>
            </div>
        </fieldset>
    </div>




    <div class="col-lg-12">
        <br />
    </div>

    <div class="col-lg-12 zero-padding-left-right">
        <div class="width_13_percent viewAuthTabsContainer">
            <ul class="list-unstyled x-dtablist tabs-menu">
                <li class="tab-item current">
                    <a href="#tab_0" class="list-item no_underline" style="width:auto">
                        Prospective Claims
                    </a>
                </li>
                <li>
                    <a href="#tab_0" class="list-item no_underline">
                        Paid Claims
                    </a>
                </li>
                <li>
                    <a href="#tab_0" class="list-item no_underline">
                        All Claims
                    </a>
                </li>
                <li>
                    <a href="#tab_0" class="list-item no_underline">
                        Encounters
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab">
            <div id="tab_0" class="customtab-content">

                @Html.Partial("~/Views/CaseManagement/CreateEpisode/_ClaimsTabs.cshtml")
            </div>
            @*<div id="tab_1" class="customtab-content">

                    @Html.Partial("~/Views/CaseManagement/CreateEpisode/_ClaimsTabs.cshtml")
                </div>
                <div id="tab_2" class="customtab-content">

                    @Html.Partial("~/Views/CaseManagement/CreateEpisode/_ClaimsTabs.cshtml")
                </div>
                <div id="tab_3" class="customtab-content">

                    @Html.Partial("~/Views/CaseManagement/CreateEpisode/_ClaimsTabs.cshtml")
                </div>*@
        </div>
    </div>


    <div class="col-lg-12">
        <br />
    </div>


    <div class="margin_top_20_px button-styles">
        <button class="edit-button pull-left" id="GoBackToHRA">Back</button>
        <button class="view-button pull-right" id="GoToUMbtn">Done</button>
    </div>
</div>


