

<p-link filepath="~/Scripts/AppScripts/ClearingHouse/src/bootstrap-duallistbox.css"></p-link>



<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }

    #tab0 {
        display: block;
    }

    .my_small_tile {
        color: #18758f;
        border: 1px solid #18758f;
        border-bottom: 3px solid #18758f;
    }

    .wizard_horizontal ul.wizard_steps li {
        display: table-cell !important;
        text-align: center;
        width: 5%;
    }
</style>



<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    REFFERED BY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="done" isdone="1" rel="2">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SYSTEM IDENTIFIED PROBLEMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="done" isdone="1" rel="3">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    RX
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="done" isdone="1" rel="4">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    HRA HISTORY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-5" class="done" isdone="1" rel="5">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CLAIMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-6" class="done" isdone="1" rel="6">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    UM
                </span>
            </a>
        </li>
        <li>
            <a href="#step-7" class="done" isdone="1" rel="7">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    NOTES
                </span>
            </a>
        </li>
        <li>
            <a href="#step-8" class="done" isdone="1" rel="8">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CONTACTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-9" class="done" isdone="1" rel="9">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DOCUMENTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-10" class="done" isdone="1" rel="10">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    LETTERS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-11" class="done" isdone="1" rel="10">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SUMMARY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-12" class="selected" isdone="0" rel="11">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DECISION
                </span>
            </a>
        </li>

    </ul>

    @*<div class="margin_top_20_px button-styles">
            <button class="edit-button pull-left" id="GoBackToLetters">Back</button>
            <button class="view-button pull-right" id="GotoDecision">Done</button>
        </div>


        <div class="col-lg-12">
            <br />
        </div>*@

    <style>
        .material-switch > input[type="radio"] {
            display: none;
        }

        .material-switch > label {
            cursor: pointer;
            height: 0px;
            position: relative;
            width: 40px;
        }

            .material-switch > label::before {
                background: rgb(0, 0, 0);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
                border-radius: 8px;
                content: '';
                height: 16px;
                margin-top: -8px;
                position: absolute;
                opacity: 0.3;
                transition: all 0.4s ease-in-out;
                width: 40px;
            }

            .material-switch > label::after {
                background: rgb(255, 255, 255);
                border-radius: 16px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                content: '';
                height: 24px;
                left: -4px;
                margin-top: -8px;
                position: absolute;
                top: -4px;
                transition: all 0.3s ease-in-out;
                width: 24px;
            }

        .material-switch > input[type="radio"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="radio"]:checked + label::after {
            background: inherit;
            left: 20px;
        }
    </style>


    <div class="col-lg-12 zero-padding-left-right">
        <div class="col-lg-4 zero-padding-left-right">
            <div class="summary_sectionsDiv">
                <fieldset class="fsStyle">
                    <legend class="legendStyle">
                        <span class="text-uppercase">EPISODE TYPE</span>
                    </legend>
                    <div class="panel-body">

                        <ul class="list-group" style="border:0px">    
                            <li class="list-group-item" style="border:0px">
                                CASE MANAGEMENT
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionInfo" name="someSwitchOption001" type="radio" />
                                    <label for="someSwitchOptionInfo" class="label-info"></label>
                                </div>
                            </li> 
                            <li class="list-group-item" style="border:0px">
                                DISEASE MANAGEMENT 
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionInfo1" name="someSwitchOption001" type="radio" />
                                    <label for="someSwitchOptionInfo1" class="label-info"></label>
                                </div>
                            </li> 
                            <li class="list-group-item" style="border:0px">
                                NOT A CANDIDATE
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionInfo2" name="someSwitchOption001" type="radio" />
                                    <label for="someSwitchOptionInfo2" class="label-info"></label>
                                </div>
                            </li> 
                            <li class="list-group-item" style="border:0px">
                                REVIEW ONLY 
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionInfo3" name="someSwitchOption001" type="radio" />
                                    <label for="someSwitchOptionInfo3" class="label-info"></label>
                                </div>
                            </li>   
                        </ul>

                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-4 zero-padding-left-right">
            <div class="summary_sectionsDiv">
                <fieldset class="fsStyle">
                    <legend class="legendStyle">
                        <span class="text-uppercase">EPISODE SUMMARY</span>
                    </legend>
                    <div class="panel-body">


                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-4 zero-padding-left-right">
            <div class="summary_sectionsDiv">
                <fieldset class="fsStyle">
                    <legend class="legendStyle">
                        <span class="text-uppercase">EPISODE STATUS</span>
                    </legend>
                    <div class="panel-body">
    
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="button-styles">
        <button class="edit-button pull-left" id="GoBackToSummary">Back</button>
        <button class="view-button pull-right" id="GotoDecision">Done</button>
    </div>

</div>


