

<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }

    #tab0 {
        display: block;
    }

    .my_small_tile {
        color: #18758f;
        border: 1px solid #18758f;
        border-bottom: 3px solid #18758f;
    }

    .checkboxes{
        display:inline-flex;
    }
</style>



<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    REFFERED BY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="done" isdone="1" rel="2">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SYSTEM IDENTIFIED PROBLEMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="done" isdone="1" rel="3">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    RX
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="done" isdone="1" rel="4">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    HRA HISTORY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-5" class="done" isdone="1" rel="5">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CLAIMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-6" class="done" isdone="1" rel="6">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    UM
                </span>
            </a>
        </li>
        <li>
            <a href="#step-7" class="selected" isdone="0" rel="7">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    NOTES
                </span>
            </a>
        </li>
        <li>
            <a href="#step-8" class="disabled" isdone="0" rel="8">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CONTACTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-9" class="disabled" isdone="0" rel="9">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DOCUMENTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-10" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    LETTERS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-11" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SUMMARY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-12" class="disabled" isdone="0" rel="11">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DECISION
                </span>
            </a>
        </li>

    </ul>

    @*<div class="margin_top_20_px button-styles">
        <button class="edit-button pull-left" id="GoBackToUM">Back</button>
        <button class="view-button pull-right" id="GotoContacts">Done</button>
    </div>

    <div class="col-lg-12">
        <br />
    </div>*@



    <div class="summary_sectionsDiv">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="text-uppercase">Notes &nbsp;</span>
                <span class="text-uppercase pull-right">
                    <a class="custom-button print_button_beside_table table_print_btn pull-right" style="margin-top: -5px;" data-toggle="tooltip" data-placement="top" title="Print">
                        <img src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </legend>
            <div class="panel-body">
               
                <div class="col-lg-12 zero-padding-left-right">

                    <div class="col-lg-12 checkboxes zero-padding-left-right">

                        <div>
                            <input id="MH" type="checkbox" name="radio1" class="checkbox-radio" value="1" checked="checked">
                            <label for="MH">
                                <span> </span>MH
                            </label>
                        </div>

                        <div>
                            <input id="UM" type="checkbox" name="radio2" class="checkbox-radio" value="2" checked="checked">
                            <label for="UM">
                                <span> </span>UM
                            </label>
                        </div>
                        <div>
                            <input id="CM" type="checkbox" name="radio3" class="checkbox-radio" value="3" checked="checked">
                            <label for="CM">
                                <span> </span>CM
                            </label>
                        </div>
                        <div>
                            <input id="DM" type="checkbox" name="radio4" class="checkbox-radio" value="4" checked="checked">
                            <label for="DM">
                                <span> </span>DM
                            </label>
                        </div>
                        <div>
                            <input id="AG" type="checkbox" name="radio5" class="checkbox-radio" value="5" checked="checked">
                            <label for="AG">
                                <span> </span>AG
                            </label>
                        </div>

                        <div>
                            <input id="checkAll" type="checkbox" name="radio6" class="checkbox-radio" value="6" checked="checked">
                            <label for="checkAll">
                                <span> </span>SHOW ALL
                            </label>
                        </div>
                    </div>

                    <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                        <thead class="theme_thead">
                            <tr>
                                <th>MODULE</th>
                                <th>REF ID/EPISODE ID</th>
                                <th>NOTE TYPE</th>
                                <th>DATE & TIME</th>
                                <th>CREATED BY</th>
                                <th>SUBJECT</th>
                                <th>NOTE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="Notes_Data"></tbody>
                    </table>

                </div>
                @*<div class="col-lg-12">
                    <br />
                </div>*@
            </div>
        </fieldset>
    </div>




    @*<div class="col-lg-12">
        <br />
    </div>*@



    <div class="button-styles">
        <button class="edit-button pull-left" id="GoBackToUM">Back</button>
        <button class="view-button pull-right" id="GotoContacts">Done</button>
    </div>
</div>

@*<script>
    $('input[type=radio]').on('click', function () {
        $(this).applyRadioStyles({ RadioClasses: ['checkbox-radio', 'normal-radio'] });
       
    });

</script>*@
