
<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }
</style>



<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    REFFERED BY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="selected" isdone="0" rel="2">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SYSTEM IDENTIFIED PROBLEMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="disabled" isdone="0" rel="3">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    RX
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="disabled" isdone="0" rel="4">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    HRA HISTORY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-5" class="disabled" isdone="0" rel="5">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CLAIMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-6" class="disabled" isdone="0" rel="6">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    UM
                </span>
            </a>
        </li>
        <li>
            <a href="#step-7" class="disabled" isdone="0" rel="7">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    NOTES
                </span>
            </a>
        </li>
        <li>
            <a href="#step-8" class="disabled" isdone="0" rel="8">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CONTACTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-9" class="disabled" isdone="0" rel="9">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DOCUMENTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-10" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    LETTERS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-11" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SUMMARY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-12" class="disabled" isdone="0" rel="11">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DECISION
                </span>
            </a>
        </li>

    </ul>
    @*<div class="margin_top_20_px button-styles">
        <button class="edit-button pull-left" id="BackToReferrredBy">Back</button>
        <button class="view-button pull-right" id="GoToRXbtn">Done</button>
    </div>
        
    <div class="col-lg-12">
        <br />
    </div>*@
    <div class="col-lg-12 zero-padding-left-right">
        <div class="summary_sectionsDiv">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">POTENTIAL DISEASES&nbsp;</span>
                </legend>
                <div class="panel-body">
                    <div class="col-lg-12 zero-padding-left-right">
                        <div class="x_content">
                            <div class="col-lg-6 divider-dashed-right zero-padding-left-right">
                                <div class="text-center admission_section">
                                    <label for="fullname" class="los_labels">POTENTIAL PROBLEMS</label>
                                </div>

                                <div class="col-lg-4"></div>

                                <div class="col-lg-4 zero-padding-left">
                                    <div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;Depression</div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;Transport</div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;Lives Alone</div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;DME</div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;WC</div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;Walker</div>

                                    </div>
                                </div>

                                <div class="col-lg-4"></div>
                            </div>
                            <div class="col-lg-6 zero-padding-left-right ">
                                <div class="col-lg-12  text-center admission_section">
                                    <label for="fullname" class="los_labels">POTENTIAL DISEASES</label>
                                </div>

                                <div class="col-lg-4"></div>

                                <div class="col-lg-4 zero-padding-left">
                                    <div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;HTN</div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;COPD</div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;HF</div>
                                        <div><span class="label label-primary">HRA</span>&nbsp;<span class="Lowercasing">HgvA1C</span></div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;<span>BP</span></div>
                                        <div><span class="label label-warning">CLA</span>&nbsp;ETC</div>

                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>



        
    @*<div class="col-lg-12">
        <br />
    </div>*@
   

    <div class="button-styles">
        <button class="edit-button pull-left" id="BackToReferrredBy">Back</button>
        <button class="view-button pull-right" id="GoToRXbtn">Done</button>
    </div>
</div>