
<style>
    .summary_sectionsDiv > fieldset.fsStyle {
        margin-bottom: 5px !important;
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .labelaligned {
        padding: 0.1em 0.4em 0.1em !important;
        font-size: 90% !important;
    }

    #tab0 {
        display: block;
    }

    .my_small_tile {
        color: #18758f;
        border: 1px solid #18758f;
        border-bottom: 3px solid #18758f;
    }
</style>



<div class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor">
        <li>
            <a href="#step-1" class="done" isdone="1" rel="1">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    REFFERED BY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="done" isdone="1" rel="2">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SYSTEM IDENTIFIED PROBLEMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="done" isdone="1" rel="3">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    RX
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="done" isdone="1" rel="4">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    HRA HISTORY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-5" class="done" isdone="1" rel="5">
                <span class="step_no"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CLAIMS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-6" class="selected" isdone="0" rel="6">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    UM
                </span>
            </a>
        </li>
        <li>
            <a href="#step-7" class="disabled" isdone="0" rel="7">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    NOTES
                </span>
            </a>
        </li>
        <li>
            <a href="#step-8" class="disabled" isdone="0" rel="8">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    CONTACTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-9" class="disabled" isdone="0" rel="9">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DOCUMENTS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-10" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    LETTERS
                </span>
            </a>
        </li>
        <li>
            <a href="#step-11" class="disabled" isdone="0" rel="10">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    SUMMARY
                </span>
            </a>
        </li>
        <li>
            <a href="#step-12" class="disabled" isdone="0" rel="11">
                <span class="step_no"><i class="fa fa-times" aria-hidden="true"></i></span>
                <span class="step_descr">
                    DECISION
                </span>
            </a>
        </li>

    </ul>

    @*<div class="margin_top_20_px button-styles">
            <button class="edit-button pull-left" id="GoBackToClaims">Previous</button>
            <button class="view-button pull-right" id="GotoNotes">Next</button>
        </div>

        <div class="col-lg-12">
            <br />
        </div>*@

    <div class="summary_sectionsDiv">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <span class="text-uppercase">Utilization Management &nbsp;</span>
            </legend>
            <div class="panel-body">
                <div class="col-lg-12">
                    <br />
                </div>
                <div class="col-lg-12">

                    <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                        <thead class="theme_thead">      
                            <tr>
                                <th></th>
                                <th>ABV</th>
                                <th>REF #</th>
                                <th>FROM</th>
                                <th>TO</th>
                                <th>SVC PROV</th>
                                <th>REQUEST</th>
                                <th>FACILITY</th>
                                <th>AUTH</th>
                                <th>DATE OF SVC</th>
                                <th>UNITS</th>
                                <th>STATUS</th>
                                <th>POS</th>
                                <th>DX</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody id="UMDataRows">
                            
                        </tbody>
                    </table>

                </div>
                @*<div class="col-lg-12">
                    <br />
                </div>*@
            </div>
        </fieldset>
    </div>




    @*<div class="col-lg-12">
            <br />
        </div>*@



    <div class="button-styles">
        <button class="edit-button pull-left" id="GoBackToClaims">Back</button>
        <button class="view-button pull-right" id="GotoNotes">Done</button>
    </div>
</div>


