@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;


@{
    ViewBag.Title = "Certifications";
}
@section AddToHead{
<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/Custom/MasterDataNew/CertificationsController.js"></script>
}
<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                        <i class="fa fa-certificate"></i> Certification
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="masterDataCertifications" ng-controller="masterDataCertificationsController" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Certification Management
                        <span class="pull-right">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                if (roles.Contains("CRA"))
                                {
                                    <button ng-disabled="disableAdd" ng-click="addCertification()" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>Add</button>
                                }
                            }
                        </span>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div ng-show="activeMessageDiv=='CertificationDetails'" class="alert alert-success" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <div ng-show="activeMessageDiv=='CertificationDetailsError'" class="alert alert-danger" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="col-lg-4">Name *</th>
                                    <th class="col-lg-2">Code</th>
                                    <th class="col-lg-2">Status</th>
                                    <th class="col-lg-2">Last Modified Date</th>
                                    <th class="col-lg-2">Action</th>
                                </tr>
                                <tr ng-show="Certifications.length>0">
                                    <td><input type="text" placeholder="Filter Name" class="form-control input-sm " ng-model="search.Name" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Code" class="form-control input-sm " ng-model="search.Code" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Status" class="form-control input-sm " ng-model="search.Status" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter LastModifiedDate" class="form-control input-sm " ng-model="search.LastModifiedDate" ng-change="filterData()" /></td>
                                    <td></td>
                                </tr>

                            </thead>
                            <tbody ng-show="Certifications.length>0">
                                <tr ng-repeat="cert in CertificationsData=(Certifications| filter:{Name:search.Name,Code:search.Code,Status:search.Status,LastModifiedDate:search.LastModifiedDate}) track by $index" ng-include="getTemplate(cert)" ng-show="IsValidIndex($index)"></tr>
                            </tbody>
                            <tbody ng-show="CertificationsData.length==0 || Certifications.length==0 ">
                                <tr class="text-center">
                                    <td colspan="5"><b>No Data Available</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <script type="text/ng-template" id="displayCertification">
                            <td>{{cert.Name}}</td>
                            <td>{{cert.Code || 'Not Available'}}</td>
                            <td>{{cert.Status}}</td>
                            <td>{{cert.LastModifiedDate @*| date : 'MM-dd-yyyy'*@}}</td>
                            <td>
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                    if (roles.Contains("CRA"))
                                    {
                                        <button ng-disabled="disableEdit" ng-click="editCertification(cert)" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="right" title="Edit"><i class="fa fa-edit"></i></button>
                                    }
                                }
                            </td>
                        </script>
                        <script type="text/ng-template" id="editCertification">
                            <td>
                                <input type="text" ng-model="tempCertification.Name" class="form-control input-sm" />
                                <span class="text-danger" name="title" ng-if="error && !tempCertification.Name">{{error}}</span>
                                <span class="text-danger" name="title" ng-if="existErr && tempCertification.Name">{{existErr}}</span>
                            </td>
                            <td>
                                <input type="text" ng-model="tempCertification.Code" class="form-control input-sm" />
                                <span class="text-danger" name="title" ng-if="error1 && !tempCertification.Code">{{error1}}</span>
                                <span class="text-danger" name="title" ng-if="existErr1">{{existErr1}}</span>
                            </td>
                            <td>{{tempCertification.Status}}</td>
                            <td>{{tempCertification.LastModifiedDate @*| date : 'MM-dd-yyyy'*@}}</td>
                            <td>
                                <button ng-if="!tempCertification.CertificationID" ng-click="saveUpdateCertification(tempCertification, $index)" class="btn btn-xs btn-primary">Save</button>
                                <button ng-if="tempCertification.CertificationID" ng-click="saveUpdateCertification(tempCertification, $index)" class="btn btn-xs btn-primary">Update</button>
                                <button ng-if="tempCertification.CertificationID" ng-click="reset()" class="btn btn-xs btn-warning">Cancel</button>
                                <button ng-if="!tempCertification.CertificationID" ng-click="cancelAdd()" class="btn btn-xs btn-warning">Cancel</button>
                            </td>
                        </script>

                        <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                        <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>