@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@model AHC.CD.WebUI.MVC.Models.MasterDataNewViewModel.ProfileSubSectionViewModel

@{
    ViewBag.Title = "ProfileSubSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead{
    <link href="~/Content/SharedCss/app.css" rel="stylesheet" />
    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/AHC_Lib/UtilDirectivesLib.js"></script>
    <script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="~/Scripts/Custom/MasterDataNew/ProfileSubSection.js"></script>
}

<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                        <i class="fa fa-list"></i> Profile SubSection
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="MasterDataProfileSubsection" ng-controller="profilesubsectionccontroller" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Profile SubSection Management
                        <span class="pull-right">
                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                if (roles.Contains("CRA"))
                                {
                                    <button ng-disabled="disableAdd" ng-click="addProfileSubsection(SubSectionName)" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add</button>
                                }
                            }
                            
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="activeMessageDiv=='profilesubsection'" class="alert alert-success" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                            {{messageDesc}}
                        </div>
                        <div class="clearfix"></div><br />
                        <div ng-show="activeMessageDiv=='profilesubsectionerror'" class="alert alert-danger" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                            {{messageDesc}}
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Subsection Name *</th>
                                    <th>Status</th>
                                    <th>Last Modified Date</th>
                                    <th>Action</th>
                                </tr>
                                <tr ng-show="ProfileSubSections.length>0">
                                    <td><input type="text" placeholder="Filter Title" class="form-control input-sm" ng-model="search.SubSectionName" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.Status" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter LastModifiedDate" class="form-control input-sm" ng-model="search.LastModifiedDate" ng-change="filterData()" /></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody ng-show="ProfileSubSections.length>0">
                                <tr ng-repeat="Name in ProfileSubSectionsData=(ProfileSubSections | filter:{SubSectionName:search.SubSectionName,Status:search.Status,LastModifiedDate:search.LastModifiedDate}) track by $index" ng-include="getTemplate(Name)" ng-show="IsValidIndex($index)"></tr>
                            </tbody>
                            <tbody ng-show="ProfileSubSectionsData.length==0 || ProfileSubSections.length==0 ">
                                <tr class="text-center">
                                    <td colspan="7"><b>No Data Available</b></td>
                                </tr>
                            </tbody>
                        </table>

                        <script type="text/ng-template" id="displaySubsections">
                            <td>{{Name.SubSectionName}}</td>
                            <td>{{Name.Status}}</td>
                            <td>{{Name.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    var roles = Context.GetOwinContext().GetUserManager<AHC.CD.WebUI.MVC.ApplicationUserManager>().GetRoles(User.Identity.GetUserId());
                                    if (roles.Contains("CRA"))
                                    {
                                        <button ng-disabled="disableEdit" ng-click="editProfileSubSections(Name)" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="right" title="Edit"><i class="fa fa-edit"></i></button>
                                    }
                                }
                                
                            </td>
                        </script>
                        <script type="text/ng-template" id="editSubsectionName">
                            <td>
                                <input type="text" class="form-group form-control input-sm inputMarginBottoomZero" ng-model="tempProfileSubSections.SubSectionName" />
                                <span class="text-danger" name="SubSectionName" ng-if="error && !tempProfileSubSections.SubSectionName">{{error}}</span>
                                <span class="text-danger" name="SubSectionName" ng-if="existErr && tempProfileSubSections.SubSectionName">{{existErr}}</span>
                            </td>

                            <td>{{tempProfileSubSections.Status}}</td>
                            <td>{{tempProfileSubSections.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>
                                <button ng-if="!tempProfileSubSections.ProfileSubSectionId" ng-click="saveProfileSubsection($index)" class="btn btn-xs btn-primary">Save</button>
                                <button ng-if="tempProfileSubSections.ProfileSubSectionId" ng-click="updateProfileSubSections($index)" class="btn btn-xs btn-primary">Update</button>
                                <button ng-if="tempProfileSubSections.ProfileSubSectionId" ng-click="reset()" class="btn btn-xs btn-warning">Cancel</button>
                                <button ng-if="!tempProfileSubSections.ProfileSubSectionId" ng-click="cancelAdd()" class="btn btn-xs btn-warning">Cancel</button>
                            </td>
                        </script>
                        <div class="clearfix"></div>
                        <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                        <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
