<div class="clearfix"></div>
<div class="target profilediv nopadding" id="OfficeHoursID">
    <div class="fsStyle" id="ViewOfficeHoursDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">Office Hours</span>&nbsp;
        </div>
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Office Hours
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Add" data-tab-container="PLOfficeHours">
        <i class="fa fa-plus"></i>
    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/AddEditOfficeHoursPartial" data-tab-container="PLOfficeHours">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@
        <div class="col-lg-5">
            <div class="x_content zero-padding-left">
                <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0" style="width: 100%;">
                    <thead class="theme_thead">
                        <tr>
                            <th class="withfilter " style="width:30%">
                                <span class="styled-input">
                                    <input type="text" class="filer-search" required=""><label>DAY</label><span></span>
                                </span>
                            </th>
                            <th class="withfilter " style="width:30%">
                                <span class="styled-input">
                                    <input type="text" class="filer-search" required=""><label>START TIME</label><span></span>
                                </span>
                            </th>
                            <th class="withfilter " style="width:30%">
                                <span class="styled-input">
                                    <input type="text" class="filer-search" required=""><label>END TIME</label><span></span>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="scrolldummybody">
                        <tr>
                            <td class="" rowspan="2">MONDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">04:31 AM</td>
                            <td class="">04:32 AM</td>
                        </tr>
                        <tr>
                            <td class="">TUESDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">WEDNESDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">THURSDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">FRIDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">SATURDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                        <tr>
                            <td class="">SUNDAY</td>
                            <td class="">08:30 AM</td>
                            <td class="">04:30 AM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="x_content zero-padding-left">
                <div class="col-lg-6 text_adjust boxstyle">
                    <label class="theme_label">24/7 Phone Coverage ?* :</label>
                    <span class="theme_label_data">Yes</span>
                </div>
                <div class="col-lg-6 text_adjust boxstyle">
                    <label class="theme_label">Voice Mail With Instructions To Call Answering Service*  :</label>
                    <span class="theme_label_data">NO</span>
                </div>
                <div class="col-lg-6 text_adjust boxstyle">
                    <label class="theme_label">Voice Mail With Other Instructions* :</label>
                    <span class="theme_label_data">NO</span>
                </div>
                <div class="col-lg-6 text_adjust boxstyle">
                    <label class="theme_label">After Hours Telephone Number :</label>
                    <span class="theme_label_data">Not Available</span>
                </div>
            </div>
        </div>
    </div>

</div>