body{
    overflow-x: scroll;
}
#calendar{
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

.pCalendar-Main{
    width: 100%;
}
.pCalendar-Main .pCalendar-Selectors td div{
    margin-top: 5px;
}
.pCalendar-Main tr.pCalendar-NoBorder{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.pCalendar-Main tr.pCalendar-NoBorder td{
    position: relative;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 1px solid #ccc;
    /*background-color: rgb(86, 171, 175);*/
    color:white;
}
.pCalendar-Main .pCalendar-Selectors td .form-group{
    margin-left: 5px;
    margin-right: 5px;
}
.pCalendar-Main .pCalendar-modeSelector ul.tab li a.theme_thead{
    color: white;
}
.pCalendar-Main tr td{
    margin: 2px !important;
}
.pCalendar-Main .pCalendar-Controls .pCalendar-modeSelector select{
    margin-left: 5px;
}
.pCalendar-Main .pCalendar-headRow td{
    border: 1px solid #ccc;
    /*background-color: rgb(86, 171, 175);*/
    color: white;
    text-align: center;
    font-weight: 700;
    position: relative;
}
.pCalendar-Main .pCalendar-bodyRow td{
    border: 1px solid #ccc;
    height: 130px !important;
    text-align: left;
    width: 150px !important;
    position: relative;
}
.pCalendar-Main .pCalendar-bodyRow td.pCalendar-dailyTableRow{
    height: 20px !important;
}
.pCalendar-Main .pCalendar-bodyRow .pCalendar-dayNumber{
    float: right;
    margin-right: 5px;
    font-weight: 600;
    color: #0094ff;
    margin-top: -20px;
}
.pCalendar-button{
    border-radius: 4px;
}

.pCalendar-dayNumber.disabled{
    color: #cfcbcb;
}
.pCalendar-Main .pCalendar-bodyRow td .pCalendar-eventInfo{
    height:80px;
    padding-top:60px;
}
.pCalendar-Main .pCalendar-bodyRow .pCalendar-active .pCalendar-eventInfo .pCalendar-Badges{
    clear: both;
    line-height: 22px !important;
}
/*.pCalendar-dailyTableRow{
    background: white;
}*/
.pCalendar-Main .pCalendar-bodyRow .pCalendar-encOpen {
    border-radius: 5px !important;
}
.pCalendar-Main .pCalendar-bodyRow .pCalendar-encClosed {
    border-radius: 5px !important;
}
.pCalendar-disabled{
    background-color: #e2e2e2;
    color: #808080;
}

.pCalendar-Main .pCalendar-Controls .pCalendar-navigator div .pCalendar-selectedMonth{
    display: inline-block;
    width: 120px;
    text-align: center;
}

.pCalendar-Main .pCalendar-bodyRow .pCalendar-active:hover{
    cursor: pointer;
    border: 2px solid #ccc;
    background-color: #e1edef;
    color:#333;
}

.pCalendar-encounterStatus{
    padding-bottom: 5px;
    font-size: large;
    text-align: center;
}

.pCalendar-boldFont{
    font-weight: 600;
}

.pCalendar-largeFont{
    font-size: larger;
}
.pCalendar-tileInfo{
    text-align: left;
    font-size: small;
    clear: both;
}
.pCalendar-tileInfo:hover{
    z-index: 1000;
}
.pCalendar-tileInfo .memberOnly{
    padding-left: 5px;
    z-index: 0;
}
.pCalendar-tileInfo .allDetails{
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    border-top: 4px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
.pCalendar-Main .pCalendar-Controls .pCalendar-navigator .pCalendar-dateChanger{
    height: 32px;
}

/*Custom Tabs CS*/
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1;*/
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    /*display: inline-block;*/
    color: black;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 5px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a.active{
    background-color: rgb(86, 171, 175);
    color:white;
}

.pCalendar-Main tr td.timeHolder{
    height: 20px;
    padding-left:5px;
    position: relative;
}

.pCalendar-Main tr td ul.take-right{
    float:right;
}

.clear{
    clear: both;
}

.number-spinner span button{
    background-color: rgb(86, 171, 175);
    border-color: #ccc;
    color:white;
}

.pCalendar-badge{
    border-radius: 50%;
    font-weight: 400;
    font-size: small;
    border: 1px solid white;
    -webkit-transition: all linear 0.2s;
}


.pCalendar-badge-sm{
    padding: 2px;
    margin-right: 2px;
    margin-left: 2px;
}
.pCalendar-bullet{
    border-radius: 50%;
    font-size: x-small;
    margin-left: 5px;
}
.pCalendar-bullet-xs{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-size: x-small;
}

.pCalendar-badge-noShow{
    background-color: rgba(240,47,23,1);
    color: white;
}
.pCalendar-badge-green{
    background-color: #85E88A;
      color: white;
}
.pCalendar-badge-open{
    background-color: #66b553;
      color: white;
}
.pCalendar-badge-rescheduled{
    background-color: #d6941c;
      color: white;
}
.pCalendar-badge-scheduled{
    background-color: #0288d1;
    color: white;
}
.pCalendar-badge-readyToCode{
    background-color: #314fa7;
    color: white;
}
.pCalendar-badge-active{
    background-color: #1b5e20;
    color: white;
}

.pCalendar-badge-draft{
    background-color: #ff6000 ;
    color: white;
}
.pCalendar-greenFont{
    color: #34E80C;
}

.pCalendar-blueFont{
    color: #4BA2FF;
}
.pCalendar-yellowFont{
    color: #E88F1E;
}
.pCalendar-redFont{
    color: #FF6656;
}
dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding-top: 10px;;
  margin-bottom: 5px;
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pCalendar-hoverable:hover .pCalendar-showOnHover{
    visibility: visible;
}
.pCalendar-hoverable:hover .pCalendar-badge{
    padding: 5px;
    font-size: larger;
}
.pCalendar-showOnHover{
    visibility: hidden;
}

.pCalendar-Main .pCalendar-Selectors td div .monthSelector{

}

.pCalendar-Badges > span.pCalendar-badge-noShow + div.tooltip {
    margin-left: 20%;
}
.pCalendar-Badges > span.pCalendar-badge-readyToCode + div.tooltip {
    margin-left: 29%;
}

.pCalendar-eventSummary{
    line-height: 20px;
}
