
<div class="footer">
    <hr />
    <div class="col-lg-7">

    </div>
    <div class="col-lg-5 text-right">
        <ul class="list-inline">
            <li>@System.Configuration.ConfigurationManager.AppSettings["FooterStamp"]</li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>