@model PortalTemplate.Areas.UM.Models.ViewModels.Authorization.AuthorizationViewModel
@{
    List<SelectListItem> ReasonSelectList = new List<SelectListItem>(){
        new SelectListItem { Text = "Pend for Medical Records", Value = "Pend for Medical Records" },
        new SelectListItem { Text = "Pend for return call from Member", Value = "Pend for return call from Member" },
        new SelectListItem { Text = "Pend for return call from Provider", Value = "Pend for return call from Provider" },
        new SelectListItem { Text = "Pend for PCP answer", Value = "Pend for PCP answer" },
         new SelectListItem { Text = "Incomplete", Value = "Incomplete" },
        new SelectListItem { Text = "Hold", Value = "Hold" }
        };
}

<div class="authPreviewModal" id="authPendModalInCreate">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="col-md-4 col-lg-4 boldTextReasonLabel">Please select reason :</div>
            <div class="col-md-8 col-lg-8 boldTextReasonLabel">@Html.DropDownListFor(e => e.ReasonDescription, ReasonSelectList, new { @class = "form-control boldTextReasonLabel input-xs mandatory_field_halo text-uppercase variable_width_select", @id = "ReasontextID", @tabindex = "-1" })</div>
        </div>
    </div>
</div>
