<br />
<div class="list-group pre-scrollable">
    <a href="#" class="list-group-item" ng-show="timelineActivity.length != 0" ng-repeat="activity in timelineActivity | orderBy:LastModifiedDate:reverse">
        <i class="data-label">{{activity.Activity}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isCompleted">
        <i class="data-label">{{providerName}} was <label>Completed</label> for {{planName}} on {{completedDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-show="isreCredentialed">
        <i class="data-label">{{providerName}} <label>DeCredentialing Initiated</label> for {{planName}} on {{recredentialedDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-show="isLoaded">
        <i class="data-label">{{providerName}} <label>Load to Plan</label> done for {{planName}} on {{loadedDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-show="isCCMDone">
        <i class="data-label">{{providerName}} <label>CCM Appointment</label> done for {{planName}} on {{CCMDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-show="isVerified">
        <i class="data-label">{{providerName}} <label>PSV</label> done for {{planName}} on {{verifiedDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-show="isdeCredentialed">
        <i class="data-label">{{providerName}} was <label>ReCredentialing Initiated</label> for {{planName}} on {{decredentialedDate | date:sort}} </i>
    </a>
    <a href="#" class="list-group-item" ng-init="getCredentialingInfo(credentialingInfo.ProfileID, credentialingInfo.PlanID)" ng-show="isInitiated">
        <i class="data-label">{{providerName}} <label>Credentialing Initiated</label> for {{planName}} on {{@*Date*@credentialingInfo.InitiationDate | date:sort}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isDroped">
        <i class="data-label">{{providerName}} was <label>Dropped</label> for {{planName}} on {{lastActivity | date:sort}} </i>
    </a>

</div>
