@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;


<br />
<div class="panel-group" ng-controller="professionalAppCtrl">
    <div class="panel-default">
        <div class="form-style">
            <fieldset>
                <legend>
                    Professional Affiliation
                </legend>
                <div id="Affiliationqwe">
                    <div class="col-lg-12">
                        <table ng-hide="ProfessionalAffiliations.length > 0 || visibilityControl=='addpa' " class="table table-bordered table-condensed customtbodyStyle table-striped">
                            <thead>
                                <tr>
                                    <td>
                                        No Data Available for Professional Affiliation
                                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                        {
                                          <span>Please click on <button class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addpa')" data-toggle="tooltip" data-placement="right" title="Add New"><i class="fa fa-plus"></i></button> to add new Professional Affiliation</span>
                                        }
                                    </td>

                                </tr>
                            </thead>
                        </table>

                        <table ng-hide="ProfessionalAffiliations.length <= 0" class="table table-bordered table-condensed table-striped customtbodyStyle">
                            <thead>
                                <tr>
                                    <th>Organization Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Position Office Held</th>
                                    <th>Member/Applicant</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="pa in ProfessionalAffiliations track by $index">

                                <tr>
                                    <td class="wrap-words col-md-2">{{pa.OrganizationName}}</td>
                                    <td ng-show="pa.StartDate" class="col-md-2">{{pa.StartDate | date:'MM-dd-yyyy'}}</td>
                                    <td ng-show="!pa.StartDate">Not Available</td>
                                    <td ng-show="pa.EndDate" class="col-md-2">{{pa.EndDate | date:'MM-dd-yyyy'}}</td>
                                    <td ng-show="!pa.EndDate">Not Available</td>
                                    <td ng-show="pa.PositionOfficeHeld" class="wrap-words col-md-2">{{pa.PositionOfficeHeld}}</td>
                                    <td ng-show="!pa.PositionOfficeHeld">Not Available</td>
                                    <td ng-show="pa.Member" class="wrap-words col-md-2">{{pa.Member}}</td>
                                    <td ng-show="!pa.Member">Not Available</td>

                                    <td class="col-md-3">
                                         @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles,false)) {
                                        <button class="btn btn-xs btn-default" ng-click="operateViewAndAddControl($index+'_viewpa')" ng-hide="showViewProfessionalAffiliation" data-toggle="tooltip" data-placement="left" title="View"><i class="fa fa-eye"></i></button>
                                         }
                                         
                                          @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles,false)) {
                                        <button class="btn btn-xs btn-primary" ng-click="operateEditControl($index+'_editpa',pa)" ng-hide="editShowProfessionalAffiliation" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                              
                                          }
                                          
                                          @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles,false)) {
                                        <button ng-if="$index == ProfessionalAffiliations.length-1" ng-hide="showViewProfessionalAffiliation||editShowProfessionalAffiliation || newShowProfessionalAffiliation" class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addpa')" data-toggle="tooltip" data-placement="right" title="Add New"><i class="fa fa-plus"></i></button>
                                          }
                                    </td>
                                </tr>


                                  @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles,false)) {
                                <tr ng-show="visibilityControl==($index+'_viewpa')">
                                    <td colspan="6" class="editTableDataStyle">
                                        @Html.Partial("~/Areas/Profile/Views/ProfessionalAffiliation/_ViewProfessionalAffiliation.cshtml")
                                    </td>

                                </tr>
                                  }
                                  
                                  @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles,false)) {
                                <tr ng-show="visibilityControl==($index+'_editpa')">
                                    <td colspan="6" id="professionalAffiliationEditDiv{{$index}}" class="editTableDataStyle">
                                        <fieldset>
                                            <legend>
                                                Edit Professional Affiliation
                                            </legend>

                                            @Html.Partial("~/Areas/Profile/Views/ProfessionalAffiliation/_AddEditProfessionalAffiliation.cshtml")
                                        </fieldset>
                                    
                                    </td>
                                </tr>
                                  }
                            </tbody>

                        </table>

                        <div ng-show="activeMessageDiv=='addedNewProfessionalAffiliation'" class="alert alert-success" role="alert">
                            <button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>
                            <i class="fa fa-2x fa-arrow-up"></i> {{messageDesc}}
                        </div>
                        @*<div ng-show="visibilityControl=='addedNewProfessionalAffiliation'" class="alert alert-success" role="alert">
                            <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                            <i class="fa fa-2x fa-arrow-up"></i>New Professional Affiliation Added Successfully !!!!
                        </div>
                        <div ng-show="visibilityControl=='updatedProfessionalAffiliation'" class="alert alert-success" role="alert">
                            <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                            <i class="fa fa-2x fa-arrow-up"></i>Data Updated Successfully !!!!
                        </div>*@

                    </div>
                    <div class="clearfix"></div>

                      @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles,false)) {
                    <fieldset ng-show="visibilityControl=='addpa'">
                        <legend>
                            Add Professional Affiliation
                        </legend>
                        <div id="newShowProfessionalAffiliationDiv">
                            @Html.Partial("~/Areas/Profile/Views/ProfessionalAffiliation/_AddEditProfessionalAffiliation.cshtml")
                        </div>
                    </fieldset>
                      }
                </div>
            </fieldset>
        </div>
    </div>
</div>