
<br />
<div class="panel-group" id="accordiondoc" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="primaryInfoHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordiondoc" href="#primarydoc" aria-expanded="false" aria-controls="primarydoc">
                Upload Documents
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </div>
        <div id="primarydoc" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="primaryInfoHeading">
            <div class="panel-body">

                <div class="col-lg-12" id="docContainer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4"><strong>Document Name</strong></div>
                            <div class="col-lg-4"><strong>Document Status</strong></div>
                            <div class="col-lg-4"><strong>File Name</strong></div>
                            
                        </div>
                    </div>
                    <div class="col-lg-12" id="docData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">CV</div>
                            <div class="col-lg-4">Uploaded</div>
                            <div class="col-lg-4">document.txt</div>
                           
                        </div>
                     
                    </div>
                    <div class="col-lg-12" id="docData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">DEA</div>
                            <div class="col-lg-4">Pending</div>
                            <div class="col-lg-4">-</div>
                           
                        </div>
                      
                    </div>
                    <div class="col-lg-12" id="docData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">Birth Certificate</div>
                            <div class="col-lg-4">Uploaded</div>
                            <div class="col-lg-4">birth.txt</div>
                           
                        </div>
                       
                    </div>
                    <div class="col-lg-12" id="docData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">State License</div>
                            <div class="col-lg-4">Pending</div>
                            <div class="col-lg-4">-</div>
                            
                        </div>
                       
                    </div>
                    <div class="col-lg-12" id="docData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-4">UG Certificate</div>
                            <div class="col-lg-4">Uploaded</div>
                            <div class="col-lg-4">undergratuate</div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
