<div class="col-lg-3 zero-padding-left-right" id="ProblemLibraryPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">PROBLEM LIBRARY</span>
                </legend>
                <div class="modifyLibraryCarePlanElements"><button class="btn  table-button pull-right" onclick="ShowModal('~/Views/ManageCarePlan/ManageCare/_AddNewPIGO.cshtml', 'Add New Problem');"><b><i class="fa fa-plus"></i> Add New Problem </b></button></div>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanProblemLibraryTable" style="table-layout:fixed;"></table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="InterventionLibraryPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">INTERVENTION LIBRARY</span>
                </legend>
                <div class="modifyLibraryCarePlanElements"><button class="btn  table-button pull-right" onclick="ShowModal('~/Views/ManageCarePlan/ManageCare/_AddNewPIGO.cshtml','Add New Intervention');"><b><i class="fa fa-plus"></i> Add New Intervention </b></button></div>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanInterventionLibraryTable" style="table-layout:fixed;"></table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="GoalLibraryPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">GOAL LIBRARY</span>
                </legend>
                <div class="modifyLibraryCarePlanElements"><button class="btn  table-button pull-right" onclick="ShowModal('~/Views/ManageCarePlan/ManageCare/_AddNewPIGO.cshtml', 'Add New Goal');"><b><i class="fa fa-plus"></i> Add New Goal </b></button></div>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanGoalLibraryTable" style="table-layout:fixed;"></table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="OutcomeLibraryPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">OUTCOME LIBRARY</span>
                </legend>
                <div class="modifyLibraryCarePlanElements"><button class="btn  table-button pull-right" onclick="ShowModal('~/Views/ManageCarePlan/ManageCare/_AddNewPIGO.cshtml', 'Add New Outcome');"><b><i class="fa fa-plus"></i> Add New Outcome </b></button></div>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanOutcomeLibraryTable" style="table-layout:fixed;"></table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

