


<div class="col-lg-3 zero-padding-left-right" id="ProblemPanel">
    <div class="x_panel">
        <div class="clearfix">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="text-uppercase">PROBLEMS</span>
        </legend>
        <div class="CarePlanPanels">
           
            <table class="table carePlanTables clickable-row alignLeftTable" id="carePlanProblemTable" style="table-layout:fixed;"></table>
           
        </div>
        <div class="masterCarePlanTemplateElements" style="border-top: 1px solid gainsboro"><button class="btn  table-button pull-right" onclick="AddNewPIGOForSelected('Add New Problem');"><b><i class="fa fa-plus"></i> Add New Problem </b></button></div>
    </fieldset>
</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="InterventionPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">INTERVENTIONS</span>
                </legend>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanInterventionTable" style="table-layout:fixed;"></table>
                </div>
                <div class="masterCarePlanTemplateElements" style="border-top: 1px solid gainsboro"><button class="btn  table-button pull-right" onclick="AddNewPIGOForSelected('Add New Intervention');"><b><i class="fa fa-plus"></i> Add New Intervention </b></button></div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="GoalPanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">GOALS</span>
                </legend>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables clickable-row alignLeftTable" id="carePlanGoalTable" style="table-layout:fixed;"></table>
                </div>
                <div class="masterCarePlanTemplateElements" style="border-top: 1px solid gainsboro"><button class="btn  table-button pull-right" onclick="AddNewPIGOForSelected('Add New Goal');"><b><i class="fa fa-plus"></i> Add New Goal </b></button></div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="col-lg-3 zero-padding-left-right" id="OutcomePanel">
    <div class="x_panel">
        <div class="clearfix">
            <fieldset class="fsStyle">
                <legend class="legendStyle">
                    <span class="text-uppercase">OUTCOMES</span>
                </legend>
                <div class="CarePlanPanels">
                    <table class="table table-condensed carePlanTables alignLeftTable" id="carePlanOutcomeTable" style="table-layout:fixed;"></table>
                </div>
                <div class="masterCarePlanTemplateElements" style="border-top: 1px solid gainsboro"><button class="btn  table-button pull-right" onclick="AddNewPIGOForSelected('Add New Outcome');"><b><i class="fa fa-plus"></i> Add New Outcome </b></button></div>
            </fieldset>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
