<p-link filepath="~/Content/AppCss/CaseManagement/CaseManagement.css"></p-link>
<p-script filepath="~/Scripts/AppScripts/CaseManagement/CarePlanTemplateManagement.js"></p-script>

<div id="searchCarePlanTemplate">
    @Html.Partial("~/Views/ManageCarePlan/ManageCare/_SearchTemplate.cshtml")
</div>
<div id="createCarePlanTemplate">
    @Html.Partial("~/Views/ManageCarePlan/ManageCare/_CreateCarePlan.cshtml")
</div>
