@model PortalTemplate.Areas.Portal.Models.ProviderBridge.AddProvider.AddProviderViewModel
<script src="~/Areas/Portal/Scripts/BridgeProviderAccept/BridgeProviderAccept.js"></script>

@{

}
<div class="container">

</div>

<span class="AddProviderModal" >
   <h3>&nbsp;&nbsp;&nbsp;&nbsp;DO YOU WANT TO ASSIGN THESE REQUEST TO JEANINE?</h3>
</span>
 