@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueViewModel>
<table class="table table-striped">
    <thead>
        <tr>
            @foreach (var col in ViewBag.ColData)
            {
                <th>
                    @col["Label"]
                </th>
            }
        </tr>
    </thead>
</table>
