<div class="small col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-4">
        <img src="/Content/Images/Providers/Pariksith_Singh.jpg" class="grow" style="height:40px">
    </div>
     <div class="col-lg-8 form-group zero-padding-left-right-div">
      @*   <div class="col-lg-12 form-group zero-padding-left-right-div">*@
             <label class="control-label small col-lg-12 zero-padding-left-right-div">Name:</label>
             <i class="data-label ng-binding">Dr. Pariksith Singh</i>
            
                 <label class="control-label small col-lg-12 zero-padding-left-right-div">NPI:</label>
                <i class="data-label ng-binding">1234567890</i>
               
           @*    </div>*@  </div>
    </div>
<div class="small col-lg-12 zero-padding-left-right-div" id="provider_detail_div" style="display:none; margin-top:1px;">
    <div class="col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Gender:</label>
        <div> <i class="data-label ng-binding">Male</i></div>
    </div>
    <div class="col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Provider Type:</label>
        <div> <i class="data-label ng-binding">Medical Doctor</i></div>
    </div>
    @*<div class="col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Plan:</label>
        <div>  <i class="data-label ng-binding">Freedom HMO</i></div>
    </div>
    <div class=" col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Specialty:</label>
        <div>  <i class="data-label ng-binding">Internal Medicine</i></div>
    </div>
    <div class=" col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Insurance Company:</label>
        <div><i class="data-label ng-binding">Freedom</i></div>
    </div>
    <div class=" col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small">Location:</label>
        <div> <i class="data-label ng-binding">Florida</i></div>
    </div>*@
</div>
@*<div class="small col-lg-12 zero-padding-left-right-div" >
    <div class="col-lg-1 form-group zero-padding-left-right-div">
        </div>




        <div class="col-lg-12 zero-padding-left-right-div">
            <label class="col-lg-1 control-label zero-padding-left-right-div">Status</label>
            <div class="col-lg-11 zero-padding-left-right-div"> @Html.Partial("~/Areas/CredentialingDelegation/Views/CnD/_StatusDetail.cshtml")</div>
        </div>
    </div>*@

