<br />
<div class="col-lg-12 zero-padding-left-right-div form-style">
    <fieldset>
        <legend>
            Plan Report
        </legend>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="alert alert-success" id="planMsg" role="alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                The Submission is Successful and Email is Sent !!!!
            </div>
        </div>
        <div class="col-lg-12" id="planDataDiv">

            <div class="col-lg-12 form-group">
                <div class="col-lg-6">
                    <label class="control-label small">Provider Id:</label>
                    <div>
                        <input type="text" class="form-control input-sm">
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label small">Group Id:</label>
                    <div>
                        <input type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-12 form-group">
                <div class="col-lg-6">
                    <label class="control-label small">Initiated Date:</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-date-format="MM/dd/yy" placeholder="mm/dd/yyyy" bs-datepicker />
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label small">Credentialled Date:</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-date-format="MM/dd/yy" placeholder="mm/dd/yyyy" bs-datepicker />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-lg-12 form-group">
                <div class="col-lg-6">
                    <label class="control-label small">Termination Date:</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-date-format="MM/dd/yyyy" placeholder="mm/dd/yyyy" bs-datepicker>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label small">Fee Schedules:</label>
                    <div>
                        <select class="form-control input-sm">
                            <option selected disabled>
                                ---Select-----
                            </option>
                            <option>
                                Schedule 1
                            </option>
                            <option>
                                Schedule 2
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label small">Contract Document</label>
                        <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Attach Document</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label small">Welcome Letter</label>
                        <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Attach Document</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-xs btn-success pull-right" onclick="Planmsg();">
                    Submit
                </button>
            </div>

        </div>
       

    </fieldset>
</div>
<script>
    var Planmsg = function () {
      
        $("#planMsg").show();
        $("#planDataDiv").hide();
    };
</script>