<p-script filepath="~/Areas/UM/Scripts/Common/Note/Functional/Add/NonMinified/AddNote.js"></p-script>


<form id="note_form" onsubmit="return false;">
    @Html.Partial("~/Areas/UM/Views/Common/Note/Common/_NoteForm.cshtml")
</form>