@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    Layout = null;
    ViewBag.Title = "Error";
}



<link href="~/Content/SharedCss/bootstrap.min.css" rel="stylesheet" />
<!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-header">
                <div class="text-center col-lg-12">
                    <h1 class="text-danger">Error.</h1>
                    <h3 class="text-danger">An error occurred while processing your request. Please contact your Admin.</h3>
                </div>
            </div>
            <div class="modal-body text-center">
                <img src="~/Content/Images/error.png" style="width:50%;" />
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div>
                        <a href="/Dashboard/Index" class="btn btn-primary btn-lg btn-block">Click to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Bootstrap/bootstrap.min.js"></script>

