<div class="panel-group" id="accordionPAT" role="tablist" aria-multiselectable="true">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="PATHeading">
            <a data-toggle="collapse" data-parent="#accordionPAT" href="#PAT" aria-expanded="false" aria-controls="PAT">
               Professional Attestation
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="PAT" class="panel-collapse collapse" role="tabpanel" aria-labelledby="PATHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div><br>

                   
                    <div class="col-md-12">
                        <label for="Contact" class="control-label small">Do you have any physical or mentalhealth problems that may affect your ability to provide health care?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="felony"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="felony"> No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="col-md-12">
                        <label for="Contact" class="control-label small">Do you have any history of chemical dependency/substance abuse?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="felony"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="felony"> No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>



                    <div class="col-md-12">
                        <label for="Contact" class="control-label small">Do you have any history  of loss of license and/or felony convictions?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="felony"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="felony"> No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>



                    <div class="col-md-12">
                        <label for="Contact" class="control-label small">Do you have any history of loss of limitation of privileges or disciplinary activity ?</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="felony"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="felony"> No
                            </label>
                        </div>
                    </div>
                   





                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Initiate Verification</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>

              
            </div>
        </div>
    </div>
</div>






