
<span class="theme_depend text-uppercase TableHeading">Other Identification History</span>
<span><button type="button" class="btn btn-xs btn-danger closeBtnCSS pull-right" data-toggle="collapse" data-target="#OtherIdentificationHistory"><i class="fa fa-times" aria-hidden="true"></i></button></span>
<div class="x_content zero-padding-left">
    @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
    <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin" cellspacing="0">
        <thead class="theme_thead text-uppercase">
            <tr>
                @*<th class="withfilter" rowspan="1" colspan="1">
                        <span class="styled-input">
                            <input type="text" class="filer-search" required /><label>Sl.No</label><span></span>
                            <i class="fa fa-sort"></i>
                        </span>
                    </th>*@
                <th class="withfilter" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>NPI #</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>

                <th class="withfilter" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>CAQH #</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>UPIN #</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>USMLE # </label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="withfilter" rowspan="1" colspan="1">
                    <span class="styled-input">
                        <input type="text" class="filer-search" required /><label>Notes</label><span></span><i class="fa fa-sort"></i>
                    </span>
                </th>
                <th class="text-center" style="color:white">
                    <label>Action</label>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NPIID</td>
                    <td>@item.CAQH</td>
                    <td>@item.UPIN</td>
                    <td>@item.USMLE</td>
                    <td>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(2),Changed <br /> <b>UPIN #:-</b> 546546, <br /><b>USMLE #:-</b> 345454">...</a>
                    </td>
                    <td class=" text-center"><button data-toggle="modal" data-target="#OtherIdentificationHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                </tr>
            }
            @*<tr>
                    <td>0604168854</td>
                    <td>2222222222</td>
                    <td>346773</td>
                    <td>246347</td>
                    <td>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(2),Changed <br /> <b>UPIN #:-</b> 346773, <br /><b>USMLE #:-</b> 246347">...</a>
                    </td>
                    <td class=" text-center"><button data-toggle="modal" data-target="#OtherIdentificationHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                </tr>
                <tr>
                    <td>0604168854</td>
                    <td>2222222222</td>
                    <td>345435</td>
                    <td>345346</td>
                    <td>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="On Jan 12 2015, Elizabeth Made Changes -(2),Changed <br /> <b>UPIN #:-</b> 345435, <br /><b>USMLE #:-</b> 345346">...</a>
                    </td>
                    <td class=" text-center"><button data-toggle="modal" data-target="#OtherIdentificationHistoryView" class="btn btn-default btn-xs styleForViewEyeButton"><i class="fa fa-eye"></i></button> </td>
                </tr>*@
        </tbody>
    </table>
</div>