@model PortalTemplate.Areas.CMS.Models.POSUmServiceGroupViewModel

<tr>
    <td class="maxWidthXLem mdm_title">@Model.Name</td>
    <td class="maxWidthXLem mdm_title">@Model.Description</td>
    <td>
        <i class="@(Model.Status ? "fa fa-check-circle text-success" : "fa fa-times text-danger")"></i>
    </td>
    <th>
        <div class="btn-group" role="group">
            <button name="edit" class="btn btn-xs btn-primary editclass dynamic-content" data-targeturl="/CMS/POSUmServiceGroup/AddEditPOSUmServiceGroup?Code=@Model.Code" data-targetid="AddEditFieldset">
                <i class="fa fa-edit"></i>
            </button>
        </div>
    </th>
</tr>