
table.pt-table > tbody,
table.pt-table > tbody > tr,
table.pt-table > tbody > tr > td {
    display: block;
    text-transform: uppercase;
}

    table.pt-table > thead > tr > th,
    table.pt-table > thead > tr > td,
    table.pt-table > tbody > tr > td {
        float: left;
        font-weight: bold;
        padding: 4px 8px;
    }

table.pt-table > thead > tr > th {
    padding: 8px;
}

    table.pt-table > tbody > tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

table.pt-table > tbody {
    /*height: 330px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

table.pt-table > thead > tr > th .sortable-th {
    cursor: pointer;
    /* white-space:nowrap; */
}

#lodingtabledata {
    background-image: url("../../Content/Images/progress.gif");
    background-repeat: repeat-x;
}
/*For Footer*/
.footerloadingArea {
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    background: rgba(255,255,255,0.9);
}

    .footerloadingArea > img {
        top: 25%;
    }
/*For Footer End*/

table.pt-table > tbody > tr > td {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /*display: inline-block;*/
}


table.pt-table > thead > tr .filter-element {
    /*color: black;*/
    padding: 3px;
    height: 22px;
    text-transform: uppercase;
    font-size: 12px !important;
    /* border-radius: 0px; */
}

table.pt-table > thead > tr > th, table.pt-table > thead > tr > td, table.pt-table > tbody > tr > td {
    border: 0px;
}

table.pt-table > tfoot > tr > td {
    text-align: center;
}


table.pt-table > tbody > .no-data-message-tr {
    pointer-events: none;
}

/*table.pt-table > tbody > tr > .no-data-message {
    text-align: center;
    font-weight:bold;
}*/

.loading-tbody {
    opacity: 0.7;
    pointer-events: none;
}

.loading-tfooter {
    opacity: initial;
    pointer-events: none;
}

i.fa.ptr-sort {
    padding-left: 5px;
}


table.pt-table > tbody::-webkit-scrollbar {
    width: 0px !important;
}

table.pt-table > tbody {
    -ms-overflow-style: none;
}



@-moz-document url-prefix() {
    table.pt-table > tbody {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

table.pt-table > tbody > tr > td.no-data-message {
    width: 100% !important;
    text-align: center;
    font-weight: bold;
}
