@using PratianUI
<div>
    <fieldset class="fsStyle" id="PSVEditBoardCertificate">
        <legend class="legendStyle">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">Edit Verification Result</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">

                </span>
            </span>
        </legend>

        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">Provider Status</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <select class="form-control input-xs">
                        <option>FOUND</option>
                        <option>NOT FOUND</option>
                    </select>
                </span>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">Verified Date</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    @Html.PratianUiDatePicker(new { @class = "form-control input-xs", placeholder = "MM/DD/YYYY" })
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">Source</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-6 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Source" required />
                </span>
                <span class="col-lg-1"> <a>Link</a></span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">REMARKS</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Remarks" required />
                </span>
            </div>           
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">VERIFIED DOCUMENT</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 input-group  nopadding">
                    <input type="text" class="form-control input-xs" placeholder="Document">
                    <span class="input-group-addon File_uploadStyle"><i class="fa fa-upload"></i></span>
                </span>
                
            </div>
        </div>

        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <a class="btn btn-success yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PSV/GetViewBoardCertificateVerification" data-tab-container="PSVBoardCertificateVerification">Save</a>
            <a class="btn btn-danger yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PSV/GetViewBoardCertificateVerification" data-tab-container="PSVBoardCertificateVerification">Cancel</a>
        </div>
    </fieldset>
</div>
