
<div>
    <fieldset class="fsStyle" id="PSVViewBoardCertificate">
        <legend class="legendStyle">
            <span class="text-uppercase create-auth-legends">
                <span class="text-uppercase TableHeading">Verification Result</span>
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PSV/GetEditBoardCertificateVerification" data-tab-container="PSVBoardCertificateVerification">
                        <i class="fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning btn-xs historyBtnCSS list-item">
                        <i class="fa fa-history"></i>
                    </button>
                </span>
            </span>
        </legend>

        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Provider Status:</label>
                <span class="theme_label_data">FOUND</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Source :</label>
                <span class="theme_label_data">http://www.abim.org/</span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Certification Status:</label>
                <span class="theme_label_data"> Certified </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Remark:</label>
                <span class="theme_label_data"> Not Available </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Verified By:</label>
                <span class="theme_label_data"> Credadmin1@credaxis.com </span>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Verified Date:</label>
                <span class="theme_label_data">11/21/2016</span>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text_adjust boxstyle">
                <label class="theme_label">Verified Document:</label>
                <span class="theme_label_data"><i class="fa fa-file-o" aria-hidden="true"></i></span>
            </div>
        </div>
    </fieldset>
</div>