
<div class="panel panel-default">
    <div class="panel-heading">
        <div>Basic Information</div>
    </div>
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Provider Category * :</label>
            <div class="col-md-9 radio">
                <label ng-repeat="providerCategory in providerCategories" class="radio-inline">
                    <input type="radio" name="radio_provider_category1" ng-model="Provider.categoryId" value="{{providerCategory.categoryId}}" ng-click="getprovidertypes_by_category_Id(providerCategory.categoryId)" ng-disabled="providerCategory.categoryId!=1"> {{providerCategory.categoryName}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Provider Type * :</label>
            <div class="col-md-9">
                <select id="selectProviderType" ng-model="Provider.ProviderTypeId">
                    <option></option>
                    <option ng-repeat="providertype in newProviderTypes" value="{{providertype.typeId}}">{{providertype.typeName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Provider Relationship*</label>
            <div class="col-md-9 radio">
                <label ng-repeat="providerRelation in providerRelations" class="radio-inline">
                    <input type="radio" name="radio_provider_relation1" ng-model="Provider.ProviderRelation" value="{{providerRelation.relationId}}"> {{providerRelation.relationName}}
                </label>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <input id="next1" type="button" value="Next >>" ng-click="nextForm(1)" ng-disabled="!Provider.categoryId || !Provider.ProviderTypeId || !Provider.ProviderRelation " class="btn btn-primary btn-sm pull-right" />
    </div>
</div>