@{
    ViewBag.Title = "CM Dashboard";
}
@section AddToHead{
    <title>CM DASHBOARD | AHC</title>
}

<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/LibCss/FullCalendarCss/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/LibCss/FullCalendarCss/fullcalendar.print.css" rel="stylesheet" media='print' />
<script src="~/Scripts/LibScripts/FullCalendarJs/moment.min.js"></script>
<script src="~/Scripts/LibScripts/FullCalendarJs/jquery.min.js"></script>
<script src="~/Scripts/LibScripts/FullCalendarJs/fullcalendar.js"></script>
@*<script src="~/Scripts/LibScripts/jquery.min.js"></script>
<script src="~/Scripts/LibScripts/jquery-ui.min.js"></script>*@
<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>
<link href="~/Content/AppCss/CaseManagement/CaseManagement.css" rel="stylesheet" />
<script src="~/Scripts/AppScripts/CaseManagement/CMDashboard.js"></script>
<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/CaseManagement/_Dashboard.cshtml")
</div>




