body .container.body .right_col .main_menu_side {
    background: radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#E5E5BE,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
    color: white;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }

.RealestateBreadCrum {
    color: white;
    background: radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#E5E5BE,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
}
