/**Multicolored Gradients**/
.BlueBack {
    /*background: radial-gradient(circle at 1.98% 20.98%,#4b6cb7,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#182848,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/
    background: radial-gradient(circle at 1.98% 20.98%,#4b6cb7,transparent 100%),radial-gradient(circle at 98.02% 20.98%,#182848,transparent 100%),radial-gradient(circle at 50% 50%,#5d82af,#718fb5 100%);
    color: white;
}

.BlueCrystal {
    background: radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#E5E5BE,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
    color: white;
}

.CyanRiver {
    /*background: radial-gradient(circle at 1.98% 74.02%,#E55D87,transparent 100%),radial-gradient(circle at 98.02% 35.97%,#5FC3E4,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/
    background: linear-gradient(135deg, rgb(130, 79, 168) 0%, rgb(148, 110, 180) 15%, rgb(134, 79, 171) 23%, rgb(143, 94, 181) 31%, rgb(140, 83, 183) 47%, rgb(135, 81, 172) 59%, rgb(143, 94, 181) 70%, rgb(131, 79, 168) 88%, rgb(153, 46, 238) 100%);
    color: white;
}

.FountainBlue {
    background: radial-gradient(circle at 1.98% 89.01%,#7474BF,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#348AC7,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    /*color: white;*/
}

.GreenishBlue {
    background: radial-gradient(circle at 1.98% 40.96%,#00c6ff,transparent 100%),radial-gradient(circle at 98.02% 52.04%,#0072ff,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: white;
}

.GreenLight {
    background: radial-gradient(circle at 1.98% 3%,#348F50,transparent 100%),radial-gradient(circle at 98.02% 98%,#56B4D3,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
    /*color: white;*/
}

.GreenMile {
    background: radial-gradient(circle at 1.98% 85.01%,#134E5E,transparent 100%),radial-gradient(circle at 98.02% 18.98%,#71B280,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: white;
}

.PratianRed {
    /*background: radial-gradient(circle at 1.98% 74.02%,#e55d5d,transparent 100%),radial-gradient(circle at 98.02% 35.97%,#e45f5f,transparent 100%),radial-gradient(circle at 50% 50%,#c20c0c,#c20c0c 100%);*/
    background: rgba(249,108,83,1);
    background: -moz-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(249,108,83,1)), color-stop(16%, rgba(244,144,128,1)), color-stop(28%, rgba(242,76,54,1)), color-stop(49%, rgba(244,144,128,1)), color-stop(62%, rgba(242,76,54,1)), color-stop(71%, rgba(244,144,128,1)), color-stop(83%, rgba(247,67,43,1)), color-stop(92%, rgba(244,144,128,1)), color-stop(100%, rgba(234,81,67,1)));
    background: -webkit-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96c53', endColorstr='#ea5143', GradientType=1 );
}

.AccessBlue {
    background: radial-gradient(circle at 8.75% 8.45%,#003973,transparent 100%),radial-gradient(circle at 94.06% 82.83%,#88a0b5,transparent 100%),radial-gradient(circle at 50% 50%,#668cc2,#668cc2 100%);
    color: white;
}

.PurpleHaze {
    background: radial-gradient(circle at 1.98% 2%,#B993D6,transparent 100%),radial-gradient(circle at 98.02% 92.01%,#8CA6DB,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    color: white;
}
/** /Multicolored Gradients**/

/** Solid Gradients for Float Menu and Member Header**/
.AccessBlueHeader {
    background: rgba(137,173,230,1);
    background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
}

    .AccessBlueHeader > .tab-container > .tabs > li.active {
        background: rgba(137,173,230,1);
        background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
        background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
        background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
    }

.GreenLight {
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(39,155,166,1)), color-stop(17%, rgba(68,170,179,1)), color-stop(35%, rgba(39,155,166,1)), color-stop(59%, rgba(68,183,194,1)), color-stop(83%, rgba(39,155,166,1)), color-stop(99%, rgba(39,155,166,1)), color-stop(100%, rgba(39,155,166,1)));
    background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
    background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#279ba6', GradientType=1 );
}

    .GreenLight:before {
        content: "";
        width: 100%;
        height: 6px;
        top: 1px;
        display: block;
        position: absolute;
        left: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 1px 1px 82px 82px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    .GreenLight:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .GreenLight > .tab-container > .tabs > li.active {
        background: rgba(179,220,237,1);
        background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(39,155,166,1)), color-stop(17%, rgba(68,170,179,1)), color-stop(35%, rgba(39,155,166,1)), color-stop(59%, rgba(68,183,194,1)), color-stop(83%, rgba(39,155,166,1)), color-stop(99%, rgba(39,155,166,1)), color-stop(100%, rgba(39,155,166,1)));
        background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
        background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(39,155,166,1) 0%, rgba(68,170,179,1) 17%, rgba(39,155,166,1) 35%, rgba(68,183,194,1) 59%, rgba(39,155,166,1) 83%, rgba(39,155,166,1) 99%, rgba(39,155,166,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#279ba6', GradientType=1 );
    }

    .GreenLight .fa {
        color: white !important;
    }

    .GreenLight .nav.navbar-nav > li > a {
        color: white !important;
    }

    .GreenLight .navbar-right li {
        border-left: none !important;
    }

    .GreenLight .toggle .fa {
        color: #fff !important;
    }

    .GreenLight .paper-input {
        border-bottom-color: #fff;
    }

        .GreenLight .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .GreenLight .paper-input::-moz-placeholder {
            color: #fff;
        }

        .GreenLight .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .GreenLight .paper-input:-moz-placeholder {
            color: #fff;
        }



.FieldOfGold {
    background: rgba(174,59,75,1);
    background: -moz-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(174,59,75,1)), color-stop(27%, rgba(204,129,135,1)), color-stop(51%, rgba(174,59,75,1)), color-stop(81%, rgba(204,129,135,1)), color-stop(96%, rgba(179,93,100,1)), color-stop(100%, rgba(179,93,100,1)));
    background: -webkit-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
    background: linear-gradient(135deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae3b4b', endColorstr='#b35d64', GradientType=1 );
}

    .FieldOfGold > .tab-container > .tabs > li.active {
        background: rgba(174,59,75,1);
        background: -moz-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(174,59,75,1)), color-stop(27%, rgba(204,129,135,1)), color-stop(51%, rgba(174,59,75,1)), color-stop(81%, rgba(204,129,135,1)), color-stop(96%, rgba(179,93,100,1)), color-stop(100%, rgba(179,93,100,1)));
        background: -webkit-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
        background: linear-gradient(135deg, rgba(174,59,75,1) 0%, rgba(204,129,135,1) 27%, rgba(174,59,75,1) 51%, rgba(204,129,135,1) 81%, rgba(179,93,100,1) 96%, rgba(179,93,100,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae3b4b', endColorstr='#b35d64', GradientType=1 );
    }

.Nature {
    background: rgba(134,79,171,1);
    background: -moz-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(134,79,171,1)), color-stop(14%, rgba(134,79,171,1)), color-stop(31%, rgba(163,113,199,1)), color-stop(52%, rgba(134,79,171,1)), color-stop(73%, rgba(163,113,199,1)), color-stop(100%, rgba(134,79,171,1)));
    background: -webkit-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
    background: linear-gradient(135deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#864fab', endColorstr='#864fab', GradientType=1 );
}

    .Nature > .tab-container > .tabs > li.active {
        background: rgba(134,79,171,1);
        background: -moz-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(134,79,171,1)), color-stop(14%, rgba(134,79,171,1)), color-stop(31%, rgba(163,113,199,1)), color-stop(52%, rgba(134,79,171,1)), color-stop(73%, rgba(163,113,199,1)), color-stop(100%, rgba(134,79,171,1)));
        background: -webkit-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
        background: linear-gradient(135deg, rgba(134,79,171,1) 0%, rgba(134,79,171,1) 14%, rgba(163,113,199,1) 31%, rgba(134,79,171,1) 52%, rgba(163,113,199,1) 73%, rgba(134,79,171,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#864fab', endColorstr='#864fab', GradientType=1 );
    }



.FountainBlue {
    background: radial-gradient(circle at 1.98% 89.01%,#7474BF,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#348AC7,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
}

    .FountainBlue > .tab-container > .tabs > li.active {
        background: radial-gradient(circle at 1.98% 89.01%,#7474BF,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#348AC7,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
    }

    .FountainBlue:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .FountainBlue .fa {
        color: white !important;
    }

    .FountainBlue .nav.navbar-nav > li > a {
        color: white !important;
    }

    .FountainBlue .navbar-right li {
        border-left: none !important;
    }

    .FountainBlue .toggle .fa {
        color: #fff !important;
    }

    .FountainBlue .paper-input {
        border-bottom-color: #fff;
    }

        .FountainBlue .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .FountainBlue .paper-input::-moz-placeholder {
            color: #fff;
        }

        .FountainBlue .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .FountainBlue .paper-input:-moz-placeholder {
            color: #fff;
        }


.ClearBlueSky {
    background: rgba(116,191,220,1);
    background: -moz-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(116,191,220,1)), color-stop(9%, rgba(24,147,185,1)), color-stop(28%, rgba(53,185,233,1)), color-stop(45%, rgba(24,147,185,1)), color-stop(58%, rgba(53,185,233,1)), color-stop(74%, rgba(24,147,185,1)), color-stop(88%, rgba(53,185,233,1)), color-stop(100%, rgba(116,191,220,1)));
    background: -webkit-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
    background: -o-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
    background: linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bfdc', endColorstr='#74bfdc', GradientType=1 );
}

    .ClearBlueSky > .tab-container > .tabs > li.active {
        background: rgba(116,191,220,1);
        background: -moz-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(116,191,220,1)), color-stop(9%, rgba(24,147,185,1)), color-stop(28%, rgba(53,185,233,1)), color-stop(45%, rgba(24,147,185,1)), color-stop(58%, rgba(53,185,233,1)), color-stop(74%, rgba(24,147,185,1)), color-stop(88%, rgba(53,185,233,1)), color-stop(100%, rgba(116,191,220,1)));
        background: -webkit-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
        background: -o-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
        background: linear-gradient(45deg, rgba(116,191,220,1) 0%, rgba(24,147,185,1) 9%, rgba(53,185,233,1) 28%, rgba(24,147,185,1) 45%, rgba(53,185,233,1) 58%, rgba(24,147,185,1) 74%, rgba(53,185,233,1) 88%, rgba(116,191,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bfdc', endColorstr='#74bfdc', GradientType=1 );
    }

.GreenMile {
    background: rgba(50,165,151,1);
    background: -moz-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,165,151,1)), color-stop(4%, rgba(50,165,151,1)), color-stop(27%, rgba(70,217,197,1)), color-stop(53%, rgba(50,165,151,1)), color-stop(87%, rgba(70,217,197,1)), color-stop(100%, rgba(50,165,151,1)));
    background: -webkit-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
    background: linear-gradient(135deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a597', endColorstr='#32a597', GradientType=1 );
}

    .GreenMile > .tab-container > .tabs > li.active {
        background: rgba(50,165,151,1);
        background: -moz-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(50,165,151,1)), color-stop(4%, rgba(50,165,151,1)), color-stop(27%, rgba(70,217,197,1)), color-stop(53%, rgba(50,165,151,1)), color-stop(87%, rgba(70,217,197,1)), color-stop(100%, rgba(50,165,151,1)));
        background: -webkit-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
        background: linear-gradient(135deg, rgba(50,165,151,1) 0%, rgba(50,165,151,1) 4%, rgba(70,217,197,1) 27%, rgba(50,165,151,1) 53%, rgba(70,217,197,1) 87%, rgba(50,165,151,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a597', endColorstr='#32a597', GradientType=1 );
    }

.Lime {
    background: rgba(57,147,172,1);
    background: -moz-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(57,147,172,1)), color-stop(13%, rgba(57,147,172,1)), color-stop(20%, rgba(116,198,220,1)), color-stop(27%, rgba(116,198,220,1)), color-stop(38%, rgba(57,147,172,1)), color-stop(52%, rgba(116,198,220,1)), color-stop(70%, rgba(57,147,172,1)), color-stop(88%, rgba(116,198,220,1)), color-stop(100%, rgba(49,120,140,1)));
    background: -webkit-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
    background: -o-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
    background: linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ac', endColorstr='#31788c', GradientType=1 );
}

    .Lime > .tab-container > .tabs > li.active {
        background: rgba(57,147,172,1);
        background: -moz-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(57,147,172,1)), color-stop(13%, rgba(57,147,172,1)), color-stop(20%, rgba(116,198,220,1)), color-stop(27%, rgba(116,198,220,1)), color-stop(38%, rgba(57,147,172,1)), color-stop(52%, rgba(116,198,220,1)), color-stop(70%, rgba(57,147,172,1)), color-stop(88%, rgba(116,198,220,1)), color-stop(100%, rgba(49,120,140,1)));
        background: -webkit-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
        background: -o-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
        background: linear-gradient(45deg, rgba(57,147,172,1) 0%, rgba(57,147,172,1) 13%, rgba(116,198,220,1) 20%, rgba(116,198,220,1) 27%, rgba(57,147,172,1) 38%, rgba(116,198,220,1) 52%, rgba(57,147,172,1) 70%, rgba(116,198,220,1) 88%, rgba(49,120,140,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3993ac', endColorstr='#31788c', GradientType=1 );
    }

/** /Solid Gradients for Float Menu and Member Header**/


/** Whitish from left Gradients for Top Nav Bar**/
.snow {
    background: #fff;
}

    .snow .fa {
        color: #515356;
    }

    .snow a {
        color: #515356;
    }

    .Snow .search_wrapper {
        border-bottom: 1px solid blue;
    }

    /*.Snow #searchBox {
        color: #515356;
    }

        .Snow #searchBox::-webkit-input-placeholder {
            color: rgba(81,83,86,0.60);
        }*/

.PatchySky {
    /*background: rgba(188,224,238,1);
    background: -moz-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(188,224,238,1)), color-stop(11%, rgba(188,224,238,1)), color-stop(19%, rgba(179,220,237,1)), color-stop(100%, rgba(41,184,229,1)));
    background: -webkit-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -o-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: linear-gradient(to right, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bce0ee', endColorstr='#29b8e5', GradientType=1 );*/
    background: #58a7b2;
    background-image: linear-gradient(#3eaaaf,#279ba6);
}

    .PatchySky:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .PatchySky .fa {
        color: white ;
    }

    .PatchySky .nav.navbar-nav > li > a {
        color: white !important;
    }

    .PatchySky .navbar-right li {
        border-left: none !important;
    }

    .PatchySky .toggle .fa {
        color: #fff;
    }

    .PatchySky .paper-input {
        border-bottom-color: #fff;
    }

        .PatchySky .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .PatchySky .paper-input::-moz-placeholder {
            color: #fff;
        }

        .PatchySky .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .PatchySky .paper-input:-moz-placeholder {
            color: #fff;
        }

/*Green Shade*/

.lightGreen {
    /*background: rgba(188,224,238,1);
    background: -moz-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(188,224,238,1)), color-stop(11%, rgba(188,224,238,1)), color-stop(19%, rgba(179,220,237,1)), color-stop(100%, rgba(41,184,229,1)));
    background: -webkit-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -o-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    background: linear-gradient(to right, rgba(188,224,238,1) 0%, rgba(188,224,238,1) 11%, rgba(179,220,237,1) 19%, rgba(41,184,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bce0ee', endColorstr='#29b8e5', GradientType=1 );*/
    background: #4eaca2;
    background-image: linear-gradient(#44a997,#32a597);
}

    .lightGreen:before {
        content: "";
        width: 100%;
        height: 6px;
        top: 1px;
        display: block;
        position: absolute;
        left: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 1px 1px 82px 82px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    .lightGreen:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .lightGreen .fa {
        color: white;
    }

    .lightGreen .nav.navbar-nav > li > a {
        color: white !important;
    }

    .lightGreen .navbar-right li {
        border-left: none !important;
    }

    .lightGreen .toggle .fa {
        color: #fff;
    }

    .lightGreen .paper-input {
        border-bottom-color: #fff;
    }

        .lightGreen .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .lightGreen .paper-input::-moz-placeholder {
            color: #fff;
        }

        .lightGreen .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .lightGreen .paper-input:-moz-placeholder {
            color: #fff;
        }

/*End of Green Shade*/


.Pinklight {
    /*background: rgba(252,236,252,1);
    background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(20%, rgba(253,137,215,1)), color-stop(46%, rgba(153,0,153,1)), color-stop(100%, rgba(153,0,153,1)));
    background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#990099', GradientType=1 );*/
    background: #774e9f;
    background-image: linear-gradient(#774e9f,#864fab);
}

    .Pinklight:before {
        content: "";
        width: 100%;
        height: 6px;
        top: 1px;
        display: block;
        position: absolute;
        left: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 1px 1px 82px 82px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    .Pinklight:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .Pinklight .fa {
        color: #fff ;
    }

    .Pinklight .navbar-right li {
        border-left: none !important;
    }

    .Pinklight .nav.navbar-nav > li > a {
        color: #fff !important;
    }

    .Pinklight .toggle .fa {
        color: #fff ;
    }

    .Pinklight .paper-input {
        border-bottom-color: #fff;
    }

        .Pinklight .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .Pinklight .paper-input::-moz-placeholder {
            color: #fff;
        }

        .Pinklight .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .Pinklight .paper-input:-moz-placeholder {
            color: #fff;
        }


.PurpleLight {
    /*background: rgba(252,236,252,1);
    background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(20%, rgba(253,137,215,1)), color-stop(46%, rgba(153,0,153,1)), color-stop(100%, rgba(153,0,153,1)));
    background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(253,137,215,1) 20%, rgba(153,0,153,1) 46%, rgba(153,0,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#990099', GradientType=1 );*/
    background: #66679e;
    background-image: linear-gradient(#565393,#7f7ca9);
}

    .PurpleLight:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .PurpleLight .fa {
        color: #fff;
    }

    .PurpleLight .navbar-right li {
        border-left: none !important;
    }

    .PurpleLight .nav.navbar-nav > li > a {
        color: #fff !important;
    }

    .PurpleLight .toggle .fa {
        color: #fff ;
    }

    .PurpleLight .paper-input {
        border-bottom-color: #fff;
    }

        .PurpleLight .paper-input::-webkit-input-placeholder {
            color: #fff;
        }

        .PurpleLight .paper-input::-moz-placeholder {
            color: #fff;
        }

        .PurpleLight .paper-input:-ms-input-placeholder {
            color: #fff;
        }

        .PurpleLight .paper-input:-moz-placeholder {
            color: #fff;
        }





.AccessBlueTop {
    /*background: rgba(246,246,246,1);
    background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 9%, rgba(0,57,115,1) 70%, rgba(0,57,115,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(9%, rgba(255,255,255,1)), color-stop(70%, rgba(0,57,115,1)), color-stop(100%, rgba(0,57,115,1)));
    background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 9%, rgba(0,57,115,1) 70%, rgba(0,57,115,1) 100%);
    background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 9%, rgba(0,57,115,1) 70%, rgba(0,57,115,1) 100%);
    background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 9%, rgba(0,57,115,1) 70%, rgba(0,57,115,1) 100%);
    background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 9%, rgba(0,57,115,1) 70%, rgba(0,57,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#003973', GradientType=1 );*/
    /* background styles */
    background: #567cba; /*for compatibility with older browsers*/
    background-image: linear-gradient(rgb(79, 107, 153),#6996c3);
}

    .AccessBlueTop:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .AccessBlueTop:before {
        content: "";
        width: 100%;
        height: 6px;
        top: 1px;
        display: block;
        position: absolute;
        left: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 1px 1px 82px 82px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.89) 0%,rgba(255, 255, 255, 0.78) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }

    .AccessBlueTop .fa {
        color: #fff ;
    }

    .AccessBlueTop .nav.navbar-nav > li > a {
        color: #fff !important;
    }
    /*.AccessBlueTopActive.sideBarExpand li.active > a{
       background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14)) !important;
    }*/

    .AccessBlueTop .navbar-right li {
        border-left: none !important;
        top: 3px;
    }

    .AccessBlueTop .toggle .fa {
        color: #fff !important;
    }

    .AccessBlueTop .paper-input {
        border-bottom-color: #fff;
    }

        .AccessBlueTop .paper-input::-webkit-input-placeholder {
            color: #D9DEE4;
        }

        .AccessBlueTop .paper-input::-moz-placeholder {
            color: #D9DEE4;
        }

        .AccessBlueTop .paper-input:-ms-input-placeholder {
            color: #D9DEE4;
        }

        .AccessBlueTop .paper-input:-moz-placeholder {
            color: #D9DEE4;
        }

.BlueBackTop {
    /*background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffff, endColorstr= #4b6cb7);
    background-image: -moz-linear-gradient(left, #ffffff 13%, #4b6cb7 52%,#0cc285 100%);
    background-image: linear-gradient(left, #ffffff 13%, #4b6cb7 52%,#0cc285 100%);
    background-image: -webkit-linear-gradient(left, #ffffff 13%, #4b6cb7 52%,#0cc285 100%);
    background-image: -o-linear-gradient(left, #ffffff 13%, #4b6cb7 52%,#0cc285 100%);
    background-image: -ms-linear-gradient(left, #ffffff 13%, #4b6cb7 52%,#0cc285 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(13%,#ffffff), color-stop(52%, #4b6cb7),color-stop(100%,#0cc285));*/
    background: #ab2834; /*for compatibility with older browsers*/
    background-image: linear-gradient(#ae3b4b,#b6575e);
}

    .BlueBackTop:after {
        content: '';
        position: absolute;
        top: -8px;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.14));
    }

    .BlueBackTop .fa {
        color: #fff !important;
    }

    .BlueBackTop .navbar-right li {
        border-left: none !important;
    }

    .BlueBackTop .nav.navbar-nav > li > a {
        color: #fff !important;
    }

    .BlueBackTop .search-arrow a {
        color: #fff !important;
    }

    .BlueBackTop .toggle .fa {
        color: #fff !important;
    }

    .BlueBackTop .paper-input {
        border-bottom-color: #fff;
    }

        .BlueBackTop .paper-input::-webkit-input-placeholder {
            color: #4b6cb7 !important;
        }

        .BlueBackTop .paper-input::-moz-placeholder {
            color: #4b6cb7 !important;
        }

        .BlueBackTop .paper-input:-ms-input-placeholder {
            color: #4b6cb7 !important;
        }

        .BlueBackTop .paper-input:-moz-placeholder {
            color: #4b6cb7 !important;
        }
/** /Whitish from left Gradients for Top Nav Bar**/


