body .container.body .right_col {
    background: #406c9a;
}

.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        /* color: #07235f !important; */
        cursor: pointer;
        /* text-decoration: none; */
    }

    .work_menu > li > a:hover {
        color: #fff !important;
        cursor: pointer;
        /* text-decoration: none; */
    }

.RealestateBreadCrum {
    color: white;
    background: #406c9a;
}
