body .container.body .right_col {
    background: rgba(249,108,83,1);
    background: -moz-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(249,108,83,1)), color-stop(16%, rgba(244,144,128,1)), color-stop(28%, rgba(242,76,54,1)), color-stop(49%, rgba(244,144,128,1)), color-stop(62%, rgba(242,76,54,1)), color-stop(71%, rgba(244,144,128,1)), color-stop(83%, rgba(247,67,43,1)), color-stop(92%, rgba(244,144,128,1)), color-stop(100%, rgba(234,81,67,1)));
    background: -webkit-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96c53', endColorstr='#ea5143', GradientType=1 );
}



.nav.side-menu > li > a, .nav.child_menu > li > a {
    color: white;
}

    .nav.side-menu > li > a:hover {
        color: white !important;
        cursor: pointer;
    }

.RealestateBreadCrum {
    color: white;
    background: rgba(249,108,83,1);
    background: -moz-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(249,108,83,1)), color-stop(16%, rgba(244,144,128,1)), color-stop(28%, rgba(242,76,54,1)), color-stop(49%, rgba(244,144,128,1)), color-stop(62%, rgba(242,76,54,1)), color-stop(71%, rgba(244,144,128,1)), color-stop(83%, rgba(247,67,43,1)), color-stop(92%, rgba(244,144,128,1)), color-stop(100%, rgba(234,81,67,1)));
    background: -webkit-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -o-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    background: linear-gradient(45deg, rgba(249,108,83,1) 0%, rgba(244,144,128,1) 16%, rgba(242,76,54,1) 28%, rgba(244,144,128,1) 49%, rgba(242,76,54,1) 62%, rgba(244,144,128,1) 71%, rgba(247,67,43,1) 83%, rgba(244,144,128,1) 92%, rgba(234,81,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96c53', endColorstr='#ea5143', GradientType=1 );
}
}
