
<style>
    label.small {
        color: #337ab7;
    }
</style>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        @*<div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="/Dashboard/Index">Dashboard</a>
                    </li>

                    <li class="active">
                        <i class="fa fa-file-o"></i> Ultimate Upload Documents
                    </li>
                </ol>
            </div>
        </div>*@
        <!-- /.row -->
        <div id="actionControlsContainer">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div role="tabpanel">
                            <div role="tabpanel" class="tab-pane" id="uploadedDocuments">
                                <!---Practice Location Information partial starts here-->
                                <br />
                                <div class="clearfix"></div>
                                <br />

                                <div class="col-lg-12">
                                    <div class="form-group col-md-6 text-center">
                                        <label class="control-label">Name of the applicant : </label>
                                        <label class="control-label small">Pariksith Singh</label>
                                    </div>

                                    <div class="form-group col-md-6 text-center">
                                        <label class="control-label">Specialty : </label>
                                        <label class="control-label small">Internal Medicine</label>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-lg-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Document</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Application or CAQH Application w/Attestation</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                            </tr>
                                            <tr>
                                                <td>Medical License</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - LICENSE.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Curriculum Vitae (written explanation of gaps greater than 6 months)</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - CV.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Board Certification (if applicable)</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - BOARD CERT.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>ECFMG (if applicable)</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - ECFMG.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Current DEA Certificate</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - DEA.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Current Malpractice Liability Insurance Certificate</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - LIABILITY INS.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Copy of Hospital Privilege Letters (if applicable)</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - HOSPITAL PRIV LTRS.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Attestation of Total Patient Load (PCP’s only)</td>
                                                <td><i class="fa fa-times text-danger"></i></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Attestation of Site Visit</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/ATTESTATIONOFSITEVISIT.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td>Medical School Diploma and Residency Certificate</td>
                                                <td><i class="fa fa-check text-success"></i></td>
                                                <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="/Content/Document/SINGH - RESIDENCY CERT.pdf" target="_blank"><i class="fa fa-eye"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!---Practice Location Information partial ends here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
            <script type="text/javascript">

                $('input').prop('autocomplete', 'off');

                var submitForm = function () {
                    var value = $("#status").val();
                    if (value == "approve") {
                        $("#actionControlsContainer").effect('explode', function () { $('#email_mail_container').slideDown(); });
                    }
                    else if (value == "reject") {
                        $("#actionControlsContainer").effect('explode', function () { $('#alert_container').show(); $('#rejectAlert').show(); });
                    }
                    else if (value == "reprocess") {
                        $("#actionControlsContainer").effect('explode', function () { $('#alert_container').show(); $('#reprocessAlert').show(); });
                    }
                };

                var sendEmail = function () {
                    $("#email_mail_container").effect('explode', function () { $('#alert_container').show(); $('#approveAlert').show(); });
                };

            </script>





            <script>
                $(function () {
                    $('[data-toggle="popover"]').popover();
                    $('[data-toggle="tooltip"]').tooltip();
                })

                $(document).ready(function () {
                    console.log("changing size");
                    var screen = $(window).width();

                    if (screen < 1025) {
                        $("#sidemenu").addClass("menu-in");
                        $("#page-wrapper").addClass("menuup");
                    }
                });
            </script>
