@model PortalTemplate.Areas.CredAxis.Models.EmploymentInformationVieModel.EmploymentInformationMainViewModel
<div class="clearfix"></div>
<div class="target profilediv col-lg-12" id="IDEmploymentInformation">
    <div class="col-lg-12 padding_top_down_5px nopadding " id="ViewEmploymentInformation">
        @if (Model.employmentInformation != null)
        {
             @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EmploymentInformation/_EmploymentInformation.cshtml",Model.employmentInformation)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "EMPLOYMENT INFORMATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EmploymentInformation/_AddEditEmploymentInformation.cshtml", SectionId = "ViewEmploymentInformation" })
        }
    
    </div>
    <div class="col-lg-12 padding_top_down_5px nopadding" id="ViewGroupInformation">
        @if (Model.groupInformation != null)
        {
           @Html.Partial("~/Areas/CredAxis/Views/ProviderProfile/Tabs/EmploymentInformation/_GroupInformation.cshtml",Model.groupInformation)
        }
        else
        {
            @Html.Action("GetNoDataAvailablePartial", "CredAxis", new { SectionName = "GROUP INFORMATION", RedirectUrl = "~/Areas/CredAxis/Views/ProviderProfile/Tabs/EmploymentInformation/_AddEditGroupInformation.cshtml", SectionId = "ViewGroupInformation" })
        }

       
    </div>
</div>
<div class="clearfix"></div>