<div class="container">

</div>
<div class="ContactsModal">
    <div class="row" id="Contacts">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Type</label>
            <select class="form-control text-uppercase inp" onchange="ReasonOutcome()" id="Type"></select>
            <span class="text-danger"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Entity</label>
            <select class="form-control  text-uppercase inp" onchange="ReasonOutcome()" id="Entity"></select>
            <span class="text-danger"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Contact Name</label>
            <input type="text" class="form-control inp" id="ContactName" placeholder="Contact Name" />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Contact Number</label>
            <input type="text" class="form-control inp" id="ContactNumber" placeholder="Contact Number" />
            <span class="text-danger"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12" id="Datetime">
            <label>Date and Time of Call</label>
            <input type="datetime" class="form-control inp" id="date" placeholder="mm/dd/yyyy" />
            <span class="text-danger"></span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label class="viewActive">Reason</label>
            <select class="form-control  text-uppercase inp" id="Reason"></select>
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>OutCome</label>
            <select class="form-control text-uppercase inp" id="outcome"></select>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Direction</label>
            <div class="x_content zero_padding_bottom">
                <div class="inline_block">
                  <input id="outbound" type="radio" name="Direction" class="normal-radio" value="OutBound" checked="checked">
                  <label for="outbound"><span></span>Outbound</label>                
                </div>
                 <div class="inline_block">
                   <input id="inbound" type="radio" name="Direction" class="normal-radio" value="InBound">
                   <label for="inbound"><span></span>Inbound</label>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>OutcomeType</label>
            <div class="x_content zero_padding_bottom">
                    <div class="inline_block">
                        <input id="success" type="radio" name="OutcomeType" class="normal-radio" value="Successful" checked="checked">
                        <label for="success"><span></span>Success</label>
                    </div>               
                     <div class="inline_block">
                        <input id="unsuccess" type="radio" name="OutcomeType" class="normal-radio" value="Unsuccessful">
                        <label for="unsuccess"><span></span>Unsuccess</label>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Note</label>
            <textarea class="form-control input-xs inp" id="note" placeholder="NOTE HERE" rows="6" cols="140"></textarea>
        </div>
    </div>
</div>