@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.LanguageInfoViewModel
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;

@*<div ng-if="!Provider.LanguageInfo" class="col-md-12 zero-padding-left-right-div">
    No Data Available ! Please Provide Language Information...
    <button class="btn btn-xs btn-primary pull-right" ng-click="LanguageKnownToggle()"><i class="fa fa-plus"></i> Language Information</button>
</div>*@
<div class="col-lg-12">
    <table ng-if="!Provider.LanguageInfo" class="table table-bordered table-condensed customtbodyStyle table-striped">
        <thead>
            <tr>
                <td>
                    No Data Available for Language Known!
                    @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                    {
                        <span>Please click on <button class="btn btn-xs btn-success" ng-click="LanguageKnownToggle('EditKnowLanguage')" data-toggle="tooltip" data-placement="top" title="Add New"><i class="fa fa-plus"></i></button> to add new Language Known</span>
                    }
                </td>
            </tr>
        </thead>
    </table>
</div>
<div ng-if="Provider.LanguageInfo" class="col-md-12 zero-padding-left-right-div">
    <div class="col-lg-6">
        <label class="control-label small">Non- English Languages you are fluent (in order of proficiency)</label>
    </div>
    <div class="col-lg-6">
        @Html.LabelFor(model => model.CanSpeakAmericanSignYesNoOption, htmlAttributes: new { @class = "control-label small" })
        &nbsp;&nbsp;
        {{Provider.LanguageInfo.CanSpeakAmericanSignLanguage}}
    </div>
    <div class="col-lg-12">
        <table ng-if="Provider.LanguageInfo.KnownLanguages.length > 0" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Language</th>
                    @*<th>Read</th>
                    <th>Write</th>
                    <th>Speak</th>*@
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kl in Provider.LanguageInfo.KnownLanguages | orderBy:'ProficiencyIndex':reverse track by $index">
                    <td>
                        <span ng-if="kl.ProficiencyIndex">{{kl.ProficiencyIndex}}</span>
                        <span ng-if="!kl.ProficiencyIndex">Not Available</span>
                    </td>
                    <td>{{kl.Language}}</td>
                    @*<td>
                        <i ng-if="langInfo.CanRead" class="fa fa-check"></i>
                    </td>
                    <td>
                        <i ng-if="langInfo.CanWrite" class="fa fa-check"></i>
                    </td>
                    <td>
                        <i ng-if="langInfo.CanSpeak" class="fa fa-check"></i>
                    </td>*@
                </tr>
            </tbody>
        </table>
        <span ng-if="Provider.LanguageInfo.KnownLanguages.length == 0"><i>Not Available</i></span>
    </div>
</div>