<!-- Page Heading -->
<div class="panel panel-default content-panel" style="border:none">
    @*<div class="panel-heading">
            <span class="badge bg-info pull-right" ng-show="ifFilter()">{{getIndexFirst()}} - {{getIndexLast()}} of {{data.length}}</span>
            <h3 class="panel-title">List of Credentialing Initiations</h3>
        </div>*@
    <div class="clearfix"></div>
    <div ng-cloak>
        <div ng-show="loadingAjax" class="progress" ng-cloak>
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                Loading...Please wait...
            </div>
        </div>
        <div ng-show="data.length==0 && !loadingAjax">
            <h4>No Data Available...</h4>
        </div>
        <div ng-show="data.length!=0" style="overflow-x:auto;">
            
            <table ng-table="tableParams1" class="table table-hover ng-table-resizable-columns ng-table-rowselected">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Plan</th>
                        <th>Initial Credential Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Filter First Name" class="form-control input-sm" ng-model="search.FirstName"  ng-change="filterData()"></td>
                        <td><input type="text" placeholder="Filter Last Name" class="form-control input-sm" ng-model="search.LastName" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter Plan" class="form-control input-sm" ng-model="search.PlanName" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter Initial Credential Date" class="form-control input-sm" ng-model="search.InitiationDate" ng-change="filterData()" /></td>
                        <td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.CurrentStatus" ng-change="filterData()" /></td>
                        <td></td>
                    </tr>
                </thead>
                <!-- ngInclude: templates.header -->
                <!-- ngRepeat: user in $data -->
                <tbody>
                    <tr ng-repeat="user in $data | filter:{FirstName:search.FirstName,LastName:search.LastName,PlanName:search.PlanName,InitiationDate:search.InitiationDate,CurrentStatus:search.CurrentStatus} track by $index" ng-show="IsValidIndex($index)">

                        <td class="wrap-words">
                            {{user.FirstName}}
                        </td>
                        <td class="wrap-words">
                            {{user.LastName}}
                        </td>
                        <td class="wrap-words">
                            {{user.Plan.PlanName}}
                        </td>
                        <td class="wrap-words">
                            {{user.InitiationDate}}
                        </td>
                        <td class="wrap-words">
                            {{user.CurrentStatus}}
                        </td>
                        <td>
                            <a ng-if="!drop" class="btn btn-xs btn-info pull-right" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Credentialing/CnD/Application/{{user.CredentialingInfoID}}" ng-click="setCredInfo(user.CredentialingInfoID);setCreListId(1);" @*target="_blank"*@ tooltip data-toggle="tooltip" data-placement="top" title="View Application"><i class="fa fa-caret-right"></i></a>
                            <input id="drop{{$index}}" ng-if="drop" class="pull-right" ng-model="user.check" ng-click="checkMe(user.check, user)" ng-class="{'disabled':user.isStatusDropped}" type="checkbox" ng-disabled="user.isStatusDropped" />
                        </td>
                       </tr>
                </tbody>

                <!-- end ngRepeat: user in data -->
            </table>
            <div class="alert alert-success col-lg-12" role="alert" ng-if="IsMessage">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{SuccessMessage}}
            </div>
            @*<script type="text/ng-template" id="ng-table/headers/checkbox.html">
                <span ng-if="drop">
                    Select All
                    <input type="checkbox" ng-model="Check.isAllChecked" ng-click="selectAll()" id="select_all" name="filter-checkbox" value="" />
                </span>
            </script>*@
        </div>

        <button type="button" class="btn btn-sm btn-warning pull-left" ng-click="revert()" ng-if="drop">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="initWarning();" ng-disabled="disable" ng-if="drop">Initiate Drop</button>

    </div>
</div>
