
<br />
<div ng-controller="WorkHistoryController">
    @Html.Partial("~/Areas/Profile/Views/WorkHistory/_ProfessionalWorkExperience.cshtml")
    @Html.Partial("~/Areas/Profile/Views/WorkHistory/_MilitaryServiceInformation.cshtml")
    @Html.Partial("~/Areas/Profile/Views/WorkHistory/_PublicHealthService.cshtml")
    @Html.Partial("~/Areas/Profile/Views/WorkHistory/_WorkGap.cshtml")
</div>