<fieldset>
    <legend>
        Address Details
    </legend>
    <div ng-repeat="pl in tempPlanObject.Locations track by $index" class="col-lg-12 zero-padding-right-right-div">

        <div class="col-md-4 form-group">
            <label class="control-label small">Street/P.O Box:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.Street || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label small">Appartment No:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.Appartment || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-lg-4 form-group">
            <label class="control-label small">City:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.City || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label small">State:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.State || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label small">Zip Code:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.ZipCode || 'Not available' }}</i>
            </div>
        </div>

        <div class="col-md-4 form-group">
            <label class="control-label small">Country:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.Country || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label small">County:</label>
            <div>
                <i class="data-label  wrap-words">{{pl.County || 'Not available' }}</i>
            </div>
        </div>
    </div>

    <div ng-if="tempPlanObject.Locations.length==0" class="col-lg-12 zero-padding-right-right-div">

        <table class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No Address Available !!
                    </td>
                </tr>
            </thead>
        </table>

    </div>
</fieldset>


