<link href="~/Content/SharedCss/SmartTable.css" rel="stylesheet" />

<div class="row" ng-init="RefreshData('PRO')">
    <h3 style=" color: #6b98e7; margin-left: 2%;">Provider Summary Status</h3>
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" style="border-top: 1px solid #eee; padding-top: 10px;">
            <div>
                <table class='paginated table table-striped table-bordered customtbodyStyle medium wrap-words' st-pipe="pc.callServer" st-table="pc.displayed" st-safe-src="PrototypeData">
                    <thead>
                        <tr class="theadColor">
                            <th st-sort="ProName" st-ratio="10">
                                Provider Name
                            </th>
                            <th st-sort="NPI" st-ratio="8">
                                NPI
                            </th>
                            <th st-sort="ProStatus" st-ratio="11">
                                Profile Status
                            </th>
                            <th st-sort-default="false" st-sort="CredCompleted" st-ratio="10">
                                Credentialintg Completed
                            </th>
                            <th st-sort="CredIncompleted" st-ratio="11">
                                Credentialintg Incompleted
                            </th>
                            <th st-sort="ccoAssigned" st-ratio="10">
                                CCO Assigned
                            </th>
                            <th st-ratio="4">Action</th>
                        </tr>
                        <tr>
                            <td st-ratio="10"><input st-search="ProName" type="text" placeholder="Filter Provider Name" class="form-control input-sm"></td>
                            <td st-ratio="8"><input st-search="NPI" type="text" placeholder="Filter NPI" class="form-control input-sm" /></td>
                            <td st-ratio="11"><input st-search="ProStatus" type="text" placeholder="Filter Profile Status" class="form-control input-sm" /></td>
                            <td st-ratio="10"><input st-search="CredCompleted" type="text" placeholder="Filter Credentialintg Completed" class="form-control input-sm" /></td>
                            <td st-ratio="11"><input st-search="CredIncompleted" type="text" placeholder="Filter Credentialintg Incompleted" class="form-control input-sm" /></td>
                            <td st-ratio="10"><input st-search="ccoAssigned" type="text" placeholder="Filter CCO Assigned" class="form-control input-sm" /></td>
                            <td st-ratio="4"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in pc.displayed">
                            <td>{{c.ProName}}</td>
                            <td>{{c.NPI}}</td>
                            <td><i class="fa fa-check-square" ng-if="c.ProStatus=='100'" style="color:green"></i><i class="fa fa-times-circle" ng-if="c.ProStatus!='100'" style="color:red"></i>&nbsp;&nbsp;{{c.ProStatus}}%</td>
                            <td>{{c.CredCompleted}}</td>
                            <td ng-click="showCred('Pro')" style="color:red"><u>{{c.CredIncompleted}}</u></td>
                            <td>{{c.ccoAssigned||'Not Available'}}</td>
                            <td>
                                <a class="btn btn-xs btn-warning" href='@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/MasterProfile/ProviderProfile/1' tooltip data-toggle="tooltip" data-placement="top" title="Redirect"><i class="glyphicon glyphicon-forward"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot style="cursor:pointer">
                        <tr>
                            <td class=" text-center" st-pagination="" st-items-by-page="10" colspan="9"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>


        <div ng-if="showProCredData" ng-cloak>
            <h3 style=" color: #6b98e7; margin-left: 1%;">Credentialing Pending</h3>
            <table class='paginated table table-striped table-bordered customtbodyStyle medium wrap-words'>
                <thead>
                    <tr class="theadColor">
                        <th>
                            Plan Name
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            Initiated To
                        </th>
                        <th>
                            Phase Of Credentialing
                        </th>
                        <th>
                            Credentialing Status
                        </th>
                        <th>
                            No. of Days Pending From
                        </th>
                        <th>
                            Avg. Time To Complete(Hrs)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in credDetailsData" onclick="window.document.location = '/Credentialing/CnD/Application/1';">
                        @*<a class="btn btn-xs btn-info pull-right ng-scope" href="/Credentialing/CnD/Application/1" tooltip="" data-toggle="tooltip" data-placement="top" title="Redirect to credetialing page"</a>*@
                        <td>{{data.PlanName}}</td>
                        <td>{{data.Start}}</td>
                        <td>{{data.Initiated}}</td>
                        <td>{{data.CredPhase}}</td>
                        <td>{{data.CredStat}}</td>
                        <td>{{data.Pending}}</td>
                        <td>{{data.AvgTime}}</td>
                        <a href="/Credentialing/CnD/Application/1"</a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

