
<style>
    .btn1 {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 16px;
        width: 44%;
    }

    .btn-lg {
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }

    .btn-primary2 {
        color: #fff;
        background-color: #428bca;
        border-color: #357ebd;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #3276b1;
        border-color: #285e8e;
    }

    /***********************
      RAISED BUTTONS
    ************************/
    .btn-primary2.raised {
        box-shadow: 0 3px 0 0 #007299;
    }

        .btn-primary2.raised:active, .btn-primary.raised.active {
            background: #33a6cc;
            box-shadow: none;
            margin-bottom: -3px;
            margin-top: 3px;
        }

    /***********************
      CUSTON BTN VALUES
    ************************/

    .btn1 {
        padding: 14px 24px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

    .btn-primary2 {
        background: #0099cc;
        color: #ffffff;
    }

        .btn-primary2:hover, .btn-primary2:focus, .btn-primary2:active, .btn-primary2.active, .open > .dropdown-toggle.btn-primary2 {
            background: #33a6cc;
        }

        .btn-primary2:active, .btn-primary2.active {
            background: #007299;
            box-shadow: none;
        }

    .ProviderDetailsFrame {
        width: 364px;
        height: 93px;
        background-color: rgba(128, 128, 128, 0.54);
        border-radius: 10px;
        float: left;
        margin-right: 5px;
        margin-left: 1px;
        margin-top: 5px;
        font-size: 13px;
        font-weight: bold;
    }

    .pointing-caret-pv1 {
        /*display: none;*/
        position: absolute;
        left: 25%;
        top: 53px;
        border: solid rgb(0, 0, 0);
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        transition: ease-in 0.3s;
    }

    .pointing-caret-pv2 {
        /*display: none;*/
        position: absolute;
        left: 75%;
        top: 53px;
        border: solid rgb(0, 0, 0);
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        transition: ease-in 0.3s;
    }

    .ProviderDetailsFrame:hover {
        color: #fff;
        background-color: #0099cc;
        border-color: #285e8e;
    }
</style>

<div ng-cloak ng-if="data.length!=0" class="panel panel-default content-panel">
    <div class="panel-heading">
        <span class="panel-title pull-right btn-link pull-right" onclick="SearchTLPanelToggle();"><i class="btn btn-sm btn-default fa fa-th-list"></i></span>

        <span class="pull-right">
            <button style="margin-left: -69%; margin-top: -5%; background-image: linear-gradient(to bottom, #48b8d9 0, #265a88 100%);" ng-click="AssignToCCO()" class="btn btn-primary btn-sm">
                Assignment Providers
            </button>
        </span>
        <span class="pull-right" style="margin-right: -11%;">
            <span class="badge bg-info" ng-show="ifFilter()">{{getIndexFirst()}} - {{getIndexLast()}} of {{data.length}}</span>
        </span>
        <h3 class="panel-title">Search Results  </h3>
    </div>
    <div class="panel-body" id="searchTLResultID">
        <div class="col-lg-12">
            <table ng-table="tableParams1" show-filter="true" class="table table-hover ng-table-resizable-columns ng-table-rowselected">
                <tr ng-repeat="user in $data track by $index">
                    <td class="col-lg-2 wrap-words" data-title="'NPI Number'" header-class="text-left" sortable="'NPINumber'" filter="{ 'NPINumber': 'text' }">
                        {{user.NPINumber}}
                    </td>
                    <td class="col-lg-2 wrap-words" data-title="'Title'" header-class="text-left" sortable="'FullTitles'" filter="{ 'FullTitles': 'text' }">
                        {{user.FullTitles}}
                    </td>
                    <td class="col-lg-2 wrap-words" data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }">
                        {{user.FirstName}}
                    </td>
                    <td class="col-lg-2 wrap-words" data-title="'Last Name'" header-class="text-left" sortable=" 'LastName'" filter="{ 'LastName': 'text' }">
                        {{user.LastName}}
                    </td>
                    <td class="col-lg-1 wrap-words" data-title="'Provider Relation'" header-class="text-left" sortable="'FullRelations'" filter="{ 'FullRelations': 'text' }">
                        {{user.FullRelations}}
                    </td>
                    @*<td class="col-lg-2 wrap-words" data-title="'IPA'" header-class="text-left" sortable="'IPAGroupNames'" filter="{ 'IPAGroupNames': 'text' }">
                            <span ng-show="user.IPAGroupNames.length > 0" ng-repeat="group in user.IPAGroupNames track by $index"><i ng-if="$index>0">,</i><br ng-if="$index>0" />{{group}}</span>
                            <span ng-show="user.IPAGroupNames.length == 0">Not Available</span>
                        </td>*@
                    <td class="col-lg-1 wrap-words" data-title="'Status'" header-class="text-left" sortable="'Status'" filter="{ 'Status': 'text' }">
                        {{user.Status}} <span ng-if="user.StatusType==1"><i class="fa fa-check" style="color:green"></i></span><span ng-if="user.StatusType==2"><i class="fa fa-close" style="color:red"></i></span>
                    </td>

                    <td class="col-lg-2" data-title="'Action'" header-class="text-right">
                        @* <a href="~/Profile/MasterProfile/ProviderProfile/{{user.ProfileID}}" data-toggle="tooltip" data-placement="left" title="View Profile" class="btn btn-xs btn-info pull-right"><i class="fa fa-2x fa-chevron-circle-right"></i></a>*@
                        <button ng-click="deactiveProfileInfo(user.ProfileID,$index)" ng-if="user.StatusType==1" class="btn btn-warning btn-sm">Deactivate</button>
                        <button ng-click="reactiveProfileInfo(user.ProfileID,$index)" ng-if="user.StatusType==2" class="btn btn-success btn-sm">Reactivate</button>
                        <input type="checkbox" name="assigncheckbox" value="cco">
                        @*<a href="~/Profile/ProfileRoleMapping/Index/{{user.ProfileID}}" data-toggle="tooltip" data-placement="left" title="User Role Mapping" class="btn btn-xs btn-info pull-right"><i class="fa fa-2x fa-user"></i></a>*@
                        <a id="temp{{$index}}" ng-disabled="user.StatusType==2" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Profile/ProfileDelegation/Index/{{user.ProfileID}}" data-toggle="tooltip" data-placement="left" title="Assign TL" class="btn btn-xs btn-info pull-right"><i class="fa fa-2x fa-user"></i></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="deactivateProfile">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                        </div>
                        <div class="modal-body">
                            Do you really want to deactivate profile?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="deactiveProfile(SelectedProfileID)">Deactivate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="profileReactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="reactivateProfile">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                        </div>
                        <div class="modal-body">
                            Do you really want to reactivate profile?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="reactiveProfile(SelectedProfileID)">Reactivate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="inactiveWarningModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="removeTask">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Warning!!!!</h4>
                        </div>
                        <div class="col-lg-12 text-center" ng-show="isRemoved">
                            <div style="margin-top:2%;">
                                <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                            </div>
                        </div>
                        <div class="modal-body" ng-show="!isRemoved">
                            Do you really want to assign providers to CCO - {{ccoName}} ?                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="assignTask()" data-dismiss="modal">Assign</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="inactiveWarningModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="removeTask">
                        <div class="modal-header" style="background-color: rgba(0, 128, 0, 0.53);">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Success</h4>
                        </div>
                        <div class="col-lg-12 text-center" ng-show="isRemoved">
                            <div style="margin-top:2%;">
                                <img src="~/Content/Images/ajax-loader.gif" style="width:50px;" /> Please Wait..
                            </div>
                        </div>
                        <div class="modal-body" ng-show="!isRemoved">
                            Successfully assigned providers to {{ccoName}}                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak ng-if="ShowProfileDelegation" class="panel panel-default content-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Profile Delegation</h3>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn1 btn-lg raised btn-primary2" style="margin-left:3%" ng-click="displayData('CCOAssignedData')">CCO Assignments</button><span ng-if="ccoAssign" class="pointing-caret-pv1"></span>
            <button type="button" class="btn btn-primary btn1 btn-lg raised btn-primary2" style="margin-left:6%" ng-click="displayData('TLAssignedData')">TL Assignments</button><span ng-if="!ccoAssign" class="pointing-caret-pv2"></span>
        </div>
        <div>
            <br />
        </div>
        <div style="border: 1px solid rgba(128, 128, 128, 0.66); margin-top: 4%; height: 340px; ">
            @*<div style="border: 1px solid rgba(128, 128, 128, 0.66); margin-top: 4%; height: 235px; " ng-if="!ccoAssign">*@
                <div id="GridView" style="margin-left:4%;margin-top:1%">
                    <div class="ProviderTable" ng-repeat="provider in ProviderList1">
                        <div class="ProviderDetailsFrame" ng-click="showAssignmentConfirmation(provider.Name)" id="tbodyID">
                            <div class="col-lg-12 providerInfo" title="">

                                <div class="col-lg-9">
                                    <span>&nbsp;<br /></span>
                                    <span>Name:     {{provider.Name}}</span><br />
                                    <span>Total Providers Assigned:     {{provider.ProAssigned}}</span><br />
                                    <span>Total Tasks Assigned :    {{provider.TaskAssigned}}</span><br />
                                    <span>Total Task Pending :  {{provider.Pending}}</span><br />
                                </div>
                                <div class="col-lg-3">
                                    <img style="width:80px;height:65px;margin-top:15%" src=~/Content/Images/a0.jpg class="profileImg img-thumbnail " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


