@model AHC.CD.WebUI.MVC.Areas.Profile.Models.PracticeLocationInformation.WorkersCompensationInfoViewModel

<div class="form-style" ng-if="visibilitySecondControl != 'WorkingCompEdit'">
    <fieldset class="wrap-words">
        <legend>
            Workers Compensation Information
        </legend>
        <table ng-show="PracticeLocationDetailHistory.WorkersCompensationInformation == null && visibilityControl != 'WorkingCompEdit' " class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No History Available for Worker's Compensation for this Practice Location!
                    </td>
                </tr>
            </thead>
        </table>
        <div class="col-md-12" ng-if="PracticeLocationDetailHistory.WorkersCompensationInformation">
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.WorkersCompensationNumber, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PracticeLocationDetailHistory.WorkersCompensationInformation.WorkersCompensationNumber || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.StatusType, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PracticeLocationDetailHistory.WorkersCompensationInformation.CertificationStatus || 'Not Available'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.IssueDate, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PracticeLocationDetailHistory.WorkersCompensationInformation.IssueDate || 'Not Available' | date:'MM/dd/yyyy'}}</i>
                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.ExpirationDate, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PracticeLocationDetailHistory.WorkersCompensationInformation.ExpirationDate || 'Not Available' | date:'MM/dd/yyyy'}}</i>
                </div>
            </div>
        </div>
    </fieldset>
</div>
