@*<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>*@
@*<div class="dash-menu-btn" id="alertbell">    
    <button class="menu-btn menu-btn-toggle bg-red" type="button">
        <span class="fa fa-bell-o faa-ring animated" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="" data-original-title="Click to View"></span>
    </button>
    @*<ul class="menu-list alert">
        <li class="option">
            <button class="menu-btn option1" type="button">
                <span class="fa fa-save" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="" data-original-title="Save"></span>
            </button>
        </li>
        <li class="option">
            <button class="menu-btn option2" type="button">
                <span class="fa fa-file-pdf-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="" data-original-title="Pdf"></span>
            </button>
        </li>
        <li class="option">
            <button class="menu-btn option3" type="button">
                <span class="fa fa-file-excel-o" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="" data-original-title="Excel"></span>
            </button>
        </li>
    </ul>
</div>*@