@*<footer id="footer" class="hidden" style="display:none;">*@
<footer>
    <div class="copyright-info">
        <p class="pull-right">
            <a href="http://www.pratian.com">Copyright Pratian Technologies PVT INDIA LTD-2016</a>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
