@{
    ViewBag.Title = "Facility Queue";
}
@section AddToHead{
    <title>FACILITY QUEUE | AHC</title>
}

<!-- CUSTOM CSS -->
<link href="~/Content/AppCss/Queue/Queue.css" rel="stylesheet" />

<div class="col-lg-10 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/Queue/_Queue.cshtml")
</div>

<!-- CUSTOM JS -->
<script src="~/Resources/Data/QueueData.js"></script>
<script src="~/Scripts/AppScripts/Queue/Queue.js"></script>