.authPreviewModal {
    color: black;
    overflow: auto; 
    top: 8%;
}

.remove-padding-td-a > thead > tr > th {
    padding-top: 0px;
    padding-bottom: 0px;
}

.remove-padding-td-a > tbody > tr > td {
    padding-top: 0px;
    padding-bottom: 0px;
}

table.remove-padding-td-a {
    margin-bottom: 0px;
}

.table.remove-padding-td-a > tbody > tr > td {
    border: 2px solid #488EA0 !important;
}

.table.remove-padding-td-a > thead > tr > th {
    border: 2px solid #488EA0 !important;
}

.remove-padding-td-a a {
    padding-bottom: 0px;
    padding-top: 0px;
}

.wrap-words {
    word-wrap: break-word;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.padding-previewfields {
    padding-right: 15px;
}

.preview-content-font {
    font-size: 13px;
}

.preview-highlight-font {
    font-size: 16px;
}

.heading-block {
    background-color: #337AB7;
    display: block;
    color: white;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: -1%;
}

.previewModalStyle {
    padding-left: 17px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.preview-content {
    padding: 0px;
    margin: 0px;
}

.disclaimer-content {
    text-transform: none;
    font-size: 12px;
}

.paddingtop-10px {
    padding-top: 10px;
}

.disclaimer-heading {
    font-size: 14px;
    text-decoration: underline;
    text-transform: none;
    font-weight: bold;
}

.fontweight-bold {
    font-weight: bold;
}

.padding-right-0px {
    padding-right: 0px;
}

.authPreviewModal table.authpreview-table {
    table-layout: fixed;
  
    width: 100%;
}

    .authPreviewModal table.authpreview-table>tbody>tr>td {
        /* css-3 */
        white-space: -o-initial;
        word-wrap: break-word;
        white-space: initial;
        font-weight:bold;
        white-space: -moz-initial;
    }

    .authPreviewModal table.authpreview-table>thead>tr>th {
        /* css-3 */
       font-weight:normal;
         word-wrap: break-word;
    }



.popover-content {
        word-break: break-all;
        white-space: pre-wrap;
    }

    .popover {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 500%;
        overflow: hidden;
        color:black;
    }

.width-inherit {
    width:inherit;
}


.cpt-width7{
    width:7%;
}
.cpt-width8{
    width:8%;
}
.cpt-width15{
    width:15%;
}
.cpt-width20{
    width:20%;
}
.cpt-width25{
    width:25%;
}
.cpt-width35{
    width:35%;
}

.modal-header-logo{
    width:15em;
    height:6em;
}

.network-badge{
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    font-size: 99%;
    line-height: inherit;
    margin-left:2%;
    border-radius: .25em !important;
}