    input.ClassSuccess:checked + label > span, input.ClassSuccess:checked + label > span,
    input.ClassSuccess:not(:disabled):checked + label > span {
        background: #008000 !important;
    }
    input.ClassPrimary:checked + label > span, input.ClassPrimary:checked + label > span,
    input.ClassPrimary:not(:disabled):checked + label > span {
        background: #203764 !important;
    }
    input.ClassDanger:checked + label > span, input.ClassDanger:checked + label > span,
    input.ClassDanger:not(:disabled):checked + label > span {
        background: #aa061c !important;
    }
    input.normal-checkbox + label > span, input.normal-radio + label > span, input.checkbox-radio + label > span {
        border: 0.0625em solid rgb(54, 88, 160);
    }
    .width80{
        width:80%;
    }
    .negativeMargin28px{
        margin-top:-28px;
    }
    .padding-zero-left-right-odag{
        padding-left:0;
        padding-right:0;
    }
    @media screen and (min-width:1349px) and (max-width:1500px) {
        .question-description {
            font-size: 0.92em !important;
        }

        .col-at-90 {
            width: 41.66666667% !important;
        }
    }

   @media screen and (min-width:1501px) {
        .question-description {
            font-size: 1.04em !important;
        }

        
    }
       .negativeMargin15px{
        margin-top:-5px;
    }
    .displayNoneOdag{
        display:none !important;
           
    }