<div class="small col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-4">
        <img src="{{ProfileData.ProfilePhotoPath}}" class="grow" style="height:40px">
    </div>
    <div class="col-lg-8 form-group zero-padding-left-right-div">
        <div class="col-lg-12 form-group zero-padding-left-right-div">
            <label class="control-label small zero-padding-left-right-div">Name:</label>
            <i class="data-label ng-binding">{{ProfileData.PersonalDetail.Salutation}}&nbsp{{ProfileData.PersonalDetail.FirstName}}&nbsp;{{ProfileData.PersonalDetail.LastName}}</i>
        </div>
        <div class="col-lg-12 form-group zero-padding-left-right-div">

            <label class="control-label small zero-padding-left-right-div">NPI:</label>
            <i class="data-label ng-binding">{{ProfileData.OtherIdentificationNumber.NPINumber}}</i>
        </div>
    </div>
</div>
<div class="small col-lg-12 zero-padding-left-right-div" id="provider_detail_div" style="display:none; margin-top:1px;">
    <div class="col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small zero-padding-left-right-div">Gender:</label>
        <div> <i class="data-label ng-binding">{{ProfileData.PersonalDetail.Gender}}</i></div>
    </div>
    <div class="col-lg-6 form-group zero-padding-left-right-div">
        <label class="control-label small zero-padding-left-right-div">Provider Type:</label>
        <div> <i class="data-label ng-binding" ng-repeat="i in ProfileData.PersonalDetail.ProviderTitles" ng-if="i.Status=='Active'">{{i.ProviderType.Title}}</i></div>
    </div>
</div>


