<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/Documents/Unminified/CreateFileModal.css" rel="stylesheet"></p-link>
<div class="modal fade" tabindex="-1" role="dialog" id="createFileModal">
    <div class="modal-dialog modal-md">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <div class="col-md-12 col-lg-12">
                    <i class="fa fa-creative-commons"></i>
                    <label> Create a File</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
            </div>
            <div class="modal-body">
                Text
                <textarea name="createfiletext" id="createfile" placeholder="ENTER TEXT" class="form-control input-xs non_mandatory_field_halo"></textarea>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancel</a>
                <a class="btn btn-sm btn-success pull-right" data-dismiss="modal" id="exportbtn" onclick="createDocument()">Create</a>
            </div>
        </form>
    </div>
</div>


