<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="AccessibilitiesID">
    <div class="fsStyle" id="ViewAccessibilityDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">  Accessibilities</span>&nbsp;
           
        </div>
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Accessibilities
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/PracticeLocation/getAddEditOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/PracticeLocation/getAddEditOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@
        <div class="x_content zero-padding-left mutiple-data">
            <span class=" text_adjust boxstyle">
                <label class="theme_label">Does this meet ADA accessibility requirements?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class=" text_adjust boxstyle">
                <label class="theme_label">Does this site offer other services for the disabled?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class=" text_adjust boxstyle">
                <span class="">
                    <label class="theme_label ">Does this site offer handicapped access for the following?:</label>
                </span>
                <br />
                <span class=" text_adjust boxstyle ">
                    <label class="theme_label">Building:</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Parking :</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Restroom:</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Other Transportation Access:</label>
                    <span class="theme_label_data">Not Available</span>
                </span>
            </span>           
            <span class=" text_adjust boxstyle">
                <span class="">
                    <label class="theme_label ">Accessible by public transportation?:</label>                    
                </span>
                <br />
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Bus :</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Subway :</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Regional train:</label>
                    <span class="theme_label_data">YES</span>
                </span>
                <span class=" text_adjust boxstyle">
                    <label class="theme_label">Other Transportation Access:</label>
                    <span class="theme_label_data">Not Available</span>
                </span>
            </span>                    
        </div>
    </div>
</div>

