<div style="width: 97%; padding-left: 24px; color: black; font-family: 'Times New Roman'; font-size: 15px; "  id="">
    <div id="letter_content">
        <div id="denialmemberletterdiv">
            <br/>
            <div><br /><br /><br />
                <p>
                        <b>Important: </b><span style="font-weight:100">This notice explains your right to appeal our decision. Read this notice carefully. If you need help, you can call one of the numbers listed on the last page under "Get help & more information."</span>
                </p>
            </div>
            <div style='text-align:center;'>
                <p class='TimesNewRoman-19FontSize removeBottomMargin'>
                    <b style="font-size: 22px; font-weight: 700;">Notice of Denial of Medical Coverage</b>
                </p>
                <p style='text-align:center;' class="TimesNewRoman-12FontSize">
                    Denial of Medical Coverage
                </p>
            </div>
            <div id='borderStyle' class="TimesNewRoman-12FontSize" style='border-top:1px solid #020202;border-bottom:1px solid #020202;'>
                <div class="row" style="line-height: 16px;">
                    <div class="col-lg-8">
                        <p>
                            <b>
                                Date:&nbsp;
                            </b>
                            <i style="font-weight: 100">September 20, 2016</i>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <b>
                                Member Number:&nbsp;
                            </b>
                            <i style="font-weight: 100">UL*5656</i>
                        </p>
                    </div>
                </div>
                <div class="row" style="line-height: 5px;">
                    <div class="col-lg-12">
                        <p>
                            <b>
                                Name:&nbsp;
                            </b>
                            <i style="font-weight: 100">MILRAE HARENG</i>

                        </p>
                    </div>
                </div>
                <div class="row" style="line-height: 16px;">
                    <div class="col-lg-8">
                        <p>
                            <b>Service Subject to Notice:&nbsp; </b>
                            <i style="font-weight: 100" class="wrap-words text-uppercase">
                                Durable Medical Equipment
                                <br />
                            </i>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p  class="removeBottomMargin">
                            <b>
                                Date of Service:&nbsp;
                            </b>
                            <i style="font-weight: 100">09/13/2016</i>
                        </p>
                    </div>
                </div>
                <div class="row" style="line-height: 9px;">
                    <div class="col-lg-8">
                        <p>
                            <b>
                                Authorization Number:&nbsp;
                            </b>
                            <i style="font-weight: 100">1609190012</i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <b>
                                Requested Date:&nbsp;
                            </b>
                            <i style="font-weight: 100">09/19/2016</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="">
                <br />
                <span class='TimesNewRoman-17FontSize' style='font-weight: 700; font-size: 20px;'>
                    <b>Your request was denied</b>
                </span>
                <br />
                <span class="TimesNewRoman-12FontSize" style="font-weight: 100">We've denied the medical services/items listed below requested by you or your doctor:</span>

                <br />
                <br />
                <p style='font-weight: 700; font-size: 15px;' class="TimesNewRoman-12FontSize ">
                    <b>
                        List of Medical Services or Items:&nbsp;
                    </b>
                    <span class="wrap-words" style="text-align: justify;text-justify: inter-word;">

                        <i style="font-weight: 100">Shower Chair</i>
                    </span>
                </p>
                <div class="">
                    <p class='TimesNewRoman-17FontSize' style="font-weight: 700; font-size: 20px;">
                        <b>Why did we deny your request?</b>
                    </p>
                    <p class="TimesNewRoman-12FontSize" style="font-weight: 100">We denied the medical services/items listed above because:</p>

                    <p class="TimesNewRoman-12FontSize">

                        <span>
                            <i class="wrap-words" style="font-weight: 100">We denied this item listed above because: shower chair w/wo wheels any size (HCPCS code E2040) is non-covered by Medicare.herefore the requested shower chair is denied.</i>
                            <br />
                        </span>

                        <span>
                            <i class="wrap-words" style="font-weight: 100">Carrier judgement</i>
                            <br />
                        </span>
                        <i style="font-weight: 100">Physicians have the right to discuss UM denial decisions with the Physician. Members/Providers can obtain a copy of the actual benefit, guideline, protocol, or other similar criteria on which the denial decision was based, upon request.</i>
                        <br />
                        <br />
                        <span>
                            <b>Alternative Plan of Care:</b>   <br /><i style="font-weight: 100" class="wrap-words">Member may purchase on his/her own.</i>
                            <br />
                            <br />
                        </span>

                    </p>


                </div>
                <div class="">
                    <p class='TimesNewRoman-17FontSize'>
                        <b style="font-weight: 700;font-size:20px">You have the right to appeal our decision</b>
                    </p>
                    <p style="font-weight: 100">You have the right to ask Ultimate Health Plans to review our decision by asking us for an appeal:</p>
                    <p class="" style="font-weight: 100;">
                        <b style="font-weight: 700;">Appeal:</b>&nbsp;Ask Ultimate Health Plans for an appeal within <b>60 days</b> of the date of this notice. We can give you more time if you have a good reason for missing the deadline.
                    </p>
                    <p class='TimesNewRoman-15FontSize'>
                        <b style=" font-weight: 700;font-size:17px">If you want someone else to act for you</b>
                    </p>
                    <p class="" style="font-weight: 100;">You can name a relative, friend, attorney, doctor, or someone else to act as your representative. If you want someone else to act for you, call us at: 1-888-657-4170 to learn how to name your representative. TTY users call 711. Both you and the person you want to act for you must sign and date a statement confirming this is what you want. You'll need to mail or fax this statement to us.</p>
                </div>

                <br />
            </div>
            <div class='page-break' style='page-break-before:always'></div>
            <br />
            <div>
                <div class="col-lg-12">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div style='text-align:center;'>
                            <p style='text-align:center;'>
                                <b style="font-weight: 700;">Important Information About Your Appeal Rights</b>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div>
                    <p class='TimesNewRoman-17FontSize'>
                        <b style="font-weight: 700;font-size:20px">There are 2 kinds of appeals</b>
                    </p>
                    <p class="TimesNewRoman-12FontSize " style="font-weight: 100;">
                        <b style=" font-weight: 700;">Standard Appeal-</b> We'll give you a written decision on a standard appeal within
                        <b style=" font-weight: 700;">30 days</b> after we get your appeal. Our decision might take longer if you ask for an extension, or if we need more information about your case. We'll tell you if we're taking extra time and will explain why more time will be needed. If your appeal is for payment of a service you have already received, we'll give you a written decision within
                        <b style=" font-weight: 700;">60 days</b>.
                    </p>
                    <p class="TimesNewRoman-12FontSize " style="font-weight: 100;">
                        <b style=" font-weight: 700;">Fast Appeal-</b> We'll give you a decision on a fast appeal within
                        <b style=" font-weight: 700;">72 hours</b> after we get your appeal. You can ask for a fast appeal if you or your doctor believe your health could be seriously harmed by waiting upto 30 days for a decision.
                    </p>
                    <p class="TimesNewRoman-12FontSize " style="font-weight: 100;">
                        <b>We'll automatically give you a fast appeal if a doctor asks for one for you or supports your request.</b> If you ask for a fast appeal without support from a doctor, we'll decide if your request requires a fast appeal. If we don't give you a fast appeal, we'll give you a decision within 30 days.
                    </p>
                </div>
                <div class="TimesNewRoman-12FontSize " style="font-weight: 100;">
                    <p class='TimesNewRoman-17FontSize'>
                        <b style="font-weight: 700;font-size:20px">How to ask for an appeal with Ultimate Health Plans</b>
                    </p>
                    <p>
                        <b class='TimesNewRoman-12FontSize' style="font-weight: 700;">Step 1:</b> You, your representative, or your doctor must ask us for an appeal. Your request must include:
                    </p>
                    <ul>
                        <li>Your name</li>
                        <li>Address</li>
                        <li>Member Number</li>
                        <li>Reasons for appealing</li>
                        <li>Any evidence you want us to review, such as medical records, doctors' letters, or other information that explains why you need the item or service. Call your doctor if you need this information.</li>
                    </ul>
                    <p>
                        <i>You can ask us to see the medical records and other documents we used to make our decision before or during the appeal. At no cost to you, you can also ask for a copy of the guidelines we used to make our decision.</i>
                    </p>
                    <p>
                        <b class='TimesNewRoman-12FontSize'>Step 2:</b> Mail, fax, or deliver your appeal or call us.
                    </p>
                    <p>
                        <b>For a Standard Appeal: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address: P.O. Box 6560, Spring Hill, FL 34611
                    </p>
                    <div style="margin-top:-8px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone: 1-888-657-4170   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fax: 1-885-895-4748</div>
                    <br />
                    <p><i>If you ask for a standard appeal by phone, we will send you a letter confirming what you told us.</i></p>
                    <br />
                    <p>
                        <b>For a Fast Appeal: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone: 1-888-657-4170  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       Fax: 1-885-895-4748
                    </p>
                </div>
                <br />
                <div>
                    <p>
                        <b style="font-weight: 700;font-size:20px">What happens next?</b>
                    </p>
                    <p style="font-weight: 100;font-size:15px">
                        If you ask us for an appeal and we continue to deny your request for a service, we'll send you a written decision and automatically send your case to an independent reviewer.
                        <b style="font-weight: 700;font-size:15px"> If the independent reviewer denies your request, the written decision will explain if you have additional appeal rights.</b>
                    </p>
                    <p >
                        <b style="font-weight: 700;font-size:20px">Get help & more information</b>
                        <ul style="font-weight: 100;font-size:15px">
                            <li>
                                Ultimate Health Plans Toll Free: 1-888-657-4170&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TTY users call: 711
                                <br /> Monday through Sunday from 8 a.m. to 8 p.m.
                            </li>
                            <li>1-800-MEDICARE(1-800-633-4227), 24 hours, 7 days a week. TTY users call: 1-877-486-2048</li>
                            <li>Medical Rights Center: 1-888-HMO-9050</li>
                            <li>Elder Care Locator: 1-800-677-1116</li>
                        </ul>
                    </p>
                </div>
                <br />
            </div>

            <br />
            <footer style="font-family: 'Times New Roman'; font-weight: 100; font-size: 13px">
                <p style='float:left;'>Form CMS 10003-NDMCP(Iss. 06/2013)</p>
                <p style='float:right;'>OMB Approval 0938-0829</p>
            </footer>

        </div>
    </div>
</div>