<div style="padding-top: 57px; color: black; width: 96%; padding-left: 22px;">
    <div>
            <div style="font-weight: normal; font-family: Arial; font-size: 15px;" id="">
                <div id="letter_content">
                    <div id="">
                        <div style='text-align:center;' class="ArialFontStyle-14FontSize">
                            <p style="font-family:'Courier New';font-size:14px">
                                <b style="font-family: Arial; font-size: 17px; font-weight: 700;">
                                    Baywood Nursing Center 
                                </b>
                                <br />
                                <span style="font-family: 'Times New Roman'; font-size: 16px; font-weight: 100;">2000 17th Avenue South Saint Petersburg</span><br />
                                <span style=" font-family: 'Courier New'; font-size: 14px;">(727) 821-3544</span>
                            </p>
                            <p class='removeBottomMargin' style="font-family: Arial; font-size: 17px; font-weight: 700;">
                                <b>Notice of Medicare Non-Coverage</b>
                            </p>
                        </div>
                        <div id='' style='margin-top:40px;'>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p style="font-family: Arial; font-size: 15px;font-weight:700">
                                        <b>
                                            Patient Name:
                                            <span class="text-uppercase">MILRAE HARENG</span>
                                        </b>
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <p style='float:right;margin-top:0px;margin-bottom:0px;' class="removeBottomMargin">
                                        <b>
                                            Patient Number:
                                            UL*5656
                                        </b>
                                    </p>
                                </div>
                            </div>
                            <div style='float: left; font-family: Arial; font-size: 17px;font-weight:normal'>
                                <p>
                                    The Effective Date Coverage of Your Current
                                    <b style="font-weight: 700;">Skilled Nursing</b>
                                    Services Will End:
                                    <b style="font-weight: 700;">09/22/2016</b>
                                </p>
                            </div>
                            <br />
                            <br />
                            <br />
                            <p style="border-top:solid #020202;margin-top:-15px"></p>
                            <div style='width:93%;'>

                                <ul>
                                    <li class="ArialFontStyle-12FontSize">
                                        <p style='margin-top:7px;margin-bottom:0px;margin-left:20px;' class="removeBottomMargin">
                                            Your Medicare provider and/or health plan have determined that Medicare probably will not pay for your current Skilled Nursing services after the effective date indicated above.
                                        </p>
                                    </li>


                                    <li class="ArialFontStyle-12FontSize">
                                        <p style='margin-top: 0px; margin-bottom: 0px; margin-left: 20px;' class="removeBottomMargin">
                                            You may have to pay for any services you receive after the above date.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <br />


                        </div>
                        <div class="pSpacing" id="" style="border-top:solid #020202;">
                            <p style='width: 50%;margin-top:10px;' class="ArialFontStyle-14FontSize">
                                Your Right to Appeal This Decision
                            </p>
                            <ul style='width:93%;'>
                                <li><p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">You have the right to an immediate, independent medical review (appeal) of the decision to end Medicare coverage of these services. Your services will continue during the appeal.</p></li>
                                <li><p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you choose to appeal, the independent reviewer will ask for your opinion. The reviewer also will look at your medical records and/or other relevant information. You do not have to prepare anything in writing, but you have the right to do so if you wish.</p></li>
                                <li><p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you choose to appeal, you and the independent reviewer will each receive a copy of the detailed explanation about why your coverage for services should not continue. You will receive this detailed notice only after you request an appeal.</p></li>
                                <li><p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you choose to appeal, and the independent reviewer agrees services should no longer be covered after the effective date indicated above;</p><br /><p class="ArialFontStyle-12FontSize" style="margin-left: 40px;margin-top:-20px;"><svg height="10" width="10"><circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" fill="white"></circle></svg>&nbsp;Neither Medicare nor your plan will pay for these services after that date.</p></li>
                                <li><p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you stop services no later than the effective date indicated above, you will avoid financial liability.</p></li>
                            </ul>



                            <br />
                        </div>
                        <div class="pSpacing" id="" style="border-top:solid #020202;">
                            <p style='width: 50%; margin-top: 10px;' class="ArialFontStyle-14FontSize">
                                How to Ask For an Immediate Appeal
                            </p>
                            <ul style='width:93%;'>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">You must make your request to your Quality Improvement Organization (also known as a QIO). A QIO is the independent reviewer authorized by Medicare to review the decision to end these services.</p>
                                </li>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">Your request for an immediate appeal should be made as soon as possible, but no later than noon of the day before the effective date indicated above.</p>

                                </li>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">The QIO will notify you of its decision as soon as possible, generally no later than two days after the effective date of this notice if you are in Original Medicare. If you are in a Medicare health plan, the QIO generally will notify you of its decision by the effective date of this notice.</p>
                                </li>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">Call your QIO at: KePro 1-844-455-8708 to appeal, or if you have questions.</p>
                                </li>
                            </ul>
                            <br />
                        </div>

                        <div class="pSpacing" id="Immediateappealfornomncletter">
                            <p class="ArialFontStyle-14FontSize" style='width: 93%; margin-top: 10px; '>
                                If You Miss The Deadline to Request An Immediate Appeal, You May Have Other Appeal Rights:
                            </p>

                            <ul style='width:93%;'>

                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you have Original Medicare: Call the QIO listed on page 1.</p>
                                </li>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">If you belong to a Medicare health plan: Call your plan at the number given below.</p>
                                </li>
                                <li>
                                    <p class="ArialFontStyle-12FontSize" style="margin-left: 20px;">Plan contact information: Ultimate Health Plans 1-855-858-3567</p>
                                </li>
                            </ul>
                            <br />
                        </div>





                        <div class="pSpacing" id="" style="border-top:solid #020202;">
                            <p class="ArialFontStyle-14FontSize" style='width: 50%; margin-top: 10px;'>
                                Additional Information (Optional):
                            </p>

                            <p class="ArialFontStyle-12FontSize" style="height:50px"></p>

                            <br />
                            <br />
                        </div>
                        <div class="pSpacing" id="" style="border-top:solid #020202;">

                            <p class="ArialFontStyle-14FontSize" style='width: 100%; margin-top: 10px;'>
                                Please sign below to indicate you received and understood this notice.
                            </p>

                            <p class="ArialFontStyle-12FontSize" style='width:93%;'>I have been notified that coverage of my services will end on the effective date indicated on this notice and that I may appeal this decision by contacting my QIO.</p>


                            <br />
                            <br />
                        </div>
                        <div>
                            <br />
                            <br />

                            <div style="border-top:1px solid #020202;width:300px;" id="signaturediv">
                                <p class="ArialFontStyle-12FontSize" style="float:left;">Signature of Patient or Representative</p>
                            </div>


                            <div style="border-top:1px solid #020202;width:100px;margin-left:550px" id="Datediv">
                                <p class="ArialFontStyle-12FontSize">Date</p>
                            </div>

                        </div>




                        <br />
                    </div>
                </div>
            </div>
        <div class="row" style="border-top:0px;font-weight:normal">
            <div style="font-family:Arial;font-size:12px">
                <p style='float:left;' id="footertoleft">Form CMS 10123-NOMNC (Approved  12/31/2011)</p>
                <p style='float:right;' id="footertoright">OMB Approval 0938-0953</p>
            </div>
        </div>
    </div>
</div>