.c_panel_header label {
    font-size: 15px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 5px;
}

.mdm_container div {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #337ab7;
}

.mdm_container:hover {
    background: #d7eef7;
}

.mdm_title,mdm_code,mdm_desc {
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Categories dropdown CSS*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/*------------------------*/
.deactivate{

    background-color:#f0ad4e !important;
     /*filter:opacity(40%);*/
    /*  filter:blur(1px);*/
}
.border{
    border:2px solid #3658a1;
}
.cmslegend{
    margin-bottom:10px;
}


.cmsStyled-input {
    width: 100%;
    float: left;
    position: relative;
}

    .cmsStyled-input label {
        font-weight: 500;
        color: white;
        padding: 2px 0px 0 0;
        position: absolute;
        margin-top: 0px;
        top: 0;
        left: 0;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        pointer-events: none;
    }

   
.filer-search {
    padding: 9px 0px 0 0px;
    border: 0;
    width: 80%;
    color: white;
}
                  
.cmslegendStyle{
    width: auto !important;
    margin-top:10px;
}

.formColor{
    /*background-color: #e1d280;*/
    background: #f0ad4e;

}
.border { 
    outline: none;
    border-color: #3658a1;
    box-shadow: 0 0 10px #3658a1;
}
.sorticon{
    color: rgb(255, 255, 255);
}

.td-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.maxWidthXLem {
    max-width: 7em;
}


#cmstablecontainer{
    overflow-y:auto;
}

.hospitalField
{
    display:none;
}
.CancelAddHospital{
    display:none;
}
.paper-input__wrapper.tablesearch {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

    .paper-input__wrapper.tablesearch label {
        color: black;
        left: 10px;
    }

#Search
{
    text-transform:uppercase;
}