<connectionStrings>



  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB1722.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1722.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

 
  <add name="DefaultConnection" connectionString="Data Source=172.30.11.3;Initial Catalog=CredAxis_Redesign_Auth;User ID=deploy;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=172.30.11.3;Initial Catalog=CredAxis_Redesign_Providers;User ID=deploy;Password=password@123" providerName="System.Data.SqlClient" />
  <!--======================================-->
  <!--<add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
<!--<add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <!--<add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  <!--<add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.16;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />

  <add name="DefaultConnection" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDAuthDB1.18.3;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=MigrationUATDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.18.3;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>
<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=192.168.30.3;Initial Catalog=ACDAuthDBAHC_CDv2.1_R1;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.3;Initial Catalog=ACDProfileDBAHC_CDv2.1_R1Demo4;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
</connectionStrings>-->