<div class="panel-group" id="accordionProfessional" role="tablist" aria-multiselectable="true">
    @*<div class="panel panel-default">
            <div class="panel-heading text-right">
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Expand All" onclick="expandAll(this)"><i class="fa fa-minus-square-o"></i></button>
                <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-plus-square-o"></i></button>
            </div>
        </div>*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ProfessionalHeading">
            <a data-toggle="collapse" data-parent="#accordionProfessional" href="#ProfessionalLiability" aria-expanded="false" aria-controls="ProfessionalLiability">
               Professional Liability Insurance
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="ProfessionalLiability" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ProfessionalHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">                        
                        <div class="col-md-4">
                            <label>Carrier Name</label>
                            <div>
                                <label class="control-label small">Name2</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Policy Number</label>
                            <div>
                                <label class="control-label small">754121532135</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Policy Limits</label>
                            <div>
                                <label class="control-label small">Yes</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Effective Date</label>
                            <div>
                                <label class="control-label small">01/09/2014</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Expiration Date</label>
                            <div>
                                <label class="control-label small">01/02/2020</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />                    
                </div>
            </div>
        </div>
    </div>
</div>


