@{
    ViewBag.Title = "ProvidersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list-alt"></i> List for Credentialing Action
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Page Heading -->
        <div class="row">
            <div class="panel panel-default content-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">List for Credentialing Action</h3>
                </div>
                <div class="panel-body">
                    <table ng-table="tableParams1" show-filter="true" class="text-capitalize table table-hover ng-table-resizable-columns ng-table-rowselected ng-scope ng-table">
                        <!-- ngInclude: templates.header -->
                        <thead ng-include="templates.header" class="ng-scope"><tr class="ng-scope"> <!-- ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Title</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">First Name</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Last Name</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">City</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">County</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">State</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Provider Type</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Provider Relation</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header text-left sortable"> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope">Group</div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-class="{ 'sortable': parse(column.sortable), 'sort-asc': params.sorting()[parse(column.sortable)]=='asc', 'sort-desc': params.sorting()[parse(column.sortable)]=='desc' }" ng-click="sortBy(column, $event)" ng-show="column.show(this)" ng-init="template=column.headerTemplateURL(this)" class="header "> <!-- ngIf: !template --><div ng-if="!template" ng-show="!template" ng-bind="parse(column.title)" class="ng-binding ng-scope"> </div><!-- end ngIf: !template --> <!-- ngIf: template --> </th><!-- end ngRepeat: column in $columns --> </tr> <tr ng-show="show_filter" class="ng-table-filters ng-scope"> <!-- ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --><div ng-repeat="(name, filter) in column.filter" class="ng-scope"> <!-- ngIf: column.filterTemplateURL --> <!-- ngIf: !column.filterTemplateURL --><div ng-if="!column.filterTemplateURL" ng-show="!column.filterTemplateURL" class="ng-scope"> <!-- ngInclude: 'ng-table/filters/' + filter + '.html' --><div ng-include="'ng-table/filters/' + filter + '.html'" class="ng-scope"><!-- ngIf: filter=='text' --><input type="text" name="false" ng-model="params.filter()[name]" ng-if="filter=='text'" class="input-filter form-control ng-pristine ng-untouched ng-valid ng-scope"><!-- end ngIf: filter=='text' --></div> </div><!-- end ngIf: !column.filterTemplateURL --> </div><!-- end ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --><th ng-repeat="column in $columns" ng-show="column.show(this)" class="filter ng-scope"> <!-- ngRepeat: (name, filter) in column.filter --> </th><!-- end ngRepeat: column in $columns --> </tr></thead>
                        <tbody>
                            <!-- ngRepeat: user in $data -->
                            <tr ng-repeat="user in $data" ng-click="call_for_profile_update($index)" ng-class="{'active': user.$selected}" class="ng-scope">
                                <td data-title="'Title'" header-class="text-left" sortable="'Title'" filter="{ 'Title': 'text' }" data-title-text="Title" class="ng-binding">
                                    MD
                                </td>
                                <td data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    Pariksith
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LastName'" filter="{ 'LastName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    Singh
                                </td>
                                <td data-title="'City'" ng-hide="CityCol" header-class="text-left" sortable="'City'" filter="{ 'City': 'text' }" data-title-text="City" class="ng-binding">
                                    Spring Hill
                                </td>
                                <td data-title="'County'" ng-hide="CountyCol" header-class="text-left" sortable="'County'" filter="{ 'County': 'text' }" data-title-text="County" class="ng-binding">
                                    Hernando
                                </td>
                                <td data-title="'State'" ng-hide="StateCol" header-class="text-left" sortable="'State'" filter="{ 'State': 'text' }" data-title-text="State" class="ng-binding">
                                    Florida
                                </td>
                                <td data-title="'Provider Type'" ng-hide="ProviderTypeCol" header-class="text-left" sortable="'ProviderType'" filter="{ 'ProviderType': 'text' }" data-title-text="Provider Type" class="ng-binding">
                                    Physicians (MD, DO, DMD)
                                </td>
                                <td data-title="'Provider Relation'" ng-hide="ProviderRelationCol" header-class="text-left" sortable="'ProviderRelation'" filter="{ 'ProviderRelation': 'text' }" data-title-text="Provider Relation" class="ng-binding">
                                    Employee
                                </td>
                                <td data-title="'Group'" ng-hide="GroupCol" header-class="text-left" sortable="'Group'" filter="{ 'Group': 'text' }" data-title-text="Group" class="ng-binding">
                                    Access Health Care LLC
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="~/CredentialingApproval/Index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr><!-- end ngRepeat: user in $data -->
                            <tr ng-repeat="user in $data" ng-click="call_for_profile_update($index)" ng-class="{'active': user.$selected}" class="ng-scope">
                                <td data-title="'Title'" header-class="text-left" sortable="'Title'" filter="{ 'Title': 'text' }" data-title-text="Title" class="ng-binding">
                                    MD
                                </td>
                                <td data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    Arun
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LastName'" filter="{ 'LastName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    Shah
                                </td>
                                <td data-title="'City'" ng-hide="CityCol" header-class="text-left" sortable="'City'" filter="{ 'City': 'text' }" data-title-text="City" class="ng-binding">
                                    ADGER
                                </td>
                                <td data-title="'County'" ng-hide="CountyCol" header-class="text-left" sortable="'County'" filter="{ 'County': 'text' }" data-title-text="County" class="ng-binding">
                                    JEFFERSON
                                </td>
                                <td data-title="'State'" ng-hide="StateCol" header-class="text-left" sortable="'State'" filter="{ 'State': 'text' }" data-title-text="State" class="ng-binding">
                                    ALABAMA
                                </td>
                                <td data-title="'Provider Type'" ng-hide="ProviderTypeCol" header-class="text-left" sortable="'ProviderType'" filter="{ 'ProviderType': 'text' }" data-title-text="Provider Type" class="ng-binding">
                                    Physicians (MD, DO, DMD)
                                </td>
                                <td data-title="'Provider Relation'" ng-hide="ProviderRelationCol" header-class="text-left" sortable="'ProviderRelation'" filter="{ 'ProviderRelation': 'text' }" data-title-text="Provider Relation" class="ng-binding">
                                    Employee
                                </td>
                                <td data-title="'Group'" ng-hide="GroupCol" header-class="text-left" sortable="'Group'" filter="{ 'Group': 'text' }" data-title-text="Group" class="ng-binding">
                                    ACO
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="~/CredentialingApproval/Index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr><!-- end ngRepeat: user in $data -->
                            <tr ng-repeat="user in $data" ng-click="call_for_profile_update($index)" ng-class="{'active': user.$selected}" class="ng-scope">
                                <td data-title="'Title'" header-class="text-left" sortable="'Title'" filter="{ 'Title': 'text' }" data-title-text="Title" class="ng-binding">
                                    MD
                                </td>
                                <td data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    Shalabh
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LastName'" filter="{ 'LastName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    Nair
                                </td>
                                <td data-title="'City'" ng-hide="CityCol" header-class="text-left" sortable="'City'" filter="{ 'City': 'text' }" data-title-text="City" class="ng-binding">
                                    ADGER
                                </td>
                                <td data-title="'County'" ng-hide="CountyCol" header-class="text-left" sortable="'County'" filter="{ 'County': 'text' }" data-title-text="County" class="ng-binding">
                                    JEFFERSON
                                </td>
                                <td data-title="'State'" ng-hide="StateCol" header-class="text-left" sortable="'State'" filter="{ 'State': 'text' }" data-title-text="State" class="ng-binding">
                                    ALABAMA
                                </td>
                                <td data-title="'Provider Type'" ng-hide="ProviderTypeCol" header-class="text-left" sortable="'ProviderType'" filter="{ 'ProviderType': 'text' }" data-title-text="Provider Type" class="ng-binding">
                                    Physicians (MD, DO, DMD)
                                </td>
                                <td data-title="'Provider Relation'" ng-hide="ProviderRelationCol" header-class="text-left" sortable="'ProviderRelation'" filter="{ 'ProviderRelation': 'text' }" data-title-text="Provider Relation" class="ng-binding">
                                    Employee
                                </td>
                                <td data-title="'Group'" ng-hide="GroupCol" header-class="text-left" sortable="'Group'" filter="{ 'Group': 'text' }" data-title-text="Group" class="ng-binding">
                                    ACO
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="~/CredentialingApproval/Index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr><!-- end ngRepeat: user in $data -->
                            <tr ng-repeat="user in $data" ng-click="call_for_profile_update($index)" ng-class="{'active': user.$selected}" class="ng-scope">
                                <td data-title="'Title'" header-class="text-left" sortable="'Title'" filter="{ 'Title': 'text' }" data-title-text="Title" class="ng-binding">
                                    DO
                                </td>
                                <td data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    san
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LastName'" filter="{ 'LastName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    ramas
                                </td>
                                <td data-title="'City'" ng-hide="CityCol" header-class="text-left" sortable="'City'" filter="{ 'City': 'text' }" data-title-text="City" class="ng-binding">
                                    ATKA
                                </td>
                                <td data-title="'County'" ng-hide="CountyCol" header-class="text-left" sortable="'County'" filter="{ 'County': 'text' }" data-title-text="County" class="ng-binding">
                                    ALEUTIANS WEST
                                </td>
                                <td data-title="'State'" ng-hide="StateCol" header-class="text-left" sortable="'State'" filter="{ 'State': 'text' }" data-title-text="State" class="ng-binding">
                                    ALASKA
                                </td>
                                <td data-title="'Provider Type'" ng-hide="ProviderTypeCol" header-class="text-left" sortable="'ProviderType'" filter="{ 'ProviderType': 'text' }" data-title-text="Provider Type" class="ng-binding">
                                    Podiatrists (DPM)
                                </td>
                                <td data-title="'Provider Relation'" ng-hide="ProviderRelationCol" header-class="text-left" sortable="'ProviderRelation'" filter="{ 'ProviderRelation': 'text' }" data-title-text="Provider Relation" class="ng-binding">
                                    Employee
                                </td>
                                <td data-title="'Group'" ng-hide="GroupCol" header-class="text-left" sortable="'Group'" filter="{ 'Group': 'text' }" data-title-text="Group" class="ng-binding">
                                    NA
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="~/CredentialingApproval/Index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr><!-- end ngRepeat: user in $data -->
                            <tr ng-repeat="user in $data" ng-click="call_for_profile_update($index)" ng-class="{'active': user.$selected}" class="ng-scope">
                                <td data-title="'Title'" header-class="text-left" sortable="'Title'" filter="{ 'Title': 'text' }" data-title-text="Title" class="ng-binding">
                                    MD
                                </td>
                                <td data-title="'First Name'" header-class="text-left" sortable="'FirstName'" filter="{ 'FirstName': 'text' }" data-title-text="First Name" class="ng-binding">
                                    ved
                                </td>
                                <td data-title="'Last Name'" header-class="text-left" sortable="'LastName'" filter="{ 'LastName': 'text' }" data-title-text="Last Name" class="ng-binding">
                                    kumar
                                </td>
                                <td data-title="'City'" ng-hide="CityCol" header-class="text-left" sortable="'City'" filter="{ 'City': 'text' }" data-title-text="City" class="ng-binding">
                                    ATKA
                                </td>
                                <td data-title="'County'" ng-hide="CountyCol" header-class="text-left" sortable="'County'" filter="{ 'County': 'text' }" data-title-text="County" class="ng-binding">
                                    ALEUTIANS WEST
                                </td>
                                <td data-title="'State'" ng-hide="StateCol" header-class="text-left" sortable="'State'" filter="{ 'State': 'text' }" data-title-text="State" class="ng-binding">
                                    ALASKA
                                </td>
                                <td data-title="'Provider Type'" ng-hide="ProviderTypeCol" header-class="text-left" sortable="'ProviderType'" filter="{ 'ProviderType': 'text' }" data-title-text="Provider Type" class="ng-binding">
                                    Dentists (DDS)
                                </td>
                                <td data-title="'Provider Relation'" ng-hide="ProviderRelationCol" header-class="text-left" sortable="'ProviderRelation'" filter="{ 'ProviderRelation': 'text' }" data-title-text="Provider Relation" class="ng-binding">
                                    Employee
                                </td>
                                <td data-title="'Group'" ng-hide="GroupCol" header-class="text-left" sortable="'Group'" filter="{ 'Group': 'text' }" data-title-text="Group" class="ng-binding">
                                    NA
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="~/CredentialingApproval/Index"><i class="fa fa-caret-right"></i></a>
                                </td>
                            </tr><!-- end ngRepeat: user in $data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>