<div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="col-lg-2"><label>Title :</label> <span>title</span></div>
            <div class="col-lg-3"><label>First Name :</label> <span class="text-capitalize">NA</span></div>
            <div class="col-lg-3"><label>Middle Name :</label> <span class="text-capitalize">NA</span></div>
            <div class="col-lg-3"><label>Last Name :</label> <span class="text-capitalize">NA</span></div>            
            <div class="col-lg-12">
                <hr />
            </div>
            <div class="col-lg-2"><label>NPI :</label> <span>NA</span></div>           
            <div class="col-lg-3"><label>Provider Relation :</label> <span class="text-capitalize">NA</span></div>
            <div class="col-lg-3"><label>Specialty :</label> <span>NA</span></div>
            <div class="col-lg-3"><label>Gender :</label> <span>NA</span></div>
        </div>
    </div>
</div>