<br />
<div class="panel-group" id="professionalreference" role="tablist" aria-multiselectable="true" ng-controller="ProfessionalReference">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="professionalreferenceHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#professionalreference" href="#profref" aria-expanded="false" aria-controls="primaryInfo">
                Professional Reference
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </div>
        <div id="profref" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="professionalreferenceHeading">
            <div class="panel-body table-bordered">

                <div class="col-lg-12" id="professionalContainer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>Employer Name</strong></div>
                            <div class="col-lg-3"><strong>Title</strong></div>
                            <div class="col-lg-3"><strong>Telephone</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="professionalData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Sachin</div>
                            <div class="col-lg-3">MO</div>
                            <div class="col-lg-3">8951205543</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('professionalForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="professionalForm1" style="display:none;">
                            <div class="form-group">
                                <div class="col-lg-12">

                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">First Name:</label>
                                        <label class="control-label small">Sachin</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Middle Name:</label>
                                        <label class="control-label small"></label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Last Name:</label>
                                        <label class="control-label small">K</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12">

                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Title:</label>
                                        <label class="control-label small">MO</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number:</label>
                                        <label class="control-label small">9</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Street:</label>
                                        <label class="control-label small">Concord Street</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Suite/Building:</label>
                                        <label class="control-label small">#12</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">State:</label>
                                        <label class="control-label small">Florida</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">City:</label>
                                        <label class="control-label small">Orlando</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">ZIP Code  </label>
                                        <label class="control-label small">32801</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label for="MobileNo" class="control-label">Telephone:</label>
                                        <label class="control-label small">8901221809</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="MobileNo" class="control-label">Fax:</label>
                                        <label class="control-label small">3256953266</label>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Abhishek</div>
                            <div class="col-lg-3">PO</div>
                            <div class="col-lg-3">9901530652</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('professionalForm2', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="professionalForm2" style="display:none;">
                            <div class="form-group">
                                <div class="col-lg-12">

                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">First Name:</label>
                                        <label class="control-label small">Abhishek</label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Middle Name:</label>
                                        <label class="control-label small"></label>
                                    </div>
                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Last Name:</label>
                                        <label class="control-label small">K</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12">

                                    <div class="col-lg-4 form-group">
                                        <label class="control-label">Title:</label>
                                        <label class="control-label small">MO</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Number:</label>
                                        <label class="control-label small">0080</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">Street:</label>
                                        <label class="control-label small">Cortez</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">Suite/Building:</label>
                                        <label class="control-label small">#23</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label class="control-label">State:</label>
                                        <label class="control-label small">Flourida</label>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label class="control-label">City:</label>
                                        <label class="control-label small">Brooksville</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label">ZIP Code  </label>
                                        <label class="control-label small">34613</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group col-md-4">
                                        <label for="MobileNo" class="control-label">Telephone:</label>
                                        <label class="control-label small">8901441809</label>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="MobileNo" class="control-label">Fax:</label>
                                        <label class="control-label small">3523266565</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

              
            </div>
        </div>
    </div>

</div>


