
    <div class="col-lg-12">
        <div class="list-group small">
            <a class="list-group-item disabled">All Credentialing Required Sections : </a>
            <a ng-click="callViewDemograhic()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.PersonalDetail == null,'list-group-item-success':providerdata.PersonalDetail != null }">Personal Details</a>
            <a ng-click="callViewDemograhic()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.HomeAddresses.length == 0,'list-group-item-success':providerdata.HomeAddresses.length > 0 }">Home Address<span class="pull-right label label-info l5">Total Count : {{providerdata.HomeAddresses.length}}</span></a>
            <a ng-click="callViewIdentification()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.StateLicenses.length == 0,'list-group-item-success':providerdata.StateLicenses.length > 0 }">State License<span class="pull-right label label-info l5">Total Count : {{providerdata.StateLicenses.length}}</span></a>
            <a ng-click="callViewIdentification()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.FederalDEALicenses.length == 0,'list-group-item-success':providerdata.FederalDEALicenses.length > 0 }">Federal DEA Information<span class="pull-right label label-info l5">Total Count : {{providerdata.FederalDEALicenses.length}}</span></a>
            <a ng-click="callViewIdentification()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.CDSInformations.length == 0,'list-group-item-success':providerdata.CDSInformations.length > 0 }">CDS Information<span class="pull-right label label-info l5">Total Count : {{providerdata.CDSInformations.length}}</span></a>
            <a ng-click="callViewSpecialty()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.SpecialtyDetails.length == 0,'list-group-item-success':providerdata.SpecialtyDetails.length > 0 }">Specialty Details<span class="pull-right label label-info l5">Total Count : {{providerdata.SpecialtyDetails.length}}</span></a>
            <a ng-click="callViewPractice()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.PracticeLocationDetails.length == 0,'list-group-item-success':providerdata.PracticeLocationDetails.length > 0 }">Facility Details<span class="pull-right label label-info l5">Total Count : {{providerdata.PracticeLocationDetails.length}}</span></a>
            <a ng-click="callViewPractice()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.PracticeLocationDetails.length == 0,'list-group-item-success':providerdata.PracticeLocationDetails.length > 0 }">Services</a>
            <a ng-click="callViewPractice()" class="list-group-item" ng-class="{'list-group-item-danger':CoveringCount == 0,'list-group-item-success':CoveringCount > 0 }">Covering Physicians<span class="pull-right label label-info l5">Total Count : {{CoveringCount}}</span></a>
            <a ng-click="callViewHospital()" class="list-group-item" ng-class="{'list-group-item-danger':HospitalDetailCount == 0,'list-group-item-success':HospitalDetailCount > 0}">Hospital Privilege Detail<span class="pull-right label label-info l5">Total Count : {{HospitalDetailCount}}</span></a>
            <a ng-click="callViewWorkHistory()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.WorkGaps.length == 0,'list-group-item-success':providerdata.WorkGaps.length > 0}">Work Gap<span class="pull-right label label-info l5">Total Count : {{providerdata.WorkGaps.length}}</span></a>
            <a ng-click="callViewWorkHistory()" class="list-group-item" ng-class="{'list-group-item-danger':providerdata.CV.CVDocumentPath == null,'list-group-item-success':providerdata.CV.CVDocumentPath != null }">CV</a>
            <a ng-click="callViewContractInfo()" class="list-group-item" ng-class="{'list-group-item-danger':ContactGroupCount == 0,'list-group-item-success':ContactGroupCount > 0 }">Group Information<span class="pull-right label label-info l5">Total Count : {{ContactGroupCount}}</span></a>
        </div>
    </div>
    
