
<div>
    <div class="col-lg-12">
        <label class="control-label small">Select Plan</label>
        <select data-ng-model="plan" ng-change="selectPlan(plan)" class="form-control input-sm" data-val="true" data-val-required="Please select plan.">
            <option selected hidden disabled value="">--select Plan--</option>
            <option ng-repeat="plan in Plans" value="{{plan}}">{{plan.PlanName}}</option>
        </select>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm pull-right" type="submit" ng-click="CallView5();">Perform Initiate</button>
    </div>
</div>