
<div>
    <label class="control-label small zero-padding-left-right-div">{{countmissingsection}} out of 13 sections are missing for credentialing initiation.</label> 
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm pull-right" type="submit" ng-click="CallView1();">View Details</button>
    </div>
</div>