
<div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Upcoming Renewals : <label class="label label-info">{{GrandTotal.GrandTotalValidLicense}}</label></label></div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Renewals Needed :<label class="label label-warning">{{GrandTotal.GrandTotalPendingDaylicense}}</label></label></div>
    <div class="zero-padding-left-right-div"><label class="control-label small">Expired : <label class="label label-danger">{{GrandTotal.GrandTotalExpiredLicense}}</label></label></div>
    <div class="col-md-12">
        <button class="btn btn-primary btn-sm pull-right" type="submit" ng-click="CallView2();">View All</button>
    </div>
</div>