<link href="~/Areas/Portal/Styles/ProviderBridge/BridgeQueue/BridgeQueue.css" rel="stylesheet">
<p-script filepath="~/Areas/Portal/Scripts/FacilityBridge/BridgeQueue/BridgeQueue.js"></p-script>

<ul class="innerTabsArea queueTabs" style="width:100.7%;">
    <li class="ipaQueueMenu active tabs innerTabs" >
        <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityBridgeQueue/GetPenningList" data-tab-container="queueTable"><span class="text-uppercase">Pending</span><label class="label queueUppertab_label">9</label></a><span class="pointing-caret"></span>
    </li>
    <li class="ipaQueueMenu tabs innerTabs"  >
        <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityBridgeQueue/GetApprovedList" data-tab-container="queueTable"><span class="text-uppercase">Approved</span><label class="label queueUppertab_label">9</label></a><span class="pointing-caret"></span>
    </li>
    <li class="ipaQueueMenu tabs innerTabs" >
        <a class="innerTabsLinks list-item" data-tab-path="/Portal/FacilityBridgeQueue/GetRejectedList" data-tab-container="queueTable"><span class="text-uppercase ng-binding">Rejected</span><label class="label queueUppertab_label">9</label></a><span class="pointing-caret"></span>
    </li>
        @*<li id="CTFUmenu" class="ipaQueueMenu tabs innerTabs" data-queue-type="" data-queue-tab="ctfu">
            <a class="innerTabsLinks"><span class="text-uppercase ng-binding">CTFU</span><label class="label queueUppertab_label"></label></a><span class="pointing-caret"></span>
        </li>*@
</ul>
