@model IEnumerable<PortalTemplate.Areas.Portal.Models.ProviderBridge.BridgeQueue.BridgeQueueViewModel>
@using PortalTemplate.Helper
<link href="~/Areas/Portal/Styles/ProviderBridge/BridgeQueue/BridgeQueue.css" rel="stylesheet">
<script src="~/Areas/Portal/Scripts/FacilityBridge/BridgeQueue/BridgeQueue.js"></script>


<div id="queueBody">
    @*<div class="col-lg-12">
        @Html.Partial("~/Areas/Portal/Views/ProviderBridge/BridgeQueue/_ProviderStatisticsTable.cshtml")
    </div>*@
    <div class="col-lg-6">
        @Html.Partial("~/Areas/Portal/Views/FacilityBridge/BridgeQueue/_BridgeQueueModuleWiseFilters.cshtml")
    </div>
    <div id="tableFilters" class="col-lg-6">
        @Html.Partial("~/Areas/Portal/Views/FacilityBridge/BridgeQueue/_BridgeQueueFilters.cshtml")
    </div>
    <div id="queueTable" class="tableBodyDivision col-lg-12">
        @Html.Partial("~/Areas/Portal/Views/FacilityBridge/BridgeQueue/_BridgeQueueBody.cshtml")
    </div>
</div>



