
<div class="col-lg-12 zero-padding-left-right runningdata runningdata-standard memberPictureFrame" id="headerArea">
    <table class="table responsive-utilities table-condensed table-responsive">
        <thead class="memberheader">
            <tr class="headings">
                <th class="column-title">Module</th>
                <th class="column-title">Total Requests </th>
                <th class="column-title">Approved</th>
                <th class="column-title">Rejected</th>
                @*<th class="column-title">SEX</th>
                <th class="column-title">DOB</th>
                <th class="column-title">AGE</th>
                <th class="column-title">Insurance Co.</th>
                <th class="column-title">PLAN</th>
                <th class="column-title">EFF DATE </th>
                <th class="column-title">ELIG </th>
                <th class="column-title">PCP </th>
                <th class="column-title">PCP PHONE </th>*@
            </tr>
        </thead>
        <tbody class="boldbody">
            <tr>
                <td class="theme_label_data" >Care Management</td>
                <td class="theme_label_data" >23</td>
                <td class="theme_label_data" >15</td>
                <td class="theme_label_data" >8</td>
                @*<td class="theme_label_data" >-</td>
                <td class="theme_label_data" >-</td>
                <td class="theme_label_data" >-</td>
                <td class="theme_label_data" >-</td>
                <td class="theme_label_data" >-</td>
                <td class="theme_label_data" ><span id="MemberEligibility">-</span> <i class="fa fa-check-square text-lightgreen"></i></td>
                <td class="theme_label_data" >-</td>
                <td class="theme_label_data" >-</td>*@
            </tr>
            <tr>
                <td class="theme_label_data">Claims</td>
                <td class="theme_label_data">25</td>
                <td class="theme_label_data">13</td>
                <td class="theme_label_data">12</td>
                @*<td class="theme_label_data" >-</td>
            <td class="theme_label_data" >-</td>
            <td class="theme_label_data" >-</td>
            <td class="theme_label_data" >-</td>
            <td class="theme_label_data" >-</td>
            <td class="theme_label_data" ><span id="MemberEligibility">-</span> <i class="fa fa-check-square text-lightgreen"></i></td>
            <td class="theme_label_data" >-</td>
            <td class="theme_label_data" >-</td>*@
            </tr>
        </tbody>
    </table>
</div>