.ChronicCount_two {
    background-color: rgb(92, 184, 92);
}

.ChronicCount_one {
    background-color: orange;
}

.ChronicCount_zero {
    background-color: #d9534f;
}

.ICDCodeTable{
    margin-top:10px;
}