<form name="PrimaryInfoForm" ng-submit="PrimaryInfoFormSubmit(PrimaryInfoForm.$valid)" class="form-horizontal" novalidate>
<div class="panel panel-default">
    <div class="panel-heading">
        <div>Primary Information</div>
    </div>
    <div class="panel-body">
        <div class="form-group">
                <label class="col-md-3 control-label">Title *</label>
            <div class="col-md-9">
                <select id="selectNameTitle" ng-model="Provider.Personal.Title">
                    <option></option>
                    <option ng-repeat="nametitle in nameTitles" value="{{nametitle.titaleName}}">{{nametitle.titaleName}}</option>
                </select>
            </div>
        </div>

            <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.FirstName.$invalid && !PrimaryInfoForm.FirstName.$pristine }">
            <label for="FirstName" class="col-md-3 control-label">First Name *</label>
            <div class="col-md-9">
                    <input type="text" ng-model="Provider.Personal.FirstName" name="FirstName" class="form-control" id="FirstName" placeholder="first name" ng-minlength="2" ng-maxlength="25" required>
                    <p ng-show="PrimaryInfoForm.FirstName.$error.required && !PrimaryInfoForm.FirstName.$pristine" class="help-block">First Name is required.</p>
                    <p ng-show="PrimaryInfoForm.FirstName.$error.minlength" class="help-block">First Name is too short.</p>
                    <p ng-show="PrimaryInfoForm.FirstName.$error.maxlength" class="help-block">First Name is too long.</p>
            </div>
        </div>

            <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.MiddleName.$invalid && !PrimaryInfoForm.MiddleName.$pristine }">
            <label for="FirstName" class="col-md-3 control-label">Middle Name</label>
            <div class="col-md-9">
                    <input type="text" ng-model="Provider.Personal.MiddleName" name="MiddleName" class="form-control" id="MiddleName" placeholder="middle name" ng-minlength="2" ng-maxlength="25">
                    <p ng-show="PrimaryInfoForm.MiddleName.$error.minlength" class="help-block">Middle Name is too short.</p>
                    <p ng-show="PrimaryInfoForm.MiddleName.$error.maxlength" class="help-block">Middle Name is too long.</p>
            </div>
        </div>

            <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.LastName.$invalid && !PrimaryInfoForm.LastName.$pristine }">
            <label for="LastName" class="col-md-3 control-label">Last Name *</label>
            <div class="col-md-9">
                    <input type="text" ng-model="Provider.Personal.LastName" name="LastName" class="form-control" id="LastName" placeholder="last name" ng-minlength="2" ng-maxlength="25" required>
                    <p ng-show="PrimaryInfoForm.LastName.$error.required && !PrimaryInfoForm.LastName.$pristine" class="help-block">Last Name is required.</p>
                    <p ng-show="PrimaryInfoForm.LastName.$error.minlength" class="help-block">Last Name is too short.</p>
                    <p ng-show="PrimaryInfoForm.LastName.$error.maxlength" class="help-block">Last Name is too long.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="Gender" class="col-md-3 control-label">Gender *</label>
            <div class="col-md-9 radio">
                <label class="radio-inline">
                    <input type="radio" ng-model="Provider.Personal.Gender" name="Gender" id="Gender1" value="M"> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="Provider.Personal.Gender" name="Gender" id="Gender2" value="F"> Female
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="Street" class="col-md-3 control-label">Address *</label>
            <div class="col-md-9">
                    <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.Street.$invalid && !PrimaryInfoForm.Street.$pristine }">
                    <label for="Street" class="col-md-3 control-label">Street *</label>
                    <div class="col-md-9">
                            <input type="text" ng-model="Provider.Address.Street" name="Street" class="form-control" id="Street" placeholder="Street" required>
                            <p ng-show="PrimaryInfoForm.Street.$error.required && !PrimaryInfoForm.Street.$pristine" class="help-block">Street is required.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Country *</label>
                    <div class="col-md-9">
                        <select id="selectCountry" ng-model="Provider.Address.Country">
                            <option></option>
                            <option ng-repeat="country in countries" value="{{country.code}}" ng-selected="country.code=='US'">{{country.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">State *</label>
                    <div class="col-md-9">
                        <select id="selectState" ng-model="Provider.Address.State">
                            <option></option>
                            <option ng-repeat="state in states" value="{{state.stateName}}">{{state.stateName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">County *</label>
                    <div class="col-md-9">
                        <select id="selectCounty" ng-model="Provider.Address.County">
                            <option></option>
                            <option ng-repeat="county in counties" value="{{county.countyName}}">{{county.countyName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">City *</label>
                    <div class="col-md-9">
                        <select id="selectCity" ng-model="Provider.Address.City">
                            <option></option>
                            <option ng-repeat="city in cities" value="{{city.cityName}}">{{city.cityName}}</option>
                        </select>
                    </div>
                </div>

                    <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.ZipCode.$invalid && !PrimaryInfoForm.ZipCode.$pristine }">
                    <label for="ZipCode" class="col-md-3 control-label">Zip Code *</label>
                    <div class="col-md-9">
                            <input type="text" ng-model="Provider.Address.ZipCode" name="ZipCode" class="form-control" id="ZipCode" placeholder="zip code" ng-minlength="5" ng-maxlength="5" required>
                            <p ng-show="PrimaryInfoForm.ZipCode.$error.required && !PrimaryInfoForm.ZipCode.$pristine" class="help-block">Zip Code is required.</p>
                            <p ng-show="PrimaryInfoForm.ZipCode.$error.minlength" class="help-block">Zip Code is too short.</p>
                            <p ng-show="PrimaryInfoForm.ZipCode.$error.maxlength" class="help-block">Zip Code is too long.</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group" ng-class="{ 'has-error' : PrimaryInfoForm.Email.$invalid && !PrimaryInfoForm.Email.$pristine }">
            <label for="Email" class="col-md-3 control-label">Email ID *</label>
            <div class="col-md-9">
                    <input type="email" ng-model="Provider.Personal.Email" name="Email" class="form-control" id="Email" placeholder="email id" required>
                    <p ng-show="PrimaryInfoForm.Email.$error.required && !PrimaryInfoForm.Email.$pristine" class="help-block">Email is required.</p>
                    <p ng-show="PrimaryInfoForm.Email.$error.email" class="help-block">Email is not valid.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="MobileNo" class="col-md-3 control-label">Mobile Number *</label>
            <div class="col-md-9 input-group">
                <span class="input-group-btn">
                    <select class="btn" ng-model="Provider.Personal.Contact.CountryCode">
                            <option ng-repeat="contryDail in countryDailCodes" value="{{contryDail.dial_code}}">{{contryDail.name}} ({{contryDail.dial_code}})</option>
                    </select>
                </span>
                    <input type="text" ng-model="Provider.Personal.Contact.PhoneNo" name="PhoneNo" class="form-control" id="PhoneNo" placeholder="mobile number">
            </div>
        </div>


        <div class="form-group">
            <label for="CV" class="col-md-3 control-label">Upload CV</label>
            <div class="col-md-9">
                <input type="file" name="CV" class="form-control" id="CV" placeholder="CV">
            </div>
        </div>
    </div>
</div>
<!-- End Personal Information panel -->
<!-- Group Information Panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div>Group Information</div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-5 control-label">Are you a part of any Group ?</label>
            <div class="col-md-7 radio">
                <label class="radio-inline">
                    <input type="radio" ng-model="Provider.IsPartOfGroup" name="pat_of_group1" ng-click="partOfGroupStatus(1)" value="true"> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="Provider.IsPartOfGroup" name="pat_of_group1" ng-click="partOfGroupStatus(0)" value="false"> No
                </label>
            </div>
        </div>
        <div ng-show="partOfGroup == 1" class="form-group">
            <label class="col-md-3 control-label">Group Name : </label>
            <div class="col-md-9">
                <select id="selectGroup" ng-model="Provider.GroupName">
                    <option></option>
                    <option ng-repeat="group in groups" value="{{group.groupName}}">{{group.groupName}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!--End of Group Information Panel -->
<!-- Remarks Information Panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <div>Remarks</div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Remarks</label>
            <div class="col-md-9">
                <textarea name="name" ng-model="Provider.Remarks" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
            <input id="next1" type="button" value="Submit" ng-click="previewAddProvider()" ng-disabled="PrimaryInfoForm.$invalid" class="btn btn-success btn-sm pull-right" />
        <input id="next1" type="button" value="<< Prev" ng-click="nextForm(0)" class="btn btn-primary btn-sm pull-left" />
    </div>
</div>
<!-- End Remarks Information Panel -->
</form>