@model AHC.CD.WebUI.MVC.Areas.Profile.Models.ProfileViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.OtherIdentificationNumber.NPINumber, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{Profile.OtherIdentificationNumber.NPINumber}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.FirstName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PersonalDetail.FirstName}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.MiddleName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PersonalDetail.MiddleName}}</i>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                @Html.LabelFor(model => model.PersonalDetail.LastName, htmlAttributes: new { @class = "control-label small" })
                <div>
                    <i class="data-label">{{PersonalDetail.LastName}}</i>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <a class="btn btn-primary btn-sm pull-left" href="/provider/CreateProvider">New Provider Initiation</a>
            <a class="btn btn-primary btn-sm pull-right" href="#">View Profile</a>
        </div>
    </div>
</div>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Profile Successfully Created.
</div>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Account Activation Link had send to your Email. Please check your Email.
</div>