<br />
<div class="panel-group" id="accordionaff" role="tablist" aria-multiselectable="true" ng-controller="professionalAppCtrl">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Affiliation">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionaff" href="#Affiliationqwe" aria-expanded="false" aria-controls="Affiliationqwe">
                Professional Affiliation
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
        </div>
        <div id="Affiliationqwe" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Affiliation">
            <div class="panel-body">
                <div class="col-lg-12" id="AffiliationContainer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3"><strong>Organisation Name</strong></div>
                            <div class="col-lg-3"><strong>Start Date</strong></div>
                            <div class="col-lg-3"><strong>End Date</strong></div>
                            <div class="col-lg-3"><strong>View</strong></div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="AffiliationData">
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">AHC</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">11-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('AffiliationForm1', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="AffiliationForm1" style="display:none;">
                            <br />
                            <div class="form-group">

                                <div class=" col-lg-12 zero-padding-left-right-div">
                                    <div class="col-lg-12 form-group">
                                        <label class="control-label"><strong>Organization Name:</strong></label>
                                        <label class="control-label small">AHC</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Start Date:</strong></label>
                                        <label class="control-label small">4-3-2014</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>End Date:</strong></label>
                                        <label class="control-label small">11-3-2014</label>
                                    </div>
                                </div>
                                <div class=" col-lg-12 zero-padding-left-right-div">
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Position Office Held:</strong></label>
                                        <label class="control-label small">Doctor</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Member/Applicant:</strong></label>
                                        <label class="control-label small">Member</label>
                                    </div>
                                </div>


                                <br />

                               

                            </div>
                        </div>
                        <br />
                        <div class="col-lg-12 text-center table-bordered">
                            <div class="col-lg-3">Humana</div>
                            <div class="col-lg-3">4-3-2014</div>
                            <div class="col-lg-3">15-3-2014</div>
                            <div class="col-lg-3">
                                <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('AffiliationForm2', this)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12" id="AffiliationForm2" style="display:none;">
                            <br />
                            <div class="form-group">
                                <div class=" col-lg-12 zero-padding-left-right-div">
                                    <div class="col-lg-12 form-group">
                                        <label class="control-label"><strong>Organization Name:</strong></label>
                                        <label class="control-label small">Humana</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Start Date:</strong></label>
                                        <label class="control-label small">4-3-2014</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>End Date:</strong></label>
                                        <label class="control-label small">15-3-2014</label>
                                    </div>
                                </div>
                                <div class=" col-lg-12 zero-padding-left-right-div">
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Position Office Held:</strong></label>
                                        <label class="control-label small">Nurse</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label class="control-label"><strong>Member/Applicant:</strong></label>
                                        <label class="control-label small">Member</label>
                                    </div>
                                </div>
                            </div>
                            <br />

                          

                        </div>
                    </div>
                    <br />
                </div>

               
            </div>
        </div>
    </div>
</div>



