<p-link filepath="~/Areas/Coding/Contents/CSS/AppCss/DashBoard/NonMinified/CodingDashBoard.css" rel="stylesheet"></p-link>
<div class="row CodingDashBoardMainview">
    <div class="row db_margin">
        <div class="pull-right db_paddingright">
            <a class="btn btn-xs btn-info pull-right" id="filterData" onclick="CodingDashboardFilter()">
                <i class="fa fa-filter"></i> Filter
            </a>
            <a class="btn btn-xs btn-primary  tab-navigation member-actions" data-toggle="tooltip" title="View Coding List" data-tab-val="Coding List" data-tab-action="Coding List" data-tab-title="Coding List" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="/Coding/Coding/GetCodingList">View Coding List</a>
        </div>
    </div>
    <div class="row Coding_dashboard_filter" id="showfilter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 db_padding_left_right_20px">
            <fieldset class="fieldsetStyle db_bg_filter_color">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label>Member</label>
                    <div>
                        <input list="members" class="form-control input-xs non_mandatory_field_halo">
                        <datalist id="members">
                            <option value="Jill Crawley">
                            <option value="John Satterfield">
                            <option value="Smith Lucas">
                        </datalist>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label>PCP</label>
                    <div>
                        <input list="pcp" class="form-control input-xs non_mandatory_field_halo">
                        <datalist id="pcp">
                            <option value="Pariksith Singh">
                            <option value="Nishat Seema">
                            <option value="Ali Syed">
                        </datalist>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label>Facility</label>
                    <div>
                        <input list="facility" class="form-control input-xs non_mandatory_field_halo">
                        <datalist id="facility">
                            <option value="1094 North Cliffe Dlve">
                            <option value="10441 Quality Dr">
                            <option value="10494 Internal Med">
                            <option value="10045 Cortez Blvd">
                            <option value="13235 State Road Blvd">
                            <option value="14690 Spring Hill Dr">
                        </datalist>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label>DOS  From</label>
                    <div>
                        <input type="text" placeholder="MM/DD/YYYY" class="input-xs non_mandatory_field_halo">
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label>DOS  To</label>
                    <div>
                        <input type="text" placeholder="MM/DD/YYYY" class="input-xs non_mandatory_field_halo">
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

    <div class="row P_zero-padding-left-right margin-top_10">
        @*<div class="DivHeading pacCoordinatorsHeader zero-padding-left-right">
                Encounters
            </div>*@
        <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="col-lg-3 db_padding_left_right_20px">
                <button class="biscuit p_biscit_outerColor_ngreen p_scheules">
                    @*<div class="biscuit_heading auth">
                    <b>Open</b>
                </div>*@
                    <div class="biscuit_body">
                        <div class="row">
                            <div class="col-lg-6">
                                <b>Open</b>
                            </div>
                            <div class="col-lg-6">
                                <b># 42</b>
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-lg-3 db_padding_left_right_20px">
                <button class="biscuit p_biscit_outerColor_orange p_scheules">
                    @*<div class="biscuit_heading auth">
                    <b>Draft</b>
                </div>*@
                    <div class="biscuit_body">
                        <div class="row">
                            <div class="col-lg-6">
                                <b>Draft</b>
                            </div>
                            <div class="col-lg-6">
                                <b># 15</b>
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-lg-3">
                <button class="biscuit p_biscit_outerColor_rblue p_scheules">
                    @*<div class="biscuit_heading auth">
                            <b>Completed</b>
                        </div>*@
                    <div class="biscuit_body">
                        <div class="row">
                            <div class="col-lg-8">
                                <b>Ready to Audit </b>
                            </div>
                            <div class="col-lg-4">
                                <b># 78</b>
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-lg-3">
                <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                    @*<div class="biscuit_heading auth">
                            <b>On-Hold</b>
                        </div>*@
                    <div class="biscuit_body">
                        <div class="row">
                            <div class="col-lg-6">
                                <b>On-Hold</b>
                            </div>
                            <div class="col-lg-6">
                                <b># 54</b>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>

    @*Graphs*@
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-xs-6" >
                @*<a class="pull-right view_more btn_link viewcss" id="view_Detailed_Report_Btn">View More</a>*@

                <div class="p_panel codingProductivity_Panel_bordertop" id="ReadytoCodeid">
                    <div class="small_view">
                        <div class="p_panel_header">
                            <label class="labelheader codingProductivity_Header">Overall Coding Productivity</label>
                        </div>
                        <div class="p_panel_body">
                            <div id="codingcountgraph"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="p_panel OnHoldReasons_Panel_bordertop">
                    <div class="small_view">
                        <div class="p_panel_header">
                            <label class="labelheader OnHoldReasons_Header">Reasons for On-Hold Coded Encounters</label>
                        </div>
                        <div class="p_panel_body">
                            @*<div id="EnMGraph"></div>*@
                            <div class="p_panel_body">
                                <div>
                                    <table class="table table-striped table-hover table-bordered custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                                        <thead class="theme_thead">
                                            <tr>
                                                <th>Reason</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Signature Missing</td>
                                                <td>78</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Social History</td>
                                                <td>46</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>History of Patient Illness</td>
                                                <td>25</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>InComplete Notes</td>
                                                <td>13</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Chief Complaint</td>
                                                <td>12</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Agreed</td>
                                                <td>11</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Review of Systems</td>
                                                <td>9</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Past, Family and/or Social History</td>
                                                <td>7</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>History References</td>
                                                <td>5</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Medical Decision Making Level</td>
                                                <td>4</td>
                                            </tr>
                                            <tr class="pointer" onclick="ViewOnHoldfullscreen()">
                                                <td>Others</td>
                                                <td>2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            @*<a class="pull-right view_more btn_link viewcss" id="view_Detailed_Report_Btn">View More</a>*@
            <div class="p_panel EnM_Panel_bordertop">
                <div class="small_view">
                    <div class="p_panel_header">
                        <label class="labelheader EnM_Header">Top 15 E & M Code Accuracy</label>
                    </div>
                    <div class="p_panel_body">
                        <div id="EnMGraph"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-script filepath="~/Areas/Coding/Scripts/AppJs/DashBoard/NonMinified/CodingDashBoard.js"></p-script>