@model PortalTemplate.Areas.Coding.Models.DashBoard.CodedEncounterCountsViewModel

<div class="row P_zero-padding-left-right margin-top_10">
    @*<div class="DivHeading pacCoordinatorsHeader zero-padding-left-right">
            Encounters
        </div>*@
    <div class="col-lg-12 col-md-12 col-xs-12 ">
        <div class="col-lg-3 db_padding_left_right_20px">
            <button class="biscuit p_biscit_outerColor_ngreen p_scheules">
                @*<div class="biscuit_heading auth">
                        <b>Open</b>
                    </div>*@
                <div class="biscuit_body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Open</b>
                        </div>
                        <div class="col-lg-6">
                            <b>@Model.OpenCount</b>
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <div class="col-lg-3 db_padding_left_right_20px">
            <button class="biscuit p_biscit_outerColor_orange p_scheules">
                @*<div class="biscuit_heading auth">
                        <b>Draft</b>
                    </div>*@
                <div class="biscuit_body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>Draft</b>
                        </div>
                        <div class="col-lg-6">
                            <b>@Model.DraftCount</b>
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <div class="col-lg-3">
            <button class="biscuit p_biscit_outerColor_rblue p_scheules">
                @*<div class="biscuit_heading auth">
                        <b>Completed</b>
                    </div>*@
                <div class="biscuit_body">
                    <div class="row">
                        <div class="col-lg-8">
                            <b>Ready to Audit </b>
                        </div>
                        <div class="col-lg-4">
                            <b>@Model.ReadytoAuditCount</b>
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <div class="col-lg-3">
            <button class="biscuit p_biscit_outerColor_yellow p_scheules">
                @*<div class="biscuit_heading auth">
                        <b>On-Hold</b>
                    </div>*@
                <div class="biscuit_body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>On-Hold</b>
                        </div>
                        <div class="col-lg-6">
                            <b>@Model.OnHoldCount</b>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>

