/*------------create claims------------*/

.asterisk_symbol {
    font-size: 20px;
    margin-top: -4px;
}

.margin_top_minus11 {
    margin-top: -11px;
}

.create_claims_container {
    padding: 5px;
    margin-bottom: 10px;
    /* background: rgb(247, 247, 247); */
    min-height: 391px;
}

.error {
    color: red !important;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 160px;
    /* float: left; */
}

.bolding {
    font-weight: bolder;
}

.wizard_horizontal {
    margin-top: 4px;
    background: #fff;
    border: #ddd 1px solid;
    padding: 10px;
    margin-bottom: 4px;
}

    .wizard_horizontal ul.wizard_steps {
        display: table;
        list-style: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

        .wizard_horizontal ul.wizard_steps li {
            display: table-cell;
            text-align: center;
        }

            .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
                display: block;
                position: relative;
                -moz-opacity: 1;
                filter: alpha(opacity=100);
                opacity: 1;
                color: #666;
                text-decoration: none;
            }


.wizard_div {
    display: none;
}

.claims_section {
    margin-bottom: 7px;
}

.x_panel_claimsinfo .x_content {
    margin-bottom: 10px;
}

.dignosis_line {
    margin-bottom: 5px;
}

.icdtype_selector {
    color: #7387ab;
    margin-top: 2px;
}

.dropdown_selector {
    /* color: #7387ab; */
}

.providerContainer {
    display: none;
}


#provider_search_btn {
    margin-top: 22px;
}

#provider_result_title {
    text-transform: uppercase;
}


.div_5 {
    float: left;
    width: 20%;
    padding: 2px;
}

.dob_field {
    width: 150px;
}

.state_field {
    width: 100px;
}

.city_field {
    width: 100px;
}

.top_payer_field {
    width: 200px;
}

.margin_left_-100 {
    margin-left: -105px;
}


/*=====================================panel=======================================*/
.form_Create_Preview {
    display: none;
}

.search_result {
    display: none;
}

.form_Create_Provider_Member {
    display: none;
}

.bolder {
    font-weight: 900;
}

.padding_8px {
    padding-left: 8px;
    padding-right: 8px;
}

#member_for_provider_result > div {
    padding-left: 3px;
    padding-right: 3px;
}

.x_content > div {
    /*padding-left: 3px;
    padding-right: 3px;*/
}

.uppercase {
    text-transform: uppercase;
}

#SelectedMemberDiv {
    padding-left: 10px;
    padding-right: 10px;
}

.x-dtablist {
    display: inline-flex !important;
}

.memberProfileTabsContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

    .memberProfileTabsContainer::-webkit-scrollbar {
        height: 0;
        width: 0;
    }





    .memberProfileTabsContainer .list-item {
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        padding: 0px 19px;
        /*background: rgba(220, 220, 220, 0.25);
    color: #aeaeae;*/
        background: rgb(255, 255, 255);
        color: #626465;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        height: auto;
        vertical-align: middle;
        line-height: 2.8em;
        /*border-bottom: 1px solid rgb(255, 157, 0);*/
        position: relative;
        display: block;
        text-decoration: none;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        margin-right: 3px;
        cursor: pointer;
        /*font-size: 112%;*/
        border: 1px solid #b8b8b8 !important;
    }


        .memberProfileTabsContainer .list-item:hover {
            font-weight: bold;
            background: #f3f3f3;
            color: #0096da;
        }

            .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
                -webkit-transition: all .25s linear;
                transition: all .25s linear;
            }

        .memberProfileTabsContainer .list-item:before, .list-item:after {
            content: '';
            position: absolute;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
            width: 0.5em;
        }

        .memberProfileTabsContainer .list-item:after {
            background: #e4e4e4;
            bottom: -46px;
            left: 37px;
            -webkit-transform: rotate(90deg) skew(0, 45deg);
            transform: rotate(90deg) skew(0deg, 0deg);
        }

        .memberProfileTabsContainer .list-item:before {
            background: #e4e4e4;
            top: 0.25em;
            left: -.5em;
            -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
        }

.no_underline, .no_underline:hover, .no_underline:active {
    text-decoration: none;
}


/*------------*/
table.OtherDX > thead > tr > th {
    text-align: left;
}

table.OtherDX > tbody > tr > td {
    text-align: left;
}

span.label label-danger {
    margin-bottom: 2px;
}


.admission_section_review {
    background: rgb(42, 123, 156) none repeat scroll 0% 0%;
    color: #fff;
    margin-bottom: 2%;
    margin-left: -7px;
}

.custommembertab-content {
    display: none;
    min-height: 300px;
}

#ProviderInformation-memberTab {
    display: block;
}

.selected-status {
    color: #ffffff;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 6px;
    position: relative;
    pointer-events: none;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .selected-status:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0;
        border-top: 27px solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 32px solid #2cb5e8;
        right: -28px;
        top: 0px;
    }


.table-nowrap {
    table-layout: fixed;
}

    .table-nowrap td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-nowrap > thead > tr:after {
        content: "";
    }

    .table-nowrap > thead > tr > th {
        padding: 8px;
        border-bottom: 2px solid #49739e !important;
    }

    .table-nowrap > tbody > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-weight: 500;
    }

        .table-nowrap > tbody > tr > td > button.editbtn {
            position: relative;
            vertical-align: top;
            width: 40px;
            height: 22px;
            padding: 1px 4px 1px 2px;
            font-size: 9px;
            font-weight: 600;
            color: white;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            background: #3498db;
            border: 0;
            border-bottom: 4px solid #065890;
            cursor: pointer;
            -webkit-box-shadow: inset 0 -2px #2a8bcc;
            box-shadow: inset 0 -2px #2a8bcc;
            border-radius: 0px;
        }

.TableTitle {
    text-align: left;
}

.x_title {
    border-bottom: none !important;
    padding: 1px 1px 0px;
    margin-bottom: 0% !important;
    color: white;
}

.panelheight {
    height: 800px;
}

.claimTabContainer {
    margin-top: 7px;
}


/*================fieldset=========================*/

.memberTab_sectionsDiv > fieldset.fsStyle {
    margin-bottom: 5px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

fieldset.fsStyle {
    font-weight: bold;
    border: 1px solid #d4c9c9;
    padding: 4px;
    margin-top: 5px;
    text-transform: uppercase;
}


legend.legendStyle {
    font-size: 12px;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 0px;
    border: 0;
}


.legendStyle > span {
    color: rgb(9, 65, 122);
    margin-left: 5px;
    margin-right: 5px;
}

.divwidth_auto {
    /* width: auto; */
    /* margin-top: 5px; */
    /* margin-right: 10px; */
    margin-bottom: 5px;
}

.margin_left {
    margin-left: 5px;
}



/*=====================hcfa1500 form=============================*/

label.cms_label {
    text-transform: capitalize;
}


.cms_div {
    border: 1px solid #ddd;
    /*text-transform: uppercase;*/
    padding: 5px;
}

    .cms_div table {
        width: 100%;
    }

        .cms_div table tr td {
            padding: 2px 2px;
        }


/*==========================cms1500=========================*/

form#cms1500Form {
    padding: 10px;
}

    form#cms1500Form label {
        color: #73879c;
        margin-top: 5px;
        margin-bottom: 0px;
    }


.field-validation-error {
    color: red;
    text-transform: initial;
    overflow: hidden;
    word-wrap: break-word;
    white-space: wrap;
    text-overflow: ellipsis;
}

#SaveCMS1500Btn {
    width: 146px;
}


.serviceline_section {
    margin: 0px !important;
    padding: 0px !important;
}

/*.edit-button, .copy-button {
    text-transform: capitalize;
}*/


.btn_xs_setToInputSm {
    line-height: 1.7;
    height: 22px;
}

.dropdown-menu.changeCarotPositionToLeft:after {
    left: 6% !important;
    right: 94% !important;
}

.member_select_container {
    margin: 0px 6px 6px 6px;
}


.panel-body {
    padding: 5px !important;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
}



.createClaim .legendStyle > span {
    margin-left: 10px;
}

.margin_top_plus10 {
    margin-top: 10px;
}

.edit_link {
    cursor: pointer;
    color: #2a8bcc;
    text-transform: capitalize;
    margin-left: 15px;
    text-decoration: underline;
}

.wizard_horizontal ul.wizard_steps li:first-child a.doneDisabled .step_no, .wizard_horizontal ul.wizard_steps li:first-child a.doneDisabled:before {
    background: #1ABB9C !important;
}

.wizard_horizontal ul.wizard_steps li:first-child a.doneDisabled:hover {
    cursor: not-allowed;
}


.non_mandatory_field_halo, .non_mandatory_field_halo:focus, .non_mandatory_field_halo:active {
    box-shadow: 0 0 2px #ddd;
    border: 1px solid #ddd;
}

#providers_title {
    margin-bottom: 6px;
}


.text-upper {
    text-transform: uppercase;
}

fieldset.fsStyle {
    margin: 14px;
}

.admission_section {
    background: #6e93cf;
}

#serviceLine_table > thead > tr > th {
    border-bottom: 1px solid #ddd !important;
}

#AddNewServiceLineBtn {
    margin-top: 5px;
}

#AddNewRowInForm {
    margin-top: 5px;
}


/*-----------------tab css-------------------*/


.claimsProfileTabsContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

    .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
    }

.claimsProfileTabsContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.claimsProfileTabsContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.claimsProfileTabsContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.claimsProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.claimsProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .claimsProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .claimsProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .claimsProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .claimsProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.claimsProfileTabsContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}
/*---------------------end-------------------------------------*/
/*.title_heading {
    font-weight: 900;
    font-size: 15px;
    color: #1a3c87;
}*/

.inner_title_heading {
    margin-left: -14px;
    font-weight: 700;
    font-size: 14px;
    color: #1a3c87;
    margin-top: -2px;
}

/*.title_heading {
    margin-left: 15px;
    font-size: 15px;
    color: #465a84;
    margin-top: -2px;
    font-weight: 500;
}*/

.legend1 {
    position: absolute;
    top: 0px;
    right: 34px;
    background: #fff;
    padding: 5px;
    border: none !important;
    border-radius: 7px;
}

.legend2 {
    position: absolute;
    top: 19px;
    right: 34px;
    background: #fff;
    padding: 5px;
    border: none !important;
    border-radius: 7px;
}

.legend3 {
    position: absolute;
    top: 109px;
    right: 34px;
    background: #fff;
    padding: 5px;
    border: none !important;
    border-radius: 7px;
}

.copy-button {
    border-bottom: 0;
}

.claimsProfileTabsContainer ul li {
    padding: 0px 4px 0px 0px;
}

.text_capitalizer {
    text-transform: capitalize;
}

#wizard_step_id {
    display: none;
}

.create_claims_container .legendStyle span {
    color: #203764 !important;
}

#viewICDHistory, #viewMedicalReview {
    position: relative;
    top: 2px;
    left: 3px;
}

.mulitProviderSlectTableDiv {
    /*max-height: 150px;
    overflow-y: scroll;*/
}


.text-initial {
    text-transform: initial !important;
}

.create_claims_container input {
    text-transform: uppercase;
}


.brighttheme-icon-sticker {
    display: none !important;
}

#memberSearchResultCC {
    padding-top: 10px;
}


/*table hover */
#MemberResult tbody tr:hover, #ProvidersResult tbody tr:hover {
    cursor: pointer;
    /*border-bottom: 2px solid #7672b0;*/
}
/*local override of a tag*/
#MemberResult a, #ProvidersResult a {
    color: -webkit-link;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.c-modaldialog {
    width: 80%;
    top: 20px;
}

.c-modal-header {
    font-size: 20px;
}

.c-modalBody {
    padding: 0px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}


/*----------------------------fixed header---------------------------*/

.fixed-wizard {
    position: fixed;
    z-index: 100;
    border-bottom: 5px solid rgb(222, 232, 255) !important;
    border-top: 5px solid rgb(222, 232, 255) !important;
    border-left: 8px solid rgb(222, 232, 255) !important;
    margin-top: 0px;
    transition: 0s !important;
}

.fixed-wizard ul.wizard_steps li a:before {
    content: "";
    position: absolute;
    height: 3px;
    background: #ccc;
    top: 11px;
    width: 100%;
    z-index: 4;
    left: 0;
}

.fixed-wizard ul.wizard_steps li a .step_no {
    width: 25px;
    height: 25px;
    line-height: 27px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 12px;
    text-align: center;
    position: relative;
    z-index: 5;
}


.CPTWidth {
    width: 130px;
}

.CptCodesborderStyle {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    width:380px;
    font-size:15px;
}

.CPTselectspan {
    color: green;
}


.flex-div {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;
}
