<div class="detailed_view">
    <div class="clearfix">
        <h4 class="margin_left_10px pull-left nowrap">
            <span class="btn btn-default btn-sm BackToClaimsDashboard"><i class="fa fa-arrow-left"> Back</i> </span>
            OVERALL MEAN PROCESS TIME OF <span id="payerIDName" style="text-transform:uppercase"></span>&nbsp;FOR YEAR 2016 <span id="ShowMonth" hidden>AND FOR MONTH <span id="monthName"></span></span>
        </h4>


        @Html.ExportOptions("print", "pdf")


        <a href="javascript:void(0)" class="export-button pull-right" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
            <img src="~/Resources/Images/Icons/image%20download%20new.png" />
        </a>
        <a class="export-button pull-right" id="master_filter_overall_filter" data-toggle="tooltip" data-placement="bottom" title="Filter">
            @*<i class="fa fa-filter"></i>*@
            <img src="~/Resources/Images/Icons/filter10.png" />
        </a>
    </div>

    @Html.Partial("~/Views/ClaimsDashboard/_FilterForCharts.cshtml")

    <div class="row">
        <div class="col-lg-12">
            @*<div class="col-lg-1 width_3"><a class="btn make_center btn-primary btn-sm" id="showPrevious"><i class="fa fa-angle-double-left"></i></a></div>*@

            
            <div class="col-lg-12">
                <div id="MonthOverAllMeanProcessingTimeDetailedGraph"></div>
                <div class="table-responsive fix_height margin_left_fix ActiionableDetailedTable">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="">

    </div>

   
</div>
<script src="~/Scripts/AppScripts/ClaimsDashboard/ActionableGraphs/MonthOverallMeanProcessTIme.js"></script>