
<div class="detailed_view">
    <div class="clearfix">
        <h4 class="margin_left_10px pull-left">
            <span class="btn btn-default btn-sm BackToClaimsDashboard"><i class="fa fa-arrow-left"> Back</i> </span>
            CLAIMS <span id="payerIDName" style="text-transform:uppercase"></span>&nbsp;FOR YEAR
            <select class="financial_year_dropdown">
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option selected>2016</option>
            </select>
        </h4>


        <a href="javascript:void(0)" class="custom-button  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Print">
            <img src="/Resources/Images/Icons/print_icon.png">
        </a>
        <a href="javascript:void(0)" class="custom-button  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
            <img src="~/Resources/Images/Icons/pdf1.png" />
        </a>
        <a href="javascript:void(0)" class="custom-button  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
            <img src="~/Resources/Images/Icons/image%20download%20new.png" />
        </a>
        <a href="javascript:void(0)" class="custom-button pull-right margin_top_5" id="master_filter_overall_filter" data-toggle="tooltip" data-placement="bottom" title="Filter">
            @*<i class="fa fa-filter"></i>*@
            <img src="~/Resources/Images/Icons/filter10.png" />
        </a>
    </div>

    @Html.Partial("~/Views/ClaimsDashboard/_FilterForCharts.cshtml")

    <div class="row">
        <div class="col-lg-12">
            @*<div class="col-lg-1 width_3"><a class="btn make_center btn-primary btn-sm" id="showPrevious"><i class="fa fa-angle-double-left"></i></a></div>*@


            <div class="col-lg-12">
                <div id="TileReport"></div>

            </div>
        </div>
    </div>
</div>

<p-script filepath="~/Scripts/AppScripts/ClaimsDashboard/DetailedGraphs/TilesReport.js"></p-script>