<br />
<div class="tab-content" ng-app="initCredApp" ng-controller="singleProviderCtrl" ng-cloak>
    <div role="tabpanel" class="tab-pane active" id="provider">
        <!---Provider partial starts here-->
        <table class="table table-bordered table-hover table-condensed alignTableStyle">
            <thead>
                <tr>
                    <th>Plan</th>
                    <th>Group</th>
                    <th>Specialty</th>
                    <th>Location</th>
                    <th>Credentialed Date</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Filter Plan" class="form-control input-sm" ng-model="search.Plan" /></td>
                    <td><input type="text" placeholder="Filter Group" class="form-control input-sm" ng-model="search.Group" /></td>
                    <td><input type="text" placeholder="Filter Specialty" class="form-control input-sm" ng-model="search.Specialty" /></td>
                    <td><input type="text" placeholder="Filter Location" class="form-control input-sm" ng-model="search.Location" /></td>
                    <td><input type="text" placeholder="Filter Credentialled Date" class="form-control input-sm" ng-model="search.CredentialledDate" /></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in allPlanProviders | filter:{Plan:search.Plan,Group:search.Group,Specialty:search.Specialty,Location:search.Location,CredentialledDate: search.CredentialledDate}" ng-click="pushplan(p);">
                    <td>{{p.Plan}}</td>
                    <td>{{p.Group}}</td>
                    <td>{{p.Specialty}}</td>
                    <td>{{p.Location}}</td>
                    <td>{{p.CredentialledDate}}</td>
                    <td><button ng-click="showDocDiv();" data-toggle="tooltip" data-placement="right" title="Initiate"><i class="fa fa-arrow-circle-o-right"></i></button></td>
                </tr>
            </tbody>
        </table>
        <!---Provider partial ends here-->
    </div>

    <div class="col-lg-12 zero-padding-left-right-div" ng-show="TwoDocuments">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label small">Old Application Form</label>
                <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Attach Document</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label small">Old Welcome Letter</label>
                <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Attach Document</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="alert alert-success" role="alert" ng-show="msgAlert">
                <strong>Success!</strong> {{Title}} {{Firstname}} {{Lastname}}'s Re-Credentialing Initiated Successfully.
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div ng-show="initiateSuccess">
            <span class="col-lg-4"><hr /></span>
            <span class="col-lg-4 text-center h4">What would you like to do?</span>
            <span class="col-lg-4"><hr /></span>
        </div>
        <div class="col-lg-12 zero-padding-left-right-div">
            <div class="col-lg-6 text-left"><button class="btn btn-warning btn-sm" ng-click="SearchProviderPanelToggleDown('SearchProviderResultPanel');TwoDocuments = false;initiateSuccess = false;"> Back to Search Result</button></div> @*onclick="$('a[href=#SearchResult]').trigger('click');"*@
            <div ng-show="initiateSuccess" class="col-lg-6 text-right"><a class="btn btn-success btn-sm" href="~/credentialingdelegation/ReCredentialing/SPA"> View Re-Credentialing Application</a></div>
            <div ng-hide="initiateSuccess" class="col-lg-6 text-right"><button class="btn btn-primary btn-sm" ng-click="InitiateCredentialing();"> Initiate Re-Credentialing</button></div>
        </div>
        <div class="clearfix"></div>
        <br />
    </div>


</div>