<div class="row">
    <div class="col-lg-3 zero-padding-left-right">
        @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ICDArea12Type.cshtml")
        <div id="fishArea" class="text-center" style="display:none;">
            <img src="~/Areas/UM/Resources/Images/AnimalControl/fish2.gif" />
        </div>
    </div>
    <div class="col-lg-9 zero-padding-left-right">
        @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CPTArea12Type.cshtml")
        <div id="fishCPTArea" class="text-center" style="display:none;">
            <img src="~/Areas/UM/Resources/Images/AnimalControl/fish2.gif" />
        </div>
    </div>
</div>
<p-script filepath="~/Areas/UM/Scripts/Authorization/ICDCPTCommom/NonMinified/ICDCPTCommon.js"></p-script>