<div class="row">
    <div class="col-lg-5 zero-padding-left-right">
        @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ICDArea11Type.cshtml")
        <div id="fishArea" class="text-center" style="display:none;">
            @*<img src="~/Areas/UM/Resources/Images/FranticFish.gif" />*@
            <img src="~/Areas/UM/Resources/Images/AnimalControl/fish2.gif" />
        </div>
    </div>
    <div class="col-lg-7 zero-padding-left-right">
        @Html.Partial("~/Areas/UM/Views/Authorization/Form/_CPTArea11TypeNonMandatory.cshtml")
        <div id="fishCPTArea" class="text-center" style="display:none;">
            <img src="~/Areas/UM/Resources/Images/AnimalControl/fish2.gif" />
        </div>
    </div>
</div>
<p-script filepath="~/Areas/UM/Scripts/Authorization/ICDCPTCommom/NonMinified/ICDCPTCommon.js"></p-script>