

@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>

<script src="~/Scripts/Custom/Checklist/ChecklistIndex.js"></script>

<link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>


<style>
    label.small {
        color: #337ab7;
    }
</style>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="~/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Form Update
                    </li>

                </ol>
            </div>
        </div>
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Application Form</h3>
                </div>
                <div class="panel-body">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#grid1" aria-controls="grid1" role="tab" data-toggle="tab">Application Form Data</a></li>
                            <li role="presentation"><a href="#grid2" aria-controls="grid2" role="tab" data-toggle="tab">Document Checklist</a></li>
                            <div class="text-right">
                                <button class="btn btn-sm btn-warning">Edit</button>
                                <button class="btn btn-sm btn-primary">Submit</button>
                            </div>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- Application Form -->
                            <div role="tabpanel" class="tab-pane active" id="grid1">
                                @Html.Partial("_UpdateFormData")
                            </div>

                            <!-- Checklist Form -->
                            <div role="tabpanel" class="tab-pane" id="grid2">
                                @Html.Partial("_UpdateDocumentChecklist")
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
</div>