<fieldset>
    <legend>
        Billing Contact
    </legend>
    <div id="practice3" class="panel-body">
        <div class="form-group">
            <div>
                <div class="col-md-12">
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="bill" value="true" ng-model="contactReUse"> Use Office Manager Details
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="bill" value="false" ng-model="contactReUse"> Re-use Information from another practice location
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="bill" value="false" ng-model="contactReUse"> Add new details
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-md-6" id="locationDiv" ng-show="contactReUse=='true'">
                    <label class="control-label small ">Select Location</label>
                    <select class="form-control input-sm" data-ng-model="billingContact.Location">
                        <option selected disabled hidden>Select Location</option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-lg-4 form-group">
                    <label class="control-label small">First Name *</label>
                    <input type="text" class="form-control input-sm" id="name1" placeholder="first name" data-ng-model="billingContact.First">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Middle Name</label>
                    <input type="text" class="form-control input-sm" id="name2" placeholder="middle name" data-ng-model="billingContact.Middle">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Last Name *</label>
                    <input type="text" class="form-control input-sm" id="name3" placeholder="last name" data-ng-model="billingContact.Last">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Country *</label>
                    <select class="form-control input-sm" data-ng-model="billingContact.Country">
                        <option selected disabled hidden>Select Country</option>
                        <option>USA</option>
                        <option>India</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">State *</label>
                    <select class="form-control input-sm" data-ng-model="billingContact.State">
                        <option selected disabled hidden>Select State</option>
                        <option>Florida</option>
                        <option>Texas</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">City *</label>
                    <select class="form-control input-sm" data-ng-model="billingContact.City">
                        <option selected disabled hidden>Select City</option>
                        <option>Largo</option>
                        <option>Spring Hill</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label class="control-label small">Number *</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-ng-model="primaryPracticeLocations.BillingContact.Number" required />
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label small">Street *</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-ng-model="billingContact.Street" required />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Suite/Building</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-ng-model="billingContact.Suite" required />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Zip Code *</label>
                    <div>
                        <input type="text" class="form-control input-sm" data-ng-model="billingContact.ZIP" />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="col-lg-3 form-group">
                    <label class="control-label small">P.O. Box Address *</label>
                    <input type="text" class="form-control input-sm" data-ng-model="billingContact.BoxAddress" />
                </div>
                <div class="form-group col-md-3">
                    <label for="MobileNo" class="control-label small">Telephone *</label>
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                            </div>
                            <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Select Country Dial Code</h3>
                                <div class="popover-content">
                                    <select id="ContactContryCode">
                                        <option>+91</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Telephone Number" data-ng-model="billingContact.Telephone" required>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="MobileNo" class="control-label small">Fax </label>  
                    <div>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default"><span class="caret"></span></button>
                            </div>
                            <div class="popover fade bottom in" role="tooltip" id="countryDailCodeContainer">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Select Country Dial Code</h3>
                                <div class="popover-content">
                                    <select id="ContactContryCode">
                                        <option>+91</option>
                                    </select>
                                </div>
                            </div>
                            <input type="text" name="PhoneNo" class="form-control input-sm" id="PhoneNo" placeholder="Fax Number" data-ng-model="billingContact.Fax" required>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 form-group">
                    <label class="control-label small">E-Mail Address</label>
                    <input type="text" class="form-control input-sm" data-ng-model="billingContact.MailAddress" />
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="control-group">
                    <button class="btn btn-warning btn-sm" ng-click="cancelBillingContact()">Cancel</button>
                    <button class="btn btn-success btn-sm pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>
