
<div class="form-style" ng-hide="!WorkingCompEdit">
    <fieldset>
        <legend>
            Workers Compensation Information
        </legend>
        <div id="practice12" class="panel-body">
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label class="control-label small">Workers Compensation Number</label>
                    <input type="number" class="form-control input-sm" id="workers11" data-ng-model="WorkersCompensationInformation.WorkersCompensationNumber" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Certification Status</label>
                    <select class="form-control input-sm" data-ng-model="WorkersCompensationInformation.CertificationStatus">
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Issue Date</label>
                    <input type="date" class="form-control input-sm" id="date14" data-ng-model="WorkersCompensationInformation.IssueDate"   />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label small">Expiration Date</label>
                    <input type="date" class="form-control input-sm" id="date15" data-ng-model="WorkersCompensationInformation.ExpirationDate"   />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <button class="btn btn-warning btn-sm" ng-click="WorkingCompEdit=false">Cancel</button>
                    <button class="btn btn-success btn-sm pull-right" ng-click="WorkingCompEdit=false">Save</button>
                </div>
            </div>

        </div>

    </fieldset>
</div>