<script src="~/Scripts/Custom/Profile/CredentialingContact.js"></script>
<div class="form-style" ng-controller="CredentialingContactCtrl">
    <fieldset>
        <legend>
            Primary Credentialing Contact
        </legend>

        <div id="CredentialingContact">
            <div class="col-lg-12 zero-padding-left-right-div">
                <table ng-hide="PrimaryCredentialingContacts.length >= 0" class="table table-bordered table-condensed customtbodyStyle table-striped">
                    <thead>
                        <tr>
                            <td>No Data Available ! To Add New Click "Add credentialing Contact"</td>
                        </tr>
                    </thead>
                </table>
                <table ng-hide="PrimaryCredentialingContacts.length < 1" class="table table-bordered table-condensed table-striped customtbodyStyle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Telephone</th>
                            <th>Email Id</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="primaryCredentialingContact in PrimaryCredentialingContacts">

                        <tr>
                            <td>{{primaryCredentialingContact.FirstName}}</td>
                            <td>{{primaryCredentialingContact.Number}}, {{primaryCredentialingContact.Street}}, {{primaryCredentialingContact.Building}}</td>
                            <td>{{primaryCredentialingContact.Telephone}}</td>
                            <td>{{primaryCredentialingContact.EmailId}}</td>
                            <td>
                                <button class="btn btn-xs btn-default" ng-click="viewCredentialingContact($index,primaryCredentialingContact)" ng-hide="viewShowCredentialingContact"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-xs btn-primary" ng-click="editCredentialingContact($index,primaryCredentialingContact)" ng-hide="editShowCredentialingContact"><i class="fa fa-edit"></i></button>
                                <button ng-hide="viewShowCredentialingContact || editShowCredentialingContact || newShowCredentialingContact || $index+1!=PrimaryCredentialingContacts.length" class="btn btn-xs btn-success" ng-click="addCredentialingContact()"><i class="fa fa-plus"></i></button>
                            </td>
                        </tr>
                        <tr ng-show="viewShowCredentialingContact && primaryCredentialingContact==credentialingContact">
                            <td colspan="6" id="CredentialingContactEditDiv{{$index}}" class="editTableDataStyle">
                                @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_ViewCredentialingContact.cshtml")
                            </td>
                        </tr>
                        <tr ng-show="editShowCredentialingContact && primaryCredentialingContact==credentialingContact">
                            <td colspan="6" id="credentialingContactEditDiv{{$index}}" class="editTableDataStyle">
                                @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_AddEditCredentialingContact.cshtml")
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

            <div class="clearfix"></div>
            <fieldset ng-show="newShowCredentialingContact">
                <legend>
                    Add Credentialing Contact
                </legend>
                <div id="newShowCredentialingContactDiv">
                    @Html.Partial("~/Areas/Profile/Views/PracticeLocation/_AddEditCredentialingContact.cshtml")
                </div>
            </fieldset>
            <div ng-hide="PrimaryCredentialingContacts.length > 0 || newShowCredentialingContact" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary addHosPrvBtn" ng-click="addCredentialingContact()"><i class="fa fa-plus"></i> Add Credentialing Contact</button>
            </div>
        </div>
    </fieldset>
</div>
