<div class="form-style">
    <fieldset>
        <legend>
            Mid-Level Practitioners
        </legend>
        <div class="form-group">
            <div class="col-md-12">
                <div class="form-group col-md-12">
                    <label class="control-label small">
                        Do Mid-Level Practitioners (Nurse Practitioners, Physician Assistants, etc.) Care For Patients In Your Practice?*
                    </label>
                    <div>
                        <i class="data-label">Yes</i>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Practitioner First Name</label>
                        <div>
                            <i class="data-label">Sharona</i>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Practitioner Middle Name</label>
                        <div>
                            <i class="data-label"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Practitioner Last Name</label>
                        <div>
                            <i class="data-label">Lowenstein</i>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-lg-12 form-group">
                        <label class="control-label small">Practitioner License/ Certificate Number</label>
                        <div>
                            <i class="data-label">PA9103282</i>
                        </div>
                    </div>
                    </div>
                <div class="col-md-12">
                    <div class="col-md-4 form-group">
                        <label class="control-label small">Practitioner State</label>
                        <div>
                            <i class="data-label">Florida</i>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="control-label small">Practitioner Type </label>
                        <div>
                            <i class="data-label">PA</i>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <button class="btn btn-warning btn-sm" ng-click="cancelMidLevel()">Cancel</button>
                    <button class="btn btn-primary btn-sm pull-right" ng-click="editMidLevel($index,midLevel)">Edit</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>