
<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/PayerDrilldownReport/Unminified/PayerDrilldownReport.css" rel="stylesheet"></p-link>

<div class="x_panel payer_drilldown_report_container">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
                <ul class="inner_breadcrum clearfix">
                    <li>
                        <a class="active" data-page="PayerReport">Payer</a>
                    </li>
                    <li>
                        <a class="disabled" data-page="BillingProviderReport">Billing  Provider</a>
                    </li>
                    <li>
                        <a class="disabled" data-page="RenderingProviderReport">Rendering Provider</a>
                    </li>
                    <li>
                        <a class="disabled" data-page="MemberReport">Member</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row select_box">
            @*<div class="pull-right">
                    <input type="checkbox" name="payerToProvider" class="switchCss" checked="" data-size="mini" data-off-color="success" data-on-color="primary" data-on-text="Claims" data-off-text="Amount" data-label-width="1">
                </div>*@

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right" id="search_result_div">
                <br />
            </div>

            <span class="pull-right pull_right_selection">
                <span class="zero-padding-left-right">
                    <input type="radio" name="ClaimReport" class="form-control normal-radio" id="NoOfClaims" value="NoOfClaims" checked>
                    <label for="NoOfClaims"><span></span>NO OF CLAIMS</label>
                </span>
                <span class="zero-padding-left-right">
                    <input type="radio" name="ClaimReport" class="form-control normal-radio" value="ClaimedAmount" id="ClaimedAmount">
                    <label for="ClaimedAmount"><span></span>CLAIMED AMOUNT</label>
                </span>
            </span>
            @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 zero-padding-left-right">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                        <input type="radio" name="ClaimReport" class="form-control normal-radio" id="NoOfClaims" value="NoOfClaims" checked>
                        <label for="NoOfClaims"><span></span>NO OF CLAIMS</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                        <input type="radio" name="ClaimReport" class="form-control normal-radio" value="ClaimedAmount" id="ClaimedAmount">
                        <label for="ClaimedAmount"><span></span>CLAIMED AMOUNT</label>
                    </div>
                </div>*@
        </div>
    </div>


    <div id="payer_report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
        <div id="payer_count_report">

        </div>
        <div id="payer_amount_report">

        </div>
    </div>
    <div id="billingProvider_report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
        <div id="billingProvider_count_report">

        </div>
        <div id="billingProvider_amount_report">

        </div>
    </div>
    <div id="renderingProvider_report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
        <div id="renderingProvider_count_report">

        </div>
        <div id="renderingProvider_amount_report">

        </div>
    </div>
    <div id="member_report" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
        <div id="member_count_report">

        </div>
        <div id="member_amount_report">

        </div>
    </div>
</div>

<p-script filepath="~/Areas/Billing/Scripts/AppJs/PayerDrilldownReport/Unminified/PayerDrilldownReport.js"></p-script>