.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fbfcfd;
    background-color: rgb(68, 103, 161);
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: bold;
}

.nav-tabs > li > a:hover {
    background-color: #ddd;
}

.p_view_btn, .p_edit_btn, .p_delete_btn, .p_cancel_btn, .p_undo_btn {
    padding-left: 2px;
    padding-right: 2px;
}

.p_background {
    background: rgb(247, 247, 247);
}

.p_body_data_background {
    background: white;
}

legend.legendstyle {
    font-size: 15px;
    color: rgb(67, 102, 160);
    background-color: white;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

fieldset.fieldsetStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    margin-top: 1% !important;
    padding: 4px;
    margin: 5px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

#cancel_reschedule_Date {
    display: none;
}

.cancelreschedule {
    display: none;
}

.btn {
    border-radius: 0px;
}

.p_list_btn {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
}

li.mainnav {
    margin-top: 6px;
}

    li.mainnav a {
        padding: 8px 20px;
    }

.topmargin-20px {
    margin-top: -20px;
}

.title_text {
    font-weight: 900;
    font-size: 14px;
}
