.fieldsetborder {
    border: 1px solid rgba(116,198,220,1);
}

legend.legendstyle {
    font-size: 15px;
    color: rgb(67, 102, 160);
    background-color: white;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

fieldset.fieldsetStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    margin-top: 1% !important;
    padding: 4px;
    margin: 5px;
}

.editelements {
    display: none;
}

.viewelements {
    display: block;
}
.p_legendHeader {
    color: rgb(67, 102, 160);
    font-weight: 900;
    font-size: 15px;
}

.uppercase {
    text-transform: uppercase !important;
}

#RenderingProvider {
    display: none;
}
.edit_link {
    font-weight: 700;
    color: #2a8bcc;
}


.documentUploads input[type="file"] {
    border: none;
    padding-left: 3px;
    margin-top: -8px;
}

.btn {
    border-radius: 0px;
}

#ViewEncounter {
    padding: 2px 17px;
}
