/*-----------file management----------*/

.file_management_container {
    padding: 5px;
    margin-bottom: 10px;
}


.form_Create_Preview {
    display: none;
}

.search_result {
    display: none;
}

.form_Create_Provider_Member {
    display: none;
}

.bolder {
    font-weight: 900;
}

.padding_8px {
    padding-left: 8px;
    padding-right: 8px;
}

#member_for_provider_result > div {
    padding-left: 3px;
    padding-right: 3px;
}

.x_content > div {
    /* padding-left: 3px; */
    /* padding-right: 3px; */
}

.uppercase {
    text-transform: uppercase;
}

#SelectedMemberDiv {
    padding-left: 10px;
    padding-right: 10px;
}

.x-dtablist {
    display: inline-flex;
    width: auto !important;
}

/*----------------------globel tab-------------------------*/
.memberProfileTabsContainer {
    width: 100%;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

    .memberProfileTabsContainer::-webkit-scrollbar {
        height: 0;
        width: 0;
    }



    .memberProfileTabsContainer .current > a.list-item {
        color: rgb(5, 113, 162);
        font-weight: bold;
        border-bottom: none;
        border-top: 5px solid rgb(5, 113, 162);
        /*font-size: 112%;*/
        background-color: white;
    }

    .memberProfileTabsContainer .list-item {
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        padding: 0px 19px;
        /*background: rgba(220, 220, 220, 0.25);
    color: #aeaeae;*/
        background: rgba(158, 158, 158, 0.31);
        color: #626465;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        height: auto;
        vertical-align: middle;
        line-height: 2.8em;
        border-bottom: 1px solid rgb(255, 157, 0);
        position: relative;
        display: block;
        text-decoration: none;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        margin-right: 3px;
        cursor: pointer;
        /*font-size: 112%;*/
    }


        .memberProfileTabsContainer .list-item:hover {
            font-weight: bold;
            background: #f3f3f3;
            color: #0096da;
        }

            .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
                -webkit-transition: all .25s linear;
                transition: all .25s linear;
            }

        .memberProfileTabsContainer .list-item:before, .list-item:after {
            content: '';
            position: absolute;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
            width: 0.5em;
        }

        .memberProfileTabsContainer .list-item:after {
            background: #e4e4e4;
            bottom: -46px;
            left: 37px;
            -webkit-transform: rotate(90deg) skew(0, 45deg);
            transform: rotate(90deg) skew(0deg, 0deg);
        }

        .memberProfileTabsContainer .list-item:before {
            background: #e4e4e4;
            top: 0.25em;
            left: -.5em;
            -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
        }

    .memberProfileTabsContainer a.list-item {
        width: 128px;
    }

/*-------------------------------end-----------------------------*/
#file_upload_btn {
    /*width: 83px;*/
    /* position: relative; */
    /* top: 21px; */
}

}

.download_button_width_60 {
    width: 60px;
}


#file_upload_form {
    font-size: 13px;
}

#claimListTable {
    margin-top: 8px;
}

/*for table header font upper case*/
.file_management_container table > thead > tr > th {
    text-transform: capitalize;
}

.copy-button, .edit-button, .view-button, .file_management_container label {
    /* text-transform: uppercase; */
}

/*-----------------tab css-------------------*/


/*.claimsProfileTabsContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

    .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
    }

.claimsProfileTabsContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.claimsProfileTabsContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.claimsProfileTabsContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.claimsProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.claimsProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .claimsProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .claimsProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .claimsProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .claimsProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .claimsProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.claimsProfileTabsContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}*/
/*---------------------end-------------------------------------*/


.customCheckBoxFLoat {
    position: relative;
    float: right;
    padding: 10px 15px 0px 0px;
}

.custommembertab-content {
    /* margin-top: 45px; */
}
