@using AHC.CD.WebUI.MVC.Models
@model LoginViewModel

@{
    Layout = null;
}
<link href="~/Content/SharedCss/bootstrap.min.css" rel="stylesheet" />
<!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="position: inherit">
    <div class="modal-dialog">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <h1 class="text-center">
                    <img src="~/Content/Images/logo.png" class="login-logo" />
                </h1>
                <h4 class="text-center">Message</h4>
            </div>
            <div class="modal-body text-center">
                <div class="text-danger small">@ViewBag.msg</div><br />
                <div>
                    <a href="/Account/LogOffSecondaryReson" class="btn btn-xs btn-primary">Click Here</a>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    @*<span class="pull-right">@Html.ActionLink("Register as a new user", "Register", new { @class=""})</span>*@
                    @*<span class="pull-left">@Html.ActionLink("Forgot your password?", "ForgotPassword")</span>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Bootstrap/bootstrap.min.js"></script>
