
<div class="clearfix"></div>
<br />

<div class="col-lg-12">
    <div class="col-lg-12 text-center table-bordered">
        <div class="col-md-12"><strong>Credentialing Checklist</strong></div>
    </div>
    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Name</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small"><strong>John Paul</strong></div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Practice Type</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Solo Practice</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>County</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">County 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Specialty</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small"><strong>Specialty 1</strong></div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Board Certifications</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Board Certifications 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Hospital Privileges</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Hospital Privileges 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Covering Physicians(s)</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Covering Physicians(s) 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Gaps in practice</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">0 years 1 months</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Clean License</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Clean License 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>NPDB Issues</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">NPDB Issues 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Malpractice Issues</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Malpractice Issues 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Site visit required. If yes, were there any issues?</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Issue 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Years in practice</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small"><strong>1</strong></div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Approved By</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Approved By 1</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Level</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">Level I</div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Date</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small"><strong>12/20/2014</strong></div>
    </div>

    <div class="col-lg-12 table-bordered">
        <div class="col-lg-6"><strong>Welcome Letter Mailed Date</strong></div>
        <div class="col-lg-2 text-center"><strong>:</strong></div>
        <div class="col-lg-4 small">12/20/2014</div>
    </div>
</div>

<div class="clearfix"></div>
<br />

<div class="col-md-12 panel-footer">
    <div class="col-md-12">
        <button class="btn btn-success pull-right" onclick="showCCchecklist()">Edit</button>
    </div>
</div>

<div class="clearfix"></div>