@model AHC.CD.WebUI.MVC.Areas.Credentialing.Models.Plan.PlanViewModel
<form id="PlanForm" class="form-style">

    @Html.Partial("_ViewPlanGeneralDetails")
    @Html.Partial("_ViewPlanAddressDetails")
    @Html.Partial("_ViewPlanContactDetails")

    <br />
    <div class="col-lg-12">
        <button ng-if="ActiveStatus" class="btn btn-warning btn-sm pull-left" ng-click="CancelView()">Cancel</button>
        <button ng-if="!ActiveStatus" class="btn btn-warning btn-sm pull-left" ng-click="CancelView()">Cancel</button>
        <button class="btn btn-primary btn-sm pull-right" ng-click="ProceedView()">Proceed</button>
    </div>
</form>

