<!-- author : krglv-->
<br />
<div class="col-lg-12 col-md-12 zero-padding-left-right-div text-center">
    <span class="pull-right">
        <button class="btn btn-xs btn-primary">Submit</button>
    </span>
</div>
<div class="col-lg-12 col-md-12 zero-padding-left-right-div">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Name :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="name" value="Dr. Pariksith Singh">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="radio1" checked> Solo Practice
                    </label>
                    <label>
                        <input type="radio" name="radio1"> Group Practice
                    </label>
                    <label>
                        <input type="radio" name="radio1"> Network
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">County :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="county" value="Spring Hill">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Specialty :</label>
            <div class="col-lg-6 col-md-6 col-sm-6 radio">
                <a href="#"><i class="data-label">Radiation Oncology</i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="data-label">Urology</i></a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Board Certification :</label>
            <div class="col-lg-6 col-md-6 col-sm-6 radio">
                <a href="#"><i class="data-label">American Board of Nutrition</i></a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Hospital Privileges :</label>
            <div class="col-lg-6 col-md-6 col-sm-6 radio">
                <a href="#"><i class="data-label">Florida Hospital De-Land</i></a>
                &nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="data-label">Oakhill Hospital</i></a>
               
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Covering Physicians(s) :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <i class="data-label">-</i>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Gaps in Practice :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="in years">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Clean license :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <i class="data-label">-</i>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">NPDB Issues :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="npdb issues">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Malpractice Issues :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="malpractice issues">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Years in Practice :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="year in practice">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Site Visit Required. If yes, were there any issues :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="site">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <div class="radio">
                    <label>
                        <input type="radio" name="radio2"> Level 1
                    </label>
                    <label>
                        <input type="radio" name="radio2"> Level 2
                    </label>
                    <label>
                        <input type="radio" name="radio2"> Level 3
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Approved By :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="approved by">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Date :</label>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input type="text" class="form-control input-sm" placeholder="date">
            </div>
        </div>
    </form>
</div>