@model PortalTemplate.Areas.UM.Models.ViewModels.QueueBucket.QueueBucketViewModel

<div class="the_queue_bucket row">
    @foreach (var item in Model.Roles)
{
    <button id="QueueBucketBtnn" class="queue-bucket-btn styl-material js-ripple-btn" data-path="/UM/AuthorizationAction/GetUsers" data-container="QueueUseListContainer" data-role="@item">
        @item Queue
        <svg class="ripple-obj" id="js-ripple">
            <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
        </svg>
    </button>
}
</div>

