@model PortalTemplate.Areas.UM.Models.ViewModels.QueueBucket.QueueBucketViewModel
@*<p-script filepath="~/Areas/UM/Scripts/QueueBuckets/NonMinified/jquery.path.js"></p-script>*@
<p-script filepath="~/Areas/UM/Scripts/QueueBuckets/NonMinified/QueueBucket.js"></p-script>
<p-link filepath="~/Areas/UM/Styles/QueueBuckets/QueueBucket.css"></p-link>
<div id="dataInBucket">
    <div class="col-lg-12 col-md-12 the_file_img zero-padding-left-right">
        <label class="col-lg-12 zero-padding-left-right"><span>@Html.DisplayFor(m => m.MemberName)</span></label>
        <label class="col-lg-12 zero-padding-left-right">@Html.DisplayFor(m => m.MemberId)</label>
        <label class="col-lg-12 zero-padding-left-right"><span style="text-transform:capitalize" class="label label-success">@Html.DisplayFor(m => m.AuthType)</span></label>
    </div>
</div>
<div class="overlay QueueBuckets">
    <div class="clearfix"></div>
    @Html.Partial("~/Areas/UM/Views/QueueBuckets/_AuthorizationQueueList.cshtml",Model)
    <div id="QueueUseListContainer" class="container">

    </div>
</div>
<div id="theAnimationContainer">

</div>
