<connectionStrings>

  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=ACDAuthDBAHC_CDv2.3_R1;Integrated Security=True" providerName="System.Data.SqlClient" />  
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=ACDProfileDBAHC_CDv2.3_R1_New;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=PrimeCareAuthDB_CDv2.3_R1;Integrated Security=True" providerName="System.Data.SqlClient" />  
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=PrimeCareProfileDB_CDv2.3_R1_New;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=192.61.99.63;Initial Catalog=PrimeCareAuthDB_CDv3.0_UAT1;User ID=credaxis;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.61.99.63;Initial Catalog=PrimeCareProfileDB_CDv3.0_UAT1;User ID=credaxis;Password=password@123" providerName="System.Data.SqlClient" />-->
  
  <!--<add name="DefaultConnection" connectionString="Data Source=75.114.62.63;Initial Catalog=ACDAuthDBAHC_CDv2.3_R1;User ID=credaxis;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=75.114.62.63;Initial Catalog=ACDProfileDBAHC_CDv2.3_R1;User ID=credaxis;Password=password@123" providerName="System.Data.SqlClient" />-->
  
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  --><!--<add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />--><!--
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->

 
  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.3;Initial Catalog=ACDAuthDBAHC_CDv2.5_R1;User ID=deploy;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.3;Initial Catalog=ACDProfileDBAHC_CDv2.5_R1;User ID=deploy;Password=password@123" providerName="System.Data.SqlClient" />-->

<add name="DefaultConnection" connectionString="Data Source=172.30.11.9;Initial Catalog=ACDAuthDBAHC_CDv3.0_R1Test;User ID=Deploy;Password=password@123" providerName="System.Data.SqlClient" />
<add name="EFEntityContext" connectionString="Data Source=172.30.11.9;Initial Catalog=ACDProfileDBAHC_CDv3.0_R1test;User ID=Deploy;Password=password@123" providerName="System.Data.SqlClient" />
  
  
</connectionStrings>
