#tile_list {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

#ProceduresClaimedReport {
    padding: 8px;
    height: 308px;
    overflow: scroll;
}

#PenaltyAdjustmentReport {
    padding: 8px;
    height: 308px;
    overflow: scroll;
}

.claims_report_list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    /* height: 708px; */
    display: block;
    overflow: hidden;
    position: relative;
}

    .claims_report_list li {
        float: left;
        width: 32.97%;
        height: 354px;
        padding: 2px;
        content: '';
        margin: 2px;
        border: 0px;
    }

        .claims_report_list li .c_panel {
            height: 100%;
            background: #ffffff;
        }

            .claims_report_list li .c_panel .c_panel_header {
                padding: 2px;
            }

                .claims_report_list li .c_panel .c_panel_header label {
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 12px;
                }

            .claims_report_list li .c_panel .c_panel_body {
                padding: 2px;
            }

.drag_btn {
    display: none;
    padding: 0px 4px;
    cursor: move;
}

    .drag_btn i {
        font-size: 18px;
    }


.help_btn {
    padding: 0px 4px;
    cursor: pointer;
}

    .help_btn:hover {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

    .help_btn i {
        font-size: 18px;
    }


.info_border {
    border-top: 2px solid #2bbce0 !important;
}

.success_border {
    border-top: 2px solid #5f932c !important;
}

.default_border {
    border-top: 2px solid #556b8d !important;
}

.warning_border {
    border-top: 2px solid #dc8911 !important;
}


/*---------------------------tile css--------------------------*/

#tile_list .tile .tile_header {
    padding: 5px;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#tile_list .tile .tile_body {
    padding: 10.7px;
    color: #ffffff;
}


#tile_list .lg_tile .lg_tile_body .tile_chart, #tile_list .lg_tile .lg_tile_body .tile_data {
    width: 50%;
    float: left;
}

#tile_list .lg_tile {
    margin: 3px 8px 0px 0px;
}

#tile_list .inner_tile {
    /* margin-bottom: 1px; */
    /* margin-top: 3px; */
    margin: 5px 0px 0px 1px;
}

#tile_list .info_tile .tile_header {
    background: #9ad4f2;
    /* letter-spacing: 0.1em; */
    /* text-transform: uppercase; */
}

#tile_list .info_tile .tile_body {
    background: #76c4ed;
}

#tile_list .success_tile .tile_header {
    background: #1bc4a3;
}

#tile_list .success_tile .tile_body {
    background: #16a085;
}

#tile_list .danger_tile .tile_header {
    background: #d44e40;
}

#tile_list .danger_tile .tile_body {
    background: #c0392b;
}


#tile_list .lg_tile .lg_tile_body .tile_data {
    font-size: 21px;
    text-align: right;
}



#tile_list .inner_tile_chart, .inner_tile_data {
    width: 50%;
    font-size: 19px;
    text-align: right;
}


#tile_list .info_tile .inner_tile .inner_tile_header {
    background: #4ab4ec;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


#tile_list .info_tile .inner_tile .inner_tile_body {
    background: #439ccc;
    padding: 5px;
}


#tile_list .md_tile .tile_chart, #tile_list .md_tile .tile_data {
    float: left;
    width: 50%;
    text-align: right;
    font-size: 19px;
}

#tile_list .md_tile {
    margin: 4px 4px 10px 4px;
}

#tile_list .md_per_text {
    font-size: 16px;
    fill: #ffffff;
}

#tile_list .sm_per_text {
    font-size: 12px;
    fill: #ffffff;
}

#tile_list .tile_data {
    letter-spacing: 1.1px;
}

#tile_list .inner_tile_data {
    letter-spacing: 1.1px;
}

.progress_circle {
    fill: #34495e;
}


/*--------------------tile css ends---------------------------*/



.custom_svg_container {
    transition: all linear 0.2s;
}



    .custom_svg_container:hover {
        transform: scale(1.1);
    }


.header_label {
    display: block;
}

.amt_label {
    display: block;
    font-size: 19px;
}

.cnt_label {
    display: block;
    font-size: 19px;
}

.control_btn {
    padding: 0px 5px;
}



/*----------------------minibar------------------*/

.bar_line {
    stroke: #fff;
    stroke-width: 14;
    position: relative;
}

.virtual_line:hover + .virtual_thin_line + .bar_line {
    stroke: #333;
}


.virtual_line:hover + .virtual_thin_line {
    opacity: 1;
}

.bar_line:hover {
    stroke: #333;
}

.month_text {
    opacity: 0.7;
    font-weight: 700;
    /* stroke: #ffffff; */
    fill: #ffffff;
    font-size: 15px;
}


.virtual_line {
    stroke-width: 15;
    position: relative;
    stroke: red;
    opacity: 0;
}


.virtual_thin_line {
    stroke-width: 0.5;
    position: relative;
    opacity: 0;
    stroke: #333;
}

.x_label_text {
    font-size: 8px;
    font-weight: 700;
    fill: #ffffff;
}

.active_tile_type {
    font-weight: bolder;
}


svg {
    /* margin-left: -5px; */
}


/*-------------tooltip---------------------------*/

.custom_tooltip {
    position: absolute;
    z-index: 10000000;
    border: 1px solid #333;
    display: none;
    min-width: 60px;
}

.tooltip_header {
    background: rgba(0, 0, 0, 0.4);
    padding: 2px;
    color: #ffffff;
}

.tooltip_body {
    background: #ddd;
    opacity: 0.7;
    padding: 2px;
    color: #333;
    font-weight: 700;
}

/*---------------------filter-------------------*/

.search-dropdown-input {
    height: 24px;
    padding: 2px;
}

.dropdown-symbol {
    position: absolute;
    top: 29px;
    right: 19px;
}


.financial_year_dropdown {
    font-size: 14px;
}

/*------------------Detailed report-------------------*/

.Detailed_Report {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.74);
    z-index: 1000;
    display: none;
}

.Detailed_Report_body {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ffffff;
    padding: 5px;
}


#ICDReport {
    width: 100%;
    height: 306px;
    background-color: grey;
}


.label-round {
    height: 20px;
    width: 20px;
    padding-left: 4px;
    border-radius: 50%;
}

.Info {
    font-size: 16px;
}

    .Info span:hover {
        cursor: pointer;
    }



/*-------------------------tiles rewamp-------------------------------*/
#tile_list_rewamp .tile_container {
    float: left;
    width: 20%;
    padding: 3px;
}

#tile_list_rewamp .claims_tile {
    /* color: #ffffff; */
    text-transform: uppercase;
}

    #tile_list_rewamp .claims_tile:hover .claims_tile_footer {
        color: #ffffff;
    }


#tile_list_rewamp .claims_tile_body {
    padding: 5px;
}


#tile_list_rewamp .claims_tile_footer {
    font-size: 12px;
    padding: 3px;
    text-transform: lowercase;
    color: #dfe1e5;
    position: relative;
    letter-spacing: 0.03em;
}

.claims_tile_footer:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -11px;
    width: 0px;
    height: 0px;
    margin-right: 11px;
    margin-bottom: 20px;
    border-top: 5px solid rgba(0, 0, 0, 0.35);
    border-right: 5px solid #f7f8fa;
    border-bottom: 5px solid #f7f8fa;
    border-left: 5px solid rgba(0, 0, 0, 0.35);
    border-top-left-radius: 1px;
}

#tile_list_rewamp .info_tile {
    background: #ffffff;
    border: 1px solid #487fc4;
    border-radius: 5px;
    border-bottom: 5px solid #487fc4;
    color: #487fc4;
    transition: all 0.3s linear;
}

    #tile_list_rewamp .info_tile:hover {
        color: #ffffff;
        background: #487fc4;
    }

        #tile_list_rewamp .info_tile:hover .cl_progress_completed {
            background: #ffffff;
            transition: all 0.3s linear;
        }

        #tile_list_rewamp .info_tile:hover .cl_progress {
            background: #6c94cb;
            transition: all 0.3s linear;
        }

#tile_list_rewamp .success_tile {
    color: #18a689;
    border: 1px solid #18a689;
    border-bottom: 5px solid #18a689;
    border-radius: 5px;
    transition: all 0.3s linear;
}


    #tile_list_rewamp .success_tile:hover {
        color: #ffffff;
        background: #18a689;
    }

        #tile_list_rewamp .success_tile:hover .cl_progress_completed {
            background: #ffffff;
            transition: all 0.3s linear;
        }

        #tile_list_rewamp .success_tile:hover .cl_progress {
            background: #13856e;
            transition: all 0.3s linear;
        }


#tile_list_rewamp .warning_tile {
    background: #efa131;
}

#tile_list_rewamp .danger_tile {
    color: #ea394c;
    border: 1px solid #ea394c;
    border-bottom: 5px solid #ea394c;
    border-radius: 5px;
     transition: all 0.3s linear;
}

 #tile_list_rewamp .danger_tile:hover {
        color: #ffffff;
        background: #ea394c;
    }

        #tile_list_rewamp .danger_tile:hover .cl_progress_completed {
            background: #ffffff;
            transition: all 0.3s linear;
        }

        #tile_list_rewamp .danger_tile:hover .cl_progress {
            background: #c53444;
            transition: all 0.3s linear;
        }




#tile_list_rewamp .cl_progress {
    height: 3px;
    border-radius: 5px;
    background: #c6cbd2;
}

#tile_list_rewamp .info_tile .cl_progress_completed {
    background: #487fc4;
}

#tile_list_rewamp .info_tile .claims_title {
    /* background: #71a4e3; */
}

#tile_list_rewamp .info_tile .claims_tile_footer {
    background: #487fc4;
}

#tile_list_rewamp .success_tile .cl_progress_completed {
    background: #18a689;
}

#tile_list_rewamp .success_tile .claims_title {
    /* background: #99d063; */
}

#tile_list_rewamp .success_tile .claims_tile_footer {
    background: #6ca632;
}


#tile_list_rewamp .danger_tile .cl_progress_completed {
    background: #ea394c;
}

#tile_list_rewamp .danger_tile .claims_title {
    /* background: #eb6d60; */
}

#tile_list_rewamp .danger_tile .claims_tile_footer {
    background: #d62c1a;
}

#tile_list_rewamp .warning_tile .cl_progress {
    background: #dc8911;
}

#tile_list_rewamp .warning_tile .claims_title {
    background: #f2b257;
}

#tile_list_rewamp .warning_tile .claims_tile_footer {
    background: #dc8911;
}


#tile_list_rewamp .claim_progress_bar {
    padding: 5px;
    position: relative;
}

#tile_list_rewamp .cl_progress_completed {
    position: absolute;
    background: #ea394c;
    width: 40%;
    height: 3px;
    border-radius: 5px;
    content: '';
}

#tile_list_rewamp .claims_amount {
    font-size: 30px;
    text-align: center;
    /* padding: 0px 0px 0px 0px; */
    font-weight: 400;
}

    #tile_list_rewamp .claims_amount small {
        position: relative;
        font-size: 18px;
        top: -13px;
    }

#tile_list_rewamp .claims_count {
    font-size: 18px;
    font-weight: 500;
}

#tile_list_rewamp .per_count {
    font-size: 13px;
    font-weight: 700;
}

#tile_list_rewamp .claims_title {
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

#tile_list_rewamp .claims_icon {
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.71);
}

.padding-right {
    padding-right: 10px;
}

.detailed_view {
    padding: 10px;
}


.detail_btn {
    cursor: pointer;
}

    .detail_btn:hover {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }

.filter_btn {
    cursor: pointer;
    position: relative;
}

    .filter_btn:hover {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }


.master_filter_claims {
    display: none;
    background: #f7f7f7;
    padding: 5px;
    border-top: #2bbce0 2px solid;
    border-bottom: 1px solid #5bc0de;
    /* border-left: 1px solid #5bc0de; */
    position: relative;
}


    .master_filter_claims:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #5bc0de;
        top: -10px;
        right: 36px;
    }

.filterTopCaret {
    position: absolute;
    top: 50px;
    right: 0px;
    border-right: 1px solid #2bbce0;
    border-left: 1px solid #5bc0de;
    z-index: 100;
}

    .filterTopCaret:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #5bc0de;
        top: -10px;
        right: 10% !important;
    }

.searchBy_label {
    font-size: 14px;
    margin-left: 8px;
}

#close_master_filter_btn {
    cursor: pointer;
    margin-right: 8px;
}


/*.filter_btn:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ddd;
}*/


.filter_history_dropdown_menu {
    position: absolute;
    left: auto;
    right: 0px;
    background: #ffffff;
    z-index: 10;
    width: 370px;
    top: 21px;
    box-shadow: 0px 0px 0px 1px #ddd;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    max-height: 300px;
    overflow-y: scroll;
    display: none;
}

    .filter_history_dropdown_menu li:hover {
        background: #ddd;
    }


    .filter_history_dropdown_menu li {
        /* padding: 0px 0px; */
        /* border-bottom: 1px solid #ddd; */
        margin: 2px 0px;
    }

        .filter_history_dropdown_menu li .left_desc {
            float: left;
            width: 10%;
            padding: 8px;
            border-left: 2px solid #5bc0de;
            cursor: -webkit-grab;
        }

            .filter_history_dropdown_menu li .left_desc:active {
                cursor: -webkit-grabbing;
            }

        .filter_history_dropdown_menu li .right_desc {
            float: left;
            width: 90%;
            cursor: pointer;
            padding: 8px;
        }

            .filter_history_dropdown_menu li .right_desc label {
                margin-bottom: 0px;
            }

            .filter_history_dropdown_menu li .right_desc a {
                margin: 0px 2px !important;
            }



            .filter_history_dropdown_menu li .right_desc div {
                text-align: right;
            }

.filter_history_date {
    color: #337ab7;
}

.filter_history_btn {
    margin: 0px 2px !important;
}


.drag_source {
    border: 1px dashed #333 !important;
}

.drop_target {
    border: 2px dashed #333 !important;
}


/* For Detailed Report */
.table_hearder_DR {
    background: #708bb8;
    color: white;
}

.width_3 {
    position: relative;
    min-height: 607px;
}

.make_center {
    font-size: 30px;
    position: absolute;
    top: 40%;
    transition: all 500ms ease;
}

.font_weight {
    font-weight: 300;
}

.Info > span {
    padding-left: 3px;
    padding-right: 2px;
}

.border-left-right {
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.zeroPaddingTop {
    padding-top: 0px;
}

.margin_left_fix {
    margin-left: 1.5%;
}

.margin_left_10px {
    margin-left: 10px;
}

.margin_top_5 {
    margin-top: 5px !important;
}

.left_chev a, .right_chev a {
    color: #1a6f03 !important;
    transition: all 1s ease;
}

.left_chev, .right_chev {
    background-color: rgba(1, 196, 255, 0.10);
    font-weight: 900;
    font-size: 20px;
    transition: all 1s ease;
}

    .left_chev:hover, .right_chev:hover {
        cursor: pointer;
        background-color: rgba(1, 196, 255, 0.85);
        color: white !important;
    }

        .left_chev:hover a, .right_chev:hover a {
            cursor: pointer;
            color: white !important;
        }


.filter_text_badge {
    font-weight: 500;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 4px;
    /* margin-right: 0px; */
    /* margin-left: 0px; */
}

#search_by_titles {
    padding: 7px;
}

/* Drag and move ICON */
.drag_btn i.fa.fa-2x.fa-ellipsis-v:before {
    content: "\f142 \f142";
    font-size: 14px;
}


.filterName_label {
    font-size: 12px;
    margin-left: 2px;
}

.edit_filterName {
    margin-left: 6px;
    cursor: pointer;
}

    .edit_filterName a {
        color: #4f8edc;
        font-weight: bold;
    }


.save_filterName {
    display: none;
    color: #4f8edc;
    font-weight: bold;
    cursor: pointer;
}

#master_filter_new {
    display: none;
}
/* for close btn color */
#Close_Detailed_Report:hover {
    color: grey;
}

#Close_Detailed_Report {
    color: red;
}

#fav_filter_add {
    margin-top: -10px;
}

.add_fav_filter_container {
    position: absolute;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px;
    padding: 7px;
}

    .add_fav_filter_container .clearfix {
        margin-top: 7px;
    }
