#f_container {
    position: absolute;
    background: #f7f7f7;
    z-index: 10;
    border-radius: 5px;
    border: 1px solid #c8c4c4;
    box-shadow: 1px 1px 5px 1px;
}

.filter_container label {
    font-size: 12px !important;
    color: #73879C;
}

.filter_seperater {
    float: left;
    padding: 5px;
}

    .filter_seperater table tr td {
        padding: 2px;
    }

.label_container {
    padding: 2px;
}

.filter_footer {
    text-align: right;
}

.filter_title {
    padding: 5px 6px 0px 8px;
    font-size: 12px;
    font-weight: 600;
}

#close_inner_filter_btn {
    cursor: pointer;
}


#slaveFilterResult {
        margin: 0px 7px;
}

.tooltip {
z-index:10000;
}