.multiselect_list {
    margin: 0px;
    list-style-type: none;
    width: 189px;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 2px;
    z-index: 10;
    position: absolute;
    max-height: 500px;
    overflow-y: scroll;
}

    .multiselect_list li {
        padding: 0px 5px;
    }

        .multiselect_list li:hover {
        background:#ddd;
        }

        .multiselect_list li label {
            padding: 4px 3px;
            cursor:pointer;
            width: 86%;
        }


.multiselect_list .add_fav_filter_container {
    position: absolute;
    /*right: 0px;
        top: -16px;*/
    background: #ffffff;
    padding: 8px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 1px;
    z-index: 10;
}

.multiselect_list .fav_new_filter_field_container {
    margin-bottom: 5px;
}




.multiselect_list_small {
    margin: 0px;
    list-style-type: none;
    width: 189px;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 2px;
    z-index: 10;
    position: absolute;
    max-height: 500px;
    overflow-y: scroll;
}

    .multiselect_list_small li {
        padding: 0px 5px;
    }

        .multiselect_list_small li:hover {
        background:#ddd;
        }

        .multiselect_list_small li label {
            padding: 0px 1px;
            cursor:pointer;
            width: 86%;
        }


.multiselect_list_small .add_fav_filter_container {
    position: absolute;
    /*right: 0px;
        top: -16px;*/
    background: #ffffff;
    padding: 8px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 1px;
    z-index: 10;
}

.multiselect_list_small .fav_new_filter_field_container {
    margin-bottom: 5px;
}
