
@{
    Layout = null;
    ViewBag.Title = "FifthLayout";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link href="~/Content/LayoutFive/app.css" rel="stylesheet" />
    <title>CredAxis Template</title>

</head>

<body>

    <div id="background"></div>
    @*header section*@

    <div id="header">
    @Html.Action("GetHeader","Home")
    </div>
    
    @*body section*@
    <div id="page-container">
        @Html.Action("GetMenu", "Home")
    </div>

    @*footer section*@
    <div id="footer"></div>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/LayoutFive/TweenLite.min.js"></script>
    <script src="~/Scripts/LayoutFive/TweenMax.min.js"></script>
</body>
</html>

