<div class="col-lg-12 button-styles">
        <div class="col-lg-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-1">
            <button class="view_auth_FooterBtn btn btn-warning" onclick="createAuthorizations()">REFER</button>
        </div>
        <div class="col-lg-offset-3 col-md-2 col-sm-4 col-xs-2">
            <button class="view_auth_FooterBtn btn btn-success" onclick="showModal('authPreviewModal')">APPROVE</button>
        </div>
        <div class=" col-lg-offset-3 col-lg-2 col-md-2 col-sm-4 col-xs-2">
            <button class="view_auth_FooterBtn btn btn-primary" onclick="pendAuthorizations()">PEND</button>
        </div>
    </div>