<button class="view_auth_FooterBtn btn btn-primary" onclick="pendAuthorizations()">PEND</button>
<button class="view_auth_FooterBtn btn btn-warning" onclick="createAuthorizations()">REFER</button>
<button class="view_auth_FooterBtn btn btn-success">SUBMIT</button>