@section AddToHead{
    <title>MANAGE CARE PLAN | AHC</title>
}
<link href="~/Content/AppCss/CaseManagement/CaseManagement.css" rel="stylesheet" />
<script src="~/Scripts/AppScripts/CaseManagement/CarePlanTemplateManagement.js"></script>
<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/ManageCarePlan/ManageCare/_ManageCarePlan.cshtml")

</div>