<ul class="pager small">
    <li class="previous"><a href="/Credentialing/CnD/Index/#/application_repo"><<</a></li>
    <li class="next"><a href="/Credentialing/CnD/Index/#/load_to_plan">>></a></li>
    <li class="next"><a href="/Credentialing/CnD/Index/#/load_to_plan">Skip</a></li>
</ul>
<div class="clearfix"></div>
<div class="col-lg-12">
   @*<div class="col-lg-12">
       @Html.Partial("~/Areas/Credentialing/Views/CnD/_FloatingAction.cshtml")
   </div>*@
    <div class="clearfix"></div>

     <div class="col-lg-6 ">
        <button class="btn btn-xs btn-primary pull-left" onclick="showAttachMore();">Attach Document</button> 
    </div>
    <div class="col-lg-6 text-right">
        <button class="btn btn-xs btn-primary"><i class="fa fa-print"></i></button>
        <button class="btn btn-xs btn-primary"><i class="fa fa-download"></i></button>
    </div>
   
</div>
<div class="clearfix"></div>
<br />
<div class="col-lg-12 form-style" id="ATTACHmore" style="display:none">
    
        <fieldset style="min-height:186px">
            <legend>
                Attach New Document
            </legend>
            <div class="col-lg-6">
                <label class="control-label small">Document Name:</label><input class="input-sm form-control" type="text" />

            </div>
            <div class="col-lg-6 pull-right">
                <div class="form-group">
                    <label class="control-label small">Attach Document:</label>
                    <div class="fileinput fileinput-new input-group input-group-sm" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <button class="btn btn-xs btn-danger  pull-left" onclick="cancelAdd();">Cancel</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-xs btn-success  pull-right" onclick="showAdd();">Add</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <div class="alert alert-success" id="SubmitDone" role="alert" style="display:none;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            The Submission is Successful and Email is Sent !!!!
        </div>
        <div class="alert alert-success" id="AddDone" role="alert" style="display:none;">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            The Document Upload is Successful !!!!
        </div>
        <script>
            var checkcheck = function (e) {
                if ($(e).is(':checked')) {
                    $('input[type=checkbox]').prop("checked", true);
                }
                else {
                    $('input[type=checkbox]').prop("checked", false);
                }
            }
        </script>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-lg-1"></th>
                    <th>Document</th>
                    <th><input type="checkbox" onchange="checkcheck(this);" /></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a></td>
                    <td>Application or CAQH Application w/Attestation</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - RESIDENCY CERT.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Medical License</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - LICENSE.pdf" target="_blank"><i class="fa fa-eye"></i></a>  <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Curriculum Vitae (written explanation of gaps greater than 6 months)</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - CV.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Board Certification (if applicable)</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - BOARD CERT.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>ECFMG (if applicable)</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - ECFMG.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Current DEA Certificate</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - DEA.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Current Malpractice Liability Insurance Certificate</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - LIABILITY INS.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Copy of Hospital Privilege Letters (if applicable)</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - HOSPITAL PRIV LTRS.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Attestation of Total Patient Load (PCP’s only)</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - HOSPITAL PRIV LTRS.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-down"></i></a> <a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Attestation of Site Visit</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/ATTESTATIONOFSITEVISIT.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                    <td><a href="" class="btn btn-xs btn-info"><i class="fa fa-sort-up"></i></a></td>
                    <td>Medical School Diploma and Residency Certificate</td>
                    <td><input type="checkbox" /></td>
                    <td><a class="btn btn-xs btn-primary" data-toggle="modal" href="~/Content/Document/SINGH - RESIDENCY CERT.pdf" target="_blank"><i class="fa fa-eye"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-print"></i></a> <a class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank"><i class="fa fa-download"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var showAttachMore = function () {
            $("#ATTACHmore").show();
            $("#SubmitDone").hide();
            $("#AddDone").hide();

        };
        var showSubmit = function () {
            $("#ATTACHmore").hide();
            $("#SubmitDone").show();
            $("#AddDone").hide();

        };
        var showAdd = function () {
            $("#ATTACHmore").hide();
            $("#SubmitDone").hide();
            $("#AddDone").show();
        };
        var cancelAdd = function () {
            $("#AddDone").hide();
            $("#SubmitDone").hide();
            $("#ATTACHmore").hide();
        };
    </script>
