
<p-link filepath="~/Areas/CMS/Content/CSS/CMSTableCss.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/CMS/Scripts/CMSData/CMSTableSupport.js"></p-script>


    <div class="row">
        @Html.Partial("~/Areas/CMS/Views/CMSData/_CMSAllList.cshtml")
    </div>
