@using PortalTemplate.Helper
<link href="~/Areas/MH/Styles/SearchMember/SearchMemberResultGrid.css" rel="stylesheet" />
<p-script filepath="~/Areas/MH/Scripts/Member/SearchMember/NonMinified/SearchMember.js"></p-script>


@Html.Partial("~/Areas/MH/Views/Shared/_SearchMemberFactors.cshtml")

<div id="tableWrapper">
    @*@Html.Partial("~/Areas/MH/Views/SearchMember/SearchResultGrid/_EnrolledMemberResultGrid.cshtml")*@
</div>
