@{
    ViewBag.Title = "ClaimsDashboard";
}
@section AddToHead{
    <title>SUPERUSER DASHBOARD | AHC </title>
}
<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/CustomTheme/DashboardCSS/SuperUserDashboardCSS.css" rel="stylesheet" />

<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>

@*These Script Files Loads Data for Charts and Tables*@
<script src="~/Resources/Data/SuperUserDashboardData.js"></script>
<script src="~/Resources/Data/ClaimsProcessedSummaryChartData.js"></script>
<script src="~/Resources/Data/ClaimAdmissionsSummaryChartData.js"></script>

@*Script Files for Charts and Tables*@
<script src="~/Scripts/CustomScripts/DashboardScripts/UMAdminDashboard.js"></script>
<script src="~/Scripts/CustomScripts/DashboardScripts/ClaimsProcessedSummaryChartAndTable.js"></script>
<script src="~/Scripts/CustomScripts/DashboardScripts/claimAdmissionsSummaryChartAndTable.js"></script>



<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    @*Instead of breaks*@
    <div class="x_panel" style="height:20px;"></div>
    @*Biscuits*@
    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile default-tile">
            <div class="tile-header clearfix">
                <div class="tile-text pull-left">
                    Total Claims Processed
                </div>
                <div class="tile-count pull-right">
                    # 234,223
                </div>
            </div>
            <div class="tile-body clearfix">
                <div class="tile-icon pull-left">
                    <i class="fa fa-3x fa-thumbs-o-up"></i>
                </div>
                <div class="tile-amount pull-right">
                    $ 234,223,363
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile danger-tile">
            <div class="tile-header clearfix">
                <div class="tile-text pull-left">
                    Total Claims Rejected
                </div>
                <div class="tile-count pull-right">
                    # 234,223
                </div>
            </div>
            <div class="tile-body clearfix">
                <div class="tile-icon pull-left">
                    <i class="fa fa-3x fa-thumbs-o-down"></i>
                </div>
                <div class="tile-amount pull-right">
                    $ 100,233,343
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile info-tile">
            <div class="tile-header clearfix">
                <div class="tile-text pull-left">
                    Total Admissions
                </div>
            </div>
            <div class="tile-body clearfix">
                <div class="tile-icon pull-left">
                    <i class="fa fa-3x fa-bed"></i>
                </div>
                <div class="tile-amount pull-right">
                    3434
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile cyan-tile">
            <div class="tile-header clearfix">
                <div class="tile-text pull-left">
                    Authorizations Created
                </div>
            </div>
            <div class="tile-body  clearfix">
                <div class="tile-icon pull-left">
                    <i class="fa fa-3x fa-clipboard"></i>
                </div>
                <div class="tile-amount pull-right">
                    2345
                </div>
            </div>
        </div>
    </div>*@


    @*New Biscuits*@
    <div class="x_panel">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile warning-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Number Of Claims
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount text-center col-lg-offset-0">
                        <i class="fa fa-file-text-o"></i> 75.13K
                    </div>
                    @*<table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    150
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    50
                                </td>
                            </tr>
                        </tbody>
                    </table>*@


                </div>
                <br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile info-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Total Amount Claimed
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount text-center col-lg-offset-0">
                        <i class="fa fa-usd"></i>  8.96M
                    </div>
                    @*<table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    35
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    15
                                </td>
                            </tr>
                        </tbody>
                    </table>*@


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile success-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Total Amount Received
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount text-center col-lg-offset-0">
                        <i class="fa fa-usd"></i> 8.14M
                    </div>
                    @*<table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    45
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    5
                                </td>
                            </tr>
                        </tbody>
                    </table>*@


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile danger-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Total Amount Rejected
                    </div>
                </div>
                <div class="tile-body clearfix">
                    <div class="tile-amount text-center col-lg-offset-0">
                        <i class="fa fa-usd"></i> 820K
                    </div>
                    @*<table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    70
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    30
                                </td>
                            </tr>
                        </tbody>
                    </table>*@


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 subauth">
            <div class="tile default-tile TRT" style="width:136%">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Current Status
                        @*<span class="pull-right"><b>1 day 2 Hrs</b></span>*@
                    </div>
                </div>
                <div class="tile-body TRT1 clearfix" style="padding-bottom: 5px;">
                    <table class="pull-left">
                        <tbody>
                            <tr>
                                <td class="tile-icon1">
                                   Number Of Claims
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    353
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                     Amount Claimed
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    $45,000
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="tile-icon1 pull-left col-lg-offset-1">
                        <i class="fa fa-3x fa-clock-o"></i>
                    </div>*@
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1">
                                    Amount Received
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    $41,896
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                   Amount Rejected
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    $3,124
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

    @*Claims Summary Graph and Table*@
    <div class="x_panel">
        <div class=" col-lg-12">
            <div class="row" >
                <span class="col-lg-3">
                    <h4>Claims Summary </h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-left claimsViewlist" role="group" id="GraphSelectionGroup" style="margin-left:-60px">
                    <button type="button" id="chart" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Graph View" style="background-color:skyblue"><i class="fa fa-bar-chart"></i></button>
                    <button type="button" id="table" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tabular View"><i class="fa fa-list-alt"></i></button>
                    @*<button type="button" id="both"  class="btn btn-default" data-toggle="tooltip" data-placement="top" title="View Both"><i class="fa fa-bars"></i></button>*@
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp;PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right ClaimsSummary" role="group" id="GraphSelectionGroup">
                    <button type="button" id="Claims_Weekly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly" style="background-color:skyblue">W</button>
                    <button type="button" id="Claims_Monthly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly">M</button>
                    <button type="button" id="Claims_Quarterly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" id="Claims_Halfyearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Half Yearly">H</button>
                    <button type="button" id="Claims_Yearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px" id="ClaimsType">
                    <select class="form-control input-xs" name="DropdownforClaimsChart">
                        <option value="1" selected>Pending Claims</option>
                        <option value="2">Submitted Claims</option>
                        <option value="3">Rejected Claims</option>
                    </select>
                    @*<div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs textdisplaybtn">Pending Claims</button>
                        <button type="button" class="btn btn-default dropdown-toggle selecttypebtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Submitted Claims</a>
                            <a class="dropdown-item" href="#">Completed Claims</a>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="ClaimsGraphSection">
                    <div id="Claims_Weekly_chart" role="tabpanel" class="row claims_chart active viewActive" style="height:300px;"></div>
                    <div id="Claims_Monthly_chart" role="tabpanel" class="row claims_chart" style="height:300px;"></div>
                    <div id="Claims_Quarterly_chart" role="tabpanel" class="row claims_chart" style="height:300px;"></div>
                    <div id="Claims_Halfyearly_chart" role="tabpanel" class="row claims_chart" style="height:300px;"></div>
                    <div id="Claims_Yearly_chart" role="tabpanel" class="row claims_chart" style="height:300px;"></div>
                </div>
                <div class="col-lg-12" id="ClaimsTableSection">
                    <table class="table table-inverse table-striped dashtab claims_table active" id="Claims_Weekly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Week<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="claimsWeeklyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab claims_table" id="Claims_Monthly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Month<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="claimsMonthlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab claims_table" id="Claims_Quarterly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Quarterly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="claimsQuarterlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab claims_table" id="Claims_Halfyearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Half yearly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="claimsHalfYearlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab claims_table" id="Claims_Yearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Year<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="claimsYearlyTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*Authorizations Summary Graph and Table*@
    <div class="x_panel">
        <div class=" col-lg-12">
            <div class="row">
                <span class="col-lg-3">
                    <h4>Authorizations Summary </h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-left viewlist" role="group" id="GraphSelectionGroup" style="margin-left:-60px">
                    <button type="button" id="chart" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Graph View" style="background-color:skyblue"><i class="fa fa-bar-chart"></i></button>
                    <button type="button" id="table" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tabular View"><i class="fa fa-list-alt"></i></button>
                    @*<button type="button" id="both"  class="btn btn-default" data-toggle="tooltip" data-placement="top" title="View Both"><i class="fa fa-bars"></i></button>*@
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp;PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right AuthSummary" role="group" id="GraphSelectionGroup">
                    <button type="button" id="Weekly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly" style="background-color:skyblue">W</button>
                    <button type="button" id="Monthly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly">M</button>
                    <button type="button" id="Quarterly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" id="Halfyearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Half Yearly">H</button>
                    <button type="button" id="Yearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px" id="AuthType">
                    <select class="form-control input-xs" name="DropdownforChart">
                        <option value="1" selected>Pending Auths</option>
                        <option value="2">Submitted Auths</option>
                        <option value="3"> Completed Auths</option>
                    </select>
                </div>
            </div>
            <div class="row ChartAndTable" id="chart_table">
                <div class="col-lg-12" id="GraphSection">
                    <div id="Weekly_chart" role="tabpanel" class="row auth_chart active viewActive" style="height:300px;" aria-labelledby="Weekly_chart"></div>
                    <div id="Monthly_chart" role="tabpanel" class="row auth_chart" style="height:300px;" aria-labelledby="Monthly_chart"></div>
                    <div id="Quarterly_chart" role="tabpanel" class="row auth_chart" style="height:300px;" aria-labelledby="Quarterly_chart"></div>
                    <div id="Halfyearly_chart" role="tabpanel" class="row auth_chart" style="height:300px;" aria-labelledby="Halfyearly_chart"></div>
                    <div id="Yearly_chart" role="tabpanel" class="row auth_chart" style="height:300px;" aria-labelledby="Yearly_chart"></div>
                </div>
                <div class="col-lg-12" id="TableSection">
                    <table class="table table-inverse table-striped dashtab auth_table active" id="Weekly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Week<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="weeklyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab auth_table" id="Monthly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Month<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="monthlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab auth_table" id="Quarterly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Quarterly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="quarterlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab auth_table" id="Halfyearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Half yearly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="halfYearlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab auth_table" id="Yearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Year<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="yearlyTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*Admissions Summary Graph and Table*@
    <div class="x_panel">
        <div class=" col-lg-12">
            <div class="row">
                <span class="col-lg-3">
                    <h4>Admissions Summary </h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-left admissionsViewlist" role="group" id="GraphSelectionGroup" style="margin-left:-60px">
                    <button type="button" id="chart" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Graph View" style="background-color:skyblue"><i class="fa fa-bar-chart"></i></button>
                    <button type="button" id="table" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tabular View"><i class="fa fa-list-alt"></i></button>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp;PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right AdmissionsSummary" role="group" id="GraphSelectionGroup">
                    <button type="button" id="Admissions_Weekly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly" style="background-color:skyblue">W</button>
                    <button type="button" id="Admissions_Monthly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly">M</button>
                    <button type="button" id="Admissions_Quarterly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" id="Admissions_Halfyearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Half Yearly">H</button>
                    <button type="button" id="Admissions_Yearly" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px" id="AdmissionType">
                    <select class="form-control input-xs" name="DropdownforAdmissionChart">
                        <option value="1" selected>Admissions Pending </option>
                        <option value="2">Admissions Submitted</option>
                        <option value="3">Admissions Processed</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="AdmissionsGraphSection">
                    <div id="Admissions_Weekly_chart" role="tabpanel" class="row admissions_chart active viewActive" style="height:300px;"></div>
                    <div id="Admissions_Monthly_chart" role="tabpanel" class="row admissions_chart" style="height:300px;"></div>
                    <div id="Admissions_Quarterly_chart" role="tabpanel" class="row admissions_chart" style="height:300px;"></div>
                    <div id="Admissions_Halfyearly_chart" role="tabpanel" class="row admissions_chart" style="height:300px;"></div>
                    <div id="Admissions_Yearly_chart" role="tabpanel" class="row admissions_chart" style="height:300px;"></div>
                </div>
                <div class="col-lg-12" id="AdmissionsTableSection">
                    <table class="table table-inverse table-striped dashtab admissions_table active" id="Admissions_Weekly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Week<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="admissionsWeeklyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab admissions_table" id="Admissions_Monthly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Month<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="admissionsMonthlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab admissions_table" id="Admissions_Quarterly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Quarterly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="admissionsQuarterlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab admissions_table" id="Admissions_Halfyearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Half yearly<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="admissionsHalfYearlyTableBody"></tbody>
                    </table>
                    <table class="table table-inverse table-striped dashtab admissions_table" id="Admissions_Yearly_table">
                        <thead style="background: #708bb8; color: white;">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Year<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="admissionsYearlyTableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- charts Code goes here-->
    @*<div class="x_panel">
        <div class=" col-lg-12">
            <div class="row ">
                <span class=" col-lg-6 font">
                    <h2>Total Claims Processed:</h2>
                </span>
                <div class="col-lg-1 padding-top pull-right">
                    <select class="form-control input-xs">
                        <option selected>Yearly</option>
                        <option>Monthly</option>
                        <option>Weekly</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="chart1" class="row" style="height:300px;"></div>
        </div>
    </div>*@

    @*<div class="x_panel">
        <div class=" col-lg-6">
            <div class="row ">
                <span class="col-lg-7">
                    <h4>Authorizations Processed :</h4>
                </span>
                <div class="col-lg-3 padding-top pull-right">
                    <select class="form-control input-xs">
                        <option selected>Weekly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="chart123" class="row" style="height:300px;"></div>
        </div>
        <div class=" col-lg-6">
            <div class="row ">
                <span class="col-lg-6 font">
                    <h4>Admissions Received:</h4>
                </span>
                <div class="col-lg-3 padding-top pull-right">
                    <select class="form-control input-xs">
                        <option selected>Weekly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="AdmissionsChart" class="row" style="height:300px;"></div>
        </div>
    </div>*@
    
    <div class="clearfix"></div>
    @Html.Partial("~/Views/Shared/OtherLayouts/_Footer.cshtml")
</div>


