@{
    ViewBag.Title = "ClaimsDashboard";
}
@section AddToHead{
    <title>INTAKE DASHBOARD | AHC</title>
}
<link href="~/Content/c3.min.css" rel="stylesheet" />
<link href="~/Content/CustomTheme/DashboardCSS/IntakeDashboardCSS.css" rel="stylesheet" />
<link href="~/Content/LibCss/bootstrap-switch.min.css" rel="stylesheet" />
<script src="~/Scripts/LibScripts/JqueryLibScripts/bootstrap-switch.min.js"></script>
<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>
<script src="~/Resources/Data/IntakeDashboardData.js"></script>
<script src="~/Scripts/CustomScripts/DashboardScripts/IntakeDashboard.js"></script>

<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    <div class="x_panel" style="height:20px;"></div>
    <div class="x_panel">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile warning-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Total Auth's
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount pull-left col-lg-offset-0">
                        200
                    </div>
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    150
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    50
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <br />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile danger-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Pending Auth's
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount pull-left col-lg-offset-0">
                        50
                    </div>
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    35
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    15
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile info-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Submitted Auth's
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount pull-left col-lg-offset-0">
                        50
                    </div>
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    45
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    5
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 subauth">
            <div class="tile success-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        Completed Auth's
                    </div>
                </div>
                <div class="tile-body clearfix">

                    <div class="tile-amount pull-left col-lg-offset-0">
                        100
                    </div>
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1 ">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    70
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1 pull-right">
                                    30
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
                <br />

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="tile default-tile TRT">
                <div class="tile-header clearfix">
                    <div class="tile-text text-center">
                        My Turn Around Time
                        
                    </div>
                </div>
                <div class="tile-body TRT1 clearfix" style="padding-bottom: 5px;">
                    <div class="tile-icon1 pull-left col-lg-offset-1">
                       
                        <span class="h3"><b>1 day 2 Hrs</b></span>
                       
                    </div>
                    <table class="pull-right">
                        <tbody>
                            <tr>
                                <td class="tile-icon1">
                                    Standard
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    2 Days 6 Hrs
                                </td>
                            </tr>
                            <tr>
                                <td class="tile-icon1">
                                    Expedite
                                </td>
                                <td class="tile-icon1 ">:&nbsp;</td>
                                <td class="tile-amount1">
                                    0 Days 8 Hrs
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <div class="x_panel" style="height:20px;"></div>
    <!-- charts Code goes here-->
    <div class="x_panel" style="min-height:450px">
        <div class=" col-lg-12 ">
            <div class="row">
                <span class="col-lg-3">
                    <h4>Authorizations Summary</h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-left Authviewlist" role="group" id="GraphSelectionGroup" style="margin-left:-60px">
                    <button type="button" id="Chart" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Graph View" style="background-color:skyblue"><i class="fa fa-bar-chart"></i></button>
                    <button type="button" id="Table" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tabular View"><i class="fa fa-list-alt"></i></button>
                    @*<button type="button" id="both"  class="btn btn-default" data-toggle="tooltip" data-placement="top" title="View Both"><i class="fa fa-bars"></i></button>*@
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp;PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right NewAuthList">
                    <button type="button" id="Week" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly" style="background-color:skyblue">W</button>
                    <button type="button" id="Month" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly">M</button>
                    <button type="button" id="Quarter" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" id="Halfyear" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Half Yearly">H</button>
                    <button type="button" id="Year" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px" id="AuthListType">
                    <select class="form-control input-xs" name="DropdownforAuthList">
                        <option value="1" selected>Pending Auths</option>
                        <option value="2">Submitted Auths</option>
                        <option value="3"> Completed Auths</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="AuthGraphSection">
                    <div id="AuthListchart" class="Auth_Chart"></div>
                </div>
                <div class="col-lg-12" id="AuthTableSection">
                    <table class="table table-inverse table-striped dashtab Auth_Table" id="Week_Table">
                        <thead style="background: #708bb8; color: white;" id="TableHead">
                            <tr>
                                <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                                <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                                <th>Category<i class="fa fa-fw fa-sort"></i></th>
                                <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                                <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody style="overflow-y:scroll" id="TableBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    @Html.Partial("~/Views/Shared/OtherLayouts/_Footer.cshtml")
</div>



