<connectionStrings>

  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDAuthDBMDPrototype;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDBMDPrototype;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDLogDBMDPrototype;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDAuthDBDevUATTest1;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDProfileDBUAT1;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDAuthDB1.19_MM;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />

  <add name="EFEntityContext" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDProfileDB1.19_MM;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->
  
  <add name="DefaultConnection" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDAuthDBAHC_CDv2.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDProfileDBAHC_CDv2.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDLogDBAHC_CDv2.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />

  <!--<add name="DefaultConnection" connectionString="Data Source=123.63.246.177;Initial Catalog=ACDAuthDBAHC_CDv1.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=123.63.246.177;Initial Catalog=ACDProfileDBAHC_CDv1.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=123.63.246.177;Initial Catalog=ACDLogDBAHC_CDv1.0;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />-->
</connectionStrings>
