<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="PLAN">PLAN</label></span>
                <select class="form-control input-xs variable_width_select loser_field"  style="width: 153.453px;">
                    <option value="HUMANA">HUMANA </option>
                    <option value="ULTIMATE">ULTIMATE</option>
                    <option value="FREEDOM">FREEDOM</option>
                    <option value="WELCARE">WELCARE</option>
                    <option value="OPTIMUM">OPTIMUM</option>
                </select>

            </div>
        </div>
        <div class="col-lg-2">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="LOB">LOB</label></span>
                <select class="form-control input-xs variable_width_select loser_field" style="width: 153.453px;">
                    <option value="MEDICARE">MEDICARE RISK</option>
                    <option value="COMMERCIAL">COMMERCIAL</option>
                    <option value="MEDICAD">MEDICAD</option>
                    <option value="AUTO LIABILITY">AUTO LIABILITY</option>
                    <option value="MEDICARE">MEDICARE</option>
                </select>

            </div>
        </div>
        <div class="col-lg-2">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="SPECIALITY">SPECIALTY</label></span>
                <select class="form-control input-xs variable_width_select loser_field" style="width: 153.453px;">
                    <option value="ARPN">ARPN</option>
                    <option value="ACCUPUNTURIST">ACCUPUNTURIST</option>
                </select>

            </div>
        </div>
        <div class="col-lg-2" >
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="SPECIALITY">LOCATION</label></span>
                <select class="form-control input-xs variable_width_select loser_field" style="width: 153.453px;">
                    <option value="1407,SPRING HILL,FLORIDA">1407,SPRING HILL,FLORIDA</option>
                    <option value="1409,SPRING HILL,FLORIDA">1409,SPRING HILL,FLORIDA</option>
                </select>

            </div>
        </div>
        <div class="col-lg-2">
            <div class="inline_block margin_right_1">
                <span class="theme_label"><label for="BUSSINESS">BUSSINESS ENTITY</label></span>
                <select class="form-control input-xs variable_width_select loser_field" style="width: 153.453px;">
                    <option value="ACCESS HEALTH CARE">ACCESS HEALTH CARE</option>
                    <option value="ACCESS HEALTH CARE LLC">ACCESS HEALTH CARE LLC</option>
                </select>

            </div>
        </div>
        <div class="col-lg-2" data-toggle="tooltip" data-placement="bottom" title="ULTIMATE,HUMANA,FREEDOM,WELCARE" data-original-title="ULTIMATE,HUMANA,FREEDOM,WELCARE"><b>Eligible Plans : <span class="badge bg-blue">4</span></b></div>
      </div>
   

</div>

<div class="row" style="padding-top:5px;">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="col-lg-4">
                <h5>Missing Documents :</h5></div>
            <div class="col-lg-8">
                
                <ul class="list-group">
                    <li class="list-item"><a class="Mapping" data-toggle="tooltip" data-placement="bottom" title="Click to Add" data-original-title="Click to Add"><h5>State License Document Missing <i class="fa fa-plus-square-o " aria-hidden="true"></i> </h5></a></li>
                    <li class="list-item"><a class="Mapping" data-toggle="tooltip" data-placement="bottom" title="Click to Add" data-original-title="Click to Add"><h5>Medicare Issue Date Missing  <i class="fa fa-plus-square-o" aria-hidden="true"></i></h5></a></li>
                </ul>
            </div>
        
        </div>

        <div class="col-lg-6">
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
                <div class="btn btn-info btn-sm" style="position: absolute;right: -70px;top: 34px;">Initiate</div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>