@model PortalTemplate.Areas.Coding.Models.CreateCoding.CodingDetailsViewModel
<p-link href="~/Areas/Coding/Contents/CSS/AppCss/ViewCoding/NonMinified/ViewCoding.css" rel="stylesheet"></p-link>
<div class="row greybackground">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="x_panel border_on_panel">
            <div class="x_content">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    @Html.Label("Coding Details", new { @class = "title_text" })
                </div>
                <fieldset class="fieldsetStyle">
                    <legend class="legendstyle">Diagnosis Codes</legend>
                    @Html.Partial("~/Areas/Coding/Views/ViewCoding/_ICDCodes.cshtml", Model.ICDCodeDetails)
                </fieldset>
                <fieldset class="fieldsetStyle">
                    <legend class="legendstyle">Procedure Codes</legend>
                    @Html.Partial("~/Areas/Coding/Views/ViewCoding/_CPTCodes.cshtml", Model.CPTCodeDetails)
                </fieldset>
                <fieldset class="fieldsetStyle">
                    <legend class="legendstyle">Notes</legend>
                    @Html.Partial("~/Areas/Coding/Views/Notes/_NotesDescriptionView.cshtml", Model.Notes)
                </fieldset>
            </div>
        </div>
    </div>
</div>

<p-script src="~/Areas/Coding/Scripts/AppJs/ViewCoding/NonMinified/ViewCoding.js"></p-script>
