@model PortalTemplate.Areas.Coding.Models.CreateCoding.CreateCodingViewModel
@Html.Partial("~/Areas/Coding/Views/ViewCoding/_EncounterDetails.cshtml", Model.EncounterDetails)
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    @Html.Partial("~/Areas/Coding/Views/ViewCoding/_CodingDetails.cshtml", Model.CodingDetails)
</div>
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <button class="btn btn-sm btn-primary pull-right tab-navigation " data-tab-val="EditEncounter" data-tab-action="Edit Encounter" data-tab-title="Code # 116244951" data-tab-container="fullBodyContainer" data-tab-autoflush="true" data-tab-path="/Coding/Coding/EditDetails">Edit</button>
    <button class="btn btn-sm btn-warning pull-left tab-navigation" data-tab-action="PBAS - Coading" data-tab-title="Coding" data-tab-path="/Coding/Coding/GetCodingList" data-tab-container="fullBodyContainer">Cancel</button>
</div>
