@*<div class="panel-group" id="accordionHistorical" role="tablist" aria-multiselectable="true">*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="HistoricalHeading">
            <a data-toggle="collapse" data-parent="#accordionProviderInfo" href="#PH" aria-expanded="false" aria-controls="PH">
                Professtional Historical Data Questionnaire
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="PH" class="panel-collapse collapse" role="tabpanel" aria-labelledby="HistoricalHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Have you ever been convicted of a felony or do you have any pending misdemeanor and/or felony charges?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Has your license to practice medicine in any jurisdiction ever been voluntarily or involuntarily denied, restricted, suspended, challenged, revoked, conditioned, or otherwise limited?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Have you ever been publicly reprimanded or disciplined by a professional licensing agency or Board?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Has your DEA certification and/or state controlled drug permit ever been restricted, suspended, revoked, voluntarily relinquished or otherwise limited?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Have any of your privileges or memberships at any hospital or institution ever been denied, suspended, reduced, revoked, not renewed or otherwise limited?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Has your participation in Medicare, Medicaid or any other government program ever been limited, expelled, excluded or have you voluntarily excluded yourself from any of these programs?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Have you ever been convicted or pled “nolo contendere” to a criminal offense related to Medicare, Medicaid or any other Federal program?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Has your participation in an HMO and/or an Insurance Company network ever been limited, restricted, suspended or terminated?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>In the past five years, up to and including the present, have you had any ongoing physical or mental impairment or condition which would make you unable, with or without reasonable accommodation, to perform the essential functions of a practitioner in your area of practice, or unable to perform those essential functions without a direct threat to the health and safety of others?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Considering the essential function of a practitioner in your area of practice, in the past five years, up to and including the present, have you suffered from any communicable health condition that could pose a significant health and safety risk to your patients?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>In the past five years and up to and including the present, have you had a history of chemical dependency or substance abuse that might affect your ability to competently and safely perform the essential functions of a practitioner in your area of practice?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Are you currently participating or under supervision of a Physician or Recovery Network or applicable program?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Has any malpractice carrier made an out-of-court settlement or paid a judgment of a medical malpractice claim on your behalf in the past 5 years or are any medical malpractice suits pending against you?</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Are you currently uninsured for professional liability (malpractice insurance) coverage?</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Has your malpractice/professional liability insurer placed conditions or restrictions on your coverage or ability to obtain coverage in the past 10 years?</td>
                                <td>Yes</td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Printed Name</label>
                            <div>
                                <label class="control-label small">Giri</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label> Signature</label>
                            <div>
                                <label class="control-label small">girib</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Date</label>
                            <div>
                                <label class="control-label small">12/12/2014</label>
                            </div>   
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <br />                   
                </div>
            </div>
        </div>
    </div>
@*</div>*@


