
<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation"
       data-tab-action="EOB"
       data-tab-title="EOB"
       data-tab-container="fullBodyContainer"
       data-tab-floatmenu="true"
       data-tab-path="~/Views/EOBReport/Index.cshtml"
       data-tab-float-menu-path="~/Views/Shared/ClaimsFloatMenu/_ReportFloatMenu.cshtml">
        <nobr><span class="text_beside_icon">EOB</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">EOB</span>
</li>
<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation"
       data-tab-action="Payer To Provider"
       data-tab-title="Payer To Provider"
       data-tab-container="fullBodyContainer"
       data-tab-floatmenu="true"
       data-tab-path="~/Views/PayerDrilldownReport/Index.cshtml"
       data-tab-float-menu-path="~/Views/Shared/ClaimsFloatMenu/_ReportFloatMenu.cshtml">
        <nobr><span class="text_beside_icon">Payer To Provider</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Payer To Provider</span>
</li>
<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation"
       data-tab-action="Provider To Payer"
       data-tab-title="Provider To Payer"
       data-tab-container="fullBodyContainer"
       data-tab-floatmenu="true"
       data-tab-path="~/Views/ProviderDrilldownReport/Index.cshtml"
       data-tab-float-menu-path="~/Views/Shared/ClaimsFloatMenu/_ReportFloatMenu.cshtml">
        <nobr><span class="text_beside_icon">Provider To Payer</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Provider To Payer</span>
</li>

<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation"
       data-tab-action="Biller Productivity"
       data-tab-title="Biller Productivity"
       data-tab-container="fullBodyContainer"
       data-tab-floatmenu="true"
       data-tab-path="~/Views/BillerProductivityReport/Index.cshtml"
       data-tab-float-menu-path="~/Views/Shared/ClaimsFloatMenu/_ReportFloatMenu.cshtml">
        <nobr><span class="text_beside_icon">Biller Productivity</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Biller Productivity</span>
</li>
