<li class="anchorselected outer_menu_item_top">
    <a class="tab-navigation"
       data-tab-action="Clearing House"
       data-tab-title="Clearing House"
       data-tab-container="fullBodyContainer"
       data-tab-floatmenu="true"
       data-tab-path="~/Views/ClearingHouse/Index.cshtml"
       data-tab-float-menu-path="~/Views/Shared/ClaimsFloatMenu/_settingsFloatMenu.cshtml">
        <nobr><span class="text_beside_icon">Clearing House</span></nobr>
    </a>
    <span class="label_on_collapsed floating_menu_label">Clearing House</span>
</li>
