@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.QueueViewModel>
<!-- FILES TO BE LOADED -->
<link href="~/Areas/UM/Styles/Queue/IntakeQueue.css" rel="stylesheet" />
@if (ViewBag.SubTabView.IsSubTabs)
{
    @Html.Partial("~/Areas/UM/Views/Queue/Common/_QueueSubTabs.cshtml")
}
<div id="queueBody">
    @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/PCPQueue/_PCPQueueTable.cshtml")
</div>
    <p-script filepath="~/Areas/UM/Scripts/Queue/IntakeQueue/NonMinified/IntakeQueue.js"></p-script>