
<strong>Education/Personal Information:</strong>


<table class="table table-bordered small">
    <tr ng-repeat="med in medicalEducation track by $index">
        <td colspan="1" ng-if="$index==0" rowspan="{{medicalEducation.length}}">
            <label for="textarea">
                Medical Education:<br />
                (School Name,yrs <br />Attended,Degree Earned)
            </label>
        </td>

        <td colspan="6">
            <textarea class="form-control" id="textarea{{$index}}" name="textarea" ng-model="med"></textarea>
        </td>

    </tr>





    <tr ng-repeat="internship in filteredProviderProgramDetails=(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'internship'}) track by $index">
        <td colspan="1" ng-if="$index==0" rowspan="{{(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'internship'}).length}}">
            <label>
                Internship:<br />
                (Facility,<br />Specality,<br />From/To)
            </label>
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Facility">
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Specialty">
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.FromToDate">
        </td>
    </tr>




    <tr ng-repeat="internship in filteredProviderProgramDetails=(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'Resident'}) track by $index">
        <td ng-if="$index==0" rowspan="{{(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'Resident'}).length}}">
            <label for="textinput">
                Residency(ies)
                (Facility,Speciality,From/To)
            </label>
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Facility">
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Specialty">
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.FromToDate">
        </td>
    </tr>

    
    <tr ng-repeat="internship in filteredProviderProgramDetails=(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'Fellowship'}) track by $index">
        <td ng-if="$index==0" rowspan="{{(delegationProfileObj.ProviderProgramDetails | filter:{ProgramName:'Fellowship'}).length}}">
            <label for="textinput">Fellowship(s)</label>
        </td>
        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Facility">
        </td>

        <td colspan="2">
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.Specialty">

        </td>
        <td colspan="2">

            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="internship.FromToDate">
        </td>
    </tr>
    <tr>
        <td>
            <label for="textinput">SSN</label>
        </td>
        <td>
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.SSN">
        </td>
        <td>
            <label for="textinput">DOB</label>
        </td>
        <td>
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.DOB">
        </td>
        <td>
            <label for="textinput">Ethnic Origin</label>
        </td>
        <td>
            <input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="delegationProfileObj.EthnicOrigin">
        </td>
    </tr>
    <tr>
        <td>
            <label for="selectbasic">Gender</label>
        </td>
        <td colspan="2">
            <input type="text" id="selectbasic" name="selectbasic" class="form-control" ng-model="delegationProfileObj.Gender">
        </td>
        <td>
            <label for="selectmultiple">Provider Languages</label>
        </td>
        <td colspan="2">
            <input type="text" id="selectmultiple" name="selectmultiple" class="form-control" ng-model="languagesKnown" />
        </td>
    </tr>
</table>




