
@{
    ViewBag.Title = "Practice Accessibility Questions";
}
@section AddToHead{
<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/Custom/MasterDataNew/PracticeAccessibilityQuestionsController.js"></script>
    }
<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                        <i class="fa fa-question"></i> Practice Accessibility Questions
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="masterDataPAQ" ng-controller="masterDataPAQController" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Practice Accessibility Questions Management
                        <span class="pull-right">                            
                            <button ng-disabled="disableAdd" ng-click="addPAQ()" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>Add</button>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div ng-show="activeMessageDiv=='PracticeAccessibilityQuestion'" class="alert alert-success" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <div class="clearfix"></div>
                        <div ng-show="activeMessageDiv=='PracticeAccessibilityQuestionError'" class="alert alert-danger" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Short Title *</th>
                                    <th>Status</th>
                                    <th>Last Modified Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="paq in CurrentPage track by $index" ng-include="getTemplate(paq)"></tr>
                            </tbody>
                        </table>

                        <script type="text/ng-template" id="displayPAQ">
                            <td>{{paq.Title}}</td>
                            <td>{{paq.ShortTitle}}</td>
                            <td>{{paq.Status}}</td>
                            <td>{{paq.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>                                
                                @*<button ng-disabled="disableEdit" ng-click="editPAQ(paq)" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="right" title="Edit"><i class="fa fa-edit"></i></button>*@                                                              
                            </td>
                        </script>
                        <script type="text/ng-template" id="editPAQ">
                            <td>
                                <input type="text" ng-model="tempPAQ.Title" />
                                
                            </td>
                            <td>
                                <input type="text" ng-model="tempPAQ.ShortTitle" />
                                <span class="text-danger" name="ShortTitle" ng-if="error && !tempPAQ.ShortTitle">{{error}}</span>
                                <span class="text-danger" name="ShortTitle" ng-if="existErr">{{existErr}}</span>
                            </td>
                            <td>{{tempPAQ.Status}}</td>
                            <td>{{tempPAQ.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>
                                <button ng-if="!tempPAQ.FacilityAccessibilityQuestionId" ng-click="savePAQ($index)" class="btn btn-xs btn-primary">Save</button>
                                <button ng-if="tempPAQ.FacilityAccessibilityQuestionId" ng-click="updatePAQ($index)" class="btn btn-xs btn-primary">Update</button>
                                <button ng-if="tempPAQ.FacilityAccessibilityQuestionId" ng-click="reset()" class="btn btn-xs btn-warning">Cancel</button>
                                <button ng-if="!tempPAQ.FacilityAccessibilityQuestionId" ng-click="cancelAdd()" class="btn btn-xs btn-warning">Cancel</button>
                            </td>
                        </script>
                        <div class="clearfix"></div>
                        <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                        <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>