@{
    ViewBag.Title = "Practice Open Status Questions";
}
@section AddToHead{
<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular-DatePicker/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/Custom/MasterDataNew/PracticeOpenStatusQuestionsController.js"></script>
    }
<div id="page-wrapper">
    <div class="container-fluid wrap-words">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/MasterDataNew"><i class="fa fa-database"></i> Master Data</a>
                    </li>
                    <li>
                         Open Practice Status Question
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row" ng-app="masterDataPOSQ" ng-controller="masterDataPOSQController" ng-cloak>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Open Practice Status Question Management
                        <span class="pull-right">                            
                            <button ng-disabled="disableAdd" ng-click="addPOSQ()" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i>Add</button>
                        </span>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div ng-show="activeMessageDiv=='PracticeOpenStatusQuestion'" class="alert alert-success" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <div class="clearfix"></div><br />
                        <div ng-show="activeMessageDiv=='PracticeOpenStatusQuestionError'" class="alert alert-danger" role="alert">
                            @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                           {{messageDesc}}
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Title *</th>
                                    <th>Status</th>
                                    <th>Last Modified Date</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="Filter Title" class="form-control input-sm" ng-model="search.Title" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Status" class="form-control input-sm" ng-model="search.Status" ng-change="filterData()" /></td>
                                    <td><input type="text" placeholder="Filter Last Modified Date" class="form-control input-sm" ng-model="search.LastModifiedDate" ng-change="filterData()" /></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="posq in PracticeOpenStatusQuestions |filter:{Title:search.Title,Status:search.Status,LastModifiedDate:search.LastModifiedDate} track by $index" ng-include="getTemplate(posq)" ng-show="IsValidIndex($index)"></tr>
                            </tbody>
                        </table>

                        <script type="text/ng-template" id="displayPOSQ">
                            <td>{{posq.Title}}</td>
                            <td>{{posq.Status}}</td>
                            <td>{{posq.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>                                
                                @*<button ng-disabled="disableEdit" ng-click="editPOSQ(posq)" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="right" title="Edit"><i class="fa fa-edit"></i></button>*@                              
                            </td>
                        </script>
                        <script type="text/ng-template" id="editPOSQ">
                            <td><input type="text" class="form-group form-control input-sm inputMarginBottoomZero" ng-model="tempPOSQ.Title" />
                                <span class="text-danger" name="title" ng-if="error && !tempPOSQ.Title">{{error}}</span>
                                <span class="text-danger" name="title" ng-if="existErr && tempPOSQ.Title">{{existErr}}</span></td>
                            <td>{{tempPOSQ.Status}}</td>
                            <td>{{tempPOSQ.LastModifiedDate | date : 'MM-dd-yyyy'}}</td>
                            <td>
                                <button ng-if="!tempPOSQ.PracticeOpenStatusQuestionID" ng-click="savePOSQ($index)" class="btn btn-xs btn-primary">Save</button>
                                <button ng-if="tempPOSQ.PracticeOpenStatusQuestionID" ng-click="updatePOSQ($index)" class="btn btn-xs btn-primary">Update</button>
                                <button ng-if="tempPOSQ.PracticeOpenStatusQuestionID" ng-click="reset()" class="btn btn-xs btn-warning">Cancel</button>
                                <button ng-if="!tempPOSQ.PracticeOpenStatusQuestionID" ng-click="cancelAdd()" class="btn btn-xs btn-warning">Cancel</button>
                            </td>
                        </script>
                        <div ng-if="CurrentPage.length > 0" ccolicensedetailstable></div>
                        <pagination ng-show="CurrentPage.length > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged(bigCurrentPage)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>