<div class="x_panel ">
    <div id="File835ListDiv">
        <span class="customCheckBoxFLoat">

            <input class="normal-checkbox 835filterList" id="835received" name="835filterList" type="checkbox" value="true" checked>
            <label for="835received"><span></span>&nbsp;Received</label>

            <input class="normal-checkbox 835filterList" id="835Generated" name="835filterList" type="checkbox" value="true" checked>
            <label for="835Generated"><span></span>&nbsp;Generated</label>

        </span>
        <div class="x_content border_on_panel">
            <div class="x_content">
                <div id="835fileTable">

                </div>
            </div>
        </div>

    </div>
    <div id="835ProviderList">

    </div>

    <div id="835EOBList">

    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/FileManagement/Unminified/File835.js"></script>
