@using PratianUI


<div class="x_panel ">
    <div id="Table837List">
        <span class="customCheckBoxFLoat">




            @Html.PratianUiCheckbox("Received", new { @id = "received", name = "ReceivedList837", value = "true" })

            @Html.PratianUiCheckbox("Dispatched", new { @id = "dispatched", name = "DispatchedList837", value = "true" })

            @*<input class="normal-checkbox" id="received" name="filterList" type="checkbox" value="true" checked>
            <label for="received"><span></span>&nbsp;RECEIVED</label>

            <input class="normal-checkbox" id="dispatched" name="filterList" type="checkbox" value="true" checked>
            <label for="dispatched"><span></span>&nbsp;DISPATCHED</label>*@

        </span>
        <div class="x_panel border_on_panel">

            <div class="x_content">

                <div class="Table837">
                   
                    @Html.Action("Get837TableList", "FileManagement", new { Received = "true", Dispatched = "true" })
                </div>

            </div>

        </div>

    </div>

    <div id="837claimList">

    </div>
</div>
<script src="~/Areas/Billing/Scripts/AppJs/FileManagement/Unminified/837File.js"></script>
