@using PratianUI
@model List<PortalTemplate.Areas.Billing.Models.File_Management.File999ViewModel>
<div class="x_panel">
    <div class="x_content">
        <div class="col-lg-12 clearfix file999HeaderPart">
            <label class="title_text pull-left file999HeaderLabel">Received & Dispatched 999 Files</label>

            <span class="customCheckBoxFLoat">
                @Html.PratianUiCheckbox("Received", new { name = "ReceivedList999", value = "Received", @checked = "checked" })
                @Html.PratianUiCheckbox("Dispatched", new { name = "DispatchedList999", value = "Dispatched", @checked = "checked" })
            </span>
        </div>
    </div>
    <div class="x_content border_on_panel">
        <div class="x_content">
            <div class="table-responsive">
                <table id="Table999List" class="table table-striped table-hover custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                    <thead>
                        <tr class="theme_thead">
                            <th>Control Number </th>
                            <th>File Name</th>
                            <th>Sender</th>
                            <th>Receiver</th>
                            <th>Date of Creation</th>
                            <th>Age(days)</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("~/Areas/Billing/Views/FileManagement/_TBody999FileList.cshtml", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/FileManagement/Unminified/File999.js"></script>