<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/FileManagement/Unminified/FileManagement.css" rel="stylesheet"></p-link>
<p-script filepath="~/Areas/Billing/Scripts/Common/Nonlib/validators.js" rel="stylesheet"></p-script>
<div class="file_management_container">
    <button class="btn btn-xs btn-primary pull-right" id="file_upload_btn"><i class="fa fa-upload"> Upload File</i></button>
    <div class="inner_menu_container padding_left_right_12px">
        <ul class="tabs-menu clearfix">
            <li class="current">
                <a href="#List837s" class="list-item no_underline" data-target-url="/FileManagement/Get837FileList">
                    <span class="charge badge" style="background-color: #0288d1;">10</span> <i class="fa fa-file-o"></i> 837
                </a>
            </li>
            <li class="">
                <a href="#List999s" class="list-item no_underline" data-target-url="/FileManagement/Get999FileList">
                    <span class="charge badge" style="background-color: #314fa7;">10</span> <i class="fa fa-file-o"></i> 999
                </a>
            </li>
            <li class="">
                <a href="#List277s" class="list-item no_underline" data-target-url="/FileManagement/Get277FileList">
                    <span class="charge badge" style="background-color: #ff6000;">10</span> <i class="fa fa-file-o"></i> 277
                </a>
            </li>
            <li>
                <a href="#List835s" class="list-item no_underline" data-target-url="/FileManagement/Get835FileList">
                    <span class="charge badge" style="background-color: #66b553;">10</span> <i class="fa fa-file-o"></i> 835
                </a>
            </li>
        </ul>
    </div>
    <div class="tab memberTabsPadding claims_tab_container">
        <div id="List837s" class="custommembertab-content">
            @Html.Action("Get837TableList", "FileManagement")
        </div>
        <div id="List999s" class="custommembertab-content">

        </div>

        <div id="List277s" class="custommembertab-content">

        </div>
        <div id="List835s" class="custommembertab-content">

        </div>
    </div>
</div>
<p-script filepath="~/Areas/Billing/Scripts/AppJs/FileManagement/Unminified/FileManagement.js"></p-script>


