<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="TempOpenPracticeStatusID">
    <div class="fsStyle" id="ViewOpenPracticeStatusDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading">  Open Practice Status</span>&nbsp;
            @*<button onclick="groupmodalhistory()" class="btn btn-danger btn-xs RemoveButtonStyleModal ">
                <i class="fa fa-minus"></i>
            </button>*@

        </div>
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Open Practice Status
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/PracticeLocation/getAddEditOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/PracticeLocation/getAddEditOpenPracticeStatus" data-tab-container="TempOpenPracticeStatusID">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@
        <div class="x_content zero-padding-left mutiple-data">
           
            <span class=" text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW PATIENTS INTO PRACTICE?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">ACCEPT ALL NEW PATIENTS?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">ACCEPT EXISTING PATIENTS WITH CHANGE OF PAYOR?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW MEDICARE PATIENTS?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class=" text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW PATIENTS WITH PHYSICIAN REFERRAL?:</label>
                <span class="theme_label_data">YES</span>
               
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW MEDICAID PATIENTS? :</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW PATIENTS WITHOUT ANY REFERALS?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">ACCEPT NEW PATIENTS INTO THIS PRATICE?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">TEST OPEN PRACTICE STATUS UPDATE :</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class=" text_adjust boxstyle">
                <label class="theme_label">IF ANY OF THE ABOVE INFORAMTION VARIES BY PLAN, EXPLAIN:</label>
                <span class="theme_label_data">YES</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">ARE THERE ANY PRACTICE LIMITATIONS?:</label>
                <span class="theme_label_data">YES</span>
            </span>
            </div>
</div>
</div>
