<br />
<div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true" ng-controller="identificationLicenseController">
    <div class="panel panel-default">
        <div class="panel-heading text-right">
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left" title="Collapse All" onclick="collapseAll(this)"><i class="fa fa-minus-square-o"></i></button>
            <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="right" title="Expand All" onclick="expandAll(this)"><i class="fa fa-plus-square-o"></i></button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseOne">
            <a data-toggle="collapse" data-parent="#accordion5" href="#licenseprofessional" aria-expanded="true" aria-controls="licenseprofessional">
                State License
                <span class="pull-right">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
            </a>
        </div>
        <div id="licenseprofessional" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="licenseOne">

            <table class="table table-bordered table-condensed customtbodyStyle">
                <thead>
                    <tr>
                        <th>License Number</th>
                        <th>Issue State</th>
                        <th>Type</th>
                        <th>Expiration Date</th>
                        <th>Status</th>
                        <th>Certificate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody ng-repeat="sl in StateLicenses">
                    <tr>
                        <td>{{sl.Number}}</td>
                        <td>{{sl.IssuingState}}</td>
                        <td>{{sl.Type}}</td>
                        <td>{{sl.ExpirationDate}}</td>
                        <td>{{sl.Status}}</td>
                       
                        <td><a href="#" title="{{sl.Certificate}}"><i class="fa fa-file" title=""></i></a></td>
                        <td>
                            <button class="btn btn-xs btn-primary" ng-click="editStateLicense($index,sl)"><i class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                    <tr ng-show="showingDetails && sl==StateLicense">
                        <td colspan="7" id="stateLicenseEditDiv{{$index}}" class="editTableDataStyle">Java Script or Jquery or Angular Error!!!!!!!!</td>
                    </tr>
                </tbody>
            </table>
            
            <div id="stateLicenseForm" style="display:none;">
                <div class="col-lg-12 zero-padding-left-right-div">

                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Licence Number *</label>
                        <input type="text" ng-model="StateLicense.Number" class="form-control input-sm" placeholder="state license">
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Licence Type *</label>
                        <select class="form-control input-sm" ng-model="StateLicense.Type" required>
                            <option>Type 1</option>
                        </select>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Licence Status *</label>
                        <select class="form-control input-sm" ng-model="StateLicense.Status" required>
                            <option>Active</option>
                        </select>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-4 form-group">
                            <label class="control-label small">License Issuing State *</label>
                            <select class="form-control input-sm" ng-model="StateLicense.IssuingState" required>
                                <option>Active</option>
                            </select>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="control-label small">Current Practice State *</label>
                            <select class="form-control input-sm" ng-model="StateLicense.PracticeState" required>
                                <option>Active</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Original Issue Date *</label>
                        <input type="date" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Expiration Date *</label>
                        <input type="date" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Current Issue Date *</label>
                        <input type="date" class="form-control input-sm" />
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="Contact" class="control-label small">License in  Good Standing?*</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="StateStanding" value="Y"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="StateStanding" value="N"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label for="Contact" class="control-label small">If License Relinquished*</label>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="LicenseRelinquished" value="Y"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="LicenseRelinquished" value="N"> No
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <label class="control-label small">Date*</label>
                        <div>
                            <input type="date" class="form-control input-sm" />
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-default btn-sm btn-file"><span class="fileinput-new">State License Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                            <a href="#" class="input-group-addon btn btn-default btn-sm fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <button ng-show="stateLicenseFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelStateLicense('editCancel')">cancel</button>
                        <button ng-show="!stateLicenseFormStatus" type="button" class="btn btn-warning btn-sm" ng-click="cancelStateLicense('saveCancel')">Cancel</button>
                        <button ng-show="!stateLicenseFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="saveStateLicense(StateLicense)">Add</button>
                        <button ng-show="stateLicenseFormStatus" type="button" class="btn btn-primary btn-sm pull-right" ng-click="updateStateLicense(StateLicense)">Update</button>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-12 clearfix" style="padding-bottom:15px;"></div>*@
            <div class="clearfix"></div>
            <div class="form-style">
                <fieldset ng-show="newStateLicenseForm && !stateLicenseFormStatus">
                    <legend>
                        Add State License
                    </legend>
                    <div id="newStateLicenseFormDiv">

                    </div>
                </fieldset>
            </div>
            <div ng-hide="stateLicenseFormStatus || newStateLicenseForm" class="col-md-12 text-right">
                <button class="btn btn-xs btn-primary" ng-click="addStateLicense()"><i class="fa fa-plus"></i> Add State License</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseTwo">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensedea" aria-expanded="false" aria-controls="licensedea">
                Federal DEA Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensedea" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseTwo">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">DEA Number*</label>
                            <div>
                                <input type="text" class="form-control input-sm" required />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label small">State of registration*</label>
                            <div>
                                <select class="form-control input-sm" required>
                                    <option>License State</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Issue Date*</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="MobileNo" class="control-label small">Expiration Date*</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Contact" class="col-md-3 control-label small">Schedules*</label>
                            <div class="checkbox">
                                <label class="checkbox-inline control-label small">
                                    <input type="checkbox" name="Contact"> Schedule I
                                </label>
                                <label class="checkbox-inline control-label small">
                                    <input type="checkbox" name="Contact"> Schedule II
                                </label>
                                <label class="checkbox-inline control-label small">
                                    <input type="checkbox" name="Contact"> Schedule III
                                </label>
                                <label class="checkbox-inline control-label small">
                                    <input type="checkbox" name="Contact"> Schedule IV
                                </label>
                                <label class="checkbox-inline control-label small">
                                    <input type="checkbox" name="Contact"> Schedule V
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Contact" class="col-md-4 control-label small">License in  Good Standing?*</label>
                            <div class="col-md-8 radio">
                                <label class="radio-inline">
                                    <input type="radio" name="DEAStanding"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="DEAStanding"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="Contact" class="control-label small">Limited or Restricted*</label>
                                <div>
                                    <select class="form-control input-sm" required>
                                        <option>Restricted</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="MobileNo" class="control-label small">Explain Restriction*</label>
                                <div>
                                    <textarea class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Contact" class="col-md-4 control-label small">Do you have a State Controlled Substance Registration certificate? *</label>
                            <div class="col-md-8 radio">
                                <label class="radio-inline">
                                    <input type="radio" name="CSD" checked="checked"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="CSD"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select Federal DEA License Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
                            <button class="btn btn-success pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseThree">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensemedicare_medicaid" aria-expanded="false" aria-controls="licensemedicare_medicaid">
                Medicare & Medicaid
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensemedicare_medicaid" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="licenseThree">
            <div class="form-group">

                <div class="form-style">
                    <fieldset>
                        <legend>
                            Medicare Information
                        </legend>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="col-md-3 control-label small">Medicare Approved*</label>
                                    <div class="col-md-9 radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="Medicare" checked="checked"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Medicare"> No
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label small">Medicare Number*</label>
                                        <div>
                                            <input type="text" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label small">State*</label>
                                        <div>
                                            <select class="form-control input-sm" required>
                                                <option>State</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label small">Issue Date*</label>
                                        <div>
                                            <input type="date" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label small">Expiration Date*</label>
                                        <div>
                                            <input type="date" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="col-md-5 control-label small">Any sanction imposed by Medicare?*</label>
                                    <div class="col-md-7 radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sanctionMedicare" checked="checked"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sanctionMedicare"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select Medicare License Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="clearfix"></div>

                <div class="form-style">
                    <fieldset>
                        <legend>
                            Medicaid Information
                        </legend>
                        <div class="panel-body">

                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="col-md-3 control-label small">Medicaid Approved*</label>
                                    <div class="col-md-9 radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="Medicaid" checked="checked"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Medicaid"> No
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <label class="control-label small">Medicaid Number*</label>
                                        <div>
                                            <input type="text" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label small">State*</label>
                                        <div>
                                            <select class="form-control input-sm" required>
                                                <option>State</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-12">

                                    <div class="col-md-6">
                                        <label class="control-label small">Issue Date*</label>
                                        <div>
                                            <input type="date" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label small">Expiration Date*</label>
                                        <div>
                                            <input type="date" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <label for="Contact" class="col-md-5 control-label small">Any sanction imposed by Medicaid ?*</label>
                                    <div class="col-md-7 radio">
                                        <label class="radio-inline">
                                            <input type="radio" name="sanctionMedicaid" checked="checked"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sanctionMedicaid"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-12">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select Medicaid License Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </fieldset>
                </div>
                <br />
                <div class="col-md-12 panel-footer">
                    <div class="col-md-12">
                        @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
                        <button class="btn btn-success pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseTwo">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licensecdsc" aria-expanded="false" aria-controls="licensecdsc">
                CDSC Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licensecdsc" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseFour">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Certificate Number*</label>
                            <div>
                                <input type="text" class="form-control input-sm" required />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label small">State of registration*</label>
                            <div>
                                <select class="form-control input-sm" required>
                                    <option>License State</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group col-md-6">
                            <label class="control-label small">Issue Date*</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="MobileNo" class="control-label small">Expiration Date*</label>
                            <div>
                                <input type="date" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select CDSC Certificate</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
                            <button class="btn btn-success pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="licenseFour">

            <a data-toggle="collapse" data-parent="#accordion5" href="#licenseothers" aria-expanded="false" aria-controls="licenseothers">
                Other Identification Numbers
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>

        </div>
        <div id="licenseothers" class="panel-collapse collapse" role="tabpanel" aria-labelledby="licenseFive">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label small">NPI Number*</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" required />
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label small">CAQH Number</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" required />
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <label class="col-md-3 control-label small">UPIN Number</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" required />
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <br />


                    <div class="form-group col-md-12">
                        <label class="col-md-3 control-label small">USMLE Number</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-sm" required />
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>


                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
                            <button class="btn btn-success pull-right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>