<div class="col-md-12">
    <label for="Contact" class=" control-label">Non English languages spoken by office personnel</label>
    <select multiple="multiple" size="10" name="duallistbox_demo1">
        <option value="option1">Afan</option>
        <option value="option2">Arabic</option>
        <option value="option3">Bengali</option>
        <option value="option4">Chinese</option>
        <option value="option5">Dutch</option>
        <option value="option6">Fiji</option>
        <option value="option7">French</option>
        <option value="option8">Greek</option>
        <option value="option9">Hindi</option>
        <option value="option10">Italian</option>
    </select>
</div>
<br />
<div class="col-md-12">

    <div class="col-md-6">
        <label class="control-label">Do you communicate American Sign Language?*</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="Citizen" checked="checked"> Yes
            </label>
            <label class="radio-inline">
                <input type="radio" name="Citizen"> No
            </label>
        </div>
    </div>
</div>

<div class="col-md-12 panel-footer">
    <div class="col-md-12">
        @*<button class="btn btn-success pull-right">Initiate Verification</button>*@
        <button class="btn btn-success pull-right">Save</button>
    </div>
</div>

