
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/AppCss/EDITracking/EDITracking.css" rel="stylesheet" />
<link href="~/Content/AppCss/ClaimsDashboard/multiple-select.css" rel="stylesheet" />

<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12   mainBodyCollapse"  id="mainBody">
    <div class="x_panel" style="height:10px;"></div>
    <div class="row">
        <div class="searchheading">
            <label>Search by: </label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="form-style tracking-filter-form clearfix ng-pristine ng-valid" role="form">

                <div class="form-group col-lg-2">
                    <label for="billing-team" class="search-text">Billing Team:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="billing-team" ng-model="filterObjectSearch.BillingTeam" ng-click="showBillingTeamDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Access2</option>
                        <option value="12">Access2 Tampa</option>
                        <option value="13">All American Phy</option>
                    </select>
                </div>
                <div class="form-group col-lg-1">
                    <label for="biller" class="search-text">Biller:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="biller" ng-model="filterObjectSearch.Biller" ng-click="showBillerDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Dina Amundsen</option>
                        <option value="12">Sheila Trissel</option>
                        <option value="13">Tony Martin</option>
                        <option value="1">Marrisa Valenti</option>
                        <option value="12">Carpi Ritch</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="billing-provider" class="search-text">Billing Provider:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="billing-provider" ng-model="filterObjectSearch.BillingProvider" ng-click="showBillingProviderDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Aasma Riaz</option>
                        <option value="12">Rajyalakshmi Kolli</option>
                        <option value="13">Gary Merlino</option>
                        <option value="1">Bernard Kurecki III</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="rendering-provider" class="search-text">Rendering Provider:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="rendering-provider" ng-model="filterObjectSearch.RenderingProvider" ng-click="showRenderingProviderDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Aasma Riaz</option>
                        <option value="12">Rajyalakshmi Kolli</option>
                        <option value="13">Gary Merlino</option>
                        <option value="1">Bernard Kurecki III</option>
                    </select>
                </div>
                <div class="form-group col-lg-2">
                    <label for="plan" class="search-text">Plan:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="plan" ng-model="filterObjectSearch.Plan" ng-click="showPlanDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Ultimate</option>
                        <option value="12">Humana</option>
                        <option value="13">Coventry</option>
                        <option value="1">Freedom</option>
                    </select>
                </div>
                <div class="form-group col-lg-1">
                    <label for="claim-type" class="search-text">Claim Type:</label>
                    @*<input type="text" class="form-control search-dropdown-input ng-pristine ng-untouched ng-valid" id="claim-type" ng-model="filterObjectSearch.ClaimType" ng-click="showClaimTypeDropdown()">
                    <i class="fa fa-caret-down dropdown-symbol"></i>*@
                    <select multiple style="width:100%">
                        <option value="1">Cap</option>
                        <option value="12">FFS</option>
                        <option value="13">UB04</option>
                    </select>
                </div>
                <div class="form-group col-lg-1">
                    <label for="dos-from" class="search-text">DOS From:</label>
                    <input type="text" class="form-control search-dropdown-input" id="dos-from">
                </div>
                <div class="form-group col-lg-1">
                    <label for="dos-to" class="search-text">DOS To:</label>
                    <input type="text" class="form-control search-dropdown-input" id="dos-to">
                </div>


            </form>
        </div>
    </div>
    <div class="x_panel" style="height:10px;"></div>
    <div class="x-panel">
        <div class="col-lg-2">
            <div class="info-tile tile">
                <div class="tile-heading clearfix">
                    <div class="pull-left"><b>Initiated</b></div>
                    <div class="pull-right"><b><i class="fa fa-hourglass-start"></i></b></div>
                </div>
                <div class="tile-body clearfix">
                    <div class="pull-left">
                        #74,433
                    </div>
                    <div class="pull-right">
                        $542,852,232
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="warning-tile tile">
                <div class="tile-heading clearfix">
                    <div class="pull-left">Received by ch</div>
                    <div class="pull-right"><i class="fa fa-home"></i></div>
                </div>
                <div class="tile-body clearfix">
                    <div class="pull-left">
                        #895,520
                    </div>
                    <div class="pull-right">
                        $963,438,788
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="success-tile tile">
                <div class="tile-heading clearfix">
                    <div class="pull-left">Received by payer</div>
                    <div class="pull-right"><i class="fa fa-group"></i></div>
                </div>
                <div class="tile-body clearfix">
                    <div class="pull-left">
                        #70,859
                    </div>
                    <div class="pull-right">
                        $329,962,000
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="default-tile tile">
                <div class="tile-heading clearfix">
                    <div class="pull-left">Payment received</div>
                    <div class="pull-right"><i class="fa fa-usd"></i></div>
                </div>
                <div class="tile-body clearfix">
                    <div class="pull-left">
                        #96,123
                    </div>
                    <div class="pull-right">
                        $120,300
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="danger-tile tile">
                <div class="tile-heading clearfix">
                    <div class="pull-left">Rejections/OnHolds</div>
                    <div class="pull-right"><i class="fa fa-usd"></i></div>
                </div>
                <div class="tile-body clearfix">
                    <div class="pull-left">
                        #280/#1250
                    </div>
                    <div class="pull-right">
                        $15.76K/$26.82K
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel" style="height:10px;"></div>
    <div class="row" style="height:0px">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="tracking-container"></div>
        </div>
    </div>
    <div class="x_panel" id="Glossy" style="height:650px !important;margin-left:0px">
        <div id="TitleDiv"></div>
        <table id="EDITrackingTable" class="table table-striped table-access-blue margin_bottom_zero editrackingtable">
            <thead><tr class="text-uppercase" id="EDITableHeader"></tr></thead>
            <tbody id="EDITableBody"></tbody>
        </table>
    </div>
</div>
    
<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/underscore-min.js"></script>
<script src="~/Scripts/AppScripts/EDITracking/EDITracking.js"></script>
<script src="~/Scripts/AppScripts/ClaimsDashboard/multiple-select.js"></script>
<script>
    $('select[multiple]').multipleSelect();
</script>