<div class="col-lg-12" style="margin-bottom:10px;">
    <br/>
    <br/>
    <div class="col-lg-3 col-md-3"  >
        <div class="dim tile-danger " >
            <span style="font-size: 182%; align-content: center; " >TOTAL CASES PER DAY</span>
            <hr style="margin-bottom:0px;margin-top:0px;"/><br/>
          <span class="col-lg-12" style="text-align: left; font-size: 14px;">
              <span class="pull-left col-lg-6">CM<br /> Open : 5 <br />Closed : 2</span>
              <span class="pull-left col-lg-6">DM <br />Open : 5<br />Closed : 2</span>
          </span>

        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="dim tile-success ">
            <span style="font-size: 182%; align-content: center; ">TOTAL CASES PER WEEK</span>
            <hr style="margin-bottom:0px;margin-top:0px;" /><br />
            <span class="col-lg-12 col-md-12" style="text-align: left; font-size: 14px;">
                <span class="pull-left col-lg-6 col-md-12">CM<br /> Open : 5 <br />Closed : 2</span>
                <span class="pull-left col-lg-6 col-md-12">DM <br />Open : 5<br />Closed : 2</span>
            </span>

        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="dim tile-warning ">
            <span style="font-size: 182%; align-content: center; ">TOTAL CASES PER MONTH</span>
            <hr style="margin-bottom:0px;margin-top:0px;" /><br />
            <span class="col-lg-12" style="text-align: left; font-size: 14px;">
                <span class="pull-left col-lg-6">CM<br /> Open : 5 <br />Closed : 2</span>
                <span class="pull-left col-lg-6">DM <br />Open : 5<br />Closed : 2</span>
            </span>

        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="dim tile-primary ">
            <span style="font-size: 182%; align-content: center; ">TOTAL CASES PER YEAR</span>
            <hr style="margin-bottom:0px;margin-top:0px;" /><br />
            <span class="col-lg-12" style="text-align: left; font-size: 14px;">
                <span class="pull-left col-lg-6">CM<br /> Open : 5 <br />Closed : 2</span>
                <span class="pull-left col-lg-6">DM <br />Open : 5<br />Closed : 2</span>
            </span>

        </div>
    </div>
</div>
<div class="col-lg-5">
    <div class="panel panel-default">
        <div class="panel-heading" >
            <span  style="font-size: 18px;font-weight:bold">Request Distribution Summary</span>
            <div class="pull-right">
                <a href="javascript:void(0)" class="custom-button text-cyan pull-right" data-toggle="tooltip" data-placement="top" title="Email" data-original-title="Email"><img src="/Resources/Images/Icons/Mail1.ico"></a>
                <a href="javascript:void(0)" class="custom-button text-red pull-right" data-toggle="tooltip" data-placement="top" title="Pdf" data-original-title="Pdf"><img src="/Resources/Images/Icons/pdf1.png"></a>
                <a href="javascript:void(0)" class="custom-button text-success pull-right" data-toggle="tooltip" data-placement="top" title="Save as Image" data-original-title="Save as Image"><img src="/Resources/Images/Icons/GalleryIcon.png"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-offset-4">
                    <button id="weekly_RequestDistribution" class="btn btn-default" onclick="ChangeRequestDistribution('Week');"><b>Weekly</b></button>
                    &nbsp;<button id="monthly_RequestDistribution" onclick="ChangeRequestDistribution('Month');" class="btn btn-default"><b>Monthly</b></button>
                    &nbsp; <button onclick="ChangeRequestDistribution('Year');" class="btn btn-default" id="yearly_RequestDistribution"><b>Yearly</b></button>
                    <button class="btn btn-sm btn-primary pull-right" onclick="ChangeRequestDistributionView(reqDistributionViewVar);" ><i class="fa fa-random" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="x_panel">
                <div id="reqDistributionChart"></div>
            </div>
            <div id="reqDistributionTable">
                <table class="table table-striped" id="reqDistributionTableContent"></table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-5" >
    <div class="panel panel-default">
        <div class="panel-heading" >
            <span style="font-size: 18px;font-weight:bold">Request Conversion Summary</span>
            <div class="pull-right">
                <a href="javascript:void(0)" class="custom-button text-cyan pull-right" data-toggle="tooltip" data-placement="top" title="Email" data-original-title="Email"><img src="/Resources/Images/Icons/Mail1.ico"></a>
                <a href="javascript:void(0)" class="custom-button text-red pull-right" data-toggle="tooltip" data-placement="top" title="Pdf" data-original-title="Pdf"><img src="/Resources/Images/Icons/pdf1.png"></a>
                <a href="javascript:void(0)" class="custom-button text-success pull-right" data-toggle="tooltip" data-placement="top" title="Save as Image" data-original-title="Save as Image"><img src="/Resources/Images/Icons/GalleryIcon.png"></a>
            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-offset-4">
                    <button class="btn btn-default" id="weekly_ConversionSummary" onclick="ChangeRequestConversion('Week');"><b>Weekly</b></button>
                    &nbsp;<button class="btn btn-default" id="monthly_ConversionSummary" onclick="ChangeRequestConversion('Month');"><b>Monthly</b></button>
                    &nbsp; <button class="btn btn-default" id="yearly_ConversionSummary" onclick="ChangeRequestConversion('Year');"><b>Yearly</b></button>
                    <button class="btn btn-sm btn-primary pull-right" onclick="ChangeRequestConversionView(reqConversionViewVar);"><i class="fa fa-random" aria-hidden="true"></i></button>

                </div>
            </div>
            <div class ="x_panel" > 
                <div id="reqConversionChart"></div>
            </div>
            <div   id="reqConversionTable">
                <table class="table table-striped" id="reqConversionTableContent"></table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2" >
    <div class="panel panel-default">
        <div class="panel-heading" >
            <span style="font-size: 18px;font-weight:bold">Recent Interactions</span>
            
        </div>
        <div class="panel-body" style="height: 398px">

        </div>
    </div>
</div>
<div class="row col-lg-12" >
    <div class="col-lg-10" style="  font-family: 'Lucida Grande',Helvetica,Arial,Verdana,sans-serif; font-size: 14px;" >
        @Html.Partial("~/Views/CaseManagement/Dashboard/_InteractionCalendar.cshtml")
    </div>
    <div class="col-lg-2" style="  ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 18px;font-weight:bold">Upcoming Interactions</span>

            </div>
            <div class="panel-body" style="height: 430px; padding-right: 0px; ">

            </div>
        </div>
    </div>
</div>
