

<div class="col-lg-6 zero-padding-left-right">
    <div class="DivHeading pacCoordinatorsHeader zero-padding-left-right">
        Case Management
    </div>
    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_blue">
            <div class="biscuit_heading auth">
                <b>TODAY</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_green">
            <div class="biscuit_heading auth">
                <b>THIS WEEK</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_time">
            <div class="biscuit_heading auth">
                <b>THIS MONTH</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_Sea">
            <div class="biscuit_heading auth">
                <b>THIS YEAR</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

</div>
<div class="col-lg-6 zero-padding-left-right">
    <div class="DivHeading pacCoordinatorsHeader zero-padding-left-right">
        Disease Management
    </div>
    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_blue">
            <div class="biscuit_heading auth">
                <b>TODAY</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_green">
            <div class="biscuit_heading auth">
                <b>THIS WEEK</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_time">
            <div class="biscuit_heading auth">
                <b>THIS MONTH</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>

    <div class="col-lg-3 zero-padding-left-right">
        <button class="biscuit biscit_outerColor_Sea">
            <div class="biscuit_heading auth">
                <b>THIS YEAR</b>

            </div>
            <div class="biscuit_body">
                <div class="col-sm-4 padding_5">Open<br> <span class="text-center center_count_small"><small>#</small>200</span></div>
                <div class="col-sm-4 padding_5">Closed<br> <span class="text-center center_count_small"><small>#</small>90</span></div>
                <div class="col-sm-4 padding_5">Total<br> <span class="text-center center_count_small"><small>#</small>290</span></div>
            </div>
        </button>
    </div>
</div>



<div class="col-lg-12 zero-padding-left-right">
    <ul class="graph_sortable zero-padding-left-right" id="sortable" style="padding-left: 0px;">

        <li class="ui-state-default info_border" id="chart1" style="width: 48.7537%; margin-left: 8px; ">
            <div class="c_panel" id="Referrals">
                <div class="small_view" style="display: block;">

                    <div class="c_panel_header clearfix">
                        <label>Request Distribution Summary </label>
                        <a class="pull-right detail_btn btn-xs margin_top_5" id="Show_Detailed_Report_Refferral"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                        <span class="smallview_icons pull-right">
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table drag_btn_drop table_drag_btn" data-toggle="tooltip" data-placement="bottom" title="Drag the Report">
                                <img src="~/Resources/Images/Icons/drag.png" />
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_print_btn" data-toggle="tooltip" data-placement="bottom" title="Print">
                                <img src="/Resources/Images/Icons/print_icon.png">
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_pdf_btn" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
                                <img src="~/Resources/Images/Icons/pdf1.png" />
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_img_btn" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
                                <img src="/Resources/Images/Icons/GalleryIcon.png" />
                            </a>
                        </span>
                    </div>
                    <div class="c_panel_body" id="barGraph">

                        <div class="row">

                            <div class="col-lg-offset-4 btn-group" role="group" aria-label="...">
                                <button id="weekly_RequestDistribution" class="btn btn-default" onclick="ChangeRequestDistribution('Week');"><b>Weekly</b></button>
                                <button id="monthly_RequestDistribution" onclick="ChangeRequestDistribution('Month');" class="btn btn-default"><b>Monthly</b></button>
                                <button onclick="ChangeRequestDistribution('Year');" class="btn btn-default" id="yearly_RequestDistribution"><b>Yearly</b></button>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div id="reqDistributionChart"></div>
                        </div>

                    </div>
                </div>

            </div>
        </li>
        <li class="ui-state-default success_border" id="chart2" style="margin-left: 1px; width: 49.7537%; margin-left: 3px; ">
            <div class="c_panel" id="PeerProcessTime">
                <div class="small_view">

                    <div class="c_panel_header clearfix">
                        <label>Request Conversion Summary</label>



                        <a class="pull-right detail_btn btn-xs margin_top_5" id="Show_Detailed_Report_PPT"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                        <span class="smallview_icons pull-right">
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table drag_btn_drop table_drag_btn" data-toggle="tooltip" data-placement="bottom" title="Drag the Report">
                                <img src="~/Resources/Images/Icons/drag.png" />
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_print_btn" data-toggle="tooltip" data-placement="bottom" title="Print">
                                <img src="/Resources/Images/Icons/print_icon.png">
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_pdf_btn" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
                                <img src="~/Resources/Images/Icons/pdf1.png" />
                            </a>
                            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_img_btn" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
                                <img src="/Resources/Images/Icons/GalleryIcon.png" />
                            </a>
                        </span>

                    </div>
                    <div class="c_panel_body">

                        <div class="row">

                            <div class="col-lg-offset-4 btn-group" role="group" aria-label="...">
                                <button class="btn btn-default" id="weekly_ConversionSummary" onclick="ChangeRequestConversion('Week');"><b>Weekly</b></button>
                                <button class="btn btn-default" id="monthly_ConversionSummary" onclick="ChangeRequestConversion('Month');"><b>Monthly</b></button>
                                <button class="btn btn-default" id="yearly_ConversionSummary" onclick="ChangeRequestConversion('Year');"><b>Yearly</b></button>

                            </div>
                        </div>
                        <div class="x_panel">
                            <div id="reqConversionChart"></div>
                        </div>
                        <div id="reqConversionTable">
                            <table class="table table-striped" id="reqConversionTableContent"></table>
                        </div>

                    </div>
                </div>

            </div>
        </li>

    </ul>
</div>


<div class="col-lg-12">
    <br />
</div>

<div class="col-lg-12 zero-padding-left-right">

    <div class="col-lg-6 zero-padding-left-right">

        <div class="md-card">
            <div id="clndr_events" class="clndr-wrapper">

            </div>

        </div>

    </div>


    <div class="col-lg-3">
        <ul class="graph_sortable zero-padding-left-right" id="sortable" style="padding-left: 0px;">

            <li class="ui-state-default info_border" id="chart1" style="width: 100%;">
                <div class="c_panel" id="Referrals">
                    <div class="small_view" style="display: block;">

                        <div class="c_panel_header clearfix">
                            <label>Recent Interactions</label>
                        </div>
                        <div class="c_panel_body" style="height:340px;overflow-x:auto">

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">23</p>
                                    </div>

                                    <br>
                                    <div><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</div>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Jenn M Stone</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39457<br>Episode # : UL39862</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">24</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 7:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Turner Eric</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39458<br>Episode # : UL39863</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39453 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Follow Up</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">25</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 3:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Brooks Mark</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39459<br>Episode # : UL39864</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39454 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">26</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 2:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Julie Rebecca</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39460<br>Episode # : UL39866</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39439 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">27</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 1:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Matthew Roy</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39698<br>Episode # : UL39462</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39952 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">28</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 4:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Hansen Walter</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39857<br>Episode # : UL39362</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL38452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f;">
                                        <p class="month">Aug</p>
                                        <p class="day">29</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 9:00 AM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">King Willie</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL32457<br>Episode # : UL29862</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL36452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Reason :&nbsp; Need Assistance</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>


                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>

    <div class="col-lg-3">
        <ul class="graph_sortable zero-padding-left-right" id="sortable" style="padding-left: 0px;">

            <li class="ui-state-default success_border" id="chart1" style="width: 100%;">
                <div class="c_panel" id="Referrals">
                    <div class="small_view" style="display: block;">

                        <div class="c_panel_header clearfix">
                            <label>Upcoming Interactions</label>
                        </div>
                        <div class="c_panel_body" style="height:340px;overflow-x:auto">

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">23</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Jenn M Stone</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39457<br>Episode # : UL39862</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">24</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Turner Eric</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39458<br>Episode # : UL39863</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39453 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">25</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Brooks Mark</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39459<br>Episode # : UL39864</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39454 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">26</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Julie Rebecca</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39460<br>Episode # : UL39866</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39439 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">27</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Matthew Roy</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39698<br>Episode # : UL39462</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL39952 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">28</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">Hansen Walter</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL39857<br>Episode # : UL39362</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL38452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>

                            <article class="media event">
                                <div class="col-lg-2" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="pull-left date" style="margin-left: 4px; cursor: pointer; background-color: #41547f; ">
                                        <p class="month">Sept</p>
                                        <p class="day">29</p>
                                    </div>

                                    <br>
                                    <strong><i class="fa fa-clock-o" style="color: #ED5565;"></i> 5:00 PM</strong>


                                </div>
                                <div class="col-lg-10 zero-padding-left-right" style="padding-right: 0px;">
                                    <div class="col-lg-12">
                                        <div class="auth pull-left">
                                            <strong style="font-size: larger;">King Willie</strong>
                                        </div>

                                    </div>
                                    <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                                        <div class="col-lg-6" style="padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">MBR # : UL32457<br>Episode # : UL29862</div>
                                        </div>
                                        <div class="col-lg-6" style=" padding-right: 0px;">
                                            <div class="padding_5" style="padding-left: 0px;padding-right: 0px;">Case #: UL36452 <br>Duration : 1 hr</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <strong>Last Interacted :&nbsp; 12/08/2016</strong>
                                        <a href="#" style="color: #337ab7;"><u class="pull-right">View More</u></a>
                                    </div>
                                </div>
                            </article>

                            <div style="border-bottom: 2px solid grey; margin-bottom: -7px; margin-top: 7px;"></div>


                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>


<div class="col-lg-12">
    <br />
</div>

<style>
    .pacCoordinatorsHeader {
        text-align: center;
        text-transform: uppercase;
        background: #455c73;
        /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
        /*background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);*/
        color: #fff;
        margin: 1% 1% 2% 1%;
        width: 98%;
    }

    button.biscuit {
        min-height: 96px;
        min-width: 10px;
        width: 100%;
        height: 100%;
        display: inline-block;
        text-decoration: none;
        text-transform: none;
        position: relative;
        cursor: pointer;
        border-radius: 2px;
        font-weight: 600;
        margin-bottom: 20px !important;
        white-space: normal;
        cursor: pointer;
        outline: none;
        padding: 0px;
        transition: all 0.3s linear;
    }

        button.biscuit:hover {
            color: #fff;
            transition: all 0.3s linear;
        }

        button.biscuit:active {
            transform: translateY(4px);
            transition: all 0.3s linear;
        }

    .biscuit_heading {
        font-size: 8px;
        font-weight: 600;
    }

    .biscuit_body {
        font-size: 12px;
        font-weight: 300;
    }

    /* green biscuit */
    .biscit_outerColor_green {
        color: #43a047;
        background-color: #fff;
        border: 1px solid #43a047;
        box-shadow: inset 0 0 0 #1b5e20, 0 5px 0 0 #1b5e20, 0 5px 5px #999;
    }

        .biscit_outerColor_green:hover {
            background-color: #43a047;
        }

        .biscit_outerColor_green:active {
            background-color: #43a047;
            box-shadow: 0 5px #1b5e20;
            transform: translateY(4px);
        }

    /* blue Biscuit*/
    .biscit_outerColor_blue {
        color: #0288d1;
        background-color: #fff;
        border: 1px solid #0288d1;
        box-shadow: inset 0 0 0 #01579b, 0 5px 0 0 #01579b, 0 5px 5px #999;
    }

        .biscit_outerColor_blue:hover {
            background-color: #0288d1;
        }

        .biscit_outerColor_blue:active {
            background-color: #0288d1;
            box-shadow: 0 5px #01579b;
            transform: translateY(4px);
        }

    /* Sea Biscuit*/
    .biscit_outerColor_Sea {
        color: #009973;
        background-color: #fff;
        border: 1px solid #009973;
        box-shadow: inset 0 0 0 #00664d, 0 5px 0 0 #00664d, 0 5px 5px #999;
    }

        .biscit_outerColor_Sea:hover {
            background-color: #009973;
        }

        .biscit_outerColor_Sea:active {
            background-color: #009973;
            box-shadow: 0 5px #00664d;
            transform: translateY(4px);
        }




    /* process time biscuit*/
    .biscit_outerColor_time {
        color: #18758f;
        background-color: #fff;
        border: 1px solid #18758f;
        box-shadow: inset 0 0 0 #044557, 0 5px 0 0 #044557, 0 5px 5px #999;
    }

        .biscit_outerColor_time:hover {
            background-color: #18758f;
        }

        .biscit_outerColor_time:active {
            background-color: #18758f;
            box-shadow: 0 5px #044557;
            transform: translateY(4px);
        }


    .zeroPaddingOuter {
        padding: 0px;
    }

    .padding_5px {
        padding-left: 5px;
        padding-right: 5px;
    }


    /* for reports */


    .graph_sortable {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        /* height: 708px; */
        display: block;
        overflow: hidden;
        position: relative;
    }

        .graph_sortable li {
            float: left;
            width: 49%;
            /*height: 669px;*/
            padding: 2px;
            content: '';
            margin: 2px;
            border: 0px;
        }

            .graph_sortable li .c_panel {
                height: 100%;
                background: #ffffff;
            }

                .graph_sortable li .c_panel .c_panel_header {
                    padding: 2px;
                }

                    .graph_sortable li .c_panel .c_panel_header label {
                        font-size: 15px;
                        font-weight: 400;
                        margin-left: 12px;
                    }

                .graph_sortable li .c_panel .c_panel_body {
                    padding: 2px;
                }


    .zeroPaddingTop {
        padding-top: 0px;
    }

    .table_hearder_DR {
        background: #708bb8;
        color: white;
    }

    .width_3 {
        position: relative;
        min-height: 607px;
    }

    .make_center {
        font-size: 30px;
        position: absolute;
        top: 40%;
        transition: all 500ms ease;
    }

    .font_weight {
        font-weight: 300;
    }

    .Info > span {
        padding-left: 3px;
        padding-right: 2px;
    }


    .margin_left_fix {
        margin-left: 1.5%;
    }

    .margin_left_10px {
        margin-left: 10px;
    }

    .margin_top_5 {
        margin-top: 5px !important;
    }

    .left_chev a, .right_chev a {
        color: #1a6f03 !important;
        transition: all 1s ease;
    }

    .left_chev, .right_chev {
        background-color: rgba(1, 196, 255, 0.10);
        font-weight: 900;
        font-size: 20px;
        transition: all 1s ease;
    }

        .left_chev:hover, .right_chev:hover {
            cursor: pointer;
            background-color: rgba(1, 196, 255, 0.85);
            color: white !important;
        }

            .left_chev:hover a, .right_chev:hover a {
                cursor: pointer;
                color: white !important;
            }


    .biscuit_heading.auth {
        position: relative;
        margin-top: -5px;
        font-weight: 300;
    }

    .center_count {
        font-size: 20px;
        font-weight: 500;
        line-height: 10px;
    }

    .center_count_small {
        font-size: 16px;
        font-weight: 500;
        line-height: 10px;
    }

    .biscuit_heading.pt {
        position: relative;
        margin-top: -5px;
        font-weight: 300;
    }

    .small_mins {
        font-size: 50%;
        font-weight: 300;
    }

    /*.padding_5 {
        padding-left: 5px;
        padding-right: 5px;
    }*/

    .DivHeading {
        font-size: 14px;
        font-weight: bold;
    }

    .myqueueDiv {
        border-left: 1px dashed blue;
        border-right: 1px dashed blue;
    }


    .centerDiv {
        top: 50px;
        z-index: 1;
        position: fixed;
        width: 30%;
        height: 50px;
        background: rgb(30,87,153);
        background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 13%, rgba(30,87,153,1) 13%, rgba(32,124,202,1) 40%, rgba(32,124,202,1) 40%, rgba(41,137,216,1) 60%, rgba(30,87,153,1) 89%, rgba(30,87,153,1) 89%, rgba(30,87,153,1) 98%, rgba(30,87,153,1) 98%, rgba(32,124,202,1) 99%, rgba(125,185,232,1) 100%, rgba(125,185,232,1) 100%, rgba(125,185,232,1) 101%);
        background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 13%,rgba(30,87,153,1) 13%,rgba(32,124,202,1) 40%,rgba(32,124,202,1) 40%,rgba(41,137,216,1) 60%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 98%,rgba(30,87,153,1) 98%,rgba(32,124,202,1) 99%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 101%);
        background: linear-gradient(45deg, rgba(30,87,153,1) 13%,rgba(30,87,153,1) 13%,rgba(32,124,202,1) 40%,rgba(32,124,202,1) 40%,rgba(41,137,216,1) 60%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 89%,rgba(30,87,153,1) 98%,rgba(30,87,153,1) 98%,rgba(32,124,202,1) 99%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 100%,rgba(125,185,232,1) 101%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
        /*display:none;
             transition: all 1s linear;*/
    }

        .centerDiv:hover {
            cursor: pointer;
        }

        .centerDiv:active {
            transform: translateY(4px);
            transition: all 300ms ease;
        }

    .clamp_left, .clamp_right {
        top: -20.5% !important;
    }

    .clamp_left {
        left: 1.45% !important;
    }

    .left_hole_mod, .right_hole_mod {
        top: 16%;
    }

    .left_hole_mod {
        left: 1% !important;
    }

    .right_hole_mod {
        left: 97.4% !important;
    }






    .colorContent {
        color: white;
        padding-right: 30px;
    }

    .padding-top_10 {
        padding-top: 10px;
    }

    .labelname {
        font-size: 15px;
        white-space: nowrap;
    }

    .margin_right {
        margin-right: 10px;
    }

    .labelHeader {
        line-height: 15px;
    }

    .bigCount {
        font-size: 25px;
        line-height: 34px;
    }

    .myqueueHeader {
        text-align: center;
        text-transform: uppercase;
        background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
        color: #fff;
        margin: 1% 1% 2% 1%;
        width: 98%;
    }


    .totalAuthsHeader {
        text-align: center;
        text-transform: uppercase;
        background: radial-gradient(circle at 1.98% 89.01%,#5c676f,transparent 100%),radial-gradient(circle at 98.02% 21.98%,#5f7f96,transparent 100%),radial-gradient(circle at 50% 50%,#0cc285,#0cc285 100%);
        color: #fff;
        margin: 1% 1% 2% 1%;
        width: 98%;
    }





    .colorContent {
        padding-right: 10px;
    }

    .labelHeader {
        font-size: 10px;
    }

    }



    .colorContent {
        padding-right: 15px;
    }

    .labelHeader {
        font-size: 12px;
    }

    .date_today {
        font-size: 20px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 20px;
    }

    .labelHeader {
        font-size: 12px;
    }

    .biscuit_heading.auth, .biscuit_heading.pt {
        font-size: 14px;
    }

    .padding_5 {
        padding-left: 0;
        padding-right: 0;
        font-size: 8px;
    }

    .small_minutes {
        display: block;
    }

    .minsSmall {
        display: none;
    }

    .leftDivFloat {
        position: relative;
        float: left;
    }

        .leftDivFloat > div {
            float: left;
        }

    .displayatMediam {
        display: block;
        line-height: 30px;
    }


    .date_today {
        font-size: 25px;
        font-weight: 300;
        color: whitesmoke;
        line-height: 18px;
    }

    .colorContent {
        padding-right: 20px;
    }

    .labelHeader {
        font-size: 16px;
    }

    .biscuit_heading.auth, .biscuit_heading.pt {
        font-size: 20px;
    }

    .padding_5 {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    .small_minutes {
        display: none;
    }

    .minsSmall {
        display: block;
    }

    .leftDivFloat {
        position: relative;
        float: left;
    }

        .leftDivFloat > div {
            float: left;
        }

    .displayatMediam {
        display: none;
    }


    .smallview_icons {
        position: relative;
        display: none;
        transition: all 1s linear;
    }

        .smallview_icons > a {
        }

    .small_view:hover .smallview_icons {
        display: inline;
    }

    .info_border {
        border-top: 2px solid #2bbce0 !important;
    }

    .success_border {
        border-top: 2px solid #5f932c !important;
    }

    .drag_btn_drop:hover {
        cursor: move;
    }

    .checkboxDiv {
        position: absolute;
        right: 0px;
        top: 4px;
        z-index: 1;
        width: 30%;
    }
</style>

<p-link filepath="~/Content/AppCss/CaseManagement/CMDashboard.css"></p-link>
<p-script filepath="~/Scripts/AppScripts/CaseManagement/CMDashboard.js"></p-script>

@*<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>*@

<p-script filepath="~/Scripts/LibScripts/FullCalendarJs/index.js"></p-script>




<script id="clndr_events_template" type="text/x-handlebars-template">
    <div class="md-card-toolbar">
        <div class="md-card-toolbar-actions pull-right" style="padding-top: 6px;">
            @*<i class="md-icon clndr_add_event material-icons">&#xE145;</i>*@
            <i class="md-icon clndr_today fa fa-calendar-plus-o"></i>
            <i class="md-icon clndr_previous fa fa-caret-left"></i>
            <i class="md-icon clndr_next fa fa-caret-right uk-margin-remove"></i>
        </div>
        <h3 class="md-card-toolbar-heading-text">
            {{ month }} {{ year }}
        </h3>
    </div>
    <div class="clndr_days">
        <div class="clndr_days_names">
            {{#each daysOfTheWeek}}
            <div class="day-header">{{ this }}</div>
            {{/each}}
        </div>
        <div class="clndr_days_grid">
            {{#each days}}
            <div class="{{ this.classes }}" id="{{ this.id }}">
                <span>{{ this.day }}</span>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="clndr_events">
        <i class="fa fa-times fa-1x clndr_events_close_button"></i>
        {{#each eventsThisMonth}}
        <div class="clndr_event" data-clndr-event="{{ dateFormat this.date format='YYYY-MM-DD' }}">
            <div style="cursor:pointer">
                <span class="clndr_event_title">{{ this.title }}</span>
                <span class="clndr_event_more_info">
                    {{~dateFormat this.date format='MMM Do'}}
                    {{~#ifCond this.timeStart '||' this.timeEnd}} ({{/ifCond}}
                    {{~#if this.timeStart }} {{~this.timeStart~}} {{/if}}
                    {{~#ifCond this.timeStart '&&' this.timeEnd}} - {{/ifCond}}
                    {{~#if this.timeEnd }} {{~this.timeEnd~}} {{/if}}
                    {{~#ifCond this.timeStart '||' this.timeEnd}}){{/ifCond~}}
                </span>
            </div>
        </div>
        {{/each}}
    </div>
</script>