@*<div class="panel-group" id="accordionedu" role="tablist" aria-multiselectable="true">*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="educationHeading">
            <a data-toggle="collapse" data-parent="#accordionProviderInfo" href="#edu" aria-expanded="false" aria-controls="edu">
                Education
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="edu" class="panel-collapse collapse" role="tabpanel" aria-labelledby="educationHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label>Type Of Education</label>
                            <div>
                                <label class="control-label small">Fellowship</label>
                            </div>                           
                        </div>
                        <div class="col-md-4">
                            <label>Name</label>
                            <div>
                                <label class="control-label small">SUDHIR AGARWAL</label>
                            </div>   
                        </div>                       
                        <div class="col-md-4">
                            <label>State</label>
                            <div>
                                <label class="control-label small">Rajasthan</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Degree</label>
                            <div>
                                <label class="control-label small">Medical</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Year From</label>
                            <div>
                                <label class="control-label small">1960</label>
                            </div>   
                        </div>
                        <div class="col-md-4">
                            <label>Year To</label>
                            <div>
                                <label class="control-label small">1965</label>
                            </div>   
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="~/Content/Document/ATTESTATIONOFSITEVISIT.pdf" target="_blank"><i class="fa fa-2x fa-file-o"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
@*</div>*@


