@*<div class="panel-group" id="accordionProviderInfo1" role="tablist" aria-multiselectable="true">*@
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="PIHeading">
            <a data-toggle="collapse" data-parent="#accordionProviderInfo" href="#PI" aria-expanded="false" aria-controls="PI">
              Provider Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="PI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="PIHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label >First Name</label>
                            <div>
                                <label class="control-label small">SUDHIR</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Middle Name</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Last Name</label>
                            <div>
                                <label class="control-label small">AGARWAL</label>
                            </div>
                        </div>
                        </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>Gender</label>
                            <div>
                                <label class="control-label small">Male</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label >Maiden Name(If Applies)</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Degree</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>Date Of Birth</label>
                            <div>
                                <label class="control-label small">12/1/1955</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Place Of Birth</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Country</label>
                            <div>
                                <label class="control-label small">India</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>US Citizen</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>SS</label>
                            <div>
                                <label class="control-label small">547-83-6225</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>NPI</label>
                            <div>
                                <label class="control-label small">-</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>TaxID</label>
                            <div>
                                <label class="control-label small">592909208</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Telephone</label>
                            <div>
                                <label class="control-label small">+91 9963258741</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fax</label>
                            <div>
                                <label class="control-label small">+91 854621397</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="form-group col-md-4">
                            <label>Cell</label>
                            <div>
                                <label class="control-label small">+91 741256389</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Email</label>
                            <div>
                                <label class="control-label small">sudhir@care.com</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Back Line</label>
                            <div>
                                <label class="control-label small">+91 451236489</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-lg-4">
                            <label class="control-label small">State</label>
                            <div>
                                <label class="control-label small">Florida</label>
                            </div>                           
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label small">City</label>
                            <div>
                                <label class="control-label small">Putnam</label>
                            </div> 
                        </div>
                        <div class="col-md-4">
                            <label>Street</label>
                            <div>
                                <label class="control-label small">Nice Road</label>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label class="control-label small">Zip</label>
                            <div>
                                <label class="control-label small">560039</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Medicare</label>
                            <div>
                                <label class="control-label small">23069</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label small">UPIN</label>
                            <div>
                                <label class="control-label small">F63789</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>Accept Medicaid?</label>
                            <div>
                                <label class="control-label small">Yes</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Medicaid</label>
                            <div>
                                <label class="control-label small">23069</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>ECFMG</label>
                            <div>
                                <label class="control-label small">761147692</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div class="col-md-4">
                            <label>CAQH</label>
                            <div>
                                <label class="control-label small">476927611</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Language Spoken</label>
                            <div>
                                <label class="control-label small">English</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Ethnicity(optional)</label>
                            <div>
                                <label class="control-label small"></label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />                   
                </div>
            </div>
        </div>
    </div>
@*</div>*@

