
@{
    ViewBag.Title = "Managemnet Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <style>
        .zero-padding-left-right {
            padding-left: 3px;
            padding-right: 3px;
        }

        .margin_top_6px {
            margin-top: 6px;
        }

        button.biscuit {
            min-height: 75px;
            min-width: 10px;
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-transform: none;
            border-radius: 2px;
            font-weight: 600;
            margin-bottom: 20px !important;
            white-space: normal;
            cursor: pointer;
            outline: 0;
            padding: 0;
            transition: all .3s linear;
        }

        button.biscuit {
            position: relative;
            display: inline-block;
        }


            button.biscuit.biscit_outerColor_blue {
                color: #0288d1;
                background-color: #fff;
                border: 1px solid #0288d1;
                box-shadow: inset 0 0 0 #01579b, 0 5px 0 0 #01579b, 0 5px 5px #999;
            }

                button.biscuit.biscit_outerColor_blue:hover {
                    background-color: #0288d1;
                    color: #fff;
                    transition: all .3s linear;
                }

                button.biscuit.biscit_outerColor_blue.active {
                    color: #fff;
                    background-color: #0288d1;
                    box-shadow: 0 5px #01579b;
                    transform: translateY(4px);
                }

            button.biscuit.biscit_outerColor_green {
                color: #43a047;
                background-color: #fff;
                border: 1px solid #43a047;
                box-shadow: inset 0 0 0 #1b5e20, 0 5px 0 0 #1b5e20, 0 5px 5px #999;
            }

                button.biscuit.biscit_outerColor_green:hover {
                    background-color: #43a047;
                    color: #fff;
                    transition: all .3s linear;
                }

                button.biscuit.biscit_outerColor_green.active {
                    color: #fff;
                    background-color: #43a047;
                    box-shadow: 0 5px #1b5e20;
                    transform: translateY(4px);
                }


            button.biscuit.biscit_outerColor_time {
                color: #18758f;
                background-color: #fff;
                border: 1px solid #18758f;
                box-shadow: inset 0 0 0 #044557, 0 5px 0 0 #044557, 0 5px 5px #999;
            }

                button.biscuit.biscit_outerColor_time:hover {
                    background-color: #18758f;
                    color: #fff;
                    transition: all .3s linear;
                }

                button.biscuit.biscit_outerColor_time.active {
                    color: #fff;
                    background-color: #18758f;
                    box-shadow: 0 5px #044557;
                    transform: translateY(4px);
                }

            button.biscuit.biscit_outerColor_Sea {
                color: #009973;
                background-color: #fff;
                border: 1px solid #009973;
                box-shadow: inset 0 0 0 #00664d, 0 5px 0 0 #00664d, 0 5px 5px #999;
            }

                button.biscuit.biscit_outerColor_Sea:hover {
                    background-color: #009973;
                    color: #fff;
                    transition: all .3s linear;
                }

                button.biscuit.biscit_outerColor_Sea.active {
                    color: #fff;
                    background-color: #009973;
                    box-shadow: 0 5px #00664d;
                    transform: translateY(4px);
                }

            button.biscuit .biscuit_heading.auth, button.biscuit .biscuit_heading.pt {
                font-size: 20px;
            }

            button.biscuit .biscuit_heading {
                font-size: 8px;
                font-weight: 600;
            }

                button.biscuit .biscuit_heading.auth {
                    position: relative;
                    margin-top: 8px;
                    font-weight: 300;
                    margin-left: 38px;
                }

            button.biscuit .biscuit_body {
                font-size: 12px;
                font-weight: 300;
            }

            button.biscuit .iconspace {
                margin-top: -24px;
                margin-left: 8px;
            }

            button.biscuit .datasize {
                margin-left: 142px;
                margin-top: -28px;
                font-size: 24px;
            }

        .padding_5 {
            font-size: 12px;
        }

        .padding_5, .padding_5px {
            padding-left: 5px;
            padding-right: 5px;
        }

        button.biscuit1 {
            min-height: 75px;
            min-width: 10px;
            width: 100%;
            height: 100%;
            text-decoration: none;
            text-transform: none;
            border-radius: 2px;
            font-weight: 600;
            margin-bottom: 20px !important;
            white-space: normal;
            cursor: pointer;
            outline: 0;
            padding: 0;
            transition: all .3s linear;
        }

        .biscuit1 {
            position: relative;
            display: inline-block;
        }

            .biscuit1 .biscuit_body {
                font-size: 15px;
                font-weight: 300;
                margin-left: 5px;
                margin-bottom: 5px;
            }

            .biscuit1.biscit_outerColor_default {
                color: #333;
                background-color: #fff;
                border: 1px solid #0288d1;
                cursor: default;
            }

            .biscuit1 .biscuit_heading.auth, button.biscuit .biscuit_heading.pt {
                font-size: 16px;
            }

            .biscuit1 .biscuit_heading {
                font-size: 8px;
                font-weight: 600;
            }

                .biscuit1 .biscuit_heading.auth {
                    position: relative;
                    margin-top: 5px;
                    font-weight: 300;
                }

            .biscuit1 .datasize {
                margin-top: 5px;
                text-align: left;
            }

        .single_dual.notActive {
            color: #3276b1;
            background-color: #fff;
            background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
        }

        .provider_active.notActive {
            color: #3276b1;
            background-color: #fff;
            background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
        }
        .form-style fieldset{
                padding: 5px;
        }
        .form-style fieldset legend{
            margin-left:20px;
        }
        .legend2{
            margin-top: -30px;
            margin-right: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />

    <script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="~/Scripts/Lib/Angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <script src="~/Scripts/Prototypes/ManagementDashboard.js"></script>

    <script>
        $(document).ready(function () {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
            $("#sidemenu").addClass("menu-in");
            $("#page-wrapper").addClass("menuup");
            $(".ProviderTypeSelectAutoList").hide();
        });
    </script>
}

<div id="page-wrapper" ng-app="MDApp" ng-controller="MDController" style="margin-top: 60px;">
    <div class="col-lg-12 zero-padding-left-right margin_top_6px">
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button ng-click="GetAll();" class="biscuit biscit_outerColor_blue">
                <div class="biscuit_heading auth">
                    <b>All Providers</b>
                </div>
                <div class="biscuit_body">
                    <div class="col-xs-5 padding_5">
                        <div class="pull-left iconspace">
                            <i class="fa fa-4x fa-users"></i>
                        </div>
                    </div>
                    <div class="col-xs-5 datasize">
                        <b>212</b>
                    </div>
                    <div class="col-xs-2 padding_5"></div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button ng-click="GetMidLevels();" class="biscuit biscit_outerColor_green">
                <div class="biscuit_heading auth">
                    <b>New Added</b>
                </div>
                <div class="biscuit_body">
                    <div class="col-xs-5 padding_5">
                        <div class="pull-left iconspace">
                            <i class="fa fa-4x fa-user"></i>
                        </div>
                    </div>
                    <div class="col-xs-5 datasize">
                        <b>70</b>
                    </div>
                    <div class="col-xs-2 padding_5"></div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button ng-click="GetPCPs();" class="biscuit biscit_outerColor_time">
                <div class="biscuit_heading auth">
                    <b>PCPs</b>
                </div>
                <div class="biscuit_body">
                    <div class="col-xs-5 padding_5">
                        <div class="pull-left iconspace">
                            <i class="fa fa-4x fa-user-md"></i>
                        </div>
                    </div>
                    <div class="col-xs-5 datasize">
                        <b>60</b>
                    </div>
                    <div class="col-xs-2 padding_5"></div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button ng-click="GetSpecialities(2);" class="biscuit biscit_outerColor_Sea">
                <div class="biscuit_heading auth">
                    <b>Specialists</b>
                </div>
                <div class="biscuit_body">
                    <div class="col-xs-5 padding_5">
                        <div class="pull-left iconspace">
                            <i class="fa fa-4x fa-user-md"></i>
                        </div>
                    </div>
                    <div class="col-xs-5 datasize">
                        <b>45</b>
                    </div>
                    <div class="col-xs-2 padding_5"></div>
                </div>
            </button>
        </div>
    </div>

    <div class="col-lg-12 zero-padding-left-right margin_top_6px">
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button class="biscuit1 biscit_outerColor_default">
                <div class="biscuit_heading auth">
                    <b>CREDENTIALING</b>
                </div>
                <div class="biscuit_body">
                    <div class="datasize">
                        Total Provider: 523
                    </div>
                    <div class="datasize">
                        Credentialing Completed: 320
                    </div>
                    <div class="datasize">
                        Completion Rate: 60%
                    </div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button class="biscuit1 biscit_outerColor_default">
                <div class="biscuit_heading auth">
                    <b>PSV</b>
                </div>
                <div class="biscuit_body" style="margin-bottom: 0px;">
                    <div class="datasize" style="margin-top: 0px;">
                        PSV Performed: 105
                    </div>
                    <div class="datasize" style="margin-top: 0px;">
                        New Initiation: 50
                    </div>
                    <div class="datasize" style="margin-top: 0px;">
                        Total Rejected: 35
                    </div>
                    <div class="datasize" style="margin-top: 0px;">
                        Pending: 30
                    </div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button class="biscuit1 biscit_outerColor_default">
                <div class="biscuit_heading auth">
                    <b>CONTRACTING</b>
                </div>
                <div class="biscuit_body">
                    <div class="datasize">
                        Total Contracts: 149
                    </div>
                    <div class="datasize">
                        Active Contracts: 79
                    </div>
                    <div class="datasize">
                        Inactive Contracts: 70
                    </div>
                </div>
            </button>
        </div>
        <div class="col-sm-3 col-xs-6 zero-padding-left-right">
            <button class="biscuit1 biscit_outerColor_default">
                <div class="biscuit_heading auth">
                    <b>INSURANCE CONTRACTING</b>
                </div>
                <div class="biscuit_body">
                    <div class="datasize">
                        Total Contracts: 58
                    </div>
                    <div class="datasize">
                        Active Contracts: 45
                    </div>
                    <div class="datasize">
                        Inactive Contracts: 13
                    </div>
                </div>
            </button>
        </div>
    </div>

    <div class="col-md-8 zero-padding-left-right">
        <div ng-show="!LicenseType" class="col-lg-12 zero-padding-left-right">
            <div class="form-style">
                <fieldset style="padding-bottom: 10px;">
                    <legend>
                        EXPIRIES
                    </legend>
                    <div class="legend2 pull-right">
                        <button ng-click="GetLicenseTypeData(LicenseData[0])" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="top" title="Table View"><i class="fa fa-table"></i></button>
                    </div>
                    <div class="col-lg-12 zero-padding-left-right-div">
                        <div id="licenseStatusChart"></div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div ng-show="LicenseType" class="col-lg-12 zero-padding-left-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-check fa-fw"></i> Upcoming Renewals
                    <div class="pull-right">
                        <form class="form-inline">
                            <div class="form-group">
                                <label style="font-weight: normal;">Total Count : {{GrandTotalLicenses}}</label>
                            </div>
                            <div class="form-group" style="margin-top:-5px;">
                                <span class="input-group">
                                    <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                                    <input ng-change="getDataAccordingDays(newday)" type="text" class="form-control input-sm" placeholder="Enter days" ng-model="newday" />
                                </span>
                            </div>
                            <button class="btn btn-xs btn-danger" style="margin-top: -5px;" ng-disabled="disabled" tooltip data-toggle="tooltip" data-placement="top" title="Export To PDF" ng-click="GeneratePDF()"><i class="fa fa-file-pdf-o"></i></button>
                            <button class="btn btn-circle btn-info btn-xs" style="margin-top: -9px;"><i class="fa fa-question"></i></button>
                            <button ng-click="LicenseType = null;" class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="top" title="Chart View"><i class="fa fa-bar-chart"></i></button>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <style>
                        .renewals.active {
                            background-color: #DADADA;
                        }
                        .yellow {
                            background-color: #B8860B !important;
                        }

                        .orange {
                            background-color: orange !important;
                        }

                        .purple {
                            background-color: purple !important;
                        }

                        .blue {
                            background-color: blue !important;
                        }
                        .pagination{
                            margin:0px;
                        }
                    </style>

                    <ul class="nav nav-tabs" style="border-bottom: 0px;">
                        <li ng-repeat="ld in LicenseData track by $index">
                            <a class="renewals pointer" ng-class="{active:LicenseType == ld.LicenseType}" style="padding:5px;">
                                <span ng-click="GetLicenseTypeData(ld)">{{ld.LicenseType}}</span>
                                <span ng-if="ld.LicenseStatus.ExpiredLicense" ng-click="GetLicenseTypeData(ld,'<0')" class="label label-danger" data-toggle="tooltip" data-placement="bottom" title="Expired">{{ld.LicenseStatus.ExpiredLicense}}</span>
                                <span ng-if="ld.LicenseStatus.PendingDaylicenseLessThan30" ng-click="GetLicenseTypeData(ld,'<30')" class="label label-default yellow" data-toggle="tooltip" data-placement="bottom" title="Less than 30 Days left">{{ld.LicenseStatus.PendingDaylicenseLessThan30}}</span>
                                <span ng-if="ld.LicenseStatus.PendingDaylicenseLessThan60" ng-click="GetLicenseTypeData(ld,'<60')" class="label label-default orange" data-toggle="tooltip" data-placement="bottom" title="Less than 60 Days left">{{ld.LicenseStatus.PendingDaylicenseLessThan60}}</span>
                                <span ng-if="ld.LicenseStatus.PendingDaylicenseLessThan90" ng-click="GetLicenseTypeData(ld,'<90')" class="label label-default purple" data-toggle="tooltip" data-placement="bottom" title="Less than 90 Days left">{{ld.LicenseStatus.PendingDaylicenseLessThan90}}</span>
                                <span ng-if="ld.LicenseStatus.ValidLicense" ng-click="GetLicenseTypeData(ld,'>90')" class="label label-default blue" data-toggle="tooltip" data-placement="bottom" title="Upcoming Renewals">{{ld.LicenseStatus.ValidLicense}}</span>
                                <span ng-if="ld.TotalLicenses == 0" class="label label-default" data-toggle="tooltip" data-placement="bottom" title="No Upcoming Renewals">0</span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" style="border-top: 1px solid #eee; padding-top: 10px;">
                            <div class="clearfix"></div>
                            <fieldset>
                                <legend>
                                    {{LicenseType}}
                                </legend>

                                <!--And Added here-->
                                @*<div>
                                    <span class="pull-left" style="margin-right: 10px;">
                                        <select id="Dashboard_ProviderType" ng-model="providerType" ng-change="getDataAccordingProviderTypeAndProviderLevel(providerType, providerLevel,LicenseTypeCode)" class="form-control input-sm">
                                            <option value="" ng-selected="true">All Provider Type</option>
                                            <option ng-repeat="pt in ProviderTypes track by $index" value="{{pt.Title}}">{{pt.Title}}</option>
                                        </select>
                                    </span>
                                    <span class="pull-left" style="margin-right: 10px;">
                                        <select id="Dashboard_ProviderLevel" ng-model="providerLevel" ng-change="getDataAccordingProviderTypeAndProviderLevel(providerType, providerLevel,LicenseTypeCode)" class="form-control input-sm">
                                            <option value="" ng-selected="true">All Provider Level</option>
                                            <option ng-repeat="pl in ProviderLevels track by $index" value="{{pl.Name}}">{{pl.Name}}</option>
                                        </select>
                                    </span>
                                    <div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon input-sm">Filter</span>
                                                <input id="selectedDay" ng-model="Selected_Day" ng-change="getDaysLeftForSelectedTab(Selected_Day,LicenseTypeCode)" type="text" class="form-control input-sm " placeholder="Enter days" style="width: 15%" />

                                            </div>
                                        </div>

                                    </div>
                                </div>*@
                                @*<div style="margin-top: 11px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div"></div>

                                <div class="btn-group pull-right legend2" ng-if="tempLicenseData.length > 0">
                                    <button class="dropdown-toggle btn btn-xs btn-primary" data-toggle="dropdown" aria-hidden="true"><span data-container="body" data-toggle="tooltip" data-placement="left" data-trigger="hover" data-content="Print" data-original-title="" title="Print" class="glyphicon glyphicon-print"></span></button>
                                    <ul class="dropdown-menu" aria-disabled="true">
                                        <li><a href="" ng-click="printData('All')">All</a></li>
                                        <li><a href="" ng-click="printData('Current')">Current Page</a></li>
                                    </ul>
                                    <button type="button" class="btn btn-xs btn-primary" data-container="body" data-toggle="tooltip" popover data-placement="left" data-trigger="hover" data-content="Export to excel" data-original-title="" title="Export to excel" ng-click="exportToExcel()" style="margin-left:5px;border-radius:2px;"><i class="fa fa-file-text"></i></button>
                                </div>*@

                                <style>
                                    .lightpurple {
                                        background-color: #ffccff !important;
                                    }

                                    .lightorange {
                                        background-color: #ffe3b3 !important;
                                    }
                                </style>

                                <table ng-show="LicenseTableParams.data.length > 0" ng-table-dynamic="LicenseTableParams with LicenseColumns" class="table table-condensed table-bordered table-striped small wrap-words" show-filter="true">
                                    <tr ng-repeat="row in $data" ng-class="{'danger':row.DaysLeft <= 0, 'warning':row.DaysLeft <= 30 && row.DaysLeft > 0,'lightorange':row.DaysLeft <= 60 && row.DaysLeft > 30, 'lightpurple':row.DaysLeft <= 90 && row.DaysLeft > 60}">
                                        <td ng-repeat="col in $columns" data-key="{{col.field}}">{{row[col.field]}}</td>
                                    </tr>
                                </table>

                                <div ng-if="LicenseTableParams.data.length == 0">No provider with upcoming {{LicenseType}} expiries</div>
                            </fieldset>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 zero-padding-left-right">
        <div class="form-style">
            <fieldset style="padding-bottom: 10px;">
                <legend>
                    RANK OF CCO
                </legend>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table ng-table-dynamic="CCORankTableParams with CCORankColumns" class="table table-condensed table-bordered table-striped" show-filter="false" style="margin-bottom:0px;">
                        <tr ng-repeat="row in $data">
                            <td ng-repeat="col in $columns" data-key="{{col.field}}">{{row[col.field]}}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset style="padding-bottom: 10px;">
                <legend>
                    Provider Profile Completion %
                </legend>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div id="ProfileReportChart"></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-md-6 zero-padding-left-right">
        <div class="form-style">
            <fieldset style="padding-bottom: 10px;min-height:313px;">
                <legend>
                    New Providers Report
                </legend>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <table ng-table-dynamic="NewAddedProviderTableParams with NAPColumns" class="table table-condensed table-bordered table-striped" show-filter="false" style="margin-bottom:0px;">
                        <tr ng-repeat="row in $data">
                            <td ng-repeat="col in $columns" data-key="{{col.field}}">{{row[col.field]}}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-md-6 zero-padding-left-right">
        <div class="form-style">
            <fieldset style="padding-bottom: 10px;">
                <legend>
                    CCO REPORT
                </legend>
                <div class="col-lg-12 zero-padding-left-right-div">
                    <div id="CCOReportChart" style="margin-bottom: -50px;"></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>