<p-script filepath="~/Areas/CredAxis/Scripts/FormGeneration/FormGeneration.js"></p-script>


<div class="SelectedProviders">
    @Html.Partial("~/Areas/CredAxis/Views/FormGeneration/_SelectedProviders.cshtml")
</div>

<div class="Forms">
     @Html.Partial("~/Areas/CredAxis/Views/FormGeneration/Forms/_FormIndex.cshtml")
</div>

<div class="FormResult">
    @Html.Partial("~/Areas/CredAxis/Views/FormGeneration/Forms/_FormResult.cshtml")
</div>