@model IEnumerable<PortalTemplate.Areas.CredAxis.Models.ProviderviewModel.ProviderSearchResultViewModel>
@{

}
<br />
<fieldset class="fsStyle" id="ViewStateLicense">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase create-auth-legends">
            <span>
                Selected Providers
            </span>
        </span>
    </legend>
    <div class="container" style="max-height:250px;overflow:scroll">
        @foreach (var item in Model)
        {
            <div class="panel panel-default col-lg-3">
                <div class="panel-body">
                    <div class="col-lg-2">
                        <img src="~/Areas/CredAxis/Content/Images/a0.jpg" height="42" width="42" />
                    </div>
                    <div class="col-lg-9">
                        <label class="theme_label">Name : </label>
                        <span class="theme_label_data">@item.FirstName @item.LastName</span><br />
                        <label class="theme_label">NPI :</label>
                        <span class="theme_label_data">@item.ProviderNPI</span>
                    </div>
                    <div>
                        <i class="fa fa-close cursor_pointer"></i>
                    </div>
                </div>
            </div>
        }
    </div>
</fieldset>