
/*.tile > .tile-header > .tile-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    font-size: 10px;
}

.tile > .tile-header {
    padding: 5px;
}

.tile > .tile-body {
    padding: 10px;
}

.tile > .tile-header > .tile-count {
    color: #ffffff;
}

.tile > .tile-body > .tile-amount {
    color: #ffffff;
    font-size: 21px;
}

.tile > .tile-body > .tile-icon {
    color: rgba(255, 255, 255, 0.4);
}

.tile:hover > .tile-body > .tile-icon {
    color: #ffffff;
}*/

#claim_list_tile .tile_claims {
border-radius:2px;
transition:all 0.3s linear;
}

#claim_list_tile .tile-header {
    text-align: center;
    padding: 6px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}


#claim_list_tile .tile-body {
    font-size: 17px;
    padding: 5px;
    font-weight: bold;
}

/*----------------success tile------------*/

#claim_list_tile .success-tile {
    border: 1px solid #18a689;
    border-bottom: 5px solid #18a689;
    color: #18a689;
}


/*.success-tile > .tile-header {
    background: #1bc4a3;
}

.success-tile > .tile-body {
    background: #138a72;
}*/


/*---------------warning tile-------------*/

#claim_list_tile .warning-tile {
    border: 1px solid #ff7f0e;
    border-bottom: 5px solid #ff7f0e;
    color: #ff7f0e;
}


/*.warning-tile > .tile-header {
    background: #f2b257;
}

.warning-tile > .tile-body {
    background: #ed9619;
}*/



/*--------------default tile---------------*/

/*#claim_list_tile .info-tile {
    border: 1px solid #487fc4;
    border-bottom: 5px solid #487fc4;
    color: #487fc4;
}*/


/*.default-tile > .tile-header {
    background: #435d78;
}

.default-tile > .tile-body {
    background: #34495e;
}*/


/*---------------info tile-------------------*/

#claim_list_tile .info-tile {
    border: 1px solid #487fc4;
    border-bottom: 5px solid #487fc4;
    color: #487fc4;
}

#claim_list_tile .info-tile:hover {
    border: 1px solid #487fc4;
    border-bottom: 5px solid #487fc4;
    color: #ffffff;
    background:#487fc4;
}


/*.info-tile > .tile-header {
    background: #71a4e3;
}

.info-tile > .tile-body {
    background: #3a80d8;
}*/

/*------------------buttons--------------*/


.btn-margin {
    margin-right: 5px;
    margin-bottom: 5px;
}


/*----------------------modal----------------*/



.x_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.78);
    display: none;
    z-index: 10000;
}

.x_modal-container {
    margin: 9% auto;
    width: 70%;
    background: #ffffff;
    /* padding-top: 10px; */
}

.x_modal-close-btn {
    position: relative;
}

    .x_modal-close-btn:after {
        position: absolute;
        content: '\f00d';
        font-family: FontAwesome;
        background: #E74C3C;
        width: 25px;
        padding: 4px 8px;
        color: #ffffff;
        border-radius: 50%;
        right: -12px;
        top: -10px;
        z-index: 100000;
        cursor: pointer;
        opacity: 0.9;
    }

    .x_modal-close-btn:hover:after {
        opacity: 1;
    }


.left-container {
    position: relative;
    float: left;
    width: 3%;
    text-align: center;
}

    .left-container > i {
        margin-top: 202px;
        margin-bottom: 216px;
    }

.moddle-container {
    position: relative;
    float: left;
    padding: 5px;
    width: 94%;
    margin-top: 12px;
}

.right-container {
    position: relative;
    float: left;
    width: 3%;
    text-align: center;
}

    .right-container > i {
        margin-top: 202px;
        margin-bottom: 216px;
    }


.navigation-container {
    cursor: pointer;
    height: 100%;
    background: #4f8edc;
    opacity: 0.9;
    color: #ffffff;
}

    .navigation-container:hover {
        color: #ffffff;
        opacity: 1;
    }



.data-label {
    width: 100%;
    text-transform: uppercase;
    color: #504d4d;
}


.claim-id-text {
    font-size: 15px;
    color: #717171;
}


/*------------------table--------------*/
.scrollable_table > tbody > tr > td {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-transform: uppercase;
}


.service_line_table > thead {
    background: #5a95c5;
    color: #ffffff;
}

.scrollable_table ::-webkit-scrollbar {
    width: 1px;
}

.scrollable_table ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollable_table ::-webkit-scrollbar-thumb {
    background-color: blue;
    outline: 1px solid slategrey;
}


.scrollable_table > thead {
    width: 99.9%;
    height: 43px;
}

.scrollable_table > tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.scrollable_table > thead, .scrollable_table > tbody, .scrollable_table > tr, .scrollable_table > td, .scrollable_table > th {
    display: block;
}

    .scrollable_table > tbody > td, .scrollable_table > thead > tr > th {
        float: left;
        border-bottom-width: 0;
    }

    .scrollable_table > thead > tr > th {
        height: 44px;
    }

    .scrollable_table > tbody > tr {
        height: 33px;
    }


.total-row {
    text-align: right;
    font-weight: bold;
}

.total-amt {
    font-weight: bold;
}

/*.scrollable_table > tbody > tr:hover {
    background: #ffffff !important;
    cursor: pointer;
}*/


.claimlist_table .withfilter i {
    position: relative;
    top: -7px;
}

.amt-column {
    width: 72px;
}



.custom_x_title {
    background: rgba(31,84,229,1);
    background: -moz-linear-gradient(top, rgb(66, 103, 163) 0%, rgba(112,157,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(66, 103, 163)), color-stop(100%, rgba(112,157,255,1)));
    background: -webkit-linear-gradient(top, rgb(66, 103, 163) 0%, rgba(112,157,255,1) 100%);
    background: -o-linear-gradient(top, rgb(66, 103, 163) 0%, rgba(112,157,255,1) 100%);
    background: -ms-linear-gradient(top, rgb(66, 103, 163) 0%, rgba(112,157,255,1) 100%);
    background: linear-gradient(to bottom, rgb(66, 103, 163) 0%, rgba(112,157,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f54e5', endColorstr='#709dff', GradientType=0 );
}


#claimListContainer {
    margin-top: 30px;
}


.claims_title {
    color: #a3a4a5;
    font-weight: 700;
}





.chart_claim_list {
    height: 320px;
    position: relative;
}


#M_claim_report text.c3-text {
    fill: #0b0b0b !important;
    font-size: 11px;
    font-weight: 600;
}


.tile-container {
    float: left;
    padding: 5px;
    width: 20%;
}

.quick_links_panel {
    /*margin-top: -22px;*/
}


    .quick_links_panel .quick_links_body ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        margin-top: -3px;
    }

    .quick_links_panel > .quick_links_header {
        text-transform: uppercase;
        letter-spacing: 0.4px;
        color: #0b60cb;
        font-weight: bold;
        text-decoration: underline;
    }

    .quick_links_panel > .quick_links_body ul li {
        float: left;
        padding: 5px;
    }

        .quick_links_panel > .quick_links_body ul li a {
            text-decoration: none;
            text-align: center;
            border: 1px solid #ddd;
            padding: 5px;
            display: block;
            width: 50px;
            height: 46px;
            border-radius: 50%;
            cursor: pointer;
            color: white;
        }

.quick_createClaim {
    background-color: #2e7d32;
}

.quick_links_body li:active {
    border: 1px solid white;
}

.quick_links_panel > .quick_links_body ul li a:hover {
    /*box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.71) inset, 0px -2px 20px rgba(130, 120, 120, 0.66), 0px 2px 5px rgba(0, 0, 0, 0.47), 0px 8px 10px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 2px 1px rgb(255, 255, 255) inset, 0px -2px 20px rgba(255, 255, 255, 0), 0px 2px 5px rgb(255, 255, 255), 0px 8px 10px rgb(255, 255, 255);
}
/*Create Claim quick link colors*/
.claimCreateGreen {
    background-color: #1b5e20;
}

.claimSearchBlue {
    background-color: #01579b;
}

.claimEditAmber {
    background-color: rgba(255, 107, 7, 0.91);
}


.quick_links_panel > .quick_links_body ul li a i {
    font-size: 13px;
}

.quick_links_panel > .quick_links_body ul li a span {
    font-weight: bold;
}

.quick_links_panel > .quick_links_body ul li a i, .quick_links_panel > .quick_links_body ul li a span {
    display: block;
}



.result_row {
    font-size: 13px;
    font-weight: bold;
    border-left: 2px solid #a3a4b8;
    padding: 0px 5px;
    margin-left: 10px;
}


#table_view {
    /* display: none; */
}


#graph_view {
    display: none;
}

.claims_title {
    margin-left: -11px;
}
/*-----------------------status bar--------------------------*/

.status_container {
    float: left;
    width: 16%;
}


.left_line, .center_point, .right_line {
    float: left;
    content: '';
}

.left_line, .right_line {
    width: 39%;
    height: 4px;
    margin-top: 8%;
}

.left_line {
    margin-right: 1%;
}

.right_line {
    margin-left: 1%;
}

.center_point {
    width: 18%;
    border-radius: 50%;
    color: #1abb9c;
    padding: 3% 4%;
}

    .center_point i {
        font-size: 147%;
    }

.success_right_line {
    background: #1abb9c;
}

.success_left_line {
    background: #1abb9c;
}

.success_point {
    border: 2px solid rgb(26, 187, 156);
}

.warning_line {
    background: #F39C12;
}

.warning_point {
    border: 2px solid #F39C12;
}

.default_line {
    background: #ddd;
}

.default_point {
    border: 2px solid #ddd;
}

.danger_line {
    background: #E74C3C;
}

.danger_point {
    border: 2px solid #E74C3C;
}

.no_line {
    background-color: transparent;
}


.status_message {
    position: relative;
    padding: 2px;
    background: #ddd;
    background: linear-gradient(#ddd, white);
    margin: 13px;
    color: rgb(108, 111, 116);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

    .status_message > span {
        display: block;
        width: 100%;
        height: 20px;
    }

    .status_message:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ddd;
        top: -9px;
        right: 45%;
    }


.status_header {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
}


.status_by {
    text-transform: none;
}

.status_on {
    text-transform: none;
}


#toggle_div {
    height: 300px;
    background: #ffffff;
}

    #toggle_div > td {
        border: 1px solid #babedc;
    }

    #toggle_div:hover {
        background-color: #ffffff !important;
    }


.active_sl_row {
    background: rgba(139, 146, 197, 0.59) !important;
}


.details_claims:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #babedc;
    top: -8px;
    right: 50%;
}

#hidden_div {
    height: 0px;
    overflow: hidden;
}
