

@*<fieldset class="fieldStyle">
    <legend class="legendStyles">
        <span class="text-uppercase">Last Authorization Created on 02-08-2015 9:00 AM By Michael</span>
    </legend>

    <div class="divwidth_auto">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    REF #:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">1607120022</span>
                </span>
            </div>
            <div class="col-lg-3 divwidth_auto_main">
                <span>
                    POS:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">23-Emergency Room - Hospital</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    Authorization:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">Concurrent</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    Type of Care:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">Emergency</span>
                </span>
            </div>   
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    DOS:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">07/04/2016</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    PCP:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">DR. PARIKSITH SINGH</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    PCP NPI:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">1607126622</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    Provider:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">MICHAEL</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    Total Request LOS:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">3</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    Request:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase label-success-color ng-binding">standard</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    ICD CODE :
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">ICD2877</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    CPT  :
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">CPT2877</span>
                </span>
            </div>
            <div class="col-lg-2 divwidth_auto_main">
                <span>
                    STATUS:
                </span>
                <span class="summary_data">
                    <span class="bolding text-uppercase ng-binding">PEND-INTAKE</span>
                </span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="col-lg-5 ">
                <input type="button" value="CREATE NEW AUTH" class="copy-button buttonStyle" onclick="openContainer(this, 'createauth', 'CREATE NEW AUTH')" style="width: 145%;" />
            </div>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-5">
                <input type="button" value="VIEW AUTH" class="view-auth-button buttonStyle" onclick="openViewAuth();" style=" margin-left: 20px;" />
            </div>
        </div>
    </div>

</fieldset>
<div class="clearfix"></div>*@
<div id="historyMainSection">
    <div class="x_panel">
        <div class="x_title">
            <div class="col-lg-7 pull-left labelHistory">@*<strong>&nbsp;<i class="fa fa-history"></i> HISTORY</strong>*@ <br /></div>
            <div class="col-lg-4">
                @*<span class="input-box input-box-search">
                        <input class="input__field input__field--box-search" type="text" placeholder="SEARCH.." id="InputS" />
                        <label class="input__label input__label--box-search" for="InputS">
                            <svg class="graphic graphic--box-search" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                            </svg>
                            <span class="input__label-content input__label-content--box-search">Search..</span>
                        </label>
                    </span>*@
                <div class="search_wrapper1">
                    <div class="smart_search_word1"><span class="keyWord1"></span></div>
                    <div class="search_input1"><input type="text" id="searchBox1" placeholder="Search History" /></div>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="col-lg-4 zero-space">
                    <a href="javascript:void(0)" class="custom-button print_button_beside_table margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
                        <img src="~/Resources/Images/Icons/pdf1.png" />
                    </a>
                </div>
                <div class="col-lg-4 zero-space">
                    <a href="javascript:void(0)" class="custom-button print_button_beside_table margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as Excel">
                        <img src="~/Resources/Images/Icons/excel.PNG" />
                    </a>
                </div>
                <div class="col-lg-4 zero-space">
                    <a href="javascript:void(0)" class="custom-button print_button_beside_table margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Print">
                        <img src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div id="historyBody">

    <!-- AUTH HISTORY TABLE -->
    <div class="scrollable-division1">
        <div class="inner-scrollable-div1">
            <!-- HEADER TABLE -->
            <table class="table table-header1 custom-thead-back custom-thead-font custom-tbody">
                <thead class="thead_access_blue">
                    <tr>
                        <th class="cols-1 td-blue" rowspan="1" colspan="1">
                            <span>
                            </span>
                        </th>
                        <th class="withfilter cols-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>ABV</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-3" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>REF #</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-4" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>FROM</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-5" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>TO</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>

                        <th class="withfilter cols-6" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>SVC</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-7" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>REQUEST</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-8" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>FACILITY</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-9" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>AUTH</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-10" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>DATE OF SVC</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-11" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>UNITS</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-12" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>STATUS</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-13" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>POS</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-14" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>DX</label>
                                <span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter cols-15" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input class="filer-search" type="text" required />
                                <label>ACTION</label>
                                <span></span>
                                <i class="fa"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="historyTableBodyDivision">
                <table class="table table-striped custom-table-striped  margin_bottom_zero margin_left_zero tableLayer  custom-thead-back custom-thead-font custom-tbody" cellspacing="0" cellpadding="0">

                    <tbody id="authHistoryTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>