<link href="~/Content/AppCss/claims/claims.css" rel="stylesheet" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right" id="claim_list_tile">
    @*<div class="tile-container">
            <div class="tile success-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text pull-left">
                        Total Claims
                    </div>
                    <div class="tile-count pull-right">
                        #779
                    </div>
                </div>
                <div class="tile-body clearfix">
                    <div class="tile-icon pull-left">
                        <i class="fa fa-3x fa-home"></i>
                    </div>
                    <div class="tile-amount pull-right">
                        $160,048
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-container">
            <div class="tile warning-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text pull-left">
                        Part A
                    </div>
                    <div class="tile-count pull-right">
                        #223
                    </div>
                </div>
                <div class="tile-body clearfix">
                    <div class="tile-icon pull-left">
                        <i class="fa fa-3x fa-hospital-o"></i>
                    </div>
                    <div class="tile-amount pull-right">
                        $23,363
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-container">
            <div class="tile default-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text pull-left">
                        Part B
                    </div>
                    <div class="tile-count pull-right">
                        #100
                    </div>
                </div>
                <div class="tile-body clearfix">
                    <div class="tile-icon pull-left">
                        <i class="fa fa-3x fa-user-md"></i>
                    </div>
                    <div class="tile-amount pull-right">
                        $36,291
                    </div>
                </div>
            </div>
        </div>
        <div class="tile-container">
            <div class="tile info-tile">
                <div class="tile-header clearfix">
                    <div class="tile-text pull-left">
                        Part D
                    </div>
                    <div class="tile-count pull-right">
                        #456
                    </div>
                </div>
                <div class="tile-body clearfix">
                    <div class="tile-icon pull-left">
                        <i class="fa fa-3x fa-eyedropper"></i>
                    </div>
                    <div class="tile-amount pull-right">
                        $100,394
                    </div>
                </div>
            </div>
        </div>*@
    <div class="tile-container">
        <div class="tile_claims info-tile">
            <div class="tile-header clearfix">
                Total claims
            </div>
            <div class="tile-body clearfix">
                <div class="pull-left">
                    #107,850
                </div>
                <div class="pull-right">
                    $1,044,505
                </div>
            </div>
        </div>
    </div>
    <div class="tile-container">
        <div class="tile_claims info-tile">
            <div class="tile-header clearfix">
                Part A
            </div>
            <div class="tile-body clearfix">
                <div class="pull-left">
                    #345
                </div>
                <div class="pull-right">
                    $100,785
                </div>
            </div>
        </div>
    </div>
    <div class="tile-container">
        <div class="tile_claims info-tile">
            <div class="tile-header clearfix">
                Part b
            </div>
            <div class="tile-body clearfix">
                <div class="pull-left">
                    #985,741
                </div>
                <div class="pull-right">
                    $102,200
                </div>
            </div>
        </div>
    </div>
    <div class="tile-container">
        <div class="tile_claims info-tile">
            <div class="tile-header clearfix">
                Part d
            </div>
            <div class="tile-body clearfix">
                <div class="pull-left">
                    #107,850
                </div>
                <div class="pull-right">
                    $841,520
                </div>
            </div>
        </div>
    </div>
    
    <div class="tile-container">
        <div class="quick_links_panel">
            <div class="quick_links_header">
                <span>Quick links</span>
            </div>
            <div class="quick_links_body col-lg-12 zero-padding-left-right">
                <ul>
                    <li><a class="claimCreateGreen"><i class="fa fa-plus-circle"></i><span>Create</span></a></li>
                    <li><a class="claimSearchBlue"><i class="fa fa-search" aria-hidden="true"></i><span>Search</span></a></li>
                    <li><a class="claimEditAmber"><i class="fa fa-pencil-square-o"></i><span>Edit</span></a></li>
                </ul>
                @*<div class="ClaimsQuickLinks col-lg-4"><a><i class="fa fa-plus-circle" aria-hidden="true"></i><br /><span>Create</span></a></div>
                    <div class="ClaimsQuickLinks col-lg-4"><a><i class="fa fa-search"></i><br /><span>Search</span></a></a></div>
                    <div class="ClaimsQuickLinks col-lg-4"><a><i class="fa fa-pencil-square-o"></i><br /><span>Edit</span></a></a></div>*@

            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="divider-dashed dash-divider-module"></div>

<div class="x_panel ">
    @*<div class="x_title custom_x_title">
            <h2>Claim List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>*@
    <div class="x_content" id="graph_view">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            @*<a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-file-excel-o"></i>Export to excel
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-envelope"></i>Email
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-download"></i>Download
                </a>*@
            <h4 class="pull-left claims_title col-lg-5">Monthly Claims Distribution for EVELINE HEWETT @*<span class="result_row"><b>Total(14) &nbsp; CAP(9) &nbsp; FFS(5)</b></span>*@</h4>

            <a href="javascript:void(0)" class="custom-button text-cyan pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email">

                <img src="~/Resources/Images/Icons/Mail1.ico" />
            </a>

            <a href="javascript:void(0)" class="custom-button text-red pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pdf">
                <img src="~/Resources/Images/Icons/pdf1.png" />
            </a>


            <a href="javascript:void(0)" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excel">
                <img src="~/Resources/Images/Icons/excel.PNG" />
            </a>

            <a href="javascript:void(0)" id="tabular_view_btn" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tabular View">

                <img src="~/Resources/Images/Icons/table.png" />
            </a>


            <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                <select id="year_select1" name="selectyear_Claims" class="form-control input-xs">
                    <option value="1" selected>2016</option>
                    <option value="2">2015</option>
                    <option value="3">2014</option>
                </select>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 chart_claim_list zero-padding-left-right">

            <div id="M_claim_report"></div>

        </div>
    </div>

    <div class="x_content" id="table_view">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            @*<a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-file-excel-o"></i>Export to excel
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-envelope"></i>Email
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-download"></i>Download
                </a>*@
            <h4 class="pull-left claims_title col-lg-5">Monthly claim distribution for EVELINE HEWETT @*<span class="result_row"><b>Total(14) &nbsp; CAP(9) &nbsp; FFS(5)</b></span>*@</h4>

            <a href="javascript:void(0)" class="custom-button text-cyan pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email">

                <img src="~/Resources/Images/Icons/Mail1.ico" />
            </a>

            <a href="javascript:void(0)" class="custom-button text-red pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pdf">
                <img src="~/Resources/Images/Icons/pdf1.png" />
            </a>


            <a href="javascript:void(0)" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excel">
                <img src="~/Resources/Images/Icons/excel.PNG" />
            </a>

            <a href="javascript:void(0)" id="graphical_view_btn" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Graphical View">

                <img src="~/Resources/Images/Icons/graph2.jpg" />
            </a>


            <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                <select id="year_select1" name="selectbasic_Claims" class="form-control input-xs">
                    <option value="1" selected>2016</option>
                    <option value="2">2015</option>
                    <option value="3">2014</option>
                </select>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 zero-padding-left-right ClaimsTable2016">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>January</td>
                            <td>390</td>
                            <td>130</td>
                            <td>180</td>
                            <td>60</td>
                            <td>570</td>
                            <td>190</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>February</td>
                            <td>240</td>
                            <td>80</td>
                            <td>90</td>
                            <td>30</td>
                            <td>330</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>March</td>
                            <td>600</td>
                            <td>200</td>
                            <td>300</td>
                            <td>100</td>
                            <td>900</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>April</td>
                            <td>750</td>
                            <td>250</td>
                            <td>270</td>
                            <td>90</td>
                            <td>1,020</td>
                            <td>340</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>May</td>
                            <td>1,200</td>
                            <td>400</td>
                            <td>600</td>
                            <td>200</td>
                            <td>1,800</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>June</td>
                            <td>450</td>
                            <td>150</td>
                            <td>450</td>
                            <td>150</td>
                            <td>900</td>
                            <td>300</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7</td>
                            <td>July</td>
                            <td>390</td>
                            <td>130</td>
                            <td>180</td>
                            <td>60</td>
                            <td>570</td>
                            <td>190</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>August</td>
                            <td>240</td>
                            <td>80</td>
                            <td>90</td>
                            <td>30</td>
                            <td>330</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>September</td>
                            <td>600</td>
                            <td>200</td>
                            <td>300</td>
                            <td>100</td>
                            <td>900</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>October</td>
                            <td>750</td>
                            <td>250</td>
                            <td>270</td>
                            <td>90</td>
                            <td>1,020</td>
                            <td>340</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>November</td>
                            <td>1,200</td>
                            <td>400</td>
                            <td>600</td>
                            <td>200</td>
                            <td>1,800</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>December</td>
                            <td>450</td>
                            <td>150</td>
                            <td>450</td>
                            <td>150</td>
                            <td>900</td>
                            <td>300</td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 zero-padding-left-right ClaimsTable2015" hidden>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>January</td>
                            <td>300</td>
                            <td>100</td>
                            <td>30</td>
                            <td>10</td>
                            <td>330</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>February</td>
                            <td>240</td>
                            <td>80</td>
                            <td>240</td>
                            <td>80</td>
                            <td>480</td>
                            <td>160</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>March</td>
                            <td>360</td>
                            <td>120</td>
                            <td>600</td>
                            <td>200</td>
                            <td>960</td>
                            <td>320</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>April</td>
                            <td>1500</td>
                            <td>500</td>
                            <td>750</td>
                            <td>250</td>
                            <td>2,250</td>
                            <td>750</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>May</td>
                            <td>900</td>
                            <td>300</td>
                            <td>1,200</td>
                            <td>400</td>
                            <td>2,100</td>
                            <td>700</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>June</td>
                            <td>900</td>
                            <td>300</td>
                            <td>450</td>
                            <td>150</td>
                            <td>1,350</td>
                            <td>450</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7</td>
                            <td>July</td>
                            <td>690</td>
                            <td>230</td>
                            <td>390</td>
                            <td>130</td>
                            <td>1,080</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>August</td>
                            <td>690</td>
                            <td>230</td>
                            <td>390</td>
                            <td>130</td>
                            <td>1,080</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>September</td>
                            <td>540</td>
                            <td>180</td>
                            <td>240</td>
                            <td>80</td>
                            <td>780</td>
                            <td>260</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>October</td>
                            <td>1,200</td>
                            <td>400</td>
                            <td>600</td>
                            <td>200</td>
                            <td>1,800</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>November</td>
                            <td>450</td>
                            <td>150</td>
                            <td>750</td>
                            <td>250</td>
                            <td>1,200</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>December</td>
                            <td>1,950</td>
                            <td>650</td>
                            <td>360</td>
                            <td>120</td>
                            <td>2,310</td>
                            <td>770</td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 zero-padding-left-right ClaimsTable2014" hidden>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>January</td>
                            <td>360</td>
                            <td>120</td>
                            <td>150</td>
                            <td>50</td>
                            <td>510</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>February</td>
                            <td>210</td>
                            <td>70</td>
                            <td>120</td>
                            <td>40</td>
                            <td>330</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>March</td>
                            <td>540</td>
                            <td>180</td>
                            <td>270</td>
                            <td>90</td>
                            <td>810</td>
                            <td>270</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>April</td>
                            <td>750</td>
                            <td>250</td>
                            <td>270</td>
                            <td>90</td>
                            <td>1,020</td>
                            <td>340</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>May</td>
                            <td>900</td>
                            <td>300</td>
                            <td>300</td>
                            <td>100</td>
                            <td>1,200</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>June</td>
                            <td>420</td>
                            <td>140</td>
                            <td>420</td>
                            <td>140</td>
                            <td>840</td>
                            <td>280</td>
                        </tr>

                    </tbody>
                </table>



            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 zero-padding-left-right">
                <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                    <thead class="thead_access_blue">
                        <tr>
                            <th rowspan="2" colspan="1">
                                <label>SL no</label>
                            </th>
                            <th rowspan="2" colspan="1">
                                <label>Month</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>CAP</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>FFS</label>
                            </th>
                            <th rowspan="1" colspan="2" class="text-center">
                                <label>Total</label>
                            </th>
                        </tr>
                        <tr>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Amount($)</label>
                            </th>
                            <th rowspan="1" colspan="1">
                                <label>Count</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7</td>
                            <td>July</td>
                            <td>690</td>
                            <td>230</td>
                            <td>60</td>
                            <td>20</td>
                            <td>750</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>August</td>
                            <td>420</td>
                            <td>140</td>
                            <td>240</td>
                            <td>80</td>
                            <td>660</td>
                            <td>220</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>September</td>
                            <td>270</td>
                            <td>90</td>
                            <td>120</td>
                            <td>40</td>
                            <td>390</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>October</td>
                            <td>750</td>
                            <td>250</td>
                            <td>450</td>
                            <td>150</td>
                            <td>1,200</td>
                            <td>400</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>November</td>
                            <td>750</td>
                            <td>250</td>
                            <td>300</td>
                            <td>100</td>
                            <td>1,050</td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>December</td>
                            <td>180</td>
                            <td>60</td>
                            <td>180</td>
                            <td>60</td>
                            <td>360</td>
                            <td>120</td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </div>
    </div>

</div>


<div class="clearfix"></div>
<div class="divider-dashed dash-divider-module"></div>

<div class="x_panel ">
    @*<div class="x_title custom_x_title">
            <h2>Claim List</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>*@
    <div class="x_content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            @*<a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-file-excel-o"></i>Export to excel
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-envelope"></i>Email
                </a>
                <a class="btn btn-info btn-xs pull-right btn-zero-padding">
                    <i class="fa fa-download"></i>Download
                </a>*@

            <h4 class="pull-left claims_title col-lg-5">Claims for EVELINE HEWETT <span class="result_row"><b>Total(14) &nbsp; CAP(9) &nbsp; FFS(5)</b></span></h4>

            <a href="javascript:void(0)" class="custom-button text-cyan pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email">

                <img src="~/Resources/Images/Icons/Mail1.ico" />
            </a>

            <a href="javascript:void(0)" class="custom-button text-red pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pdf">
                <img src="~/Resources/Images/Icons/pdf1.png" />
            </a>


            <a href="javascript:void(0)" class="custom-button text-success pull-right custom-margin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excel">
                <img src="~/Resources/Images/Icons/excel.PNG" />
            </a>



            <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                <select id="month_select" name="selectbasic" class="form-control input-xs">
                    <option value="0">All</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option selected>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div class="col-lg-2 pull-right" style="margin-top: 2px;">
                <select id="year_select" name="selectbasic" class="form-control input-xs">
                    <option value="0">All</option>
                    <option value="1" selected>2016</option>
                    <option value="2">2015</option>
                    <option value="2">2014</option>
                </select>
            </div>


            @*<a href="javascript:void(0)" class="custom-button primary pull-right custom-margin" data-toggle="tooltip" data-placement="bottom" title="More"><i class="fa fa-ellipsis-v"></i></a>*@



        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            @*<table class="table table-striped table-bordered claimlist_table dummy_table"><thead><tr></tr></thead></table>*@
            <table class="table table-striped claimlist_table custom-thead-back custom-thead-font custom-tbody custom-table-striped" cellspacing="0">
                <thead class="thead_access_blue">
                    <tr>
                        <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Claim no</label><span></span>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>DOS</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>

                        <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Billing provider</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Rendering provider</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Amount</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter col-lg-1" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Claim type</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th class="withfilter col-lg-2" rowspan="1" colspan="1">
                            <span class="styled-input">
                                <input type="text" class="filer-search" required /><label>Status</label><span></span><i class="fa fa-sort"></i>
                            </span>
                        </th>

                    </tr>
                </thead>
                <tbody id="scrolldummybody">

                    <tr>
                        <td class="col-lg-2">PP00090227D20160705-20160705C7</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">LOUISA AARON</td>
                        <td class="col-lg-2">ABDEL JIBAWI</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Accepted</td>
                    </tr>

                    <tr>
                        <td class="col-lg-2">PP00090227D20160705-20160705C9</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">LOUISA AARON</td>
                        <td class="col-lg-2">ABDEL JIBAWI</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Rejected</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P11935581D20160705-20160705C1</td>
                        <td class="col-lg-2">07/05/2016 - 07/06/2016</td>
                        <td class="col-lg-2">JANET ABBATE</td>
                        <td class="col-lg-2">RAHEEL AHMED</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Submitted</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P16678968D20160705-20160705C2</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">PATRICK ABULONE</td>
                        <td class="col-lg-2">MEHUL SHAH</td>
                        <td class="col-lg-1">$0.02</td>
                        <td class="col-lg-1">FFS</td>
                        <td class="col-lg-2">Accepted by payer</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P11935581D20160705-20160705C3</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">JANET ABBATE</td>
                        <td class="col-lg-2">RAHEEL AHMED</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Rejected by CH</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P16678968D20160705-20160705C10</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">PATRICK ABULONE</td>
                        <td class="col-lg-2">MEHUL SHAH</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">FFS</td>
                        <td class="col-lg-2">EOB received</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P7518912830D20160705-20160705C11</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">KIMMARIE ADAMS</td>
                        <td class="col-lg-2">DHAMMIKA EKANAYAKE</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">On hold</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P667374D20160628-20160628C24</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">SHIRLEY AARON</td>
                        <td class="col-lg-2">NICHOLAS COPPOLA</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">FFS</td>
                        <td class="col-lg-2">Accepted</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">PUL0000442D20160705-20160705C28</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">MARY AANONSEN</td>
                        <td class="col-lg-2">MERCELY DEVABAVUS</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">FFS</td>
                        <td class="col-lg-2">Rejected</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">PUL0000441D20160705-20160705C35</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">KJELL AANONSEN</td>
                        <td class="col-lg-2">MERCELY DEVABAVUS</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Rejected by CH</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P16678968D20160705-20160705C2</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">PATRICK ABULONE</td>
                        <td class="col-lg-2">MEHUL SHAH</td>
                        <td class="col-lg-1">$0.02</td>
                        <td class="col-lg-1">FFS</td>
                        <td class="col-lg-2">Rejected</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P11935581D20160705-20160705C3</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">JANET ABBATE</td>
                        <td class="col-lg-2">RAHEEL AHMED</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Accepted</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P16678968D20160705-20160705C10</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">PATRICK ABULONE</td>
                        <td class="col-lg-2">MEHUL SHAH</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">Accepted</td>
                    </tr>
                    <tr>
                        <td class="col-lg-2">P7518912830D20160705-20160705C11</td>
                        <td class="col-lg-2">07/05/2016</td>
                        <td class="col-lg-2">KIMMARIE ADAMS</td>
                        <td class="col-lg-2">DHAMMIKA EKANAYAKE</td>
                        <td class="col-lg-1">$0.01</td>
                        <td class="col-lg-1">CAP</td>
                        <td class="col-lg-2">EOB received</td>
                    </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>







<div class="x_modal hide_x_modal">
    <div class="x_modal-container">
        <div class="x_modal-close-btn">
        </div>

        @Html.Partial("~/Views/Home/_serviceLines.cshtml")
    </div>
</div>


<div id="hidden_div">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right details_claims">
        <div class="clearfix">
            <h5 class="serviceline_title pull-left">Status</h5>
            <a class="btn btn-xs btn-primary pull-right claimdetails_close_btn"><i class="fa fa-close"></i></a>
        </div>



        <div class="status_container">
            <div class="status_header">
                <span>Created</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line no_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <div class="right_line success_right_line">

                </div>
            </div>
            <div class="status_message">
                <span class="status_by">
                    <span>Created by </span>
                    <span><b>Barbara Joy</b></span>
                </span>
                <span class="status_on">
                    <span>Created on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
        <div class="status_container">

            <div class="status_header">
                <span>Accepted</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line success_left_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="right_line success_right_line">

                </div>
            </div>
            <div class="status_message">
                <span class="status_by">
                    <span>Accepted by </span>
                    <span><b>Barbara Joy</b></span>
                </span>
                <span class="status_on">
                    <span>Accepted on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
        <div class="status_container">

            <div class="status_header">
                <span>Submitted</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line success_left_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-share" aria-hidden="true"></i>
                </div>
                <div class="right_line success_right_line">

                </div>
            </div>
            <div class="status_message">
                <span class="status_by">
                    <span>Submitted by </span>
                    <span><b>Barbara Joy</b></span>
                </span>
                <span class="status_on">
                    <span>Submitted on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
        <div class="status_container">
            <div class="status_header">
                <span>Accepted by CH</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line success_left_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-home"></i>
                </div>
                <div class="right_line success_right_line">

                </div>
            </div>
            <div class="status_message">

                <span class="status_by">
                    <span>Accepted by </span>
                    <span><b>Emdion</b></span>
                </span>
                <span class="status_on">
                    <span>Accepted on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
        <div class="status_container">
            <div class="status_header">
                <span>Accepted by payer</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line success_left_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
                <div class="right_line success_right_line">

                </div>
            </div>
            <div class="status_message">

                <span class="status_by">
                    <span>Accepted by </span>
                    <span><b>Ultimate</b></span>
                </span>
                <span class="status_on">
                    <span>Accepted on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
        <div class="status_container">

            <div class="status_header">
                <span>EOB received</span>
            </div>
            <div class="status_bar clearfix">
                <div class="left_line success_left_line">

                </div>
                <div class="center_point success_point">
                    <i class="fa fa-money" style="margin-left: -2px;" aria-hidden="true"></i>
                </div>
                <div class="right_line no_line">

                </div>
            </div>
            <div class="status_message">
                <span class="status_by">
                    <span>by </span>
                    <span><b>Ultimate</b></span>
                </span>
                <span class="status_on">
                    <span>on </span>
                    <span><b>20/07/2016</b></span>
                </span>
            </div>
        </div>
    </div>
    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            <h5 class="serviceline_title ">Service Lines</h5>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right">
            <table class="table service_line_table small table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th class="withfilter text-center" rowspan="1" colspan="2">
                            <label>DOS</label>
                        </th>
                        <th class="withfilter" rowspan="2" colspan="1">
                            <label>Place of service</label>
                        </th>
                        <th class="withfilter" rowspan="2" colspan="1">
                            <label>Procedure Code (CPT)</label>
                        </th>
                        <th class="withfilter text-center" rowspan="1" colspan="4">
                            <label>Diagnosis (ICD)</label>
                        </th>
                        <th class="withfilter" rowspan="2" colspan="1">
                            <label>Charges</label>
                        </th>

                    </tr>
                    <tr>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>From</label>
                        </th>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>To</label>
                        </th>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>A</label>
                        </th>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>B</label>
                        </th>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>C</label>
                        </th>
                        <th class="withfilter" rowspan="1" colspan="1">
                            <label>D</label>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>07-05-2016 </td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>99203</td>
                        <td>E785</td>
                        <td>M1990</td>
                        <td>I110</td>
                        <td>K219</td>
                        <td>$0.01</td>
                    </tr>
                    <tr>
                        <td>07-05-2016</td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>36415</td>
                        <td>D649</td>
                        <td>F0390</td>
                        <td>Z7901</td>
                        <td>I4891</td>
                        <td>$0.01</td>
                    </tr>
                    <tr>
                        <td>07-05-2016</td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>G8420</td>
                        <td>Z86718</td>
                        <td>E1151</td>
                        <td>E1140</td>
                        <td>I7789</td>
                        <td>$0.01</td>
                    </tr>
                    <tr>
                        <td>07-05-2016</td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>1170F</td>

                        <td>Z86718</td>
                        <td>E1151</td>
                        <td>F0390</td>
                        <td>Z7901</td>
                        <td>$0.02</td>
                    </tr>
                    <tr>
                        <td>07-05-2016</td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>1003F</td>
                        <td>E1151</td>
                        <td>E1140</td>
                        <td>K219</td>
                        <td>I509</td>
                        <td>$0.01</td>
                    </tr>
                    <tr>
                        <td>07-05-2016</td>
                        <td>07-05-2016</td>
                        <td>11-Office</td>
                        <td>3074F</td>

                        <td>E1151</td>
                        <td>E1140</td>
                        <td>E1140</td>
                        <td>I7789</td>
                        <td>$0.01</td>
                    </tr>

                    <tr>
                        <td colspan="8" class="total-row">Total:</td>
                        <td class="total-amt">$0.07</td>
                    </tr>
                </tbody>
            </table>
        </div>*@
</div>



<script src="~/Scripts/AppScripts/Claims/claims.js"></script>