@*<div class="zero-padding-left-right runningdata runningdata-standard memberPictureFrame">*@
    <table class="table responsive-utilities table-condensed table-responsive">
        <thead class="memberheader">
            <tr class="headings">
                <th class="column-title" id="reftitle">REF# </th>
                <th class="column-title">MBR# </th>
                <th class="column-title">MBR NAME</th>
                <th class="column-title">SEX</th>
                <th class="column-title">DOB</th>
                <th class="column-title">AGE</th>
                <th class="column-title">PLAN-SUBGROUP </th>
                <th class="column-title">EFF DATE </th>
                <th class="column-title">ELIG </th>
                <th class="column-title">PCP </th>
                <th class="column-title">PCP PHONE </th>
            </tr>
        </thead>
        <tbody class="boldbody">
            <tr>
                <td id="refnum">1607050015</td>
                <td>1117333VE </td>
                <td>
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/Resources/Images/Common/user.png" alt="">Eveline Hewett
                    </a>
                </td>
                <td>F</td>
                <td> 08/12/1944</td>
                <td>71</td>
                <td>-</td>
                <td>01/01/2015 </td>
                <td style="white-space:nowrap;">12/31/2018 <i class="fa fa-check-circle text-lightgreen"></i></td>
                <td>Dr. Pariksith Singh</td>
                <td>(798)-002-3131 </td>
            </tr>
        </tbody>
    </table>
@*</div>*@


