<link href="~/Content/AppCss/QuickReference.css" rel="stylesheet" />
<div class="quickRef quickRef1">
    <div class="ref-ele">
        <i class="fa fa-plus-circle fa-1x ele-icon"></i>
        <div class="ele-label"><a href="javascript:void(0)">Create New Auth</a></div>
    </div>
</div>
<div class="quickRef quickRef2">
    <div class="ref-ele">
        <i class="fa fa-paper-plane-o fa-1x ele-icon"></i>
        <div class="ele-label"><a href="javascript:void(0)">Portal Request</a></div>
    </div>
</div>
<div class="quickRef quickRef3">
    <div class="ref-ele">
        <i class="fa fa-ellipsis-v fa-1x ele-icon"></i>
        <div class="ele-label"><a href="javascript:void(0)">BJoy Queue</a></div>
    </div>
</div>
<div class="quickRef quickRef4">
    <div class="ref-ele">
        <i class="fa fa-history fa-1x ele-icon"></i>
        <div class="ele-label"><a href="javascript:void(0)">History</a></div>
    </div>
</div>


