<link href="~/Content/AppCss/Search/searchOverlay.css" rel="stylesheet" />
<div class="col-lg-12 papersearch-input__wrapper pull-left">
    <input id="searchbox" class="paper-input paper-input--floating pull-left" type="text" placeholder="Search Members/Providers" />
    <!--<div class="dropdown search-arrow">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            ALL
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="javascript:void(0)" data-value="ALL">ALL</a></li>
            <li><a href="javascript:void(0)" data-value="MEMBER NAME">MEMBER NAME</a></li>
            <li><a href="javascript:void(0)" data-value="PROVIDER">PROVIDER</a></li>
            <li><a href="javascript:void(0)" data-value="CONTROL NUMBER">CONTROL NUMBER</a></li>
            <li><a href="javascript:void(0)" data-value="FILE NAME">FILE NAME</a></li>
            <li><a href="javascript:void(0)" data-value="CLEARING HOUSE ID">CLEARING HOUSE ID</a></li>
            <li><a href="javascript:void(0)" data-value="DATE">DATE</a></li>
            <li><a href="javascript:void(0)" data-value="MEMBER ID">MEMBER ID</a></li>
            <li><a href="javascript:void(0)" data-value="REFERENCE ID">REFERENCE ID</a></li>
        </ul>
    </div>-->
</div>
@Html.Partial("~/Views/Home/_searchResultOverview.cshtml")

<div id="SearchResultID">
    @Html.Partial("~/Views/Home/_SearchResult.cshtml")
</div>




@*<style type="text/css">
        .search_parentDiv {
        }

        .SmartSearch__wrapper {
            width: 20%;
            transition: all 500ms ease;
            border-bottom: 1px solid rgb(153, 158, 170);
        }

            .SmartSearch__wrapper > .SmartSearch-input {
                padding-top: 10px;
                transition: all 500ms ease;
            }

        .SmartSearch-input {
            background: none;
            display: block;
            margin: 0;
            border: none;
            padding: 0.5rem 0;
            font-size: 13px;
            width: 99% !important;
        }
    </style>
    <div class="col-lg-12 zero-padding-left-right papersearch-input__wrapper SmartSearch__wrapper pull-left search_parentDiv">
      <span class="col-lg-3" style="width: auto; padding-top: 8px; padding-left:0px; padding-right:0px" id="clickedELement"></span>
        <span class="col-lg-9" style="padding-left:3px;">
            <input id="searchbox" class="paper-input SmartSearch-input search-input--floating pull-left" type="text" placeholder="Search Members/Providers" />
        </span>

        @Html.Partial("~/Views/Home/_SearchResultSmartNew.cshtml")
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchbox').click(function () {
                $('.search_parentDiv').css('border-bottom', '2px solid #01c101')
                $('.search_parentDiv').css('width', '44%')
                $('.SmartSearch-input').css('width', '100%!important')
                $('.SmartSearch-input').css('border-bottom', 'none')
            })
            /* drop down selected value */
            $(".smartResultShort span a").click(function () {
                console.log($(this).text())
                $('#clickedELement').show();
                $('#clickedELement').html($(this).text());
                $('.smartResultShort').hide();
                $('#searchbox').val('');
                $('#searchbox').attr('placeholder', 'Search ' + $(this).text());

            });
            $('#searchbox').keyup(function () {
                $searchInputWidth = $("#searchbox").width();
                $('.smartResult').css('width', $searchInputWidth);
                $('.part1Of12').css('width', $searchInputWidth / 12);
                $('.part4Of12').css('width', 4 * ($searchInputWidth / 12));
                $('.part7Of12').css('width', 7 * ($searchInputWidth / 12) - 30);
                $searchVal = $('#searchbox').val();
                $searchValLength = $searchVal.length;

                if ($searchValLength === 0) {
                    $('.smartResultShort').hide();
                    $('#clickedELement').hide();
                    $('#searchbox').attr('placeholder', 'Search Members/Providers');
                } else if ($searchValLength === 1) {
                    $('.smartResultShort').show();
                    firstChar = $searchVal.charAt(0);
                    if (firstChar === '#') {
                        $('#hashTag').show();
                        $('#AtrTag').hide();

                    } else if (firstChar === '@@') {
                        $('#hashTag').hide();
                        $('#AtrTag').show();
                    }
                }
                else {
                    $('.smartResultShort').hide();
                    $('#hashTag').hide();
                    $('#AtrTag').hide();
                }



            })

        })
    </script>*@