
<p-link filepath="~/Areas/MH/Styles/MemberProfile/MemberProfile.css" rel="stylesheet"></p-link>
<br />
<div class="col-lg-12 zero-padding-left-right" id="MemberProfile" style="margin-left: 4px;">
    <div class="inner_menu_container">
            <ul class="list-unstyled x-dtablist tabs-menu">
                <li class="tab-item current" id="">
                    <a href="#DemographicsInformation-memberTab" data-tab-path="/MH/MemberProfile/GetDemographicsDetails?id=''" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-1">
                        Demographics
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetAllMemberships" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-2">
                        Memberships Information
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetContactDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-3">
                        Contact Information
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetEmploymentDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-4">
                        Employment
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetPCPDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-5">
                        PCP
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetBillingProviderDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-6">
                        Billing Provider
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetAdditionalDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-7">
                        Additional Information
                    </a>
                </li>
                <li class="tab-item" id="">
                    <a data-tab-path="/MH/MemberProfile/GetAttchementsDetails" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-8">
                        Document Repository
                    </a>
                </li>
                @*<li class="tab-item" id="">
                    <a data-tab-path="~/Areas/MH/Views/MemberProfile/ProfileTabs/_CompleteInformation.cshtml" data-container="MemberProfileTabView" class="list-item no_underline list-item-tab-9">
                        Member Information
                    </a>
                </li>*@
            </ul>
        </div>

    <div class="tab memberTabsPadding">
        <div id="MemberProfileTabView"></div>
    </div>
</div>

<p-script filepath="~/Areas/MH/Scripts/Member/MemberProfile/NonMinified/MemberProfile.js"></p-script>

