<table class="table responsive-utilities table-condensed table-responsive">
    <thead class="memberheader">
        <tr class="headings">
            <th class="column-title">Subscriber ID</th>
            <th class="column-title">Subscriber</th>
            <th class="column-title">Last Name</th>
            <th class="column-title">First Name</th>
            <th class="column-title">Middle Initial</th>
            <th class="column-title">Relationship to Member</th>
            <th class="column-title">DOB</th>
            <th class="column-title">Coverage Start Date</th>
            <th class="column-title">Coverage End Date</th>
        </tr>
    </thead>
    <tbody class="boldbody">
        <tr>
            <td class="theme_label_data" id="Refnum">UL0003909</td>
            <td class="theme_label_data" id="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/Resources/Images/Common/user.png" alt=""><span></span>
                </a>
            </td>
            <td class="theme_label_data" id="MemberName">Smith</td>
            <td class="theme_label_data" id="MemberGender">John</td>
            <td class="theme_label_data" id="MemberDob">H</td>
            <td class="theme_label_data" id="MemberAge">Parent</td>
            <td class="theme_label_data" id="MemberInsuranceCo">10/12/1994</td>
            <td class="theme_label_data" id="MemberSubGrp">10/12/2004</td>
            <td class="theme_label_data" id="MemberEffDate">10/12/2018</td>
        </tr>
    </tbody>
</table>
