<appSettings>
  <add key="RootPath" value="/"/>
  <add key="ApplicationHosting" value="CredAxis"/>
  <add key="WebAPIURL" value="http://172.31.11.5:1245/"/>
  <add key="CodingServiceWebAPIURL" value="http://172.30.12.185:80/"/>
  <!--<add key="PowerDriveWebAPIURL" value="http://172.31.11.5:1245/" />-->
  <add key="MemberServiceWebAPIURL" value="http://172.30.12.72:8888/" />
  <add key="UMService" value="http://192.61.99.89:8049/" />
  <add key="ProviderServiceWebAPIURL" value="http://192.61.99.89:8041/" />
  <add key="ICDServiceWebAPIURL" value="http://192.61.99.89:8082/" />
  <add key="CMSServiceWebAPIURL" value="http://192.61.99.89:8038/" />
  <add key="FacilityServiceWebAPIURL" value="http://192.61.99.89:8045" />
  <add key="BilllingServiceWebAPIURL" value="http://192.61.99.89:8036"/>
  <add key="ProviderServiceWebAPIURL" value="http://192.61.99.89:8041/" />
  <add key="RegisterUserName" value="tj@gmail.com" />
  <add key="ApplicationOrGroupName" value="Health Care" />

  <!--Provider Villa URL Start-->
      <!--Provider Service URL-->
      <add key="PVProviderServiceWebAPIURL" value="http://192.61.99.89:8031/" />
      <!--Provider Profile Management Service URL-->
      <add key="PVProviderProfileServiceWebAPIURL" value="" />
      <!--Credentialing Service URL-->
      <add key="PVPCredentialingServiceWebAPIURL" value="" />
  <!--Provider Villa URL End-->

</appSettings>
