<div class="col-lg-12  form-style">
    <form id="LOBEdit{{$index}}">
        <div>
            <label class="col-lg-4 control-label small"> Select LOB :</label>
            <input type="hidden" name="PlanLOBs[{{$index}}].LOBID" ng-value="tempObject1.SELECTEDLOB.LOBID" />
            <select class="form-control input-sm" ng-options="lob.LOBName for lob in tempObject1.LOBSDATA.LOBs track by lob.LOBID" ng-model="tempObject1.SELECTEDLOB"></select>
        </div>
        <div class="clearfix"></div>
        <br />
        @Html.Partial("_AddSubPlan")

        @Html.Partial("_AddLOBContactDetails")

        @Html.Partial("_AddLOBAddressDetails")

        <br />
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button type="button" class="btn btn-sm btn-success pull-right" ng-click="SaveLOB('LOBEdit'+$index,tempObject1);">Save LOB</button>
                <button type="button" class="btn btn-sm btn-warning" ng-click="CancelLOBEdit()">Cancel</button>
            </div>
        </div>
    </form>
</div>