<div class="zero-padding-left-right-div col-lg-12 form-style">
    <fieldset>
        <legend>Assign Business Entities</legend>
        <div style="overflow-x:scroll">
            <table class="table-bordered table table-condensed">
                <tr>
                    <th>{{selectedPlan}}</th>
                    <th ng-repeat="be in BE_LOB_Maps[0].BEs">
                        {{be.BE.GroupName}}
                    </th>
                </tr>
                <tr ng-repeat="pl in BE_LOB_Maps">
                    <td>
                        <label>
                            {{pl.PlanLOB.LOB.LOBName}}
                        </label>
                    </td>
                    <td ng-repeat="ber in pl.BEs"><input type="checkbox" ng-model="ber.IsChecked" /></td>
                </tr>
            </table>
        </div>
        
        <div class="clearfix"></div>
        <br />
        <button ng-if="CurrentPageMasterViewData.Type=='Add'" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#PlanModalForAddedContracts" tooltip data-toggle="tooltip" data-placement="right" title="Save plan data">Save</button>
        <button ng-if="CurrentPageMasterViewData.Type=='Edit'" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#PlanModalForAddedContracts" tooltip data-toggle="tooltip" data-placement="right" title="Save plan data">Update</button>
        @*<button ng-if="PlanIsEdit" type="button" ng-click="confirmationUpdatePlanContract()" class="btn btn-sm btn-primary pull-right">Update</button>*@
        <button type="button" ng-click="CancelAddPlanContracts()" class="btn btn-sm btn-warning">Cancel</button>
    </fieldset>
</div>