<fieldset>
    <legend>
        General Details
    </legend>
    <div class="col-lg-10 zero-padding-left-right-div">
        <div class="col-lg-6 form-group">
            <label class="control-label small" for="SalutationType">Plan Name: *</label>
            <div>
                <i class="data-label  wrap-words">{{tempPlanObject.PlanName || 'Not available'}}</i>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="control-label small" for="SalutationType">Plan Code:</label>
            <div>
                <i class="data-label  wrap-words">{{tempPlanObject.PlanCode || 'Not available' }}</i>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="control-label small" for="IsDelegated">Delegated?: *</label>
            <div>
                <i class="data-label" ng-if="tempPlanObject.IsDelegated==1">Yes</i>
                <i class="data-label" ng-if="tempPlanObject.IsDelegated==2">No</i>
            </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="control-label small" for="PlanDescription">Plan Description:</label>
            <div>
                <i class="data-label  wrap-words">{{tempPlanObject.PlanDescription || 'Not available' }}</i>
            </div>
        </div>
    </div>
    <div ng-if="tempPlanObject.PlanLogoPath!='~/ApplicationDocuments/PlanLogo/' && tempPlanObject.PlanLogoPath!='' && tempPlanObject.PlanLogoPath!=null" class="col-lg-2 zero-padding-left-right-div pull-right text-center profileIamge">
        <label class="control-label small">Plan Logo </label><br />
        <img ng-show="tempPlanObject.PlanLogoPath" ng-src="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{tempPlanObject.PlanLogoPath}}" alt="Plan Logo" style="width: 83px; height: 83px;" class="img-thumbnail" />
    </div>
    <div ng-if="tempPlanObject.PlanLogoPath=='~/ApplicationDocuments/PlanLogo/' || tempPlanObject.PlanLogoPath=='' || tempPlanObject.PlanLogoPath==null" class="col-lg-2 zero-padding-left-right-div pull-right text-center profileIamge">
        <label class="control-label small">Plan Logo </label><br />
        <img src="~/Content/Images/no_image.png" alt="Plan Logo" style="width: 83px; height: 83px;" class="img-thumbnail" />
    </div>
</fieldset>
