<div class="detailed_view">

    <div class="clearfix">
        <h4 class="margin_left_10px pull-left">
            Referrals #
        </h4>
        <a class="btn pull-right btn-sm zeroPaddingTop margin_top_5" id="Close_Detailed_Report" onclick="CloseFullScreen('Referrals')" data-toggle="tooltip" data-placement="bottom" title="Close">
            <i class="fa fa-2x fa-close"></i>
        </a>


        <a href="javascript:void(0)" class="custom-button print_button_beside_table  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Print">
            <img src="/Resources/Images/Icons/print_icon.png">
        </a>
        <a href="javascript:void(0)" class="custom-button print_button_beside_table  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
            <img src="~/Resources/Images/Icons/pdf1.png" />
        </a>
        <a href="javascript:void(0)" class="custom-button print_button_beside_table  pull-right margin_top_5" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
            <img src="~/Resources/Images/Icons/image%20download%20new.png" />
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-1 width_3 left_chev" id="showPrevious"><a class="make_center"><i class="fa fa-chevron-left"></i></a></div>
            <div class="col-lg-10 width_94">
                <div id="DetailedViewOfReferral"></div>
                <div class="table-responsive fix_height margin_left_fix">
                    <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                        <thead class="table_hearder_DR">
                            <tr id="DRReferraltable_Header"></tr>
                        </thead>
                        <tbody id="DRReferraltable_Body">
                            <tr id="standardRow"></tr>
                            <tr id="expediteRow"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-1 width_3 right_chev" id="showNext"><a class="make_center"><i class="fa fa-chevron-right"></i></a></div>
        </div>
    </div>
</div>
<script src="~/Scripts/AppScripts/PACLeadDashboard/ReferralsDetailedView.js"></script>