<div class="small_view">

    <div class="c_panel_header clearfix">
        <label>Peer Process Time</label>
        @*<select name="OverallMeanProcessTimeSelect">
                <option value="top">Top 5</option>
                <option value="bottom">Bottom 5</option>
            </select>*@


        <a class="pull-right detail_btn btn-xs margin_top_5" id="Show_Detailed_Report_PPT"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
        <span class="smallview_icons pull-right">
            <a href="javascript:void(0)" class="custom-button print_button_beside_table drag_btn_drop table_drag_btn" data-toggle="tooltip" data-placement="bottom" title="Drag the Report">
                <img src="~/Resources/Images/Icons/drag.png" />
            </a>
            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_print_btn" data-toggle="tooltip" data-placement="bottom" title="Print">
                <img src="/Resources/Images/Icons/print_icon.png">
            </a>
            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_pdf_btn" data-toggle="tooltip" data-placement="bottom" title="Save as PDF">
                <img src="~/Resources/Images/Icons/pdf1.png" />
            </a>
            <a href="javascript:void(0)" class="custom-button print_button_beside_table table_img_btn" data-toggle="tooltip" data-placement="bottom" title="Save as Image">
                <img src="~/Resources/Images/Icons/image%20download%20new.png" />
            </a>
        </span>

    </div>
    <div class="c_panel_body">
        <div id="PeerProcessTimeBarGraph"></div>
        <div class="table-responsive margin_left_fix">
            <table class="table table-striped custom-thead-back custom-thead-font custom-tbody custom-table-striped">
                <thead class="table_hearder_DR">
                    <tr>
                        <th class="col-lg-1">Type</th>
                        <th class="col-lg-1">Tara</th>
                        <th class="col-lg-1">Jalane</th>
                        <th class="col-lg-1">Ana</th>
                        <th class="col-lg-1">Yasmine</th>
                        <th class="col-lg-1">Rachael</th>
                        <th class="col-lg-1">Leah</th>
                        <th class="col-lg-1">Stephanie</th>
                        <th class="col-lg-1">Andrea</th>
                        <th class="col-lg-1">Dana</th>
                        <th class="col-lg-1">Jaiane</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-lg-1">Highest</td>
                        <td class="col-lg-1">93</td>
                        <td class="col-lg-1">76</td>
                        <td class="col-lg-1">59</td>
                        <td class="col-lg-1">50</td>
                        <td class="col-lg-1">46</td>
                        <td class="col-lg-1">47</td>
                        <td class="col-lg-1">40</td>
                        <td class="col-lg-1">32</td>
                        <td class="col-lg-1">29</td>
                        <td class="col-lg-1">30</td>
                    </tr>
                    <tr>
                        <td class="col-lg-1">Average</td>
                        <td class="col-lg-1">10</td>
                        <td class="col-lg-1">19</td>
                        <td class="col-lg-1">29</td>
                        <td class="col-lg-1">28</td>
                        <td class="col-lg-1">36</td>
                        <td class="col-lg-1">23</td>
                        <td class="col-lg-1">32</td>
                        <td class="col-lg-1">32</td>
                        <td class="col-lg-1">29</td>
                        <td class="col-lg-1">20</td>
                    </tr>
                    <tr>
                        <td class="col-lg-1">Lowest</td>
                        <td class="col-lg-1">0</td>
                        <td class="col-lg-1">0</td>
                        <td class="col-lg-1">8</td>
                        <td class="col-lg-1">3</td>
                        <td class="col-lg-1">8</td>
                        <td class="col-lg-1">7</td>
                        <td class="col-lg-1">15</td>
                        <td class="col-lg-1">5</td>
                        <td class="col-lg-1">6</td>
                        <td class="col-lg-1">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p-script filepath="~/Scripts/AppScripts/PACLeadDashboard/peerProcessTime.js"></p-script>
