<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

</connectionStrings>
