@model PortalTemplate.Areas.UM.Models.ViewModels.Contact.AuthorizationContactViewModel
@using PortalTemplate.Helper
@using PratianUI
<div class="panel-body">
    <div class="c_panel_body" id="cmstablecontainer">
        <div id="EntityPanel" class="collapse" data-parent="#cmstablecontainer">
            <div class="col-lg-12 zero-padding-left-right" style="margin-bottom:5px">
                <fieldset class="fsStyle padding-bottom-0">
                    <legend class="legendStyle">
                        <span class="theme_depend text-uppercase create-auth-legends">
                            <span class="transparent-font-color">______</span>
                            Add Note Subject
                            <span class="transparent-font-color">_____.</span>
                        </span>
                    </legend>

                    <div class="x_panel">
                        <div class="x_content zero-padding-left-right Notemgnt">
                            <div class="x_content zero-padding-left-right">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 theme_label zero-padding-left-right">
                                    Note Subject

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 theme_label">
                                    Code
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 theme_label">
                                    Status
                                </div>
                            </div>
                            <div class="x_content doc_section margin_top_5px zero-padding-left-right" style="padding-bottom: 0;">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3 zero-padding-left-right">
                                    <input type="text" class="form-control input-xs" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                                    <input type="text" class="form-control input-xs" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-3 zero-padding-left-right">
                                    @Html.PratianUiRadioButtonFor(e => e.OutcomeType, "Active", new { @checked = "checked", @id = "Active", @Value = "Active" })
                                    @Html.PratianUiRadioButtonFor(e => e.OutcomeType, "In Active", new { @checked = "checked", @id = "InActive", @Value = "InActive" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 padding-top_10">
                            <button class="btn btn-success pull-right" data-toggle="collapse" data-target="#EntityPanel" onclick="ShowAddBtn()">Save</button>
                            <button class="btn btn-danger pull-right" data-toggle="collapse" data-target="#EntityPanel" onclick="ShowAddBtn()">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div><button class="btn btn-success pull-right" id="AddBtn_ContactMgmt" data-toggle="collapse" data-target="#EntityPanel" onclick="ShowHideAddBtn()">Add</button></div>
        <table class="table table-striped table-hover table-responsive custom-thead-back queue_table queue_table_head custom-thead-font custom-tbody custom-table-striped">
            <thead class="theme_thead">

                <tr>
                    <th class="withfilter sm-mbrid">
                        @*<span class="styled-input">
                                <input class="filer-search" type="text" required="">
                                <label class="theme1_table">Entity Type</label>
                                <span></span>
                                <i class="fa fa-sort sorticon"></i>
                            </span>*@
                        <label class="theme1_table">Note Subject</label>
                    </th>
                    <th class="withfilter sm-mbrid">
                        @*<span class="styled-input">
                                <input class="filer-search" type="text" required="">
                                <label class="theme1_table">Code</label>
                                <span></span>
                                <i class="fa fa-sort sorticon"></i>
                            </span>*@
                        <label class="theme1_table">Code</label>
                    </th>
                    <th class="withfilter sm-mbrid">
                        <label class="theme1_table">Status</label>
                    </th>
                    <th class="withfilter sm-mbrid"><label class="theme1_table">Action</label></th>
                </tr>

            </thead>
            <tbody class="tabletdcontrol" id="ContactEntityTableContent">


                <tr>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Negotiate Rate</label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Code1 </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Active </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button><button class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete</button></label></td>
                </tr>
                <tr>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Claims Review</label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Code2 </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Active </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button><button class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete</button></label></td>
                </tr>
                <tr>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">OON </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">Code3 </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data">In Active </label></td>
                    <td class="maxWidthtdX width-33"><label class="singleElemQueue theme_label_data"><button class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Edit</button><button class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete</button></label></td>
                </tr>

            </tbody>

        </table>

        <div class="clearfix"></div>
        <div style="margin-bottom:50px;"></div>
    </div>
</div>

<style>
    .Notemgnt{
        margin-top:-25px;
    }
    .padding-bottom-0{
        padding-bottom:0px;
    }
    .width-33{
        width:33%;
    }
</style>