
<div id="work_menu" class="work_menu">
    @*<div class="RealestateBreadCrum text-center">
            <h2><b id="Realestatelabel">INTAKE</b></h2>
        </div>*@
    <div class="clearfix"></div>
    <ul class="nav side-menu memberinnermenu" id="memberFloatMenu">
        <li class="">
        </li>
        <li class="">
            <a @*onclick="openContainer(this,'DataContainer','CREATE AUTH')"*@>
                <i class="fa fa-home"></i><span class="text_beside_icon">Home</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Home</span>
        </li>
        <li class="anchorselected">
            <a class="tab-navigation member-actions active" id="memberProfileBtn"
               data-tab-action="Member Profile"
               data-tab-title="Profile"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="~/Views/MemberProfile/_MemberProfile.cshtml"
               data-tab-defaultparenttab="Member"
               data-tab-userid=""
               data-tab-usertype="">
                <i class="fa fa-user"></i><span class="text_beside_icon">Profile</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Profile</span>
        </li>
        <li class="info-number">
            <a class="tab-navigation member-actions" id="memberHistoryBtn" data-tab-val="authHistory"
               data-tab-action="Auth History"
               data-tab-title="History"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="~/Areas/UM/Views/History/UMHistory/HistoryList/_UMAuthHistory.cshtml"
               data-tab-defaultparenttab="Member"
               data-tab-userid=""
               data-tab-usertype="">
                <i class="fa fa-history"></i><span class="text_beside_icon">Auth History </span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Auths</span>
        </li>
        <li class="info-number">
            <a class="tab-navigation member-actions" id="createAuthBtn" data-tab-val="createauth" data-tab-realestate="INTAKE"
               data-tab-action="Create New Auth"
               data-tab-title="Create New Auth"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="~/Views/Home/_AuthForm.cshtml"
               data-tab-defaultparenttab="Member"
               data-tab-userid=""
               data-tab-usertype="">
                <i class="fa fa-plus-circle"></i><span class="text_beside_icon">Create New Auth</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Create Auth</span>
        </li>
        <li class="info-number">
            <a class="tab-navigation member-actions" data-tab-val="claimListContainer" id="claimsListBtn" data-tab-realestate="CLAIMS" data-placement="top"
               data-tab-action="Claims History"
               data-tab-title="Claims History"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="true"
               data-tab-issubtab="true"
               data-tab-path="~/Views/Home/_ClaimList.cshtml"
               data-tab-defaultparenttab="Member"
               data-tab-userid=""
               data-tab-usertype="">
                <i class="fa fa-dollar"></i><span class="text_beside_icon">Claims History</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Claims</span>
        </li>
        <li>
            <a class="member-actions">
                <i class="fa fa-plus-circle"></i><span class="text_beside_icon">Create Claim</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Create Claim</span>
        </li>
        <li class="">
            <a class="member-actions">
                <i class="fa fa-heartbeat"></i><span class="text_beside_icon">CM History</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">CM History</span>
        </li>
        <li class="info-number">
            <a class="tab-navigation member-actions" id="createEpisodeBtn"
               data-tab-action="Create New Episode"
               data-tab-title="Create New Episode"
               data-tab-parentcontainer="partialBodyContainer"
               data-tab-floatmenu="true"
               data-tab-container="innerTabContainer"
               data-tab-autoflush="false"
               data-tab-issubtab="true"
               data-tab-path="~/Views/CaseManagement/CreateEpisode/_CreateNewEpisode.cshtml"
               data-tab-defaultparenttab="Member"
               data-tab-userid=""
               data-tab-usertype="">
                <i class="fa fa-plus-square"></i><span class="text_beside_icon">Create New Episode</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Create New Episode</span>
        </li>
        <li class="">
            <a class="member-actions">
                <i class="fa fa-hospital-o"></i><span class="text_beside_icon">Admissions</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Admissions</span>
        </li>
        <li class="">
            <a class="member-actions">
                <i class="fa fa-sticky-note-o"></i><span class="text_beside_icon">Notes</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Notes</span>
        </li>
        @*<li class="">
                <a>
                    <i class="fa fa-plus-square"></i><span class="text_beside_icon">Plan Benefits</span>
                </a>
                <span class="label_on_collapsed floating_menu_label">Plan Benefits</span>
            </li>*@
        <li class="">
            <a class="member-actions">
                <i class="fa fa-list-ol"></i><span class="text_beside_icon">Activity Log</span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Activity Log</span>
        </li>
        <li class="">
            <a class="member-actions">
                <i class="fa fa-newspaper-o"></i><span class="text_beside_icon">Reports </span>
            </a>
            <span class="label_on_collapsed floating_menu_label">Reports </span>
        </li>
    </ul>
</div>