

<div class="row col-lg-12">
    <form class="form-inline createAccountform">
        <div class="row">
            <div class="form-group col-lg-10">
                <label for="email" class="col-lg-4">Account Name:</label>
                <input type="email" class="form-control input-xs" id="email"><span class="availabiltycheckspan"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;Check Availability</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-lg-10">
                <label for="pwd" class="col-lg-4">Admin Email ID:</label>
                <input type="password" class="form-control input-xs" id="pwd">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-lg-10">
                <label for="pwd" class="col-lg-4">Confirm Email ID:</label>
                <input type="password" class="form-control input-xs" id="pwd">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-lg-10 accmap"><a href="#">Map Account</a>&nbsp;<i class="fa fa-hand-o-right" aria-hidden="true"></i></div>
        </div>
        <br />
        <div class="row">
            <div class="form-group col-lg-10">
                <label for="pwd" class="col-lg-4">Report To Account:</label>
                <input type="password" class="form-control input-xs" id="pwd">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-lg-10">
                <label for="pwd" class="col-lg-4">Reportee Account:</label>
                <input type="password" class="form-control input-xs" id="pwd">
            </div>
        </div>
        <br>
        <div class="col-lg-12" id="mapthisAccount">
            <input type="submit" value="CREATE ACCOUNT" style="width:85px" class="view-button pull-left" onclick="saveAccDetails(event, 'slide_modal', 'modal_background', 'mapthisAccount', 'Account has been Created Successfully!')">
            <input type="submit" value="CANCEL" style="width:45px" class="red-button pull-right" onclick="CloseAccModal('slide_modal', 'modal_background');">
        </div>
    </form>
</div>


