@{
    ViewBag.Title = "Account Management";
}
@section AddToHead{
    <title>Account Management | AHC</title>
}

<div class="col-lg-10 mainBodyCollapse" id="mainBody">
    @Html.Partial("~/Views/AccountManagement/_AccountManagement.cshtml")
</div>