.Notify-Expand {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 90;
    top: 179px;
    padding: 10px;
    border-radius: 50%;
    background-color: #477d48;
    /* color: #a94442; */
    color: #fff;
    height: 30.7969px;
    width: 30.7969px;
}

    .Notify-Expand:hover {
        /*color: white;
        background-color: #477d48;*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.bd-flow {
    position: fixed;
    top: 171.25px;
    right: -0.953px;
}

.bell_new {
    z-index: -1;
    position: fixed;
    top: 186px;
    font-size: 18px;
    right: 6.797px;
}

.notify-header {
    color: white;
    background: #b4ddb4;
    background: -moz-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background-image: -ms-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0b2a67', endColorstr = '#4869b0', GradientType = 0);
    background: -webkit-linear-gradient(left, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    background: linear-gradient(to right, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 );
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Notify-Collapse {
    cursor: pointer;
    position: fixed;
    z-index: 92;
    padding: 2px;
    color: whitesmoke;
    background-color: none;
    display: none;
    top: 149px;
    right: 251px;
}

.NotifyArea {
    top: 153px;
    right: 0px;
    position: fixed;
    width: 0%;
    height: 78%;
    z-index: 89;
    background: rgba(251,249,249,1);
    -webkit-box-shadow: 1px 1px 10px 2px rgba(189,189,189,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(189,189,189,1);
    box-shadow: 1px 1px 10px 2px rgba(189,189,189,1);

    transition:all .1s ease-in;
}

.notification-messages {
    margin-left: 12px;
    padding-top: 3px;
    padding-right: 12px;
    height: 505px;
    overflow: scroll;
}

.notification-list {
    text-align: justify;
    border-bottom: 1px solid rgba(0, 0, 255, 0.14);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 3px;
    color: #333;
}

.NotificationClose {
    background-color: rgba(244, 67, 54, 0.7) !important;
    font-size: 9px !important;
    border: 2px solid white;
    height: 25px !important;
    width: 25px !important;
}
