.loadingArea {
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 100%;
    background: rgba(255,255,255,0.9);
}

    .loadingArea > img {
        position: absolute;
        left: 48%;
        top: 25%;
        height: 68px;
    }

    .DefaultCredTheme {
    cursor: pointer;
    position: relative;
    background: #3c9eda;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
     .CredDefaultTheme {
    cursor: pointer;
    position: relative;
    background: #000000;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
     .CredTheme1 {
    cursor: pointer;
    position: relative;
    background: #07073a;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
     .CredTheme2 {
    cursor: pointer;
    position: relative;
    background: #112e51;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
      .CredTheme3 {
    cursor: pointer;
    position: relative;
    background: #383636;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
       .CredTheme4 {
    cursor: pointer;
    position: relative;
    background: #185394;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}
       .CredTheme6 {
    cursor: pointer;
    position: relative;
    background: #333333;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.tabstyle {
    width: auto;
    /*background-color: #779ad2;*/
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    height: 35px;
    border-radius: 0px 43px 0px 0px;
    padding-top: 2px;
    padding-right: 40px;
    border-left: 1px solid #3f68a8;
    border-top: 3px solid rgb(119, 154, 210);
    border-right: 3px solid rgb(63, 104, 168);
    border-bottom: 1px solid #779ad2;
    background: rgba(137,173,230,1);
    background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
}


/* /FOR NAVIGATION FLOW*/
.inner_menu_item {
    width: 100% !important;
}

.padding_top_20px {
    padding-top: 20px;
}

.cursor_pointer {
    cursor: pointer;
}

.tabs-popover {
    position: absolute;
    background: white;
    color: darkgray;
    padding: 3px;
    top: 78px;
    border-radius: 2px;
    border: 2px solid darkgray;
    z-index: 10000;
    margin-left: -118px;
}

    .tabs-popover a {
        color: grey;
        text-transform: capitalize;
        text-decoration: none;
        padding-right: 20px;
        text-decoration: none;
    }

        .tabs-popover a:hover {
            text-decoration: underline;
        }

    .tabs-popover .fa {
        color: black;
    }

        .tabs-popover .fa:hover {
            color: red;
        }

.outertabs.active .tabs-popover > ul {
    list-style-type: none !important;
}

.tabs-popover > ul {
    list-style-type: none;
    padding-left: 0px;
}

.tabs-popover span {
    padding-right: 10px;
    position: absolute;
    right: 0;
}

.tabs-popover:before {
    content: "^";
    position: absolute;
    top: -12px;
    left: 46px;
    font-size: 19px;
    color: darkgrey;
}

.tabs-popover:hover {
    display: block;
}

ul.tabs {
    margin: 11px 0px 0px 0px;
    /* list-style-type: ethiopic-halehame-ti-er; */
    line-height: 26px;
    /* max-height: 29px; */
    overflow: hidden;
    display: block;
    padding-right: 15px;
    padding: 0px;
    list-style: none;
}

    ul.tabs > li.active {
        z-index: 2;
        /* height: 27px; */
    }

        ul.tabs > li.active > a {
            color: white;
            font-weight: bold;
        }

        ul.tabs > li.active:before {
            border-color: transparent #efefef transparent transparent;
        }


        ul.tabs > li.active:after {
            border-color: transparent transparent transparent #efefef;
        }

    ul.tabs > li {
        float: left;
        margin: 3px 2px 0px 0px;
        border-top-right-radius: 8px;
        border-top-left-radius: 3px;
        padding: 1px 0px 0px 10px;
        position: inherit;
        /* box-shadow: 0 10px 20px rgba(0,0,0,.5); */
        /*min-width: 200px;*/
        background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    }

        ul.tabs > li > a {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            position: relative;
            top: 4px;
        }

        ul.tabs > li.active > a {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            position: relative;
            top: 4px;
            /* margin-top: -1px; */
        }

/*ul.tabs > li:before, ul.tabs > li:after {
                content: '';
                background: transparent;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                border-width: 10px;
                top: 0px;
                border-style: solid;
                position: absolute;
            }

            ul.tabs > li:before {
                border-color: transparent #ddd transparent transparent;
                -webkit-transform: rotate(48deg);
                left: -23px;
            }

            ul.tabs > li:after {
                border-color: transparent transparent transparent #ddd;
                -webkit-transform: rotate(-48deg);
                right: -17px;
            }*/

/* Clear Fix took for HTML 5 Boilerlate*/

/*.clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }*/

/*.clearfix:after {
        clear: both;
    }*/

/*.clearfix {
        zoom: 1;
    }*/

.outertabclose-red {
    /* background: rgb(198, 31, 53) !important; */
    color: #fff;
    /* border: 2px solid #a6071d; */
    margin-top: -1px !important;
    float: right;
}

.custombadge {
    margin-top: -4px;
    margin-left: 3px;
    display: inline-block;
    min-width: 8px;
    padding: 2px 3px 1px;
    font-size: 12px;
    font-weight: c bold;
    color: #fff;
    line-height: 1;
    vertical-align: top;
    white-space: nowrap;
    text-align: center;
    /* background-color: #777; */
    /* border-radius: 20px; */
    cursor: pointer;
    /* transition: font-size 250ms; */
    background: url(../../Resources/Images/Buttons/Danger.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*ul.tabs > li > span.custombadge:hover {
               font-size:12px;
            }*/

.tabstyle {
    width: auto;
    /*background-color: #779ad2;*/
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    height: 35px;
    border-radius: 0px 43px 0px 0px;
    padding-top: 2px;
    padding-right: 40px;
    border-left: 1px solid #3f68a8;
    border-top: 3px solid rgb(119, 154, 210);
    border-right: 3px solid rgb(63, 104, 168);
    border-bottom: 1px solid #779ad2;
    background: rgba(137,173,230,1);
    background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
}

/** The Bread Cum Css  **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #a6061c;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }



    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        border-left: 10px solid #fff;
    }

    .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 10px solid #ccc;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
        border-left: 10px solid #ebebeb;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
        border-left: 10px solid #adadad;
    }

div.tabs {
    margin: 11px 0px 0px 0px;
}

.btn-breadcrumb .btn:hover { /*On breadCrumb hover*/
    background: #f5fcff;
}

.mainBodyCollapse .innerMenu {
    display: inline-block;
    width: 15.3%;
}

    .mainBodyCollapse .innerMenu .side-menu {
        display: inline-block;
        width: 15.3%;
    }

.mainBodyCollapse .mainContent {
    display: inline-block;
    width: 100%;
}

.mainBodyExpand .innerMenu {
    display: inline-block;
    /*width: 11.3%;*/
}

    .mainBodyExpand .innerMenu .side-menu {
        display: inline-block;
        /*width: 11.3%;*/
    }

.mainBodyExpand .mainContent {
    display: inline-block;
    /*width: 88.3%;*/
}

.tab-item {
    width: 10%;
    display: inline-block;
}

#Summary {
    /*width: 10%;*/
    font-weight: bold !important;
}

#Review {
    /*width: 8%;*/
    font-weight: bold !important;
}

#Notes {
    /*width: 7%;*/
}

#Contact {
    width: 10%;
}

*/ #Attachments {
    /*width: 11%;*/
}

#Letters {
    /*width: 10%;*/
}

#ODAG {
    /*width: 7%;*/
}

#Status {
    /*width: 8%;*/
}
/* FOR NAVIGATION FLOW*/
.outertabs {
    cursor: pointer;
}

.fullBodyContainer {
}


.text-uppercase {
    text-transform: uppercase;
}


.tab-container {
    background: white;
    margin-top: 0px;
    padding: 0;
    /* max-height: 40px; */
}

ul.innerTabsArea {
    margin: 11px 0px 0px 8px;
    /* list-style-type: ethiopic-halehame-ti-er; */
    line-height: 26px;
    max-height: 29px;
    overflow: hidden;
    display: inline-block;
    padding-right: 15px;
    padding: 0px;
    list-style: none;
    padding-top: 0;
    margin: 7px 0px -6px -1px;
}

.innerTabs.active {
    z-index: 2;
    height: 100%;
}

.innerTabs > a {
    cursor: pointer;
    text-decoration: none;
    margin-top: 2px;
}

.innerTabs.active > a {
    font-weight: bold;
    position: relative;
    top: 0px;
    margin-top: -2px;
}

    .innerTabs.active > a:hover {
        text-decoration: none;
    }

.innerTabs.active:before {
    border-color: transparent #efefef transparent transparent;
}


.innerTabs.active:after {
    border-color: transparent transparent transparent #efefef;
}

.innerTabs {
    float: left;
    margin: 0px 2px 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    padding: 4px 0px 0px 14px;
    position: inherit;
    max-width: 200px;
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    cursor:pointer;
}

.innerTabsLinks {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    top: -3px;
    position: relative;
}

.innertabclose-red {
    /* background: #c61f35 !important; */
    color: #fff;
    /* border: 2px solid #fff; */
    position: relative;
}


/*ul.tabs > li > span.custombadge:hover {
               font-size:12px;
            }*/

#innerMenuList .member-actions{
    cursor:pointer;
}

.work_menu_special_item{
    cursor:pointer;
}


.memberProfileTabsContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 4px;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    text-decoration: none;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    background-color: #e0ebff !Important;
}


    .memberProfileTabsContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .memberProfileTabsContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .memberProfileTabsContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .memberProfileTabsContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .memberProfileTabsContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.memberProfileTabsContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.viewAuthTabsContainer.main-navigation a.list-item {
    color: grey;
    font-weight: bold;
    border-bottom: none;
    background-color: white;
    background: none;
    z-index: 3;
    top: 12px;
    border: none;
}

.viewAuthTabsContainer.main-navigation .current > a.list-item {
    color: rgb(48, 72, 125) !important;
}

.main-navigation svg {
    width: 120%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.main-navigation span {
    position: relative;
    top: -7px;
    padding: 0px 0px 0px 2.3rem;
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 700;
}

.main-navigation .tab-1 {
    z-index: 4;
}

.app_menu_tabs {
    float: left;
    margin: 3px 2px 0px 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 1px 0px 0px 10px;
    background: #d1d1e0;
    position: inherit;
    color: #30487D !important;
    max-width: 200px;
}

.viewAuthTabsContainer > ul > li.current {
    z-index: 2;
    height: 100%;
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
}

.custombadge + .tabs-popover ul li {
    background: white !Important;
}

.DefaultTheme {
    cursor: pointer;
    position: relative;
    background: #203764;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.DesertTheme {
    cursor: pointer;
    position: relative;
    background: #98AE59;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.CMSBlue {
    cursor: pointer;
    position: relative;
    background: #2A3F54;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.Theme7D9492 {
    cursor: pointer;
    position: relative;
    background: #7D9492;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.Theme1 {
    cursor: pointer;
    position: relative;
    border-radius: 38%;
    background: #203764;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 8px !important;
    width: 50px !important;
    left: -1px;
    border: 3px solid rgba(21, 3, 3, 0);
}
.CredAxisTheme {
   cursor: pointer;
    position: relative;
    background: #203764;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.Theme2 {
    cursor: pointer;
    position: relative;
    background: #98AE59;
    border-radius: 16%;
    padding: 1px 8px !important;
    width: 50px !important;
    border: 3px solid rgba(21, 3, 3, 0);
}

.color_row .theme_picker:not(:first-child) {
    margin-left: 10%;
}

.popover_content li:not(:last-child) {
    border-bottom: 1px dotted black;
}

#sideModalHeader label {
    color: black !important;
    font-size: 13px;
}

.queue_table_head {
    color: white;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#0b2a67), color-stop(0.5%,#34569f),color-stop(100%,#4869b0));
    background: -moz-linear-gradient(left, #0b2a67 0%, #34569f 50% ,#4869b0 100%);
}

/*.form_11 input,.form_11 select,.form_11 label {
    color: #35579f !important;
}*/
.queue_table tbody tr:nth-child(2n) {
    background: white;
}

.go-forward-btn {
    color: white;
    font-weight: 900;
    position: relative;
}

.go-back-btn {
    color: white;
    font-weight: 900;
    position: relative;
    top: 2px;
}

.innertabclose .fa {
    position: relative;
    top: -1px;
}


.outertabclose .fa{
     position: relative;
    top: -1px;
}

