<div class="container">
    <span class="temmessage"style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;DO YOU WANT TO MOVE THIS PROFILE TO CREDAXIS?</span>
    <div class="hidden" id="tempsuccess" style="font-size: 15px; margin-left: 16px; color:green">
        <span class="fa fa-2x fa-check">
            SUCCESSFULLY MOVED TO CREDAXIS!!
        </span>
    </div>
</div>
