<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="specialityName" class="col-sm-3 control-label">Speciality Name *</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="specialityName" placeholder="speciality name">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Cancel</button>
            <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button type="submit" class="btn btn-primary btn-sm pull-right">Add</button>
        </div>
    </div>
</form>

