<div class="panel-group" id="accordionCompensation" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="CompensationHeading">
            <a data-toggle="collapse" data-parent="#accordionCompensation" href="#Compensation" aria-expanded="false" aria-controls="Compensation">
                Workers Compensation Information
                <span class="collapsed pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </a>
        </div>
        <div id="Compensation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CompensationHeading">
            <div class="panel-body table-bordered">
                <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label small">License Number *</label>
                            <input type="text" class="form-control input-sm" />
                        </div>
                        <div class=" form-group col-md-6">
                            <label class="control-label small">Certification Status *</label>
                            <select id="status" class="form-control" style="display: block;">
                                <option>Active</option>
                                <option>De-active</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-md-12">

                     

                        <div class="col-md-6">
                            <label class="control-label small">Issue Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label small">Expiration Date</label>
                            <input type="date" class="form-control input-sm" />
                        </div>
                    </div>
                   


                 
                   


                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 panel-footer">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right">Cancel</button>
                            <button class="btn btn-warning">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








