
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Custom/Profile/Util.js"></script>
<script src="~/Scripts/Custom/Plan/PlanType.js"></script>

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li>
                        <i class="fa fa-list"></i>
                        <a href="/Plan/Index">Plan</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i> Plan Types
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-default" ng-app="planApp">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plan Types</h3>
                    </div>

                    <div class="panel-body table-bordered" ng-controller="PlanType">

                        <div class="col-lg-12" id="PlanTypeContainer">

                            <div class="col-lg-12">
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-4"><strong>Plan Type</strong></div>
                                    <div class="col-lg-4"><strong>Remarks</strong></div>
                                    <div class="col-lg-4"><strong>Edit</strong></div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="PlanTypeData">
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-4">Type1</div>
                                    <div class="col-lg-4">Good</div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('PlanTypeForm1',this)"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                                <br />
                                <div class="col-lg-12" id="PlanTypeForm1" style="display:none;">

                                    <div class="panel panel-default">
                                        <div class="panel-body">


                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label small">Plan Type *</label>

                                                    <input type="text" class="form-control input-sm" required />

                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label class="control-label small">Remarks *</label>



                                                    <textarea class="form-control input-sm" rows="1" required></textarea>


                                                </div>

                                            </div>


                                            <div class="clearfix"></div>
                                            <div class="col-md-12 panel-footer">
                                                <div class="col-md-12">
                                                    <button class="btn btn-xs btn-success pull-right" onclick="closeChildDiv('PlanTypeForm1')">Update</button>
                                                    <button class="btn btn-xs btn-warning" onclick="closeChildDiv('PlanTypeForm1')">Cancel</button>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 text-center table-bordered">
                                    <div class="col-lg-4">Type2</div>
                                    <div class="col-lg-4">Good</div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-xs btn-primary" onclick="toggleChildDiv('PlanTypeForm2',this)"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                                <br />
                                <div class="col-lg-12" id="PlanTypeForm2" style="display:none;">

                                    <div class="panel panel-default">

                                        <div class="panel-body">


                                            <div class="col-md-12">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label small">Plan Type *</label>

                                                    <input type="text" class="form-control input-sm" required />

                                                </div>

                                                <div class="form-group col-md-6">
                                                    <label class="control-label small">Remarks *</label>



                                                    <textarea class="form-control input-sm" rows="1" required></textarea>


                                                </div>

                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="col-md-12 panel-footer">
                                                <div class="col-md-12">
                                                    <button class="btn btn-xs btn-success pull-right" onclick="closeChildDiv('PlanTypeForm2')">Update</button>
                                                    <button class="btn btn-xs btn-warning" onclick="closeChildDiv('PlanTypeForm2')">Cancel</button>

                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        @*<div class="form-group" ng-repeat="n in PlanTypesList">*@
                        <div ng-if="PlanTypes==1" class="form-group">
                            <i class="fa fa-times pull-right text-danger" ng-click="removePlanType()"></i>
                            <div class="col-md-12">
                                <div class="form-group col-md-6">
                                    <label class="control-label small">Plan Type *</label>

                                    <input type="text" class="form-control input-sm" required />

                                </div>

                                <div class="form-group col-md-6">
                                    <label class="control-label small">Remarks *</label>

                                    <textarea class="form-control input-sm" rows="1" required></textarea>


                                </div>

                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12 panel-footer">
                                <div class="col-md-12">
                                    <button class="btn btn-xs btn-success pull-right" ng-click="AddNewPlanType()">Add</button>
                                    <button class="btn btn-xs btn-warning" ng-click="removePlanType()">Cancel</button>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <br />
                        <div class="col-md-12 text-right">
                            <button class="btn btn-xs btn-primary" ng-click="newPlanType()"><i class="fa fa-plus"></i> Add New Plan Type</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
