.create_encounter_container {
    padding: 5px;
    margin-bottom: 10px;
    background: rgb(247, 247, 247);
    min-height: 391px;
}

#wizard_step_id {
    display: none;
}

.wizard_horizontal {
    margin-top: 4px;
    background: #fff;
    border: #ddd 1px solid;
    padding: 10px;
}

    .wizard_horizontal ul.wizard_steps {
        display: table;
        list-style: none;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

        .wizard_horizontal ul.wizard_steps li {
            display: table-cell;
            text-align: center;
        }

            .wizard_horizontal ul.wizard_steps li a, .wizard_horizontal ul.wizard_steps li:hover {
                display: block;
                position: relative;
                -moz-opacity: 1;
                filter: alpha(opacity=100);
                opacity: 1;
                color: #666;
                text-decoration: none;
            }


.wizard_div {
    display: none;
}

#provider_search_btn {
    margin-top: 22px;
}


.modifier_width {
    float: left;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.x_panel.border_on_panel {
    border: 1px solid #ddd;
}

.ProviderSearch {
    display: none;
}

#ProviderList {
    padding: 10px;
    display: none;
}

#providers_title {
    margin-bottom: 5px;
    font-weight: bold;
}

#CloseDocHistoryBtn {
    margin-bottom: 10px;
    margin-top: -12px !important;
}
