
<style>
    .pt-tile {
        padding: 0px;
    }

        .pt-tile .pt-tile-body {
            cursor: pointer;
            background-color: #fff;
            color: #4d4d4d;
            font-size: 48px;
            margin: 2px;
        }

        .pt-tile .pt-tile-value {
            text-align: center;
            color: #576670;
        }

        .pt-tile .pt-tile-label {
            font-size: 14px;
            text-align: center;
            display: block;
            font-weight: 400;
            margin-top: -7px;
            margin-bottom: 4px;
            padding-bottom: 5px;
        }
</style>

<div style="margin-top: 50px;">

    <div class="col-xs-12" style="padding:0px;z-index:2;">
        <div class="col-sm-4">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-cube"></i> Credentialing <small class="small-heading">(overview)</small></div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-sm-4 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Active Delegated" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                65
                            </div>
                            <small class="pt-tile-label">Delegated</small>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Active Non-Delegated">
                            <div class="pt-tile-value">
                                81
                            </div>
                            <small class="pt-tile-label">Non-Delegated</small>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 pt-tile">
                        <div class="pt-tile-body" title="Initiate Credentialing" style="height:86px; margin-right: 0px;">
                            <div class="pt-tile-value" style="padding-top: 8px;">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-users"></i> Provider(s) <small class="small-heading">(overview)</small></div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-sm-3 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Active Provider(s)" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                89
                            </div>
                            <small class="pt-tile-label">Active</small>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Inactive Provider(s)">
                            <div class="pt-tile-value">
                                22
                            </div>
                            <small class="pt-tile-label">Inactive</small>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Initiate Provider" style="height:86px;">
                            <div class="pt-tile-value" style="padding-top: 8px;">
                                <i class="fa fa-user-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Search Provider(s)" style="height:86px;margin-right: 0px;">
                            <div class="pt-tile-value" style="padding-top: 8px;">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-list"></i> My Queue</div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-sm-6 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Open Task(s)" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                <span style="vertical-align: super;font-size: 12px;"><i class="fa fa-hourglass-start"></i></span> 67
                            </div>
                            <small class="pt-tile-label">Open</small>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="InProgress Task(s)" style="margin-right: 0px;">
                            <div class="pt-tile-value">
                                <span style="vertical-align: super;font-size: 12px;"><i class="fa fa-hourglass-half"></i></span> 4
                            </div>
                            <small class="pt-tile-label">InProgress</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12" style="padding:0px;">
        <div class="col-sm-4">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-handshake-o"></i> Contract Grid <small class="small-heading">(overview)</small></div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Active Contract" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                241
                            </div>
                            <small class="pt-tile-label">Active</small>
                        </div>
                    </div>
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Inactive Contract" style="margin-right: 0px;">
                            <div class="pt-tile-value">
                                10
                            </div>
                            <small class="pt-tile-label">Inactive</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-hourglass-end"></i> Expire(s) <small class="small-heading">(overview)</small></div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="License(s)" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                12
                            </div>
                            <small class="pt-tile-label">Licenses In <a href="javscript:" style="text-decoration:underline;">30 Days</a></small>
                        </div>
                    </div>
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Credential(s)" style="margin-right: 0px;">
                            <div class="pt-tile-value">
                                63
                            </div>
                            <small class="pt-tile-label">Credentials In <a href="javscript:" style="text-decoration:underline;">90 Days</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default" style="border: 0px;border-radius: 0px;background-color: rgba(255, 255, 255, 0);box-shadow: none;">
                <div class="panel-heading" style="background-color: rgba(255, 255, 255, 0.19);font-size: 18px;color: #fff;border-bottom: 1px solid #dddddd;"><i class="fa fa-envelope-o"></i> Message(s)</div>
                <div class="panel-body" style="padding: 0px;border:0px;background-color: rgba(255, 255, 255, 0);">
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="New Message(s)" style="margin-left: 0px;">
                            <div class="pt-tile-value">
                                53
                            </div>
                            <small class="pt-tile-label">New</small>
                        </div>
                    </div>
                    <div class="col-xs-6 pt-tile">
                        <div class="pt-tile-body" title="Compose New Message" style="height:86px;margin-right: 0px;">
                            <div class="pt-tile-value" style="padding-top: 8px;">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>