.scrollable-division {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.table-header {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 99.7%;
    white-space: nowrap;
}

.tableBodyDivision {
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fixed-toolbar {
    margin-left: 8px;
    padding-top: 2px;
    padding-bottom: 32px;
}

.tableCast > tbody > tr {
    cursor: pointer;
}

tbody > tr, td {
    white-space: nowrap;
    text-transform: uppercase;
}

.table > tbody > tr > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.danger {
    color: red;
}

.ok {
    color: green;
}

::-webkit-scrollbar {
    height: 7px;
}

.tableBodyDivision::-webkit-scrollbar {
    width: 1.9em !important;
}

.tableBodyDivision::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px blue;
}
/*.tableBodyDivision::-webkit-scrollbar-thumb {
        background-color: rgba(169, 169, 169, 0.35);
        outline: 1px solid slategrey;
    }*/
.margin_left_zero {
    margin-left: 0;
}

.small-legend-green {
    position: absolute;
    top: 6px;
    left: 60px;
    width: 15px;
    height: 15px;
    background: url(/Areas/UM/Resources/Images/Buttons/Success.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.small-legend-yellow {
    position: absolute;
    top: 6px;
    left: 80px;
    width: 15px;
    height: 15px;
    background: url(/Areas/UM/Resources/Images/Buttons/Primary.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.small-legend-blue {
    position: absolute;
    top: 6px;
    left: 80px;
    width: 15px;
    height: 15px;
    border: 1px solid #337ab7;
    background-color: #337ab7;
    border-radius: 4px;
}

.legend-title {
    position: absolute;
    left: 4px;
    font-size: 1.1em;
    top: 6px;
    font-weight: bold;
    color: #337ab7;
}

.small-legend-red {
    position: absolute;
    top: 6px;
    left: 102px;
    width: 15px;
    height: 15px;
    background: url(/Areas/UM/Resources/Images/Buttons/Danger.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.small-legend-grey {
    position: absolute;
    top: 6px;
    left: 123px;
    width: 15px;
    height: 15px;
    background: url(/Areas/UM/Resources/Images/Buttons/Warning.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.small-legend-white {
    position: absolute;
    top: 6px;
    left: 145px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: url(/Areas/UM/Resources/Images/Buttons/Ghost.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

    .small-legend-green:hover, .small-legend-yellow:hover,
    .small-legend-red:hover, .small-legend-grey:hover, .small-legend-white:hover {
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    }

.left-scroll-button {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 31px;
    top: 50%;
    left: 6px;
    z-index: 129;
    width: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

    .left-scroll-button:hover {
        background-color: rgba(0,0,0,0.9);
    }

.right-scroll-button {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 31px;
    top: 50%;
    right: 13px;
    z-index: 129;
    width: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
}

    .right-scroll-button:hover {
        background-color: rgba(0,0,0,0.9);
    }

.scroll-icon-left {
    position: relative;
    color: white;
    top: 5px;
    left: 0px;
}

.scroll-icon-right {
    position: relative;
    color: white;
    top: 5px;
    left: 3px;
}

.total-count {
    position: absolute;
    right: 79px;
    display: inline;
    font-weight: bold;
    padding-top: 5px !important;
    cursor: pointer;
     -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

/*.total-count:hover {
        color: white !important;
        background-color: rgb(128, 128, 128) !important;
    }*/

.total-expedited {
    position: absolute;
    right: 199px;
    display: inline;
    font-weight: bold;
    padding-top: 5px !important;
    cursor: pointer;
     -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

/*.total-expedited:hover {
        color: white !important;
        background-color: rgb(230, 28, 28) !important;
    }*/

.total-standard {
    position: absolute;
    right: 319px;
    display: inline;
    font-weight: bold;
    padding-top: 5px !important;
    cursor: pointer;
   -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

/*.total-standard:hover {
        color: white !important;
        background-color: #319012 !important;
    }*/

.queue-member-name, .queue-provider, .queue-facility, .queue-service-provider, .queue-dx {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    border-color: white;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
}

.popover-content {
    white-space: nowrap;
    text-transform: uppercase;
}

.popover-title {
    font-size: 12px;
}

.inner-scrollable-div {
    width: 160%;
}

.one {
    max-width: 0;
    width: 1.5%;
}

.two {
    max-width: 0;
    width: 2%;
}

.three {
    max-width: 0;
    width: 4%;
}

.four {
    max-width: 0;
    width: 4%;
}

.five {
    max-width: 0;
    width: 5%;
}

.six {
    max-width: 0;
    width: 4.5%;
}

.seven {
    max-width: 0;
    width: 4%;
}

.eight {
    max-width: 0;
    width: 3.8%;
}

.nine {
    max-width: 0;
    width: 4.4%;
}

.ten {
    max-width: 0;
    width: 4%;
}

.eleven {
    max-width: 0;
    width: 6%;
}

.twelve {
    max-width: 0;
    width: 4%;
}

.thirteen {
    max-width: 0;
    width: 2.8%;
}

.fourteen {
    max-width: 0;
    width: 2.5%;
}

.fifteen {
    max-width: 0;
    width: 3.5%;
}

.sixteen {
    max-width: 0;
    width: 3.7%;
}

.seventeen {
    max-width: 0;
    width: 4.3%;
}

.eighteen {
    max-width: 0;
    width: 5%;
}

.nineteen {
    max-width: 0;
    width: 4.8%;
}

.twenty {
    max-width: 0;
    width: 4%;
}

.twentyone {
    max-width: 0;
    width: 2.5%;
}

.twentytwo {
    max-width: 0;
    width: 3.5%;
}

.twentythree {
    max-width: 0;
    width: 5%;
}

.twentyfour {
    max-width: 0;
    width: 3%;
}

.twentyfive {
    max-width: 0;
    width: 4%;
}

.table-header .fa-sort, .fa-sort-asc, .fa-sort-desc {
    cursor: pointer;
    font-size: 11px;
}

.padding-left-zero {
    padding-left: 0;
}

.export-container .custom-button {
    margin: 0;
}

.pointing-arrow-standard {
    position: absolute;
    left: 46%;
    bottom: 0;
    border: solid transparent;
    border-bottom-color: rgba(255,255,255,0);
    border-width: 4px;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.pointing-arrow-expedited {
    position: absolute;
    left: 46%;
    bottom: 0;
    border: solid transparent;
    border-bottom-color: rgba(255,255,255,0);
    border-width: 4px;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.pointing-arrow-all {
    position: absolute;
    left: 46%;
    bottom: 0;
    border: solid transparent;
    border-bottom-color: rgba(255,255,255,1);
    border-width: 4px;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.table-header .filer-search {
    text-transform: uppercase;
}

.legend-wrapper {
    padding: 2px;
    color: #2c4a77;
}

.legend-container {
    position: absolute;
    right: 441px;
    border: 1px solid #234488;
    width: 170px;
    height: 30px;
    margin-top: -2px;
}

.fadeInUp {
    animation-duration: 0.3s;
}

.greentd {
    border-left: 8px solid green;
    border-bottom: 15px solid green;
    border-top: 1px solid green;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.yellowtd {
    border-left: 8px solid yellow;
    border-bottom: 15px solid yellow;
    border-top: 1px solid yellow;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.redtd {
    border-left: 8px solid red;
    border-bottom: 15px solid red;
    border-top: 1px solid red;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.greytd {
    border-left: 8px solid lightgrey;
    border-bottom: 15px solid lightgrey;
    border-top: 1px solid lightgrey;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.whitetd {
    border-left: 8px solid white;
    border-bottom: 15px solid white;
    border-top: 1px solid white;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px !important;
}

.greentdlast {
    border-left: 8px solid green;
    border-bottom: 16px solid green;
    border-top: 1px solid green;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.yellowtdlast {
    border-left: 8px solid yellow;
    border-bottom: 16px solid yellow;
    border-top: 1px solid yellow;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.redtdlast {
    border-left: 8px solid red;
    border-bottom: 16px solid red;
    border-top: 1px solid red;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.greytdlast {
    border-left: 8px solid lightgrey;
    border-bottom: 16px solid lightgrey;
    border-top: 1px solid lightgrey;
    position: relative;
    z-index: 98;
    width: 1px;
    padding: 0px;
}

.whitetdlast {
    border-left: 7px solid white;
    border-bottom: 16px solid white;
    border-top: 1px solid white;
    position: relative;
    z-index: 98;
    width: 1px !important;
    padding: 0px !important;
}

.green-legend-description, .red-legend-description, .yellow-legend-description, .grey-legend-description {
    cursor: pointer;
}

.export-panel {
    position: absolute;
    right: 60px;
    margin-top: -6px;
}

.transparentLoadingDiv {
    background-color: rgba(255,255,255,1);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

    .transparentLoadingDiv .animated {
        animation-duration: 0.2s;
    }

.loadGif {
    position: absolute;
    left: 45%;
    top: 40%;
}

.greentdgradient {
    background: linear-gradient(to right, green, rgba(255,255,255,0));
    position: relative;
}

.greentdgradient-right {
    background: linear-gradient(to left, green, rgba(255,255,255,0));
    position: relative;
}

.redtdgradient {
    background: linear-gradient(to right, red, rgba(255,255,255,0));
    position: relative;
}

.redtdgradient-right {
    background: linear-gradient(to left, red, rgba(255,255,255,0));
    position: relative;
}

.yellowtdgradient {
    background: linear-gradient(to right, yellow, rgba(255,255,255,0));
    position: relative;
}

.yellowtdgradient-right {
    background: linear-gradient(to left, yellow, rgba(255,255,255,0));
    position: relative;
}

.greytdgradient {
    background: linear-gradient(to right, lightgrey, rgba(255,255,255,0));
    position: relative;
}

.greytdgradient-right {
    background: linear-gradient(to left, lightgrey, rgba(255,255,255,0));
    position: relative;
}

.whitetdgradient {
    background: linear-gradient(to right, white, rgba(255,255,255,0));
    position: relative;
}

.whitetdgradient-right {
    background: linear-gradient(to left, white, rgba(255,255,255,0));
    position: relative;
}

.legend-dropdown {
    position: absolute;
    top: 6px;
    left: 4px;
}

.dropdown-btn {
    padding: 0px;
    height: 25px;
    width: 35px;
    background-color: #dadada;
}

.left-border-all {
    padding-left: 5px !important;
}

.left-border-green {
    /*border-left: 20px solid green;*/
    padding-left: 5px !important;
}

.left-border-yellow {
    /*border-left: 20px solid yellow;*/
    padding-left: 5px !important;
}

.left-border-red {
    /*border-left: 20px solid red;*/
    padding-left: 5px !important;
}

.left-border-white {
    /*border-left: 20px solid white;;*/
    padding-left: 5px !important;
}

.left-border-grey {
    /*border-left: 20px solid lightgrey;*/
    padding-left: 5px !important;
}

.legend-menu:after {
    border-bottom: 6px solid #999;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    display: -moz-inline-stack;
    *display: inline;
    right: 92%;
    position: absolute;
    top: -6px;
}

.legend-menu {
    left: -4px;
    border: 1px solid rgb(190, 190, 190);
}

.greentd-line {
    border: 2px solid green;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 2px;
}

.redtd-line {
    border: 2px solid red;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 2px;
}

.yellowtd-line {
    border: 2px solid yellow;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 2px;
}

.whitetd-line {
    border: 2px solid white;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 2px;
}

.greytd-line {
    border: 2px solid grey;
    border-bottom: 0px;
    border-top: 0px;
    margin-right: 2px;
}

.export-button {
    margin-top: 5px;
}

.filterButton {
    position: absolute;
    right: 39px;
    margin-top: -6px;
}

.excelButtonQueue {
    position: absolute;
    right: 1px;
    margin-top: -6px;
}

    .excelButtonQueue img, .filterButton img {
        width: 28.3px;
        height: 28.3px;
    }

.menu-legend-green {
    position: absolute;
    top: 33px;
    left: 36px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: green;
    border-radius: 4px;
}

.menu-legend-white {
    position: absolute;
    top: 118px;
    left: 36px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 4px;
}

.menu-legend-yellow {
    position: absolute;
    top: 62px;
    left: 36px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: yellow;
    border-radius: 4px;
}

.menu-legend-red {
    position: absolute;
    top: 90px;
    left: 36px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: red;
    border-radius: 4px;
}

.menu-legend-grey {
    position: absolute;
    top: 146px;
    left: 36px;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
    border-radius: 4px;
}

.twentysix {
    max-width: 0;
    width: 1.5%;
}

.AllButtonQueue {
    height: 2em;
    position: relative;
    top: 1px !important;
}

.QueueAggregateButtons {
    min-width: 112px !important;
    min-height: 28.333px !important;
}

#facilityQueueTable td {
    border-bottom: 0.3px solid #888;
}

#mainCheckBox:not(:checked) + label > span {
    background: white !important;
    border: 0.0625em solid rgb(192,192,192);
}

.marginTop5px {
    margin-top: 5px !important;
}

.greentd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/greenStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-attachment: fixed;*/
    /*background-position: left;*/
}

.notd_start{
        /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/noStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-attachment: fixed;*/
    /*background-position: left;*/
}
.yellowtd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/yellowStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-attachment: fixed;*/
    /*background-position: left;*/
}

.redtd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/redStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-position: left;*/
}

.whitetd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/silverStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-position: left;*/
}

.greytd_start {
    /*width: 40px;
    height: 20px;*/
    background-image: url('/Areas/UM/Resources/Images/Strips/greyStrip.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 15px;
    /*background-position: left;*/
}

.greentd_end {
    /*border-right: 25px solid rgba(0, 255, 6, 0.6);*/
}


.yellowtd_end {
    /*border-right: 25px solid rgba(255, 255, 0, 0.6);*/
}

.redtd_end {
    /*border-right: 25px solid rgba(255, 0, 0, 0.53);*/
}

.green-strip {
    border-top: 3px solid rgb(101, 193, 97);
    position: absolute;
    width: 12px;
    top: -26px;
}

.yellow-strip {
    border-top: 3px solid rgb(16, 50, 122);
    position: absolute;
    width: 12px;
    top: -21px;
}

.red-strip {
    border-top: 3px solid rgb(255, 72, 97);
    position: absolute;
    width: 12px;
    top: -16px;
}

.white-strip {
    border-top: 3px solid rgb(255, 250, 69);
    position: absolute;
    width: 12px;
    top: -11px;
}

.grey-strip {
    border-top: 3px solid #e0f3ff;
    position: absolute;
    width: 12px;
    top: -6px;
}

.header_dropdown {
    /*background-color: rgba(72,105,176,0.4);*/
}

    .header_dropdown .caret {
        margin-left: 0;
    }

    .header_dropdown ul {
        border: 1px solid lightgray;
        margin-top: 6px;
        width: 285px;
    }

    .header_dropdown label {
        line-height: inherit !important;
    }

    .header_dropdown li div:first-child {
        float: left;
    }

    .header_dropdown b {
        color: black;
    }

    .header_dropdown .dropdown-menu:after {
        right: auto;
    }

.list-legend-green {
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 29px;
    background: url(/Areas/UM/Resources/Images/Buttons/Success.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.list-legend-yellow {
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 55px;
    background: url(/Areas/UM/Resources/Images/Buttons/Primary.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.list-legend-red {
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 81px;
    background: url(/Areas/UM/Resources/Images/Buttons/Danger.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.list-legend-white {
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 107px;
    background: url(/Areas/UM/Resources/Images/Buttons/Warning.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.list-legend-grey {
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 133px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: url(/Areas/UM/Resources/Images/Buttons/greyStripButton.png);
    border-radius: 4px;
    background-position: -3px -3px;
}
.list-legend-ghost{
    position: absolute;
    left: 23px;
    height: 15px;
    width: 15px;
    top: 159px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: url(/Areas/UM/Resources/Images/Buttons/Ghost.png);
    border-radius: 4px;
    background-position: -3px -3px;
}

.AllButtonQueue {
    background: transparent;
}

.select_field_queue, .select_field_queue:focus, .select_field_queue:active {
    /* border: 1px solid rgba(232, 46, 0, 0.72); */
    /* box-shadow: 0 0 2px rgba(232, 46, 0, 0.72); */
    background: url(../../Resources/Images/Buttons/Ghost.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid #3859a1 !important;
    border-top: 4px solid #3859a1 !important;
}

.globalSelect {
    position: absolute;
    /*right: 620px;*/
    right: 441px;
    border: 1px solid #234488;
    width: 170px;
    height: 30px;
    margin-top: -2px;
    font-weight: bold;
    text-transform: uppercase;
}

.singleElemQueue .label-primary {
    background: #001748;
}

.mainBodyCollapse .top-position-modifier {
    position: absolute;
    top: -6px;
}

.mainBodyExpand .top-position-modifier {
    position: absolute;
    top: -2px;
}


#facilityQueueTable th {
    padding-top: 10px;
}

#queueBody .tooltip {
    text-transform: uppercase;
}

#facilityQueueTable tbody tr:hover {
    background: rgba(240,248,255,0.9) !important;
}

.pointing-caret {
    display:none;
    position: absolute;
    left: 45%;
    top: 21px;
    border: solid rgba(255, 255, 255, 0);
    border-bottom-color: rgb(255, 255, 255);
    border-width: 4px;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.queueTabs li {
    position: relative;
}

.queueTabs .active .pointing-caret{
    display:inline;
}
.queueSubTab {
    font-weight: bold;
    min-width: 70px;
    border-top-right-radius: 0px !important;
}