@model AHC.CD.WebUI.MVC.Areas.Credentialing.Models.PSVInfo.ProfileVerificationDetailViewModel

<div class="panel-body" ng-repeat="lisence in DEAs">
    <form id="DEAForm{{$index}}" enctype="multipart/form-data" class="form-style">
        <input type="hidden" name="ProfileVerificationParameterId" value="{{DEAParameterID}}">
        <input type="hidden" name="VerificationData" value="{{lisence.LincensesInfo}}">
        <div ng-if="lisence.ProfileVerificationDetail.ProfileVerificationDetailId">
            <input type="hidden" name="ProfileVerificationDetailId" value="{{lisence.ProfileVerificationDetail.ProfileVerificationDetailId}}">
        </div>
        <div ng-if="lisence.ProfileVerificationDetail.VerificationResultId">
            <input type="hidden" name="VerificationResultId" value="{{lisence.ProfileVerificationDetail.VerificationResultId}}">
        </div>
        <fieldset>
            <legend>
                @*{{lisence.name}}*@
                <strong>DEA-{{$index+1}}</strong>
            </legend>
            <div class="col-lg-12">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>DEA Number</th>
                            <th>Issue Date</th>
                            <th>Expiration Date</th>
                            <th>Document</th>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <label class="control-label small">{{lisence.LincensesInfo.DEANumber || 'Not Available'}}</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <label class="control-label small" ng-if="lisence.LincensesInfo.IssueDate" ng-bind="reformatDate(lisence.LincensesInfo.IssueDate)"></label>
                                    <label ng-if="!lisence.LincensesInfo.IssueDate">Not Available</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <label class="control-label small" ng-if="lisence.LincensesInfo.ExpiryDate" ng-bind="reformatDate(lisence.LincensesInfo.ExpiryDate)"></label>
                                    <label ng-if="!lisence.LincensesInfo.ExpiryDate">Not Available</label>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <a ng-if="lisence.LincensesInfo.DEALicenceCertPath" toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{lisence.LincensesInfo.DEALicenceCertPath}}" targe target="_blank"><i class="fa fa-file"></i></a>
                                    <label ng-if="!lisence.LincensesInfo.DEALicenceCertPath">Not Available</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-12 zero-padding-left-right-div" ng-if="lisence.ViewDiv">
                @Html.Partial("~/Areas/Credentialing/Views/Verification/_ViewDEAVerificationResult.cshtml")
            </div>
            <div class="col-lg-12 zero-padding-left-right-div" ng-if="lisence.AddDiv">
                @Html.Partial("~/Areas/Credentialing/Views/Verification/_AddEditDEAVerificationResult.cshtml")
            </div>
            <div class="col-lg-12 zero-padding-left-right-div" ng-if="lisence.EditDiv">
                @Html.Partial("~/Areas/Credentialing/Views/Verification/_AddEditDEAVerificationResult.cshtml")
            </div>
            <div class="clearfix"></div><br />
            <div ng-show="activeMessageDiv=='deaPSV{{$index}}'" class="alert alert-success" role="alert">
                @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                {{messageDesc}}
            </div>
            <div ng-show="activeMessageDiv=='deaPSVError{{$index}}'" class="alert alert-danger" role="alert">
                @*<button ng-click="closeAlertMessage('')" class="close"><span>&times;</span></button>*@
                {{messageDesc}}
            </div>
        </fieldset>
    </form>
</div>
