<form class="form-style">
    <fieldset>
        <legend>
            @*{{lisence.name}}*@
            <strong>Verification Result</strong>
        </legend>
        <div class="col-lg-12">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Source</th>
                        <th>Remarks</th>
                        <th>Verified Date</th>
                        <th>Verified Document</th>
                        <th>Action</th>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <label class="control-label small">{{NPDB.ProfileVerificationDetail.VerificationResult.VerificationResultStatus || 'Not Available'}}</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label class="control-label small">{{NPDB.ProfileVerificationDetail.VerificationResult.Source || 'Not Available'}}</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label class="control-label small">{{NPDB.ProfileVerificationDetail.VerificationResult.Remark || 'Not Available'}}</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <label class="control-label small" ng-if="NPDB.ProfileVerificationDetail.VerificationResult.LastModifiedDate" ng-bind="ConvertDateFormat1(NPDB.ProfileVerificationDetail.VerificationResult.LastModifiedDate)"></label>
                                <label class="control-label small" ng-if="!NPDB.ProfileVerificationDetail.VerificationResult.LastModifiedDate">Not Available</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a ng-if="NPDB.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath" toggle data-toggle="tooltip" data-placement="bottom" title="Preview" href="{{NPDB.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath}}" target="_blank"><i class="fa fa-file"></i></a>
                                <label ng-if="!NPDB.ProfileVerificationDetail.VerificationResult.VerificationDocumentPath">Not Available</label>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-xs btn-primary" tooltip data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit" ng-click="NPDB.EditDiv=true;NPDB.ViewDiv=false"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>


