
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Angular/ng-table.js"></script>
<script src="~/Scripts/Shared/Data/SearchPlan.js"></script>

<link href="~/Content/Provider/ng-table.css" rel="stylesheet" />
<div id="page-wrapper" ng-app="searchApp">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="#">Dashboard</a>
                    </li>
                    @*<li>
                        <i class="fa fa-list"></i> Profile
                    </li>*@
                    <li class="active">
                        <i class="fa fa-list"></i> SearchPlan
                    </li>
                </ol>
            </div>
        
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row">

                <div>
                    <!---Demographics partial starts here-->
                    @Html.Partial("_Search")
                    <!---Demographics partial ends here-->
                </div>
          
         
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>





