@model IEnumerable<PortalTemplate.Areas.UM.Models.ViewModels.Queue.FacilityQueueViewModel>

<p-script filepath="~/Areas/UM/Scripts/Queue/QueueGrid.js"></p-script>

<table id="facilityQueueGrid" class="table table-striped table-hover table-responsive queue-grid">
    <thead class="theme_thead custom-thead-back theme1_table custom-thead-font custom-tbody ">
        @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/FacilityQueue/FacilityQueueGrid/_FacilityQueueGridHeader.cshtml")
    </thead>
    <tbody id="facilityQueueTable">
        @Html.Partial("~/Areas/UM/Views/Queue/UMQueues/FacilityQueue/FacilityQueueGrid/_FacilityQueueGridBody.cshtml")
    </tbody>
</table>