<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/Schedule/Unminified/CreateSchedule.css" rel="stylesheet"></p-link>
<p-link filepath="~/Areas/Encounters/Contents/Css/AppCss/CreateEncounter/Unminified/CreateEncounter.css" rel="stylesheet"></p-link>

<div class="ScheduleEncounterContainer clearfix">
    <div class="x_panel border_on_panel">
        <div class="x_panel form_Create">
            <div class="x_content">
                <div class="col-lg-12">
                    <label class="title_text">Create Schedule By</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero-padding-left-right">
                        @Html.PratianUiRadioButton("Multiple Schedules for a providers", new { @id = "provider", @name = "CreateScheduleBy", @value = "Multiple claims for a Provider" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        @Html.PratianUiRadioButton("Multiple Schedules for a Member", new { @id = "Member", @name = "CreateScheduleBy", @value = "Multiple claims for a Member" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        @Html.PratianUiRadioButton("A single Schedule", new { @id = "claim", @name = "CreateScheduleBy", @value = "A single Schedule" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form_wizard wizard_horizontal" id="wizard_step_id">

    </div>

    <div class="wizard_container">
        <div id="create_Schedule_by" class="wizard_div">
            Create Schedule By
        </div>
        <div id="select_provider" class="wizard_div">
            Select Providers
        </div>
        <div id="select_member" class="wizard_div">
            Select Member
        </div>
        <div id="schedule_details" class="wizard_div">
            Schedule Details
        </div>
        <div id="encounter_details" class="wizard_div">
            Encounter Details
        </div>
        <div id="Scheduler_Coding_details" class="wizard_div">
            Coding Details
        </div>
        <div id="Scheduler_Auditing_details" class="wizard_div">
            Auditing Details
        </div>
    </div>
</div>

<p-script filepath="~/Areas/Encounters/Scripts/AppJs/Schedule/Unminified/CreateSchedule.js"></p-script>
