
<head>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
</head>
@*<div class="clearfix"></div><br />*@
<div class="row">
    <div class="panel panel-default content-panel">
        <div class="panel-heading">
            <span class="panel-title pull-right btn-link" data-toggle="collapse" data-target="#SearchProvider"><i class="btn btn-sm btn-default fa fa-th-list"></i></span>
            <h4 class="panel-title">General Information</h4>
        </div>
        <div id="SearchProvider" class="panel-body collapse in">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">Facility Name</label><br />
                    <i class="data-label">{{location.Facility.FacilityName || 'Not Available'}}</i>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">Street</label><br />
                    <i class="data-label">{{location.Facility.Street || 'Not Available'}}</i>
                </div>
            </div> <div class="clearfix"></div> <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid #eee;" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">Building</label><br />
                    <i class="data-label">{{location.Facility.Building || 'Not Available'}}</i>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">City</label><br />
                    <i class="data-label">{{location.Facility.City || 'Not Available'}}</i>
                </div>
            </div> <div class="clearfix"></div> <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid #eee;"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">State</label><br />
                    <i class="data-label">{{location.Facility.State || 'Not Available'}}</i>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label small">ZipCode</label><br />
                    <i class="data-label">{{location.Facility.ZipCode || 'Not Available'}}</i>
                </div>
             </div>  <div class="clearfix"></div> <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid #eee;" />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label small">Country</label><br />
                        <i class="data-label">{{location.Facility.Country || 'Not Available'}}</i>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label small">County</label><br />
                        <i class="data-label">{{location.Facility.County || 'Not Available'}}</i>
                    </div>
                 </div>  <div class="clearfix"></div> <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid #eee;" />
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="control-label small">Telephone</label><br />
                            <i class="data-label" ng-show="location.Facility.Telephone">{{location.Facility.CountryCodeTelephone}} - </i><i class="data-label">{{location.Facility.Telephone || 'Not Available'}}</i>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="control-label small">Fax</label><br />
                            <i class="data-label" ng-show="location.Facility.Fax">{{location.Facility.CountryCodeFax}} - </i><i class="data-label">{{location.Facility.Fax || 'Not Available'}}</i>
                        </div>
                     </div>  <div class="clearfix"></div> <hr style="margin-top: 5px; margin-bottom: 5px; border: 0; border-top: 1px solid #eee;" />
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label class="control-label small">Email Address</label><br />
                                <i class="data-label">{{location.Facility.EmailAddress || 'Not Available'}}</i>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            </div>
                         </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="panel panel-default content-panel">
                                    <div class="panel-heading">
                                        <span class="panel-title pull-right btn-link" data-toggle="collapse" data-target="#3"><i class="btn btn-sm btn-default fa fa-th-list"></i></span>
                                        <h4 class="panel-title">Provider Information</h4>
                                    </div>
                                    <div id="3" class="panel-body collapse in">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <table ng-if="practiceProvidersList.length > 0" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        @*<th>Action</th>*@
                                                    </tr>

                                                </thead>
                                                <tbody ng-repeat="prof in practiceProvidersList track by $index">
                                                    <tr>
                                                        <td></td>
                                                        <td>{{prof.PersonalDetail.FirstName}}</td>
                                                        <td>{{prof.PersonalDetail.LastName}}</td>
                                                        <td><a href="#" data-toggle="collapse" data-target="#3" ng-click="getPracticeLocations(prof)" data-placement="left" title="View Practice Location" class="btn btn-xs btn-info pull-right"><i class="fa fa-2x fa-chevron-circle-right"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div ng-if="practiceProvidersList.length == 0">No Data Available</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
 




                    @*<div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Quick Example</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" id="exampleInputFile">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Check me out
                                    </label>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div><!-- /.box -->

                </div>*@
