@*PopUp to ensure the Encounter to be Canceled*@
<div class="modal fade" tabindex="-1" role="dialog" id="cancelModal">
    <div class="modal-dialog modal-md" id="cancelModelWidth">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <div class="col-md-12 col-lg-12">
                    <i class="fa fa-close"></i>
                    <label> Cancel an Encounter</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("~/Areas/Encounters/Views/CreateEncounter/_viewPatientDetails.cshtml")
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Status
                            <div><label id="statusid">Active</label></div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  encounterAction">
                            Action
                            <div>
                                <input type="radio" name="Encounteraction" class="normal-radio" value="e_Deactivate" id="enc_delete" checked="checked">
                                <label for="enc_delete"><span></span>Deactivate</label>
                                <input type="radio" name="Encounteraction" class="normal-radio" id="enc_cancel" value="e_Cancel">
                                <label for="enc_cancel"><span></span>Cancel</label>
                                <input type="radio" name="Encounteraction" class="normal-radio" id="enc_noshow" value="e_Noshow">
                                <label for="enc_noshow"><span></span>No Show</label>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            Reason
                            <div><textarea class="form-control input-xs non_mandatory_field_halo uppercase" id="reasonTextAreaCancelEncMod" placeholder="Write Reason"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="row cancelreschedule">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            Do You want to Re-Schedule?
                            <div>
                                <input type="radio" name="confirmReschedule" class="normal-radio" value="r_Yes" id="reschedule_Yes">
                                <label for="reschedule_Yes"><span></span>Yes</label>
                                <input type="radio" name="confirmReschedule" class="normal-radio" id="reschedule_No" value="r_No" checked="checked">
                                <label for="reschedule_No"><span></span>No</label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4" id="cancel_reschedule_Date">
                            Re-Schedule Date<br />
                            <div class="col-lg-10 zero-padding-left-right">
                                <input type="text" placeholder="MM/DD/YYYY HH:MM:SS" class="form-control input-xs non_mandatory_field_halo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-success pull-right" data-dismiss="modal">Save</button>
            </div>
        </form>
    </div>
</div>
