
@*PopUp to ensure the Encounter to be delete*@
<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog modal-md ">
        <form class="modal-content">
            <div class="modal-header bg-primary">
                <div class="col-md-12 col-lg-12">

                    <i class="fa fa-question-circle"></i>
                    <label>Are You Sure to Delete the Encounter ?</label>
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">No</button>
                <button class="btn btn-sm btn-success pull-right" data-dismiss="modal">Yes</button>
            </div>
        </form>
    </div>
</div>