.classlabel {
    background: none repeat scroll 0 0 #0063ff;
    border-radius: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 3px 4px 3px;
}

.SummaryDataField {
    position: absolute;
    top: -2px;
    left: 48px;
    font-size: 14px;
}

.SummaryLabelField {
    font-size: 12px;
    position: absolute;
    bottom: -4px;
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
}

.SummaryInnerDataTab {
    margin-top: 6px;
    margin-left: 5px;
}

.width-30 {
    width: 30px;
}

.text-black {
    color: black !important;
}
