
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">Low Income Subsidy Information</span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">LOW INCOME PERIOD START DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">LOW INCOME PERIOD END DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">LIS PERCENTAGE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">PREMIUM LIS AMOUNT:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">LOW INCOME COPAY LEVEL ID:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">BENEFICIARY SOURCE OF SUBSIDY CODES:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">LIS ACTIVITY FLAG:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">NET PART D PREMIUM AMOUNT:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">CONTRACT YEAR:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">INSTITUTIONAL STATUS INDICATOR:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">______.</span>Disability Information<span class="transparent-font-color">_____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ARE YOU DISABLED ?</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">DESCRIPTION:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">DISABILITY START DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">DISABILITY END DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_.</span>Dual Enrollment Information<span class="transparent-font-color">_.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">MEDICAID NUMBER ?</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">EFFECTIVE DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">TERMINATION DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
    </div>
</fieldset>