<fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Account Details<span class="transparent-font-color">___.</span></span>
        </legend>
        @*<div class="legend2">
            <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
        </div>*@
        <div class="data_div_padding">
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Billing Provider Type:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Organization Name:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Email:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address Line 1:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Address Line 2:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">CITY:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">STATE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">ZIPCODE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">PHONE:</span>
                <span id="" class="bolding text-uppercase theme_label_data">Self</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">FAX:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Contact Person:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Tax ID:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">State License Number:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
            <div class="col-lg-3 text_adjust">
                <span class="theme_label">Include Pay to Provider:</span>
                <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <fieldset class="fsStyle col-lg-4">
            <legend class="legendStyle"></legend>
            <div class="x_content zero-padding-left" id="" style="overflow-x:hidden;overflow-y:auto;height:75px">
                <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
                    <thead class="text-uppercase">
                        <tr>
                            <th class="theme_label">Taxonomy</th>
                            <th class="theme_label">NPI Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="theme_label_data">332B00000X</td>
                            <td class="theme_label_data">1699761999</td>
                        </tr>
                        <tr>
                            <td class="theme_label_data">332B00000X</td>
                            <td class="theme_label_data">1699761999</td>
                        </tr>
                        <tr>
                            <td class="theme_label_data">332B00000X</td>
                            <td class="theme_label_data">1699761999</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        
    </fieldset>

@*<div class="col-lg-4">
    <fieldset class="fsStyle">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Taxonomy List<span class="transparent-font-color">___.</span></span>
        </legend>
        <div class="x_content zero-padding-left" id="" style="overflow-x:hidden;overflow-y:auto;height:75px">
            <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
                <thead class="text-uppercase">
                    <tr>
                        <th class="theme_label">Taxonomy</th>
                        <th class="theme_label">NPI Number</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="theme_label_data">332B00000X</td>
                    <td class="theme_label_data">1699761999</td>
                </tr>
                <tr>
                        <td class="theme_label_data">332B00000X</td>
                        <td class="theme_label_data">1699761999</td>
                    </tr>
                <tr>
                        <td class="theme_label_data">332B00000X</td>
                        <td class="theme_label_data">1699761999</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>*@