<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">______.</span>Phone Information<span class="transparent-font-color">_____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Home Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Alternate Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Work Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Cell Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Fax:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Preferred Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_______.</span>Email Information<span class="transparent-font-color">_____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Email:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Remainder:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Work Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Cell Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Fax:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Preferred Phone:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_____.</span>Contact Information<span class="transparent-font-color">____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-success btn-xs loser_field"><i class="fa fa-plus"></i></button>
    </div>
    <div class="x_content zero-padding-left" id="contactDivision">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">Contact Number</th>
                    <th class="theme_label">Contact Medium</th>
                    <th class="theme_label">Contact Type</th>
                    <th class="theme_label">Preference</th>
                    <th class="theme_label">City</th>
                    <th class="theme_label">State</th>
                    <th class="theme_label">County</th>
                    <th class="theme_label">Zip</th>
                    <th class="theme_label" style="width:10%">
                        <span class="action_Class">Action</span>
                        @*<a class="contact_print_button_beside_table hover_effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1"></a>*@
                    </th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_____.</span>Address Information<span class="transparent-font-color">____.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-success btn-xs loser_field"><i class="fa fa-plus"></i></button>
    </div>
    <div class="x_content zero-padding-left" id="contactDivision">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">Address Line 1</th>
                    <th class="theme_label">Address Line 2</th>
                    <th class="theme_label">Contact Name</th>
                    <th class="theme_label">City</th>
                    <th class="theme_label">State</th>
                    <th class="theme_label">County</th>
                    <th class="theme_label">Zip</th>
                    <th class="theme_label" style="width:10%">
                        <span class="action_Class">Action</span>
                        @*<a class="contact_print_button_beside_table hover_effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1"></a>*@
                    </th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase" style=""><span class="transparent-font-color">___________.</span>Next of Kin<span class="transparent-font-color">___________.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">CONTACT NAME:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">INOXKM</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">RELATIONSHIP TO PATIENT:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">XRYT</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ADDRESS LINE 1:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">W</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ADDRESS LINE 2:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">CITY:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">STATE:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">COUNTY:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">COUNTRY:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ZIPCODE:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">HOME PHONE:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">Self</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">WORK PHONE:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">CELL PHONE:</span>
            <span class="summary_data"><span id="" class="bolding text-uppercase theme_label_data">N/A</span></span>
        </div>
    </div>
</fieldset>

<br /><br /><br /><br />