

<div id="MemberGeneralInfo">
    @Html.Partial("~/Areas/MH/Views/MemberProfile/ProfileTabs/Demographics/View/_ViewGeneralInformation.cshtml")
</div>

<p-script filepath="~/Areas/MH/Scripts/Member/MemberProfile/NonMinified/Demographics.js"></p-script>
<br />

