
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">_.</span>Attachments<span class="transparent-font-color">_.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-success btn-xs loser_field"><i class="fa fa-plus"></i></button>
    </div>
    <div class="x_content zero-padding-left" id="">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">Title</th>
                    <th class="theme_label">Category</th>
                    <th class="theme_label">Uploaded File</th>
                    <th class="theme_label">Description</th>
                    <th class="theme_label">Action</th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>