
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Employment Information<span class="transparent-font-color">___.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-success btn-xs loser_field"><i class="fa fa-plus"></i></button>
    </div>
    <div class="x_content zero-padding-left" id="contactDivision">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">Employer Name</th>
                    <th class="theme_label">Address</th>
                    <th class="theme_label">State</th>
                    <th class="theme_label">Phone</th>
                    <th class="theme_label">Employment Status</th>
                    <th class="theme_label" style="width:10%">
                        <span class="action_Class">Action</span>
                        @*<a class="contact_print_button_beside_table hover_effect" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1"></a>*@
                    </th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>