
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>IPA Details<span class="transparent-font-color">___.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">IPA Name:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Phone:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Email:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">FAX:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Address Line 1:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Address Line 2:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">CITY:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">STATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">ZIPCODE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Contact Person:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">Tax ID:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">State License Number:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
    </div>
</fieldset>