<div class="col-lg-12">
    <div class="col-lg-offset-1 col-lg-1" id="MH1">
        <input id="MH" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="MH">
        <label for="MH" class="theme_label_data"><span></span>MH</label>&nbsp;<span class="label label-primary">5</span>
    </div>
    <div class="col-lg-1" id="PV1">
        <input id="PV" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="PV">
        <label for="PV" class="theme_label_data"><span></span>PV</label>&nbsp;<span class="label label-primary">0</span>
    </div>
    <div class="col-lg-1" id="UM1">
        <input id="UM" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="UM">
        <label for="UM" class="theme_label_data"><span></span>UM</label>&nbsp;<span class="label label-primary">6</span>
    </div>
    <div class="col-lg-1" id="CM1">
        <input id="CM" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="CM">
        <label for="CM" class="theme_label_data"><span></span>CM</label>&nbsp;<span class="label label-primary">6</span>
    </div>
    <div class="col-lg-1" id="ACO1">
        <input id="ACO" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="ACO">
        <label for="ACO" class="theme_label_data"><span></span>ACO</label>&nbsp;<span class="label label-primary">1</span>
    </div>
    <div class="col-lg-2" id="Claims1">
        <input id="Claims" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="Claims">
        <label for="Claims" class="theme_label_data"><span></span>Claims</label>&nbsp;<span class="label label-primary">1</span>
    </div>
    <div class="col-lg-2" id="Census1">
        <input id="Census" type="radio" name="NotesType" class="checkbox-radio text-uppercase" value="Census">
        <label for="Census" class="theme_label_data"><span></span>Census</label>&nbsp;<span class="label label-primary">1</span>
    </div>

</div>
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">Notes</span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="x_content zero-padding-left" id="">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">S.NO</th>
                    <th class="theme_label">Title</th>
                    <th class="theme_label">Description</th>
                    <th class="theme_label">Added By</th>
                    <th class="theme_label">Action</th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>