
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Present PCP<span class="transparent-font-color">___.</span></span>
    </legend>
    <div class="legend2">
        <button class="btn btn-primary btn-xs loser_field"><i class="fa fa-edit"></i></button>
    </div>
    <div class="data_div_padding">
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">PCP NAME:</span>
            <span id="" class="bolding text-uppercase theme_label_data">INOXKM</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">PCP NPI:</span>
            <span id="" class="bolding text-uppercase theme_label_data">XRYT</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">IPA:</span>
            <span id="" class="bolding text-uppercase theme_label_data">Access Health Care LLC</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">EFFECTIVE DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">W</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">TERMINATION DATE:</span>
            <span id="" class="bolding text-uppercase theme_label_data">Self</span>
        </div>
        <div class="col-lg-3 text_adjust">
            <span class="theme_label">REASON FOR TERMINATION:</span>
            <span id="" class="bolding text-uppercase theme_label_data">N/A</span>
        </div>
        
    </div>
    <div class="x_panel border_on_panel" id="">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">PCP Address 1</th>
                    <th class="theme_label">PCP Address 2</th>
                    <th class="theme_label">City</th>
                    <th class="theme_label">State</th>
                    <th class="theme_label">County</th>
                    <th class="theme_label">ZipCode</th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>

<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase"><span class="transparent-font-color">____.</span>Previous PCP<span class="transparent-font-color">___.</span></span>
    </legend>
    <div class="x_content zero-padding-left" id="">
        <table class="table margin_bottom_zero table-white noBorderTable boldBody zeroPaddingBottomTh theadBorder width_99 custom-thead-back custom-thead-font  custom-tbody">
            <thead class="text-uppercase">
                <tr>
                    <th class="theme_label">PCP NPI</th>
                    <th class="theme_label">Last Name</th>
                    <th class="theme_label">First Name</th>
                    <th class="theme_label">MI</th>
                    <th class="theme_label">Action</th>
                </tr>
            </thead>
            <tbody id="contactTbody"><tr id="emptyContactTemplate"><td colspan="11" class="theme_label_data" align="center">No Data Available</td></tr></tbody>
        </table>
    </div>
</fieldset>

<br />