<div class="col-lg-12">
    <div class="col-lg-8">
        <h5><i class="fa fa-question-circle"></i> &nbsp; ASSIGN FACILITY TASK</h5>
    </div>
    <div class="col-lg-4" style=" top: 7px;">
        <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" id="closeModal">X</button>
    </div>
</div>
