<br />
<div class="col-lg-12 zero-padding-left-right" id="AddMemberMainContainer">
    <div class="memberProfileTabsContainer">
        <ul class="list-unstyled x-dtablist tabs-menu">
            <li class="tab-item current" id="MemberDetailsTab">
                <a href="#MemberDetails-memberTab" data-partial="~/Areas/MH/Views/AddMember/Tabs/_AddMemberDetails.cshtml" class="list-item no_underline list-item-tab-1">
                    Member Details
                </a>
            </li>
            <li class="tab-item" id="InsurerDetailsTab">
                <a data-partial="~/Areas/MH/Views/AddMember/Tabs/_AddInsurerDetails.cshtml" class="list-item no_underline list-item-tab-2">
                    Insurer Details
                </a>
            </li>
            <li class="tab-item" id="ProviderDetailsTab">
                <a data-partial="~/Areas/MH/Views/AddMember/Tabs/_AddProviderDetails.cshtml" class="list-item no_underline list-item-tab-3">
                    Provider Details
                </a>
            </li>
            <li class="tab-item" id="PaymentDetailsTab">
                <a data-partial="~/Areas/MH/Views/AddMember/Tabs/_AddPaymentDetails.cshtml" class="list-item no_underline list-item-tab-4">
                    Premium Payment Details
                </a>
            </li>
            <li class="tab-item" id="PreviewDetailsTab">
                <a data-partial="~/Areas/MH/Views/AddMember/Tabs/_PreviewDetails.cshtml" class="list-item no_underline list-item-tab-4">
                    Preview Details
                </a>
            </li>
        </ul>
    </div>

    <div class="tab">
        <div id="AddMemberTabView">
        </div>
    </div>
</div>

<p-script filepath="~/Areas/MH/Scripts/Member/AddMember/NonMinified/AddMember.js"></p-script>

<p-link filepath="~/Areas/MH/Styles/AddMember/AddMember.css" rel="stylesheet" />