<div class="PreAuthCPTRow">
    <div class="col-lg-12">
        <div class="col-lg-2 col-md-2">
            <input class="form-control input-xs mandatory_field_halo " placeholder="CPT CODE" name="CPTCodes[@ViewBag.index].CPTCode">
        </div>
        <div class="col-lg-1 col-md-1">
            <input class="form-control input-xs" placeholder="MODIFIER" name="CPTCodes[@ViewBag.index].Modifier">
        </div>
        <div class="col-lg-5 col-md-5">
            <input class="form-control input-xs mandatory_field_halo " placeholder="DESCRIPTION" name="CPTCodes[@ViewBag.index].CPTDesc">
        </div>  
        <div class="col-lg-2 col-md-2 button-styles-xs">
            <button type="button" class="btn btn-danger btn-xs cpt_delete_btn"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-success btn-xs cpt_add_btn"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>