<div class="PrimaryDXRow">
    <div class="clearfix"></div>
    <div class="col-lg-3 col-md-3 col-sm-8 col-xs-4">
        <input class="form-control input-xs icd_search_cum_dropdown icdCode mandatory_field_halo " placeholder="ICD CODE" name="ICDCodes[@ViewBag.index].ICDCode" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-7">
        <input class="form-control input-xs icd_search_cum_dropdown icdDescription mandatory_field_halo " placeholder="DESCRIPTION" name="ICDCodes[@ViewBag.index].ICDCodeDescription" />
    </div>
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1 button-styles-xs">
        <button type="button" class="btn btn-danger btn-xs icd_delete_btn "><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-success btn-xs icd_add_btn"><i class="fa fa-plus"></i></button>
    </div>
    <div class="clearfix"></div>
</div>
