<br />
<div class="col-lg-12 zero-padding-left-right-div form-style">
    <div class="col-lg-12 text-right">
        @*<button class="pull-right btn btn-success btn-xs" onclick="success();">Submit</button>
            <button class="pull-left btn btn-danger btn-xs" onclick="rejection();">Send back</button>*@
        @*<button class="btn btn-primary btn-xs"><i class="fa fa-print"></i></button>
            <button class="btn btn-primary btn-xs"><i class="fa fa-download"></i></button>
            <button class="btn btn-primary btn-xs">Set Appointment</button><span style="width:10px"></span>*@
        <a ng-if="ViewOnlyMode" href="/Credentialing/Verification/InitiateNewPSV?profileId={{credentialingInfo.ProfileID}}&credinfoId=@ViewBag.CredentialingInfoID"><button ng-if="showPsvError" class="btn btn-primary btn-xs">Perform PSV</button><span style="width:10px"></span></a>
        <div class="pull-right" ng-if="!showPsvError">
            <a onclick="PrintElem();" class="btn btn-xs btn-primary" data-toggle="modal" href="#" target="_blank" tooltip data-toggle="tooltip" data-placement="bottom" title="Print">Print <i class="fa fa-print"></i></a>
            @*<a class="btn btn-xs btn-primary" id="printPDF">Print <i class="fa fa-print"></i></a>*@
        </div>
    </div>

    <div class="col-lg-12 text-left rejectCred" style="display: none; background-color: whitesmoke;">
        <br />
        <div class="clearfix"></div>
        <br />
        <label class="control-label small">Reason to send back</label>
        <textarea class="form-control col-lg-8"></textarea>
        <br />
        <div class="clearfix"></div>
        <br />
        <button class="pull-left btn btn-danger btn-xs" onclick="closediv();">Cancel</button>
        <button class="pull-right btn btn-success btn-xs" onclick="success();">Send</button>
    </div>
    @*<div class="col-lg-12 text-left">
            <br />
            <div class="clearfix"></div>

            <div class="alert alert-success alert-dismissible" id="msg" role="alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                The Submission is Successful and Email is Sent !!!!
            </div>
        </div>*@
</div>
<script>
    var rejection = function () {
        $(".msgCred").hide();
        $(".rejectCred").show();
    };
    var success = function () {
        $(".msgCred").show();
        $(".rejectCred").hide();

    };
    var closediv = function () {
        $(".rejectCred").hide();

    };

</script>


