
<div>
    @***************Credentialing Contact Edit*********************************@
    <fieldset class="fsStyle" id="AddEditSupervisingPractitioner">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                <span>EDIT Supervising Practitioner</span>
            </span>
        </legend>

        <div class="x_content zero-padding-left mutiple-data">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">FIRST NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="BEN" placeholder="Enter First Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">MIDDLE NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="MARK" placeholder="Enter Middle Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">LAST NAME</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="TENNISON" placeholder="Enter Last Name" required />
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <span class="theme_label col-lg-4 nopadding">
                    <label class="">NPI NUMBER</label>
                </span><span class="col-lg-1"></span>
                <span class="col-lg-7 nopadding">
                    <input type="text" class="form-control input-xs" value="57909652" placeholder="Enter NPI Number" required />
                </span>
            </div>
        </div>

        <div class="row col-lg-12 zero-padding-left-right margin-top-5px">
            <button class="btn btn-success yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetViewSupervisingPractitioner" data-tab-container="PLSupervisingPractitionerDetails" value="">Save</button>
                <button class="btn btn-danger yahanClickKar btn-xs list-item buttonmargin pull-right margin-right-5px yahanClickKar" data-tab-path="/CredAxis/PracticeLocation/GetViewSupervisingPractitioner" data-tab-container="PLSupervisingPractitionerDetails" value="">Cancel</button>
</div>
    </fieldset>
</div>