<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="SupervisingPractitionerID">
    <div class="fsStyle" id="ViewSupervisingPractitionerDetails">
        @*<legend class="legendStyle">
            <span class="theme_depend text-uppercase create-auth-legends">
                Supervising Practitioner
            </span>
            &nbsp;&nbsp; <span class="text-uppercase ">
                <span class="fstyleBtnStyle">
                    <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Add" data-tab-container="PLSupervisingPractitionerDetails">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetAddEditSupervisingPractitioner" data-tab-container="PLSupervisingPractitionerDetails">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                        <i class="fa fa-history"></i>
                    </button>
                    <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                        <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                    </a>
                </span>
            </span>
        </legend>*@

        <div class="x_content zero-padding-left mutiple-data">
            <div class="SubHeaderSpacing1">
                <span class="text-uppercase TableHeading">Supervising Practitioner - 1</span>&nbsp;     
                <button class="btn btn-danger btn-xs RemoveButtonStyleModal"><i class="fa fa-minus"></i></button>           
            </div>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">FIRST NAME:</label>
                <span class="theme_label_data">BEN</span>
            </span>
            <span class="  text_adjust boxstyle">
                <label class="theme_label">MIDDLE NAME :</label>
                <span class="theme_label_data">MARK</span>
            </span>

            <span class="  text_adjust boxstyle">
                <label class="theme_label">LAST NAME:</label>
                <span class="theme_label_data"> TENNISON </span>
            </span>

            <span class="  text_adjust boxstyle">
                <label class="theme_label">NPI NUMBER:</label>
                <span class="theme_label_data">57909652</span>
            </span>
        </div>
      
    </div>
</div>


