<br />
<ol class="progtrckr panel-info small zero-padding-left-right-div" data-progtrckr-steps="5" ng-if="credentialingInfo.IsDelegated == 'YES' && !isDroped">
    <li class="{{Initiated}}"><i class="data-label">Initiated</i></li>
    <li class="{{Verified}}"><i class="data-label">Verified</i></li>
    <li class="{{CCMDone}}"><i class="data-label">@*Credentialing Committee Meeting*@CCM</i></li>
    <li class="{{Loaded}}"><i class="data-label">Submitted</i></li>
    <li class="{{Completed}}"><i class="data-label">Completed</i></li>
</ol>
<ol class="progtrckr panel-info small zero-padding-left-right-div" data-progtrckr-steps="3" ng-if="credentialingInfo.IsDelegated == 'NO' && !isDroped">
    <li class="{{Initiated || Loaded || Completed}}"><i class="data-label">Initiated</i></li>
    <li class="{{Loaded}}"><i class="data-label">Submitted</i></li>
    <li class="{{Completed}}"><i class="data-label">Completed</i></li>
</ol>
<ol class="progtrckr panel-info small zero-padding-left-right-div col-lg-12" data-progtrckr-steps="1" ng-if="isDroped">
    <li class="progtrckr-done col-lg-12"><i class="data-label">Dropped</i></li>
</ol>
<br />
<div class="col-lg-12">
    <div class="col-lg-3 small" ng-show="isInitiated || isLoaded" ng-if="!isDroped">
        @*  *@
        @*<div>
                <strong>Initiated By: </strong><span>{{InitiatedBy}}</span>
            </div>*@

        <strong>Date: </strong><div>
            {{credentialingInfo.InitiationDate | date:sort}}@*Jul 10, 2015*@
        </div>
    </div>
    <div class="col-lg-2 small" ng-show="isVerified" ng-if="!isDroped">
        @*<div>
                <strong>Initiated By: </strong><span>{{verifiedInitiatedBy}}</span>
            </div>*@
        @*<div class="col-lg-2">  </div>
        <div class="col-lg-10">*@
            <strong>Date: </strong><div>{{verifiedDate | date:sort}}@*Jul 10, 2015*@</div>
        @*</div>*@
    </div>
    <div class="col-lg-2 small" ng-show="isCCMDone" ng-if="!isDroped">
        @*<div>
                <strong>Initiated By: </strong><span>{{CCMInitiatedBy}}</span>
            </div>*@
        
            <strong>Date: </strong><div>{{CCMDate | date:sort}}@*Jul 10, 2015*@</div>
       
    </div>
    <div class="col-lg-2 small" ng-show="isLoaded" ng-if="!isDroped">
        @*<div>
                <strong>Initiated By: </strong><span>{{loadedInitiatedBy}}</span>
            </div>*@

        <strong>Date: </strong><div>{{loadedDate | date:sort}}</div>

    </div>
    <div class="col-lg-2 small" ng-show="isCompleted" ng-if="!isDroped">
        @*<div>
                <strong>Initiated By: </strong><span>{{completedInitiatedBy}}</span>
            </div>*@
       
            <strong>Date: </strong><div>{{completedDate | date:sort}}</div>
       
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="col-lg-4 small">
        <div>
            <strong>Last Activity: </strong><span>{{lastActivity | date:sort}}</span>
        </div>

    </div>
    <br />
    <br />
</div>


@*<div class="col-lg-5">
        <button class="pull-right btn btn-success btn-xs">Submit</button>

       @* <button class="pull-left btn btn-danger btn-xs" onclick="reject();">Send Back</button>
    </div>

    <div class="col-lg-12 text-left" id="reason" style="display:none;">
        <br />
        <br />
        <div class="clearfix"></div>
        <br />

        <label class="control-label small">Reason to send back</label>
        <textarea class="form-control col-lg-8"></textarea>
        <br />
        <div class="clearfix"></div>
        <br />
        <button class="pull-right btn btn-primary">Submit</button>

    </div>
    <script>
        var reject = function () {
            $("#reason").show();
        };

    </script>*@
