<style>
    #propic {
        height: 80px;
    }

        #propic:hover {
            height: 150px;
            width: 100px;
        }
</style>
<br />
<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading small" role="tab" id="EduInfoHeading">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#EduInfo" aria-expanded="false" aria-controls="EduInfo">
                Education information
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
        </div>
        <div id="EduInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="EduInfoHeading">
            <div class="panel-body">
                <fieldset>
                    <legend>
                        Under Graduation Details
                    </legend>
                    <fieldset>
                        <legend>
                            School Details
                        </legend>
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label class="control-label">School Name:</label>
                                <label class="control-label small">St. Joseph</label>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Degree awarded:</label>
                                <label class="control-label small">UG</label>
                            </div>
                            <div class="form-group col-md-3">

                                <label for="Fax" class="control-label">Fax:</label>
                                <label class="control-label small">1-212-9876543</label>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                <label class="control-label small">8901221809</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-3">
                                <label class="control-label">Start Date:</label>
                                <label class="control-label small">4-3-2014</label>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">End Date:</label>
                                <label class="control-label small">12-3-2014</label>
                            </div>
                            <div class="form-group col-md-6">
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View UG Certificate <i class="fa fa-file"></i></button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Address
                        </legend>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label">Number:</label>
                                <label class="control-label small">2</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Suite/Building:</label>
                                <label class="control-label small">suite</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Street:</label>
                                <label class="control-label small">Concord street</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label">Country:</label>
                                <label class="control-label small">US</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">State:</label>
                                <label class="control-label small">New York</label>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">City:</label>
                                <label class="control-label small">Beacon</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label class="control-label">Zip code:</label>
                                <label class="control-label small">34606</label>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label">Did you complete your UG education at this school? </label>
                                <label class="control-label small">Yes</label>

                            </div>
                        </div>
                    </fieldset>

                </fieldset>
                <fieldset>
                    <legend>Graduation Details</legend>


                    <div class="col-lg-12" id="graduationDataContainer">

                        <div class="col-lg-12">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3"><strong>School</strong></div>
                                <div class="col-lg-3"><strong>Start Date</strong></div>
                                <div class="col-lg-3"><strong>End Date</strong></div>
                                <div class="col-lg-3"><strong>View</strong></div>
                            </div>
                        </div>
                        <div class="col-lg-12" id="internshipGapData">
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3">Pine view</div>
                                <div class="col-lg-3">4-3-2014</div>
                                <div class="col-lg-3">12-3-2014</div>
                                <div class="col-lg-3">
                                    <button class="btn btn-xs btn-primary" onclick="toggleDiv('graduationForm1', this)"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <br />
                            <div class="col-lg-12" id="graduationForm1" style="display:none;">

                                <div class="form-group">
                                    <div class="col-lg-12"></div>
                                    <div class="col-md-12">
                                        <label class="control-label">Graduate Type:</label>
                                        <label class="control-label small">US</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <fieldset>
                                        <legend>School Details</legend>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Pine View</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">1-212-9876543</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8901331809</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">15-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>

                                    </fieldset>
                                    <fieldset>
                                        <legend>Address</legend>
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Concord street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">Florida</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Orlando</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">32810</label>
                                            </div>
                                            <div class="col-md-8">
                                                <label class="control-label">Did you complete your graduation at this school? </label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                            <div class="col-lg-12 text-center table-bordered">
                                <div class="col-lg-3">School2</div>
                                <div class="col-lg-3">4-3-2014</div>
                                <div class="col-lg-3">4-3-2014</div>
                                <div class="col-lg-3">
                                    <button class="btn btn-xs btn-primary" onclick="toggleDiv('graduationForm2', this)"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <br />
                            <div class="col-lg-12" id="graduationForm2" style="display:none;">

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <label class="control-label">Graduate Type:</label>
                                        <label class="control-label small">US</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <fieldset>
                                        <legend>School Details</legend>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Code:</label>
                                                <label class="control-label small">09</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">School Name:</label>
                                                <label class="control-label small">Pine View</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Degree awarded:</label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">

                                                <label for="Fax" class="control-label">Fax:</label>
                                                <label class="control-label small">1-212-9876543</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="MobileNo" class="control-label">Telephone Number:</label>
                                                <label class="control-label small">8901331809</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Start Date:</label>
                                                <label class="control-label small">4-3-2014</label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">End Date:</label>
                                                <label class="control-label small">15-3-2014</label>
                                            </div>

                                        </div>
                                        <div class="col-md-12 text-right">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#preview">View Graduation Certificate <i class="fa fa-file"></i></button>
                                        </div>

                                    </fieldset>
                                    <fieldset>
                                        <legend>Address</legend>
                                        <div class="col-md-12">

                                            <div class="form-group col-md-4">
                                                <label class="control-label">Number:</label>
                                                <label class="control-label small">2</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Suite/Building:</label>
                                                <label class="control-label small">suite</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Street:</label>
                                                <label class="control-label small">Concord street</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Country:</label>
                                                <label class="control-label small">US</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">State:</label>
                                                <label class="control-label small">Florida</label>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="control-label">City:</label>
                                                <label class="control-label small">Orlando</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group col-md-4">
                                                <label class="control-label">Zip code:</label>
                                                <label class="control-label small">32810</label>
                                            </div>
                                            <div class="col-md-8">
                                                <label class="control-label">Did you complete your graduation at this school? </label>
                                                <label class="control-label small">Yes</label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>

                        </div>



                    </div>
                </fieldset>
            </div>
        </div>

    </div>
</div>

