<div class="col-lg-12 form-group">
    <div class="col-lg-4">
        <label class="control-label small">Credentialing Status:</label>
        <div>
            <i ng-if="tempObject.Report.CredentialingApprovalStatusType == 1" class="data-label">Approved</i>
            <i ng-if="tempObject.Report.CredentialingApprovalStatusType == 2" class="data-label">Rejected</i>
            <i ng-if="tempObject.Report.CredentialingApprovalStatusType != 2 && tempObject.Report.CredentialingApprovalStatusType != 1" class="data-label">Not Available</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Panel Status:</label>
        <div>
            <i ng-if="tempObject.Report.PanelStatusType == 1" class="data-label">Open</i>
            <i ng-if="tempObject.Report.PanelStatusType == 2" class="data-label">Close</i>
            <i ng-if="tempObject.Report.PanelStatusType != 2 && tempObject.Report.PanelStatusType != 1" class="data-label">Not Available</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Initial Credentialing Date:</label>
        <div>
            <i class="data-label">{{tempObject.InitialCredentialingDate  || 'Not Available' | date: "MM-dd-yyyy"}}</i>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 form-group">
    <div class="col-lg-4">
        <label class="control-label small">Effective Date:</label>
        <div>
            <i class="data-label">{{tempObject.Report.InitiatedDate  || 'Not Available' | date: "MM-dd-yyyy" }}</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Welcome Letter Date:</label>
        <div>
            <i class="data-label">{{tempObject.Report.CredentialedDate  || 'Not Available' | date: "MM-dd-yyyy" }}</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Termination Date:</label>
        <div>
            <i class="data-label">{{tempObject.Report.TerminationDate  || 'Not Available' | date: "MM-dd-yyyy"}}</i>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 form-group">
    <div class="col-lg-4">
        <label class="control-label small">Re-Credentialing Date:</label>
        <div>
            <i class="data-label">{{tempObject.Report.ReCredentialingDate  || 'Not Available' | date: "MM-dd-yyyy"}}</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Group ID:</label>
        <div>
            <i class="data-label">{{tempObject.Report.GroupID || 'Not Available'}}</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Provider ID:</label>
        <div>
            <i class="data-label">{{tempObject.Report.ProviderID || 'Not Available'}}</i>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
    <div class="col-lg-4">
        <label class="control-label small">Welcome Letter:</label>
        <div ng-show="tempObject.Report.WelcomeLetterPath">
            <i class="data-label"><a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Document/View?path=@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]{{tempObject.Report.WelcomeLetterPath}}" class="pointer" target="_blank" tooltip data-toggle="tooltip" data-placement="top" title="Welcome Letter"><i class="fa fa-file"></i></a></i>
        </div>
        <div ng-hide="tempObject.Report.WelcomeLetterPath">
            <i class="data-label">Not Available</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Participating Status:</label>
        <div>
            <i class="data-label">{{tempObject.Report.ParticipatingStatus || 'Not Available'}}</i>
        </div>
    </div>
    <div class="col-lg-4">
        <label class="control-label small">Plan:</label>
        <div>
            <i class="data-label">{{TempPlanName || 'Not Available'}}</i>
        </div>
    </div>
</div>
<div class="clearfix"></div><br />
<div class="clearfix"></div>
<div class="col-lg-12">
    <div class="col-lg-12">
        <button type="button" class="btn btn-warning btn-sm pull-left" ng-click="cancelView();">Cancel</button>
    </div>
</div>
