@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = null;
    
}
@*<br />
<br />
<br />
<br />
<br />
<hgroup>
    <h1 class="text-error">Locked out.</h1>
    <h2 class="text-error">This account has been locked out, please verify your account.</h2>
</hgroup>*@

<link href="~/Content/SharedCss/bootstrap.min.css" rel="stylesheet" />
<!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<link href="~/Content/SharedCss/app.css" rel="stylesheet" />
<!--login modal-->
<div class="col-lg-12" style="margin-top:10%;">
    <div class="col-lg-12">
        <div class="col-lg-12" style="padding-left:15%;padding-right:15%;">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="col-lg-7">
                        <div class="clearfix"></div>
                        <br />
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-12">
                            <div class="col-lg-12 text-left zero-padding-left-right-div">
                                <a class="navbar-brand header-logo" href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Account/Login"><img src="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Content/Images/logo2.png" style="width: 180px;"></a>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-lg-12">
                                <div class="col-lg-12 text-left">
                                    <h4 class="text-danger">Locked out.</h4>
                                    <h5 class="text-muted">This account has been locked out, please verify your account. <a href="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Account/Login">Click Here</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="text-center">
                            <img src="@System.Configuration.ConfigurationManager.AppSettings["AppRoot"]/Content/Images/error.jpg" style="width:100%;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Lib/Bootstrap/bootstrap.min.js"></script>

