/*View Auditing*/
.CodingDetails, .AuditDecision{
    padding: 2px 17px;
}

label.title_text {
    font-weight: 900;
    font-size: 15px;
    background: #5b83d5;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -25px;
}

    label.title_text:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #3d5fa4 transparent transparent;
        left: 0px;
        bottom: -8px;
    }

.padding_left_right_12px {
    padding-left: 12px;
    padding-right: 12px;
}

.padding-right-20px {
    padding-right: 20px;
}


.fieldsetborder {
    border: 1px solid rgba(116,198,220,1);
}

legend.legendstyle {
    font-size: 15px;
    color: rgb(67, 102, 160);
    background-color: white;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
     width:auto;
    border-bottom:0px;
    margin-bottom:0px;
}

fieldset.fieldsetStyle {
    font-weight: normal;
    border: 1px solid #d4c9c9;
    margin-top: 1% !important;
    padding: 4px;
    margin: 5px;
}

.agree_btn
{
    color:green;
}

.disagree_btn
{
    color:red;
}
