<br />
<div class="list-group pre-scrollable">
    <a href="#" class="list-group-item" ng-show="timelineActivity.length != 0" ng-repeat="activity in timelineActivity">
        <i class="data-label"><label>{{activity.Activity}}</label></i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{activity.ActivityByName}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{activity.LastModifiedDate}}</i>
    </a>
    @*<a href="#" class="list-group-item" ng-show="timelineActivity.length != 0" ng-repeat="timestamp in timelineTimeStamp | orderBy:LastModifiedDate:reverse">
        <i class="data-label">Update Date:{{timestamp.TimeStamp}}</i>
        <i class="data-label">Update By:{{timestamp.Activity}}</i>
    </a>*@
    @*<a href="#" class="list-group-item" ng-show="typeOfCredentialing=='Credentialing' && isCompleted">
        <i class="data-label">{{providerName}} <label>Credentialing Process Completed</label> for {{planName}} </i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{updatedByForCompleted}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForCompleted}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="typeOfCredentialing=='ReCredentialing' && isCompleted">
        <i class="data-label">{{providerName}} <label>Re-Credentialing Process Completed</label> for {{planName}} </i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{updatedByForCompleted}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForCompleted}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isreCredentialed">
        <i class="data-label">{{providerName}} <label>DeCredentialing Initiated</label> for {{planName}} on {{recredentialedDate | date:sort}} </i>
    </a>

    <a href="#" class="list-group-item" ng-show="isLoaded">
        <i class="data-label">{{providerName}} <label>Load to Plan</label> done for {{planName}} </i>
        <br />
        <i class="data-label" style="font-size:smaller" ng-show="(!isdeCredentialed)">Updated By:{{updatedByForLoading}}</i>
        <br />
        <i class="data-label" style="font-size:smaller" ng-show="(!isdeCredentialed)">{{updatedDateForLoading}}</i>
        <i class="data-label" style="font-size:smaller" ng-show="isdeCredentialed">Updated By:{{updatedByForReCredentialing}}</i>
        <br />
        <i class="data-label" style="font-size:smaller" ng-show="isdeCredentialed">{{updatedDateForReCredentialing}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isCCMDone">
        <i class="data-label">{{providerName}} <label>CCM Action</label> done for {{planName}} </i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{updatedByForCCM}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForCCM}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isVerified">
        <i class="data-label">{{providerName}} <label>PSV</label> done for {{planName}}  </i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{updatedByForPSV}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForPSV}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isdeCredentialed">
        <i class="data-label">{{providerName}} was <label>ReCredentialing Initiated</label> for {{planName}}  </i>
        <br />
        <i class="data-label" style="font-size:smaller">Updated By:{{updatedByForReCredentialing}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForReCredentialing}}</i>

    </a>*@

    <a href="#" class="list-group-item" @*ng-init="getCredentialingInfo(credentialingInfo.ProfileID, credentialingInfo.PlanID)"*@ ng-hide="true">
        <i class="data-label">{{providerName}} <label>Credentialing Initiated</label> for {{planName}} </i>
        <br />
        <i class="data-label" style="font-size:smaller">Initiated By:{{updatedByForInitiation}}</i>
        <br />
        <i class="data-label" style="font-size:smaller">{{updatedDateForInitiation}}</i>
    </a>
    <a href="#" class="list-group-item" ng-show="isDroped">
        <i class="data-label">{{providerName}} was <label>Dropped</label> for {{planName}} on {{lastActivity | date:sort}} </i>
    </a>

</div>
