@*<a id="IDDiscolsureQuestions"></a>*@
<div class="clearfix"></div>
<div class="target profilediv col-lg-12 col-md-12 col-sm-12 col-xs-12" id="IDDiscolsureQuestions">
    @*<div class="SubTabHeader">
        <div class="headerText">
        <span class="headerTextCSS">
        Disclosure Questions
        </span>
        <span class="headerTextCSS pull-right">
        <button id="Edit_DQ" class="btn btn-xs btn-primary" tooltip="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit All"><i class="fa fa-pencil"></i></button>
        </span>
        </div>
        </div>*@
    <div>
        <div class="form-style">
            <script>
                var setAllNo = function () {
                    $('input:radio[class^=selectNo][value=2]').each(function (i) {
                        this.checked = true;
                    });
                };


            </script>

            @*<div class="legend2 pull-right">
                <button id="Edit_DQ" class="btn btn-xs btn-primary" tooltip="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit All"><i class="fa fa-pencil"></i></button>
                </div>*@<!-- end ngIf: visibilityControl!='editcategory' -->
            <!-- ngIf: visibilityControl!='editcategory' --><div>

                <fieldset class="fsStyle" id="dis">
                    <legend class="legendStyle">
                        <span class="theme_depend text-uppercase create-auth-legends">
                            Disclosure Question
                        </span>
                        &nbsp;&nbsp;<span class="text-uppercase ">
                            <span class="fstyleBtnStyle">
                                <button class="btn btn-primary btn-xs add_note_btn" onclick="ShowHideAddView('AddEditPersonalDetail', 'ViewPersonalDetail')">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <a class="print_button_for_Disclosure hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                                    <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                                </a>
                            </span>
                            
                        </span>
                    </legend>
                    <div id="DisclousureQuestionContent" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Licensure</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label">1. Has your license, registration or certification to practice in your profession, ever been voluntarily or involuntarily relinquished, denied, suspended, revoked, restricted, limited, or have you ever been subject to a fine, reprimand, consent order, probation or any conditions or limitations by any state or professional licensing, registration or certification board?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">No</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label">2. Has there been any challenge to your licensure, registration or certification?</label><br />
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Professional Liability Insurance Information</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">
                                        3. Has your professional liability coverage ever been cancelled, restricted, declined or not renewed by the carrier based on your individual liability history?<br /><br />
                                    </label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label">4. Have you ever been assessed a surcharge, or rated in a high-risk class for your specialty, by your professional liability insurance carrier, based on your individual liability history?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Hospital Privileges And Other Affiliations</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label">
                                        5. Have your clinical privileges or medical staff membership at any hospital or healthcare institution, voluntarily or involuntarily, ever been denied, suspended, revoked, restricted, denied renewal or subject to probationary or to other disciplinary conditions (for reasons other than non-completion of medical record when quality of care was not adversely affected) or have proceedings toward any of those ends been instituted or recommended by any hospital or healthcare institution, medical staff or committee, or governing board?
                                    </label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <label class="theme_label ">Reason</label>&nbsp;:&nbsp;<i class="theme_label_data">N/A</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">6. Have you voluntarily or involuntarily surrendered, limited your privileges or not reapplied for privileges while under investigation?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">7. Have you ever been terminated for cause or not renewed for cause from participation, or been subject to any disciplinary action, by any managed care organizations (including HMOs, PPOs, or provider organizations such as IPAs, PHOs)?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Criminal/Civil History</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label">8. In the past ten years have you been convicted of, pled guilty to, or pled nolo contendere to any misdemeanor (excluding minor traffic violations) or been found liable or responsible for any civil offense that is reasonably related to your qualifications, competence, functions, or duties as a medical professional, or for fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?</label>
                                    <br /><br /><br /><label class="theme_label">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">9. Have you ever been convicted of, pled guilty to, or pled nolo contendere to any felony?</label>
                                    <br /><br /><label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class=" theme_label ">
                                        10. Have you ever been court-martialed for actions related to your duties as a medical professional?
                                    </label>
                                    <br /><br /><label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Education, Training And Board Certification</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">11. Were you ever placed on probation, disciplined, formally reprimanded, suspended or asked to resign during an internship, residency, fellowship, preceptorship or other clinical education program? If you are currently in a training program, have you been placed on probation, disciplined, formally reprimanded, suspended or asked to resign?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label">12. Have you ever, while under investigation or to avoid an investigation, voluntarily withdrawn or prematurely terminated your status as a student or employee in any internship, residency, fellowship, preceptorship, or other clinical education program?</label>
                                    <label class="theme_label">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label">13. Have any of your board certifications or eligibility ever been revoked?</label><br />
                                    <label class="theme_label">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">14. Have you ever chosen not to re-certify or voluntarily surrendered your board certification(s) while under investigation?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">No</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Ability To Perform Job</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">15. Are you currently engaged in illegal use of drugs (Currently means sufficiently recent to justify a reasonable belief that the use of drug may have an ongoing impact one's ability to practice medicine)?</label>
                                    <br /><br /><br /><label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">16. Do you use any chemical substances that would in any way impair or limit your ability to practice medicine and perform the functions of your job with reasonable skill and safety?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">17. Do you have any reason to believe that you would pose a risk to the safety or well being of your patients?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">18. Are you unable to perform the essential functions of a practitioner in your area of practice even with reasonable accommodation?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">No</i>
                                    <label class="theme_label ">Reason</label>&nbsp;:&nbsp;<i class="theme_label_data ">N/A</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">DEA Or State Controlled Substance Registration</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">19. Have your Federal DEA and/or State Controlled Dangerous Substances (CDS) certificate(s) or authorization(s) ever been challenged,denied, suspended, revoked, restricted, denied renewal, or voluntarily or involuntarily relinquished?</label>
                                    <br /><br /><label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-6 col-md-6 col-sm-6 col-xs-6" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Medicare, Medicaid Or Other Governmental Program Participation</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">20. Have you ever been disciplined, excluded from, debarred, suspended, reprimanded, sanctioned, censured, disqualified or otherwise restricted in regard to participation in the Medicare or Medicaid program, or in regard to other federal or state governmental healthcare plans or programs?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">No</i>
                                    <label class="theme_label ">Reason</label>&nbsp;:&nbsp;<i class="theme_label_data ">N/A</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Malpractice Claims History</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">21. Have you had any professional liability actions (pending, settled, arbitrated, mediated or litigated) within the past 10 years? If yes, provide information for each case.</label>
                                    <br /><label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="fsStyle col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: none !important;">
                            <span class="theme_depend TableHeading">Other Sanctions Or Investigations</span>
                            <div class="x_content zero-padding-left">
                                <div class="form-group">
                                    <label class="theme_label ">22. Are you currently the subject of an investigation by any hospital, licensing authority, DEA or CDS authorizing entities, education or training program, Medicare or Medicaid program, or any other private, federal or state health program or a defendant in any civil action that is reasonably related to your qualifications, competence, functions, or duties as a medical professional for alleged fraud, an act of violence, child abuse or a sexual offense or sexual misconduct?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">23. To your knowledge, has information pertaining to you ever been reported to the National Practitioner Data Bank or Healthcare Integrity and Protection Data Bank?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">24. Have you ever received sanctions from or are you currently the subject of investigation by any regulatory agencies (e.g., CLIA, OSHA, etc.)?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">No</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label ">25. Have you ever been convicted of, pled guilty to, pled nolo contendere to, sanctioned, reprimanded, restricted, disciplined or resigned in exchange for no investigation or adverse action within the last ten years for sexual harassment or other illegal misconduct?</label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                </div>
                                <div class="form-group">
                                    <label class="theme_label">
                                        26. Are you currently being investigated or have you ever been sanctioned, reprimanded, or cautioned by a military hospital, facility, or agency, or voluntarily terminated or resigned while under investigation or in exchange for no investigation by a hospital or healthcare facility of any military agency?
                                    </label>
                                    <label class="theme_label ">Answer</label>&nbsp;:&nbsp;<i class="theme_label_data" id="ans">Yes</i>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>