<div id="wizard_step_id">
    <div class="x_panel border_on_panel">
        <div class="x_content">


            <div class="col-lg-12">
                <label class="title_text">Activity Logger</label>
            </div>
            <div class="clearfix">
                <button class="btn btn-primary input-xs pull-left">Previous</button>
                <button class="btn btn-primary input-xs pull-right">Next</button>
            </div>

            <div class="progress_bar clearfix">
                <div class="bar primary_bar">
                    <div class="status_title">Open</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar hide_line"></div>
                        <div class="center_circle">
                            1
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Created by</span>
                        <label class="detail_data">Barbara Joy</label>
                        <span class="detail_label">Created On</span>
                        <label class="detail_data">30/12/2015</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar warning_bar">
                    <div class="status_title">On Hold</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            2
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Held by</span>
                        <label class="detail_data">MICHAEL AUSTIN</label>
                        <span class="detail_label">Held On</span>
                        <label class="detail_data">01/01/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar warning_bar">
                    <div class="status_title">Phy On hold</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            3
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Held by</span>
                        <label class="detail_data">GREGORY MATTHEWS</label>
                        <span class="detail_label">Held On</span>
                        <label class="detail_data">10/01/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar success_bar">
                    <div class="status_title">Comm. Review</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            4
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Reviewed by</span>
                        <label class="detail_data">RAYMOND MILLER</label>
                        <span class="detail_label">Reviewed On</span>
                        <label class="detail_data">15/01/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar success_bar">
                    <div class="status_title">Accepted</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            5
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Accepted by</span>
                        <label class="detail_data">JANE HAYES</label>
                        <span class="detail_label">Accepted On</span>
                        <label class="detail_data">02/02/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar primary_bar">
                    <div class="status_title">Dispatched to CH</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            6
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Dispatched by</span>
                        <label class="detail_data">AMANDA HILL</label>
                        <span class="detail_label">Dispatched On</span>
                        <label class="detail_data">20/02/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar success_bar">
                    <div class="status_title">Accepted by CH</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            7
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Accepted by</span>
                        <label class="detail_data">Emdeon</label>
                        <span class="detail_label">Accepted On</span>
                        <label class="detail_data">06/03/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar warning_bar">
                    <div class="status_title">Pending</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            8
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Pended by</span>
                        <label class="detail_data">DOROTHY LOPEZ</label>
                        <span class="detail_label">Pended On</span>
                        <label class="detail_data">03/04/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar success_bar">
                    <div class="status_title">Accepted by payer</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle">
                            9
                        </div>
                        <div class="right_bar"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Accepted by</span>
                        <label class="detail_data">ULTIMATE</label>
                        <span class="detail_label">Accepted On</span>
                        <label class="detail_data">04/04/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>
                <div class="bar success_bar active_bar">
                    <div class="status_title">EOB Received</div>
                    <div class="progress_container clearfix">
                        <div class="left_bar"></div>
                        <div class="center_circle active_status">
                            10
                        </div>
                        <div class="right_bar hide_line"></div>
                    </div>
                    <div class="status_details clearfix">
                        <span class="detail_label">Received by</span>
                        <label class="detail_data">ULTIMATE</label>
                        <span class="detail_label">Received On</span>
                        <label class="detail_data">07/08/2016</label>
                        <a class="pull-right claim_link">View Claim</a>
                    </div>
                </div>

            </div>

            <div class="clearfix">
                <label class="pull-right">Showing 10 out of 10</label>
            </div>
            <div id="ClaimFormContainer">

            </div>
            <div class="clearfix button-styles">
                <button class="btn btn-warning btn-sm pull-left" id="GoBackBtn">Back</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Areas/Billing/Scripts/AppJs/ClaimsTracking/Unminified/ClaimsActivityLogger.js"></script>