
<div id="filterContainer" class="col-lg-12">
    <div class="x_panel border_on_panel x_panel_claimsinfo">
        <div class="x_content">
            @*<div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="title_heading" for="fullname">Filter</label>
                    </div>
                </div>*@
            @*<div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Billing Provider</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Rendering Provider</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <label>Plan</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <label>Claim Type</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <label>DOS From</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <label>DOS To</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Billing Team</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label>Biller</label>
                        <input type="text" class="form-control input-xs non_mandatory_field_halo" />
                    </div>
                </div>*@
            @*<div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <span class="pull-right"><button class="btn btn-success btn-xs" id="filter_btn">Search</button></span>
                    </div>
                </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                <label class="filter_label">Claim ID: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Member: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Billing Provider: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Rendering Provider: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Plan: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Claim Type: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">DOS From: </label>
                <input type="text" class="input-xs non_mandatory_field_halo" />
                <label class="filter_label">DOS To: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Billing Team: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <label class="filter_label">Biller: </label>
                <input type="text" class="filter_input input-xs non_mandatory_field_halo" />
                <button class="btn btn-success btn-xs" id="filter_btn">Search</button>
            </div>
        </div>

    </div>
</div>


<script src="~/Areas/Billing/Scripts/AppJs/ClaimsTracking/Unminified/FilterForm.js"></script>