<div class="x_panel border_on_panel">
    <div class="x_content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label for="categoryForOnHold">Category</label>
                <select class="form-control" name="categoryForOnHold" id="categoryForOnHold">
                    <option value="2">Chief Complaint</option>
                    <option value="3">History of present illness</option>
                    <option value="4">Review of Systems</option>
                    <option value="5">Past, Family and/or Social History</option>
                    <option value="6">History References</option>
                    <option value="7">Examination</option>
                    <option value="8">Medical Decision Making Level</option>
                    <option value="9">Modifier</option>
                    <option value="10">Incomplete Notes</option>
                    <option value="11">Missing Signature</option>
                    <option value="12">No E&amp;M Code</option>
                    <option value="13">Sign and E&amp;M Missing</option>
                    <option value="14">Others</option>
                </select>
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <label for="descriptionToHold">Description</label>
                <textarea class="form-control" name="descriptionToHold" id="descriptionToHold" placeholder="Description for reason to onhold"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="margin_top_20_px button-styles clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-warning pull-left">Close</button>
                <button class="btn btn-primary pull-right">Reject</button>
            </div>
        </div>
    </div>

</div>
