<div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="overall_status_tile default_overall_status_tile">
            <div class="status_tile_header">
                <label>INITIATED</label>
            </div>
            <div class="status_tile_body clearfix">
                <div class="pull-left">
                    <label><small>#</small>234,654</label>
                </div>
                <div class="pull-right">
                    <label><small>$</small>242,453,654</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="overall_status_tile success_overall_status_tile">
            <div class="status_tile_header">
                <label>RECEIVED BY CH</label>
            </div>
            <div class="status_tile_body clearfix">
                <div class="pull-left">
                    <label><small>#</small>120,485</label>
                </div>
                <div class="pull-right">
                    <label><small>$</small>15,741,001</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="overall_status_tile success_overall_status_tile">
            <div class="status_tile_header">
                <label>RECEIVED BY PAYER</label>
            </div>
            <div class="status_tile_body clearfix">
                <div class="pull-left">
                    <label><small>#</small>895,102</label>
                </div>
                <div class="pull-right">
                    <label><small>$</small>1,895,541</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="overall_status_tile success_overall_status_tile">
            <div class="status_tile_header">
                <label>PAYMENT RECEIVED</label>
            </div>
            <div class="status_tile_body clearfix">
                <div class="pull-left">
                    <label><small>#</small>986,253</label>
                </div>
                <div class="pull-right">
                    <label><small>$</small>99,326,952</label>
                </div>
            </div>
        </div>
    </div>
</div>
