@model PortalTemplate.Areas.Billing.Models.CreateClaim.Cms1500ViewModels

<div class="width_13_percent claimsProfileTabsContainer claimTabContainer">
    <ul class="list-unstyled x-dtablist tabs-menu">
        <li class=" current">
            <a href="#Cms1500FormTab" class="list-item no_underline list-item-tab-1">
                <i class="fa fa-info-circle"></i> Preview (CMS 1500)
            </a>
        </li>
        <li class="">
            <a href="#ActivityLoggerTab" class="list-item no_underline list-item-tab-2">
                <i class="fa fa-user"></i> Activity Logger
            </a>
        </li>

    </ul>
</div>
<div class="tab memberTabsPadding claims_tab_container">
    <div id="Cms1500FormTab" class="custommembertab-content">
        @Html.Partial("~/Areas/Billing/Views/ClaimsTracking/_Cms1500Form.cshtml", Model)
    </div>
    <div id="ActivityLoggerTab" class="custommembertab-content">
        @Html.Partial("~/Areas/Billing/Views/ClaimsTracking/_ClaimActivityLogger.cshtml")
    </div>
</div>

<script src="~/Areas/Billing/Scripts/AppJs/ClaimsTracking/Unminified/ViewSpecificClaim.js"></script>