

<p-link filepath="~/Areas/Billing/Contents/CSS/AppCss/Claims%20Tracking/Unminified/ClaimsTracking.css" rel="stylesheet"></p-link>

<div class="claims_tracking_container">
    <div id="claims_tracking_overall_page">
        <div class="x_panel border_on_panel">
            <div class="x_content">
                <div class="col-lg-12 clearfix">
                    <label class="title_text pull-left">Claims Status</label><label class="title_heading financial_year pull-left"> Financial Year-</label>
                    <select class="financial_year_dropdown pull-left">
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option selected="">2016</option>
                    </select>
                    <label class="title_heading pull-left">Month-</label>
                    <select class="financial_month_dropdown pull-left">
                        <option>All</option>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Aug</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>

                    <a class="btn btn-xs btn-info pull-right" id="filterData">
                        <i class="fa fa-filter"> Filter</i>
                    </a>
                    <a class="btn btn-xs btn-primary pull-right tab-navigation member-actions" data-tab-val="Create Claim" data-tab-action="Create Claim" data-tab-title="Create Claim" data-tab-container="fullBodyContainer" data-tab-autoflush="false" data-tab-path="~/Areas/Billing/Views/CreateClaim/Index.cshtml">Create New Claim</a>

                </div>



                @Html.Partial("~/Areas/Billing/Views/ClaimsTracking/_FilterForm.cshtml")

                @Html.Partial("~/Areas/Billing/Views/ClaimsTracking/_TileView.cshtml")


                <div class="col-lg-12">
                    <div id="container">

                    </div>
                </div>
                <ul class="status_type_list">
                    <li class="claims_gatway_type">Claims Gateway</li>
                    <li class="clearing_house_type">Clearing House</li>
                    <li class="payer_type">Payer</li>
                </ul>
            </div>
        </div>
        <div id="claims_list">

        </div>
    </div>
    <div id="cms1500_container">

    </div>

</div>

<p-script filepath="~/Areas/Billing/Scripts/AppJs/ClaimsTracking/Unminified/TrackingTree.js"></p-script>
<p-script filepath="~/Areas/Billing/Scripts/AppJs/ClaimsTracking/Unminified/ClaimsTracking.js"></p-script>