@model AHC.CD.WebUI.MVC.Areas.Profile.Models.DisclosureQuestions.ProviderDisclosureQuestionAnswerViewModel

<div id="dis" class="panel-body">
    <div class="form-style">
        <fieldset ng-repeat="category in disclosureQuestions">
            <legend>
                {{category.catName}}
            </legend>
            <div class="panel-body">
                <div class="form-group col-md-12 zero-padding-left-right-div" ng-repeat="question in category.questions">
                    <label class="control-label small col-md-12">{{question.questionText}}</label>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ProviderDisclosureAnswer, new { @class = "control-label small" })
                        <div>
                            <i class="data-label" id="ans">{{question.answerText}}</i>
                        </div>
                    </div>
                    <div ng-show="question.answerText == 'Yes'" class="col-md-9">
                        @Html.LabelFor(model => model.Reason, new { @class = "control-label small" })
                        <div>
                            <i class="data-label">{{question.reasonText}}</i>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </fieldset>
        <div class="clearfix"></div>
    </div>
</div>