<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--<add name="EFEntityContext" connectionString="D:\Pratian\AHC\AHCProject\Credentialing-Delegation\Development\AHC.CD\DBMigrationApplication\Database1.mdf" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.8;Initial Catalog=MigrationDBFinal2A;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->
    
   <!--<add name="EFEntityContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=MigrationUATDB;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.19;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />
    <!--<add name="EFEntityContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=MigrationUATDB;Integrated Security=true" providerName="System.Data.SqlClient" />-->

    <!--<add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.13;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->

  <!--<add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB2.0;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->


    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.8;Initial Catalog=ACDAuthenticationDB1.8.1;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />
    <add name="LogConnection" connectionString="Data Source=192.168.30.8;Initial Catalog=ACDLogDBMigration3;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />
    <add name="EFEntityContext" connectionString="Data Source=192.168.30.8;Initial Catalog=ACDProfileDB1.8;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <!--<entityFramework codeConfigurationType="AHC.CD.Data.EFRepository.EFCacheConfiguration, AHC.CD.Data.EFRepository">
    --><!-->  For EF 2nd Level Cacheing  --><!--
    --><!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />--><!--
    --><!--</providers>--><!--
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <contexts>
      <context type="AHC.CD.Data.EFRepository.EFEntityContext, AHC.CD.Data.EFRepository">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[AHC.CD.Data.EFRepository.EFEntityContext, AHC.CD.Data.EFRepository], [AHC.CD.Data.EFRepository.Migrations.Configuration,AHC.CD.Data.EFRepository]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>-->
  
  
</configuration>