<div class="form-style">
    <fieldset class="">
        <legend>
            Add Email Template
        </legend>
        <div id="newOtherLegalFormDiv">
            <div class="col-lg-12 zero-padding-left-right-div ng-scope">
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Category *</label>
                    <select class="form-control input-sm">
                        <option>Select Category</option>
                        <option>Profile</option>
                        <option>Provider Source Verification</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Action</label>
                    <select class="form-control input-sm">
                        <option>Select Action</option>
                        <option>Initiated</option>
                        <option>Credentialing Action</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label class="control-label small">Title *</label>
                    <input type="text" ng-model="OtherLegalName.LastName" class="form-control input-sm ng-pristine ng-untouched ng-valid" id="exampleInputEmail1" autocomplete="off">
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label small">Description *</label>
                    <div>
                        <textarea class="form-control input-sm" autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label small">Subject *</label>
                    <div>
                        <input type="text" class="form-control input-sm" autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label small">Status *</label>
                    <select class="form-control input-sm">
                        <option>Select Status</option>                        
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label small">Template *</label>
                    <div text-angular-toolbar="" name="textAngularToolbar8588652748148888" class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar"><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="h1" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 1" disabled="disabled">H1</button><button type="button" class="btn btn-default ng-scope" name="h2" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 2" disabled="disabled">H2</button><button type="button" class="btn btn-default ng-scope" name="h3" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 3" disabled="disabled">H3</button><button type="button" class="btn btn-default ng-scope" name="h4" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 4" disabled="disabled">H4</button><button type="button" class="btn btn-default ng-scope" name="h5" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 5" disabled="disabled">H5</button><button type="button" class="btn btn-default ng-scope" name="h6" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 6" disabled="disabled">H6</button><button type="button" class="btn btn-default ng-scope" name="p" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Paragraph" disabled="disabled">P</button><button type="button" class="btn btn-default ng-scope" name="pre" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Preformatted text" disabled="disabled">pre</button><button type="button" class="btn btn-default ng-scope" name="quote" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Quote/unqoute selection or paragraph" disabled="disabled"><i class="fa fa-quote-right"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="bold" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Bold" disabled="disabled"><i class="fa fa-bold"></i></button><button type="button" class="btn btn-default ng-scope" name="italics" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Italic" disabled="disabled"><i class="fa fa-italic"></i></button><button type="button" class="btn btn-default ng-scope" name="underline" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Underline" disabled="disabled"><i class="fa fa-underline"></i></button><button type="button" class="btn btn-default ng-scope" name="ul" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Unordered List" disabled="disabled"><i class="fa fa-list-ul"></i></button><button type="button" class="btn btn-default ng-scope" name="ol" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Ordered List" disabled="disabled"><i class="fa fa-list-ol"></i></button><button type="button" class="btn btn-default ng-scope" name="redo" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Redo" disabled="disabled"><i class="fa fa-repeat"></i></button><button type="button" class="btn btn-default ng-scope" name="undo" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Undo" disabled="disabled"><i class="fa fa-undo"></i></button><button type="button" class="btn btn-default ng-scope" name="clear" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Clear formatting" disabled="disabled"><i class="fa fa-ban"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="justifyLeft" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text left" disabled="disabled"><i class="fa fa-align-left"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyCenter" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Center" disabled="disabled"><i class="fa fa-align-center"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyRight" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text right" disabled="disabled"><i class="fa fa-align-right"></i></button><button type="button" class="btn btn-default ng-scope" name="indent" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Increase indent" disabled="disabled"><i class="fa fa-indent"></i></button><button type="button" class="btn btn-default ng-scope" name="outdent" unselectable="on" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Decrease indent" disabled="disabled"><i class="fa fa-outdent"></i></button></div></div>
                    <textarea rows="20" class="form-control">
                        
                    </textarea>
                </div>
                <div class="col-md-12 form-group">                    
                    <button type="button" class="btn btn-warning btn-sm" onclick="addednewPlan();">Cancel</button>                    
                    <button type="button" class="btn btn-primary btn-sm pull-right ng-hide" onclick="addednewPlan();">Add</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>