
<link rel="stylesheet" href="~/Content/MobileSite/css/base.css">
<link rel="stylesheet" href="~/Content/MobileSite/css/style.css">


<div id="container" class="fr-widget fr-container fr_container">
    <div id="gallery_08" class="fr-widget fr-container fr_gallery_08">
        <div id="g08_4_column_grid" class="fr-widget fr-grid fr_g08_4_column_grid">
            <div id="g08_one" class="fr-widget fr-container fr_g08_one">
                <a href="/MobileSite/CCODashboardMobile/CCODashboardMobile">
                    <div id="g08_rounded_image_one" class="fr-widget fr-container fr_g08_rounded_image_one">

                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_one" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_one">
                    <div class="fr-text">
                        <p><a href="/MobileSite/CCODashboardMobile/CCODashboardMobile">DashBoard</a></p>
                    </div>
                </div>
            </div>
            <!--
            -->
            <div id="g08_two" class="fr-widget fr-container fr_g08_two">
                <a href="/MobileSite/SearchProvider/Index">
                    <div id="g08_rounded_img_two" class="fr-widget fr-container fr_g08_rounded_img_two">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_two" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_two">
                    <div class="fr-text">
                        <p><a href="/MobileSite/SearchProvider/Index">Search Provider</a></p>
                    </div>
                </div>
            </div>
            <!--
            -->
            <div id="g08_three" class="fr-widget fr-container fr_g08_three">
                <a href="/MobileSite/CnD/ContractInfo">
                    <div id="g08_rounded_img_three" class="fr-widget fr-container fr_g08_rounded_img_three">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_three" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_three">
                    <div class="fr-text">
                        <p>
                            <a href="/MobileSite/CnD/ContractInfo">Contact Grid</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--
            -->
            <div id="g08_four" class="fr-widget fr-container fr_g08_four">
                <a href="/MobileSite/LocationTrackerMobile/Index">
                    <div id="g08_rounded_image" class="fr-widget fr-container fr_g08_rounded_image">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_four" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_four">
                    <div class="fr-text">
                        <p><a href="/MobileSite/LocationTrackerMobile/Index"> Location Tracker </a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--
        -->
        <div id="g08_4_column_grid_2" class="fr-widget fr-grid fr_g08_4_column_grid_2">

            <div id="g08_one_2" class="fr-widget fr-container fr_g08_one_2">
                <a href="/MobileSite/ProfileUpdateMobile/Index">
                    <div id="g08_rounded_image_one_2" class="fr-widget fr-container fr_g08_rounded_image_one_2">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_one_2" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_one_2">
                    <div class="fr-text">
                        <p><a href="/MobileSite/ProfileUpdateMobile/Index">Profile Updates</a></p>
                    </div>
                </div>
            </div>
            <!--
            -->
            <div id="g08_two_2" class="fr-widget fr-container fr_g08_two_2">
                <a href="/MobileSite/Email/Index">
                    <div id="g08_rounded_img_two_2" class="fr-widget fr-container fr_g08_rounded_img_two_2">
                    </div>
                </a>
                <!--
                -->
                <div id="g08_headline_two_2" class="fr-widget fr-text fr-wf fr_h4_center fr_g08_headline_two_2">
                    <div class="fr-text">
                        <p><a href="/MobileSite/Email/Index">Emails</a></p>
                    </div>
                </div>
            </div>
            <!--

            -->
        </div>
    </div>
</div>



