.c3-chart-arcs-title {
    padding-bottom: 10px;
    line-height: .4;
    font-weight: 500;
    text-transform: uppercase;
}

.biscuits_3D {
    color: blue !important;
}

    .biscuits_3D > .panel > .panel-body {
        color: whitesmoke;
        position: relative;
        text-decoration: none;
        width: 105%;
        display: block;
        padding: 4px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        text-align: center;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
        animation: color-animation 5s infinite linear alternate;
    }



@keyframes color-animation {
    0% {
        background: linear-gradient(#1e335b, #182848);
    }

    5% {
        background: linear-gradient(#2a5099,#182848);
    }

    10% {
        background: linear-gradient(#2d5ab2,#182848);
    }

    15% {
        background: linear-gradient(#063aa1,#182848);
    }

    20% {
        background: linear-gradient(#06348f,#182848);
    }

    25% {
        background: linear-gradient(#04318b,#182848);
    }

    30% {
        background: linear-gradient(#052870,#182848);
    }

    35% {
        background: linear-gradient(#05225f,#182848);
    }

    40% {
        background: linear-gradient(#061128,#182848);
    }

    45% {
        background: linear-gradient(#1e335b,#182848);
    }

    50% {
        background: linear-gradient(#1e335b,#182848);
    }

    55% {
        background: linear-gradient(#2a5099,#182848);
    }

    60% {
        background: linear-gradient(#2d5ab2,#182848);
    }

    65% {
        background: linear-gradient(#063aa1,#182848);
    }

    70% {
        background: linear-gradient(#06348f,#182848);
    }

    75% {
        background: linear-gradient(#04318b,#182848);
    }

    80% {
        background: linear-gradient(#052870,#182848);
    }

    85% {
        background: linear-gradient(#05225f,#182848);
    }

    90% {
        background: linear-gradient(#061128,#182848);
    }

    95% {
        background: linear-gradient(#1e335b,#182848);
    }

    100% {
        background: linear-gradient(#1e335b, #182848);
    }
    /*from {
    background: linear-gradient(#ADADAD, #182848);
    }
    to {
    background: linear-gradient(#4b6cb7, #182848);
    }*/
}
