



<div class="container" id="Summarymodaldata">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <br />
        </div>
    </div>

    <div class="col-lg-12">
        <select multiple="multiple" size="10" name="duallistbox_demo2" class="ProblemList">
            <option value="PROBLEM 1">PROBLEM 1</option>
            <option value="PROBLEM 2">PROBLEM 2</option>
            <option value="PROBLEM 3">PROBLEM 3</option>
            <option value="PROBLEM 4">PROBLEM 4</option>
            <option value="PROBLEM 5">PROBLEM 5</option>
            <option value="PROBLEM 6">PROBLEM 6</option>
            @*<option value="PROBLEM 7">PROBLEM 7</option>
                <option value="PROBLEM 8">PROBLEM 8</option>
                <option value="PROBLEM 9">PROBLEM 9</option>
                <option value="PROBLEM 10">PROBLEM 10</option>*@
        </select>

        <br>
        <button type="submit" id="SubmitProblemList" class="btn btn-default btn-block">Submit data</button>

    </div>

</div>


<p-script filepath="~/Scripts/AppScripts/CaseManagement/CreateEpisode/Summary.js"></p-script>

