


<div class="container" id="Summarymodaldata">

    <div class="col-lg-12">
        <div class="col-lg-12">
            <br />
        </div>    
    </div>

    <div class="col-lg-12">    
        <select multiple="multiple" size="10" name="duallistbox_demo3" class="DiseaseList">
            <option value="DISEASE 1">DISEASE 1</option>
            <option value="DISEASE 2">DISEASE 2</option>
            <option value="DISEASE 3">DISEASE 3</option>
            <option value="DISEASE 4">DISEASE 4</option>
            <option value="DISEASE 5">DISEASE 5</option>
            <option value="DISEASE 6">DISEASE 6</option>
            @*<option value="DISEASE 7">DISEASE 7</option>
            <option value="DISEASE 8">DISEASE 8</option>
            <option value="DISEASE 9">DISEASE 9</option>
            <option value="DISEASE 10">DISEASE 10</option>*@
        </select>
        
        <br>
        <button type="submit" id="SubmitDiseaseList" class="btn btn-default btn-block">Submit data</button>
        
    </div>

</div>


<p-script filepath="~/Scripts/AppScripts/CaseManagement/CreateEpisode/Summary.js"></p-script>

