
<div class="container" id="claimsmodaldata">
    <div>

        <div class="col-lg-12" id="firstrowdata">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-4">
                <label>CLAIMS NO:</label>
                <input type="text" class="form-control inp" value="" id="claimsno" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>DOS FROM:</label>
                <input type="text" class="form-control inp" value="" id="dosFrom" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>DOS THRU:</label>
                <input type="text" class="form-control inp" value="" id="dosThru" disabled="" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div>
            <br />
        </div>

        <div class="col-lg-12" id="secondRowData">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-4">
                <label>LOS:</label>
                <input type="text" class="form-control inp" value="" id="los" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>TYPE OF ADMISSION:</label>
                <input type="text" class="form-control inp" value="" id="typeOfAdmission" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>FACILITY:</label>
                <input type="text" class="form-control inp" value="" id="Cfacility" disabled="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="col-lg-2">
                    <label>PROVIDER:</label>
                </div>
                <div class="col-lg-10" id="providerData">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="col-lg-3 col-md-3">
                    <label>SERVICE DESC:</label>
                </div>
                <div class="col-lg-9 col-md-9" id="svData">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="col-lg-3 col-md-3">
                    <label>CPT DESC:</label>
                </div>
                <div class="col-lg-9 col-md-9" id="cptData">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="col-lg-3 col-md-3">
                    <label>ICD DESC:</label>
                </div>
                <div class="col-lg-9 col-md-9" id="icdData">

                </div>
            </div>
        </div>
        <div>
            <br />
        </div>
        <div class="row">
            <div class="col-lg-12 zero-padding-left-right">
                <div class="col-lg-12">
                    <br />
                </div>
                <div class="col-lg-7 zero-padding-left-right">
                    <div class="col-lg-12 zero-padding-left-right">
                        <div class="col-lg-3 col-md-3">
                            <label>DRUG DESC:</label>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <input type="text" value="" disabled="" class="form-control inp" id="drugDesc">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="col-lg-12">
                        <div class="col-lg-4 col-md-4">
                            <label>NET PAID:</label>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" value="" disabled="" class="form-control inp" id="netPaid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


