

<div class="container">
    <div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-4">
                <label>TYPE:</label>
                <input type="text" class="form-control inp" value="" id="type" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>ENTITY:</label>
                <input type="text" class="form-control inp" value="" id="entity" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>CONTACT NAME:</label>
                <input type="text" class="form-control inp" value="" id="contactname" disabled="" />
                <span class="text-danger"></span>
            </div>
        </div>
       
        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-4">
                <label>CONTACT NUMBER:</label>
                <input type="text" class="form-control inp" value="" id="CN" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>DIRECTION:</label>
                <input type="text" class="form-control inp" value="" id="Direction" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-4">
                <label>DATE & TIME OF CALL:</label>
                <input type="text" class="form-control inp" value="" id="DateAndTime" disabled="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>ALTERNATE CONTACT NUMBER:</label>
                <input type="text" class="form-control inp" value="" id="ACN" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>REASON:</label>
                <input type="text" class="form-control inp" value="" id="Reason" disabled="" />
                <span class="text-danger"></span>
            </div>         
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>OUTCOME TYPE:</label>
                <input type="text" class="form-control inp" value="" id="OType" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>OUTCOME:</label>
                <input type="text" class="form-control inp" value="" id="Outcome" disabled="" />
                <span class="text-danger"></span>
            </div>          
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-12">
                <label>NOTE:</label>
                <textarea class="form-control input-xs inp" id="fullcontactnote" rows="6" cols="140" disabled=""></textarea>
                <span class="text-danger"></span>
            </div>         
        </div>
    </div>
</div>


