<div class="container">
    

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>DOCUMENT CATEGORY:</label>
                <input type="text" class="form-control inp" value="" id="DocCategory" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>DATE & TIME:</label>
                <input type="text" class="form-control inp" value="" id="DTime" disabled="" />
                <span class="text-danger"></span>
            </div>          
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>DOCUMENT ID:</label>
                <input type="text" class="form-control inp" value="" id="DocID" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>EPISODE/REF ID:</label>
                <input type="text" class="form-control inp" value="" id="RefID" disabled="" />
                <span class="text-danger"></span>
            </div>          
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>DOCUMENT NAME:</label>
                <input type="text" class="form-control inp" value="" id="DocName" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>DOCUMENT TYPE:</label>
                <input type="text" class="form-control inp" value="" id="DocType" disabled="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>CREATED BY:</label>
                <input type="text" class="form-control inp" value="" id="CreatedBy" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
               
            </div>
        </div>

           
</div>
