

<div class="container" id="notesmodaldata">
    
        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-6">
                <label>TYPE</label>
                <input type="text" class="form-control inp" value="" id="noteType" disabled="" />
                <span class="text-danger"></span>
            </div>
            <div class="col-lg-6">
                <label>DATE</label>
                <input type="text" class="form-control inp" value="" id="dateTime" disabled="" />
                <span class="text-danger"></span>
            </div>         
        </div>
        
        <div class="col-lg-12">
            <div class="col-lg-12">
                <br />
            </div>
            <div class="col-lg-12">
                <label>NOTE</label>
                <textarea class="form-control input-xs inp" id="fullnote" rows="6" cols="140" disabled=""></textarea>
                <span class="text-danger"></span>
            </div>           
        </div>  
               
</div>


