@model AHC.CD.WebUI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Admin Configurations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
        <div class="col-lg-6">

            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        <a href="/MasterDataNew" class="btn btn-primary"><i class="fa fa-list-ol"></i> Master Data</a>
                    </p>                    
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/Profile/SearchProfile/SearchProfile" class="btn btn-primary"><i class="fa fa-user-md"></i> Manage Providers</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/Profile/CustomFieldGeneration/CustomField" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Custom Fields</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/Credentialing/Plan/Index" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Plans</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>
                        <a href="/EmailTemplate/EmailTemplate" class="btn btn-primary"><i class="fa fa-text-width"></i> Manage Letter Templates</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
