@using PratianUI
@model PortalTemplate.Areas.CredAxis.Models.DemographisViewModels.LanguagesKnownViewModel

@{
    bool IsEdit = true;
}

<div class="col-lg-12 nopadding">
    <fieldset class="fsStyle" id="EditLanguagesInfo">
        <legend class="legendStyle">
            <span class="theme_depend text-uppercase">
                @if (Model == null)
                {
                    <span>ADD Languages Known</span>
                    IsEdit = false;
                }
                @if (IsEdit)
                {
                    <span><span class="transparent-font-color">____</span>EDIT Languages Known<span class="transparent-font-color">___</span></span>
                }
            </span>
            &nbsp;&nbsp;

        </legend>
        <div class="x_content zero-padding-left">
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" style="margin-bottom: 5px;">
                    <span class="theme_label"><label class=" text-uppercase">@Html.DisplayNameFor(e => e.CommunicateAmericanLanguage)</label></span>
                    <span class="radioValueStyling">
                        @Html.PratianUiRadioButton(new { color = "green", @checked = "checked" }) Yes
                        @Html.PratianUiRadioButton(new { color = "red" }) No                 
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                    <span class="theme_label text-uppercase"><label>@Html.DisplayNameFor(e => e.NonEnglishLanguage)</label></span>
                    <span class="theme_label_data"><input class="form-control input-xs" placeholder="LANGUAGE" type="text" /></span>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <label class="theme_label">Issue State of DL</label>
                    <div class="theme_label_data">North Carolina</div>
                </div>*@
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 boxstyle">
                <table class="table credAxisList_table table-responsive">
                    <thead class="theme_thead">
                        <tr>
                            <th style="padding: 0px;"><label>LANGUAGE</label></th>
                            <th style="padding: 0px;"><label>PRIORITY</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Russian </td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Ukrainian</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*<div class="col-lg-12 col-md-4 col-sm-6 col-xs-12 boxstyle">
                    <span class="theme_label">Non- English Languages you are fluent (in order of proficiency)</span>
                    <span class="theme_label_data"><input type="text" /></span>
                </div>*@
            <div class="row">
                <div class="row col-lg-12 zero-padding-left-right">
                    <button class="btn btn-success btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Demographics/GetLanguageKnownDetailsEditPartial?ActionType=View" data-tab-container="LanguagesKnownDiv">Save</button>
                    <button class="btn btn-danger btn-xs yahanClickKar list-item buttonmargin pull-right margin-right-5px" data-tab-path="/CredAxis/Demographics/GetLanguageKnownDetailsEditPartial?ActionType=View" data-tab-container="LanguagesKnownDiv">Cancel</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>