<div class="panelheight row x-panel zero-padding-left-right" id="ContactPage">
    <div class="row">
        @*<div>
                <input type="submit" value="ADD NEW CONTACT" class="col-lg-1 pull-left button-styles-in-tabs btn btn-xs btn-success addMemberContact" />
            </div>*@
        <div class="col-lg-3 inline_flexy">
            <div class="col-lg-8">
                <input type="checkbox" checked="checked" class="normal-checkbox" id="viewAllContactsCheckbox">
                <label class="theme_label" for="viewAllContactsCheckbox"><span></span>View all Contacts</label>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/UM/Views/Authorization/Form/_ContactsArea.cshtml")
</div>

