.smartResultShort {
    position: absolute;
    top: 36px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 251, 251, 0.89);
    left: 0px;
    background-clip: border-box;
}
.smartResultShort a {
    cursor:pointer;
}
.smartResult {
    position: absolute;
    top: 36px;
    padding-left: 10px;
    background-color: rgba(255, 251, 251, 0.89);
    left: 0px;
    background-clip: border-box;
}


.SmartSearchResults div {
    float: left;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.SmartSearchResults img {
    height: 30px;
    width: 30px;
}

.part7Of12 div {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

.SmartSearchResults img:hover {
    cursor: pointer;
}

.SmartSearchResults .fa {
    color: #333 !important;
}

.provider, .memberId, .memberName {
    height: 44px;
}
