
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>
<script src="~/Scripts/Custom/Profile/Util.js"></script>
<link href="~/Content/SharedCss/jasny-bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Bootstrap/jasny-bootstrap.js"></script>

<div id="page-wrapper">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>
                        <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list"></i>List of Companies
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Add Provider content form div -->
        <div class="row">
            <div class="form-style col-lg-12" id="planList">
                <fieldset>
                    <legend>
                        Insurance Company List
                    </legend>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <a class="btn btn-primary btn-xs" href="~/InsuranceCompany/AddEdit">Add Insurance Company</a>
                            </div>
                            <div class="col-lg-6 pull-right">
                                <input type="text" class="form-control input-sm" id="searchForm" placeholder="search">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />

                    <div class="col-lg-12">
                        <div class="col-lg-12 panel panel-default ">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Freedom.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.freedom.com</i></a><br />
                                                <i>care@freedom.com</i><br />
                                                <i>+1-392-456</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">12</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">5</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">Hend F.(+1-891-1221-506)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">28-Nov-2014 (12 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 panel panel-default">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Coventry.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.Coventry.com</i></a><br />
                                                <i>care@Coventry.com</i><br />
                                                <i>+1-392-123</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">10</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">6</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">QAHTAN A.(+1-891-1221-578)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">28-Apr-2014 (12 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 panel panel-default ">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Humana.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.humana.com</i></a><br />
                                                <i>care@humana.com</i><br />
                                                <i>+1-392-100</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">15</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">5</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">HUSAM A.(+1-891-1221-522)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">09-Nov-2014 (9 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 panel panel-default ">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Optimum.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.Optimum.com</i></a><br />
                                                <i>care@Optimum.com</i><br />
                                                <i>+1-392-232</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">8</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">3</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">IAN ADAM.(+1-891-1221-212)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">28-Sept-2014 (28 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 panel panel-default ">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Simply.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.simply.com</i></a><br />
                                                <i>care@simply.com</i><br />
                                                <i>+1-392-415</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">18</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">10</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">MARC A.(+1-891-1221-121)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">8-Aug-2014 (8 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 panel panel-default ">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="col-lg-6">
                                            <img class="insurance-logo" src="~/Content/Images/Plans/Ultimate.jpg" />
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <a href="#"><i>www.ultimate.com</i></a><br />
                                                <i>care@ultimate.com</i><br />
                                                <i>+1-392-466</i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Total Plans: </label>
                                                <span class="control-label small">11</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="~/InsuranceCompany/AddEdit" class="btn btn-primary btn-xs">View Full Details</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Plans in usage:</label>
                                                <span class="control-label small">5</span>
                                            </div>
                                            <div class="col-lg-6"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label class="control-label small">Contact Person: </label>
                                                <span class="control-label small">SYED WAJAHAT.(+1-891-1221-521)</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label small">Last Activity:</label>
                                                <span class="control-label small">5-Nov-2014 (5 Days)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        @Html.Partial("_pagination")
                    </div>
                </fieldset>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
