@*<div style="padding-top:5px;" class="col-lg-12 nopadding">
    <div class="col-lg-1">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/Resources/Images/Common/user.png" alt="" style="width: 70px; height: 54px; margin-left: 15px; ">
        </a>
            <i id="edit" class="fa fa-edit"></i>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color:black;">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11"><h2> Dr. PARIKSHITH SINGH  <small>(Audiologist-MD)</small> </h2> </div>
            <div class="col-lg-2 col-sm-6 col-md-2 col-xs-6"><h5>NPI : <span id="ProviderID"> <b>- </b> </span> &nbsp;&nbsp;<i class="fontstylingEdit fa fa-key" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="USERNAME: freedom<br />PASSWORD:freedom123"></i></h5></div>
            <div class="col-lg-2 col-sm-4 col-md-2 col-xs-4">
                <h5>
                    CAQH :
                    <span id="ProviderCAHQ">
                       <b>124734810 </b>
                    </span> &nbsp;&nbsp;<i class=" fontstylingEdit fa fa-key" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="USERNAME: freedom<br />PASSWORD:freedom123"></i>
                </h5>
    </div>
            <div class="col-lg-2 col-sm-4 col-md-2 col-xs-4">Relationship :<h5> <b> EMPLOYEE </b> </h5></div>
            <div class="col-lg-2 col-sm-4 col-md-2 col-xs-4" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="ACCESS HEALTH CARE LLC"><h5>Group : <b> ACCESS HEALTH CA..  </b> </h5></div>
            <div class="col-lg-4 col-sm-6 col-md-4 col-xs-6" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" id="ProviderLocation">
                <h5>Location: Primecare,1930 - Port Saint Louis, Florida</h5>
            </div>
        </div>
        <div id="providerStatus">
            <div class="fa fa-expeditedssl fa-2x" data-toggle="popover" data-placement="left" data-trigger="hover" data-html="true" data-content="De-Activate"></div>
        </div>
    </div>*@



@*<div class="col-lg-3">
        <div class="col-lg-6 pull-right" style="color:black;font-weight:bold">
            <div class="">
                <a>Perform PSV</a></br>
                <a>Initiate Credentialing</a></br>
                <a>Task</a></br>
                <a>Documents</a></br>
            </div>
        </div>
    </div>*@
<div>
<div class="col-lg-1">
    <img src="/Resources/Images/Common/user.png" alt="" style="width: 80px; height: 54px; margin-left: 1px; ">
    @*<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     
    </a>*@
    <div >
        <i id="edit" class="fa fa-edit" style="margin-bottom: -30px;position: absolute;bottom: 28px;left: 0px;cursor: pointer;" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-html="true" title="Change Profile Picture"></i>
    </div>
</div>
    <div class="col-lg-11 runningdata">
        <table class="table responsive-utilities table-condensed table-responsive ">
            <thead class="providerheader">
                <tr class="headings">
                    <th class="column-title">Type </th>
                    <th class="column-title">Specialty</th>
                    <th class="column-title">NPI</th>
                    <th class="column-title">CAQH</th>
                    <th class="column-title">Gender</th>
                    <th class="column-title">Practice Location</th>
                    <th class="column-title">Phone </th>
                    @*<th class="column-title">Employee Relationship</th>*@
                    @*<th class="column-title">DOB</th>

                        <th class="column-title">Location</th>
                            <th class="column-title">Language </th>*@

                </tr>
            </thead>
            <tbody class="boldbody">
                <tr>
                    <td class="theme_label_data"> <span id="ProviderType">Medical Doctor</span></td>
                    <td class="theme_label_data"> <span id="ProviderSpeciality">Audiologist</span></td>
                    <td class="theme_label_data"><span id="ProviderID"></span> &nbsp;&nbsp;<i class="fontstylingEdit fa fa-key" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="USERNAME: freedom<br />PASSWORD:freedom123"></i></td>
                    <td class="theme_label_data"><span id="ProviderCAHQ">124734810</span> &nbsp;&nbsp;<i class=" fontstylingEdit fa fa-key" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-content="USERNAME: freedom<br />PASSWORD:freedom123"></i></td>
                    <td class="theme_label_data"> <span id="ProviderSpeciality">MALE</span></td>
                    <td class="theme_label_data"><span id="ProviderLocation">Primecare,1930 - Port Saint Louis, Florida</span></td>
                    <td class="theme_label_data"> <span id="ProviderSpeciality">+1 - (456) 578-951 </span></td>
                    @*<td class="theme_label_data">Affiliate </td>*@
                    @*<td class="theme_label_data"><span id="ProviderDOB">12/04/1980</span></td>*@
                    @*<td class="theme_label_data"><span id="ProviderLanguage">English</span></td>*@

                </tr>
            </tbody>
        </table>
    </div>
</div>



