   #AccountSettingProfileDiv{
 margin-top:1em;
    }
   .colorWhite{
       color:white !important;
   }
   .marginTop{
       margin-top:2em !important;
   }
   #NotificationDiv{
       border: 1px solid;
       padding:0;
   }