@{
    ViewBag.Title = "IntakeLeadDashboard";
}
<link href="~/Content/CustomTheme/DashboardCSS/IntakeLeadDashboardCSS.css" rel="stylesheet" />
<link href="~/Content/c3.min.css" rel="stylesheet" />
<script src="~/Scripts/LibScripts/d3.min.js"></script>
<script src="~/Scripts/LibScripts/c3.min.js"></script>
<script src="~/Scripts/CustomScripts/DashboardScripts/IntakeLeadDashboard.js"></script>
<div class="col-lg-12 mainBodyCollapse" id="mainBody">
    <div class="x_panel" style="height:20px;">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile info-tile">
            <div class="tile-header clearfix">
                <div class="tile-text text-center">
                    Total Authorizations Created
                </div>
            </div>
            <div class="tile-body clearfix">
                <div class="tile-icon1 pull-left col-lg-offset-1">
                    <i class="fa fa-3x fa-clipboard"></i>
                </div>
                <div class="tile-amount pull-left col-lg-offset-1">
                    1345
                </div>
                <table class="pull-right">
                    <tbody>
                        <tr>
                            <td class="tile-icon1 ">
                                Standard
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1 pull-right">
                                344
                            </td>
                        </tr>
                        <tr>
                            <td class="tile-icon1">
                                Expedite
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1 pull-right">
                                100
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <br />

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile danger-tile">
            <div class="tile-header clearfix">
                <div class="tile-text text-center">
                    Total Authorizations Rejected
                </div>
            </div>
            <div class="tile-body clearfix">
                <div class="tile-icon1 pull-left col-lg-offset-1">
                    <i class="fa fa-3x fa-thumbs-o-down"></i>
                </div>
                <div class="tile-amount pull-left col-lg-offset-1">
                    1345
                </div>
                <table class="pull-right">
                    <tbody>
                        <tr>
                            <td class="tile-icon1 ">
                                Standard
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1 pull-right">
                                344
                            </td>
                        </tr>
                        <tr>
                            <td class="tile-icon1">
                                Expedite
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1 pull-right">
                                100
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <br />

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile queue-tile">
            <div class="tile-header clearfix">
                <div class="tile-text text-center">
                    Authorizations in Central Queue
                </div>
            </div>
            <div class="tile-body  clearfix">
                <div class="tile-icon1 pull-left col-lg-offset-1">
                    <i class="fa fa-3x fa-sitemap"></i>
                </div>
                <div class="tile-amount pull-left col-lg-offset-1">
                    1255
                </div>
                <table class="pull-right">
                    <tbody>
                        <tr>
                            <td class="tile-icon1">
                                Standard
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1">
                                122
                            </td>
                        </tr>
                        <tr>
                            <td class="tile-icon1">
                                Expedite
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1">
                                96
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="tile warning-tile">
            <div class="tile-header clearfix">
                <div class="tile-text text-center">
                    My Turn Around Time
                    <span class="pull-right"><b>1 day 2 Hrs</b></span>
                </div>
            </div>
            <div class="tile-body  clearfix">
                <div class="tile-icon1 pull-left col-lg-offset-1">
                    <i class="fa fa-3x fa-clock-o"></i>
                </div>
                <table class="pull-right">
                    <tbody>
                        <tr>
                            <td class="tile-icon1">
                                Standard
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1">
                                2 Days 6 Hrs
                            </td>
                        </tr>
                        <tr>
                            <td class="tile-icon1">
                                Expedite
                            </td>
                            <td class="tile-icon1 ">:&nbsp;</td>
                            <td class="tile-amount1">
                                0 Days 8 Hrs
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <div class="x_panel" style="height:20px;">

    </div>
    <!-- charts Code goes here-->
    <div class="x_panel">
        <div class=" col-lg-12">
            <div class="row">
                <span class="col-lg-5">
                    <h4>Authorizations Processed</h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp;PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" id="GraphSelectionGroup">
                    <button type="button" id="weekly" data-id="W" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly">W</button>
                    <button type="button" id="monthly" data-id="M" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly" style="background-color:skyblue">M</button>
                    <button type="button" id="yearly" data-id="Y" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                    <button type="button" id="quarterly" data-id="Q" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" id="daily" data-id="D" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Daily">D</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px" id="AuthType">
                    <select class="form-control input-xs" name="DropdownforChart">
                        <option value="1" selected>Pending Auths</option>
                        <option value="2">Submitted Auths</option>
                        <option value="3"> Completed Auths</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="chart" class="row" style="height:300px;">

            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <span class=" col-lg-5">
                    <h4>Authorizations List</h4>
                </span>
                <div class="btn-group btn-group-xs custombtngroup pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Email"><i class="fa fa-mail-forward"></i></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download"></i></button>
                    <ul class="dropdown-menu" style="left:5%;min-width:94px">
                        <li><a href="#"><i class="fa fa-file-excel-o pull-left"></i>&nbsp; EXCEL</a></li>
                        <li><a href="#"><i class="fa fa-file pull-left"></i>&nbsp; PDF</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-xs custombtngroup pull-right " role="group" aria-label="..." id="TableSelectionGroup">
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Weekly">W</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Monthly" style="background-color:skyblue">M</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Yearly">Y</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Quarterly">Q</button>
                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Daily">D</button>
                </div>
                <div class="padding-top pull-right" style="padding-right: 17px">
                    <select class="form-control input-xs" name="DropdownforTable">
                        <option selected>Pending Auths</option>
                        <option>Submitted Auths</option>
                        <option>Completed Auths</option>

                    </select>
                </div>

            </div>
            <table class="table table-inverse table-striped dashtab" style="height:200px;overflow:hidden;" id="W_Table">
                <thead style="background: #708bb8; color: white;">
                    <tr>
                        <th>S.No<i class="fa fa-fw fa-sort"></i></th>
                        <th>Auth Type<i class="fa fa-fw fa-sort"></i></th>
                        <th>Month<i class="fa fa-fw fa-sort"></i></th>
                        <th>Standard<i class="fa fa-fw fa-sort"></i></th>
                        <th>Expedite<i class="fa fa-fw fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody style="overflow-y:scroll">
                    <tr>
                        <th scope="row">1</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>January</td>
                        <td><span class="h6"><b>50</b></span></td>
                        <td><span class="h6"><b>65</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>February</td>
                        <td><span class="h6"><b>30</b></span></td>
                        <td><span class="h6"><b>20</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>March</td>
                        <td><span class="h6"><b>21</b></span></td>
                        <td><span class="h6"><b>15</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>April</td>
                        <td><span class="h6"><b>16</b></span></td>
                        <td><span class="h6"><b>6</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>May</td>
                        <td><span class="h6"><b>60</b></span></td>
                        <td><span class="h6"><b>30</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>June</td>
                        <td><span class="h6"><b>40</b></span></td>
                        <td><span class="h6"><b>60</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>July</td>
                        <td><span class="h6"><b>50</b></span></td>
                        <td><span class="h6"><b>40</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>August</td>
                        <td><span class="h6"><b>55</b></span></td>
                        <td><span class="h6"><b>24</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>September</td>
                        <td><span class="h6"><b>32</b></span></td>
                        <td><span class="h6"><b>23</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>October</td>
                        <td><span class="h6"><b>25</b></span></td>
                        <td><span class="h6"><b>16</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>November</td>
                        <td><span class="h6"><b>45</b></span></td>
                        <td><span class="h6"><b>18</b></span></td>

                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <th><span class="h6">Pending Auth</span></th>
                        <td>December</td>
                        <td><span class="h6"><b>55</b></span></td>
                        <td><span class="h6"><b>52</b></span></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="x_panel">
        <div class="row">

            <span class=" col-lg-11">
                <h4>Prior Authorizations</h4>
            </span>
        </div>
        <table class="table table-inverse table-striped">
            <thead style="background: #4b6cb7;color: white;">
                <tr>
                    <th>MBR ID <i class="fa fa-fw fa-sort"></i></th>
                    <th>MBR Name <i class="fa fa-fw fa-sort"></i></th>
                    <th>POS <i class="fa fa-fw fa-sort"></i></th>
                    <th>Request <i class="fa fa-fw fa-sort"></i></th>
                    <th>Duration <i class="fa fa-fw fa-sort"></i></th>
                    <th>Status <i class="fa fa-fw fa-sort"></i></th>
                    <th>DX <i class="fa fa-fw fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">33445VE</th>
                    <td>Mark Otto</td>
                    <th>11</th>
                    <td><span class="h6 text-danger">Expedited</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 00:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>FELTY'S...</td>
                </tr>
                <tr>
                    <th scope="row">44232EV</th>
                    <td>Jacob Thornton</td>
                    <th>22</th>
                    <td><span class="h6 text-success">STANDARD</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 10:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>MONOART...</td>
                </tr>
                <tr>
                    <th scope="row">74232PF</th>
                    <td>Larry Bird</td>
                    <th>31</th>
                    <td><span class="h6 text-success">STANDARD</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 18:16:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>Portal</td>

                </tr>
                <tr>
                    <th scope="row">56332BB</th>
                    <td>Sirgi Noon</td>
                    <th>21</th>
                    <td><span class="h6 text-danger">Expedited</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 00:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>Fax</td>
                </tr>
                <tr>
                    <th scope="row">14232MV</th>
                    <td>Mark tuner</td>
                    <th>11</th>
                    <td><span class="h6 text-success">STANDARD</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 00:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>OTHER RE...</td>
                </tr>
                <tr>
                    <th scope="row">86882MV</th>
                    <td>Mitchel Flemming</td>
                    <th>24</th>
                    <td><span class="h6 text-success">STANDARD</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 00:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>RHEUMAT...</td>
                </tr>
                <tr>
                    <th scope="row">123432MV</th>
                    <td>Alexander Smith</td>
                    <th>31</th>
                    <td><span class="h6 text-success">STANDARD</span></td>
                    <td><span class="h6 text-danger"><b>0 Days 00:06:56 H</b></span></td>
                    <td>PEND-INTAKE</td>
                    <td>GOUT DUE...</td>
                </tr>
            </tbody>
        </table>
    </div>*@
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="row">
            <span class=" col-lg-11">
                <h3>Team Progress</h3>
            </span>
        </div>
        <div class="x_content TeamProgressTable">
            <table class="table table-inverse table-striped">
                <thead style="background: #4b6cb7;color: white;">
                    <tr>
                        <th>MBR<i class="fa fa-fw fa-sort"></i></th>
                        <th>MBR Name <i class="fa fa-fw fa-sort"></i></th>
                        <th>Standard <i class="fa fa-fw fa-sort"></i></th>
                        <th>Expedite <i class="fa fa-fw fa-sort"></i></th>
                        <th>Total <i class="fa fa-fw fa-sort"></i></th>
                        <th>Pending <i class="fa fa-fw fa-sort"></i></th>
                        <th>Submitted <i class="fa fa-fw fa-sort"></i></th>
                        <th>Completed <i class="fa fa-fw fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar"></th>
                        <td>Shawndae Harvey</td>
                        <th class="standard">24</th>
                        <th class="expedited">0</th>
                        <td>24</td>
                        <td>4</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar"></th>
                        <td>Tara Dorton</td>
                        <th class="standard">15</th>
                        <th class="expedited">10</th>
                        <td>35</td>
                        <td>15</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar"></th>
                        <td>Andrea McMillan</td>
                        <th class="standard">15</th>
                        <th class="expedited">5</th>
                        <td>30</td>
                        <td>10</td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                </tbody>
            </table>
            @*<ul class="messages">
                <li class="col-lg-3">
                    <img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar">
                    <div class="message_date">
                        <h3 class="date text-info">24</h3>
                    </div>
                    <div class="message_wrapper">
                        <h4 class="heading">Shawndae Harvey</h4>
                        <p><span class="h6 text-success">STANDARD</span>: 24</p>
                        <p><span class="h6 text-danger">EXPEDITED</span>: 0</p>
                    </div>
                </li>
                <li class="col-lg-3">
                    <img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar">
                    <div class="message_date">
                        <h3 class="date text-info">25</h3>
                    </div>
                    <div class="message_wrapper">
                        <h4 class="heading">Tara Dorton</h4>
                        <p><span class="h6 text-success">STANDARD</span>: 15</p>
                        <p><span class="h6 text-danger">EXPEDITED</span>: 10</p>
                    </div>
                </li>
                <li class="col-lg-3">
                    <img src="~/Resources/Images/Common/user.png" class="avatar" alt="Avatar">
                    <div class="message_date">
                        <h3 class="date text-info">20</h3>
                    </div>
                    <div class="message_wrapper">
                        <h4 class="heading">Andrea McMillan</h4>
                        <p><span class="h6 text-success">STANDARD</span>: 15</p>
                        <p><span class="h6 text-danger">EXPEDITED</span>: 5</p>
                    </div>
                </li>
            </ul>*@
        </div>
    </div>
    <div class="clearfix"></div>
    @Html.Partial("~/Views/Shared/OtherLayouts/_Footer.cshtml")
</div>




