@*ng-if="visibilitySecondControl != 'MidLevelPractitionerEdit'"*@

<div id="MidLevelPractitioner">
    <fieldset>
        <legend>
            Mid-Level Practitioner
        </legend>

        <table ng-if="!(PracticeLocationDetail.Facility.FacilityDetail.MidLevels.length <1 " class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <td>
                        No Mid-Level Practitioners present for this facility.
                    </td>
                </tr>
            </thead>
        </table>
        <table ng-if="PracticeLocationDetail.Facility.FacilityDetail.MidLevels.length>0" class="table table-bordered table-condensed customtbodyStyle table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle name</th>
                    <th>Last Name</th>
                    <th>NPI Number </th>
                </tr>
            </thead>
            <tbody ng-repeat="practitioner in PracticeLocationDetail.Facility.FacilityDetail.MidLevels">
                <tr>
                    <td>{{practitioner.FirstName || 'Not Available'}}</td>
                    <td>{{practitioner.MiddleName || 'Not Available'}}</td>
                    <td>{{practitioner.LastName || 'Not Available'}}</td>
                    <td>{{practitioner.NPINumber || 'Not Available'}}</td>
                </tr>
            </tbody>
        </table>
        </fieldset>
</div>