
@using AHC.CD.WebUI.MVC.Areas.Profile.Attributes;
<br />
<div class="panel-group" ng-controller="ProfessionalReference">

    <div class="form-style">
        <fieldset>
            <legend>
                Professional Reference
                
            </legend>

            <div class="legend2 pull-right">
                <button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="You are required to provide exactly 3 references. Your application will not be complete without this information *Please check with credentialing entity for any special requirements"><i class="fa fa-question"></i></button>
            </div>
            <table ng-hide="ProfessionalReferences.length >0 || visibilityControl=='addpr' " class="table table-bordered table-condensed customtbodyStyle table-striped">
                <thead>
                    <tr>
                        <td>
                            No Data Available ! To Add New Click
                            @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                            {
                                <button class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addpr')" data-toggle="tooltip" data-placement="right" title="Add New"><i class="fa fa-plus"></i></button>
                            }
                        </td>

                    </tr>
                </thead>
            </table>
            @*<div ng-hide="ProfessionalReferences.length > 3" class="col-md-12 text-right" style="font-style:italic;font-size:x-small;color:black">
                <label>*You are required to provide exactly 3 references. Your application will not be complete without this information</label>
            </div>*@

            @*<div ng-hide="ProfessionalReferences.length > 3" class="col-md-12 text-right" style="font-style:italic;font-size:x-small;color:black">
                <label>*Please check with credentialing entity for any special requirements</label>
            </div>*@
            <div id="profref" class="panel-body">
                <div class="form-style">
                    <div class="col-lg-12 zero-padding-left-right-div">

                        <table ng-if="ProfessionalReferences.length > 0 " class="table table-bordered table-condensed table-striped customtbodyStyle">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Title</th>
                                    <th>Telephone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="pr in ProfessionalReferences track by $index">
                                <tr>
                                    <td>{{pr.FirstName}}</td>
                                    <td ng-show="pr.MiddleName">{{pr.MiddleName}}</td>
                                    <td ng-show="!pr.MiddleName">Not Available</td>
                                    <td>{{pr.LastName}}</td>
                                    <td>{{pr.ProviderType.Title}}</td>
                                    <td>{{pr.PhoneNumber}}</td>
                                    <td>
                                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                                        {
                                            <button class="btn btn-xs btn-default" ng-click="operateViewAndAddControl($index+'_viewpr')" ng-hide="showViewProfessionalReference" data-toggle="tooltip" data-placement="left" title="View"><i class="fa fa-eye"></i></button>
                                        }

                                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                                        {
                                            <button class="btn btn-xs btn-primary" ng-click="operateEditControl($index+'_editpr',pr)" ng-hide="editShowProfessionalReference" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                        }
                                        @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles, false))
                                        {
                                            <button class="btn btn-xs btn-success" ng-click="operateViewAndAddControl('addpr')" ng-hide="$index+1!=ProfessionalReferences.length" data-toggle="tooltip" data-placement="right" title="Add New"><i class="fa fa-plus"></i></button>
                                        }
                                    </td>
                                </tr>

                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.View, ViewBag.Roles, false))
                                {
                                    <tr ng-show="visibilityControl==($index+'_viewpr')">
                                        <td colspan="6" class="editTableDataStyle">
                                            @Html.Partial("~/Areas/Profile/Views/ProfessionalReference/_ViewProfessionalReference.cshtml")
                                        </td>

                                    </tr>
                                }

                                @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Edit, ViewBag.Roles, false))
                                {
                                    <tr ng-show="visibilityControl==($index+'_editpr')">
                                        <td colspan="6" id="professionalReferenceEditDiv{{$index}}" class="editTableDataStyle">
                                            @Html.Partial("~/Areas/Profile/Views/ProfessionalReference/_AddEditProfessionalReference.cshtml")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div ng-show="visibilityControl=='addedNewProfessionalReference'" class="alert alert-success" role="alert">
                            <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                            <i class="fa fa-2x fa-arrow-up"></i>New Professional Reference Added Successfully !!!!
                        </div>
                        <div ng-show="visibilityControl=='updatedProfessionalReference'" class="alert alert-success" role="alert">
                            <button ng-click="operateCancelControl('')" class="close"><span>&times;</span></button>
                            <i class="fa fa-2x fa-arrow-up"></i>Data Updated Successfully !!!!
                        </div>
                    </div>



                    <div class="clearfix"></div>
                     @if (ProfileActionValidator.IsAuthorized(ProfileActionType.Add, ViewBag.Roles,false)) { 
                    <fieldset ng-show="visibilityControl=='addpr'">
                        <legend>
                            Add Professional Reference
                        </legend>
                        <div id="newProfessionalReferenceFormDiv">
                            @Html.Partial("~/Areas/Profile/Views/ProfessionalReference/_AddEditProfessionalReference.cshtml")
                        </div>
                    </fieldset>
                     }
                 
                </div>
            </div>
        </fieldset>
    </div>
</div>


