<link href="~/Content/CustomCss/AddProvider.css" rel="stylesheet" />
@{
    ViewBag.Title = "Add Provider";
}



<div class="col-lg-10 mainBodyCollapse" id="mainBody" ng-controller="addProviderController">
    <div class="tab-pane active" role="tabpanel" id="step1">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 2em;">
                <div class="panel ak-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6 title">
                                <label>Basic Information</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <span>NPI Number *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-4">
                                <span>NPI User Name</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-4">
                                <span>NPI Password</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span>CAQH Number *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-4">
                                <span>CAQH User Name</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-4">
                                <span>CAQH Password</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-12 div-space">
                <div class="panel ak-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6 title">
                                <label>Personal Information</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <span>Salutation *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>First Name *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>Middle Name</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>Last Name *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-1">
                                <span>Suffix</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <span>Gender</span><br />
                                <input class="form-control" type="radio" name="Gender" id="Gender" />Male
                                <input class="form-control" type="radio" name="Gender" id="Gender" />Female
                            </div>
                            <div class="col-lg-3">
                                <span>Provider Level *</span><br />
                                <select class="form-control ak-input dropdown-adjust">
                                    <option>Doctor</option>
                                    <option>Midlevel</option>
                                    <option>Nurse</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <span>Title *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-4">
                                <span>Selected Titles :</span><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 div-space">
                <div class="panel ak-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6 title">
                                <label>Contact Information</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <span>Street/P. O. Box No: *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>Apartment/Unit Number</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>City *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>State *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>Zip Code *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>Country *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <span>County</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>Email *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>Mobile Number</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 div-space">
                <div class="panel ak-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6 title">
                                <label>Employment Information</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2">
                                <span>Provider Relationship *</span><br />
                                <input class="form-control" type="radio" name="ProviderRelationship" id="ProviderRelationship" />Employee  
                                <input class="form-control" type="radio" name="ProviderRelationship" id="ProviderRelationship" />Affiliate
                            </div>
                            <div class="col-lg-2">
                                <span>Join Date *</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>NCV Document</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-2">
                                <span>Individual Tax ID</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                            <div class="col-lg-3">
                                <span>Contract Document</span><br />
                                <input class="form-control ak-input" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <span>Are you a part of any IPA/Group?</span><br />
                                <input class="form-control" type="radio" name="Group" id="Group" />Yes
                                <input class="form-control" type="radio" name="Group" id="Group" />No
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>