<div class="modal fade authPreviewModal" tabindex="-1" role="dialog" id="DenialPreviewModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row">

                    <h4 class="modal-title">Denial Letter</h4>

                </div>
            </div>

            <div class="modal-body modalbodyheight uppercase previewModalStyle text-uppercase" id="DenialTemplate">




            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-success pull-right" data-dismiss="modal" id="trigger-overlay" onclick="toggleQueueList();">Confirm</button>
            </div>
        </form>
    </div>
</div>
