<div class="clearfix"></div>

<div class="target profilediv col-lg-12 nopadding" id="GeneralInfoID">
    <div class="fsStyle" id="ViewGeneralInformationDetails">
        <div class="SubHeaderSpacing1">
            <span class="text-uppercase TableHeading"> Facility Information</span>&nbsp;
            <button onclick="groupmodalhistory()" class="btn btn-danger btn-xs RemoveButtonStyleModal ">
                <i class="fa fa-minus"></i>
            </button>
            <button onclick="FacilityServiceModal()" class="btn btn-info btn-xs RemoveButtonStyleModal ">
                <i class="fa fa-eye"></i>
            </button>
        </div>
        @*<legend class="legendStyle">
                <span class="theme_depend text-uppercase create-auth-legends">
                    General Information
                </span>
                &nbsp;&nbsp; <span class="text-uppercase ">
                    <span class="fstyleBtnStyle">
                        <button class="btn btn-success btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Add" data-tab-container="GeneralInformationDetails">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-primary btn-xs list-item" data-tab-path="/CredAxis/PracticeLocation/GetPracticeLocationAddEditView?model=@Model&type=Edit" data-tab-container="GeneralInformationDetails">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-warning btn-xs" data-toggle="collapse" data-target="#PracticeLocationDetails">
                            <i class="fa fa-history"></i>
                        </button>
                        <a class="print_button_for_UnderGrad hover_effect pull-right" data-toggle="tooltip" data-placement="top" title="" data-original-title="Print" tabindex="-1">
                            <img class="printIcon_image" src="/Resources/Images/Icons/print_icon.png">
                        </a>
                    </span>
                </span>
            </legend>*@
        <span class="x_content zero-padding-left">
            <span class="text_adjust boxstyle">
                <label class="theme_label">FACILITY NAME :</label>

                <span class="theme_label_data">ALLERGY ASTHMA AND IMMUNOLOGY</span>


            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">CORPORATE/PRACTICE NAME :</label>

                <span class="theme_label_data">Allergy Asthma and Immunology</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">STREET/P.O.BOX.NO :</label>

                <span class="theme_label_data">11333 Cortez Blvd</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">SUITE/BUILDING :</label>

                <span class="theme_label_data">Not Available</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">CITY :</label>

                <span class="theme_label_data">Brooksville</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">STATE :</label>

                <span class="theme_label_data">Florida</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label"> ZIP CODE:</label>

                <span class="theme_label_data">34613</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">COUNTRY :</label>

                <span class="theme_label_data">United States</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">COUNTY :</label>

                <span class="theme_label_data">Hernando</span>

            </span>
            <br />
            <span class="text_adjust boxstyle">
                <label class="theme_label">TELEPHONE :</label>

                <span class="theme_label_data">+1 - 3525974499</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">FAX :</label>

                <span class="theme_label_data">+1 - 3525961191</span>

            </span>
            <span class="text_adjust boxstyle">
                <label class="theme_label">OFFICE E-MAIL ADDRESS :</label>

                <span class="theme_label_data">Not Available</span>

            </span>


        </span>
    </div>
</div>