<div class="small col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-4" >
        <img src="{{credentialingInfo.Profile.ProfilePhotoPath}}" class="grow" style="height:40px; width:90%">
    </div>
    <div class="col-lg-8 form-group zero-padding-left-right-div">
        <div class="col-lg-12 form-group zero-padding-left-right-div">
            <label class="control-label small zero-padding-left-right-div">Name:</label>
            <i class="data-label ng-binding">{{credentialingInfo.Profile.PersonalDetail.Salutation}}&nbsp{{credentialingInfo.Profile.PersonalDetail.FirstName}}&nbsp;{{credentialingInfo.Profile.PersonalDetail.LastName}}</i>
        </div>
        <div class="col-lg-12 form-group zero-padding-left-right-div">

            <label class="control-label small zero-padding-left-right-div">NPI:</label>
            <i class="data-label ng-binding">{{credentialingInfo.Profile.OtherIdentificationNumber.NPINumber}}</i>
        </div>
    </div>
    </div>
<div class="small col-lg-12 zero-padding-left-right-div" id="provider_detail_div" style="display:none; margin-top:1px;">
    <div class="col-lg-4 form-group zero-padding-left-right-div">
        <label class="control-label small zero-padding-left-right-div">Gender:</label>
        <div> <i class="data-label ng-binding">{{credentialingInfo.Profile.PersonalDetail.Gender}}</i></div>
    </div>
    <div class="col-lg-8 form-group zero-padding-left-right-div">
        <label class="control-label small zero-padding-left-right-div">Provider Type:</label>
        <div> <i class="data-label ng-binding" ng-repeat="i in credentialingInfo.Profile.PersonalDetail.ProviderTitles track by $index" ng-if="i.Status=='Active'">{{i.ProviderType.Title}}</br></i></div>
    </div>
</div>


