<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style" style="border-top: 1px solid #eee; padding-top: 10px;" ng-if="TableView">
            <div class="progress col-lg-12" ng-if="!progressbar" ng-cloak>
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Loading...Please wait...
                </div>
            </div>
            <div ng-if="progressbar">

                <table ng-if="ClosedTasks.length>0 && progressbar" class='table table-striped table-bordered customtbodyStyle medium wrap-words' st-pipe="mc.callServer" st-table="mc.displayed" st-safe-src="trackerItems">
                    <thead>
                        <tr>
                            <th st-sort="ProviderName" class='col-lg-2'>
                                Provider Name
                            </th>
                            <th st-sort="Subject" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Subject
                            </th>
                            <th st-sort="SubSectionName" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Sub Section Name
                            </th>
                            <th st-sort-default="false" st-sort="NextFollowUpDate" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Next FollowUp Date
                            </th>
                            @*<th st-sort="AssignedTo" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                        Assigned To
                    </th>*@
                            <th st-sort="CompleteStatus" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Task Status
                            </th>
                            <th st-sort="InsuranceCompanyName" class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Insurance Company
                            </th>
                            <th class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>
                                Mode Of Follow Up
                            </th>
                            <th class='col-lg-1 col-md-1 col-sm-1 col-xs-1'>Action</th>
                        </tr>
                        <tr>
                            <td class='col-lg-2 col-md-2 col-sm-2 col-xs-2'><input st-search="ProviderName" type="text" placeholder="Filter Provider Name" class="form-control input-sm"></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="Subject" type="text" placeholder="Filter Subject" class="form-control input-sm" /></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="SubSectionName" type="text" placeholder="Filter Sub Section Name" class="form-control input-sm" /></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="NextFollowUpDate" type="text" placeholder="Filter Next FollowUp Date" class="form-control input-sm" /></td>
                            @*<td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="AssignedTo" type="text" placeholder="Filter Assigned To" class="form-control input-sm" /></td>*@
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="CompleteStatus" type="text" placeholder="Filter Task Status" class="form-control input-sm" /></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="InsuranceCompanyName" type="text" placeholder="Filter Insurance Company" class="form-control input-sm" /></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'><input st-search="ModeOfFollowUp" type="text" placeholder="Filter Follow Up Mode" class="form-control input-sm" /></td>
                            <td class='col-lg-1 col-md-1 col-sm-1 col-xs-1'></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in mc.displayed">
                            <td>{{c.ProviderName}}</td>
                            <td>{{c.Subject}}</td>
                            <td>{{c.SubSectionName}}</td>
                            <td>{{c.NextFollowUpDate}}</td>
                            @*<td>{{c.AssignedTo}}</td>*@
                            <td>{{c.CompleteStatus}}</td>
                            <td>{{c.InsuranceCompanyName||'Not Available'}}</td>
                            @*<td><p ng-repeat="m in c.InsuranceCompanyName"><span class="label label-info">{{m}}</span></p><p ng-if="m==null">Not Available</p></td>*@
                            <td><p ng-repeat="m in c.ModeOfFollowUp"><span class="label label-info">{{m.Name}}</span></p></td>
                            <td>
                                <button class="btn btn-xs btn-default" ng-click="showDetailViewforTab3(c)" tooltip data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot style="cursor:pointer">
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" colspan="9"></td>
                        </tr>
                    </tfoot>
                </table>
                <div ng-if="ClosedTasks.length==0 && progressbar">
                    <label style="margin-left:40%">No Tasks</label>
                </div>
            </div>
            @*<div class="clearfix"></div>
                <div ng-if="CurrentPageforRemainingTasks.length > 0" ccolicensedetailstable></div>
                <pagination ng-if="CurrentPageforRemainingTasks.length > 0" total-items="bigTotalItemsforRemainingTasks" ng-model="bigCurrentPageforRemainingTasks" max-size="maxSize" class="pagination-sm" ng-change="pageChangedforRemainingTasks(bigCurrentPageforRemainingTasks)" boundary-links="true" rotate="false" num-pages="numPages" style="margin:0;"></pagination>
                <div class="clearfix"></div><br />*@
        </div>
        <div ng-if="detailViewfortab3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 zero-padding-left-right-div form-style">
            <fieldset>
                <legend>
                    View Task
                </legend>
                <div class="legend2 pull-right">
                    <button ng-click="cancelViewforTab3()" class="btn btn-xs btn-default" tooltip data-toggle="tooltip" data-placement="top" title="close"><i class="fa fa-close"></i></button>
                </div>
                <div id="detailFormDiv">
                    @Html.Partial("~/Views/TaskTracker/_ViewTask.cshtml")
                </div>
            </fieldset>
        </div>
    </div>
</div>








