@model AHC.CD.WebUI.MVC.Areas.Profile.Models.Demographic.PersonalDetailViewModel

<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-3 form-group">
        <label class="control-label small">Provider Name</label>
        <div>
            <i class="data-label" ng-if="Provider.PersonalDetails.Salutation">{{Provider.PersonalDetails.Salutation}} </i><i class="data-label" ng-if="Provider.PersonalDetails.FirstName"> {{Provider.PersonalDetails.FirstName}} </i><i class="data-label" ng-if="Provider.PersonalDetails.MiddleName"> {{Provider.PersonalDetails.MiddleName}} </i><i class="data-label" ng-if="Provider.PersonalDetails.LastName"> {{Provider.PersonalDetails.LastName}} </i>
        </div>
    </div>
    <div class="col-lg-3 form-group">
        <label class="control-label small">Provider Type</label>
        <div>
            <div ng-if="Provider.PersonalDetails.ProviderTitles.length > 0">
                <span ng-repeat="pt in Provider.PersonalDetails.ProviderTitles | filter:searchTitleViewModel track by $index">
                    <span ng-if="$index > 1">&nbsp;&nbsp;</span><span class="label label-default">{{pt.ProviderType.Title}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Provider Level</label>
        <div>
            <i class="data-label">{{Provider.PersonalDetails.ProviderLevel.Name}}</i>
        </div>
    </div>
    <div class="col-lg-4 form-group">
        <label class="control-label small">Specialty</label>
        <div>
            <i class="data-label">Internal Medicine, Family Medicine, Neurologist</i>
        </div>
    </div>
</div>
<div class="col-lg-12 zero-padding-left-right-div">
    <div class="col-lg-3 form-group">
        <label class="control-label small">Contact</label>
        <div>
            <i class="data-label">+1-(334)-(336)1232</i>
        </div>
    </div>
    <div class="col-lg-3 form-group">
        <label class="control-label small">LOB</label>
        <div>
            <i class="data-label">HMO, FFS</i>
        </div>
    </div>
    <div class="col-lg-2 form-group">
        <label class="control-label small">Board Certified</label>
        <div>
            <i class="data-label">Yes</i>
        </div>
    </div>
    <div class="col-lg-4 form-group">
        <label class="control-label small">Board Name</label>
        <div>
            <i class="data-label">America school of Medical Science</i>
        </div>
    </div>
</div>