.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 0 !important;
}

#searchActionItems {
    margin-top: 19px !important;
   
}
.select2-container--default .select2-selection--multiple {
   
    border-radius: 0px !important;
}