.sm-mbrid {
  
    width: 7%;
}
.sm-plan
{
  
    width: 8%;
}
.sm-group {
  
    width: 8%;
}
.sm-lastname {
  
    width: 9.5%;
}

.sm-firstname {
  
    width: 9.5%;
}
/*.popover-content {
padding-left:0px;
}*/
#resultTableHeader label {
    margin-top: -3px;
}
.popover-content {
      text-transform: uppercase !important;
  padding: 0px  !important;
  padding-right:10px !important; 
 
}
.popover
{
  width:auto;
}
.sm-rel {
  
    width: 5%;
}
.sm-spec
{
     
    width: 12%;
}

.sm-dob {
  
    width: 7%;
}

.sm-gender {
  
    width: 5%;
}

.sm-pcp {
  
    width: 9%;
}

.sm-pcpphone {
  
    width: 9.5%;
}

.sm-effdate {
  
    width: 8%;
}
.sm-network{
  
    width: 18%;
}

.sm-address {
  
    width: 11%;
}

.sm-city {
  
    width: 8%;
}

.sm-state {
  
    width: 5.5%;
}

.sm-zip {
  
    width: 6.5%;
}

#tableWrapper td, #tableWrapper th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tableWrapper td {
    font-weight: bold;
}

#tableBodyWrapper {
    overflow-y: scroll;
    height: 200px;
}

#resultTableHeader {
    width: 99.4%;
}

.fa-sort, .fa-sort-desc, .fa-sort-asc, #searchResultGrid tr {
    cursor: pointer;
}


#exportOptionsForAdvanceUMSearch {
    position: absolute;
    right: 10px;
    top: -6px;
}

.td-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* POPOVER */
/*.popover-content {
    text-transform: uppercase;
}*/

.popover {
    z-index: 500;
}


