.CodingListContainter {
}

.CodingTabContainer .list-item:hover {
    font-weight: bold;
    background: #e0ebff;
    color: #0096da;
}

.CodingTabContainer ul {
    display: inline-flex !important;
    margin-top: 12px !important;
    padding-left: 12px !important;
}

    .CodingTabContainer ul li {
        padding: 0px 4px 0px 0px !important;
    }

.CodingTabContainer .list-item:hover:before, .list-item:hover:after {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.CodingTabContainer .list-item:before, .list-item:after {
    content: '';
    position: absolute;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    width: 0.5em;
}

.CodingTabContainer .list-item:after {
    background: #e4e4e4;
    bottom: -46px;
    left: 37px;
    -webkit-transform: rotate(90deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0deg, 0deg);
}

.CodingTabContainer .list-item:before {
    background: #e4e4e4;
    top: 0.25em;
    left: -.5em;
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.CodingTabContainer .current > a.list-item {
    background: linear-gradient(#4b6cb7, #182848);
    background-color: #4A5899 !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #525247;
}

.CodingTabContainer .list-item {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    padding: 0px 12px;
    text-transform: capitalize;
    text-align: center;
    height: auto;
    vertical-align: middle;
    line-height: 2.8em;
    border-bottom: none;
    position: relative;
    display: block;
    -webkit-transition: all .25s linear;
    cursor: pointer;
    font-weight: bold;
    color: #30487D !important;
    border: 1px solid #bdbdb6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(13, 95, 219, 0.08) !Important;
}


    .CodingTabContainer .list-item:hover {
        font-weight: bold;
        background: #e0ebff;
        color: #0096da;
    }

        .CodingTabContainer .list-item:hover:before, .list-item:hover:after {
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
        }

    .CodingTabContainer .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: 0.5em;
    }

    .CodingTabContainer .list-item:after {
        background: #e4e4e4;
        bottom: -46px;
        left: 37px;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
        transform: rotate(90deg) skew(0deg, 0deg);
    }

    .CodingTabContainer .list-item:before {
        background: #e4e4e4;
        top: 0.25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
    }

.CodingTabContainer .current > a.list-item {
    background: #6e93cf;
    background-color: #6e93cf !important;
    color: white !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgba(51, 16, 16, 0.31);
}

.padding_left_right_12px {
    padding-left: 12px;
    padding-right: 12px;
}


label.title_text {
    font-weight: 900;
    font-size: 15px;
    background: #5b83d5;
    color: #ffffff;
    padding: 1px 9px;
    position: relative;
    margin-left: -25px;
}

    label.title_text:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0px 10px 8px 0;
        border-color: transparent #3d5fa4 transparent transparent;
        left: 0px;
        bottom: -8px;
    }

.border_on_panel {
     box-shadow: 0 1px 2px rgba(0,0,0,.05); 
     border: 1px solid #ddd; 
     border-radius: 1px; 
}

.Opentab-badge-color {
    background-color: #0288d1;
}

.Drafttab-badge-color {
    background-color: #66b553;
}

.OnHoldtab-badge-color {
    background-color: #ff6000;
}

.ReadytoAudittab-badge-color {
    background-color: rgba(116,198,220,1);
}

.Rejectedtab-badge-color{
    background-color:#e74c3c;
}

.Inactivetab-badge-color{
    background-color:#ed3237;
}


.ICDCodesTable{
    width: 99%;
    margin-left: 6px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.modal-width-66
{
    width:66%;
}

.Deactivatereason
{
    height:100px !important;
}

.modalHeader-fontsize{
    font-size:16px;
}