.padding-zero-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fa-2x {
    font-size: 1.4em !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3 !important;
    color: white;
}

.File_uploadStyle {
    padding: 3px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    color: black;
}

#noResultFound {
    text-align: center;
}

#resultCount {
    font-weight: bold;
    /*color: green;*/
}

#resultCountSection {
    font-size: 16px;
    position: relative;
    top: -3px;
    left: 5px;
}

#exportOptionsForAdvanceUMSearch {
    position: absolute;
    right: 10px;
    top: -14px !important;
}

.SubTabHeader > .headerText {
    width: 100%;
    /*height: 28px;*/
    border-bottom: 1px solid #8b8b8b;
    text-align: center;
}

.x_content > .summaryTab {
    color: #141415 !important;
}

.btn-breadcrumb > .btn-default#activeBreadcrumb {
    color: white !important;
}

/*.btn:hover, .btn:focus, .btn.focus {
    color: #000000;
}*/
#DisclousureQuestionContent {
    font-size: 13px;
}

.SubTabHeader > .headerText > .headerTextCSS {
    font-size: 26px;
    background-color: #ffffff;
    padding: 0 10px;
}
/*.nav_menu .fa {
    color: #2b2a2a !important;
}*/

.headerData {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

    .headerData > span {
        background: #fff;
        padding: 0 10px;
    }

.memberTabsPadding {
    padding-top: 0px;
}

.textCSS {
    font-size: 1.2em;
    color: #2e2a2a;
}

.boxstyle .vlaueStyling .form-control.input-xs {
    font-weight: normal;
}
.boxstyle .form-control.input-xs {
    font-weight: normal;
}
label.theme_label {
    font-weight: 400 !important;
    text-transform:uppercase;
}

.padding_top_down_5px {
    padding-top: 5px;
    /*padding-bottom:5px;*/
}



.vlaueStyling {
    padding-bottom: 10px;
    line-height: .4;
    font-weight: 700;
    text-transform: uppercase;
}

.radioValueStyling {
    padding-bottom: 10px;
    /*line-height: .4;*/
    font-weight: 500;
    text-transform: uppercase;
}

/*.labelstyle {
    color: #212121;
    color:#205493;
}*/
.serachmarginleft {
    margin-left: -17px;
}

.margin_top_10_px {
    margin-top: 20px;
}



.Divspace {
    margin-top: 10px;
}

.labelinputspace {
    margin-top: -4px;
}

.labelselectspace {
    margin-bottom: 0px;
}




.theme_label_data1 {
    padding-bottom: 10px;
    line-height: .4;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

legend {
    margin-bottom: 0px !important;
}

    /*.theme_thead {
    background: #4469a6 !important;
    color: white;
}*/
    legend.legendStyle {
        border-bottom: none;
        font-size: 12px;
    }




    fieldset.fsStyle.remove_shadow {
        /*background-color: #f3f3f3 !important;*/
        /*background-color: #fbfbfb !important;*/
        box-shadow: none !important;
    }

.viewMoreStyle {
    float: right;
    margin-top: -20px;
    padding-top: 3px;
    cursor: pointer;
}

.providerheader > .headings {
    text-transform: uppercase;
}

/*------------History Table--------------*/
.credAxisList_table {
    margin-top: 2px;
}

    .credAxisList_table .withfilter i {
        position: relative;
        top: -7px;
    }

    /*.credAxisList_table th label {
        color: #205493 !important;
    }*/
    .theme_thead {
    background-color:#203764;
}

/*.closeBtnCSS:hover, .closeBtnCSS:focus {
    color: white;
    background: #f13333;
}*/

.closeBtnCSS {
    margin-bottom: 0px !important;
    margin-right: 9px !important;
    line-height: 1.3;
}
.btn-xs.btn-danger.closeBtnCSS {
    padding-left:5px;
    padding-right:5px;
}
.historyBtnCSS:hover, .historyBtnCSS:focus {
    color: white;
    background: #f1a53b;
}

.helpBtnCSS {
    color: #203764;
    background: #CADCFC;
}

    .helpBtnCSS:hover, .helpBtnCSS:focus {
        color: white;
        background: #538bef;
    }


/*#ProviderProfileTabView .popover {
    width: 28%;
}

#ProviderProfileTabView .popover-content {
    white-space: normal !important;
    font-size: 11px;
}*/
/*------------History Table--------------*/

/*fieldset.fsStyle > legend {
    border: 1px solid #ffcc80 ;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: #ffcc80 ;
    border-radius: 2px;
}*/



.well {
    color: black;
    line-height: .4;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.modal-backdrop.fade.in {
    opacity: 0 !important;
    z-index: 9;
}
/*.btn-success {
    color:black !important;
    background-color: #9bdaf1 !important;
    border-color: #9bdaf1 !important;
}*/


.colorGreen {
    color: #2e8540;
}

.colorLightGreen {
    color: #4aa564;
}

.colorBlue {
    color: #205493;
}

.colorLightBlue {
    color: #4773aa;
}

.colorSpecialBlue {
    color: #3e94cf;
}

.BackgroundPrimaryBlue {
    color: #205493;
}

.BackgroundDarkBlue {
    color: #112e51;
}

.BaseColor {
    color: #212121;
}

.GrayDark {
    color: #323a45;
}

.GrayLight {
    color: #aeb0b5;
}

ol li {
    color: black !important;
}

.liItemFloatingRight {
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
}


/*floating menu*/
.float-nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

    .float-nav > a.menu-btn {
        text-decoration: none;
        display: block;
        background-color: #cc3333;
        color: white;
        padding: 17px 19px 12px 19px;
        text-align: center;
        box-shadow: 2px 2px 8px #777;
        border-radius: 300px;
    }

        .float-nav > a.menu-btn.active {
            transition: background-color 250ms linear;
            background-color: transparent;
            box-shadow: none;
        }

            .float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
                border-width: 2px;
                -moz-transform: rotate(45deg) translate(4px, 6px);
                -ms-transform: rotate(45deg) translate(4px, 6px);
                -webkit-transform: rotate(45deg) translate(4px, 6px);
                transform: rotate(45deg) translate(4px, 6px);
            }

            .float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
                visibility: hidden;
            }

            .float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
                border-width: 2px;
                -moz-transform: rotate(-45deg) translate(8px, -10px);
                -ms-transform: rotate(-45deg) translate(8px, -10px);
                -webkit-transform: rotate(-45deg) translate(8px, -10px);
                transform: rotate(-45deg) translate(8px, -10px);
            }

        .float-nav > a.menu-btn > ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .float-nav > a.menu-btn > ul > li.line {
                border: 1px solid white;
                width: 100%;
                margin-bottom: 7px;
                -moz-transition-duration: 0.1s;
                -o-transition-duration: 0.1s;
                -webkit-transition-duration: 0.1s;
                transition-duration: 0.1s;
            }

        .float-nav > a.menu-btn > .menu-txt {
            width: 100%;
            text-align: center;
            font-size: 12px;
            font-family: sans-serif;
        }

.main-nav {
    display: none;
    opacity: 0;
    font-family: sans-serif;
    position: relative;
    bottom: 20px;
    right: 20px;
    transition: opacity 250ms;
}

    .main-nav.active {
        display: block;
        opacity: 1;
        transition: opacity 250ms;
    }

    .main-nav > ul {
        width: 100%;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #cc3333;
        box-shadow: 2px 2px 8px #777;
        border-radius: 3px 3px 33.5px 3px;
    }

        .main-nav > ul > li > a {
            text-decoration: none;
            display: block;
            font-weight: 200;
            padding: 18px 80px 18px 18px;
            color: white;
        }

            .main-nav > ul > li > a:hover {
                font-weight: 400;
            }
/*--------------------Label CSS-----------------*/

/*fieldset.fsStyle div.boxstyle > label {
  font-weight: 800;
    color: black !important;
        text-transform: uppercase;
    letter-spacing: -0.05em;
}*/

/*--------------------End of Label CSS-----------------*/
.labelstyle {
    color: #205493;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.sectionTransform:hover {
    box-shadow: 2px 5px 5px #c5bfbf;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}

.headerAreaBorder {
    border: 1px solid;
}

.addBtnCSS {
    background-color: #43A047;
}

#RightNavigation > ul > li {
    width: 30px;
    text-align: center;
}

#RightNavigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

    /*#innerTabsArea {
    display: none;
}*/

    #RightNavigation > ul > li > i {
        padding-top: 2px;
        font-size: 1.3em;
    }

.dropdown-menu {
    border-top: 0px solid #999;
    box-shadow: 0 0 1px;
}

    .dropdown-menu > li > a {
        color: white;
    }

    .dropdown-menu > li:hover > a {
        color: white;
        font-size: 14px;
        background-color: #212121;
    }



.search {
    width: 100%;
    position: relative;
}

    .search:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 25px;
        line-height: 25px;
        background: #8FC357;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smooth: always;
    }



.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.NewMainBodyTabStyle {
    width: 86% !important;
}

.NewSideMenuTabStyle {
    width: 14% !important;
}

/*div.tabs {
    margin-top: 5px !important;
}*/

::-webkit-scrollbar {
    height: 2px !important;
}

::-webkit-scrollbar {
    height: 5px !important;
}

::-webkit-scrollbar-button {
    width: 3px !important;
    height: 2px !important;
}

::-webkit-scrollbar {
    width: 3px !important;
    height: 2px;
}

.floatingIcons {
    cursor: pointer;
}

#RightNavigation > ul > li {
    /*background-color: #80CBC4;*/
    /*margin-left: 2px;*/
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    color: #FFF !important;
}

#mainBody {
    top: 0px;
}

/*input field styles*/
/*select:required {
    /*border: 0px;*/
border-bottom: 1px red solid !important; border-radius: 0px;
}
*/
/*input:required {
    /*border: 0px;*/
border-bottom: 1px #4469a6 solid !important; border-radius: 0px;
}

*/
/*select:valid {
    border: 0px;
    border-bottom: 1px green solid !important;
    border-radius: 0px;
}*/
/*input:valid {
    border: 0px;
    border-bottom: 1px green solid !important;
    border-radius: 0px;
}

input:optional {
    border: 0px;
    border-bottom: 1px white solid !important;
    border-radius: 0px;
}*/
.input-group-addon:first-child {
    border: 0 !important;
    border-bottom: 1px solid red !important;
    border-radius: 1px !important;
}

/*input {
    font-weight: 400 !important;
}*/

/*.form-control {
    border: 0px !important;
    border-bottom: 1px solid black !important;
}*/

.badge {
    border-radius: 6px;
}

.margin-top-5px {
    margin-top: 5px;
}

.typeMutiple {
    border-radius: 0;
}

.secondtable {
    margin-top: -25px;
}
/***********Profile tabs Padding******************************/
@media screen and (min-width: 1821px) {
    .profile_tabscontent_Padding {
        padding-top: 4% !important;
    }
}

@media screen and (min-width: 1517px) and (max-width: 1820px) {
    .profile_tabscontent_Padding {
        padding-top: 7% !important;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1516px) {
    .profile_tabscontent_Padding {
        padding-top: 8% !important;
    }
}

/***************Color Codes***************/
.list-credaxis-legend-red {
    position: absolute;
    left: 100px;
    height: 15px;
    width: 15px;
    /*top: 81px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Danger.png);*/
    background: #d9534f;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-red1 {
    position: absolute;
    left: 95px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}


.list-credaxis-legend-white {
    position: absolute;
    left: -70px;
    height: 15px;
    width: 15px;
    /*top: 107px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Warning.png);*/
    background: #f0ad4e;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-white1 {
    position: absolute;
    left: -75px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}


.list-credaxis-legend-green {
    position: absolute;
    left: -240px;
    height: 15px;
    width: 15px;
    /*top: 29px;*/
    /*background: url(/Areas/UM/Resources/Images/Buttons/Success.png);*/
    background: #5cb85c;
    /*border-radius: 4px;*/
    background-position: -3px -3px;
}

.list-credaxis-legend-green1 {
    position: absolute;
    left: -245px;
    height: 15px;
    top: -4px;
    width: 15px;
    background: transparent;
}

.code-red, .code-white, .code-green {
    margin-left: 24px;
    min-width: 140px;
    margin-top: -4px;
}

.width-100{
    width:100%;
}

.font-bold{
    font-weight:bold !important;
    color:black !important;
}

.styleForViewEyeButton{
    background-color: transparent;
    border: 0px;
    color: #4469b1;
}
.input-group .form-control {
     z-index: 0 !important; 
}

/* for text capitalising save and cancel button*/
.yahanClickKar {
    text-transform:uppercase !important;
}
.boxstyle {
    margin-bottom: 5px !important;
}
.SubHeaderSpacing1 {
margin-top:5px !important;
margin-bottom:5px !important;
}
.SubHeaderSpacing2 {
margin-bottom:5px !important;
}

.print_button_for_stateLicense,.print_button_for_FederalDEA,.print_button_for_Medicare,.print_button_for_MedicaidInfo,.print_button_for_OtherIden{
    cursor:pointer;
}

.scheduleData{
    margin-left: -25px;
}
.margin-left-minus-6{
    margin-left:-6% !important;
}
.margin-left-minus-4{
    margin-left:-4% !important;
}
.margin-left-minus-3{
    margin-left:-4% !important;
}

.margin-left-minus-2{
    margin-left:-2% !important;
}

.PSVListHeader{
    margin-left: 3%;
    font-size: 110%;
    font-weight: bold !important;
}