.tracker {
    display: block;
    padding-top: 2px;
    padding-right: 4%;
}

    .tracker .track {
        height: 40px;
        width: 100px;
        display: inline-block;
        margin-right: -13px;
        padding-left: 2px;
        text-align: center;
    }

    .pre-scrollable {
    max-height:600px !important;
    padding-bottom:150px !important;
}
    .tracker .track-title {
        color: white;
        font-weight: bold;
        line-height: 35px;
        text-align: -webkit-center;
        margin-top: 2px;
        margin-left: 11px;
    }

.track-title-second {
    font-weight: bold;
    position: absolute;
    bottom: -16px;
    color: black;
    left: 13px;
}

.track-done {
    color: white;
    background: url("../Resources/Queues/Done.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.track-current {
    color: white;
    background: url("../Resources/Queues/Current.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.track-pending {
    color: black;
    background: url("../Resources/Queues/Pending.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.track-total {
    color: black;
    background: url("../Resources/Queues/Total.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.white-text {
    color: white !important;
}

.FooterTotalCount {
    margin-top: -28px !Important;
    color: white;
}

.track.track-current:after {
    position: absolute;
    top: 41px;
    content: '';
    right: 45px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #c2c0d2;
}

.package {
    padding-bottom: 10px;
}

.fa.fa-close.close_x {
    position: absolute;
    right: 23px;
    cursor: pointer;
    font-size: medium;
    color: red;
}

.fa.fa-file {
    cursor: pointer;
    color: #337ab7;
}

.providersignfiles {
    position: absolute;
    top: -12px;
    right: 153px;
}

.fa_blue {
    color: #2196F3;
    cursor: pointer;
}
.modal-backdrop.fade.in {
    z-index: -9999 !important;
}

colon:before{
    content:":  "
}