<div class="col-lg-12">
    <div>
        <header>
            <div>
                <header>
                    <div>
                        <!-- .aui-page-header-image -->
                        <div>
                            <h3>{{temp.Type}}</h3>
                        </div>
                        <!-- .aui-page-header-main -->
                        <!-- .aui-page-header-actions -->
                    </div>
                    <!-- .aui-page-header-inner -->
                </header>
                <!-- .aui-page-header -->
            </div>
        </header>
    </div>
    <div>
        <div class="form-style">
            <fieldset>
                <legend>
                    Provider Details
                </legend>
                <div class="col-lg-10">
                    <div>
                        <label class="control-label small">NPI Number: </label> <i class="small">{{temp.NPI}}</i>
</div>
                    <div>
                        <label class="control-label small">Full Name: </label> <i class="small">{{temp.FullName}}</i>
                    </div>
                </div>
                <div class="col-lg-2">
                    <a href="/Profile/MasterProfile/Index" class="pull-right btn btn-primary btn-xs">View Profile</a>
                </div>
            </fieldset>

        </div>
        <div class="form-style">
            <fieldset>
                <legend>
                    {{temp.Type}} Details
                </legend>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Section</label>
                    <div>
                        <i class="small">{{temp.Section}}</i>
                    </div>
                </div>
                <div class="col-lg-6 form-group">
                    <label class="control-label small">Sub-Section</label>
                    <div>
                        <i class="small">{{temp.SubSection}}</i>
                    </div>
                </div>
                <div class="col-lg-12 form-group">
                    <label class="control-label small">{{temp.Type}} Item</label>
                    <div>
                        <i class="small">{{temp.FieldName}} {{temp.For}}</i>
                    </div>
                </div>
                <div class="col-lg-12 form-group">
                    <label class="control-label small">Old Data</label>
                    <div>
                        <i class="small">{{temp.OldData}}</i>
                    </div>
                </div>
                <div class="col-lg-12 form-group">
                    <label class="control-label small">New Data:</label>
                    <div>
                        <i class="small">{{temp.NewData}}</i>
                    </div>
                </div>                
            </fieldset>
        </div>
        <div class="form-style">
            <fieldset>
                <legend>
                    Action
                </legend>
               
                <div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="alert alert-success alert-dismissible" id="updateSuccess" role="alert" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        The Submission is Successful and Email is Sent !!!!
                    </div>
                </div>
                <div id="updateFail" style="display:none;">
                    <div class="clearfix"></div>
                    <br />
                    <label class="control-label small">Reason to send back</label>
                    <textarea class="form-control col-lg-8"></textarea>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <button class="pull-left btn btn-danger btn-xs" onclick="closedivUpdate();">Cancel</button>
                    <button class="pull-right btn btn-success btn-xs" onclick="UpdateSuccess();">Send</button>
                </div>

                <div>
                    <div class="clearfix"></div>
                    <br />
                     <button class="pull-right btn btn-success" onclick="UpdateSuccess();">Accept</button>
                    <button class="pull-left btn btn-danger" onclick="UpdateFail();">Reject</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script>
    var UpdateFail = function () {
        $("#updateSuccess").hide();
        $("#updateFail").show();
    };
    var UpdateSuccess = function () {
        $("#updateSuccess").show();
        $("#updateFail").hide();

    };
    var closedivUpdate = function () {
        $("#updateFail").hide();

    };

</script>