@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Lib/Angular/angular.min.js"></script>
<script src="~/Scripts/Lib/Jquery/jquery-1.11.0.js"></script>

<script src="~/Scripts/Lib/Angular/ng-table.js"></script>

<style>
    .vertical-align {
        align-items: center;
    }

    .selectedProvider {
        background-color: rgb(150, 162, 225);
    }

    .imageStyle {
        padding: 0px;
        margin-bottom: 0px;
    }

    .alignTableStyle > thead > tr > th,
    .alignTableStyle > tbody > tr > th,
    .alignTableStyle > tfoot > tr > th,
    .alignTableStyle > thead > tr > td,
    .alignTableStyle > tbody > tr > td,
    .alignTableStyle > tfoot > tr > td {
        vertical-align: middle;
        text-align: center;
    }

    .marginTop {
        margin-top: 22px;
    }

    .marginBottom {
        margin-bottom: 22px;
    }

    .select2-container {
        display: block;
    }
</style>


<div id="page-wrapper" ng-app="InitCredApp" ng-controller="listController" ng-cloak>
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="/Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-list-ol"></i> Profile Updates
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div role="tabpanel">
            @*<div>
                     Nav tabs
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab"> A Provider</a></li>
                        <li role="presentation" ><a href="#bulk" aria-controls="bulk" role="tab" data-toggle="tab">Multiple Providers</a></li>
                    </ul>
                </div>*@
            
            <div ng-class="{'false':'col-lg-12','true':'col-lg-7'}[temp.length!=0]" class=" zero-padding-left-right-div">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="provider">
                        <!---Provider partial starts here-->
                        <table class="table table-bordered table-hover table-condensed alignTableStyle">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>NPI Number</th>
                                    <th>Full Name</th>
                                    <th>Section</th>
                                    <th>Sub Section</th>
                                    <th>Last Modified Date</th>
                                </tr>
                                <tr>
                                    <td><input type="text" placeholder="Filter Type" class="form-control input-sm" ng-model="search.Type" /></td>
                                    <td><input type="text" placeholder="Filter NPI" class="form-control input-sm" ng-model="search.NPI" /></td>
                                    <td><input type="text" placeholder="Filter Full Name" class="form-control input-sm" ng-model="search.FullName" /></td>
                                    <td><input type="text" placeholder="Filter Section" class="form-control input-sm" ng-model="search.Section" /></td>
                                    <td><input type="text" placeholder="Filter Sub Section" class="form-control input-sm" ng-model="search.SubSection" /></td>
                                    <td><input type="text" placeholder="Filter Date" class="form-control input-sm" ng-model="search.Date" /></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in allProviders | filter:{NPI:search.NPI,FullName:search.FullName,Section:search.Section,SubSection: search.SubSection,FieldName:search.FieldName,For:search.For,OldData:search.OldData,Date:search.Date}" ng-click="pushdata(p);">
                                    <td>{{p.Type}}</td>
                                    <td>{{p.NPI}}</td>
                                    <td>{{p.FullName}}</td>
                                    <td>{{p.Section}}</td>
                                    <td>{{p.SubSection}}</td>
                                    <td>{{p.Date}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!---Provider partial ends here-->
                    </div>

                </div>
            </div>
            <div ng-show="temp.length!=0" class="col-lg-5" style="border-left:1px solid black;">
                @Html.Partial("~/Areas/CredentialingDelegation/Views/ProfileUpdates/_DetailOnUpdate.cshtml")
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
<script>
    var initCredApp = angular.module('InitCredApp', ['ngTable']);

    initCredApp.controller('listController', function ($scope, $http) {

        $scope.allProviders = [
            { "Type": "Update", "NPI": "1234567890", "FullName": "Dr. Pariksith Singh", "Section": "Demographics", "SubSection": "Personal Identification", "FieldName": "Driver's License", "For": "", "OldData": "123456", "NewData": "123459", "Date": "01-31-2015" },
            { "Type": "Renewal", "NPI": "4234232324", "FullName": "Dr. Maria Stone", "Section": " Identification & Licenses", "SubSection": "State License", "FieldName": "Issue Date & Expiry Date", "For": "License Number : ME98056", "OldData": "Issue Date: 11-15-2012, Expiry Date: 01-31-2015", "Date": "01-21-2015","NewData": "Issue Date: 01-31-2015, Expiry Date: 01-31-2018" },
            { "Type": "Update", "NPI": "3423423453", "FullName": "Dr. Gaurav Mathur", "Section": "Demographics", "SubSection": "Personal Identification", "FieldName": "Driver's License", "For": "", "OldData": "123456", "NewData": "123459", "Date": "01-03-2015" },
            { "Type": "Update", "NPI": "6344545433", "FullName": "Dr. Nitesh Suresh", "Section": "Demographics", "SubSection": "Medicare Information", "FieldName": "Issue Date", "For": "Medicare Number : DSADSADSA", "OldData": "Issue Date: 01-31-2015", "NewData": "Issue Date: 01-31-2016", "Date": "01-29-2015" },
        ];

        $scope.temp = '';

        $scope.pushdata = function (data) {
            $scope.temp = data;
        }

    });
</script>
