<connectionStrings>


  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDAuthenticationDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDLogDB1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ACDProvidersDB1.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <!--<add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.16;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDAuthDB1.23;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->
  <!--<add name="EFEntityContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=MigrationUATDB;Integrated Security=true" providerName="System.Data.SqlClient" />-->
  <!--<add name="EFEntityContext" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDProfileDB1.23;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=103.229.5.131;Initial Catalog=ACDLogDB1.23;User ID=ahc;Password=password@12345" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDAuthDBDevUATTest1;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDProfileDBUAT1;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDAuthDB1.19_MM;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />

  <add name="EFEntityContext" connectionString="Data Source=192.168.30.7;Initial Catalog=ACDProfileDB1.19_MM;User ID=sa;Password=password@123" providerName="System.Data.SqlClient" />-->

  <!--<add name="DefaultConnection" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDAuthDB1.25;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="EFEntityContext" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDProfileDB1.25;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />
  <add name="LogConnection" connectionString="Data Source=192.168.30.5;Initial Catalog=ACDLogDB1.25;User ID=ahc;Password=password@123" providerName="System.Data.SqlClient" />-->
</connectionStrings>
