<style>
    .col-lg-4.col-sm-4.col-md-4.col-xs-6 {
        margin-bottom: 10px !important;
    }
</style>
<fieldset class="fsStyle">
    <legend class="legendStyle">
        <span class="theme_depend text-uppercase">BASIC INFORMATION</span>
        <span class="text-uppercase pull-right">


        </span>
    </legend>
    <div class="x_content zero-padding-left">

        <div class="row col-lg-12 nopaddingDiv">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 nopaddingDiv">

                <div class="col-lg-4 nopaddingDiv">
                    <div class="form-group M_Req">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                NPI Number :
                            </label>
                        </div>

                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter NPI Number" name="Provider.NPI" required />
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 nopaddingDiv">
                    <div class="form-group">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                NPI User Name :
                            </label>
                        </div>

                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter NPI User Name" name="Provider.NPIUserName" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 nopaddingDiv ">
                    <div class="form-group">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                NPI Password :
                            </label>
                        </div>

                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter NPI Password" name="Provider.NPIPassword" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 nopaddingDiv">
                    <div class="form-group">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                CAQH Number :
                            </label>
                        </div>
                        
                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter CAQH Number" name="Provider.CAQH" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 nopaddingDiv">
                    <div class="form-group">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                CAQH User Name :
                            </label>
                        </div>
                        
                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter CAQH User Name" name="Provider.CAQHUserName" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 nopaddingDiv">
                    <div class="form-group">
                        <div class="col-lg-4 nopaddingDiv">
                            <label class="theme_label text-uppercase">
                                CAQH Password :
                            </label>
                        </div>
                        
                        <div class="col-lg-8 nopaddingDiv">
                            <input type="text" class="form-control input-xs" placeholder="Enter CAQH Password" name="Provider.CAQHPassword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<style>
    .nopaddingDiv {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
</style>