<p-link filepath="~/Areas/CredAxis/CSS/ProviderProfile/ProviderProfile.css"></p-link>
<p-link filepath="~/Areas/CredAxis/CSS/ProviderProfile/TableTemplate.css"></p-link>
<p-link filepath="~/Areas/CredAxis/CSS/CredAxisStyleSheet.css"></p-link>
<p-link filepath="~/Areas/CredAxis/CSS/Selectize/selectize.css"></p-link>
<p-script filepath="~/Areas/CredAxis/Scripts/ProviderProfile/AddProvider/AddProviderJS.js"></p-script>
<p-link filepath="~/Areas/CredAxis/CSS/Add%20Provider/AddProvider.css"></p-link>

<div class="quickAction">
    <i class="fa fa-list fa-2x" aria-hidden="true"></i>

</div>
<div class="Quickmenu" hidden>
    <div class="menu_item">
        <i class="fa fa-plus"></i>
        <span class="menu_text">Add <br /> Task</span>
    </div>
    <div class="menu_item">
        <i class="fa fa-envelope-o"></i>
        <span class="menu_text">Mail</span>
    </div>

    <div class="menu_item">
        <i class="fa fa-envelope-o"></i>
        <span class="menu_text">Mail</span>
    </div>
    <div class="menu_item">
        <i class="fa fa-files-o" aria-hidden="true"></i>
        <span class="menu_text">Documents</span>
    </div>

</div>


<div id="AddProvider">
    <div class="containerArea">
        <form class="form-horizontal">


            @*<div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4"></div>
                    <div class="headerText col-lg-4 col-sm-4 col-md-4 col-xs-4">
                        <div class="SubTabHeader">
                            <span class="headerTextCSS">
                                Add Provider
                            </span>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                        <div class="pull-right">
                            Import Provider From :<div class="btn"><a>LMS</a></div>
                        </div>

                    </div>
                </div>*@
            <div class="SubTabHeader">
                <div class="headerText">
                    <span class="headerTextCSS">
                        Add Provider
                    </span>

                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="fsStyle">
                        <legend class="legendStyle">
                            <span class="theme_depend text-uppercase">Basic Info</span>
                            <span class="text-uppercase pull-right">


                            </span>
                        </legend>
                        <div class="x_content zero-padding-left">

                            <div class="row col-lg-12 nopadding">
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group M_Req">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    NPI Number
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter NPI Number" name="Provider.NPI" required />
                                            </div>
                                            <span class="req">
                                                Required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    NPI User Name
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter NPI User Name" name="Provider.NPIUserName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    NPI Password
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter NPI Password" name="Provider.NPIPassword" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    CAQH Number
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter CAQH Number" name="Provider.CAQH" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    CAQH User Name
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter CAQH User Name" name="Provider.CAQHUserName" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                        <div class="form-group">
                                            <div class="col-lg-5">
                                                <label class="labelstyle">
                                                    CAQH Password
                                                </label>
                                            </div>
                                            <div class="col-lg-1">:</div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control input-xs" placeholder="Enter CAQH Password" name="Provider.CAQHPassword" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="fsStyle">
                        <legend class="legendStyle">
                            <span class="theme_depend text-uppercase">Personal & Contact Info</span>
                            <span class="text-uppercase pull-right">


                            </span>
                        </legend>
                        <div class="x_content zero-padding-left">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    <div id="select-name" class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">Salutation   </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <select class="form-control input-xs" name="Provider.Personal.Salutation" required>
                                                <option value="Mr">
                                                    Mr
                                                </option>
                                                <option value="Ms">
                                                    Ms
                                                </option>
                                                <option value="Mrs">
                                                    Mrs
                                                </option>
                                                <option value="Miss">
                                                    Miss
                                                </option>
                                                <option value="Madam">
                                                    Madam
                                                </option>
                                            </select>
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                First Name
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter First Name" name="Provider.Personal.FirstName" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Middle Name
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter First Name" name="Provider.Personal.MiddleName" />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Last Name
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter Last Name" name="Provider.Personal.LastName" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">Suffix </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter Sufix" name="Provider.Personal.Suffix" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle" for="PersonalDetail_GenderType">Gender </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input name="Provider.Personal.Gender" type="radio" value="1" autocomplete="off" required> Male
                                            <input name="Provider.Personal.Gender" type="radio" value="2" autocomplete="off" required> Female
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Level
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <select class="form-control input-xs" name="Provider.Personal.Level" required>
                                                <option value="Doctor">
                                                    Doctor
                                                </option>
                                                <option value="Mid-Level">
                                                    Mid-Level
                                                </option>
                                                <option value="Nurses">
                                                    Nurses
                                                </option>
                                                <option>
                                                    Others
                                                </option>
                                            </select>
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <label class="labelstyle M_Req">
                                                Street
                                            </label>
                                        </div>

                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter Street" name="Provider.Contact.Street" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Apartment No
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter Apartment No" name="Provider.Contact.Appartment" />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle ">
                                                City
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter City" name="Provider.Contact.City" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                State
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter State" name="Provider.Contact.State" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Zip Code
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter  Zip Code" name="Provider.Contact.ZipCode" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                County
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter County" name="Provider.Contact.County" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">

                                                Country
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control input-xs" placeholder="Enter Country" name="Provider.Contact.Country" required />
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Email  :
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <div class="input-group-addon input-xs">
                                                    <i class="fa  fa-envelope"></i>
                                                </div>
                                                <input type="text" class="form-control input-xs" placeholder="Enter Email" name="Provider.Contact.Email" required>
                                            </div>
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    <div class="form-group M_Req">
                                        <div class="col-lg-5">
                                            <label class="labelstyle">
                                                Phone
                                            </label>
                                        </div>
                                        <div class="col-lg-1">:</div>
                                        <div class="col-lg-6">
                                            <div class="input-group">
                                                <div class="input-group-addon input-xs">
                                                    <i class="fa fa-phone "></i>
                                                </div>
                                                <input type="text" class="form-control input-xs" name="provider.contact.phone" placeholder="Enter Phone" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" required>
                                            </div>
                                        </div>
                                        <span class="req">
                                            Required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div>


                        <fieldset class="fsStyle">
                            <legend class="legendStyle">
                                <span class="theme_depend text-uppercase">Payers List</span>
                                <span class="text-uppercase pull-right">

                                </span>
                            </legend>
                            <div class="x_content zero-padding-left">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="labelstyle">Plan Name's </label>
                                        <select class="input-tags3 input-xs" multiple name="Provider.Payers.Plan">
                                            <option value="Ultimate Health">Ultimate Health</option>
                                            <option value="FL MEDICARE">FL MEDICARE</option>
                                            <option value="OPTUM (UNITED BEHAVIORAL HEALTH)">
                                                OPTUM (UNITED BEHAVIORAL HEALTH)
                                            </option>
                                            <option value="AETNA">AETNA</option>
                                            <option value="AVMED">AVMED</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div>
                        <div>
                            <fieldset class="fsStyle">
                                <legend class="legendStyle">
                                    <span class="theme_depend text-uppercase">Privilege List</span>
                                    <span class="text-uppercase pull-right">
                                    </span>
                                </legend>
                                <div class="x_content zero-padding-left">
                                    <div class="row">

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="labelstyle">Privilege Name's(Hospital,Labs..etc) </label>
                                            <select class="input-tags3 input-xs" multiple name="Providers.Privilege.Hospital">
                                                <option value="A.G. Holley State Hospital">A.G. Holley State Hospital</option>
                                                <option value="All Children's Hospital">All Children's Hospital</option>
                                                <option value="Arnold Palmer Hospital for Children">
                                                    Arnold Palmer Hospital for Children
                                                </option>
                                                <option value="Baptist Children's Hospital">Baptist Children's Hospital</option>
                                                <option value="Bay Medical Center">Bay Medical Center</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div>
                        @*<div class="row">
                                <div class="col-lg-3 nopadding">
                                    <span class="pull-left tableheader">Employment Information </span>&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>*@
                        @*<div class="panel-header"><h3>Employment Information</h3></div>*@

                        @*<fieldset class="fsStyle">
                                <legend class="legendStyle">
                                    <span class="theme_depend text-uppercase">Employment Information</span>
                                    <span class="text-uppercase pull-right">

                                    </span>
                                </legend>

                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                                    <div class="form-inline">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                                            Are you
                                           <input id="Employee" type="checkbox" name="Employee" class="normal-checkbox" value="Employee"><label for="Employee"><span></span>Employee</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                                              <input id="Affiliate" type="checkbox" name="Affiliate" class="normal-checkbox" value="Affiliate"><label for="Affiliate"><span></span>Affiliate</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 zero-padding-left-right">
                                            <input id="Relationship" type="checkbox" name="Relationship" class="normal-checkbox" value="Relationship"><label for="Relationship"><span></span>Others</label>
                                        </div>

                                    </div>
                                </div>

                                <div id="EmployeeDetails" hidden>

                                    <h5>Employment Details</h5>
                                    <div>
                                        <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                            <label class="labelstyle">Join Date</label>
                                            <input type="date" class="form-control input-xs" name="Provider.Employment.JoinDate" id="datepicker" />

                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                            <label class="labelstyle">CV Document</label>
                                            <input type="file" class="file form-control input-xs" name="Provider.Employment.CV" />

                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                            <label class="labelstyle">Individual TAX Id</label>
                                            <input type="text" class="form-control input-xs" name="Provider.Employment.IndividualTaxId" />
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                            <label class="labelstyle">Contract Document</label>
                                            <input type="file" class="file form-control input-xs" name="Provider.Employment.Contract" />

                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="AffiliateDetails" hidden>

                                    <div class="col-lg-12">
                                        <h5 style="margin-left:5px">Affiliate Details</h5>
                                        <div>
                                            <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                                <label class="labelstyle">Join Date</label>
                                                <input type="date" class="datepicker form-control input-xs" name="Provider.Affiliate.JoinDate" />

                                            </div>
                                            <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                                <label class="labelstyle">CV Document</label>
                                                <input type="file" class="file form-control input-xs" name="Provider.Affiliate.CV" />

                                            </div>
                                            <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                                <label class="labelstyle">Individual TAX Id</label>
                                                <input type="text" class="form-control input-xs" name="Provider.Affiliate.IndividualTaxId" />
                                            </div>
                                            <div class="col-lg-3 col-sm-3 col-md-6 col-xs-6 form-group">
                                                <label class="labelstyle">Contract Document</label>
                                                <input type="file" class="file form-control input-xs" name="Provider.Affiliate.Contract" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>*@
                    </div>
                </div>
            </div>


            <div class="row col-lg-12">
                <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                    <div>

                        <fieldset class="fsStyle">
                            <legend class="legendStyle">
                                <span class="theme_depend text-uppercase">IPA/Group Information</span>

                            </legend>
                            <div>
                                <div class="row">

                                    <div class="col-lg-6 col-sm-6 col-md-4 col-xs-4">
                                        <div class="col-lg-4">
                                            <label class="labelstyle form-group">Are You Part of </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="funkyradio">
                                                <div class="funkyradio-warning">
                                                    <input type="checkbox" id="IPA" value="w9check" class="IPA">
                                                    <label for="IPA">
                                                        &nbsp;IPA
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="funkyradio">
                                                <div class="funkyradio-warning">
                                                    <input type="checkbox" id="Group" value="w9check" class="Group">
                                                    <label for="Group">
                                                        &nbsp;Group
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" id="IPADetails" hidden>
                                    <div class="form-group">
                                        <label class="labelstyle">IPA</label>
                                        <select class="input-xs" id="ipaInputs" multiple name="Provider.IPAName">
                                            <option value="FIVE POINTS MEDICAL CENTER INC">FIVE POINTS MEDICAL CENTER INC</option>
                                            <option value="PrimeCare">PrimeCare</option>
                                            <option value="CHAMPION STATE OF MIND">CHAMPION STATE OF MIND</option>
                                            <option value="BARTLINSKI CHIROPRACTIC & WELLNESS PA">BARTLINSKI CHIROPRACTIC & WELLNESS PA</option>
                                            <option value="Access HealthCare LLC">Access HealthCare LLC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" id="GroupDetails" hidden>
                                    <div class="form-group">
                                        <label class="labelstyle">Groups</label>
                                        <select id="groupInputs" class="input-xs" multiple name="Provider.GroupName">
                                            <option value="ACCESS 2 HEALTHCARE">ACCESS 2 HEALTHCARE</option>
                                            <option value="PRIMECARE DOCTORS LLC">PRIMECARE DOCTORS LLC</option>
                                            <option value="New Horizons Mental Health LLC">New Horizons Mental Health LLCD</option>
                                            <option value="SLEEP MEDICINE & WELLNESS CENTER">SLEEP MEDICINE & WELLNESS CENTER</option>

                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" id="IPAFullDetails" hidden>
                                    <table class="table table-condensed table-striped">
                                        <thead class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin">
                                            <tr>
                                                <th>IPA</th>
                                                <th>Relationship</th>
                                                <th>JoinDate</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ipaRealtionship"></tbody>
                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" id="GroupFullDetails" hidden>
                                    <table class="table table-striped credAxisList_table custom-thead-back custom-thead-font custom-tbody custom-table-striped custom_margin">
                                        <thead class="theme_thead">
                                            <tr>
                                                <th>Group</th>
                                                <th>Relationship</th>
                                                <th>JoinDate</th>
                                            </tr>
                                        </thead>
                                        <tbody id="groupRealtionship"></tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="padding:10px">
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 pull-left">
                        <input id="previewCancel" type="reset" class="btn btn-danger" value="cancel" />
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 pull-right">
                        <input type="button" id="preview" class="btn btn-success" value="preview" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="M_overlay"></div>
<div class="M_notification panel panel-info">
    <h3 class="header">
        Provider Added Successfully..!!<br />

        <img src="~/Areas/CredAxis/Content/Images/success.png" width="40%" />
    </h3>
</div>
<div class="M_overlayFloatRight">
    <div>
        <div class="right-header">  Tasks</div>
        <ul class="list-group">
            <li class="list-group-item" style="cursor:pointer"><a>Complete Profile<i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>Missing Item Followup's <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>Contracting Info Follow-up <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>Hospital Privilege Follow-up <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>CAQH Update <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>NPI Registry update <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i><i class="fa fa-times red-color" aria-hidden="true"></i></a></li>
            <li class="list-group-item" style="cursor:pointer"><a>Assgin to Other CCO <i class="btn btn-xs fa fa-check green-color" aria-hidden="true"></i> <i class="fa fa-times red-color" aria-hidden="true"></i></a></li>

        </ul>
    </div>
</div>


<div class="modal fade previewForm11" tabindex="-1" role="dialog" id="authPreviewModal" style="overflow: auto; top: 8%;">
    <div class="modal-dialog modal-lg ">
        <form class="modal-content">
            <div class="modal-header zero_padding_bottom">
                <div class="row">
                    <div class="col-md-3">
                        <img src="/Resources/Images/Common/ahc_logo.png" class="width_55">
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-offset-1 col-md-5">
                            <div class="SubTabHeader">
                                <div class="headerText" style="border:0px">
                                    <span class="headerTextCSS">
                                        Add Provider
                                    </span>

                                </div>
                            </div>

                        </div>
                        <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    </div>

                </div>
            </div>

            <div class="modal-body modalbodyheight previewModalStyle zeroZIndex">
                <div id="PreViewProvider">
                    <div class="row col-lg-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="fsStyle">
                                <legend class="legendStyle">
                                    <span class="theme_depend text-uppercase">Basic Info</span>
                                    <span class="text-uppercase pull-right">


                                    </span>
                                </legend>
                                <div class="x_content zero-padding-left">

                                    <div class="row col-lg-12 nopadding">
                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group M_Req">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            NPI Number
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">12345678</div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            NPI User Name
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">EdwardSmith</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            NPI Password
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">EdwardSmith12</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            CAQH Number
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">148627496</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            CAQH User Name
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">EDWARDS15</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6">
                                                <div class="form-group">
                                                    <div class="col-lg-6">
                                                        <label class="labelstyle">
                                                            CAQH Password
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="vlaueStyling">EDWARDSMITH185</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <span class="row col-lg-12">
                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <fieldset class="fsStyle">
                                <legend class="legendStyle">
                                    <span class="theme_depend text-uppercase">Personal & Contact Info</span>
                                    <span class="text-uppercase pull-right">


                                    </span>
                                </legend>
                                <span class="x_content zero-padding-left">
                                    <span class="row">
                                        <span class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                            <span id="select-name" class="form-group M_Req">
                                                <label class="labelstyle">Salutation  : </label>

                                                <span class="vlaueStyling">MR</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                            <span class="form-group M_Req">
                                                <label class="labelstyle">
                                                    First Name :
                                                </label>
                                                <span class="vlaueStyling">EDWARD</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                            <span class="form-group">
                                                <label class="labelstyle">
                                                    Middle Name :
                                                </label>

                                                <span class="vlaueStyling">S</span>

                                            </span>
                                        </span>

                                        <span class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                            <span class="form-group M_Req">
                                                <label class="labelstyle">
                                                    Last Name :
                                                </label>

                                                <span class="vlaueStyling">SMITH</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                            <span class="form-group">
                                                <label class="labelstyle">Suffix :</label>

                                                <span class="vlaueStyling">MD</span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="M_Req">
                                                <label class="labelstyle" for="PersonalDetail_GenderType">Gender :</label>

                                                <span class="vlaueStyling">MALE</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group M_Req">
                                                <label class="labelstyle">
                                                    Level :
                                                </label>

                                                <span class="vlaueStyling">DOCTOR</span>

                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group">
                                                <label class="labelstyle M_Req">
                                                    Street :
                                                </label>
                                                <span class="vlaueStyling">DWANT STREET</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group">
                                                <label class="labelstyle">
                                                    Apartment No :
                                                </label>
                                                <span class="vlaueStyling">17045</span>

                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group M_Req">
                                                <label class="labelstyle ">
                                                    City :
                                                </label>
                                                <span class="vlaueStyling">SPRING HILL</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                        </span>
                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group M_Req">
                                                <label class="labelstyle">
                                                    State :
                                                </label>
                                                <span class="vlaueStyling">FLORIDA</span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
                                            </span>
                                            <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                <span class="form-group M_Req">
                                                    <label class="labelstyle">
                                                        Zip Code :
                                                    </label>
                                                    <span class="vlaueStyling">170044</span>
                                                </span>
                                                <span class="req">
                                                    Required
                                                </span>
                                            </span>
            


                                        <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                            <span class="form-group">
                                                <label class="labelstyle">
                                                    County :
                                                </label>

                                                 
                                            </span>
                                        </span>
                                   
                                    <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <span class="form-group M_Req">
                                            <label class="labelstyle">

                                                Country :
                                            </label>
                                            <span class="vlaueStyling">UNTIED STATES</span>
                                            <span class="req">
                                                Required
                                            </span>
                                        </span>
                                    </span>
                                    <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <span class="form-group M_Req">
                                                <label class="labelstyle">
                                                    Email  :
                                                </label>
                                                <span>
                                                    <span class="vlaueStyling">SMITHED154@GMAIL.COM</span>
                                                </span>
                                           
                                            <span class="req">
                                                Required
                                            </span>
                                        </span>
                                    </span>
                                    <span class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                        <span class="form-group M_Req">
                                 
                                                <label class="labelstyle">
                                                    Phone :
                                                </label>
                                            
                                                <span>
                                                    <span class="vlaueStyling">999758744</span>
                                                </span>
                                          
                                            <span class="req">
                                                Required
                                            </span>
                                        </span>
                                    </span>
                                </span>
                        </span>
                        </fieldset>
                    </span>
                    </span>
                    <span class="row col-lg-12">
                        <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          


                                <fieldset class="fsStyle">
                                    <legend class="legendStyle">
                                        <span class="theme_depend text-uppercase">Payers List</span>
                                        <span class="text-uppercase pull-right">

                                        </span>
                                    </legend>
                                    <span class="x_content zero-padding-left">
                                        <span class="row">

                                            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <label class="labelstyle">Plan Name's : </label>
                                                <span class="vlaueStyling">Ultimate Health,FL MEDICARE,AETNA</span>

                                            </span>
                                           
                                        </span>

                                    </span>
                                </fieldset>
                          
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                            <fieldset class="fsStyle">
                                <legend class="legendStyle">
                                    <span class="theme_depend text-uppercase">Privilege List</span>
                                    <span class="text-uppercase pull-right">

                                    </span>
                                </legend>
                                <span class="x_content zero-padding-left">
                                    <span class="row">

                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="labelstyle">Privilege Name's(Hospital,Labs..etc) </label>
                                            <span class="vlaueStyling">A.G. Holley State Hospital</span>

                                        </span>

                                    </span>

                                </span>
                            </fieldset>

                        </span>

                             </span>

                    
                    <span class="row col-lg-12">
                        <span class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                            <span>

                                <fieldset class="fsStyle">
                                    <legend class="legendStyle">
                                        <span class="theme_depend text-uppercase">IPA/Group Information</span>

                                    </legend>
                                  
                                        <span class="row">

                                            <span class="col-lg-6 col-sm-6 col-md-4 col-xs-4">
                                                <span class="col-lg-4">
                                                    <label class="labelstyle form-group">Are You Part of  </label>
                                                    <span class="vlaueStyling">GROUP</span>

                                                </span>

                                            </span>
                                        </span>
                                  


                                  
                                      
                                        <span class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                            <table class="table table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Group</th>
                                                        <th>Relationship</th>
                                                        <th>JoinDate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            PRIMARY CARE LLC
                                                        </td>
                                                        <td>
                                                            EMPLOYEE
                                                        </td>
                                                        <td>
                                                            10/08/2016
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            GOOD CARE LL
                                                        </td>
                                                        <td>
                                                            AFFLIATE
                                                        </td>
                                                        <td>
                                                            18/08/2016
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </span>
                                   
                                </fieldset>
                            </span>
                        </span>
                    </span>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal" id="cancel">Cancel</button>
                @*<button class="btn btn-sm btn-success pull-right" data-dismiss="modal" onclick="$('.chrome-tab-current .chrome-tab-close').click(); $('#home-tab2').click();">Confirm</button> , $.trim($('li > a.user-profile').text())  *@
                <button class="btn btn-sm btn-success pull-right" data-dismiss="modal" id="Confirm">Confirm</button>
            </div>
        </form>
    </div>
</div>

