.tile_info a.sidebarColorPallet {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding-right: 7% !important;
    margin-left: 7%;
    border-radius: 32%;
    border: 3px solid rgba(21, 3, 3, 0);
}

.tile_info a.floatMemberColorPallet {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding-right: 7% !important;
    margin-left: 7%;
    border-radius: 32%;
    border: 3px solid rgba(21, 3, 3, 0);
}

.tile_info a.topNavBarColorPallet {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    padding-right: 7% !important;
    margin-left: 7%;
    border-radius: 32%;
    border: 3px solid rgba(21, 3, 3, 0);
}

body.nav-sm .nav.side-menu li.active-sm ul ul {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
}


.menu_section > ul {
    overflow-y: auto;
}

.img-circle.profile_img {
    margin-top: 46px;
    padding: 2px;
}

.img-circle {
    /* border-radius: 50%; */
    border-radius: 0 !important;
}

.profile_info {
    padding: 20px 0px 10px;
}

    .profile_info h2 {
        margin-bottom: 2px;
    }

#sidebar-menu span.fa {
    margin-top: 10px;
}

.nav_menu {
    /*background: #F4F6F9;
    border-bottom: 1px solid #E6E9ED;*/
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0px;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
}

body.nav-md .container.body .right_col {
    margin-top: 42px;
    /* padding: 0px 0px 0; */
    /* margin-left: 230px; */
}

body .container.body .right_col {
    background: none;
}

body.nav-md .container.body .right_col {
    margin-top: 42px;
    padding: 0;
    /* margin-left: 230px; */
}

body {
    font-family: "Roboto","Helvetica Neue", Arial, "Droid Sans", sans-serif;
    font-size: 11px;
}

.top_nav .navbar-right {
    width: 84%;
}

    .top_nav .navbar-right li {
        display: inline-block;
        float: right;
        border-left: 1px solid #efefef;
    }

.nav.side-menu > li {
    margin: 5px 5px;
    border-bottom: 1px dashed rgba(241, 241, 241, 0.47);
}

    .nav.side-menu > li > a:hover {
        color: #F2F5F7 !important;
    }

    .nav.side-menu > li > a:hover, .nav > li > a:focus {
        color: rgba(255,255,255,.96);
        text-decoration: underline;
        background: rgba(255, 255, 255, 0.21);
        border: 1px solid rgba(255,255,255,.26);
    }

.nav.child_menu li:hover,
.nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.06);
    font-weight: 500;
    border-radius: 0px;
    font-size: 13px;
    /* border: 1px solid rgba(255,255,255,.62); */
    line-height: 35px;
}

body.nav-md ul.nav.child_menu li:before {
    background: rgba(181, 181, 181, 0.75);
    bottom: auto;
    content: "";
    height: 8px;
    left: 15px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

body.nav-md ul.nav.child_menu li:after {
    border-left: none;
    bottom: 0;
    content: "";
    left: 18px;
    position: absolute;
    top: 0;
}

.sideBarExpand .nav.side-menu > li > a, .sideBarExpand .nav.child_menu > li > a {
    color: none;
    font-weight: 500;
    padding: 0px 4px 0px 6px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid transparent;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.sideBarExpand .nav.side-menu .memberinnermenu > li > a, .sideBarExpand .nav.child_menu .memberinnermenu > li > a {
    color: none;
    font-weight: 500;
    padding: 0px 4px 0px 6px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid transparent;
    line-height: 36px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sideBarCollapse .nav.side-menu > li > a, .sideBarCollapse.nav.child_menu > li > a {
    color: none;
    font-weight: 500;
    padding: 0px 14px 0px 10px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid transparent;
    line-height: 35px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -13px;
}


.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none;
}

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff;
}

.nav > li > a {
    padding: 5px 15px 0px;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: none;
    border: 1px solid #b3c4d6;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666666;
}

    .nav.side-menu > li.current-page, .nav.side-menu > li.active:before {
        content: "";
        width: 100%;
        height: 13px;
        top: 0px;
        display: block;
        position: absolute;
        left: -1px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 2px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }


li.current-page {
    text-decoration: underline;
}

.nav.side-menu > li.active > a {
    text-shadow: none;
    box-shadow: none;
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-size: 13px;
    /* border: 1px solid rgba(255,255,255,.62); */
    line-height: 35px;
    height: 36px;
    color: white;
    text-decoration: underline;
    background: rgba(255, 255, 255, 0.26);
}

li.current-page a {
    color: white !important;
}

.site_title {
    font-weight: normal;
    font-size: inherit;
    width: auto;
    color: none;
    margin-left: inherit;
    line-height: inherit;
    display: inherit;
    margin: inherit;
    padding-left: inherit;
    position: absolute;
    overflow: hidden;
    /* height: 61px; */
    left: 44px;
    padding-top: 2px;
    text-overflow: inherit;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    /* color: #5a5a5a !important; */
}

.toggle {
    padding-top: 15px;
}

    .toggle a {
        padding: 15px 15px 13px;
        border-right: 1px solid #f1f1f1;
        cursor: pointer;
    }

        .toggle a i {
            font-size: 14px;
        }

.nav.child_menu > li > a {
    color: none;
    font-size: 13px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer {
    margin: 0 0px;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px 0px;
    display: inline-block;
    background: #fff;
    border: none;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    margin-top: 4px;
}

.x_title {
    border-bottom: 0px solid #E6E9ED;
    color: white;
}

    .x_title h2 {
        color: #a3a4a5;
        font-weight: 700;
    }

ul.color_list li {
    background: #fff;
    padding: 5px;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important;
}

    ul.color_list li a {
        padding: 3px 5px !important;
    }

.dropdown-menu.color_list {
    width: 580px !important;
}

    .dropdown-menu.color_list span {
        white-space: normal;
    }

.top_nav .navbar-right .color_list li {
    display: inline-block;
    float: right;
    border-left: none !important;
}

.info-number .badge {
    top: 3px;
}

a.user-profile {
    color: #4c4c4c !important;
}

.user-profile img {
    width: 25px;
    height: 25px;
    border-radius: 10%;
}

#sidebar-menu .fa {
    font-size: 14px;
}

ul.bar_tabs {
    /* border: 1px solid #ff0000; */
    background: #ffffff;
    height: 50px;
    margin: -10px 0px 0px;
    padding-top: 24px;
}

    ul.bar_tabs > li.active {
        border-right: 6px solid #e8a100;
        border-top: 2px solid #e8a100;
    }

.divider-dashed {
    border-top: 1px dashed rgb(209, 209, 209);
    margin-top: 0;
}

ul.messages li .message_wrapper h4.heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/*New Custom ones*/


.site_title img {
    height: 40px;
}

div#menuBar {
    padding: 0px;
    margin-top: 0px;
}

div#mainBody {
    background: #ffffff;
    padding-top: 0px;
    z-index: 10;
}

/**/
textarea {
    resize: none;
    overflow: auto;
}

.paper-input__wrapper {
    position: relative;
    /* width: 65%; */
    margin-left: 5%;
    margin-bottom: 1rem;
    margin-top: 9px;
}

.paper-input {
    background: none;
    display: block;
    width: 95%;
    margin: 0;
    border: none;
    border-bottom: 1px solid #999eaa;
    font-size: 13px;
    padding: 0.5rem 0;
    /* color: #ffffff; */
}

    .paper-input:focus,
    .paper-input.has-focus {
        visibility: visible;
        width: 94%;
        left: 0;
        border-bottom: 2px solid #01c101;
        transition: all 500ms ease;
    }

    .paper-input ~ label {
        font-size: 13px;
        width: 100%;
        position: absolute;
        pointer-events: none;
        left: 0px;
        top: 3px;
        bottom: 0;
        color: rgba(255,255,255,.95);
    }

.paper-input--touched ~ label {
    visibility: hidden;
}

/*Floating*/
.paper-input--floating ~ label {
    transition: 0.2s ease all;
}

.paper-input--floating:focus ~ label,
.paper-input--floating.paper-input--touched ~ label {
    visibility: visible;
    top: -0.625rem;
    font-size: 10px;
    color: #ffffff;
}

.paper-input--floating.paper-input--dirty:invalid ~ label {
    top: -0.625rem;
    font-size: 0.75rem;
    color: #d34336;
}

.paper-input--dirty:invalid ~ label:after {
    background-color: #d34336;
}

.paper-input--dirty:invalid ~ .paper-input__error {
    visibility: visible;
}

.paper-input--dirty:invalid {
    box-shadow: none;
    border-color: #d34336;
}

.papersearch-input__wrapper {
    width: 44%;
}

    .papersearch-input__wrapper > .paper-input {
        width: 50%;
        padding-top: 10px;
        transition: all 500ms ease;
    }

        .papersearch-input__wrapper > .paper-input:focus {
            width: 100%;
            transition: all 500ms ease;
        }

    .papersearch-input__wrapper > .form-control-feedback.right {
        border: none;
        right: 2px;
    }

.nav.side-menu span.label.label-success {
    margin-left: 10px;
    padding: 3px;
}

li.sub_menu {
    border: none !important;
    background-color: rgba(240, 248, 255, 0) !important;
}

.nav_menu .nav > li > a:hover, .nav_menu .nav > li > a:focus {
    background-color: transparent;
    text-decoration: underline;
    color: #0070ff !important;
}

#menu-container {
    overflow-y: auto;
    overflow-x: hidden;
    width: 108%;
}

/**Semi collapsible sidebar with Icons**/
.sideBarCollapse {
    width: 5.2%;
    transition: width 0.5s;
}

.mainBodyExpand {
    width: 94.8%;
    transition: width 0.5s;
}

.sideBarExpand {
    width: 16.66%;
    transition: width 0.5s;
}

.mainBodyCollapse {
    width: 83.34%;
    transition: width 0.5s;
}

.menu_toggle {
    position: relative;
    color: white;
    top: 2px;
    cursor: pointer;
    right: 10px;
}

    .menu_toggle > .toggleBtn {
        font-size: 14px !important;
    }

.sideBarCollapse p.menu_toggle {
    left: 12%;
    top: 10px;
}

.sideBarCollapse .paper-input__wrapper {
    display: none;
}

.sideBarCollapse .customTab {
    display: none;
}

.sideBarCollapse .side-menu > li {
    cursor: pointer;
}

    .sideBarCollapse .side-menu > li a {
        width: 24%;
        left: 4.5%;
    }

.sideBarCollapse .memberinnermenu > li a {
    width: 75%;
    left: 15.5%;
}

.sideBarCollapse li a i {
    padding-left: 5%;
}

    .sideBarCollapse li a i.fa {
        padding-right: 27%;
        position: relative;
        top: 20%;
    }

.sideBarCollapse li a.active i.fa {
    padding-right: 27%;
    position: relative;
    top: -28%;
}

.label_on_collapsed {
    display: none;
}

.sideBarCollapse li a span.text_beside_icon {
    display: none;
}

.sideBarCollapse li .label_on_collapsed {
    display: block;
    text-align: center;
    width: 26%;
    font-weight: bold;
    position: relative;
    top: 0;
    font-size: 10px;
    color: white;
}

.sideBarCollapse li .floating_menu_label {
    display: inline;
}

.sideBarCollapse li ul.child_menu {
    z-index: 20;
    position: absolute;
    display: block;
    left: 29.7%;
    top: -1px;
    width: 235%;
    border: 1px solid rgb(179, 196, 214);
}

.sideBarCollapse .main_menu_side {
    padding: 0;
    position: relative;
}

.sideBarCollapse .nav.side-menu > li.active > a {
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 35px;
    height: 36px;
    color: white;
    text-decoration: underline;
    background: inherit;
}

.sideBarCollapse .nav.side-menu > li > a:hover {
    border: none !important;
    background: inherit;
}

/*.sideBarCollapse .nav.side-menu > li > a:active, li:active {
    border: 1px solid #b3c4d6;
    border-radius: 4px;
}*/


.sideBarExpand .addbtninmenu {
    position: absolute;
    right: -9px;
    z-index: 20;
    height: 20px;
    width: 20px;
    border-radius: 18px;
    background: #5fad5f;
    border: #5fad5f;
    text-align: left;
    padding: 3px 0px 0px 4px;
    color: #fff;
    top: 20%;
}

.sideBarCollapse .memberinnermenu .anchorselected .addbtninmenu {
    position: absolute;
    left: 69%;
    top: -7%;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 18px;
    background: #5fad5f;
    border: #5fad5f;
    text-align: left;
    padding: 3px 0px 0px 4px;
    color: #fff;
}

.sideBarCollapse .memberinnermenu .addbtninmenu {
    position: absolute;
    left: 69%;
    top: 20%;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 18px;
    background: #5fad5f;
    border: #5fad5f;
    text-align: left;
    padding: 3px 0px 0px 4px;
    color: #fff;
}

.memberinnermenu .text_beside_icon {
    position: relative;
    left: -6%;
}
/** /Semi collapsible sidebar with Icons**/

/**Custom Style for SideMenu Tab**/
.customTab {
    position: relative;
    left: 28%;
    margin-top: 2%;
}

.toggle-on.btn {
    background: transparent;
    color: white;
    font-weight: bold;
}

.toggle-off.btn {
    background: transparent;
    color: white;
    font-weight: bold;
}

.toggle-off {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    right: 10px;
    margin: 0;
    border: 1px solid white;
    border-radius: 0;
    font-size: 12px;
}

.toggle-on {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 50%;
    left: 10px;
    margin: 0;
    border: 1px solid white;
    border-radius: 0;
    font-size: 12px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0px 6px;
}

.sideBarCollapse a.inner_menu_item {
    left: 0 !important;
}
/** /Custom Style for SideMenu Tab**/

/**Tab switching App Menu and Work Menu**/
.member_menu {
    display: block !important;
}
/** /Tab switching App Menu and Work Menu**/

.img-circle {
    border-radius: 0px;
}

.work_menu {
    position: absolute;
    z-index: 3;
    top: 80px;
    right: 0px;
    background: rgba(137,173,230,1);
    background: -moz-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(137,173,230,1)), color-stop(32%, rgba(71,110,174,1)), color-stop(70%, rgba(62,97,152,1)), color-stop(100%, rgba(125,160,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    background: linear-gradient(135deg, rgba(137,173,230,1) 0%, rgba(71,110,174,1) 32%, rgba(62,97,152,1) 70%, rgba(125,160,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89ade6', endColorstr='#7da0d9', GradientType=1 );
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 500ms ease;
}

.input-xs {
    height: 22px;
    font-size: 10px;
    padding: 1px 6px;
    font-weight: bold;
}

.zero-padding-left-right {
    padding-left: 3px;
    padding-right: 3px;
}

.zero-padding-left {
    padding-left: 0px;
}

.zero-padding-right {
    padding-right: 0px;
}

.work_menu_overlay {
    position: fixed;
    bottom: 0px;
    height: 1064px;
    background: rgba(0, 0, 0, 0.78);
    width: 370px;
    transition: all 500ms linear;
    z-index: 2;
}


.color_row {
    margin: 10px;
    position: relative;
    margin-bottom: 25px;
}

.dash-divider-module {
    border-top: 2px dashed rgb(205, 205, 205);
    margin-top: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
    font-weight: bold;
}

.memberheader {
    color: white;
    /* background: white; */
}

.boldbody {
    font-family: bold;
    font-size: 11px;
    background: white;
}

    .boldbody td {
        font-family: "Roboto";
        font-weight: bold;
        color: #1f1f1f;
        border-top: none !important;
        border-left: 1px dotted #bfbfbf;
    }

    .boldbody img {
        width: 21px;
        height: 21px;
    }

.runningdata > .zero-padding-left-right {
    padding: 0px;
}

.runningbar {
    position: fixed;
    z-index: 4;
    padding: 0px;
    margin-left: -10px;
    /*border: 1px solid #4b72b1;*/
    border-left: 0px;
    border-right: 0px;
    transition: all 500ms ease;
}

    .runningbar::before {
        /*content: " ";*/
        position: absolute;
        background: #fff;
        width: 10px;
        height: 59px;
        top: 65px;
        /* border-right: 2px solid #023b98; */
        /* border-top: 2px solid #023b98; */
        z-index: 1;
    }

    .runningbar::after {
        /*content: " ";*/
        position: absolute;
        background: #fff;
        width: 10px;
        height: 58px;
        top: 65px;
        right: 0;
        /* border-left: 2px solid #023b98; */
        /* border-top: 2px solid #023b98; */
    }



.runningdata table {
    margin-bottom: 0px;
    /* border-bottom: 2px solid #023b98; */
}

.runningheadercontent {
    margin-top: 181px;
}

.runninginfotab {
    padding: 0px;
    padding-left: 0px !important;
}

ul.runninginfotab > li.active > a, ul.runninginfotab > li.active > a:hover, ul.runninginfotab > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
}

ul.runninginfotab > li {
    border: 0px;
    background: none;
}

    ul.runninginfotab > li > a {
        border: 0px;
        background: none;
        border-bottom: 1px solid grey;
    }

    ul.runninginfotab > li:focus, ul.runninginfotab > li:hover {
        border: 0px 0px 0px 0px;
        background: none;
        border-bottom: 1px solid orange;
    }

    ul.runninginfotab > li.active {
        border-right: 0px;
        border-top: 0px;
        border-bottom: 2px solid blue;
    }

.tabclosetag {
    position: absolute;
    color: red;
    right: 2px;
    padding: 0px 3px 1px 0px;
    margin-left: 9px;
    padding-right: 0px;
}

    .tabclosetag:hover {
        background: #dedede;
        border-radius: 3px;
        cursor: pointer;
    }

.memberinnermenu {
}

.sideBarCollapse .memberinnermenu {
    text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    /*background: #ab47bc;
    border: 6px none #0383ff;*/
    background: #ccc;
    border: 6px none #b3b2b2;
    border-radius: 50px;
}

    ::-webkit-scrollbar-thumb:hover {
        /*background: #0383ff;*/
        background:#b3b2b2;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

.mandatory_field_halo, .mandatory_field_halo:focus, .mandatory_field_halo:active {
    border: 1px solid rgba(232, 46, 0, 0.72);
    box-shadow: 0 0 2px rgba(232, 46, 0, 0.72);
}

.non_mandatory_field_halo, .non_mandatory_field_halo:focus, .non_mandatory_field_halo:active {
    box-shadow: 0 0 2px rgba(49, 161, 208, 0.70);
    border: 1px solid rgba(49, 161, 208, 0.70);
}

.req {
    color: red;
}

.options_fieldset {
    position: absolute;
    top: -2px;
    right: 5px;
}

.options_label {
    position: absolute;
    cursor: pointer;
    display: block;
    padding: 0.1em 3px;
    background-color: rgba(202, 195, 195, 0.32);
    border-style: solid;
    border-width: 1px;
    border-color: #c7b9b9;
    box-shadow: 1px 1px 1px rgba(255,255,255,.2) inset, -1px -1px 1px rgba(0,0,0,.2) inset;
    color: rgba(0, 0, 0, 0.46);
    right: 5px;
    top: -2px;
}

    .options_label:first-child {
        border-left-width: 1px;
        border-top-left-radius: .2em;
        border-bottom-left-radius: .2em;
    }

    .options_label:last-child {
        border-top-right-radius: .2em;
        border-bottom-right-radius: .2em;
    }

    .options_label.selected {
        background-color: rgb(26, 187, 156);
        color: white;
        border-color: #07d0ce;
        /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.57) inset;*/
    }

}

.options_label.pcp.selected {
    background-color: #33e612;
    border-color: #c7b9b9;
}

.options_label.mbr {
    right: 35px !important;
}


input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.bg-lightcyan {
}

.in_out_label {
    position: relative;
    top: -18px;
    right: 5px;
}

.req {
    color: red;
}

div#alertbell {
    position: fixed;
    text-align: center;
    max-width: 320px;
    z-index: 1000;
    right: 5px;
    top: 55px;
    margin: 0px;
}

ul.menu-list.alert {
    margin-top: 10px;
}

.los_labels {
    position: relative;
    top: 3px;
}

.admission_section {
    background: skyblue;
    color: #fff;
    margin-bottom: 2%;
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
    -webkit-animation: ring 2s ease infinite;
    animation: ring 2s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial;
}

.mainBodyCollapse .pull_to_left {
    margin-left: -2.7%;
}

.mainBodyExpand .pull_to_left {
    margin-left: -1.4%;
}

.plain_language_btn {
    position: relative;
    width: 100px;
    top: 4px;
}

.auth_form input {
    text-transform: uppercase;
}

.thead_green {
    background: #31bc86;
    color: white;
}

.thead_access_blue {
    background: #708bb8;
    color: white;
}

.table-access-blue thead {
    background: #708bb8;
    color: white;
}

.table-striped tbody > tr:hover {
    background-color: rgba(223, 227, 255, 0.59) !important;
}

.table-striped > tbody > tr:nth-child(2n-1) {
    background-color: #efffff;
    transition: all .125s ease-in-out;
}

.table-white tbody > tr:hover {
    background-color: lightblue !important;
}

.table-white tbody > tr {
    background-color: #fff !important;
    transition: all .125s ease-in-out;
}

.margin_left_half_percent {
    margin-left: -0.5%;
}
/** /Create New Auth CSS**/

#nextinnertab {
    display: none;
}



.text-yellow {
    color: #ffd600;
}

.text-lightgreen {
    color: #33e612;
}

.text-orange {
    color: #ff9b00;
}

.text-purple {
    color: #7c00ff;
}

.text-red {
    color: red;
}

.text-cyan {
    color: #00ccce;
}

.sideBarExpand .nav.side-menu > li > a.active {
    color: #2961bd !important;
    cursor: pointer;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
    padding-right: 20px;
}

.sideBarExpand .memberinnermenu> li > a.active {
    color: #2961bd !important;
    cursor: pointer;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
    padding-right: 20px;
}

.sideBarCollapse .nav.side-menu > li > a.active {
    color: #2961bd !important;
    cursor: pointer;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
    margin: 8px 0 0px 0;
    height: 25px;
}

a.active {
}

.nav.side-menu > li.anchorselected:after {
    position: absolute;
    content: "";
    width: 6%;
    bottom: 0;
    right: -6px;
    border-bottom: 1px solid #AAA;
    z-index: 0;
    background: white;
    height: 48px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav.side-menu > li > a.active:hover {
    color: #2961bd !important;
    cursor: default;
    text-decoration: underline;
    background: #ffffff;
    border: 1px solid rgba(255,255,255,.26);
}

th.column-title {
    border: none !important;
}

.flyingtab {
    display: none;
    position: fixed;
    background: #ff0000;
    color: white !important;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
}

    .flyingtab a {
        color: white !important;
        font-size: 16px;
        font-weight: bold;
    }

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Upload';
    display: inline-block;
    background: -webkit-linear-gradient(top, #3187d0, #76b5e6);
    /* border: 1px solid #999; */
    border-radius: 0px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    font-weight: 700;
    font-size: 10px;
    color: white;
    margin-top: -1px;
    margin-left: -5px;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

body.nav-md ul.nav.child_menu li.current-page:before {
    background: rgb(26, 255, 0);
}

li.col-lg-3 {
    padding-right: 20px !important;
    padding-left: 20px !important;
    border: 1px dotted #e6e6e6;
}

.circ {
    border-radius: 50%;
    border: 5px solid #ce0000;
}

    .circ img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .circ:before {
        content: "";
        position: absolute;
        top: 103%;
        left: 40%;
        height: 12px;
        width: 19px;
        background: #ce0000;
    }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(10%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 10%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.custom_x_title > h2 {
    color: white !important;
}

/*table td color*/
td {
    color: #333;
}

.x_title {
    border-bottom: none !important;
    padding: 1px 14px 6px;
    margin-bottom: -1% !important;
}

.margin_bottom_zero {
    margin-bottom: 0 !important;
    margin-left: 6px;
}


.menu_section .paper-input {
    color: #ffffff;
}

.memberinnermenu {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.border_on_white {
    border: 3px solid rgb(206, 207, 216) !important;
}

.top_nav .dropdown-menu li {
    width: 100%;
    border-bottom: 1px solid #e4dfdf !important;
}

#topTabs li a {
    color: #716464 !important;
}

#topTabs li.active a {
    color: white !important;
    font-weight: bold !important;
}

.nav .open > a {
    background-color: inherit !important;
}

.tabstyle {
    width: 250px;
    background-color: white;
    color: black;
    font-size: 18px;
    text-align: center;
    z-index: 1;
    height: 35px;
    border-radius: 0px 43px 0px 0px;
    padding-top: 2px;
    padding-right: 40px;
    border-top: 3px solid rgb(119, 154, 210);
    border-right: 0px solid rgb(119, 154, 210);
    border-bottom: 1px solid #c9c9c9;
}

div.tabstyle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 31px;
    background: white;
    right: 1px;
    top: -3px;
    border-left: 3px solid #3f68a8;
    border-bottom: 3px solid #3f68a8;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg); /* Standard syntax */
}

.float_menu_toggle {
    cursor: pointer;
    position: absolute;
    right: 0px;
    z-index: 1100;
    top: 1px;
    padding: 3px 0 0 3px;
    height: 3.5%;
    width: 20px;
}

.RealestateBreadCrum {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 2px;
}

.addbtninmenu:hover {
    background: #00ca00;
}

.copyright-info {
    padding: 8px 0;
    position: absolute;
    bottom: 0;
    right: 25px;
}


.serviceline_title {
    color: #a3a4a5;
    font-weight: 700;
}

.width_13_percent {
    width: 13%;
}

.width_87_percent {
    width: 87%;
}

.sideBarExpand .anchorselected > .badge.badge-left {
    left: 0px;
    right: inherit;
    top: -3px;
    padding: 1px 5px;
    font-weight: bold;
}

.sideBarCollapse .anchorselected > .badge.badge-left {
    left: 0px;
    right: inherit;
    top: -3px;
    padding: 1px 5px;
    font-weight: bold;
}

.sideBarExpand .badge.badge-left {
    left: 0px;
    right: inherit;
    top: -3px;
    padding: 1px 5px;
    font-weight: bold;
}

.sideBarCollapse .badge.badge-left {
    left: 0px;
    right: inherit;
    top: 13px;
    padding: 1px 5px;
    font-weight: bold;
}

.bg-lightgreen {
    background: rgb(0, 255, 10) !important;
    border: 1px solid #00e4b8 !important;
    color: #232323;
}

/** Auth Preview**/
.modalbodyheight {
    max-height: 5000px;
    overflow: auto;
}

.previewModalStyle {
    padding-left: 17px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 90%;
}

.heading-block {
    background-color: #337AB7;
    display: block;
    color: white;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: -1%;
}

.inline_block {
    display: inline-block;
}

.font_16 {
    font-size: 16px;
}

.width_1 {
    width: 1%;
}

.width_2 {
    width: 2%;
}

.width_3 {
    width: 3%;
}

.width_4 {
    width: 4%;
}

.width_5 {
    width: 5%;
}

.width_6 {
    width: 6%;
}

.width_7 {
    width: 7%;
}

.width_8 {
    width: 8%;
}

.width_9 {
    width: 9%;
}

.width_10 {
    width: 10%;
}

.width_11 {
    width: 11%;
}

.width_12 {
    width: 12%;
}

.width_13 {
    width: 13%;
}

.width_14 {
    width: 14%;
}

.width_15 {
    width: 15%;
}

.width_16 {
    width: 16%;
}

.width_17 {
    width: 17%;
}

.width_18 {
    width: 18%;
}

.width_19 {
    width: 19%;
}

.width_20 {
    width: 20%;
}

.width_21 {
    width: 21%;
}

.width_22 {
    width: 22%;
}

.width_23 {
    width: 23%;
}

.width_24 {
    width: 24%;
}

.width_25 {
    width: 25%;
}

.width_26 {
    width: 26%;
}

.width_27 {
    width: 27%;
}

.width_28 {
    width: 28%;
}

.width_29 {
    width: 29%;
}

.width_30 {
    width: 30%;
}

.width_31 {
    width: 31%;
}

.width_32 {
    width: 32%;
}

.width_33 {
    width: 33%;
}

.width_34 {
    width: 34%;
}

.width_35 {
    width: 35%;
}

.width_36 {
    width: 36%;
}

.width_37 {
    width: 37%;
}

.width_38 {
    width: 38%;
}

.width_39 {
    width: 39%;
}

.width_40 {
    width: 40%;
}

.width_41 {
    width: 41%;
}

.width_42 {
    width: 42%;
}

.width_43 {
    width: 43%;
}

.width_44 {
    width: 44%;
}

.width_45 {
    width: 45%;
}

.width_46 {
    width: 46%;
}

.width_47 {
    width: 47%;
}

.width_48 {
    width: 48%;
}

.width_49 {
    width: 49%;
}

.width_50 {
    width: 50%;
}

.width_51 {
    width: 51%;
}

.width_52 {
    width: 52%;
}

.width_53 {
    width: 53%;
}

.width_54 {
    width: 54%;
}

.width_55 {
    width: 55%;
}

.width_56 {
    width: 56%;
}

.width_57 {
    width: 57%;
}

.width_58 {
    width: 58%;
}

.width_59 {
    width: 59%;
}

.width_60 {
    width: 60%;
}

.width_61 {
    width: 61%;
}

.width_62 {
    width: 62%;
}

.width_63 {
    width: 63%;
}

.width_64 {
    width: 64%;
}

.width_65 {
    width: 65%;
}

.width_66 {
    width: 66%;
}

.width_67 {
    width: 67%;
}

.width_68 {
    width: 68%;
}

.width_69 {
    width: 69%;
}

.width_70 {
    width: 70%;
}

.width_71 {
    width: 71%;
}

.width_72 {
    width: 72%;
}

.width_73 {
    width: 73%;
}

.width_74 {
    width: 74%;
}

.width_75 {
    width: 75%;
}

.width_76 {
    width: 76%;
}

.width_77 {
    width: 77%;
}

.width_78 {
    width: 78%;
}

.width_79 {
    width: 79%;
}

.width_80 {
    width: 80%;
}

.width_81 {
    width: 81%;
}

.width_82 {
    width: 82%;
}

.width_83 {
    width: 83%;
}

.width_84 {
    width: 84%;
}

.width_85 {
    width: 85%;
}

.width_86 {
    width: 86%;
}

.width_87 {
    width: 87%;
}

.width_88 {
    width: 88%;
}

.width_89 {
    width: 89%;
}

.width_90 {
    width: 90%;
}

.width_91 {
    width: 91%;
}

.width_92 {
    width: 92%;
}

.width_93 {
    width: 93%;
}

.width_94 {
    width: 94%;
}

.width_95 {
    width: 95%;
}

.width_96 {
    width: 96%;
}

.width_97 {
    width: 97%;
}

.width_98 {
    width: 98%;
}

.width_99 {
    width: 99%;
}

.width_100 {
    width: 100%;
}

.auth_number_label {
    position: relative;
    right: -15%;
}

.plan_use_only_label {
    position: relative;
    right: 0;
    top: 12px;
    left: -2%;
}
/** /Auth Preview**/
.table_align_middle th, .table_align_middle td {
    text-align: center;
}

.alignLeftTable td, .alignLeftTable th {
    text-align: left;
}

.noBorderTable td, .noBorderTable th {
    border: none !important;
}

.theadBorder thead::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0%;
    border-bottom: 1px solid #d4c9c9;
}

.boldBody td {
    font-weight: 500;
}

.zeroPaddingBottomTh th {
    padding-bottom: 0 !important;
}

.zeroPaddingTopTd td {
    padding-top: 0 !important;
}

.zero_padding_bottom {
    padding-bottom: 0;
}

.no_underline, .no_underline:hover, .no_underline:active {
    text-decoration: none;
}

.odagtext {
    width: 50%;
    padding-left: 3px;
    padding-right: 0px;
    display: initial;
    border-radius: 5px;
    height: 20px;
}

.addBtnInTab {
    position: relative;
    left: 74.5%;
    top: -24px;
    z-index: 1;
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #5fad5f;
    border: #5fad5f;
    text-align: left;
    padding: 1px 0px 0px 3px;
    color: #fff;
}

.tabText {
    position: relative;
    left: 2%;
}

.current > a.list-item {
    background: #ffffff;
    color: #fff;
    font-weight: bold;
}

.text_align_right {
    text-align: right;
}

.table_custom_th_border_right th {
    border-right: 1px solid #dddddd !important;
}

.font_13 {
    font-size: 13px;
}

.modal-backdrop.fade.in {
    opacity: 0.8;
}





/*-------------tooltip---------------------------*/


.tooltip .tooltip-arrow {
    display: none;
}

.tooltip-inner {
    border: 1px solid #ddd !important;
    background: #fff !important;
    background-color: #fff !important;
    color: #333 !important;
    opacity: 1 !important;
    padding: 8px;
    margin-top: 7px;
    box-shadow: 0 1px 1px 1px #8a8989;
}


.nav_menu .tooltip-inner {
    border: 1px solid #ddd !important;
    background: #fff !important;
    background-color: #fff !important;
    color: #333 !important;
    opacity: 1 !important;
    white-space: nowrap;
    padding: 8px;
    margin-top: 7px;
    box-shadow: 0 1px 1px 1px #8a8989;
}



.margin_top_20_px {
    margin-top: 20px;
}

.important_field_halo, .important_field_halo:focus, .important_field_halo:active {
    box-shadow: 0 1px 11px rgb(245, 3, 3) !important;
    border: 1px solid rgb(245, 3, 3);
}

.hook {
    display: none;
}

.active .hook {
    width: 4px;
    height: 4px;
    margin: -16px 0 0 24px;
    border-radius: 50%;
    display: block;
}

.hook::before {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 3px 0px rgb(105, 107, 111), 0px -3px 3px 0px rgb(105, 107, 111);
    content: "";
    display: inline-block;
    margin: 8px;
    height: 24px;
    width: 8px;
    position: absolute;
    top: 37px;
    left: 0.8%;
    z-index: 2;
}

.hook::after {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 3px 0px rgb(105, 107, 111), 0px -3px 3px 0px rgb(105, 107, 111);
    content: "";
    display: inline-block;
    margin: 8px;
    height: 24px;
    width: 8px;
    position: absolute;
    top: 37px;
    left: 97%;
    z-index: 2;
}

hookBorder {
    width: 4px;
    height: 4px;
    margin: -16px 0 0 24px;
    border-radius: 50%;
    display: block;
}

.hookBorder::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 98.9%;
    height: 19px;
    border: 1px solid #6e93cf;
    top: 39px;
    border-left: 4px solid #6e93cf;
    border-right: 4px solid #466392;
    left: 6px;
}

#myTabContent {
    /*padding-top: 15px;*/
    background: white;
}

.memberPictureFrame {
    color: white !important;
    margin-bottom: 0px;
    border-top: 4px solid #6e93cf;
    border-right: 4px solid #415f90;
    border-bottom: 4px solid #415f90;
    border-left: 4px solid #6e93cf;
    z-index: 1;
    height: 64px;
    margin-top: 9px;
}

.runningdata thead {
    color: #fff;
    background: #6e93cf;
}

.runningdata td:first-of-type {
    border-left: none !important;
}

.clasp {
    background: #aaaaaa;
    border: 1px solid #999999;
    border-radius: 4px;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.4), inset -1px 1px 2px white;
    display: block;
    height: 23px;
    position: absolute;
    top: 41%;
    width: 5px;
    z-index: 2000;
    left: 1.4%;
}

    .clasp.hole_left {
        left: 2%;
    }

    .clasp.hole_middle_left {
        left: 29.88%;
    }

    .clasp.hole_middle_right {
        left: 65.2%;
    }

    .clasp.hole_right {
        left: 97.95%;
    }

.hole {
    background: #edf0f3;
    border-radius: 11px;
    box-shadow: 0 -1px 0 black, inset 0 0 20px #f9f0f0;
    display: block;
    height: 9px;
    position: absolute;
    top: 49%;
    width: 9px;
    z-index: 2;
    left: 1.2%;
}

    .hole.hole_left {
        left: 1.8%;
    }

    .hole.hole_middle_left {
        left: 29.7%;
    }

    .hole.hole_middle_right {
        left: 65.05%;
    }

    .hole.hole_right {
        left: 97.8%;
    }

    .hole.hole_left_top {
        top: 40%;
        left: 1.8%;
    }

    .hole.hole_middle_left_top {
        top: 40%;
        left: 29.7%;
    }

    .hole.hole_middle_right_top {
        top: 40%;
        left: 65.05%;
    }

    .hole.hole_right_top {
        top: 40%;
        left: 97.8%;
    }

.margin_top_0 {
    margin-top: 0 !important;
}


/*-------------------------------Table buttons Style-------------------------------*/

.view-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
    font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #48c2a9;
  border: 0;
  border-bottom: 2px solid #18a689;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #18a689;
  box-shadow: inset 0 -2px #18a689;
}

.view-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.view-auth-button {
    position: relative;
    vertical-align: top;
    width: 40px;
    height: 22px;
    padding: 0;
    font-size: 9px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #48c2a9;
    border: 0;
    border-bottom: 2px solid #18a689;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #18a689;
    box-shadow: inset 0 -2px #18a689;
}

    .view-auth-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.copy-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
    font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

.copy-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.light-blue-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
    font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #4FB5D3;
  border: 0;
  border-bottom: 2px solid #3498DB;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #3498DB;
  box-shadow: inset 0 -2px #3498DB;
}

.light-blue-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.edit-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
    font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}

.edit-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.red-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b53224;
  box-shadow: inset 0 -2px #b53224;
}
.red-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.light-green-button {
  position: relative;
  vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 0;
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #5cb85c;
  border: 0;
  border-bottom: 2px solid #4aa84a;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #4aa84a;
  box-shadow: inset 0 -2px #4aa84a;
}
.light-green-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-styles button{
    width:70px;
    height:30px;
    font-size: 11px;
}

.button-styles-md button{
    width:85px;
    height:25px;
    font-size: 10px;
}

.button-styles-xs button{
    width:28px;
    height:22px;
    font-size: 10px;
}

/*-------------------------------Table buttons Style-------------------------------*/

/*.memberinnermenu .active .text_beside_icon {
    vertical-align: top;
  width: 40px;
  height: 22px;
  padding: 3px 5px;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}*/

td span {
    line-height: 12px;
}

.chrome-tab .fa-trash-o {
    color: #dad9d9;
}

    .chrome-tab .fa-trash-o:hover {
    color: red;
}

.chrome-tab.chrome-tab-current .fa-trash-o {
    color: red;
}

.min_width_60_percent {
    min-width: 60%;
}

.addbtninmenu > i.fa{
    color:#fff !important;
}

#authHistoryListData{
    cursor:default;
}