.DocCab-Expand {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 90;
    top: 25%;
    padding: 2px;
    border-bottom-left-radius: 3px;
    border-left: 5px solid #3f929a;
    background-color: #3f629a;
    color: white;
}

.DocCab-Collapse {
    cursor: pointer;
    position: fixed;
    right: 0px;
    z-index: 92;
    top: 40%;
    padding: 2px;
    border-bottom-right-radius: 3px;
    color: white;
    border-left: 5px solid #3f929a;
    background-color: #3f629a;
    display: none;
}

.DocumentCabin {
    top: 153px;
    right: 0px;
    position: fixed;
    width: 0%;
    height: 80%;
    z-index: 89;
    transition: 0.5s;
    background: white;
}

.doc-icon {
    text-align: center;
    color: black;
}

    .doc-icon:hover {
        background-color: #cde3f9;
    }

.cabin-header {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.cabin-header-right {
    right: 10px;
}

.cabin-subHeader {
    text-transform: uppercase;
    text-align: center;
}

.Document-Preview {
    text-align: center;
    display: none;
}

.document-list-back {
    position: fixed;
    right: 77%;
}

.close-cabin {
    color: red;
}

    .close-cabin:hover {
        cursor: pointer;
        color: orangered;
    }
