<script src="~/Scripts/Shared/Data/disclosueQuestions.js"></script>

<br />
<div class="panel-group" id="accordiondis" role="tablist" aria-multiselectable="true" ng-controller="DisclosureController">
    <div class="form-style">
        <fieldset>
            <legend>
                Disclosure Questions
            </legend>
            <div ng-hide="changePartial">
                @Html.Partial("~/Areas/Profile/Views/DisclosureQuestion/_ViewDisclosureQuestions.cshtml")
            </div>
            <div ng-show="changePartial">
                @Html.Partial("~/Areas/Profile/Views/DisclosureQuestion/_AddEditDisclosureQuestions.cshtml")
            </div>
        </fieldset>
    </div>
</div> 

